Repository OpenAPITools/openapi-generator, pull requests merged in 2018-06, with the labels that each got.

#209 Delete unused methods in DefaultCodegen
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Enhancement: Code format

#211 Fix #210: [Ada] Update the code generator for required and optional parameters
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractAdaCodegen.java
Labels: Client: Ada, Server: Ada

#98 [JAVA][Client] New object instead of null for empty POST request
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/api.mustache
  samples/client/petstore/java/jersey2-java6/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/jersey2-java6/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/jersey2-java6/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/jersey2-java6/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/jersey2/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/jersey2/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/jersey2/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/jersey2/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Enhancement: General

#207 [cli] Write to stdout/stderr, allow redirection
  modules/openapi-generator-cli/pom.xml
  modules/openapi-generator-cli/src/main/resources/logback.xml
  modules/openapi-generator/pom.xml
  modules/openapi-generator/src/main/resources/logback.xml
  modules/openapi-generator/src/test/java/org/openapitools/codegen/php/PhpModelTest.java
Labels: Issue: Bug

#243 [jaxrs-spec] fix empty openapi.yaml file
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaJAXRSSpecServerCodegen.java
  samples/server/petstore/jaxrs-spec-interface-response/.openapi-generator/VERSION
  samples/server/petstore/jaxrs-spec-interface-response/src/gen/java/org/openapitools/model/EnumArrays.java
  samples/server/petstore/jaxrs-spec-interface-response/src/gen/java/org/openapitools/model/MapTest.java
  samples/server/petstore/jaxrs-spec-interface-response/src/main/openapi/openapi.yaml
  samples/server/petstore/jaxrs-spec-interface/.openapi-generator/VERSION
  samples/server/petstore/jaxrs-spec-interface/src/main/openapi/openapi.yaml
  samples/server/petstore/jaxrs-spec/.openapi-generator/VERSION
  samples/server/petstore/jaxrs-spec/src/main/openapi/openapi.yaml
Labels: Issue: Bug, Server: Java

#240 feat(security): add cookie-auth support
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenSecurity.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Enhancement: Feature, Feature: OAS 3.0 spec support

#248 Add JaxRS to bin/ensure-up-to-date
  bin/ensure-up-to-date
  bin/java-jaxrs-petstore-server-all.sh
  samples/server/petstore/jaxrs-cxf-annotated-base-path/.openapi-generator/VERSION
  samples/server/petstore/jaxrs-cxf-cdi/.openapi-generator/VERSION
  samples/server/petstore/jaxrs-cxf-non-spring-app/.openapi-generator/VERSION
  samples/server/petstore/jaxrs-cxf/.openapi-generator/VERSION
  samples/server/petstore/jaxrs-datelib-j8/.openapi-generator/VERSION
  samples/server/petstore/jaxrs-resteasy/default/.openapi-generator/VERSION
  samples/server/petstore/jaxrs-resteasy/eap-java8/.openapi-generator/VERSION
  samples/server/petstore/jaxrs-resteasy/eap-java8/src/gen/java/org/openapitools/model/Category.java
  samples/server/petstore/jaxrs-resteasy/eap-java8/src/gen/java/org/openapitools/model/ModelApiResponse.java
  samples/server/petstore/jaxrs-resteasy/eap-java8/src/gen/java/org/openapitools/model/Order.java
  samples/server/petstore/jaxrs-resteasy/eap-java8/src/gen/java/org/openapitools/model/Pet.java
  samples/server/petstore/jaxrs-resteasy/eap-java8/src/gen/java/org/openapitools/model/Tag.java
  samples/server/petstore/jaxrs-resteasy/eap-java8/src/gen/java/org/openapitools/model/User.java
  samples/server/petstore/jaxrs-resteasy/eap-joda/.openapi-generator/VERSION
  samples/server/petstore/jaxrs-resteasy/eap-joda/src/gen/java/org/openapitools/model/Category.java
  samples/server/petstore/jaxrs-resteasy/eap-joda/src/gen/java/org/openapitools/model/ModelApiResponse.java
  samples/server/petstore/jaxrs-resteasy/eap-joda/src/gen/java/org/openapitools/model/Order.java
  samples/server/petstore/jaxrs-resteasy/eap-joda/src/gen/java/org/openapitools/model/Pet.java
  samples/server/petstore/jaxrs-resteasy/eap-joda/src/gen/java/org/openapitools/model/Tag.java
  samples/server/petstore/jaxrs-resteasy/eap-joda/src/gen/java/org/openapitools/model/User.java
  samples/server/petstore/jaxrs-resteasy/eap/.openapi-generator/VERSION
  samples/server/petstore/jaxrs-resteasy/eap/src/gen/java/org/openapitools/model/Category.java
  samples/server/petstore/jaxrs-resteasy/eap/src/gen/java/org/openapitools/model/ModelApiResponse.java
  samples/server/petstore/jaxrs-resteasy/eap/src/gen/java/org/openapitools/model/Order.java
  samples/server/petstore/jaxrs-resteasy/eap/src/gen/java/org/openapitools/model/Pet.java
  samples/server/petstore/jaxrs-resteasy/eap/src/gen/java/org/openapitools/model/Tag.java
  samples/server/petstore/jaxrs-resteasy/eap/src/gen/java/org/openapitools/model/User.java
  samples/server/petstore/jaxrs-resteasy/joda/.openapi-generator/VERSION
  samples/server/petstore/jaxrs/jersey1-useTags/.openapi-generator/VERSION
  samples/server/petstore/jaxrs/jersey1/.openapi-generator/VERSION
  samples/server/petstore/jaxrs/jersey2-useTags/.openapi-generator/VERSION
  samples/server/petstore/jaxrs/jersey2/.openapi-generator/VERSION
Labels: Enhancement: CI/Test

#201 [gradle] Plugin release management
  .gitignore
  .travis.yml
  CI/settings.xml
  modules/openapi-generator-gradle-plugin/build.gradle
  modules/openapi-generator-gradle-plugin/gradle.properties
  modules/openapi-generator-gradle-plugin/pom.xml
  modules/openapi-generator-gradle-plugin/samples/local-spec/build.gradle
  pom.xml
  sec.gpg.enc
Labels: OpenAPI Generator Gradle Plugin

#267 [cpp-qt5] Remove std::shared_ptr from Qt5
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppQt5ClientCodegen.java
  modules/openapi-generator/src/main/resources/qt5cpp/object.mustache
  samples/client/petstore/cpp-qt5/.openapi-generator/VERSION
  samples/client/petstore/cpp-qt5/PetStore/PetApiTests.cpp
  samples/client/petstore/cpp-qt5/client/OAIObject.h
  samples/client/petstore/cpp-qt5/client/OAIPetApi.cpp
  samples/client/petstore/cpp-qt5/client/OAIPetApi.h
  samples/client/petstore/cpp-qt5/client/OAIStoreApi.cpp
  samples/client/petstore/cpp-qt5/client/OAIStoreApi.h
  samples/client/petstore/cpp-qt5/client/OAIUserApi.cpp
  samples/client/petstore/cpp-qt5/client/OAIUserApi.h
Labels: Client: C++, Issue: Bug

#260 [Java][RestTemplate] Fix query parameter URL encoding
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/ApiClient.mustache
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#213 [cli] Completions command for suggestions
  docker-entrypoint.sh
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/OpenAPIGenerator.java
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/CompletionCommand.java
Labels: Enhancement: Feature, OpenAPI CLI

#250 [C++ server] Adjust the names (script, sample folder, generator) to lang option
  bin/cpp-pistache-server-petstore.sh
  bin/cpp-restbed-petstore-server.sh
  samples/server/petstore/cpp-pistache/.openapi-generator-ignore
  samples/server/petstore/cpp-pistache/.openapi-generator/VERSION
  samples/server/petstore/cpp-pistache/CMakeLists.txt
  samples/server/petstore/cpp-pistache/PetApiMainServer.cpp
  samples/server/petstore/cpp-pistache/README.md
  samples/server/petstore/cpp-pistache/StoreApiMainServer.cpp
  samples/server/petstore/cpp-pistache/UserApiMainServer.cpp
  samples/server/petstore/cpp-pistache/api/PetApi.cpp
  samples/server/petstore/cpp-pistache/api/PetApi.h
  samples/server/petstore/cpp-pistache/api/StoreApi.cpp
  samples/server/petstore/cpp-pistache/api/StoreApi.h
  samples/server/petstore/cpp-pistache/api/UserApi.cpp
  samples/server/petstore/cpp-pistache/api/UserApi.h
  samples/server/petstore/cpp-pistache/impl/PetApiImpl.cpp
  samples/server/petstore/cpp-pistache/impl/PetApiImpl.h
  samples/server/petstore/cpp-pistache/impl/StoreApiImpl.cpp
  samples/server/petstore/cpp-pistache/impl/StoreApiImpl.h
  samples/server/petstore/cpp-pistache/impl/UserApiImpl.cpp
  samples/server/petstore/cpp-pistache/impl/UserApiImpl.h
  samples/server/petstore/cpp-pistache/model/ApiResponse.cpp
  samples/server/petstore/cpp-pistache/model/ApiResponse.h
  samples/server/petstore/cpp-pistache/model/Category.cpp
  samples/server/petstore/cpp-pistache/model/Category.h
  samples/server/petstore/cpp-pistache/model/ModelBase.cpp
  samples/server/petstore/cpp-pistache/model/ModelBase.h
  samples/server/petstore/cpp-pistache/model/Order.cpp
  samples/server/petstore/cpp-pistache/model/Order.h
  samples/server/petstore/cpp-pistache/model/Pet.cpp
  samples/server/petstore/cpp-pistache/model/Pet.h
  samples/server/petstore/cpp-pistache/model/Tag.cpp
  samples/server/petstore/cpp-pistache/model/Tag.h
  samples/server/petstore/cpp-pistache/model/User.cpp
  samples/server/petstore/cpp-pistache/model/User.h
  samples/server/petstore/cpp-restbed/.gitignore
  samples/server/petstore/cpp-restbed/.openapi-generator-ignore
  samples/server/petstore/cpp-restbed/.openapi-generator/VERSION
  samples/server/petstore/cpp-restbed/README.md
  samples/server/petstore/cpp-restbed/api/PetApi.cpp
  samples/server/petstore/cpp-restbed/api/PetApi.h
  samples/server/petstore/cpp-restbed/api/StoreApi.cpp
  samples/server/petstore/cpp-restbed/api/StoreApi.h
  samples/server/petstore/cpp-restbed/api/UserApi.cpp
  samples/server/petstore/cpp-restbed/api/UserApi.h
  samples/server/petstore/cpp-restbed/git_push.sh
  samples/server/petstore/cpp-restbed/model/ApiResponse.cpp
  samples/server/petstore/cpp-restbed/model/ApiResponse.h
  samples/server/petstore/cpp-restbed/model/Category.cpp
  samples/server/petstore/cpp-restbed/model/Category.h
  samples/server/petstore/cpp-restbed/model/Order.cpp
  samples/server/petstore/cpp-restbed/model/Order.h
  samples/server/petstore/cpp-restbed/model/Pet.cpp
  samples/server/petstore/cpp-restbed/model/Pet.h
  samples/server/petstore/cpp-restbed/model/Tag.cpp
  samples/server/petstore/cpp-restbed/model/Tag.h
  samples/server/petstore/cpp-restbed/model/User.cpp
  samples/server/petstore/cpp-restbed/model/User.h
Labels: Enhancement: CI/Test, Enhancement: Code format

#218 [typescript-angular] strict type checking
  modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache
  modules/openapi-generator/src/main/resources/typescript-angular/configuration.mustache
  samples/client/petstore/typescript-angular-v2/default/.openapi-generator/VERSION
  samples/client/petstore/typescript-angular-v2/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v2/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v2/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v2/default/configuration.ts
  samples/client/petstore/typescript-angular-v2/npm/.openapi-generator/VERSION
  samples/client/petstore/typescript-angular-v2/npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v2/npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v2/npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v2/npm/configuration.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/.openapi-generator/VERSION
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/pet.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/store.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/user.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/configuration.ts
  samples/client/petstore/typescript-angular-v4.3/npm/.openapi-generator/VERSION
  samples/client/petstore/typescript-angular-v4.3/npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v4.3/npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v4.3/npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v4.3/npm/configuration.ts
  samples/client/petstore/typescript-angular-v4/npm/.openapi-generator/VERSION
  samples/client/petstore/typescript-angular-v4/npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v4/npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v4/npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v4/npm/configuration.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/default/.openapi-generator/VERSION
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/default/configuration.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/default/.openapi-generator/VERSION
  samples/client/petstore/typescript-angular-v6-provided-in-root/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/default/configuration.ts
Labels: Client: TypeScript, Enhancement: General

#271 Updates README based on new release changes
  modules/openapi-generator-gradle-plugin/build.gradle
  modules/openapi-generator-gradle-plugin/samples/local-spec/README.md
  modules/openapi-generator-gradle-plugin/samples/local-spec/build.gradle
  modules/openapi-generator-gradle-plugin/samples/local-spec/gradle.properties
Labels: OpenAPI Generator Gradle Plugin

#280 Prepare 3.0.1 release
  CI/pom.xml.bash
  CI/pom.xml.circleci
  CI/pom.xml.circleci.java7
  CI/pom.xml.ios
  CI/pom.xml.shippable
  README.md
  bin/utils/release_version_update.sh
  modules/openapi-generator-cli/pom.xml
  modules/openapi-generator-gradle-plugin/README.adoc
  modules/openapi-generator-gradle-plugin/build.gradle
  modules/openapi-generator-gradle-plugin/gradle.properties
  modules/openapi-generator-gradle-plugin/pom.xml
  modules/openapi-generator-gradle-plugin/samples/local-spec/README.md
  modules/openapi-generator-gradle-plugin/samples/local-spec/build.gradle
  modules/openapi-generator-gradle-plugin/samples/local-spec/gradle.properties
  modules/openapi-generator-maven-plugin/pom.xml
  modules/openapi-generator-online/Dockerfile
  modules/openapi-generator-online/pom.xml
  modules/openapi-generator/pom.xml
  pom.xml
  shippable.yml
Labels: Enhancement: General

#274 [go-server] Add dockerfile for building and run petstore service
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoServerCodegen.java
  modules/openapi-generator/src/main/resources/go-server/Dockerfile.mustache
  modules/openapi-generator/src/main/resources/go-server/README.mustache
  samples/server/petstore/go-api-server/.openapi-generator/VERSION
  samples/server/petstore/go-api-server/Dockerfile
  samples/server/petstore/go-api-server/api/openapi.yaml
  samples/server/petstore/go-api-server/go/README.md
Labels: Docker, Enhancement: Feature, Server: Go

#296 Update C++ server scripts/batch files
  bin/openapi3/cpp-pistache-server-petstore.sh
  bin/openapi3/cpp-restbed-petstore-server.sh
  bin/windows/cpp-pistache-server-petstore.bat
  bin/windows/cpp-restbed-petstore-server.bat
Labels: Enhancement: CI/Test, Server: C++

#290 [rust-server] (Re-)Adding support for rust-server
  bin/rust-server-petstore.sh
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/main/resources/rust-server/README.mustache
  modules/openapi-generator/src/main/resources/rust-server/openapi.mustache
  modules/openapi-generator/src/test/resources/2_0/rust-server/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/server/petstore/rust-server/.openapi-generator-ignore
  samples/server/petstore/rust-server/.openapi-generator/VERSION
  samples/server/petstore/rust-server/Cargo.toml
  samples/server/petstore/rust-server/README.md
  samples/server/petstore/rust-server/api/openapi.yaml
  samples/server/petstore/rust-server/api/swagger.yaml
  samples/server/petstore/rust-server/examples/client.rs
  samples/server/petstore/rust-server/examples/server.rs
  samples/server/petstore/rust-server/examples/server_lib/mod.rs
  samples/server/petstore/rust-server/examples/server_lib/server.rs
  samples/server/petstore/rust-server/src/client/mod.rs
  samples/server/petstore/rust-server/src/lib.rs
  samples/server/petstore/rust-server/src/mimetypes.rs
  samples/server/petstore/rust-server/src/models.rs
  samples/server/petstore/rust-server/src/server/auth.rs
  samples/server/petstore/rust-server/src/server/mod.rs
Labels: Client: Rust, Enhancement: General, Server: Rust

#305 CI: prevent ELM to run on Shippable
  CI/pom.xml.shippable
  shippable.yml
Labels: Enhancement: CI/Test

#303 [typescript] fix cast problem
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java
Labels: Client: TypeScript, Issue: Bug

#298 Configuration option to disable HTML escaping when using Gson
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/resources/Java/JSON.mustache
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/JSON.java
Labels: Client: Java, Enhancement: Feature

#319 Remove Shippable CI specific pom file
  CI/pom.xml.shippable
  bin/utils/release_version_update.sh
  pom.xml
  shippable.yml
Labels: Enhancement: CI/Test

#325 [Golang][client] fix RFC-3339 date-time query param
  modules/openapi-generator/src/main/resources/go/client.mustache
  samples/client/petstore/go/go-petstore/.openapi-generator/VERSION
  samples/client/petstore/go/go-petstore/api/openapi.yaml
  samples/client/petstore/go/go-petstore/client.go
  samples/client/petstore/go/go-petstore/docs/ModelApiResponse.md
  samples/client/petstore/go/go-petstore/docs/ModelReturn.md
  samples/client/petstore/go/go-petstore/docs/OuterBoolean.md
  samples/client/petstore/go/go-petstore/docs/OuterNumber.md
  samples/client/petstore/go/go-petstore/docs/OuterString.md
  samples/client/petstore/go/go-petstore/model_outer_boolean.go
  samples/client/petstore/go/go-petstore/model_outer_number.go
  samples/client/petstore/go/go-petstore/model_outer_string.go
Labels: Client: Go, Issue: Bug

#212 [PHP-Lumen] Lumen 5.6 support
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpLumenServerCodegen.java
  modules/openapi-generator/src/main/resources/lumen/.env.example
  modules/openapi-generator/src/main/resources/lumen/.gitkeep
  modules/openapi-generator/src/main/resources/lumen/.htaccess
  modules/openapi-generator/src/main/resources/lumen/AppServiceProvider.php
  modules/openapi-generator/src/main/resources/lumen/AuthServiceProvider.php
  modules/openapi-generator/src/main/resources/lumen/Authenticate.php
  modules/openapi-generator/src/main/resources/lumen/DatabaseSeeder.php
  modules/openapi-generator/src/main/resources/lumen/Event.php
  modules/openapi-generator/src/main/resources/lumen/EventServiceProvider.php
  modules/openapi-generator/src/main/resources/lumen/ExampleController.php
  modules/openapi-generator/src/main/resources/lumen/ExampleEvent.php
  modules/openapi-generator/src/main/resources/lumen/ExampleJob.php
  modules/openapi-generator/src/main/resources/lumen/ExampleListener.php
  modules/openapi-generator/src/main/resources/lumen/ExampleMiddleware.php
  modules/openapi-generator/src/main/resources/lumen/ExampleTest.php
  modules/openapi-generator/src/main/resources/lumen/Job.php
  modules/openapi-generator/src/main/resources/lumen/ModelFactory.php
  modules/openapi-generator/src/main/resources/lumen/TestCase.php
  modules/openapi-generator/src/main/resources/lumen/app.php
  modules/openapi-generator/src/main/resources/lumen/composer.mustache
  modules/openapi-generator/src/main/resources/lumen/phpunit.xml
  modules/openapi-generator/src/main/resources/lumen/readme.md
  modules/openapi-generator/src/main/resources/lumen/routes.mustache
  modules/openapi-generator/src/main/resources/lumen/storage_logs_.gitignore
  samples/server/petstore/php-lumen/lib/.env.example
  samples/server/petstore/php-lumen/lib/app/Console/Commands/.gitkeep
  samples/server/petstore/php-lumen/lib/app/Events/Event.php
  samples/server/petstore/php-lumen/lib/app/Events/ExampleEvent.php
  samples/server/petstore/php-lumen/lib/app/Http/Controllers/ExampleController.php
  samples/server/petstore/php-lumen/lib/app/Http/Middleware/Authenticate.php
  samples/server/petstore/php-lumen/lib/app/Http/Middleware/ExampleMiddleware.php
  samples/server/petstore/php-lumen/lib/app/Jobs/ExampleJob.php
  samples/server/petstore/php-lumen/lib/app/Jobs/Job.php
  samples/server/petstore/php-lumen/lib/app/Listeners/ExampleListener.php
  samples/server/petstore/php-lumen/lib/app/Providers/AppServiceProvider.php
  samples/server/petstore/php-lumen/lib/app/Providers/AuthServiceProvider.php
  samples/server/petstore/php-lumen/lib/app/Providers/EventServiceProvider.php
  samples/server/petstore/php-lumen/lib/artisan
  samples/server/petstore/php-lumen/lib/bootstrap/app.php
  samples/server/petstore/php-lumen/lib/composer.json
  samples/server/petstore/php-lumen/lib/database/factories/ModelFactory.php
  samples/server/petstore/php-lumen/lib/database/migrations/.gitkeep
  samples/server/petstore/php-lumen/lib/database/seeds/DatabaseSeeder.php
  samples/server/petstore/php-lumen/lib/public/.htaccess
  samples/server/petstore/php-lumen/lib/readme.md
  samples/server/petstore/php-lumen/lib/resources/views/.gitkeep
  samples/server/petstore/php-lumen/lib/routes/web.php
  samples/server/petstore/php-lumen/lib/storage/logs/.gitignore
  samples/server/petstore/php-lumen/lib/tests/ExampleTest.php
  samples/server/petstore/php-lumen/lib/tests/TestCase.php
Labels: Enhancement: Compatibility, Server: PHP

#329 Grammar and spelling fixes
  bin/utils/ensure-up-to-date
  docs/3.0.0-release-note.md
  modules/openapi-generator-online/README.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractAdaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/URLPathUtils.java
  modules/openapi-generator/src/main/resources/Ada/README.mustache
  modules/openapi-generator/src/main/resources/Eiffel/framework/serialization/api_json_deserializer.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-boot/README.mustache
  modules/openapi-generator/src/main/resources/cpprest/multipart-header.mustache
  modules/openapi-generator/src/main/resources/elixir/connection.ex.mustache
  modules/openapi-generator/src/main/resources/flash/ApiClientEvent.as
  modules/openapi-generator/src/main/resources/flash/build.xml
  modules/openapi-generator/src/main/resources/flaskConnexion/util.mustache
  modules/openapi-generator/src/main/resources/go/configuration.mustache
  modules/openapi-generator/src/main/resources/java-pkmst/readme.mustache
  modules/openapi-generator/src/main/resources/objc/DefaultConfiguration-header.mustache
  modules/openapi-generator/src/main/resources/objc/ResponseDeserializer-header.mustache
  modules/openapi-generator/src/main/resources/php/ObjectSerializer.mustache
  modules/openapi-generator/src/main/resources/python/api_client.mustache
  modules/openapi-generator/src/main/resources/tizen/Doxyfile.mustache
  modules/openapi-generator/src/main/resources/typescript-fetch/README.mustache
  modules/openapi-generator/src/main/resources/typescript-inversify/README.mustache
  modules/openapi-generator/src/main/resources/typescript-jquery/README.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/csharp/CSharpModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/go/GoModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/objc/ObjcModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/php/PhpModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/scalaakka/ScalaAkkaClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/scalahttpclient/ScalaHttpClientModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/utils/ModelUtilsTest.java
  modules/openapi-generator/src/test/resources/2_0/swift4Test.json
  modules/openapi-generator/src/test/resources/integrationtests/typescript/additional-properties-expected/README.md
  modules/openapi-generator/src/test/resources/integrationtests/typescript/array-and-object-expected/README.md
  modules/openapi-generator/src/test/resources/integrationtests/typescript/petstore-expected/README.md
  shippable.yml
Labels: Issue: Non-operational

#279 Eliminate MySQL dependency of Rails 5 stub server
  modules/openapi-generator/src/main/resources/rails5/Gemfile
  modules/openapi-generator/src/main/resources/rails5/database.yml
  samples/server/petstore/rails5/.openapi-generator/VERSION
  samples/server/petstore/rails5/Gemfile
  samples/server/petstore/rails5/config/database.yml
Labels: Breaking change (with fallback), Enhancement: Compatibility, Server: Ruby

#333 CircleCI migration from 1.0 to 2.0
  circle.yml
Labels: Enhancement: CI/Test

#292 [cli] Enable recommendations on validate command
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Validate.java
Labels: Enhancement: Feature, OpenAPI Generator CLI

#328 Go server clean up
  modules/openapi-generator/src/main/resources/go-server/controller-api.mustache
  modules/openapi-generator/src/main/resources/go-server/logger.mustache
  modules/openapi-generator/src/main/resources/go-server/model.mustache
  modules/openapi-generator/src/main/resources/go-server/routers.mustache
  samples/server/petstore/go-api-server/go/api_pet.go
  samples/server/petstore/go-api-server/go/api_store.go
  samples/server/petstore/go-api-server/go/api_user.go
  samples/server/petstore/go-api-server/go/logger.go
  samples/server/petstore/go-api-server/go/model_api_response.go
  samples/server/petstore/go-api-server/go/model_category.go
  samples/server/petstore/go-api-server/go/model_order.go
  samples/server/petstore/go-api-server/go/model_pet.go
  samples/server/petstore/go-api-server/go/model_tag.go
  samples/server/petstore/go-api-server/go/model_user.go
  samples/server/petstore/go-api-server/go/routers.go
Labels: Enhancement: General, Server: Go

#295 Initial roadmap
  docs/roadmap.adoc
Labels: Feature: Documentation

#346 Restore unit test
  CI/samples.ci/client/petstore/java/test-manual/common/ConfigurationTest.java
  CI/samples.ci/client/petstore/java/test-manual/common/StringUtilTest.java
  CI/samples.ci/client/petstore/java/test-manual/jersey1/ApiClientTest.java
  CI/samples.ci/client/petstore/java/test-manual/jersey1/auth/ApiKeyAuthTest.java
  CI/samples.ci/client/petstore/java/test-manual/jersey1/auth/HttpBasicAuthTest.java
  CI/samples.ci/client/petstore/java/test-manual/jersey1/model/EnumValueTest.java
  CI/samples.ci/client/petstore/java/test-manual/jersey2-java8/JSONTest.java
  CI/samples.ci/client/petstore/java/test-manual/jersey2/ApiClientTest.java
  CI/samples.ci/client/petstore/java/test-manual/jersey2/JSONTest.java
  CI/samples.ci/client/petstore/java/test-manual/jersey2/auth/ApiKeyAuthTest.java
  CI/samples.ci/client/petstore/java/test-manual/jersey2/auth/HttpBasicAuthTest.java
  CI/samples.ci/client/petstore/java/test-manual/jersey2/model/EnumValueTest.java
  CI/samples.ci/client/petstore/java/test-manual/okhttp-gson/ApiClientTest.java
  CI/samples.ci/client/petstore/java/test-manual/okhttp-gson/JSONTest.java
  CI/samples.ci/client/petstore/java/test-manual/okhttp-gson/auth/ApiKeyAuthTest.java
  CI/samples.ci/client/petstore/java/test-manual/okhttp-gson/auth/HttpBasicAuthTest.java
  CI/samples.ci/client/petstore/java/test-manual/okhttp-gson/model/EnumValueTest.java
  CI/samples.ci/client/petstore/java/test-manual/resttemplate/ApiClientTest.java
  CI/samples.ci/client/petstore/java/test-manual/resttemplate/auth/ApiKeyAuthTest.java
  CI/samples.ci/client/petstore/java/test-manual/resttemplate/auth/HttpBasicAuthTest.java
  CI/samples.ci/client/petstore/java/test-manual/resttemplate/model/EnumValueTest.java
  bin/java-petstore-feign.sh
  bin/java-petstore-jersey1.sh
  bin/java-petstore-jersey2-java6.sh
  bin/java-petstore-jersey2.sh
  bin/java-petstore-okhttp-gson.sh
  bin/java-petstore-resttemplate.sh
  bin/java8-petstore-jersey2.sh
  samples/client/petstore/java/feign/src/test/java/org/openapitools/client/StringUtilTest.java
  samples/client/petstore/java/jersey1/src/test/java/org/openapitools/client/ApiClientTest.java
  samples/client/petstore/java/jersey1/src/test/java/org/openapitools/client/ConfigurationTest.java
  samples/client/petstore/java/jersey1/src/test/java/org/openapitools/client/StringUtilTest.java
  samples/client/petstore/java/jersey1/src/test/java/org/openapitools/client/auth/ApiKeyAuthTest.java
  samples/client/petstore/java/jersey1/src/test/java/org/openapitools/client/auth/HttpBasicAuthTest.java
  samples/client/petstore/java/jersey1/src/test/java/org/openapitools/client/model/EnumValueTest.java
  samples/client/petstore/java/jersey2-java8/src/test/java/org/openapitools/client/ApiClientTest.java
  samples/client/petstore/java/jersey2-java8/src/test/java/org/openapitools/client/ConfigurationTest.java
  samples/client/petstore/java/jersey2-java8/src/test/java/org/openapitools/client/JSONTest.java
  samples/client/petstore/java/jersey2-java8/src/test/java/org/openapitools/client/StringUtilTest.java
  samples/client/petstore/java/jersey2-java8/src/test/java/org/openapitools/client/auth/ApiKeyAuthTest.java
  samples/client/petstore/java/jersey2-java8/src/test/java/org/openapitools/client/auth/HttpBasicAuthTest.java
  samples/client/petstore/java/jersey2-java8/src/test/java/org/openapitools/client/model/EnumValueTest.java
  samples/client/petstore/java/jersey2/src/test/java/org/openapitools/client/ApiClientTest.java
  samples/client/petstore/java/jersey2/src/test/java/org/openapitools/client/ConfigurationTest.java
  samples/client/petstore/java/jersey2/src/test/java/org/openapitools/client/JSONTest.java
  samples/client/petstore/java/jersey2/src/test/java/org/openapitools/client/StringUtilTest.java
  samples/client/petstore/java/jersey2/src/test/java/org/openapitools/client/auth/ApiKeyAuthTest.java
  samples/client/petstore/java/jersey2/src/test/java/org/openapitools/client/auth/HttpBasicAuthTest.java
  samples/client/petstore/java/jersey2/src/test/java/org/openapitools/client/model/EnumValueTest.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/ApiClientTest.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/ConfigurationTest.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/JSONTest.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/StringUtilTest.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/auth/ApiKeyAuthTest.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/auth/HttpBasicAuthTest.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/model/EnumValueTest.java
  samples/client/petstore/java/resttemplate/src/test/java/org/openapitools/client/ApiClientTest.java
  samples/client/petstore/java/resttemplate/src/test/java/org/openapitools/client/auth/ApiKeyAuthTest.java
  samples/client/petstore/java/resttemplate/src/test/java/org/openapitools/client/auth/HttpBasicAuthTest.java
  samples/client/petstore/java/resttemplate/src/test/java/org/openapitools/client/model/EnumValueTest.java
Labels: Enhancement: CI/Test

#60 [go] Fix issue #51, change object mapping from *interface{} to map[st…
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/main/resources/go/model.mustache
  modules/openapi-generator/src/main/resources/go/model_doc.mustache
Labels: Client: Go, Issue: Bug, Server: Go

#351 Use case sensitivity when checking reserved words
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java
Labels: Client: TypeScript, Enhancement: General

#366 openapi-generator-gradle-plugin-mvn-wrapper should not be uploaded
  modules/openapi-generator-gradle-plugin/pom.xml
Labels: Enhancement: CI/Test

#365 Update Go client, server petstore samples
  samples/client/petstore/go/go-petstore-withXml/.openapi-generator/VERSION
  samples/client/petstore/go/go-petstore-withXml/api/openapi.yaml
  samples/client/petstore/go/go-petstore-withXml/api_fake.go
  samples/client/petstore/go/go-petstore-withXml/configuration.go
  samples/client/petstore/go/go-petstore-withXml/docs/EnumTest.md
  samples/client/petstore/go/go-petstore-withXml/docs/FakeApi.md
  samples/client/petstore/go/go-petstore-withXml/docs/FormatTest.md
  samples/client/petstore/go/go-petstore-withXml/docs/Pet.md
  samples/client/petstore/go/go-petstore-withXml/model_enum_test.go
  samples/client/petstore/go/go-petstore-withXml/model_format_test.go
  samples/client/petstore/go/go-petstore-withXml/model_pet.go
  samples/client/petstore/go/go-petstore/.openapi-generator/VERSION
  samples/client/petstore/go/go-petstore/api/openapi.yaml
  samples/client/petstore/go/go-petstore/configuration.go
  samples/client/petstore/go/go-petstore/docs/EnumTest.md
  samples/client/petstore/go/go-petstore/docs/FormatTest.md
  samples/client/petstore/go/go-petstore/docs/Pet.md
  samples/client/petstore/go/go-petstore/model_enum_test.go
  samples/client/petstore/go/go-petstore/model_format_test.go
  samples/client/petstore/go/go-petstore/model_pet.go
  samples/server/petstore/go-api-server/.openapi-generator/VERSION
Labels: Client: Go, Server: Go

#375 Disable Erlang server test due to dependency issue (Shippable CI)
  pom.xml
Labels: Enhancement: CI/Test

#264 [C++][Pistache] Fix optional error and wrong function signatures
  modules/openapi-generator-online/.openapi-generator/VERSION
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppPistacheServerCodegen.java
  modules/openapi-generator/src/main/resources/cpp-pistache-server/api-header.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/api-impl-header.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/api-source.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-header.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-source.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/modelbase-header.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/modelbase-source.mustache
  samples/server/petstore/cpp-pistache/.openapi-generator/VERSION
  samples/server/petstore/cpp-pistache/api/PetApi.cpp
  samples/server/petstore/cpp-pistache/api/PetApi.h
  samples/server/petstore/cpp-pistache/api/StoreApi.cpp
  samples/server/petstore/cpp-pistache/api/StoreApi.h
  samples/server/petstore/cpp-pistache/api/UserApi.cpp
  samples/server/petstore/cpp-pistache/api/UserApi.h
  samples/server/petstore/cpp-pistache/impl/PetApiImpl.cpp
  samples/server/petstore/cpp-pistache/impl/PetApiImpl.h
  samples/server/petstore/cpp-pistache/impl/StoreApiImpl.h
  samples/server/petstore/cpp-pistache/impl/UserApiImpl.cpp
  samples/server/petstore/cpp-pistache/impl/UserApiImpl.h
  samples/server/petstore/cpp-pistache/model/ApiResponse.cpp
  samples/server/petstore/cpp-pistache/model/ApiResponse.h
  samples/server/petstore/cpp-pistache/model/Category.cpp
  samples/server/petstore/cpp-pistache/model/Category.h
  samples/server/petstore/cpp-pistache/model/ModelBase.cpp
  samples/server/petstore/cpp-pistache/model/ModelBase.h
  samples/server/petstore/cpp-pistache/model/Order.cpp
  samples/server/petstore/cpp-pistache/model/Order.h
  samples/server/petstore/cpp-pistache/model/Pet.cpp
  samples/server/petstore/cpp-pistache/model/Pet.h
  samples/server/petstore/cpp-pistache/model/Tag.cpp
  samples/server/petstore/cpp-pistache/model/Tag.h
  samples/server/petstore/cpp-pistache/model/User.cpp
  samples/server/petstore/cpp-pistache/model/User.h
Labels: Issue: Bug, Server: C++

#358 Consider ComposedSchema in DefaultCodegen#fromRequestBody(..)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/2_0/composed-allof.yaml
Labels: Feature: Composition / Inheritance

#379 Disable Rust server test due to lint error
  pom.xml
Labels: Enhancement: CI/Test

#388 [cpp-qt5] sanitize model names
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppQt5ClientCodegen.java
Labels: Client: C++, Enhancement: General

#176 New Javascript flowtyped generator
  .travis.yml
  README.md
  bin/javascript-flowtyped-petstore.sh
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptFlowtypedClientCodegen.java
  modules/openapi-generator/src/main/resources/Javascript-Flowtyped/README.mustache
  modules/openapi-generator/src/main/resources/Javascript-Flowtyped/api.mustache
  modules/openapi-generator/src/main/resources/Javascript-Flowtyped/babelrc
  modules/openapi-generator/src/main/resources/Javascript-Flowtyped/configuration.mustache
  modules/openapi-generator/src/main/resources/Javascript-Flowtyped/flowconfig.mustache
  modules/openapi-generator/src/main/resources/Javascript-Flowtyped/gitignore
  modules/openapi-generator/src/main/resources/Javascript-Flowtyped/index.mustache
  modules/openapi-generator/src/main/resources/Javascript-Flowtyped/licenseInfo.mustache
  modules/openapi-generator/src/main/resources/Javascript-Flowtyped/modelEnum.mustache
  modules/openapi-generator/src/main/resources/Javascript-Flowtyped/modelGeneric.mustache
  modules/openapi-generator/src/main/resources/Javascript-Flowtyped/package.mustache
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  pom.xml
  samples/client/petstore/javascript-flowtyped/.babelrc
  samples/client/petstore/javascript-flowtyped/.flowconfig
  samples/client/petstore/javascript-flowtyped/.gitignore
  samples/client/petstore/javascript-flowtyped/.openapi-generator-ignore
  samples/client/petstore/javascript-flowtyped/.openapi-generator/VERSION
  samples/client/petstore/javascript-flowtyped/README.md
  samples/client/petstore/javascript-flowtyped/lib/api.js
  samples/client/petstore/javascript-flowtyped/lib/api.js.flow
  samples/client/petstore/javascript-flowtyped/lib/configuration.js
  samples/client/petstore/javascript-flowtyped/lib/configuration.js.flow
  samples/client/petstore/javascript-flowtyped/lib/index.js
  samples/client/petstore/javascript-flowtyped/lib/index.js.flow
  samples/client/petstore/javascript-flowtyped/package-lock.json
  samples/client/petstore/javascript-flowtyped/package.json
  samples/client/petstore/javascript-flowtyped/pom.xml
  samples/client/petstore/javascript-flowtyped/src/api.js
  samples/client/petstore/javascript-flowtyped/src/configuration.js
  samples/client/petstore/javascript-flowtyped/src/index.js
Labels: Client: JavaScript/Node.js, Enhancement: New generator

#341 Typescript Angular 2: Make service suffix configurable
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/TypeScriptAngularClientOptionsProvider.java
  samples/client/petstore/typescript-angular-v2/default/.openapi-generator/VERSION
  samples/client/petstore/typescript-angular-v2/with-interfaces/.openapi-generator/VERSION
  samples/client/petstore/typescript-angular-v4.3/npm/.openapi-generator/VERSION
  samples/client/petstore/typescript-angular-v4/npm/.openapi-generator/VERSION
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/default/.openapi-generator/VERSION
  samples/client/petstore/typescript-angular-v6-provided-in-root/default/.openapi-generator/VERSION
Labels: Client: TypeScript, Enhancement: Feature

#387 [JMeter] Rename codegen class, template folder
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JMeterClientCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/jmeter-client/api.mustache
  modules/openapi-generator/src/main/resources/jmeter-client/testdata-localhost.mustache
  samples/client/petstore/jmeter/.openapi-generator/VERSION
  samples/client/petstore/jmeter/PetApi.csv
  samples/client/petstore/jmeter/StoreApi.csv
  samples/client/petstore/jmeter/UserApi.csv
Labels: Client: JMeter, Enhancement: General

#395 [rust-server] Update to error-chain 0.12
  modules/openapi-generator/src/main/resources/rust-server/Cargo.mustache
  pom.xml
  samples/server/petstore/rust-server/Cargo.toml
Labels: Enhancement: General, Server: Rust

#403 [ensure-up-to-date] fix path in error message
  bin/utils/ensure-up-to-date
Labels: Enhancement: CI/Test

#75 [JAVA] Manage List<Integer> datatype for enum
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModel.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-cdi/enumClass.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/enum_class.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/AbstractJavaCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/AbstractKotlinCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/php/PhpModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/fetch/TypeScriptFetchModelTest.java
Labels: Feature: Enum, Issue: Bug

#385 [aspnetcore] Fix new keyword collection
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModel.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/resources/aspnetcore/model.mustache
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Models/ApiResponse.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Models/Category.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Models/Order.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Models/Pet.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Models/Tag.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Models/User.cs
Labels: Enhancement: General, Server: C-Sharp

#183 Revise how to obtain the example value
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/examples.yaml
Labels: Enhancement: General
