Repository OpenAPITools/openapi-generator, pull requests merged in 2018-12, with the labels that each got.

#1595 Improve checkout script on NPMJS wrapper
  .github/PULL_REQUEST_TEMPLATE.md
  CI/pom.xml.bash
  CI/pom.xml.ios
  README.md
  bin/utils/release_checkout.rb
Labels: Enhancement: General

#1591 Add tests to online generator
  modules/openapi-generator-online/pom.xml
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/service/GenApiService.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/service/Generator.java
  pom.xml
Labels: Enhancement: CI/Test, OpenAPI Generator Online

#1585 Replace <tt> tags with <code> to make new javadoc work.
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/GeneratorNotFoundException.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/SpecValidationException.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
Labels: Enhancement: Feature, Feature: Documentation, Feature: Generator

#1576 [Java][okhttp-gson] Fix bug when performing OAuth token retry
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/auth/RetryingOAuth.mustache
  samples/client/petstore-security-test/java/okhttp-gson/.openapi-generator/VERSION
  samples/client/petstore-security-test/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore-security-test/java/okhttp-gson/src/main/java/org/openapitools/client/auth/RetryingOAuth.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/auth/RetryingOAuth.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/auth/RetryingOAuth.java
Labels: Client: Java, Issue: Bug

#1541 [cpp rest-sdk] Add status code to response handler
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/api-source.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/apiclient-header.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/apiclient-source.mustache
  samples/client/petstore/cpp-restsdk/ApiClient.cpp
  samples/client/petstore/cpp-restsdk/ApiClient.h
  samples/client/petstore/cpp-restsdk/api/PetApi.cpp
  samples/client/petstore/cpp-restsdk/api/StoreApi.cpp
  samples/client/petstore/cpp-restsdk/api/UserApi.cpp
Labels: Client: C++, Enhancement: General

#1538 [elm] Allow setting base path for each request
  docs/generators/elm.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElmClientCodegen.java
  modules/openapi-generator/src/main/resources/elm/api.mustache
Labels: Client: Elm, Enhancement: Feature

#1469 Upgrade haskell-servant generator to latest LTS
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellServantCodegen.java
  modules/openapi-generator/src/main/resources/haskell-servant/API.mustache
  modules/openapi-generator/src/main/resources/haskell-servant/README.mustache
  modules/openapi-generator/src/main/resources/haskell-servant/Types.mustache
  modules/openapi-generator/src/main/resources/haskell-servant/haskell-servant-codegen.mustache
  modules/openapi-generator/src/main/resources/haskell-servant/stack.mustache
  samples/server/petstore/haskell-servant/.openapi-generator/VERSION
  samples/server/petstore/haskell-servant/README.md
  samples/server/petstore/haskell-servant/lib/OpenAPIPetstore/API.hs
  samples/server/petstore/haskell-servant/lib/OpenAPIPetstore/Types.hs
  samples/server/petstore/haskell-servant/lib/SwaggerPetstore/API.hs
  samples/server/petstore/haskell-servant/lib/SwaggerPetstore/Types.hs
  samples/server/petstore/haskell-servant/openapi-petstore.cabal
  samples/server/petstore/haskell-servant/stack.yaml
  samples/server/petstore/haskell-servant/swagger-petstore.cabal
Labels: Enhancement: Compatibility, Server: Haskell

#1523 Generic JSON body support in rust-server
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/test/resources/2_0/rust-server/rust-server-test.yaml
  samples/server/petstore/rust-server/output/rust-server-test/README.md
  samples/server/petstore/rust-server/output/rust-server-test/api/openapi.yaml
  samples/server/petstore/rust-server/output/rust-server-test/examples/client.rs
  samples/server/petstore/rust-server/output/rust-server-test/examples/server_lib/server.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/client/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/lib.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/mimetypes.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/server/mod.rs
Labels: Enhancement: General, Server: Rust

#1616 [TS][Angular] Fix TS version detection
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/package.json
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/package.json
Labels: Client: TypeScript, Issue: Bug

#1621 Re-enable Haskell HTTP client test
  .travis.yml
  pom.xml
Labels: Client: Haskell, Enhancement: CI/Test

#1497 [C] Resolve some issues from #1473
  .gitignore
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CLibcurlClientCodegen.java
  modules/openapi-generator/src/main/resources/C-libcurl/CMakeLists.txt.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/README.md.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/api-body.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/api-header.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/apiClient.c.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/apiClient.h.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/apiKey.c.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/keyValuePair.h.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/list.c.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/list.h.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/model-body.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/model-header.mustache
Labels: Client: C, Enhancement: Compatibility

#1596 Feature/jaguar generator improvements
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartJaguarClientCodegen.java
  modules/openapi-generator/src/main/resources/dart-jaguar/api.mustache
  modules/openapi-generator/src/main/resources/dart-jaguar/apilib.mustache
  modules/openapi-generator/src/main/resources/dart-jaguar/class.mustache
  modules/openapi-generator/src/main/resources/dart-jaguar/pubspec.mustache
  samples/client/petstore/dart-jaguar/flutter_petstore/openapi/README.md
  samples/client/petstore/dart-jaguar/flutter_petstore/openapi/lib/api.dart
  samples/client/petstore/dart-jaguar/flutter_petstore/openapi/lib/api/pet_api.dart
  samples/client/petstore/dart-jaguar/flutter_petstore/openapi/lib/api/store_api.dart
  samples/client/petstore/dart-jaguar/flutter_petstore/openapi/lib/api/user_api.dart
  samples/client/petstore/dart-jaguar/flutter_petstore/openapi/lib/model/api_response.dart
  samples/client/petstore/dart-jaguar/flutter_petstore/openapi/lib/model/category.dart
  samples/client/petstore/dart-jaguar/flutter_petstore/openapi/lib/model/order.dart
  samples/client/petstore/dart-jaguar/flutter_petstore/openapi/lib/model/pet.dart
  samples/client/petstore/dart-jaguar/flutter_petstore/openapi/lib/model/tag.dart
  samples/client/petstore/dart-jaguar/flutter_petstore/openapi/lib/model/user.dart
  samples/client/petstore/dart-jaguar/flutter_petstore/openapi/pubspec.yaml
  samples/client/petstore/dart-jaguar/openapi/README.md
  samples/client/petstore/dart-jaguar/openapi/lib/api.dart
  samples/client/petstore/dart-jaguar/openapi/lib/api/pet_api.dart
  samples/client/petstore/dart-jaguar/openapi/lib/api/store_api.dart
  samples/client/petstore/dart-jaguar/openapi/lib/api/user_api.dart
  samples/client/petstore/dart-jaguar/openapi/lib/model/api_response.dart
  samples/client/petstore/dart-jaguar/openapi/lib/model/category.dart
  samples/client/petstore/dart-jaguar/openapi/lib/model/order.dart
  samples/client/petstore/dart-jaguar/openapi/lib/model/pet.dart
  samples/client/petstore/dart-jaguar/openapi/lib/model/tag.dart
  samples/client/petstore/dart-jaguar/openapi/lib/model/user.dart
  samples/client/petstore/dart-jaguar/openapi/pubspec.yaml
Labels: Client: Dart, Enhancement: General

#1609 [elm] Enable setting Http request trackers
  docs/generators/elm.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElmClientCodegen.java
  modules/openapi-generator/src/main/resources/elm/api.mustache
Labels: Client: Elm, Enhancement: Feature

#1629 Remove isNotContainer
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenProperty.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/resources/Java/beanValidation.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/beanValidation.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/2.0/model.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/model.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-header.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-source.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/model-header.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/model-source.mustache
  modules/openapi-generator/src/main/resources/cpp-restbed-server/model-source.mustache
  modules/openapi-generator/src/main/resources/cpp-tizen-client/model-body.mustache
  modules/openapi-generator/src/main/resources/csharp-refactor/modelGeneric.mustache
  modules/openapi-generator/src/main/resources/csharp/modelGeneric.mustache
  modules/openapi-generator/src/main/resources/java-pkmst/beanValidation.mustache
  modules/openapi-generator/src/main/resources/swift/model.mustache
  modules/openapi-generator/src/main/resources/swift3/model.mustache
  modules/openapi-generator/src/main/resources/typescript-node/models.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/dart/DartModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/KotlinClientCodegenModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/objc/ObjcModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/php/PhpModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/scalaakka/ScalaAkkaClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/scalahttpclient/ScalaHttpClientModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/swift4/Swift4ModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/fetch/TypeScriptFetchModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/typescriptangular/TypeScriptAngularModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/typescriptangularjs/TypeScriptAngularJsModelTest.java
Labels: Breaking change (with fallback), Enhancement: General

#1539 Fix escaped regex values in Python client (#1517).
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_1517.yaml
  samples/client/petstore-security-test/python/.openapi-generator/VERSION
  samples/client/petstore-security-test/python/README.md
  samples/client/petstore-security-test/python/docs/FakeApi.md
  samples/client/petstore-security-test/python/git_push.sh
  samples/client/petstore-security-test/python/petstore_api/__init__.py
  samples/client/petstore-security-test/python/petstore_api/api/fake_api.py
  samples/client/petstore-security-test/python/petstore_api/api_client.py
  samples/client/petstore-security-test/python/petstore_api/configuration.py
  samples/client/petstore-security-test/python/petstore_api/models/__init__.py
  samples/client/petstore-security-test/python/petstore_api/models/model_return.py
  samples/client/petstore-security-test/python/petstore_api/rest.py
  samples/client/petstore-security-test/python/setup.py
  samples/client/petstore-security-test/python/tox.ini
  samples/client/petstore/python-asyncio/.openapi-generator/VERSION
  samples/client/petstore/python-asyncio/docs/FakeApi.md
  samples/client/petstore/python-asyncio/petstore_api/api/fake_api.py
  samples/client/petstore/python-tornado/.openapi-generator/VERSION
  samples/client/petstore/python-tornado/docs/FakeApi.md
  samples/client/petstore/python-tornado/petstore_api/api/fake_api.py
  samples/client/petstore/python/.openapi-generator/VERSION
  samples/client/petstore/python/docs/FakeApi.md
  samples/client/petstore/python/petstore_api/api/fake_api.py
Labels: Client: Python, Issue: Bug

#1635 Replace a deprecated method ( java.lang.Class.newInstance )
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConfigLoader.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModelFactory.java
Labels: Enhancement: Compatibility

#1636 Update issue templates
  .github/ISSUE_TEMPLATE/announcement.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Enhancement: Feature, Feature: Documentation

#1618 Introduce optional weight function for commands and other improvements
  modules/openapi-generator/src/main/resources/erlang-proper/api.mustache
  modules/openapi-generator/src/main/resources/erlang-proper/model.mustache
  modules/openapi-generator/src/main/resources/erlang-proper/rebar.config.mustache
  modules/openapi-generator/src/main/resources/erlang-proper/statem.hrl.mustache
  modules/openapi-generator/src/main/resources/erlang-proper/statem.mustache
  samples/client/petstore/erlang-proper/.gitignore
  samples/client/petstore/erlang-proper/.openapi-generator/VERSION
  samples/client/petstore/erlang-proper/rebar.config
  samples/client/petstore/erlang-proper/src/model/petstore_api_response.erl
  samples/client/petstore/erlang-proper/src/model/petstore_category.erl
  samples/client/petstore/erlang-proper/src/model/petstore_order.erl
  samples/client/petstore/erlang-proper/src/model/petstore_pet.erl
  samples/client/petstore/erlang-proper/src/model/petstore_tag.erl
  samples/client/petstore/erlang-proper/src/model/petstore_user.erl
  samples/client/petstore/erlang-proper/src/petstore_api.erl
  samples/client/petstore/erlang-proper/src/petstore_statem.erl
  samples/client/petstore/erlang-proper/src/petstore_statem.hrl
Labels: Client: Erlang, Enhancement: General

#1642 Add erlang-proper client to shippable CI
  .gitignore
  pom.xml
  samples/client/petstore/erlang-proper/pom.xml
Labels: Client: Erlang, Enhancement: CI/Test

#1586 [php] bugfix: Array and Map inner schema definition can be missing.
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPhpCodegen.java
Labels: Client: PHP, Server: PHP

#1643 Add instructions for erlang-server
  modules/openapi-generator/src/main/resources/erlang-server/README.mustache
  samples/server/petstore/erlang-server/.openapi-generator/VERSION
  samples/server/petstore/erlang-server/README.md
Labels: Enhancement: Feature, Feature: Documentation, Server: Erlang

#1638 Fix alias to free form object & map
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
Labels: Feature: Generator, Issue: Bug

#1549 [JAVA][Server] Fixed issue #1525: Fix model class field initializations (Regression since 3.3.1)
  modules/openapi-generator/src/main/resources/JavaVertXServer/pojo.mustache
  modules/openapi-generator/src/main/resources/undertow/pojo.mustache
  samples/server/petstore/java-vertx/async/.openapi-generator/VERSION
  samples/server/petstore/java-vertx/async/src/main/java/org/openapitools/server/api/model/Category.java
  samples/server/petstore/java-vertx/async/src/main/java/org/openapitools/server/api/model/ModelApiResponse.java
  samples/server/petstore/java-vertx/async/src/main/java/org/openapitools/server/api/model/Order.java
  samples/server/petstore/java-vertx/async/src/main/java/org/openapitools/server/api/model/Pet.java
  samples/server/petstore/java-vertx/async/src/main/java/org/openapitools/server/api/model/Tag.java
  samples/server/petstore/java-vertx/async/src/main/java/org/openapitools/server/api/model/User.java
  samples/server/petstore/java-vertx/async/src/main/resources/openapi.json
  samples/server/petstore/undertow/.openapi-generator/VERSION
  samples/server/petstore/undertow/src/main/java/org/openapitools/model/Category.java
  samples/server/petstore/undertow/src/main/java/org/openapitools/model/ModelApiResponse.java
  samples/server/petstore/undertow/src/main/java/org/openapitools/model/Order.java
  samples/server/petstore/undertow/src/main/java/org/openapitools/model/Pet.java
  samples/server/petstore/undertow/src/main/java/org/openapitools/model/Tag.java
  samples/server/petstore/undertow/src/main/java/org/openapitools/model/User.java
  samples/server/petstore/undertow/src/main/resources/config/openapi.json
Labels: Issue: Bug, Server: Java

#1653 Include mavenCentral in java build.gradle
  modules/openapi-generator/src/main/resources/Java/build.gradle.mustache
Labels: Client: Java, Enhancement: General

#1674 Add mavenCentral to build.gradle
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/rest-assured/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/build.gradle.mustache
  modules/openapi-generator/src/main/resources/android/build.mustache
  modules/openapi-generator/src/main/resources/android/libraries/volley/build.mustache
  samples/client/petstore/android/httpclient/.openapi-generator/VERSION
  samples/client/petstore/android/httpclient/build.gradle
  samples/client/petstore/android/volley/.openapi-generator/VERSION
  samples/client/petstore/android/volley/build.gradle
  samples/client/petstore/java/feign/build.gradle
  samples/client/petstore/java/feign10x/build.gradle
  samples/client/petstore/java/google-api-client/build.gradle
  samples/client/petstore/java/jersey1/build.gradle
  samples/client/petstore/java/jersey2-java8/build.gradle
  samples/client/petstore/java/jersey2/build.gradle
  samples/client/petstore/java/okhttp-gson-parcelableModel/build.gradle
  samples/client/petstore/java/okhttp-gson/build.gradle
  samples/client/petstore/java/rest-assured/build.gradle
  samples/client/petstore/java/resteasy/build.gradle
  samples/client/petstore/java/resttemplate-withXml/build.gradle
  samples/client/petstore/java/resttemplate/build.gradle
  samples/client/petstore/java/retrofit/build.gradle
  samples/client/petstore/java/retrofit2-play24/build.gradle
  samples/client/petstore/java/retrofit2-play25/build.gradle
  samples/client/petstore/java/retrofit2-play26/build.gradle
  samples/client/petstore/java/retrofit2/build.gradle
  samples/client/petstore/java/retrofit2rx/build.gradle
  samples/client/petstore/java/retrofit2rx2/build.gradle
  samples/client/petstore/java/vertx/build.gradle
  samples/client/petstore/java/webclient/build.gradle
Labels: Client: Android, Client: Java, Enhancement: General

#1661 Fix the bug header bean validation is not performed
  modules/openapi-generator/src/main/resources/JavaJaxRS/beanValidationHeaderParams.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-cdi/beanValidationHeaderParams.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-cdi/headerParams.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/beanValidationHeaderParams.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/headerParams.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/beanValidationHeaderParams.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/eap/beanValidationHeaderParams.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/eap/headerParams.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/headerParams.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/serviceHeaderParams.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/beanValidationHeaderParams.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/headerParams.mustache
  samples/server/petstore/jaxrs-cxf-annotated-base-path/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-cxf-cdi/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-cxf-non-spring-app/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-datelib-j8/src/gen/java/org/openapitools/api/FakeApiService.java
  samples/server/petstore/jaxrs-datelib-j8/src/gen/java/org/openapitools/api/PetApiService.java
  samples/server/petstore/jaxrs-datelib-j8/src/main/java/org/openapitools/api/impl/FakeApiServiceImpl.java
  samples/server/petstore/jaxrs-datelib-j8/src/main/java/org/openapitools/api/impl/PetApiServiceImpl.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/FakeApiService.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/PetApiService.java
  samples/server/petstore/jaxrs-jersey/src/main/java/org/openapitools/api/impl/FakeApiServiceImpl.java
  samples/server/petstore/jaxrs-jersey/src/main/java/org/openapitools/api/impl/PetApiServiceImpl.java
  samples/server/petstore/jaxrs-resteasy/default/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-resteasy/eap-java8/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-resteasy/eap-joda/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-resteasy/eap/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-resteasy/joda/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-spec-interface/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs-spec-interface/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-spec/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs-spec/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs/jersey1-useTags/src/gen/java/org/openapitools/api/FakeApiService.java
  samples/server/petstore/jaxrs/jersey1-useTags/src/gen/java/org/openapitools/api/PetApiService.java
  samples/server/petstore/jaxrs/jersey1-useTags/src/main/java/org/openapitools/api/impl/FakeApiServiceImpl.java
  samples/server/petstore/jaxrs/jersey1-useTags/src/main/java/org/openapitools/api/impl/PetApiServiceImpl.java
  samples/server/petstore/jaxrs/jersey1/src/gen/java/org/openapitools/api/FakeApiService.java
  samples/server/petstore/jaxrs/jersey1/src/gen/java/org/openapitools/api/PetApiService.java
  samples/server/petstore/jaxrs/jersey1/src/main/java/org/openapitools/api/impl/FakeApiServiceImpl.java
  samples/server/petstore/jaxrs/jersey1/src/main/java/org/openapitools/api/impl/PetApiServiceImpl.java
  samples/server/petstore/jaxrs/jersey2-useTags/src/gen/java/org/openapitools/api/FakeApiService.java
  samples/server/petstore/jaxrs/jersey2-useTags/src/gen/java/org/openapitools/api/PetApiService.java
  samples/server/petstore/jaxrs/jersey2-useTags/src/main/java/org/openapitools/api/impl/FakeApiServiceImpl.java
  samples/server/petstore/jaxrs/jersey2-useTags/src/main/java/org/openapitools/api/impl/PetApiServiceImpl.java
  samples/server/petstore/jaxrs/jersey2/src/gen/java/org/openapitools/api/FakeApiService.java
  samples/server/petstore/jaxrs/jersey2/src/gen/java/org/openapitools/api/PetApiService.java
  samples/server/petstore/jaxrs/jersey2/src/main/java/org/openapitools/api/impl/FakeApiServiceImpl.java
  samples/server/petstore/jaxrs/jersey2/src/main/java/org/openapitools/api/impl/PetApiServiceImpl.java
Labels: Issue: Bug, Server: Java

#1656 Proposed fix for issues #1654. fix isSerializable for java jaxrs-cxf
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-cdi/model.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/model.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/pojo.mustache
Labels: Issue: Bug, Server: Java

#1569 [core] Update parser and core to latest version
  modules/openapi-generator/src/test/java/org/openapitools/codegen/serializer/SerializerUtilsTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/utils/ModelUtilsTest.java
  modules/openapi-generator/src/test/resources/2_0/petstore.json
  modules/openapi-generator/src/test/resources/3_0/unusedSchemas.yaml
  pom.xml
  samples/client/petstore/go/go-petstore/api/openapi.yaml
  samples/client/petstore/haskell-http-client/openapi.yaml
  samples/server/petstore/jaxrs-spec-interface/src/main/openapi/openapi.yaml
  samples/server/petstore/jaxrs-spec/src/main/openapi/openapi.yaml
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/api/openapi.yaml
  samples/server/petstore/rust-server/output/rust-server-test/api/openapi.yaml
  samples/server/petstore/springboot-reactive/src/main/resources/openapi.yaml
Labels: Enhancement: Compatibility, Swagger-Parser

#1690 Add "nullable" support to Perl operation's parameters
  modules/openapi-generator/src/main/resources/perl/api.mustache
Labels: Client: Perl, Enhancement: Feature, Feature: OAS 3.0 spec support

#1639 Creating regex for our generators which will allow the bot to au…
  .github/.test/auto-labeler.js
  .github/.test/js-yaml.js
  .github/.test/samples.json
  .github/auto-labeler.yml
Labels: Enhancement: CI/Test, Enhancement: General

#1598 Introduced GeneratorProperties as a thread-safe clone of System Properties
  modules/openapi-generator-gradle-plugin/bin/main/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfigurator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/GeneratorProperties.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaInflectorServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaUndertowServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/NodeJSServerCodegen.java
Labels: Enhancement: General

#1706 Fix enum and map of enum issue (regression)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  samples/client/petstore/java/google-api-client/docs/MapTest.md
  samples/client/petstore/java/jersey1/docs/MapTest.md
  samples/client/petstore/java/jersey2-java6/docs/MapTest.md
  samples/client/petstore/java/jersey2-java8/docs/MapTest.md
  samples/client/petstore/java/jersey2/docs/MapTest.md
  samples/client/petstore/java/okhttp-gson-parcelableModel/docs/MapTest.md
  samples/client/petstore/java/okhttp-gson/docs/MapTest.md
  samples/client/petstore/java/rest-assured/docs/MapTest.md
  samples/client/petstore/java/resteasy/docs/MapTest.md
  samples/client/petstore/java/resttemplate-withXml/docs/MapTest.md
  samples/client/petstore/java/resttemplate/docs/MapTest.md
  samples/client/petstore/java/retrofit2-play24/docs/MapTest.md
  samples/client/petstore/java/retrofit2-play25/docs/MapTest.md
  samples/client/petstore/java/retrofit2-play26/docs/MapTest.md
  samples/client/petstore/java/retrofit2/docs/MapTest.md
  samples/client/petstore/java/retrofit2rx/docs/MapTest.md
  samples/client/petstore/java/retrofit2rx2/docs/MapTest.md
  samples/client/petstore/java/vertx/docs/MapTest.md
  samples/client/petstore/java/webclient/docs/MapTest.md
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/MapTest.php
  samples/client/petstore/swift4/default/.openapi-generator/VERSION
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/MapTest.php
Labels: Feature: Enum, Feature: Generator, Issue: Bug

#1679 Add nullable support to JAXRS-CXF parameters
  modules/openapi-generator/src/main/resources/JavaJaxRS/beanValidationHeaderParams.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/beanValidationQueryParams.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-cdi/beanValidationHeaderParams.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-cdi/beanValidationQueryParams.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/queryParams.mustache
  samples/client/petstore/jaxrs-cxf-client/.openapi-generator/VERSION
  samples/client/petstore/jaxrs-cxf-client/src/gen/java/org/openapitools/api/PetApi.java
  samples/client/petstore/jaxrs-cxf-client/src/gen/java/org/openapitools/api/UserApi.java
  samples/client/petstore/jaxrs-cxf-client/src/gen/java/org/openapitools/model/Category.java
  samples/client/petstore/jaxrs-cxf-client/src/gen/java/org/openapitools/model/ModelApiResponse.java
  samples/client/petstore/jaxrs-cxf-client/src/gen/java/org/openapitools/model/Order.java
  samples/client/petstore/jaxrs-cxf-client/src/gen/java/org/openapitools/model/Pet.java
  samples/client/petstore/jaxrs-cxf-client/src/gen/java/org/openapitools/model/Tag.java
  samples/client/petstore/jaxrs-cxf-client/src/gen/java/org/openapitools/model/User.java
  samples/server/petstore/jaxrs-cxf-annotated-base-path/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-cxf-annotated-base-path/src/gen/java/org/openapitools/api/UserApi.java
  samples/server/petstore/jaxrs-cxf-cdi/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-cxf-non-spring-app/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-cxf-non-spring-app/src/gen/java/org/openapitools/api/UserApi.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/org/openapitools/api/UserApi.java
  samples/server/petstore/jaxrs-datelib-j8/src/gen/java/org/openapitools/api/FakeApiService.java
  samples/server/petstore/jaxrs-datelib-j8/src/gen/java/org/openapitools/api/PetApiService.java
  samples/server/petstore/jaxrs-datelib-j8/src/main/java/org/openapitools/api/impl/FakeApiServiceImpl.java
  samples/server/petstore/jaxrs-datelib-j8/src/main/java/org/openapitools/api/impl/PetApiServiceImpl.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/FakeApiService.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/PetApiService.java
  samples/server/petstore/jaxrs-jersey/src/main/java/org/openapitools/api/impl/FakeApiServiceImpl.java
  samples/server/petstore/jaxrs-jersey/src/main/java/org/openapitools/api/impl/PetApiServiceImpl.java
  samples/server/petstore/jaxrs/jersey1-useTags/src/gen/java/org/openapitools/api/FakeApiService.java
  samples/server/petstore/jaxrs/jersey1-useTags/src/gen/java/org/openapitools/api/PetApiService.java
  samples/server/petstore/jaxrs/jersey1-useTags/src/main/java/org/openapitools/api/impl/FakeApiServiceImpl.java
  samples/server/petstore/jaxrs/jersey1-useTags/src/main/java/org/openapitools/api/impl/PetApiServiceImpl.java
  samples/server/petstore/jaxrs/jersey1/src/gen/java/org/openapitools/api/FakeApiService.java
  samples/server/petstore/jaxrs/jersey1/src/gen/java/org/openapitools/api/PetApiService.java
  samples/server/petstore/jaxrs/jersey1/src/main/java/org/openapitools/api/impl/FakeApiServiceImpl.java
  samples/server/petstore/jaxrs/jersey1/src/main/java/org/openapitools/api/impl/PetApiServiceImpl.java
  samples/server/petstore/jaxrs/jersey2-useTags/src/gen/java/org/openapitools/api/FakeApiService.java
  samples/server/petstore/jaxrs/jersey2-useTags/src/gen/java/org/openapitools/api/PetApiService.java
  samples/server/petstore/jaxrs/jersey2-useTags/src/main/java/org/openapitools/api/impl/FakeApiServiceImpl.java
  samples/server/petstore/jaxrs/jersey2-useTags/src/main/java/org/openapitools/api/impl/PetApiServiceImpl.java
  samples/server/petstore/jaxrs/jersey2/src/gen/java/org/openapitools/api/FakeApiService.java
  samples/server/petstore/jaxrs/jersey2/src/gen/java/org/openapitools/api/PetApiService.java
  samples/server/petstore/jaxrs/jersey2/src/main/java/org/openapitools/api/impl/FakeApiServiceImpl.java
  samples/server/petstore/jaxrs/jersey2/src/main/java/org/openapitools/api/impl/PetApiServiceImpl.java
Labels: Enhancement: Feature, Feature: OAS 3.0 spec support, Server: Java

#1703 [core] support for 'x-enum-varnames' for enums in arrays
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
Labels: Enhancement: General, Feature: Enum

#1724 [python/asyncio] use ssl argument instead of ssl_context (deprecated)
  modules/openapi-generator/src/main/resources/python/asyncio/rest.mustache
  modules/openapi-generator/src/main/resources/python/setup.mustache
  samples/client/petstore/python-asyncio/.openapi-generator/VERSION
  samples/client/petstore/python-asyncio/README.md
  samples/client/petstore/python-asyncio/petstore_api/__init__.py
  samples/client/petstore/python-asyncio/petstore_api/api_client.py
  samples/client/petstore/python-asyncio/petstore_api/models/__init__.py
  samples/client/petstore/python-asyncio/petstore_api/rest.py
  samples/client/petstore/python-asyncio/setup.py
  samples/client/petstore/python-asyncio/test_python3.sh
  samples/client/petstore/python-tornado/.openapi-generator/VERSION
  samples/client/petstore/python-tornado/README.md
  samples/client/petstore/python-tornado/petstore_api/__init__.py
  samples/client/petstore/python-tornado/petstore_api/api_client.py
  samples/client/petstore/python-tornado/petstore_api/models/__init__.py
  samples/client/petstore/python/.openapi-generator/VERSION
  samples/client/petstore/python/README.md
  samples/client/petstore/python/petstore_api/__init__.py
  samples/client/petstore/python/petstore_api/api_client.py
  samples/client/petstore/python/petstore_api/models/__init__.py
Labels: Client: Python, Enhancement: Compatibility

#1723 [csharp-refactor] Minor csharp refactor changes
  modules/openapi-generator/src/main/resources/csharp-refactor/ClientUtils.mustache
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Client/ClientUtils.cs
Labels: Client: C-Sharp, Enhancement: General

#1678 [Rust] Support formParams and fix list-params.
  modules/openapi-generator/src/main/resources/rust/reqwest/api.mustache
  samples/client/petstore/rust-reqwest/.openapi-generator/VERSION
  samples/client/petstore/rust-reqwest/src/apis/pet_api.rs
  samples/client/petstore/rust-reqwest/src/apis/store_api.rs
  samples/client/petstore/rust-reqwest/src/apis/user_api.rs
  samples/client/petstore/rust/.openapi-generator/VERSION
Labels: Client: Rust, Enhancement: General, Issue: Bug

#1722 Fix various CI issues
  pom.xml
  shippable.yml
Labels: Enhancement: CI/Test

#1730 Typescript nullable
  modules/openapi-generator/src/main/resources/typescript-angular/modelGeneric.mustache
  modules/openapi-generator/src/main/resources/typescript-angular/modelTaggedUnion.mustache
Labels: Client: TypeScript, Enhancement: Feature, Feature: OAS 3.0 spec support

#1737 Fix C# client warnings
  modules/openapi-generator/src/main/resources/csharp-refactor/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-refactor/ClientUtils.mustache
  modules/openapi-generator/src/main/resources/csharp-refactor/Configuration.mustache
  modules/openapi-generator/src/main/resources/csharp-refactor/HttpMethod.mustache
  modules/openapi-generator/src/main/resources/csharp-refactor/Multimap.mustache
  modules/openapi-generator/src/main/resources/csharp-refactor/api.mustache
  modules/openapi-generator/src/main/resources/csharp-refactor/modelGeneric.mustache
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Client/HttpMethod.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Client/Multimap.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Model/Cat.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Model/Dog.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Model/EnumArrays.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Model/EnumTest.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Model/MapTest.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Model/Order.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Model/Pet.cs
Labels: Client: C-Sharp, Issue: Non-operational

#1738 Add C# client (refactor) to Appveyor CI
  appveyor.yml
Labels: Client: C-Sharp, Enhancement: CI/Test

#1735 [Java] Update dependencies
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/play25/Play25CallFactory.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/play26/Play26CallFactory.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/pom.mustache
  samples/client/petstore/java/retrofit2-play24/pom.xml
  samples/client/petstore/java/retrofit2-play25/pom.xml
  samples/client/petstore/java/retrofit2-play25/src/main/java/org/openapitools/client/Play25CallFactory.java
  samples/client/petstore/java/retrofit2-play26/pom.xml
  samples/client/petstore/java/retrofit2-play26/src/main/java/org/openapitools/client/Play26CallFactory.java
  samples/client/petstore/java/retrofit2/pom.xml
  samples/client/petstore/java/retrofit2rx/pom.xml
  samples/client/petstore/java/retrofit2rx2/pom.xml
Labels: Client: Java, Issue: Security

#1483 [Slim] Abstract API controllers
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSlimServerCodegen.java
  modules/openapi-generator/src/main/resources/php-slim-server/AbstractApiController.mustache
  modules/openapi-generator/src/main/resources/php-slim-server/README.mustache
  modules/openapi-generator/src/main/resources/php-slim-server/SlimRouter.mustache
  modules/openapi-generator/src/main/resources/php-slim-server/api.mustache
  modules/openapi-generator/src/main/resources/php-slim-server/api_test.mustache
  modules/openapi-generator/src/main/resources/php-slim-server/composer.mustache
  samples/server/petstore-security-test/php-slim/README.md
  samples/server/petstore-security-test/php-slim/composer.json
  samples/server/petstore-security-test/php-slim/lib/AbstractApiController.php
  samples/server/petstore-security-test/php-slim/lib/Api/AbstractFakeApi.php
  samples/server/petstore-security-test/php-slim/lib/SlimRouter.php
  samples/server/petstore-security-test/php-slim/phpunit.xml.dist
  samples/server/petstore-security-test/php-slim/test/Api/FakeApiTest.php
  samples/server/petstore/php-slim/README.md
  samples/server/petstore/php-slim/composer.json
  samples/server/petstore/php-slim/lib/Api/AbstractAnotherFakeApi.php
  samples/server/petstore/php-slim/lib/Api/AbstractFakeApi.php
  samples/server/petstore/php-slim/lib/Api/AbstractFakeClassnameTags123Api.php
  samples/server/petstore/php-slim/lib/Api/AbstractPetApi.php
  samples/server/petstore/php-slim/lib/Api/AbstractStoreApi.php
  samples/server/petstore/php-slim/lib/Api/AbstractUserApi.php
  samples/server/petstore/php-slim/lib/Api/FakeClassnameTags123Api.php
  samples/server/petstore/php-slim/lib/Model/AnimalFarm.php
  samples/server/petstore/php-slim/lib/Model/StringBooleanMap.php
  samples/server/petstore/php-slim/lib/SlimRouter.php
  samples/server/petstore/php-slim/test/Api/AnotherFakeApiTest.php
  samples/server/petstore/php-slim/test/Api/FakeApiTest.php
  samples/server/petstore/php-slim/test/Api/FakeClassnameTags123ApiTest.php
  samples/server/petstore/php-slim/test/Api/PetApiTest.php
  samples/server/petstore/php-slim/test/Api/StoreApiTest.php
  samples/server/petstore/php-slim/test/Api/UserApiTest.php
  samples/server/petstore/php-slim/test/Model/AnimalFarmTest.php
  samples/server/petstore/php-slim/test/Model/StringBooleanMapTest.php
Labels: Breaking change (without fallback), Enhancement: General, Server: PHP

#1740 [kotlin-spring] Allow DateTime to be remapped to others (LocalDateTIme)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinSpringServerCodegen.java
Labels: Client: Kotlin, Enhancement: General, Server: Kotlin

#1743 Add nullable support to typescript-axios
  modules/openapi-generator/src/main/resources/typescript-axios/modelGeneric.mustache
  samples/client/petstore/typescript-axios/builds/default/.openapi-generator/VERSION
  samples/client/petstore/typescript-axios/builds/es6-target/.openapi-generator/VERSION
  samples/client/petstore/typescript-axios/builds/with-interfaces/.openapi-generator/VERSION
  samples/client/petstore/typescript-axios/builds/with-npm-version/.openapi-generator/VERSION
Labels: Client: TypeScript, Enhancement: Feature, Feature: OAS 3.0 spec support

#1742 Fix discriminator name not following variable naming convention
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/resources/php/model_generic.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/allOfMultiParent.yaml
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Model/Animal.cs
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Animal.php
  samples/client/petstore/ruby/lib/petstore/models/animal.rb
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/Animal.php
  samples/openapi3/client/petstore/ruby/lib/petstore/models/animal.rb
Labels: Feature: Composition / Inheritance, Issue: Bug

#1753 Restore Ruby tests after parser update
  modules/openapi-generator/src/test/java/org/openapitools/codegen/ruby/RubyClientCodegenTest.java
Labels: Enhancement: CI/Test, Swagger-Parser

#1751 Various fixes for free-form objects
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
Labels: Feature: Generator, Issue: Bug

#1756 Minor fixes for InlineModelResolver
  modules/openapi-generator/src/main/java/org/openapitools/codegen/InlineModelResolver.java
Labels: Enhancement: General, Feature: Generator

#1754 Maven dependencies version update
  modules/openapi-generator-maven-plugin/pom.xml
Labels: Issue: Security, OpenAPI Generator Maven Plugin

#1758 Remove self-reference import
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModel.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/resources/flaskConnexion/model.mustache
  samples/server/petstore/flaskConnexion-python2/.openapi-generator/VERSION
  samples/server/petstore/flaskConnexion-python2/openapi_server/controllers/pet_controller.py
  samples/server/petstore/flaskConnexion-python2/openapi_server/controllers/store_controller.py
  samples/server/petstore/flaskConnexion-python2/openapi_server/controllers/user_controller.py
  samples/server/petstore/flaskConnexion-python2/openapi_server/models/api_response.py
  samples/server/petstore/flaskConnexion-python2/openapi_server/models/category.py
  samples/server/petstore/flaskConnexion-python2/openapi_server/models/order.py
  samples/server/petstore/flaskConnexion-python2/openapi_server/models/pet.py
  samples/server/petstore/flaskConnexion-python2/openapi_server/models/tag.py
  samples/server/petstore/flaskConnexion-python2/openapi_server/models/user.py
  samples/server/petstore/flaskConnexion-python2/openapi_server/openapi/openapi.yaml
  samples/server/petstore/flaskConnexion-python2/openapi_server/test/test_pet_controller.py
  samples/server/petstore/flaskConnexion-python2/openapi_server/test/test_store_controller.py
  samples/server/petstore/flaskConnexion-python2/openapi_server/test/test_user_controller.py
  samples/server/petstore/flaskConnexion/.openapi-generator/VERSION
  samples/server/petstore/flaskConnexion/openapi_server/controllers/pet_controller.py
  samples/server/petstore/flaskConnexion/openapi_server/controllers/store_controller.py
  samples/server/petstore/flaskConnexion/openapi_server/controllers/user_controller.py
  samples/server/petstore/flaskConnexion/openapi_server/models/api_response.py
  samples/server/petstore/flaskConnexion/openapi_server/models/category.py
  samples/server/petstore/flaskConnexion/openapi_server/models/order.py
  samples/server/petstore/flaskConnexion/openapi_server/models/pet.py
  samples/server/petstore/flaskConnexion/openapi_server/models/tag.py
  samples/server/petstore/flaskConnexion/openapi_server/models/user.py
  samples/server/petstore/flaskConnexion/openapi_server/openapi/openapi.yaml
  samples/server/petstore/flaskConnexion/openapi_server/test/test_pet_controller.py
  samples/server/petstore/flaskConnexion/openapi_server/test/test_store_controller.py
  samples/server/petstore/flaskConnexion/openapi_server/test/test_user_controller.py
Labels: Feature: Generator, Issue: Bug

#1760 [Swift 4] Use Info.version for podspec version
  modules/openapi-generator/src/main/resources/swift4/Podspec.mustache
  samples/client/petstore/swift4/default/PetstoreClient.podspec
  samples/client/petstore/swift4/objcCompatible/PetstoreClient.podspec
  samples/client/petstore/swift4/promisekit/PetstoreClient.podspec
  samples/client/petstore/swift4/rxswift/PetstoreClient.podspec
  samples/client/petstore/swift4/unwrapRequired/PetstoreClient.podspec
  samples/client/test/swift4/default/TestClient.podspec
Labels: Client: Swift

#1746 Fix UUID support
  modules/openapi-generator/src/main/resources/kotlin-client/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin, Issue: Bug

#1757 Better handling of allOf (composition)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Enhancement: Feature, Feature: Generator, Feature: OAS 3.0 spec support

#1761 Resolve inline models before preprocess
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
Labels: Enhancement: General

#1759 Add online gen tests
  modules/openapi-generator-online/src/test/java/org/openapitools/codegen/online/api/GenApiControllerTest.java
Labels: Enhancement: CI/Test, OpenAPI Generator Online

#1771 Add test case for InlineModelResolver
  modules/openapi-generator/src/test/java/org/openapitools/codegen/InlineModelResolverTest.java
  modules/openapi-generator/src/test/resources/3_0/inline_model_resolver.yaml
Labels: Enhancement: CI/Test

#1764 [Slim] Add PHP CodeSniffer config template
  docs/generators/php-slim.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSlimServerCodegen.java
  modules/openapi-generator/src/main/resources/php-slim-server/.gitignore
  modules/openapi-generator/src/main/resources/php-slim-server/README.mustache
  modules/openapi-generator/src/main/resources/php-slim-server/composer.mustache
  modules/openapi-generator/src/main/resources/php-slim-server/phpcs.xml.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/PhpSlimServerOptionsProvider.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/slim/PhpSlimServerOptionsTest.java
  samples/server/petstore-security-test/php-slim/.gitignore
  samples/server/petstore-security-test/php-slim/README.md
  samples/server/petstore-security-test/php-slim/composer.json
  samples/server/petstore-security-test/php-slim/phpcs.xml.dist
  samples/server/petstore/php-slim/.gitignore
  samples/server/petstore/php-slim/README.md
  samples/server/petstore/php-slim/composer.json
  samples/server/petstore/php-slim/phpcs.xml.dist
Labels: Breaking change (with fallback), Enhancement: Code format, Server: PHP

#1725 Skip default value for container in Spring generators
  modules/openapi-generator/src/main/resources/JavaSpring/bodyParams.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/formParams.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/headerParams.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-cloud/formParams.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/pathParams.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/queryParams.mustache
  samples/client/petstore/spring-cloud/src/main/java/org/openapitools/api/PetApi.java
  samples/client/petstore/spring-stubs/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/spring-mvc-j8-async/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/spring-mvc-j8-async/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/spring-mvc-j8-localdatetime/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/spring-mvc-j8-localdatetime/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/spring-mvc/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/spring-mvc/src/main/java/org/openapitools/api/FakeApiController.java
  samples/server/petstore/spring-mvc/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/spring-mvc/src/main/java/org/openapitools/api/PetApiController.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/org/openapitools/api/FakeApiController.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/org/openapitools/api/PetApiController.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/api/FakeApiController.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/api/PetApiController.java
  samples/server/petstore/springboot-implicitHeaders/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-implicitHeaders/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/api/FakeApi.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/api/PetApi.java
  samples/server/petstore/springboot/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot/src/main/java/org/openapitools/api/PetApi.java
Labels: Enhancement: General, Server: Spring

#1773 Fix type inference error
  modules/openapi-generator/src/main/resources/kotlin-client/api.mustache
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/openapi3/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/FakeApi.kt
  samples/openapi3/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/openapi3/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin, Issue: Bug

#1772 Add test case for InlineModelResolver: inline array schema
  modules/openapi-generator/src/test/java/org/openapitools/codegen/InlineModelResolverTest.java
  modules/openapi-generator/src/test/resources/3_0/inline_model_resolver.yaml
Labels: Enhancement: CI/Test

#1777 Add test case for InlineModelResolver: inline array request body
  modules/openapi-generator/src/test/java/org/openapitools/codegen/InlineModelResolverTest.java
  modules/openapi-generator/src/test/resources/3_0/inline_model_resolver.yaml
Labels: Enhancement: CI/Test

#1779 Fix top-level group parameter
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
Labels: Feature: Generator, Issue: Bug

#1778 Add test case for InlineModelResolver: inline array response
  modules/openapi-generator/src/test/java/org/openapitools/codegen/InlineModelResolverTest.java
  modules/openapi-generator/src/test/resources/3_0/inline_model_resolver.yaml
Labels: Enhancement: CI/Test

#1704 [elm] Add support for sending headers
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElmClientCodegen.java
  modules/openapi-generator/src/main/resources/elm/api.mustache
  samples/client/petstore/elm/src/Request/Pet.elm
  samples/client/petstore/elm/src/Request/Store.elm
  samples/client/petstore/elm/src/Request/User.elm
Labels: Client: Elm, Enhancement: Feature

#1687 [Slim] Encode path to support non-latin characters
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConfig.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSlimServerCodegen.java
  modules/openapi-generator/src/main/resources/php-slim-server/SlimRouter.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/slim/PhpSlimServerCodegenTest.java
  samples/server/petstore-security-test/php-slim/lib/SlimRouter.php
Labels: Issue: Bug, Server: PHP

#1744 Delete unused method
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModelFactory.java
Labels: Enhancement: Code format

#1775 Add nullable support to C# client (refactor)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpRefactorClientCodegen.java
  modules/openapi-generator/src/main/resources/csharp-refactor/api.mustache
  modules/openapi-generator/src/main/resources/csharp-refactor/modelGeneric.mustache
  samples/client/petstore/csharp-refactor/OpenAPIClient/docs/ApiResponse.md
  samples/client/petstore/csharp-refactor/OpenAPIClient/docs/ArrayOfArrayOfNumberOnly.md
  samples/client/petstore/csharp-refactor/OpenAPIClient/docs/ArrayOfNumberOnly.md
  samples/client/petstore/csharp-refactor/OpenAPIClient/docs/ArrayTest.md
  samples/client/petstore/csharp-refactor/OpenAPIClient/docs/Cat.md
  samples/client/petstore/csharp-refactor/OpenAPIClient/docs/Category.md
  samples/client/petstore/csharp-refactor/OpenAPIClient/docs/EnumTest.md
  samples/client/petstore/csharp-refactor/OpenAPIClient/docs/FakeApi.md
  samples/client/petstore/csharp-refactor/OpenAPIClient/docs/FormatTest.md
  samples/client/petstore/csharp-refactor/OpenAPIClient/docs/MapTest.md
  samples/client/petstore/csharp-refactor/OpenAPIClient/docs/MixedPropertiesAndAdditionalPropertiesClass.md
  samples/client/petstore/csharp-refactor/OpenAPIClient/docs/Model200Response.md
  samples/client/petstore/csharp-refactor/OpenAPIClient/docs/Name.md
  samples/client/petstore/csharp-refactor/OpenAPIClient/docs/NumberOnly.md
  samples/client/petstore/csharp-refactor/OpenAPIClient/docs/Order.md
  samples/client/petstore/csharp-refactor/OpenAPIClient/docs/OuterComposite.md
  samples/client/petstore/csharp-refactor/OpenAPIClient/docs/Pet.md
  samples/client/petstore/csharp-refactor/OpenAPIClient/docs/PetApi.md
  samples/client/petstore/csharp-refactor/OpenAPIClient/docs/Return.md
  samples/client/petstore/csharp-refactor/OpenAPIClient/docs/SpecialModelName.md
  samples/client/petstore/csharp-refactor/OpenAPIClient/docs/StoreApi.md
  samples/client/petstore/csharp-refactor/OpenAPIClient/docs/Tag.md
  samples/client/petstore/csharp-refactor/OpenAPIClient/docs/User.md
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools.Test/Model/ArrayOfArrayOfNumberOnlyTests.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Model/ApiResponse.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Model/ArrayOfArrayOfNumberOnly.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Model/ArrayOfNumberOnly.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Model/ArrayTest.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Model/Cat.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Model/Category.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Model/MapTest.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Model/MixedPropertiesAndAdditionalPropertiesClass.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Model/Model200Response.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Model/Name.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Model/NumberOnly.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Model/Order.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Model/OuterComposite.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Model/Pet.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Model/Return.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Model/SpecialModelName.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Model/Tag.cs
  samples/client/petstore/csharp-refactor/OpenAPIClient/src/Org.OpenAPITools/Model/User.cs
Labels: Client: C-Sharp, Enhancement: Feature, Feature: OAS 3.0 spec support

#1729 Add an option to generate the alias (map, array) as model
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConfig.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfigurator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
Labels: Enhancement: Feature, Feature: Generator

#1781 Add test case for InlineModelResolver: inline object response with additionalProperties
  modules/openapi-generator/src/test/java/org/openapitools/codegen/InlineModelResolverTest.java
  modules/openapi-generator/src/test/resources/3_0/inline_model_resolver.yaml
Labels: Enhancement: CI/Test

#1768 Fix: Inline models can't be generated
  modules/openapi-generator/src/main/java/org/openapitools/codegen/InlineModelResolver.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/InlineModelResolverTest.java
  modules/openapi-generator/src/test/resources/3_0/inline_request_body_no_components.yaml
Labels: Feature: Generator, Issue: Bug
