Repository OpenAPITools/openapi-generator, pull requests merged in 2018-10, with the labels that each got.

#1100 Better handling of different types in Elm generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElmClientCodegen.java
  modules/openapi-generator/src/main/resources/elm/DateOnly.mustache
  modules/openapi-generator/src/main/resources/elm/DateOnly018.mustache
  modules/openapi-generator/src/main/resources/elm/DateTime.mustache
  modules/openapi-generator/src/main/resources/elm/DateTime018.mustache
  samples/client/petstore/elm-0.18/src/DateOnly.elm
  samples/client/petstore/elm-0.18/src/DateTime.elm
  samples/client/petstore/elm/src/DateOnly.elm
  samples/client/petstore/elm/src/DateTime.elm
Labels: Client: Elm, Enhancement: General

#1055 MySQL Schema Generator #955
  bin/mysql-schema-petstore.sh
  bin/security/mysql-schema-petstore.sh
  bin/utils/ensure-up-to-date
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenType.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/MysqlSchemaCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/mysql-schema/README.mustache
  modules/openapi-generator/src/main/resources/mysql-schema/mysql_schema.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/mysql/MysqlSchemaCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/mysql/MysqlSchemaOptionsTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/MysqlSchemaOptionsProvider.java
  samples/schema/petstore-security-test/mysql/.openapi-generator-ignore
  samples/schema/petstore-security-test/mysql/.openapi-generator/VERSION
  samples/schema/petstore-security-test/mysql/README.md
  samples/schema/petstore-security-test/mysql/mysql_schema.sql
  samples/schema/petstore/mysql/.openapi-generator-ignore
  samples/schema/petstore/mysql/.openapi-generator/VERSION
  samples/schema/petstore/mysql/README.md
  samples/schema/petstore/mysql/mysql_schema.sql
Labels: Enhancement: New generator, Schema: MySQL

#1148 Minor enhancements to the MySQL generator
  README.md
  bin/mysql-schema-petstore.sh
  bin/windows/mysql-schema-petstore.bat
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/MysqlSchemaCodegen.java
Labels: Enhancement: General, Schema: MySQL

#1151 [elm] Fix Byte encoder/decoder names
  modules/openapi-generator/src/main/resources/elm/Byte.mustache
  samples/client/petstore/elm-0.18/src/Byte.elm
  samples/client/petstore/elm/src/Byte.elm
Labels: Client: Elm, Issue: Bug

#1152 Fix: allow colons in TS interface property names
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java
  modules/openapi-generator/src/main/resources/typescript-angular/modelGeneric.mustache
Labels: Client: TypeScript, Issue: Bug

#1161 Minor update to C templates
  modules/openapi-generator/src/main/resources/C-libcurl/apiClient.h.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/uncrustify-rules.cfg.mustache
  samples/client/petstore/c/include/apiClient.h
  samples/client/petstore/c/uncrustify-rules.cfg
Labels: Client: C, Enhancement: Code format

#1157 FIX: remove special quotation marks from filename generation.
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
Labels: Client: TypeScript, Issue: Bug

#1166 Better format for Ruby tests
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractRubyCodegen.java
  samples/client/petstore/ruby/petstore_profiling.rb
  samples/client/petstore/ruby/spec/api_client_spec.rb
  samples/client/petstore/ruby/spec/base_object_spec.rb
  samples/client/petstore/ruby/spec/pet_spec.rb
  samples/client/petstore/ruby/spec/spec_helper.rb
Labels: Client: Ruby, Enhancement: Code format

#1172 Rename perl environment variable for post-processing file
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PerlClientCodegen.java
Labels: Client: Perl, Enhancement: Code format

#1156 Update (broken) Vagrant configuration.
  Vagrantfile
Labels: Enhancement: General

#1179 JAVA Spring <async>false</async> Pushing the improved fix
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
Labels: Issue: Bug, OpenAPI Generator Maven Plugin, Server: Java, Server: Spring

#1173 Improve Go code format without gofmt
  modules/openapi-generator/src/main/resources/go/api.mustache
  samples/client/petstore/go/go-petstore/api_another_fake.go
  samples/client/petstore/go/go-petstore/api_fake.go
  samples/client/petstore/go/go-petstore/api_fake_classname_tags123.go
  samples/client/petstore/go/go-petstore/api_pet.go
  samples/client/petstore/go/go-petstore/api_store.go
  samples/client/petstore/go/go-petstore/api_user.go
Labels: Client: Go, Enhancement: Code format

#1169 Improve "allOf" support
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/allOf.yaml
Labels: Enhancement: Feature, Feature: Composition / Inheritance

#1178 [C] Fixed enum function declaration
  modules/openapi-generator/src/main/resources/C-libcurl/model-header.mustache
  samples/client/petstore/c/model/order.h
  samples/client/petstore/c/model/pet.h
Labels: Client: C, Feature: Enum, Issue: Bug

#1184 Update maven plugin version
  CI/pom.xml.bash
  CI/pom.xml.circleci
  CI/pom.xml.circleci.java7
  CI/pom.xml.ios
  modules/openapi-generator-cli/pom.xml
  modules/openapi-generator-maven-plugin/pom.xml
  modules/openapi-generator/pom.xml
  pom.xml
Labels: Enhancement: General

#1186 [C++][Restbed] Fix default value for Restbed
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppRestbedServerCodegen.java
  modules/openapi-generator/src/main/resources/cpp-restbed-server/api-source.mustache
  samples/client/petstore/cpp-restsdk/.openapi-generator/VERSION
  samples/client/petstore/cpp-restsdk/ApiClient.cpp
  samples/client/petstore/cpp-restsdk/ApiClient.h
  samples/client/petstore/cpp-restsdk/ApiConfiguration.cpp
  samples/client/petstore/cpp-restsdk/ApiConfiguration.h
  samples/client/petstore/cpp-restsdk/ApiException.cpp
  samples/client/petstore/cpp-restsdk/ApiException.h
  samples/client/petstore/cpp-restsdk/HttpContent.cpp
  samples/client/petstore/cpp-restsdk/HttpContent.h
  samples/client/petstore/cpp-restsdk/IHttpBody.h
  samples/client/petstore/cpp-restsdk/JsonBody.cpp
  samples/client/petstore/cpp-restsdk/JsonBody.h
  samples/client/petstore/cpp-restsdk/ModelBase.cpp
  samples/client/petstore/cpp-restsdk/ModelBase.h
  samples/client/petstore/cpp-restsdk/MultipartFormData.cpp
  samples/client/petstore/cpp-restsdk/MultipartFormData.h
  samples/client/petstore/cpp-restsdk/Object.cpp
  samples/client/petstore/cpp-restsdk/Object.h
  samples/client/petstore/cpp-restsdk/api/PetApi.cpp
  samples/client/petstore/cpp-restsdk/api/PetApi.h
  samples/client/petstore/cpp-restsdk/api/StoreApi.cpp
  samples/client/petstore/cpp-restsdk/api/StoreApi.h
  samples/client/petstore/cpp-restsdk/api/UserApi.cpp
  samples/client/petstore/cpp-restsdk/api/UserApi.h
  samples/client/petstore/cpp-restsdk/model/ApiResponse.cpp
  samples/client/petstore/cpp-restsdk/model/ApiResponse.h
  samples/client/petstore/cpp-restsdk/model/Category.cpp
  samples/client/petstore/cpp-restsdk/model/Category.h
  samples/client/petstore/cpp-restsdk/model/Order.cpp
  samples/client/petstore/cpp-restsdk/model/Order.h
  samples/client/petstore/cpp-restsdk/model/Pet.cpp
  samples/client/petstore/cpp-restsdk/model/Pet.h
  samples/client/petstore/cpp-restsdk/model/Tag.cpp
  samples/client/petstore/cpp-restsdk/model/Tag.h
  samples/client/petstore/cpp-restsdk/model/User.cpp
  samples/client/petstore/cpp-restsdk/model/User.h
  samples/server/petstore/cpp-restbed/.openapi-generator/VERSION
  samples/server/petstore/cpp-restbed/api/PetApi.cpp
  samples/server/petstore/cpp-restbed/api/PetApi.h
  samples/server/petstore/cpp-restbed/api/StoreApi.cpp
  samples/server/petstore/cpp-restbed/api/StoreApi.h
  samples/server/petstore/cpp-restbed/api/UserApi.cpp
  samples/server/petstore/cpp-restbed/api/UserApi.h
  samples/server/petstore/cpp-restbed/model/ApiResponse.cpp
  samples/server/petstore/cpp-restbed/model/ApiResponse.h
  samples/server/petstore/cpp-restbed/model/Category.cpp
  samples/server/petstore/cpp-restbed/model/Category.h
  samples/server/petstore/cpp-restbed/model/Order.cpp
  samples/server/petstore/cpp-restbed/model/Order.h
  samples/server/petstore/cpp-restbed/model/Pet.cpp
  samples/server/petstore/cpp-restbed/model/Pet.h
  samples/server/petstore/cpp-restbed/model/Tag.cpp
  samples/server/petstore/cpp-restbed/model/Tag.h
  samples/server/petstore/cpp-restbed/model/User.cpp
  samples/server/petstore/cpp-restbed/model/User.h
Labels: Issue: Bug, Server: C++

#1183 [Java][okhttp-gson] Fix bug when specifying grant-type (flow) for OAuth token retry
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/auth/RetryingOAuth.mustache
  samples/client/petstore-security-test/java/okhttp-gson/.openapi-generator/VERSION
  samples/client/petstore-security-test/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore-security-test/java/okhttp-gson/src/main/java/org/openapitools/client/auth/RetryingOAuth.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/auth/RetryingOAuth.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/auth/RetryingOAuth.java
Labels: Client: Java, Issue: Bug

#1192 [Flask] Upgrade to flask connexion 2.0.0rc3
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonFlaskConnexionServerCodegen.java
  modules/openapi-generator/src/main/resources/flaskConnexion/requirements.mustache
  samples/server/petstore/flaskConnexion-python2/.openapi-generator/VERSION
  samples/server/petstore/flaskConnexion-python2/openapi_server/openapi/openapi.yaml
  samples/server/petstore/flaskConnexion-python2/requirements.txt
  samples/server/petstore/flaskConnexion/.openapi-generator/VERSION
  samples/server/petstore/flaskConnexion/openapi_server/openapi/openapi.yaml
  samples/server/petstore/flaskConnexion/requirements.txt
Labels: Enhancement: General, Server: Python

#1132 Allow specifying/overriding the parent in the pom file for Java and S…
  docs/generators/java.md
  docs/generators/spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/feign/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/rest-assured/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/pom.mustache
  modules/openapi-generator/src/main/resources/Java/pom.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-boot/pom.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-cloud/pom.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-mvc/pom.mustache
Labels: Client: Java, Enhancement: Feature, Server: Java, Server: Spring

#1190 Re-enabling typescript node test - Take 2
  modules/openapi-generator/src/main/resources/typescript-node/package.mustache
  pom.xml
  samples/client/petstore/typescript-node/npm/package.json
Labels: Client: TypeScript, Enhancement: CI/Test

#1195 [Spring] Fix character conversion error
  modules/openapi-generator/src/main/resources/JavaSpring/apiUtil.mustache
  samples/client/petstore/spring-stubs/src/main/java/org/openapitools/api/ApiUtil.java
  samples/server/petstore/spring-mvc-j8-async/src/main/java/org/openapitools/api/ApiUtil.java
  samples/server/petstore/spring-mvc-j8-localdatetime/src/main/java/org/openapitools/api/ApiUtil.java
  samples/server/petstore/spring-mvc/src/main/java/org/openapitools/api/ApiUtil.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/org/openapitools/api/ApiUtil.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/api/ApiUtil.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/api/ApiUtil.java
  samples/server/petstore/springboot-implicitHeaders/src/main/java/org/openapitools/api/ApiUtil.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/api/ApiUtil.java
  samples/server/petstore/springboot/src/main/java/org/openapitools/api/ApiUtil.java
Labels: Issue: Bug, Server: Spring

#1212 Verify updatePetWithForm in Go client
  samples/client/petstore/go/pet_api_test.go
Labels: Client: Go, Enhancement: CI/Test

#1213 Various improvements
  CONTRIBUTING.md
  modules/openapi-generator/pom.xml
Labels: Enhancement: General

#1220 Revert "Various improvements"
  CONTRIBUTING.md
  modules/openapi-generator/pom.xml
Labels: Issue: Undo changes

#1146 Add x-go-custom-tag to go-server generator
  modules/openapi-generator/src/main/resources/go-gin-server/model.mustache
  modules/openapi-generator/src/main/resources/go-server/model.mustache
  modules/openapi-generator/src/main/resources/go/model.mustache
Labels: Enhancement: General, Server: Go

#1214 Rename JS environment variable for post-processing files
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptClientCodegen.java
Labels: Client: JavaScript/Node.js, Enhancement: Code format

#1211 Bug fix: python/asyncio no-ssl-verify affects verification of server certs
  modules/openapi-generator/src/main/resources/python/asyncio/rest.mustache
  samples/client/petstore/python-asyncio/.openapi-generator/VERSION
  samples/client/petstore/python-asyncio/petstore_api/rest.py
Labels: Client: Python, Enhancement: General

#1218 fix: fix return type for api interface
  modules/openapi-generator/src/main/resources/typescript-axios/api.mustache
  samples/client/petstore/typescript-axios/builds/with-interfaces/api.ts
Labels: Client: TypeScript, Issue: Bug

#1224 Better format in C templates
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CLibcurlClientCodegen.java
  modules/openapi-generator/src/main/resources/C-libcurl/api-body.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/apiClient.c.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/apiKey.c.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/api_pet_test.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/api_test.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/list.c.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/model-body.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/model-header.mustache
  samples/client/petstore/c/api/PetAPI.c
  samples/client/petstore/c/api/StoreAPI.c
  samples/client/petstore/c/api/UserAPI.c
  samples/client/petstore/c/model/api_response.h
  samples/client/petstore/c/model/category.h
  samples/client/petstore/c/model/order.c
  samples/client/petstore/c/model/order.h
  samples/client/petstore/c/model/pet.c
  samples/client/petstore/c/model/pet.h
  samples/client/petstore/c/model/tag.h
  samples/client/petstore/c/model/user.h
  samples/client/petstore/c/src/apiClient.c
  samples/client/petstore/c/src/apiKey.c
  samples/client/petstore/c/src/list.c
Labels: Client: C, Enhancement: Code format

#1225 [C] changed base url from static to dynamic
  modules/openapi-generator/src/main/resources/C-libcurl/apiClient.c.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/list.c.mustache
  samples/client/petstore/c/src/apiClient.c
  samples/client/petstore/c/src/list.c
Labels: Client: C, Issue: Bug

#1223 fix export_generator shell script
  bin/utils/export_docs_generators.sh
  bin/utils/export_generator.sh
  docs/generators/groovy.md
  docs/generators/java-inflector.md
  docs/generators/java-msf4j.md
  docs/generators/java-pkmst.md
  docs/generators/java-play-framework.md
  docs/generators/java-undertow-server.md
  docs/generators/java-vertx.md
  docs/generators/jaxrs-cxf-cdi.md
  docs/generators/jaxrs-cxf-client.md
  docs/generators/jaxrs-cxf.md
  docs/generators/jaxrs-jersey.md
  docs/generators/jaxrs-resteasy-eap.md
  docs/generators/jaxrs-resteasy.md
  docs/generators/jaxrs-spec.md
Labels: Enhancement: CI/Test

#1240 [General][CI] fix gradle build error on java9+
  modules/openapi-generator-gradle-plugin/gradle/wrapper/gradle-wrapper.properties
  modules/openapi-generator-gradle-plugin/pom.xml
Labels: Enhancement: CI/Test

#1127 [C#] Fixed issue #1126 with invalid generation of C# children models in allOf clauses
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/resources/csharp/modelGeneric.mustache
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Model/Cat.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Model/Dog.cs
Labels: Client: C-Sharp, Feature: Composition / Inheritance, Issue: Bug

#1241 Add an option to enable file post-processing
  README.md
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConfig.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfigurator.java
Labels: Feature: Generator, Issue: Security

#1254 Fix Gradle download link
  modules/openapi-generator-gradle-plugin/gradle/wrapper/gradle-wrapper.properties
Labels: Enhancement: CI/Test

#1198 Better context errors
  modules/openapi-generator/src/main/resources/rust-server/Cargo.mustache
  modules/openapi-generator/src/main/resources/rust-server/example-client.mustache
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/Cargo.toml
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/examples/client.rs
  samples/server/petstore/rust-server/output/rust-server-test/Cargo.toml
  samples/server/petstore/rust-server/output/rust-server-test/examples/client.rs
Labels: Breaking change (without fallback), Client: Rust, Server: Rust

#1259 Fix jackson-databind (Java) security issue
  modules/openapi-generator/src/main/resources/Groovy/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/pom.mustache
  modules/openapi-generator/src/main/resources/undertow/pom.mustache
  samples/client/petstore/groovy/build.gradle
  samples/client/petstore/java/feign/build.gradle
  samples/client/petstore/java/feign/build.sbt
  samples/client/petstore/java/feign/pom.xml
  samples/client/petstore/java/feign10x/build.gradle
  samples/client/petstore/java/feign10x/build.sbt
  samples/client/petstore/java/feign10x/pom.xml
  samples/client/petstore/java/google-api-client/build.gradle
  samples/client/petstore/java/google-api-client/build.sbt
  samples/client/petstore/java/google-api-client/pom.xml
  samples/client/petstore/java/jersey1/build.gradle
  samples/client/petstore/java/jersey2-java6/build.sbt
  samples/client/petstore/java/jersey2-java6/pom.xml
  samples/client/petstore/java/jersey2-java8/build.gradle
  samples/client/petstore/java/jersey2-java8/build.sbt
  samples/client/petstore/java/jersey2-java8/pom.xml
  samples/client/petstore/java/jersey2/build.gradle
  samples/client/petstore/java/jersey2/build.sbt
  samples/client/petstore/java/jersey2/pom.xml
  samples/client/petstore/java/resteasy/build.gradle
  samples/client/petstore/java/resteasy/build.sbt
  samples/client/petstore/java/resteasy/pom.xml
  samples/client/petstore/java/resttemplate-withXml/build.gradle
  samples/client/petstore/java/resttemplate-withXml/pom.xml
  samples/client/petstore/java/resttemplate/build.gradle
  samples/client/petstore/java/resttemplate/pom.xml
  samples/client/petstore/java/retrofit2-play26/build.gradle
  samples/client/petstore/java/retrofit2-play26/build.sbt
  samples/client/petstore/java/retrofit2-play26/pom.xml
  samples/client/petstore/java/webclient/build.gradle
  samples/client/petstore/java/webclient/pom.xml
Labels: Client: Java, Issue: Security

#1242 Minor revision to the documentation
  CONTRIBUTING.md
  docs/generators/README.md
Labels: Enhancement: Feature, Feature: Documentation

#1279 [CLI] Fix help command
  modules/openapi-generator-cli/pom.xml
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/CompletionCommand.java
Labels: Issue: Bug, OpenAPI Generator CLI

#1235 [cpp-restsdk]Add ref support inside fromProperty
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppRestSdkClientCodegen.java
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/api-header.mustache
  samples/client/petstore/cpp-restsdk/api/PetApi.h
  samples/client/petstore/cpp-restsdk/api/StoreApi.h
  samples/client/petstore/cpp-restsdk/api/UserApi.h
Labels: Client: C++, Issue: Bug

#1268 [Lua] Remove outdated comment
  modules/openapi-generator/src/main/resources/lua/api.mustache
  samples/client/petstore/lua/.openapi-generator/VERSION
  samples/client/petstore/lua/petstore/api/pet_api.lua
  samples/client/petstore/lua/petstore/api/store_api.lua
  samples/client/petstore/lua/petstore/api/user_api.lua
Labels: Client: Lua, Enhancement: Code format

#1165 Don't generate unused ApiException class for java/webclient.
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/api_test.mustache
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/ApiException.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/Configuration.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/Pair.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/webclient/src/test/java/org/openapitools/client/api/AnotherFakeApiTest.java
  samples/client/petstore/java/webclient/src/test/java/org/openapitools/client/api/FakeApiTest.java
  samples/client/petstore/java/webclient/src/test/java/org/openapitools/client/api/FakeClassnameTags123ApiTest.java
  samples/client/petstore/java/webclient/src/test/java/org/openapitools/client/api/PetApiTest.java
  samples/client/petstore/java/webclient/src/test/java/org/openapitools/client/api/StoreApiTest.java
  samples/client/petstore/java/webclient/src/test/java/org/openapitools/client/api/UserApiTest.java
Labels: Client: Java, Enhancement: General

#1280 Add "servers" support to Ruby API client
  bin/openapi3/ruby-client-petstore.sh
  bin/utils/ensure-up-to-date
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/URLPathUtils.java
  modules/openapi-generator/src/main/resources/ruby-client/configuration.mustache
  modules/openapi-generator/src/test/resources/3_0/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/client/petstore/ruby/docs/FakeApi.md
  samples/client/petstore/ruby/docs/StoreApi.md
  samples/client/petstore/ruby/docs/UserApi.md
  samples/client/petstore/ruby/lib/petstore/api/fake_api.rb
  samples/client/petstore/ruby/lib/petstore/api/store_api.rb
  samples/client/petstore/ruby/lib/petstore/api/user_api.rb
  samples/client/petstore/ruby/lib/petstore/configuration.rb
  samples/client/petstore/ruby/lib/petstore/models/body4.rb
  samples/client/petstore/ruby/lib/petstore/models/format_test.rb
  samples/client/petstore/ruby/spec/configuration_spec.rb
Labels: Client: Ruby, Enhancement: Feature, Feature: OAS 3.0 spec support

#1294 Update Scala (akka) dependencies
  modules/openapi-generator/src/main/resources/scala-akka-client/build.sbt.mustache
  modules/openapi-generator/src/main/resources/scala-akka-client/pom.mustache
  samples/client/petstore/scala-akka/.openapi-generator/VERSION
  samples/client/petstore/scala-akka/build.sbt
  samples/client/petstore/scala-akka/pom.xml
Labels: Client: Scala, Issue: Security

#1274 [TypeScript] typescript-axios: Added possibility to add custom axios instance.
  modules/openapi-generator/src/main/resources/typescript-axios/api.mustache
  samples/client/petstore/typescript-axios/builds/default/.openapi-generator/VERSION
  samples/client/petstore/typescript-axios/builds/default/api.ts
  samples/client/petstore/typescript-axios/builds/es6-target/.openapi-generator/VERSION
  samples/client/petstore/typescript-axios/builds/es6-target/api.ts
  samples/client/petstore/typescript-axios/builds/with-interfaces/.openapi-generator/VERSION
  samples/client/petstore/typescript-axios/builds/with-interfaces/api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version/.openapi-generator/VERSION
  samples/client/petstore/typescript-axios/builds/with-npm-version/api.ts
  samples/client/petstore/typescript-axios/tests/default/dist/PetApi.js
  samples/client/petstore/typescript-axios/tests/default/dist/PetApiFactory.js
  samples/client/petstore/typescript-axios/tests/default/dist/StoreApi.js
  samples/client/petstore/typescript-axios/tests/default/dist/StoreApiFactory.js
  samples/client/petstore/typescript-axios/tests/default/test/PetApi.ts
  samples/client/petstore/typescript-axios/tests/default/test/PetApiFactory.ts
  samples/client/petstore/typescript-axios/tests/default/test/StoreApi.ts
  samples/client/petstore/typescript-axios/tests/default/test/StoreApiFactory.ts
Labels: Client: TypeScript, Enhancement: General

#1275 Set isModel property
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenProperty.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Enhancement: General

#1262 [elm] Add support for `additionalProperties`
  modules/openapi-generator/src/main/resources/elm/fieldDecoder.mustache
  modules/openapi-generator/src/main/resources/elm/fieldEncoder.mustache
  modules/openapi-generator/src/main/resources/elm/model.mustache
  modules/openapi-generator/src/main/resources/elm/modelTypeAlias.mustache
  samples/client/petstore/elm-0.18/.openapi-generator/VERSION
  samples/client/petstore/elm-0.18/src/Data/ApiResponse.elm
  samples/client/petstore/elm-0.18/src/Data/Category.elm
  samples/client/petstore/elm-0.18/src/Data/Order_.elm
  samples/client/petstore/elm-0.18/src/Data/Pet.elm
  samples/client/petstore/elm-0.18/src/Data/Tag.elm
  samples/client/petstore/elm-0.18/src/Data/User.elm
  samples/client/petstore/elm/.openapi-generator/VERSION
  samples/client/petstore/elm/src/Data/ApiResponse.elm
  samples/client/petstore/elm/src/Data/Category.elm
  samples/client/petstore/elm/src/Data/Order_.elm
  samples/client/petstore/elm/src/Data/Pet.elm
  samples/client/petstore/elm/src/Data/Tag.elm
  samples/client/petstore/elm/src/Data/User.elm
Labels: Client: Elm, Enhancement: General

#1052 Add file post-processing support for Java generators
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
Labels: Client: Java, Enhancement: Code format

#1130 Add support for using Spring HATEOAS to add links in the spring gener…
  docs/generators/spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-boot/pom.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-cloud/pom.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-mvc/pom.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/model.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/pojo.mustache
Labels: Enhancement: Feature, Server: Java, Server: Spring

#1237 [Java][jaxrs-resteasy] add @Valid when bean validation is enabled
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/api.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/bodyParams.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/eap/api.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/eap/bodyParams.mustache
  samples/server/petstore/jaxrs-resteasy/default/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-resteasy/default/src/gen/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/jaxrs-resteasy/default/src/gen/java/org/openapitools/api/UserApi.java
  samples/server/petstore/jaxrs-resteasy/eap-java8/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-resteasy/eap-java8/src/gen/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/jaxrs-resteasy/eap-java8/src/gen/java/org/openapitools/api/UserApi.java
  samples/server/petstore/jaxrs-resteasy/eap-joda/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-resteasy/eap-joda/src/gen/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/jaxrs-resteasy/eap-joda/src/gen/java/org/openapitools/api/UserApi.java
  samples/server/petstore/jaxrs-resteasy/eap/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-resteasy/eap/src/gen/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/jaxrs-resteasy/eap/src/gen/java/org/openapitools/api/UserApi.java
  samples/server/petstore/jaxrs-resteasy/joda/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-resteasy/joda/src/gen/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/jaxrs-resteasy/joda/src/gen/java/org/openapitools/api/UserApi.java
Labels: Enhancement: General, Server: Java

#1301 fix #1276 by adding colon
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/StaticHtmlGenerator.java
  samples/documentation/html/.openapi-generator/VERSION
  samples/documentation/html/index.html
Labels: Client: HTML, Issue: Non-operational

#1304 Update samples and reenable ensure-up-to-date
  CI/circle_parallel.sh
  docs/generators/lua.md
  samples/client/petstore/ruby/README.md
  samples/client/petstore/ruby/docs/DefaultApi.md
  samples/client/petstore/ruby/docs/Foo.md
  samples/client/petstore/ruby/docs/InlineResponseDefault.md
  samples/client/petstore/ruby/lib/petstore.rb
  samples/client/petstore/ruby/lib/petstore/api/default_api.rb
  samples/client/petstore/ruby/lib/petstore/models/foo.rb
  samples/client/petstore/ruby/lib/petstore/models/inline_response_default.rb
  samples/client/petstore/ruby/spec/api/default_api_spec.rb
  samples/client/petstore/ruby/spec/models/foo_spec.rb
  samples/client/petstore/ruby/spec/models/inline_response_default_spec.rb
Labels: Enhancement: CI/Test

#1303 For erlang-server. add two options: packageName and openAPISpecName
  bin/windows/erlang-petstore-server.bat
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ErlangServerCodegen.java
  modules/openapi-generator/src/main/resources/erlang-server/router.mustache
  samples/server/petstore/erlang-server/.openapi-generator/VERSION
  samples/server/petstore/erlang-server/priv/openapi.json
Labels: Enhancement: Feature, Server: Erlang

#1308 Update python samples and comment out flake8 test
  samples/client/petstore/python-asyncio/.openapi-generator/VERSION
  samples/client/petstore/python-asyncio/docs/Category.md
  samples/client/petstore/python-asyncio/petstore_api/models/category.py
  samples/client/petstore/python-asyncio/test_python3.sh
  samples/client/petstore/python-tornado/.openapi-generator/VERSION
  samples/client/petstore/python-tornado/docs/Category.md
  samples/client/petstore/python-tornado/petstore_api/models/category.py
  samples/client/petstore/python-tornado/test_python2_and_3.sh
  samples/client/petstore/python/.openapi-generator/VERSION
  samples/client/petstore/python/docs/Category.md
  samples/client/petstore/python/petstore_api/models/category.py
  samples/client/petstore/python/test_python2_and_3.sh
Labels: Client: Python, Enhancement: CI/Test

#1115 [Java][Spring] Add bean validation for email data type
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenProperty.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenResponse.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/main/resources/Java/model.mustache
  modules/openapi-generator/src/main/resources/Java/pom.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/beanValidationCore.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/model.mustache
Labels: Enhancement: General, Server: Spring

#1310 [Clojure] Fix tests: stop dashizing props names
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ClojureClientCodegen.java
  pom.xml
  samples/client/petstore/clojure/src/open_api_petstore/api/pet.clj
  samples/client/petstore/clojure/src/open_api_petstore/api/store.clj
  samples/client/petstore/clojure/src/open_api_petstore/specs/order.clj
  samples/client/petstore/clojure/src/open_api_petstore/specs/pet.clj
  samples/client/petstore/clojure/src/open_api_petstore/specs/user.clj
Labels: Client: Clojure, Enhancement: CI/Test, Issue: Bug

#1263 [Slim] Migration to PHP7
  modules/openapi-generator/src/main/resources/php-slim-server/README.mustache
  modules/openapi-generator/src/main/resources/php-slim-server/api_test.mustache
  modules/openapi-generator/src/main/resources/php-slim-server/composer.mustache
  modules/openapi-generator/src/main/resources/php-slim-server/model_test.mustache
  modules/openapi-generator/src/main/resources/php-slim-server/phpunit.xml.mustache
  samples/server/petstore-security-test/php-slim/.openapi-generator/VERSION
  samples/server/petstore-security-test/php-slim/README.md
  samples/server/petstore-security-test/php-slim/composer.json
  samples/server/petstore-security-test/php-slim/composer.lock
  samples/server/petstore-security-test/php-slim/lib/Api/FakeApi.php
  samples/server/petstore-security-test/php-slim/phpunit.xml.dist
  samples/server/petstore-security-test/php-slim/test/Api/FakeApiTest.php
  samples/server/petstore-security-test/php-slim/test/Model/ModelReturnTest.php
  samples/server/petstore/php-slim/composer.json
  samples/server/petstore/php-slim/composer.lock
  samples/server/petstore/php-slim/phpunit.xml.dist
  samples/server/petstore/php-slim/test/Api/AnotherFakeApiTest.php
  samples/server/petstore/php-slim/test/Api/FakeApiTest.php
  samples/server/petstore/php-slim/test/Api/FakeClassnameTags123ApiTest.php
  samples/server/petstore/php-slim/test/Api/PetApiTest.php
  samples/server/petstore/php-slim/test/Api/StoreApiTest.php
  samples/server/petstore/php-slim/test/Api/UserApiTest.php
  samples/server/petstore/php-slim/test/Model/AdditionalPropertiesClassTest.php
  samples/server/petstore/php-slim/test/Model/AnimalFarmTest.php
  samples/server/petstore/php-slim/test/Model/AnimalTest.php
  samples/server/petstore/php-slim/test/Model/ApiResponseTest.php
  samples/server/petstore/php-slim/test/Model/ArrayOfArrayOfNumberOnlyTest.php
  samples/server/petstore/php-slim/test/Model/ArrayOfNumberOnlyTest.php
  samples/server/petstore/php-slim/test/Model/ArrayTestTest.php
  samples/server/petstore/php-slim/test/Model/CapitalizationTest.php
  samples/server/petstore/php-slim/test/Model/CatTest.php
  samples/server/petstore/php-slim/test/Model/CategoryTest.php
  samples/server/petstore/php-slim/test/Model/ClassModelTest.php
  samples/server/petstore/php-slim/test/Model/ClientTest.php
  samples/server/petstore/php-slim/test/Model/DogTest.php
  samples/server/petstore/php-slim/test/Model/EnumArraysTest.php
  samples/server/petstore/php-slim/test/Model/EnumClassTest.php
  samples/server/petstore/php-slim/test/Model/EnumTestTest.php
  samples/server/petstore/php-slim/test/Model/FileSchemaTestClassTest.php
  samples/server/petstore/php-slim/test/Model/FileTest.php
  samples/server/petstore/php-slim/test/Model/FormatTestTest.php
  samples/server/petstore/php-slim/test/Model/HasOnlyReadOnlyTest.php
  samples/server/petstore/php-slim/test/Model/MapTestTest.php
  samples/server/petstore/php-slim/test/Model/MixedPropertiesAndAdditionalPropertiesClassTest.php
  samples/server/petstore/php-slim/test/Model/Model200ResponseTest.php
  samples/server/petstore/php-slim/test/Model/ModelListTest.php
  samples/server/petstore/php-slim/test/Model/ModelReturnTest.php
  samples/server/petstore/php-slim/test/Model/NameTest.php
  samples/server/petstore/php-slim/test/Model/NumberOnlyTest.php
  samples/server/petstore/php-slim/test/Model/OrderTest.php
  samples/server/petstore/php-slim/test/Model/OuterCompositeTest.php
  samples/server/petstore/php-slim/test/Model/OuterEnumTest.php
  samples/server/petstore/php-slim/test/Model/PetTest.php
  samples/server/petstore/php-slim/test/Model/ReadOnlyFirstTest.php
  samples/server/petstore/php-slim/test/Model/SpecialModelNameTest.php
  samples/server/petstore/php-slim/test/Model/StringBooleanMapTest.php
  samples/server/petstore/php-slim/test/Model/TagTest.php
  samples/server/petstore/php-slim/test/Model/UserTest.php
Labels: Breaking change (without fallback), Enhancement: Compatibility, Server: PHP

#1326 removed unused import to fix build
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElixirClientCodegen.java
Labels: Client: Elixir, Enhancement: Code format

#1102 Generator erlang-proper
  bin/erlang-petstore-proper.sh
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ErlangProperCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/erlang-proper/README.mustache
  modules/openapi-generator/src/main/resources/erlang-proper/api.mustache
  modules/openapi-generator/src/main/resources/erlang-proper/app.src.mustache
  modules/openapi-generator/src/main/resources/erlang-proper/gen.mustache
  modules/openapi-generator/src/main/resources/erlang-proper/include.mustache
  modules/openapi-generator/src/main/resources/erlang-proper/model.mustache
  modules/openapi-generator/src/main/resources/erlang-proper/rebar.config.mustache
  modules/openapi-generator/src/main/resources/erlang-proper/statem.hrl.mustache
  modules/openapi-generator/src/main/resources/erlang-proper/statem.mustache
  modules/openapi-generator/src/main/resources/erlang-proper/test.mustache
  modules/openapi-generator/src/main/resources/erlang-proper/utils.mustache
  samples/client/petstore/erlang-proper/.openapi-generator-ignore
  samples/client/petstore/erlang-proper/.openapi-generator/VERSION
  samples/client/petstore/erlang-proper/README.md
  samples/client/petstore/erlang-proper/rebar.config
  samples/client/petstore/erlang-proper/src/model/petstore_api_response.erl
  samples/client/petstore/erlang-proper/src/model/petstore_category.erl
  samples/client/petstore/erlang-proper/src/model/petstore_order.erl
  samples/client/petstore/erlang-proper/src/model/petstore_pet.erl
  samples/client/petstore/erlang-proper/src/model/petstore_tag.erl
  samples/client/petstore/erlang-proper/src/model/petstore_user.erl
  samples/client/petstore/erlang-proper/src/petstore.app.src
  samples/client/petstore/erlang-proper/src/petstore.hrl
  samples/client/petstore/erlang-proper/src/petstore_api.erl
  samples/client/petstore/erlang-proper/src/petstore_gen.erl
  samples/client/petstore/erlang-proper/src/petstore_statem.erl
  samples/client/petstore/erlang-proper/src/petstore_statem.hrl
  samples/client/petstore/erlang-proper/src/petstore_utils.erl
  samples/client/petstore/erlang-proper/test/prop_petstore.erl
Labels: Client: Erlang, Enhancement: New generator

#1335 Test JDK10 in Shippable, fix javadoc issue
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaJerseyServerCodegen.java
  shippable.yml
Labels: Client: Java, Enhancement: Compatibility

#1334 Fix W605 warning and reenable flake8
  modules/openapi-generator/src/main/resources/flaskConnexion/model.mustache
  modules/openapi-generator/src/main/resources/python/api.mustache
  modules/openapi-generator/src/main/resources/python/api_client.mustache
  modules/openapi-generator/src/main/resources/python/model.mustache
  samples/client/petstore/python-asyncio/petstore_api/api/fake_api.py
  samples/client/petstore/python-asyncio/petstore_api/api_client.py
  samples/client/petstore/python-asyncio/petstore_api/models/format_test.py
  samples/client/petstore/python-asyncio/test_python3.sh
  samples/client/petstore/python-tornado/petstore_api/api/fake_api.py
  samples/client/petstore/python-tornado/petstore_api/api_client.py
  samples/client/petstore/python-tornado/petstore_api/models/format_test.py
  samples/client/petstore/python-tornado/test_python2_and_3.sh
  samples/client/petstore/python/petstore_api/api/fake_api.py
  samples/client/petstore/python/petstore_api/api_client.py
  samples/client/petstore/python/petstore_api/models/format_test.py
  samples/client/petstore/python/test_python2_and_3.sh
Labels: Client: Python, Enhancement: CI/Test

#1295 [cpp rest-sdk] Constness
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/model-header.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/model-source.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/modelbase-header.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/modelbase-source.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/object-header.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/object-source.mustache
  samples/client/petstore/cpp-restsdk/.openapi-generator/VERSION
  samples/client/petstore/cpp-restsdk/ApiClient.cpp
  samples/client/petstore/cpp-restsdk/ApiClient.h
  samples/client/petstore/cpp-restsdk/ApiConfiguration.cpp
  samples/client/petstore/cpp-restsdk/ApiConfiguration.h
  samples/client/petstore/cpp-restsdk/ApiException.cpp
  samples/client/petstore/cpp-restsdk/ApiException.h
  samples/client/petstore/cpp-restsdk/HttpContent.cpp
  samples/client/petstore/cpp-restsdk/HttpContent.h
  samples/client/petstore/cpp-restsdk/IHttpBody.h
  samples/client/petstore/cpp-restsdk/JsonBody.cpp
  samples/client/petstore/cpp-restsdk/JsonBody.h
  samples/client/petstore/cpp-restsdk/ModelBase.cpp
  samples/client/petstore/cpp-restsdk/ModelBase.h
  samples/client/petstore/cpp-restsdk/MultipartFormData.cpp
  samples/client/petstore/cpp-restsdk/MultipartFormData.h
  samples/client/petstore/cpp-restsdk/Object.cpp
  samples/client/petstore/cpp-restsdk/Object.h
  samples/client/petstore/cpp-restsdk/api/PetApi.cpp
  samples/client/petstore/cpp-restsdk/api/PetApi.h
  samples/client/petstore/cpp-restsdk/api/StoreApi.cpp
  samples/client/petstore/cpp-restsdk/api/StoreApi.h
  samples/client/petstore/cpp-restsdk/api/UserApi.cpp
  samples/client/petstore/cpp-restsdk/api/UserApi.h
  samples/client/petstore/cpp-restsdk/model/ApiResponse.cpp
  samples/client/petstore/cpp-restsdk/model/ApiResponse.h
  samples/client/petstore/cpp-restsdk/model/Category.cpp
  samples/client/petstore/cpp-restsdk/model/Category.h
  samples/client/petstore/cpp-restsdk/model/Order.cpp
  samples/client/petstore/cpp-restsdk/model/Order.h
  samples/client/petstore/cpp-restsdk/model/Pet.cpp
  samples/client/petstore/cpp-restsdk/model/Pet.h
  samples/client/petstore/cpp-restsdk/model/Tag.cpp
  samples/client/petstore/cpp-restsdk/model/Tag.h
  samples/client/petstore/cpp-restsdk/model/User.cpp
  samples/client/petstore/cpp-restsdk/model/User.h
Labels: Client: C++, Enhancement: General

#1343 Update CXF and Jackson to latest version
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/server/pom.mustache
  samples/client/petstore/jaxrs-cxf-client/pom.xml
  samples/server/petstore/jaxrs-cxf-annotated-base-path/pom.xml
  samples/server/petstore/jaxrs-cxf-non-spring-app/pom.xml
  samples/server/petstore/jaxrs-cxf/pom.xml
Labels: Enhancement: Compatibility, Server: Java
