Repository OpenAPITools/openapi-generator, pull requests merged in 2018-11, with the labels that each got.

#1362 Improve ensure-up-to-date script
  bin/mysql-schema-petstore.sh
  bin/springboot-virtualan-petstore-server.sh
  bin/utils/ensure-up-to-date
  samples/schema/petstore/mysql/.openapi-generator/VERSION
  samples/schema/petstore/mysql/mysql_schema.sql
  samples/server/petstore/springboot-virtualan/.openapi-generator/VERSION
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/api/AnotherFakeApi.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/api/ApiUtil.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/api/FakeApi.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/api/FakeClassnameTestApi.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/api/PetApi.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/api/StoreApi.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/api/UserApi.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/Animal.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/Capitalization.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/Cat.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/Category.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/ClassModel.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/Client.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/Dog.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/EnumArrays.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/EnumTest.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/FormatTest.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/HasOnlyReadOnly.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/MapTest.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/MixedPropertiesAndAdditionalPropertiesClass.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/Model200Response.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/ModelApiResponse.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/ModelReturn.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/Name.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/NumberOnly.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/Order.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/OuterComposite.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/Pet.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/ReadOnlyFirst.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/SpecialModelName.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/Tag.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/User.java
Labels: Enhancement: CI/Test

#1359 [cpp-pistache]Add support for map
  modules/openapi-generator/src/main/resources/cpp-pistache-server/api-source.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-header.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-source.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/modelbase-header.mustache
  samples/server/petstore/cpp-pistache/api/PetApi.h
  samples/server/petstore/cpp-pistache/api/StoreApi.h
  samples/server/petstore/cpp-pistache/api/UserApi.cpp
  samples/server/petstore/cpp-pistache/api/UserApi.h
  samples/server/petstore/cpp-pistache/model/ApiResponse.cpp
  samples/server/petstore/cpp-pistache/model/ApiResponse.h
  samples/server/petstore/cpp-pistache/model/Category.cpp
  samples/server/petstore/cpp-pistache/model/Category.h
  samples/server/petstore/cpp-pistache/model/ModelBase.h
  samples/server/petstore/cpp-pistache/model/Order.cpp
  samples/server/petstore/cpp-pistache/model/Order.h
  samples/server/petstore/cpp-pistache/model/Pet.cpp
  samples/server/petstore/cpp-pistache/model/Pet.h
  samples/server/petstore/cpp-pistache/model/Tag.cpp
  samples/server/petstore/cpp-pistache/model/Tag.h
  samples/server/petstore/cpp-pistache/model/User.cpp
  samples/server/petstore/cpp-pistache/model/User.h
Labels: Issue: Bug, Server: C++

#1319 [Java][okhttp-gson] Add new ApiClient constructors for access token retry
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache
  samples/client/petstore-security-test/java/okhttp-gson/.openapi-generator/VERSION
  samples/client/petstore-security-test/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore-security-test/java/okhttp-gson/src/main/java/org/openapitools/client/model/ModelReturn.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: General

#1332 feat: OpenApi-generation from within eclipse (#509)
  modules/openapi-generator-maven-plugin/pom.xml
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
  modules/openapi-generator-maven-plugin/src/main/resources/META-INF/m2e/lifecycle-mapping-metadata.xml
Labels: Enhancement: Feature, OpenAPI Generator Maven Plugin

#1286 Allow package version to be passed on CLI (Rust fix)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/resources/rust-server/Cargo.mustache
  modules/openapi-generator/src/test/resources/2_0/rust-server/rust-server-test.yaml
  samples/server/petstore/rust-server/output/rust-server-test/Cargo.toml
  samples/server/petstore/rust-server/output/rust-server-test/README.md
  samples/server/petstore/rust-server/output/rust-server-test/api/openapi.yaml
  samples/server/petstore/rust-server/output/rust-server-test/src/lib.rs
Labels: Client: Rust, Enhancement: General, Server: Rust

#1329 Rust server html
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/test/resources/2_0/rust-server/rust-server-test.yaml
  samples/server/petstore/rust-server/output/rust-server-test/README.md
  samples/server/petstore/rust-server/output/rust-server-test/api/openapi.yaml
  samples/server/petstore/rust-server/output/rust-server-test/examples/client.rs
  samples/server/petstore/rust-server/output/rust-server-test/examples/server_lib/server.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/client/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/lib.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/mimetypes.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/server/mod.rs
Labels: Client: Rust, Enhancement: General, Server: Rust

#1382 [Flask] Upgrade to flask-connexion 2.0.0
  modules/openapi-generator/src/main/resources/flaskConnexion/requirements.mustache
  modules/openapi-generator/src/main/resources/flaskConnexion/setup.mustache
  samples/server/petstore/flaskConnexion-python2/.openapi-generator/VERSION
  samples/server/petstore/flaskConnexion-python2/requirements.txt
  samples/server/petstore/flaskConnexion-python2/setup.py
  samples/server/petstore/flaskConnexion/.openapi-generator/VERSION
  samples/server/petstore/flaskConnexion/requirements.txt
  samples/server/petstore/flaskConnexion/setup.py
Labels: Enhancement: General, Server: Python

#1393 Added tests and fix for issue #1392. Fix regex generated in Ruby client.
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractRubyCodegen.java
  modules/openapi-generator/src/main/resources/ruby-client/Gemfile.lock.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/ruby/RubyClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/petstore-with-fake-endpoints-models-for-testing.yaml
  modules/openapi-generator/src/test/resources/3_0/test_regex.yaml
  samples/client/petstore/ruby/Gemfile.lock
  samples/client/petstore/ruby/docs/FormatTest.md
  samples/client/petstore/ruby/lib/petstore/models/format_test.rb
  samples/client/petstore/ruby/spec/models/format_test_spec.rb
  samples/openapi3/client/petstore/php/OpenAPIClient-php/docs/Model/FormatTest.md
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/FormatTest.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/test/Model/FormatTestTest.php
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/model/FormatTest.java
Labels: Client: Ruby, Enhancement: CI/Test, Issue: Bug

#1314 fix name sanitation when using kebab case filenaming
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
Labels: Client: TypeScript, Issue: Bug

#1395 Fix Java exception when using Apex client generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractApexCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ApexClientCodegen.java
  samples/client/petstore/apex/.openapi-generator/VERSION
Labels: Client: Apex, Issue: Bug

#1400 Add file post-processing to Kotlin generators
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
Labels: Client: Kotlin, Enhancement: Code format, Server: Kotlin

#1284 [cpp-qt5] improvements for server and client
  bin/cpp-qt5-petstore.sh
  bin/openapi3/cpp-qt5-petstore.sh
  bin/security/cpp-qt5-petstore.sh
  bin/windows/cpp-qt5-petstore.bat
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppQt5AbstractCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppQt5ClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppQt5QHttpEngineServerCodegen.java
  modules/openapi-generator/src/main/resources/cpp-qt5-client/Project.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/QObjectWrapper.h.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-header.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/helpers-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/helpers-header.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/model-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/model-header.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/modelFactory.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/object.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/object.mustache
  samples/client/petstore/cpp-qt5/PetStore/PetApiTests.cpp
  samples/client/petstore/cpp-qt5/PetStore/PetApiTests.h
  samples/client/petstore/cpp-qt5/client/OAIApiResponse.cpp
  samples/client/petstore/cpp-qt5/client/OAIApiResponse.h
  samples/client/petstore/cpp-qt5/client/OAICategory.cpp
  samples/client/petstore/cpp-qt5/client/OAICategory.h
  samples/client/petstore/cpp-qt5/client/OAIHelpers.cpp
  samples/client/petstore/cpp-qt5/client/OAIHelpers.h
  samples/client/petstore/cpp-qt5/client/OAIModelFactory.h
  samples/client/petstore/cpp-qt5/client/OAIObject.h
  samples/client/petstore/cpp-qt5/client/OAIOrder.cpp
  samples/client/petstore/cpp-qt5/client/OAIOrder.h
  samples/client/petstore/cpp-qt5/client/OAIPet.cpp
  samples/client/petstore/cpp-qt5/client/OAIPet.h
  samples/client/petstore/cpp-qt5/client/OAIPetApi.cpp
  samples/client/petstore/cpp-qt5/client/OAIPetApi.h
  samples/client/petstore/cpp-qt5/client/OAIQObjectWrapper.h
  samples/client/petstore/cpp-qt5/client/OAIStoreApi.cpp
  samples/client/petstore/cpp-qt5/client/OAIStoreApi.h
  samples/client/petstore/cpp-qt5/client/OAITag.cpp
  samples/client/petstore/cpp-qt5/client/OAITag.h
  samples/client/petstore/cpp-qt5/client/OAIUser.cpp
  samples/client/petstore/cpp-qt5/client/OAIUser.h
  samples/client/petstore/cpp-qt5/client/OAIUserApi.cpp
  samples/client/petstore/cpp-qt5/client/OAIUserApi.h
  samples/client/petstore/cpp-qt5/client/client.pri
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIObject.h
Labels: Breaking change (without fallback), Client: C++, Client: QT, Enhancement: Code format, Server: C++

#1403 Set Python's pool_threads default value to 1
  modules/openapi-generator/src/main/resources/python/api_client.mustache
  samples/client/petstore/python-asyncio/.openapi-generator/VERSION
  samples/client/petstore/python-tornado/.openapi-generator/VERSION
  samples/client/petstore/python/.openapi-generator/VERSION
Labels: Breaking change (with fallback), Client: Python, Enhancement: General

#1402 Add file post-processing to PHP generators
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPhpCodegen.java
Labels: Client: PHP, Enhancement: Code format, Server: PHP

#1357 Fixes an issue where code generator for Java produces not compileable code
  modules/openapi-generator/src/main/resources/Java/JSON.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/JSON.mustache
Labels: Client: Java, Issue: Bug

#1289 Add parcelizeModels cli option
  docs/generators/elm.md
  docs/generators/erlang-server.md
  docs/generators/kotlin-server.md
  docs/generators/kotlin-spring.md
  docs/generators/kotlin.md
  docs/generators/rust.md
  docs/generators/spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-client/data_class.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/data_class.mustache
Labels: Client: Kotlin, Enhancement: Feature, Server: Kotlin

#1407 Fix swift4 1406
  modules/openapi-generator/src/main/resources/swift4/APIs.mustache
  modules/openapi-generator/src/main/resources/swift4/AlamofireImplementations.mustache
  modules/openapi-generator/src/main/resources/swift4/CodableHelper.mustache
  modules/openapi-generator/src/main/resources/swift4/Configuration.mustache
  modules/openapi-generator/src/main/resources/swift4/Models.mustache
  samples/client/petstore/swift4/default/.openapi-generator/VERSION
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/APIs.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/APIs/AnotherFakeAPI.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/APIs/FakeAPI.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/APIs/FakeClassnameTags123API.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/APIs/PetAPI.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/APIs/StoreAPI.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/APIs/UserAPI.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/AlamofireImplementations.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/CodableHelper.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Configuration.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/JSONEncodableEncoding.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/JSONEncodingHelper.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/AdditionalPropertiesClass.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/Animal.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/AnimalFarm.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/ApiResponse.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/ArrayOfArrayOfNumberOnly.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/ArrayOfNumberOnly.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/ArrayTest.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/Capitalization.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/Cat.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/Category.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/ClassModel.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/Client.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/Dog.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/EnumArrays.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/EnumClass.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/EnumTest.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/File.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/FileSchemaTestClass.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/FormatTest.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/HasOnlyReadOnly.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/List.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/MapTest.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/MixedPropertiesAndAdditionalPropertiesClass.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/Model200Response.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/Name.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/NumberOnly.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/Order.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/OuterComposite.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/OuterEnum.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/Pet.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/ReadOnlyFirst.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/Return.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/SpecialModelName.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/StringBooleanMap.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/Tag.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Models/User.swift
Labels: Client: Swift, Issue: Bug

#1411 [cpp-qt5] Sanitize Model and API filenames
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppQt5ClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppQt5QHttpEngineServerCodegen.java
Labels: Client: C++, Issue: Bug, Server: C++

#1414 Remove duplicated imports
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/resources/Java/JSON.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/JSON.mustache
  samples/client/petstore/lua/.openapi-generator/VERSION
  samples/client/petstore/lua/petstore/api/pet_api.lua
  samples/client/petstore/lua/petstore/api/store_api.lua
  samples/client/petstore/lua/petstore/api/user_api.lua
Labels: Feature: Generator, Issue: Bug

#1415 Add tip about running online openapi-generator via Docker
  docs/online-openapi-generator.md
Labels: Enhancement: Feature, Feature: Documentation

#1416 Fix NPE when the paramName is null
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Feature: Generator, Issue: Bug

#1418 Fix run-in-docker by disabling useSystemClassLoader
  .travis.yml
  pom.xml
Labels: Docker, Issue: Bug

#1428 Fix issue with C# generator when the model name is "File"
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  samples/client/petstore/csharp/OpenAPIClient/docs/FileSchemaTestClass.md
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Model/FileSchemaTestClass.cs
  samples/client/petstore/csharp/OpenAPIClientNet35/.openapi-generator/VERSION
  samples/client/petstore/csharp/OpenAPIClientNet35/README.md
  samples/client/petstore/csharp/OpenAPIClientNet35/docs/FakeApi.md
  samples/client/petstore/csharp/OpenAPIClientNet35/docs/FileSchemaTestClass.md
  samples/client/petstore/csharp/OpenAPIClientNet35/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp/OpenAPIClientNet35/src/Org.OpenAPITools/Model/FileSchemaTestClass.cs
  samples/client/petstore/csharp/OpenAPIClientNet40/.openapi-generator/VERSION
  samples/client/petstore/csharp/OpenAPIClientNet40/README.md
  samples/client/petstore/csharp/OpenAPIClientNet40/docs/FakeApi.md
  samples/client/petstore/csharp/OpenAPIClientNet40/docs/FileSchemaTestClass.md
  samples/client/petstore/csharp/OpenAPIClientNet40/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp/OpenAPIClientNet40/src/Org.OpenAPITools/Model/FileSchemaTestClass.cs
  samples/client/petstore/csharp/OpenAPIClientNetStandard/.openapi-generator/VERSION
  samples/client/petstore/csharp/OpenAPIClientNetStandard/README.md
  samples/client/petstore/csharp/OpenAPIClientNetStandard/docs/FakeApi.md
  samples/client/petstore/csharp/OpenAPIClientNetStandard/docs/FileSchemaTestClass.md
  samples/client/petstore/csharp/OpenAPIClientNetStandard/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp/OpenAPIClientNetStandard/src/Org.OpenAPITools/Model/FileSchemaTestClass.cs
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/.openapi-generator/VERSION
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/README.md
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/docs/FakeApi.md
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/docs/FileSchemaTestClass.md
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/src/Org.OpenAPITools/Model/FileSchemaTestClass.cs
Labels: Client: C-Sharp, Issue: Bug, Server: C-Sharp

#1426 fix(#1423): [JAVA] generating Map with jaxrs-reasteasy does not import
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaResteasyServerCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/jaxrs/JavaJaxrsResteasyServerCodegenModelTest.java
  samples/server/petstore/jaxrs-resteasy/default/src/gen/java/org/openapitools/model/Category.java
  samples/server/petstore/jaxrs-resteasy/default/src/gen/java/org/openapitools/model/ModelApiResponse.java
  samples/server/petstore/jaxrs-resteasy/default/src/gen/java/org/openapitools/model/Order.java
  samples/server/petstore/jaxrs-resteasy/default/src/gen/java/org/openapitools/model/Pet.java
  samples/server/petstore/jaxrs-resteasy/default/src/gen/java/org/openapitools/model/Tag.java
  samples/server/petstore/jaxrs-resteasy/default/src/gen/java/org/openapitools/model/User.java
  samples/server/petstore/jaxrs-resteasy/joda/src/gen/java/org/openapitools/model/Category.java
  samples/server/petstore/jaxrs-resteasy/joda/src/gen/java/org/openapitools/model/ModelApiResponse.java
  samples/server/petstore/jaxrs-resteasy/joda/src/gen/java/org/openapitools/model/Order.java
  samples/server/petstore/jaxrs-resteasy/joda/src/gen/java/org/openapitools/model/Pet.java
  samples/server/petstore/jaxrs-resteasy/joda/src/gen/java/org/openapitools/model/Tag.java
  samples/server/petstore/jaxrs-resteasy/joda/src/gen/java/org/openapitools/model/User.java
Labels: Issue: Bug, Server: Java

#1438 [Android] Fix compilation errors when there's no model defined
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/resources/android/api.mustache
  modules/openapi-generator/src/main/resources/android/jsonUtil.mustache
  modules/openapi-generator/src/main/resources/android/libraries/volley/api.mustache
  modules/openapi-generator/src/main/resources/android/libraries/volley/jsonUtil.mustache
  samples/client/petstore/android/httpclient/.openapi-generator/VERSION
  samples/client/petstore/android/httpclient/docs/PetApi.md
  samples/client/petstore/android/httpclient/docs/StoreApi.md
  samples/client/petstore/android/httpclient/docs/UserApi.md
  samples/client/petstore/android/httpclient/src/main/java/org/openapitools/client/JsonUtil.java
  samples/client/petstore/android/volley/.openapi-generator/VERSION
  samples/client/petstore/android/volley/docs/PetApi.md
  samples/client/petstore/android/volley/docs/StoreApi.md
  samples/client/petstore/android/volley/docs/UserApi.md
Labels: Client: Android, Issue: Bug

#1439 Test all generators with fake petstore spec 2.0, 3.0
  bin/utils/test-fake-petstore-for-all.sh
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElmClientCodegen.java
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/eap/allowableValues.mustache
  shippable.yml
Labels: Enhancement: CI/Test

#1440 Add file post-processing to C++ client, server generators
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCppCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractScalaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElmClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PerlClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonFlaskConnexionServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift3Codegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift4Codegen.java
  samples/client/petstore/cpp-restsdk/.openapi-generator/VERSION
  samples/client/petstore/cpp-restsdk/ApiClient.cpp
  samples/client/petstore/cpp-restsdk/ApiClient.h
  samples/client/petstore/cpp-restsdk/ApiConfiguration.cpp
  samples/client/petstore/cpp-restsdk/ApiConfiguration.h
  samples/client/petstore/cpp-restsdk/ApiException.cpp
  samples/client/petstore/cpp-restsdk/ApiException.h
  samples/client/petstore/cpp-restsdk/HttpContent.cpp
  samples/client/petstore/cpp-restsdk/HttpContent.h
  samples/client/petstore/cpp-restsdk/IHttpBody.h
  samples/client/petstore/cpp-restsdk/JsonBody.cpp
  samples/client/petstore/cpp-restsdk/JsonBody.h
  samples/client/petstore/cpp-restsdk/ModelBase.cpp
  samples/client/petstore/cpp-restsdk/ModelBase.h
  samples/client/petstore/cpp-restsdk/MultipartFormData.cpp
  samples/client/petstore/cpp-restsdk/MultipartFormData.h
  samples/client/petstore/cpp-restsdk/Object.cpp
  samples/client/petstore/cpp-restsdk/Object.h
  samples/client/petstore/cpp-restsdk/api/PetApi.cpp
  samples/client/petstore/cpp-restsdk/api/PetApi.h
  samples/client/petstore/cpp-restsdk/api/StoreApi.cpp
  samples/client/petstore/cpp-restsdk/api/StoreApi.h
  samples/client/petstore/cpp-restsdk/api/UserApi.cpp
  samples/client/petstore/cpp-restsdk/api/UserApi.h
  samples/client/petstore/cpp-restsdk/model/ApiResponse.cpp
  samples/client/petstore/cpp-restsdk/model/ApiResponse.h
  samples/client/petstore/cpp-restsdk/model/Category.cpp
  samples/client/petstore/cpp-restsdk/model/Category.h
  samples/client/petstore/cpp-restsdk/model/Order.cpp
  samples/client/petstore/cpp-restsdk/model/Order.h
  samples/client/petstore/cpp-restsdk/model/Pet.cpp
  samples/client/petstore/cpp-restsdk/model/Pet.h
  samples/client/petstore/cpp-restsdk/model/Tag.cpp
  samples/client/petstore/cpp-restsdk/model/Tag.h
  samples/client/petstore/cpp-restsdk/model/User.cpp
  samples/client/petstore/cpp-restsdk/model/User.h
Labels: Client: C++, Enhancement: CI/Test, Server: C++

#1256 Fix openapi_types generation error
  modules/openapi-generator/src/main/resources/flaskConnexion/model.mustache
Labels: Issue: Bug, Server: Python

#1459 Skip test file generation
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CLibcurlClientCodegen.java
  modules/openapi-generator/src/main/resources/C-libcurl/CMakeLists.txt.mustache
  samples/client/petstore/c/.openapi-generator-ignore
  samples/client/petstore/c/CMakeLists.txt
  samples/client/petstore/c/api/PetAPI.c
  samples/client/petstore/c/api/StoreAPI.c
  samples/client/petstore/c/model/api_response.c
  samples/client/petstore/c/model/category.c
  samples/client/petstore/c/model/order.c
  samples/client/petstore/c/model/pet.c
  samples/client/petstore/c/model/tag.c
  samples/client/petstore/c/model/user.c
  samples/client/petstore/c/unit-test/test-PetAPI.c
  samples/client/petstore/c/unit-test/test-StoreAPI.c
  samples/client/petstore/c/unit-test/test-UserAPI.c
  samples/client/petstore/c/unit-test/test-api-response.c
  samples/client/petstore/c/unit-test/test-category.c
  samples/client/petstore/c/unit-test/test-order.c
  samples/client/petstore/c/unit-test/test-pet.c
  samples/client/petstore/c/unit-test/test-tag.c
  samples/client/petstore/c/unit-test/test-user.c
Labels: Client: C, Enhancement: General

#1476 Add C template creator to project's README
  README.md
Labels: Enhancement: General

#1478 Fix NPE in the C# Nancy generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNancyFXServerCodegen.java
Labels: Issue: Bug, Server: C-Sharp

#1453 [PHP-Symfony] fix #1272 Fix wrong PHP Symfony typehint
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSymfonyServerCodegen.java
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/Pet.php
Labels: Issue: Bug, Server: PHP

#1477 Fix NPE with `cpp-restsdk` client generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppRestSdkClientCodegen.java
Labels: Client: C++, Issue: Bug

#1479 Fix NPE for Scala Gatling generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaGatlingCodegen.java
Labels: Issue: Bug, Server: Scala

#1492 Better warning message and default value
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/URLPathUtils.java
Labels: Enhancement: General

#1494 Fix typo in Java client's docstring
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Non-operational

#1485 [PHP] Use appDescription in composer.mustache
  modules/openapi-generator/src/main/resources/php/composer.mustache
  samples/client/petstore-security-test/php/OpenAPIClient-php/.openapi-generator/VERSION
  samples/client/petstore-security-test/php/OpenAPIClient-php/composer.json
  samples/client/petstore-security-test/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/client/petstore-security-test/php/OpenAPIClient-php/lib/ApiException.php
  samples/client/petstore-security-test/php/OpenAPIClient-php/lib/Configuration.php
  samples/client/petstore-security-test/php/OpenAPIClient-php/lib/HeaderSelector.php
  samples/client/petstore-security-test/php/OpenAPIClient-php/lib/Model/ModelInterface.php
  samples/client/petstore-security-test/php/OpenAPIClient-php/lib/Model/ModelReturn.php
  samples/client/petstore-security-test/php/OpenAPIClient-php/lib/ObjectSerializer.php
  samples/client/petstore/php/OpenAPIClient-php/composer.json
  samples/openapi3/client/petstore/php/OpenAPIClient-php/composer.json
Labels: Client: PHP, Issue: Bug

#1338 Add utility methods for free-form objects (isFreeFormObject)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenProperty.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenResponse.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElixirClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/KotlinClientCodegenModelTest.java
Labels: Enhancement: General, Feature: Generator

#1511 [cpp rest-sdk] Reponse headers handler
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/api-source.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/apiclient-header.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/apiclient-source.mustache
  samples/client/petstore/cpp-restsdk/.openapi-generator/VERSION
  samples/client/petstore/cpp-restsdk/ApiClient.cpp
  samples/client/petstore/cpp-restsdk/ApiClient.h
  samples/client/petstore/cpp-restsdk/ApiConfiguration.cpp
  samples/client/petstore/cpp-restsdk/ApiConfiguration.h
  samples/client/petstore/cpp-restsdk/ApiException.cpp
  samples/client/petstore/cpp-restsdk/ApiException.h
  samples/client/petstore/cpp-restsdk/HttpContent.cpp
  samples/client/petstore/cpp-restsdk/HttpContent.h
  samples/client/petstore/cpp-restsdk/IHttpBody.h
  samples/client/petstore/cpp-restsdk/JsonBody.cpp
  samples/client/petstore/cpp-restsdk/JsonBody.h
  samples/client/petstore/cpp-restsdk/ModelBase.cpp
  samples/client/petstore/cpp-restsdk/ModelBase.h
  samples/client/petstore/cpp-restsdk/MultipartFormData.cpp
  samples/client/petstore/cpp-restsdk/MultipartFormData.h
  samples/client/petstore/cpp-restsdk/Object.cpp
  samples/client/petstore/cpp-restsdk/Object.h
  samples/client/petstore/cpp-restsdk/api/PetApi.cpp
  samples/client/petstore/cpp-restsdk/api/PetApi.h
  samples/client/petstore/cpp-restsdk/api/StoreApi.cpp
  samples/client/petstore/cpp-restsdk/api/StoreApi.h
  samples/client/petstore/cpp-restsdk/api/UserApi.cpp
  samples/client/petstore/cpp-restsdk/api/UserApi.h
  samples/client/petstore/cpp-restsdk/model/ApiResponse.cpp
  samples/client/petstore/cpp-restsdk/model/ApiResponse.h
  samples/client/petstore/cpp-restsdk/model/Category.cpp
  samples/client/petstore/cpp-restsdk/model/Category.h
  samples/client/petstore/cpp-restsdk/model/Order.cpp
  samples/client/petstore/cpp-restsdk/model/Order.h
  samples/client/petstore/cpp-restsdk/model/Pet.cpp
  samples/client/petstore/cpp-restsdk/model/Pet.h
  samples/client/petstore/cpp-restsdk/model/Tag.cpp
  samples/client/petstore/cpp-restsdk/model/Tag.h
  samples/client/petstore/cpp-restsdk/model/User.cpp
  samples/client/petstore/cpp-restsdk/model/User.h
Labels: Client: C++, Enhancement: General

#1510 Update Elm for elm/http 2.0.0
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElmClientCodegen.java
  modules/openapi-generator/src/main/resources/elm/api.mustache
  modules/openapi-generator/src/main/resources/elm/api018.mustache
  modules/openapi-generator/src/main/resources/elm/elm.mustache
  samples/client/petstore/elm-0.18/.openapi-generator/VERSION
  samples/client/petstore/elm/.openapi-generator/VERSION
  samples/client/petstore/elm/elm.json
  samples/client/petstore/elm/src/Request/Pet.elm
  samples/client/petstore/elm/src/Request/Store.elm
  samples/client/petstore/elm/src/Request/User.elm
Labels: Breaking change (without fallback), Client: Elm, Enhancement: Compatibility, Enhancement: Feature

#1528 [elm] Add support for nested Lists & Dicts
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElmClientCodegen.java
  modules/openapi-generator/src/main/resources/elm/customType.mustache
  modules/openapi-generator/src/main/resources/elm/customTypeDecoder.mustache
  modules/openapi-generator/src/main/resources/elm/customTypeEncoder.mustache
  modules/openapi-generator/src/main/resources/elm/fieldDecoder.mustache
  modules/openapi-generator/src/main/resources/elm/fieldEncoder.mustache
  modules/openapi-generator/src/main/resources/elm/model.mustache
  modules/openapi-generator/src/main/resources/elm/modelTypeAlias.mustache
  modules/openapi-generator/src/main/resources/elm/modelTypeCustom.mustache
  modules/openapi-generator/src/main/resources/elm/modelTypeRecord.mustache
  modules/openapi-generator/src/main/resources/elm/modelTypeUnion.mustache
  modules/openapi-generator/src/main/resources/elm/recordDecoder.mustache
  modules/openapi-generator/src/main/resources/elm/recordEncoder.mustache
  modules/openapi-generator/src/main/resources/elm/recordFieldDecoder.mustache
  modules/openapi-generator/src/main/resources/elm/recordFieldEncoder.mustache
  modules/openapi-generator/src/main/resources/elm/recordFieldType.mustache
  modules/openapi-generator/src/main/resources/elm/recordFieldValueDecoder.mustache
  modules/openapi-generator/src/main/resources/elm/recordFieldValueEncoder.mustache
  samples/client/petstore/elm-0.18/.openapi-generator/VERSION
  samples/client/petstore/elm/.openapi-generator/VERSION
Labels: Client: Elm, Enhancement: Feature, Issue: Bug

#1522 #1506 Bump Zone.js to remove warnings when using angular >=6.
  modules/openapi-generator/src/main/resources/typescript-angular/package.mustache
  samples/client/petstore/typescript-angular-v2/npm/package.json
  samples/client/petstore/typescript-angular-v4.3/npm/package.json
  samples/client/petstore/typescript-angular-v4/npm/package.json
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/package.json
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/package.json
Labels: Client: TypeScript, Enhancement: Compatibility

#1540 [PHP client] Fix README.md template for php
  modules/openapi-generator/src/main/resources/php/README.mustache
  samples/client/petstore-security-test/php/OpenAPIClient-php/README.md
  samples/client/petstore/php/OpenAPIClient-php/README.md
  samples/openapi3/client/petstore/php/OpenAPIClient-php/README.md
Labels: Client: PHP, Enhancement: General

#1516 Add support for UUIDs
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElmClientCodegen.java
  modules/openapi-generator/src/main/resources/elm/Byte.mustache
  modules/openapi-generator/src/main/resources/elm/DateOnly.mustache
  modules/openapi-generator/src/main/resources/elm/DateOnly018.mustache
  modules/openapi-generator/src/main/resources/elm/DateTime.mustache
  modules/openapi-generator/src/main/resources/elm/DateTime018.mustache
  modules/openapi-generator/src/main/resources/elm/elm-package018.mustache
  modules/openapi-generator/src/main/resources/elm/elm.mustache
  modules/openapi-generator/src/main/resources/elm/model.mustache
  modules/openapi-generator/src/main/resources/elm/modelTypeArray.mustache
  modules/openapi-generator/src/main/resources/elm/modelTypeDiscriminator.mustache
  modules/openapi-generator/src/main/resources/elm/modelTypePrimitive.mustache
  modules/openapi-generator/src/main/resources/elm/recordEncoder.mustache
  samples/client/petstore/elm-0.18/elm-package.json
  samples/client/petstore/elm-0.18/src/Byte.elm
  samples/client/petstore/elm-0.18/src/Data/ApiResponse.elm
  samples/client/petstore/elm-0.18/src/Data/Category.elm
  samples/client/petstore/elm-0.18/src/Data/Order_.elm
  samples/client/petstore/elm-0.18/src/Data/Pet.elm
  samples/client/petstore/elm-0.18/src/Data/Tag.elm
  samples/client/petstore/elm-0.18/src/Data/User.elm
  samples/client/petstore/elm-0.18/src/DateOnly.elm
  samples/client/petstore/elm-0.18/src/DateTime.elm
  samples/client/petstore/elm-0.18/src/Request/Pet.elm
  samples/client/petstore/elm-0.18/src/Request/Store.elm
  samples/client/petstore/elm-0.18/src/Request/User.elm
  samples/client/petstore/elm/elm.json
  samples/client/petstore/elm/src/Byte.elm
  samples/client/petstore/elm/src/Data/ApiResponse.elm
  samples/client/petstore/elm/src/Data/Category.elm
  samples/client/petstore/elm/src/Data/Order_.elm
  samples/client/petstore/elm/src/Data/Pet.elm
  samples/client/petstore/elm/src/Data/Tag.elm
  samples/client/petstore/elm/src/Data/User.elm
  samples/client/petstore/elm/src/DateOnly.elm
  samples/client/petstore/elm/src/DateTime.elm
  samples/client/petstore/elm/src/Request/Pet.elm
  samples/client/petstore/elm/src/Request/Store.elm
  samples/client/petstore/elm/src/Request/User.elm
Labels: Breaking change (without fallback), Client: Elm, Enhancement: Feature

#1550 Add online services to the documentation
  README.md
  docs/online-openapi-generator.md
Labels: Enhancement: General, OpenAPI Generator Online

#1537 [elixir] Fixes `BadMapError` for header parameters
  modules/openapi-generator/src/main/resources/elixir/request_builder.ex.mustache
  samples/client/petstore/elixir/lib/openapi_petstore/request_builder.ex
Labels: Client: Elixir, Issue: Bug

#1536 [elixir] Decode list with primitivs
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElixirClientCodegen.java
Labels: Client: Elixir, Issue: Bug

#1534 [elixir] Typespec: Fixes issue with formated primitivs as parameters
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElixirClientCodegen.java
Labels: Client: Elixir, Issue: Bug

#1364 Upgrade the erlang-server dependency from cowboy1.x to cowboy2.x
  modules/openapi-generator/src/main/resources/erlang-server/api.mustache
  modules/openapi-generator/src/main/resources/erlang-server/auth.mustache
  modules/openapi-generator/src/main/resources/erlang-server/default_logic_handler.mustache
  modules/openapi-generator/src/main/resources/erlang-server/handler.mustache
  modules/openapi-generator/src/main/resources/erlang-server/logic_handler.mustache
  modules/openapi-generator/src/main/resources/erlang-server/rebar.config.mustache
  modules/openapi-generator/src/main/resources/erlang-server/server.mustache
  pom.xml
  samples/server/petstore/erlang-server/.openapi-generator/VERSION
  samples/server/petstore/erlang-server/priv/swagger.json
  samples/server/petstore/erlang-server/rebar.config
  samples/server/petstore/erlang-server/src/openapi_api.erl
  samples/server/petstore/erlang-server/src/openapi_auth.erl
  samples/server/petstore/erlang-server/src/openapi_default_logic_handler.erl
  samples/server/petstore/erlang-server/src/openapi_logic_handler.erl
  samples/server/petstore/erlang-server/src/openapi_pet_handler.erl
  samples/server/petstore/erlang-server/src/openapi_server.erl
  samples/server/petstore/erlang-server/src/openapi_store_handler.erl
  samples/server/petstore/erlang-server/src/openapi_user_handler.erl
Labels: Breaking change (without fallback), Enhancement: Compatibility, Server: Erlang

#1521 Fix regexp in ruby-client
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractRubyCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/ruby/RubyClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/test_regex.yaml
  samples/client/petstore/ruby/lib/petstore/models/format_test.rb
Labels: Client: Ruby, Issue: Bug

#1502 Add option to skip maven execution if source is older than output
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
Labels: Enhancement: Feature, OpenAPI Generator Maven Plugin

#1495 Improve error message when the spec is not found
  bin/typescript-angular-v6-petstore-not-provided-in-root-with-npm.sh
  bin/typescript-angular-v6-petstore-not-provided-in-root.sh
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
  modules/openapi-generator-cli/src/test/java/org/openapitools/codegen/cmd/GenerateTest.java
  modules/openapi-generator-cli/src/test/resources/swagger.yaml
Labels: Enhancement: General, OpenAPI Generator CLI

#1341 [Java][okhttp-gson] Add option to employ builders for API requests
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/README.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/api_doc.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/api_test.mustache
  samples/client/petstore-security-test/java/okhttp-gson/.openapi-generator/VERSION
  samples/client/petstore/java/okhttp-gson-parcelableModel/docs/FakeApi.md
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/test/java/org/openapitools/client/api/FakeApiTest.java
  samples/client/petstore/java/okhttp-gson/docs/FakeApi.md
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/api/FakeApiTest.java
Labels: Client: Java, Enhancement: Feature

#1504 [Elixir] fix ":body" handling
  modules/openapi-generator/src/main/resources/elixir/api.mustache
  samples/client/petstore/elixir/lib/openapi_petstore/api/another_fake.ex
  samples/client/petstore/elixir/lib/openapi_petstore/api/fake.ex
  samples/client/petstore/elixir/lib/openapi_petstore/api/fake_classname_tags123.ex
  samples/client/petstore/elixir/lib/openapi_petstore/api/pet.ex
  samples/client/petstore/elixir/lib/openapi_petstore/api/store.ex
  samples/client/petstore/elixir/lib/openapi_petstore/api/user.ex
Labels: Client: Elixir, Issue: Bug

#1564 Kotlin collection type
  docs/generators/kotlin.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/KotlinClientCodegenModelTest.java
Labels: Client: Kotlin, Enhancement: Feature

#1197 [Spring] Add an option to return success code
  docs/generators/spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/examples/ExampleGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/main/resources/JavaSpring/methodBody.mustache
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/AnotherFakeApiDelegate.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/FakeApiDelegate.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/FakeClassnameTestApiDelegate.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/PetApiDelegate.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/StoreApiDelegate.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/UserApiDelegate.java
Labels: Enhancement: Feature, Server: Spring

#1514 [elixir] Typespec - allow null on optional struct-attributes
  modules/openapi-generator/src/main/resources/elixir/model.mustache
  samples/client/petstore/elixir/lib/openapi_petstore/model/additional_properties_class.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/animal.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/api_response.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/array_of_array_of_number_only.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/array_of_number_only.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/array_test.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/capitalization.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/cat.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/category.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/class_model.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/client.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/dog.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/enum_arrays.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/enum_test.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/file_schema_test_class.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/format_test.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/has_only_read_only.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/map_test.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/mixed_properties_and_additional_properties_class.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/model_200_response.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/name.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/number_only.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/order.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/outer_composite.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/pet.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/read_only_first.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/return.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/special_model_name.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/tag.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/user.ex
Labels: Client: Elixir, Issue: Bug

#1508 [cpp-qt5] client response headers and validation of properties for client and server
  modules/openapi-generator/src/main/resources/cpp-qt5-client/HttpRequest.cpp.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/HttpRequest.h.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/helpers-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/helpers-header.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/model-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/model-header.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/object.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/apirequest.cpp.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/helpers-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/helpers-header.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/model-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/model-header.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/object.mustache
  samples/client/petstore/cpp-qt5/PetStore/PetApiTests.cpp
  samples/client/petstore/cpp-qt5/PetStore/PetStore.pro
  samples/client/petstore/cpp-qt5/PetStore/StoreApiTests.cpp
  samples/client/petstore/cpp-qt5/PetStore/StoreApiTests.h
  samples/client/petstore/cpp-qt5/PetStore/main.cpp
  samples/client/petstore/cpp-qt5/client/OAIApiResponse.cpp
  samples/client/petstore/cpp-qt5/client/OAIApiResponse.h
  samples/client/petstore/cpp-qt5/client/OAICategory.cpp
  samples/client/petstore/cpp-qt5/client/OAICategory.h
  samples/client/petstore/cpp-qt5/client/OAIHelpers.cpp
  samples/client/petstore/cpp-qt5/client/OAIHelpers.h
  samples/client/petstore/cpp-qt5/client/OAIHttpRequest.cpp
  samples/client/petstore/cpp-qt5/client/OAIHttpRequest.h
  samples/client/petstore/cpp-qt5/client/OAIObject.h
  samples/client/petstore/cpp-qt5/client/OAIOrder.cpp
  samples/client/petstore/cpp-qt5/client/OAIOrder.h
  samples/client/petstore/cpp-qt5/client/OAIPet.cpp
  samples/client/petstore/cpp-qt5/client/OAIPet.h
  samples/client/petstore/cpp-qt5/client/OAITag.cpp
  samples/client/petstore/cpp-qt5/client/OAITag.h
  samples/client/petstore/cpp-qt5/client/OAIUser.cpp
  samples/client/petstore/cpp-qt5/client/OAIUser.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIApiResponse.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIApiResponse.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAICategory.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAICategory.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIHelpers.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIHelpers.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIObject.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIOrder.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIOrder.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIPet.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIPet.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAITag.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAITag.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIUser.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIUser.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/requests/OAIPetApiRequest.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/requests/OAIStoreApiRequest.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/requests/OAIUserApiRequest.cpp
Labels: Client: C++, Enhancement: General, Server: C++

#1578 Update JS client dependency
  modules/openapi-generator/src/main/resources/Javascript/es6/package.mustache
  modules/openapi-generator/src/main/resources/Javascript/package.mustache
  samples/client/petstore/javascript-es6/README.md
  samples/client/petstore/javascript-es6/package.json
  samples/client/petstore/javascript-es6/src/index.js
  samples/client/petstore/javascript-es6/src/test/model/AnimalFarm.spec.js
  samples/client/petstore/javascript-es6/test/model/AnimalFarm.spec.js
  samples/client/petstore/javascript-es6/test/model/StringBooleanMap.spec.js
  samples/client/petstore/javascript-promise-es6/README.md
  samples/client/petstore/javascript-promise-es6/package.json
  samples/client/petstore/javascript-promise-es6/src/index.js
  samples/client/petstore/javascript-promise-es6/test/model/AnimalFarm.spec.js
  samples/client/petstore/javascript-promise-es6/test/model/StringBooleanMap.spec.js
  samples/client/petstore/javascript-promise/README.md
  samples/client/petstore/javascript-promise/package.json
  samples/client/petstore/javascript-promise/src/index.js
  samples/client/petstore/javascript-promise/test/model/AnimalFarm.spec.js
  samples/client/petstore/javascript-promise/test/model/StringBooleanMap.spec.js
  samples/client/petstore/javascript/README.md
  samples/client/petstore/javascript/package.json
  samples/client/petstore/javascript/src/index.js
  samples/client/petstore/javascript/test/model/AnimalFarm.spec.js
  samples/client/petstore/javascript/test/model/StringBooleanMap.spec.js
Labels: Client: JavaScript/Node.js, Enhancement: Compatibility

#1579 Fix header parameters display in the documentation
  bin/cwiki-petstore.sh
  bin/html-petstore.sh
  modules/openapi-generator/src/main/resources/confluenceWikiDocs/index.mustache
  modules/openapi-generator/src/main/resources/htmlDocs/headerParam.mustache
  modules/openapi-generator/src/main/resources/htmlDocs/index.mustache
  samples/documentation/cwiki/.openapi-generator/VERSION
  samples/documentation/cwiki/confluence-markup.txt
  samples/documentation/html/.openapi-generator/VERSION
  samples/documentation/html/index.html
Labels: Client: HTML, Issue: Bug

#1580 Improve online gen resolution of host for the download link
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/service/GenApiService.java
Labels: Issue: Bug, OpenAPI Generator Online
