Repository OpenAPITools/openapi-generator, pull requests merged in 2018-05, with the labels that each got.

#32 Push images to DockerHub
  .travis.yml
  circle.yml
Labels: Docker, Enhancement: Feature

#38 Fix isPrimitiveType flag for array of form parameters
  .travis.yml
  .travis/settings.xml
  CI/settings.xml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/go/GoClientCodegenTest.java
  samples/client/petstore/go/go-petstore/api_fake.go
  samples/client/petstore/go/go-petstore/docs/FakeApi.md
Labels: Client: Go, Issue: Bug

#40 Add CI test for Elm in travis
  .gitignore
  .travis.yml
  pom.xml
  samples/client/petstore/elm/pom.xml
Labels: Client: Elm, Enhancement: CI/Test

#41 Test Go petstore client in Travis CI
  .travis.yml
  README.md
  appveyor.yml
  pom.xml
  shippable.yml
Labels: Client: Go, Enhancement: CI/Test

#46 Fix an issue with example generator when array is too large
  modules/openapi-generator/src/main/java/org/openapitools/codegen/examples/ExampleGenerator.java
Labels: Feature: Codegen, Issue: Bug

#44 Move online gen from jersey to spring boot
  modules/openapi-generator-online/.openapi-generator-ignore
  modules/openapi-generator-online/.openapi-generator/VERSION
  modules/openapi-generator-online/Dockerfile
  modules/openapi-generator-online/README.md
  modules/openapi-generator-online/pom.xml
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/Bootstrap.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/DynamicConfig.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/OpenAPI2SpringBoot.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/RFC3339DateFormat.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/api/ApiOriginFilter.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/api/ApiUtil.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/api/GenApi.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/api/GenApiController.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/api/GenApiDelegate.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/configuration/HomeController.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/configuration/OpenAPIDocumentationConfig.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/exception/ApiException.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/exception/BadRequestException.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/exception/NotFoundException.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/model/ApiResponse.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/model/Generated.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/model/GeneratorInput.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/model/InputOption.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/model/ResponseCode.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/resource/CodegenResource.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/resource/ExceptionWriter.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/service/GenApiService.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/service/Generator.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/service/ZipUtil.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/util/ApiOriginFilter.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/util/JacksonJsonProvider.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/util/ValidationException.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/util/ValidationMessage.java
  modules/openapi-generator-online/src/main/resources/application.properties
  modules/openapi-generator-online/src/main/resources/logback.xml
  modules/openapi-generator-online/src/main/resources/version.prop
  modules/openapi-generator-online/src/main/webapp/WEB-INF/web.xml
  modules/openapi-generator-online/src/main/webapp/index.html
Labels: Enhancement: General, OpenAPI Generator Online

#54 Minor improvements to OpenAPI Generator Online
  docs/online-openapi-generator.md
  modules/openapi-generator-online/Dockerfile
  modules/openapi-generator-online/sample.json
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/OpenAPI2SpringBoot.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/RFC3339DateFormat.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/api/ApiOriginFilter.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/api/ApiUtil.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/api/GenApi.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/api/GenApiController.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/api/GenApiDelegate.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/configuration/HomeController.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/configuration/OpenAPIDocumentationConfig.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/model/ApiResponse.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/model/Generated.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/model/GeneratorInput.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/model/ResponseCode.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/service/GenApiService.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/service/Generator.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/service/ZipUtil.java
  modules/openapi-generator-online/src/main/resources/application.properties
Labels: Docker, Enhancement: General, OpenAPI Generator Online

#53 [aspnetcore] Update Solution & Project file
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetCoreServerCodegen.java
  modules/openapi-generator/src/main/resources/aspnetcore/NuGet.Config
  modules/openapi-generator/src/main/resources/aspnetcore/Project.csproj.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/Solution.mustache
  samples/server/petstore/aspnetcore/IO.Swagger.sln
  samples/server/petstore/aspnetcore/NuGet.Config
  samples/server/petstore/aspnetcore/Org.OpenAPITools.sln
  samples/server/petstore/aspnetcore/src/IO.Swagger/.gitignore
  samples/server/petstore/aspnetcore/src/IO.Swagger/Attributes/ValidateModelStateAttribute.cs
  samples/server/petstore/aspnetcore/src/IO.Swagger/Controllers/PetApi.cs
  samples/server/petstore/aspnetcore/src/IO.Swagger/Controllers/StoreApi.cs
  samples/server/petstore/aspnetcore/src/IO.Swagger/Controllers/UserApi.cs
  samples/server/petstore/aspnetcore/src/IO.Swagger/Dockerfile
  samples/server/petstore/aspnetcore/src/IO.Swagger/Filters/BasePathFilter.cs
  samples/server/petstore/aspnetcore/src/IO.Swagger/Filters/GeneratePathParamsValidationFilter.cs
  samples/server/petstore/aspnetcore/src/IO.Swagger/IO.Swagger.csproj
  samples/server/petstore/aspnetcore/src/IO.Swagger/Models/ApiResponse.cs
  samples/server/petstore/aspnetcore/src/IO.Swagger/Models/Category.cs
  samples/server/petstore/aspnetcore/src/IO.Swagger/Models/Order.cs
  samples/server/petstore/aspnetcore/src/IO.Swagger/Models/Pet.cs
  samples/server/petstore/aspnetcore/src/IO.Swagger/Models/Tag.cs
  samples/server/petstore/aspnetcore/src/IO.Swagger/Models/User.cs
  samples/server/petstore/aspnetcore/src/IO.Swagger/Program.cs
  samples/server/petstore/aspnetcore/src/IO.Swagger/Properties/launchSettings.json
  samples/server/petstore/aspnetcore/src/IO.Swagger/Startup.cs
  samples/server/petstore/aspnetcore/src/IO.Swagger/appsettings.json
  samples/server/petstore/aspnetcore/src/IO.Swagger/web.config
  samples/server/petstore/aspnetcore/src/IO.Swagger/wwwroot/README.md
  samples/server/petstore/aspnetcore/src/IO.Swagger/wwwroot/index.html
  samples/server/petstore/aspnetcore/src/IO.Swagger/wwwroot/openapi-original.json
  samples/server/petstore/aspnetcore/src/IO.Swagger/wwwroot/swagger-original.json
  samples/server/petstore/aspnetcore/src/IO.Swagger/wwwroot/web.config
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Org.OpenAPITools.csproj
Labels: Enhancement: Compatibility, Server: C-Sharp

#56 [aspnetcore] Fix openapi.json location rename
  modules/openapi-generator/src/main/resources/aspnetcore/Startup.mustache
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Startup.cs
Labels: Issue: Bug, Server: C-Sharp

#58 Fix online generator (docker push)
  .travis.yml
  modules/openapi-generator-online/Dockerfile
  modules/openapi-generator-online/pom.xml
Labels: Docker, Issue: Bug, OpenAPI Generator Online

#55 Improvements to online codegen
  modules/openapi-generator-online/Dockerfile
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/OpenAPI2SpringBoot.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/api/GenApi.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/api/GenApiController.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/configuration/HomeController.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/configuration/OpenAPIDocumentationConfig.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/model/GeneratorInput.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/service/Generator.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/service/ZipUtil.java
  modules/openapi-generator-online/src/main/resources/application.properties
Labels: Docker, Enhancement: General

#61 Remove examples comment from swift3 and swift4 client
  modules/openapi-generator/src/main/resources/swift3/api.mustache
  modules/openapi-generator/src/main/resources/swift4/api.mustache
  samples/client/petstore/swift3/default/PetstoreClient/Classes/OpenAPIs/APIs/AnotherFakeAPI.swift
  samples/client/petstore/swift3/default/PetstoreClient/Classes/OpenAPIs/APIs/FakeAPI.swift
  samples/client/petstore/swift3/default/PetstoreClient/Classes/OpenAPIs/APIs/FakeClassnameTags123API.swift
  samples/client/petstore/swift3/default/PetstoreClient/Classes/OpenAPIs/APIs/PetAPI.swift
  samples/client/petstore/swift3/default/PetstoreClient/Classes/OpenAPIs/APIs/StoreAPI.swift
  samples/client/petstore/swift3/default/PetstoreClient/Classes/OpenAPIs/APIs/UserAPI.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/APIs/AnotherFakeAPI.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/APIs/FakeAPI.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/APIs/FakeClassnameTags123API.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/APIs/PetAPI.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/APIs/StoreAPI.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/APIs/UserAPI.swift
Labels: Client: Swift

#64 Fix COPY in Dockerfile
  modules/openapi-generator-online/Dockerfile
Labels: Docker, Issue: Bug, OpenAPI Generator Online

#77 [Kotlin] Sanitize enum varname
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/AbstractKotlinCodegenTest.java
Labels: Client: Kotlin, Issue: Bug

#81 [haskell-http-client] update dependency versions + readme
  modules/openapi-generator/src/main/resources/haskell-http-client/README.mustache
  modules/openapi-generator/src/main/resources/haskell-http-client/haskell-http-client.cabal.mustache
  modules/openapi-generator/src/main/resources/haskell-http-client/stack.mustache
  samples/client/petstore/haskell-http-client/README.md
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-Client.html
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-Core.html
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-Logging.html
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-MimeTypes.html
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-Model.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.AnotherFake.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.Fake.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.FakeClassnameTags123.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.Pet.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.Store.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.User.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.Client.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.Core.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.Logging.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.MimeTypes.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.Model.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.ModelLens.html
  samples/client/petstore/haskell-http-client/docs/src/Paths_openapi_petstore.html
  samples/client/petstore/haskell-http-client/example-app/openapi-petstore-app.cabal
  samples/client/petstore/haskell-http-client/openapi-petstore.cabal
  samples/client/petstore/haskell-http-client/stack.yaml
  samples/client/petstore/haskell-http-client/tests-integration/openapi-petstore-tests-integration.cabal
Labels: Client: Haskell, Enhancement: General

#78 Fix Elm generator for polymorphism
  modules/openapi-generator/src/main/resources/elm/aliasDecoder.mustache
  modules/openapi-generator/src/main/resources/elm/aliasEncoder.mustache
  modules/openapi-generator/src/main/resources/elm/model.mustache
  modules/openapi-generator/src/main/resources/elm/modelTypeAlias.mustache
  modules/openapi-generator/src/main/resources/elm/modelTypeArray.mustache
Labels: Client: Elm, Feature: Composition / Inheritance, Issue: Bug

#84 Fix javadoc issues in "openapi-generator" module
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/StaticHtml2Generator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/URLPathUtils.java
Labels: Enhancement: Code format

#65 Set parameters allowableValues dynamically
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/api/GenApi.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/configuration/ParameterAllowableValuesPlugin.java
Labels: Enhancement: General, OpenAPI Generator Online

#110 [aspnetcore] Make the use of Swashbuckle optional
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetCoreServerCodegen.java
  modules/openapi-generator/src/main/resources/aspnetcore/Filters/BasePathFilter.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/Program.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/Project.csproj.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/README.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/Solution.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/Startup.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/build.bat.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/build.sh.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/controller.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/model.mustache
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/PetApi.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/StoreApi.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/UserApi.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Filters/BasePathFilter.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Models/ApiResponse.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Models/Category.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Models/Order.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Models/Pet.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Models/Tag.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Models/User.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Program.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Startup.cs
Labels: Enhancement: Feature, Server: C-Sharp

#134 resteasy: fix string comparison
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaResteasyEapServerCodegen.java
  samples/server/petstore/jaxrs-resteasy/eap-java8/src/gen/java/org/openapitools/model/Category.java
  samples/server/petstore/jaxrs-resteasy/eap-java8/src/gen/java/org/openapitools/model/ModelApiResponse.java
  samples/server/petstore/jaxrs-resteasy/eap-java8/src/gen/java/org/openapitools/model/Order.java
  samples/server/petstore/jaxrs-resteasy/eap-java8/src/gen/java/org/openapitools/model/Pet.java
  samples/server/petstore/jaxrs-resteasy/eap-java8/src/gen/java/org/openapitools/model/Tag.java
  samples/server/petstore/jaxrs-resteasy/eap-java8/src/gen/java/org/openapitools/model/User.java
  samples/server/petstore/jaxrs-resteasy/eap-joda/src/gen/java/org/openapitools/model/Category.java
  samples/server/petstore/jaxrs-resteasy/eap-joda/src/gen/java/org/openapitools/model/ModelApiResponse.java
  samples/server/petstore/jaxrs-resteasy/eap-joda/src/gen/java/org/openapitools/model/Order.java
  samples/server/petstore/jaxrs-resteasy/eap-joda/src/gen/java/org/openapitools/model/Pet.java
  samples/server/petstore/jaxrs-resteasy/eap-joda/src/gen/java/org/openapitools/model/Tag.java
  samples/server/petstore/jaxrs-resteasy/eap-joda/src/gen/java/org/openapitools/model/User.java
  samples/server/petstore/jaxrs-resteasy/eap/src/gen/java/org/openapitools/model/Category.java
  samples/server/petstore/jaxrs-resteasy/eap/src/gen/java/org/openapitools/model/ModelApiResponse.java
  samples/server/petstore/jaxrs-resteasy/eap/src/gen/java/org/openapitools/model/Order.java
  samples/server/petstore/jaxrs-resteasy/eap/src/gen/java/org/openapitools/model/Pet.java
  samples/server/petstore/jaxrs-resteasy/eap/src/gen/java/org/openapitools/model/Tag.java
  samples/server/petstore/jaxrs-resteasy/eap/src/gen/java/org/openapitools/model/User.java
Labels: Server: Java

#136 Add 'bin/ensure-up-to-date' script and update Shippable CI
  CI/pom.xml.shippable
  bin/ensure-up-to-date
  samples/client/petstore/kotlin/README.md
  samples/client/petstore/ruby/docs/FakeApi.md
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/models/Order.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/models/Pet.kt
  shippable.yml
Labels: Enhancement: CI/Test

#92 [Spring] Create a default implementation of delegate if none could be autowired
  modules/openapi-generator/src/main/resources/JavaSpring/api.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/apiController.mustache
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/api/AnotherFakeApi.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/api/AnotherFakeApiController.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/api/FakeApiController.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/api/FakeClassnameTestApi.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/api/FakeClassnameTestApiController.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/api/PetApiController.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/api/StoreApiController.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/api/UserApi.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/api/UserApiController.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/api/AnotherFakeApiController.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/api/FakeApiController.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/api/FakeClassnameTestApiController.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/api/PetApiController.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/api/StoreApiController.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/api/UserApiController.java
Labels: Enhancement: General, Server: Java, Server: Spring

#74 DefaultGenerator: ignore only form param schemas
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/utils/ModelUtilsTest.java
  modules/openapi-generator/src/test/resources/2_0/globalProducesConsumesTest.yaml
  modules/openapi-generator/src/test/resources/3_0/unusedSchemas.yaml
Labels: Issue: Bug

#140 Fixes javadoc warnings in GenApiDelegate
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/api/GenApiDelegate.java
Labels: Enhancement: Code format

#123 Update swagger-parser to 2.0.1
  CI/pom.xml.bash
  CI/pom.xml.circleci
  CI/pom.xml.circleci.java7
  CI/pom.xml.ios
  CI/pom.xml.shippable
  pom.xml
Labels: Enhancement: General

#148 Update clojure petstore batch file to use petstore.json
  bin/windows/clojure-petstore.bat
Labels: Client: Clojure, Enhancement: CI/Test

#155 Add PHP scripts to `bin/ensure-up-to-date`
  bin/ensure-up-to-date
  samples/client/petstore/php/OpenAPIClient-php/docs/Api/FakeApi.md
  samples/openapi3/client/petstore/php/OpenAPIClient-php/docs/Api/FakeApi.md
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/FormatTest.php
Labels: Client: PHP, Enhancement: CI/Test

#151 JavaDoc fixes for Java/RESTEasy client
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/JSON.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/pom.mustache
  samples/client/petstore/java/resteasy/pom.xml
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Enhancement: Code format

#90 Delete fromModel(String, Schema)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConfig.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractEiffelCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/csharp/CSharpModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/go/GoModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaModelEnumTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/javascript/JavascriptClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/KotlinClientCodegenModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/objc/ObjcModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/php/PhpModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/scalaakka/ScalaAkkaClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/scalahttpclient/ScalaHttpClientModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/swift3/Swift3ModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/swift4/Swift4ModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/fetch/TypeScriptFetchModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/typescriptangular/TypeScriptAngularModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/typescriptangularjs/TypeScriptAngularJsModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/typescriptnode/TypeScriptNodeModelTest.java
Labels: Breaking change (without fallback), Feature: Generator

#163 Java client: Add constants for libraries
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
Labels: Client: Java, Enhancement: Code format

#102 [TypeScript] Make OpenAPI Generator serialize subclasses properly
  modules/openapi-generator/src/main/resources/typescript-node/api.mustache
  samples/client/petstore/typescript-node/default/api.ts
Labels: Client: TypeScript, Feature: Composition / Inheritance, Issue: Bug

#165 Add PHP server batch files
  bin/windows/php-lumen-petstore-server.bat
  bin/windows/php-silex-petstore-server.bat
  bin/windows/php-slim-petstore-server.bat
  bin/windows/php-symfony-petstore-server.bat
  bin/windows/php-ze-ph-petstore-server.bat
  samples/server/petstore/spring-mvc-j8-async/src/main/resources/openapi.properties
  samples/server/petstore/spring-mvc-j8-localdatetime/src/main/resources/openapi.properties
  samples/server/petstore/spring-mvc/src/main/resources/openapi.properties
Labels: Enhancement: CI/Test, Server: PHP

#169 Update PHP samples
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/AdditionalPropertiesClass.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/Animal.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/ApiResponse.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/ArrayOfArrayOfNumberOnly.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/ArrayOfNumberOnly.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/ArrayTest.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/Capitalization.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/Cat.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/Category.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/ClassModel.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/Client.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/Dog.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/EnumArrays.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/EnumTest.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/FormatTest.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/HasOnlyReadOnly.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/MapTest.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/MixedPropertiesAndAdditionalPropertiesClass.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/Model200Response.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/ModelList.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/ModelReturn.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/Name.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/NumberOnly.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/Order.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/OuterComposite.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/Pet.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/ReadOnlyFirst.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/SpecialModelName.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/Tag.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/User.php
Labels: Client: PHP, Enhancement: CI/Test

#170 Add a section about body parameter name in the migration guide
  docs/migration-from-swagger-codegen.md
Labels: Feature: Documentation

#160 Fix issue with useBeanValidation
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CliOption.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaJAXRSServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaJAXRSCXFCDIServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaResteasyEapServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
Labels: Issue: Bug, OpenAPI CLI, Server: Java, Server: Spring

#171 [elm] Fix operations with empty responses
  modules/openapi-generator/src/main/resources/elm/api.mustache
Labels: Client: Elm, Issue: Bug

#172 Cli error message improvements
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/OpenAPIGenerator.java
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/ConfigHelp.java
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Validate.java
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/ValidateException.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConfigLoader.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/GeneratorNotFoundException.java
Labels: Enhancement: General, OpenAPI CLI

#173 Re-enable go test in CircleCI
  CI/pom.xml.circleci
Labels: Client: Go, Enhancement: CI/Test

#179 [JAVA] Add import to models for jaxrs-reasteasy-eap
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaResteasyEapServerCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/jaxrs/JavaResteasyEapServerCodegenModelTest.java
Labels: Issue: Bug, Server: Java

#182 Docker: use correct MAVEN_CONFIG
  docker-entrypoint.sh
Labels: Docker, Issue: Bug
