Repository OpenAPITools/openapi-generator, pull requests merged in 2019-09, with the labels that each got.

#3809 [Dart] Fix README template and update testing doco
  .github/.test/samples.json
  bin/dart-flutter-petstore.sh
  bin/utils/ensure-up-to-date
  modules/openapi-generator/src/main/resources/dart2/README.mustache
  samples/client/petstore/dart2/openapi/README.md
  samples/client/petstore/dart2/petstore/README.md
  samples/client/petstore/dart2/petstore/pubspec.yaml
Labels: Client: Dart, Enhancement: CI/Test

#3818 Add gRPC Protobuf schema generator
  bin/grpc-schema-petstore.sh
  bin/windows/grpc-schema-petstore.bat
  docs/generators.md
  docs/generators/grpc-schema.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GrpcSchemaCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/grpc-schema/README.mustache
  modules/openapi-generator/src/main/resources/grpc-schema/api.mustache
  modules/openapi-generator/src/main/resources/grpc-schema/git_push.sh.mustache
  modules/openapi-generator/src/main/resources/grpc-schema/gitignore.mustache
  modules/openapi-generator/src/main/resources/grpc-schema/model.mustache
  modules/openapi-generator/src/main/resources/grpc-schema/partial_header.mustache
  modules/openapi-generator/src/main/resources/grpc-schema/root.mustache
  samples/config/petstore/grpc-schema/.openapi-generator-ignore
  samples/config/petstore/grpc-schema/.openapi-generator/VERSION
  samples/config/petstore/grpc-schema/README.md
  samples/config/petstore/grpc-schema/models/api_response.proto
  samples/config/petstore/grpc-schema/models/category.proto
  samples/config/petstore/grpc-schema/models/order.proto
  samples/config/petstore/grpc-schema/models/pet.proto
  samples/config/petstore/grpc-schema/models/tag.proto
  samples/config/petstore/grpc-schema/models/user.proto
  samples/config/petstore/grpc-schema/services/pet_service.proto
  samples/config/petstore/grpc-schema/services/store_service.proto
  samples/config/petstore/grpc-schema/services/user_service.proto
Labels: Enhancement: New generator, Schema: gRPC/ProtoBuf

#3440 1792 fix remote spec handling and hash calculation
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
Labels: Issue: Bug, OpenAPI Generator Maven Plugin

#3821 Issue: 1347 Fixed bug where nullApi.java is generated instead of DefaultApi.java.
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaJAXRSSpecServerCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/jaxrs/JavaJAXRSSpecServerCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_1347.yaml
Labels: Issue: Bug, Server: Java

#3812 Bug #2845 typescript angular inheritance
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
Labels: Client: TypeScript, Feature: Composition / Inheritance, Issue: Bug

#3831 Fix warnings in the csharp-netcore client
  modules/openapi-generator/src/main/resources/csharp-netcore/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/Configuration.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/Configuration.cs
Labels: Client: C-Sharp, Enhancement: Compatibility

#3834 [C#] [netcore] Add missing files to the form request
  modules/openapi-generator/src/main/resources/csharp-netcore/ApiClient.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools.Test/Api/PetApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/ApiClient.cs
Labels: Client: C-Sharp, Issue: Bug

#3847 [client][go] Avoid duplicated reflect imports
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
Labels: Client: Go

#3854 maven-plugin-plugin 3.6.0
  modules/openapi-generator-maven-plugin/pom.xml
Labels: Enhancement: Compatibility, OpenAPI Generator Maven Plugin

#3837 [C++][Pistache] Add missing setter for arrays
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-header.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-source.mustache
  samples/server/petstore/cpp-pistache/.openapi-generator/VERSION
  samples/server/petstore/cpp-pistache/model/Pet.cpp
  samples/server/petstore/cpp-pistache/model/Pet.h
Labels: Enhancement: General, Server: C++

#3849 typescript-inversify: improve check for required parameters, support multiple media types
  modules/openapi-generator/src/main/resources/typescript-inversify/HttpClient.mustache
  modules/openapi-generator/src/main/resources/typescript-inversify/IHttpClient.mustache
  modules/openapi-generator/src/main/resources/typescript-inversify/api.service.mustache
  samples/client/petstore/typescript-inversify/HttpClient.ts
  samples/client/petstore/typescript-inversify/IHttpClient.ts
  samples/client/petstore/typescript-inversify/api/pet.service.ts
  samples/client/petstore/typescript-inversify/api/store.service.ts
  samples/client/petstore/typescript-inversify/api/user.service.ts
  samples/client/petstore/typescript-inversify/model/inlineObject.ts
  samples/client/petstore/typescript-inversify/model/inlineObject1.ts
Labels: Client: TypeScript, Issue: Bug

#3489 [typescript-angular] allow empty string basePath
  modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache
  samples/client/petstore/typescript-angular-v2/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v2/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v2/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v2/npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v2/npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v2/npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/pet.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/store.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/user.service.ts
  samples/client/petstore/typescript-angular-v4.3/npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v4.3/npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v4.3/npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v4/npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v4/npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v4/npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/tests/default/src/test/configuration.spec.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api/user.service.ts
Labels: Client: TypeScript

#3817 Fix/r/serialization fix and minor 3xx resp fix
  modules/openapi-generator/src/main/resources/r/api.mustache
  modules/openapi-generator/src/main/resources/r/model.mustache
  samples/client/petstore/R/R/pet.R
  samples/client/petstore/R/R/pet_api.R
  samples/client/petstore/R/R/store_api.R
  samples/client/petstore/R/R/user_api.R
Labels: Client: R, Issue: Bug

#3866 typescript-axios: Fix baseoptions
  modules/openapi-generator/src/main/resources/typescript-axios/configuration.mustache
  samples/client/petstore/typescript-axios/builds/default/configuration.ts
  samples/client/petstore/typescript-axios/builds/es6-target/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-complex-headers/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-interfaces/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version/configuration.ts
Labels: Client: TypeScript

#3864 Rename gRPC generator to "protobuf-schema"
  README.md
  bin/protobuf-schema-petstore.sh
  bin/windows/protobuf-schema-petstore.bat
  docs/generators.md
  docs/generators/protobuf-schema.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ProtobufSchemaCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/protobuf-schema/README.mustache
  modules/openapi-generator/src/main/resources/protobuf-schema/api.mustache
  modules/openapi-generator/src/main/resources/protobuf-schema/git_push.sh.mustache
  modules/openapi-generator/src/main/resources/protobuf-schema/gitignore.mustache
  modules/openapi-generator/src/main/resources/protobuf-schema/model.mustache
  modules/openapi-generator/src/main/resources/protobuf-schema/partial_header.mustache
  modules/openapi-generator/src/main/resources/protobuf-schema/root.mustache
  samples/config/petstore/protobuf-schema/.openapi-generator-ignore
  samples/config/petstore/protobuf-schema/.openapi-generator/VERSION
  samples/config/petstore/protobuf-schema/README.md
  samples/config/petstore/protobuf-schema/models/api_response.proto
  samples/config/petstore/protobuf-schema/models/category.proto
  samples/config/petstore/protobuf-schema/models/order.proto
  samples/config/petstore/protobuf-schema/models/pet.proto
  samples/config/petstore/protobuf-schema/models/tag.proto
  samples/config/petstore/protobuf-schema/models/user.proto
  samples/config/petstore/protobuf-schema/services/pet_service.proto
  samples/config/petstore/protobuf-schema/services/store_service.proto
  samples/config/petstore/protobuf-schema/services/user_service.proto
Labels: Schema: ProtoBuf

#3860 java-spring: Spring Boot fails to parse LocalDate query parameter
  modules/openapi-generator/src/main/resources/JavaSpring/queryParams.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_2053.yaml
Labels: Server: Spring

#3882 updated google-api-client version from 1.23.0 to 1.30.2. Bugfix #3625
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/pom.mustache
  samples/client/petstore/java/google-api-client/pom.xml
Labels: Client: Java, Enhancement: Compatibility

#3879 Add Nim client code generator
  README.md
  bin/nim-client-petstore.sh
  bin/utils/ensure-up-to-date
  bin/windows/nim-client-petstore.bat
  docs/generators.md
  docs/generators/nim.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/NimClientCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/nim-client/README.mustache
  modules/openapi-generator/src/main/resources/nim-client/api.mustache
  modules/openapi-generator/src/main/resources/nim-client/config.mustache
  modules/openapi-generator/src/main/resources/nim-client/header.mustache
  modules/openapi-generator/src/main/resources/nim-client/lib.mustache
  modules/openapi-generator/src/main/resources/nim-client/model.mustache
  modules/openapi-generator/src/main/resources/nim-client/sample_client.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/nim/NimClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/NimClientCodegenOptionsProvider.java
  samples/client/petstore/nim/.openapi-generator-ignore
  samples/client/petstore/nim/.openapi-generator/VERSION
  samples/client/petstore/nim/README.md
  samples/client/petstore/nim/config.nim
  samples/client/petstore/nim/petstore.nim
  samples/client/petstore/nim/petstore/apis/api_pet.nim
  samples/client/petstore/nim/petstore/apis/api_store.nim
  samples/client/petstore/nim/petstore/apis/api_user.nim
  samples/client/petstore/nim/petstore/models/model_api_response.nim
  samples/client/petstore/nim/petstore/models/model_category.nim
  samples/client/petstore/nim/petstore/models/model_order.nim
  samples/client/petstore/nim/petstore/models/model_pet.nim
  samples/client/petstore/nim/petstore/models/model_tag.nim
  samples/client/petstore/nim/petstore/models/model_user.nim
  samples/client/petstore/nim/sample_client.nim
Labels: Enhancement: New generator, Feature: Generator

#3883 Various minor improvements to the nim client generator
  docs/generators.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/NimClientCodegen.java
Labels: Client: Nim, Enhancement: General

#3871 Change Uint8list by List<int> because it cause trouble with last versions of jaguar
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartJaguarClientCodegen.java
  samples/client/petstore/dart-jaguar/flutter_petstore/openapi/lib/api/pet_api.dart
  samples/client/petstore/dart-jaguar/flutter_proto_petstore/openapi/lib/api/pet_api.dart
  samples/client/petstore/dart-jaguar/openapi/lib/api/pet_api.dart
  samples/client/petstore/dart-jaguar/openapi_proto/lib/api/pet_api.dart
Labels: Client: Dart, Issue: Bug

#3845 asciidoc markup generator
  README.md
  bin/asciidoc-documentation-petstore.sh
  bin/windows/asciidoc-documentation-petstore.bat
  docs/generators.md
  docs/generators/asciidoc.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AsciidocDocumentationCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/asciidoc-documentation/index.mustache
  modules/openapi-generator/src/main/resources/asciidoc-documentation/model.mustache
  modules/openapi-generator/src/main/resources/asciidoc-documentation/param.mustache
  modules/openapi-generator/src/main/resources/asciidoc-documentation/params.mustache
  modules/openapi-generator/src/main/resources/asciidoc-documentation/stubs/empty.adoc
  modules/openapi-generator/src/test/java/org/openapitools/codegen/asciidoc/AsciidocGeneratorTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/asciidoc/AsciidocSampleGeneratorTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/asciidoc/IncludeMarkupFilterTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/asciidoc/LinkMarkupFilterTest.java
  modules/openapi-generator/src/test/resources/3_0/asciidoc/api-docs.json
  modules/openapi-generator/src/test/resources/3_0/asciidoc/generated-snippets/rest/project/GET/GET.json
  modules/openapi-generator/src/test/resources/3_0/asciidoc/generated-snippets/rest/project/GET/curl-request.adoc
  modules/openapi-generator/src/test/resources/3_0/asciidoc/generated-snippets/rest/project/GET/http-request.adoc
  modules/openapi-generator/src/test/resources/3_0/asciidoc/generated-snippets/rest/project/GET/http-response.adoc
  modules/openapi-generator/src/test/resources/3_0/asciidoc/generated-snippets/rest/project/GET/httpie-request.adoc
  modules/openapi-generator/src/test/resources/3_0/asciidoc/generated-snippets/rest/project/GET/request-body.adoc
  modules/openapi-generator/src/test/resources/3_0/asciidoc/generated-snippets/rest/project/GET/response-body.adoc
  modules/openapi-generator/src/test/resources/3_0/asciidoc/specs/rest/project/GET/implementation.adoc
  modules/openapi-generator/src/test/resources/3_0/asciidoc/specs/rest/project/GET/spec.adoc
  samples/documentation/asciidoc/.openapi-generator-ignore
  samples/documentation/asciidoc/.openapi-generator/VERSION
  samples/documentation/asciidoc/index.adoc
Labels: Enhancement: New generator

#3889 Minor improvement to asciidoc doc generator
  bin/asciidoc-documentation-petstore.sh
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AsciidocDocumentationCodegen.java
  samples/documentation/asciidoc/.openapi-generator/VERSION
  samples/documentation/asciidoc/index.adoc
Labels: Doc: AsciiDco, Enhancement: General

#3031 [Kotlin][server] Add kotlin-vertx-server
  bin/kotlin-vertx-server-petstore.sh
  bin/windows/kotlin-vertx-server-petstore.bat
  docs/generators.md
  docs/generators/kotlin-vertx.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinVertxServerCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/kotlin-vertx-server/README.mustache
  modules/openapi-generator/src/main/resources/kotlin-vertx-server/api.mustache
  modules/openapi-generator/src/main/resources/kotlin-vertx-server/apiProxy.mustache
  modules/openapi-generator/src/main/resources/kotlin-vertx-server/api_doc.mustache
  modules/openapi-generator/src/main/resources/kotlin-vertx-server/api_verticle.mustache
  modules/openapi-generator/src/main/resources/kotlin-vertx-server/class_doc.mustache
  modules/openapi-generator/src/main/resources/kotlin-vertx-server/data_class.mustache
  modules/openapi-generator/src/main/resources/kotlin-vertx-server/data_class_opt_var.mustache
  modules/openapi-generator/src/main/resources/kotlin-vertx-server/data_class_req_var.mustache
  modules/openapi-generator/src/main/resources/kotlin-vertx-server/enumClass.mustache
  modules/openapi-generator/src/main/resources/kotlin-vertx-server/enum_class.mustache
  modules/openapi-generator/src/main/resources/kotlin-vertx-server/enum_doc.mustache
  modules/openapi-generator/src/main/resources/kotlin-vertx-server/licenseInfo.mustache
  modules/openapi-generator/src/main/resources/kotlin-vertx-server/model.mustache
  modules/openapi-generator/src/main/resources/kotlin-vertx-server/pom.mustache
Labels: Enhancement: New generator, Server: Kotlin

#3450 Support Multiple API Keys
  modules/openapi-generator/src/main/resources/go-experimental/README.mustache
  modules/openapi-generator/src/main/resources/go-experimental/api.mustache
  modules/openapi-generator/src/main/resources/go-experimental/configuration.mustache
Labels: Client: Go, Issue: Bug

#3666 [Rust Server] Support types with additional properties
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/resources/rust-server/models.mustache
  samples/server/petstore/rust-server/output/openapi-v3/src/models.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/models.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/models.rs
Labels: Server: Rust

#3669 [Rust Server] Support parameters correctly in response headers
  modules/openapi-generator/src/main/resources/rust-server/client-mod.mustache
  modules/openapi-generator/src/main/resources/rust-server/lib.mustache
  modules/openapi-generator/src/test/resources/3_0/rust-server/openapi-v3.yaml
  samples/server/petstore/rust-server/output/multipart-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/README.md
  samples/server/petstore/rust-server/output/openapi-v3/api/openapi.yaml
  samples/server/petstore/rust-server/output/openapi-v3/docs/default_api.md
  samples/server/petstore/rust-server/output/openapi-v3/examples/client.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/server_lib/server.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/mimetypes.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/ops-v3/src/lib.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/lib.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/lib.rs
Labels: Server: Rust

#3855 [spring] Resolve regression on RequestParam for non-objects
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/resources/2_0/arrayRefBody.yaml
  modules/openapi-generator/src/test/resources/3_0/3248-regression-dates.yaml
  modules/openapi-generator/src/test/resources/3_0/3248-regression.yaml
  modules/openapi-generator/src/test/resources/3_0/arrayRefBody.yaml
  modules/openapi-generator/src/test/resources/3_0/issue_3248.yaml
  samples/client/petstore/go/go-petstore-withXml/api_fake.go
  samples/client/petstore/go/go-petstore/api_fake.go
Labels: Client: Go, Server: Spring

#3890 [kotlin-vertx] various improvements
  README.md
  docs/generators.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinVertxServerCodegen.java
  pom.xml
  samples/server/petstore/kotlin/vertx/.openapi-generator-ignore
  samples/server/petstore/kotlin/vertx/.openapi-generator/VERSION
  samples/server/petstore/kotlin/vertx/README.md
  samples/server/petstore/kotlin/vertx/pom.xml
  samples/server/petstore/kotlin/vertx/src/main/kotlin/org/openapitools/server/api/model/ApiResponse.kt
  samples/server/petstore/kotlin/vertx/src/main/kotlin/org/openapitools/server/api/model/Category.kt
  samples/server/petstore/kotlin/vertx/src/main/kotlin/org/openapitools/server/api/model/Order.kt
  samples/server/petstore/kotlin/vertx/src/main/kotlin/org/openapitools/server/api/model/Pet.kt
  samples/server/petstore/kotlin/vertx/src/main/kotlin/org/openapitools/server/api/model/Tag.kt
  samples/server/petstore/kotlin/vertx/src/main/kotlin/org/openapitools/server/api/model/User.kt
  samples/server/petstore/kotlin/vertx/src/main/kotlin/org/openapitools/server/api/verticle/PetApi.kt
  samples/server/petstore/kotlin/vertx/src/main/kotlin/org/openapitools/server/api/verticle/PetApiVerticle.kt
  samples/server/petstore/kotlin/vertx/src/main/kotlin/org/openapitools/server/api/verticle/PetApiVertxProxyHandler.kt
  samples/server/petstore/kotlin/vertx/src/main/kotlin/org/openapitools/server/api/verticle/StoreApi.kt
  samples/server/petstore/kotlin/vertx/src/main/kotlin/org/openapitools/server/api/verticle/StoreApiVerticle.kt
  samples/server/petstore/kotlin/vertx/src/main/kotlin/org/openapitools/server/api/verticle/StoreApiVertxProxyHandler.kt
  samples/server/petstore/kotlin/vertx/src/main/kotlin/org/openapitools/server/api/verticle/UserApi.kt
  samples/server/petstore/kotlin/vertx/src/main/kotlin/org/openapitools/server/api/verticle/UserApiVerticle.kt
  samples/server/petstore/kotlin/vertx/src/main/kotlin/org/openapitools/server/api/verticle/UserApiVertxProxyHandler.kt
Labels: Enhancement: CI/Test, Enhancement: Code format, Enhancement: General, Server: Kotlin

#3893 [scala][client] ScalaAkkaClientCodegenTest: refactor assertions
  modules/openapi-generator/src/test/java/org/openapitools/codegen/scalaakka/ScalaAkkaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/codegen/scala/SomeObj.scala.txt
Labels: Client: Scala, Enhancement: CI/Test

#3906 Fix javadoc error
  modules/openapi-generator/src/test/java/org/openapitools/codegen/asciidoc/AsciidocSampleGeneratorTest.java
Labels: Client: Java, Enhancement: Feature, Feature: Documentation

#3892 [C++] [cpprest] Fixed wstring on linux
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/modelbase-source.mustache
  samples/client/petstore/cpp-restsdk/client/ApiClient.cpp
  samples/client/petstore/cpp-restsdk/client/ApiClient.h
  samples/client/petstore/cpp-restsdk/client/ApiConfiguration.cpp
  samples/client/petstore/cpp-restsdk/client/ApiConfiguration.h
  samples/client/petstore/cpp-restsdk/client/ApiException.cpp
  samples/client/petstore/cpp-restsdk/client/ApiException.h
  samples/client/petstore/cpp-restsdk/client/HttpContent.cpp
  samples/client/petstore/cpp-restsdk/client/HttpContent.h
  samples/client/petstore/cpp-restsdk/client/IHttpBody.h
  samples/client/petstore/cpp-restsdk/client/JsonBody.cpp
  samples/client/petstore/cpp-restsdk/client/JsonBody.h
  samples/client/petstore/cpp-restsdk/client/ModelBase.cpp
  samples/client/petstore/cpp-restsdk/client/ModelBase.h
  samples/client/petstore/cpp-restsdk/client/MultipartFormData.cpp
  samples/client/petstore/cpp-restsdk/client/MultipartFormData.h
  samples/client/petstore/cpp-restsdk/client/Object.cpp
  samples/client/petstore/cpp-restsdk/client/Object.h
  samples/client/petstore/cpp-restsdk/client/api/PetApi.cpp
  samples/client/petstore/cpp-restsdk/client/api/PetApi.h
  samples/client/petstore/cpp-restsdk/client/api/StoreApi.cpp
  samples/client/petstore/cpp-restsdk/client/api/StoreApi.h
  samples/client/petstore/cpp-restsdk/client/api/UserApi.cpp
  samples/client/petstore/cpp-restsdk/client/api/UserApi.h
  samples/client/petstore/cpp-restsdk/client/model/ApiResponse.cpp
  samples/client/petstore/cpp-restsdk/client/model/ApiResponse.h
  samples/client/petstore/cpp-restsdk/client/model/Category.cpp
  samples/client/petstore/cpp-restsdk/client/model/Category.h
  samples/client/petstore/cpp-restsdk/client/model/Order.cpp
  samples/client/petstore/cpp-restsdk/client/model/Order.h
  samples/client/petstore/cpp-restsdk/client/model/Pet.cpp
  samples/client/petstore/cpp-restsdk/client/model/Pet.h
  samples/client/petstore/cpp-restsdk/client/model/Tag.cpp
  samples/client/petstore/cpp-restsdk/client/model/Tag.h
  samples/client/petstore/cpp-restsdk/client/model/User.cpp
  samples/client/petstore/cpp-restsdk/client/model/User.h
Labels: Client: C++, Issue: Bug

#3888 Fix 3886 ishttpcontent not set
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppRestSdkClientCodegen.java
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/api-source.mustache
Labels: Client: C++, Issue: Bug

#3934 typescript-fetch: Add application/x-www-form-urlencoded content support
  .gitignore
  modules/openapi-generator/src/main/resources/typescript-fetch/apis.mustache
  modules/openapi-generator/src/main/resources/typescript-fetch/runtime.mustache
  samples/client/petstore/typescript-fetch/builds/default/src/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/default/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/src/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/typescript-three-plus/src/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/typescript-three-plus/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/src/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/runtime.ts
Labels: Client: TypeScript

#3927 typescript-node: Fix cookie auth, fix multiple API key auth
  modules/openapi-generator/src/main/resources/typescript-node/api-single.mustache
  modules/openapi-generator/src/main/resources/typescript-node/models.mustache
  samples/client/petstore/typescript-node/default/api/petApi.ts
  samples/client/petstore/typescript-node/default/api/storeApi.ts
  samples/client/petstore/typescript-node/default/model/inlineObject.ts
  samples/client/petstore/typescript-node/default/model/inlineObject1.ts
  samples/client/petstore/typescript-node/default/model/models.ts
  samples/client/petstore/typescript-node/npm/api/petApi.ts
  samples/client/petstore/typescript-node/npm/api/storeApi.ts
  samples/client/petstore/typescript-node/npm/model/models.ts
Labels: Client: TypeScript

#3945 Fix jackson-databind security issue
  modules/openapi-generator/src/main/resources/Groovy/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/pom.mustache
  modules/openapi-generator/src/main/resources/java-undertow-server/pom.mustache
  samples/client/petstore/groovy/build.gradle
  samples/client/petstore/java/feign/build.gradle
  samples/client/petstore/java/feign/build.sbt
  samples/client/petstore/java/feign/pom.xml
  samples/client/petstore/java/feign10x/build.gradle
  samples/client/petstore/java/feign10x/build.sbt
  samples/client/petstore/java/feign10x/pom.xml
  samples/client/petstore/java/google-api-client/build.gradle
  samples/client/petstore/java/google-api-client/build.sbt
  samples/client/petstore/java/google-api-client/pom.xml
  samples/client/petstore/java/jersey2-java6/build.sbt
  samples/client/petstore/java/jersey2-java6/pom.xml
  samples/client/petstore/java/jersey2-java8/build.gradle
  samples/client/petstore/java/jersey2-java8/build.sbt
  samples/client/petstore/java/jersey2-java8/pom.xml
  samples/client/petstore/java/jersey2/build.gradle
  samples/client/petstore/java/jersey2/build.sbt
  samples/client/petstore/java/jersey2/pom.xml
  samples/client/petstore/java/resteasy/build.gradle
  samples/client/petstore/java/resteasy/build.sbt
  samples/client/petstore/java/resteasy/pom.xml
  samples/client/petstore/java/resttemplate-withXml/build.gradle
  samples/client/petstore/java/resttemplate/build.gradle
  samples/client/petstore/java/retrofit2-play24/pom.xml
  samples/client/petstore/java/retrofit2-play25/build.gradle
  samples/client/petstore/java/retrofit2-play25/build.sbt
  samples/client/petstore/java/retrofit2-play25/pom.xml
  samples/client/petstore/java/retrofit2-play26/build.gradle
  samples/client/petstore/java/retrofit2-play26/build.sbt
  samples/client/petstore/java/retrofit2-play26/pom.xml
  samples/client/petstore/java/vertx/build.gradle
  samples/client/petstore/java/vertx/pom.xml
  samples/client/petstore/java/webclient/build.gradle
  samples/client/petstore/java/webclient/pom.xml
Labels: Client: Java, Issue: Security, Server: Java

#3910 Decimal in swift4
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift4Codegen.java
Labels: Client: Swift, Enhancement: Compatibility

#3951 Fix generateAliasAsModels in the default generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientExperimentalCodegen.java
Labels: Feature: Generator, Issue: Regression

#3956 Update maven-compiler-plugin version
  modules/openapi-generator-maven-plugin/examples/java-client.xml
  modules/openapi-generator-maven-plugin/examples/multi-module/java-client/pom.xml
Labels: Enhancement: Code format, Enhancement: Compatibility, OpenAPI Generator Maven Plugin

#3907 [java] allow to use setArtifactVersion() programmatically
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/AbstractJavaCodegenTest.java
Labels: Client: Java, Server: Java

#3867 add gradle repository for using gralde dependency in plugin
  modules/openapi-generator-gradle-plugin/pom.xml
Labels: Enhancement: General, OpenAPI Generator Gradle Plugin

#3948 Fix issue3635
  modules/openapi-generator/src/main/resources/Java/libraries/feign/EncodingUtils.mustache
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/EncodingUtils.java
  samples/client/petstore/java/feign10x/src/main/java/org/openapitools/client/EncodingUtils.java
Labels: Client: Java, Issue: Bug

#3964 [scala][akka] #3957 - Removed hardcoded baseUrl
  modules/openapi-generator/src/main/resources/scala-akka-client/api.mustache
  samples/client/petstore/scala-akka/.openapi-generator/VERSION
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/api/EnumsSerializers.scala
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/api/PetApi.scala
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/api/StoreApi.scala
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/api/UserApi.scala
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/core/ApiInvoker.scala
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/core/ApiRequest.scala
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/core/ApiSettings.scala
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/core/requests.scala
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/model/ApiResponse.scala
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/model/Category.scala
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/model/Order.scala
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/model/Pet.scala
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/model/Tag.scala
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/model/User.scala
Labels: Client: Scala, Issue: Bug

#3971 Fix wrong variable name in LessThan and LessThanOrEqual asserts
  modules/openapi-generator/src/main/resources/php-symfony/api_input_validation.mustache
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/StoreController.php
Labels: Issue: Bug, Server: PHP

#3979 Add Go OAS3 petstore to ensure up-to-date
  bin/utils/ensure-up-to-date
Labels: Enhancement: CI/Test

#3417 [C++][Pistache] Simplified model template
  bin/cpp-pistache-server-petstore.sh
  docs/generators/cpp-pistache-server.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppPistacheServerCodegen.java
  modules/openapi-generator/src/main/resources/cpp-pistache-server/cmake.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-struct-header.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-struct-source.mustache
  samples/server/petstore/cpp-pistache/.openapi-generator/VERSION
Labels: Enhancement: General, Server: C++

#3985 [C++] [Pistache] Removed deprecated warnings
  modules/openapi-generator/src/main/resources/cpp-pistache-server/main-api-server.mustache
  samples/server/petstore/cpp-pistache/main-api-server.cpp
Labels: Enhancement: Code format, Server: C++

#3986 [C++] [rest-sdk] Add missing enum processing in C++Abstract codegen
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCppCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppQt5AbstractCodegen.java
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/model-header.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/model-source.mustache
Labels: Client: C++, Issue: Bug

#3988 [golang] Regenerate all go samples
  bin/utils/ensure-up-to-date
  samples/client/petstore/go-experimental/auth_test.go
  samples/client/petstore/go-experimental/go-petstore/.openapi-generator/VERSION
  samples/client/petstore/go-experimental/go-petstore/README.md
  samples/client/petstore/go-experimental/go-petstore/api/openapi.yaml
  samples/client/petstore/go-experimental/go-petstore/api_fake.go
  samples/client/petstore/go-experimental/go-petstore/api_fake_classname_tags123.go
  samples/client/petstore/go-experimental/go-petstore/api_pet.go
  samples/client/petstore/go-experimental/go-petstore/api_store.go
  samples/client/petstore/go-experimental/go-petstore/configuration.go
  samples/client/petstore/go-experimental/go-petstore/docs/TypeHolderExample.md
  samples/client/petstore/go-experimental/go-petstore/git_push.sh
  samples/client/petstore/go-experimental/go-petstore/model_type_holder_example.go
  samples/server/petstore/go-api-server/.openapi-generator/VERSION
  samples/server/petstore/go-api-server/Dockerfile
  samples/server/petstore/go-api-server/README.md
  samples/server/petstore/go-api-server/api/openapi.yaml
  samples/server/petstore/go-api-server/main.go
Labels: Client: Go, Enhancement: CI/Test, Server: Go
