Repository OpenAPITools/openapi-generator, pull requests merged in 2019-10, with the labels that each got.

#4003 [kotlin] parcelize is now stable
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
Labels: Client: Kotlin, Enhancement: General

#3996 go: add os import in case of File return type
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
Labels: Client: Go, Enhancement: General

#3993 Fixes invalid Kotlin client variable names for reserved words
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinClientCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-client/data_class.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/data_class_opt_var.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/data_class_req_var.mustache
Labels: Client: Kotlin, Issue: Regression

#3950 [java] Don't import oltu when not necessary
  modules/openapi-generator/src/main/resources/Java/libraries/feign/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/ApiClient.mustache
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/feign10x/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/retrofit/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java

#3901 [jaxrs-spec] add Eclipse MicroProfile file based approach
  docs/generators/jaxrs-cxf-cdi.md
  docs/generators/jaxrs-spec.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaJAXRSSpecServerCodegen.java
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/helidon/README.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/helidon/beans.xml.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/helidon/logging.properties.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/helidon/microprofile-config.properties.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/helidon/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/openliberty/MANIFEST.MF.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/openliberty/README.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/openliberty/beans.xml.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/openliberty/ibm-web-ext.xml.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/openliberty/microprofile-config.properties.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/openliberty/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/openliberty/server.xml.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/quarkus/Dockerfile.jvm.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/quarkus/Dockerfile.native.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/quarkus/README.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/quarkus/application.properties.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/quarkus/dockerignore.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/quarkus/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/thorntail/README.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/thorntail/pom.mustache
Labels: Enhancement: Feature, Server: Java

#4015 Dart fix template tests
  CI/.drone.yml
  bin/dart2-petstore.sh
  samples/client/petstore/dart2/petstore/README.md
  samples/client/petstore/dart2/petstore/pubspec.lock
  samples/client/petstore/dart2/petstore/pubspec.yaml
  samples/client/petstore/dart2/petstore/test/fake_client.dart
  samples/client/petstore/dart2/petstore/test/file_upload_response.json
  samples/client/petstore/dart2/petstore/test/inventory_response.json
  samples/client/petstore/dart2/petstore/test/pet_faked_client_test.dart
  samples/client/petstore/dart2/petstore/test/pet_test.dart
  samples/client/petstore/dart2/petstore/test/store_faked_client_test.dart
  samples/client/petstore/dart2/petstore/test/store_test.dart
  samples/client/petstore/dart2/petstore/test/user_faked_client_test.dart
  samples/client/petstore/dart2/petstore/test/user_test.dart
  samples/client/petstore/dart2/petstore_client_lib/.gitignore
  samples/client/petstore/dart2/petstore_client_lib/.openapi-generator-ignore
  samples/client/petstore/dart2/petstore_client_lib/.openapi-generator/VERSION
  samples/client/petstore/dart2/petstore_client_lib/.travis.yml
  samples/client/petstore/dart2/petstore_client_lib/README.md
  samples/client/petstore/dart2/petstore_client_lib/docs/ApiResponse.md
  samples/client/petstore/dart2/petstore_client_lib/docs/Category.md
  samples/client/petstore/dart2/petstore_client_lib/docs/Order.md
  samples/client/petstore/dart2/petstore_client_lib/docs/Pet.md
  samples/client/petstore/dart2/petstore_client_lib/docs/PetApi.md
  samples/client/petstore/dart2/petstore_client_lib/docs/StoreApi.md
  samples/client/petstore/dart2/petstore_client_lib/docs/Tag.md
  samples/client/petstore/dart2/petstore_client_lib/docs/User.md
  samples/client/petstore/dart2/petstore_client_lib/docs/UserApi.md
  samples/client/petstore/dart2/petstore_client_lib/git_push.sh
  samples/client/petstore/dart2/petstore_client_lib/lib/api.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api/pet_api.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api/store_api.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api/user_api.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api_client.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api_exception.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api_helper.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/auth/api_key_auth.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/auth/authentication.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/auth/http_basic_auth.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/auth/oauth.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/model/api_response.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/model/category.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/model/order.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/model/pet.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/model/tag.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/model/user.dart
  samples/client/petstore/dart2/petstore_client_lib/pubspec.yaml
  samples/client/petstore/dart2/petstore_client_lib/test/api_response_test.dart
  samples/client/petstore/dart2/petstore_client_lib/test/category_test.dart
  samples/client/petstore/dart2/petstore_client_lib/test/order_test.dart
  samples/client/petstore/dart2/petstore_client_lib/test/pet_api_test.dart
  samples/client/petstore/dart2/petstore_client_lib/test/pet_test.dart
  samples/client/petstore/dart2/petstore_client_lib/test/store_api_test.dart
  samples/client/petstore/dart2/petstore_client_lib/test/tag_test.dart
  samples/client/petstore/dart2/petstore_client_lib/test/user_api_test.dart
  samples/client/petstore/dart2/petstore_client_lib/test/user_test.dart
  samples/client/petstore/dart2/purge_test.sh
Labels: Client: Dart, Enhancement: CI/Test

#4020 [haskell-http-client] disable unused import warning in Core.hs
  modules/openapi-generator/src/main/resources/haskell-http-client/Core.mustache
  samples/client/petstore/haskell-http-client/lib/OpenAPIPetstore/Core.hs
Labels: Client: Haskell

#3966 [typescript][node]: Add accept header if produces is not empty
  modules/openapi-generator/src/main/resources/typescript-node/api-single.mustache
  samples/client/petstore/typescript-node/default/api/petApi.ts
  samples/client/petstore/typescript-node/default/api/storeApi.ts
  samples/client/petstore/typescript-node/default/api/userApi.ts
  samples/client/petstore/typescript-node/npm/api/petApi.ts
  samples/client/petstore/typescript-node/npm/api/storeApi.ts
  samples/client/petstore/typescript-node/npm/api/userApi.ts
Labels: Client: TypeScript

#4028 typescript-fetch: fix return type of primitive value
  modules/openapi-generator/src/main/resources/typescript-fetch/apis.mustache
  samples/client/petstore/typescript-fetch/builds/default/src/apis/UserApi.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/apis/UserApi.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/src/apis/UserApi.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/apis/UserApi.ts
  samples/client/petstore/typescript-fetch/builds/typescript-three-plus/src/apis/UserApi.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/src/apis/UserApi.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/apis/UserApi.ts
Labels: Client: TypeScript

#4029 [FIX][CORE] Repaired Checkstyle
  google_checkstyle.xml
Labels: Enhancement: Code format

#3968 [F#] minor improvements to the generators
  bin/fsharp-functions-server-petstore.sh
  docs/generators.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractFSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/FsharpFunctionsServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/FsharpGiraffeServerCodegen.java
Labels: Enhancement: Code format, Enhancement: General, Server: F#

#3918 Feature/api name suffix
  README.md
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/config/GeneratorSettings.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfigurator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCppCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaJAXRSServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RubyClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/config/CodegenConfiguratorTest.java
Labels: Client: Java, Client: Python, Enhancement: Feature, Server: Java, Server: Ruby

#4037 [haskell-http-client] add dateTimeParseFormat cli option - overrides the format string used to parse a datetime
  docs/generators/haskell-http-client.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellHttpClientCodegen.java
  modules/openapi-generator/src/main/resources/haskell-http-client/Core.mustache
  modules/openapi-generator/src/main/resources/haskell-http-client/README.mustache
  samples/client/petstore/haskell-http-client/README.md
Labels: Client: Haskell, Enhancement: Feature

#4041 [Ruby] fix ruby test, update error message
  modules/openapi-generator/src/main/resources/ruby-client/api_client_spec.mustache
  samples/client/petstore/ruby/spec/api_client_spec.rb
  samples/openapi3/client/petstore/ruby-faraday/spec/api_client_spec.rb
  samples/openapi3/client/petstore/ruby/spec/api_client_spec.rb
Labels: Client: Ruby, Enhancement: CI/Test, Issue: Bug

#3967 typescript-node: form data file
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptNodeClientCodegen.java
  modules/openapi-generator/src/main/resources/typescript-node/api-all.mustache
  modules/openapi-generator/src/main/resources/typescript-node/api-single.mustache
  samples/client/petstore/typescript-node/default/api/apis.ts
  samples/client/petstore/typescript-node/default/api/petApi.ts
  samples/client/petstore/typescript-node/default/api/storeApi.ts
  samples/client/petstore/typescript-node/default/api/userApi.ts
  samples/client/petstore/typescript-node/npm/api/apis.ts
  samples/client/petstore/typescript-node/npm/api/petApi.ts
  samples/client/petstore/typescript-node/npm/api/storeApi.ts
  samples/client/petstore/typescript-node/npm/api/userApi.ts
Labels: Client: TypeScript

#4051 [typescript-axios] Fix api generating incorrect seralization type check
  modules/openapi-generator/src/main/resources/typescript-axios/apiInner.mustache
  samples/client/petstore/typescript-axios/builds/default/api.ts
  samples/client/petstore/typescript-axios/builds/es6-target/api.ts
  samples/client/petstore/typescript-axios/builds/with-complex-headers/api.ts
  samples/client/petstore/typescript-axios/builds/with-interfaces/api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/pet-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/store-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/user-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version/api.ts
Labels: Client: TypeScript

#4068 [haskell-http-client] Bump deps to LTS 14.7
  modules/openapi-generator/src/main/resources/haskell-http-client/stack.mustache
  samples/client/petstore/haskell-http-client/stack.yaml
Labels: Client: Haskell

#4073 [haskell-http-client] update samples
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-Core.html
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-MimeTypes.html
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-Model.html
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-ModelLens.html
  samples/client/petstore/haskell-http-client/docs/doc-index-All.html
  samples/client/petstore/haskell-http-client/docs/doc-index-F.html
  samples/client/petstore/haskell-http-client/docs/doc-index-T.html
  samples/client/petstore/haskell-http-client/docs/doc-index.json
  samples/client/petstore/haskell-http-client/docs/openapi-petstore.txt
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.AnotherFake.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.Fake.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.FakeClassnameTags123.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.Pet.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.Store.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.User.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.Client.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.Core.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.LoggingKatip.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.MimeTypes.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.Model.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.ModelLens.html
  samples/client/petstore/haskell-http-client/docs/src/Paths_openapi_petstore.html
  samples/client/petstore/haskell-http-client/example-app/stack.yaml
  samples/client/petstore/haskell-http-client/example-app/stack.yaml.lock
  samples/client/petstore/haskell-http-client/tests-integration/stack.yaml
  samples/client/petstore/haskell-http-client/tests-integration/stack.yaml.lock
Labels: Client: Haskell

#4064 Fix for issue 4061
  modules/openapi-generator/src/main/resources/confluenceWikiDocs/index.mustache
Labels: Doc: Cwiki, Issue: Bug

#4023 [java][client] Fix regression in Java XML serialization. Fixes #4014
  modules/openapi-generator/src/main/resources/Java/pojo.mustache
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/AdditionalPropertiesAnyType.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/AdditionalPropertiesArray.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/AdditionalPropertiesBoolean.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/AdditionalPropertiesClass.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/AdditionalPropertiesInteger.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/AdditionalPropertiesNumber.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/AdditionalPropertiesObject.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/AdditionalPropertiesString.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/Animal.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/ArrayOfArrayOfNumberOnly.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/ArrayOfNumberOnly.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/ArrayTest.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/Capitalization.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/Cat.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/CatAllOf.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/Category.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/ClassModel.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/Client.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/Dog.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/DogAllOf.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/EnumArrays.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/EnumTest.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/FileSchemaTestClass.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/HasOnlyReadOnly.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/MapTest.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/MixedPropertiesAndAdditionalPropertiesClass.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/Model200Response.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/ModelApiResponse.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/ModelReturn.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/Name.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/NumberOnly.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/Order.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/OuterComposite.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/ReadOnlyFirst.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/SpecialModelName.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/Tag.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/TypeHolderDefault.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/TypeHolderExample.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/User.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/XmlItem.java
Labels: Client: Java, Issue: Regression

#4081 Remove unused property
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/model/GeneratorInput.java
Labels: Enhancement: Compatibility, Feature: Generator

#4053 [jaxrs-spec][quarkus] update to 0.23.2 and fixes for Dockerfile
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/quarkus/Dockerfile.jvm.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/quarkus/Dockerfile.native.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/quarkus/pom.mustache
Labels: Enhancement: Compatibility, Issue: Bug, Server: Java

#4095 Comment out qt5 installation
  .travis.yml
Labels: Enhancement: CI/Test

#4047 Add DELETE with body to kotlin client
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin, Enhancement: General

#4085 Fixed Readonly Docs for python
  modules/openapi-generator/src/main/resources/python/model_doc.mustache
Labels: Client: Python, Issue: Non-operational

#4103 typescript-fetch: fix empty URLSearchParams request body
  modules/openapi-generator/src/main/resources/typescript-fetch/runtime.mustache
  samples/client/petstore/typescript-fetch/builds/default/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/typescript-three-plus/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/runtime.ts
  samples/client/petstore/typescript-fetch/tests/default/mocks.ts
Labels: Client: TypeScript

#4078 [AVRO] Fix the package handling for the avro generator (#3987)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AvroSchemaCodegen.java
  samples/openapi3/schema/petstore/avro-schema/.openapi-generator/VERSION
  samples/openapi3/schema/petstore/avro-schema/InlineObject1.avsc
Labels: Issue: Bug, Schema: Avro

#4105 Fix file type in avro template
  docs/generators/kotlin-server.md
  docs/generators/kotlin-vertx.md
  docs/generators/kotlin.md
  modules/openapi-generator/src/main/resources/avro-schema/typeProperty.mustache
  samples/openapi3/schema/petstore/avro-schema/InlineObject1.avsc
Labels: Issue: Bug, Schema: Avro

#4106 fix nullable for arrays and complex types
  bin/windows/powershell-petsstore.bat
  modules/openapi-generator/src/main/resources/powershell/model.mustache
  samples/client/petstore/powershell/.openapi-generator/VERSION
  samples/client/petstore/powershell/src/Org.OpenAPITools/Model/New-Pet.ps1
Labels: Client: PowerShell, Issue: Bug

#4108 update api and model path when packagename is updated
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellClientCodegen.java
Labels: Client: PowerShell, Issue: Bug

#4117 Test Python aiohttp first in Travis
  pom.xml
Labels: Enhancement: CI/Test, Server: Python

#4116 Fix NPE in Elm path parameter
  CI/circle_parallel.sh
  bin/elm-0.18-petstore.sh
  bin/elm-petstore.sh
  bin/utils/ensure-up-to-date
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElmClientCodegen.java
  samples/client/petstore/elm-0.18/.openapi-generator/VERSION
  samples/client/petstore/elm-0.18/src/Data/ApiResponse.elm
  samples/client/petstore/elm-0.18/src/Data/Category.elm
  samples/client/petstore/elm-0.18/src/Data/Order_.elm
  samples/client/petstore/elm-0.18/src/Data/Pet.elm
  samples/client/petstore/elm-0.18/src/Data/Tag.elm
  samples/client/petstore/elm-0.18/src/Data/User.elm
  samples/client/petstore/elm-0.18/src/DateTime.elm
  samples/client/petstore/elm-0.18/src/Request/Pet.elm
  samples/client/petstore/elm-0.18/src/Request/Store.elm
  samples/client/petstore/elm-0.18/src/Request/User.elm
  samples/client/petstore/elm/.openapi-generator/VERSION
  samples/client/petstore/elm/src/Data/ApiResponse.elm
  samples/client/petstore/elm/src/Data/Category.elm
  samples/client/petstore/elm/src/Data/Order_.elm
  samples/client/petstore/elm/src/Data/Pet.elm
  samples/client/petstore/elm/src/Data/Tag.elm
  samples/client/petstore/elm/src/Data/User.elm
  samples/client/petstore/elm/src/DateTime.elm
  samples/client/petstore/elm/src/Request/Pet.elm
  samples/client/petstore/elm/src/Request/Store.elm
  samples/client/petstore/elm/src/Request/User.elm
Labels: Client: Elm, Issue: Bug

#4118 [Kotlin][Client] fix missing curly bracket when the model contains enum property
  .gitignore
  bin/kotlin-client-okhttp3.sh
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-client/data_class.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/data_class.mustache
  pom.xml
  samples/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/models/ApiResponse.kt
  samples/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/models/Category.kt
  samples/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/models/Pet.kt
  samples/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/models/Tag.kt
  samples/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/models/User.kt
  samples/client/petstore/kotlin-okhttp3/.openapi-generator/VERSION
  samples/client/petstore/kotlin-okhttp3/pom.xml
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/models/ApiResponse.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/models/Category.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/models/Pet.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/models/Tag.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/models/User.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/models/Pet.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/models/ApiResponse.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/models/Category.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/models/Pet.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/models/Tag.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/models/User.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/models/Pet.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/models/Order.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/models/Pet.kt
Labels: Client: Kotlin, Enhancement: CI/Test, Enhancement: Code format, Server: Kotlin

#4049 Make Resttemplate thread safe by using the withHttpInfo pattern used …
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/api.mustache
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Breaking change (with fallback), Client: Java, Enhancement: Feature

#3862 [JAVA][JAXRS] Fix parameters validation
  modules/openapi-generator/src/main/resources/JavaJaxRS/bodyParams.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/pathParams.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/queryParams.mustache
  samples/server/petstore/jaxrs-datelib-j8/src/gen/java/org/openapitools/api/AnotherFakeApi.java
  samples/server/petstore/jaxrs-datelib-j8/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs-datelib-j8/src/gen/java/org/openapitools/api/FakeClassnameTestApi.java
  samples/server/petstore/jaxrs-datelib-j8/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-datelib-j8/src/gen/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/jaxrs-datelib-j8/src/gen/java/org/openapitools/api/UserApi.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/AnotherFakeApi.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/FakeClassnameTestApi.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/UserApi.java
  samples/server/petstore/jaxrs/jersey1-useTags/src/gen/java/org/openapitools/api/AnotherFakeApi.java
  samples/server/petstore/jaxrs/jersey1-useTags/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs/jersey1-useTags/src/gen/java/org/openapitools/api/FakeClassnameTags123Api.java
  samples/server/petstore/jaxrs/jersey1-useTags/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs/jersey1-useTags/src/gen/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/jaxrs/jersey1-useTags/src/gen/java/org/openapitools/api/UserApi.java
  samples/server/petstore/jaxrs/jersey1/src/gen/java/org/openapitools/api/AnotherFakeApi.java
  samples/server/petstore/jaxrs/jersey1/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs/jersey1/src/gen/java/org/openapitools/api/FakeClassnameTestApi.java
  samples/server/petstore/jaxrs/jersey1/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs/jersey1/src/gen/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/jaxrs/jersey1/src/gen/java/org/openapitools/api/UserApi.java
  samples/server/petstore/jaxrs/jersey2-useTags/src/gen/java/org/openapitools/api/AnotherFakeApi.java
  samples/server/petstore/jaxrs/jersey2-useTags/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs/jersey2-useTags/src/gen/java/org/openapitools/api/FakeClassnameTags123Api.java
  samples/server/petstore/jaxrs/jersey2-useTags/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs/jersey2-useTags/src/gen/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/jaxrs/jersey2-useTags/src/gen/java/org/openapitools/api/UserApi.java
  samples/server/petstore/jaxrs/jersey2/src/gen/java/org/openapitools/api/AnotherFakeApi.java
  samples/server/petstore/jaxrs/jersey2/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs/jersey2/src/gen/java/org/openapitools/api/FakeClassnameTestApi.java
  samples/server/petstore/jaxrs/jersey2/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs/jersey2/src/gen/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/jaxrs/jersey2/src/gen/java/org/openapitools/api/UserApi.java
Labels: Issue: Bug, Server: Java

#3320 [Java][Fix #3310] Respect discriminator case for @JsonTypeInfo
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenDiscriminator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/resources/Java/typeInfoAnnotation.mustache
  modules/openapi-generator/src/main/resources/JavaInflector/typeInfoAnnotation.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-cdi/typeInfoAnnotation.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-ext/typeInfoAnnotation.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/typeInfoAnnotation.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/eap/typeInfoAnnotation.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/typeInfoAnnotation.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/typeInfoAnnotation.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/typeInfoAnnotation.mustache
  modules/openapi-generator/src/main/resources/JavaPlayFramework/typeInfoAnnotation.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/typeInfoAnnotation.mustache
  modules/openapi-generator/src/main/resources/java-pkmst/typeInfoAnnotation.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/typeInfoAnnotation.mustache
Labels: Client: Java, Feature: Composition / Inheritance, Issue: Bug

#4124 Rename property name from propertyRawName to propertyBaseName
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenDiscriminator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractAdaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPhpCodegen.java
  modules/openapi-generator/src/main/resources/Java/typeInfoAnnotation.mustache
  modules/openapi-generator/src/main/resources/JavaInflector/typeInfoAnnotation.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-cdi/typeInfoAnnotation.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-ext/typeInfoAnnotation.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/typeInfoAnnotation.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/eap/typeInfoAnnotation.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/typeInfoAnnotation.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/typeInfoAnnotation.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/typeInfoAnnotation.mustache
  modules/openapi-generator/src/main/resources/JavaPlayFramework/typeInfoAnnotation.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/typeInfoAnnotation.mustache
  modules/openapi-generator/src/main/resources/java-pkmst/typeInfoAnnotation.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/typeInfoAnnotation.mustache
  modules/openapi-generator/src/test/resources/2_0/swift4Test.json
Labels: Enhancement: General, Feature: Generator

#4125 [JaxRS-Java] use @FormParam for form parameters when it is not Multipart
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-cdi/formParams.mustache
Labels: Issue: Bug, Server: Java

#4092 [Java][Fix #3952] jackson-databind-nullable version variable Gradle Incompatibility #3952
  samples/client/petstore/java/feign/build.gradle
  samples/client/petstore/java/feign10x/build.gradle
  samples/client/petstore/java/google-api-client/build.gradle
  samples/client/petstore/java/jersey1/build.gradle
  samples/client/petstore/java/jersey2-java8/build.gradle
  samples/client/petstore/java/jersey2/build.gradle
  samples/client/petstore/java/resteasy/build.gradle
  samples/client/petstore/java/resttemplate-withXml/build.gradle
  samples/client/petstore/java/resttemplate/build.gradle
  samples/client/petstore/java/retrofit2-play24/build.gradle
  samples/client/petstore/java/retrofit2-play25/build.gradle
  samples/client/petstore/java/retrofit2-play26/build.gradle
  samples/client/petstore/java/webclient/build.gradle
Labels: Client: Java, Issue: Bug

#4148 [Java] fix jackson-databind-nullable version variable due to Gradle Incompatibility (Template Update)
  modules/openapi-generator/src/main/resources/Java/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/rest-assured/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/build.gradle.mustache
Labels: Client: Java, Issue: Bug

#3989 [go-experimental] export required fields without pointer
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientExperimentalCodegen.java
  modules/openapi-generator/src/main/resources/go-experimental/model.mustache
  modules/openapi-generator/src/main/resources/go-experimental/utils.mustache
  samples/client/petstore/go-experimental/auth_test.go
  samples/client/petstore/go-experimental/go-petstore/model_200_response.go
  samples/client/petstore/go-experimental/go-petstore/model_additional_properties_any_type.go
  samples/client/petstore/go-experimental/go-petstore/model_additional_properties_array.go
  samples/client/petstore/go-experimental/go-petstore/model_additional_properties_boolean.go
  samples/client/petstore/go-experimental/go-petstore/model_additional_properties_class.go
  samples/client/petstore/go-experimental/go-petstore/model_additional_properties_integer.go
  samples/client/petstore/go-experimental/go-petstore/model_additional_properties_number.go
  samples/client/petstore/go-experimental/go-petstore/model_additional_properties_object.go
  samples/client/petstore/go-experimental/go-petstore/model_additional_properties_string.go
  samples/client/petstore/go-experimental/go-petstore/model_animal.go
  samples/client/petstore/go-experimental/go-petstore/model_api_response.go
  samples/client/petstore/go-experimental/go-petstore/model_array_of_array_of_number_only.go
  samples/client/petstore/go-experimental/go-petstore/model_array_of_number_only.go
  samples/client/petstore/go-experimental/go-petstore/model_array_test_.go
  samples/client/petstore/go-experimental/go-petstore/model_capitalization.go
  samples/client/petstore/go-experimental/go-petstore/model_cat.go
  samples/client/petstore/go-experimental/go-petstore/model_cat_all_of.go
  samples/client/petstore/go-experimental/go-petstore/model_category.go
  samples/client/petstore/go-experimental/go-petstore/model_class_model.go
  samples/client/petstore/go-experimental/go-petstore/model_client.go
  samples/client/petstore/go-experimental/go-petstore/model_dog.go
  samples/client/petstore/go-experimental/go-petstore/model_dog_all_of.go
  samples/client/petstore/go-experimental/go-petstore/model_enum_arrays.go
  samples/client/petstore/go-experimental/go-petstore/model_enum_class.go
  samples/client/petstore/go-experimental/go-petstore/model_enum_test_.go
  samples/client/petstore/go-experimental/go-petstore/model_file.go
  samples/client/petstore/go-experimental/go-petstore/model_file_schema_test_class.go
  samples/client/petstore/go-experimental/go-petstore/model_format_test_.go
  samples/client/petstore/go-experimental/go-petstore/model_has_only_read_only.go
  samples/client/petstore/go-experimental/go-petstore/model_list.go
  samples/client/petstore/go-experimental/go-petstore/model_map_test_.go
  samples/client/petstore/go-experimental/go-petstore/model_mixed_properties_and_additional_properties_class.go
  samples/client/petstore/go-experimental/go-petstore/model_name.go
  samples/client/petstore/go-experimental/go-petstore/model_number_only.go
  samples/client/petstore/go-experimental/go-petstore/model_order.go
  samples/client/petstore/go-experimental/go-petstore/model_outer_composite.go
  samples/client/petstore/go-experimental/go-petstore/model_outer_enum.go
  samples/client/petstore/go-experimental/go-petstore/model_pet.go
  samples/client/petstore/go-experimental/go-petstore/model_read_only_first.go
  samples/client/petstore/go-experimental/go-petstore/model_return.go
  samples/client/petstore/go-experimental/go-petstore/model_special_model_name.go
  samples/client/petstore/go-experimental/go-petstore/model_tag.go
  samples/client/petstore/go-experimental/go-petstore/model_type_holder_default.go
  samples/client/petstore/go-experimental/go-petstore/model_type_holder_example.go
  samples/client/petstore/go-experimental/go-petstore/model_user.go
  samples/client/petstore/go-experimental/go-petstore/model_xml_item.go
  samples/client/petstore/go-experimental/go-petstore/utils.go
  samples/client/petstore/go-experimental/pet_api_test.go
  samples/client/petstore/go-experimental/user_api_test.go
Labels: Client: Go, Enhancement: General

#4153 [swift] Add missing keywords in swift
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SwiftClientCodegen.java
Labels: Client: Swift, Enhancement: General

#4136 [elm] fix code generation for nullable types
  modules/openapi-generator/src/main/resources/elm/recordFieldEncoder.mustache
  modules/openapi-generator/src/main/resources/elm/recordFieldValueDecoder.mustache
  modules/openapi-generator/src/main/resources/elm/recordFieldValueEncoder.mustache
Labels: Client: Elm

#4132 [C++] [Qt5] Add missing supporting files when prefix is provided
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppQt5ClientCodegen.java
  modules/openapi-generator/src/main/resources/cpp-qt5-client/helpers-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/helpers-body.mustache
  samples/client/petstore/cpp-qt5/.openapi-generator/VERSION
Labels: Client: C++, Enhancement: General, Server: C++

#4150 [Python] Run all test cases against petstore server
  samples/client/petstore/python/tests/test_api_client.py
  samples/client/petstore/python/tests/test_pet_api.py
Labels: Client: Python, Enhancement: CI/Test

#4158 Fix boolean operators precedence
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
Labels: Client: Go, Issue: Bug, Server: Go

#4018 Adds Dart Dio generator
  .github/.test/samples.json
  bin/utils/ensure-up-to-date
  docs/generators.md
  docs/generators/README.md
  docs/generators/dart-dio.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioClientCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/dart-dio/README.mustache
  modules/openapi-generator/src/main/resources/dart-dio/analysis_options.mustache
  modules/openapi-generator/src/main/resources/dart-dio/api.mustache
  modules/openapi-generator/src/main/resources/dart-dio/api_doc.mustache
  modules/openapi-generator/src/main/resources/dart-dio/apilib.mustache
  modules/openapi-generator/src/main/resources/dart-dio/class.mustache
  modules/openapi-generator/src/main/resources/dart-dio/enum.mustache
  modules/openapi-generator/src/main/resources/dart-dio/gitignore.mustache
  modules/openapi-generator/src/main/resources/dart-dio/model.mustache
  modules/openapi-generator/src/main/resources/dart-dio/object_doc.mustache
  modules/openapi-generator/src/main/resources/dart-dio/pubspec.mustache
  modules/openapi-generator/src/main/resources/dart-dio/serializers.mustache
  samples/client/petstore/dart-dio/.gitignore
  samples/client/petstore/dart-dio/.openapi-generator-ignore
  samples/client/petstore/dart-dio/.openapi-generator/VERSION
  samples/client/petstore/dart-dio/README.md
  samples/client/petstore/dart-dio/analysis_options.yaml
  samples/client/petstore/dart-dio/docs/ApiResponse.md
  samples/client/petstore/dart-dio/docs/Category.md
  samples/client/petstore/dart-dio/docs/Order.md
  samples/client/petstore/dart-dio/docs/Pet.md
  samples/client/petstore/dart-dio/docs/PetApi.md
  samples/client/petstore/dart-dio/docs/StoreApi.md
  samples/client/petstore/dart-dio/docs/Tag.md
  samples/client/petstore/dart-dio/docs/User.md
  samples/client/petstore/dart-dio/docs/UserApi.md
  samples/client/petstore/dart-dio/lib/api.dart
  samples/client/petstore/dart-dio/lib/api/pet_api.dart
  samples/client/petstore/dart-dio/lib/api/store_api.dart
  samples/client/petstore/dart-dio/lib/api/user_api.dart
  samples/client/petstore/dart-dio/lib/model/api_response.dart
  samples/client/petstore/dart-dio/lib/model/api_response.g.dart
  samples/client/petstore/dart-dio/lib/model/category.dart
  samples/client/petstore/dart-dio/lib/model/category.g.dart
  samples/client/petstore/dart-dio/lib/model/order.dart
  samples/client/petstore/dart-dio/lib/model/order.g.dart
  samples/client/petstore/dart-dio/lib/model/pet.dart
  samples/client/petstore/dart-dio/lib/model/pet.g.dart
  samples/client/petstore/dart-dio/lib/model/tag.dart
  samples/client/petstore/dart-dio/lib/model/tag.g.dart
  samples/client/petstore/dart-dio/lib/model/user.dart
  samples/client/petstore/dart-dio/lib/model/user.g.dart
  samples/client/petstore/dart-dio/lib/serializers.dart
  samples/client/petstore/dart-dio/lib/serializers.g.dart
  samples/client/petstore/dart-dio/pubspec.yaml
  website/i18n/en.json
Labels: Client: Dart, Enhancement: New generator

#4133 [C++] [Qt5] Add generation of cmake files to qt5 client
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppQt5ClientCodegen.java
  modules/openapi-generator/src/main/resources/cpp-qt5-client/CMakeLists.txt.mustache
  samples/client/petstore/cpp-qt5/CMakeLists.txt
  samples/client/petstore/cpp-qt5/client/CMakeLists.txt
Labels: Client: C++, Enhancement: General

#4160 typescript-rxjs: fix query parameters type
  modules/openapi-generator/src/main/resources/typescript-rxjs/apis.mustache
  samples/client/petstore/typescript-rxjs/builds/default/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/default/apis/UserApi.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/apis/UserApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-interfaces/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-interfaces/apis/UserApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/apis/UserApi.ts
Labels: Client: TypeScript

#4161 [python] Skip adding None value in query parameters
  modules/openapi-generator/src/main/resources/python/api.mustache
  samples/client/petstore/python/petstore_api/api/fake_api.py
  samples/client/petstore/python/petstore_api/api/pet_api.py
  samples/client/petstore/python/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/user_api.py
Labels: Client: Python, Issue: Bug

#4172 [Python] Minor fix to code format
  modules/openapi-generator/src/main/resources/python/model.mustache
  samples/client/petstore/python-asyncio/petstore_api/models/enum_arrays.py
  samples/client/petstore/python-asyncio/petstore_api/models/map_test.py
  samples/client/petstore/python-experimental/.openapi-generator/VERSION
  samples/client/petstore/python-experimental/docs/HasOnlyReadOnly.md
  samples/client/petstore/python-experimental/docs/Name.md
  samples/client/petstore/python-experimental/docs/ReadOnlyFirst.md
  samples/client/petstore/python-experimental/petstore_api/configuration.py
  samples/client/petstore/python-tornado/petstore_api/models/enum_arrays.py
  samples/client/petstore/python-tornado/petstore_api/models/map_test.py
  samples/client/petstore/python/petstore_api/models/enum_arrays.py
  samples/client/petstore/python/petstore_api/models/map_test.py
  samples/openapi3/client/petstore/python/petstore_api/models/enum_arrays.py
  samples/openapi3/client/petstore/python/petstore_api/models/inline_object2.py
  samples/openapi3/client/petstore/python/petstore_api/models/map_test.py
Labels: Client: Python, Enhancement: Code format

#4162 Add Petstore samples for dart-dio
  bin/dart-dio-petstore.sh
  bin/windows/dart-dio-petstore.bat
  samples/client/petstore/dart-dio/.openapi-generator/VERSION
  samples/client/petstore/dart-dio/README.md
  samples/client/petstore/dart-dio/lib/api/pet_api.dart
  samples/client/petstore/dart-dio/lib/api/store_api.dart
  samples/client/petstore/dart-dio/lib/api/user_api.dart
Labels: Client: Dart, Enhancement: CI/Test

#4164 [C++] Enable Qt5 Petstore tests
  .travis.yml
  pom.xml
  samples/client/petstore/cpp-qt5/PetStore/PetApiTests.cpp
  samples/client/petstore/cpp-qt5/PetStore/PetApiTests.h
  samples/client/petstore/cpp-qt5/PetStore/StoreApiTests.cpp
  samples/client/petstore/cpp-qt5/PetStore/StoreApiTests.h
  samples/client/petstore/cpp-qt5/PetStore/UserApiTests.cpp
  samples/client/petstore/cpp-qt5/PetStore/UserApiTests.h
  samples/client/petstore/cpp-qt5/build-and-test.bash
Labels: Client: C++, Enhancement: CI/Test

#4131 [typescript-inversify] Fix multipart form uploads
  modules/openapi-generator/src/main/resources/typescript-inversify/HttpClient.mustache
  modules/openapi-generator/src/main/resources/typescript-inversify/api.service.mustache
  samples/client/petstore/typescript-inversify/HttpClient.ts
  samples/client/petstore/typescript-inversify/api/pet.service.ts
Labels: Client: TypeScript

#4126 [Go] Upgrade dependencies
  modules/openapi-generator/src/main/resources/go-experimental/go.mod.mustache
  modules/openapi-generator/src/main/resources/go-experimental/go.sum
  modules/openapi-generator/src/main/resources/go/go.mod.mustache
  modules/openapi-generator/src/main/resources/go/go.sum
  samples/client/petstore/go-experimental/go-petstore/go.mod
  samples/client/petstore/go-experimental/go-petstore/go.sum
  samples/client/petstore/go/go-petstore-withXml/go.mod
  samples/client/petstore/go/go-petstore-withXml/go.sum
  samples/client/petstore/go/go-petstore/go.mod
  samples/client/petstore/go/go-petstore/go.sum
Labels: Client: Go, Enhancement: Compatibility

#4042 Add `style` and `explode`
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/fromParameter.yaml
Labels: Enhancement: Feature, Feature: OAS 3.0 spec support

#4188 [Go][Server] Better code format
  modules/openapi-generator/src/main/resources/go-server/api.mustache
  modules/openapi-generator/src/main/resources/go-server/controller-api.mustache
  modules/openapi-generator/src/main/resources/go-server/routers.mustache
  modules/openapi-generator/src/main/resources/go-server/service.mustache
  samples/server/petstore/go-api-server/go/api.go
  samples/server/petstore/go-api-server/go/api_pet.go
  samples/server/petstore/go-api-server/go/api_pet_service.go
  samples/server/petstore/go-api-server/go/api_store.go
  samples/server/petstore/go-api-server/go/api_store_service.go
  samples/server/petstore/go-api-server/go/api_user.go
  samples/server/petstore/go-api-server/go/api_user_service.go
  samples/server/petstore/go-api-server/go/routers.go
Labels: Enhancement: Code format, Server: Go

#3903 Fix generation of query parameters for optional/nullable function arguments
  modules/openapi-generator/src/main/resources/kotlin-client/api.mustache
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
Labels: Client: Kotlin, Issue: Bug

#4195 [Go][Experimental] Allow retrieving the underlying configuration for APIClient
  modules/openapi-generator/src/main/resources/go-experimental/client.mustache
  samples/client/petstore/go-experimental/go-petstore/client.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/client.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/EnumTest.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/HealthCheckResult.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/NullableClass.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/go.mod
  samples/openapi3/client/petstore/go-experimental/go-petstore/go.sum
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_200_response.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model__special_model_name_.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_additional_properties_class.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_animal.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_api_response.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_array_of_array_of_number_only.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_array_of_number_only.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_array_test_.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_capitalization.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_cat.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_cat_all_of.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_category.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_class_model.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_client.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_dog.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_dog_all_of.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_enum_arrays.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_enum_class.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_enum_test_.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_file.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_file_schema_test_class.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_foo.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_format_test_.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_has_only_read_only.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_health_check_result.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_inline_object.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_inline_object_1.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_inline_object_2.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_inline_object_3.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_inline_object_4.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_inline_object_5.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_inline_response_default.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_list.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_map_test_.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_mixed_properties_and_additional_properties_class.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_name.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_nullable_class.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_number_only.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_order.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_outer_composite.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_outer_enum.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_outer_enum_default_value.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_outer_enum_integer.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_outer_enum_integer_default_value.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_pet.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_read_only_first.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_return.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_tag.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_user.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/utils.go
Labels: Client: Go, Enhancement: General

#4198 [typescript-rxjs] improve HttpQuery typing
  modules/openapi-generator/src/main/resources/typescript-rxjs/apis.mustache
  modules/openapi-generator/src/main/resources/typescript-rxjs/runtime.mustache
  samples/client/petstore/typescript-rxjs/builds/default/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/default/apis/UserApi.ts
  samples/client/petstore/typescript-rxjs/builds/default/runtime.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/apis/UserApi.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/runtime.ts
  samples/client/petstore/typescript-rxjs/builds/with-interfaces/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-interfaces/apis/UserApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-interfaces/runtime.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/apis/UserApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/runtime.ts
Labels: Client: TypeScript

#3969 typescript-jquery: Update to work with Typescript strict mode
  bin/windows/typescript-jquery-with-npm.bat
  modules/openapi-generator/src/main/resources/typescript-jquery/api.mustache
  modules/openapi-generator/src/main/resources/typescript-jquery/configuration.mustache
  samples/client/petstore/typescript-jquery/default/.openapi-generator-ignore
  samples/client/petstore/typescript-jquery/default/api/PetApi.ts
  samples/client/petstore/typescript-jquery/default/api/StoreApi.ts
  samples/client/petstore/typescript-jquery/default/api/UserApi.ts
  samples/client/petstore/typescript-jquery/default/configuration.ts
  samples/client/petstore/typescript-jquery/default/model/Amount.ts
  samples/client/petstore/typescript-jquery/default/model/Currency.ts
  samples/client/petstore/typescript-jquery/npm/api/PetApi.ts
  samples/client/petstore/typescript-jquery/npm/api/StoreApi.ts
  samples/client/petstore/typescript-jquery/npm/api/UserApi.ts
  samples/client/petstore/typescript-jquery/npm/configuration.ts
  samples/client/petstore/typescript-node/default/model/inlineObject.ts
  samples/client/petstore/typescript-node/default/model/inlineObject1.ts
Labels: Client: TypeScript

#4145 [core] Update Swagger-Parser to '2.0.15'
  pom.xml
Labels: Enhancement: General, Swagger-Parser

#4205 Python: Flask: Fix: Update setup.py to match requirements.txt
  modules/openapi-generator/src/main/resources/python-flask/setup.mustache
  samples/openapi3/server/petstore/python-flask-python2/.openapi-generator/VERSION
  samples/openapi3/server/petstore/python-flask-python2/git_push.sh
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/controllers/pet_controller.py
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/openapi/openapi.yaml
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/test/test_pet_controller.py
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/util.py
  samples/openapi3/server/petstore/python-flask-python2/setup.py
  samples/openapi3/server/petstore/python-flask/.openapi-generator/VERSION
  samples/openapi3/server/petstore/python-flask/git_push.sh
  samples/openapi3/server/petstore/python-flask/setup.py
  samples/server/petstore/python-flask-python2/.openapi-generator/VERSION
  samples/server/petstore/python-flask-python2/git_push.sh
  samples/server/petstore/python-flask-python2/openapi_server/util.py
  samples/server/petstore/python-flask-python2/setup.py
  samples/server/petstore/python-flask/.openapi-generator/VERSION
  samples/server/petstore/python-flask/git_push.sh
  samples/server/petstore/python-flask/setup.py
Labels: Enhancement: General, Server: Python

#4197 [Kotlin][client] Add nullable query parameter support
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-client/api.mustache
Labels: Client: Kotlin, Enhancement: Feature, Feature: OAS 3.0 spec support

#4196 [go-server] Return Router interface from controller constructor.
  modules/openapi-generator/src/main/resources/go-server/controller-api.mustache
  samples/server/petstore/go-api-server/go/api_pet.go
  samples/server/petstore/go-api-server/go/api_store.go
  samples/server/petstore/go-api-server/go/api_user.go
Labels: Issue: Bug, Server: Go

#4238 [kotlin][client] only use authentication tokens when they are not null
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin, Enhancement: General

#4229 Fixes Kotlin client property names that include a dollar sign
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinClientCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-client/data_class_opt_var.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/data_class_req_var.mustache
Labels: Client: Kotlin, Issue: Bug

#4214 Deprecated netstandard, uwp support in csharp generator
  docs/generators/csharp.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpClientCodegen.java
Labels: Client: C-Sharp, Enhancement: Compatibility

#4138 [python] Add ability to get allowed values
  modules/openapi-generator/src/main/resources/python/model.mustache
  samples/client/petstore/python/petstore_api/models/enum_class.py
  samples/client/petstore/python/petstore_api/models/outer_enum.py
  samples/openapi3/client/petstore/python/petstore_api/models/enum_class.py
  samples/openapi3/client/petstore/python/petstore_api/models/outer_enum.py
  samples/openapi3/client/petstore/python/petstore_api/models/outer_enum_default_value.py
  samples/openapi3/client/petstore/python/petstore_api/models/outer_enum_integer.py
  samples/openapi3/client/petstore/python/petstore_api/models/outer_enum_integer_default_value.py
Labels: Client: Python

#4226 okhttp-gson: fix SSL settings with okhttp3
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#4252 [Java][okhttp] Test setVerifyingSsl
  CI/samples.ci/client/petstore/java/test-manual/okhttp-gson/api/PetApiTest.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/api/PetApiTest.java
Labels: Client: Java, Enhancement: CI/Test

#3937 [csharp-netcore] Remove support for old .net core project type
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
  modules/openapi-generator/src/main/resources/csharp-netcore/Project.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/netcore_project.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/project.json.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Org.OpenAPITools.nuspec
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/project.json
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Org.OpenAPITools.nuspec
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/project.json
Labels: Breaking change (without fallback), Client: C-Sharp, Enhancement: Compatibility

#4255 Place PathHandlerProvider.java of java-undertow-server in the apiPackage dir
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaUndertowServerCodegen.java
Labels: Server: Java

#4274 [Bash] Minor improvements
  .travis.yml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/BashClientCodegen.java
  pom.xml
  samples/client/petstore/bash/.openapi-generator/VERSION
  samples/client/petstore/bash/README.md
  samples/client/petstore/bash/_petstore-cli
  samples/client/petstore/bash/docs/AnotherFakeApi.md
  samples/client/petstore/bash/docs/FakeApi.md
  samples/client/petstore/bash/docs/FormatTest.md
  samples/client/petstore/bash/docs/HasOnlyReadOnly.md
  samples/client/petstore/bash/docs/Name.md
  samples/client/petstore/bash/docs/ReadOnlyFirst.md
  samples/client/petstore/bash/docs/TypeHolderExample.md
  samples/client/petstore/bash/petstore-cli
  samples/client/petstore/bash/petstore-cli.bash-completion
  samples/client/petstore/bash/tests/petstore_test.sh
Labels: Client: Bash, Enhancement: CI/Test, Issue: Bug

#4256 Mark Slim3 server generator as deprecated
  bin/ci/php-slim-server-petstore.json
  bin/openapi3/php-slim-server-petstore.sh
  bin/php-slim-server-petstore.sh
  bin/windows/php-slim-server-petstore.bat
  docs/generators.md
  docs/generators/php-slim-deprecated.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSlim4ServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSlimServerCodegen.java
Labels: General: Support, Server: PHP

#4277 [Dart] Add missing reserved words
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartClientCodegen.java
Labels: Client: Dart, Enhancement: General

#4286 Implement Server Stub Code for Vert.x Web #115
  bin/java-vertx-web-rx-petstore-server.sh
  docs/generators.md
  docs/generators/java-vertx-web.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaVertXWebServerCodegen.java
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/README.mustache
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/api.mustache
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/apiHandler.mustache
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/apiImpl.mustache
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/enumClass.mustache
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/enumOuterClass.mustache
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/model.mustache
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/pojo.mustache
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/supportFiles/ApiException.mustache
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/supportFiles/ApiResponse.mustache
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/supportFiles/HttpServerVerticle.mustache
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/supportFiles/MainVerticle.mustache
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/supportFiles/ParameterCast.mustache
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/supportFiles/openapi.mustache
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/supportFiles/pom.mustache
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  pom.xml
  samples/server/petstore/java-vertx-web/rx/.openapi-generator-ignore
  samples/server/petstore/java-vertx-web/rx/.openapi-generator/VERSION
  samples/server/petstore/java-vertx-web/rx/README.md
  samples/server/petstore/java-vertx-web/rx/pom.xml
  samples/server/petstore/java-vertx-web/rx/src/main/java/org/openapitools/vertxweb/server/ApiException.java
  samples/server/petstore/java-vertx-web/rx/src/main/java/org/openapitools/vertxweb/server/ApiResponse.java
  samples/server/petstore/java-vertx-web/rx/src/main/java/org/openapitools/vertxweb/server/HttpServerVerticle.java
  samples/server/petstore/java-vertx-web/rx/src/main/java/org/openapitools/vertxweb/server/MainVerticle.java
  samples/server/petstore/java-vertx-web/rx/src/main/java/org/openapitools/vertxweb/server/ParameterCast.java
  samples/server/petstore/java-vertx-web/rx/src/main/java/org/openapitools/vertxweb/server/api/PetApi.java
  samples/server/petstore/java-vertx-web/rx/src/main/java/org/openapitools/vertxweb/server/api/PetApiHandler.java
  samples/server/petstore/java-vertx-web/rx/src/main/java/org/openapitools/vertxweb/server/api/PetApiImpl.java
  samples/server/petstore/java-vertx-web/rx/src/main/java/org/openapitools/vertxweb/server/api/StoreApi.java
  samples/server/petstore/java-vertx-web/rx/src/main/java/org/openapitools/vertxweb/server/api/StoreApiHandler.java
  samples/server/petstore/java-vertx-web/rx/src/main/java/org/openapitools/vertxweb/server/api/StoreApiImpl.java
  samples/server/petstore/java-vertx-web/rx/src/main/java/org/openapitools/vertxweb/server/api/UserApi.java
  samples/server/petstore/java-vertx-web/rx/src/main/java/org/openapitools/vertxweb/server/api/UserApiHandler.java
  samples/server/petstore/java-vertx-web/rx/src/main/java/org/openapitools/vertxweb/server/api/UserApiImpl.java
  samples/server/petstore/java-vertx-web/rx/src/main/java/org/openapitools/vertxweb/server/model/Category.java
  samples/server/petstore/java-vertx-web/rx/src/main/java/org/openapitools/vertxweb/server/model/InlineObject.java
  samples/server/petstore/java-vertx-web/rx/src/main/java/org/openapitools/vertxweb/server/model/InlineObject1.java
  samples/server/petstore/java-vertx-web/rx/src/main/java/org/openapitools/vertxweb/server/model/ModelApiResponse.java
  samples/server/petstore/java-vertx-web/rx/src/main/java/org/openapitools/vertxweb/server/model/Order.java
  samples/server/petstore/java-vertx-web/rx/src/main/java/org/openapitools/vertxweb/server/model/Pet.java
  samples/server/petstore/java-vertx-web/rx/src/main/java/org/openapitools/vertxweb/server/model/Tag.java
  samples/server/petstore/java-vertx-web/rx/src/main/java/org/openapitools/vertxweb/server/model/User.java
  samples/server/petstore/java-vertx-web/rx/src/main/resources/openapi.yaml
Labels: Enhancement: New generator, Server: Java

#4294 Minor improvement to the Java vertx web server generator
  README.md
  docs/generators.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaVertXWebServerCodegen.java
Labels: Enhancement: General, Server: Java

#4247 [Kotlin] Add kotlin.collections.Set support for unique item arrays
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
Labels: Client: Kotlin, Enhancement: Feature, Feature: OAS 3.0 spec support, Server: Kotlin

#4298 [JavaScript][ES6] Fix bug issue #4296
  modules/openapi-generator/src/main/resources/Javascript/es6/ApiClient.mustache
  samples/client/petstore/javascript-promise-es6/src/ApiClient.js
Labels: Client: JavaScript/Node.js

#4297 [C#][NetCore] Rename local variables
  modules/openapi-generator/src/main/resources/csharp-netcore/api.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/UserApi.cs
Labels: Client: C-Sharp, Enhancement: Code format

#4278 Add bearer token authentication documentation to template
  modules/openapi-generator/src/main/resources/Java/README.mustache
  modules/openapi-generator/src/main/resources/Java/api_doc.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/README.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/api_doc.mustache
  modules/openapi-generator/src/main/resources/htmlDocs2/sample_java.mustache
Labels: Client: Java, Enhancement: Feature, Feature: OAS 3.0 spec support

#4295 [Go][Server] better tests
  CI/circle_parallel.sh
  bin/go-gin-petstore-server.sh
  bin/go-petstore-server.sh
  bin/utils/ensure-up-to-date
  bin/windows/go-gin-petstore-server.bat
  bin/windows/go-petstore-server.bat
  pom.xml
  samples/server/petstore/go-api-server/pom.xml
  samples/server/petstore/go-gin-api-server/pom.xml
Labels: Enhancement: CI/Test, Server: Go

#4304 [Python] [Bug] Correct typo in the word datetime
  modules/openapi-generator/src/main/resources/python/api_client.mustache
  samples/client/petstore/python-asyncio/petstore_api/api_client.py
  samples/client/petstore/python-tornado/petstore_api/api_client.py
  samples/client/petstore/python/petstore_api/api_client.py
  samples/openapi3/client/petstore/python/petstore_api/api_client.py
Labels: Client: Python, Enhancement: General

#4248 Kotlin query collection format
  modules/openapi-generator/src/main/resources/kotlin-client/infrastructure/ApiAbstractions.kt.mustache
  samples/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/infrastructure/ApiAbstractions.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/infrastructure/ApiAbstractions.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/infrastructure/ApiAbstractions.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiAbstractions.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/ApiAbstractions.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ApiAbstractions.kt
  samples/openapi3/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/infrastructure/ApiAbstractions.kt
  samples/openapi3/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ApiAbstractions.kt
Labels: Client: Kotlin, Issue: Bug

#4312 [C] Update build-and-test.bash for CI errors
  samples/client/petstore/c/build-and-test.bash
Labels: Client: C

#4311 [Python] Remove redundant else statement
  modules/openapi-generator/src/main/resources/python/api_client.mustache
  samples/client/petstore/python-asyncio/petstore_api/api_client.py
  samples/client/petstore/python-tornado/petstore_api/api_client.py
  samples/client/petstore/python/petstore_api/api_client.py
  samples/openapi3/client/petstore/python/petstore_api/api_client.py
Labels: Client: Python, Enhancement: General

#4310 [r][documentation]: Adding model summary to model documentation files.
  modules/openapi-generator/src/main/resources/r/model_doc.mustache
  samples/client/petstore/R/docs/Category.md
  samples/client/petstore/R/docs/ModelApiResponse.md
  samples/client/petstore/R/docs/Order.md
  samples/client/petstore/R/docs/Pet.md
  samples/client/petstore/R/docs/Tag.md
  samples/client/petstore/R/docs/User.md
Labels: Client: R, Enhancement: Feature, Feature: Documentation

#4306 [python][fix] Adding model summary to model documentation files
  modules/openapi-generator/src/main/resources/python/model_doc.mustache
  modules/openapi-generator/src/main/resources/python/python-experimental/model_doc.mustache
  samples/client/petstore/python-asyncio/docs/ClassModel.md
  samples/client/petstore/python-asyncio/docs/File.md
  samples/client/petstore/python-asyncio/docs/Model200Response.md
  samples/client/petstore/python-asyncio/docs/ModelReturn.md
  samples/client/petstore/python-asyncio/docs/Name.md
  samples/client/petstore/python-experimental/docs/ClassModel.md
  samples/client/petstore/python-experimental/docs/File.md
  samples/client/petstore/python-experimental/docs/Model200Response.md
  samples/client/petstore/python-experimental/docs/ModelReturn.md
  samples/client/petstore/python-experimental/docs/Name.md
  samples/client/petstore/python-experimental/docs/TypeHolderDefault.md
  samples/client/petstore/python-experimental/docs/TypeHolderExample.md
  samples/client/petstore/python-tornado/docs/ClassModel.md
  samples/client/petstore/python-tornado/docs/File.md
  samples/client/petstore/python-tornado/docs/Model200Response.md
  samples/client/petstore/python-tornado/docs/ModelReturn.md
  samples/client/petstore/python-tornado/docs/Name.md
  samples/client/petstore/python/docs/ClassModel.md
  samples/client/petstore/python/docs/File.md
  samples/client/petstore/python/docs/Model200Response.md
  samples/client/petstore/python/docs/ModelReturn.md
  samples/client/petstore/python/docs/Name.md
  samples/openapi3/client/petstore/python/docs/ClassModel.md
  samples/openapi3/client/petstore/python/docs/File.md
  samples/openapi3/client/petstore/python/docs/HealthCheckResult.md
  samples/openapi3/client/petstore/python/docs/Model200Response.md
  samples/openapi3/client/petstore/python/docs/ModelReturn.md
  samples/openapi3/client/petstore/python/docs/Name.md
Labels: Client: Python, Enhancement: Feature, Feature: Documentation

#4317 [r][license]: Fixing license and contact information
  modules/openapi-generator/src/main/resources/r/description.mustache
  samples/client/petstore/R/DESCRIPTION
Labels: Client: R, Enhancement: Feature, Feature: Documentation

#4321 Do not HTML escaped the description in the doc
  modules/openapi-generator/src/main/resources/Java/pojo_doc.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/model_doc.mustache
  modules/openapi-generator/src/main/resources/python/model_doc.mustache
  modules/openapi-generator/src/main/resources/python/python-experimental/model_doc.mustache
  modules/openapi-generator/src/main/resources/r/model_doc.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/docs/ClassModel.md
  samples/client/petstore/csharp-netcore/OpenAPIClient/docs/File.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/docs/ClassModel.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/docs/File.md
  samples/client/petstore/java/google-api-client/docs/ClassModel.md
  samples/client/petstore/java/jersey1/docs/ClassModel.md
  samples/client/petstore/java/jersey2-java6/docs/ClassModel.md
  samples/client/petstore/java/jersey2-java8/docs/ClassModel.md
  samples/client/petstore/java/jersey2/docs/ClassModel.md
  samples/client/petstore/java/native/docs/ClassModel.md
  samples/client/petstore/java/okhttp-gson-parcelableModel/docs/ClassModel.md
  samples/client/petstore/java/okhttp-gson/docs/ClassModel.md
  samples/client/petstore/java/rest-assured/docs/ClassModel.md
  samples/client/petstore/java/resteasy/docs/ClassModel.md
  samples/client/petstore/java/resttemplate-withXml/docs/ClassModel.md
  samples/client/petstore/java/resttemplate/docs/ClassModel.md
  samples/client/petstore/java/retrofit2-play24/docs/ClassModel.md
  samples/client/petstore/java/retrofit2-play25/docs/ClassModel.md
  samples/client/petstore/java/retrofit2-play26/docs/ClassModel.md
  samples/client/petstore/java/retrofit2/docs/ClassModel.md
  samples/client/petstore/java/retrofit2rx/docs/ClassModel.md
  samples/client/petstore/java/retrofit2rx2/docs/ClassModel.md
  samples/client/petstore/java/vertx/docs/ClassModel.md
  samples/client/petstore/java/webclient/docs/ClassModel.md
  samples/client/petstore/python-asyncio/docs/ClassModel.md
  samples/client/petstore/python-asyncio/docs/File.md
  samples/client/petstore/python-experimental/docs/ClassModel.md
  samples/client/petstore/python-experimental/docs/File.md
  samples/client/petstore/python-tornado/docs/ClassModel.md
  samples/client/petstore/python-tornado/docs/File.md
  samples/client/petstore/python/docs/ClassModel.md
  samples/client/petstore/python/docs/File.md
  samples/openapi3/client/petstore/python/docs/ClassModel.md
  samples/openapi3/client/petstore/python/docs/File.md
Labels: Client: C-Sharp, Client: Java, Client: Python, Client: R, Enhancement: Feature, Feature: Documentation

#4337 fix(typescript-angular): do not call .toISOString() on a string (#4330)
  modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache
Labels: Client: TypeScript

#4341 typescript-angular: fix oneOf and anyOf generates incorrect model for primitive types
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
  modules/openapi-generator/src/main/resources/typescript-angular/model.mustache
  modules/openapi-generator/src/main/resources/typescript-angular/models.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/typescriptangular/TypeScriptAngularClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/typescriptangular/TypeScriptAngularModelTest.java
Labels: Client: TypeScript
