Repository OpenAPITools/openapi-generator, pull requests merged in 2019-12, with the labels that each got.

#4649 Add debug flag support for go-experimental generator
  modules/openapi-generator/src/main/resources/go-experimental/client.mustache
  modules/openapi-generator/src/main/resources/go-experimental/configuration.mustache
  modules/openapi-generator/src/main/resources/go/client.mustache
  samples/client/petstore/go-experimental/go-petstore/client.go
  samples/client/petstore/go-experimental/go-petstore/configuration.go
  samples/client/petstore/go/go-petstore-withXml/client.go
  samples/client/petstore/go/go-petstore/client.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/.openapi-generator/VERSION
  samples/openapi3/client/petstore/go-experimental/go-petstore/client.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/configuration.go
  samples/openapi3/client/petstore/go/go-petstore/client.go
Labels: Client: Go, Enhancement: CI/Test

#4670 [typescript-node]: Add support for nullable
  modules/openapi-generator/src/main/resources/typescript-node/model.mustache
Labels: Client: TypeScript

#4685 [C-libcurl]Update the condition to free apiClient->apiKeys to avoid compilation error
  modules/openapi-generator/src/main/resources/C-libcurl/apiClient.c.mustache
Labels: Client: C

#4667 fix(r): fixing serializatin bug in empty json array
  modules/openapi-generator/src/main/resources/r/api_client.mustache
  samples/client/petstore/R/R/api_client.R
Labels: Client: R, Issue: Bug

#4689 Error in the reactive client when the path variables are a list (#4687)
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/api.mustache
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Issue: Bug

#4648 Regenerate hashCode, equals, toString
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenCallback.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenDiscriminator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModel.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenOperation.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenProperty.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenResponse.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenSecurity.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenServer.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenServerVariable.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  samples/server/petstore/php-symfony/SymfonyBundle-php/Api/PetApiInterface.php
Labels: Feature: Generator, Issue: Bug

#4482 [Java/Core] Adds properties to ComposedSchema models when they exist
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/oneOf.yaml
Labels: Client: Java, Enhancement: General

#4635 [Go] Add multiple servers support to Go(-experimental) client
  modules/openapi-generator/src/main/resources/go-experimental/configuration.mustache
  modules/openapi-generator/src/main/resources/go/configuration.mustache
  samples/client/petstore/go-experimental/go-petstore/configuration.go
  samples/client/petstore/go/go-petstore-withXml/configuration.go
  samples/client/petstore/go/go-petstore/configuration.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/.openapi-generator/VERSION
  samples/openapi3/client/petstore/go-experimental/go-petstore/configuration.go
  samples/openapi3/client/petstore/go/go-petstore/configuration.go
Labels: Client: Go, Enhancement: Feature, Feature: OAS 3.0 spec support

#4617 [typescript-angular] Support text response types
  modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache
  samples/client/petstore/typescript-angular-v2/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v2/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v2/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v2/npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v2/npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v2/npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/pet.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/store.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/user.service.ts
  samples/client/petstore/typescript-angular-v4.3/npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v4.3/npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v4.3/npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v4/npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v4/npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v4/npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/api/pet.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/api/store.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/api/user.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/api/pet.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/api/store.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/api/user.service.ts
Labels: Client: TypeScript

#4695 [core] Provide User feedback on confusing use of oneOf
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Validate.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
Labels: Enhancement: General

#4727 Update PHP coding style link
  CONTRIBUTING.md
  docs/contributing.md
Labels: Client: PHP, Enhancement: Code format, Server: PHP

#4725 [jaxrs-spec][quarkus] update to 1.0.1.FINAL
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/quarkus/pom.mustache
Labels: Enhancement: Compatibility, Server: Java

#4724 [core] Minor schema validations bug + add pattern property to CodegenResponse
  modules/openapi-generator/src/main/java/org/openapitools/codegen/ClientOptInput.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenResponse.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultGeneratorTest.java
  modules/openapi-generator/src/test/resources/2_0/refAliasedPrimitiveWithValidation.yml
Labels: Enhancement: General, Feature: Generator, Issue: Bug

#4664 [go] Fix multi-value path params in go
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/main/resources/go-experimental/api.mustache
  modules/openapi-generator/src/main/resources/go/api.mustache
  samples/client/petstore/go-experimental/go-petstore/api_another_fake.go
  samples/client/petstore/go-experimental/go-petstore/api_fake.go
  samples/client/petstore/go-experimental/go-petstore/api_fake_classname_tags123.go
  samples/client/petstore/go-experimental/go-petstore/api_pet.go
  samples/client/petstore/go-experimental/go-petstore/api_store.go
  samples/client/petstore/go-experimental/go-petstore/api_user.go
  samples/client/petstore/go/go-petstore-withXml/api_another_fake.go
  samples/client/petstore/go/go-petstore-withXml/api_fake.go
  samples/client/petstore/go/go-petstore-withXml/api_fake_classname_tags123.go
  samples/client/petstore/go/go-petstore-withXml/api_pet.go
  samples/client/petstore/go/go-petstore-withXml/api_store.go
  samples/client/petstore/go/go-petstore-withXml/api_user.go
  samples/client/petstore/go/go-petstore/api_another_fake.go
  samples/client/petstore/go/go-petstore/api_fake.go
  samples/client/petstore/go/go-petstore/api_fake_classname_tags123.go
  samples/client/petstore/go/go-petstore/api_pet.go
  samples/client/petstore/go/go-petstore/api_store.go
  samples/client/petstore/go/go-petstore/api_user.go
  samples/openapi3/client/petstore/go/go-petstore/api_another_fake.go
  samples/openapi3/client/petstore/go/go-petstore/api_default.go
  samples/openapi3/client/petstore/go/go-petstore/api_fake.go
  samples/openapi3/client/petstore/go/go-petstore/api_fake_classname_tags123.go
  samples/openapi3/client/petstore/go/go-petstore/api_pet.go
  samples/openapi3/client/petstore/go/go-petstore/api_store.go
  samples/openapi3/client/petstore/go/go-petstore/api_user.go
Labels: Client: Go, Issue: Bug

#4743 [Python] updates python versions used in travis ci testing
  modules/openapi-generator/src/main/resources/python-flask/travis.mustache
  modules/openapi-generator/src/main/resources/python/travis.mustache
  samples/client/petstore/python-asyncio/.travis.yml
  samples/client/petstore/python-experimental/.travis.yml
  samples/client/petstore/python-tornado/.travis.yml
  samples/client/petstore/python/.travis.yml
  samples/openapi3/client/petstore/python/.travis.yml
  samples/openapi3/server/petstore/python-flask-python2/.openapi-generator/VERSION
  samples/openapi3/server/petstore/python-flask-python2/.travis.yml
  samples/openapi3/server/petstore/python-flask/.openapi-generator/VERSION
  samples/openapi3/server/petstore/python-flask/.travis.yml
  samples/server/petstore/python-aiohttp/.openapi-generator/VERSION
  samples/server/petstore/python-aiohttp/tests/test_user_controller.py
  samples/server/petstore/python-flask-python2/.openapi-generator/VERSION
  samples/server/petstore/python-flask-python2/.travis.yml
  samples/server/petstore/python-flask/.openapi-generator/VERSION
  samples/server/petstore/python-flask/.travis.yml
Labels: Client: Python, Enhancement: CI/Test, Server: Python

#4713 [REQ] Java Microprofile REST Client Template
  README.md
  bin/java-petstore-all.sh
  bin/java-petstore-microprofile.sh
  bin/windows/java-petstore-microprofile.bat
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/README.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/api_exception.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/api_exception_mapper.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/api_test.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/beanValidation.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/beanValidationCore.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/beanValidationHeaderParams.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/beanValidationPathParams.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/beanValidationQueryParams.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/bodyParams.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/bodyParamsImpl.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/enumClass.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/enumOuterClass.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/formParams.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/formParamsImpl.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/generatedAnnotation.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/headerParams.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/headerParamsImpl.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/licenseInfo.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/model.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/pathParams.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/pathParamsImpl.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/pojo.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/queryParams.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/queryParamsImpl.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/returnTypes.mustache
Labels: Client: Java, Enhancement: Feature

#4749 Add Java Microprofile Petstore client to CI tests
  pom.xml
Labels: Client: Java, Enhancement: CI/Test

#4735 [C-libcurl] Change baseName to name to escape the field name of struct when it in…
  modules/openapi-generator/src/main/resources/C-libcurl/model-body.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/model-header.mustache
Labels: Client: C, Issue: Bug

#4553 Add isCircularReference to properties
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenProperty.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElmClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/recursion.yaml
Labels: Client: Elm, Enhancement: General, Feature: Generator

#4744 [PHP] ensure rewound guzzle response body
  modules/openapi-generator/src/main/resources/php/api.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/AnotherFakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeClassnameTags123Api.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/PetApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/StoreApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/UserApi.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/AnotherFakeApi.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/DefaultApi.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/FakeClassnameTags123Api.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/PetApi.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/StoreApi.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/UserApi.php
Labels: Client: PHP, Issue: Bug

#4761 [r] Adding export of ApiException class
  modules/openapi-generator/src/main/resources/r/NAMESPACE.mustache
Labels: Client: R

#4764 [go-server] fix issue with serverPort configuration
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoServerCodegen.java
Labels: Server: Go

#4775 Fix shippable errors
  shippable.yml
Labels: Enhancement: CI/Test

#4772 [Kotlin] fix basic authentication compilation issue
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin, Issue: Bug

#4776 [Python] Fix package name in tox.ini
  modules/openapi-generator/src/main/resources/python/tox.mustache
Labels: Client: Python, Issue: Bug

#4708 [dart-dio] Fixes enum by setting the wireName to the correct value
  modules/openapi-generator/src/main/resources/dart-dio/enum.mustache
Labels: Client: Dart, Enhancement: Feature, Feature: Enum

#4768 [C-libcurl] fix building error when complexType is empty.
  modules/openapi-generator/src/main/resources/C-libcurl/model-body.mustache
Labels: Client: C, Issue: Bug

#4780 [typescript-redux-query] Add proper modelling of allOf usage.
  modules/openapi-generator/src/main/resources/typescript-redux-query/modelAllOf.mustache
  modules/openapi-generator/src/main/resources/typescript-redux-query/modelOneOf.mustache
  modules/openapi-generator/src/main/resources/typescript-redux-query/models.mustache
Labels: Client: TypeScript

#4774 [typescript-angular] Control Accept header via param
  modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache
  samples/client/petstore/typescript-angular-v2/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v2/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v2/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v2/npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v2/npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v2/npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/pet.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/store.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/user.service.ts
  samples/client/petstore/typescript-angular-v4.3/npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v4.3/npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v4.3/npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v4/npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v4/npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v4/npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/api/pet.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/api/store.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/api/user.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/api/pet.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/api/store.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/api/user.service.ts
Labels: Client: TypeScript

#4684 [PHP] Preserve JSON accept header
  modules/openapi-generator/src/main/resources/php/HeaderSelector.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/HeaderSelector.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/HeaderSelector.php
Labels: Client: PHP, Enhancement: Compatibility

#4791 CI improvements
  CI/bitrise.yml
  bin/kotlin-client-moshi-codegen.sh
  pom.xml
  samples/client/petstore/kotlin-moshi-codegen/pom.xml
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-nullable/pom.xml
Labels: Enhancement: CI/Test

#4751 [Slim4] Data mocker for scalar types
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSlim4ServerCodegen.java
  modules/openapi-generator/src/main/resources/php-slim4-server/composer.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/openapi_data_mocker.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/openapi_data_mocker_interface.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/openapi_data_mocker_test.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/phpunit.xml.mustache
  samples/server/petstore/php-slim4/composer.json
  samples/server/petstore/php-slim4/lib/Mock/OpenApiDataMocker.php
  samples/server/petstore/php-slim4/lib/Mock/OpenApiDataMockerInterface.php
  samples/server/petstore/php-slim4/phpunit.xml.dist
  samples/server/petstore/php-slim4/test/Mock/OpenApiDataMockerTest.php
Labels: Enhancement: CI/Test, Server: PHP

#4800 Add @athornz, @amondnet to Dart technical committee
  README.md
Labels: Client: Dart

#4716 [dart][dio] add dateLibrary options ( core, timemachine )
  docs/generators/dart-dio.md
  modules/openapi-generator/pom.xml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioClientCodegen.java
  modules/openapi-generator/src/main/resources/dart-dio/local_date_serializer.mustache
  modules/openapi-generator/src/main/resources/dart-dio/pubspec.mustache
  modules/openapi-generator/src/main/resources/dart-dio/serializers.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/dartdio/DartDioClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/dartdio/DartDioClientOptionsTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/dartdio/DartDioModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/DartDioClientOptionsProvider.java
Labels: Client: Dart, Enhancement: Feature

#4665 [Python] Removes mutable default argument
  modules/openapi-generator/src/main/resources/python/configuration.mustache
  samples/client/petstore/python-asyncio/petstore_api/configuration.py
  samples/client/petstore/python-experimental/petstore_api/configuration.py
  samples/client/petstore/python-tornado/petstore_api/configuration.py
  samples/client/petstore/python/petstore_api/configuration.py
  samples/openapi3/client/petstore/python/petstore_api/configuration.py
Labels: Client: Python, Enhancement: General

#4753 [Core] Refactor: breaking allModels indexing apart from updateAllModels
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Enhancement: General, Feature: Generator

#4762 [core] Validation properties standardization
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModel.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenProperty.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenResponse.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/IJsonSchemaValidationProperties.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
Labels: Enhancement: General, Issue: Bug

#4801 [Slim4] Add array support to Data Mocker
  modules/openapi-generator/src/main/resources/php-slim4-server/openapi_data_mocker.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/openapi_data_mocker_interface.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/openapi_data_mocker_test.mustache
  samples/server/petstore/php-slim4/lib/Mock/OpenApiDataMocker.php
  samples/server/petstore/php-slim4/lib/Mock/OpenApiDataMockerInterface.php
  samples/server/petstore/php-slim4/test/Mock/OpenApiDataMockerTest.php
Labels: Enhancement: CI/Test, Server: PHP

#4798 typescript-angular: optimize tree-shaking by disabling providers array when for providedIn: root is set
  modules/openapi-generator/src/main/resources/typescript-angular/api.module.mustache
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/api.module.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/api.module.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/api.module.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/api.module.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/api.module.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api.module.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/api.module.ts
Labels: Client: TypeScript

#4792 fix(typescript-angular): Fix date-timing-parsing is truncating the time (#4623 #4763)
  modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache
Labels: Client: TypeScript

#4805 [typescript-axios][client] Unnecessary imports occurs when using nested model in allOf
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAxiosClientCodegen.java
  modules/openapi-generator/src/main/resources/typescript-axios/model.mustache
  modules/openapi-generator/src/main/resources/typescript-axios/modelAllOf.mustache
Labels: Client: TypeScript

#4831 [Slim4] Add CI for PHP Slim4 Server
  pom.xml
  samples/server/petstore/php-slim4/php_syntax_checker.bash
  samples/server/petstore/php-slim4/pom.xml
Labels: Enhancement: CI/Test, Server: PHP

#4828 [r] Fixing the CRAN submission issues
  modules/openapi-generator/src/main/resources/r/Rbuildignore.mustache
  modules/openapi-generator/src/main/resources/r/description.mustache
  samples/client/petstore/R/.Rbuildignore
  samples/client/petstore/R/DESCRIPTION
Labels: Client: R, Issue: Usage/Installation

#4811 [markdown] New Markdown Generator
  bin/markdown-documentation-petstore.sh
  bin/windows/markdown-documentation-petstore.bat
  docs/new-generator.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/MarkdownDocumentationCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/markdown-documentation/README.mustache
  modules/openapi-generator/src/main/resources/markdown-documentation/api.mustache
  modules/openapi-generator/src/main/resources/markdown-documentation/model.mustache
  samples/documentation/markdown/.openapi-generator-ignore
  samples/documentation/markdown/.openapi-generator/VERSION
  samples/documentation/markdown/Apis/PetApi.md
  samples/documentation/markdown/Apis/StoreApi.md
  samples/documentation/markdown/Apis/UserApi.md
  samples/documentation/markdown/Models/ApiResponse.md
  samples/documentation/markdown/Models/Category.md
  samples/documentation/markdown/Models/Order.md
  samples/documentation/markdown/Models/Pet.md
  samples/documentation/markdown/Models/Tag.md
  samples/documentation/markdown/Models/User.md
  samples/documentation/markdown/README.md
Labels: Enhancement: New generator

#4812 [bug][dart] Allow derived generators to call DefaultCodegen#processOpts
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartJaguarClientCodegen.java
Labels: Client: Dart, Issue: Bug

#4788 Fix bean Validation for type:string, format: email
  modules/openapi-generator/src/main/resources/JavaSpring/beanValidationCore.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_4876_format_email.yaml
Labels: Server: Java, Server: Spring

#4838 [C-libcurl] Escape parameter name of function when it is the C keyword.
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CLibcurlClientCodegen.java
  modules/openapi-generator/src/main/resources/C-libcurl/api-body.mustache
Labels: Client: C, Issue: Bug

#4841 Add @ityuhui to C technical committee
  README.md
Labels: Client: C

#4706 [swift4] add option to sortParamsByRequiredFlag
  bin/swift4-petstore-nonPublicApi.json
  docs/generators/swift4.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift4Codegen.java
  samples/client/petstore/swift4/default/.openapi-generator/VERSION
  samples/client/petstore/swift4/nonPublicApi/.openapi-generator/VERSION
  samples/client/petstore/swift4/nonPublicApi/PetstoreClient/Classes/OpenAPIs/APIs.swift
  samples/client/petstore/swift4/nonPublicApi/PetstoreClient/Classes/OpenAPIs/APIs/FakeAPI.swift
  samples/client/petstore/swift4/nonPublicApi/PetstoreClient/Classes/OpenAPIs/APIs/PetAPI.swift
  samples/client/petstore/swift4/nonPublicApi/PetstoreClient/Classes/OpenAPIs/APIs/UserAPI.swift
  samples/client/petstore/swift4/nonPublicApi/PetstoreClient/Classes/OpenAPIs/AlamofireImplementations.swift
  samples/client/petstore/swift4/nonPublicApi/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift4/nonPublicApi/docs/FakeAPI.md
  samples/client/petstore/swift4/nonPublicApi/docs/PetAPI.md
  samples/client/petstore/swift4/objcCompatible/.openapi-generator/VERSION
  samples/client/petstore/swift4/promisekitLibrary/.openapi-generator/VERSION
  samples/client/petstore/swift4/resultLibrary/.openapi-generator/VERSION
  samples/client/petstore/swift4/resultLibrary/PetstoreClient/Classes/OpenAPIs/APIs.swift
  samples/client/petstore/swift4/resultLibrary/PetstoreClient/Classes/OpenAPIs/APIs/FakeAPI.swift
  samples/client/petstore/swift4/resultLibrary/PetstoreClient/Classes/OpenAPIs/APIs/PetAPI.swift
  samples/client/petstore/swift4/resultLibrary/PetstoreClient/Classes/OpenAPIs/APIs/UserAPI.swift
  samples/client/petstore/swift4/resultLibrary/PetstoreClient/Classes/OpenAPIs/AlamofireImplementations.swift
  samples/client/petstore/swift4/resultLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift4/rxswiftLibrary/.openapi-generator/VERSION
  samples/client/petstore/swift4/unwrapRequired/.openapi-generator/VERSION
  samples/client/test/swift4/default/.openapi-generator/VERSION
  samples/client/test/swift4/default/TestClient/Classes/OpenAPIs/APIs/Swift4TestAPI.swift
  samples/client/test/swift4/default/TestClient/Classes/OpenAPIs/Extensions.swift
Labels: Client: Swift, Enhancement: Feature

#4742 [kotlin][client] expose http status code on errors
  modules/openapi-generator/src/main/resources/kotlin-client/api.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm/infrastructure/Errors.kt.mustache
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/infrastructure/Errors.kt
  samples/client/petstore/kotlin-json-request-date/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-json-request-date/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-json-request-date/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-json-request-date/src/main/kotlin/org/openapitools/client/infrastructure/Errors.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/infrastructure/Errors.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/infrastructure/Errors.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/infrastructure/Errors.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/infrastructure/Errors.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/Errors.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/Errors.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/Errors.kt
Labels: Client: Kotlin, Enhancement: General

#4740 [kotlin][client] make serializer configurable
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm/infrastructure/Serializer.kt.mustache
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
Labels: Enhancement: Feature, Feature: Generator

#4827 [kotlin][client] unify jvm libraries
  bin/kotlin-client-retrofit2.sh
  bin/windows/kotlin-client-retrofit2.bat
  docs/generators/kotlin.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinClientCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-client/build.gradle.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/jvm-common/infrastructure/ByteArrayAdapter.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/jvm-common/infrastructure/DateAdapter.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/jvm-common/infrastructure/LocalDateAdapter.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/jvm-common/infrastructure/LocalDateTimeAdapter.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/jvm-common/infrastructure/Serializer.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/jvm-common/infrastructure/UUIDAdapter.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-okhttp/infrastructure/ApiClient.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-okhttp/infrastructure/ApiInfrastructureResponse.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-okhttp/infrastructure/ApplicationDelegates.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-okhttp/infrastructure/Errors.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-okhttp/infrastructure/ResponseExtensions.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/api.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/bodyParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/formParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/headerParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/infrastructure/ApiClient.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/infrastructure/CollectionFormats.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/pathParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/queryParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm/infrastructure/Serializer.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm/infrastructure/UUIDAdapter.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/retrofit2/infrastructure/ByteArrayAdapter.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/retrofit2/infrastructure/DateAdapter.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/retrofit2/infrastructure/LocalDateAdapter.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/retrofit2/infrastructure/LocalDateTimeAdapter.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/retrofit2/infrastructure/UUIDAdapter.kt.mustache
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/infrastructure/UUIDAdapter.kt
  samples/client/petstore/kotlin-json-request-date/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-retrofit2/README.md
  samples/client/petstore/kotlin-retrofit2/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
Labels: Client: Kotlin, Enhancement: Feature

#4839 [java] Update jackson_databind_nullable_version to 0.2.1
  modules/openapi-generator/src/main/resources/Java/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/rest-assured/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/rest-assured/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/pom.mustache
  samples/client/petstore/java/feign/build.gradle
  samples/client/petstore/java/feign/pom.xml
  samples/client/petstore/java/feign10x/build.gradle
  samples/client/petstore/java/feign10x/pom.xml
  samples/client/petstore/java/google-api-client/build.gradle
  samples/client/petstore/java/google-api-client/pom.xml
  samples/client/petstore/java/jersey1/build.gradle
  samples/client/petstore/java/jersey2-java6/pom.xml
  samples/client/petstore/java/jersey2-java8/build.gradle
  samples/client/petstore/java/jersey2-java8/pom.xml
  samples/client/petstore/java/jersey2/build.gradle
  samples/client/petstore/java/jersey2/pom.xml
  samples/client/petstore/java/native/pom.xml
  samples/client/petstore/java/resteasy/build.gradle
  samples/client/petstore/java/resteasy/pom.xml
  samples/client/petstore/java/resttemplate-withXml/build.gradle
  samples/client/petstore/java/resttemplate-withXml/pom.xml
  samples/client/petstore/java/resttemplate/build.gradle
  samples/client/petstore/java/resttemplate/pom.xml
  samples/client/petstore/java/retrofit2-play24/pom.xml
  samples/client/petstore/java/retrofit2-play25/pom.xml
  samples/client/petstore/java/retrofit2-play26/build.gradle
  samples/client/petstore/java/retrofit2-play26/pom.xml
  samples/client/petstore/java/vertx/pom.xml
  samples/client/petstore/java/webclient/build.gradle
  samples/client/petstore/java/webclient/pom.xml
Labels: Client: Java

#4835 [kotlin][client] Use OffsetDateTime to represente date-time received by the server
  bin/windows/kotlin-client-string.bat
  docs/generators/kotlin.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinClientCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-client/jvm-common/infrastructure/OffsetDateTimeAdapter.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/jvm-common/infrastructure/Serializer.kt.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/KotlinClientCodegenModelTest.java
  samples/client/petstore/kotlin-gson/docs/Order.md
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/infrastructure/OffsetDateTimeAdapter.kt
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-json-request-date/docs/Order.md
  samples/client/petstore/kotlin-json-request-date/docs/PetApi.md
  samples/client/petstore/kotlin-json-request-date/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-json-request-date/src/main/kotlin/org/openapitools/client/infrastructure/OffsetDateTimeAdapter.kt
  samples/client/petstore/kotlin-json-request-date/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-json-request-date/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-moshi-codegen/docs/Order.md
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/infrastructure/OffsetDateTimeAdapter.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-nonpublic/docs/Order.md
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/infrastructure/OffsetDateTimeAdapter.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-nullable/docs/Order.md
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/infrastructure/OffsetDateTimeAdapter.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-okhttp3/docs/Order.md
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/infrastructure/OffsetDateTimeAdapter.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-retrofit2/docs/Order.md
  samples/client/petstore/kotlin-retrofit2/src/main/kotlin/org/openapitools/client/infrastructure/OffsetDateTimeAdapter.kt
  samples/client/petstore/kotlin-retrofit2/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-retrofit2/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/OffsetDateTimeAdapter.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-threetenbp/docs/Order.md
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/OffsetDateTimeAdapter.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin/docs/Order.md
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/OffsetDateTimeAdapter.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin/src/test/kotlin/org/openapitools/client/StoreApiTest.kt
Labels: Client: Kotlin, Issue: Bug

#4821 [java] Jersey2 and resttemplate do not correctly send defaultCookies
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/ApiClient.mustache
  samples/client/petstore/java/jersey2-java6/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#4846 [C-libcurl] Fix build error when a struct includes a pointer pointing to itself
  modules/openapi-generator/src/main/resources/C-libcurl/model-header.mustache
Labels: Client: C, Issue: Bug

#4784 [REQ][GO] add awsv4 signature support
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
  modules/openapi-generator/src/main/resources/go/README.mustache
  modules/openapi-generator/src/main/resources/go/client.mustache
  modules/openapi-generator/src/main/resources/go/configuration.mustache
  modules/openapi-generator/src/main/resources/go/go.mod.mustache
  modules/openapi-generator/src/main/resources/go/go.sum
  modules/openapi-generator/src/test/java/org/openapitools/codegen/go/GoClientOptionsTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/GoClientOptionsProvider.java
  samples/client/petstore/go/go-petstore-withXml/README.md
  samples/client/petstore/go/go-petstore-withXml/client.go
  samples/client/petstore/go/go-petstore-withXml/configuration.go
  samples/client/petstore/go/go-petstore-withXml/go.mod
  samples/client/petstore/go/go-petstore-withXml/go.sum
  samples/client/petstore/go/go-petstore/README.md
  samples/client/petstore/go/go-petstore/client.go
  samples/client/petstore/go/go-petstore/configuration.go
  samples/client/petstore/go/go-petstore/go.mod
  samples/client/petstore/go/go-petstore/go.sum
  samples/openapi3/client/petstore/go/go-petstore/README.md
  samples/openapi3/client/petstore/go/go-petstore/client.go
  samples/openapi3/client/petstore/go/go-petstore/configuration.go
  samples/openapi3/client/petstore/go/go-petstore/go.mod
  samples/openapi3/client/petstore/go/go-petstore/go.sum
  samples/openapi3/server/petstore/go-api-server/.openapi-generator/VERSION
  samples/openapi3/server/petstore/go-api-server/go/api_another_fake.go
  samples/openapi3/server/petstore/go-api-server/go/api_default.go
  samples/openapi3/server/petstore/go-api-server/go/api_fake.go
  samples/openapi3/server/petstore/go-api-server/go/api_fake_classname_tags123.go
  samples/openapi3/server/petstore/go-api-server/go/api_pet.go
  samples/openapi3/server/petstore/go-api-server/go/api_store.go
  samples/openapi3/server/petstore/go-api-server/go/api_user.go
  samples/openapi3/server/petstore/go-api-server/go/routers.go
  samples/openapi3/server/petstore/go-api-server/main.go
  samples/openapi3/server/petstore/go-gin-api-server/.openapi-generator/VERSION
Labels: Client: Go, Enhancement: Feature

#4853 [Slim4] Add object support to Data Mocker
  modules/openapi-generator/src/main/resources/php-slim4-server/openapi_data_mocker.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/openapi_data_mocker_interface.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/openapi_data_mocker_test.mustache
  samples/server/petstore/php-slim4/lib/Mock/OpenApiDataMocker.php
  samples/server/petstore/php-slim4/lib/Mock/OpenApiDataMockerInterface.php
  samples/server/petstore/php-slim4/test/Mock/OpenApiDataMockerTest.php
Labels: Enhancement: CI/Test, Server: PHP

#4855 [Slim4] Add ModelUtils and StringUtils
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSlim4ServerCodegen.java
  modules/openapi-generator/src/main/resources/php-slim4-server/composer.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/model_utils_trait.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/model_utils_trait_test.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/phpunit.xml.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/string_utils_trait.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/string_utils_trait_test.mustache
  samples/server/petstore/php-slim4/composer.json
  samples/server/petstore/php-slim4/lib/Utils/ModelUtilsTrait.php
  samples/server/petstore/php-slim4/lib/Utils/StringUtilsTrait.php
  samples/server/petstore/php-slim4/phpunit.xml.dist
  samples/server/petstore/php-slim4/test/Utils/ModelUtilsTraitTest.php
  samples/server/petstore/php-slim4/test/Utils/StringUtilsTraitTest.php
Labels: Server: PHP

#4645 [dart-dio] Fixes issue where only some instances of List or Map were replaced wi…
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioClientCodegen.java
  modules/openapi-generator/src/main/resources/dart-dio/class.mustache
Labels: Client: Dart, Issue: Bug

#4856 Fix boolean option in asciidoc generator
  bin/asciidoc-documentation-petstore.sh
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AsciidocDocumentationCodegen.java
  samples/documentation/asciidoc/index.adoc
Labels: Doc: AsciiDoc, Issue: Bug

#4858 [Slim4] Add integration tests
  modules/openapi-generator/src/main/resources/php-slim4-server/.gitignore
  samples/server/petstore/php-slim4/.gitignore
  samples/server/petstore/php-slim4/composer.lock
  samples/server/petstore/php-slim4/php_syntax_checker.bash
  samples/server/petstore/php-slim4/pom.xml
Labels: Enhancement: CI/Test, Server: PHP

#4441 [Rust Server] Handle multiple response type
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/resources/rust-server/client-mod.mustache
  modules/openapi-generator/src/main/resources/rust-server/mimetypes.mustache
  modules/openapi-generator/src/main/resources/rust-server/server-mod.mustache
  modules/openapi-generator/src/test/resources/3_0/rust-server/openapi-v3.yaml
  samples/server/petstore/rust-server/output/openapi-v3/README.md
  samples/server/petstore/rust-server/output/openapi-v3/api/openapi.yaml
  samples/server/petstore/rust-server/output/openapi-v3/docs/InlineResponse201.md
  samples/server/petstore/rust-server/output/openapi-v3/docs/default_api.md
  samples/server/petstore/rust-server/output/openapi-v3/examples/client.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/server_lib/server.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/mimetypes.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/models.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/client/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/mimetypes.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/server/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/client/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/server/mod.rs
Labels: Client: Rust, Server: Rust

#4861 [C-libcurl] Assign the data type to the function parameter when it is "Free Form Object" in OpenAPI description(swagger.json)
  modules/openapi-generator/src/main/resources/C-libcurl/api-body.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/api-header.mustache
Labels: Client: C, Enhancement: General

#4863 Fix 3522: [BUG][Ada] Wrong style for generated Ada model types and missing security scopes
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractAdaCodegen.java
  modules/openapi-generator/src/main/resources/Ada/gnat-project.mustache
  modules/openapi-generator/src/main/resources/Ada/server.mustache
  samples/client/petstore/ada/.openapi-generator/VERSION
  samples/client/petstore/ada/petstore.gpr
  samples/client/petstore/ada/src/client/samples-petstore-clients.adb
  samples/client/petstore/ada/src/client/samples-petstore-clients.ads
  samples/client/petstore/ada/src/model/samples-petstore-models.adb
  samples/client/petstore/ada/src/model/samples-petstore-models.ads
  samples/client/petstore/ada/src/petstore.adb
Labels: Client: Ada, Issue: Bug, Server: Ada

#4860 [MySQL] snake_case table and column names
  docs/generators/mysql-schema.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/MysqlSchemaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/mysql/MysqlSchemaCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/mysql/MysqlSchemaOptionsTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/MysqlSchemaOptionsProvider.java
Labels: Enhancement: Feature, Schema: MySQL

#4793 [Kotlin][Client] Update Reserved Keywords
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
Labels: Client: Kotlin, Enhancement: Feature, Server: Kotlin

#4672 [Java] Fix serialized name of discriminator in JSON.mustache
  modules/openapi-generator/src/main/resources/Java/JSON.mustache
Labels: Client: Java, Feature: Composition / Inheritance, Issue: Bug

#4062 [Kotlin] enumPropertyNaming UPPERCASE should separate words with _
  bin/kotlin-uppercase-enum.sh
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/test/resources/3_0/issue-4062.yaml
  samples/client/petstore/kotlin-uppercase-enum/.openapi-generator-ignore
  samples/client/petstore/kotlin-uppercase-enum/.openapi-generator/VERSION
  samples/client/petstore/kotlin-uppercase-enum/README.md
  samples/client/petstore/kotlin-uppercase-enum/build.gradle
  samples/client/petstore/kotlin-uppercase-enum/docs/EnumApi.md
  samples/client/petstore/kotlin-uppercase-enum/docs/PetEnum.md
  samples/client/petstore/kotlin-uppercase-enum/settings.gradle
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/apis/EnumApi.kt
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/infrastructure/ApiAbstractions.kt
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/infrastructure/ApiInfrastructureResponse.kt
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/infrastructure/ApplicationDelegates.kt
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/infrastructure/ByteArrayAdapter.kt
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/infrastructure/Errors.kt
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/infrastructure/LocalDateAdapter.kt
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/infrastructure/LocalDateTimeAdapter.kt
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/infrastructure/RequestConfig.kt
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/infrastructure/RequestMethod.kt
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/infrastructure/ResponseExtensions.kt
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/infrastructure/UUIDAdapter.kt
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/models/PetEnum.kt
Labels: Client: Kotlin, Feature: Enum, Issue: Bug, Server: Kotlin

#3911 Added Dart config parameters to fulfill pubspec requirements for publishing to pub
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartClientCodegen.java
  modules/openapi-generator/src/main/resources/dart2/pubspec.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/dart/DartClientOptionsTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/DartClientOptionsProvider.java
Labels: Client: Dart, Enhancement: Feature

#4874 [Dart] fix option tests
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/dartdio/DartDioClientOptionsTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/DartClientOptionsProvider.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/DartDioClientOptionsProvider.java
Labels: Client: Dart, Enhancement: CI/Test

#4864 [Rust Server] Rust 1.39 compatibility
  modules/openapi-generator/src/main/resources/rust-server/Cargo.mustache
  modules/openapi-generator/src/main/resources/rust-server/client-mod.mustache
  modules/openapi-generator/src/main/resources/rust-server/example-client.mustache
  modules/openapi-generator/src/main/resources/rust-server/example-server_server.mustache
  modules/openapi-generator/src/main/resources/rust-server/lib.mustache
  modules/openapi-generator/src/main/resources/rust-server/server-mod.mustache
  samples/server/petstore/rust-server/output/multipart-v3/Cargo.toml
  samples/server/petstore/rust-server/output/multipart-v3/examples/client.rs
  samples/server/petstore/rust-server/output/multipart-v3/examples/server_lib/server.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/lib.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/Cargo.toml
  samples/server/petstore/rust-server/output/openapi-v3/examples/client.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/server_lib/server.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/ops-v3/Cargo.toml
  samples/server/petstore/rust-server/output/ops-v3/examples/client.rs
  samples/server/petstore/rust-server/output/ops-v3/examples/server_lib/server.rs
  samples/server/petstore/rust-server/output/ops-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/ops-v3/src/lib.rs
  samples/server/petstore/rust-server/output/ops-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/Cargo.toml
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/examples/client.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/examples/server_lib/server.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/client/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/lib.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/server/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/Cargo.toml
  samples/server/petstore/rust-server/output/rust-server-test/examples/client.rs
  samples/server/petstore/rust-server/output/rust-server-test/examples/server_lib/server.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/client/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/lib.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/server/mod.rs
Labels: Client: Rust, Enhancement: Compatibility, Server: Rust

#4883 Fix Java Feign client's parameter request name
  modules/openapi-generator/src/main/resources/Java/libraries/feign/api.mustache
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/feign10x/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/feign10x/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/feign10x/src/main/java/org/openapitools/client/api/StoreApi.java
Labels: Client: Java, Issue: Bug

#3312 Fix for Issue #2205
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-cloud/apiClient.mustache
Labels: Issue: Bug, Server: Java
