Repository OpenAPITools/openapi-generator, pull requests merged in 2019-11, with the labels that each got.

#4344 [Java] Fix security alerts due to com.fasterxml.jackson.core:jackson-databind
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/pom.mustache
  samples/client/petstore/java/feign/build.gradle
  samples/client/petstore/java/feign/build.sbt
  samples/client/petstore/java/feign/pom.xml
  samples/client/petstore/java/feign10x/build.gradle
  samples/client/petstore/java/feign10x/build.sbt
  samples/client/petstore/java/feign10x/pom.xml
  samples/client/petstore/java/webclient/pom.xml
Labels: Client: Java, Enhancement: Security

#4340 [typescript-fetch] Fix discriminator mapping name
  modules/openapi-generator/src/main/resources/typescript-fetch/modelGeneric.mustache
Labels: Client: TypeScript, Issue: Bug

#4261 [JS] Update package.json
  modules/openapi-generator/src/main/resources/Javascript/es6/package.mustache
  samples/client/petstore/javascript-es6/package.json
  samples/client/petstore/javascript-promise-es6/package.json
  samples/openapi3/client/petstore/javascript-es6/package.json
Labels: Client: JavaScript/Node.js, Enhancement: Compatibility

#4318 [python][metadata]: Adding license and author fields
  modules/openapi-generator/src/main/resources/python/python-experimental/setup.mustache
  modules/openapi-generator/src/main/resources/python/setup.mustache
  samples/client/petstore/python-asyncio/setup.py
  samples/client/petstore/python-experimental/setup.py
  samples/client/petstore/python-tornado/setup.py
  samples/client/petstore/python/setup.py
  samples/openapi3/client/petstore/python/setup.py
Labels: Client: Python, Enhancement: General

#4352 Remove deprecated API use of ObjectFactory.property() (#2613)
  modules/openapi-generator-gradle-plugin/build.gradle
  modules/openapi-generator-gradle-plugin/gradle/wrapper/gradle-wrapper.properties
  modules/openapi-generator-gradle-plugin/pom.xml
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/extensions/OpenApiGeneratorGenerateExtension.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
Labels: Enhancement: Compatibility, OpenAPI Generator Gradle Plugin

#4353 Bugfix and Refactor on Java-Vertx-Web parameters
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/apiHandler.mustache
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/formParams.mustache
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/headerParams.mustache
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/pathParams.mustache
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/queryParams.mustache
  samples/server/petstore/java-vertx-web/rx/.openapi-generator/VERSION
  samples/server/petstore/java-vertx-web/rx/src/main/java/org/openapitools/vertxweb/server/api/PetApiHandler.java
  samples/server/petstore/java-vertx-web/rx/src/main/java/org/openapitools/vertxweb/server/api/StoreApiHandler.java
  samples/server/petstore/java-vertx-web/rx/src/main/java/org/openapitools/vertxweb/server/api/UserApiHandler.java
Labels: Enhancement: General, Issue: Bug, Server: Java

#4339 [kotlin][client] annotate api exceptions
  modules/openapi-generator/src/main/resources/kotlin-client/api.mustache
  samples/client/petstore/kotlin-nonpublic/.openapi-generator/VERSION
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-okhttp3/.openapi-generator/VERSION
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
Labels: Client: Kotlin

#4327 Fix issue 4326 forward throws for delegate to main method
  modules/openapi-generator/src/main/resources/JavaSpring/api.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/apiDelegate.mustache
Labels: Enhancement: General, Server: Java, Server: Spring

#4335 [core] consider polymorphism when computing unused schemas
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/utils/ModelUtilsTest.java
  modules/openapi-generator/src/test/resources/3_0/unusedSchemas.yaml
Labels: Enhancement: General, Feature: Composition / Inheritance

#4345 csharp-netcore: Replace null literals with default
  modules/openapi-generator/src/main/resources/csharp-netcore/api.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/PetApi.cs
Labels: Client: C-Sharp, Issue: Bug

#4355 [Java][okhttp-gson] Smaller tests, better code format
  CI/samples.ci/client/petstore/java/test-manual/okhttp-gson/api/PetApiTest.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/api/PetApiTest.java
Labels: Client: Java, Enhancement: CI/Test, Enhancement: Code format

#4356 [cli][script] Fix misspelling in cli bootstrapping script
  bin/utils/openapi-generator-cli.sh
Labels: Issue: Bug, OpenAPI Generator CLI

#4324 [Python-Experimental]: Remove redundant else statement
  modules/openapi-generator/src/main/resources/python/python-experimental/api_client.mustache
  samples/client/petstore/python-experimental/.openapi-generator/VERSION
  samples/client/petstore/python-experimental/petstore_api/api_client.py
Labels: Client: Python, Enhancement: General

#4263 [JavascriptFlowtyped] Adding parent flow type to child type using "& ParentType" to allow flow js access parent fields from child types
  modules/openapi-generator/src/main/resources/Javascript-Flowtyped/modelGeneric.mustache
Labels: Client: JavaScript/Node.js, Issue: Bug

#4370 Fix Jackson databind security issue
  modules/openapi-generator/src/main/resources/Groovy/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/pom.mustache
  modules/openapi-generator/src/main/resources/java-undertow-server/pom.mustache
  samples/client/petstore/groovy/build.gradle
  samples/client/petstore/java/google-api-client/build.gradle
  samples/client/petstore/java/google-api-client/build.sbt
  samples/client/petstore/java/google-api-client/pom.xml
  samples/client/petstore/java/jersey1/build.gradle
  samples/client/petstore/java/jersey2-java6/build.sbt
  samples/client/petstore/java/jersey2-java6/pom.xml
  samples/client/petstore/java/jersey2-java8/build.gradle
  samples/client/petstore/java/jersey2-java8/build.sbt
  samples/client/petstore/java/jersey2-java8/pom.xml
  samples/client/petstore/java/jersey2/build.gradle
  samples/client/petstore/java/jersey2/build.sbt
  samples/client/petstore/java/jersey2/pom.xml
  samples/client/petstore/java/resteasy/build.gradle
  samples/client/petstore/java/resteasy/build.sbt
  samples/client/petstore/java/resteasy/pom.xml
  samples/client/petstore/java/resttemplate-withXml/build.gradle
  samples/client/petstore/java/resttemplate-withXml/pom.xml
  samples/client/petstore/java/resttemplate/build.gradle
  samples/client/petstore/java/resttemplate/pom.xml
  samples/client/petstore/java/retrofit2-play24/pom.xml
  samples/client/petstore/java/retrofit2-play25/build.sbt
  samples/client/petstore/java/retrofit2-play25/pom.xml
  samples/client/petstore/java/retrofit2-play26/build.gradle
  samples/client/petstore/java/retrofit2-play26/pom.xml
  samples/client/petstore/java/vertx/build.gradle
  samples/client/petstore/java/vertx/pom.xml
  samples/client/petstore/java/webclient/build.gradle
Labels: Client: Java, Issue: Security

#4377 [Java] skip the test as async call may have finished
  CI/samples.ci/client/petstore/java/test-manual/okhttp-gson/api/PetApiTest.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/api/PetApiTest.java
Labels: Client: Java, Enhancement: CI/Test

#4386 [C++] [Pistache] update cpp flag for pistache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/cmake.mustache
  samples/server/petstore/cpp-pistache/.openapi-generator/VERSION
  samples/server/petstore/cpp-pistache/CMakeLists.txt
Labels: Enhancement: Compatibility, Server: C++

#4351 Fixes Kotlin client property names that include a dollar sign for template overrides
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinClientCodegen.java
Labels: Client: Kotlin, Issue: Bug

#4385 [C++] [Qt5]Update isSet when the object is received from callback.
  modules/openapi-generator/src/main/resources/cpp-qt5-client/helpers-header.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/model-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/model-header.mustache
  samples/client/petstore/cpp-qt5/.openapi-generator/VERSION
  samples/client/petstore/cpp-qt5/client/OAIApiResponse.cpp
  samples/client/petstore/cpp-qt5/client/OAIApiResponse.h
  samples/client/petstore/cpp-qt5/client/OAICategory.cpp
  samples/client/petstore/cpp-qt5/client/OAICategory.h
  samples/client/petstore/cpp-qt5/client/OAIHelpers.h
  samples/client/petstore/cpp-qt5/client/OAIOrder.cpp
  samples/client/petstore/cpp-qt5/client/OAIOrder.h
  samples/client/petstore/cpp-qt5/client/OAIPet.cpp
  samples/client/petstore/cpp-qt5/client/OAIPet.h
  samples/client/petstore/cpp-qt5/client/OAITag.cpp
  samples/client/petstore/cpp-qt5/client/OAITag.h
  samples/client/petstore/cpp-qt5/client/OAIUser.cpp
  samples/client/petstore/cpp-qt5/client/OAIUser.h
Labels: Client: C++, Client: QT, Enhancement: General

#4361 [kotlin] [bugfix] [maven-plugin]: prevent ClassCastException with boolean config options
  .travis.yml
  modules/openapi-generator-maven-plugin/examples/kotlin.xml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/AbstractKotlinCodegenTest.java
Labels: Client: Kotlin, Issue: Bug

#4402 [Kotlin][Client] Prefix local variable with localVar
  modules/openapi-generator/src/main/resources/kotlin-client/api.mustache
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
Labels: Client: Kotlin, Enhancement: Code format

#4315 [typescript-fetch] Fix for nullable enums + separate treatment of null and undefined
  modules/openapi-generator/src/main/resources/typescript-fetch/modelEnum.mustache
  modules/openapi-generator/src/main/resources/typescript-fetch/modelGeneric.mustache
  samples/client/petstore/typescript-fetch/builds/default/src/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/default/src/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/src/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/src/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/typescript-three-plus/src/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/typescript-three-plus/src/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/src/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/src/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/models/Pet.ts
Labels: Client: TypeScript, Issue: Bug

#4400 [go-server] Add featureCORS option
  docs/generators/go-server.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoServerCodegen.java
  modules/openapi-generator/src/main/resources/go-server/routers.mustache
Labels: Server: Go

#3495 [Core, Rust Server, ASP.NET Core] Fix Codegen Operation Scope Consistency
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenSecurity.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/controller.mustache
  modules/openapi-generator/src/test/resources/3_0/rust-server/openapi-v3.yaml
  samples/server/petstore/aspnetcore/.openapi-generator/VERSION
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/wwwroot/openapi-original.json
  samples/server/petstore/rust-server/output/openapi-v3/README.md
  samples/server/petstore/rust-server/output/openapi-v3/api/openapi.yaml
  samples/server/petstore/rust-server/output/openapi-v3/docs/default_api.md
  samples/server/petstore/rust-server/output/openapi-v3/examples/client.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/server_lib/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/server_lib/server.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/context.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/mod.rs
Labels: Client: Rust, Server: Rust

#4426 Replace the old ResourceSupport
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-mvc/pom.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/model.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/pojo.mustache
Labels: Enhancement: Compatibility, Server: Java

#4417 [Go][Server] minor enhancement to the template
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoServerCodegen.java
  modules/openapi-generator/src/main/resources/go-server/controller-api.mustache
  modules/openapi-generator/src/main/resources/go-server/routers.mustache
  samples/server/petstore/go-api-server/go/api_pet.go
  samples/server/petstore/go-api-server/go/api_store.go
  samples/server/petstore/go-api-server/go/api_user.go
  samples/server/petstore/go-api-server/go/routers.go
Labels: Enhancement: Code format, Server: Go

#4156 [meta] Support Kotlin meta generator
  bin/meta-codegen-kotlin.sh
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Meta.java
  modules/openapi-generator/src/main/resources/codegen/kotlin/README.mustache
  modules/openapi-generator/src/main/resources/codegen/kotlin/build_gradle.mustache
  modules/openapi-generator/src/main/resources/codegen/kotlin/generatorClass.mustache
  modules/openapi-generator/src/main/resources/codegen/kotlin/generatorClassTest.mustache
  modules/openapi-generator/src/main/resources/codegen/kotlin/gradle.properties
  modules/openapi-generator/src/main/resources/codegen/kotlin/settings.mustache
  samples/meta-codegen-kotlin/.gitignore
  samples/meta-codegen-kotlin/gradle/wrapper/gradle-wrapper.properties
  samples/meta-codegen-kotlin/gradlew
  samples/meta-codegen-kotlin/gradlew.bat
  samples/meta-codegen-kotlin/lib/README.md
  samples/meta-codegen-kotlin/lib/build.gradle.kts
  samples/meta-codegen-kotlin/lib/gradle.properties
  samples/meta-codegen-kotlin/lib/gradle/wrapper/gradle-wrapper.properties
  samples/meta-codegen-kotlin/lib/gradlew
  samples/meta-codegen-kotlin/lib/settings.gradle
  samples/meta-codegen-kotlin/lib/src/main/kotlin/com/my/company/codegen/MyclientcodegenGenerator.kt
  samples/meta-codegen-kotlin/lib/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  samples/meta-codegen-kotlin/lib/src/main/resources/myClientCodegen/api.mustache
  samples/meta-codegen-kotlin/lib/src/main/resources/myClientCodegen/model.mustache
  samples/meta-codegen-kotlin/lib/src/main/resources/myClientCodegen/myFile.mustache
  samples/meta-codegen-kotlin/lib/src/test/kotlin/com/my/company/codegen/MyclientcodegenGeneratorTest.kt
  samples/meta-codegen-kotlin/usage/.openapi-generator-ignore
  samples/meta-codegen-kotlin/usage/.openapi-generator/VERSION
  samples/meta-codegen-kotlin/usage/myFile.sample
  samples/meta-codegen-kotlin/usage/src/org/openapitools/api/PetApi.sample
  samples/meta-codegen-kotlin/usage/src/org/openapitools/api/StoreApi.sample
  samples/meta-codegen-kotlin/usage/src/org/openapitools/api/UserApi.sample
  samples/meta-codegen-kotlin/usage/src/org/openapitools/model/Category.sample
  samples/meta-codegen-kotlin/usage/src/org/openapitools/model/Order.sample
  samples/meta-codegen-kotlin/usage/src/org/openapitools/model/Pet.sample
  samples/meta-codegen-kotlin/usage/src/org/openapitools/model/Tag.sample
  samples/meta-codegen-kotlin/usage/src/org/openapitools/model/User.sample
Labels: Enhancement: Feature, Enhancement: New generator

#4430 Simpler timeout with QTimer::singleShot
  modules/openapi-generator/src/main/resources/cpp-qt5-client/HttpRequest.cpp.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/HttpRequest.h.mustache
  samples/client/petstore/cpp-qt5/client/PFXHttpRequest.cpp
  samples/client/petstore/cpp-qt5/client/PFXHttpRequest.h
Labels: Client: C++, Client: QT, Enhancement: General

#4440 4408 asciidoc fix names of parameters
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AsciidocDocumentationCodegen.java
  modules/openapi-generator/src/main/resources/asciidoc-documentation/index.mustache
  modules/openapi-generator/src/main/resources/asciidoc-documentation/model.mustache
  modules/openapi-generator/src/main/resources/asciidoc-documentation/param.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/asciidoc/AsciidocSampleGeneratorTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/asciidoc/IncludeMarkupFilterTest.java
  modules/openapi-generator/src/test/resources/3_0/asciidoc/api-docs.json
  samples/documentation/asciidoc/.openapi-generator/VERSION
  samples/documentation/asciidoc/index.adoc
Labels: Doc: AsciiDoc, Issue: Bug

#4438 [typescript-rxjs]: Add support for nullable
  modules/openapi-generator/src/main/resources/typescript-rxjs/apis.mustache
  modules/openapi-generator/src/main/resources/typescript-rxjs/modelGeneric.mustache
Labels: Client: TypeScript

#4419 [Kotlin][Client] minor improvements
  bin/utils/ensure-up-to-date
  bin/windows/kotlin-client-gson.bat
  bin/windows/kotlin-client-nonpublic.bat
  bin/windows/kotlin-client-okhttp3.bat
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinClientCodegen.java
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
Labels: Client: Kotlin, Enhancement: CI/Test

#4447 [core] Fix system properties being immutable
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/config/WorkflowSettings.java
  modules/openapi-generator-core/src/test/java/org/openapitools/codegen/config/WorkflowSettingsTest.java
  modules/openapi-generator-gradle-plugin/samples/local-spec/README.md
  modules/openapi-generator-gradle-plugin/samples/local-spec/build.gradle
Labels: Enhancement: General, OpenAPI Generator Gradle Plugin

#4449 Dart generate keywords
  bin/utils/dart-keywords/README.md
  bin/utils/dart-keywords/dart-version.txt
  bin/utils/dart-keywords/pubspec.lock
  bin/utils/dart-keywords/pubspec.yaml
  bin/utils/dart-keywords/save-dart-keywords.dart
  bin/utils/dart-keywords/save_dart_keywords.sh
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartClientCodegen.java
  modules/openapi-generator/src/main/resources/dart/dart-keywords.txt
  modules/openapi-generator/src/test/java/org/openapitools/codegen/dart/DartClientCodegenTest.java
Labels: Client: Dart, Enhancement: General

#4314 [Java] Refactor webClient generator to use URI templates to capture correct metrics
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/pom.mustache
  samples/client/petstore/java/webclient/pom.xml
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Enhancement: General

#4429 cpp-qt5-client: remove host since it is not well handled
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCppCodegen.java
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-header.mustache
  samples/client/petstore/cpp-qt5/PetStore/PetApiTests.cpp
  samples/client/petstore/cpp-qt5/PetStore/PetApiTests.h
  samples/client/petstore/cpp-qt5/PetStore/StoreApiTests.cpp
  samples/client/petstore/cpp-qt5/PetStore/StoreApiTests.h
  samples/client/petstore/cpp-qt5/PetStore/UserApiTests.cpp
  samples/client/petstore/cpp-qt5/PetStore/UserApiTests.h
  samples/client/petstore/cpp-qt5/client/PFXPetApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXPetApi.h
  samples/client/petstore/cpp-qt5/client/PFXStoreApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXStoreApi.h
  samples/client/petstore/cpp-qt5/client/PFXUserApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXUserApi.h
Labels: Client: C++, Client: QT, Enhancement: General

#4381 [csharp-netcore] Propagate raw content to the ApiException error content.
  modules/openapi-generator/src/main/resources/csharp-netcore/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/ApiResponse.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/Configuration.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/ApiResponse.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/ApiResponse.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/Configuration.cs
Labels: Client: C-Sharp

#4382 Re-interrupt the thread in the generated code
  modules/openapi-generator/src/main/resources/Java/libraries/native/api.mustache
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Enhancement: General

#4457 [C] Minor enhancement to C client generator
  modules/openapi-generator/src/main/resources/C-libcurl/CMakeLists.txt.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/README.md.mustache
  samples/client/petstore/c/.openapi-generator-ignore
  samples/client/petstore/c/.openapi-generator/VERSION
  samples/client/petstore/c/CMakeLists.txt
  samples/client/petstore/c/README.md
  samples/client/petstore/c/api/PetAPI.c
  samples/client/petstore/c/api/StoreAPI.c
  samples/client/petstore/c/api/UserAPI.c
  samples/client/petstore/c/src/apiClient.c
Labels: Client: C, Enhancement: General

#4471 [ci] Removes elm from ensure-up-to-date
  bin/utils/ensure-up-to-date
Labels: Client: Elm, Enhancement: CI/Test

#4472 typescript-fetch: Only generate npm package if npmName specified
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptFetchClientCodegen.java
  samples/client/petstore/typescript-fetch/builds/default/.gitignore
  samples/client/petstore/typescript-fetch/builds/default/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/default/apis/StoreApi.ts
  samples/client/petstore/typescript-fetch/builds/default/apis/UserApi.ts
  samples/client/petstore/typescript-fetch/builds/default/apis/index.ts
  samples/client/petstore/typescript-fetch/builds/default/index.ts
  samples/client/petstore/typescript-fetch/builds/default/models/Category.ts
  samples/client/petstore/typescript-fetch/builds/default/models/ModelApiResponse.ts
  samples/client/petstore/typescript-fetch/builds/default/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/default/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/default/models/Tag.ts
  samples/client/petstore/typescript-fetch/builds/default/models/User.ts
  samples/client/petstore/typescript-fetch/builds/default/models/index.ts
  samples/client/petstore/typescript-fetch/builds/default/runtime.ts
  samples/client/petstore/typescript-fetch/builds/default/tsconfig.json
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/.gitignore
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/apis/StoreApi.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/apis/UserApi.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/apis/index.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/index.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/models/Category.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/models/ModelApiResponse.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/models/Tag.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/models/User.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/models/index.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/runtime.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/tsconfig.json
  samples/client/petstore/typescript-fetch/builds/with-interfaces/.gitignore
  samples/client/petstore/typescript-fetch/builds/with-interfaces/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/apis/StoreApi.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/apis/UserApi.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/apis/index.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/index.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/models/Category.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/models/ModelApiResponse.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/models/Tag.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/models/User.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/models/index.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/runtime.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/tsconfig.json
Labels: Client: TypeScript

#4445 [ci] Setting ensure-up-to-date to use batch option in CircleCI
  CI/circle_parallel.sh
  bin/utils/ensure-up-to-date
  samples/client/petstore/dart2/openapi/.openapi-generator/VERSION
Labels: Enhancement: CI/Test

#4475 [Java] Recursive equal on reflection
  modules/openapi-generator/src/main/resources/Java/pojo.mustache
Labels: Client: Java, Issue: Bug

#4478 [kotlin][client] improve nonpublic api
  modules/openapi-generator/src/main/resources/kotlin-client/infrastructure/ApiAbstractions.kt.mustache
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/infrastructure/ApiAbstractions.kt
Labels: Client: Kotlin

#4387 [typescript-fetch] Add (de)serializers for oneOfs
  modules/openapi-generator/src/main/resources/typescript-fetch/modelOneOf.mustache
Labels: Client: TypeScript, Issue: Bug

#4484 DartClientCodegen reads dart-keywords.txt as resource, not file
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartClientCodegen.java
Labels: Client: Dart, Issue: Bug

#4485 [Python] each Configuration instance now has its own dicts
  bin/python-petstore-all.sh
  modules/openapi-generator/src/main/resources/python/configuration.mustache
  samples/client/petstore/python-asyncio/petstore_api/configuration.py
  samples/client/petstore/python-experimental/petstore_api/configuration.py
  samples/client/petstore/python-tornado/petstore_api/configuration.py
  samples/client/petstore/python/petstore_api/configuration.py
  samples/client/petstore/python/tests/test_configuration.py
  samples/openapi3/client/petstore/python/petstore_api/configuration.py
Labels: Client: Python, Issue: Bug

#4495 fix: prevent ClassCastException when handling options of (issue #4468)
  .travis.yml
  bin/springboot-petstore-server.sh
  modules/openapi-generator-maven-plugin/examples/spring.xml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/AbstractJavaCodegenTest.java
  samples/server/petstore/kotlin/vertx/.openapi-generator/VERSION
  samples/server/petstore/springboot/pom.xml
Labels: Issue: Bug, OpenAPI Generator Maven Plugin

#4501 [OCAML] Fixes cloud.drone.io ocaml-test
  CI/.drone.yml
  modules/openapi-generator/src/main/resources/ocaml/readme.mustache
  samples/client/petstore/ocaml/.openapi-generator/VERSION
  samples/client/petstore/ocaml/README.md
Labels: Client: OCaml, Enhancement: CI/Test

#4401 feat(dart-dio): correctly handle Map<String, Object>, List<Object> using JsonObject
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioClientCodegen.java
  modules/openapi-generator/src/main/resources/dart-dio/serializers.mustache
Labels: Client: Dart, Enhancement: General

#4508 Fixes issues with Scalaz outputs
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalazClientCodegen.java
  modules/openapi-generator/src/main/resources/scalaz/api.mustache
  modules/openapi-generator/src/main/resources/scalaz/build.properties.mustache
  modules/openapi-generator/src/main/resources/scalaz/model.mustache
  samples/client/petstore/scalaz/.openapi-generator/VERSION
  samples/client/petstore/scalaz/project/build.properties
  samples/client/petstore/scalaz/src/main/scala/org/openapitools/client/api/ApiResponse.scala
  samples/client/petstore/scalaz/src/main/scala/org/openapitools/client/api/Category.scala
  samples/client/petstore/scalaz/src/main/scala/org/openapitools/client/api/Order.scala
  samples/client/petstore/scalaz/src/main/scala/org/openapitools/client/api/Pet.scala
  samples/client/petstore/scalaz/src/main/scala/org/openapitools/client/api/PetApi.scala
  samples/client/petstore/scalaz/src/main/scala/org/openapitools/client/api/StoreApi.scala
  samples/client/petstore/scalaz/src/main/scala/org/openapitools/client/api/Tag.scala
  samples/client/petstore/scalaz/src/main/scala/org/openapitools/client/api/User.scala
  samples/client/petstore/scalaz/src/main/scala/org/openapitools/client/api/UserApi.scala
Labels: Issue: Bug

#4520 [java] Fix java version defaulting
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/AbstractJavaCodegenTest.java
  samples/server/petstore/java-pkmst/.openapi-generator/VERSION
  samples/server/petstore/java-pkmst/pom.xml
  samples/server/petstore/java-pkmst/src/main/java/com/prokarma/pkmst/controller/PetApi.java
  samples/server/petstore/java-pkmst/src/main/java/com/prokarma/pkmst/controller/StoreApi.java
  samples/server/petstore/java-pkmst/src/main/java/com/prokarma/pkmst/controller/UserApi.java
  samples/server/petstore/java-pkmst/src/main/java/com/prokarma/pkmst/model/Pet.java
Labels: Client: Java, Issue: Bug, Server: Java

#4521 [Swift] Enhancements to iOS tests
  CI/.travis.yml.ios
  pom.xml
  samples/client/petstore/swift4/default/SwaggerClientTests/run_xcodebuild.sh
  samples/client/petstore/swift4/promisekit/SwaggerClientTests/run_xcodebuild.sh
  samples/client/petstore/swift4/rxswift/SwaggerClientTests/run_xcodebuild.sh
Labels: Client: Swift, Enhancement: CI/Test

#4507 Better else clause with warnings
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Enhancement: General

#4528 Fix drone.io yaml file
  CI/.drone.yml
Labels: Enhancement: CI/Test

#3925 [kotlin-spring] add support for the delegate pattern
  docs/generators/kotlin-spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinSpringServerCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-spring/apiController.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/apiDelegate.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/apiInterface.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/apiUtil.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/generatedAnnotation.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/libraries/spring-boot/defaultBasePath.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/methodBody.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/spring/KotlinSpringServerCodegenTest.java
  samples/openapi3/server/petstore/kotlin-springboot-reactive/.openapi-generator/VERSION
  samples/openapi3/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/ApiUtil.kt
  samples/openapi3/server/petstore/kotlin-springboot-reactive/src/test/kotlin/org/openapitools/api/PetApiTest.kt
  samples/openapi3/server/petstore/kotlin-springboot-reactive/src/test/kotlin/org/openapitools/api/StoreApiTest.kt
  samples/openapi3/server/petstore/kotlin-springboot-reactive/src/test/kotlin/org/openapitools/api/UserApiTest.kt
  samples/openapi3/server/petstore/kotlin-springboot/.openapi-generator/VERSION
  samples/openapi3/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/ApiUtil.kt
  samples/openapi3/server/petstore/kotlin-springboot/src/test/kotlin/org/openapitools/api/PetApiTest.kt
  samples/openapi3/server/petstore/kotlin-springboot/src/test/kotlin/org/openapitools/api/StoreApiTest.kt
  samples/openapi3/server/petstore/kotlin-springboot/src/test/kotlin/org/openapitools/api/UserApiTest.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/ApiUtil.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/ApiUtil.kt
Labels: Enhancement: Feature, Server: Kotlin

#4253 [default codegen] #4171 - Correct parent variables being duplicated in child
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaInheritanceTest.java
Labels: Feature: OAS 3.0 spec support, Issue: Bug

#4547 Use bin/cpp-qt5-petstore.json
  bin/cpp-qt5-petstore.json
  bin/cpp-qt5-petstore.sh
Labels: Client: C++

#4546 [Go] Bypass object decode in case of empty body
  modules/openapi-generator/src/main/resources/go-experimental/client.mustache
  modules/openapi-generator/src/main/resources/go/client.mustache
  samples/client/petstore/go/go-petstore-withXml/client.go
  samples/client/petstore/go/go-petstore/client.go
Labels: Client: Go, Issue: Bug

#4490 [FIX][Haskell-servant] missing indent on the new feature pull request.
  modules/openapi-generator/src/main/resources/haskell-servant/API.mustache
  samples/server/petstore/haskell-servant/lib/OpenAPIPetstore/API.hs
Labels: Client: Haskell, Enhancement: Code format

#4504 Add HEAD method to ApiClient of dart codegen
  modules/openapi-generator/src/main/resources/dart/api_client.mustache
  modules/openapi-generator/src/main/resources/dart2/api_client.mustache
  samples/client/petstore/dart/flutter_petstore/openapi/lib/api_client.dart
  samples/client/petstore/dart/openapi-browser-client/lib/api_client.dart
  samples/client/petstore/dart/openapi/lib/api_client.dart
  samples/client/petstore/dart2/openapi/lib/api_client.dart
Labels: Client: Dart, Enhancement: General

#4542 [PHP] Include microseconds in serialized date-time
  modules/openapi-generator/src/main/resources/php/ObjectSerializer.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/ObjectSerializer.php
  samples/client/petstore/php/OpenAPIClient-php/tests/DateTimeSerializerTest.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/ObjectSerializer.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/tests/DateTimeSerializerTest.php
Labels: Client: PHP, Enhancement: Compatibility, General: Awaiting feedback

#4505 [asciidoc] add form params and authorization headers (#4467)
  modules/openapi-generator/src/main/resources/asciidoc-documentation/index.mustache
  modules/openapi-generator/src/main/resources/asciidoc-documentation/params.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/asciidoc/AsciidocSampleGeneratorTest.java
  samples/documentation/asciidoc/.openapi-generator/VERSION
  samples/documentation/asciidoc/index.adoc
Labels: Doc: AsciiDoc, Enhancement: General

#4564 Add an option to prefix Go struct with the classname
  docs/generators/go-experimental.md
  docs/generators/go.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
  modules/openapi-generator/src/main/resources/go-experimental/api.mustache
  modules/openapi-generator/src/main/resources/go/api.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/go/GoClientOptionsTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/GoClientOptionsProvider.java
Labels: Client: Go, Enhancement: Feature

#4544 [Kotlin-spring] add kotlin runtime compiler
  modules/openapi-generator/pom.xml
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/KotlinTestUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/KotlinTestUtilsTest.java
  modules/openapi-generator/src/test/resources/org/openapitools/codegen/kotlin/KotlinTestUtilsTest/badPack/com/example/SimpleClass.kt
  modules/openapi-generator/src/test/resources/org/openapitools/codegen/kotlin/KotlinTestUtilsTest/normalPack/com/example/SimpleClass.kt
Labels: Client: Kotlin, Enhancement: CI/Test

#4572 [cli][doc] Document batch command
  docs/usage.md
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/GenerateBatch.java
Labels: OpenAPI Generator CLI

#4573 Use non-batch mode in ensure-up-to-date
  CI/circle_parallel.sh
  samples/client/petstore/dart2/petstore_client_lib/lib/api_client.dart
  samples/client/petstore/go-experimental/go-petstore/client.go
  samples/openapi3/client/petstore/go/go-petstore/client.go
Labels: Enhancement: CI/Test

#4557 Throw exception when config file missing
  bin/openapi3/bash-petstore.sh
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfigurator.java
  samples/client/petstore/bash/.openapi-generator/VERSION
  samples/client/petstore/bash/Dockerfile
  samples/client/petstore/bash/README.md
  samples/client/petstore/bash/_petstore-cli
  samples/client/petstore/bash/docs/AdditionalPropertiesClass.md
  samples/client/petstore/bash/docs/AnotherFakeApi.md
  samples/client/petstore/bash/docs/DefaultApi.md
  samples/client/petstore/bash/docs/EnumTest.md
  samples/client/petstore/bash/docs/FakeApi.md
  samples/client/petstore/bash/docs/FakeClassnameTags123Api.md
  samples/client/petstore/bash/docs/FormatTest.md
  samples/client/petstore/bash/docs/PetApi.md
  samples/client/petstore/bash/docs/StoreApi.md
  samples/client/petstore/bash/docs/UserApi.md
  samples/client/petstore/bash/petstore-cli
  samples/client/petstore/bash/petstore-cli.bash-completion
Labels: Feature: Generator, Issue: Bug

#4577 [Swift] minor fix to scripts
  bin/swift4-test.sh
  bitrise.yml
  docs/generators/kotlin.md
  samples/client/petstore/swift4/swift4_test_all.sh
  samples/client/test/swift4/default/README.md
  samples/client/test/swift4/default/TestClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/test/swift4/default/TestClientApp/Pods/Alamofire/Source/Alamofire.swift
  samples/client/test/swift4/default/TestClientApp/Pods/Alamofire/Source/MultipartFormData.swift
  samples/client/test/swift4/default/TestClientApp/Pods/Alamofire/Source/NetworkReachabilityManager.swift
  samples/client/test/swift4/default/TestClientApp/Pods/Alamofire/Source/ParameterEncoding.swift
  samples/client/test/swift4/default/TestClientApp/Pods/Alamofire/Source/Request.swift
  samples/client/test/swift4/default/TestClientApp/Pods/Alamofire/Source/Response.swift
  samples/client/test/swift4/default/TestClientApp/Pods/Alamofire/Source/ResponseSerialization.swift
  samples/client/test/swift4/default/TestClientApp/Pods/Alamofire/Source/ServerTrustPolicy.swift
  samples/client/test/swift4/default/TestClientApp/Pods/Alamofire/Source/SessionDelegate.swift
  samples/client/test/swift4/default/TestClientApp/Pods/Alamofire/Source/SessionManager.swift
  samples/client/test/swift4/default/TestClientApp/Pods/Alamofire/Source/TaskDelegate.swift
  samples/client/test/swift4/default/TestClientApp/Pods/Alamofire/Source/Timeline.swift
  samples/client/test/swift4/default/TestClientApp/Pods/Alamofire/Source/Validation.swift
  samples/client/test/swift4/default/TestClientApp/Pods/Pods.xcodeproj/project.pbxproj
  samples/client/test/swift4/default/docs/ModelDoubleArray.md
  samples/client/test/swift4/default/docs/ModelErrorInfoArray.md
  samples/client/test/swift4/default/docs/ModelStringArray.md
  samples/client/test/swift4/default/docs/ModelWithIntAdditionalPropertiesOnly.md
  samples/client/test/swift4/default/docs/ModelWithStringAdditionalPropertiesOnly.md
  samples/client/test/swift4/swift4_test_all.sh
Labels: Client: Swift, Enhancement: CI/Test

#4578 Add bitrise badge to readme
  CI/bitrise.yml
  README.md
Labels: WIP

#4581 Add php-slim4 config for batch/ci
  bin/ci/php-slim4-server-petstore.json
Labels: Enhancement: CI/Test

#4589 [swift] update Swift4 samples
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift4/objcCompatible/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift4/promisekitLibrary/Package.swift
  samples/client/petstore/swift4/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift4/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift4/unwrapRequired/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
Labels: Client: Swift, Enhancement: CI/Test

#4602 Disable elm and TS Angular 4 tests
  .travis.yml
  pom.xml
Labels: Client: Elm, Client: TypeScript, Enhancement: CI/Test

#4592 Add go.mod as supporting files to go-server
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoServerCodegen.java
  modules/openapi-generator/src/main/resources/go-server/go.mod.mustache
  modules/openapi-generator/src/main/resources/go-server/main.mustache
  samples/server/petstore/go-api-server/go.mod
  samples/server/petstore/go-api-server/main.go
Labels: Enhancement: Compatibility, Server: Go

#4585 Maintains state of hasMore when security is filtered
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue4584.yaml
Labels: Feature: Generator, Issue: Bug

#4580 [BUG][R] Fix documentation in R package
  modules/openapi-generator/src/main/resources/r/api.mustache
  modules/openapi-generator/src/main/resources/r/model.mustache
  samples/client/petstore/R/R/category.R
  samples/client/petstore/R/R/model_api_response.R
  samples/client/petstore/R/R/order.R
  samples/client/petstore/R/R/pet.R
  samples/client/petstore/R/R/pet_api.R
  samples/client/petstore/R/R/store_api.R
  samples/client/petstore/R/R/tag.R
  samples/client/petstore/R/R/user.R
  samples/client/petstore/R/R/user_api.R
Labels: Client: R, Enhancement: Feature, Feature: Documentation

#4591 [Swift] Add option parameter to select response queue
  modules/openapi-generator/src/main/resources/swift4/APIs.mustache
  modules/openapi-generator/src/main/resources/swift4/AlamofireImplementations.mustache
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/APIs.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/AlamofireImplementations.swift
  samples/client/petstore/swift4/objcCompatible/PetstoreClient/Classes/OpenAPIs/APIs.swift
  samples/client/petstore/swift4/objcCompatible/PetstoreClient/Classes/OpenAPIs/AlamofireImplementations.swift
  samples/client/petstore/swift4/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/APIs.swift
  samples/client/petstore/swift4/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/AlamofireImplementations.swift
  samples/client/petstore/swift4/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/APIs.swift
  samples/client/petstore/swift4/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/AlamofireImplementations.swift
  samples/client/petstore/swift4/unwrapRequired/PetstoreClient/Classes/OpenAPIs/APIs.swift
  samples/client/petstore/swift4/unwrapRequired/PetstoreClient/Classes/OpenAPIs/AlamofireImplementations.swift
  samples/client/test/swift4/default/TestClient/Classes/OpenAPIs/APIs.swift
  samples/client/test/swift4/default/TestClient/Classes/OpenAPIs/AlamofireImplementations.swift
Labels: Client: Swift, Enhancement: Feature

#4609 [jaxrs-spec][quarkus] update to 1.0.0.FINAL
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/quarkus/Dockerfile.native.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/quarkus/pom.mustache
Labels: Server: Java

#4610 Add openapi-generator executable to docker container
  Dockerfile
Labels: Docker, Enhancement: General

#4444 [C++] [Qt5] Clang format Code
  modules/openapi-generator/src/main/resources/cpp-qt5-client/HttpFileElement.cpp.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/HttpFileElement.h.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/HttpRequest.cpp.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/HttpRequest.h.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-header.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/enum.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/helpers-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/helpers-header.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/licenseInfo.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/model-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/model-header.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/object.mustache
  samples/client/petstore/cpp-qt5/.clang-format
  samples/client/petstore/cpp-qt5/PetStore/PetApiTests.cpp
  samples/client/petstore/cpp-qt5/PetStore/PetApiTests.h
  samples/client/petstore/cpp-qt5/PetStore/StoreApiTests.cpp
  samples/client/petstore/cpp-qt5/PetStore/StoreApiTests.h
  samples/client/petstore/cpp-qt5/PetStore/UserApiTests.cpp
  samples/client/petstore/cpp-qt5/PetStore/UserApiTests.h
  samples/client/petstore/cpp-qt5/client/PFXApiResponse.cpp
  samples/client/petstore/cpp-qt5/client/PFXApiResponse.h
  samples/client/petstore/cpp-qt5/client/PFXCategory.cpp
  samples/client/petstore/cpp-qt5/client/PFXCategory.h
  samples/client/petstore/cpp-qt5/client/PFXEnum.h
  samples/client/petstore/cpp-qt5/client/PFXHelpers.cpp
  samples/client/petstore/cpp-qt5/client/PFXHelpers.h
  samples/client/petstore/cpp-qt5/client/PFXHttpFileElement.cpp
  samples/client/petstore/cpp-qt5/client/PFXHttpFileElement.h
  samples/client/petstore/cpp-qt5/client/PFXHttpRequest.cpp
  samples/client/petstore/cpp-qt5/client/PFXHttpRequest.h
  samples/client/petstore/cpp-qt5/client/PFXObject.h
  samples/client/petstore/cpp-qt5/client/PFXOrder.cpp
  samples/client/petstore/cpp-qt5/client/PFXOrder.h
  samples/client/petstore/cpp-qt5/client/PFXPet.cpp
  samples/client/petstore/cpp-qt5/client/PFXPet.h
  samples/client/petstore/cpp-qt5/client/PFXPetApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXPetApi.h
  samples/client/petstore/cpp-qt5/client/PFXStoreApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXStoreApi.h
  samples/client/petstore/cpp-qt5/client/PFXTag.cpp
  samples/client/petstore/cpp-qt5/client/PFXTag.h
  samples/client/petstore/cpp-qt5/client/PFXUser.cpp
  samples/client/petstore/cpp-qt5/client/PFXUser.h
  samples/client/petstore/cpp-qt5/client/PFXUserApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXUserApi.h
Labels: Client: C++, Client: QT, Enhancement: Code format

#4349 C additional properties fix #4289
  modules/openapi-generator/src/main/resources/C-libcurl/model-body.mustache
  samples/client/petstore/c/.openapi-generator/VERSION
  samples/client/petstore/c/CMakeLists.txt
  samples/client/petstore/c/api/PetAPI.c
  samples/client/petstore/c/api/PetAPI.h
  samples/client/petstore/c/api/StoreAPI.c
  samples/client/petstore/c/api/StoreAPI.h
  samples/client/petstore/c/api/UserAPI.c
  samples/client/petstore/c/api/UserAPI.h
  samples/client/petstore/c/external/cJSON.c
  samples/client/petstore/c/external/cJSON.h
  samples/client/petstore/c/include/apiClient.h
  samples/client/petstore/c/include/keyValuePair.h
  samples/client/petstore/c/include/list.h
  samples/client/petstore/c/model/api_response.c
  samples/client/petstore/c/model/api_response.h
  samples/client/petstore/c/model/category.c
  samples/client/petstore/c/model/category.h
  samples/client/petstore/c/model/object.c
  samples/client/petstore/c/model/object.h
  samples/client/petstore/c/model/order.c
  samples/client/petstore/c/model/order.h
  samples/client/petstore/c/model/pet.c
  samples/client/petstore/c/model/pet.h
  samples/client/petstore/c/model/tag.c
  samples/client/petstore/c/model/tag.h
  samples/client/petstore/c/model/user.c
  samples/client/petstore/c/model/user.h
  samples/client/petstore/c/src/apiClient.c
  samples/client/petstore/c/src/apiKey.c
  samples/client/petstore/c/src/list.c
Labels: Client: C, Enhancement: General

#4620 Add petejohansonxo as the owner of TS redux-query generator
  README.md
Labels: Client: TypeScript

#4619 [C++][Pistache] Add comparison operators
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-struct-header.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-struct-source.mustache
  samples/server/petstore/cpp-pistache/.openapi-generator/VERSION
Labels: Enhancement: General, Server: C++

#4630 [asciidoctor] javadoc: add missing tag for declared exception
  modules/openapi-generator/src/test/java/org/openapitools/codegen/asciidoc/AsciidocSampleGeneratorTest.java
Labels: Doc: AsciiDoc

#4631 [java][client][restassured] add getAllOperations()
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/rest-assured/Oper.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/rest-assured/api.mustache
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/api/Oper.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Enhancement: CI/Test

#4633 typescript-node: support bearer token authentication
  modules/openapi-generator/src/main/resources/typescript-node/api-single.mustache
  modules/openapi-generator/src/main/resources/typescript-node/models.mustache
  samples/client/petstore/typescript-node/default/api/petApi.ts
  samples/client/petstore/typescript-node/default/api/storeApi.ts
  samples/client/petstore/typescript-node/default/api/userApi.ts
  samples/client/petstore/typescript-node/default/model/models.ts
  samples/client/petstore/typescript-node/npm/api/petApi.ts
  samples/client/petstore/typescript-node/npm/api/storeApi.ts
  samples/client/petstore/typescript-node/npm/api/userApi.ts
  samples/client/petstore/typescript-node/npm/model/models.ts
Labels: Client: TypeScript

#4632 [typescript-rxjs][client] Unnecessary imports occurs when using allOf
  modules/openapi-generator/src/main/resources/typescript-rxjs/modelAllOf.mustache
  modules/openapi-generator/src/main/resources/typescript-rxjs/models.mustache
Labels: Client: TypeScript

#4566 Add support for dumping request and response in Go generated clients
  modules/openapi-generator/src/main/resources/go/client.mustache
  modules/openapi-generator/src/main/resources/go/configuration.mustache
  samples/client/petstore/go/go-petstore-withXml/client.go
  samples/client/petstore/go/go-petstore-withXml/configuration.go
  samples/client/petstore/go/go-petstore/client.go
  samples/client/petstore/go/go-petstore/configuration.go
Labels: Client: Go, Enhancement: CI/Test

#4594 [Swift] Fix enum encodable
  modules/openapi-generator/src/main/resources/swift4/Extensions.mustache
  modules/openapi-generator/src/main/resources/swift4/_param.mustache
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/APIs/FakeAPI.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/APIs/PetAPI.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/APIs/UserAPI.swift
  samples/client/petstore/swift4/default/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift4/objcCompatible/PetstoreClient/Classes/OpenAPIs/APIs/FakeAPI.swift
  samples/client/petstore/swift4/objcCompatible/PetstoreClient/Classes/OpenAPIs/APIs/PetAPI.swift
  samples/client/petstore/swift4/objcCompatible/PetstoreClient/Classes/OpenAPIs/APIs/UserAPI.swift
  samples/client/petstore/swift4/objcCompatible/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift4/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/APIs/FakeAPI.swift
  samples/client/petstore/swift4/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/APIs/PetAPI.swift
  samples/client/petstore/swift4/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/APIs/UserAPI.swift
  samples/client/petstore/swift4/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift4/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/APIs/FakeAPI.swift
  samples/client/petstore/swift4/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/APIs/PetAPI.swift
  samples/client/petstore/swift4/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/APIs/UserAPI.swift
  samples/client/petstore/swift4/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift4/unwrapRequired/PetstoreClient/Classes/OpenAPIs/APIs/FakeAPI.swift
  samples/client/petstore/swift4/unwrapRequired/PetstoreClient/Classes/OpenAPIs/APIs/PetAPI.swift
  samples/client/petstore/swift4/unwrapRequired/PetstoreClient/Classes/OpenAPIs/APIs/UserAPI.swift
  samples/client/petstore/swift4/unwrapRequired/PetstoreClient/Classes/OpenAPIs/Extensions.swift
Labels: Client: Swift, Feature: Enum, Issue: Bug

#4634 Add net.java.dev.jna to resolve "Unable to load JNA library"
  modules/openapi-generator/pom.xml
Labels: Enhancement: Compatibility, Feature: Generator

#4614 [BUG][R] use loadNamespace instead of package:pkgName string
  modules/openapi-generator/src/main/resources/r/api.mustache
  modules/openapi-generator/src/main/resources/r/model.mustache
  samples/client/petstore/R/R/pet.R
  samples/client/petstore/R/R/pet_api.R
  samples/client/petstore/R/R/store_api.R
  samples/client/petstore/R/R/user_api.R
Labels: Client: R, Enhancement: General
