Repository OpenAPITools/openapi-generator, pull requests merged in 2019-05, with the labels that each got.

#2768 [C#] Additional null check before doing SequenceEqual check
  modules/openapi-generator/src/main/resources/csharp-netcore/modelGeneric.mustache
  modules/openapi-generator/src/main/resources/csharp/modelGeneric.mustache
Labels: Client: C-Sharp, Enhancement: General

#2778 [ASP.NET Core] minor format fix, better null check
  bin/aspnetcore-petstore-server.sh
  docs/generators/aspnetcore.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetCoreServerCodegen.java
  modules/openapi-generator/src/main/resources/aspnetcore/2.0/controller.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/2.0/model.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/Startup.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/controller.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/model.mustache
  samples/server/petstore/aspnetcore/README.md
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/PetApi.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/StoreApi.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/UserApi.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Models/Pet.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/wwwroot/openapi-original.json
Labels: Enhancement: Code format, Enhancement: General, Server: C-Sharp

#2780 [C++][Pistache] Allow socket address reuse option
  modules/openapi-generator/src/main/resources/cpp-pistache-server/main-api-server.mustache
  samples/server/petstore/cpp-pistache/main-api-server.cpp
Labels: Enhancement: General, Server: C++

#2779 [C++][Pistache] Fixed checking for optional properties when converting from json.
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-source.mustache
  samples/server/petstore/cpp-pistache/model/ApiResponse.cpp
  samples/server/petstore/cpp-pistache/model/Category.cpp
  samples/server/petstore/cpp-pistache/model/Order.cpp
  samples/server/petstore/cpp-pistache/model/Pet.cpp
  samples/server/petstore/cpp-pistache/model/Tag.cpp
  samples/server/petstore/cpp-pistache/model/User.cpp
Labels: Issue: Regression, Server: C++

#2784 [elm] Fix repetitive enum prefixes
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElmClientCodegen.java
Labels: Client: Elm, Issue: Bug

#2777 dart2: Do not add non-nullable fields to model json
  modules/openapi-generator/src/main/resources/dart2/class.mustache
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/api_client.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/api_response.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/category.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/order.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/pet.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/tag.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/user.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/api_client.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/api_response.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/category.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/order.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/pet.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/tag.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/user.dart
  samples/client/petstore/dart2/openapi/lib/api_client.dart
  samples/client/petstore/dart2/openapi/lib/model/api_response.dart
  samples/client/petstore/dart2/openapi/lib/model/category.dart
  samples/client/petstore/dart2/openapi/lib/model/order.dart
  samples/client/petstore/dart2/openapi/lib/model/pet.dart
  samples/client/petstore/dart2/openapi/lib/model/tag.dart
  samples/client/petstore/dart2/openapi/lib/model/user.dart
Labels: Client: Dart, Enhancement: Feature, Feature: OAS 3.0 spec support

#2785 [general] Remove swagger-codegen "lang" mappings
  README.md
  bin/openapi3/scala-akka-petstore.sh
  bin/openapi3/scala-httpclient-petstore.sh
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfigurator.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/PhpSlimServerOptionsProvider.java
  modules/openapi-generator/src/test/resources/integrationtests/scala/client/required-attributes.sh
Labels: Enhancement: General

#2781 [C++][Pistache]Fix import of model header
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppPistacheServerCodegen.java
Labels: Issue: Regression, Server: C++

#2782 [C++][Qt5 Server] Process server port
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppQt5QHttpEngineServerCodegen.java
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/README.md.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/main.cpp.mustache
Labels: Enhancement: General, Server: C++

#2789 [ASP.NET Core]Switch registry to MCR for dotnet images
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/Dockerfile.mustache
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Dockerfile
Labels: Docker, Enhancement: General, Server: C-Sharp

#2719 [TypeScript-axios] fix using withSeparateModelsAndApi and withoutPrefixEnums with additional-properties option
  docs/generators/typescript-axios.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAxiosClientCodegen.java
Labels: Client: TypeScript, Issue: Bug

#2801 Add Enum_Test test
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaModelEnumTest.java
Labels: Client: Java, Enhancement: CI/Test

#2804 Add warning about .net 2.0 framework reached EOL
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpDotNet2ClientCodegen.java
Labels: Client: C-Sharp, Enhancement: Compatibility

#2783 [all] Adds strict spec option
  README.md
  docs/usage.md
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
  modules/openapi-generator-cli/src/test/java/org/openapitools/codegen/cmd/GenerateTest.java
  modules/openapi-generator-maven-plugin/README.md
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConfig.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfigurator.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultGeneratorTest.java
Labels: Enhancement: General, OpenAPI Generator CLI, OpenAPI Generator Maven Plugin

#2787 [C++] Use super class methods for Model and Api Filenames
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppRestSdkClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppRestbedServerCodegen.java
  samples/client/petstore/cpp-restsdk/ApiClient.h
  samples/client/petstore/cpp-restsdk/api/PetApi.h
  samples/client/petstore/cpp-restsdk/api/StoreApi.h
  samples/client/petstore/cpp-restsdk/api/UserApi.h
  samples/server/petstore/cpp-restbed/api/PetApi.cpp
  samples/server/petstore/cpp-restbed/api/PetApi.h
  samples/server/petstore/cpp-restbed/api/StoreApi.cpp
  samples/server/petstore/cpp-restbed/api/StoreApi.h
  samples/server/petstore/cpp-restbed/api/UserApi.cpp
  samples/server/petstore/cpp-restbed/api/UserApi.h
  samples/server/petstore/cpp-restbed/model/ApiResponse.cpp
  samples/server/petstore/cpp-restbed/model/ApiResponse.h
  samples/server/petstore/cpp-restbed/model/Category.cpp
  samples/server/petstore/cpp-restbed/model/Category.h
  samples/server/petstore/cpp-restbed/model/Order.cpp
  samples/server/petstore/cpp-restbed/model/Order.h
  samples/server/petstore/cpp-restbed/model/Pet.cpp
  samples/server/petstore/cpp-restbed/model/Pet.h
  samples/server/petstore/cpp-restbed/model/Tag.cpp
  samples/server/petstore/cpp-restbed/model/Tag.h
  samples/server/petstore/cpp-restbed/model/User.cpp
  samples/server/petstore/cpp-restbed/model/User.h
Labels: Client: C++, Enhancement: General, Server: C++

#2818 Better handling of form data
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Enhancement: General, Feature: Generator

#2821 Use mvn instead of run-in-docker
  .travis.yml
Labels: Enhancement: CI/Test

#2806 [Documentation] Add instructions to build the javascript client module
  modules/openapi-generator/src/main/resources/Javascript/es6/README.mustache
  samples/client/petstore/javascript-es6/README.md
  samples/client/petstore/javascript-promise-es6/README.md
Labels: Client: JavaScript/Node.js, Enhancement: Feature, Feature: Documentation

#2773 [docs] Document new templating engine, adding ability to reference templates
  docs/templating.md
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/api/TemplatingGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
Labels: Enhancement: Feature, Feature: Documentation

#2820 [travis] Avoiding build timeouts
  .travis.yml
  CI/run-in-docker-settings.xml
  run-in-docker.sh
Labels: Enhancement: CI/Test

#2816 [feat] Intro GeneratorMetadata (stability index)
  docs/generators.md
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/ListGenerators.java
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/meta/GeneratorMetadata.java
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/meta/Stability.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConfig.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpDotNet2ClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaHttpClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift3Codegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SwiftClientCodegen.java
Labels: Enhancement: Feature

#2826 [gradle] Display non-Stable generator stability in parens on openApiG…
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GeneratorsTask.kt
Labels: OpenAPI Generator Gradle Plugin

#2735 fix multiple file upload
  modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache
Labels: Client: TypeScript, Issue: Bug

#2809 [Python][R] Escape single quotes in strings (#2808)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonClientCodegenTest.java
Labels: Client: Python, Client: R, Issue: Bug

#2618 Fix default value for container jaxrs
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-cdi/queryParams.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/queryParams.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/queryParams.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/eap/queryParams.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/queryParams.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/allowableValues.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/queryParams.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/jaxrs/JavaJaxrsBaseTest.java
  modules/openapi-generator/src/test/resources/3_0/arrayParameter.yaml
  samples/server/petstore/jaxrs-cxf-cdi/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs-datelib-j8/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs-datelib-j8/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-datelib-j8/src/gen/java/org/openapitools/api/UserApi.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/UserApi.java
  samples/server/petstore/jaxrs-resteasy/default/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-resteasy/joda/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-spec-interface/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs-spec-interface/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-spec/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs-spec/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs/jersey1-useTags/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs/jersey1-useTags/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs/jersey1-useTags/src/gen/java/org/openapitools/api/UserApi.java
  samples/server/petstore/jaxrs/jersey1/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs/jersey1/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs/jersey1/src/gen/java/org/openapitools/api/UserApi.java
  samples/server/petstore/jaxrs/jersey2-useTags/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs/jersey2-useTags/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs/jersey2-useTags/src/gen/java/org/openapitools/api/UserApi.java
  samples/server/petstore/jaxrs/jersey2/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs/jersey2/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs/jersey2/src/gen/java/org/openapitools/api/UserApi.java
Labels: Issue: Bug, Server: Java

#2825 [F#] minor improvements
  README.md
  bin/fsharp-giraffe-server-petstore.sh
  bin/windows/fsharp-giraffe-server-petstore.bat
  docs/generators.md
  docs/generators/fsharp-giraffe-server.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractFSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/FsharpGiraffeServerCodegen.java
Labels: Enhancement: General, Server: F#

#2823 Add Elm petstore scripts to ensure-uptodate script
  CI/circle_parallel.sh
  bin/elm-0.18-petstore.sh
  bin/elm-petstore.sh
  bin/utils/ensure-up-to-date
Labels: Client: Elm, Enhancement: CI/Test

#2770 [Java] improve docs with adding default value for additional properties
  docs/generators/cwiki.md
  docs/generators/dynamic-html.md
  docs/generators/groovy.md
  docs/generators/html.md
  docs/generators/html2.md
  docs/generators/java-inflector.md
  docs/generators/java-msf4j.md
  docs/generators/java-pkmst.md
  docs/generators/java-play-framework.md
  docs/generators/java-undertow-server.md
  docs/generators/java-vertx.md
  docs/generators/java.md
  docs/generators/jaxrs-cxf-cdi.md
  docs/generators/jaxrs-cxf-client.md
  docs/generators/jaxrs-cxf-extended.md
  docs/generators/jaxrs-cxf.md
  docs/generators/jaxrs-jersey.md
  docs/generators/jaxrs-resteasy-eap.md
  docs/generators/jaxrs-resteasy.md
  docs/generators/jaxrs-spec.md
  docs/generators/spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaJAXRSServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GroovyClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaCXFClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaCXFServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaInflectorServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaJAXRSCXFCDIServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaJAXRSSpecServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaJerseyServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaMSF4JServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaPKMSTServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaPlayFrameworkCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaResteasyEapServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaResteasyServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaUndertowServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaVertXServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/jaxrs/JavaJAXRSCXFExtServerCodegenTest.java
  samples/server/petstore/java-pkmst/.openapi-generator/VERSION
  samples/server/petstore/java-pkmst/src/main/java/com/prokarma/pkmst/controller/PetApi.java
  samples/server/petstore/java-pkmst/src/main/java/com/prokarma/pkmst/controller/PetApiController.java
  samples/server/petstore/java-pkmst/src/main/java/com/prokarma/pkmst/controller/StoreApi.java
  samples/server/petstore/java-pkmst/src/main/java/com/prokarma/pkmst/controller/StoreApiController.java
  samples/server/petstore/java-pkmst/src/main/java/com/prokarma/pkmst/controller/UserApi.java
  samples/server/petstore/java-pkmst/src/main/java/com/prokarma/pkmst/controller/UserApiController.java
  samples/server/petstore/java-pkmst/src/main/java/com/prokarma/pkmst/model/Category.java
  samples/server/petstore/java-pkmst/src/main/java/com/prokarma/pkmst/model/ModelApiResponse.java
  samples/server/petstore/java-pkmst/src/main/java/com/prokarma/pkmst/model/Order.java
  samples/server/petstore/java-pkmst/src/main/java/com/prokarma/pkmst/model/Pet.java
  samples/server/petstore/java-pkmst/src/main/java/com/prokarma/pkmst/model/Tag.java
  samples/server/petstore/java-pkmst/src/main/java/com/prokarma/pkmst/model/User.java
Labels: Enhancement: Feature, Feature: Documentation

#2775 Update swagger-parser-version to 2.0.13-OpenAPITools.org-1
  modules/openapi-generator/src/test/java/org/openapitools/codegen/InlineModelResolverTest.java
  pom.xml
Labels: Swagger-Parser

#2725 [Rust Server] Support application/octet-stream as a required body parameter
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/resources/rust-server/client-mod.mustache
  modules/openapi-generator/src/main/resources/rust-server/models.mustache
  modules/openapi-generator/src/main/resources/rust-server/server-mod.mustache
  modules/openapi-generator/src/test/resources/3_0/rust-server/openapi-v3.yaml
  samples/server/petstore/rust-server/output/openapi-v3/README.md
  samples/server/petstore/rust-server/output/openapi-v3/api/openapi.yaml
  samples/server/petstore/rust-server/output/openapi-v3/docs/UuidObject.md
  samples/server/petstore/rust-server/output/openapi-v3/docs/default_api.md
  samples/server/petstore/rust-server/output/openapi-v3/examples/client.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/server_lib/server.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/mimetypes.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/models.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/client/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/models.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/server/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/client/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/models.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/server/mod.rs
Labels: Enhancement: General, Server: Rust

#2122 python: api_client: add the multipart files after sanitization
  .gitignore
  modules/openapi-generator/src/main/resources/python/api_client.mustache
  samples/client/petstore/python-asyncio/petstore_api/api_client.py
  samples/client/petstore/python-tornado/petstore_api/api_client.py
  samples/client/petstore/python/petstore_api/api_client.py
  samples/openapi3/client/petstore/python/petstore_api/api_client.py
Labels: Client: Python, Enhancement: General

#2690 [Kotlin] add apiSuffix configuration
  docs/generators/kotlin-server.md
  docs/generators/kotlin-spring.md
  docs/generators/kotlin.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/AbstractKotlinCodegenTest.java
Labels: Enhancement: Feature, Server: Kotlin

#2792 [go] fix multipart for non-file inputs
  modules/openapi-generator/src/main/resources/go/client.mustache
  samples/client/petstore/go/go-petstore/client.go
Labels: Client: Go, Issue: Bug

#2813 [Golang][client] Make it possible to generate go.mod and go.sum files
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
  modules/openapi-generator/src/main/resources/go/go.mod.mustache
  modules/openapi-generator/src/main/resources/go/go.sum
  samples/client/petstore/go/go-petstore/go.mod
  samples/client/petstore/go/go-petstore/go.sum
  samples/openapi3/client/petstore/go/go-petstore/go.mod
  samples/openapi3/client/petstore/go/go-petstore/go.sum
Labels: Client: Go, Enhancement: General

#2843 [Typescript] Warn about unset post-processing param
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java
Labels: Client: TypeScript, Enhancement: Code format

#2839 Express server working, api-docs loads properly. Routing not working yet
  samples/server/petstore/nodejs-express-server/.eslintrc
  samples/server/petstore/nodejs-express-server/.openapi-generator/VERSION
  samples/server/petstore/nodejs-express-server/config.js
  samples/server/petstore/nodejs-express-server/config.json
  samples/server/petstore/nodejs-express-server/expressServer.js
  samples/server/petstore/nodejs-express-server/index.js
  samples/server/petstore/nodejs-express-server/package.json
  samples/server/petstore/nodejs-express-server/tests/serverTests.js
Labels: Enhancement: New generator, Server: Nodejs

#2798 [JAVA] fix artifactVersion is not taken from specification
  docs/generators/java-msf4j.md
  docs/generators/jaxrs-cxf-cdi.md
  docs/generators/jaxrs-cxf-extended.md
  docs/generators/jaxrs-cxf.md
  docs/generators/jaxrs-jersey.md
  docs/generators/jaxrs-resteasy-eap.md
  docs/generators/jaxrs-resteasy.md
  docs/generators/jaxrs-spec.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaJAXRSServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaVertXServerCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/TestUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/AbstractJavaCodegenTest.java
  samples/server/petstore/jaxrs-spec-interface/src/main/openapi/openapi.yaml
  samples/server/petstore/jaxrs-spec/src/main/openapi/openapi.yaml
Labels: Issue: Bug, Server: Java

#2489 [core] add support for model as query params
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Enhancement: General, Feature: Generator

#2841 Fixed vertex ApiClient template
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/ApiClient.mustache
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#2849 [Haskell-Servant] Upgrade to Servant 0.16
  modules/openapi-generator/src/main/resources/haskell-servant/API.mustache
  modules/openapi-generator/src/main/resources/haskell-servant/stack.mustache
  samples/server/petstore/haskell-servant/.openapi-generator/VERSION
  samples/server/petstore/haskell-servant/lib/OpenAPIPetstore/API.hs
  samples/server/petstore/haskell-servant/stack.yaml
Labels: Breaking change (without fallback), Enhancement: Compatibility, Server: Haskell

#2847 [GROOVY] update client generator to a stable version
  bin/utils/ensure-up-to-date
  docs/generators/groovy.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GroovyClientCodegen.java
  modules/openapi-generator/src/main/resources/Groovy/ApiUtils.mustache
  modules/openapi-generator/src/main/resources/Groovy/README.mustache
  modules/openapi-generator/src/main/resources/Groovy/api.mustache
  modules/openapi-generator/src/main/resources/Groovy/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Groovy/model.mustache
  pom.xml
  samples/client/petstore/groovy/README.md
  samples/client/petstore/groovy/build.gradle
  samples/client/petstore/groovy/src/main/groovy/org/openapitools/api/ApiUtils.groovy
  samples/client/petstore/groovy/src/main/groovy/org/openapitools/api/PetApi.groovy
  samples/client/petstore/groovy/src/main/groovy/org/openapitools/api/StoreApi.groovy
  samples/client/petstore/groovy/src/main/groovy/org/openapitools/api/UserApi.groovy
  samples/client/petstore/groovy/src/main/groovy/org/openapitools/model/Category.groovy
  samples/client/petstore/groovy/src/main/groovy/org/openapitools/model/ModelApiResponse.groovy
  samples/client/petstore/groovy/src/main/groovy/org/openapitools/model/Order.groovy
  samples/client/petstore/groovy/src/main/groovy/org/openapitools/model/Pet.groovy
  samples/client/petstore/groovy/src/main/groovy/org/openapitools/model/Tag.groovy
  samples/client/petstore/groovy/src/main/groovy/org/openapitools/model/User.groovy
  samples/client/petstore/groovy/src/test/groovy/openapitools/PetApiTest.groovy
Labels: Client: Groovy, Enhancement: Compatibility

#2863 [Core] Minor enhancements
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/ruby/RubyClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/allOf_composition.yaml
Labels: Enhancement: General, Feature: Generator

#2871 Upgrade Groovy to 2.5.7
  bin/groovy-petstore.sh
  modules/openapi-generator/src/main/resources/Groovy/build.gradle.mustache
  samples/client/petstore/groovy/build.gradle
Labels: Client: Groovy, Enhancement: Compatibility

#2874 Update Groovy readme
  modules/openapi-generator/src/main/resources/Groovy/README.mustache
  samples/client/petstore/groovy/README.md
Labels: Client: Groovy, Enhancement: Feature, Feature: Documentation

#2853 JS Client - Add support for empty enum in server object
  modules/openapi-generator/src/main/resources/Javascript/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Javascript/es6/ApiClient.mustache
  samples/client/petstore/javascript-es6/src/ApiClient.js
  samples/client/petstore/javascript-promise-es6/src/ApiClient.js
  samples/client/petstore/javascript-promise/src/ApiClient.js
  samples/client/petstore/javascript/src/ApiClient.js
Labels: Client: JavaScript/Node.js, Enhancement: General

#2876 [Ruby] update TargetRubyVersion in .rubocop.yml to 2.4
  modules/openapi-generator/src/main/resources/ruby-client/rubocop.mustache
  samples/client/petstore/ruby/.rubocop.yml
  samples/openapi3/client/petstore/ruby/.rubocop.yml
Labels: Client: Ruby, Enhancement: Compatibility

#2873 Disable jdk8 when using responseWrapper
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
Labels: Issue: Bug, Server: Java

#2893 [F#][Giraffe] Remove unused import
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/FsharpGiraffeServerCodegen.java
Labels: Enhancement: Compatibility, Server: F#

#2856 Add support of Bearer Basic Authorization to Ruby client
  modules/openapi-generator/src/main/resources/ruby-client/README.mustache
  modules/openapi-generator/src/main/resources/ruby-client/api_doc.mustache
  modules/openapi-generator/src/main/resources/ruby-client/configuration.mustache
  samples/openapi3/client/petstore/ruby/README.md
  samples/openapi3/client/petstore/ruby/docs/FakeApi.md
  samples/openapi3/client/petstore/ruby/lib/petstore/configuration.rb
Labels: Client: Ruby, Enhancement: Feature, Feature: OAS 3.0 spec support

#2894 dart2: update to work with dart 2.3.0
  modules/openapi-generator/src/main/resources/dart/pubspec.mustache
  modules/openapi-generator/src/main/resources/dart2/pubspec.mustache
  samples/client/petstore/dart/flutter_petstore/openapi/pubspec.yaml
  samples/client/petstore/dart/openapi-browser-client/pubspec.yaml
  samples/client/petstore/dart/openapi/pubspec.yaml
Labels: Client: Dart, Enhancement: Compatibility

#2920 [Typescript] gets package npm version from API specification
  docs/generators/javascript-flowtyped.md
  docs/generators/typescript-angular.md
  docs/generators/typescript-aurelia.md
  docs/generators/typescript-axios.md
  docs/generators/typescript-fetch.md
  docs/generators/typescript-inversify.md
  docs/generators/typescript-jquery.md
  docs/generators/typescript-node.md
  docs/generators/typescript-rxjs.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptFlowtypedClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularJsClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAureliaClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAxiosClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptFetchClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptInversifyClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptJqueryClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptNodeClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptRxjsClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/TypeScriptAureliaClientOptionsProvider.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/fetch/TypeScriptFetchClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/typescriptnode/TypeScriptNodeClientCodegenTest.java
Labels: Client: TypeScript, Enhancement: General

#2930 [C++][Pistache] Separate exception types when handling requests
  modules/openapi-generator/src/main/resources/cpp-pistache-server/api-source.mustache
  samples/server/petstore/cpp-pistache/api/PetApi.cpp
  samples/server/petstore/cpp-pistache/api/PetApi.h
  samples/server/petstore/cpp-pistache/api/StoreApi.cpp
  samples/server/petstore/cpp-pistache/api/StoreApi.h
  samples/server/petstore/cpp-pistache/api/UserApi.cpp
  samples/server/petstore/cpp-pistache/api/UserApi.h
  samples/server/petstore/cpp-pistache/impl/PetApiImpl.cpp
  samples/server/petstore/cpp-pistache/impl/PetApiImpl.h
  samples/server/petstore/cpp-pistache/impl/StoreApiImpl.cpp
  samples/server/petstore/cpp-pistache/impl/StoreApiImpl.h
  samples/server/petstore/cpp-pistache/impl/UserApiImpl.cpp
  samples/server/petstore/cpp-pistache/impl/UserApiImpl.h
  samples/server/petstore/cpp-pistache/main-api-server.cpp
  samples/server/petstore/cpp-pistache/model/ApiResponse.cpp
  samples/server/petstore/cpp-pistache/model/ApiResponse.h
  samples/server/petstore/cpp-pistache/model/Category.cpp
  samples/server/petstore/cpp-pistache/model/Category.h
  samples/server/petstore/cpp-pistache/model/Helpers.cpp
  samples/server/petstore/cpp-pistache/model/Helpers.h
  samples/server/petstore/cpp-pistache/model/Order.cpp
  samples/server/petstore/cpp-pistache/model/Order.h
  samples/server/petstore/cpp-pistache/model/Pet.cpp
  samples/server/petstore/cpp-pistache/model/Pet.h
  samples/server/petstore/cpp-pistache/model/Tag.cpp
  samples/server/petstore/cpp-pistache/model/Tag.h
  samples/server/petstore/cpp-pistache/model/User.cpp
  samples/server/petstore/cpp-pistache/model/User.h
Labels: Enhancement: General, Server: C++

#2879 [Groovy] improve code parsing body/form params
  docs/generators/groovy.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractApexCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GroovyClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaJAXRSSpecServerCodegen.java
  modules/openapi-generator/src/main/resources/Groovy/api.mustache
  samples/client/petstore/groovy/src/main/groovy/org/openapitools/api/PetApi.groovy
  samples/client/petstore/groovy/src/main/groovy/org/openapitools/api/StoreApi.groovy
  samples/client/petstore/groovy/src/main/groovy/org/openapitools/api/UserApi.groovy
Labels: Client: Groovy, Enhancement: General

#2922 typescript-fetch: Remove superfluous closing parenthsesis which resul…
  modules/openapi-generator/src/main/resources/typescript-fetch/apis.mustache
Labels: Client: TypeScript, Issue: Bug

#2927 Fix for Java JAX-RS tests in Windows platform
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/jaxrs/JavaJaxrsBaseTest.java
Labels: Enhancement: CI/Test, Server: Java

#2891 [JAVA] fix artifactVersion overriding snapshot parameter when set
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/AbstractJavaCodegenTest.java
Labels: Client: Java, Issue: Bug, Server: Java

#2913 Feature/typescript fetch/map templating
  modules/openapi-generator/src/main/resources/typescript-fetch/modelGeneric.mustache
  modules/openapi-generator/src/main/resources/typescript-fetch/runtime.mustache
  samples/client/petstore/typescript-fetch/builds/default/models/Category.ts
  samples/client/petstore/typescript-fetch/builds/default/models/ModelApiResponse.ts
  samples/client/petstore/typescript-fetch/builds/default/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/default/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/default/models/Tag.ts
  samples/client/petstore/typescript-fetch/builds/default/models/User.ts
  samples/client/petstore/typescript-fetch/builds/default/runtime.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/models/Category.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/models/ModelApiResponse.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/models/Tag.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/models/User.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/runtime.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/models/Category.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/models/ModelApiResponse.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/models/Tag.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/models/User.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/runtime.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/models/Category.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/models/ModelApiResponse.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/models/Tag.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/models/User.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/runtime.ts
Labels: Client: TypeScript, Enhancement: Feature

#2880 [Typescript] remove deprecated typings
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptJqueryClientCodegen.java
  modules/openapi-generator/src/main/resources/typescript-angular/typings.mustache
  modules/openapi-generator/src/main/resources/typescript-jquery/README.mustache
  modules/openapi-generator/src/main/resources/typescript-jquery/git_push.sh.mustache
  modules/openapi-generator/src/main/resources/typescript-jquery/package.mustache
  modules/openapi-generator/src/main/resources/typescript-jquery/tsconfig.mustache
  modules/openapi-generator/src/main/resources/typescript-jquery/typings.mustache
  pom.xml
  samples/client/petstore/typescript-angular-v2/npm/typings.json
  samples/client/petstore/typescript-angular-v2/with-interfaces/typings.json
  samples/client/petstore/typescript-angular-v4.3/npm/typings.json
  samples/client/petstore/typescript-angular-v4/npm/typings.json
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/typings.json
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/typings.json
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/typings.json
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/typings.json
  samples/client/petstore/typescript-angular-v7-provided-in-root/tests/default/src/app/app.component.spec.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/tests/default/src/app/app.component.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/tests/default/src/test/api.spec.ts
  samples/client/petstore/typescript-jquery/default/git_push.sh
  samples/client/petstore/typescript-jquery/npm/README.md
  samples/client/petstore/typescript-jquery/npm/git_push.sh
  samples/client/petstore/typescript-jquery/npm/package.json
  samples/client/petstore/typescript-jquery/npm/tsconfig.json
  samples/client/petstore/typescript-jquery/npm/typings.json
Labels: Client: TypeScript, Enhancement: Compatibility

#2937 [Apex] Set namedCredential file name from the property
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ApexClientCodegen.java
Labels: Client: Apex, Enhancement: General

#2942 [Website] Fix css
  website/static/css/custom.css
Labels: OpenAPI Generator Website

#2951 [PHP] Fix group parameters in WithHttpInfo method
  modules/openapi-generator/src/main/resources/php/api.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
Labels: Client: PHP, Issue: Bug

#2953 [C#] Enabling XML documentation in the C# client
  bin/windows/csharp-petstore.bat
  modules/openapi-generator/src/main/resources/csharp/Project.mustache
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Org.OpenAPITools.csproj
Labels: Client: C-Sharp, Enhancement: Feature, Feature: Documentation

#2944 [Kotlin] Fix parse error when using custom field names with @Json
  modules/openapi-generator/src/main/resources/kotlin-client/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin, Issue: Bug

#2985 [Python] Remove unnecessary if else.
  modules/openapi-generator/src/main/resources/python/api.mustache
  samples/client/petstore/python-asyncio/petstore_api/api/another_fake_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/fake_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/fake_classname_tags_123_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/pet_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/store_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/user_api.py
  samples/client/petstore/python-tornado/petstore_api/api/another_fake_api.py
  samples/client/petstore/python-tornado/petstore_api/api/fake_api.py
  samples/client/petstore/python-tornado/petstore_api/api/fake_classname_tags_123_api.py
  samples/client/petstore/python-tornado/petstore_api/api/pet_api.py
  samples/client/petstore/python-tornado/petstore_api/api/store_api.py
  samples/client/petstore/python-tornado/petstore_api/api/user_api.py
  samples/client/petstore/python/petstore_api/api/another_fake_api.py
  samples/client/petstore/python/petstore_api/api/fake_api.py
  samples/client/petstore/python/petstore_api/api/fake_classname_tags_123_api.py
  samples/client/petstore/python/petstore_api/api/pet_api.py
  samples/client/petstore/python/petstore_api/api/store_api.py
  samples/client/petstore/python/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/default_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_classname_tags_123_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/user_api.py
Labels: Client: Python, Enhancement: Performance

#2981 [Kotlin client] Improve JSON parser
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinClientCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-client/api.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/infrastructure/ApiClient.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/infrastructure/LocalDateAdapter.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/infrastructure/LocalDateTimeAdapter.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/infrastructure/Serializer.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/infrastructure/UUIDAdapter.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/model.mustache
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/LocalDateAdapter.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/LocalDateTimeAdapter.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/UUIDAdapter.kt
  samples/client/petstore/kotlin-string/src/test/kotlin/org/openapitools/client/PetApiTest.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/LocalDateAdapter.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/LocalDateTimeAdapter.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/UUIDAdapter.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/models/ApiResponse.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/models/Category.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/models/Pet.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/models/Tag.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/models/User.kt
  samples/client/petstore/kotlin-threetenbp/src/test/kotlin/org/openapitools/client/PetApiTest.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/LocalDateAdapter.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/LocalDateTimeAdapter.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/UUIDAdapter.kt
  samples/client/petstore/kotlin/src/test/kotlin/org/openapitools/client/StoreApiTest.kt
Labels: Client: Kotlin, Server: Kotlin

#2975 [kotlin] add testFolder configuration for kotlin
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinSpringServerCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-spring/api_test.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/libraries/spring-boot/buildGradleKts.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/libraries/spring-boot/pom.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/AbstractKotlinCodegenTest.java
  samples/server/petstore/kotlin-springboot/build.gradle.kts
  samples/server/petstore/kotlin-springboot/pom.xml
  samples/server/petstore/kotlin-springboot/src/test/kotlin/org/openapitools/api/PetApiTest.kt
  samples/server/petstore/kotlin-springboot/src/test/kotlin/org/openapitools/api/StoreApiTest.kt
  samples/server/petstore/kotlin-springboot/src/test/kotlin/org/openapitools/api/UserApiTest.kt
Labels: Client: Kotlin

#3005 Update jackson-datatype-jsr310/joda to the latest version
  .gitignore
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/build.sbt.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-ext/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-ext/server/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/server/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/libraries/jersey1/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/eap/gradle.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/eap/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/gradle.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/pom.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-mvc/pom.mustache
  modules/openapi-generator/src/main/resources/scala-httpclient/build.sbt.mustache
  modules/openapi-generator/src/main/resources/scala-httpclient/pom.mustache
  samples/client/petstore/java/resteasy/build.sbt
  samples/client/petstore/scala-httpclient/.openapi-generator/VERSION
  samples/client/petstore/scala-httpclient/build.sbt
  samples/client/petstore/scala-httpclient/pom.xml
  samples/client/petstore/scala-httpclient/src/main/scala/org/openapitools/client/ApiInvoker.scala
  samples/client/petstore/scala-httpclient/src/main/scala/org/openapitools/client/api/PetApi.scala
  samples/client/petstore/scala-httpclient/src/main/scala/org/openapitools/client/api/StoreApi.scala
  samples/client/petstore/scala-httpclient/src/main/scala/org/openapitools/client/api/UserApi.scala
  samples/client/petstore/scala-httpclient/src/main/scala/org/openapitools/client/model/ApiResponse.scala
  samples/client/petstore/scala-httpclient/src/main/scala/org/openapitools/client/model/Category.scala
  samples/client/petstore/scala-httpclient/src/main/scala/org/openapitools/client/model/Order.scala
  samples/client/petstore/scala-httpclient/src/main/scala/org/openapitools/client/model/Pet.scala
  samples/client/petstore/scala-httpclient/src/main/scala/org/openapitools/client/model/Tag.scala
  samples/client/petstore/scala-httpclient/src/main/scala/org/openapitools/client/model/User.scala
  samples/server/petstore/jaxrs-cxf/pom.xml
  samples/server/petstore/jaxrs-resteasy/eap-java8/build.gradle
  samples/server/petstore/jaxrs-resteasy/eap-java8/pom.xml
  samples/server/petstore/jaxrs-resteasy/eap-joda/build.gradle
  samples/server/petstore/jaxrs-resteasy/eap-joda/pom.xml
  samples/server/petstore/jaxrs-resteasy/eap/build.gradle
  samples/server/petstore/jaxrs-resteasy/eap/pom.xml
  samples/server/petstore/jaxrs/jersey1-useTags/pom.xml
  samples/server/petstore/jaxrs/jersey1/pom.xml
  samples/server/petstore/jaxrs/jersey2-useTags/pom.xml
  samples/server/petstore/jaxrs/jersey2/pom.xml
  samples/server/petstore/spring-mvc-j8-async/pom.xml
  samples/server/petstore/spring-mvc-j8-localdatetime/pom.xml
  samples/server/petstore/spring-mvc/pom.xml
Labels: Client: Java, Enhancement: Compatibility, Server: Java

#2921 To fix conflict params name 'url'
  modules/openapi-generator/src/main/resources/typescript-axios/api.mustache
  modules/openapi-generator/src/main/resources/typescript-axios/apiInner.mustache
  samples/client/petstore/typescript-axios/builds/default/api.ts
  samples/client/petstore/typescript-axios/builds/es6-target/api.ts
  samples/client/petstore/typescript-axios/builds/with-interfaces/api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/pet-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/store-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/user-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version/api.ts
Labels: Client: TypeScript, Issue: Bug

#2999 Update Java Feign client to the latest stable version
  modules/openapi-generator/src/main/resources/Java/libraries/feign/auth/OAuth.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/pom.mustache
  samples/client/petstore/java/feign/build.gradle
  samples/client/petstore/java/feign/build.sbt
  samples/client/petstore/java/feign/pom.xml
  samples/client/petstore/java/feign10x/build.gradle
  samples/client/petstore/java/feign10x/build.sbt
  samples/client/petstore/java/feign10x/pom.xml
  samples/client/petstore/java/feign10x/src/main/java/org/openapitools/client/auth/OAuth.java
Labels: Client: Java, Enhancement: Compatibility

#2793 [TS][Inverisify] Adding support for RxJS 6
  README.md
  docs/generators/typescript-inversify.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptInversifyClientCodegen.java
  modules/openapi-generator/src/main/resources/typescript-inversify/HttpClient.mustache
  modules/openapi-generator/src/main/resources/typescript-inversify/IHttpClient.mustache
  modules/openapi-generator/src/main/resources/typescript-inversify/api.service.mustache
  modules/openapi-generator/src/main/resources/typescript-inversify/apiInterface.mustache
  modules/openapi-generator/src/main/resources/typescript-inversify/package.mustache
  samples/client/petstore/typescript-inversify/HttpClient.ts
  samples/client/petstore/typescript-inversify/IHttpClient.ts
  samples/client/petstore/typescript-inversify/api/pet.service.ts
  samples/client/petstore/typescript-inversify/api/store.service.ts
  samples/client/petstore/typescript-inversify/api/user.service.ts
  samples/client/petstore/typescript-inversify/model/inlineObject.ts
  samples/client/petstore/typescript-inversify/model/inlineObject1.ts
Labels: Client: TypeScript, Enhancement: Feature

#3014 [Dart] fix hardcoded test classe
  modules/openapi-generator/src/main/resources/dart-jaguar/model_test.mustache
  modules/openapi-generator/src/main/resources/dart/model_test.mustache
  samples/client/petstore/dart-jaguar/flutter_petstore/openapi/README.md
  samples/client/petstore/dart-jaguar/flutter_proto_petstore/openapi/README.md
  samples/client/petstore/dart-jaguar/openapi/README.md
  samples/client/petstore/dart-jaguar/openapi/test/api_response_test.dart
  samples/client/petstore/dart-jaguar/openapi/test/category_test.dart
  samples/client/petstore/dart-jaguar/openapi/test/order_test.dart
  samples/client/petstore/dart-jaguar/openapi/test/tag_test.dart
  samples/client/petstore/dart-jaguar/openapi/test/user_test.dart
  samples/client/petstore/dart-jaguar/openapi_proto/README.md
  samples/client/petstore/dart/flutter_petstore/openapi/test/api_response_test.dart
  samples/client/petstore/dart/flutter_petstore/openapi/test/category_test.dart
  samples/client/petstore/dart/flutter_petstore/openapi/test/order_test.dart
  samples/client/petstore/dart/flutter_petstore/openapi/test/tag_test.dart
  samples/client/petstore/dart/flutter_petstore/openapi/test/user_test.dart
  samples/client/petstore/dart/openapi-browser-client/test/api_response_test.dart
  samples/client/petstore/dart/openapi-browser-client/test/category_test.dart
  samples/client/petstore/dart/openapi-browser-client/test/order_test.dart
  samples/client/petstore/dart/openapi-browser-client/test/tag_test.dart
  samples/client/petstore/dart/openapi-browser-client/test/user_test.dart
  samples/client/petstore/dart/openapi/test/api_response_test.dart
  samples/client/petstore/dart/openapi/test/category_test.dart
  samples/client/petstore/dart/openapi/test/order_test.dart
  samples/client/petstore/dart/openapi/test/tag_test.dart
  samples/client/petstore/dart/openapi/test/user_test.dart
Labels: Client: Dart, Issue: Bug

#3000 fix jaguar wrong import on object
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartJaguarClientCodegen.java
Labels: Client: Dart, Issue: Bug

#3013 [KOTLIN client] fix Moshi (Serializer/Deserializer) duplicated
  modules/openapi-generator/src/main/resources/kotlin-client/build.gradle.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/infrastructure/ApiClient.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/infrastructure/Serializer.kt.mustache
  samples/client/petstore/kotlin-string/build.gradle
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-threetenbp/build.gradle
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin/build.gradle
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
Labels: Client: Kotlin, Issue: Bug

#2982 Add support for enums in Elm operations
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElmClientCodegen.java
  modules/openapi-generator/src/main/resources/elm/api.mustache
  samples/client/petstore/elm/src/Request/Pet.elm
Labels: Client: Elm, Issue: Bug

#2995 [java-okhttpgson]: Include API's Http response codes and their corresponding description and response headers in the documentation
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/api_doc.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/pom.mustache
  samples/client/petstore/java/okhttp-gson-parcelableModel/docs/AnotherFakeApi.md
  samples/client/petstore/java/okhttp-gson-parcelableModel/docs/FakeApi.md
  samples/client/petstore/java/okhttp-gson-parcelableModel/docs/FakeClassnameTags123Api.md
  samples/client/petstore/java/okhttp-gson-parcelableModel/docs/PetApi.md
  samples/client/petstore/java/okhttp-gson-parcelableModel/docs/StoreApi.md
  samples/client/petstore/java/okhttp-gson-parcelableModel/docs/UserApi.md
  samples/client/petstore/java/okhttp-gson-parcelableModel/pom.xml
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/okhttp-gson/docs/AnotherFakeApi.md
  samples/client/petstore/java/okhttp-gson/docs/FakeApi.md
  samples/client/petstore/java/okhttp-gson/docs/FakeClassnameTags123Api.md
  samples/client/petstore/java/okhttp-gson/docs/PetApi.md
  samples/client/petstore/java/okhttp-gson/docs/StoreApi.md
  samples/client/petstore/java/okhttp-gson/docs/UserApi.md
  samples/client/petstore/java/okhttp-gson/pom.xml
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Enhancement: Feature, Feature: Authentication

#3019 [csharp] Making example code snippet compilable
  modules/openapi-generator/src/main/resources/csharp/README.mustache
  modules/openapi-generator/src/main/resources/csharp/api_doc.mustache
  samples/client/petstore/csharp/OpenAPIClient/README.md
  samples/client/petstore/csharp/OpenAPIClient/docs/AnotherFakeApi.md
  samples/client/petstore/csharp/OpenAPIClient/docs/FakeApi.md
  samples/client/petstore/csharp/OpenAPIClient/docs/FakeClassnameTags123Api.md
  samples/client/petstore/csharp/OpenAPIClient/docs/PetApi.md
  samples/client/petstore/csharp/OpenAPIClient/docs/StoreApi.md
  samples/client/petstore/csharp/OpenAPIClient/docs/UserApi.md
Labels: Client: C-Sharp, Enhancement: Feature, Feature: Documentation

#3016 [java-okhttp]: Make example snippets code compilable
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/README.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/api_doc.mustache
  samples/client/petstore/java/okhttp-gson-parcelableModel/docs/AnotherFakeApi.md
  samples/client/petstore/java/okhttp-gson-parcelableModel/docs/FakeApi.md
  samples/client/petstore/java/okhttp-gson-parcelableModel/docs/FakeClassnameTags123Api.md
  samples/client/petstore/java/okhttp-gson-parcelableModel/docs/PetApi.md
  samples/client/petstore/java/okhttp-gson-parcelableModel/docs/StoreApi.md
  samples/client/petstore/java/okhttp-gson-parcelableModel/docs/UserApi.md
  samples/client/petstore/java/okhttp-gson/docs/AnotherFakeApi.md
  samples/client/petstore/java/okhttp-gson/docs/FakeApi.md
  samples/client/petstore/java/okhttp-gson/docs/FakeClassnameTags123Api.md
  samples/client/petstore/java/okhttp-gson/docs/PetApi.md
  samples/client/petstore/java/okhttp-gson/docs/StoreApi.md
  samples/client/petstore/java/okhttp-gson/docs/UserApi.md
Labels: Client: Java, Enhancement: Feature, Feature: Documentation

#3023 Add support for the URI format
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenProperty.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/examples/ExampleGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/examples/XmlExampleGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractAdaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractEiffelCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractFSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGraphQLCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPhpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractRubyCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ApexClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetCoreServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/BashClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CLibcurlClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ClojureClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppPistacheServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppQt5AbstractCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppRestSdkClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppRestbedServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppTizenClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartJaguarClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElixirClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElmClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ErlangClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ErlangProperCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ErlangServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/FlashClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellHttpClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellServantCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptFlowtypedClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/LuaClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/MysqlSchemaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ObjcClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PerlClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSymfonyServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonAbstractConnexionServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaFinchServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalatraServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift3Codegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift4Codegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SwiftClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
Labels: Enhancement: Feature, Feature: Generator

#2998 [csharp] Make API response headers dictionary case insensitive
  docs/generators/csharp.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpClientCodegen.java
  modules/openapi-generator/src/main/resources/csharp/api.mustache
Labels: Client: C-Sharp, Enhancement: Feature

#2948 Added support for patterns on model properties
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/model.mustache
Labels: Enhancement: General, Server: C-Sharp

#2881 Engine param in maven plugin.
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
Labels: OpenAPI Generator Maven Plugin

#3025 Add new option to maven plugin's readme
  modules/openapi-generator-maven-plugin/README.md
Labels: Enhancement: Feature, Feature: Documentation, OpenAPI Generator Maven Plugin

#3002 [python] Adding constructor parameters to Configuration and improving documentation
  modules/openapi-generator/src/main/resources/python/api.mustache
  modules/openapi-generator/src/main/resources/python/api_doc.mustache
  modules/openapi-generator/src/main/resources/python/configuration.mustache
  samples/client/petstore/python-asyncio/docs/AnotherFakeApi.md
  samples/client/petstore/python-asyncio/docs/FakeApi.md
  samples/client/petstore/python-asyncio/docs/FakeClassnameTags123Api.md
  samples/client/petstore/python-asyncio/docs/PetApi.md
  samples/client/petstore/python-asyncio/docs/StoreApi.md
  samples/client/petstore/python-asyncio/docs/UserApi.md
  samples/client/petstore/python-asyncio/petstore_api/api/another_fake_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/fake_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/fake_classname_tags_123_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/pet_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/store_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/user_api.py
  samples/client/petstore/python-asyncio/petstore_api/configuration.py
  samples/client/petstore/python-tornado/docs/AnotherFakeApi.md
  samples/client/petstore/python-tornado/docs/FakeApi.md
  samples/client/petstore/python-tornado/docs/FakeClassnameTags123Api.md
  samples/client/petstore/python-tornado/docs/PetApi.md
  samples/client/petstore/python-tornado/docs/StoreApi.md
  samples/client/petstore/python-tornado/docs/UserApi.md
  samples/client/petstore/python-tornado/petstore_api/api/another_fake_api.py
  samples/client/petstore/python-tornado/petstore_api/api/fake_api.py
  samples/client/petstore/python-tornado/petstore_api/api/fake_classname_tags_123_api.py
  samples/client/petstore/python-tornado/petstore_api/api/pet_api.py
  samples/client/petstore/python-tornado/petstore_api/api/store_api.py
  samples/client/petstore/python-tornado/petstore_api/api/user_api.py
  samples/client/petstore/python-tornado/petstore_api/configuration.py
  samples/client/petstore/python/docs/AnotherFakeApi.md
  samples/client/petstore/python/docs/FakeApi.md
  samples/client/petstore/python/docs/FakeClassnameTags123Api.md
  samples/client/petstore/python/docs/PetApi.md
  samples/client/petstore/python/docs/StoreApi.md
  samples/client/petstore/python/docs/UserApi.md
  samples/client/petstore/python/petstore_api/api/another_fake_api.py
  samples/client/petstore/python/petstore_api/api/fake_api.py
  samples/client/petstore/python/petstore_api/api/fake_classname_tags_123_api.py
  samples/client/petstore/python/petstore_api/api/pet_api.py
  samples/client/petstore/python/petstore_api/api/store_api.py
  samples/client/petstore/python/petstore_api/api/user_api.py
  samples/client/petstore/python/petstore_api/configuration.py
  samples/openapi3/client/petstore/python/docs/AnotherFakeApi.md
  samples/openapi3/client/petstore/python/docs/DefaultApi.md
  samples/openapi3/client/petstore/python/docs/FakeApi.md
  samples/openapi3/client/petstore/python/docs/FakeClassnameTags123Api.md
  samples/openapi3/client/petstore/python/docs/PetApi.md
  samples/openapi3/client/petstore/python/docs/StoreApi.md
  samples/openapi3/client/petstore/python/docs/UserApi.md
  samples/openapi3/client/petstore/python/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/default_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_classname_tags_123_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python/petstore_api/configuration.py
Labels: Client: Python, Enhancement: Feature, Feature: Documentation

#2983 Use golang's provided method names (gin)
  modules/openapi-generator/src/main/resources/go-gin-server/routers.mustache
  samples/server/petstore/go-gin-api-server/go/routers.go
Labels: Enhancement: General, Server: Go

#2884 [python-server] Support python 3.5+ for all server-generators
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonAbstractConnexionServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonBluePlanetServerCodegen.java
  modules/openapi-generator/src/main/resources/python-aiohttp/typing_utils.mustache
  modules/openapi-generator/src/main/resources/python-aiohttp/util.mustache
  modules/openapi-generator/src/main/resources/python-blueplanet/app/{{packageName}}/typing_utils.mustache
  modules/openapi-generator/src/main/resources/python-blueplanet/app/{{packageName}}/util.mustache
  modules/openapi-generator/src/main/resources/python-flask/typing_utils.mustache
  modules/openapi-generator/src/main/resources/python-flask/util.mustache
  samples/server/openapi3/petstore/python-flask-python2/.openapi-generator/VERSION
  samples/server/openapi3/petstore/python-flask-python2/openapi_server/openapi/openapi.yaml
  samples/server/openapi3/petstore/python-flask-python2/openapi_server/typing_utils.py
  samples/server/openapi3/petstore/python-flask-python2/openapi_server/util.py
  samples/server/openapi3/petstore/python-flask/.openapi-generator/VERSION
  samples/server/openapi3/petstore/python-flask/openapi_server/openapi/openapi.yaml
  samples/server/openapi3/petstore/python-flask/openapi_server/typing_utils.py
  samples/server/openapi3/petstore/python-flask/openapi_server/util.py
  samples/server/petstore/python-aiohttp/.openapi-generator/VERSION
  samples/server/petstore/python-aiohttp/openapi_server/openapi/openapi.yaml
  samples/server/petstore/python-aiohttp/openapi_server/typing_utils.py
  samples/server/petstore/python-aiohttp/openapi_server/util.py
  samples/server/petstore/python-blueplanet/.openapi-generator/VERSION
  samples/server/petstore/python-blueplanet/app/openapi_server/typing_utils.py
  samples/server/petstore/python-blueplanet/app/openapi_server/util.py
  samples/server/petstore/python-flask-python2/.openapi-generator/VERSION
  samples/server/petstore/python-flask-python2/openapi_server/openapi/openapi.yaml
  samples/server/petstore/python-flask-python2/openapi_server/typing_utils.py
  samples/server/petstore/python-flask-python2/openapi_server/util.py
  samples/server/petstore/python-flask/.openapi-generator/VERSION
  samples/server/petstore/python-flask/openapi_server/openapi/openapi.yaml
  samples/server/petstore/python-flask/openapi_server/typing_utils.py
  samples/server/petstore/python-flask/openapi_server/util.py
Labels: Issue: Bug, Server: Python

#2911 [C++][Restbed] Add handler callback methods
  modules/openapi-generator/src/main/resources/cpp-restbed-server/api-header.mustache
  modules/openapi-generator/src/main/resources/cpp-restbed-server/api-source.mustache
  samples/server/petstore/cpp-restbed/.openapi-generator/VERSION
  samples/server/petstore/cpp-restbed/api/PetApi.cpp
  samples/server/petstore/cpp-restbed/api/PetApi.h
  samples/server/petstore/cpp-restbed/api/StoreApi.cpp
  samples/server/petstore/cpp-restbed/api/StoreApi.h
  samples/server/petstore/cpp-restbed/api/UserApi.cpp
  samples/server/petstore/cpp-restbed/api/UserApi.h
  samples/server/petstore/cpp-restbed/model/ApiResponse.cpp
  samples/server/petstore/cpp-restbed/model/ApiResponse.h
  samples/server/petstore/cpp-restbed/model/Category.cpp
  samples/server/petstore/cpp-restbed/model/Category.h
  samples/server/petstore/cpp-restbed/model/Order.cpp
  samples/server/petstore/cpp-restbed/model/Order.h
  samples/server/petstore/cpp-restbed/model/Pet.cpp
  samples/server/petstore/cpp-restbed/model/Pet.h
  samples/server/petstore/cpp-restbed/model/Tag.cpp
  samples/server/petstore/cpp-restbed/model/Tag.h
  samples/server/petstore/cpp-restbed/model/User.cpp
  samples/server/petstore/cpp-restbed/model/User.h
Labels: Enhancement: General, Server: C++

#3027 fix(golang): Check error of xml Encode
  modules/openapi-generator/src/main/resources/go/client.mustache
  samples/client/petstore/go/go-petstore/client.go
Labels: Client: Go, Enhancement: General

#2900 [typescript-fetch] Fix uploading files
  modules/openapi-generator/src/main/resources/typescript-fetch/runtime.mustache
  samples/client/petstore/typescript-fetch/builds/default/models/InlineObject.ts
  samples/client/petstore/typescript-fetch/builds/default/models/InlineObject1.ts
  samples/client/petstore/typescript-fetch/builds/default/runtime.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/models/InlineObject.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/models/InlineObject1.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/runtime.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/models/InlineObject.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/models/InlineObject1.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/runtime.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/models/InlineObject.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/models/InlineObject1.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/runtime.ts
Labels: Client: TypeScript, Issue: Bug

#2886 [gradle] Reworking publishing pipeline
  .travis.yml
  modules/openapi-generator-gradle-plugin/build.gradle
  modules/openapi-generator-gradle-plugin/pom.xml
  modules/openapi-generator-gradle-plugin/settings.gradle
Labels: Enhancement: CI/Test, OpenAPI Generator Gradle Plugin

#3046 [C++][Qt5]Map number to double since float is also parsed as double in Qt5
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppQt5AbstractCodegen.java
Labels: Client: C++, Client: QT, Issue: Bug, Server: C++
