Repository OpenAPITools/openapi-generator, pull requests merged in 2019-02, with the labels that each got.

#1890 Rust reqwest improve
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustClientCodegen.java
  modules/openapi-generator/src/main/resources/rust/reqwest/api.mustache
  modules/openapi-generator/src/main/resources/rust/reqwest/api_mod.mustache
  samples/client/petstore/rust-reqwest/.openapi-generator/VERSION
  samples/client/petstore/rust-reqwest/docs/PetApi.md
  samples/client/petstore/rust-reqwest/docs/StoreApi.md
  samples/client/petstore/rust-reqwest/docs/UserApi.md
  samples/client/petstore/rust-reqwest/src/apis/mod.rs
  samples/client/petstore/rust-reqwest/src/apis/pet_api.rs
  samples/client/petstore/rust-reqwest/src/apis/store_api.rs
  samples/client/petstore/rust-reqwest/src/apis/user_api.rs
  samples/client/petstore/rust/.openapi-generator/VERSION
  samples/client/petstore/rust/docs/PetApi.md
  samples/client/petstore/rust/docs/StoreApi.md
  samples/client/petstore/rust/docs/UserApi.md
  samples/client/petstore/rust/src/apis/pet_api.rs
  samples/client/petstore/rust/src/apis/store_api.rs
  samples/client/petstore/rust/src/apis/user_api.rs
Labels: Client: Rust, Enhancement: General

#2027 Making completion work with openapi-generator-cli or openapi-generator
  scripts/openapi-generator-cli-completion.bash
Labels: Enhancement: General, OpenAPI Generator CLI

#2046 Add methods to name interfaces (allOf, anyOf, oneOf)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Enhancement: Feature, Feature: Generator

#2044 Fix isFreeFormObject check for allOf, oneOf, anyOf
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
Labels: Feature: Generator, Issue: Bug

#2048 Add servers support to the path and operation
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConfig.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenOperation.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractAdaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractApexCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/BashClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppPistacheServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppRestSdkClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellServantCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaVertXServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSlimServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/StaticHtml2Generator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SwiftClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/bash/BashTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/dart/DartModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/go/GoClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaCXFClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/objc/ObjcModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/perl/PerlClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/php/PhpModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/ruby/RubyClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/swift3/Swift3CodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/swift4/Swift4CodegenTest.java
Labels: Enhancement: Feature, Feature: Generator, Feature: OAS 3.0 spec support

#2065 Update openapi-generator-cli.sh
  bin/utils/openapi-generator-cli.sh
Labels: Enhancement: General

#2084 [JavaScript] fix JS default ot ES6
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptClientCodegen.java
Labels: Client: JavaScript/Node.js, Issue: Bug

#2045 Remove localVarPrefix from Java client
  docs/generators/groovy.md
  docs/generators/java-inflector.md
  docs/generators/java-msf4j.md
  docs/generators/java-pkmst.md
  docs/generators/java-play-framework.md
  docs/generators/java-undertow-server.md
  docs/generators/java-vertx.md
  docs/generators/java.md
  docs/generators/jaxrs-cxf-cdi.md
  docs/generators/jaxrs-cxf-client.md
  docs/generators/jaxrs-cxf.md
  docs/generators/jaxrs-jersey.md
  docs/generators/jaxrs-resteasy-eap.md
  docs/generators/jaxrs-resteasy.md
  docs/generators/jaxrs-spec.md
  docs/generators/spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/api.mustache
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Breaking change (without fallback), Client: Java, Issue: Bug

#2041 [python-flask] [python-aiohttp] [bug] Fixed handling of dotted module names
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonAbstractConnexionServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonAiohttpConnexionServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonFlaskConnexionServerCodegen.java
Labels: Issue: Bug, Server: Python

#2059 Add `controller.service_arguments` tag to controllers to make them public
  modules/openapi-generator/src/main/resources/php-symfony/services.mustache
  samples/server/petstore/php-symfony/SymfonyBundle-php/Resources/config/services.yml
Labels: Enhancement: General, Server: PHP

#2060 Add "servers" support to operation, path in the JS client
  modules/openapi-generator/src/main/resources/Javascript/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Javascript/api.mustache
  modules/openapi-generator/src/main/resources/Javascript/es6/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Javascript/es6/api.mustache
  samples/client/petstore/javascript-es6/src/ApiClient.js
  samples/client/petstore/javascript-es6/src/api/AnotherFakeApi.js
  samples/client/petstore/javascript-es6/src/api/FakeApi.js
  samples/client/petstore/javascript-es6/src/api/FakeClassnameTags123Api.js
  samples/client/petstore/javascript-es6/src/api/PetApi.js
  samples/client/petstore/javascript-es6/src/api/StoreApi.js
  samples/client/petstore/javascript-es6/src/api/UserApi.js
  samples/client/petstore/javascript-promise-es6/src/ApiClient.js
  samples/client/petstore/javascript-promise-es6/src/api/AnotherFakeApi.js
  samples/client/petstore/javascript-promise-es6/src/api/FakeApi.js
  samples/client/petstore/javascript-promise-es6/src/api/FakeClassnameTags123Api.js
  samples/client/petstore/javascript-promise-es6/src/api/PetApi.js
  samples/client/petstore/javascript-promise-es6/src/api/StoreApi.js
  samples/client/petstore/javascript-promise-es6/src/api/UserApi.js
  samples/client/petstore/javascript-promise/src/ApiClient.js
  samples/client/petstore/javascript-promise/src/api/AnotherFakeApi.js
  samples/client/petstore/javascript-promise/src/api/FakeApi.js
  samples/client/petstore/javascript-promise/src/api/FakeClassnameTags123Api.js
  samples/client/petstore/javascript-promise/src/api/PetApi.js
  samples/client/petstore/javascript-promise/src/api/StoreApi.js
  samples/client/petstore/javascript-promise/src/api/UserApi.js
  samples/client/petstore/javascript/src/ApiClient.js
  samples/client/petstore/javascript/src/api/AnotherFakeApi.js
  samples/client/petstore/javascript/src/api/FakeApi.js
  samples/client/petstore/javascript/src/api/FakeClassnameTags123Api.js
  samples/client/petstore/javascript/src/api/PetApi.js
  samples/client/petstore/javascript/src/api/StoreApi.js
  samples/client/petstore/javascript/src/api/UserApi.js
  samples/openapi3/client/petstore/javascript-es6/src/ApiClient.js
  samples/openapi3/client/petstore/javascript-es6/src/api/AnotherFakeApi.js
  samples/openapi3/client/petstore/javascript-es6/src/api/DefaultApi.js
  samples/openapi3/client/petstore/javascript-es6/src/api/FakeApi.js
  samples/openapi3/client/petstore/javascript-es6/src/api/FakeClassnameTags123Api.js
  samples/openapi3/client/petstore/javascript-es6/src/api/PetApi.js
  samples/openapi3/client/petstore/javascript-es6/src/api/StoreApi.js
  samples/openapi3/client/petstore/javascript-es6/src/api/UserApi.js
Labels: Client: JavaScript/Node.js, Enhancement: Feature, Feature: OAS 3.0 spec support

#1930 fix 457 Support for Bearer Auth
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/auth/HttpBearerAuth.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/auth/HttpBearerAuth.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/auth/HttpBearerAuth.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit/auth/HttpBearerAuth.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/auth/HttpBearerAuth.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/auth/HttpBearerAuth.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/auth/HttpBearerAuth.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/feign10x/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/jersey1/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey1/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/jersey2-java6/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java6/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/jersey2/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/retrofit/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/retrofit2/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/retrofit2rx/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/retrofit2rx2/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
Labels: Enhancement: Security

#2072 Add "servers" support to the operation, path in PHP API client
  modules/openapi-generator/src/main/resources/php/api.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/AnotherFakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeClassnameTags123Api.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/PetApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/StoreApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/UserApi.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/AnotherFakeApi.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/DefaultApi.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/FakeClassnameTags123Api.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/PetApi.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/StoreApi.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/UserApi.php
Labels: Client: PHP, Enhancement: Feature, Feature: OAS 3.0 spec support

#2083 [PHP] remove deprecated options
  docs/generators/php.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPhpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpClientCodegen.java
  modules/openapi-generator/src/main/resources/lumen/composer.mustache
  modules/openapi-generator/src/main/resources/php-laravel/composer.mustache
  modules/openapi-generator/src/main/resources/php-symfony/README.mustache
  modules/openapi-generator/src/main/resources/php-symfony/composer.mustache
  modules/openapi-generator/src/main/resources/php/README.mustache
  modules/openapi-generator/src/main/resources/php/composer.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/PhpClientOptionsProvider.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/php/PhpClientOptionsTest.java
  samples/client/petstore/php/OpenAPIClient-php/composer.json
  samples/openapi3/client/petstore/php/OpenAPIClient-php/composer.json
  samples/server/petstore/php-symfony/SymfonyBundle-php/README.md
  samples/server/petstore/php-symfony/SymfonyBundle-php/composer.json
Labels: Client: PHP, Enhancement: General

#1436 Fix Bug 1433 decimal literal in C# maybe other languages
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  samples/client/petstore/csharp/OpenAPIClient/docs/FakeApi.md
  samples/client/petstore/go/go-petstore/api/openapi.yaml
  samples/client/petstore/haskell-http-client/openapi.yaml
  samples/server/petstore/jaxrs-spec-interface/src/main/openapi/openapi.yaml
  samples/server/petstore/jaxrs-spec/src/main/openapi/openapi.yaml
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/api/openapi.yaml
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/examples/client.rs
  samples/server/petstore/spring-mvc-j8-async/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/spring-mvc-j8-localdatetime/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/spring-mvc/src/main/java/org/openapitools/api/FakeApiController.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/org/openapitools/api/FakeApiController.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/api/FakeApiDelegate.java
  samples/server/petstore/springboot-implicitHeaders/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/FakeApiDelegate.java
  samples/server/petstore/springboot-reactive/src/main/resources/openapi.yaml
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/api/FakeApi.java
  samples/server/petstore/springboot/src/main/java/org/openapitools/api/FakeApi.java
Labels: Client: C-Sharp, Feature: Generator, Issue: Bug, Server: C-Sharp

#2074 [PHP-Symfony] Catch serializer exception
  modules/openapi-generator/src/main/resources/php-symfony/api_controller.mustache
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/PetController.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/StoreController.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/UserController.php
Labels: Enhancement: General, Server: PHP

#2105 [R] fix namespace, use 2-space indentation
  .gitignore
  modules/openapi-generator/src/main/resources/r/NAMESPACE.mustache
  modules/openapi-generator/src/main/resources/r/api.mustache
  modules/openapi-generator/src/main/resources/r/api_client.mustache
  modules/openapi-generator/src/main/resources/r/model.mustache
  samples/client/petstore/R/NAMESPACE
  samples/client/petstore/R/R/ApiClient.r
  samples/client/petstore/R/R/ApiResponse.r
  samples/client/petstore/R/R/Category.r
  samples/client/petstore/R/R/Order.r
  samples/client/petstore/R/R/PetApi.r
  samples/client/petstore/R/R/StoreApi.r
  samples/client/petstore/R/R/Tag.r
  samples/client/petstore/R/R/User.r
  samples/client/petstore/R/R/UserApi.r
  samples/client/petstore/R/R/pet.R
Labels: Client: R, Enhancement: Code format, Issue: Bug

#2106 [R] Use PascalCase for function naming
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
  samples/client/petstore/R/R/PetApi.r
  samples/client/petstore/R/R/StoreApi.r
  samples/client/petstore/R/R/UserApi.r
Labels: Client: R, Enhancement: Code format

#2109 [R] improve .travis.yml, .Rbuildignore
  modules/openapi-generator/src/main/resources/r/.travis.yml
  modules/openapi-generator/src/main/resources/r/Rbuildignore.mustache
  samples/client/petstore/R/.Rbuildignore
  samples/client/petstore/R/.travis.yml
  samples/client/petstore/R/R/PetApi.r
  samples/client/petstore/R/R/StoreApi.r
  samples/client/petstore/R/R/UserApi.r
Labels: Client: R, Enhancement: CI/Test

#2107 Don't escape [ and ] in query param keys
  modules/openapi-generator/src/main/resources/typescript-angular/encoder.mustache
  samples/client/petstore/typescript-angular-v2/default/encoder.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/encoder.ts
  samples/client/petstore/typescript-angular-v4.3/npm/encoder.ts
  samples/client/petstore/typescript-angular-v4/npm/encoder.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/encoder.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/encoder.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/encoder.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/encoder.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/encoder.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/encoder.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/encoder.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/encoder.ts
Labels: Client: TypeScript, Issue: Bug

#2016 [python] [bug] Fixed handling of dotted module names
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonClientOptionsTest.java
Labels: Client: Python, Issue: Bug

#2007 [PHP] Replace File.seperator with slashes in PHP projects #2004
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPhpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSymfonyServerCodegen.java
Labels: Client: PHP, Issue: Bug, Server: PHP

#2130 [typescript-angular] Incorrect OperationId Generated (starting with number)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/typescriptangular/TypeScriptAngularClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/typescriptangular/TypeScriptAngularModelTest.java
Labels: Client: TypeScript, Issue: Bug

#2133 [core] Fix NullPointer when schema is not set in header
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
Labels: Enhancement: General

#2042 [Rust][Client] Code format
  modules/openapi-generator/src/main/resources/rust/Cargo.mustache
  modules/openapi-generator/src/main/resources/rust/hyper/client.mustache
  modules/openapi-generator/src/main/resources/rust/hyper/configuration.mustache
  modules/openapi-generator/src/main/resources/rust/model.mustache
  modules/openapi-generator/src/main/resources/rust/model_mod.mustache
  modules/openapi-generator/src/main/resources/rust/partial_header.mustache
  modules/openapi-generator/src/main/resources/rust/reqwest/api.mustache
  modules/openapi-generator/src/main/resources/rust/reqwest/client.mustache
  modules/openapi-generator/src/main/resources/rust/reqwest/configuration.mustache
  samples/client/petstore/rust-reqwest/src/apis/client.rs
  samples/client/petstore/rust-reqwest/src/apis/configuration.rs
  samples/client/petstore/rust-reqwest/src/apis/pet_api.rs
  samples/client/petstore/rust-reqwest/src/apis/store_api.rs
  samples/client/petstore/rust-reqwest/src/apis/user_api.rs
  samples/client/petstore/rust-reqwest/src/models/api_response.rs
  samples/client/petstore/rust-reqwest/src/models/category.rs
  samples/client/petstore/rust-reqwest/src/models/mod.rs
  samples/client/petstore/rust-reqwest/src/models/order.rs
  samples/client/petstore/rust-reqwest/src/models/pet.rs
  samples/client/petstore/rust-reqwest/src/models/tag.rs
  samples/client/petstore/rust-reqwest/src/models/user.rs
  samples/client/petstore/rust/src/apis/client.rs
  samples/client/petstore/rust/src/apis/configuration.rs
  samples/client/petstore/rust/src/apis/pet_api.rs
  samples/client/petstore/rust/src/apis/store_api.rs
  samples/client/petstore/rust/src/apis/user_api.rs
  samples/client/petstore/rust/src/models/api_response.rs
  samples/client/petstore/rust/src/models/category.rs
  samples/client/petstore/rust/src/models/mod.rs
  samples/client/petstore/rust/src/models/order.rs
  samples/client/petstore/rust/src/models/pet.rs
  samples/client/petstore/rust/src/models/tag.rs
  samples/client/petstore/rust/src/models/user.rs
Labels: Client: Rust, Enhancement: Code format

#2129 [R] fix object serialization to JSON
  modules/openapi-generator/src/main/resources/r/api.mustache
  modules/openapi-generator/src/main/resources/r/api_client.mustache
  modules/openapi-generator/src/main/resources/r/model.mustache
  samples/client/petstore/R/R/ApiClient.r
  samples/client/petstore/R/R/ApiResponse.r
  samples/client/petstore/R/R/Category.r
  samples/client/petstore/R/R/Order.r
  samples/client/petstore/R/R/PetApi.r
  samples/client/petstore/R/R/StoreApi.r
  samples/client/petstore/R/R/Tag.r
  samples/client/petstore/R/R/User.r
  samples/client/petstore/R/R/UserApi.r
  samples/client/petstore/R/R/pet.R
Labels: Client: R, Issue: Bug

#2141 [R] Add auto-generated tests
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
  modules/openapi-generator/src/main/resources/r/api_test.mustache
  modules/openapi-generator/src/main/resources/r/model_test.mustache
  modules/openapi-generator/src/main/resources/r/testthat.mustache
  samples/client/petstore/R/tests/testthat/ApiResponseTest.R
  samples/client/petstore/R/tests/testthat/CategoryTest.R
  samples/client/petstore/R/tests/testthat/OrderTest.R
  samples/client/petstore/R/tests/testthat/PetApiTest.R
  samples/client/petstore/R/tests/testthat/PetTest.R
  samples/client/petstore/R/tests/testthat/StoreApiTest.R
  samples/client/petstore/R/tests/testthat/TagTest.R
  samples/client/petstore/R/tests/testthat/UserApiTest.R
  samples/client/petstore/R/tests/testthat/UserTest.R
  samples/client/petstore/R/testthat.R
Labels: Client: R, Enhancement: CI/Test

#2142 [R] renaming files
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
  modules/openapi-generator/src/main/resources/r/api.mustache
  samples/client/petstore/R/R/ApiResponse.r
  samples/client/petstore/R/R/Element.r
  samples/client/petstore/R/R/api_client.R
  samples/client/petstore/R/R/api_response.R
  samples/client/petstore/R/R/pet_api.R
  samples/client/petstore/R/R/store_api.R
  samples/client/petstore/R/R/user_api.R
Labels: Breaking change (without fallback), Client: R, Enhancement: Code format

#2138 [core] consider schema in headers when computing unused schemas
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/utils/ModelUtilsTest.java
  modules/openapi-generator/src/test/resources/3_0/unusedSchemas.yaml
Labels: Enhancement: General

#2002 Typescript+Axios: multipart/form-data correctly handled
  bin/typescript-axios-petstore-all.sh
  bin/typescript-axios-petstore-interfaces.sh
  bin/typescript-axios-petstore-target-es6.json
  bin/typescript-axios-petstore-target-es6.sh
  bin/typescript-axios-petstore-with-npm-version.json
  bin/typescript-axios-petstore-with-npm-version.sh
  bin/typescript-axios-petstore.sh
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAxiosClientCodegen.java
  modules/openapi-generator/src/main/resources/typescript-axios/api.mustache
  modules/openapi-generator/src/main/resources/typescript-axios/package.mustache
  samples/client/petstore/typescript-axios/builds/default/api.ts
  samples/client/petstore/typescript-axios/builds/es6-target/api.ts
  samples/client/petstore/typescript-axios/builds/es6-target/package.json
  samples/client/petstore/typescript-axios/builds/with-interfaces/api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version/api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version/package.json
Labels: Client: TypeScript, Issue: Bug

#2128 Revert "Don't escape [ and ] in query param keys"
  modules/openapi-generator/src/main/resources/typescript-angular/encoder.mustache
  samples/client/petstore/typescript-angular-v2/default/encoder.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/encoder.ts
  samples/client/petstore/typescript-angular-v4.3/npm/encoder.ts
  samples/client/petstore/typescript-angular-v4/npm/encoder.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/encoder.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/encoder.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/encoder.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/encoder.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/encoder.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/encoder.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/encoder.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/encoder.ts
Labels: Client: TypeScript, Issue: Undo changes

#2153 [R] Add authentication support, minor ApiClient refactor
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
  modules/openapi-generator/src/main/resources/r/ApiResponse.mustache
  modules/openapi-generator/src/main/resources/r/NAMESPACE.mustache
  modules/openapi-generator/src/main/resources/r/api.mustache
  modules/openapi-generator/src/main/resources/r/api_client.mustache
  samples/client/petstore/R/NAMESPACE
  samples/client/petstore/R/R/api_client.R
  samples/client/petstore/R/R/api_response.R
  samples/client/petstore/R/R/model_api_response.R
  samples/client/petstore/R/R/pet_api.R
  samples/client/petstore/R/R/store_api.R
  samples/client/petstore/R/R/user_api.R
  samples/client/petstore/R/README.md
  samples/client/petstore/R/docs/ModelApiResponse.md
  samples/client/petstore/R/docs/PetApi.md
  samples/client/petstore/R/tests/testthat.R
Labels: Breaking change (without fallback), Client: R, Enhancement: General, Issue: Bug

#2073 [PHP-Symfony] Don't try to detect response format if method return nothing
  modules/openapi-generator/src/main/resources/php-symfony/api_controller.mustache
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/PetController.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/StoreController.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/UserController.php
Labels: Enhancement: General, Server: PHP

#2160 openapi-generator-cli.sh: Fix missing single quote
  bin/utils/openapi-generator-cli.sh
Labels: Issue: Bug

#2136 [rust-server] Changed query parameters to be url encoded
  modules/openapi-generator/src/main/resources/rust-server/client-mod.mustache
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/client/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/client/mod.rs
Labels: Server: Rust

#2162 [R] various improvements and bug fixes
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
  modules/openapi-generator/src/main/resources/r/api.mustache
  modules/openapi-generator/src/main/resources/r/api_client.mustache
  modules/openapi-generator/src/main/resources/r/api_doc.mustache
  modules/openapi-generator/src/main/resources/r/api_test.mustache
  samples/client/petstore/R/R/api_client.R
  samples/client/petstore/R/R/pet_api.R
  samples/client/petstore/R/R/store_api.R
  samples/client/petstore/R/R/user_api.R
  samples/client/petstore/R/docs/Order.md
  samples/client/petstore/R/docs/Pet.md
  samples/client/petstore/R/docs/PetApi.md
  samples/client/petstore/R/docs/StoreApi.md
  samples/client/petstore/R/docs/User.md
  samples/client/petstore/R/docs/UserApi.md
Labels: Breaking change (without fallback), Client: R, Enhancement: General, Issue: Bug

#2156 [plugin][maven] add missing General Configuration parameters in README
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
  modules/openapi-generator-maven-plugin/README.md
Labels: OpenAPI Generator Maven Plugin

#2168 [C++][Qt5] Fix import for models with underscore
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppQt5AbstractCodegen.java
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/apirouter.h.mustache
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/handlers/OAIApiRouter.h
Labels: Client: C++, Enhancement: General, Server: C++

#2117 [typescript-angular] Update default Angular version from 4.3 to 7.0
  docs/generators/typescript-angular.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
Labels: Breaking change (with fallback), Client: TypeScript, Enhancement: Compatibility

#2033 [Java] adds snapshotVersion CLI option and uses API version as artifactVersion by default
  docs/generators/groovy.md
  docs/generators/java-inflector.md
  docs/generators/java-msf4j.md
  docs/generators/java-pkmst.md
  docs/generators/java-play-framework.md
  docs/generators/java-undertow-server.md
  docs/generators/java-vertx.md
  docs/generators/java.md
  docs/generators/jaxrs-cxf-cdi.md
  docs/generators/jaxrs-cxf-client.md
  docs/generators/jaxrs-cxf.md
  docs/generators/jaxrs-jersey.md
  docs/generators/jaxrs-resteasy-eap.md
  docs/generators/jaxrs-resteasy.md
  docs/generators/jaxrs-spec.md
  docs/generators/spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/AbstractJavaCodegenTest.java
Labels: Client: Java, Enhancement: Feature

#2095 [Java] Getter/Setter naming convention not followed in generated models
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaModelTest.java
Labels: Breaking change (without fallback), Client: Java, Enhancement: Code format

#2159 [rust-server] Added client documentation to rust-server
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/resources/rust-server/README.mustache
  modules/openapi-generator/src/main/resources/rust-server/api_doc.mustache
  modules/openapi-generator/src/main/resources/rust-server/model_doc.mustache
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/README.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/AdditionalPropertiesClass.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/Animal.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/ApiResponse.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/ArrayOfArrayOfNumberOnly.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/ArrayOfNumberOnly.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/ArrayTest.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/Capitalization.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/Cat.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/Category.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/ClassModel.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/Client.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/Dog.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/EnumArrays.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/EnumClass.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/EnumTest.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/FormatTest.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/HasOnlyReadOnly.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/List.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/MapTest.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/MixedPropertiesAndAdditionalPropertiesClass.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/Model200Response.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/ModelReturn.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/Name.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/NumberOnly.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/Order.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/OuterBoolean.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/OuterComposite.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/OuterEnum.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/OuterNumber.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/OuterString.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/Pet.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/ReadOnlyFirst.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/SpecialModelName.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/Tag.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/User.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/another_fake_api.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/fake_api.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/fake_classname_tags123_api.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/pet_api.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/store_api.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/user_api.md
  samples/server/petstore/rust-server/output/rust-server-test/README.md
  samples/server/petstore/rust-server/output/rust-server-test/docs/ANullableContainer.md
  samples/server/petstore/rust-server/output/rust-server-test/docs/DefaultApi.md
  samples/server/petstore/rust-server/output/rust-server-test/docs/InlineObject.md
  samples/server/petstore/rust-server/output/rust-server-test/docs/ObjectOfObjects.md
  samples/server/petstore/rust-server/output/rust-server-test/docs/ObjectOfObjectsInner.md
  samples/server/petstore/rust-server/output/rust-server-test/docs/default_api.md
Labels: Server: Rust

#2166 [kotlin][client] bytearray conversion
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinClientCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-client/infrastructure/ApiClient.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/infrastructure/ByteArrayAdapter.kt.mustache
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ByteArrayAdapter.kt
Labels: Client: Kotlin

#2139 [Ruby] Fix regualr expression in error message (#2069)
  modules/openapi-generator/src/main/resources/ruby-client/api.mustache
  modules/openapi-generator/src/main/resources/ruby-client/partial_model_generic.mustache
  samples/client/petstore/ruby/lib/petstore/api/fake_api.rb
  samples/client/petstore/ruby/lib/petstore/models/format_test.rb
  samples/openapi3/client/petstore/ruby/lib/petstore/api/fake_api.rb
  samples/openapi3/client/petstore/ruby/lib/petstore/models/format_test.rb
Labels: Client: Ruby, Issue: Bug

#2137 okhttp-gson: allow array parameters in path using collectionFormat
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/api.mustache
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: General

#1601 Remove API Key Authentication code for go when cookie is used.
  modules/openapi-generator/src/main/resources/go/api.mustache
Labels: Client: Go, Issue: Bug

#1676 Fix string types for cpprestsdk client generator
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/api-source.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/apiclient-source.mustache
  samples/client/petstore/cpp-restsdk/.openapi-generator/VERSION
  samples/client/petstore/cpp-restsdk/ApiClient.cpp
  samples/client/petstore/cpp-restsdk/ApiClient.h
  samples/client/petstore/cpp-restsdk/ApiConfiguration.cpp
  samples/client/petstore/cpp-restsdk/ApiConfiguration.h
  samples/client/petstore/cpp-restsdk/ApiException.cpp
  samples/client/petstore/cpp-restsdk/ApiException.h
  samples/client/petstore/cpp-restsdk/HttpContent.cpp
  samples/client/petstore/cpp-restsdk/HttpContent.h
  samples/client/petstore/cpp-restsdk/IHttpBody.h
  samples/client/petstore/cpp-restsdk/JsonBody.cpp
  samples/client/petstore/cpp-restsdk/JsonBody.h
  samples/client/petstore/cpp-restsdk/ModelBase.cpp
  samples/client/petstore/cpp-restsdk/ModelBase.h
  samples/client/petstore/cpp-restsdk/MultipartFormData.cpp
  samples/client/petstore/cpp-restsdk/MultipartFormData.h
  samples/client/petstore/cpp-restsdk/Object.cpp
  samples/client/petstore/cpp-restsdk/Object.h
  samples/client/petstore/cpp-restsdk/api/PetApi.cpp
  samples/client/petstore/cpp-restsdk/api/PetApi.h
  samples/client/petstore/cpp-restsdk/api/StoreApi.cpp
  samples/client/petstore/cpp-restsdk/api/StoreApi.h
  samples/client/petstore/cpp-restsdk/api/UserApi.cpp
  samples/client/petstore/cpp-restsdk/api/UserApi.h
  samples/client/petstore/cpp-restsdk/model/ApiResponse.cpp
  samples/client/petstore/cpp-restsdk/model/ApiResponse.h
  samples/client/petstore/cpp-restsdk/model/Category.cpp
  samples/client/petstore/cpp-restsdk/model/Category.h
  samples/client/petstore/cpp-restsdk/model/Order.cpp
  samples/client/petstore/cpp-restsdk/model/Order.h
  samples/client/petstore/cpp-restsdk/model/Pet.cpp
  samples/client/petstore/cpp-restsdk/model/Pet.h
  samples/client/petstore/cpp-restsdk/model/Tag.cpp
  samples/client/petstore/cpp-restsdk/model/Tag.h
  samples/client/petstore/cpp-restsdk/model/User.cpp
  samples/client/petstore/cpp-restsdk/model/User.h
Labels: Client: C++, Issue: Bug, Issue: Platform

#2177 rest-template: allow array parameters in path using collectionFormat
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/api.mustache
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Enhancement: General

#2175 [core] fix referenced enum case
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
Labels: Enhancement: General, Feature: Enum

#1244 Enable error handling in Java WebClient library, fixes #1243
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/ApiClient.mustache
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: General

#2189 Fix missing nullable
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/InlineModelResolver.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/InlineModelResolverTest.java
  modules/openapi-generator/src/test/resources/3_0/examples.yaml
  modules/openapi-generator/src/test/resources/3_0/inline_model_resolver.yaml
Labels: Issue: Bug

#2171 [R] fix base64 encode
  modules/openapi-generator/src/main/resources/r/README.mustache
  modules/openapi-generator/src/main/resources/r/api.mustache
  modules/openapi-generator/src/main/resources/r/description.mustache
  samples/client/petstore/R/DESCRIPTION
  samples/client/petstore/R/R/pet_api.R
  samples/client/petstore/R/R/store_api.R
  samples/client/petstore/R/R/user_api.R
  samples/client/petstore/R/README.md
Labels: Client: R, Issue: Bug

#2161 Use oauth token for basic bearer auth in Rust.
  modules/openapi-generator/src/main/resources/rust/reqwest/api.mustache
  modules/openapi-generator/src/main/resources/rust/reqwest/configuration.mustache
Labels: Client: Rust, Enhancement: Feature, Feature: OAS 3.0 spec support

#1850 Something in the dependencies changed. This switch is no longer needed.
  modules/openapi-generator/src/main/resources/haskell-servant/Types.mustache
  samples/server/petstore/haskell-servant/lib/OpenAPIPetstore/Types.hs
Labels: Enhancement: General, Server: Haskell

#2198 [CI] skip "bats" installation in Travis CI
  .travis.yml
Labels: Enhancement: CI/Test

#2203 [R] improvement to the documentation
  modules/openapi-generator/src/main/resources/r/README.mustache
  samples/client/petstore/R/README.md
Labels: Client: R, Enhancement: Feature, Feature: Documentation

#2206 [R] rename test files to conform to style guide
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
  samples/client/petstore/R/tests/testthat/category_test.R
  samples/client/petstore/R/tests/testthat/model_api_response_test.R
  samples/client/petstore/R/tests/testthat/order_test.R
  samples/client/petstore/R/tests/testthat/pet_api_test.R
  samples/client/petstore/R/tests/testthat/pet_test.R
  samples/client/petstore/R/tests/testthat/store_api_test.R
  samples/client/petstore/R/tests/testthat/tag_test.R
  samples/client/petstore/R/tests/testthat/user_api_test.R
  samples/client/petstore/R/tests/testthat/user_test.R
Labels: Client: R, Enhancement: Code format

#2208 [R] improve class constructor
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
  modules/openapi-generator/src/main/resources/r/model.mustache
  samples/client/petstore/R/R/category.R
  samples/client/petstore/R/R/model_api_response.R
  samples/client/petstore/R/R/order.R
  samples/client/petstore/R/R/pet.R
  samples/client/petstore/R/R/tag.R
  samples/client/petstore/R/R/user.R
  samples/client/petstore/R/docs/Order.md
Labels: Client: R, Enhancement: General, Issue: Bug

#2214 [R] Fix query parameters in the API client
  modules/openapi-generator/src/main/resources/r/api_client.mustache
  samples/client/petstore/R/R/api_client.R
Labels: Client: R, Issue: Bug

#2211 Add petstore integration tests to Ruby OAS3 client
  samples/openapi3/client/petstore/ruby/press_anykey_to_continue.sh
  samples/openapi3/client/petstore/ruby/spec/custom/api_error_spec.rb
  samples/openapi3/client/petstore/ruby/spec/custom/base_object_spec.rb
  samples/openapi3/client/petstore/ruby/spec/custom/pet_spec.rb
  samples/openapi3/client/petstore/ruby/spec/custom/store_spec.rb
  samples/openapi3/client/petstore/ruby/spec/petstore_helper.rb
Labels: Client: Ruby, Enhancement: CI/Test

#2213 [Python] remove default value from being fallback to example
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/test/resources/2_0/petstore-with-fake-endpoints-models-for-testing.yaml
  modules/openapi-generator/src/test/resources/3_0/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/client/petstore/go/go-petstore/api/openapi.yaml
  samples/client/petstore/haskell-http-client/openapi.yaml
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/client/petstore/java/feign10x/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/client/petstore/java/google-api-client/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/client/petstore/java/jersey1/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/client/petstore/java/jersey2-java6/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/client/petstore/java/jersey2/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/client/petstore/java/retrofit/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/client/petstore/java/retrofit2-play24/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/client/petstore/java/retrofit2-play25/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/client/petstore/java/retrofit2-play26/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/client/petstore/java/retrofit2/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/client/petstore/java/retrofit2rx/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/client/petstore/java/retrofit2rx2/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/client/petstore/python/docs/Pet.md
  samples/client/petstore/python/docs/TypeHolderExample.md
  samples/client/petstore/python/docs/XmlItem.md
  samples/client/petstore/python/petstore_api/models/pet.py
  samples/client/petstore/python/petstore_api/models/type_holder_example.py
  samples/client/petstore/python/petstore_api/models/xml_item.py
  samples/client/petstore/python/test/test_type_holder_example.py
  samples/openapi3/client/petstore/python/docs/Pet.md
  samples/openapi3/client/petstore/python/petstore_api/models/pet.py
  samples/server/petstore/jaxrs-cxf/src/gen/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/jaxrs-datelib-j8/src/gen/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/jaxrs-spec-interface/src/gen/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/jaxrs-spec-interface/src/main/openapi/openapi.yaml
  samples/server/petstore/jaxrs-spec/src/gen/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/jaxrs-spec/src/main/openapi/openapi.yaml
  samples/server/petstore/jaxrs/jersey1-useTags/src/gen/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/jaxrs/jersey1/src/gen/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/jaxrs/jersey2-useTags/src/gen/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/jaxrs/jersey2/src/gen/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/spring-mvc-j8-async/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/spring-mvc-j8-localdatetime/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/spring-mvc/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-implicitHeaders/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-reactive/src/main/resources/openapi.yaml
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/FormatTest.java
  samples/server/petstore/springboot/src/main/java/org/openapitools/model/FormatTest.java
Labels: Client: Python, Enhancement: CI/Test, Issue: Bug

#2223 Fix version detection
  bin/utils/openapi-generator-cli.sh
Labels: Issue: Bug

#2219 pyhton sample cleanup models unused
  bin/utils/ensure-up-to-date
  bin/utils/test-fake-petstore-for-all.sh
  samples/client/petstore/python-asyncio/docs/AnimalFarm.md
  samples/client/petstore/python-asyncio/docs/OuterBoolean.md
  samples/client/petstore/python-asyncio/docs/OuterNumber.md
  samples/client/petstore/python-asyncio/docs/OuterString.md
  samples/client/petstore/python-asyncio/docs/StringBooleanMap.md
  samples/client/petstore/python-asyncio/petstore_api/models/animal_farm.py
  samples/client/petstore/python-asyncio/petstore_api/models/string_boolean_map.py
  samples/client/petstore/python-asyncio/test/test_animal_farm.py
  samples/client/petstore/python-asyncio/test/test_string_boolean_map.py
  samples/client/petstore/python-tornado/docs/AnimalFarm.md
  samples/client/petstore/python-tornado/docs/OuterBoolean.md
  samples/client/petstore/python-tornado/docs/OuterNumber.md
  samples/client/petstore/python-tornado/docs/OuterString.md
  samples/client/petstore/python-tornado/docs/StringBooleanMap.md
  samples/client/petstore/python-tornado/petstore_api/models/animal_farm.py
  samples/client/petstore/python-tornado/petstore_api/models/string_boolean_map.py
  samples/client/petstore/python-tornado/test/test_animal_farm.py
  samples/client/petstore/python-tornado/test/test_string_boolean_map.py
  samples/client/petstore/python/docs/AnimalFarm.md
  samples/client/petstore/python/docs/InlineResponse200.md
  samples/client/petstore/python/docs/OuterBoolean.md
  samples/client/petstore/python/docs/OuterNumber.md
  samples/client/petstore/python/docs/OuterString.md
  samples/client/petstore/python/docs/StringBooleanMap.md
  samples/client/petstore/python/petstore_api/models/animal_farm.py
  samples/client/petstore/python/petstore_api/models/string_boolean_map.py
  samples/client/petstore/python/test/test_animal_farm.py
  samples/client/petstore/python/test/test_string_boolean_map.py
Labels: Client: Python, Enhancement: CI/Test

#2215 R client refactoring
  .gitignore
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
  modules/openapi-generator/src/main/resources/r/.travis.yml
  modules/openapi-generator/src/main/resources/r/ApiResponse.mustache
  modules/openapi-generator/src/main/resources/r/NAMESPACE.mustache
  modules/openapi-generator/src/main/resources/r/README.mustache
  modules/openapi-generator/src/main/resources/r/Rbuildignore.mustache
  modules/openapi-generator/src/main/resources/r/api.mustache
  modules/openapi-generator/src/main/resources/r/api_doc.mustache
  modules/openapi-generator/src/main/resources/r/api_test.mustache
  modules/openapi-generator/src/main/resources/r/description.mustache
  modules/openapi-generator/src/main/resources/r/model.mustache
  modules/openapi-generator/src/main/resources/r/model_doc.mustache
  modules/openapi-generator/src/main/resources/r/model_test.mustache
  modules/openapi-generator/src/main/resources/r/testthat.mustache
  samples/client/petstore/R/.Rbuildignore
  samples/client/petstore/R/.travis.yml
  samples/client/petstore/R/DESCRIPTION
  samples/client/petstore/R/NAMESPACE
  samples/client/petstore/R/R/ApiClient.r
  samples/client/petstore/R/R/ApiResponse.r
  samples/client/petstore/R/R/Element.r
  samples/client/petstore/R/R/Order.r
  samples/client/petstore/R/R/User.r
  samples/client/petstore/R/R/UserApi.r
  samples/client/petstore/R/R/api_client.R
  samples/client/petstore/R/R/api_response.R
  samples/client/petstore/R/R/category.R
  samples/client/petstore/R/R/model_api_response.R
  samples/client/petstore/R/R/order.R
  samples/client/petstore/R/R/pet.R
  samples/client/petstore/R/R/pet_api.R
  samples/client/petstore/R/R/store_api.R
  samples/client/petstore/R/R/tag.R
  samples/client/petstore/R/R/user.R
  samples/client/petstore/R/R/user_api.R
  samples/client/petstore/R/README.md
  samples/client/petstore/R/docs/ApiResponse.md
  samples/client/petstore/R/docs/Category.md
  samples/client/petstore/R/docs/ModelApiResponse.md
  samples/client/petstore/R/docs/Order.md
  samples/client/petstore/R/docs/Pet.md
  samples/client/petstore/R/docs/PetApi.md
  samples/client/petstore/R/docs/StoreApi.md
  samples/client/petstore/R/docs/Tag.md
  samples/client/petstore/R/docs/User.md
  samples/client/petstore/R/docs/UserApi.md
  samples/client/petstore/R/tests/testthat.R
  samples/client/petstore/R/tests/testthat/test_category.R
  samples/client/petstore/R/tests/testthat/test_model_api_response.R
  samples/client/petstore/R/tests/testthat/test_order.R
  samples/client/petstore/R/tests/testthat/test_pet.R
  samples/client/petstore/R/tests/testthat/test_pet_api.R
  samples/client/petstore/R/tests/testthat/test_store_api.R
  samples/client/petstore/R/tests/testthat/test_tag.R
  samples/client/petstore/R/tests/testthat/test_user.R
  samples/client/petstore/R/tests/testthat/test_user_api.R
  samples/client/petstore/R/testthat.R
Labels: Breaking change (without fallback), Client: R, Enhancement: CI/Test, Enhancement: Code format, Enhancement: General

#2196 Add Haskell Servant build to Shippable CI
  .travis.yml
  CI/circle_parallel.sh
  circle.yml
  pom.xml
  samples/server/petstore/haskell-servant/pom.xml
Labels: Enhancement: CI/Test, Server: Haskell

#2228 Removal of number being default to example in python client
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  samples/client/petstore/python-asyncio/docs/TypeHolderExample.md
  samples/client/petstore/python-asyncio/docs/XmlItem.md
  samples/client/petstore/python-asyncio/petstore_api/models/type_holder_example.py
  samples/client/petstore/python-asyncio/petstore_api/models/xml_item.py
  samples/client/petstore/python-tornado/docs/TypeHolderExample.md
  samples/client/petstore/python-tornado/docs/XmlItem.md
  samples/client/petstore/python-tornado/petstore_api/models/type_holder_example.py
  samples/client/petstore/python-tornado/petstore_api/models/xml_item.py
  samples/client/petstore/python/docs/TypeHolderExample.md
  samples/client/petstore/python/docs/XmlItem.md
  samples/client/petstore/python/petstore_api/models/type_holder_example.py
  samples/client/petstore/python/petstore_api/models/xml_item.py
Labels: Client: Python, Issue: Bug

#2231 [R] Fix NPE issue due to default value using example value
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
  samples/client/petstore/R/NAMESPACE
  samples/client/petstore/R/R/pet_api.R
  samples/client/petstore/R/R/store_api.R
  samples/client/petstore/R/R/user_api.R
  samples/client/petstore/R/README.md
  samples/client/petstore/R/docs/Pet.md
  samples/client/petstore/R/docs/PetApi.md
  samples/client/petstore/R/docs/StoreApi.md
  samples/client/petstore/R/docs/UserApi.md
Labels: Client: R, Issue: Bug

#2245 [JavaScript] Add petstore integration test to JS ES6 client (OAS3)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptClientCodegen.java
  modules/openapi-generator/src/main/resources/Javascript/es6/api.mustache
  samples/openapi3/client/petstore/javascript-es6/README.md
  samples/openapi3/client/petstore/javascript-es6/docs/FakeApi.md
  samples/openapi3/client/petstore/javascript-es6/docs/HealthCheckResult.md
  samples/openapi3/client/petstore/javascript-es6/src/api/FakeApi.js
  samples/openapi3/client/petstore/javascript-es6/src/api/PetApi.js
  samples/openapi3/client/petstore/javascript-es6/src/index.js
  samples/openapi3/client/petstore/javascript-es6/src/model/HealthCheckResult.js
  samples/openapi3/client/petstore/javascript-es6/test/api/PetApi.spec.js
  samples/openapi3/client/petstore/javascript-es6/test/model/HealthCheckResult.spec.js
  samples/openapi3/client/petstore/javascript-es6/test/run_tests.html
Labels: Client: JavaScript/Node.js, Enhancement: CI/Test

#2246 Better info message about using generateAliasAsModel
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
Labels: Enhancement: Feature, Feature: Documentation, Feature: Generator

#2248 Use https URL to download dependencies
  bin/kotlin-server-petstore.sh
  modules/openapi-generator/src/main/resources/Groovy/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Groovy/model.mustache
  modules/openapi-generator/src/main/resources/finch/build.sbt
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/build.gradle.mustache
  samples/client/petstore/groovy/.openapi-generator/VERSION
  samples/client/petstore/groovy/build.gradle
  samples/client/petstore/groovy/src/main/groovy/org/openapitools/api/PetApi.groovy
  samples/client/petstore/groovy/src/main/groovy/org/openapitools/api/StoreApi.groovy
  samples/client/petstore/groovy/src/main/groovy/org/openapitools/api/UserApi.groovy
  samples/client/petstore/groovy/src/main/groovy/org/openapitools/model/Category.groovy
  samples/client/petstore/groovy/src/main/groovy/org/openapitools/model/ModelApiResponse.groovy
  samples/client/petstore/groovy/src/main/groovy/org/openapitools/model/Order.groovy
  samples/client/petstore/groovy/src/main/groovy/org/openapitools/model/Pet.groovy
  samples/client/petstore/groovy/src/main/groovy/org/openapitools/model/Tag.groovy
  samples/client/petstore/groovy/src/main/groovy/org/openapitools/model/User.groovy
  samples/server/petstore/kotlin-server/ktor/build.gradle
Labels: Client: Groovy, Issue: Security, Server: Kotlin, Server: Scala

#2264 [Ruby] Auto recreate specs in OAS3 Ruby sample
  bin/openapi3/ruby-client-petstore.sh
  samples/openapi3/client/petstore/ruby/spec/api/another_fake_api_spec.rb
  samples/openapi3/client/petstore/ruby/spec/api/default_api_spec.rb
  samples/openapi3/client/petstore/ruby/spec/api/fake_api_spec.rb
  samples/openapi3/client/petstore/ruby/spec/api/fake_classname_tags123_api_spec.rb
  samples/openapi3/client/petstore/ruby/spec/api/pet_api_spec.rb
  samples/openapi3/client/petstore/ruby/spec/api/store_api_spec.rb
  samples/openapi3/client/petstore/ruby/spec/api/user_api_spec.rb
  samples/openapi3/client/petstore/ruby/spec/models/enum_test_spec.rb
Labels: Client: Ruby, Enhancement: CI/Test
