Repository OpenAPITools/openapi-generator, pull requests merged in 2019-06, with the labels that each got.

#3051 [gradle plugin] Release 4.0.1 fixes
  .travis.yml
  modules/openapi-generator-gradle-plugin/build.gradle
Labels: OpenAPI Generator Gradle Plugin

#3039 Ruby client: escape path parameters
  modules/openapi-generator/src/main/resources/ruby-client/api.mustache
  samples/client/petstore/ruby/lib/petstore/api/another_fake_api.rb
  samples/client/petstore/ruby/lib/petstore/api/fake_api.rb
  samples/client/petstore/ruby/lib/petstore/api/fake_classname_tags123_api.rb
  samples/client/petstore/ruby/lib/petstore/api/pet_api.rb
  samples/client/petstore/ruby/lib/petstore/api/store_api.rb
  samples/client/petstore/ruby/lib/petstore/api/user_api.rb
  samples/openapi3/client/petstore/ruby/lib/petstore/api/another_fake_api.rb
  samples/openapi3/client/petstore/ruby/lib/petstore/api/default_api.rb
  samples/openapi3/client/petstore/ruby/lib/petstore/api/fake_api.rb
  samples/openapi3/client/petstore/ruby/lib/petstore/api/fake_classname_tags123_api.rb
  samples/openapi3/client/petstore/ruby/lib/petstore/api/pet_api.rb
  samples/openapi3/client/petstore/ruby/lib/petstore/api/store_api.rb
  samples/openapi3/client/petstore/ruby/lib/petstore/api/user_api.rb
Labels: Client: Ruby, Issue: Bug

#3040 fix(java-jersey2): Fixing javadocs warnings
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/api.mustache
  samples/client/petstore/java/jersey2-java6/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java6/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/jersey2-java6/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/jersey2-java6/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/jersey2-java6/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/jersey2/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/jersey2/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/jersey2/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/jersey2/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Enhancement: Code format

#2848 [JavaScript] Remove default parameters syntax, as it's an ES6 feature
  modules/openapi-generator/src/main/resources/Javascript/ApiClient.mustache
  samples/client/petstore/javascript-promise/src/ApiClient.js
  samples/client/petstore/javascript/src/ApiClient.js
Labels: Client: JavaScript/Node.js, Enhancement: Compatibility

#3007 Kotlin-Spring template fixes/improvements
  modules/openapi-generator/src/main/resources/kotlin-spring/api.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/returnValue.mustache
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/PetApi.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/StoreApi.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/UserApi.kt
Labels: Enhancement: General, Issue: Bug, Server: Kotlin

#3071 [maven-plugin] fix strictSpec parameter
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
Labels: OpenAPI Generator Maven Plugin

#3083 Mark nodejs-server as deprecated
  bin/nodejs-petstore-google-cloud-functions.sh
  bin/nodejs-petstore-server.sh
  bin/openapi3/nodejs-petstore-google-cloud-functions.sh
  bin/openapi3/nodejs-petstore-server.sh
  docs/generators.md
  docs/generators/nodejs-server-deprecated.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/NodeJSServerCodegen.java
  samples/server/petstore/nodejs-google-cloud-functions/.openapi-generator/VERSION
  samples/server/petstore/nodejs-google-cloud-functions/api/openapi.yaml
  samples/server/petstore/nodejs-google-cloud-functions/controllers/Pet.js
  samples/server/petstore/nodejs-google-cloud-functions/service/PetService.js
  samples/server/petstore/nodejs/.openapi-generator/VERSION
  samples/server/petstore/nodejs/api/openapi.yaml
  samples/server/petstore/nodejs/controllers/Pet.js
  samples/server/petstore/nodejs/service/PetService.js
Labels: Enhancement: General, Server: Nodejs

#3038 [KOTLIN Spring] fix generation with modelNamePrefix/Suffix
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinSpringServerCodegen.java
  samples/server/openapi3/petstore/kotlin-springboot/build.gradle.kts
  samples/server/openapi3/petstore/kotlin-springboot/pom.xml
  samples/server/openapi3/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/PetApi.kt
  samples/server/openapi3/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/PetApiService.kt
  samples/server/openapi3/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/PetApiServiceImpl.kt
  samples/server/openapi3/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/StoreApi.kt
  samples/server/openapi3/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/StoreApiService.kt
  samples/server/openapi3/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/StoreApiServiceImpl.kt
  samples/server/openapi3/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/UserApi.kt
  samples/server/openapi3/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/UserApiService.kt
  samples/server/openapi3/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/UserApiServiceImpl.kt
  samples/server/openapi3/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/Category.kt
  samples/server/openapi3/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/InlineObject.kt
  samples/server/openapi3/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/InlineObject1.kt
  samples/server/openapi3/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/ModelApiResponse.kt
  samples/server/openapi3/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/Order.kt
  samples/server/openapi3/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/Pet.kt
  samples/server/openapi3/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/Tag.kt
  samples/server/openapi3/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/User.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/PetApi.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/PetApiService.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/PetApiServiceImpl.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/StoreApi.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/StoreApiService.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/StoreApiServiceImpl.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/UserApi.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/UserApiService.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/UserApiServiceImpl.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/Category.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/ModelApiResponse.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/Order.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/Pet.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/Tag.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/User.kt
  samples/server/petstore/kotlin-springboot/src/test/kotlin/org/openapitools/api/PetApiTest.kt
  samples/server/petstore/kotlin-springboot/src/test/kotlin/org/openapitools/api/StoreApiTest.kt
  samples/server/petstore/kotlin-springboot/src/test/kotlin/org/openapitools/api/UserApiTest.kt
Labels: Issue: Bug, Server: Kotlin

#1984 general support to add scopes for bearer auth too
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenSecurity.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/controller.mustache
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/PetApi.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/StoreApi.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/UserApi.cs
Labels: Enhancement: Security, Server: C-Sharp

#3087 [CI] Test maven plugin in Travis, move jobs from Shippable to Circle CI
  .travis.yml
  CI/circle_parallel.sh
  shippable.yml
Labels: Enhancement: CI/Test, OpenAPI Generator Maven Plugin

#3012 [Golang][client] Allow generating go client code as a submodule
  docs/generators/go.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
  modules/openapi-generator/src/main/resources/go/go.mod.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/go/GoClientOptionsTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/GoClientOptionsProvider.java
Labels: Client: Go, Enhancement: General

#3093 Ruby: Avoid double escaping path items
  modules/openapi-generator/src/main/resources/ruby-client/api.mustache
  modules/openapi-generator/src/main/resources/ruby-client/api_client.mustache
  modules/openapi-generator/src/main/resources/ruby-client/configuration.mustache
  samples/client/petstore/ruby/lib/petstore/api/another_fake_api.rb
  samples/client/petstore/ruby/lib/petstore/api/fake_api.rb
  samples/client/petstore/ruby/lib/petstore/api/fake_classname_tags123_api.rb
  samples/client/petstore/ruby/lib/petstore/api/pet_api.rb
  samples/client/petstore/ruby/lib/petstore/api/store_api.rb
  samples/client/petstore/ruby/lib/petstore/api/user_api.rb
  samples/client/petstore/ruby/lib/petstore/api_client.rb
  samples/client/petstore/ruby/lib/petstore/configuration.rb
  samples/openapi3/client/petstore/ruby/lib/petstore/api/another_fake_api.rb
  samples/openapi3/client/petstore/ruby/lib/petstore/api/default_api.rb
  samples/openapi3/client/petstore/ruby/lib/petstore/api/fake_api.rb
  samples/openapi3/client/petstore/ruby/lib/petstore/api/fake_classname_tags123_api.rb
  samples/openapi3/client/petstore/ruby/lib/petstore/api/pet_api.rb
  samples/openapi3/client/petstore/ruby/lib/petstore/api/store_api.rb
  samples/openapi3/client/petstore/ruby/lib/petstore/api/user_api.rb
  samples/openapi3/client/petstore/ruby/lib/petstore/api_client.rb
  samples/openapi3/client/petstore/ruby/lib/petstore/configuration.rb
Labels: Client: Ruby, Issue: Bug

#3095 [maven-plugin] fix strictSpec parameter without alias
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
Labels: OpenAPI Generator Maven Plugin

#3096 [scala-play-server] Fix API doc url
  modules/openapi-generator/src/main/resources/scala-play-server/app/apiDocController.scala.mustache
  samples/server/petstore/scala-play-server/app/api/ApiDocController.scala
Labels: Issue: Bug, Server: Scala

#3104 Fix NPE in go generator
  bin/utils/ensure-up-to-date
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
  samples/client/petstore/go/go-petstore-withXml/.openapi-generator/VERSION
  samples/client/petstore/go/go-petstore-withXml/client.go
  samples/client/petstore/go/go-petstore-withXml/docs/UserApi.md
Labels: Client: Go, Issue: Bug

#3080 [scala-play-server] Fix generated enums named after a reserved word
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaPlayFrameworkServerCodegen.java
Labels: Server: Scala

#2710 Link query parameter to model object
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/resources/JavaSpring/queryParams.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/objectQueryParam.yaml
Labels: Enhancement: General

#3103 [Java][okhttp-gson] Update dependencies
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/pom.mustache
  samples/client/petstore/java/okhttp-gson-parcelableModel/build.gradle
  samples/client/petstore/java/okhttp-gson-parcelableModel/build.sbt
  samples/client/petstore/java/okhttp-gson-parcelableModel/pom.xml
  samples/client/petstore/java/okhttp-gson/build.gradle
  samples/client/petstore/java/okhttp-gson/build.sbt
  samples/client/petstore/java/okhttp-gson/pom.xml
Labels: Client: Java, Enhancement: Compatibility

#3091 [C++][Qt5] Add Q_DECLARE_METATYPE to the generated models and remove ref in signals
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-header.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/enum.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/model-header.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/object.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/enum.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/model-header.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/object.mustache
  samples/client/petstore/cpp-qt5/.openapi-generator/VERSION
  samples/client/petstore/cpp-qt5/client/OAIApiResponse.h
  samples/client/petstore/cpp-qt5/client/OAICategory.h
  samples/client/petstore/cpp-qt5/client/OAIEnum.h
  samples/client/petstore/cpp-qt5/client/OAIObject.h
  samples/client/petstore/cpp-qt5/client/OAIOrder.h
  samples/client/petstore/cpp-qt5/client/OAIPet.h
  samples/client/petstore/cpp-qt5/client/OAIPetApi.h
  samples/client/petstore/cpp-qt5/client/OAIStoreApi.h
  samples/client/petstore/cpp-qt5/client/OAITag.h
  samples/client/petstore/cpp-qt5/client/OAIUser.h
  samples/client/petstore/cpp-qt5/client/OAIUserApi.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIApiResponse.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAICategory.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIEnum.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIObject.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIOrder.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIPet.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAITag.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIUser.h
Labels: Client: C++, Client: QT, Enhancement: General, Server: C++

#3114 Gradle sample on travis
  .java-version
  .travis.yml
  modules/openapi-generator-gradle-plugin/samples/.gitignore
  modules/openapi-generator-gradle-plugin/samples/local-spec/gradle/wrapper/gradle-wrapper.jar
  modules/openapi-generator-gradle-plugin/samples/local-spec/gradle/wrapper/gradle-wrapper.properties
  modules/openapi-generator-gradle-plugin/samples/local-spec/gradlew
  modules/openapi-generator-gradle-plugin/samples/local-spec/gradlew.bat
Labels: Enhancement: CI/Test

#2244 Add enum support to `rust` and skip none option serialization in clients
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustClientCodegen.java
  modules/openapi-generator/src/main/resources/rust/README.mustache
  modules/openapi-generator/src/main/resources/rust/model.mustache
  samples/client/petstore/rust-reqwest/README.md
  samples/client/petstore/rust-reqwest/docs/ApiResponse.md
  samples/client/petstore/rust-reqwest/docs/Category.md
  samples/client/petstore/rust-reqwest/docs/Order.md
  samples/client/petstore/rust-reqwest/docs/Pet.md
  samples/client/petstore/rust-reqwest/docs/PetApi.md
  samples/client/petstore/rust-reqwest/docs/StoreApi.md
  samples/client/petstore/rust-reqwest/docs/Tag.md
  samples/client/petstore/rust-reqwest/docs/User.md
  samples/client/petstore/rust-reqwest/docs/UserApi.md
  samples/client/petstore/rust-reqwest/pom.xml
  samples/client/petstore/rust-reqwest/src/apis/pet_api.rs
  samples/client/petstore/rust-reqwest/src/models/api_response.rs
  samples/client/petstore/rust-reqwest/src/models/category.rs
  samples/client/petstore/rust-reqwest/src/models/order.rs
  samples/client/petstore/rust-reqwest/src/models/pet.rs
  samples/client/petstore/rust-reqwest/src/models/tag.rs
  samples/client/petstore/rust-reqwest/src/models/user.rs
  samples/client/petstore/rust/README.md
  samples/client/petstore/rust/docs/ApiResponse.md
  samples/client/petstore/rust/docs/Category.md
  samples/client/petstore/rust/docs/InlineObject.md
  samples/client/petstore/rust/docs/InlineObject1.md
  samples/client/petstore/rust/docs/Order.md
  samples/client/petstore/rust/docs/Pet.md
  samples/client/petstore/rust/docs/PetApi.md
  samples/client/petstore/rust/docs/StoreApi.md
  samples/client/petstore/rust/docs/Tag.md
  samples/client/petstore/rust/docs/User.md
  samples/client/petstore/rust/docs/UserApi.md
  samples/client/petstore/rust/examples/client.rs
  samples/client/petstore/rust/examples/error_handling.rs
  samples/client/petstore/rust/src/apis/pet_api.rs
  samples/client/petstore/rust/src/models/api_response.rs
  samples/client/petstore/rust/src/models/category.rs
  samples/client/petstore/rust/src/models/inline_object.rs
  samples/client/petstore/rust/src/models/inline_object_1.rs
  samples/client/petstore/rust/src/models/order.rs
  samples/client/petstore/rust/src/models/pet.rs
  samples/client/petstore/rust/src/models/tag.rs
  samples/client/petstore/rust/src/models/user.rs
Labels: Client: Rust, Enhancement: Feature, Feature: Enum

#3121 Bump up babel-cli version to fix security alert
  modules/openapi-generator/src/main/resources/Javascript-Flowtyped/README.mustache
  modules/openapi-generator/src/main/resources/Javascript-Flowtyped/babelrc
  modules/openapi-generator/src/main/resources/Javascript-Flowtyped/package.mustache
  samples/client/petstore/javascript-flowtyped/.babelrc
  samples/client/petstore/javascript-flowtyped/.openapi-generator/VERSION
  samples/client/petstore/javascript-flowtyped/README.md
  samples/client/petstore/javascript-flowtyped/lib/api.js
  samples/client/petstore/javascript-flowtyped/lib/api.js.flow
  samples/client/petstore/javascript-flowtyped/lib/configuration.js
  samples/client/petstore/javascript-flowtyped/lib/configuration.js.flow
  samples/client/petstore/javascript-flowtyped/lib/index.js
  samples/client/petstore/javascript-flowtyped/lib/index.js.flow
  samples/client/petstore/javascript-flowtyped/package.json
  samples/client/petstore/javascript-flowtyped/src/api.js
  samples/client/petstore/javascript-flowtyped/src/configuration.js
  samples/client/petstore/javascript-flowtyped/src/index.js
Labels: Client: JavaScript/Node.js, Issue: Security

#3125 [gradle] Document consuming via gradle plugin portal
  modules/openapi-generator-gradle-plugin/README.adoc
Labels: OpenAPI Generator Gradle Plugin

#3078 [C++] [Qt5] Add API timeout handling
  modules/openapi-generator/src/main/resources/cpp-qt5-client/HttpRequest.cpp.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/HttpRequest.h.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-header.mustache
  samples/client/petstore/cpp-qt5/client/OAIHttpRequest.cpp
  samples/client/petstore/cpp-qt5/client/OAIHttpRequest.h
  samples/client/petstore/cpp-qt5/client/OAIPetApi.cpp
  samples/client/petstore/cpp-qt5/client/OAIPetApi.h
  samples/client/petstore/cpp-qt5/client/OAIStoreApi.cpp
  samples/client/petstore/cpp-qt5/client/OAIStoreApi.h
  samples/client/petstore/cpp-qt5/client/OAIUserApi.cpp
  samples/client/petstore/cpp-qt5/client/OAIUserApi.h
Labels: Client: C++, Enhancement: Feature

#2812 Idiomatic Rust returns for Error conversions
  modules/openapi-generator/src/main/resources/rust/reqwest/api_mod.mustache
  samples/client/petstore/rust-reqwest/.openapi-generator/VERSION
  samples/client/petstore/rust-reqwest/docs/UserApi.md
  samples/client/petstore/rust-reqwest/src/apis/configuration.rs
  samples/client/petstore/rust-reqwest/src/apis/mod.rs
  samples/client/petstore/rust-reqwest/src/apis/pet_api.rs
  samples/client/petstore/rust-reqwest/src/apis/store_api.rs
  samples/client/petstore/rust-reqwest/src/apis/user_api.rs
  samples/client/petstore/rust-reqwest/src/models/api_response.rs
  samples/client/petstore/rust-reqwest/src/models/category.rs
  samples/client/petstore/rust-reqwest/src/models/order.rs
  samples/client/petstore/rust-reqwest/src/models/pet.rs
  samples/client/petstore/rust-reqwest/src/models/tag.rs
  samples/client/petstore/rust-reqwest/src/models/user.rs
  samples/client/petstore/rust/.openapi-generator/VERSION
  samples/client/petstore/rust/docs/UserApi.md
  samples/client/petstore/rust/src/apis/configuration.rs
  samples/client/petstore/rust/src/apis/pet_api.rs
  samples/client/petstore/rust/src/apis/store_api.rs
  samples/client/petstore/rust/src/apis/user_api.rs
  samples/client/petstore/rust/src/models/api_response.rs
  samples/client/petstore/rust/src/models/category.rs
  samples/client/petstore/rust/src/models/order.rs
  samples/client/petstore/rust/src/models/pet.rs
  samples/client/petstore/rust/src/models/tag.rs
  samples/client/petstore/rust/src/models/user.rs
Labels: Client: Rust

#3175 Fix rubocop obsolescence
  modules/openapi-generator/src/main/resources/ruby-client/rubocop.mustache
  samples/client/petstore/ruby/.rubocop.yml
  samples/openapi3/client/petstore/ruby/.rubocop.yml
Labels: Client: Ruby, Enhancement: Compatibility

#3184 Improve release checkout script
  bin/utils/release_checkout.rb
Labels: Enhancement: CI/Test

#3099 [R] feat(r) : Alternate PR for serialization fixes along with WithHttpInfo method enhancement
  bin/windows/r-petstore.bat
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
  modules/openapi-generator/src/main/resources/r/api.mustache
  modules/openapi-generator/src/main/resources/r/api_client.mustache
  modules/openapi-generator/src/main/resources/r/model.mustache
  samples/client/petstore/R/R/api_client.R
  samples/client/petstore/R/R/category.R
  samples/client/petstore/R/R/model_api_response.R
  samples/client/petstore/R/R/order.R
  samples/client/petstore/R/R/pet.R
  samples/client/petstore/R/R/pet_api.R
  samples/client/petstore/R/R/store_api.R
  samples/client/petstore/R/R/tag.R
  samples/client/petstore/R/R/user.R
  samples/client/petstore/R/R/user_api.R
  samples/client/petstore/R/docs/Pet.md
  samples/client/petstore/R/docs/PetApi.md
  samples/client/petstore/R/docs/StoreApi.md
  samples/client/petstore/R/docs/UserApi.md
Labels: Client: R, Enhancement: General

#3193 Perl: Generate templated travis configuration
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PerlClientCodegen.java
  modules/openapi-generator/src/main/resources/perl/travis.mustache
Labels: Client: Perl, Enhancement: CI/Test

#3128 [csharp-netcore]: Adding http response details in api_docs and making example snippet compilable
  modules/openapi-generator/src/main/resources/csharp-netcore/README.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/api_doc.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient/docs/AnotherFakeApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient/docs/FakeApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient/docs/FakeClassnameTags123Api.md
  samples/client/petstore/csharp-netcore/OpenAPIClient/docs/PetApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient/docs/StoreApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient/docs/UserApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/docs/AnotherFakeApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/docs/FakeApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/docs/FakeClassnameTags123Api.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/docs/PetApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/docs/StoreApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/docs/UserApi.md
Labels: Client: C-Sharp, Enhancement: Feature, Feature: Documentation

#3089 Add API key authentication support to aspnetcore server
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetCoreServerCodegen.java
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/Authentication/ApiAuthentication.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/Startup.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/controller.mustache
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Authentication/ApiAuthentication.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/PetApi.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/StoreApi.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Startup.cs
Labels: Enhancement: Feature, Server: C-Sharp

#3122 Merge java8 doc for spring
  docs/generators/spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
Labels: Feature: Documentation, Issue: Non-operational, Server: Spring

#3146 [Ruby][Client] Add "send" to ruby reserved word list
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RubyClientCodegen.java
Labels: Client: Ruby, Enhancement: General, Issue: Bug

#3153 [java][jesery2]: "InjectionManagerFactory not found" issue
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/pom.mustache
  samples/client/petstore/java/jersey2-java8/pom.xml
  samples/client/petstore/java/jersey2/pom.xml
Labels: Client: Java, Issue: Bug

#3129 [csharp] Adding http response details on api_docs and making example snippet compilable
  modules/openapi-generator/src/main/resources/csharp/README.mustache
  modules/openapi-generator/src/main/resources/csharp/api_doc.mustache
  samples/client/petstore/csharp/OpenAPIClient/README.md
  samples/client/petstore/csharp/OpenAPIClient/docs/AnotherFakeApi.md
  samples/client/petstore/csharp/OpenAPIClient/docs/FakeApi.md
  samples/client/petstore/csharp/OpenAPIClient/docs/FakeClassnameTags123Api.md
  samples/client/petstore/csharp/OpenAPIClient/docs/PetApi.md
  samples/client/petstore/csharp/OpenAPIClient/docs/StoreApi.md
  samples/client/petstore/csharp/OpenAPIClient/docs/UserApi.md
Labels: Client: C-Sharp, Enhancement: Feature, Feature: Documentation

#3108 Ktor Fix KtorExperimentalAPI import
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/AppMain.kt.mustache
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/AppMain.kt
Labels: Issue: Bug, Server: Kotlin

#3107 Add Flow import to kotlin spring reactive
  bin/utils/ensure-up-to-date
  modules/openapi-generator/src/main/resources/kotlin-spring/api_test.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/libraries/spring-boot/buildGradleKts.mustache
  samples/server/petstore/kotlin-springboot-reactive/.openapi-generator/VERSION
  samples/server/petstore/kotlin-springboot-reactive/build.gradle.kts
  samples/server/petstore/kotlin-springboot-reactive/pom.xml
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/PetApi.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/PetApiService.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/PetApiServiceImpl.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/StoreApi.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/StoreApiService.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/StoreApiServiceImpl.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/UserApi.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/UserApiService.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/UserApiServiceImpl.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/Category.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/ModelApiResponse.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/Order.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/Pet.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/Tag.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/User.kt
  samples/server/petstore/kotlin-springboot-reactive/src/test/kotlin/org/openapitools/api/PetApiTest.kt
  samples/server/petstore/kotlin-springboot-reactive/src/test/kotlin/org/openapitools/api/StoreApiTest.kt
  samples/server/petstore/kotlin-springboot-reactive/src/test/kotlin/org/openapitools/api/UserApiTest.kt
Labels: Enhancement: CI/Test, Server: Kotlin

#3188 Add missing javax dependencies for Java > 8
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-boot/pom.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-mvc/pom.mustache
  samples/client/petstore/spring-stubs/pom.xml
  samples/server/petstore/spring-mvc-j8-async/pom.xml
  samples/server/petstore/spring-mvc-j8-localdatetime/pom.xml
  samples/server/petstore/spring-mvc/pom.xml
  samples/server/petstore/springboot-beanvalidation/pom.xml
  samples/server/petstore/springboot-delegate-j8/pom.xml
  samples/server/petstore/springboot-delegate/pom.xml
  samples/server/petstore/springboot-implicitHeaders/pom.xml
  samples/server/petstore/springboot-useoptional/pom.xml
  samples/server/petstore/springboot-virtualan/pom.xml
  samples/server/petstore/springboot/pom.xml
Labels: Issue: Bug, Server: Spring

#3199 [openapi-yaml] Config option outputFile was ignored by the generator.
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/OpenAPIYamlGenerator.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/TestUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/yaml/YamlGeneratorTest.java
Labels: Issue: Bug

#3204 Ruby-client: Don't encode slashes if strict-spec false
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/resources/ruby-client/api.mustache
Labels: Client: Ruby, Enhancement: Compatibility

#3110 Release versioning helper script(s)
  README.md
  bin/utils/release/bump.sh
  bin/utils/release/release_version_update.sh
  bin/utils/release/release_version_update_docs.sh
  bin/utils/release/testing.txt
  bin/utils/release/testing2.txt
  bin/utils/release_version_update.sh
  modules/openapi-generator-cli/pom.xml
  modules/openapi-generator-core/pom.xml
  modules/openapi-generator-gradle-plugin/README.adoc
  modules/openapi-generator-gradle-plugin/gradle.properties
  modules/openapi-generator-gradle-plugin/pom.xml
  modules/openapi-generator-gradle-plugin/samples/local-spec/gradle.properties
  modules/openapi-generator-maven-plugin/README.md
  modules/openapi-generator-maven-plugin/examples/java-client.xml
  modules/openapi-generator-maven-plugin/examples/multi-module/java-client/pom.xml
  modules/openapi-generator-maven-plugin/examples/non-java-invalid-spec.xml
  modules/openapi-generator-maven-plugin/examples/non-java.xml
  modules/openapi-generator-maven-plugin/pom.xml
  modules/openapi-generator-online/pom.xml
  modules/openapi-generator/pom.xml
  pom.xml
Labels: Enhancement: CI/Test

#3183 [core] Initial implementation of a validation framework in core
  modules/openapi-generator-core/pom.xml
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/validation/GenericValidator.java
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/validation/Invalid.java
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/validation/Severity.java
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/validation/Valid.java
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/validation/Validated.java
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/validation/ValidationResult.java
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/validation/ValidationRule.java
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/validation/Validator.java
  modules/openapi-generator-core/src/test/java/org/openapitools/codegen/validation/GenericValidatorTest.java
  modules/openapi-generator-core/src/test/java/org/openapitools/codegen/validation/ValidatedTest.java
  modules/openapi-generator-core/src/test/java/org/openapitools/codegen/validation/ValidationRuleTest.java
  modules/openapi-generator/pom.xml
  pom.xml
Labels: Enhancement: General

#3077 [typescript-rxjs] refactor to arrow functions and short hand object creation
  modules/openapi-generator/src/main/resources/typescript-rxjs/apis.mustache
  modules/openapi-generator/src/main/resources/typescript-rxjs/runtime.mustache
  samples/client/petstore/typescript-rxjs/builds/default/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/default/apis/StoreApi.ts
  samples/client/petstore/typescript-rxjs/builds/default/apis/UserApi.ts
  samples/client/petstore/typescript-rxjs/builds/default/runtime.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/apis/StoreApi.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/apis/UserApi.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/runtime.ts
  samples/client/petstore/typescript-rxjs/builds/with-interfaces/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-interfaces/apis/StoreApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-interfaces/apis/UserApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-interfaces/runtime.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/apis/StoreApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/apis/UserApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/runtime.ts
Labels: Client: TypeScript, Enhancement: Code format

#3084 [R] feat(r): Inclusion of useragent, timeout and serialization
  modules/openapi-generator/src/main/resources/r/api.mustache
  modules/openapi-generator/src/main/resources/r/api_client.mustache
  samples/client/petstore/R/R/api_client.R
  samples/client/petstore/R/R/user_api.R
Labels: Client: R, Enhancement: General

#3200 feat: configurable limit of simultaneous connections (python/asyncio)
  modules/openapi-generator/src/main/resources/python/asyncio/rest.mustache
  modules/openapi-generator/src/main/resources/python/configuration.mustache
  samples/client/petstore/python-asyncio/petstore_api/configuration.py
  samples/client/petstore/python-asyncio/petstore_api/rest.py
Labels: Client: Python, Enhancement: General

#2824 [aspnetcore]: Preliminary support for ASP.NET 3.0 Core preview 5
  docs/generators/aspnetcore.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetCoreServerCodegen.java
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/Project.csproj.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/Startup.mustache
Labels: Enhancement: Compatibility, Server: C-Sharp

#3225 [C++][Pistache] Catch exception instead of runtime_error
  modules/openapi-generator/src/main/resources/cpp-pistache-server/api-source.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/helpers-source.mustache
  samples/server/petstore/cpp-pistache/.openapi-generator/VERSION
  samples/server/petstore/cpp-pistache/api/PetApi.cpp
  samples/server/petstore/cpp-pistache/api/StoreApi.cpp
  samples/server/petstore/cpp-pistache/api/UserApi.cpp
  samples/server/petstore/cpp-pistache/model/Helpers.cpp
Labels: Enhancement: General, Server: C++

#3148 [python] : Make example code snippet compilable
  modules/openapi-generator/src/main/resources/python/api_doc_example.mustache
  modules/openapi-generator/src/main/resources/python/common_README.mustache
  samples/client/petstore/python-asyncio/README.md
  samples/client/petstore/python-asyncio/docs/AnotherFakeApi.md
  samples/client/petstore/python-asyncio/docs/FakeApi.md
  samples/client/petstore/python-asyncio/docs/FakeClassnameTags123Api.md
  samples/client/petstore/python-asyncio/docs/PetApi.md
  samples/client/petstore/python-asyncio/docs/StoreApi.md
  samples/client/petstore/python-asyncio/docs/UserApi.md
  samples/client/petstore/python-tornado/README.md
  samples/client/petstore/python-tornado/docs/AnotherFakeApi.md
  samples/client/petstore/python-tornado/docs/FakeApi.md
  samples/client/petstore/python-tornado/docs/FakeClassnameTags123Api.md
  samples/client/petstore/python-tornado/docs/PetApi.md
  samples/client/petstore/python-tornado/docs/StoreApi.md
  samples/client/petstore/python-tornado/docs/UserApi.md
  samples/client/petstore/python/README.md
  samples/client/petstore/python/docs/AnotherFakeApi.md
  samples/client/petstore/python/docs/FakeApi.md
  samples/client/petstore/python/docs/FakeClassnameTags123Api.md
  samples/client/petstore/python/docs/PetApi.md
  samples/client/petstore/python/docs/StoreApi.md
  samples/client/petstore/python/docs/UserApi.md
  samples/openapi3/client/petstore/python/README.md
  samples/openapi3/client/petstore/python/docs/AnotherFakeApi.md
  samples/openapi3/client/petstore/python/docs/DefaultApi.md
  samples/openapi3/client/petstore/python/docs/FakeApi.md
  samples/openapi3/client/petstore/python/docs/FakeClassnameTags123Api.md
  samples/openapi3/client/petstore/python/docs/PetApi.md
  samples/openapi3/client/petstore/python/docs/StoreApi.md
  samples/openapi3/client/petstore/python/docs/UserApi.md
Labels: Client: Python, Enhancement: Feature, Feature: Documentation

#3236 [java-client][okhttp-gson] support bearer authentication
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/pingBearerAuth.yaml
Labels: Client: Java, Server: Java

#2965 [go] Serialize multipart array of complex objects as JSON
  modules/openapi-generator/src/main/resources/go/api.mustache
  modules/openapi-generator/src/main/resources/go/client.mustache
  samples/client/petstore/go/go-petstore-withXml/api_fake.go
  samples/client/petstore/go/go-petstore-withXml/client.go
  samples/client/petstore/go/go-petstore/api_fake.go
  samples/client/petstore/go/go-petstore/client.go
  samples/openapi3/client/petstore/go/go-petstore/.openapi-generator/VERSION
  samples/openapi3/client/petstore/go/go-petstore/api_fake.go
  samples/openapi3/client/petstore/go/go-petstore/client.go
Labels: Client: Go, Enhancement: General

#3238 [C++][Pistache] Fix warnings
  modules/openapi-generator/src/main/resources/cpp-pistache-server/api-source.mustache
  samples/server/petstore/cpp-pistache/api/PetApi.cpp
  samples/server/petstore/cpp-pistache/api/StoreApi.cpp
  samples/server/petstore/cpp-pistache/api/UserApi.cpp
Labels: Enhancement: General, Server: C++

#3229 [online] Apidocs ui
  modules/openapi-generator-online/pom.xml
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/configuration/HomeController.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/configuration/OpenAPIDocumentationConfig.java
  modules/openapi-generator-online/src/main/resources/application.properties
  modules/openapi-generator-online/src/main/resources/static/index.html
  modules/openapi-generator-online/src/main/resources/static/logo.png
  modules/openapi-generator-online/src/main/resources/static/rapidoc-min.js
  modules/openapi-generator-online/src/main/resources/version.properties
Labels: Enhancement: General, OpenAPI Generator Online
