Repository OpenAPITools/openapi-generator, pull requests merged in 2019-08, with the labels that each got.

#3502 [java-client][okhttp-gson] fixes for interceptors in ApiClient.java
  CI/samples.ci/client/petstore/java/test-manual/okhttp-gson/ApiClientTest.java
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/ApiClientTest.java
Labels: Client: Java

#3509 [C++][Pistache] Do not use JSON for primitive types in request body
  modules/openapi-generator/src/main/resources/cpp-pistache-server/api-source.mustache
  samples/server/petstore/cpp-pistache/.openapi-generator/VERSION
Labels: Issue: Bug, Server: C++

#3508 [C++][Qt5] Remove QRandomGenerator
  samples/client/petstore/cpp-qt5/PetStore/UserApiTests.cpp
Labels: Client: C++, Enhancement: Compatibility

#3530 Fix DateTimeOffset nullable issue
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
Labels: Client: C-Sharp, Issue: Bug

#3527 Problem: faraday ruby client does not respect TLS settings
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RubyClientCodegen.java
  modules/openapi-generator/src/main/resources/ruby-client/faraday_api_client.mustache
  modules/openapi-generator/src/main/resources/ruby-client/faraday_configuration.mustache
Labels: Client: Ruby, Issue: Bug

#3525 remove fixme by setting param to final and creating local variable fo…
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java
Labels: Client: TypeScript, Enhancement: General

#3526 Fixed #3521. Response headers were not processed for enums collection.
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/OCamlClientCodegen.java
  modules/openapi-generator/src/main/resources/ocaml/api-impl.mustache
  modules/openapi-generator/src/main/resources/ocaml/support.mustache
  modules/openapi-generator/src/main/resources/ocaml/to_string.mustache
  samples/client/petstore/ocaml/src/apis/pet_api.ml
  samples/client/petstore/ocaml/src/apis/store_api.ml
  samples/client/petstore/ocaml/src/apis/user_api.ml
  samples/client/petstore/ocaml/src/support/request.ml
Labels: Client: OCaml, Issue: Bug

#3539 Use partial for Ruby HTTP libraries
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RubyClientCodegen.java
  modules/openapi-generator/src/main/resources/ruby-client/configuration.mustache
  modules/openapi-generator/src/main/resources/ruby-client/configuration_tls_faraday_partial.mustache
  modules/openapi-generator/src/main/resources/ruby-client/configuration_tls_typhoeus_partial.mustache
  modules/openapi-generator/src/main/resources/ruby-client/faraday_api_client.mustache
  samples/openapi3/client/petstore/ruby-faraday/lib/petstore/api_client.rb
  samples/openapi3/client/petstore/ruby-faraday/lib/petstore/configuration.rb
  samples/openapi3/client/petstore/ruby-faraday/petstore.gemspec
Labels: Client: Ruby, Enhancement: General, Issue: Bug

#3501 Add lowercase lamda
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-cloud/clientConfiguration.mustache
  samples/client/petstore/spring-cloud/src/main/java/org/openapitools/configuration/ClientConfiguration.java
Labels: Client: Java

#3544 Add @meganemura @dkliban as the template creator of Ruby Faraday client
  README.md
Labels: Client: Ruby

#3541 [Ruby] remove auto-generated Gemfile.lock
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RubyClientCodegen.java
  modules/openapi-generator/src/main/resources/ruby-client/Gemfile.lock.mustache
  samples/openapi3/client/petstore/ruby-faraday/spec/custom/pet_spec.rb
  samples/openapi3/client/petstore/ruby-faraday/spec/petstore_helper.rb
Labels: Client: Ruby, Issue: Bug

#3494 [Rust Server] Allow more than 32 configured paths
  modules/openapi-generator/src/main/resources/rust-server/server-mod.mustache
  modules/openapi-generator/src/test/resources/3_0/rust-server/ops-v3.yaml
  samples/server/petstore/rust-server/output/openapi-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/ops-v3/.cargo/config
  samples/server/petstore/rust-server/output/ops-v3/.gitignore
  samples/server/petstore/rust-server/output/ops-v3/.openapi-generator-ignore
  samples/server/petstore/rust-server/output/ops-v3/.openapi-generator/VERSION
  samples/server/petstore/rust-server/output/ops-v3/Cargo.toml
  samples/server/petstore/rust-server/output/ops-v3/README.md
  samples/server/petstore/rust-server/output/ops-v3/api/openapi.yaml
  samples/server/petstore/rust-server/output/ops-v3/docs/default_api.md
  samples/server/petstore/rust-server/output/ops-v3/examples/ca.pem
  samples/server/petstore/rust-server/output/ops-v3/examples/client.rs
  samples/server/petstore/rust-server/output/ops-v3/examples/server-chain.pem
  samples/server/petstore/rust-server/output/ops-v3/examples/server-key.pem
  samples/server/petstore/rust-server/output/ops-v3/examples/server.rs
  samples/server/petstore/rust-server/output/ops-v3/examples/server_lib/mod.rs
  samples/server/petstore/rust-server/output/ops-v3/examples/server_lib/server.rs
  samples/server/petstore/rust-server/output/ops-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/ops-v3/src/lib.rs
  samples/server/petstore/rust-server/output/ops-v3/src/mimetypes.rs
  samples/server/petstore/rust-server/output/ops-v3/src/models.rs
  samples/server/petstore/rust-server/output/ops-v3/src/server/context.rs
  samples/server/petstore/rust-server/output/ops-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/server/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/server/mod.rs
Labels: Client: Rust, Server: Rust

#3301 java-springcloud: No dependency management if parent overridden
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-cloud/pom.mustache
  samples/client/petstore/spring-cloud/pom.xml
Labels: Enhancement: General, Server: Java, Server: Spring

#3551 [Ruby] clean up Ruby dev dependencies
  .gitignore
  bin/utils/ensure-up-to-date
  modules/openapi-generator/src/main/resources/ruby-client/gemspec.mustache
  samples/openapi3/client/petstore/ruby-faraday/petstore.gemspec
  samples/openapi3/client/petstore/ruby/Gemfile.lock
  samples/openapi3/client/petstore/ruby/petstore.gemspec
Labels: Client: Ruby, Enhancement: General

#3500 Expand path templates via resttemplate's uriTemplateHandler
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/api.mustache
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java

#3556 [Rust Server] Generate valid Rustdocs for lazy_static items
  modules/openapi-generator/src/main/resources/rust-server/mimetypes.mustache
  samples/server/petstore/rust-server/output/multipart-v3/src/mimetypes.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/mimetypes.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/mimetypes.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/mimetypes.rs
Labels: Server: Rust

#3564 [Ruby] Using partials in api_client to better support both Faraday and Typhoeus
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RubyClientCodegen.java
  modules/openapi-generator/src/main/resources/ruby-client/api_client.mustache
  modules/openapi-generator/src/main/resources/ruby-client/api_client_faraday_partial.mustache
  modules/openapi-generator/src/main/resources/ruby-client/api_client_typhoeus_partial.mustache
  modules/openapi-generator/src/main/resources/ruby-client/faraday_api_client.mustache
  samples/openapi3/client/petstore/ruby-faraday/lib/petstore/api_client.rb
  samples/openapi3/client/petstore/ruby/lib/petstore/api_client.rb
Labels: Client: Ruby, Enhancement: Code format

#3586 typescript-fetch: allow configuration of headers and credentials
  modules/openapi-generator/src/main/resources/typescript-fetch/runtime.mustache
  samples/client/petstore/typescript-fetch/builds/default/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/runtime.ts
Labels: Client: TypeScript

#3415 Run Qt5 client sample test
  .travis.yml
  pom.xml
  samples/client/petstore/cpp-qt5/.gitignore
  samples/client/petstore/cpp-qt5/build-and-test.bash
  samples/client/petstore/cpp-qt5/pom.xml
Labels: Client: C++, Enhancement: CI/Test

#3572 Fix issue deserializing to nullptr
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppRestSdkClientCodegen.java
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/modelbase-source.mustache
  samples/client/petstore/cpp-restsdk/client/.gitignore
  samples/client/petstore/cpp-restsdk/client/.openapi-generator-ignore
  samples/client/petstore/cpp-restsdk/client/.openapi-generator/VERSION
  samples/client/petstore/cpp-restsdk/client/ApiClient.cpp
  samples/client/petstore/cpp-restsdk/client/ApiClient.h
  samples/client/petstore/cpp-restsdk/client/ApiConfiguration.cpp
  samples/client/petstore/cpp-restsdk/client/ApiConfiguration.h
  samples/client/petstore/cpp-restsdk/client/ApiException.cpp
  samples/client/petstore/cpp-restsdk/client/ApiException.h
  samples/client/petstore/cpp-restsdk/client/HttpContent.cpp
  samples/client/petstore/cpp-restsdk/client/HttpContent.h
  samples/client/petstore/cpp-restsdk/client/IHttpBody.h
  samples/client/petstore/cpp-restsdk/client/JsonBody.cpp
  samples/client/petstore/cpp-restsdk/client/JsonBody.h
  samples/client/petstore/cpp-restsdk/client/ModelBase.cpp
  samples/client/petstore/cpp-restsdk/client/ModelBase.h
  samples/client/petstore/cpp-restsdk/client/MultipartFormData.cpp
  samples/client/petstore/cpp-restsdk/client/MultipartFormData.h
  samples/client/petstore/cpp-restsdk/client/Object.cpp
  samples/client/petstore/cpp-restsdk/client/Object.h
  samples/client/petstore/cpp-restsdk/client/api/PetApi.cpp
  samples/client/petstore/cpp-restsdk/client/api/PetApi.h
  samples/client/petstore/cpp-restsdk/client/api/StoreApi.cpp
  samples/client/petstore/cpp-restsdk/client/api/StoreApi.h
  samples/client/petstore/cpp-restsdk/client/api/UserApi.cpp
  samples/client/petstore/cpp-restsdk/client/api/UserApi.h
  samples/client/petstore/cpp-restsdk/client/model/ApiResponse.cpp
  samples/client/petstore/cpp-restsdk/client/model/ApiResponse.h
  samples/client/petstore/cpp-restsdk/client/model/Category.cpp
  samples/client/petstore/cpp-restsdk/client/model/Category.h
  samples/client/petstore/cpp-restsdk/client/model/Order.cpp
  samples/client/petstore/cpp-restsdk/client/model/Order.h
  samples/client/petstore/cpp-restsdk/client/model/Pet.cpp
  samples/client/petstore/cpp-restsdk/client/model/Pet.h
  samples/client/petstore/cpp-restsdk/client/model/Tag.cpp
  samples/client/petstore/cpp-restsdk/client/model/Tag.h
  samples/client/petstore/cpp-restsdk/client/model/User.cpp
  samples/client/petstore/cpp-restsdk/client/model/User.h
Labels: Client: C++, Issue: Bug

#3567 Add a new NodeJS Express server generator
  README.md
  bin/nodejs-express-petstore-server.sh
  docs/generators.md
  docs/generators/nodejs-express-server.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/NodeJSExpressServerCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/nodejs-express-server/README.mustache
  modules/openapi-generator/src/main/resources/nodejs-express-server/app.mustache
  modules/openapi-generator/src/main/resources/nodejs-express-server/config.mustache
  modules/openapi-generator/src/main/resources/nodejs-express-server/controller.mustache
  modules/openapi-generator/src/main/resources/nodejs-express-server/controllers/Controller.mustache
  modules/openapi-generator/src/main/resources/nodejs-express-server/controllers/index.mustache
  modules/openapi-generator/src/main/resources/nodejs-express-server/controllers/test.mustache
  modules/openapi-generator/src/main/resources/nodejs-express-server/eslintrc.mustache
  modules/openapi-generator/src/main/resources/nodejs-express-server/expressServer.mustache
  modules/openapi-generator/src/main/resources/nodejs-express-server/index.mustache
  modules/openapi-generator/src/main/resources/nodejs-express-server/logger.mustache
  modules/openapi-generator/src/main/resources/nodejs-express-server/openapi.mustache
  modules/openapi-generator/src/main/resources/nodejs-express-server/package.mustache
  modules/openapi-generator/src/main/resources/nodejs-express-server/service.mustache
  modules/openapi-generator/src/main/resources/nodejs-express-server/services/Service.mustache
  modules/openapi-generator/src/main/resources/nodejs-express-server/services/index.mustache
  modules/openapi-generator/src/main/resources/nodejs-express-server/utils/openapiRouter.mustache
  modules/openapi-generator/src/main/resources/nodejs-express-server/utils/writer.mustache
  samples/server/petstore/nodejs-express-server/.eslintrc
  samples/server/petstore/nodejs-express-server/.eslintrc.json
  samples/server/petstore/nodejs-express-server/.openapi-generator-ignore
  samples/server/petstore/nodejs-express-server/.openapi-generator/VERSION
  samples/server/petstore/nodejs-express-server/README.md
  samples/server/petstore/nodejs-express-server/api/openapi.yaml
  samples/server/petstore/nodejs-express-server/api/swagger.yaml
  samples/server/petstore/nodejs-express-server/config.js
  samples/server/petstore/nodejs-express-server/controllers/Controller.js
  samples/server/petstore/nodejs-express-server/controllers/PetController.js
  samples/server/petstore/nodejs-express-server/controllers/StoreController.js
  samples/server/petstore/nodejs-express-server/controllers/UserController.js
  samples/server/petstore/nodejs-express-server/controllers/index.js
  samples/server/petstore/nodejs-express-server/expressServer.js
  samples/server/petstore/nodejs-express-server/index.js
  samples/server/petstore/nodejs-express-server/logger.js
  samples/server/petstore/nodejs-express-server/models/Category.js
  samples/server/petstore/nodejs-express-server/models/Model.js
  samples/server/petstore/nodejs-express-server/models/Pet.js
  samples/server/petstore/nodejs-express-server/models/Tag.js
  samples/server/petstore/nodejs-express-server/models/UpdatePetWithFormModel.js
  samples/server/petstore/nodejs-express-server/models/UploadFileModel.js
  samples/server/petstore/nodejs-express-server/models/index.js
  samples/server/petstore/nodejs-express-server/package.json
  samples/server/petstore/nodejs-express-server/services/PetService.js
  samples/server/petstore/nodejs-express-server/services/Service.js
  samples/server/petstore/nodejs-express-server/services/StoreService.js
  samples/server/petstore/nodejs-express-server/services/UserService.js
  samples/server/petstore/nodejs-express-server/services/index.js
  samples/server/petstore/nodejs-express-server/tests/additionalEndpointsTests.js
  samples/server/petstore/nodejs-express-server/tests/config.js
  samples/server/petstore/nodejs-express-server/tests/logger.js
  samples/server/petstore/nodejs-express-server/tests/routingTests.js
  samples/server/petstore/nodejs-express-server/tests/serverTests.js
  samples/server/petstore/nodejs-express-server/tests/testModels.js
  samples/server/petstore/nodejs-express-server/utils/openapiRouter.js
Labels: Enhancement: New generator, Server: Nodejs

#3557 [aspnetcore] Add TypeConverter for enum string conversion
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetCoreServerCodegen.java
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/enumClass.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/model.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/typeConverter.mustache
  samples/server/petstore/aspnetcore/.openapi-generator/VERSION
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/PetApi.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/StoreApi.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/UserApi.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Converters/CustomEnumConverter.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Models/ApiResponse.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Models/Category.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Models/Order.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Models/Pet.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Models/Tag.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Models/User.cs
Labels: Client: C-Sharp, Server: C-Sharp

#3504 Fix kotlin templates
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinClientCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-client/README.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/build.gradle.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/data_class.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/data_class_opt_var.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/data_class_req_var.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/enum_class.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/infrastructure/ApiClient.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/infrastructure/ResponseExtensions.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/model.mustache
  samples/client/petstore/kotlin-string/README.md
  samples/client/petstore/kotlin-string/build.gradle
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/ResponseExtensions.kt
  samples/client/petstore/kotlin-threetenbp/README.md
  samples/client/petstore/kotlin-threetenbp/build.gradle
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/ResponseExtensions.kt
  samples/client/petstore/kotlin/README.md
  samples/client/petstore/kotlin/build.gradle
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ResponseExtensions.kt
Labels: Client: Kotlin, Issue: Bug

#3363 [core][maven][gradle] User-defined server variable substitutions
  README.md
  docs/usage.md
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/config/GeneratorSettings.java
  modules/openapi-generator-gradle-plugin/build.gradle
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/OpenApiGeneratorPlugin.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/extensions/OpenApiGeneratorGenerateExtension.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConfig.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenServerVariable.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfigurator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfiguratorUtils.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCppCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaJAXRSServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetCoreServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNancyFXServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/FsharpGiraffeServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaPKMSTServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaVertXServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinSpringServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/NodeJSExpressServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/NodeJSServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/URLPathUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/utils/URLPathUtilsTest.java
Labels: Enhancement: General, OpenAPI Generator Gradle Plugin, OpenAPI Generator Maven Plugin

#3609 [maven] Support user overrides for serverVariables (carryover from #3363)
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
Labels: OpenAPI Generator Maven Plugin

#3612 [cli][gradle] filter deprecated generators by default when listing available generators
  bin/utils/ensure-up-to-date
  bin/utils/export_docs_generators.sh
  bin/utils/export_generators_docusaurus_index.sh
  bin/utils/export_generators_readme.sh
  docs/generators.md
  docs/usage.md
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/ListGenerators.java
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/meta/Stability.java
  modules/openapi-generator-gradle-plugin/README.adoc
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/OpenApiGeneratorPlugin.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/extensions/OpenApiGeneratorGeneratorsExtension.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GeneratorsTask.kt
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientExperimentalCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientExperimentalCodegen.java
Labels: OpenAPI Generator CLI, OpenAPI Generator Gradle Plugin

#3619 typescript-angular: Add correct library versions for Angular 8.0.0
  bin/typescript-angular-petstore-all.sh
  bin/typescript-angular-v8-petstore-provided-in-root-with-npm.json
  bin/typescript-angular-v8-petstore-provided-in-root-with-npm.sh
  bin/windows/typescript-angular-petstore-all.bat
  bin/windows/typescript-angular-v8-provided-in-root-with-npm.bat
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/.gitignore
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/.openapi-generator-ignore
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/.openapi-generator/VERSION
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/README.md
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api.module.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api/api.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/configuration.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/encoder.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/git_push.sh
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/index.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/model/apiResponse.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/model/category.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/model/models.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/model/order.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/model/pet.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/model/tag.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/model/user.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/ng-package.json
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/package.json
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/tsconfig.json
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/variables.ts
Labels: Client: TypeScript

#3616 Fix composed properties missing from allVars
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/ruby/RubyClientCodegenTest.java
Labels: Enhancement: Feature, Feature: Generator, Feature: OAS 3.0 spec support

#3622 [aspnetcore] Fix nullable enum and duplicate model
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/model.mustache
  samples/server/petstore/aspnetcore/.openapi-generator/VERSION
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Models/Order.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Models/Pet.cs
Labels: Issue: Bug, Server: C-Sharp

#3579 Use the latest version of superagent.
  modules/openapi-generator/src/main/resources/Javascript/package.mustache
  samples/client/petstore/javascript-closure-angular/.openapi-generator/VERSION
  samples/client/petstore/javascript-closure-angular/API/Client/InlineObject.js
  samples/client/petstore/javascript-closure-angular/API/Client/InlineObject1.js
  samples/client/petstore/javascript-closure-angular/API/Client/PetApi.js
  samples/client/petstore/javascript-promise/package.json
  samples/client/petstore/javascript/package.json
  samples/openapi3/client/petstore/javascript-es6/.babelrc
  samples/openapi3/client/petstore/javascript-es6/.openapi-generator/VERSION
  samples/openapi3/client/petstore/javascript-es6/package.json
Labels: Client: JavaScript/Node.js, Enhancement: Compatibility

#3608 [Dart] Make clients crossplatform
  modules/openapi-generator/src/main/resources/dart2/api_client.mustache
  modules/openapi-generator/src/main/resources/dart2/apilib.mustache
  modules/openapi-generator/src/main/resources/dart2/pubspec.mustache
  samples/client/petstore/dart/flutter_petstore/openapi/.openapi-generator/VERSION
  samples/client/petstore/dart/flutter_petstore/openapi/docs/PetApi.md
  samples/client/petstore/dart/flutter_petstore/openapi/lib/api/pet_api.dart
  samples/client/petstore/dart/flutter_petstore/openapi/pubspec.yaml
  samples/client/petstore/dart2/flutter_petstore/openapi/.openapi-generator/VERSION
  samples/client/petstore/dart2/flutter_petstore/openapi/pubspec.yaml
  samples/client/petstore/dart2/openapi-browser-client/.openapi-generator/VERSION
  samples/client/petstore/dart2/openapi-browser-client/lib/api.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/api_client.dart
  samples/client/petstore/dart2/openapi-browser-client/pubspec.yaml
  samples/client/petstore/dart2/openapi/.openapi-generator/VERSION
  samples/client/petstore/dart2/openapi/pubspec.yaml
Labels: Client: Dart, Enhancement: Compatibility

#3627 Update CLI options in Dart
  docs/generators/dart-jaguar.md
  docs/generators/dart.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartClientCodegen.java
Labels: Client: Dart, Enhancement: Feature, Feature: Documentation

#3599 [Dart Jaguar] manage nullable definition
  modules/openapi-generator/src/main/resources/dart-jaguar/class.mustache
  modules/openapi-generator/src/main/resources/dart-jaguar/pubspec.mustache
  samples/client/petstore/dart-jaguar/flutter_petstore/openapi/.openapi-generator/VERSION
  samples/client/petstore/dart-jaguar/flutter_petstore/openapi/README.md
  samples/client/petstore/dart-jaguar/flutter_petstore/openapi/docs/UserApi.md
  samples/client/petstore/dart-jaguar/flutter_petstore/openapi/lib/api.dart
  samples/client/petstore/dart-jaguar/flutter_proto_petstore/openapi/.openapi-generator/VERSION
  samples/client/petstore/dart-jaguar/flutter_proto_petstore/openapi/README.md
  samples/client/petstore/dart-jaguar/flutter_proto_petstore/openapi/docs/UserApi.md
  samples/client/petstore/dart-jaguar/flutter_proto_petstore/openapi/lib/api.dart
  samples/client/petstore/dart-jaguar/openapi/.openapi-generator/VERSION
  samples/client/petstore/dart-jaguar/openapi/lib/model/api_response.dart
  samples/client/petstore/dart-jaguar/openapi/lib/model/category.dart
  samples/client/petstore/dart-jaguar/openapi/lib/model/order.dart
  samples/client/petstore/dart-jaguar/openapi/lib/model/pet.dart
  samples/client/petstore/dart-jaguar/openapi/lib/model/tag.dart
  samples/client/petstore/dart-jaguar/openapi/lib/model/user.dart
  samples/client/petstore/dart-jaguar/openapi/pubspec.yaml
  samples/client/petstore/dart-jaguar/openapi_proto/.openapi-generator/VERSION
  samples/client/petstore/dart-jaguar/openapi_proto/README.md
  samples/client/petstore/dart-jaguar/openapi_proto/docs/UserApi.md
  samples/client/petstore/dart-jaguar/openapi_proto/lib/api.dart
Labels: Client: Dart, Enhancement: Feature, Feature: OAS 3.0 spec support

#3611 [kotlin] Change Kotlin client exceptions to expose lack of support as UnsupportedOperationException rather than NotImplementedException.
  modules/openapi-generator/src/main/resources/kotlin-client/api.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin/bin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin

#3621 [Slim] Distinction between basicBasic and basicBearer authentication
  modules/openapi-generator/src/main/resources/php-slim-server/SlimRouter.mustache
  samples/server/petstore/php-slim/lib/SlimRouter.php
Labels: Enhancement: Feature, Feature: OAS 3.0 spec support, Server: PHP

#3390 [Golang][Client] Fix collectionFormat=multi request bug
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/main/resources/go/api.mustache
Labels: Client: Go, Issue: Bug

#3634 Import Go package with leading underscore
  modules/openapi-generator/src/main/resources/go/api.mustache
  samples/client/petstore/go/go-petstore-withXml/api_another_fake.go
  samples/client/petstore/go/go-petstore-withXml/api_fake.go
  samples/client/petstore/go/go-petstore-withXml/api_fake_classname_tags123.go
  samples/client/petstore/go/go-petstore-withXml/api_pet.go
  samples/client/petstore/go/go-petstore-withXml/api_store.go
  samples/client/petstore/go/go-petstore-withXml/api_user.go
  samples/client/petstore/go/go-petstore/api_another_fake.go
  samples/client/petstore/go/go-petstore/api_fake.go
  samples/client/petstore/go/go-petstore/api_fake_classname_tags123.go
  samples/client/petstore/go/go-petstore/api_pet.go
  samples/client/petstore/go/go-petstore/api_store.go
  samples/client/petstore/go/go-petstore/api_user.go
Labels: Client: Go, Issue: Bug

#3637 Use javax.annotation.processing.Generated for Java 11 native client
  modules/openapi-generator/src/main/resources/Java/libraries/native/generatedAnnotation.mustache
Labels: Client: Java

#3645 [typescript-fetch] Add nullable support
  modules/openapi-generator/src/main/resources/typescript-fetch/apis.mustache
  modules/openapi-generator/src/main/resources/typescript-fetch/modelGeneric.mustache
Labels: Client: TypeScript

#3648 [core] process TRACE operation
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
Labels: Enhancement: General, Feature: OAS 3.0 spec support

#3594 [Python] support api key refresh in configuration module
  modules/openapi-generator/src/main/resources/python/configuration.mustache
  samples/client/petstore/python-asyncio/petstore_api/configuration.py
  samples/client/petstore/python-tornado/petstore_api/configuration.py
  samples/client/petstore/python/petstore_api/configuration.py
  samples/openapi3/client/petstore/python/petstore_api/configuration.py
Labels: Client: Python, Enhancement: General

#3652 [Ruby][faraday] Properly pass verify_mode to faraday
  modules/openapi-generator/src/main/resources/ruby-client/api_client_faraday_partial.mustache
  samples/openapi3/client/petstore/ruby-faraday/lib/petstore/api_client.rb
Labels: Client: Ruby, Issue: Bug

#3653 [java-client][jersey2][resteasy] add support for TRACE method
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/ApiClient.mustache
  samples/client/petstore/java/jersey2-java6/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: Feature, Feature: OAS 3.0 spec support

#3643 [Go]URLEncode path parameters
  modules/openapi-generator/src/main/resources/go-experimental/api.mustache
  modules/openapi-generator/src/main/resources/go/api.mustache
  samples/client/petstore/go/go-petstore-withXml/api_pet.go
  samples/client/petstore/go/go-petstore-withXml/api_store.go
  samples/client/petstore/go/go-petstore-withXml/api_user.go
  samples/client/petstore/go/go-petstore/api_pet.go
  samples/client/petstore/go/go-petstore/api_store.go
  samples/client/petstore/go/go-petstore/api_user.go
Labels: Client: Go, Issue: Bug

#3398 Fix for issue #3397
  modules/openapi-generator/src/main/java/org/openapitools/codegen/InlineModelResolver.java
Labels: Issue: Bug

#3631 autoupdating generator script: userdef cache dir
  bin/utils/openapi-generator-cli.sh
Labels: Enhancement: Feature, Feature: Generator

#3552 [Rust Server] Frunk - LabelledGeneric - support
  bin/rust-server-petstore.sh
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/resources/rust-server/Cargo.mustache
  modules/openapi-generator/src/main/resources/rust-server/README.mustache
  modules/openapi-generator/src/main/resources/rust-server/client-mod.mustache
  modules/openapi-generator/src/main/resources/rust-server/example-client.mustache
  modules/openapi-generator/src/main/resources/rust-server/example-server.mustache
  modules/openapi-generator/src/main/resources/rust-server/example-server_server.mustache
  modules/openapi-generator/src/main/resources/rust-server/lib.mustache
  modules/openapi-generator/src/main/resources/rust-server/models.mustache
  modules/openapi-generator/src/main/resources/rust-server/server-mod.mustache
  samples/server/petstore/rust-server/output/multipart-v3/Cargo.toml
  samples/server/petstore/rust-server/output/multipart-v3/README.md
  samples/server/petstore/rust-server/output/multipart-v3/examples/client.rs
  samples/server/petstore/rust-server/output/multipart-v3/examples/server.rs
  samples/server/petstore/rust-server/output/multipart-v3/examples/server_lib/server.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/lib.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/models.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/Cargo.toml
  samples/server/petstore/rust-server/output/openapi-v3/README.md
  samples/server/petstore/rust-server/output/openapi-v3/examples/client.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/server.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/server_lib/server.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/models.rs
  samples/server/petstore/rust-server/output/ops-v3/Cargo.toml
  samples/server/petstore/rust-server/output/ops-v3/README.md
  samples/server/petstore/rust-server/output/ops-v3/examples/client.rs
  samples/server/petstore/rust-server/output/ops-v3/examples/server.rs
  samples/server/petstore/rust-server/output/ops-v3/examples/server_lib/server.rs
  samples/server/petstore/rust-server/output/ops-v3/src/lib.rs
  samples/server/petstore/rust-server/output/ops-v3/src/models.rs
  samples/server/petstore/rust-server/output/ops-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/Cargo.toml
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/README.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/examples/client.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/examples/server.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/examples/server_lib/server.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/client/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/lib.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/models.rs
  samples/server/petstore/rust-server/output/rust-server-test/Cargo.toml
  samples/server/petstore/rust-server/output/rust-server-test/README.md
  samples/server/petstore/rust-server/output/rust-server-test/examples/client.rs
  samples/server/petstore/rust-server/output/rust-server-test/examples/server.rs
  samples/server/petstore/rust-server/output/rust-server-test/examples/server_lib/server.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/lib.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/models.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/server/mod.rs
Labels: Enhancement: Feature, Server: Rust

#3606 [Rust Server] Support Bearer based Authentication
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/resources/rust-server/client-mod.mustache
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/client/mod.rs
Labels: Client: Rust, Enhancement: Feature

#3661 cpp-qt5-client: fix memory leak in api-body
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-body.mustache
  samples/client/petstore/cpp-qt5/client/OAIPetApi.cpp
  samples/client/petstore/cpp-qt5/client/OAIStoreApi.cpp
  samples/client/petstore/cpp-qt5/client/OAIUserApi.cpp
Labels: Client: C++, Enhancement: General

#3674 [csharp-netcore] Fixing the XML documentation warnings.
  modules/openapi-generator/src/main/resources/csharp-netcore/Multimap.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/api.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/Multimap.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/Multimap.cs
Labels: Client: C-Sharp, Enhancement: Feature, Feature: Documentation

#3671 Fix runtime error in the model's `valid?` of Ruby client (#3670)
  modules/openapi-generator/src/main/resources/ruby-client/partial_model_generic.mustache
Labels: Client: Ruby, Issue: Bug

#3644 Guarantee a unique name for the constants that represent enum values
  modules/openapi-generator/src/main/resources/go-experimental/model.mustache
  modules/openapi-generator/src/main/resources/go/model.mustache
  samples/client/petstore/go/go-petstore-withXml/model_enum_class.go
  samples/client/petstore/go/go-petstore-withXml/model_outer_enum.go
  samples/client/petstore/go/go-petstore/model_enum_class.go
  samples/client/petstore/go/go-petstore/model_outer_enum.go
Labels: Client: Go, Enhancement: Feature, Feature: Enum

#3677 [java-client][jersey2][resteasy] add support for OPTIONS method
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/ApiClient.mustache
  samples/client/petstore/java/jersey2-java6/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java

#3665 Add a test case for inline models within Callback Object
  modules/openapi-generator/src/test/java/org/openapitools/codegen/InlineModelResolverTest.java
  modules/openapi-generator/src/test/resources/3_0/inline_model_resolver.yaml
Labels: Enhancement: CI/Test

#3667 cpp-qt5-client: Improve tests
  samples/client/petstore/cpp-qt5/PetStore/PetApiTests.cpp
  samples/client/petstore/cpp-qt5/PetStore/PetApiTests.h
  samples/client/petstore/cpp-qt5/PetStore/StoreApiTests.cpp
  samples/client/petstore/cpp-qt5/PetStore/StoreApiTests.h
  samples/client/petstore/cpp-qt5/PetStore/UserApiTests.cpp
  samples/client/petstore/cpp-qt5/PetStore/UserApiTests.h
  samples/client/petstore/cpp-qt5/PetStore/main.cpp
  samples/client/petstore/cpp-qt5/build-and-test.bash
Labels: Client: C++, Enhancement: CI/Test

#3675 [Go] add option to use class as enum prefix
  docs/generators/go-experimental.md
  docs/generators/go.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
  modules/openapi-generator/src/main/resources/go-experimental/model.mustache
  modules/openapi-generator/src/main/resources/go/model.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/go/GoClientOptionsTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/GoClientOptionsProvider.java
  samples/client/petstore/go/go-petstore-withXml/model_enum_class.go
  samples/client/petstore/go/go-petstore-withXml/model_outer_enum.go
  samples/client/petstore/go/go-petstore/model_enum_class.go
  samples/client/petstore/go/go-petstore/model_outer_enum.go
Labels: Client: Go, Enhancement: Feature, Feature: Enum

#3680 typescript-angular: set angular version 8 as default for ngVersion
  docs/generators/typescript-angular.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
Labels: Breaking change (with fallback), Client: TypeScript

#3681 [csharp-netcore]: Fixing the build issues
  docs/generators/csharp-netcore.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
  modules/openapi-generator/src/main/resources/csharp-netcore/Project.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/TestProject.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/netcore_project.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/netcore_testproject.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Org.OpenAPITools.csproj
Labels: Client: C-Sharp, Issue: Usage/Installation

#3707 [csharp-netcore] Making HTTP response headers dictionary case-insensitive
  docs/generators/csharp-netcore.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
  modules/openapi-generator/src/main/resources/csharp-netcore/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/Multimap.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/Multimap.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/Multimap.cs
Labels: Client: C-Sharp, Enhancement: Feature

#3706 [java-client][resteasy] support bearer authentication
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/ApiClient.mustache
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: Feature, Feature: Authentication

#3726 Update Q&A with more info on nullable
  docs/migration-from-swagger-codegen.md
Labels: Enhancement: Feature, Feature: Documentation, Feature: OAS 3.0 spec support

#3715 [java] use [javaparser] library to detect syntax errors
  modules/openapi-generator/pom.xml
  modules/openapi-generator/src/test/java/org/openapitools/codegen/TestUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
Labels: Client: Java, Enhancement: CI/Test, Server: Java

#3695 [typescript-fetch] Fix #1998: namespace reqs.
  CI/samples.ci/client/petstore/typescript-fetch/builds/namespace-parameter-interfaces/pom.xml
  README.md
  bin/openapi3/typescript-fetch-petstore-all.sh
  bin/openapi3/typescript-fetch-petstore-namespace-parameter-interfaces.sh
  bin/typescript-fetch-petstore-all.sh
  bin/typescript-fetch-petstore-namespace-parameter-interfaces.json
  bin/typescript-fetch-petstore-namespace-parameter-interfaces.sh
  bin/windows/typescript-fetch-petstore-all.bat
  bin/windows/typescript-fetch-petstore-namespace-parameter-interfaces.bat
  docs/generators/typescript-fetch.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptFetchClientCodegen.java
  modules/openapi-generator/src/main/resources/typescript-fetch/apis.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/TypeScriptFetchClientOptionsProvider.java
  pom.xml
  samples/client/petstore/typescript-fetch/builds/namespace-parameter-interfaces/.gitignore
  samples/client/petstore/typescript-fetch/builds/namespace-parameter-interfaces/.npmignore
  samples/client/petstore/typescript-fetch/builds/namespace-parameter-interfaces/.openapi-generator-ignore
  samples/client/petstore/typescript-fetch/builds/namespace-parameter-interfaces/.openapi-generator/VERSION
  samples/client/petstore/typescript-fetch/builds/namespace-parameter-interfaces/README.md
  samples/client/petstore/typescript-fetch/builds/namespace-parameter-interfaces/package.json
  samples/client/petstore/typescript-fetch/builds/namespace-parameter-interfaces/pom.xml
  samples/client/petstore/typescript-fetch/builds/namespace-parameter-interfaces/src/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/namespace-parameter-interfaces/src/apis/StoreApi.ts
  samples/client/petstore/typescript-fetch/builds/namespace-parameter-interfaces/src/apis/UserApi.ts
  samples/client/petstore/typescript-fetch/builds/namespace-parameter-interfaces/src/apis/index.ts
  samples/client/petstore/typescript-fetch/builds/namespace-parameter-interfaces/src/index.ts
  samples/client/petstore/typescript-fetch/builds/namespace-parameter-interfaces/src/models/Category.ts
  samples/client/petstore/typescript-fetch/builds/namespace-parameter-interfaces/src/models/ModelApiResponse.ts
  samples/client/petstore/typescript-fetch/builds/namespace-parameter-interfaces/src/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/namespace-parameter-interfaces/src/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/namespace-parameter-interfaces/src/models/Tag.ts
  samples/client/petstore/typescript-fetch/builds/namespace-parameter-interfaces/src/models/User.ts
  samples/client/petstore/typescript-fetch/builds/namespace-parameter-interfaces/src/models/index.ts
  samples/client/petstore/typescript-fetch/builds/namespace-parameter-interfaces/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/namespace-parameter-interfaces/tsconfig.json
Labels: Client: TypeScript, Enhancement: Feature

#3662 feature/add-avro-generator
  bin/openapi3/avro-petstore.sh
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AvroCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/avro/model.mustache
  modules/openapi-generator/src/main/resources/avro/modelEnum.mustache
  modules/openapi-generator/src/main/resources/avro/pojo.mustache
  modules/openapi-generator/src/main/resources/avro/typeArray.mustache
  modules/openapi-generator/src/main/resources/avro/typeEnum.mustache
  modules/openapi-generator/src/main/resources/avro/typeProperty.mustache
  samples/openapi3/schema/petstore/avro/.openapi-generator-ignore
  samples/openapi3/schema/petstore/avro/.openapi-generator/VERSION
  samples/openapi3/schema/petstore/avro/ApiResponse.avsc
  samples/openapi3/schema/petstore/avro/Category.avsc
  samples/openapi3/schema/petstore/avro/InlineObject.avsc
  samples/openapi3/schema/petstore/avro/InlineObject1.avsc
  samples/openapi3/schema/petstore/avro/Order.avsc
  samples/openapi3/schema/petstore/avro/Pet.avsc
  samples/openapi3/schema/petstore/avro/Tag.avsc
  samples/openapi3/schema/petstore/avro/User.avsc
Labels: Enhancement: New generator, Schema: Avro

#3727 [java] enhance JavaJAXRSSpecServerCodegenTest
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/jaxrs/JavaJAXRSSpecServerCodegenTest.java
Labels: Enhancement: CI/Test, Server: Java

#3703 [java][client][resteasy][jersey2][google-api-client][okhttp-json] several fixes to make sent requests more accurate
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/api.mustache
  samples/client/petstore/java/google-api-client/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/google-api-client/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/google-api-client/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/google-api-client/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/google-api-client/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/google-api-client/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/jersey2-java6/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java6/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/jersey2-java6/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/jersey2-java6/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/jersey2-java6/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/jersey2/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/jersey2/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/jersey2/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/jersey2/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java

#3728 Minor enhancements to the Avro schema generator
  README.md
  bin/openapi3/avro-petstore.sh
  docs/generators.md
  docs/generators/avro-schema.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AvroSchemaCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/avro-schema/model.mustache
  modules/openapi-generator/src/main/resources/avro-schema/modelEnum.mustache
  modules/openapi-generator/src/main/resources/avro-schema/pojo.mustache
  modules/openapi-generator/src/main/resources/avro-schema/typeArray.mustache
  modules/openapi-generator/src/main/resources/avro-schema/typeEnum.mustache
  modules/openapi-generator/src/main/resources/avro-schema/typeProperty.mustache
  samples/openapi3/schema/petstore/avro-schema/.openapi-generator-ignore
  samples/openapi3/schema/petstore/avro-schema/.openapi-generator/VERSION
  samples/openapi3/schema/petstore/avro-schema/ApiResponse.avsc
  samples/openapi3/schema/petstore/avro-schema/Category.avsc
  samples/openapi3/schema/petstore/avro-schema/InlineObject.avsc
  samples/openapi3/schema/petstore/avro-schema/InlineObject1.avsc
  samples/openapi3/schema/petstore/avro-schema/Order.avsc
  samples/openapi3/schema/petstore/avro-schema/Pet.avsc
  samples/openapi3/schema/petstore/avro-schema/Tag.avsc
  samples/openapi3/schema/petstore/avro-schema/User.avsc
Labels: Enhancement: General, Schema: Avro

#3642 [BUG][Python-Flask] Primitive type bytearray deserialization missing in util.py. #2724
  modules/openapi-generator/src/main/resources/python-flask/util.mustache
  samples/openapi3/server/petstore/python-flask/openapi_server/controllers/pet_controller.py
  samples/openapi3/server/petstore/python-flask/openapi_server/openapi/openapi.yaml
  samples/openapi3/server/petstore/python-flask/openapi_server/test/test_pet_controller.py
  samples/openapi3/server/petstore/python-flask/openapi_server/util.py
  samples/server/petstore/python-flask/openapi_server/util.py
Labels: Issue: Bug, Server: Python

#3723 [csharp] Update UserAgent in the async version of ClientAPI execute method.
  modules/openapi-generator/src/main/resources/csharp/ApiClient.mustache
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Client/ApiClient.cs
Labels: Client: C-Sharp, Issue: Bug

#3730 [BUG] Https protocol schema is not handled correctly in java 11 nativ…
  modules/openapi-generator/src/main/resources/Java/libraries/native/ApiClient.mustache
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java

#3738 [typescript-angular] Encode objects for multipart/form-data with json…
  modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache
Labels: Client: TypeScript

#3663 cpp-qt5-client: add valgrind memory test
  .travis.yml
  samples/client/petstore/cpp-qt5/PetStore/PetStore.pro
  samples/client/petstore/cpp-qt5/build-and-test.bash
Labels: Client: C++, Client: QT, Enhancement: CI/Test

#3736 Better support for multipart
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Enhancement: Feature, Feature: Generator

#3746 Simple spelling error in dotnet core comments
  modules/openapi-generator/src/main/resources/csharp-netcore/Multimap.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/Multimap.cs
Labels: Client: C-Sharp

#3737 Update to swagger-parser to 2.0.14-OpenAPITools.org-1
  pom.xml
  samples/client/petstore/go/go-petstore-withXml/api/openapi.yaml
  samples/client/petstore/go/go-petstore/api/openapi.yaml
  samples/client/petstore/haskell-http-client/openapi.yaml
  samples/server/petstore/jaxrs-spec-interface/src/main/openapi/openapi.yaml
  samples/server/petstore/jaxrs-spec/src/main/openapi/openapi.yaml
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/api/openapi.yaml
  samples/server/petstore/springboot-reactive/src/main/resources/openapi.yaml
Labels: Swagger-Parser

#3749 [Kotlin-client] Fix null assignation to header/query param map
  modules/openapi-generator/src/main/resources/kotlin-client/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/openapi3/client/petstore/kotlin/.openapi-generator/VERSION
  samples/openapi3/client/petstore/kotlin/docs/FakeApi.md
  samples/openapi3/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/AnotherFakeApi.kt
  samples/openapi3/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/DefaultApi.kt
  samples/openapi3/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/FakeApi.kt
  samples/openapi3/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/FakeClassnameTags123Api.kt
  samples/openapi3/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/openapi3/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/openapi3/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/openapi3/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/openapi3/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ResponseExtensions.kt
  samples/openapi3/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/models/EnumArrays.kt
  samples/openapi3/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/models/EnumClass.kt
  samples/openapi3/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/models/InlineObject2.kt
  samples/openapi3/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/models/MapTest.kt
  samples/openapi3/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/models/OuterEnum.kt
  samples/openapi3/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/models/OuterEnumDefaultValue.kt
  samples/openapi3/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/models/OuterEnumInteger.kt
  samples/openapi3/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/models/OuterEnumIntegerDefaultValue.kt
Labels: Client: Kotlin, Issue: Bug

#3751 Re-enable kotlin client tests in Shippable CI
  pom.xml
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin, Enhancement: CI/Test

#3750 [core] Set isMultipart=true for multipart operations, fix possible NPE
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Enhancement: General, Issue: Bug

#3632 [Dart] Avoid redundant null checking in fromJson
  modules/openapi-generator/src/main/resources/dart2/class.mustache
  samples/client/petstore/dart/flutter_petstore/openapi/lib/model/api_response.dart
  samples/client/petstore/dart/flutter_petstore/openapi/lib/model/category.dart
  samples/client/petstore/dart/flutter_petstore/openapi/lib/model/inline_object.dart
  samples/client/petstore/dart/flutter_petstore/openapi/lib/model/inline_object1.dart
  samples/client/petstore/dart/flutter_petstore/openapi/lib/model/order.dart
  samples/client/petstore/dart/flutter_petstore/openapi/lib/model/pet.dart
  samples/client/petstore/dart/flutter_petstore/openapi/lib/model/tag.dart
  samples/client/petstore/dart/flutter_petstore/openapi/lib/model/user.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/api_response.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/category.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/order.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/pet.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/tag.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/user.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/api_response.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/category.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/order.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/pet.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/tag.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/user.dart
  samples/client/petstore/dart2/openapi/lib/model/api_response.dart
  samples/client/petstore/dart2/openapi/lib/model/category.dart
  samples/client/petstore/dart2/openapi/lib/model/order.dart
  samples/client/petstore/dart2/openapi/lib/model/pet.dart
  samples/client/petstore/dart2/openapi/lib/model/tag.dart
  samples/client/petstore/dart2/openapi/lib/model/user.dart
Labels: Client: Dart, Enhancement: General

#3571 [R] feat(r): handling error response for 3xx cases
  modules/openapi-generator/src/main/resources/r/api.mustache
  samples/client/petstore/R/R/pet_api.R
  samples/client/petstore/R/R/store_api.R
  samples/client/petstore/R/R/user_api.R
Labels: Client: R, Enhancement: General

#3735 [java-client] add unit test for JDK 11 HttpClient
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
Labels: Server: Java

#3683 Two tiny fixes for Java Vertx client
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/ApiClient.mustache
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#3754 Move tests to Drone.io CI
  CI/.drone.yml
  CI/circle_parallel.sh
  bin/meta-codegen.sh
  samples/client/petstore/dart/flutter_petstore/openapi/lib/model/api_response.dart
  samples/client/petstore/dart/flutter_petstore/openapi/lib/model/category.dart
  samples/client/petstore/dart/flutter_petstore/openapi/lib/model/order.dart
  samples/client/petstore/dart/flutter_petstore/openapi/lib/model/pet.dart
  samples/client/petstore/dart/flutter_petstore/openapi/lib/model/tag.dart
  samples/client/petstore/dart/flutter_petstore/openapi/lib/model/user.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/model/api_response.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/model/category.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/model/order.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/model/pet.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/model/tag.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/model/user.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/api_response.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/category.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/order.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/pet.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/tag.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/user.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/api_response.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/category.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/order.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/pet.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/tag.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/user.dart
  samples/client/petstore/dart2/openapi/lib/model/api_response.dart
  samples/client/petstore/dart2/openapi/lib/model/category.dart
  samples/client/petstore/dart2/openapi/lib/model/order.dart
  samples/client/petstore/dart2/openapi/lib/model/pet.dart
  samples/client/petstore/dart2/openapi/lib/model/tag.dart
  samples/client/petstore/dart2/openapi/lib/model/user.dart
Labels: Enhancement: CI/Test

#3659 [WIP] Escape import with underscore in go-experimental client
  modules/openapi-generator/src/main/resources/go-experimental/api.mustache
  samples/client/petstore/go-experimental/go-petstore/.openapi-generator/VERSION
  samples/client/petstore/go-experimental/go-petstore/README.md
  samples/client/petstore/go-experimental/go-petstore/api/openapi.yaml
  samples/client/petstore/go-experimental/go-petstore/api_another_fake.go
  samples/client/petstore/go-experimental/go-petstore/api_fake.go
  samples/client/petstore/go-experimental/go-petstore/api_fake_classname_tags123.go
  samples/client/petstore/go-experimental/go-petstore/api_pet.go
  samples/client/petstore/go-experimental/go-petstore/api_store.go
  samples/client/petstore/go-experimental/go-petstore/api_user.go
  samples/client/petstore/go-experimental/go-petstore/docs/AdditionalPropertiesAnyType.md
  samples/client/petstore/go-experimental/go-petstore/docs/AdditionalPropertiesArray.md
  samples/client/petstore/go-experimental/go-petstore/docs/AdditionalPropertiesBoolean.md
  samples/client/petstore/go-experimental/go-petstore/docs/AdditionalPropertiesClass.md
  samples/client/petstore/go-experimental/go-petstore/docs/AdditionalPropertiesInteger.md
  samples/client/petstore/go-experimental/go-petstore/docs/AdditionalPropertiesNumber.md
  samples/client/petstore/go-experimental/go-petstore/docs/AdditionalPropertiesObject.md
  samples/client/petstore/go-experimental/go-petstore/docs/AdditionalPropertiesString.md
  samples/client/petstore/go-experimental/go-petstore/docs/ApiResponse.md
  samples/client/petstore/go-experimental/go-petstore/docs/ArrayOfArrayOfNumberOnly.md
  samples/client/petstore/go-experimental/go-petstore/docs/ArrayOfNumberOnly.md
  samples/client/petstore/go-experimental/go-petstore/docs/ArrayTest.md
  samples/client/petstore/go-experimental/go-petstore/docs/Capitalization.md
  samples/client/petstore/go-experimental/go-petstore/docs/Cat.md
  samples/client/petstore/go-experimental/go-petstore/docs/CatAllOf.md
  samples/client/petstore/go-experimental/go-petstore/docs/Category.md
  samples/client/petstore/go-experimental/go-petstore/docs/ClassModel.md
  samples/client/petstore/go-experimental/go-petstore/docs/Client.md
  samples/client/petstore/go-experimental/go-petstore/docs/Dog.md
  samples/client/petstore/go-experimental/go-petstore/docs/DogAllOf.md
  samples/client/petstore/go-experimental/go-petstore/docs/EnumArrays.md
  samples/client/petstore/go-experimental/go-petstore/docs/EnumTest.md
  samples/client/petstore/go-experimental/go-petstore/docs/FakeApi.md
  samples/client/petstore/go-experimental/go-petstore/docs/File.md
  samples/client/petstore/go-experimental/go-petstore/docs/FileSchemaTestClass.md
  samples/client/petstore/go-experimental/go-petstore/docs/FormatTest.md
  samples/client/petstore/go-experimental/go-petstore/docs/HasOnlyReadOnly.md
  samples/client/petstore/go-experimental/go-petstore/docs/List.md
  samples/client/petstore/go-experimental/go-petstore/docs/MapTest.md
  samples/client/petstore/go-experimental/go-petstore/docs/MixedPropertiesAndAdditionalPropertiesClass.md
  samples/client/petstore/go-experimental/go-petstore/docs/Model200Response.md
  samples/client/petstore/go-experimental/go-petstore/docs/Name.md
  samples/client/petstore/go-experimental/go-petstore/docs/NumberOnly.md
  samples/client/petstore/go-experimental/go-petstore/docs/Order.md
  samples/client/petstore/go-experimental/go-petstore/docs/OuterComposite.md
  samples/client/petstore/go-experimental/go-petstore/docs/Pet.md
  samples/client/petstore/go-experimental/go-petstore/docs/ReadOnlyFirst.md
  samples/client/petstore/go-experimental/go-petstore/docs/Return.md
  samples/client/petstore/go-experimental/go-petstore/docs/SpecialModelName.md
  samples/client/petstore/go-experimental/go-petstore/docs/Tag.md
  samples/client/petstore/go-experimental/go-petstore/docs/TypeHolderDefault.md
  samples/client/petstore/go-experimental/go-petstore/docs/User.md
  samples/client/petstore/go-experimental/go-petstore/docs/XmlItem.md
Labels: WIP

#3766 [typescript-rxjs] support HEAD method, improve formatting
  modules/openapi-generator/src/main/resources/typescript-rxjs/apis.mustache
  modules/openapi-generator/src/main/resources/typescript-rxjs/runtime.mustache
  samples/client/petstore/typescript-rxjs/builds/default/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/default/apis/StoreApi.ts
  samples/client/petstore/typescript-rxjs/builds/default/apis/UserApi.ts
  samples/client/petstore/typescript-rxjs/builds/default/runtime.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/apis/StoreApi.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/apis/UserApi.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/runtime.ts
  samples/client/petstore/typescript-rxjs/builds/with-interfaces/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-interfaces/apis/StoreApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-interfaces/apis/UserApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-interfaces/runtime.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/apis/StoreApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/apis/UserApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/runtime.ts
Labels: Client: TypeScript

#3763 [core] change JSON serialisation to be deterministic
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/OpenAPIGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/serializer/SerializerUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/serializer/SerializerUtilsTest.java
Labels: Enhancement: General

#3762 [haskell-http-client] bump deps to LTS 14.3
  modules/openapi-generator/src/main/resources/haskell-http-client/haskell-http-client.cabal.mustache
  modules/openapi-generator/src/main/resources/haskell-http-client/stack.mustache
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-API-Fake.html
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-Client.html
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-Core.html
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-Logging.html
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-MimeTypes.html
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-Model.html
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-ModelLens.html
  samples/client/petstore/haskell-http-client/docs/doc-index-A.html
  samples/client/petstore/haskell-http-client/docs/doc-index-All.html
  samples/client/petstore/haskell-http-client/docs/doc-index-C.html
  samples/client/petstore/haskell-http-client/docs/doc-index-D.html
  samples/client/petstore/haskell-http-client/docs/doc-index-H.html
  samples/client/petstore/haskell-http-client/docs/doc-index-I.html
  samples/client/petstore/haskell-http-client/docs/doc-index-M.html
  samples/client/petstore/haskell-http-client/docs/doc-index-N.html
  samples/client/petstore/haskell-http-client/docs/doc-index-P.html
  samples/client/petstore/haskell-http-client/docs/doc-index-T.html
  samples/client/petstore/haskell-http-client/docs/doc-index-U.html
  samples/client/petstore/haskell-http-client/docs/doc-index.json
  samples/client/petstore/haskell-http-client/docs/haddock-util.js
  samples/client/petstore/haskell-http-client/docs/index.html
  samples/client/petstore/haskell-http-client/docs/openapi-petstore.txt
  samples/client/petstore/haskell-http-client/docs/quick-jump.min.js
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.AnotherFake.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.Fake.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.FakeClassnameTags123.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.Pet.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.Store.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.User.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.Client.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.Core.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.Logging.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.LoggingKatip.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.LoggingMonadLogger.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.MimeTypes.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.Model.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.ModelLens.html
  samples/client/petstore/haskell-http-client/docs/src/Paths_openapi_petstore.html
  samples/client/petstore/haskell-http-client/example-app/openapi-petstore-app.cabal
  samples/client/petstore/haskell-http-client/example-app/stack.yaml
  samples/client/petstore/haskell-http-client/example-app/stack.yaml.lock
  samples/client/petstore/haskell-http-client/openapi-petstore.cabal
  samples/client/petstore/haskell-http-client/stack.yaml
  samples/client/petstore/haskell-http-client/stack.yaml.lock
  samples/client/petstore/haskell-http-client/tests-integration/openapi-petstore-tests-integration.cabal
  samples/client/petstore/haskell-http-client/tests-integration/package.yaml
  samples/client/petstore/haskell-http-client/tests-integration/stack.yaml
  samples/client/petstore/haskell-http-client/tests-integration/stack.yaml.lock
Labels: Client: Haskell, Enhancement: Compatibility

#3765 [java] fix ClassCastException in toDefaultValue()
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/AbstractJavaCodegenTest.java
Labels: Client: Java

#3759 [java][client] Add a "serializationLibrary" option
  docs/generators/java.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
Labels: Client: Java

#3774 [ci][java] Add test case with 'type' and '$_type' properties
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/pingSomeObj.yaml
Labels: Client: Java, Enhancement: CI/Test

#3777 Resolve #3775 - Allow configuring User-Agent via maven plugin + update readme
  modules/openapi-generator-maven-plugin/README.md
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
Labels: OpenAPI Generator Maven Plugin

#3767 [typescript-fetch] fix serialization/deserialization with inheritance
  modules/openapi-generator/src/main/resources/typescript-fetch/modelEnum.mustache
  modules/openapi-generator/src/main/resources/typescript-fetch/modelGeneric.mustache
  samples/client/petstore/typescript-fetch/builds/default/src/models/Category.ts
  samples/client/petstore/typescript-fetch/builds/default/src/models/ModelApiResponse.ts
  samples/client/petstore/typescript-fetch/builds/default/src/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/default/src/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/default/src/models/Tag.ts
  samples/client/petstore/typescript-fetch/builds/default/src/models/User.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/models/Category.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/models/ModelApiResponse.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/models/Tag.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/models/User.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/src/models/Category.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/src/models/ModelApiResponse.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/src/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/src/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/src/models/Tag.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/src/models/User.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/models/Category.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/models/ModelApiResponse.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/models/Tag.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/models/User.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/src/models/Category.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/src/models/ModelApiResponse.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/src/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/src/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/src/models/Tag.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/src/models/User.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/models/Category.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/models/ModelApiResponse.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/models/Tag.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/models/User.ts
Labels: Client: TypeScript, Feature: OAS 3.0 spec support, Issue: Bug

#3779 typescript-angular: Set Content-Type for multipart requests in angular
  modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache
Labels: Client: TypeScript

#3771 [core] [regression] set parentName when a single possible parent exists
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaInheritanceTest.java
Labels: Enhancement: General

#3654 Manage enum properly on Dart Jaguar generator
  modules/openapi-generator/src/main/resources/dart-jaguar/apilib.mustache
  modules/openapi-generator/src/main/resources/dart-jaguar/class.mustache
  modules/openapi-generator/src/main/resources/dart-jaguar/enum.mustache
  samples/client/petstore/dart-jaguar/flutter_petstore/openapi/lib/model/api_response.dart
  samples/client/petstore/dart-jaguar/flutter_petstore/openapi/lib/model/category.dart
  samples/client/petstore/dart-jaguar/flutter_petstore/openapi/lib/model/order.dart
  samples/client/petstore/dart-jaguar/flutter_petstore/openapi/lib/model/pet.dart
  samples/client/petstore/dart-jaguar/flutter_petstore/openapi/lib/model/tag.dart
  samples/client/petstore/dart-jaguar/flutter_petstore/openapi/lib/model/user.dart
  samples/client/petstore/dart-jaguar/openapi/.openapi-generator/VERSION
  samples/client/petstore/dart-jaguar/openapi/lib/model/api_response.dart
  samples/client/petstore/dart-jaguar/openapi/lib/model/category.dart
  samples/client/petstore/dart-jaguar/openapi/lib/model/order.dart
  samples/client/petstore/dart-jaguar/openapi/lib/model/pet.dart
  samples/client/petstore/dart-jaguar/openapi/lib/model/tag.dart
  samples/client/petstore/dart-jaguar/openapi/lib/model/user.dart
Labels: Client: Dart, Enhancement: Feature, Feature: Enum

#3656 Fix dart2 custom templates
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartClientCodegen.java
  modules/openapi-generator/src/main/resources/dart2/api_client.mustache
  modules/openapi-generator/src/main/resources/dart2/class.mustache
  modules/openapi-generator/src/main/resources/dart2/enum.mustache
  modules/openapi-generator/src/main/resources/dart2/model_test.mustache
Labels: Client: Dart, Enhancement: Compatibility, Issue: Bug

#3780 [core] do not always cast to ArraySchema
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/AbstractJavaCodegenTest.java
Labels: Enhancement: General

#3790 Fix Dart2 default template
  bin/dart2-petstore.sh
  docs/generators/dart-jaguar.md
  docs/generators/dart.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartClientCodegen.java
  samples/client/petstore/dart/flutter_petstore/swagger/.travis.yml
  samples/client/petstore/dart/flutter_petstore/swagger/README.md
  samples/client/petstore/dart/flutter_petstore/swagger/docs/PetApi.md
  samples/client/petstore/dart/flutter_petstore/swagger/docs/StoreApi.md
  samples/client/petstore/dart/flutter_petstore/swagger/docs/UserApi.md
  samples/client/petstore/dart/flutter_petstore/swagger/lib/api.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/api/pet_api.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/api/store_api.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/api/user_api.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/api_client.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/api_exception.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/api_helper.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/auth/api_key_auth.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/auth/http_basic_auth.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/auth/oauth.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/model/api_response.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/model/category.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/model/order.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/model/pet.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/model/tag.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/model/user.dart
  samples/client/petstore/dart/flutter_petstore/swagger/pubspec.yaml
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/api_response.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/category.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/order.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/pet.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/tag.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/user.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/api_response.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/category.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/order.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/pet.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/tag.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/user.dart
  samples/client/petstore/dart2/openapi/lib/model/api_response.dart
  samples/client/petstore/dart2/openapi/lib/model/category.dart
  samples/client/petstore/dart2/openapi/lib/model/order.dart
  samples/client/petstore/dart2/openapi/lib/model/pet.dart
  samples/client/petstore/dart2/openapi/lib/model/tag.dart
  samples/client/petstore/dart2/openapi/lib/model/user.dart
Labels: Client: Dart, Issue: Bug

#3795 [java-client][rest-assured] add jackson support in addition to gson
  docs/generators/java.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/rest-assured/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/rest-assured/JacksonObjectMapper.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/rest-assured/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/rest-assured/api_test.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/rest-assured/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/rest-assured/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/rest-assured/pom.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  samples/client/petstore/java/rest-assured/build.gradle
  samples/client/petstore/java/rest-assured/pom.xml
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Server: Java

#3805 Test NodeJS Express Server in Windows
  bin/openapi3/windows/kotlin-springboot-petstore-server.bat
  bin/openapi3/windows/nodejs-express-server-petstore.bat
  bin/openapi3/windows/r-petstore.bat
Labels: Enhancement: CI/Test, Server: Nodejs

#3793 [java] add jackson-databind-nullable dependency to the gradle.build file
  modules/openapi-generator/src/main/resources/Java/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/build.gradle.mustache
  samples/client/petstore/java/feign/build.gradle
  samples/client/petstore/java/feign10x/build.gradle
  samples/client/petstore/java/google-api-client/build.gradle
  samples/client/petstore/java/jersey1/build.gradle
  samples/client/petstore/java/jersey2-java8/build.gradle
  samples/client/petstore/java/jersey2/build.gradle
  samples/client/petstore/java/resteasy/build.gradle
  samples/client/petstore/java/resttemplate-withXml/build.gradle
  samples/client/petstore/java/resttemplate/build.gradle
  samples/client/petstore/java/retrofit2-play24/build.gradle
  samples/client/petstore/java/retrofit2-play25/build.gradle
  samples/client/petstore/java/retrofit2-play26/build.gradle
  samples/client/petstore/java/webclient/build.gradle
Labels: Client: Java
