Repository OpenAPITools/openapi-generator, pull requests merged in 2019-03, with the labels that each got.

#2242 [typescript-rxjs] fix enums
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptRxjsClientCodegen.java
  modules/openapi-generator/src/main/resources/typescript-rxjs/modelGeneric.mustache
  samples/client/petstore/typescript-rxjs/builds/default/models/Order.ts
  samples/client/petstore/typescript-rxjs/builds/default/models/Pet.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/models/Order.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/models/Pet.ts
  samples/client/petstore/typescript-rxjs/builds/with-interfaces/models/Order.ts
  samples/client/petstore/typescript-rxjs/builds/with-interfaces/models/Pet.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/models/Order.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/models/Pet.ts
Labels: Breaking change (without fallback), Client: TypeScript, Enhancement: Feature, Feature: Enum

#2247 Fix NPE when array item is undefined
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModel.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
Labels: Feature: Generator, Issue: Bug

#2281 Fix 2278: migrate the docker image for the aspnetcore generator
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/Dockerfile.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/README.mustache
  samples/server/petstore/aspnetcore/.openapi-generator/VERSION
  samples/server/petstore/aspnetcore/README.md
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/PetApi.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/StoreApi.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/UserApi.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Dockerfile
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/wwwroot/openapi-original.json
Labels: Issue: Bug, Server: C-Sharp

#2282 [aspnetcore] - make more configurable and generate abstract class library #2181
  docs/generators/aspnetcore.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetCoreServerCodegen.java
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/Project.csproj.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/Project.nuspec.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/controller.mustache
  samples/server/petstore/aspnetcore/.openapi-generator/VERSION
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/PetApi.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/StoreApi.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/UserApi.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/wwwroot/openapi-original.json
Labels: Enhancement: General, Server: C-Sharp

#2286 Run "bin/ensure-up-to-date.sh" for SNAPSHOT version only
  CI/circle_parallel.sh
Labels: Enhancement: CI/Test

#2289 update ZenTest
  modules/openapi-generator/src/main/resources/ruby-client/Gemfile.lock.mustache
  samples/client/petstore/ruby/Gemfile.lock
  samples/openapi3/client/petstore/ruby/Gemfile.lock
Labels: Client: Ruby, Enhancement: Compatibility

#2287 [Ruby] Escape string interpolation notation of Ruby (#2261)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractRubyCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/ruby/AbstractRubyCodegenTest.java
  samples/client/petstore-security-test/ruby/docs/ModelReturn.md
  samples/client/petstore-security-test/ruby/lib/petstore/api_error.rb
  samples/client/petstore-security-test/ruby/lib/petstore/models/model_return.rb
  samples/client/petstore-security-test/ruby/spec/api/fake_api_spec.rb
  samples/client/petstore/ruby/spec/api/another_fake_api_spec.rb
  samples/client/petstore/ruby/spec/api/fake_api_spec.rb
  samples/client/petstore/ruby/spec/api/fake_classname_tags123_api_spec.rb
  samples/client/petstore/ruby/spec/api/pet_api_spec.rb
  samples/client/petstore/ruby/spec/api/store_api_spec.rb
  samples/client/petstore/ruby/spec/api/user_api_spec.rb
Labels: Client: Ruby

#2283 Apply `GIN_MODE=release` for the Dockerfile of `go-gin-server`
  modules/openapi-generator/src/main/resources/go-gin-server/Dockerfile.mustache
  samples/openapi3/server/petstore/go-gin-api-server/Dockerfile
  samples/openapi3/server/petstore/go-gin-api-server/api/openapi.yaml
  samples/openapi3/server/petstore/go-gin-api-server/go/model_enum_test_.go
  samples/openapi3/server/petstore/go-gin-api-server/go/model_outer_enum_default_value.go
  samples/openapi3/server/petstore/go-gin-api-server/go/model_outer_enum_integer.go
  samples/openapi3/server/petstore/go-gin-api-server/go/model_outer_enum_integer_default_value.go
  samples/server/petstore/go-gin-api-server/Dockerfile
Labels: Docker, Enhancement: General, Server: Go

#2229 fix resources management
  README.md
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/service/ZipUtil.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/AbstractGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/SpecValidationException.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/examples/ExampleGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaLagomServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAxiosClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptFetchClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptInversifyClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptJqueryClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptNodeClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptRxjsClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/SpecValidationExceptionTest.java
Labels: Enhancement: Feature, Feature: Generator

#2005 Typescript+Axios: Separate model and api classfiles and package
  bin/typescript-axios-petstore-all.sh
  bin/typescript-axios-petstore-with-npm-version-and-separate-models-and-api.json
  bin/typescript-axios-petstore-with-npm-version-and-separate-models-and-api.sh
  bin/utils/ensure-up-to-date
  bin/windows/typescript-axios-petstore-with-npm-version-and-separate-models-and-api.bat
  docs/generators/typescript-axios.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAxiosClientCodegen.java
  modules/openapi-generator/src/main/resources/typescript-axios/api.mustache
  modules/openapi-generator/src/main/resources/typescript-axios/apiInner.mustache
  modules/openapi-generator/src/main/resources/typescript-axios/baseApi.mustache
  modules/openapi-generator/src/main/resources/typescript-axios/model.mustache
  modules/openapi-generator/src/main/resources/typescript-axios/modelIndex.mustache
  samples/client/petstore/typescript-axios/builds/default/api.ts
  samples/client/petstore/typescript-axios/builds/default/base.ts
  samples/client/petstore/typescript-axios/builds/es6-target/api.ts
  samples/client/petstore/typescript-axios/builds/es6-target/base.ts
  samples/client/petstore/typescript-axios/builds/with-interfaces/api.ts
  samples/client/petstore/typescript-axios/builds/with-interfaces/base.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/.gitignore
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/.openapi-generator-ignore
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/.openapi-generator/VERSION
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/README.md
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/pet-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/store-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/user-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/base.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/custom.d.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/git_push.sh
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/index.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/model/some/levels/deep/api-response.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/model/some/levels/deep/category.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/model/some/levels/deep/index.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/model/some/levels/deep/order.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/model/some/levels/deep/pet.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/model/some/levels/deep/tag.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/model/some/levels/deep/user.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/package.json
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/tsconfig.json
  samples/client/petstore/typescript-axios/builds/with-npm-version/api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version/base.ts
  samples/client/petstore/typescript-axios/tests/default/dist/PetApi.js
  samples/client/petstore/typescript-axios/tests/default/dist/PetApiFactory.js
  samples/client/petstore/typescript-axios/tests/default/dist/StoreApi.js
  samples/client/petstore/typescript-axios/tests/default/dist/StoreApiFactory.js
  samples/client/petstore/typescript-axios/tests/default/dist/index.js
Labels: Client: TypeScript, Enhancement: General

#2298 [JS][Flow] various improvements
  modules/openapi-generator/src/main/resources/Javascript-Flowtyped/licenseInfo.mustache
  modules/openapi-generator/src/main/resources/Javascript-Flowtyped/package.mustache
  samples/client/petstore/javascript-flowtyped/.openapi-generator/VERSION
  samples/client/petstore/javascript-flowtyped/lib/api.js
  samples/client/petstore/javascript-flowtyped/lib/api.js.flow
  samples/client/petstore/javascript-flowtyped/lib/configuration.js
  samples/client/petstore/javascript-flowtyped/lib/configuration.js.flow
  samples/client/petstore/javascript-flowtyped/lib/index.js
  samples/client/petstore/javascript-flowtyped/lib/index.js.flow
  samples/client/petstore/javascript-flowtyped/package-lock.json
  samples/client/petstore/javascript-flowtyped/package.json
  samples/client/petstore/javascript-flowtyped/src/api.js
  samples/client/petstore/javascript-flowtyped/src/configuration.js
  samples/client/petstore/javascript-flowtyped/src/index.js
Labels: Client: JavaScript/Node.js, Enhancement: General, Issue: Security

#2299 Minor wording change
  modules/openapi-generator/src/main/resources/Ada/licenseInfo.mustache
  modules/openapi-generator/src/main/resources/php-laravel/licenseInfo.mustache
  modules/openapi-generator/src/main/resources/rust/reqwest/configuration.mustache
  modules/openapi-generator/src/main/resources/typescript-aurelia/README.md
  samples/client/petstore/ada/.openapi-generator/VERSION
  samples/client/petstore/ada/src/client/samples-petstore-clients.adb
  samples/client/petstore/ada/src/client/samples-petstore-clients.ads
  samples/client/petstore/ada/src/model/samples-petstore-models.adb
  samples/client/petstore/ada/src/model/samples-petstore-models.ads
  samples/client/petstore/ada/src/samples-petstore.ads
  samples/client/petstore/ada/src/samples.ads
  samples/client/petstore/rust-reqwest/src/apis/configuration.rs
  samples/client/petstore/typescript-aurelia/default/.openapi-generator/VERSION
  samples/client/petstore/typescript-aurelia/default/PetApi.ts
  samples/client/petstore/typescript-aurelia/default/README.md
  samples/client/petstore/typescript-aurelia/default/StoreApi.ts
  samples/client/petstore/typescript-aurelia/default/UserApi.ts
  samples/server/petstore/php-laravel/.openapi-generator/VERSION
  samples/server/petstore/php-laravel/lib/app/Http/Controllers/AnotherFakeController.php
  samples/server/petstore/php-laravel/lib/app/Http/Controllers/FakeClassnameTags123Controller.php
  samples/server/petstore/php-laravel/lib/app/Http/Controllers/FakeController.php
  samples/server/petstore/php-laravel/lib/app/Http/Controllers/PetController.php
  samples/server/petstore/php-laravel/lib/app/Http/Controllers/StoreController.php
  samples/server/petstore/php-laravel/lib/app/Http/Controllers/UserController.php
  samples/server/petstore/php-laravel/lib/app/Models/AdditionalPropertiesClass.php
  samples/server/petstore/php-laravel/lib/app/Models/Animal.php
  samples/server/petstore/php-laravel/lib/app/Models/ArrayOfArrayOfNumberOnly.php
  samples/server/petstore/php-laravel/lib/app/Models/ArrayOfNumberOnly.php
  samples/server/petstore/php-laravel/lib/app/Models/ArrayTest.php
  samples/server/petstore/php-laravel/lib/app/Models/Capitalization.php
  samples/server/petstore/php-laravel/lib/app/Models/Cat.php
  samples/server/petstore/php-laravel/lib/app/Models/ClassModel.php
  samples/server/petstore/php-laravel/lib/app/Models/Dog.php
  samples/server/petstore/php-laravel/lib/app/Models/EnumArrays.php
  samples/server/petstore/php-laravel/lib/app/Models/EnumTest.php
  samples/server/petstore/php-laravel/lib/app/Models/FormatTest.php
  samples/server/petstore/php-laravel/lib/app/Models/MapTest.php
  samples/server/petstore/php-laravel/lib/app/Models/MixedPropertiesAndAdditionalPropertiesClass.php
  samples/server/petstore/php-laravel/lib/app/Models/Name.php
  samples/server/petstore/php-laravel/lib/app/Models/NumberOnly.php
  samples/server/petstore/php-laravel/lib/app/Models/Order.php
  samples/server/petstore/php-laravel/lib/app/Models/OuterComposite.php
  samples/server/petstore/php-laravel/lib/app/Models/Pet.php
  samples/server/petstore/php-laravel/lib/app/Models/SpecialModelName.php
  samples/server/petstore/php-laravel/lib/app/Models/TypeHolderDefault.php
  samples/server/petstore/php-laravel/lib/app/Models/TypeHolderExample.php
  samples/server/petstore/php-laravel/lib/app/Models/User.php
  samples/server/petstore/php-laravel/lib/app/Models/XmlItem.php
  samples/server/petstore/php-laravel/lib/routes/api.php
  samples/server/petstore/php-laravel/lib/routes/channels.php
  samples/server/petstore/php-laravel/lib/routes/console.php
  samples/server/petstore/php-laravel/lib/routes/web.php
Labels: Client: Ada, Client: Rust, Client: TypeScript, Enhancement: General, Server: PHP

#2227 ensure-up-to-date - add r and javascript
  bin/utils/ensure-up-to-date
Labels: Enhancement: CI/Test

#2250 Dart queryargs
  modules/openapi-generator/src/main/resources/dart/api_client.mustache
  modules/openapi-generator/src/main/resources/dart2/api_client.mustache
  samples/client/petstore/dart-jaguar/flutter_petstore/openapi/README.md
  samples/client/petstore/dart-jaguar/openapi/README.md
  samples/client/petstore/dart/flutter_petstore/openapi/lib/api_client.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/api/pet_api.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/api/store_api.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/api/user_api.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/api_helper.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/model/api_response.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/model/category.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/model/order.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/model/pet.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/model/tag.dart
  samples/client/petstore/dart/flutter_petstore/swagger/lib/model/user.dart
  samples/client/petstore/dart/openapi-browser-client/lib/api_client.dart
  samples/client/petstore/dart/openapi/lib/api_client.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/api/pet_api.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/api/store_api.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/api/user_api.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/api_helper.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/api_response.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/category.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/order.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/pet.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/tag.dart
  samples/client/petstore/dart2/flutter_petstore/openapi/lib/model/user.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/api/pet_api.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/api/store_api.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/api/user_api.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/api_helper.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/api_response.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/category.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/order.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/pet.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/tag.dart
  samples/client/petstore/dart2/openapi-browser-client/lib/model/user.dart
  samples/client/petstore/dart2/openapi/lib/api/pet_api.dart
  samples/client/petstore/dart2/openapi/lib/api/store_api.dart
  samples/client/petstore/dart2/openapi/lib/api/user_api.dart
  samples/client/petstore/dart2/openapi/lib/api_helper.dart
  samples/client/petstore/dart2/openapi/lib/model/api_response.dart
  samples/client/petstore/dart2/openapi/lib/model/category.dart
  samples/client/petstore/dart2/openapi/lib/model/order.dart
  samples/client/petstore/dart2/openapi/lib/model/pet.dart
  samples/client/petstore/dart2/openapi/lib/model/tag.dart
  samples/client/petstore/dart2/openapi/lib/model/user.dart
Labels: Client: Dart, Issue: Bug

#2303 [java-server-msf4j] fix and upgrade
  bin/java-msf4j-petstore-server.sh
  bin/utils/ensure-up-to-date
  modules/openapi-generator/src/main/resources/MSF4J/README.mustache
  modules/openapi-generator/src/main/resources/MSF4J/pom.mustache
  samples/server/petstore/java-msf4j/.openapi-generator/VERSION
  samples/server/petstore/java-msf4j/README.md
  samples/server/petstore/java-msf4j/pom.xml
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/api/AnotherFakeApi.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/api/AnotherFakeApiService.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/api/FakeApiService.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/api/FakeClassnameTestApi.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/api/FakeClassnameTestApiService.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/api/PetApiService.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/api/StoreApiService.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/api/UserApi.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/api/UserApiService.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/Animal.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/AnimalFarm.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/Capitalization.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/Cat.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/Category.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/ClassModel.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/Client.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/Dog.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/EnumArrays.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/EnumTest.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/HasOnlyReadOnly.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/MapTest.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/MixedPropertiesAndAdditionalPropertiesClass.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/Model200Response.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/ModelApiResponse.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/ModelReturn.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/Name.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/NumberOnly.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/Order.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/OuterComposite.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/Pet.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/ReadOnlyFirst.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/SpecialModelName.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/StringBooleanMap.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/Tag.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/TypeHolderDefault.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/TypeHolderExample.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/User.java
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/model/XmlItem.java
  samples/server/petstore/java-msf4j/src/main/java/org/openapitools/api/impl/AnotherFakeApiServiceImpl.java
  samples/server/petstore/java-msf4j/src/main/java/org/openapitools/api/impl/FakeApiServiceImpl.java
  samples/server/petstore/java-msf4j/src/main/java/org/openapitools/api/impl/FakeClassnameTestApiServiceImpl.java
  samples/server/petstore/java-msf4j/src/main/java/org/openapitools/api/impl/PetApiServiceImpl.java
  samples/server/petstore/java-msf4j/src/main/java/org/openapitools/api/impl/StoreApiServiceImpl.java
  samples/server/petstore/java-msf4j/src/main/java/org/openapitools/api/impl/UserApiServiceImpl.java
Labels: Server: Java

#2123 [typescript-fetch] remove namespaces in enums
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptFetchClientCodegen.java
  modules/openapi-generator/src/main/resources/typescript-fetch/modelGeneric.mustache
  samples/client/petstore/typescript-fetch/builds/default/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/default/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/models/Pet.ts
  samples/client/petstore/typescript-fetch/tests/default/test/PetApi.ts
Labels: Breaking change (without fallback), Client: TypeScript, Enhancement: Feature, Feature: Enum

#2267 Java Spring : fix defaultValue annotation double quoted in api operation
  modules/openapi-generator/src/main/resources/JavaSpring/bodyParams.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/formParams.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/headerParams.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-cloud/formParams.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/pathParams.mustache
Labels: Issue: Bug, Server: Spring

#2115 [Java] Bean Validation for decimalmin/max incorrect when exclusive set
  modules/openapi-generator/src/main/resources/Java/beanValidationCore.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/beanValidationCore.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-cdi/beanValidationCore.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/beanValidationCore.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/beanValidationCore.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/beanValidationCore.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/beanValidationCore.mustache
Labels: Client: Java, Issue: Bug, Server: Java, Server: Spring

#2271 [Spring] fix datatype for non-multipart file request body
  modules/openapi-generator/src/main/resources/JavaSpring/api.mustache
Labels: Issue: Bug, Server: Java, Server: Spring

#2318 [Maven] fix Spaces in Windows user path breaks build on test goal
  pom.xml
Labels: Issue: Platform, Issue: Usage/Installation

#2314 Fix regex in Python server model code
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonAbstractConnexionServerCodegen.java
  modules/openapi-generator/src/test/resources/3_0/petstore.yaml
  samples/client/petstore-security-test/python/README.md
  samples/client/petstore-security-test/python/docs/FakeApi.md
  samples/client/petstore-security-test/python/petstore_api/api_client.py
  samples/client/petstore-security-test/python/petstore_api/configuration.py
  samples/server/openapi3/petstore/python-flask-python2/openapi_server/models/category.py
  samples/server/openapi3/petstore/python-flask-python2/openapi_server/openapi/openapi.yaml
  samples/server/openapi3/petstore/python-flask/openapi_server/models/category.py
  samples/server/openapi3/petstore/python-flask/openapi_server/openapi/openapi.yaml
Labels: Issue: Bug, Server: Python

#2324 [typescript-fetch] Guard array mapping against undefined on optional array model properties
  modules/openapi-generator/src/main/resources/typescript-fetch/modelGeneric.mustache
  samples/client/petstore/typescript-fetch/builds/default/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/models/Pet.ts
Labels: Client: TypeScript, Enhancement: General

#2332 [typescript-rxjs] drop unneeded function wrapping
  modules/openapi-generator/src/main/resources/typescript-rxjs/apis.mustache
  samples/client/petstore/typescript-rxjs/builds/default/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/default/apis/StoreApi.ts
  samples/client/petstore/typescript-rxjs/builds/default/apis/UserApi.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/apis/StoreApi.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/apis/UserApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-interfaces/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-interfaces/apis/StoreApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-interfaces/apis/UserApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/apis/StoreApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/apis/UserApi.ts
Labels: Client: TypeScript, Enhancement: General

#2288 [C++] [Qt5 Server] Add support for free form object in requests
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/apirequest.cpp.mustache
Labels: Enhancement: General, Server: C++

#2351 [Scala][http-client] Remove default value from API
  modules/openapi-generator/src/main/resources/scala-httpclient/api.mustache
  samples/client/petstore/scala-httpclient/.openapi-generator/VERSION
  samples/client/petstore/scala-httpclient/src/main/scala/org/openapitools/client/api/PetApi.scala
  samples/client/petstore/scala-httpclient/src/main/scala/org/openapitools/client/api/StoreApi.scala
  samples/client/petstore/scala-httpclient/src/main/scala/org/openapitools/client/api/UserApi.scala
Labels: Client: Scala, Issue: Bug

#2354 [R] Add petstore integration tests to CI
  CI/circle_parallel.sh
  circle.yml
  pom.xml
  samples/client/petstore/R/old_client/DESCRIPTION
  samples/client/petstore/R/old_client/NAMESPACE
  samples/client/petstore/R/old_client/R/ApiResponse.r
  samples/client/petstore/R/old_client/R/Category.r
  samples/client/petstore/R/old_client/R/Order.r
  samples/client/petstore/R/old_client/R/PetApi.r
  samples/client/petstore/R/old_client/R/StoreApi.r
  samples/client/petstore/R/old_client/R/Tag.r
  samples/client/petstore/R/old_client/R/User.r
  samples/client/petstore/R/old_client/R/UserApi.r
  samples/client/petstore/R/old_client/R/pet.R
  samples/client/petstore/R/old_client/R/petstore.R
  samples/client/petstore/R/old_client/README.md
  samples/client/petstore/R/old_client/git_push.sh
  samples/client/petstore/R/old_client/man/Element.Rd
  samples/client/petstore/R/old_client/man/Pet.Rd
  samples/client/petstore/R/old_client/man/PetStoreClient.Rd
  samples/client/petstore/R/old_client/man/Response.Rd
  samples/client/petstore/R/old_client/petstore.Rproj
  samples/client/petstore/R/old_client/tests/testthat.R
  samples/client/petstore/R/old_client/tests/testthat/test-petstore.R
  samples/client/petstore/R/pom.xml
  samples/client/petstore/R/test_petstore.bash
  samples/client/petstore/R/tests/testthat/test_petstore.R
Labels: Client: R, Enhancement: CI/Test

#2357 [scala-httpclient] mark the generator as deprecated
  bin/scala-httpclient-petstore.sh
  bin/windows/scala-httpclient-petstore.bat
  docs/generators.md
  docs/generators/scala-httpclient-deprecated.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaHttpClientCodegen.java
Labels: Client: Scala, Enhancement: General

#2343 [haskell-http-client] use a decreasing size for Gen (Maybe a), to prevent infinite recursion (#2312)
  modules/openapi-generator/src/main/resources/haskell-http-client/tests/Instances.mustache
  modules/openapi-generator/src/main/resources/haskell-http-client/tests/Test.mustache
  samples/client/petstore/haskell-http-client/Makefile
  samples/client/petstore/haskell-http-client/example-app/openapi-petstore-app.cabal
  samples/client/petstore/haskell-http-client/example-app/stack.yaml
  samples/client/petstore/haskell-http-client/tests-integration/openapi-petstore-tests-integration.cabal
  samples/client/petstore/haskell-http-client/tests-integration/stack.yaml
  samples/client/petstore/haskell-http-client/tests/Instances.hs
  samples/client/petstore/haskell-http-client/tests/Test.hs
Labels: Client: Haskell, Issue: Bug

#2353 Support nullable fields in the Rust generator
  modules/openapi-generator/src/main/resources/rust/model.mustache
  samples/client/petstore/rust/docs/InlineObject.md
  samples/client/petstore/rust/docs/InlineObject1.md
  samples/client/petstore/rust/src/models/inline_object.rs
  samples/client/petstore/rust/src/models/inline_object_1.rs
Labels: Client: Rust, Enhancement: Feature, Feature: OAS 3.0 spec support

#2364 [Java] Update Javadocs for HttpBearerAuth
  modules/openapi-generator/src/main/resources/Java/auth/HttpBearerAuth.mustache
Labels: Client: Java, Enhancement: Feature, Feature: Documentation

#2356 Port of @ngaya-ll 's pull request from swagger to openapi.
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ProgressRequestBody.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ProgressResponseBody.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/api.mustache
  samples/client/petstore-security-test/java/okhttp-gson/.openapi-generator/VERSION
  samples/client/petstore-security-test/java/okhttp-gson/README.md
  samples/client/petstore-security-test/java/okhttp-gson/build.gradle
  samples/client/petstore-security-test/java/okhttp-gson/build.sbt
  samples/client/petstore-security-test/java/okhttp-gson/docs/FakeApi.md
  samples/client/petstore-security-test/java/okhttp-gson/pom.xml
  samples/client/petstore-security-test/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore-security-test/java/okhttp-gson/src/main/java/org/openapitools/client/GzipRequestInterceptor.java
  samples/client/petstore-security-test/java/okhttp-gson/src/main/java/org/openapitools/client/ProgressRequestBody.java
  samples/client/petstore-security-test/java/okhttp-gson/src/main/java/org/openapitools/client/ProgressResponseBody.java
  samples/client/petstore-security-test/java/okhttp-gson/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore-security-test/java/okhttp-gson/src/main/java/org/openapitools/client/auth/HttpBasicAuth.java
  samples/client/petstore-security-test/java/okhttp-gson/src/main/java/org/openapitools/client/auth/OAuth.java
  samples/client/petstore-security-test/java/okhttp-gson/src/main/java/org/openapitools/client/auth/OAuthFlow.java
  samples/client/petstore-security-test/java/okhttp-gson/src/main/java/org/openapitools/client/auth/OAuthOkHttpClient.java
  samples/client/petstore-security-test/java/okhttp-gson/src/main/java/org/openapitools/client/auth/RetryingOAuth.java
  samples/client/petstore-security-test/java/okhttp-gson/src/main/java/org/openapitools/client/model/ModelReturn.java
  samples/client/petstore-security-test/java/okhttp-gson/src/test/java/org/openapitools/client/api/FakeApiTest.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ProgressRequestBody.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ProgressResponseBody.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/test/java/org/openapitools/client/api/AnotherFakeApiTest.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/test/java/org/openapitools/client/api/FakeApiTest.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/test/java/org/openapitools/client/api/FakeClassnameTags123ApiTest.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/test/java/org/openapitools/client/api/PetApiTest.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/test/java/org/openapitools/client/api/StoreApiTest.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/test/java/org/openapitools/client/api/UserApiTest.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ProgressRequestBody.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ProgressResponseBody.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/api/AnotherFakeApiTest.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/api/FakeApiTest.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/api/FakeClassnameTags123ApiTest.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/api/StoreApiTest.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/api/UserApiTest.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/model/XmlItemTest.java
Labels: Client: Java, Issue: Bug

#2365 Add more tests to the Java client
  CI/samples.ci/client/petstore/java/test-manual/okhttp-gson/api/PetApiTest.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/api/PetApiTest.java
Labels: Client: Java, Enhancement: CI/Test

#2349 [Kotlin] Add ability to use modelNamePrefix/modelNameSuffix
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/AbstractKotlinCodegenTest.java
Labels: Client: Kotlin, Enhancement: Feature

#2234 [typescript-fetch] Support deepObject serialization in query parameters
  modules/openapi-generator/src/main/resources/typescript-fetch/runtime.mustache
  samples/client/petstore-security-test/typescript-fetch/runtime.ts
  samples/client/petstore/typescript-fetch/builds/default/runtime.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/runtime.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/runtime.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/runtime.ts
Labels: Client: TypeScript, Enhancement: Feature, Feature: OAS 3.0 spec support

#2329 Outputs dataType to YARD tag
  modules/openapi-generator/src/main/resources/ruby-client/api.mustache
  samples/client/petstore/ruby/lib/petstore/api/another_fake_api.rb
  samples/client/petstore/ruby/lib/petstore/api/fake_api.rb
  samples/client/petstore/ruby/lib/petstore/api/fake_classname_tags123_api.rb
  samples/client/petstore/ruby/lib/petstore/api/pet_api.rb
  samples/client/petstore/ruby/lib/petstore/api/store_api.rb
  samples/client/petstore/ruby/lib/petstore/api/user_api.rb
  samples/openapi3/client/petstore/ruby/lib/petstore/api/another_fake_api.rb
  samples/openapi3/client/petstore/ruby/lib/petstore/api/fake_api.rb
  samples/openapi3/client/petstore/ruby/lib/petstore/api/fake_classname_tags123_api.rb
  samples/openapi3/client/petstore/ruby/lib/petstore/api/pet_api.rb
  samples/openapi3/client/petstore/ruby/lib/petstore/api/store_api.rb
  samples/openapi3/client/petstore/ruby/lib/petstore/api/user_api.rb
Labels: Client: Ruby, Enhancement: Feature, Feature: Documentation

#2378 [C#][netcore] Fix package name in the localVar types
  modules/openapi-generator/src/main/resources/csharp-netcore/api.mustache
Labels: Client: C-Sharp

#2379 [R] skip error when directory already exists in the test script
  samples/client/petstore/R/test_petstore.bash
Labels: Client: R, Enhancement: CI/Test

#2382 [haskell-http-client] fix bug in test for Maybe A.Value from aa7ea8bdca
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellHttpClientCodegen.java
  modules/openapi-generator/src/main/resources/haskell-http-client/tests/Instances.mustache
Labels: Client: Haskell, Issue: Bug

#2381 [haskell-http-client] add support for import-mappings
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellHttpClientCodegen.java
  modules/openapi-generator/src/main/resources/haskell-http-client/ImportMappings.mustache
  modules/openapi-generator/src/main/resources/haskell-http-client/Model.mustache
  modules/openapi-generator/src/main/resources/haskell-http-client/TopLevel.mustache
  modules/openapi-generator/src/main/resources/haskell-http-client/haskell-http-client.cabal.mustache
Labels: Client: Haskell, Enhancement: Feature

#2367 Python apikey cookie
  modules/openapi-generator/src/main/resources/python/api_client.mustache
  modules/openapi-generator/src/main/resources/python/configuration.mustache
  modules/openapi-generator/src/test/resources/3_0/petstore.yaml
  samples/client/petstore-security-test/python/petstore_api/api_client.py
  samples/client/petstore/python-asyncio/petstore_api/api_client.py
  samples/client/petstore/python-tornado/petstore_api/api_client.py
  samples/client/petstore/python/petstore_api/api_client.py
  samples/openapi3/client/petstore/python/petstore_api/api_client.py
  samples/server/openapi3/petstore/python-flask-python2/openapi_server/controllers/security_controller_.py
  samples/server/openapi3/petstore/python-flask-python2/openapi_server/openapi/openapi.yaml
  samples/server/openapi3/petstore/python-flask-python2/openapi_server/test/test_user_controller.py
  samples/server/openapi3/petstore/python-flask/openapi_server/controllers/security_controller_.py
  samples/server/openapi3/petstore/python-flask/openapi_server/openapi/openapi.yaml
  samples/server/openapi3/petstore/python-flask/openapi_server/test/test_user_controller.py
Labels: Client: Python, Enhancement: Feature, Feature: OAS 3.0 spec support

#2368 Update Java client (okhttp-gson) dependencies
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/pom.mustache
  samples/client/petstore/java/okhttp-gson-parcelableModel/build.gradle
  samples/client/petstore/java/okhttp-gson-parcelableModel/build.sbt
  samples/client/petstore/java/okhttp-gson-parcelableModel/pom.xml
  samples/client/petstore/java/okhttp-gson/build.gradle
  samples/client/petstore/java/okhttp-gson/build.sbt
  samples/client/petstore/java/okhttp-gson/pom.xml
Labels: Client: Java, Enhancement: Compatibility

#2322 [Go] Fix up json check regexp and support vendor-specific mime types
  modules/openapi-generator/src/main/resources/go/client.mustache
  samples/client/petstore-security-test/go/.openapi-generator/VERSION
  samples/client/petstore-security-test/go/api/openapi.yaml
  samples/client/petstore-security-test/go/api_fake.go
  samples/client/petstore-security-test/go/client.go
  samples/client/petstore-security-test/go/docs/FakeApi.md
  samples/client/petstore/go/go-petstore/client.go
  samples/openapi3/client/petstore/go/go-petstore/README.md
  samples/openapi3/client/petstore/go/go-petstore/api/openapi.yaml
  samples/openapi3/client/petstore/go/go-petstore/api_fake_classname_tags123.go
  samples/openapi3/client/petstore/go/go-petstore/api_pet.go
  samples/openapi3/client/petstore/go/go-petstore/api_store.go
  samples/openapi3/client/petstore/go/go-petstore/client.go
  samples/openapi3/client/petstore/go/go-petstore/docs/EnumTest.md
  samples/openapi3/client/petstore/go/go-petstore/docs/FakeApi.md
  samples/openapi3/client/petstore/go/go-petstore/docs/OuterEnumDefaultValue.md
  samples/openapi3/client/petstore/go/go-petstore/docs/OuterEnumInteger.md
  samples/openapi3/client/petstore/go/go-petstore/docs/OuterEnumIntegerDefaultValue.md
  samples/openapi3/client/petstore/go/go-petstore/model_enum_test_.go
  samples/openapi3/client/petstore/go/go-petstore/model_outer_enum_default_value.go
  samples/openapi3/client/petstore/go/go-petstore/model_outer_enum_integer.go
  samples/openapi3/client/petstore/go/go-petstore/model_outer_enum_integer_default_value.go
Labels: Client: Go, Issue: Bug

#2397 [R] url-encode path parameters
  modules/openapi-generator/src/main/resources/r/api.mustache
  samples/client/petstore/R/R/pet_api.R
  samples/client/petstore/R/R/store_api.R
  samples/client/petstore/R/R/user_api.R
Labels: Client: R, Issue: Bug

#2406 [haskell-http-client] add cli option `customTestInstanceModule`
  docs/generators/haskell-http-client.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellHttpClientCodegen.java
  modules/openapi-generator/src/main/resources/haskell-http-client/README.mustache
  modules/openapi-generator/src/main/resources/haskell-http-client/haskell-http-client.cabal.mustache
  modules/openapi-generator/src/main/resources/haskell-http-client/tests/Instances.mustache
  modules/openapi-generator/src/main/resources/haskell-http-client/tests/Test.mustache
  samples/client/petstore/haskell-http-client/README.md
Labels: Client: Haskell, Enhancement: Feature

#2414 [go] support decoding plain string responses
  modules/openapi-generator/src/main/resources/go/client.mustache
  samples/client/petstore/go/go-petstore/client.go
Labels: Client: Go

#2308 [C++] [Qt5 Server] server allow api handler override of generated code
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/apirequest.cpp.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/apirequest.h.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/apirouter.cpp.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/apirouter.h.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/main.cpp.mustache
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/handlers/OAIApiRouter.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/handlers/OAIApiRouter.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/main.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/requests/OAIPetApiRequest.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/requests/OAIPetApiRequest.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/requests/OAIStoreApiRequest.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/requests/OAIStoreApiRequest.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/requests/OAIUserApiRequest.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/requests/OAIUserApiRequest.h
Labels: Enhancement: General, Server: C++

#2341 [C++][Qt5] Fix generation of optional file when model name prefix is selected
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppQt5ClientCodegen.java
Labels: Client: C++, Issue: Bug

#2403 Remove global options from PHP generators
  docs/generators/php-laravel.md
  docs/generators/php-lumen.md
  docs/generators/php-slim.md
  docs/generators/php-symfony.md
  docs/generators/php-ze-ph.md
  docs/generators/php.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPhpCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/lumen/PhpLumenServerOptionsTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/PhpClientOptionsProvider.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/PhpLumenServerOptionsProvider.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/PhpSlimServerOptionsProvider.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/php/PhpClientOptionsTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/slim/PhpSlimServerOptionsTest.java
Labels: Client: PHP, Enhancement: General, Server: PHP

#2431 Fix boolean example value in ruby client generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RubyClientCodegen.java
  samples/client/petstore/ruby/docs/FakeApi.md
  samples/openapi3/client/petstore/ruby/docs/FakeApi.md
Labels: Client: Ruby, Enhancement: General

#2395 TypeScript: add typeRoots to tsconfig
  modules/openapi-generator/src/main/resources/typescript-angular/tsconfig.mustache
  modules/openapi-generator/src/main/resources/typescript-aurelia/tsconfig.json.mustache
  modules/openapi-generator/src/main/resources/typescript-axios/tsconfig.mustache
  modules/openapi-generator/src/main/resources/typescript-fetch/tsconfig.mustache
  modules/openapi-generator/src/main/resources/typescript-inversify/tsconfig.mustache
  modules/openapi-generator/src/main/resources/typescript-jquery/tsconfig.mustache
  modules/openapi-generator/src/main/resources/typescript-node/tsconfig.mustache
  modules/openapi-generator/src/main/resources/typescript-rxjs/tsconfig.mustache
  samples/client/petstore/typescript-angular-v2/npm/tsconfig.json
  samples/client/petstore/typescript-angular-v4.3/npm/tsconfig.json
  samples/client/petstore/typescript-angular-v4/npm/tsconfig.json
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/tsconfig.json
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/tsconfig.json
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/tsconfig.json
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/tsconfig.json
  samples/client/petstore/typescript-axios/builds/es6-target/tsconfig.json
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/tsconfig.json
  samples/client/petstore/typescript-axios/builds/with-npm-version/tsconfig.json
  samples/client/petstore/typescript-fetch/builds/default/tsconfig.json
  samples/client/petstore/typescript-fetch/builds/es6-target/tsconfig.json
  samples/client/petstore/typescript-fetch/builds/with-interfaces/tsconfig.json
  samples/client/petstore/typescript-fetch/builds/with-npm-version/tsconfig.json
  samples/client/petstore/typescript-jquery/default/.openapi-generator/VERSION
  samples/client/petstore/typescript-jquery/default/api/PetApi.ts
  samples/client/petstore/typescript-jquery/default/api/StoreApi.ts
  samples/client/petstore/typescript-jquery/default/api/UserApi.ts
  samples/client/petstore/typescript-jquery/npm/.openapi-generator/VERSION
  samples/client/petstore/typescript-jquery/npm/README.md
  samples/client/petstore/typescript-jquery/npm/api/PetApi.ts
  samples/client/petstore/typescript-jquery/npm/api/StoreApi.ts
  samples/client/petstore/typescript-jquery/npm/api/UserApi.ts
  samples/client/petstore/typescript-jquery/npm/tsconfig.json
  samples/client/petstore/typescript-node/npm/tsconfig.json
  samples/client/petstore/typescript-rxjs/builds/default/tsconfig.json
  samples/client/petstore/typescript-rxjs/builds/es6-target/tsconfig.json
  samples/client/petstore/typescript-rxjs/builds/with-interfaces/tsconfig.json
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/tsconfig.json
Labels: Client: TypeScript, Enhancement: General

#2422 [Go] Add a process to delete old files for the sample update Windows batch files
  bin/windows/go-gin-petstore-server.bat
  bin/windows/go-petstore-server.bat
  bin/windows/go-petstore-withxml.bat
  bin/windows/go-petstore.bat
Labels: Client: Go, Enhancement: CI/Test, Server: Go

#2423 [Java][C#][JS] remove localVariablePrefix
  docs/generators/javascript.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaCXFExtServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/apiImpl.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/api_test.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/api.mustache
Labels: Client: Java, Enhancement: General

#2420 [Java - OkHttp] Fix for the added interceptor and tests
  CI/samples.ci/client/petstore/java/test-manual/okhttp-gson/ApiClientTest.java
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache
  samples/client/petstore-security-test/java/okhttp-gson/build.gradle
  samples/client/petstore-security-test/java/okhttp-gson/build.sbt
  samples/client/petstore-security-test/java/okhttp-gson/pom.xml
  samples/client/petstore-security-test/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore-security-test/java/okhttp-gson/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore-security-test/java/okhttp-gson/src/test/java/org/openapitools/client/model/ModelReturnTest.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/ApiClientTest.java
Labels: Client: Java, Issue: Bug

#2435 [Java] Fix Javadoc issue in the client
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/api.mustache
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/FakeApi.java
Labels: Client: Java, Issue: Bug

#2434 [#2425] - implemented yaml parsing for config file.
  docs/customization.md
  docs/usage.md
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
  modules/openapi-generator-cli/src/test/java/org/openapitools/codegen/cmd/GenerateTest.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfigurator.java
Labels: Enhancement: Feature, Feature: Generator

#2440 Initial attempt at deploying to gradle plugin portal
  .travis.yml
  modules/openapi-generator-gradle-plugin/build.gradle
Labels: Enhancement: General, OpenAPI Generator Gradle Plugin

#2377 [C] Update README and adding object.c/h files
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CLibcurlClientCodegen.java
  modules/openapi-generator/src/main/resources/C-libcurl/README.md.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/object-body.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/object-header.mustache
Labels: Client: C, Enhancement: Feature, Enhancement: General, Feature: Documentation

#2326 [Elixir] Update Tesla dependency to version 1.0
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElixirClientCodegen.java
  modules/openapi-generator/src/main/resources/elixir/connection.ex.mustache
  modules/openapi-generator/src/main/resources/elixir/request_builder.ex.mustache
  samples/client/petstore/elixir/lib/openapi_petstore/connection.ex
  samples/client/petstore/elixir/lib/openapi_petstore/request_builder.ex
  samples/client/petstore/elixir/mix.exs
Labels: Client: Elixir, Enhancement: Compatibility

#2432 [Kotlin] Add optional parameters to the method of api
  modules/openapi-generator/src/main/resources/kotlin-client/api.mustache
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
Labels: Client: Kotlin, Issue: Bug

#2456 Detect tabs for all files under module
  bin/utils/detect_tab_in_java_class.sh
Labels: Enhancement: CI/Test

#2390 [python-flask] Do not skip unit tests when underlying type defines json
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonAbstractConnexionServerCodegen.java
Labels: Issue: Bug, Server: Python

#2375 [KOTLIN Client] Update to latest kotlin version
  modules/openapi-generator/src/main/resources/kotlin-client/README.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/build.gradle.mustache
  samples/client/petstore/kotlin-string/README.md
  samples/client/petstore/kotlin-string/build.gradle
  samples/client/petstore/kotlin-string/src/test/kotlin/org/openapitools/client/PetApiTest.kt
  samples/client/petstore/kotlin-threetenbp/README.md
  samples/client/petstore/kotlin-threetenbp/build.gradle
  samples/client/petstore/kotlin-threetenbp/src/test/kotlin/org/openapitools/client/PetApiTest.kt
  samples/client/petstore/kotlin/README.md
  samples/client/petstore/kotlin/build.gradle
  samples/client/petstore/kotlin/gradle/wrapper/gradle-wrapper.jar
  samples/client/petstore/kotlin/gradle/wrapper/gradle-wrapper.properties
  samples/client/petstore/kotlin/src/test/kotlin/org/openapitools/client/PetApiTest.kt
Labels: Client: Kotlin, Enhancement: Compatibility

#2451 Option to overwrite only changed files
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/AbstractGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConfig.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfigurator.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultGeneratorTest.java
Labels: Enhancement: Feature, Feature: Generator

#2464 Add RuboCop to Gemfile
  modules/openapi-generator/src/main/resources/ruby-client/Gemfile.mustache
  samples/client/petstore/ruby/Gemfile
  samples/client/petstore/ruby/docs/AdditionalPropertiesClass.md
  samples/client/petstore/ruby/lib/petstore/models/additional_properties_any_type.rb
  samples/client/petstore/ruby/lib/petstore/models/additional_properties_array.rb
  samples/client/petstore/ruby/lib/petstore/models/additional_properties_boolean.rb
  samples/client/petstore/ruby/lib/petstore/models/additional_properties_class.rb
  samples/client/petstore/ruby/lib/petstore/models/additional_properties_integer.rb
  samples/client/petstore/ruby/lib/petstore/models/additional_properties_number.rb
  samples/client/petstore/ruby/lib/petstore/models/additional_properties_object.rb
  samples/client/petstore/ruby/lib/petstore/models/additional_properties_string.rb
  samples/openapi3/client/petstore/ruby/Gemfile
  samples/openapi3/client/petstore/ruby/docs/NullableClass.md
  samples/openapi3/client/petstore/ruby/lib/petstore/models/nullable_class.rb
Labels: Client: Ruby, Enhancement: Feature

#2452 [TypeScript][Node] async promises and imports
  modules/openapi-generator/src/main/resources/typescript-node/api-single.mustache
  samples/client/petstore/typescript-node/default/api/petApi.ts
  samples/client/petstore/typescript-node/default/api/storeApi.ts
  samples/client/petstore/typescript-node/default/api/userApi.ts
  samples/client/petstore/typescript-node/default/model/inlineObject.ts
  samples/client/petstore/typescript-node/default/model/inlineObject1.ts
  samples/client/petstore/typescript-node/npm/api/petApi.ts
  samples/client/petstore/typescript-node/npm/api/storeApi.ts
  samples/client/petstore/typescript-node/npm/api/userApi.ts
Labels: Client: TypeScript, Enhancement: General

#2439 Add build script and remove babel
  modules/openapi-generator/src/main/resources/Javascript/es6/package.mustache
  samples/client/petstore/javascript-es6/package.json
  samples/client/petstore/javascript-promise-es6/package.json
  samples/openapi3/client/petstore/javascript-es6/README.md
  samples/openapi3/client/petstore/javascript-es6/docs/EnumTest.md
  samples/openapi3/client/petstore/javascript-es6/docs/OuterEnumDefaultValue.md
  samples/openapi3/client/petstore/javascript-es6/docs/OuterEnumInteger.md
  samples/openapi3/client/petstore/javascript-es6/docs/OuterEnumIntegerDefaultValue.md
  samples/openapi3/client/petstore/javascript-es6/package.json
  samples/openapi3/client/petstore/javascript-es6/src/index.js
  samples/openapi3/client/petstore/javascript-es6/src/model/EnumTest.js
  samples/openapi3/client/petstore/javascript-es6/src/model/OuterEnumDefaultValue.js
  samples/openapi3/client/petstore/javascript-es6/src/model/OuterEnumInteger.js
  samples/openapi3/client/petstore/javascript-es6/src/model/OuterEnumIntegerDefaultValue.js
  samples/openapi3/client/petstore/javascript-es6/test/model/OuterEnumDefaultValue.spec.js
  samples/openapi3/client/petstore/javascript-es6/test/model/OuterEnumInteger.spec.js
  samples/openapi3/client/petstore/javascript-es6/test/model/OuterEnumIntegerDefaultValue.spec.js
Labels: Client: JavaScript/Node.js, Enhancement: General

#2465 Test kotlin clients in shippable
  pom.xml
Labels: Client: Kotlin, Enhancement: CI/Test

#2446 [typescript-axios] Fix JSON serialization of falsy request bodies
  modules/openapi-generator/src/main/resources/typescript-axios/apiInner.mustache
  samples/client/petstore/typescript-axios/builds/default/api.ts
  samples/client/petstore/typescript-axios/builds/es6-target/api.ts
  samples/client/petstore/typescript-axios/builds/with-interfaces/api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/pet-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/store-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/user-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version/api.ts
Labels: Client: TypeScript, Issue: Bug

#2470 [Kotlin client] fix warning when else all covered
  modules/openapi-generator/src/main/resources/kotlin-client/api.mustache
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
Labels: Client: Kotlin, Enhancement: Code format

#2466 Add return type declaration to typescript-fetch runtime
  modules/openapi-generator/src/main/resources/typescript-fetch/runtime.mustache
  samples/client/petstore/typescript-fetch/builds/default/runtime.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/runtime.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/runtime.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/runtime.ts
Labels: Client: TypeScript, Issue: Bug

#2409 Bugfix/maven classpath schema
  modules/openapi-generator-maven-plugin/examples/multi-module/java-client/pom.xml
  modules/openapi-generator-maven-plugin/examples/multi-module/pom.xml
  modules/openapi-generator-maven-plugin/examples/multi-module/sample-schema/pom.xml
  modules/openapi-generator-maven-plugin/examples/multi-module/sample-schema/src/main/resources/openapi.yaml
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
Labels: Issue: Bug, OpenAPI Generator Maven Plugin

#2374 Python flask pythonic params
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonAbstractConnexionServerCodegen.java
  modules/openapi-generator/src/main/resources/python-aiohttp/__init__main.mustache
  modules/openapi-generator/src/main/resources/python-aiohttp/conftest.mustache
  modules/openapi-generator/src/main/resources/python-aiohttp/controller_test.mustache
  modules/openapi-generator/src/main/resources/python-flask/__init__test.mustache
  modules/openapi-generator/src/main/resources/python-flask/__main__.mustache
  modules/openapi-generator/src/main/resources/python-flask/controller_test.mustache
  modules/openapi-generator/src/test/resources/3_0/petstore.yaml
  samples/server/openapi3/petstore/python-flask-python2/openapi_server/__main__.py
  samples/server/openapi3/petstore/python-flask-python2/openapi_server/controllers/pet_controller.py
  samples/server/openapi3/petstore/python-flask-python2/openapi_server/openapi/openapi.yaml
  samples/server/openapi3/petstore/python-flask-python2/openapi_server/test/__init__.py
  samples/server/openapi3/petstore/python-flask-python2/openapi_server/test/test_pet_controller.py
  samples/server/openapi3/petstore/python-flask/openapi_server/__main__.py
  samples/server/openapi3/petstore/python-flask/openapi_server/controllers/pet_controller.py
  samples/server/openapi3/petstore/python-flask/openapi_server/openapi/openapi.yaml
  samples/server/openapi3/petstore/python-flask/openapi_server/test/__init__.py
  samples/server/openapi3/petstore/python-flask/openapi_server/test/test_pet_controller.py
  samples/server/petstore/python-aiohttp/openapi_server/__init__.py
  samples/server/petstore/python-aiohttp/openapi_server/openapi/openapi.yaml
  samples/server/petstore/python-aiohttp/tests/conftest.py
  samples/server/petstore/python-flask-python2/openapi_server/__main__.py
  samples/server/petstore/python-flask-python2/openapi_server/openapi/openapi.yaml
  samples/server/petstore/python-flask-python2/openapi_server/test/__init__.py
  samples/server/petstore/python-flask/openapi_server/__main__.py
  samples/server/petstore/python-flask/openapi_server/openapi/openapi.yaml
  samples/server/petstore/python-flask/openapi_server/test/__init__.py
Labels: Enhancement: General, Server: Python

#2491 Better code format for Kotlin, Python generators (Java class)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonAbstractConnexionServerCodegen.java
Labels: Client: Kotlin, Enhancement: Code format, Server: Python

#2492 Add better example code for R object
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
  modules/openapi-generator/src/main/resources/r/api_doc.mustache
  samples/client/petstore/R/docs/PetApi.md
  samples/client/petstore/R/docs/StoreApi.md
  samples/client/petstore/R/docs/UserApi.md
Labels: Client: R, Enhancement: Code format

#2472 Update akka scala generator
  modules/openapi-generator/src/main/resources/scala-akka-client/api.mustache
  modules/openapi-generator/src/main/resources/scala-akka-client/apiInvoker.mustache
  modules/openapi-generator/src/main/resources/scala-akka-client/apiSettings.mustache
  modules/openapi-generator/src/main/resources/scala-akka-client/build.sbt.mustache
  modules/openapi-generator/src/main/resources/scala-akka-client/pom.mustache
  samples/client/petstore/scala-akka/.openapi-generator/VERSION
  samples/client/petstore/scala-akka/build.sbt
  samples/client/petstore/scala-akka/pom.xml
  samples/client/petstore/scala-akka/project/build.properties
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/api/PetApi.scala
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/api/StoreApi.scala
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/api/UserApi.scala
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/core/ApiInvoker.scala
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/core/ApiSettings.scala
Labels: Breaking change (without fallback), Client: Scala, Enhancement: Compatibility

#1555 go-server: Support additional properties as command line arguments
  docs/generators/go-gin-server.md
  docs/generators/go-server.md
  docs/generators/go.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoServerCodegen.java
  modules/openapi-generator/src/main/resources/go-server/Dockerfile.mustache
  modules/openapi-generator/src/main/resources/go-server/main.mustache
  samples/client/petstore/go/go-petstore-withXml/api/openapi.yaml
  samples/server/petstore/go-api-server/Dockerfile
  samples/server/petstore/go-api-server/api/openapi.yaml
  samples/server/petstore/go-api-server/go/model_inline_object.go
  samples/server/petstore/go-api-server/go/model_inline_object_1.go
  samples/server/petstore/go-api-server/main.go
Labels: Enhancement: Feature, Server: Go

#2458 [#2441] Update documentation mustache templates for proper linting.
  modules/openapi-generator/src/main/resources/Ada/README.mustache
  modules/openapi-generator/src/main/resources/Java/README.mustache
  modules/openapi-generator/src/main/resources/Java/api_doc.mustache
  modules/openapi-generator/src/main/resources/Java/model_doc.mustache
  modules/openapi-generator/src/main/resources/Java/pojo_doc.mustache
  modules/openapi-generator/src/main/resources/Javascript/README.mustache
  modules/openapi-generator/src/main/resources/Javascript/api_doc.mustache
  modules/openapi-generator/src/main/resources/Javascript/es6/README.mustache
  modules/openapi-generator/src/main/resources/Javascript/es6/api_doc.mustache
  modules/openapi-generator/src/main/resources/Javascript/es6/model_doc.mustache
  modules/openapi-generator/src/main/resources/Javascript/model_doc.mustache
  modules/openapi-generator/src/main/resources/android/README.mustache
  modules/openapi-generator/src/main/resources/android/api_doc.mustache
  modules/openapi-generator/src/main/resources/android/model_doc.mustache
  modules/openapi-generator/src/main/resources/android/pojo_doc.mustache
  modules/openapi-generator/src/main/resources/apex/README_ant.mustache
  modules/openapi-generator/src/main/resources/apex/README_sfdx.mustache
  modules/openapi-generator/src/main/resources/apex/api_doc.mustache
  modules/openapi-generator/src/main/resources/apex/pojo_doc.mustache
  modules/openapi-generator/src/main/resources/bash/README.mustache
  modules/openapi-generator/src/main/resources/bash/api_doc.mustache
  modules/openapi-generator/src/main/resources/csharp/README.mustache
  modules/openapi-generator/src/main/resources/csharp/api_doc.mustache
  modules/openapi-generator/src/main/resources/csharp/model_doc.mustache
  modules/openapi-generator/src/main/resources/go/README.mustache
  modules/openapi-generator/src/main/resources/go/api_doc.mustache
  modules/openapi-generator/src/main/resources/go/model_doc.mustache
  modules/openapi-generator/src/main/resources/php/README.mustache
  modules/openapi-generator/src/main/resources/php/api_doc.mustache
  modules/openapi-generator/src/main/resources/php/model_doc.mustache
  modules/openapi-generator/src/main/resources/php/php_doc_auth_partial.mustache
  modules/openapi-generator/src/main/resources/ruby-client/README.mustache
  modules/openapi-generator/src/main/resources/ruby-client/api_doc.mustache
  modules/openapi-generator/src/main/resources/ruby-client/model_doc.mustache
  modules/openapi-generator/src/main/resources/rust/README.mustache
  modules/openapi-generator/src/main/resources/rust/api_doc.mustache
  modules/openapi-generator/src/main/resources/rust/model_doc.mustache
Labels: Enhancement: Feature, Feature: Documentation

#2146 [Symfony] Replace deprecated Controller with new one
  modules/openapi-generator/src/main/resources/php-symfony/Controller.mustache
  modules/openapi-generator/src/main/resources/php-symfony/composer.mustache
  modules/openapi-generator/src/main/resources/php-symfony/services.mustache
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/Controller.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Resources/config/services.yml
  samples/server/petstore/php-symfony/SymfonyBundle-php/composer.json
Labels: Enhancement: Compatibility, Server: PHP

#2443 [#2442] - implement yamlsample config help output;
  docs/usage.md
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/ConfigHelp.java
Labels: Enhancement: Feature

#2421 New generator - Scala Play Framework
  bin/scala-play-framework-petstore.sh
  bin/windows/scala-play-framework-petstore.bat
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaPlayFrameworkServerCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/scala-play-framework/README.md.mustache
  modules/openapi-generator/src/main/resources/scala-play-framework/app/apiController.scala.mustache
  modules/openapi-generator/src/main/resources/scala-play-framework/app/apiDocController.scala.mustache
  modules/openapi-generator/src/main/resources/scala-play-framework/app/apiImplStubs.scala.mustache
  modules/openapi-generator/src/main/resources/scala-play-framework/app/apiTrait.scala.mustache
  modules/openapi-generator/src/main/resources/scala-play-framework/app/defOperationSignature.mustache
  modules/openapi-generator/src/main/resources/scala-play-framework/app/errorHandler.scala.mustache
  modules/openapi-generator/src/main/resources/scala-play-framework/app/exceptions.scala.mustache
  modules/openapi-generator/src/main/resources/scala-play-framework/app/module.scala.mustache
  modules/openapi-generator/src/main/resources/scala-play-framework/app/transformParamValues.mustache
  modules/openapi-generator/src/main/resources/scala-play-framework/arrayCaseClass.mustache
  modules/openapi-generator/src/main/resources/scala-play-framework/build.sbt.mustache
  modules/openapi-generator/src/main/resources/scala-play-framework/caseClass.mustache
  modules/openapi-generator/src/main/resources/scala-play-framework/conf/application.conf.mustache
  modules/openapi-generator/src/main/resources/scala-play-framework/conf/logback.xml.mustache
  modules/openapi-generator/src/main/resources/scala-play-framework/conf/routes.mustache
  modules/openapi-generator/src/main/resources/scala-play-framework/convertParam.mustache
  modules/openapi-generator/src/main/resources/scala-play-framework/dataTypeOption.mustache
  modules/openapi-generator/src/main/resources/scala-play-framework/extensibleObjectJsonFormat.mustache
  modules/openapi-generator/src/main/resources/scala-play-framework/generatedAnnotation.mustache
  modules/openapi-generator/src/main/resources/scala-play-framework/model.mustache
  modules/openapi-generator/src/main/resources/scala-play-framework/project/build.properties.mustache
  modules/openapi-generator/src/main/resources/scala-play-framework/project/plugins.sbt.mustache
  modules/openapi-generator/src/main/resources/scala-play-framework/public/openapi.json.mustache
  modules/openapi-generator/src/main/resources/scala-play-framework/returnTypeOrUnit.mustache
  modules/openapi-generator/src/main/resources/scala-play-framework/simpleParentJsonFormat.mustache
  samples/server/petstore/scala-play-framework/.openapi-generator-ignore
  samples/server/petstore/scala-play-framework/.openapi-generator/VERSION
  samples/server/petstore/scala-play-framework/README.md
  samples/server/petstore/scala-play-framework/app/api/ApiDocController.scala
  samples/server/petstore/scala-play-framework/app/api/PetApi.scala
  samples/server/petstore/scala-play-framework/app/api/PetApiController.scala
  samples/server/petstore/scala-play-framework/app/api/PetApiImpl.scala
  samples/server/petstore/scala-play-framework/app/api/StoreApi.scala
  samples/server/petstore/scala-play-framework/app/api/StoreApiController.scala
  samples/server/petstore/scala-play-framework/app/api/StoreApiImpl.scala
  samples/server/petstore/scala-play-framework/app/api/UserApi.scala
  samples/server/petstore/scala-play-framework/app/api/UserApiController.scala
  samples/server/petstore/scala-play-framework/app/api/UserApiImpl.scala
  samples/server/petstore/scala-play-framework/app/model/ApiResponse.scala
  samples/server/petstore/scala-play-framework/app/model/Category.scala
  samples/server/petstore/scala-play-framework/app/model/Order.scala
  samples/server/petstore/scala-play-framework/app/model/Pet.scala
  samples/server/petstore/scala-play-framework/app/model/Tag.scala
  samples/server/petstore/scala-play-framework/app/model/User.scala
  samples/server/petstore/scala-play-framework/app/org/openapitools/ErrorHandler.scala
  samples/server/petstore/scala-play-framework/app/org/openapitools/Module.scala
  samples/server/petstore/scala-play-framework/app/org/openapitools/OpenApiExceptions.scala
  samples/server/petstore/scala-play-framework/build.sbt
  samples/server/petstore/scala-play-framework/conf/application.conf
  samples/server/petstore/scala-play-framework/conf/logback.xml
  samples/server/petstore/scala-play-framework/conf/routes
  samples/server/petstore/scala-play-framework/project/build.properties
  samples/server/petstore/scala-play-framework/project/plugins.sbt
  samples/server/petstore/scala-play-framework/public/openapi.json
Labels: Enhancement: New generator, Server: Scala

#2507 Update Java Vertx client dependency
  bin/java-petstore-vertx.json
  docs/generators/java.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/pom.mustache
  samples/client/petstore/java/vertx/build.gradle
  samples/client/petstore/java/vertx/pom.xml
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/CustomInstantDeserializer.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/api/FakeApiImpl.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/api/rxjava/FakeApi.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/model/MixedPropertiesAndAdditionalPropertiesClass.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/model/Order.java
  samples/client/petstore/java/vertx/src/test/java/org/openapitools/client/api/FakeApiTest.java
  samples/client/petstore/java/vertx/src/test/java/org/openapitools/client/model/FormatTestTest.java
  samples/client/petstore/java/vertx/src/test/java/org/openapitools/client/model/MixedPropertiesAndAdditionalPropertiesClassTest.java
  samples/client/petstore/java/vertx/src/test/java/org/openapitools/client/model/OrderTest.java
Labels: Client: Java, Enhancement: Compatibility

#2510 Fix Scala client (Akka) return type
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaAkkaClientCodegen.java
  modules/openapi-generator/src/main/resources/scala-akka-client/operationReturnType.mustache
  modules/openapi-generator/src/main/resources/scala-akka-client/responseState.mustache
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/api/PetApi.scala
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/api/StoreApi.scala
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/api/UserApi.scala
Labels: Client: Scala, Issue: Bug

#2401 [TypeScript Client] fix npm version when snapshot is true
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptFlowtypedClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAxiosClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptFetchClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptInversifyClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptJqueryClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptNodeClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptRxjsClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/fetch/TypeScriptFetchClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/typescriptangular/TypeScriptAngularClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/typescriptnode/TypeScriptNodeClientCodegenTest.java
Labels: Client: TypeScript, Issue: Bug

#2515 Fix JavaDoc errors in ApiClient for resttemplate
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/ApiClient.mustache
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: Feature, Feature: Documentation

#2391 [BUG][Kotlin Client] API using case other than camelCase not generated properly
  modules/openapi-generator/src/main/resources/kotlin-client/data_class.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/data_class_opt_var.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/data_class_req_var.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/enum_class.mustache
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/models/ApiResponse.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/models/Category.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/models/Pet.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/models/Tag.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/models/User.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/models/ApiResponse.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/models/Category.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/models/Pet.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/models/Tag.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/models/User.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/models/ApiResponse.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/models/Category.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/models/Pet.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/models/Tag.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/models/User.kt
Labels: Client: Kotlin, Issue: Bug

#2513 Fix Kotlin default value
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/KotlinClientCodegenModelTest.java
  samples/client/petstore/kotlin-string/docs/PetApi.md
  samples/client/petstore/kotlin-string/docs/StoreApi.md
  samples/client/petstore/kotlin-string/docs/UserApi.md
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-threetenbp/docs/PetApi.md
  samples/client/petstore/kotlin-threetenbp/docs/StoreApi.md
  samples/client/petstore/kotlin-threetenbp/docs/UserApi.md
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin/docs/PetApi.md
  samples/client/petstore/kotlin/docs/StoreApi.md
  samples/client/petstore/kotlin/docs/UserApi.md
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/Paths.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/PetApi.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/PetApiService.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/PetApiServiceImpl.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/StoreApi.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/UserApi.kt
Labels: Client: Kotlin, Issue: Bug, Server: Kotlin

#2485 [Java] Instantiate HttpBearerToken authentications if so declared
  modules/openapi-generator/src/main/resources/Java/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/play24/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/ApiClient.mustache
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/feign10x/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey1/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/retrofit/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/retrofit2/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/retrofit2rx/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/retrofit2rx2/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: General

#2488 [elm] Import types in operations
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElmClientCodegen.java
Labels: Client: Elm, Issue: Bug

#2455 [kotlin-spring] use spring resource for file handling
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinSpringServerCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-spring/api.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/formParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/service.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/serviceImpl.mustache
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/PetApi.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/PetApiService.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/PetApiServiceImpl.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/StoreApi.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/StoreApiServiceImpl.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/UserApi.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/UserApiServiceImpl.kt
Labels: Issue: Bug, Server: Kotlin

#2521 Minor improvements to Java API clients (feign, okhttp, retrofit, retrofit2)
  modules/openapi-generator/src/main/resources/Java/libraries/feign/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/pom.mustache
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/feign10x/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/pom.xml
  samples/client/petstore/java/okhttp-gson/pom.xml
  samples/client/petstore/java/retrofit/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/retrofit2-play24/pom.xml
  samples/client/petstore/java/retrofit2-play25/pom.xml
  samples/client/petstore/java/retrofit2-play26/pom.xml
  samples/client/petstore/java/retrofit2/pom.xml
  samples/client/petstore/java/retrofit2rx/pom.xml
  samples/client/petstore/java/retrofit2rx2/pom.xml
Labels: Client: Java, Client: Retrofit, Enhancement: Code format, Enhancement: Compatibility

#2262 Update swagger-parser to '2.0.11-OpenAPITools.org-1'
  docs/generators/scala-play-framework.md
  modules/openapi-generator/src/test/resources/2_0/globalSecurity.json
  modules/openapi-generator/src/test/resources/2_0/petstore-orig.json
  modules/openapi-generator/src/test/resources/2_0/petstore_issue_7999.json
  modules/openapi-generator/src/test/resources/3_0/petstore.json
  modules/openapi-generator/src/test/resources/petstore.json
  pom.xml
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/FormatTest.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/InlineObject3.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/Name.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Model/NullableClass.php
Labels: Enhancement: Compatibility, Swagger-Parser

#2537 [KOTLIN] fix var name not correctly sanitized
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-client/api.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/AbstractKotlinCodegenTest.java
Labels: Client: Kotlin, Issue: Bug, Server: Kotlin

#2514 [TypeScript Client] fix install Aurelia + fix use deprecated function
  bin/utils/ensure-up-to-date
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAureliaClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptInversifyClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptNodeClientCodegen.java
  modules/openapi-generator/src/main/resources/typescript-aurelia/README.md
  modules/openapi-generator/src/main/resources/typescript-aurelia/package.json.mustache
  modules/openapi-generator/src/main/resources/typescript-aurelia/tsconfig.json.mustache
  samples/client/petstore/typescript-aurelia/default/README.md
  samples/client/petstore/typescript-aurelia/default/package.json
  samples/client/petstore/typescript-aurelia/default/tsconfig.json
Labels: Client: TypeScript, Issue: Bug

#2339 [C++] [Qt5] Add enum support for client and server
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppQt5AbstractCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppQt5ClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppQt5QHttpEngineServerCodegen.java
  modules/openapi-generator/src/main/resources/cpp-qt5-client/Project.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/enum.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/helpers-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/helpers-header.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/model-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/model-header.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/apirequest.cpp.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/enum.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/helpers-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/helpers-header.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/model-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/model-header.mustache
  samples/client/petstore/cpp-qt5/PetStore/PetStore.pro
  samples/client/petstore/cpp-qt5/PetStore/StoreApiTests.cpp
  samples/client/petstore/cpp-qt5/PetStore/StoreApiTests.h
  samples/client/petstore/cpp-qt5/PetStore/UserApiTests.cpp
  samples/client/petstore/cpp-qt5/PetStore/UserApiTests.h
  samples/client/petstore/cpp-qt5/PetStore/main.cpp
  samples/client/petstore/cpp-qt5/client/OAIApiResponse.cpp
  samples/client/petstore/cpp-qt5/client/OAIApiResponse.h
  samples/client/petstore/cpp-qt5/client/OAICategory.cpp
  samples/client/petstore/cpp-qt5/client/OAICategory.h
  samples/client/petstore/cpp-qt5/client/OAIEnum.h
  samples/client/petstore/cpp-qt5/client/OAIHelpers.cpp
  samples/client/petstore/cpp-qt5/client/OAIHelpers.h
  samples/client/petstore/cpp-qt5/client/OAIOrder.cpp
  samples/client/petstore/cpp-qt5/client/OAIOrder.h
  samples/client/petstore/cpp-qt5/client/OAIPet.cpp
  samples/client/petstore/cpp-qt5/client/OAIPet.h
  samples/client/petstore/cpp-qt5/client/OAITag.cpp
  samples/client/petstore/cpp-qt5/client/OAITag.h
  samples/client/petstore/cpp-qt5/client/OAIUser.cpp
  samples/client/petstore/cpp-qt5/client/OAIUser.h
  samples/client/petstore/cpp-qt5/client/client.pri
Labels: Client: C++, Enhancement: Feature, Server: C++

#2528 Csharp nullable support
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpClientCodegen.java
  modules/openapi-generator/src/main/resources/csharp/api.mustache
  modules/openapi-generator/src/main/resources/csharp/modelGeneric.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/csharp/CSharpModelTest.java
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/PetTests.cs
Labels: Client: C-Sharp, Enhancement: Feature, Feature: OAS 3.0 spec support

#2529 Aspnetcore nullable support
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetCoreServerCodegen.java
  modules/openapi-generator/src/main/resources/aspnetcore/2.0/model.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/model.mustache
  samples/server/petstore/aspnetcore/.openapi-generator/VERSION
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/PetApi.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/StoreApi.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/UserApi.cs
Labels: Enhancement: Feature, Feature: OAS 3.0 spec support, Server: C-Sharp

#2550 [csharp] update sample after #2528
  samples/client/petstore/csharp/OpenAPIClient/docs/AnimalFarm.md
  samples/client/petstore/csharp/OpenAPIClient/docs/StringBooleanMap.md
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Api/AnotherFakeApiTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Api/FakeApiTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Api/FakeClassnameTags123ApiTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Api/StoreApiTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Api/UserApiTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/AdditionalPropertiesClassTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/AnimalFarmTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/AnimalTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/ApiResponseTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/ArrayOfArrayOfNumberOnlyTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/ArrayOfNumberOnlyTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/ArrayTestTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/CapitalizationTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/CatTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/CategoryTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/ClassModelTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/DogTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/EnumArraysTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/EnumClassTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/EnumTestTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/FormatTestTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/HasOnlyReadOnlyTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/ListTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/MapTestTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/MixedPropertiesAndAdditionalPropertiesClassTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/Model200ResponseTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/ModelClientTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/NameTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/NumberOnlyTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/OrderTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/OuterCompositeTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/OuterEnumTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/PetTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/ReadOnlyFirstTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/ReturnTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/SpecialModelNameTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/StringBooleanMapTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/TagTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/UserTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/XmlItemTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Model/Animal.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Model/AnimalFarm.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Model/Category.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Model/EnumTest.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Model/Name.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Model/Pet.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Model/StringBooleanMap.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Model/TypeHolderDefault.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Model/TypeHolderExample.cs
Labels: Client: C-Sharp, Enhancement: CI/Test

#2545 [elm] Update ISO 8601 library (fixes missing time zone designator)
  modules/openapi-generator/src/main/resources/elm/elm.mustache
  samples/client/petstore/elm/elm.json
Labels: Client: Elm

#2553 [JS] fix NPE for null string and improve Travis config file
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptClientCodegen.java
  modules/openapi-generator/src/main/resources/Javascript/es6/travis.yml
  modules/openapi-generator/src/main/resources/Javascript/travis.yml
  samples/client/petstore/javascript-es6/.travis.yml
  samples/client/petstore/javascript-promise-es6/.travis.yml
  samples/client/petstore/javascript-promise/.travis.yml
  samples/client/petstore/javascript/.travis.yml
Labels: Client: JavaScript/Node.js, Enhancement: CI/Test, Issue: Bug

#1024 #1023 - [Scala] Use status family during response processing
  modules/openapi-generator/src/main/resources/scala-httpclient/api.mustache
  samples/client/petstore/dart-jaguar/flutter_proto_petstore/android/src/main/scala/org/openapitools/client/ApiInvoker.scala
  samples/client/petstore/dart-jaguar/flutter_proto_petstore/android/src/main/scala/org/openapitools/client/AsyncClient.scala
  samples/client/petstore/dart-jaguar/flutter_proto_petstore/android/src/main/scala/org/openapitools/client/api/FakeApi.scala
  samples/client/petstore/dart-jaguar/flutter_proto_petstore/android/src/main/scala/org/openapitools/client/model/ModelReturn.scala
  samples/client/petstore/scala-httpclient/.openapi-generator/VERSION
  samples/client/petstore/scala-httpclient/src/main/scala/org/openapitools/client/api/PetApi.scala
  samples/client/petstore/scala-httpclient/src/main/scala/org/openapitools/client/api/StoreApi.scala
  samples/client/petstore/scala-httpclient/src/main/scala/org/openapitools/client/api/UserApi.scala
Labels: Client: Scala, Enhancement: General
