Repository OpenAPITools/openapi-generator, pull requests merged in 2020-05, with the labels that each got.

#6115 [Go][experimental] provide code samples in the API doc
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientExperimentalCodegen.java
  modules/openapi-generator/src/main/resources/go-experimental/api_doc.mustache
  samples/client/petstore/go-experimental/go-petstore/docs/AnotherFakeApi.md
  samples/client/petstore/go-experimental/go-petstore/docs/FakeApi.md
  samples/client/petstore/go-experimental/go-petstore/docs/FakeClassnameTags123Api.md
  samples/client/petstore/go-experimental/go-petstore/docs/PetApi.md
  samples/client/petstore/go-experimental/go-petstore/docs/StoreApi.md
  samples/client/petstore/go-experimental/go-petstore/docs/UserApi.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/AnotherFakeApi.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/DefaultApi.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/FakeApi.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/FakeClassnameTags123Api.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/PetApi.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/StoreApi.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/UserApi.md
Labels: Client: Go, Enhancement: Feature, Feature: Documentation

#5597 [dart-dio][client] Handle x-www-form-urlencoded form data
  modules/openapi-generator/src/main/resources/dart-dio/api.mustache
  samples/client/petstore/dart-dio/.openapi-generator/VERSION
  samples/client/petstore/dart-dio/lib/api/pet_api.dart
Labels: Client: Dart, Enhancement: General

#6118 Test scala akka petstore client in CI
  bin/openapi3/scala-akka-petstore.sh
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaAkkaClientCodegen.java
  modules/openapi-generator/src/main/resources/scala-akka-client/pom.mustache
  modules/openapi-generator/src/test/resources/3_0/scala-akka/petstore.yaml
  pom.xml
  samples/client/petstore/scala-akka/pom.xml
  samples/openapi3/client/petstore/scala-akka/pom.xml
  samples/openapi3/client/petstore/scala-akka/src/main/scala/org/openapitools/client/api/PetApi.scala
  samples/openapi3/client/petstore/scala-akka/src/test/scala/PetApiTest.scala
Labels: Client: Scala, Enhancement: CI/Test

#6047 dart-dio improvements
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioClientCodegen.java
  modules/openapi-generator/src/main/resources/dart-dio/api.mustache
  modules/openapi-generator/src/main/resources/dart-dio/apilib.mustache
  modules/openapi-generator/src/main/resources/dart-dio/auth/api_key_auth.mustache
  modules/openapi-generator/src/main/resources/dart-dio/auth/auth.mustache
  modules/openapi-generator/src/main/resources/dart-dio/auth/basic_auth.mustache
  modules/openapi-generator/src/main/resources/dart-dio/auth/oauth.mustache
  modules/openapi-generator/src/main/resources/dart-dio/pubspec.mustache
  modules/openapi-generator/src/main/resources/dart-dio/serializers.mustache
  samples/client/petstore/dart-dio/lib/api.dart
  samples/client/petstore/dart-dio/lib/api/pet_api.dart
  samples/client/petstore/dart-dio/lib/api/store_api.dart
  samples/client/petstore/dart-dio/lib/api/user_api.dart
  samples/client/petstore/dart-dio/lib/auth/api_key_auth.dart
  samples/client/petstore/dart-dio/lib/auth/auth.dart
  samples/client/petstore/dart-dio/lib/auth/basic_auth.dart
  samples/client/petstore/dart-dio/lib/auth/oauth.dart
  samples/client/petstore/dart-dio/lib/serializers.dart
  samples/client/petstore/dart-dio/pubspec.yaml
Labels: Client: Dart, Enhancement: General

#5355 Add listFromJson method to fix #4887
  modules/openapi-generator/src/main/resources/dart2/enum.mustache
Labels: Client: Dart, Feature: Enum, Issue: Bug

#6112 [csharp-netcore] Fixed handling of nullable enum values
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
  modules/openapi-generator/src/main/resources/csharp-netcore/api.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp/OpenAPIClientNet35/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientNet40/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientNet40/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp/OpenAPIClientNetCoreProject/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp/OpenAPIClientNetCoreProject/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientNetStandard/Org.OpenAPITools.sln
  samples/client/petstore/csharp/OpenAPIClientNetStandard/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp/OpenAPIClientNetStandard/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientNetStandard/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/src/Org.OpenAPITools/Model/FormatTest.cs
Labels: Client: C-Sharp, Feature: Enum, Issue: Bug

#6129 [scala][akka-http] fix non-default packages for api, model and invoker
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractScalaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaAkkaClientCodegen.java
  modules/openapi-generator/src/main/resources/scala-akka-client/api.mustache
  modules/openapi-generator/src/main/resources/scala-akka-client/apiInvoker.mustache
  modules/openapi-generator/src/main/resources/scala-akka-client/apiRequest.mustache
  modules/openapi-generator/src/main/resources/scala-akka-client/apiSettings.mustache
  modules/openapi-generator/src/main/resources/scala-akka-client/model.mustache
  modules/openapi-generator/src/main/resources/scala-akka-client/requests.mustache
  modules/openapi-generator/src/main/resources/scala-sttp/api.mustache
  modules/openapi-generator/src/main/resources/scala-sttp/apiInvoker.mustache
  modules/openapi-generator/src/main/resources/scala-sttp/model.mustache
  modules/openapi-generator/src/main/resources/scala-sttp/requests.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/scalaakka/ScalaAkkaClientCodegenTest.java
Labels: Client: Scala, Issue: Bug

#5644 File return type fix
  modules/openapi-generator/src/main/resources/go/client.mustache
Labels: Client: Go, Issue: Bug

#6144 Test java 11 native client in drone.ci
  CI/.drone.yml
Labels: Client: Java, Enhancement: CI/Test

#6147 Skip web.config generation for aspnetcore 3.x
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetCoreServerCodegen.java
Labels: Enhancement: General, Server: C-Sharp

#6136 Fix bearer authentication in c# netcore client (async call)
  modules/openapi-generator/src/main/resources/csharp-netcore/api.mustache
Labels: Client: C-Sharp, Issue: Bug

#6132 [go experimental] Make the array "items" attribute optional
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
Labels: Client: Go, Enhancement: Compatibility

#6159 [markdown] Show description when summary is missing
  modules/openapi-generator/src/main/resources/markdown-documentation/README.mustache
Labels: Doc: Markdown, Enhancement: General

#6168 Fix #6157: Updated native template to fix null async return
  modules/openapi-generator/src/main/resources/Java/libraries/native/api.mustache
Labels: Client: Java, Issue: Bug

#6056 [Rust Server] Support boolean headers, and fix panic handling headers
  modules/openapi-generator/src/main/resources/rust-server/client-imports.mustache
  modules/openapi-generator/src/main/resources/rust-server/client-operation.mustache
  modules/openapi-generator/src/main/resources/rust-server/header.mustache
  modules/openapi-generator/src/main/resources/rust-server/models.mustache
  modules/openapi-generator/src/main/resources/rust-server/server-imports.mustache
  modules/openapi-generator/src/main/resources/rust-server/server-operation.mustache
  modules/openapi-generator/src/test/resources/3_0/rust-server/openapi-v3.yaml
  samples/server/petstore/rust-server/output/multipart-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/header.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/models.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/no-example-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/no-example-v3/src/header.rs
  samples/server/petstore/rust-server/output/no-example-v3/src/models.rs
  samples/server/petstore/rust-server/output/no-example-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/api/openapi.yaml
  samples/server/petstore/rust-server/output/openapi-v3/src/client/callbacks.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/header.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/models.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/callbacks.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/ops-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/ops-v3/src/header.rs
  samples/server/petstore/rust-server/output/ops-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/client/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/header.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/models.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/server/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/client/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/header.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/models.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/server/mod.rs
Labels: Client: Rust, Server: Rust

#6053 [cpp][Qt5] Add the ability to pass QNetworkAccessManager as a parameter
  modules/openapi-generator/src/main/resources/cpp-qt5-client/HttpRequest.cpp.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/HttpRequest.h.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-header.mustache
  samples/client/petstore/cpp-qt5/client/PFXHttpRequest.cpp
  samples/client/petstore/cpp-qt5/client/PFXHttpRequest.h
  samples/client/petstore/cpp-qt5/client/PFXPetApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXPetApi.h
  samples/client/petstore/cpp-qt5/client/PFXStoreApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXStoreApi.h
  samples/client/petstore/cpp-qt5/client/PFXUserApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXUserApi.h
Labels: Client: C++, Enhancement: General

#6196 [dart-dio] Add missing AnyType type mapping
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioClientCodegen.java
Labels: Client: Dart, Enhancement: Compatibility

#6176 [powershell-experimental] : http signature authentication implementation
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellExperimentalClientCodegen.java
  modules/openapi-generator/src/main/resources/powershell-experimental/api_client.mustache
  modules/openapi-generator/src/main/resources/powershell-experimental/http_signature_auth.mustache
  modules/openapi-generator/src/main/resources/powershell-experimental/rsa_provider.mustache
Labels: Client: PowerShell, Enhancement: Security

#6211 [swift] Simplify URLSession implementation progress
  modules/openapi-generator/src/main/resources/swift5/libraries/urlsession/URLSessionImplementations.mustache
  samples/client/petstore/swift5/alamofireLibrary/.openapi-generator/VERSION
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient.xcodeproj/xcshareddata/xcschemes/PetstoreClient.xcscheme
  samples/client/petstore/swift5/combineLibrary/.openapi-generator/VERSION
  samples/client/petstore/swift5/combineLibrary/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/combineLibrary/PetstoreClient.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  samples/client/petstore/swift5/combineLibrary/PetstoreClient.xcodeproj/xcshareddata/xcschemes/PetstoreClient.xcscheme
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/default/.openapi-generator/VERSION
  samples/client/petstore/swift5/default/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/default/PetstoreClient.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  samples/client/petstore/swift5/default/PetstoreClient.xcodeproj/xcshareddata/xcschemes/PetstoreClient.xcscheme
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/nonPublicApi/.openapi-generator/VERSION
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient.xcodeproj/xcshareddata/xcschemes/PetstoreClient.xcscheme
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/objcCompatible/.openapi-generator/VERSION
  samples/client/petstore/swift5/objcCompatible/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/objcCompatible/PetstoreClient.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  samples/client/petstore/swift5/objcCompatible/PetstoreClient.xcodeproj/xcshareddata/xcschemes/PetstoreClient.xcscheme
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/promisekitLibrary/.openapi-generator/VERSION
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient.xcodeproj/xcshareddata/xcschemes/PetstoreClient.xcscheme
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/readonlyProperties/.openapi-generator/VERSION
  samples/client/petstore/swift5/readonlyProperties/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/readonlyProperties/PetstoreClient.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  samples/client/petstore/swift5/readonlyProperties/PetstoreClient.xcodeproj/xcshareddata/xcschemes/PetstoreClient.xcscheme
  samples/client/petstore/swift5/readonlyProperties/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/resultLibrary/.openapi-generator/VERSION
  samples/client/petstore/swift5/resultLibrary/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/resultLibrary/PetstoreClient.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  samples/client/petstore/swift5/resultLibrary/PetstoreClient.xcodeproj/xcshareddata/xcschemes/PetstoreClient.xcscheme
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/rxswiftLibrary/.openapi-generator/VERSION
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient.xcodeproj/xcshareddata/xcschemes/PetstoreClient.xcscheme
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/urlsessionLibrary/.openapi-generator/VERSION
  samples/client/petstore/swift5/urlsessionLibrary/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/urlsessionLibrary/PetstoreClient.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  samples/client/petstore/swift5/urlsessionLibrary/PetstoreClient.xcodeproj/xcshareddata/xcschemes/PetstoreClient.xcscheme
  samples/client/petstore/swift5/urlsessionLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/test/swift5/default/.openapi-generator/VERSION
  samples/client/test/swift5/default/TestClient/Classes/OpenAPIs/URLSessionImplementations.swift
Labels: Client: Swift, Enhancement: Performance

#6207 [Docker] Added a check to make sure an argument is passed
  docker-entrypoint.sh
Labels: Docker, Enhancement: General

#6214 [aspnetcore] Remove web.config
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetCoreServerCodegen.java
  samples/server/petstore/aspnetcore-3.0/.openapi-generator/VERSION
  samples/server/petstore/aspnetcore-3.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/server/petstore/aspnetcore/.openapi-generator/VERSION
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/wwwroot/web.config
Labels: Breaking change (without fallback), Enhancement: General, Server: C-Sharp

#6219 Minor improvements to the Lua client generator
  bin/lua-petstore.sh
  bin/openapi3/lua-petstore.sh
  bin/utils/ensure-up-to-date
  bin/windows/lua-petstore.bat
  docs/generators.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/LuaClientCodegen.java
  samples/client/petstore/lua/.openapi-generator/VERSION
  samples/client/petstore/lua/git_push.sh
  samples/client/petstore/lua/petstore-1.0.0-1.rockspec
  samples/client/petstore/lua/petstore/api/pet_api.lua
  samples/client/petstore/lua/petstore/api/store_api.lua
  samples/client/petstore/lua/petstore/api/user_api.lua
  samples/client/petstore/lua/petstore/model/api_response.lua
  samples/client/petstore/lua/petstore/model/category.lua
  samples/client/petstore/lua/petstore/model/inline_object.lua
  samples/client/petstore/lua/petstore/model/inline_object_1.lua
  samples/client/petstore/lua/petstore/model/order.lua
  samples/client/petstore/lua/petstore/model/pet.lua
  samples/client/petstore/lua/petstore/model/tag.lua
  samples/client/petstore/lua/petstore/model/user.lua
  samples/client/petstore/lua/spec/inline_object_1_spec.lua
  samples/client/petstore/lua/spec/inline_object_spec.lua
Labels: Client: Lua, Enhancement: CI/Test, Enhancement: Code format

#6220 Mark Silex server generator as deprecated
  bin/ci/php-silex-petstore-server.json
  bin/openapi3/php-silex-petstore-server.sh
  bin/php-silex-petstore-server.sh
  bin/windows/php-silex-petstore-server.bat
  docs/generators.md
  docs/generators/php-silex-deprecated.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSilexServerCodegen.java
Labels: General: Support, Server: PHP

#6201 [dart-dio][client] Support responses which are binary files
  modules/openapi-generator/src/main/resources/dart-dio/api.mustache
  samples/client/petstore/dart-dio/.openapi-generator/VERSION
  samples/client/petstore/dart-dio/lib/api/pet_api.dart
  samples/client/petstore/dart-dio/lib/api/store_api.dart
  samples/client/petstore/dart-dio/lib/api/user_api.dart
Labels: Client: Dart, Enhancement: General

#6228 Fix java-inflector to reference the correct openapi.yaml file
  modules/openapi-generator/src/main/resources/JavaInflector/inflector.mustache
Labels: Issue: Bug, Server: Java

#6120 [maven] Introduce addTestCompileSourceRoot
  modules/openapi-generator-maven-plugin/README.md
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
Labels: OpenAPI Generator Maven Plugin

#6133 [python-experimental] Make the array items attribute optional
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientExperimentalCodegen.java
  samples/openapi3/client/petstore/python-experimental/docs/User.md
  samples/openapi3/client/petstore/python-experimental/petstore_api/models/user.py
Labels: Client: Python

#6194 Fix locale issue for numeric string conversions
  modules/openapi-generator/src/main/resources/csharp-netcore/ClientUtils.mustache
Labels: Client: C-Sharp, Issue: Bug

#6229 [python-experimental] Raise builtin AttributeError instead of custom ApiKeyError
  modules/openapi-generator/src/main/resources/python/__init__package.mustache
  modules/openapi-generator/src/main/resources/python/exceptions.mustache
  modules/openapi-generator/src/main/resources/python/python-experimental/model_templates/method_set_attribute.mustache
  modules/openapi-generator/src/main/resources/python/python-experimental/model_templates/methods_setattr_getattr_composed.mustache
  modules/openapi-generator/src/main/resources/python/python-experimental/model_templates/methods_setattr_getattr_normal.mustache
  modules/openapi-generator/src/main/resources/python/python-experimental/model_utils.mustache
  samples/client/petstore/python-asyncio/petstore_api/__init__.py
  samples/client/petstore/python-asyncio/petstore_api/exceptions.py
  samples/client/petstore/python-experimental/petstore_api/exceptions.py
  samples/client/petstore/python-experimental/petstore_api/model_utils.py
  samples/client/petstore/python-experimental/test/test_child.py
  samples/client/petstore/python-experimental/test/test_dog.py
  samples/client/petstore/python-experimental/tests/test_enum_arrays.py
  samples/client/petstore/python-tornado/petstore_api/__init__.py
  samples/client/petstore/python-tornado/petstore_api/exceptions.py
  samples/client/petstore/python/petstore_api/__init__.py
  samples/client/petstore/python/petstore_api/exceptions.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/exceptions.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/model_utils.py
  samples/openapi3/client/petstore/python-experimental/test/test_fruit.py
  samples/openapi3/client/petstore/python-experimental/test/test_fruit_req.py
  samples/openapi3/client/petstore/python-experimental/test/test_gm_fruit.py
  samples/openapi3/client/petstore/python/petstore_api/__init__.py
  samples/openapi3/client/petstore/python/petstore_api/exceptions.py
Labels: Client: Python

#6250 Minor fix to aspnetcore scripts
  bin/aspnetcore-petstore-server-3.0.sh
  bin/aspnetcore-petstore-server-3.1.sh
  samples/server/petstore/aspnetcore-3.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/server/petstore/aspnetcore-3.1/.openapi-generator/VERSION
  samples/server/petstore/aspnetcore-3.1/src/Org.OpenAPITools/Org.OpenAPITools.csproj
Labels: Issue: Non-operational, Server: C-Sharp

#6249 testng 7.1.0
  pom.xml
Labels: Enhancement: Compatibility, Feature: Generator

#6230 Add "useSingleRequestParameter" option to Rust client generator
  docs/generators/rust.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptFetchClientCodegen.java
  modules/openapi-generator/src/main/resources/rust/reqwest/api.mustache
  samples/client/petstore/rust/hyper/fileResponseTest/.openapi-generator/VERSION
  samples/client/petstore/rust/hyper/petstore/.openapi-generator/VERSION
  samples/client/petstore/rust/hyper/rust-test/.openapi-generator/VERSION
  samples/client/petstore/rust/reqwest/fileResponseTest/.openapi-generator/VERSION
  samples/client/petstore/rust/reqwest/fileResponseTest/src/apis/default_api.rs
  samples/client/petstore/rust/reqwest/petstore/.openapi-generator/VERSION
  samples/client/petstore/rust/reqwest/petstore/src/apis/pet_api.rs
  samples/client/petstore/rust/reqwest/petstore/src/apis/store_api.rs
  samples/client/petstore/rust/reqwest/petstore/src/apis/user_api.rs
  samples/client/petstore/rust/reqwest/rust-test/.openapi-generator/VERSION
  samples/client/petstore/rust/reqwest/rust-test/src/apis/default_api.rs
Labels: Client: Rust, Enhancement: Feature

#6226 [python-experimental] Improve error message for regex matching, add unit tests.
  modules/openapi-generator/src/main/resources/python/python-experimental/model_utils.mustache
  modules/openapi-generator/src/test/resources/3_0/python-experimental/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/client/petstore/python-experimental/petstore_api/model_utils.py
  samples/openapi3/client/petstore/python-experimental/docs/Apple.md
  samples/openapi3/client/petstore/python-experimental/docs/Fruit.md
  samples/openapi3/client/petstore/python-experimental/docs/GmFruit.md
  samples/openapi3/client/petstore/python-experimental/petstore_api/model_utils.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/models/apple.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/models/fruit.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/models/gm_fruit.py
  samples/openapi3/client/petstore/python-experimental/test/test_fruit.py
  samples/openapi3/client/petstore/python-experimental/test/test_gm_fruit.py
  samples/openapi3/client/petstore/python-experimental/tests/test_deserialization.py
Labels: Client: Python, Enhancement: General

#6254 Add cookie authentication support to csharp-netcore
  modules/openapi-generator/src/main/resources/csharp-netcore/api.mustache
Labels: Client: C-Sharp, Enhancement: Feature, Feature: OAS 3.0 spec support

#6233 [C++] [Qt5] Fix datatypes in headers other than strings
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-body.mustache
  samples/client/petstore/cpp-qt5/client/PFXPetApi.cpp
Labels: Client: C++, Issue: Bug

#6241 Unwrap the `AnyHashable` and use the `base` value in Models.mustache
  modules/openapi-generator/src/main/resources/swift5/Models.mustache
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/readonlyProperties/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/urlsessionLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/test/swift5/default/TestClient/Classes/OpenAPIs/Models.swift
Labels: Client: Swift, Issue: Bug

#6265 Fix build failure due to flake8
  samples/client/petstore/python-asyncio/test_python3.sh
  samples/client/petstore/python-experimental/test_python2.sh
  samples/client/petstore/python-experimental/test_python2_and_3.sh
  samples/client/petstore/python-tornado/test_python2_and_3.sh
  samples/client/petstore/python/test_python2.sh
  samples/client/petstore/python/test_python2_and_3.sh
  samples/openapi3/client/petstore/python-experimental/test_python2.sh
  samples/openapi3/client/petstore/python-experimental/test_python2_and_3.sh
  samples/openapi3/client/petstore/python/test_python2.sh
  samples/server/petstore/python-flask-python2/test_python2.sh
  samples/server/petstore/python-flask/test_python3.sh
Labels: WIP

#6263 Remove Silex link from doc
  docs/generators/README.md
Labels: Feature: Documentation

#6269 [Java][jersey2] Add null type support to oneOf/anyOf
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/AbstractOpenApiSchema.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/anyof_model.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/oneof_model.mustache
  samples/client/petstore/java/jersey2-java6/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java6/src/main/java/org/openapitools/client/model/AbstractOpenApiSchema.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/AbstractOpenApiSchema.java
  samples/client/petstore/java/jersey2/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2/src/main/java/org/openapitools/client/model/AbstractOpenApiSchema.java
Labels: Client: Java, Enhancement: Feature, Feature: OAS 3.0 spec support

#6276 Update JS Flow dependencies to address security alerts
  samples/client/petstore/javascript-flowtyped/package-lock.json
Labels: Client: JavaScript/Node.js, Enhancement: Security

#6174 [cwiki] Show enum values for URI parameters
  modules/openapi-generator/src/main/resources/confluenceWikiDocs/index.mustache
  modules/openapi-generator/src/main/resources/confluenceWikiDocs/param.mustache
  samples/documentation/cwiki/.openapi-generator/VERSION
  samples/documentation/cwiki/confluence-markup.txt
Labels: Documentation: Cwiki

#6277 [Java jersey2] Mustache template should use invokerPackage tag to generate import
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/AbstractOpenApiSchema.mustache
Labels: Client: Java, Issue: Bug

#6121 [Python-experimental] JSON schema 'null' type should be modeled as 'none_type'
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenProperty.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientExperimentalCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/OneOfImplementorAdditionalData.java
  modules/openapi-generator/src/main/resources/python/python-experimental/model_utils.mustache
  modules/openapi-generator/src/test/resources/3_0/python-experimental/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/client/petstore/python-experimental/petstore_api/model_utils.py
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/User.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_user.go
  samples/openapi3/client/petstore/python-experimental/docs/User.md
  samples/openapi3/client/petstore/python-experimental/petstore_api/model_utils.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/models/fruit_req.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/models/user.py
  samples/openapi3/client/petstore/python-experimental/test/test_fruit_req.py
  samples/openapi3/client/petstore/python-experimental/tests/test_deserialization.py
Labels: Client: Go, Client: Python

#6262 [python-experimental] Support schema property which has $ref to 'oneOf' schema
  modules/openapi-generator/src/main/resources/python/python-experimental/model_utils.mustache
  modules/openapi-generator/src/test/resources/3_0/python-experimental/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/client/petstore/python-experimental/petstore_api/model_utils.py
  samples/openapi3/client/petstore/python-experimental/README.md
  samples/openapi3/client/petstore/python-experimental/docs/Drawing.md
  samples/openapi3/client/petstore/python-experimental/petstore_api/__init__.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/model_utils.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/models/drawing.py
  samples/openapi3/client/petstore/python-experimental/test/test_drawing.py
Labels: Client: Python

#6280 Add null type support to Go (experimental) oneOf/anyOf schemas
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/main/resources/go-experimental/model_anyof.mustache
  modules/openapi-generator/src/main/resources/go-experimental/model_oneof.mustache
Labels: Client: Go, Enhancement: Feature, Feature: OAS 3.0 spec support

#6286 [Java] Add composed schema check when constructing the default value
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
Labels: Client: Java, Issue: Bug

#6293 Migrate doc samples to use OAS 3.0 spec
  bin/asciidoc-documentation-petstore.sh
  bin/cwiki-petstore.sh
  bin/dynamic-html.sh
  bin/html-petstore.sh
  bin/html2-petstore.sh
  bin/markdown-documentation-petstore.sh
  bin/openapi3/dynamic-html.sh
  bin/openapi3/html-petstore.sh
  bin/openapi3/html2-petstore.sh
  bin/windows/asciidoc-documentation-petstore.bat
  bin/windows/dynamic-html-petstore.bat
  bin/windows/html-petstore.bat
  bin/windows/html2-petstore.bat
  bin/windows/markdown-documentation-petstore.bat
  samples/documentation/asciidoc/.openapi-generator/VERSION
  samples/documentation/asciidoc/index.adoc
  samples/documentation/cwiki/.openapi-generator/VERSION
  samples/documentation/cwiki/confluence-markup.txt
  samples/documentation/dynamic-html/.openapi-generator/VERSION
  samples/documentation/dynamic-html/docs/models/InlineObject.html
  samples/documentation/dynamic-html/docs/models/InlineObject1.html
  samples/documentation/dynamic-html/docs/operations/PetApi.html
  samples/documentation/dynamic-html/docs/operations/UserApi.html
  samples/documentation/html/.openapi-generator/VERSION
  samples/documentation/html/index.html
  samples/documentation/html2/.openapi-generator/VERSION
  samples/documentation/html2/index.html
  samples/documentation/markdown/.openapi-generator/VERSION
  samples/documentation/markdown/Apis/PetApi.md
  samples/documentation/markdown/Apis/StoreApi.md
  samples/documentation/markdown/Apis/UserApi.md
  samples/documentation/markdown/Models/InlineObject.md
  samples/documentation/markdown/Models/InlineObject1.md
  samples/documentation/markdown/README.md
Labels: Doc: AsciiDoc, Doc: Cwiki, Doc: Dynamic HTML, Doc: HTML, Doc: Markdown, Enhancement: CI/Test

#6285 [Java] Fix repeated OAuth files being generated
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ProcessUtils.java
Labels: Client: Java, Issue: Non-operational

#5573 [BUG] Failed to add required=false (#2062)
  modules/openapi-generator/src/main/resources/JavaSpring/formParams.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/form-multipart-binary-array.yaml
  samples/client/petstore/spring-stubs/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/spring-mvc-j8-async/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/spring-mvc-j8-async/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/spring-mvc-j8-localdatetime/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/spring-mvc-j8-localdatetime/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/spring-mvc/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/spring-mvc/src/main/java/org/openapitools/api/FakeApiController.java
  samples/server/petstore/spring-mvc/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/spring-mvc/src/main/java/org/openapitools/api/PetApiController.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/org/openapitools/api/FakeApiController.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/org/openapitools/api/PetApiController.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/api/FakeApiController.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/api/PetApiController.java
  samples/server/petstore/springboot-implicitHeaders/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-implicitHeaders/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/api/FakeApi.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/api/PetApi.java
  samples/server/petstore/springboot/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot/src/main/java/org/openapitools/api/PetApi.java
Labels: Issue: Bug, Server: Java

#5668 [dart-dio] Adds support for generating inline enums
  modules/openapi-generator/src/main/resources/dart-dio/class.mustache
  modules/openapi-generator/src/main/resources/dart-dio/enum_inline.mustache
  samples/client/petstore/dart-dio/.openapi-generator/VERSION
  samples/client/petstore/dart-dio/lib/model/api_response.dart
  samples/client/petstore/dart-dio/lib/model/category.dart
  samples/client/petstore/dart-dio/lib/model/order.dart
  samples/client/petstore/dart-dio/lib/model/pet.dart
  samples/client/petstore/dart-dio/lib/model/tag.dart
  samples/client/petstore/dart-dio/lib/model/user.dart
Labels: Breaking change (without fallback), Client: Dart, Enhancement: Feature, Feature: Enum

#6111 Fix #4157 dart enum toJson method
  modules/openapi-generator/src/main/resources/dart2/enum.mustache
Labels: Client: Dart, Issue: Bug

#6261 [dart-dio][client] Allow passing progress callbacks through client methods.
  modules/openapi-generator/src/main/resources/dart-dio/api.mustache
  samples/client/petstore/dart-dio/lib/api/pet_api.dart
  samples/client/petstore/dart-dio/lib/api/store_api.dart
  samples/client/petstore/dart-dio/lib/api/user_api.dart
Labels: Client: Dart, Enhancement: General

#6299 Remove cookie authentication from petstore.yaml (oas3.0)
  modules/openapi-generator/src/test/resources/3_0/petstore.yaml
  samples/client/petstore/lua/petstore/api/user_api.lua
  samples/openapi3/client/petstore/scala-sttp/README.md
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/api/UserApi.scala
Labels: Enhancement: CI/Test

#6298 Minor improvements to `plantuml` doc generator
  README.md
  bin/plantuml-documentation-petstore.sh
  bin/windows/plantuml-documentation-petstore.bat
  docs/generators.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PlantumlDocumentationCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/plantuml/schemas.mustache
  samples/documentation/petstore/plantuml/schemas.plantuml
Labels: Doc: PlantUML, Enhancement: General

#6092 Improve parameter documentation
  modules/openapi-generator/src/main/resources/dart2/api.mustache
Labels: Client: Dart, Enhancement: Feature, Feature: Documentation

#6308 [typescript] Remove "v4-compat" value of enumSuffix
  docs/generators/javascript-flowtyped.md
  docs/generators/typescript-angular.md
  docs/generators/typescript-angularjs.md
  docs/generators/typescript-aurelia.md
  docs/generators/typescript-axios.md
  docs/generators/typescript-fetch.md
  docs/generators/typescript-inversify.md
  docs/generators/typescript-jquery.md
  docs/generators/typescript-node.md
  docs/generators/typescript-redux-query.md
  docs/generators/typescript-rxjs.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/typescriptangular/TypeScriptAngularClientCodegenTest.java
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/model/order.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/model/pet.ts
Labels: Breaking change (with fallback), Client: TypeScript

#6329 [PowerShell] Fix commented code in api/model tests
  modules/openapi-generator/src/main/resources/powershell/api_test.mustache
  modules/openapi-generator/src/main/resources/powershell/model_test.mustache
  samples/client/petstore/powershell/tests/Model/ApiResponse.Tests.ps1
  samples/client/petstore/powershell/tests/Model/Category.Tests.ps1
  samples/client/petstore/powershell/tests/Model/InlineObject.Tests.ps1
  samples/client/petstore/powershell/tests/Model/InlineObject1.Tests.ps1
  samples/client/petstore/powershell/tests/Model/Order.Tests.ps1
  samples/client/petstore/powershell/tests/Model/Pet.Tests.ps1
  samples/client/petstore/powershell/tests/Model/Tag.Tests.ps1
  samples/client/petstore/powershell/tests/Model/User.Tests.ps1
Labels: Client: PowerShell, Enhancement: CI/Test

#6328 [Java] update jackson databind versions
  modules/openapi-generator/src/main/resources/Groovy/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/pom.mustache
  modules/openapi-generator/src/main/resources/java-undertow-server/pom.mustache
  samples/client/petstore/groovy/build.gradle
  samples/client/petstore/java/google-api-client/build.gradle
  samples/client/petstore/java/google-api-client/build.sbt
  samples/client/petstore/java/google-api-client/pom.xml
  samples/client/petstore/java/jersey1/build.gradle
  samples/client/petstore/java/jersey2-java7/build.gradle
  samples/client/petstore/java/jersey2-java7/build.sbt
  samples/client/petstore/java/jersey2-java7/pom.xml
  samples/client/petstore/java/jersey2-java8/build.gradle
  samples/client/petstore/java/jersey2-java8/build.sbt
  samples/client/petstore/java/jersey2-java8/pom.xml
  samples/client/petstore/java/resteasy/build.gradle
  samples/client/petstore/java/resteasy/build.sbt
  samples/client/petstore/java/resteasy/pom.xml
  samples/client/petstore/java/resttemplate-withXml/build.gradle
  samples/client/petstore/java/resttemplate-withXml/pom.xml
  samples/client/petstore/java/resttemplate/build.gradle
  samples/client/petstore/java/resttemplate/pom.xml
  samples/client/petstore/java/retrofit2-play25/build.gradle
  samples/client/petstore/java/retrofit2-play25/build.sbt
  samples/client/petstore/java/retrofit2-play25/pom.xml
  samples/client/petstore/java/retrofit2-play26/build.gradle
  samples/client/petstore/java/retrofit2-play26/build.sbt
  samples/client/petstore/java/retrofit2-play26/pom.xml
  samples/client/petstore/java/vertx/build.gradle
  samples/client/petstore/java/vertx/pom.xml
  samples/client/petstore/java/webclient/build.gradle
Labels: Client: Java, Enhancement: Security

#6339 Fix build.gradle in some Java clients
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/build.gradle.mustache
  samples/client/petstore/java/jersey2-java7/build.gradle
  samples/client/petstore/java/jersey2-java7/build.sbt
  samples/client/petstore/java/jersey2-java7/pom.xml
  samples/client/petstore/java/jersey2-java8/build.gradle
  samples/client/petstore/java/jersey2-java8/build.sbt
  samples/client/petstore/java/jersey2-java8/pom.xml
  samples/client/petstore/java/vertx/build.gradle
Labels: Client: Java, Issue: Usage/Installation

#6321 [Java][jersey2] Allow setting serverIndex to null
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  samples/client/petstore/java/jersey2-java7/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Regression

#6227 [codegen][python-experimental] Add configuration knob to disable JSON schema validation
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/resources/python/configuration.mustache
  modules/openapi-generator/src/main/resources/python/python-experimental/api.mustache
  modules/openapi-generator/src/main/resources/python/python-experimental/model_templates/classvars.mustache
  modules/openapi-generator/src/main/resources/python/python-experimental/model_templates/method_set_attribute.mustache
  modules/openapi-generator/src/main/resources/python/python-experimental/model_utils.mustache
  modules/openapi-generator/src/test/resources/3_0/python-experimental/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/client/petstore/python-asyncio/petstore_api/configuration.py
  samples/client/petstore/python-experimental/petstore_api/api/another_fake_api.py
  samples/client/petstore/python-experimental/petstore_api/api/fake_api.py
  samples/client/petstore/python-experimental/petstore_api/api/fake_classname_tags_123_api.py
  samples/client/petstore/python-experimental/petstore_api/api/pet_api.py
  samples/client/petstore/python-experimental/petstore_api/api/store_api.py
  samples/client/petstore/python-experimental/petstore_api/api/user_api.py
  samples/client/petstore/python-experimental/petstore_api/configuration.py
  samples/client/petstore/python-experimental/petstore_api/model_utils.py
  samples/client/petstore/python-tornado/petstore_api/configuration.py
  samples/client/petstore/python/petstore_api/configuration.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/api/default_api.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/api/fake_classname_tags_123_api.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/configuration.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/model_utils.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/models/format_test.py
  samples/openapi3/client/petstore/python-experimental/tests/test_api_validation.py
  samples/openapi3/client/petstore/python/petstore_api/configuration.py
Labels: Client: Python

#6340 [swift] improve deprecated APIs when using the Combine framework
  modules/openapi-generator/src/main/resources/swift5/api.mustache
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/APIs/PetAPI.swift
Labels: Client: Swift, Enhancement: General

#6316 [go-experimental] Add convenience wrapper function for oneOf members
  modules/openapi-generator/src/main/resources/go-experimental/model_oneof.mustache
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_fruit.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_fruit_req.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_mammal.go
Labels: Client: Go, Enhancement: General

#6315 [go-experimental] Ensure enum deserialization checks enum values
  modules/openapi-generator/src/main/resources/go-experimental/model_enum.mustache
  samples/client/petstore/go-experimental/go-petstore/model_enum_class.go
  samples/client/petstore/go-experimental/go-petstore/model_outer_enum.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_enum_class.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_outer_enum.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_outer_enum_default_value.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_outer_enum_integer.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_outer_enum_integer_default_value.go
Labels: Client: Go, Enhancement: Feature, Feature: Enum

#6331 [PHP] ObjectSerializer fix for array of objects
  modules/openapi-generator/src/main/resources/php/ObjectSerializer.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/ObjectSerializer.php
Labels: Client: PHP, Issue: Bug

#6343 [C++] [Qt5] [Server] read json
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/apirouter.h.mustache
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/handlers/OAIApiRouter.h
Labels: Issue: Bug, Server: C++

#6352 [Go][Experimental] Reset to nil with multiple matches in oneOf
  modules/openapi-generator/src/main/resources/go-experimental/model_enum.mustache
  modules/openapi-generator/src/main/resources/go-experimental/model_oneof.mustache
  samples/client/petstore/go-experimental/go-petstore/model_enum_class.go
  samples/client/petstore/go-experimental/go-petstore/model_outer_enum.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_enum_class.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_fruit.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_fruit_req.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_mammal.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_outer_enum.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_outer_enum_default_value.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_outer_enum_integer.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_outer_enum_integer_default_value.go
Labels: Client: Go, Enhancement: Code format, Enhancement: General

#6001 [typescript-rxjs] restore prototype inheritance for clone & its clients
  modules/openapi-generator/src/main/resources/typescript-rxjs/runtime.mustache
  samples/client/petstore/typescript-rxjs/builds/default/runtime.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/runtime.ts
  samples/client/petstore/typescript-rxjs/builds/with-interfaces/runtime.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/runtime.ts
Labels: Client: TypeScript

#6355 [Go][Experimental] Avoid duplicated import in enum model
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/main/resources/go-experimental/model_enum.mustache
  samples/client/petstore/go-experimental/go-petstore/model_enum_class.go
  samples/client/petstore/go-experimental/go-petstore/model_outer_enum.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_enum_class.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_outer_enum.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_outer_enum_default_value.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_outer_enum_integer.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_outer_enum_integer_default_value.go
Labels: Client: Go, Enhancement: Code format, Feature: Enum

#6361 Add oneof/anyof support to PowerShell client generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellClientCodegen.java
  modules/openapi-generator/src/main/resources/powershell/api.mustache
  modules/openapi-generator/src/main/resources/powershell/api_client.mustache
  modules/openapi-generator/src/main/resources/powershell/model.mustache
  modules/openapi-generator/src/main/resources/powershell/model_anyof.mustache
  modules/openapi-generator/src/main/resources/powershell/model_oneof.mustache
  modules/openapi-generator/src/main/resources/powershell/model_simple.mustache
  samples/client/petstore/powershell/src/PSPetstore/Model/ApiResponse.ps1
  samples/client/petstore/powershell/src/PSPetstore/Model/Category.ps1
  samples/client/petstore/powershell/src/PSPetstore/Model/InlineObject.ps1
  samples/client/petstore/powershell/src/PSPetstore/Model/InlineObject1.ps1
  samples/client/petstore/powershell/src/PSPetstore/Model/Order.ps1
  samples/client/petstore/powershell/src/PSPetstore/Model/Pet.ps1
  samples/client/petstore/powershell/src/PSPetstore/Model/Tag.ps1
  samples/client/petstore/powershell/src/PSPetstore/Model/User.ps1
  samples/client/petstore/powershell/src/PSPetstore/PSPetstore.psd1
  samples/client/petstore/powershell/src/PSPetstore/Private/PSApiClient.ps1
  samples/client/petstore/powershell/tests/Petstore.Tests.ps1
Labels: Client: PowerShell, Enhancement: Feature, Feature: OAS 3.0 spec support, Issue: Bug

#6345 [C++] [Qt5] Fixed missing headers and wrong status code
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/apirequest.cpp.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/apirequest.h.mustache
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/requests/OAIPetApiRequest.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/requests/OAIPetApiRequest.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/requests/OAIStoreApiRequest.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/requests/OAIStoreApiRequest.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/requests/OAIUserApiRequest.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/requests/OAIUserApiRequest.h
Labels: Issue: Bug, Server: C++

#6372 Update swagger parser to 2.0.20
  pom.xml
Labels: Enhancement: Compatibility, Swagger-Parser

#6370 [Java] Upgrade http signature library to version 1.4
  modules/openapi-generator-maven-plugin/examples/multi-module/pom.xml
  modules/openapi-generator/src/main/resources/Java/README.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/auth/HttpSignatureAuth.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/pom.mustache
  samples/client/petstore/java/jersey2-java7/pom.xml
  samples/client/petstore/java/jersey2-java7/src/main/java/org/openapitools/client/auth/HttpSignatureAuth.java
  samples/client/petstore/java/jersey2-java8/pom.xml
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/auth/HttpSignatureAuth.java
Labels: Client: Java, Enhancement: Compatibility

#6363 [go-experimental] Ensure that all oneOf/anyOf models have their Nullable<Model> defined
  modules/openapi-generator/src/main/resources/go-experimental/model_anyof.mustache
  modules/openapi-generator/src/main/resources/go-experimental/model_oneof.mustache
  modules/openapi-generator/src/main/resources/go-experimental/model_simple.mustache
  modules/openapi-generator/src/main/resources/go-experimental/nullable_model.mustache
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_fruit.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_fruit_req.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_gm_fruit.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_mammal.go
Labels: Client: Go, Enhancement: General

#6381 [rust][reqwest] Add pub to struct when using the single parameter option
  modules/openapi-generator/src/main/resources/rust/reqwest/api.mustache
Labels: Client: Rust, Issue: Bug

#6304 Use webclient exceptions in java webclient client
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/api.mustache
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Breaking change (without fallback), Client: Java, Enhancement: General

#6314 [go-experimental] Fix marshalling of of go oneOf structures to work on non-pointer receivers
  modules/openapi-generator/src/main/resources/go-experimental/model_oneof.mustache
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_fruit.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_fruit_req.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_mammal.go
Labels: Client: Go, Issue: Bug

#6383 [haskell-http-client] add case to detect enum even though param.isEnum=false (fixes #6350)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellHttpClientCodegen.java
  modules/openapi-generator/src/main/resources/haskell-http-client/API.mustache
Labels: Client: Haskell

#6347 Add helper methods to determine if the spec has certain authentication defined
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ProcessUtils.java
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/pom.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
Labels: Client: Java, Enhancement: Code format, Enhancement: General

#6392 [PowerShell] Add nullable support to oneof, anyof
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellExperimentalClientCodegen.java
  modules/openapi-generator/src/main/resources/powershell/model_anyof.mustache
  modules/openapi-generator/src/main/resources/powershell/model_oneof.mustache
Labels: Client: PowerShell, Enhancement: Feature, Feature: OAS 3.0 spec support

#6388 [python-experimental] Add support for pep 3134, attach cause of exception
  modules/openapi-generator/src/main/resources/python/python-experimental/model_utils.mustache
  samples/client/petstore/python-experimental/petstore_api/model_utils.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/model_utils.py
Labels: Client: Python

#6177 Support media types other than json
  modules/openapi-generator/src/main/resources/typescript/api/api.mustache
  modules/openapi-generator/src/main/resources/typescript/http/http.mustache
  modules/openapi-generator/src/main/resources/typescript/http/isomorphic-fetch.mustache
  modules/openapi-generator/src/main/resources/typescript/http/jquery.mustache
  modules/openapi-generator/src/main/resources/typescript/index.mustache
  modules/openapi-generator/src/main/resources/typescript/model/ObjectSerializer.mustache
  modules/openapi-generator/src/main/resources/typescript/package.mustache
  modules/openapi-generator/src/main/resources/typescript/tsconfig.mustache
  samples/client/petstore/typescript/builds/default/apis/PetApi.ts
  samples/client/petstore/typescript/builds/default/apis/StoreApi.ts
  samples/client/petstore/typescript/builds/default/apis/UserApi.ts
  samples/client/petstore/typescript/builds/default/http/http.ts
  samples/client/petstore/typescript/builds/default/http/isomorphic-fetch.ts
  samples/client/petstore/typescript/builds/default/index.ts
  samples/client/petstore/typescript/builds/default/models/ObjectSerializer.ts
  samples/client/petstore/typescript/builds/default/package-lock.json
  samples/client/petstore/typescript/builds/default/package.json
  samples/client/petstore/typescript/builds/default/tsconfig.json
  samples/client/petstore/typescript/builds/jquery/apis/PetApi.ts
  samples/client/petstore/typescript/builds/jquery/apis/StoreApi.ts
  samples/client/petstore/typescript/builds/jquery/apis/UserApi.ts
  samples/client/petstore/typescript/builds/jquery/http/http.ts
  samples/client/petstore/typescript/builds/jquery/http/jquery.ts
  samples/client/petstore/typescript/builds/jquery/index.ts
  samples/client/petstore/typescript/builds/jquery/models/ObjectSerializer.ts
  samples/client/petstore/typescript/builds/jquery/package-lock.json
  samples/client/petstore/typescript/tests/default/package-lock.json
  samples/client/petstore/typescript/tests/default/test/http/isomorphic-fetch.test.ts
  samples/client/petstore/typescript/tests/jquery/package-lock.json
Labels: WIP

#6404 [Java] Fix mustache tag in pom template for HTTP signature
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/pom.mustache
Labels: Client: Java, Issue: Bug

#6406 Decommission NodeJS server generator
  docs/generators.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/NodeJSServerCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/nodejs/README.mustache
  modules/openapi-generator/src/main/resources/nodejs/controller.mustache
  modules/openapi-generator/src/main/resources/nodejs/index-gcf.mustache
  modules/openapi-generator/src/main/resources/nodejs/index.mustache
  modules/openapi-generator/src/main/resources/nodejs/openapi.mustache
  modules/openapi-generator/src/main/resources/nodejs/package.mustache
  modules/openapi-generator/src/main/resources/nodejs/service.mustache
  modules/openapi-generator/src/main/resources/nodejs/writer.mustache
Labels: Decommission, Server: Nodejs

#6409 [bug] Fix path provider bug on CI
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
Labels: Issue: Bug

#6411 [Python-server] Fix blueplanet 'file not found' error
  bin/python-server-blueplanet-petstore.sh
Labels: Enhancement: CI/Test

#6387 [Python-experimental] Fix type error if oneof/anyof child schema is null type
  modules/openapi-generator/src/main/resources/python/python-experimental/model_utils.mustache
  samples/client/petstore/python-experimental/petstore_api/model_utils.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/model_utils.py
Labels: Client: Python

#6323 [Java][jersey2] Make (de)serialization work for oneOf models
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/AbstractOpenApiSchema.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/oneof_model.mustache
  samples/client/petstore/java/jersey2-java7/src/main/java/org/openapitools/client/model/AbstractOpenApiSchema.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/AbstractOpenApiSchema.java
Labels: Client: Java, Enhancement: General

#6335 typescript-axios anytype is not defined
  bin/typescript-axios-petstore-all.sh
  bin/typescript-axios-petstore-composed-schemas.sh
  bin/windows/typescript-axios-petstore-all.bat
  bin/windows/typescript-axios-petstore-composed-schemas.bat
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java
  modules/openapi-generator/src/test/resources/3_0/composed-schemas.yaml
  samples/client/petstore/typescript-axios/builds/composed-schemas/.gitignore
  samples/client/petstore/typescript-axios/builds/composed-schemas/.npmignore
  samples/client/petstore/typescript-axios/builds/composed-schemas/.openapi-generator-ignore
  samples/client/petstore/typescript-axios/builds/composed-schemas/.openapi-generator/VERSION
  samples/client/petstore/typescript-axios/builds/composed-schemas/api.ts
  samples/client/petstore/typescript-axios/builds/composed-schemas/base.ts
  samples/client/petstore/typescript-axios/builds/composed-schemas/configuration.ts
  samples/client/petstore/typescript-axios/builds/composed-schemas/git_push.sh
  samples/client/petstore/typescript-axios/builds/composed-schemas/index.ts
Labels: Client: TypeScript, Issue: Bug

#6399 Add C++ UE4 client generator
  README.md
  bin/cpp-ue4-petstore.sh
  bin/windows/cpp-ue4-petstore.bat
  docs/generators.md
  docs/generators/cpp-ue4.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppUE4ClientCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/cpp-ue4/Build.cs.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/api-header.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/api-operations-header.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/api-operations-source.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/api-source.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/helpers-header.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/helpers-source.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/licenseInfo.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/model-base-header.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/model-base-source.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/model-header.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/model-source.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/module-header.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/module-source.mustache
  samples/client/petstore/cpp-ue4/.openapi-generator-ignore
  samples/client/petstore/cpp-ue4/.openapi-generator/VERSION
  samples/client/petstore/cpp-ue4/OpenAPI.Build.cs
  samples/client/petstore/cpp-ue4/OpenAPIApiResponse.cpp
  samples/client/petstore/cpp-ue4/OpenAPIApiResponse.h
  samples/client/petstore/cpp-ue4/OpenAPICategory.cpp
  samples/client/petstore/cpp-ue4/OpenAPICategory.h
  samples/client/petstore/cpp-ue4/OpenAPIOrder.cpp
  samples/client/petstore/cpp-ue4/OpenAPIOrder.h
  samples/client/petstore/cpp-ue4/OpenAPIPet.cpp
  samples/client/petstore/cpp-ue4/OpenAPIPet.h
  samples/client/petstore/cpp-ue4/OpenAPITag.cpp
  samples/client/petstore/cpp-ue4/OpenAPITag.h
  samples/client/petstore/cpp-ue4/OpenAPIUser.cpp
  samples/client/petstore/cpp-ue4/OpenAPIUser.h
  samples/client/petstore/cpp-ue4/Private/OpenAPIBaseModel.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIHelpers.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIModule.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIModule.h
  samples/client/petstore/cpp-ue4/Private/OpenAPIPetApi.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIPetApiOperations.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIStoreApi.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIStoreApiOperations.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIUserApi.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIUserApiOperations.cpp
  samples/client/petstore/cpp-ue4/Public/OpenAPIBaseModel.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIHelpers.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIPetApi.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIPetApiOperations.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIStoreApi.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIStoreApiOperations.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIUserApi.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIUserApiOperations.h
Labels: Client: C++, Enhancement: New generator

#6419 [PS] check if JSON properties is defined
  modules/openapi-generator/src/main/resources/powershell/model_simple.mustache
  samples/client/petstore/powershell/.openapi-generator/FILES
  samples/client/petstore/powershell/src/PSPetstore/Model/ApiResponse.ps1
  samples/client/petstore/powershell/src/PSPetstore/Model/Category.ps1
  samples/client/petstore/powershell/src/PSPetstore/Model/InlineObject.ps1
  samples/client/petstore/powershell/src/PSPetstore/Model/InlineObject1.ps1
  samples/client/petstore/powershell/src/PSPetstore/Model/Order.ps1
  samples/client/petstore/powershell/src/PSPetstore/Model/Pet.ps1
  samples/client/petstore/powershell/src/PSPetstore/Model/Tag.ps1
  samples/client/petstore/powershell/src/PSPetstore/Model/User.ps1
Labels: Client: PowerShell, Issue: Bug

#6415 [ci] Execute maven and verify with no-snapshot-updates
  .travis.yml
  CI/.travis.yml.bash
  CI/.travis.yml.ios
  CI/bitrise.yml
  CI/circle_parallel.sh
  appveyor.yml
  bin/utils/ensure-up-to-date
  circle.yml
  pom.xml
  shippable.yml
Labels: Enhancement: CI/Test

#6424 [PS] minor code style change
  modules/openapi-generator/src/main/resources/powershell/configuration.mustache
  modules/openapi-generator/src/main/resources/powershell/model_anyof.mustache
  modules/openapi-generator/src/main/resources/powershell/model_oneof.mustache
  samples/client/petstore/powershell/src/PSPetstore/Client/PSConfiguration.ps1
Labels: Client: PowerShell, Enhancement: Code format

#6420 [Java][jersey2] enhance anyOf
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/anyof_model.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/oneof_model.mustache
Labels: Client: Java, Enhancement: Feature, Feature: OAS 3.0 spec support

#6431 [PS] Fix hardcoded match type
  modules/openapi-generator/src/main/resources/powershell/model_anyof.mustache
  modules/openapi-generator/src/main/resources/powershell/model_oneof.mustache
Labels: Client: PowerShell, Feature: OAS 3.0 spec support, Issue: Bug

#6430 [JS] update package-json.lock
  samples/client/petstore/javascript-es6/package-lock.json
Labels: Client: JavaScript/Node.js, Enhancement: Security

#6362 [kotlin][client] add support for coroutines with OkHttp
  bin/kotlin-client-all.sh
  bin/kotlin-client-petstore-okhttp-coroutines.sh
  bin/openapi3/kotlin-client-petstore-all.sh
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-okhttp/api.mustache
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/.openapi-generator-ignore
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/.openapi-generator/VERSION
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/README.md
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/build.gradle
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/docs/ApiResponse.md
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/docs/Category.md
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/docs/Order.md
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/docs/Pet.md
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/docs/PetApi.md
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/docs/StoreApi.md
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/docs/Tag.md
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/docs/User.md
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/docs/UserApi.md
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/settings.gradle
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/infrastructure/ApiAbstractions.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/infrastructure/ApiInfrastructureResponse.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/infrastructure/ApplicationDelegates.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/infrastructure/ByteArrayAdapter.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/infrastructure/DateAdapter.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/infrastructure/Errors.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/infrastructure/LocalDateAdapter.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/infrastructure/LocalDateTimeAdapter.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/infrastructure/OffsetDateTimeAdapter.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/infrastructure/RequestConfig.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/infrastructure/RequestMethod.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/infrastructure/ResponseExtensions.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/models/ApiResponse.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/models/Category.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/models/Pet.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/models/Tag.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/models/User.kt
Labels: Client: Kotlin, Enhancement: Feature

#6435 Migrate Groovy samples to oas3
  bin/groovy-petstore.sh
  bin/openapi3/groovy-petstore.sh
  bin/windows/groovy-petstore.bat
  samples/client/petstore/groovy/README.md
  samples/client/petstore/groovy/src/main/groovy/org/openapitools/api/PetApi.groovy
  samples/client/petstore/groovy/src/main/groovy/org/openapitools/api/StoreApi.groovy
  samples/client/petstore/groovy/src/main/groovy/org/openapitools/api/UserApi.groovy
  samples/client/petstore/groovy/src/main/groovy/org/openapitools/model/InlineObject.groovy
  samples/client/petstore/groovy/src/main/groovy/org/openapitools/model/InlineObject1.groovy
Labels: Client: Groovy, Enhancement: CI/Test, Feature: OAS 3.0 spec support

#6448 [PS] Set pester version to v4.3.1
  appveyor.yml
Labels: Client: PowerShell, Enhancement: CI/Test

#6454 [Rust][reqwest] add tests to CI
  pom.xml
  samples/client/petstore/rust/reqwest/petstore/pom.xml
  samples/client/petstore/rust/reqwest/petstore/tests/pet_tests.rs
Labels: Client: Rust, Enhancement: CI/Test

#6453 [rust][reqwest] fix struct export
  modules/openapi-generator/src/main/resources/rust/reqwest/api.mustache
  modules/openapi-generator/src/main/resources/rust/reqwest/api_mod.mustache
  samples/client/petstore/rust/hyper/fileResponseTest/.openapi-generator/FILES
  samples/client/petstore/rust/hyper/petstore/.openapi-generator/FILES
  samples/client/petstore/rust/hyper/rust-test/.openapi-generator/FILES
  samples/client/petstore/rust/reqwest/fileResponseTest/.openapi-generator/FILES
  samples/client/petstore/rust/reqwest/petstore/.openapi-generator/FILES
  samples/client/petstore/rust/reqwest/rust-test/.openapi-generator/FILES
Labels: Client: Rust, Issue: Bug

#6450 Fix ruby deprecation error
  modules/openapi-generator/src/main/resources/ruby-client/rubocop.mustache
  samples/client/petstore/ruby-faraday/.rubocop.yml
  samples/client/petstore/ruby/.rubocop.yml
Labels: Client: Ruby, Enhancement: Code format, Enhancement: Compatibility

#6441 [cli] new 'author template' command
  docs/templating.md
  docs/usage.md
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/OpenAPIGenerator.java
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/AuthorTemplate.java
  modules/openapi-generator-cli/src/test/java/org/openapitools/codegen/cmd/AuthorTemplateTest.java
Labels: Enhancement: General, OpenAPI Generator CLI

#6457 [Java][jersey2] Fix RuntimeException when HTTP signature parameters are not configured
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#6446 Remove Scala OAS v3 samples
  samples/openapi3/client/petstore/scala-sttp/.openapi-generator-ignore
  samples/openapi3/client/petstore/scala-sttp/.openapi-generator/FILES
  samples/openapi3/client/petstore/scala-sttp/.openapi-generator/VERSION
  samples/openapi3/client/petstore/scala-sttp/README.md
  samples/openapi3/client/petstore/scala-sttp/build.sbt
  samples/openapi3/client/petstore/scala-sttp/pom.xml
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/api/EnumsSerializers.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/api/PetApi.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/api/StoreApi.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/api/UserApi.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/core/ApiInvoker.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/core/Serializers.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/core/requests.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/model/ApiResponse.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/model/Category.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/model/InlineObject.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/model/InlineObject1.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/model/Order.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/model/Pet.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/model/Tag.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/model/User.scala
Labels: Client: Scala, Enhancement: CI/Test

#6470 [Rust] better struct alias
  modules/openapi-generator/src/main/resources/rust/reqwest/api.mustache
  modules/openapi-generator/src/main/resources/rust/reqwest/api_mod.mustache
Labels: Client: Rust, Enhancement: General

#6477 [REQ][typescript-axios] useSingleRequestParameter should mark parameter optional if all properties are optional
  bin/typescript-axios-petstore-with-single-request-parameters.sh
  bin/windows/typescript-axios-petstore-with-single-request-parameters.bat
  modules/openapi-generator/src/main/resources/typescript-axios/apiInner.mustache
  modules/openapi-generator/src/test/resources/2_0/petstore-with-operations-without-required-params.yaml
  samples/client/petstore/typescript-axios/builds/with-single-request-parameters/api.ts
Labels: Client: TypeScript

#6475 typescript-axios: Support deprecated parameters
  modules/openapi-generator/src/main/resources/typescript-axios/modelGeneric.mustache
Labels: Client: TypeScript

#6460 [csharp] Rename v5.0 to netstandard1.3
  bin/csharp-petstore-all.sh
  bin/csharp-petstore-net-standard.json
  bin/windows/csharp-petstore-all.bat
  bin/windows/csharp-petstore-netcore-project.bat
  bin/windows/csharp-petstore-netstandard.bat
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpClientCodegen.java
Labels: Breaking change (with fallback), Client: C-Sharp

#6181 [php-symfony] Set required PHP version ^7.1.3
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSymfonyServerCodegen.java
  modules/openapi-generator/src/main/resources/php-symfony/.coveralls.yml
  modules/openapi-generator/src/main/resources/php-symfony/.gitignore
  modules/openapi-generator/src/main/resources/php-symfony/.php_cs
  modules/openapi-generator/src/main/resources/php-symfony/.php_cs.dist
  modules/openapi-generator/src/main/resources/php-symfony/.travis.yml
  modules/openapi-generator/src/main/resources/php-symfony/ApiPass.mustache
  modules/openapi-generator/src/main/resources/php-symfony/ApiServer.mustache
  modules/openapi-generator/src/main/resources/php-symfony/Bundle.mustache
  modules/openapi-generator/src/main/resources/php-symfony/Controller.mustache
  modules/openapi-generator/src/main/resources/php-symfony/Extension.mustache
  modules/openapi-generator/src/main/resources/php-symfony/README.mustache
  modules/openapi-generator/src/main/resources/php-symfony/api.mustache
  modules/openapi-generator/src/main/resources/php-symfony/api_controller.mustache
  modules/openapi-generator/src/main/resources/php-symfony/composer.mustache
  modules/openapi-generator/src/main/resources/php-symfony/model.mustache
  modules/openapi-generator/src/main/resources/php-symfony/testing/AppKernel.mustache
  modules/openapi-generator/src/main/resources/php-symfony/testing/ControllerTest.mustache
  modules/openapi-generator/src/main/resources/php-symfony/testing/api_test.mustache
  modules/openapi-generator/src/main/resources/php-symfony/testing/model_test.mustache
  modules/openapi-generator/src/main/resources/php-symfony/testing/phpunit.xml.mustache
  samples/server/petstore/php-symfony/SymfonyBundle-php/.coveralls.yml
  samples/server/petstore/php-symfony/SymfonyBundle-php/.gitignore
  samples/server/petstore/php-symfony/SymfonyBundle-php/.php_cs
  samples/server/petstore/php-symfony/SymfonyBundle-php/.php_cs.dist
  samples/server/petstore/php-symfony/SymfonyBundle-php/.travis.yml
  samples/server/petstore/php-symfony/SymfonyBundle-php/Api/ApiServer.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Api/PetApiInterface.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Api/StoreApiInterface.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Api/UserApiInterface.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/Controller.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/PetController.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/StoreController.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/UserController.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/DependencyInjection/Compiler/OpenAPIServerApiPass.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/DependencyInjection/OpenAPIServerExtension.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/ApiResponse.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/Category.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/Order.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/Pet.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/Tag.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/User.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/OpenAPIServerBundle.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/README.md
  samples/server/petstore/php-symfony/SymfonyBundle-php/Tests/Api/PetApiInterfaceTest.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Tests/Api/StoreApiInterfaceTest.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Tests/Api/UserApiInterfaceTest.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Tests/AppKernel.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Tests/Controller/ControllerTest.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Tests/Model/ApiResponseTest.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Tests/Model/CategoryTest.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Tests/Model/OrderTest.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Tests/Model/PetTest.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Tests/Model/TagTest.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Tests/Model/UserTest.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/composer.json
  samples/server/petstore/php-symfony/SymfonyBundle-php/phpunit.xml.dist
Labels: Enhancement: CI/Test, Enhancement: Compatibility, Server: PHP

#6480 [Rust] set supportAsync to true as the default
  bin/rust-petstore.sh
  docs/generators/rust.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustClientCodegen.java
Labels: Breaking change (with fallback), Client: Rust, Enhancement: General

#6397 [PS] Refactor the http signing auth with ecdsa support
  modules/openapi-generator/src/main/resources/powershell/api_client.mustache
  modules/openapi-generator/src/main/resources/powershell/configuration.mustache
  modules/openapi-generator/src/main/resources/powershell/http_signature_auth.mustache
  modules/openapi-generator/src/main/resources/powershell/rsa_provider.mustache
Labels: Client: PowerShell, Enhancement: Security

#6488 [Apex] migrate samples to use OAS v3 spec
  bin/apex-petstore.sh
  samples/client/petstore/apex/README.md
  samples/client/petstore/apex/force-app/main/default/classes/OASPetApi.cls
  samples/client/petstore/apex/force-app/main/default/classes/OASStoreApi.cls
  samples/client/petstore/apex/force-app/main/default/classes/OASUserApi.cls
Labels: Client: Apex, Enhancement: CI/Test, Feature: OAS 3.0 spec support

#6490 Migrate Perl samples to use OAS v3 spec
  .travis.yml
  bin/perl-petstore.sh
  modules/openapi-generator/src/main/resources/perl/ApiClient.mustache
  pom.xml
  samples/client/petstore/perl/.openapi-generator/FILES
  samples/client/petstore/perl/README.md
  samples/client/petstore/perl/docs/AdditionalPropertiesClass.md
  samples/client/petstore/perl/docs/AnotherFakeApi.md
  samples/client/petstore/perl/docs/EnumTest.md
  samples/client/petstore/perl/docs/FakeApi.md
  samples/client/petstore/perl/docs/FakeClassnameTags123Api.md
  samples/client/petstore/perl/docs/FormatTest.md
  samples/client/petstore/perl/docs/PetApi.md
  samples/client/petstore/perl/docs/StoreApi.md
  samples/client/petstore/perl/docs/UserApi.md
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/AnotherFakeApi.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/ApiClient.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/FakeApi.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/FakeClassnameTags123Api.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/AdditionalPropertiesClass.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/EnumTest.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/FormatTest.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/PetApi.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/StoreApi.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/UserApi.pm
  samples/client/petstore/perl/tests/01_pet_api.t
  samples/client/petstore/perl/tests/03_api_factory.t
  samples/client/petstore/perl/tests/04_role.t
Labels: Client: Perl, Enhancement: CI/Test

#6482 Improve handling spaces in example command
  README.md
Labels: Docker, Enhancement: Feature, Feature: Documentation

#6501 [php-lumen] Show required PHP version in docs
  modules/openapi-generator/src/main/resources/php-lumen/licenseInfo.mustache
  modules/openapi-generator/src/main/resources/php-lumen/readme.md
  samples/server/petstore/php-lumen/lib/app/Http/Controllers/AnotherFakeApi.php
  samples/server/petstore/php-lumen/lib/app/Http/Controllers/FakeApi.php
  samples/server/petstore/php-lumen/lib/app/Http/Controllers/FakeClassnameTags123Api.php
  samples/server/petstore/php-lumen/lib/app/Http/Controllers/PetApi.php
  samples/server/petstore/php-lumen/lib/app/Http/Controllers/StoreApi.php
  samples/server/petstore/php-lumen/lib/app/Http/Controllers/UserApi.php
  samples/server/petstore/php-lumen/lib/readme.md
  samples/server/petstore/php-lumen/lib/routes/web.php
Labels: Enhancement: Compatibility, Server: PHP

#6502 [php-laravel] Show required PHP version in docs
  modules/openapi-generator/src/main/resources/php-laravel/README.md
  modules/openapi-generator/src/main/resources/php-laravel/licenseInfo.mustache
  samples/server/petstore/php-laravel/lib/README.md
  samples/server/petstore/php-laravel/lib/app/Http/Controllers/AnotherFakeController.php
  samples/server/petstore/php-laravel/lib/app/Http/Controllers/FakeClassnameTags123Controller.php
  samples/server/petstore/php-laravel/lib/app/Http/Controllers/FakeController.php
  samples/server/petstore/php-laravel/lib/app/Http/Controllers/PetController.php
  samples/server/petstore/php-laravel/lib/app/Http/Controllers/StoreController.php
  samples/server/petstore/php-laravel/lib/app/Http/Controllers/UserController.php
  samples/server/petstore/php-laravel/lib/routes/api.php
  samples/server/petstore/php-laravel/lib/routes/channels.php
  samples/server/petstore/php-laravel/lib/routes/console.php
  samples/server/petstore/php-laravel/lib/routes/web.php
Labels: Enhancement: Compatibility, Server: PHP

#6438 UE4 client generator fixes
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConfig.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppUE4ClientCodegen.java
  modules/openapi-generator/src/main/resources/cpp-ue4/api-operations-source.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/model-source.mustache
  samples/client/petstore/cpp-ue4/.openapi-generator/FILES
  samples/client/petstore/cpp-ue4/Private/OpenAPIApiResponse.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPICategory.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIOrder.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIPet.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIPetApiOperations.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIStoreApiOperations.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPITag.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIUser.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIUserApiOperations.cpp
  samples/client/petstore/cpp-ue4/Public/OpenAPIApiResponse.h
  samples/client/petstore/cpp-ue4/Public/OpenAPICategory.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIOrder.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIPet.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIPetApiOperations.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIStoreApiOperations.h
  samples/client/petstore/cpp-ue4/Public/OpenAPITag.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIUser.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIUserApiOperations.h
Labels: Client: C++, Issue: Bug
