Repository OpenAPITools/openapi-generator, pull requests merged in 2020-11, with the labels that each got.

#7813 [Protobuf] Fix support for AllOf in protobuf-schema
  modules/openapi-generator/src/main/java/org/openapitools/codegen/exceptions/ProtoBufIndexComputationException.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ProtobufSchemaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/TestUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/protobuf/ProtobufSchemaCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/protobuf-schema/pet.proto
Labels: Issue: Bug, Schema: ProtoBuf

#7857 [Protobuf] Better code format (Java files)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ProtobufSchemaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/protobuf/ProtobufSchemaCodegenTest.java
  samples/config/petstore/protobuf-schema/models/api_response.proto
  samples/config/petstore/protobuf-schema/models/category.proto
  samples/config/petstore/protobuf-schema/models/inline_object.proto
  samples/config/petstore/protobuf-schema/models/inline_object1.proto
  samples/config/petstore/protobuf-schema/models/order.proto
  samples/config/petstore/protobuf-schema/models/pet.proto
  samples/config/petstore/protobuf-schema/models/tag.proto
  samples/config/petstore/protobuf-schema/models/user.proto
Labels: Enhancement: Code format, Schema: ProtoBuf

#7844 [node-express-server] template-only change to fix use of 'airbnb-base' ESLint plugin
  modules/openapi-generator/src/main/resources/nodejs-express-server/eslintrc.mustache
Labels: Issue: Bug, Server: Nodejs

#7816 [typescript-axios] Serialize complex type in multipart/form-data as JSON (#7658)
  modules/openapi-generator/src/main/resources/typescript-axios/apiInner.mustache
  samples/client/petstore/typescript-axios/builds/default/api.ts
  samples/client/petstore/typescript-axios/builds/es6-target/api.ts
  samples/client/petstore/typescript-axios/builds/with-complex-headers/api.ts
  samples/client/petstore/typescript-axios/builds/with-interfaces/api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/pet-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version/api.ts
  samples/client/petstore/typescript-axios/builds/with-single-request-parameters/api.ts
Labels: Client: TypeScript

#7736 [Dart2] Fix a bug when asking to upload a MultipartFile as body.
  modules/openapi-generator/src/main/resources/dart2/api_client.mustache
  modules/openapi-generator/src/main/resources/dart2/api_helper.mustache
  samples/client/petstore/dart2/petstore_client_lib/lib/api_client.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api_helper.dart
Labels: Client: Dart, Issue: Bug

#7870 Fix deserialization for null JSON payload in .NET framework 4.7
  modules/openapi-generator/src/main/resources/csharp-netcore/modelAnyOf.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/modelOneOf.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Fruit.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/FruitReq.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/GmFruit.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Mammal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/NullableShape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Pig.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Quadrilateral.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Shape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/ShapeOrNull.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Triangle.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Fruit.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/FruitReq.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/GmFruit.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Mammal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/NullableShape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Pig.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Quadrilateral.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Shape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/ShapeOrNull.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Triangle.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Fruit.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/FruitReq.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/GmFruit.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Mammal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/NullableShape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Pig.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Quadrilateral.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Shape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/ShapeOrNull.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Triangle.cs
Labels: Client: C-Sharp, Issue: Bug

#7847 [python] check output content-type only if preload_content is set
  modules/openapi-generator/src/main/resources/python/api_client.mustache
  samples/client/petstore/python-asyncio/petstore_api/api_client.py
  samples/client/petstore/python-tornado/petstore_api/api_client.py
  samples/client/petstore/python/petstore_api/api_client.py
  samples/openapi3/client/petstore/python/petstore_api/api_client.py
Labels: Client: Python

#7883 [c#][netcore] Skip readonly properties in serialization
  modules/openapi-generator/src/main/resources/csharp-netcore/modelGeneric.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/HasOnlyReadOnly.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Name.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/ReadOnlyFirst.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools.Test/JSONComposedSchemaTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/HasOnlyReadOnly.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Name.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/ReadOnlyFirst.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/HasOnlyReadOnly.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Name.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/ReadOnlyFirst.cs
Labels: Client: C-Sharp, Enhancement: General

#7893 Adds vars and requiredVars to Schema classes
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModel.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenProperty.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenResponse.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/IJsonSchemaValidationProperties.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_7613.yaml
Labels: Enhancement: Feature

#7884 [csharp-netcore]Fixed the null serialization issue for dotnet47
  modules/openapi-generator/src/main/resources/csharp-netcore/modelAnyOf.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/modelOneOf.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Fruit.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/FruitReq.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/GmFruit.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Mammal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/NullableShape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Pig.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Quadrilateral.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Shape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/ShapeOrNull.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Triangle.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Fruit.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/FruitReq.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/GmFruit.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Mammal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/NullableShape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Pig.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Quadrilateral.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Shape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/ShapeOrNull.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Triangle.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Fruit.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/FruitReq.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/GmFruit.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Mammal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/NullableShape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Pig.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Quadrilateral.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Shape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/ShapeOrNull.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Triangle.cs
Labels: Client: C-Sharp, Issue: Bug

#7875 [Swift5] fix decimal mapping
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift5ClientCodegen.java
  samples/client/petstore/swift5/alamofireLibrary/docs/FakeAPI.md
  samples/client/petstore/swift5/alamofireLibrary/docs/PetAPI.md
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/combineLibrary/docs/FakeAPI.md
  samples/client/petstore/swift5/combineLibrary/docs/PetAPI.md
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/default/docs/FakeAPI.md
  samples/client/petstore/swift5/default/docs/PetAPI.md
  samples/client/petstore/swift5/deprecated/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/deprecated/docs/PetAPI.md
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/nonPublicApi/docs/FakeAPI.md
  samples/client/petstore/swift5/nonPublicApi/docs/PetAPI.md
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/objcCompatible/docs/FakeAPI.md
  samples/client/petstore/swift5/objcCompatible/docs/PetAPI.md
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/promisekitLibrary/docs/FakeAPI.md
  samples/client/petstore/swift5/promisekitLibrary/docs/PetAPI.md
  samples/client/petstore/swift5/readonlyProperties/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/readonlyProperties/docs/FakeAPI.md
  samples/client/petstore/swift5/readonlyProperties/docs/PetAPI.md
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/resultLibrary/docs/FakeAPI.md
  samples/client/petstore/swift5/resultLibrary/docs/PetAPI.md
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/rxswiftLibrary/docs/FakeAPI.md
  samples/client/petstore/swift5/rxswiftLibrary/docs/PetAPI.md
  samples/client/petstore/swift5/urlsessionLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/urlsessionLibrary/docs/FakeAPI.md
  samples/client/petstore/swift5/urlsessionLibrary/docs/PetAPI.md
Labels: Client: Swift, Issue: Bug

#7845 [Python][Experimental] Skip validation if input_value is None
  modules/openapi-generator/src/main/resources/python/python-experimental/model_utils.mustache
  samples/client/petstore/python-experimental/petstore_api/model_utils.py
  samples/openapi3/client/extensions/x-auth-id-alias/python-experimental/x_auth_id_alias/model_utils.py
  samples/openapi3/client/features/dynamic-servers/python-experimental/dynamic_servers/model_utils.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/model_utils.py
Labels: Client: Python, Issue: Bug

#7892 [typescript-axios]: Check configuration is defined in `api.ts` so it compiles with `strict` flag
  modules/openapi-generator/src/main/resources/typescript-axios/apiInner.mustache
  samples/client/petstore/typescript-axios/builds/composed-schemas/api.ts
  samples/client/petstore/typescript-axios/builds/default/api.ts
  samples/client/petstore/typescript-axios/builds/es6-target/api.ts
  samples/client/petstore/typescript-axios/builds/with-complex-headers/api.ts
  samples/client/petstore/typescript-axios/builds/with-interfaces/api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/pet-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/store-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/user-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version/api.ts
  samples/client/petstore/typescript-axios/builds/with-single-request-parameters/api.ts
Labels: Client: TypeScript

#7901 [C#][netcore] throw exception for invalid framework
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
Labels: Client: C-Sharp, Enhancement: General

#7907 [C#][Nancyfx] fix incorrect import
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNancyFXServerCodegen.java
  modules/openapi-generator/src/main/resources/csharp-nancyfx/api.mustache
  modules/openapi-generator/src/main/resources/csharp-nancyfx/model.mustache
  samples/server/petstore/nancyfx-async/IO.Swagger.sln
  samples/server/petstore/nancyfx-async/src/Org.OpenAPITools/Models/ApiResponse.cs
  samples/server/petstore/nancyfx-async/src/Org.OpenAPITools/Models/Category.cs
  samples/server/petstore/nancyfx-async/src/Org.OpenAPITools/Models/Order.cs
  samples/server/petstore/nancyfx-async/src/Org.OpenAPITools/Models/Pet.cs
  samples/server/petstore/nancyfx-async/src/Org.OpenAPITools/Models/Tag.cs
  samples/server/petstore/nancyfx-async/src/Org.OpenAPITools/Models/User.cs
  samples/server/petstore/nancyfx-async/src/Org.OpenAPITools/Modules/PetModule.cs
  samples/server/petstore/nancyfx-async/src/Org.OpenAPITools/Modules/StoreModule.cs
  samples/server/petstore/nancyfx-async/src/Org.OpenAPITools/Modules/UserModule.cs
  samples/server/petstore/nancyfx/IO.Swagger.sln
  samples/server/petstore/nancyfx/src/Org.OpenAPITools/Models/ApiResponse.cs
  samples/server/petstore/nancyfx/src/Org.OpenAPITools/Models/Category.cs
  samples/server/petstore/nancyfx/src/Org.OpenAPITools/Models/Order.cs
  samples/server/petstore/nancyfx/src/Org.OpenAPITools/Models/Pet.cs
  samples/server/petstore/nancyfx/src/Org.OpenAPITools/Models/Tag.cs
  samples/server/petstore/nancyfx/src/Org.OpenAPITools/Models/User.cs
  samples/server/petstore/nancyfx/src/Org.OpenAPITools/Modules/PetModule.cs
  samples/server/petstore/nancyfx/src/Org.OpenAPITools/Modules/StoreModule.cs
  samples/server/petstore/nancyfx/src/Org.OpenAPITools/Modules/UserModule.cs
Labels: Issue: Bug, Server: C-Sharp

#7876 Better decimal support in Scala generators
  docs/generators/scala-finch.md
  docs/generators/scalatra.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaAkkaClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaAkkaHttpServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaFinchServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaPlayFrameworkServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaSttpClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalatraServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalazClientCodegen.java
Labels: Client: Scala, Enhancement: General, Server: Scala

#7918 [python] Adds tests case showing omitting optional props when tx and rxing
  samples/openapi3/client/petstore/python-experimental/tests_manual/test_fake_api.py
Labels: Client: Python, Enhancement: CI/Test

#7923 [typescript-axios] Fix missing parenthesis in apiInner.mustache
  modules/openapi-generator/src/main/resources/typescript-axios/apiInner.mustache
Labels: Client: TypeScript

#7932 Fix shippable issue
  shippable.yml
Labels: Enhancement: CI/Test

#7921 [C#][netcore] Add test for AdditionalProperties in both child and parent
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools.Test/Model/CatTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools.Test/JSONComposedSchemaTests.cs
Labels: Client: C-Sharp, Enhancement: CI/Test

#7937 typescript-angular: Angular 11 support
  bin/configs/typescript-angular-v11-provided-in-root-with-npm.yaml
  bin/configs/typescript-angular-v11-provided-in-root.yaml
  docs/generators/typescript-angular.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/default/.gitignore
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/default/.openapi-generator-ignore
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/default/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/default/.openapi-generator/VERSION
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/default/README.md
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/default/api.module.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/default/api/api.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/default/configuration.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/default/encoder.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/default/git_push.sh
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/default/index.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/default/model/apiResponse.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/default/model/category.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/default/model/models.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/default/model/order.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/default/model/pet.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/default/model/tag.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/default/model/user.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/default/variables.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/.gitignore
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/.openapi-generator-ignore
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/.openapi-generator/VERSION
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/README.md
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/api.module.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/api/api.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/configuration.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/encoder.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/git_push.sh
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/index.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/model/apiResponse.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/model/category.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/model/models.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/model/order.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/model/pet.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/model/tag.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/model/user.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/ng-package.json
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/package.json
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/tsconfig.json
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/variables.ts
Labels: Breaking change (with fallback), Client: TypeScript

#7894 [typescript-fetch] Allow to generate client without runtime checks
  bin/configs/typescript-fetch-without-runtime-checks.yaml
  docs/generators/typescript-fetch.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptFetchClientCodegen.java
  modules/openapi-generator/src/main/resources/typescript-fetch/apis.mustache
  modules/openapi-generator/src/main/resources/typescript-fetch/modelEnum.mustache
  modules/openapi-generator/src/main/resources/typescript-fetch/modelEnumInterfaces.mustache
  modules/openapi-generator/src/main/resources/typescript-fetch/modelGeneric.mustache
  modules/openapi-generator/src/main/resources/typescript-fetch/modelGenericInterfaces.mustache
  modules/openapi-generator/src/main/resources/typescript-fetch/modelOneOf.mustache
  modules/openapi-generator/src/main/resources/typescript-fetch/modelOneOfInterfaces.mustache
  modules/openapi-generator/src/main/resources/typescript-fetch/models.index.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/TypeScriptFetchClientOptionsProvider.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/fetch/TypeScriptFetchClientOptionsTest.java
  samples/client/petstore/typescript-fetch/builds/default/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/default/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/typescript-three-plus/src/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/typescript-three-plus/src/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/models/Pet.ts
  samples/client/petstore/typescript-fetch/builds/without-runtime-checks/.gitignore
  samples/client/petstore/typescript-fetch/builds/without-runtime-checks/.npmignore
  samples/client/petstore/typescript-fetch/builds/without-runtime-checks/.openapi-generator-ignore
  samples/client/petstore/typescript-fetch/builds/without-runtime-checks/.openapi-generator/FILES
  samples/client/petstore/typescript-fetch/builds/without-runtime-checks/.openapi-generator/VERSION
  samples/client/petstore/typescript-fetch/builds/without-runtime-checks/README.md
  samples/client/petstore/typescript-fetch/builds/without-runtime-checks/package.json
  samples/client/petstore/typescript-fetch/builds/without-runtime-checks/src/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/without-runtime-checks/src/apis/StoreApi.ts
  samples/client/petstore/typescript-fetch/builds/without-runtime-checks/src/apis/UserApi.ts
  samples/client/petstore/typescript-fetch/builds/without-runtime-checks/src/apis/index.ts
  samples/client/petstore/typescript-fetch/builds/without-runtime-checks/src/index.ts
  samples/client/petstore/typescript-fetch/builds/without-runtime-checks/src/models/index.ts
  samples/client/petstore/typescript-fetch/builds/without-runtime-checks/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/without-runtime-checks/tsconfig.json
Labels: Client: TypeScript

#7979 Set generateAliasAsModel to false in tests
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
Labels: Enhancement: CI/Test, Feature: Generator

#7981 [python] Add warning about unsupported libraries
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
Labels: Client: Python, Enhancement: General

#7978 [Java][jersey2] fix additional properties without variables
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/pojo.mustache
Labels: Client: Java, Issue: Bug

#7924 Fix duplicated mappedModels
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenDiscriminator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/resources/csharp-netcore/modelGeneric.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/jaxrs/JavaJaxrsBaseTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/ruby/RubyClientCodegenTest.java
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Animal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/GrandparentAnimal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/ParentPet.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Animal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/GrandparentAnimal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/ParentPet.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Animal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/GrandparentAnimal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/ParentPet.cs
  samples/client/petstore/typescript-fetch/builds/default-v3.0/models/Animal.ts
  samples/server/petstore/jaxrs-cxf/src/gen/java/org/openapitools/model/Animal.java
  samples/server/petstore/jaxrs-datelib-j8/src/gen/java/org/openapitools/model/Animal.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/model/Animal.java
  samples/server/petstore/jaxrs-spec-interface/src/gen/java/org/openapitools/model/Animal.java
  samples/server/petstore/jaxrs-spec/src/gen/java/org/openapitools/model/Animal.java
  samples/server/petstore/jaxrs/jersey1-useTags/src/gen/java/org/openapitools/model/Animal.java
  samples/server/petstore/jaxrs/jersey1/src/gen/java/org/openapitools/model/Animal.java
  samples/server/petstore/jaxrs/jersey2-useTags/src/gen/java/org/openapitools/model/Animal.java
  samples/server/petstore/jaxrs/jersey2/src/gen/java/org/openapitools/model/Animal.java
  samples/server/petstore/spring-mvc-j8-async/src/main/java/org/openapitools/model/Animal.java
  samples/server/petstore/spring-mvc-j8-localdatetime/src/main/java/org/openapitools/model/Animal.java
  samples/server/petstore/spring-mvc-no-nullable/src/main/java/org/openapitools/model/Animal.java
  samples/server/petstore/spring-mvc-spring-pageable/src/main/java/org/openapitools/model/Animal.java
  samples/server/petstore/spring-mvc/src/main/java/org/openapitools/model/Animal.java
  samples/server/petstore/springboot-beanvalidation-no-nullable/src/main/java/org/openapitools/model/Animal.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/org/openapitools/model/Animal.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/model/Animal.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/model/Animal.java
  samples/server/petstore/springboot-implicitHeaders/src/main/java/org/openapitools/model/Animal.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/model/Animal.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern-without-j8/src/main/java/org/openapitools/model/Animal.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern/src/main/java/org/openapitools/model/Animal.java
  samples/server/petstore/springboot-spring-pageable-without-j8/src/main/java/org/openapitools/model/Animal.java
  samples/server/petstore/springboot-spring-pageable/src/main/java/org/openapitools/model/Animal.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/Animal.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/Animal.java
  samples/server/petstore/springboot/src/main/java/org/openapitools/model/Animal.java
Labels: Feature: Generator, Issue: Bug

#7998 [Go] fix string comparison in the generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
Labels: Client: Go, Issue: Bug

#8001 Test OAS v3 Java native client in drone.ci
  CI/.drone.yml
Labels: Client: Java, Enhancement: CI/Test

#7969 [DART2] A couple of bug fixes
  modules/openapi-generator/src/main/resources/dart2/api.mustache
  modules/openapi-generator/src/main/resources/dart2/class.mustache
  modules/openapi-generator/src/main/resources/dart2/enum.mustache
  modules/openapi-generator/src/main/resources/dart2/enum_inline.mustache
  samples/client/petstore/dart2/petstore_client_lib/lib/api/pet_api.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api/store_api.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api/user_api.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/model/api_response.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/model/category.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/model/order.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/model/pet.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/model/tag.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/model/user.dart
Labels: Client: Dart, Issue: Bug

#7963 Fixes to go API documentation generation
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
  modules/openapi-generator/src/main/resources/go/api_doc.mustache
  modules/openapi-generator/src/main/resources/go/model_doc.mustache
  samples/client/petstore/go/go-petstore/docs/AdditionalPropertiesClass.md
  samples/client/petstore/go/go-petstore/docs/ArrayOfArrayOfNumberOnly.md
  samples/client/petstore/go/go-petstore/docs/ArrayTest.md
  samples/client/petstore/go/go-petstore/docs/FormatTest.md
  samples/client/petstore/go/go-petstore/docs/MapTest.md
  samples/client/petstore/go/go-petstore/docs/MixedPropertiesAndAdditionalPropertiesClass.md
  samples/client/petstore/go/go-petstore/docs/Order.md
  samples/openapi3/client/petstore/go/go-petstore/docs/AdditionalPropertiesClass.md
  samples/openapi3/client/petstore/go/go-petstore/docs/ArrayOfArrayOfNumberOnly.md
  samples/openapi3/client/petstore/go/go-petstore/docs/ArrayTest.md
  samples/openapi3/client/petstore/go/go-petstore/docs/FormatTest.md
  samples/openapi3/client/petstore/go/go-petstore/docs/InlineObject1.md
  samples/openapi3/client/petstore/go/go-petstore/docs/InlineObject3.md
  samples/openapi3/client/petstore/go/go-petstore/docs/InlineObject5.md
  samples/openapi3/client/petstore/go/go-petstore/docs/MapTest.md
  samples/openapi3/client/petstore/go/go-petstore/docs/MixedPropertiesAndAdditionalPropertiesClass.md
  samples/openapi3/client/petstore/go/go-petstore/docs/NullableClass.md
  samples/openapi3/client/petstore/go/go-petstore/docs/Order.md
Labels: Client: Go, Enhancement: Feature, Feature: Documentation

#7911 [JS] (#7910) Fixing undefined error caused by no `this` instances
  modules/openapi-generator/src/main/resources/Javascript/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Javascript/es6/ApiClient.mustache
  samples/client/petstore/javascript-es6/src/ApiClient.js
  samples/client/petstore/javascript-promise-es6/src/ApiClient.js
Labels: Client: JavaScript/Node.js, Issue: Bug

#7855 Correct allOf with only one child schema (no discriminator)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaInheritanceTest.java
Labels: Breaking change (without fallback), Feature: Generator, Issue: Bug

#7854 Add isRange in CodegenResponse
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenResponse.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Enhancement: Feature, Feature: Generator

#7943 [php][bug] Fixes exceptions with API's with too high date-time nanosecond precision
  modules/openapi-generator/src/main/resources/php/ObjectSerializer.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/ObjectSerializer.php
Labels: Client: PHP, Issue: Bug

#7985 [kotlin-spring] Fix required requestBoby of kotlin spring
  modules/openapi-generator/src/main/resources/kotlin-spring/bodyParams.mustache
Labels: Server: Kotlin

#7945 [java][webclient] remove default Content-Type
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/ApiClient.mustache
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#7906 [rust-server] Fix keyParamName not used for query API token
  modules/openapi-generator/src/main/resources/rust-server/context.mustache
Labels: Issue: Bug, Server: Rust

#7877 [Dart2] Fix compile errors for required enums without default value.
  modules/openapi-generator/src/main/resources/dart2/class.mustache
Labels: Client: Dart, Feature: Enum, Issue: Bug

#7878 Allows install typescript client via npm from Git
  modules/openapi-generator/src/main/resources/typescript/package.mustache
  samples/openapi3/client/petstore/typescript/builds/default/package.json
  samples/openapi3/client/petstore/typescript/builds/inversify/package.json
  samples/openapi3/client/petstore/typescript/builds/jquery/package.json
  samples/openapi3/client/petstore/typescript/builds/object_params/package.json
Labels: Client: TypeScript, Enhancement: General

#7872 [jaxrs-cxf-cdi] Fix issue when generating code for header params when there are defaultValues defined
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-cdi/headerParams.mustache
Labels: Issue: Bug, Server: Java

#7914 [JS] (#7913) Adding support for multi file upload.
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptClientCodegen.java
  modules/openapi-generator/src/main/resources/Javascript/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Javascript/es6/ApiClient.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/javascript/JavascriptClientCodegenTest.java
  samples/client/petstore/javascript-es6/src/ApiClient.js
  samples/client/petstore/javascript-promise-es6/src/ApiClient.js
Labels: Client: JavaScript/Node.js, Issue: Bug

#8018 [java]Fix incompatible types error for number
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/AbstractJavaCodegenTest.java
Labels: Client: Java, Issue: Bug

#8019 [ruby] make the generated ruby oneOf specs pass
  modules/openapi-generator/src/main/resources/ruby-client/model_test.mustache
Labels: Client: Ruby, Enhancement: CI/Test

#7974 [C][Client] Support progress function of libcurl
  modules/openapi-generator/src/main/resources/C-libcurl/apiClient.c.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/apiClient.h.mustache
  samples/client/petstore/c/include/apiClient.h
  samples/client/petstore/c/src/apiClient.c
Labels: Client: C, Enhancement: Feature

#7582 Expose JsonSerializerSettings in ApiClient
  modules/openapi-generator/src/main/resources/csharp-netcore/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp/ApiClient.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools.Test/ApiClientTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientNetStandard/src/Org.OpenAPITools/Client/ApiClient.cs
Labels: Client: C-Sharp, Enhancement: General

#7967 Fix list examples in python
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
Labels: Client: Python, Enhancement: Feature, Feature: Documentation

#8012 Improve generated Java examples
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/api_doc.mustache
  samples/client/petstore/java/google-api-client/docs/FakeApi.md
  samples/client/petstore/java/jersey1/docs/FakeApi.md
  samples/client/petstore/java/jersey2-java8/docs/FakeApi.md
  samples/client/petstore/java/jersey2-java8/docs/PetApi.md
  samples/client/petstore/java/native-async/docs/FakeApi.md
  samples/client/petstore/java/native/docs/FakeApi.md
  samples/client/petstore/java/okhttp-gson-parcelableModel/docs/FakeApi.md
  samples/client/petstore/java/okhttp-gson/docs/FakeApi.md
  samples/client/petstore/java/resteasy/docs/FakeApi.md
  samples/client/petstore/java/resttemplate-withXml/docs/FakeApi.md
  samples/client/petstore/java/resttemplate/docs/FakeApi.md
  samples/client/petstore/java/retrofit2-play26/docs/FakeApi.md
  samples/client/petstore/java/retrofit2/docs/FakeApi.md
  samples/client/petstore/java/retrofit2rx2/docs/FakeApi.md
  samples/client/petstore/java/retrofit2rx3/docs/FakeApi.md
  samples/client/petstore/java/vertx-no-nullable/docs/FakeApi.md
  samples/client/petstore/java/vertx/docs/FakeApi.md
  samples/client/petstore/java/webclient/docs/FakeApi.md
  samples/openapi3/client/petstore/java/jersey2-java8/docs/FakeApi.md
  samples/openapi3/client/petstore/java/jersey2-java8/docs/PetApi.md
  samples/openapi3/client/petstore/java/native/docs/FakeApi.md
Labels: Client: Java, Enhancement: Feature, Feature: Documentation, Server: Java

#7864 [Java][Play] Fix compilation issues when using the supportAsync option
  docs/generators/java-play-framework.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaPlayFrameworkCodegen.java
  modules/openapi-generator/src/main/resources/JavaPlayFramework/newApiInterface.mustache
  modules/openapi-generator/src/main/resources/JavaPlayFramework/responseToResult.mustache
  samples/server/petstore/java-play-framework-async/app/controllers/PetApiControllerImpInterface.java
  samples/server/petstore/java-play-framework-async/app/controllers/StoreApiControllerImpInterface.java
  samples/server/petstore/java-play-framework-async/app/controllers/UserApiControllerImpInterface.java
Labels: Issue: Bug, Server: Java

#8004 [C++][Qt5] added Authentication Support
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppQt5ClientCodegen.java
  modules/openapi-generator/src/main/resources/cpp-qt5-client/README.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-header.mustache
  samples/client/petstore/cpp-qt5/PetStore/PetApiTests.cpp
  samples/client/petstore/cpp-qt5/PetStore/StoreApiTests.cpp
  samples/client/petstore/cpp-qt5/README.md
  samples/client/petstore/cpp-qt5/client/PFXPetApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXPetApi.h
  samples/client/petstore/cpp-qt5/client/PFXStoreApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXStoreApi.h
  samples/client/petstore/cpp-qt5/client/PFXUserApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXUserApi.h
Labels: Client: C++, Enhancement: Security

#8043 [cpprest] Deserialize Float without decimal point
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/api-source.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/modelbase-header.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/modelbase-source.mustache
  samples/client/petstore/cpp-restsdk/client/ModelBase.cpp
  samples/client/petstore/cpp-restsdk/client/ModelBase.h
  samples/client/petstore/cpp-restsdk/client/api/PetApi.cpp
  samples/client/petstore/cpp-restsdk/client/api/StoreApi.cpp
  samples/client/petstore/cpp-restsdk/client/api/UserApi.cpp
Labels: Client: C++, Issue: Bug

#7993 feature(PHP): include the current value with enum failure
  modules/openapi-generator/src/main/resources/php/model_generic.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/EnumArrays.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/EnumTest.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/InlineObject2.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Order.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Pet.php
  samples/client/petstore/php/OpenAPIClient-php/tests/EnumTestTest.php
Labels: Client: PHP, Enhancement: Feature, Feature: Enum
