Repository OpenAPITools/openapi-generator, pull requests merged in 2020-06, with the labels that each got.

#6508 [Java][Jersey2] add petstore integration tests
  bin/java-petstore-jersey2-java7.json
  samples/client/petstore/java/jersey2-java8/src/test/java/org/openapitools/client/api/PetApiTest.java
Labels: Client: Java, Enhancement: CI/Test

#6451 [Python][Client] Fix delimiter collision issue #5981
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonClientCodegenTest.java
Labels: Client: Python, Issue: Bug

#6510 Minor enhancement to Python client generator's code format
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientExperimentalCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonClientExperimentalTest.java
Labels: Client: Python, Enhancement: Code format

#6514 Undo PR #6451
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientExperimentalCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonClientExperimentalTest.java
Labels: Client: Python, Issue: Undo changes

#6515 Update Generate.java
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
Labels: Enhancement: General, OpenAPI Generator CLI

#6511 [Go][Experimental] Add discriminator support to anyOf
  modules/openapi-generator/src/main/resources/go-experimental/model_anyof.mustache
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_gm_fruit.go
Labels: Client: Go, Enhancement: Feature, Feature: OAS 3.0 spec support, WIP

#6512 [PowerShell] Add discriminator support to anyOf
  modules/openapi-generator/src/main/resources/powershell/model_anyof.mustache
Labels: Client: PowerShell, Enhancement: Feature, Feature: OAS 3.0 spec support

#6516 [PowerShell] Add useOneOfDiscriminatorLookup option
  docs/generators/powershell.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellClientCodegen.java
  modules/openapi-generator/src/main/resources/powershell/model_oneof.mustache
  samples/client/petstore/powershell/src/PSPetstore/Client/PSConfiguration.ps1
  samples/client/petstore/powershell/src/PSPetstore/Private/PSHttpSignatureAuth.ps1
  samples/client/petstore/powershell/src/PSPetstore/Private/PSRSAEncryptionProvider.cs
Labels: Client: PowerShell, Enhancement: Feature, Feature: OAS 3.0 spec support

#6495 [java][jersey2] Add support for discriminator, fix nullable typo and nullable deserialization
  CI/samples.ci/client/petstore/java/test-manual/jersey2-java8/JSONComposedSchemaTest.java
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/AbstractOpenApiSchema.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/JSON.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/anyof_model.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/oneof_model.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/pom.mustache
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/JSON.java
  samples/openapi3/client/petstore/java/jersey2-java8/pom.xml
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/JSON.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/AbstractOpenApiSchema.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Fruit.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/FruitReq.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/GmFruit.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Mammal.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/NullableShape.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Pig.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Quadrilateral.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Shape.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/ShapeOrNull.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Triangle.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/test/java/org/openapitools/client/JSONComposedSchemaTest.java
Labels: Client: Java

#6517 [Go][Experimental] add oneOf discrimistrator lookup
  docs/generators/go-experimental.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientExperimentalCodegen.java
  modules/openapi-generator/src/main/resources/go-experimental/model_oneof.mustache
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_fruit.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_fruit_req.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_mammal.go
Labels: Client: Go, Enhancement: Feature, Feature: OAS 3.0 spec support

#6368 Typescript-rxjs: print param name
  modules/openapi-generator/src/main/resources/typescript-rxjs/apis.mustache
  modules/openapi-generator/src/main/resources/typescript-rxjs/runtime.mustache
  samples/client/petstore/typescript-rxjs/builds/default/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/default/apis/StoreApi.ts
  samples/client/petstore/typescript-rxjs/builds/default/apis/UserApi.ts
  samples/client/petstore/typescript-rxjs/builds/default/runtime.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/apis/StoreApi.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/apis/UserApi.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/runtime.ts
  samples/client/petstore/typescript-rxjs/builds/with-interfaces/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-interfaces/apis/StoreApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-interfaces/apis/UserApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-interfaces/runtime.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/apis/StoreApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/apis/UserApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/runtime.ts
Labels: Client: TypeScript

#6521 [Go][Experimental] Fix discriminator lookup
  modules/openapi-generator/src/main/resources/go-experimental/model_oneof.mustache
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_fruit.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_fruit_req.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_mammal.go
Labels: Client: Go, Enhancement: Code format, Feature: OAS 3.0 spec support, Issue: Bug

#6172 Register OAuth2ClientContext as bean
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-cloud/clientConfiguration.mustache
  samples/client/petstore/spring-cloud-async/src/main/java/org/openapitools/configuration/ClientConfiguration.java
  samples/client/petstore/spring-cloud/src/main/java/org/openapitools/configuration/ClientConfiguration.java
Labels: Enhancement: General, Server: Spring

#6458 [python] Fix date-time parsing
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientExperimentalCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonClientExperimentalTest.java
  modules/openapi-generator/src/test/resources/3_0/python-experimental/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/openapi3/client/petstore/python-experimental/docs/InlineObject3.md
  samples/openapi3/client/petstore/python-experimental/petstore_api/model/inline_object3.py
Labels: Client: Python, Issue: Bug

#6101 #5476 [kotlin] [spring] fix swagger and spring annotation for defaultValue
  modules/openapi-generator/src/main/resources/kotlin-spring/queryParams.mustache
Labels: Issue: Bug, Server: Spring

#6528 [PS] Add additional properties support
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellClientCodegen.java
  modules/openapi-generator/src/main/resources/powershell/model_simple.mustache
  modules/openapi-generator/src/test/resources/3_0/powershell/petstore.yaml
  samples/client/petstore/powershell/src/PSPetstore/Model/Tag.ps1
  samples/client/petstore/powershell/src/PSPetstore/PSPetstore.psd1
Labels: Client: PowerShell

#6536 [PS] update pester to 5.x
  appveyor.yml
  modules/openapi-generator/src/main/resources/powershell/api_test.mustache
  modules/openapi-generator/src/main/resources/powershell/model_test.mustache
  samples/client/petstore/powershell/.openapi-generator/FILES
  samples/client/petstore/powershell/src/PSPetstore/PSPetstore.psd1
  samples/client/petstore/powershell/tests/Api/PSPetApi.Tests.ps1
  samples/client/petstore/powershell/tests/Api/PSStoreApi.Tests.ps1
  samples/client/petstore/powershell/tests/Api/PSUserApi.Tests.ps1
  samples/client/petstore/powershell/tests/Model/ApiResponse.Tests.ps1
  samples/client/petstore/powershell/tests/Model/Category.Tests.ps1
  samples/client/petstore/powershell/tests/Model/InlineObject.Tests.ps1
  samples/client/petstore/powershell/tests/Model/InlineObject1.Tests.ps1
  samples/client/petstore/powershell/tests/Model/Order.Tests.ps1
  samples/client/petstore/powershell/tests/Model/Pet.Tests.ps1
  samples/client/petstore/powershell/tests/Model/Tag.Tests.ps1
  samples/client/petstore/powershell/tests/Model/User.Tests.ps1
  samples/client/petstore/powershell/tests/Petstore.Tests.ps1
Labels: Client: PowerShell, Enhancement: CI/Test

#6539 [C++][Ue4] various bus fixes
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppUE4ClientCodegen.java
  modules/openapi-generator/src/main/resources/cpp-ue4/Build.cs.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/api-operations-header.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/helpers-header.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/helpers-source.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/model-base-header.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/model-header.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/model-source.mustache
  samples/client/petstore/cpp-ue4/OpenAPI.Build.cs
  samples/client/petstore/cpp-ue4/Private/OpenAPIApiResponse.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPICategory.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIHelpers.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIOrder.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIPet.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPITag.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIUser.cpp
  samples/client/petstore/cpp-ue4/Public/OpenAPIApiResponse.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIBaseModel.h
  samples/client/petstore/cpp-ue4/Public/OpenAPICategory.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIHelpers.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIOrder.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIPet.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIPetApiOperations.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIStoreApiOperations.h
  samples/client/petstore/cpp-ue4/Public/OpenAPITag.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIUser.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIUserApiOperations.h
Labels: Client: C++, Issue: Bug

#6542 [PS] automatically derive discriminator mapping for oneOf/anyOf
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellClientCodegen.java
  modules/openapi-generator/src/main/resources/powershell/model_anyof.mustache
  modules/openapi-generator/src/main/resources/powershell/model_oneof.mustache
  samples/client/petstore/powershell/.openapi-generator/FILES
Labels: Client: PowerShell, Enhancement: Feature, Feature: OAS 3.0 spec support

#6543 [Go] whitelist AdditionalProperties in the field name
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
Labels: Client: Go, Enhancement: General, Server: Go

#6549 [Swift] fix GET request with array parameter
  modules/openapi-generator/src/main/resources/swift5/APIHelper.mustache
  samples/client/petstore/swift5/alamofireLibrary/.openapi-generator/FILES
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift5/combineLibrary/.openapi-generator/FILES
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift5/default/.openapi-generator/FILES
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift5/deprecated/.openapi-generator/FILES
  samples/client/petstore/swift5/deprecated/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift5/nonPublicApi/.openapi-generator/FILES
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift5/objcCompatible/.openapi-generator/FILES
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift5/promisekitLibrary/.openapi-generator/FILES
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift5/readonlyProperties/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift5/resultLibrary/.openapi-generator/FILES
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift5/rxswiftLibrary/.openapi-generator/FILES
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift5/urlsessionLibrary/.openapi-generator/FILES
  samples/client/petstore/swift5/urlsessionLibrary/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/test/swift5/default/.openapi-generator/FILES
  samples/client/test/swift5/default/TestClient/Classes/OpenAPIs/APIHelper.swift
Labels: Client: Swift, Issue: Bug

#6554 Remove scala-related profile from the pom
  pom.xml
Labels: Enhancement: Compatibility

#6520 [C++][Pistache] Catch HttpError from user-provided handler
  modules/openapi-generator/src/main/resources/cpp-pistache-server/api-source.mustache
  samples/server/petstore/cpp-pistache/.openapi-generator/FILES
  samples/server/petstore/cpp-pistache/.openapi-generator/VERSION
  samples/server/petstore/cpp-pistache/api/PetApi.cpp
  samples/server/petstore/cpp-pistache/api/StoreApi.cpp
  samples/server/petstore/cpp-pistache/api/UserApi.cpp
Labels: Enhancement: General, Server: C++

#6553 Fix typescript generator for parameter collectionFormat for pipes ssv
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/go-experimental/go-petstore/api_fake.go
  samples/client/petstore/go/go-petstore-withXml/api_fake.go
  samples/client/petstore/go/go-petstore/api_fake.go
  samples/client/petstore/java/feign10x/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/jersey1/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/retrofit2-play24/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/retrofit2-play25/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/retrofit2-play26/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/retrofit2/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/retrofit2rx/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/retrofit2rx2/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/api/FakeApiImpl.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/javascript-es6/src/api/FakeApi.js
  samples/client/petstore/javascript-promise-es6/src/api/FakeApi.js
  samples/client/petstore/python-asyncio/petstore_api/api/fake_api.py
  samples/client/petstore/python-tornado/petstore_api/api/fake_api.py
  samples/client/petstore/python/petstore_api/api/fake_api.py
  samples/client/petstore/ruby-faraday/lib/petstore/api/fake_api.rb
  samples/client/petstore/ruby/lib/petstore/api/fake_api.rb
  samples/openapi3/client/petstore/go-experimental/go-petstore/api_fake.go
  samples/openapi3/client/petstore/go/go-petstore/api_fake.go
  samples/openapi3/client/petstore/python-experimental/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_api.py
  samples/server/petstore/java-play-framework-fake-endpoints/app/controllers/FakeApiController.java
Labels: Client: TypeScript, Issue: Bug

#6186 add use-site target field for JsonProperty annotation in kotlin data classes
  modules/openapi-generator/src/main/resources/kotlin-client/data_class_opt_var.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/data_class_req_var.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/dataClassOptVar.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/dataClassReqVar.mustache
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/models/ApiResponse.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/models/Category.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/models/Pet.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/models/Tag.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/models/User.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/model/Category.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/model/ModelApiResponse.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/model/Order.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/model/Pet.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/model/Tag.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/model/User.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/Category.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/ModelApiResponse.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/Order.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/Pet.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/Tag.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/User.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/Category.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/ModelApiResponse.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/Order.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/Pet.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/Tag.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/User.kt
Labels: Client: Kotlin

#5499 Issue 5497: Support the use of tags in the delegated Spring Kotlin generator.
  docs/generators/kotlin-spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinSpringServerCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/spring/KotlinSpringServerCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/kotlin/issue5497-use-tags-kotlin.yaml
  samples/server/petstore/kotlin-springboot-modelMutable/.openapi-generator/VERSION
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/api/PetApi.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/api/StoreApi.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/api/UserApi.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/PetApi.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/StoreApi.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/UserApi.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/PetApi.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/StoreApi.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/UserApi.kt
Labels: Breaking change (without fallback), Server: Kotlin

#6586 [rust][reqwest] fix broken export
  bin/rust-petstore-reqwest-async.sh
  modules/openapi-generator/src/main/resources/rust/reqwest/api_mod.mustache
  pom.xml
  samples/client/petstore/rust/reqwest/petstore-async/pom.xml
Labels: Client: Rust, Enhancement: CI/Test, Issue: Regression

#6604 [PS] better discriminator mapping
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellClientCodegen.java
  modules/openapi-generator/src/main/resources/powershell/model_oneof.mustache
  modules/openapi-generator/src/main/resources/powershell/model_simple.mustache
  samples/client/petstore/powershell/src/PSPetstore/Model/Pet.ps1
Labels: Client: Go, Enhancement: General

#6606 [java][jersey2] Fix import of JSON class
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/anyof_model.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/oneof_model.mustache
Labels: Client: Java

#6605 [Java][jersey2] Fix Java compiler warnings
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/JSON.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/anyof_model.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/oneof_model.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/pojo.mustache
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Animal.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/BigCat.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Cat.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Dog.java
  samples/client/petstore/java/jersey2-java8/src/test/java/org/openapitools/client/JSONTest.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/JSON.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Animal.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Cat.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/ChildCat.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Dog.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Fruit.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/FruitReq.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/GmFruit.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/GrandparentAnimal.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Mammal.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/NullableShape.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/ParentPet.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Pig.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Quadrilateral.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Shape.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/ShapeOrNull.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Triangle.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/test/java/org/openapitools/client/JSONComposedSchemaTest.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/test/java/org/openapitools/client/JSONTest.java
Labels: Client: Java, Enhancement: Code format

#6600 Update rust config
  bin/configs/rust-hyper-petstore.yaml
  bin/configs/rust-reqwest-petstore-async.yaml
  bin/configs/rust-reqwest-petstore.yaml
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/mod.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/pet_api.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/store_api.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/user_api.rs
Labels: Client: Rust, Enhancement: CI/Test

#6599 Update PR checklist for Windows users
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  docs/building.md
  docs/contributing.md
Labels: Enhancement: Feature, Feature: Documentation

#6580 Remove the json dependency
  modules/openapi-generator/src/main/resources/ruby-client/gemspec.mustache
  samples/client/petstore/ruby-faraday/petstore.gemspec
  samples/client/petstore/ruby/petstore.gemspec
Labels: Client: Ruby, Enhancement: Compatibility

#6588 Remove localVariablePrefix
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaCXFExtServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/K6ClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/api.mustache
  modules/openapi-generator/src/test/resources/2_0/templates/Java/libraries/jersey2/api.mustache
  modules/openapi-generator/src/test/resources/sampleConfig.json
Labels: Decommission

#5961 [Java][Native]Add option to use the builder pattern for API parameters
  modules/openapi-generator/src/main/resources/Java/libraries/native/README.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/api_doc.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/api_test.mustache
  samples/client/petstore/java/native/docs/AnotherFakeApi.md
  samples/client/petstore/java/native/docs/FakeApi.md
  samples/client/petstore/java/native/docs/FakeClassnameTags123Api.md
  samples/client/petstore/java/native/docs/PetApi.md
  samples/client/petstore/java/native/docs/StoreApi.md
  samples/client/petstore/java/native/docs/UserApi.md
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/native/src/test/java/org/openapitools/client/api/FakeApiTest.java
Labels: Client: Java, Enhancement: Feature

#6624 [fix] Fix delete http verb (the k6 equivalent is del)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/K6ClientCodegen.java
  samples/client/petstore/k6/.openapi-generator/VERSION
  samples/client/petstore/k6/script.js
Labels: Issue: Bug

#6609 [ci][cli] Allow invoking generate-samples.sh with single file + args
  bin/generate-samples.sh
  bin/utils/ensure-up-to-date
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfigurator.java
Labels: Enhancement: CI/Test, OpenAPI Generator CLI

#6625 Fix default response
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/resources/elm/fieldDecoder.mustache
  modules/openapi-generator/src/main/resources/elm/operation.mustache
  modules/openapi-generator/src/main/resources/scala-akka-client/responseState.mustache
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/api/UserApi.scala
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/PetController.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/StoreController.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/UserController.php
Labels: Client: Elm, Client: Scala, Issue: Bug, Server: PHP

#6622 [JAVA] RxJava3 support
  bin/configs/java-retrofit2rx3.yaml
  docs/generators/java.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/pom.mustache
  samples/client/petstore/java/retrofit2rx2/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/.openapi-generator/FILES
  samples/client/petstore/typescript-node/default/.openapi-generator/FILES
  samples/client/petstore/typescript-node/npm/.openapi-generator/FILES
  samples/server/petstore/php-symfony/SymfonyBundle-php/.openapi-generator/FILES
Labels: Client: Java, Enhancement: Compatibility, Enhancement: Feature

#6558 Remove jacoco from pom.xml
  run-in-docker.sh
Labels: Docker, Issue: Bug

#6640 Added basic bearer authentication to objc template
  modules/openapi-generator/src/main/resources/objc/DefaultConfiguration-body.mustache
Labels: Client: Objc, Enhancement: Feature, Feature: OAS 3.0 spec support

#6637 [java][jersey2] Fix URL encoding problem for HTTP signatures
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/auth/HttpSignatureAuth.mustache
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/auth/HttpSignatureAuth.java
Labels: Client: Java, Issue: Bug

#6481 [Rust][Client][Reqwest] Better http error handling
  modules/openapi-generator/src/main/resources/rust/reqwest/api.mustache
  modules/openapi-generator/src/main/resources/rust/reqwest/api_mod.mustache
  modules/openapi-generator/src/main/resources/rust/reqwest/client.mustache
  samples/client/petstore/rust/reqwest/fileResponseTest/src/apis/client.rs
  samples/client/petstore/rust/reqwest/fileResponseTest/src/apis/default_api.rs
  samples/client/petstore/rust/reqwest/fileResponseTest/src/apis/mod.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/mod.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/pet_api.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/store_api.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/user_api.rs
  samples/client/petstore/rust/reqwest/petstore-async/tests/pet_tests.rs
  samples/client/petstore/rust/reqwest/petstore/src/apis/client.rs
  samples/client/petstore/rust/reqwest/petstore/src/apis/mod.rs
  samples/client/petstore/rust/reqwest/petstore/src/apis/pet_api.rs
  samples/client/petstore/rust/reqwest/petstore/src/apis/store_api.rs
  samples/client/petstore/rust/reqwest/petstore/src/apis/user_api.rs
  samples/client/petstore/rust/reqwest/petstore/tests/pet_tests.rs
  samples/client/petstore/rust/reqwest/rust-test/src/apis/client.rs
  samples/client/petstore/rust/reqwest/rust-test/src/apis/default_api.rs
  samples/client/petstore/rust/reqwest/rust-test/src/apis/mod.rs
Labels: Client: Rust, Enhancement: General

#6541 [php-slim4] Mark generated tests as incomplete
  modules/openapi-generator/src/main/resources/php-slim4-server/api_test.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/model_test.mustache
  samples/server/petstore/php-slim4/.openapi-generator/FILES
  samples/server/petstore/php-slim4/test/Api/AnotherFakeApiTest.php
  samples/server/petstore/php-slim4/test/Api/FakeApiTest.php
  samples/server/petstore/php-slim4/test/Api/FakeClassnameTags123ApiTest.php
  samples/server/petstore/php-slim4/test/Api/PetApiTest.php
  samples/server/petstore/php-slim4/test/Api/StoreApiTest.php
  samples/server/petstore/php-slim4/test/Api/UserApiTest.php
  samples/server/petstore/php-slim4/test/Model/AdditionalPropertiesAnyTypeTest.php
  samples/server/petstore/php-slim4/test/Model/AdditionalPropertiesArrayTest.php
  samples/server/petstore/php-slim4/test/Model/AdditionalPropertiesBooleanTest.php
  samples/server/petstore/php-slim4/test/Model/AdditionalPropertiesClassTest.php
  samples/server/petstore/php-slim4/test/Model/AdditionalPropertiesIntegerTest.php
  samples/server/petstore/php-slim4/test/Model/AdditionalPropertiesNumberTest.php
  samples/server/petstore/php-slim4/test/Model/AdditionalPropertiesObjectTest.php
  samples/server/petstore/php-slim4/test/Model/AdditionalPropertiesStringTest.php
  samples/server/petstore/php-slim4/test/Model/AnimalTest.php
  samples/server/petstore/php-slim4/test/Model/ApiResponseTest.php
  samples/server/petstore/php-slim4/test/Model/ArrayOfArrayOfNumberOnlyTest.php
  samples/server/petstore/php-slim4/test/Model/ArrayOfNumberOnlyTest.php
  samples/server/petstore/php-slim4/test/Model/ArrayTestTest.php
  samples/server/petstore/php-slim4/test/Model/BigCatAllOfTest.php
  samples/server/petstore/php-slim4/test/Model/BigCatTest.php
  samples/server/petstore/php-slim4/test/Model/CapitalizationTest.php
  samples/server/petstore/php-slim4/test/Model/CatAllOfTest.php
  samples/server/petstore/php-slim4/test/Model/CatTest.php
  samples/server/petstore/php-slim4/test/Model/CategoryTest.php
  samples/server/petstore/php-slim4/test/Model/ClassModelTest.php
  samples/server/petstore/php-slim4/test/Model/ClientTest.php
  samples/server/petstore/php-slim4/test/Model/DogAllOfTest.php
  samples/server/petstore/php-slim4/test/Model/DogTest.php
  samples/server/petstore/php-slim4/test/Model/EnumArraysTest.php
  samples/server/petstore/php-slim4/test/Model/EnumClassTest.php
  samples/server/petstore/php-slim4/test/Model/EnumTestTest.php
  samples/server/petstore/php-slim4/test/Model/FileSchemaTestClassTest.php
  samples/server/petstore/php-slim4/test/Model/FileTest.php
  samples/server/petstore/php-slim4/test/Model/FormatTestTest.php
  samples/server/petstore/php-slim4/test/Model/HasOnlyReadOnlyTest.php
  samples/server/petstore/php-slim4/test/Model/InlineObject1Test.php
  samples/server/petstore/php-slim4/test/Model/InlineObjectTest.php
  samples/server/petstore/php-slim4/test/Model/MapTestTest.php
  samples/server/petstore/php-slim4/test/Model/MixedPropertiesAndAdditionalPropertiesClassTest.php
  samples/server/petstore/php-slim4/test/Model/Model200ResponseTest.php
  samples/server/petstore/php-slim4/test/Model/ModelListTest.php
  samples/server/petstore/php-slim4/test/Model/ModelReturnTest.php
  samples/server/petstore/php-slim4/test/Model/NameTest.php
  samples/server/petstore/php-slim4/test/Model/NumberOnlyTest.php
  samples/server/petstore/php-slim4/test/Model/OrderTest.php
  samples/server/petstore/php-slim4/test/Model/OuterCompositeTest.php
  samples/server/petstore/php-slim4/test/Model/OuterEnumTest.php
  samples/server/petstore/php-slim4/test/Model/PetTest.php
  samples/server/petstore/php-slim4/test/Model/ReadOnlyFirstTest.php
  samples/server/petstore/php-slim4/test/Model/SpecialModelNameTest.php
  samples/server/petstore/php-slim4/test/Model/TagTest.php
  samples/server/petstore/php-slim4/test/Model/TypeHolderDefaultTest.php
  samples/server/petstore/php-slim4/test/Model/TypeHolderExampleTest.php
  samples/server/petstore/php-slim4/test/Model/UserTest.php
  samples/server/petstore/php-slim4/test/Model/XmlItemTest.php
Labels: Enhancement: CI/Test, Server: PHP

#6544 [php-slim4] Throw specialized HttpNotImplementedException
  modules/openapi-generator/src/main/resources/php-slim4-server/SlimRouter.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/api.mustache
  samples/server/petstore/php-slim4/lib/Api/AbstractAnotherFakeApi.php
  samples/server/petstore/php-slim4/lib/Api/AbstractFakeApi.php
  samples/server/petstore/php-slim4/lib/Api/AbstractFakeClassnameTags123Api.php
  samples/server/petstore/php-slim4/lib/Api/AbstractPetApi.php
  samples/server/petstore/php-slim4/lib/Api/AbstractStoreApi.php
  samples/server/petstore/php-slim4/lib/Api/AbstractUserApi.php
  samples/server/petstore/php-slim4/lib/SlimRouter.php
Labels: Server: PHP

#6561 Use supplied packageName instead of hardcoded
  modules/openapi-generator/src/main/resources/erlang-server/auth.mustache
Labels: Issue: Bug, Server: Erlang

#6436 Add some AsciiDoc tweaks
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AsciidocDocumentationCodegen.java
  modules/openapi-generator/src/main/resources/asciidoc-documentation/index.mustache
  modules/openapi-generator/src/main/resources/asciidoc-documentation/params.mustache
  samples/documentation/asciidoc/index.adoc
Labels: Doc: AsciiDoc, Issue: Bug

#6658 [C++] [restsdk]Update CMakeLists.txt for seamless building on Windows and Linux
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/cmake-lists.mustache
  samples/client/petstore/cpp-restsdk/CMakeLists.txt
  samples/client/petstore/cpp-restsdk/client/CMakeLists.txt
Labels: Client: C++, Enhancement: Compatibility

#6661 Update bitrise.io config
  CI/bitrise.yml
Labels: Client: Swift, Enhancement: CI/Test

#6663 [go-experimental] Fix error message when unmarshaling wrong enum value
  modules/openapi-generator/src/main/resources/go-experimental/model_enum.mustache
  samples/client/petstore/go-experimental/go-petstore/model_enum_class.go
  samples/client/petstore/go-experimental/go-petstore/model_outer_enum.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_enum_class.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_outer_enum.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_outer_enum_default_value.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_outer_enum_integer.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_outer_enum_integer_default_value.go
Labels: Client: Go, Issue: Bug

#6574 [Rust Server] Pass context to client middleware
  modules/openapi-generator/src/main/resources/rust-server/client-imports.mustache
  modules/openapi-generator/src/main/resources/rust-server/client-mod.mustache
  modules/openapi-generator/src/main/resources/rust-server/client-operation.mustache
  modules/openapi-generator/src/main/resources/rust-server/server-callbacks.mustache
  samples/server/petstore/rust-server/output/multipart-v3/.openapi-generator/FILES
  samples/server/petstore/rust-server/output/multipart-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/no-example-v3/.openapi-generator/FILES
  samples/server/petstore/rust-server/output/no-example-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/.openapi-generator/FILES
  samples/server/petstore/rust-server/output/openapi-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/callbacks.rs
  samples/server/petstore/rust-server/output/ops-v3/.openapi-generator/FILES
  samples/server/petstore/rust-server/output/ops-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/.openapi-generator/FILES
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/client/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/.openapi-generator/FILES
  samples/server/petstore/rust-server/output/rust-server-test/src/client/mod.rs
Labels: Breaking change (without fallback), Client: Rust

#6064 [Java][MicroProfile] Use jsonb imports for serializing and deserializing enum
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/enumClass.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/pojo.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/pom.mustache
  samples/client/petstore/java/microprofile-rest-client/pom.xml
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/model/Category.java
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/model/ModelApiResponse.java
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/model/Order.java
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/model/Tag.java
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/model/User.java
Labels: Client: Java, Issue: Bug

#6636 [java][jersey2] Add getActualInstanceRecursively
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/AbstractOpenApiSchema.mustache
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/AbstractOpenApiSchema.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/AbstractOpenApiSchema.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/test/java/org/openapitools/client/model/MammalTest.java
Labels: Client: Java, Enhancement: Feature, Feature: OAS 3.0 spec support

#6696 [Java] clean up samples that are no longer supported/maintained
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/api/AnotherFakeApiTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/api/FakeApiTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/api/FakeClassnameTags123ApiTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/api/PetApiTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/api/StoreApiTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/api/UserApiTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/AdditionalPropertiesAnyTypeTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/AdditionalPropertiesArrayTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/AdditionalPropertiesBooleanTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/AdditionalPropertiesClassTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/AdditionalPropertiesIntegerTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/AdditionalPropertiesNumberTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/AdditionalPropertiesObjectTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/AdditionalPropertiesStringTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/AnimalTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/ArrayOfArrayOfNumberOnlyTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/ArrayOfNumberOnlyTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/ArrayTestTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/CapitalizationTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/CatAllOfTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/CatTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/CategoryTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/ClassModelTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/ClientTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/DogAllOfTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/DogTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/EnumArraysTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/EnumClassTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/EnumTestTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/FileSchemaTestClassTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/FormatTestTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/HasOnlyReadOnlyTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/MapTestTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/MixedPropertiesAndAdditionalPropertiesClassTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/Model200ResponseTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/ModelApiResponseTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/ModelReturnTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/NameTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/NumberOnlyTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/OrderTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/OuterCompositeTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/OuterEnumTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/PetTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/ReadOnlyFirstTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/SpecialModelNameTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/TagTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/TypeHolderDefaultTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/TypeHolderExampleTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/UserTest.java
  samples/client/petstore/java/jersey2-java6/src/test/java/org/openapitools/client/model/XmlItemTest.java
  samples/client/petstore/java/jersey2-java7/pom.xml
  samples/client/petstore/java/retrofit2-play24/build.gradle
  samples/client/petstore/java/retrofit2-play24/build.sbt
  samples/client/petstore/java/retrofit2-play24/pom.xml
  samples/client/petstore/java/retrofit2-play24/src/main/java/org/openapitools/client/Play24CallFactory.java
  samples/client/petstore/java/retrofit2-play25/build.gradle
  samples/client/petstore/java/retrofit2-play25/build.sbt
  samples/client/petstore/java/retrofit2-play25/pom.xml
Labels: Client: Java, Client: Retrofit, Enhancement: CI/Test

#6652 [C][Client] Convert integer/boolean to string for query parameter in request url
  modules/openapi-generator/src/main/resources/C-libcurl/api-body.mustache
  samples/client/petstore/c/.openapi-generator/FILES
  samples/client/petstore/c/.openapi-generator/VERSION
  samples/client/petstore/c/api/PetAPI.c
  samples/client/petstore/c/api/StoreAPI.c
  samples/client/petstore/c/api/UserAPI.c
Labels: Client: C, Issue: Bug

#6693 [Go] Remove incorrect type mapping
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
Labels: Client: Go, Issue: Bug

#5790 [typescript-angular] support for object query parameters as nested key/json string
  docs/generators/typescript-angular.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
  modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/TypeScriptAngularClientOptionsProvider.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/typescriptangular/TypeScriptAngularClientOptionsTest.java
Labels: Client: TypeScript

#6673 [Rust][Client] Multiple returns becomes optional (fixes #6650).
  bin/configs/rust-reqwest-petstore-async.yaml
  docs/generators/rust.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustClientCodegen.java
  modules/openapi-generator/src/main/resources/rust/reqwest/api.mustache
  samples/client/petstore/rust/reqwest/fileResponseTest/src/apis/default_api.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/pet_api.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/store_api.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/user_api.rs
  samples/client/petstore/rust/reqwest/petstore-async/tests/pet_tests.rs
  samples/client/petstore/rust/reqwest/petstore/src/apis/pet_api.rs
  samples/client/petstore/rust/reqwest/petstore/src/apis/store_api.rs
  samples/client/petstore/rust/reqwest/petstore/src/apis/user_api.rs
  samples/client/petstore/rust/reqwest/petstore/tests/pet_tests.rs
  samples/client/petstore/rust/reqwest/rust-test/src/apis/default_api.rs
Labels: Client: Rust, Enhancement: Feature

#6041 Pass body to service
  modules/openapi-generator/src/main/resources/nodejs-express-server/controllers/Controller.mustache
  samples/server/petstore/nodejs-express-server/.openapi-generator/VERSION
  samples/server/petstore/nodejs-express-server/controllers/Controller.js
Labels: Enhancement: General, Server: Nodejs

#6707 [Go][Experimental] Better logic when using useOneOfDiscriminatorLookup
  modules/openapi-generator/src/main/resources/go-experimental/model_oneof.mustache
Labels: Client: Go, Enhancement: General

#6723 Mark `typescript-angularjs` as deprecated
  bin/configs/other/openapi3/typescript-angularjs.yaml
  bin/configs/typescript-angularjs.yaml
  docs/generators.md
  docs/generators/typescript-angularjs-deprecated.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularJsClientCodegen.java
  pom.xml
Labels: Client: TypeScript, Decommission

#6710 [PHP] map AnyType to mixed
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPhpCodegen.java
Labels: Client: PHP, Enhancement: Feature, Feature: OAS 3.0 spec support

#6731 Improve objc tests and samples
  bin/configs/objc-core-data.yaml
  bin/configs/objc-default.yaml
  samples/client/petstore/objc/core-data/.openapi-generator/FILES
  samples/client/petstore/objc/core-data/README.md
  samples/client/petstore/objc/core-data/SwaggerClient/Api/SWGPetApi.h
  samples/client/petstore/objc/core-data/SwaggerClient/Api/SWGPetApi.m
  samples/client/petstore/objc/core-data/SwaggerClient/Api/SWGStoreApi.h
  samples/client/petstore/objc/core-data/SwaggerClient/Api/SWGStoreApi.m
  samples/client/petstore/objc/core-data/SwaggerClient/Api/SWGUserApi.h
  samples/client/petstore/objc/core-data/SwaggerClient/Api/SWGUserApi.m
  samples/client/petstore/objc/core-data/SwaggerClient/Model/SWGInlineObject.h
  samples/client/petstore/objc/core-data/SwaggerClient/Model/SWGInlineObject.m
  samples/client/petstore/objc/core-data/SwaggerClient/Model/SWGInlineObject1.h
  samples/client/petstore/objc/core-data/SwaggerClient/Model/SWGInlineObject1.m
  samples/client/petstore/objc/core-data/SwaggerClient/Model/SWGInlineObject1ManagedObject.h
  samples/client/petstore/objc/core-data/SwaggerClient/Model/SWGInlineObject1ManagedObject.m
  samples/client/petstore/objc/core-data/SwaggerClient/Model/SWGInlineObject1ManagedObjectBuilder.h
  samples/client/petstore/objc/core-data/SwaggerClient/Model/SWGInlineObject1ManagedObjectBuilder.m
  samples/client/petstore/objc/core-data/SwaggerClient/Model/SWGInlineObjectManagedObject.h
  samples/client/petstore/objc/core-data/SwaggerClient/Model/SWGInlineObjectManagedObject.m
  samples/client/petstore/objc/core-data/SwaggerClient/Model/SWGInlineObjectManagedObjectBuilder.h
  samples/client/petstore/objc/core-data/SwaggerClient/Model/SWGInlineObjectManagedObjectBuilder.m
  samples/client/petstore/objc/core-data/SwaggerClient/Model/SWGModel.xcdatamodeld/SWGModel.xcdatamodel/contents
  samples/client/petstore/objc/core-data/SwaggerClientTests/SwaggerClient.xcodeproj/project.pbxproj
  samples/client/petstore/objc/core-data/SwaggerClientTests/run_xcodebuild.sh
  samples/client/petstore/objc/core-data/docs/SWGInlineObject.md
  samples/client/petstore/objc/core-data/docs/SWGInlineObject1.md
  samples/client/petstore/objc/core-data/docs/SWGPetApi.md
  samples/client/petstore/objc/core-data/docs/SWGStoreApi.md
  samples/client/petstore/objc/core-data/docs/SWGUserApi.md
  samples/client/petstore/objc/default/.openapi-generator/FILES
  samples/client/petstore/objc/default/README.md
  samples/client/petstore/objc/default/SwaggerClient/Api/SWGPetApi.h
  samples/client/petstore/objc/default/SwaggerClient/Api/SWGPetApi.m
  samples/client/petstore/objc/default/SwaggerClient/Api/SWGStoreApi.h
  samples/client/petstore/objc/default/SwaggerClient/Api/SWGStoreApi.m
  samples/client/petstore/objc/default/SwaggerClient/Api/SWGUserApi.h
  samples/client/petstore/objc/default/SwaggerClient/Api/SWGUserApi.m
  samples/client/petstore/objc/default/SwaggerClient/Model/SWGInlineObject.h
  samples/client/petstore/objc/default/SwaggerClient/Model/SWGInlineObject.m
  samples/client/petstore/objc/default/SwaggerClient/Model/SWGInlineObject1.h
  samples/client/petstore/objc/default/SwaggerClient/Model/SWGInlineObject1.m
  samples/client/petstore/objc/default/SwaggerClientTests/SwaggerClient.xcodeproj/project.pbxproj
  samples/client/petstore/objc/default/SwaggerClientTests/run_xcodebuild.sh
  samples/client/petstore/objc/default/docs/SWGInlineObject.md
  samples/client/petstore/objc/default/docs/SWGInlineObject1.md
  samples/client/petstore/objc/default/docs/SWGPetApi.md
  samples/client/petstore/objc/default/docs/SWGStoreApi.md
  samples/client/petstore/objc/default/docs/SWGUserApi.md
Labels: Client: Objc, Enhancement: CI/Test

#6724 [ASP.NET] The templateDir for aspnet is not set correctly
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetCoreServerCodegen.java
  modules/openapi-generator/src/main/resources/aspnetcore/3.0/Filters/BasePathFilter.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/3.0/Startup.mustache
  samples/server/petstore/aspnetcore-3.0/src/Org.OpenAPITools/Filters/BasePathFilter.cs
  samples/server/petstore/aspnetcore-3.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/server/petstore/aspnetcore-3.0/src/Org.OpenAPITools/Startup.cs
  samples/server/petstore/aspnetcore-3.1/src/Org.OpenAPITools/Filters/BasePathFilter.cs
  samples/server/petstore/aspnetcore-3.1/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/server/petstore/aspnetcore-3.1/src/Org.OpenAPITools/Startup.cs
Labels: Issue: Bug, Server: C-Sharp

#6700 [Java][Microprofile] JSON enum processing fix
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/enumClass.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/pojo.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/pom.mustache
  samples/client/petstore/java/microprofile-rest-client/pom.xml
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/model/Order.java
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/model/Pet.java
Labels: Client: Java, Feature: Enum, Issue: Bug

#6725 [Objective-C] Fix thread-safety in template
  modules/openapi-generator/src/main/resources/objc/Object-body.mustache
  samples/client/petstore/objc/core-data/SwaggerClient/Core/SWGObject.m
  samples/client/petstore/objc/default/SwaggerClient/Core/SWGObject.m
Labels: Client: Objc, Issue: Bug

#6687 [maven] Avoid "Schema unaliasing" INFO-spam on the Maven console
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
Labels: OpenAPI Generator Maven Plugin

#6654 [C++]Enable forward declaration for C++
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCppCodegen.java
  modules/openapi-generator/src/main/resources/cpp-qt5-client/model-header.mustache
Labels: Client: C++, Enhancement: General

#6698 [go] Required fields are not pointers
  modules/openapi-generator/src/main/resources/go-experimental/model_doc.mustache
  samples/client/petstore/go-experimental/go-petstore/docs/Animal.md
  samples/client/petstore/go-experimental/go-petstore/docs/Category.md
  samples/client/petstore/go-experimental/go-petstore/docs/EnumTest.md
  samples/client/petstore/go-experimental/go-petstore/docs/FormatTest.md
  samples/client/petstore/go-experimental/go-petstore/docs/Name.md
  samples/client/petstore/go-experimental/go-petstore/docs/Pet.md
  samples/client/petstore/go-experimental/go-petstore/docs/TypeHolderDefault.md
  samples/client/petstore/go-experimental/go-petstore/docs/TypeHolderExample.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/Animal.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/AppleReq.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/BananaReq.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/Category.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/EnumTest.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/FormatTest.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/FruitReq.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/InlineObject3.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/InlineObject4.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/InlineObject5.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/Mammal.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/Name.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/Pet.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/Whale.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/Zebra.md
Labels: Client: Go, Enhancement: General

#6736 [PHP] remove silex samples, config
  bin/configs/php-silex-deprecated-OpenAPIServer.yaml
  samples/server/petstore/php-silex/.openapi-generator-ignore
  samples/server/petstore/php-silex/.openapi-generator/VERSION
  samples/server/petstore/php-silex/OpenAPIServer/.gitignore
  samples/server/petstore/php-silex/OpenAPIServer/.htaccess
  samples/server/petstore/php-silex/OpenAPIServer/.openapi-generator-ignore
  samples/server/petstore/php-silex/OpenAPIServer/.openapi-generator/FILES
  samples/server/petstore/php-silex/OpenAPIServer/.openapi-generator/VERSION
  samples/server/petstore/php-silex/OpenAPIServer/README.md
  samples/server/petstore/php-silex/OpenAPIServer/composer.json
  samples/server/petstore/php-silex/OpenAPIServer/index.php
Labels: Enhancement: CI/Test, Server: PHP

#6743 typescript-jquery: create empty array to prevent pushing to undefined
  modules/openapi-generator/src/main/resources/typescript-jquery/api.mustache
Labels: Client: TypeScript

#6695 [Java][jersey2] fix oneOf, anyOf documentation
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/model_anyof_doc.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/model_doc.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/model_oneof_doc.mustache
  samples/openapi3/client/petstore/java/jersey2-java8/docs/Fruit.md
  samples/openapi3/client/petstore/java/jersey2-java8/docs/FruitReq.md
  samples/openapi3/client/petstore/java/jersey2-java8/docs/GmFruit.md
  samples/openapi3/client/petstore/java/jersey2-java8/docs/Mammal.md
  samples/openapi3/client/petstore/java/jersey2-java8/docs/NullableShape.md
  samples/openapi3/client/petstore/java/jersey2-java8/docs/Pig.md
  samples/openapi3/client/petstore/java/jersey2-java8/docs/Quadrilateral.md
  samples/openapi3/client/petstore/java/jersey2-java8/docs/Shape.md
  samples/openapi3/client/petstore/java/jersey2-java8/docs/ShapeOrNull.md
  samples/openapi3/client/petstore/java/jersey2-java8/docs/Triangle.md
  samples/openapi3/client/petstore/java/jersey2-java8/src/test/java/org/openapitools/client/model/MammalTest.java
Labels: Client: Java, Enhancement: Feature, Feature: Documentation, WIP

#6778 [PS] better code format, vendor extension naming
  .travis.yml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellClientCodegen.java
  modules/openapi-generator/src/main/resources/powershell/model_simple.mustache
  samples/client/petstore/powershell/src/PSPetstore/Model/ApiResponse.ps1
  samples/client/petstore/powershell/src/PSPetstore/Model/Category.ps1
  samples/client/petstore/powershell/src/PSPetstore/Model/InlineObject.ps1
  samples/client/petstore/powershell/src/PSPetstore/Model/InlineObject1.ps1
  samples/client/petstore/powershell/src/PSPetstore/Model/Order.ps1
  samples/client/petstore/powershell/src/PSPetstore/Model/Pet.ps1
  samples/client/petstore/powershell/src/PSPetstore/Model/Tag.ps1
  samples/client/petstore/powershell/src/PSPetstore/Model/User.ps1
Labels: Client: PowerShell, Enhancement: Code format

#6734 Protect from NPE when paths aren't provided
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/regression-6734.yaml
Labels: Feature: Generator, Issue: Bug

#6757 [Java][jersey2] Add debugging to OAuth
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/auth/OAuth.mustache
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/auth/OAuth.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/auth/OAuth.java
Labels: Client: Java, Enhancement: General

#6773 [SWIFT5] Add the ability to turn uniqueItems array into Set in swift.
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift5ClientCodegen.java
Labels: Client: Swift, Enhancement: General

#6787 Response was unable to process nested json object more than 2 level
  modules/openapi-generator/src/main/resources/powershell/api.mustache
  samples/client/petstore/powershell/src/PSPetstore/Api/PSPetApi.ps1
  samples/client/petstore/powershell/src/PSPetstore/Api/PSStoreApi.ps1
  samples/client/petstore/powershell/src/PSPetstore/Api/PSUserApi.ps1
Labels: Client: PowerShell, Issue: Bug

#6751 Dart - generate constructor with named params
  modules/openapi-generator/src/main/resources/dart2/class.mustache
  samples/client/petstore/dart2/petstore/test/pet_test.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/model/api_response.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/model/category.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/model/order.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/model/pet.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/model/tag.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/model/user.dart
Labels: Client: Dart, Enhancement: General

#6794 [PowerShell] fix hardcode method name in test files
  modules/openapi-generator/src/main/resources/powershell/api_test.mustache
  samples/client/petstore/powershell/tests/Api/PSPetApi.Tests.ps1
  samples/client/petstore/powershell/tests/Api/PSStoreApi.Tests.ps1
  samples/client/petstore/powershell/tests/Api/PSUserApi.Tests.ps1
Labels: Client: PowerShell, Enhancement: CI/Test

#6632 [java][jersey2] Add support for (expires) and (created) fields in HTTP signature
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/auth/HttpSignatureAuth.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/pom.mustache
  samples/openapi3/client/petstore/java/jersey2-java8/pom.xml
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/auth/HttpSignatureAuth.java
Labels: Client: Java, Enhancement: Security

#6791 Remove bvwells from Go technical committee
  README.md
Labels: Feature: Documentation

#6573 [docker] Tag latest-release for stable latest tagging
  .github/workflows/docker-tag-latest-release.yml
Labels: Docker

#6784 [Java][jersey2] Add nullable body support
  bin/configs/java-jersey2-8.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/api.mustache
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/api/UserApi.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/api/DefaultApi.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/api/PetApi.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Enhancement: Feature, Feature: OAS 3.0 spec support

#6538 Fix compile error
  modules/openapi-generator/src/main/resources/typescript-fetch/apis.mustache
  samples/client/petstore/typescript-fetch/builds/default/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/default/apis/StoreApi.ts
  samples/client/petstore/typescript-fetch/builds/default/apis/UserApi.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/apis/StoreApi.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/apis/UserApi.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/apis/StoreApi.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/apis/UserApi.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/apis/StoreApi.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/apis/UserApi.ts
  samples/client/petstore/typescript-fetch/builds/typescript-three-plus/src/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/typescript-three-plus/src/apis/StoreApi.ts
  samples/client/petstore/typescript-fetch/builds/typescript-three-plus/src/apis/UserApi.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/apis/StoreApi.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/apis/UserApi.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/apis/StoreApi.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/apis/UserApi.ts
Labels: Client: TypeScript, Issue: Bug
