Repository OpenAPITools/openapi-generator, pull requests merged in 2020-02, with the labels that each got.

#5185 [doc] Update versions missed during release
  README.md
  bin/utils/release/release_version_update.sh
  bin/utils/release/release_version_update_docs.sh
  bin/utils/release_version_update_docs.sh
  docs/installation.md
  modules/openapi-generator-gradle-plugin/README.adoc
  modules/openapi-generator-gradle-plugin/samples/local-spec/gradle.properties
  website/pages/en/index.js
Labels: Enhancement: CI/Test

#5184 [codegen] Add code comments and improve "first content" warning
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
Labels: Enhancement: General

#4934 [Golang] Add support allOf inheritance with embedded go structs
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/main/resources/go-experimental/model.mustache
  modules/openapi-generator/src/main/resources/go/model.mustache
  modules/openapi-generator/src/main/resources/go/model_doc.mustache
  samples/client/petstore/go-experimental/go-petstore/docs/BigCat.md
  samples/client/petstore/go-experimental/go-petstore/docs/Cat.md
  samples/client/petstore/go-experimental/go-petstore/docs/Dog.md
  samples/client/petstore/go-experimental/go-petstore/model_big_cat.go
  samples/client/petstore/go-experimental/go-petstore/model_cat.go
  samples/client/petstore/go-experimental/go-petstore/model_dog.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/Cat.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/Dog.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_cat.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_dog.go
Labels: Client: Go, Enhancement: Feature, Feature: OAS 3.0 spec support

#5178 [csharp][csharp-netcore][csharp-dotnet2] Convert bool value to string in lower case
  modules/openapi-generator/src/main/resources/csharp-dotnet2/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/ClientUtils.mustache
  modules/openapi-generator/src/main/resources/csharp/ApiClient.mustache
  samples/client/petstore/csharp-dotnet2/OpenAPIClientTest/Lib/OpenAPIClient/src/main/CsharpDotNet2/Org/OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientNet35/README.md
  samples/client/petstore/csharp/OpenAPIClientNet35/docs/FakeApi.md
  samples/client/petstore/csharp/OpenAPIClientNet35/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp/OpenAPIClientNet35/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientNet40/README.md
  samples/client/petstore/csharp/OpenAPIClientNet40/docs/FakeApi.md
  samples/client/petstore/csharp/OpenAPIClientNet40/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp/OpenAPIClientNet40/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientNetStandard/README.md
  samples/client/petstore/csharp/OpenAPIClientNetStandard/docs/FakeApi.md
  samples/client/petstore/csharp/OpenAPIClientNetStandard/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp/OpenAPIClientNetStandard/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/README.md
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/docs/FakeApi.md
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/src/Org.OpenAPITools/Client/ApiClient.cs
Labels: Client: C-Sharp, Issue: Bug

#5108 [csharp-netcore] Remove unnecessary legacy project definitions
  CI/samples.ci/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  CI/samples.ci/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  modules/openapi-generator/src/main/resources/csharp-netcore/Project.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/TestProject.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/netcore_project.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/netcore_testproject.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/project.json
Labels: Client: C-Sharp, Enhancement: Compatibility

#4959 [Go] Support HTTP signature
  bin/openapi3/go-experimental-petstore.sh
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientExperimentalCodegen.java
  modules/openapi-generator/src/main/resources/go-experimental/README.mustache
  modules/openapi-generator/src/main/resources/go-experimental/client.mustache
  modules/openapi-generator/src/main/resources/go-experimental/configuration.mustache
  modules/openapi-generator/src/main/resources/go-experimental/http_signature_test.mustache
  modules/openapi-generator/src/main/resources/go-experimental/signing.mustache
  samples/client/petstore/go-experimental/go-petstore/client.go
  samples/client/petstore/go-experimental/go-petstore/configuration.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/README.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/api/openapi.yaml
  samples/openapi3/client/petstore/go-experimental/go-petstore/client.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/configuration.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/PetApi.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/http_signature_test.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/signing.go
Labels: Bleeding Edge, Client: Go, Enhancement: Feature

#5122 [csharp-netcore] Improved `Multimap` and `ClientUtils` implementation
  modules/openapi-generator/src/main/resources/csharp-netcore/ClientUtils.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/Multimap.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/api.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/Multimap.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/Multimap.cs
Labels: Client: C-Sharp, Enhancement: Compatibility, Enhancement: Performance

#5191 [bug] fix null pointer exception while evaluating recommend…
  modules/openapi-generator/src/main/java/org/openapitools/codegen/validations/oas/OpenApiEvaluator.java
Labels: Issue: Bug

#5193 [cli] Optional colorized outputs
  modules/openapi-generator-cli/pom.xml
  modules/openapi-generator-cli/src/main/resources/logback.xml
Labels: OpenAPI Generator CLI

#5194 [docs] Slack block, formatting, 'color' CLI option
  docs/usage.md
  website/i18n/en.json
  website/pages/en/index.js
  website/static/css/custom.css
  website/static/img/tools/Slack_Mark-256x256-3a29a6b.png
Labels: Feature: Documentation

#5196 [Kotlin]Formatted according to the kotlin style guide
  modules/openapi-generator/src/main/resources/kotlin-spring/dataClass.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/dataClassOptVar.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/dataClassReqVar.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/exceptions.mustache
  samples/openapi3/server/petstore/kotlin-springboot-reactive/.openapi-generator/VERSION
  samples/openapi3/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/Category.kt
  samples/openapi3/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/InlineObject.kt
  samples/openapi3/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/InlineObject1.kt
  samples/openapi3/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/ModelApiResponse.kt
  samples/openapi3/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/Order.kt
  samples/openapi3/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/Pet.kt
  samples/openapi3/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/Tag.kt
  samples/openapi3/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/User.kt
  samples/openapi3/server/petstore/kotlin-springboot/.openapi-generator/VERSION
  samples/openapi3/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/Exceptions.kt
  samples/openapi3/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/Category.kt
  samples/openapi3/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/InlineObject.kt
  samples/openapi3/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/InlineObject1.kt
  samples/openapi3/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/ModelApiResponse.kt
  samples/openapi3/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/Order.kt
  samples/openapi3/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/Pet.kt
  samples/openapi3/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/Tag.kt
  samples/openapi3/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/User.kt
Labels: Client: Kotlin, Enhancement: Code format

#5169 [java-jersey2] Fix empty body when form parameters supplied
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  samples/client/petstore/java/jersey2-java6/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#5197 [typescript-angular]: objects as query parameters no longer break when fields are null
  modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache
  samples/client/petstore/typescript-angular-v2/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v2/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v2/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v2/npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v2/npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v2/npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/pet.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/store.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/user.service.ts
  samples/client/petstore/typescript-angular-v4.3/npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v4.3/npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v4.3/npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v4/npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v4/npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v4/npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/api/pet.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/api/store.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/api/user.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/api/pet.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/api/store.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/api/user.service.ts
Labels: Client: TypeScript

#5152 [codegen] Performance optimizations: use of cache for camel case and sanitized strings
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/StringUtils.java
Labels: Enhancement: Feature, Enhancement: Performance, Feature: Generator

#5154 [Python] Python HTTP signature update
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ProcessUtils.java
  modules/openapi-generator/src/main/resources/python/configuration.mustache
  modules/openapi-generator/src/main/resources/python/python-experimental/__init__package.mustache
  modules/openapi-generator/src/main/resources/python/python-experimental/signing.mustache
  samples/client/petstore/python-asyncio/petstore_api/configuration.py
  samples/client/petstore/python-experimental/petstore_api/configuration.py
  samples/client/petstore/python-experimental/tests/test_pet_api.py
  samples/client/petstore/python-tornado/petstore_api/configuration.py
  samples/client/petstore/python/petstore_api/configuration.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/__init__.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/configuration.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/signing.py
  samples/openapi3/client/petstore/python/petstore_api/configuration.py
Labels: Client: Python, Enhancement: General, Issue: Bug

#5204 [swift5] update visibility modifiers
  modules/openapi-generator/src/main/resources/swift5/libraries/urlsession/URLSessionImplementations.mustache
  samples/client/petstore/swift5/alamofireLibrary/.openapi-generator/VERSION
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/alamofireLibrary/docs/FakeAPI.md
  samples/client/petstore/swift5/combineLibrary/.openapi-generator/VERSION
  samples/client/petstore/swift5/combineLibrary/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/combineLibrary/docs/FakeAPI.md
  samples/client/petstore/swift5/default/.openapi-generator/VERSION
  samples/client/petstore/swift5/default/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/default/docs/FakeAPI.md
  samples/client/petstore/swift5/nonPublicApi/.openapi-generator/VERSION
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/nonPublicApi/docs/FakeAPI.md
  samples/client/petstore/swift5/objcCompatible/.openapi-generator/VERSION
  samples/client/petstore/swift5/objcCompatible/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/objcCompatible/docs/FakeAPI.md
  samples/client/petstore/swift5/promisekitLibrary/.openapi-generator/VERSION
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/promisekitLibrary/docs/FakeAPI.md
  samples/client/petstore/swift5/resultLibrary/.openapi-generator/VERSION
  samples/client/petstore/swift5/resultLibrary/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/resultLibrary/docs/FakeAPI.md
  samples/client/petstore/swift5/rxswiftLibrary/.openapi-generator/VERSION
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/rxswiftLibrary/docs/FakeAPI.md
  samples/client/petstore/swift5/urlsessionLibrary/.openapi-generator/VERSION
  samples/client/petstore/swift5/urlsessionLibrary/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/urlsessionLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/urlsessionLibrary/docs/FakeAPI.md
  samples/client/test/swift5/default/.openapi-generator/VERSION
  samples/client/test/swift5/default/TestClient.xcodeproj/project.pbxproj
  samples/client/test/swift5/default/TestClient/Classes/OpenAPIs/URLSessionImplementations.swift
Labels: Client: Swift, Enhancement: General

#5206 [csharp-netcore] Remove use of dynamic type and optimize reference
  modules/openapi-generator/src/main/resources/csharp-netcore/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/ApiException.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/ClientUtils.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/Project.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/README.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/netcore_project.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/nuspec.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/packages.config.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/project.json.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/ApiException.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/project.json
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/ApiException.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/ClientUtils.cs
Labels: Client: C-Sharp, Enhancement: General

#5205 [kotlin] Fix non-compilable code
  modules/openapi-generator/src/main/resources/kotlin-client/data_class.mustache
Labels: Client: Kotlin, Issue: Bug

#5179 [Java] update feign form dependency version
  modules/openapi-generator/src/main/resources/Java/libraries/feign/auth/OAuth.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/pom.mustache
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/auth/OAuth.java
  samples/client/petstore/java/feign10x/build.gradle
  samples/client/petstore/java/feign10x/build.sbt
  samples/client/petstore/java/feign10x/pom.xml
  samples/client/petstore/java/feign10x/src/main/java/org/openapitools/client/auth/OAuth.java
Labels: Client: Java, Enhancement: Compatibility

#5208 [doc] Replace `-D` with `-p`
  docs/customization.md
Labels: Enhancement: General

#5221 [bug][kotlin] Fix compile of reserved word in client
  modules/openapi-generator/src/main/resources/kotlin-client/api.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/bodyParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/formParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/headerParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/pathParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/queryParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/multiplatform/api.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/KotlinReservedWordsTest.java
  modules/openapi-generator/src/test/resources/3_0/kotlin/reserved_words.yaml
Labels: Client: Kotlin, Issue: Bug

#5220 [typescript-angular] Use security scheme name for API key lookup
  modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache
  samples/client/petstore/typescript-angular-v2/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v2/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v2/npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v2/npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/pet.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/store.service.ts
  samples/client/petstore/typescript-angular-v4.3/npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v4.3/npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v4/npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v4/npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/api/pet.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/api/store.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/api/pet.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/api/store.service.ts
Labels: Client: TypeScript

#5225 typescript-angular: fix handling of date object in query parameter
  modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache
  samples/client/petstore/typescript-angular-v2/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v2/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v2/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v2/npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v2/npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v2/npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/pet.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/store.service.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/user.service.ts
  samples/client/petstore/typescript-angular-v4.3/npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v4.3/npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v4.3/npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v4/npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v4/npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v4/npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/api/pet.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/api/store.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/api/user.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/api/pet.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/api/store.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/api/user.service.ts
Labels: Client: TypeScript

#5192 [core] Normalizing vendor extension naming
  modules/openapi-generator-cli/src/main/resources/logback.xml
  modules/openapi-generator/pom.xml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractApexCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractEiffelCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPhpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Apache2ConfigCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ClojureClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppPistacheServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppQt5AbstractCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppRestbedServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartJaguarClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElmClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellHttpClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellServantCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaPlayFrameworkCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/MysqlSchemaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/OCamlClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ObjcClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSymfonyServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaFinchServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaPlayFrameworkServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/StaticHtml2Generator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptRxjsClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/OnceLogger.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/utils/OnceLoggerTest.java
  pom.xml
Labels: Enhancement: General

#5182 [core][typescript][perl] Ensure model.parent is also added to model.allParents with multiple inheritance
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/2_0/composed-allof.yaml
Labels: Client: Perl, Client: TypeScript, Enhancement: General

#5161 [Python] 5094 followup - Reduce redundancy in docs
  modules/openapi-generator/src/main/resources/python/api_doc_example.mustache
  modules/openapi-generator/src/main/resources/python/python-experimental/api_doc_example.mustache
  modules/openapi-generator/src/main/resources/python/python_doc_auth_partial.mustache
  samples/client/petstore/python-asyncio/docs/FakeApi.md
  samples/client/petstore/python-asyncio/docs/FakeClassnameTags123Api.md
  samples/client/petstore/python-asyncio/docs/PetApi.md
  samples/client/petstore/python-asyncio/docs/StoreApi.md
  samples/client/petstore/python-experimental/docs/AnotherFakeApi.md
  samples/client/petstore/python-experimental/docs/FakeApi.md
  samples/client/petstore/python-experimental/docs/FakeClassnameTags123Api.md
  samples/client/petstore/python-experimental/docs/PetApi.md
  samples/client/petstore/python-experimental/docs/StoreApi.md
  samples/client/petstore/python-experimental/docs/UserApi.md
  samples/client/petstore/python-tornado/docs/FakeApi.md
  samples/client/petstore/python-tornado/docs/FakeClassnameTags123Api.md
  samples/client/petstore/python-tornado/docs/PetApi.md
  samples/client/petstore/python-tornado/docs/StoreApi.md
  samples/client/petstore/python/docs/FakeApi.md
  samples/client/petstore/python/docs/FakeClassnameTags123Api.md
  samples/client/petstore/python/docs/PetApi.md
  samples/client/petstore/python/docs/StoreApi.md
  samples/openapi3/client/petstore/python-experimental/docs/AnotherFakeApi.md
  samples/openapi3/client/petstore/python-experimental/docs/DefaultApi.md
  samples/openapi3/client/petstore/python-experimental/docs/FakeApi.md
  samples/openapi3/client/petstore/python-experimental/docs/FakeClassnameTags123Api.md
  samples/openapi3/client/petstore/python-experimental/docs/PetApi.md
  samples/openapi3/client/petstore/python-experimental/docs/StoreApi.md
  samples/openapi3/client/petstore/python-experimental/docs/UserApi.md
  samples/openapi3/client/petstore/python/docs/FakeApi.md
  samples/openapi3/client/petstore/python/docs/FakeClassnameTags123Api.md
  samples/openapi3/client/petstore/python/docs/PetApi.md
  samples/openapi3/client/petstore/python/docs/StoreApi.md
Labels: Client: Python

#5243 Use EXISTING_PROPERTY for JavaSpring as well
  modules/openapi-generator/src/main/resources/JavaSpring/typeInfoAnnotation.mustache
  samples/server/petstore/spring-mvc-j8-async/src/main/java/org/openapitools/model/Animal.java
  samples/server/petstore/spring-mvc-j8-localdatetime/src/main/java/org/openapitools/model/Animal.java
  samples/server/petstore/spring-mvc/src/main/java/org/openapitools/model/Animal.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/org/openapitools/model/Animal.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/model/Animal.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/model/Animal.java
  samples/server/petstore/springboot-implicitHeaders/src/main/java/org/openapitools/model/Animal.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/model/Animal.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/Animal.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/Animal.java
  samples/server/petstore/springboot/src/main/java/org/openapitools/model/Animal.java
Labels: Server: Java

#5226 [swift][client] validate http status code
  modules/openapi-generator/src/main/resources/swift5/Extensions.mustache
  modules/openapi-generator/src/main/resources/swift5/Models.mustache
  modules/openapi-generator/src/main/resources/swift5/libraries/urlsession/URLSessionImplementations.mustache
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/urlsessionLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/urlsessionLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/urlsessionLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/test/swift5/default/TestClient/Classes/OpenAPIs/Extensions.swift
  samples/client/test/swift5/default/TestClient/Classes/OpenAPIs/Models.swift
  samples/client/test/swift5/default/TestClient/Classes/OpenAPIs/URLSessionImplementations.swift
Labels: Client: Swift, Issue: Bug

#5166 [feature] Add option to disable stripping of common prefix enum
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConfig.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientExperimentalCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
Labels: Enhancement: Feature

#5006 [go-experimental] Preserve capitalized acronyms in structure names
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientExperimentalCodegen.java
Labels: Client: Go

#5069 Add support for bearer token scala-akka #5067
  docs/generators/scala-akka.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaAkkaClientCodegen.java
  modules/openapi-generator/src/main/resources/scala-akka-client/api.mustache
  modules/openapi-generator/src/main/resources/scala-akka-client/apiInvoker.mustache
  modules/openapi-generator/src/main/resources/scala-akka-client/methodParameters.mustache
  modules/openapi-generator/src/main/resources/scala-akka-client/requests.mustache
Labels: Client: Scala, Enhancement: General

#5251 [maven]:memo: Docs and minor refactoring
  modules/openapi-generator-maven-plugin/README.md
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
Labels: OpenAPI Generator Maven Plugin

#5233 [core] Log some things in model/url utils once
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/URLPathUtils.java
Labels: Enhancement: General

#5207 [typescript] Make additional properties access safer
  docs/generators/javascript-flowtyped.md
  docs/generators/typescript-angular.md
  docs/generators/typescript-angularjs.md
  docs/generators/typescript-aurelia.md
  docs/generators/typescript-axios.md
  docs/generators/typescript-fetch.md
  docs/generators/typescript-inversify.md
  docs/generators/typescript-jquery.md
  docs/generators/typescript-node.md
  docs/generators/typescript-redux-query.md
  docs/generators/typescript-rxjs.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptFetchClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptReduxQueryClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptRxjsClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/TypeScriptAngularClientOptionsProvider.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/TypeScriptAngularJsClientOptionsProvider.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/TypeScriptAureliaClientOptionsProvider.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/TypeScriptFetchClientOptionsProvider.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/TypeScriptNodeClientOptionsProvider.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/fetch/TypeScriptFetchModelTest.java
  samples/client/petstore/dart2/openapi/.openapi-generator/VERSION
Labels: Client: TypeScript

#5150 [go-experimental] Add oneOf support
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientExperimentalCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/OneOfImplementorAdditionalData.java
  modules/openapi-generator/src/main/resources/Java/model.mustache
  modules/openapi-generator/src/main/resources/Java/model_test.mustache
  modules/openapi-generator/src/main/resources/Java/pojo_doc.mustache
  modules/openapi-generator/src/main/resources/go-experimental/model.mustache
  modules/openapi-generator/src/main/resources/go-experimental/model_doc.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/utils/OneOfImplementorAdditionalDataTest.java
  modules/openapi-generator/src/test/resources/3_0/composed-oneof.yaml
Labels: Client: Go, Enhancement: General

#5266 [typescript] Don't hardcode the date type if user has mapped it
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularJsClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAureliaClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAxiosClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptFetchClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptInversifyClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptJqueryClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptNodeClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptReduxQueryClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptRxjsClientCodegen.java
Labels: Client: TypeScript

#5287 [BUG][TYPESCRIPT-RXJS] Format Date is converted to Date-Time
  modules/openapi-generator/src/main/resources/typescript-rxjs/apis.mustache
Labels: Client: TypeScript

#5297 [docs] Support old site's users.html
  website/src/pages/users.html.js
Labels: Feature: Documentation

#5290 [codegen][validation] Add support for 'null' type
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/InlineModelResolver.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientExperimentalCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/validations/oas/OpenApiEvaluator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/validations/oas/OpenApiSchemaValidations.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/validations/oas/RuleConfiguration.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/validations/oas/OpenApiSchemaTypeTest.java
  modules/openapi-generator/src/test/resources/3_1/null-types-with-type-array.yaml
  modules/openapi-generator/src/test/resources/3_1/null-types.yaml
Labels: Enhancement: General

#5302 [go] Fix typo: "default GitHub in PRs"
  docs/generators/go-experimental.md
  docs/generators/go.md
  docs/usage.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
Labels: Client: Go, Issue: Non-operational

#5244 Add missing keywords in rust
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustClientCodegen.java
Labels: Client: Rust, Enhancement: General

#5304 Fix NPE in rust server generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
Labels: Issue: Bug, Server: Rust

#5270 [javascript-flowtyped] Update babelrc
  modules/openapi-generator/src/main/resources/Javascript-Flowtyped/babelrc
Labels: Client: JavaScript/Node.js, Issue: Bug

#5211 [kotlin][client] respect sortModelPropertiesByRequiredFlag
  modules/openapi-generator/src/main/resources/kotlin-client/data_class.mustache
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/models/Pet.kt
Labels: Client: Kotlin, Issue: Bug

#5177 [Java][okhttp-gson] Use builder api of OkHttpClient to avoid UnsupportedOperationEx
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#4350 Java importmapping 3589
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppRestSdkClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientExperimentalCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptNodeClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/utils/ModelUtilsTest.java
  modules/openapi-generator/src/test/resources/3_0/type-alias.yaml
Labels: Client: Java, Issue: Bug

#5305 typescript-fetch: Base Path can't be set to empty string
  modules/openapi-generator/src/main/resources/typescript-fetch/runtime.mustache
  samples/client/petstore/typescript-fetch/builds/default/runtime.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/runtime.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/typescript-three-plus/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/runtime.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/runtime.ts
Labels: Client: TypeScript

#5123 [cpp-restsdk] fix crashes and constness
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/api-header.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/api-source.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/apiclient-header.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/apiclient-source.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/apiconfiguration-header.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/apiconfiguration-source.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/model-source.mustache
  samples/client/petstore/cpp-restsdk/client/.openapi-generator/VERSION
  samples/client/petstore/cpp-restsdk/client/ApiClient.cpp
  samples/client/petstore/cpp-restsdk/client/ApiClient.h
  samples/client/petstore/cpp-restsdk/client/ApiConfiguration.cpp
  samples/client/petstore/cpp-restsdk/client/ApiConfiguration.h
  samples/client/petstore/cpp-restsdk/client/ApiException.cpp
  samples/client/petstore/cpp-restsdk/client/ApiException.h
  samples/client/petstore/cpp-restsdk/client/HttpContent.cpp
  samples/client/petstore/cpp-restsdk/client/HttpContent.h
  samples/client/petstore/cpp-restsdk/client/IHttpBody.h
  samples/client/petstore/cpp-restsdk/client/JsonBody.cpp
  samples/client/petstore/cpp-restsdk/client/JsonBody.h
  samples/client/petstore/cpp-restsdk/client/ModelBase.cpp
  samples/client/petstore/cpp-restsdk/client/ModelBase.h
  samples/client/petstore/cpp-restsdk/client/MultipartFormData.cpp
  samples/client/petstore/cpp-restsdk/client/MultipartFormData.h
  samples/client/petstore/cpp-restsdk/client/Object.cpp
  samples/client/petstore/cpp-restsdk/client/Object.h
  samples/client/petstore/cpp-restsdk/client/api/PetApi.cpp
  samples/client/petstore/cpp-restsdk/client/api/PetApi.h
  samples/client/petstore/cpp-restsdk/client/api/StoreApi.cpp
  samples/client/petstore/cpp-restsdk/client/api/StoreApi.h
  samples/client/petstore/cpp-restsdk/client/api/UserApi.cpp
  samples/client/petstore/cpp-restsdk/client/api/UserApi.h
  samples/client/petstore/cpp-restsdk/client/git_push.sh
  samples/client/petstore/cpp-restsdk/client/model/ApiResponse.cpp
  samples/client/petstore/cpp-restsdk/client/model/ApiResponse.h
  samples/client/petstore/cpp-restsdk/client/model/Category.cpp
  samples/client/petstore/cpp-restsdk/client/model/Category.h
  samples/client/petstore/cpp-restsdk/client/model/Order.cpp
  samples/client/petstore/cpp-restsdk/client/model/Order.h
  samples/client/petstore/cpp-restsdk/client/model/Pet.cpp
  samples/client/petstore/cpp-restsdk/client/model/Pet.h
  samples/client/petstore/cpp-restsdk/client/model/Tag.cpp
  samples/client/petstore/cpp-restsdk/client/model/Tag.h
  samples/client/petstore/cpp-restsdk/client/model/User.cpp
  samples/client/petstore/cpp-restsdk/client/model/User.h
Labels: Client: C++, Issue: Bug

#5253 [C++] [Qt5 Server] added implementation of declared function.
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/helpers-body.mustache
Labels: Issue: Bug, Server: C++

#5310 [Java] mark Feign 10.x (instead of 9.x) as the default
  bin/java-petstore-feign-10x.json
  docs/generators/java.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache
Labels: Client: Java, Enhancement: Compatibility

#5308 typescript-angular: single request parameter documentation
  modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/api/pet.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/api/store.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/api/user.service.ts
Labels: Client: TypeScript

#5286 [kotlin][client] improve debug experience
  modules/openapi-generator/src/main/resources/kotlin-client/api.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-okhttp/infrastructure/ApiClient.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-okhttp/infrastructure/ApiInfrastructureResponse.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-okhttp/infrastructure/Errors.kt.mustache
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/infrastructure/ApiInfrastructureResponse.kt
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/infrastructure/Errors.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiInfrastructureResponse.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/infrastructure/Errors.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/infrastructure/ApiInfrastructureResponse.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/infrastructure/Errors.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/infrastructure/ApiInfrastructureResponse.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/infrastructure/Errors.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/infrastructure/ApiInfrastructureResponse.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/infrastructure/Errors.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/infrastructure/ApiInfrastructureResponse.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/infrastructure/Errors.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiInfrastructureResponse.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/Errors.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/ApiInfrastructureResponse.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/Errors.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ApiInfrastructureResponse.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/Errors.kt
Labels: Client: Kotlin

#5316 [codegen] Improve java code comments and argument documentation; Fix issue with ComposedSchema that has undeclared properties
  docs/usage.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/InlineModelResolver.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
Labels: Feature: Documentation

#5343 [doc] Minor website fixes
  docs/customization.md
  website/docusaurus.config.js
  website/package.json
  website/src/pages/styles.module.css
  website/src/pages/team.js
  website/yarn.lock
Labels: Feature: Documentation

#5314 [typescript] Remove incomplete support of Date type
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularJsClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAureliaClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAxiosClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptInversifyClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptJqueryClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptRxjsClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/typescriptangular/TypeScriptAngularModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/typescriptangularjs/TypeScriptAngularJsModelTest.java
  samples/client/petstore/typescript-angular-v2/default/model/order.ts
  samples/client/petstore/typescript-angular-v2/npm/model/order.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/model/order.ts
  samples/client/petstore/typescript-angular-v4.3/npm/model/order.ts
  samples/client/petstore/typescript-angular-v4/npm/model/order.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/model/order.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/model/order.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/model/order.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/model/order.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/model/order.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/model/order.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/model/order.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/model/order.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/model/order.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/model/order.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/model/order.ts
  samples/client/petstore/typescript-angularjs/model/Order.ts
  samples/client/petstore/typescript-aurelia/default/models.ts
  samples/client/petstore/typescript-axios/builds/default/api.ts
  samples/client/petstore/typescript-axios/builds/es6-target/api.ts
  samples/client/petstore/typescript-axios/builds/with-complex-headers/api.ts
  samples/client/petstore/typescript-axios/builds/with-interfaces/api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/model/some/levels/deep/order.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version/api.ts
  samples/client/petstore/typescript-inversify/model/order.ts
  samples/client/petstore/typescript-jquery/default/model/Order.ts
  samples/client/petstore/typescript-jquery/npm/model/Order.ts
  samples/client/petstore/typescript-redux-query/builds/default/.openapi-generator/VERSION
  samples/client/petstore/typescript-rxjs/builds/default/models/Order.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/models/Order.ts
  samples/client/petstore/typescript-rxjs/builds/with-interfaces/models/Order.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/models/Order.ts
Labels: Client: TypeScript

#5342 python: Add gitlab-ci.mustache
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/main/resources/python/gitlab-ci.mustache
  samples/client/petstore/python-asyncio/.gitlab-ci.yml
  samples/client/petstore/python-experimental/.gitlab-ci.yml
  samples/client/petstore/python-tornado/.gitlab-ci.yml
  samples/client/petstore/python/.gitlab-ci.yml
  samples/openapi3/client/petstore/python-experimental/.gitlab-ci.yml
  samples/openapi3/client/petstore/python/.gitlab-ci.yml
  samples/openapi3/server/petstore/python-flask-python2/.openapi-generator/VERSION
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/controllers/pet_controller.py
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/openapi/openapi.yaml
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/test/test_pet_controller.py
  samples/openapi3/server/petstore/python-flask/.openapi-generator/VERSION
  samples/openapi3/server/petstore/python-flask/openapi_server/controllers/pet_controller.py
  samples/openapi3/server/petstore/python-flask/openapi_server/openapi/openapi.yaml
  samples/openapi3/server/petstore/python-flask/openapi_server/test/test_pet_controller.py
Labels: Client: Python, Enhancement: CI/Test

#5344 [JavaScript] Avoid setting Content-Type header if body is not used
  modules/openapi-generator/src/main/resources/Javascript/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Javascript/es6/ApiClient.mustache
  samples/client/petstore/javascript-es6/src/ApiClient.js
  samples/client/petstore/javascript-promise-es6/src/ApiClient.js
  samples/client/petstore/javascript-promise/src/ApiClient.js
  samples/client/petstore/javascript/src/ApiClient.js
  samples/openapi3/client/petstore/javascript-es6/src/ApiClient.js
Labels: Client: JavaScript/Node.js, Issue: Bug

#5345 [r] Handling CRAN feedback for example snippets
  modules/openapi-generator/src/main/resources/r/api.mustache
  samples/client/petstore/R/R/pet_api.R
  samples/client/petstore/R/R/store_api.R
  samples/client/petstore/R/R/user_api.R
Labels: Client: R, Enhancement: Code format

#5329 [BUG][typescript-rxjs] Fix nully type coalescing in Configuration getters
  modules/openapi-generator/src/main/resources/typescript-rxjs/runtime.mustache
  samples/client/petstore/typescript-rxjs/builds/default/runtime.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/runtime.ts
  samples/client/petstore/typescript-rxjs/builds/with-interfaces/runtime.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/runtime.ts
Labels: Client: TypeScript

#5332 [cli][core] Add support for dry-run and display
  docs/debugging.md
  docs/usage.md
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/AbstractGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DryRunStatus.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfigurator.java
Labels: Enhancement: General, OpenAPI Generator CLI

#5327 [Kotlin][Client] Enum toString handling
  modules/openapi-generator/src/main/resources/kotlin-client/enum_class.mustache
Labels: Client: Kotlin, Feature: Enum, Issue: Bug

#2758 Fix: "isAlias" of CodegenModel
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/type_alias.yaml
Labels: Feature: Generator, Issue: Bug

#5300 [k6] OpenAPI code generator for k6 API load-testing tool (ES5.1+)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/k6Codegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/k6/README.mustache
  modules/openapi-generator/src/main/resources/k6/licenseInfo.mustache
  modules/openapi-generator/src/main/resources/k6/script.mustache
  samples/client/petstore/k6/.openapi-generator-ignore
  samples/client/petstore/k6/.openapi-generator/VERSION
  samples/client/petstore/k6/README.md
  samples/client/petstore/k6/script.js
Labels: Client: k6, Enhancement: New generator

#5361 Update maven-javadoc-plugin for Java 11 support
  modules/openapi-generator/pom.xml
  modules/openapi-generator/src/main/resources/Java/libraries/feign/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/rest-assured/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/pom.mustache
  modules/openapi-generator/src/main/resources/Java/pom.mustache
  modules/openapi-generator/src/test/resources/2_0/templates/Java/libraries/jersey2/pom.mustache
  samples/client/petstore/java/feign/pom.xml
  samples/client/petstore/java/feign10x/pom.xml
  samples/client/petstore/java/google-api-client/pom.xml
  samples/client/petstore/java/jersey1/pom.xml
  samples/client/petstore/java/jersey2-java6/pom.xml
  samples/client/petstore/java/jersey2-java8/pom.xml
  samples/client/petstore/java/jersey2/pom.xml
  samples/client/petstore/java/okhttp-gson-parcelableModel/pom.xml
  samples/client/petstore/java/okhttp-gson/pom.xml
  samples/client/petstore/java/rest-assured/pom.xml
  samples/client/petstore/java/resteasy/pom.xml
  samples/client/petstore/java/resttemplate-withXml/pom.xml
  samples/client/petstore/java/resttemplate/pom.xml
  samples/client/petstore/java/retrofit/pom.xml
  samples/client/petstore/java/retrofit2-play24/pom.xml
  samples/client/petstore/java/retrofit2-play25/pom.xml
  samples/client/petstore/java/retrofit2-play26/pom.xml
  samples/client/petstore/java/retrofit2/pom.xml
  samples/client/petstore/java/retrofit2rx/pom.xml
  samples/client/petstore/java/retrofit2rx2/pom.xml
  samples/client/petstore/java/vertx/pom.xml
Labels: Client: Java, Enhancement: Compatibility, Feature: Generator

#5369 Add post-processing to NodeJS express server generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/NodeJSExpressServerCodegen.java
Labels: Enhancement: Feature, Server: Nodejs

#5370 typescript-angular: support angular 9
  docs/generators/typescript-angular.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
  modules/openapi-generator/src/main/resources/typescript-angular/api.module.mustache
  samples/client/petstore/typescript-angular-v2/default/.openapi-generator-ignore
  samples/client/petstore/typescript-angular-v2/default/LICENSE
  samples/client/petstore/typescript-angular-v2/with-interfaces/.openapi-generator-ignore
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/PetApi.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/PetApiInterface.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/StoreApi.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/StoreApiInterface.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/UserApi.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/api/UserApiInterface.ts
  samples/client/petstore/typescript-angular-v2/with-interfaces/package.json
  samples/client/petstore/typescript-angular-v2/with-interfaces/tsconfig.json
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/package.json
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/package.json
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/package.json
Labels: Client: TypeScript

#5283 [go] Fix filenames with $GOOS and $GOARCH sufixes
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
Labels: Client: Go, Issue: Bug

#5318 [PHP] Fix additionalProperties annotation in models.
  modules/openapi-generator/src/main/resources/php-symfony/model_variables.mustache
Labels: Issue: Bug, Server: PHP

#4489 [PHP] Remove model prefix/suffix from inline enum var names
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPhpCodegen.java
Labels: Client: PHP, Issue: Bug

#5337 [Rust Server] Support header objects
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/resources/rust-server/client-mod.mustache
  modules/openapi-generator/src/main/resources/rust-server/header.mustache
  modules/openapi-generator/src/main/resources/rust-server/lib.mustache
  modules/openapi-generator/src/main/resources/rust-server/models.mustache
  modules/openapi-generator/src/main/resources/rust-server/server-mod.mustache
  modules/openapi-generator/src/test/resources/3_0/rust-server/openapi-v3.yaml
  samples/server/petstore/rust-server/output/multipart-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/header.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/lib.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/models.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/README.md
  samples/server/petstore/rust-server/output/openapi-v3/api/openapi.yaml
  samples/server/petstore/rust-server/output/openapi-v3/docs/ObjectHeader.md
  samples/server/petstore/rust-server/output/openapi-v3/docs/OptionalObjectField.md
  samples/server/petstore/rust-server/output/openapi-v3/docs/OptionalObjectHeader.md
  samples/server/petstore/rust-server/output/openapi-v3/docs/RequiredObjectField.md
  samples/server/petstore/rust-server/output/openapi-v3/docs/RequiredObjectHeader.md
  samples/server/petstore/rust-server/output/openapi-v3/docs/default_api.md
  samples/server/petstore/rust-server/output/openapi-v3/examples/client.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/server_lib/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/header.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/models.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/ops-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/ops-v3/src/header.rs
  samples/server/petstore/rust-server/output/ops-v3/src/lib.rs
  samples/server/petstore/rust-server/output/ops-v3/src/models.rs
  samples/server/petstore/rust-server/output/ops-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/client/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/header.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/lib.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/models.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/server/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/client/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/header.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/lib.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/models.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/server/mod.rs
Labels: Client: Rust, Server: Rust

#5338 [Rust Server] Support objects as query parameters
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/resources/rust-server/models.mustache
  modules/openapi-generator/src/test/resources/2_0/rust-server/petstore-with-fake-endpoints-models-for-testing.yaml
  modules/openapi-generator/src/test/resources/3_0/rust-server/openapi-v3.yaml
  samples/server/petstore/rust-server/output/multipart-v3/examples/server_lib/server.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/models.rs
  samples/server/petstore/rust-server/output/openapi-v3/README.md
  samples/server/petstore/rust-server/output/openapi-v3/api/openapi.yaml
  samples/server/petstore/rust-server/output/openapi-v3/docs/ObjectParam.md
  samples/server/petstore/rust-server/output/openapi-v3/docs/default_api.md
  samples/server/petstore/rust-server/output/openapi-v3/examples/client.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/server_lib/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/server_lib/server.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/mimetypes.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/models.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/ops-v3/examples/server_lib/server.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/README.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/api/openapi.yaml
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/FormatTest.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/MixedPropertiesAndAdditionalPropertiesClass.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/ObjectContainingObjectWithOnlyAdditionalProperties.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/ObjectWithOnlyAdditionalProperties.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/Order.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/fake_api.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/examples/server_lib/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/examples/server_lib/server.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/client/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/lib.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/models.rs
  samples/server/petstore/rust-server/output/rust-server-test/docs/DefaultApi.md
  samples/server/petstore/rust-server/output/rust-server-test/examples/server_lib/server.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/models.rs
Labels: Client: Rust, Server: Rust

#5339 [Rust Server] Add support for untyped properties and models
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/resources/rust-server/lib.mustache
  modules/openapi-generator/src/test/resources/2_0/rust-server/rust-server-test.yaml
  modules/openapi-generator/src/test/resources/3_0/rust-server/openapi-v3.yaml
  samples/server/petstore/rust-server/output/openapi-v3/README.md
  samples/server/petstore/rust-server/output/openapi-v3/api/openapi.yaml
  samples/server/petstore/rust-server/output/openapi-v3/docs/ObjUntypedProps.md
  samples/server/petstore/rust-server/output/openapi-v3/docs/ObjectUntypedProps.md
  samples/server/petstore/rust-server/output/openapi-v3/docs/default_api.md
  samples/server/petstore/rust-server/output/openapi-v3/examples/client.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/server_lib/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/mimetypes.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/models.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/lib.rs
  samples/server/petstore/rust-server/output/rust-server-test/README.md
  samples/server/petstore/rust-server/output/rust-server-test/api/openapi.yaml
  samples/server/petstore/rust-server/output/rust-server-test/docs/GetYamlResponse.md
  samples/server/petstore/rust-server/output/rust-server-test/docs/default_api.md
  samples/server/petstore/rust-server/output/rust-server-test/examples/client.rs
  samples/server/petstore/rust-server/output/rust-server-test/examples/server_lib/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/client/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/lib.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/mimetypes.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/models.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/server/mod.rs
Labels: Client: Rust, Server: Rust

#5380 [go][java] Document new parameterized server support
  docs/generators/go-experimental.md
  docs/generators/go.md
  docs/generators/java.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
Labels: Client: Go, Client: Java, Feature: OAS 3.0 spec support

#5315 [python] add method to set/get default configuration
  modules/openapi-generator/src/main/resources/python/api_client.mustache
  modules/openapi-generator/src/main/resources/python/configuration.mustache
  samples/client/petstore/python-asyncio/petstore_api/api_client.py
  samples/client/petstore/python-asyncio/petstore_api/configuration.py
  samples/client/petstore/python-experimental/petstore_api/configuration.py
  samples/client/petstore/python-tornado/petstore_api/api_client.py
  samples/client/petstore/python-tornado/petstore_api/configuration.py
  samples/client/petstore/python/petstore_api/api_client.py
  samples/client/petstore/python/petstore_api/configuration.py
  samples/client/petstore/python/tests/test_configuration.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/configuration.py
  samples/openapi3/client/petstore/python/petstore_api/api_client.py
  samples/openapi3/client/petstore/python/petstore_api/configuration.py
Labels: Client: Python

#5364 [hb] Honor supporting files when applying bundles
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/api/TemplatingEngineAdapter.java
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/api/TemplatingGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/HandlebarsEngineAdapter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/MustacheEngineAdapter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/TemplateNotFoundException.java
Labels: Bleeding Edge, Enhancement: General, Issue: Bug

#5404 kotlin-server: fix features' imports
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/AppMain.kt.mustache
Labels: Issue: Bug, Server: Kotlin

#5399 [typescript] Add ReadonlyArray to native types
  docs/generators/typescript-angular.md
  docs/generators/typescript-angularjs.md
  docs/generators/typescript-aurelia.md
  docs/generators/typescript-axios.md
  docs/generators/typescript-fetch.md
  docs/generators/typescript-inversify.md
  docs/generators/typescript-jquery.md
  docs/generators/typescript-node.md
  docs/generators/typescript-redux-query.md
  docs/generators/typescript-rxjs.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java
Labels: Client: TypeScript

#5333 [Java] Error generating java due to a default for a date #5086
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/AbstractJavaCodegenTest.java
Labels: Client: Java, Issue: Bug, Server: Java, Server: Spring

#5424 [Erlang][Server] fix import for multiple API key auth
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppPistacheServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppRestbedServerCodegen.java
  modules/openapi-generator/src/main/resources/erlang-server/logic_handler.mustache
  samples/server/petstore/erlang-server/.openapi-generator/VERSION
  samples/server/petstore/erlang-server/priv/openapi.json
Labels: Issue: Bug, Server: Erlang

#5255 Removal of Encoding in the Query-Params in order to prevent double En…
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/ApiClient.mustache
Labels: Client: Java, Issue: Bug

#5428 [Ruby] Add error output
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractRubyCodegen.java
Labels: Client: Ruby, Enhancement: General, Server: Ruby

#5407 [Rust Server] Support RFC 7807
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/test/resources/3_0/rust-server/openapi-v3.yaml
  samples/server/petstore/rust-server/output/openapi-v3/README.md
  samples/server/petstore/rust-server/output/openapi-v3/api/openapi.yaml
  samples/server/petstore/rust-server/output/openapi-v3/docs/ObjUntypedProps.md
  samples/server/petstore/rust-server/output/openapi-v3/docs/OptionalObjectField.md
  samples/server/petstore/rust-server/output/openapi-v3/docs/RequiredObjectField.md
  samples/server/petstore/rust-server/output/openapi-v3/docs/default_api.md
  samples/server/petstore/rust-server/output/openapi-v3/examples/client.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/server_lib/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/mimetypes.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/mod.rs
Labels: Client: Rust, Server: Rust

#5445 Fix NPE for enum
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Feature: Generator, Issue: Bug

#5433 [Java][WebClient] better code format
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/api.mustache
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Enhancement: Code format

#5461 Fix the issue with the online service
  modules/openapi-generator-online/pom.xml
  pom.xml
Labels: Issue: Bug, OpenAPI Generator Online

#5440 Support for additionalProperties in the C generator "Client: C" solves #5395
  modules/openapi-generator/src/main/resources/C-libcurl/apiKey.c.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/keyValuePair.h.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/model-body.mustache
  samples/client/petstore/c/.openapi-generator/VERSION
  samples/client/petstore/c/api/UserAPI.c
  samples/client/petstore/c/include/apiClient.h
  samples/client/petstore/c/include/keyValuePair.h
  samples/client/petstore/c/model/order.c
  samples/client/petstore/c/model/order.h
  samples/client/petstore/c/model/pet.c
  samples/client/petstore/c/model/pet.h
  samples/client/petstore/c/model/user.c
  samples/client/petstore/c/model/user.h
  samples/client/petstore/c/src/apiClient.c
  samples/client/petstore/c/src/apiKey.c
Labels: Client: C, Issue: Bug

#5472 [docs] Enable Algolia search
  website/docusaurus.config.js
Labels: Feature: Documentation

#5422 Fix #5420 add headers from configuration object
  modules/openapi-generator/src/main/resources/typescript-axios/apiInner.mustache
  samples/client/petstore/typescript-axios/builds/default/api.ts
  samples/client/petstore/typescript-axios/builds/es6-target/api.ts
  samples/client/petstore/typescript-axios/builds/with-complex-headers/api.ts
  samples/client/petstore/typescript-axios/builds/with-interfaces/api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/pet-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/store-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/user-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version/api.ts
Labels: Client: TypeScript, Issue: Bug

#5427 [typescript] Clean up modelPropertyNaming across generators
  docs/generators/javascript-flowtyped.md
  docs/generators/typescript-angular.md
  docs/generators/typescript-angularjs.md
  docs/generators/typescript-aurelia.md
  docs/generators/typescript-axios.md
  docs/generators/typescript-inversify.md
  docs/generators/typescript-jquery.md
  docs/generators/typescript-rxjs.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptFetchClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptInversifyClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptNodeClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptReduxQueryClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptRxjsClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/fetch/TypeScriptFetchClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/typescriptangular/TypeScriptAngularClientCodegenTest.java
Labels: Client: TypeScript

#5429 [scala] [template] scala sttp client
  bin/openapi3/scala-sttp-petstore.sh
  docs/generators.md
  docs/generators/scala-sttp.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaSttpClientCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/scala-sttp-client/README.mustache
  modules/openapi-generator/src/main/resources/scala-sttp-client/api.mustache
  modules/openapi-generator/src/main/resources/scala-sttp-client/apiInvoker.mustache
  modules/openapi-generator/src/main/resources/scala-sttp-client/build.sbt.mustache
  modules/openapi-generator/src/main/resources/scala-sttp-client/enumsSerializers.mustache
  modules/openapi-generator/src/main/resources/scala-sttp-client/javadoc.mustache
  modules/openapi-generator/src/main/resources/scala-sttp-client/licenseInfo.mustache
  modules/openapi-generator/src/main/resources/scala-sttp-client/methodParameters.mustache
  modules/openapi-generator/src/main/resources/scala-sttp-client/model.mustache
  modules/openapi-generator/src/main/resources/scala-sttp-client/operationReturnType.mustache
  modules/openapi-generator/src/main/resources/scala-sttp-client/paramCreation.mustache
  modules/openapi-generator/src/main/resources/scala-sttp-client/paramFormCreation.mustache
  modules/openapi-generator/src/main/resources/scala-sttp-client/paramQueryCreation.mustache
  modules/openapi-generator/src/main/resources/scala-sttp-client/requests.mustache
  modules/openapi-generator/src/main/resources/scala-sttp-client/responseState.mustache
  modules/openapi-generator/src/main/resources/scala-sttp-client/serializers.mustache
  samples/client/petstore/scala-sttp/.openapi-generator-ignore
  samples/client/petstore/scala-sttp/.openapi-generator/VERSION
  samples/client/petstore/scala-sttp/README.md
  samples/client/petstore/scala-sttp/build.sbt
  samples/client/petstore/scala-sttp/project/build.properties
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/api/EnumsSerializers.scala
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/api/PetApi.scala
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/api/StoreApi.scala
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/api/UserApi.scala
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/core/ApiInvoker.scala
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/core/Serializers.scala
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/core/requests.scala
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/model/ApiResponse.scala
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/model/Category.scala
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/model/InlineObject.scala
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/model/InlineObject1.scala
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/model/Order.scala
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/model/Pet.scala
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/model/Tag.scala
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/model/User.scala
  samples/client/petstore/scala-sttp/src/test/scala/PetApiTest.scala
Labels: Client: Scala, Enhancement: New generator

#5474 [Ruby] Fix obsolete configuration of Rubocop and Rubocop's warns (#5417)
  modules/openapi-generator/src/main/resources/ruby-client/api_client_spec.mustache
  modules/openapi-generator/src/main/resources/ruby-client/rubocop.mustache
  samples/client/petstore/ruby-faraday/.rubocop.yml
  samples/client/petstore/ruby/.rubocop.yml
  samples/client/petstore/ruby/spec/api_client_spec.rb
  samples/openapi3/client/petstore/ruby-faraday/.rubocop.yml
  samples/openapi3/client/petstore/ruby-faraday/spec/api_client_spec.rb
  samples/openapi3/client/petstore/ruby/.rubocop.yml
  samples/openapi3/client/petstore/ruby/spec/api_client_spec.rb
Labels: Client: Ruby, Enhancement: Code format

#5475 [Scala][sttp] various improvements
  README.md
  bin/openapi3/scala-sttp-petstore.sh
  bin/openapi3/windows/scala-sttp-petstore.bat
  docs/generators.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaSttpClientCodegen.java
  modules/openapi-generator/src/main/resources/scala-sttp/README.mustache
  modules/openapi-generator/src/main/resources/scala-sttp/api.mustache
  modules/openapi-generator/src/main/resources/scala-sttp/apiInvoker.mustache
  modules/openapi-generator/src/main/resources/scala-sttp/build.sbt.mustache
  modules/openapi-generator/src/main/resources/scala-sttp/enumsSerializers.mustache
  modules/openapi-generator/src/main/resources/scala-sttp/javadoc.mustache
  modules/openapi-generator/src/main/resources/scala-sttp/licenseInfo.mustache
  modules/openapi-generator/src/main/resources/scala-sttp/methodParameters.mustache
  modules/openapi-generator/src/main/resources/scala-sttp/model.mustache
  modules/openapi-generator/src/main/resources/scala-sttp/operationReturnType.mustache
  modules/openapi-generator/src/main/resources/scala-sttp/paramCreation.mustache
  modules/openapi-generator/src/main/resources/scala-sttp/paramFormCreation.mustache
  modules/openapi-generator/src/main/resources/scala-sttp/paramQueryCreation.mustache
  modules/openapi-generator/src/main/resources/scala-sttp/requests.mustache
  modules/openapi-generator/src/main/resources/scala-sttp/responseState.mustache
  modules/openapi-generator/src/main/resources/scala-sttp/serializers.mustache
  pom.xml
  samples/client/petstore/scala-sttp/project/build.properties
  samples/client/petstore/scala-sttp/src/test/scala/PetApiTest.scala
  samples/openapi3/client/petstore/scala-sttp/.openapi-generator-ignore
  samples/openapi3/client/petstore/scala-sttp/.openapi-generator/VERSION
  samples/openapi3/client/petstore/scala-sttp/README.md
  samples/openapi3/client/petstore/scala-sttp/build.sbt
  samples/openapi3/client/petstore/scala-sttp/pom.xml
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/api/EnumsSerializers.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/api/PetApi.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/api/StoreApi.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/api/UserApi.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/core/ApiInvoker.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/core/Serializers.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/core/requests.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/model/ApiResponse.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/model/Category.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/model/InlineObject.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/model/InlineObject1.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/model/Order.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/model/Pet.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/model/Tag.scala
  samples/openapi3/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/model/User.scala
Labels: Client: Scala, Enhancement: General

#5483 [Ruby] Fix CVE-2020-8130
  modules/openapi-generator/src/main/resources/ruby-client/Gemfile.mustache
  samples/client/petstore/ruby-faraday/Gemfile
  samples/client/petstore/ruby/Gemfile
  samples/openapi3/client/petstore/ruby-faraday/Gemfile
  samples/openapi3/client/petstore/ruby/Gemfile
Labels: Client: Ruby, Issue: Security

#5408 [Rust Server] Nullable fixes
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/resources/rust-server/models.mustache
  modules/openapi-generator/src/test/resources/3_0/rust-server/openapi-v3.yaml
  samples/server/petstore/rust-server/output/multipart-v3/src/models.rs
  samples/server/petstore/rust-server/output/openapi-v3/README.md
  samples/server/petstore/rust-server/output/openapi-v3/api/openapi.yaml
  samples/server/petstore/rust-server/output/openapi-v3/docs/NullableTest.md
  samples/server/petstore/rust-server/output/openapi-v3/src/models.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/NullableTest.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/models.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/models.rs
Labels: Client: Rust, Server: Rust

#5452 [Rust Server] Handle numeric response description
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/test/resources/2_0/rust-server/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/README.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/api/openapi.yaml
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/NullableTest.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/fake_api.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/examples/client.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/examples/server_lib/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/client/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/lib.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/server/mod.rs
Labels: Client: Rust, Server: Rust

#5453 [Rust Server] Support numeric operation IDs
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/test/resources/2_0/rust-server/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/README.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/api/openapi.yaml
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/fake_api.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/examples/client.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/examples/server_lib/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/client/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/lib.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/server/mod.rs
Labels: Client: Rust, Server: Rust

#5454 [Rust Server] Support RFC 7386
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/test/resources/3_0/rust-server/openapi-v3.yaml
  samples/server/petstore/rust-server/output/openapi-v3/README.md
  samples/server/petstore/rust-server/output/openapi-v3/api/openapi.yaml
  samples/server/petstore/rust-server/output/openapi-v3/docs/default_api.md
  samples/server/petstore/rust-server/output/openapi-v3/examples/client.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/server_lib/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/mimetypes.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/mod.rs
Labels: Client: Rust, Server: Rust
