Repository OpenAPITools/openapi-generator, pull requests merged in 2020-04, with the labels that each got.

#5773 [PS][Experimental] use prepare instead of new
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellExperimentalClientCodegen.java
  modules/openapi-generator/src/main/resources/powershell-experimental/model.mustache
  modules/openapi-generator/src/main/resources/powershell-experimental/model_doc.mustache
  samples/client/petstore/powershell-experimental/docs/ApiResponse.md
  samples/client/petstore/powershell-experimental/docs/Category.md
  samples/client/petstore/powershell-experimental/docs/InlineObject.md
  samples/client/petstore/powershell-experimental/docs/InlineObject1.md
  samples/client/petstore/powershell-experimental/docs/Order.md
  samples/client/petstore/powershell-experimental/docs/PSPetApi.md
  samples/client/petstore/powershell-experimental/docs/PSStoreApi.md
  samples/client/petstore/powershell-experimental/docs/PSUserApi.md
  samples/client/petstore/powershell-experimental/docs/Pet.md
  samples/client/petstore/powershell-experimental/docs/Tag.md
  samples/client/petstore/powershell-experimental/docs/User.md
  samples/client/petstore/powershell-experimental/src/PSPetstore/Model/ApiResponse.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Model/Category.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Model/InlineObject.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Model/InlineObject1.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Model/Order.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Model/Pet.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Model/Tag.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Model/User.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/PSPetstore.psd1
  samples/client/petstore/powershell-experimental/tests/Api/PSStoreApi.Tests.ps1
  samples/client/petstore/powershell-experimental/tests/Api/PSUserApi.Tests.ps1
  samples/client/petstore/powershell-experimental/tests/Petstore.Tests.ps1
Labels: Client: PowerShell, Enhancement: General

#5777 [PS][Experimental] Use Initialize instead of prepare
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellExperimentalClientCodegen.java
  modules/openapi-generator/src/main/resources/powershell-experimental/README.mustache
  modules/openapi-generator/src/main/resources/powershell-experimental/model.mustache
  modules/openapi-generator/src/main/resources/powershell-experimental/model_doc.mustache
  samples/client/petstore/powershell-experimental/README.md
  samples/client/petstore/powershell-experimental/Test1.ps1
  samples/client/petstore/powershell-experimental/docs/ApiResponse.md
  samples/client/petstore/powershell-experimental/docs/Category.md
  samples/client/petstore/powershell-experimental/docs/InlineObject.md
  samples/client/petstore/powershell-experimental/docs/InlineObject1.md
  samples/client/petstore/powershell-experimental/docs/Order.md
  samples/client/petstore/powershell-experimental/docs/PSPetApi.md
  samples/client/petstore/powershell-experimental/docs/PSStoreApi.md
  samples/client/petstore/powershell-experimental/docs/PSUserApi.md
  samples/client/petstore/powershell-experimental/docs/Pet.md
  samples/client/petstore/powershell-experimental/docs/Tag.md
  samples/client/petstore/powershell-experimental/docs/User.md
  samples/client/petstore/powershell-experimental/src/PSPetstore/Model/ApiResponse.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Model/Category.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Model/InlineObject.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Model/InlineObject1.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Model/Order.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Model/Pet.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Model/Tag.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Model/User.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/PSPetstore.psd1
  samples/client/petstore/powershell-experimental/tests/Petstore.Tests.ps1
Labels: Client: PowerShell, Enhancement: General

#5778 [PS][Experimental] Add map example
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellExperimentalClientCodegen.java
Labels: Client: PowerShell, Enhancement: Feature, Feature: Documentation

#5783 [PS][Experimental] Better common verb handling
  bin/openapi3/powershell-experimental-petstore.sh
  docs/generators/powershell-experimental.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellExperimentalClientCodegen.java
Labels: Client: PowerShell, Enhancement: General

#5736 [cli][docker] Better expose version/sha information of builds
  .travis.yml
  docs/usage.md
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/Constants.java
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/OpenAPIGenerator.java
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/BuildInfo.java
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/CompletionCommand.java
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/ConfigHelp.java
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/GenerateBatch.java
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/GlobalOptions.java
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/HelpCommand.java
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/ListGenerators.java
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Meta.java
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/OpenApiGeneratorCommand.java
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Validate.java
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Version.java
  modules/openapi-generator/pom.xml
  pom.xml
Labels: Docker, Enhancement: CI/Test, OpenAPI Generator CLI, OpenAPI Generator Online

#5687 [cli] Add --global-property for -D replacement
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/config/WorkflowSettings.java
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfigurator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfiguratorUtils.java
Labels: Issue: Bug

#5611 [go-experimental][go][client] Remove unreachable code in go client API methods
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenResponse.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/resources/go-experimental/api.mustache
  modules/openapi-generator/src/main/resources/go/api.mustache
  samples/client/petstore/go-experimental/go-petstore/api_another_fake.go
  samples/client/petstore/go-experimental/go-petstore/api_fake.go
  samples/client/petstore/go-experimental/go-petstore/api_fake_classname_tags123.go
  samples/client/petstore/go-experimental/go-petstore/api_pet.go
  samples/client/petstore/go-experimental/go-petstore/api_store.go
  samples/client/petstore/go-experimental/go-petstore/api_user.go
  samples/client/petstore/go/go-petstore-withXml/api_another_fake.go
  samples/client/petstore/go/go-petstore-withXml/api_fake.go
  samples/client/petstore/go/go-petstore-withXml/api_fake_classname_tags123.go
  samples/client/petstore/go/go-petstore-withXml/api_pet.go
  samples/client/petstore/go/go-petstore-withXml/api_store.go
  samples/client/petstore/go/go-petstore-withXml/api_user.go
  samples/client/petstore/go/go-petstore/api_another_fake.go
  samples/client/petstore/go/go-petstore/api_fake.go
  samples/client/petstore/go/go-petstore/api_fake_classname_tags123.go
  samples/client/petstore/go/go-petstore/api_pet.go
  samples/client/petstore/go/go-petstore/api_store.go
  samples/client/petstore/go/go-petstore/api_user.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/api_another_fake.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/api_fake.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/api_fake_classname_tags123.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/api_pet.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/api_store.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/api_user.go
  samples/openapi3/client/petstore/go/go-petstore/api_another_fake.go
  samples/openapi3/client/petstore/go/go-petstore/api_fake.go
  samples/openapi3/client/petstore/go/go-petstore/api_fake_classname_tags123.go
  samples/openapi3/client/petstore/go/go-petstore/api_pet.go
  samples/openapi3/client/petstore/go/go-petstore/api_store.go
  samples/openapi3/client/petstore/go/go-petstore/api_user.go
Labels: Client: Go

#5797 [typescript-axios][client] Unnecessary imports occurs when using withSeparateModelsAndApi
  modules/openapi-generator/src/main/resources/typescript-axios/apiInner.mustache
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/pet-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/store-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/user-api.ts
Labels: Client: TypeScript

#5804 [PS][Experimental] use write verbose when setting authentication, better API doc
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellExperimentalClientCodegen.java
  modules/openapi-generator/src/main/resources/powershell-experimental/api.mustache
  modules/openapi-generator/src/main/resources/powershell-experimental/api_doc.mustache
  samples/client/petstore/powershell-experimental/Test1.ps1
  samples/client/petstore/powershell-experimental/docs/PSPetApi.md
  samples/client/petstore/powershell-experimental/docs/PSStoreApi.md
  samples/client/petstore/powershell-experimental/docs/PSUserApi.md
  samples/client/petstore/powershell-experimental/src/PSPetstore/API/PSPetApi.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/API/PSStoreApi.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/API/PSUserApi.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/PSPetstore.psd1
Labels: Client: PowerShell, Enhancement: General

#5811 [PS][Experimental] add withHttpInfo support, fix "null" return
  modules/openapi-generator/src/main/resources/powershell-experimental/api.mustache
  modules/openapi-generator/src/main/resources/powershell-experimental/api_client.mustache
  samples/client/petstore/powershell-experimental/src/PSPetstore/API/PSPetApi.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/API/PSStoreApi.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/API/PSUserApi.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/PSPetstore.psd1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Private/PSApiClient.ps1
  samples/client/petstore/powershell-experimental/tests/Petstore.Tests.ps1
Labels: Client: PowerShell, Enhancement: Feature, Issue: Bug

#5775 [codegen] Make name cache configurable using system properties
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/StringUtils.java
Labels: Enhancement: General, Feature: Generator

#5821 [PS][Experimental] rename hostsetting, validate base url
  modules/openapi-generator/src/main/resources/powershell-experimental/configuration.mustache
  samples/client/petstore/powershell-experimental/src/PSPetstore/Client/PSConfiguration.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/PSPetstore.psd1
  samples/client/petstore/powershell-experimental/tests/Petstore.Tests.ps1
Labels: Client: PowerShell, Enhancement: General

#5822 [PS][Experimental] Fix array return
  modules/openapi-generator/src/main/resources/powershell-experimental/configuration.mustache
Labels: Client: PowerShell, Issue: Bug

#5758 Scala akka-http server
  bin/scala-akka-http-server-petstore.sh
  bin/windows/scala-akka-http-server-petstore.bat
  docs/generators.md
  docs/generators/scala-akka-http.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaAkkaHttpServerCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/scala-akka-http-server/README.mustache
  modules/openapi-generator/src/main/resources/scala-akka-http-server/api.mustache
  modules/openapi-generator/src/main/resources/scala-akka-http-server/build.sbt.mustache
  modules/openapi-generator/src/main/resources/scala-akka-http-server/controller.mustache
  modules/openapi-generator/src/main/resources/scala-akka-http-server/helper.mustache
  modules/openapi-generator/src/main/resources/scala-akka-http-server/model.mustache
  modules/openapi-generator/src/main/resources/scala-akka-http-server/multipart.mustache
  modules/openapi-generator/src/main/resources/scala-akka-http-server/multipartDirectives.mustache
  modules/openapi-generator/src/main/resources/scala-akka-http-server/noMultipart.mustache
  modules/openapi-generator/src/main/resources/scala-akka-http-server/operationParam.mustache
  modules/openapi-generator/src/main/resources/scala-akka-http-server/stringDirectives.mustache
  samples/server/petstore/scala-akka-http/.openapi-generator-ignore
  samples/server/petstore/scala-akka-http/.openapi-generator/VERSION
  samples/server/petstore/scala-akka-http/README.md
  samples/server/petstore/scala-akka-http/build.sbt
  samples/server/petstore/scala-akka-http/src/main/scala/org/openapitools/server/AkkaHttpHelper.scala
  samples/server/petstore/scala-akka-http/src/main/scala/org/openapitools/server/Controller.scala
  samples/server/petstore/scala-akka-http/src/main/scala/org/openapitools/server/MultipartDirectives.scala
  samples/server/petstore/scala-akka-http/src/main/scala/org/openapitools/server/StringDirectives.scala
  samples/server/petstore/scala-akka-http/src/main/scala/org/openapitools/server/api/PetApi.scala
  samples/server/petstore/scala-akka-http/src/main/scala/org/openapitools/server/api/StoreApi.scala
  samples/server/petstore/scala-akka-http/src/main/scala/org/openapitools/server/api/UserApi.scala
  samples/server/petstore/scala-akka-http/src/main/scala/org/openapitools/server/model/ApiResponse.scala
  samples/server/petstore/scala-akka-http/src/main/scala/org/openapitools/server/model/Category.scala
  samples/server/petstore/scala-akka-http/src/main/scala/org/openapitools/server/model/Order.scala
  samples/server/petstore/scala-akka-http/src/main/scala/org/openapitools/server/model/Pet.scala
  samples/server/petstore/scala-akka-http/src/main/scala/org/openapitools/server/model/Tag.scala
  samples/server/petstore/scala-akka-http/src/main/scala/org/openapitools/server/model/User.scala
Labels: Enhancement: New generator, Server: Scala

#5823 Minor improvements to scala akka server
  README.md
  bin/scala-akka-http-server-petstore.sh
  bin/windows/scala-akka-http-server-petstore.bat
  docs/generators.md
  docs/generators/scala-akka-http-server.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaAkkaHttpServerCodegen.java
  pom.xml
  samples/server/petstore/scala-akka-http-server/.openapi-generator-ignore
  samples/server/petstore/scala-akka-http-server/.openapi-generator/VERSION
  samples/server/petstore/scala-akka-http-server/README.md
  samples/server/petstore/scala-akka-http-server/build.sbt
  samples/server/petstore/scala-akka-http-server/pom.xml
  samples/server/petstore/scala-akka-http-server/project/build.properties
  samples/server/petstore/scala-akka-http-server/src/main/scala/org/openapitools/server/AkkaHttpHelper.scala
  samples/server/petstore/scala-akka-http-server/src/main/scala/org/openapitools/server/Controller.scala
  samples/server/petstore/scala-akka-http-server/src/main/scala/org/openapitools/server/MultipartDirectives.scala
  samples/server/petstore/scala-akka-http-server/src/main/scala/org/openapitools/server/StringDirectives.scala
  samples/server/petstore/scala-akka-http-server/src/main/scala/org/openapitools/server/api/PetApi.scala
  samples/server/petstore/scala-akka-http-server/src/main/scala/org/openapitools/server/api/StoreApi.scala
  samples/server/petstore/scala-akka-http-server/src/main/scala/org/openapitools/server/api/UserApi.scala
  samples/server/petstore/scala-akka-http-server/src/main/scala/org/openapitools/server/model/ApiResponse.scala
  samples/server/petstore/scala-akka-http-server/src/main/scala/org/openapitools/server/model/Category.scala
  samples/server/petstore/scala-akka-http-server/src/main/scala/org/openapitools/server/model/Order.scala
  samples/server/petstore/scala-akka-http-server/src/main/scala/org/openapitools/server/model/Pet.scala
  samples/server/petstore/scala-akka-http-server/src/main/scala/org/openapitools/server/model/Tag.scala
  samples/server/petstore/scala-akka-http-server/src/main/scala/org/openapitools/server/model/User.scala
Labels: Enhancement: General, Server: Scala

#5413 Update swagger parser to 2.0.19
  pom.xml
Labels: Enhancement: Compatibility, Swagger-Parser, WIP

#5756 [jaxrs-cxf-cdi] fix allOf equals and hashCode
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-cdi/pojo.mustache
Labels: Issue: Bug, Server: Java

#5776 [BUG] [KOTLIN] Fix default value generation for Kotlin Strings
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  samples/server/petstore/kotlin-springboot-modelMutable/.openapi-generator/VERSION
  samples/server/petstore/kotlin-springboot-modelMutable/build.gradle.kts
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/api/ApiUtil.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/api/Exceptions.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/model/Category.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/model/ModelApiResponse.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/model/Order.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/model/Pet.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/model/Tag.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/model/User.kt
  samples/server/petstore/kotlin/vertx/.openapi-generator/VERSION
  samples/server/petstore/kotlin/vertx/pom.xml
  samples/server/petstore/kotlin/vertx/src/main/kotlin/org/openapitools/server/api/model/Pet.kt
Labels: Client: Kotlin, Issue: Bug

#5699 tests for models for C-libcurl generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CLibcurlClientCodegen.java
  modules/openapi-generator/src/main/resources/C-libcurl/model-header.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/model_test.mustache
  samples/client/petstore/c/model/api_response.h
  samples/client/petstore/c/model/category.h
  samples/client/petstore/c/model/order.h
  samples/client/petstore/c/model/pet.h
  samples/client/petstore/c/model/tag.h
  samples/client/petstore/c/model/user.h
  samples/client/petstore/c/unit-test/test_api_response.c
  samples/client/petstore/c/unit-test/test_category.c
  samples/client/petstore/c/unit-test/test_order.c
  samples/client/petstore/c/unit-test/test_pet.c
  samples/client/petstore/c/unit-test/test_tag.c
  samples/client/petstore/c/unit-test/test_user.c
Labels: Client: C, Enhancement: CI/Test

#5747 [Rust Server] Fix no features build
  modules/openapi-generator/src/main/resources/rust-server/Cargo.mustache
  modules/openapi-generator/src/main/resources/rust-server/header.mustache
  modules/openapi-generator/src/main/resources/rust-server/lib.mustache
  modules/openapi-generator/src/main/resources/rust-server/models.mustache
  modules/openapi-generator/src/test/resources/3_0/rust-server/piers.yaml
  samples/server/petstore/rust-server/output/multipart-v3/Cargo.toml
  samples/server/petstore/rust-server/output/multipart-v3/src/header.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/lib.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/models.rs
  samples/server/petstore/rust-server/output/no-example-v3/Cargo.toml
  samples/server/petstore/rust-server/output/no-example-v3/src/header.rs
  samples/server/petstore/rust-server/output/no-example-v3/src/lib.rs
  samples/server/petstore/rust-server/output/no-example-v3/src/models.rs
  samples/server/petstore/rust-server/output/openapi-v3/Cargo.toml
  samples/server/petstore/rust-server/output/openapi-v3/src/header.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/models.rs
  samples/server/petstore/rust-server/output/ops-v3/Cargo.toml
  samples/server/petstore/rust-server/output/ops-v3/src/header.rs
  samples/server/petstore/rust-server/output/ops-v3/src/lib.rs
  samples/server/petstore/rust-server/output/ops-v3/src/models.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/Cargo.toml
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/header.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/lib.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/models.rs
  samples/server/petstore/rust-server/output/rust-server-test/Cargo.toml
  samples/server/petstore/rust-server/output/rust-server-test/src/header.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/lib.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/models.rs
Labels: Client: Rust, Server: Rust

#5838 [PS][Experimental] support enum in parameters
  modules/openapi-generator/src/main/resources/powershell-experimental/api.mustache
  samples/client/petstore/powershell-experimental/src/PSPetstore/API/PSPetApi.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/PSPetstore.psd1
Labels: Client: PowerShell, Enhancement: Feature, Feature: Enum

#5834 [C++] [Qt5] [Client] fixed cpp-client-qt5 HttpRequestWorker contentCompression variables initialization
  modules/openapi-generator/src/main/resources/cpp-qt5-client/HttpRequest.cpp.mustache
  samples/client/petstore/cpp-qt5/.openapi-generator/VERSION
  samples/client/petstore/cpp-qt5/client/PFXHttpRequest.cpp
Labels: Client: C++, Issue: Bug

#5839 [PS][Experimental] minor fix to http basic auth
  modules/openapi-generator/src/main/resources/powershell-experimental/api.mustache
Labels: Client: PowerShell, Issue: Bug

#5829 Scala akka http server - normalization of some vendor extensions
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaAkkaHttpServerCodegen.java
  modules/openapi-generator/src/main/resources/scala-akka-http-server/api.mustache
  modules/openapi-generator/src/main/resources/scala-akka-http-server/multipart.mustache
  modules/openapi-generator/src/main/resources/scala-akka-http-server/noMultipart.mustache
  modules/openapi-generator/src/main/resources/scala-akka-http-server/operationParam.mustache
Labels: Enhancement: Code format, Server: Scala

#5765 Add openapi.yaml file to Java clients
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/openapi.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  samples/client/petstore/java/feign/api/openapi.yaml
  samples/client/petstore/java/feign10x/api/openapi.yaml
  samples/client/petstore/java/google-api-client/api/openapi.yaml
  samples/client/petstore/java/jersey1/api/openapi.yaml
  samples/client/petstore/java/jersey2-java6/api/openapi.yaml
  samples/client/petstore/java/jersey2-java8/api/openapi.yaml
  samples/client/petstore/java/jersey2/api/openapi.yaml
  samples/client/petstore/java/native/api/openapi.yaml
  samples/client/petstore/java/okhttp-gson-parcelableModel/api/openapi.yaml
  samples/client/petstore/java/okhttp-gson/api/openapi.yaml
  samples/client/petstore/java/rest-assured/api/openapi.yaml
  samples/client/petstore/java/resteasy/api/openapi.yaml
  samples/client/petstore/java/resttemplate-withXml/api/openapi.yaml
  samples/client/petstore/java/resttemplate/api/openapi.yaml
  samples/client/petstore/java/retrofit/api/openapi.yaml
  samples/client/petstore/java/retrofit2-play24/api/openapi.yaml
  samples/client/petstore/java/retrofit2-play25/api/openapi.yaml
  samples/client/petstore/java/retrofit2-play26/api/openapi.yaml
  samples/client/petstore/java/retrofit2/api/openapi.yaml
  samples/client/petstore/java/retrofit2rx/api/openapi.yaml
  samples/client/petstore/java/retrofit2rx2/api/openapi.yaml
  samples/client/petstore/java/vertx/api/openapi.yaml
  samples/client/petstore/java/webclient/api/openapi.yaml
Labels: Client: Java, Enhancement: General

#5313 Updating packages version
  modules/openapi-generator/src/main/resources/csharp/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp/Project.mustache
  modules/openapi-generator/src/main/resources/csharp/netcore_project.mustache
  modules/openapi-generator/src/main/resources/csharp/netcore_testproject.mustache
  modules/openapi-generator/src/main/resources/csharp/packages.config.mustache
  modules/openapi-generator/src/main/resources/csharp/packages_test.config.mustache
  modules/openapi-generator/src/main/resources/csharp/project.json.mustache
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/packages.config
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/packages.config
  samples/client/petstore/csharp/OpenAPIClientNet35/.openapi-generator/VERSION
  samples/client/petstore/csharp/OpenAPIClientNet35/src/Org.OpenAPITools.Test/packages.config
  samples/client/petstore/csharp/OpenAPIClientNet35/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientNet35/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClientNet35/src/Org.OpenAPITools/packages.config
  samples/client/petstore/csharp/OpenAPIClientNet40/.openapi-generator/VERSION
  samples/client/petstore/csharp/OpenAPIClientNet40/src/Org.OpenAPITools.Test/packages.config
  samples/client/petstore/csharp/OpenAPIClientNet40/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientNet40/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClientNet40/src/Org.OpenAPITools/packages.config
  samples/client/petstore/csharp/OpenAPIClientNetStandard/.openapi-generator/VERSION
  samples/client/petstore/csharp/OpenAPIClientNetStandard/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientNetStandard/src/Org.OpenAPITools/project.json
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/.openapi-generator/VERSION
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/src/Org.OpenAPITools.Test/packages.config
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/src/Org.OpenAPITools/packages.config
Labels: Client: C-Sharp, Enhancement: Compatibility

#5825 Add default case to handle response code
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/javascript/JavascriptClientCodegenTest.java
Labels: Enhancement: General, Feature: Generator

#5240 Fix for #4840 [BUG][JAVA][spring-mvc] Generated Code for Map of Maps …
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
Labels: Issue: Bug, Server: Spring

#5763 [C++] [Qt5] Updates to allow the setting of the dateTime format string
  modules/openapi-generator/src/main/resources/cpp-qt5-client/helpers-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/helpers-header.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/helpers-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/helpers-header.mustache
  samples/client/petstore/cpp-qt5/PetStore/main.cpp
  samples/client/petstore/cpp-qt5/client/PFXHelpers.cpp
  samples/client/petstore/cpp-qt5/client/PFXHelpers.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIHelpers.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIHelpers.h
Labels: Client: C++, Issue: Bug, Server: C++

#5872 [PS] Select Content-Type in the response
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellExperimentalClientCodegen.java
  modules/openapi-generator/src/main/resources/powershell-experimental/api.mustache
  modules/openapi-generator/src/main/resources/powershell-experimental/api_client.mustache
  samples/client/petstore/powershell-experimental/Test1.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/API/PSPetApi.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/API/PSStoreApi.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/API/PSUserApi.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/PSPetstore.psd1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Private/PSApiClient.ps1
Labels: Client: PowerShell, Enhancement: General

#5875 [PS] various enhancements, bug fixes
  modules/openapi-generator/src/main/resources/powershell-experimental/configuration.mustache
  samples/client/petstore/powershell-experimental/src/PSPetstore/Client/PSConfiguration.ps1
  samples/client/petstore/powershell-experimental/tests/Petstore.Tests.ps1
Labels: Client: PowerShell, Enhancement: Code format, Enhancement: General, Issue: Bug

#5879 [csharp-client] Restored tests on csharp samples
  CI/samples.ci/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Api/AnotherFakeApiTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Api/FakeApiTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Api/FakeClassnameTags123ApiTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Api/PetApiTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Api/StoreApiTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Api/UserApiTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Client/ApiClientTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Client/ConfigurationTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/AdditionalPropertiesAnyTypeTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/AdditionalPropertiesArrayTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/AdditionalPropertiesBooleanTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/AdditionalPropertiesClassTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/AdditionalPropertiesIntegerTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/AdditionalPropertiesNumberTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/AdditionalPropertiesObjectTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/AdditionalPropertiesStringTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/AnimalTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/ApiResponseTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/ArrayOfArrayOfNumberOnlyTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/ArrayOfNumberOnlyTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/ArrayTestTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/CapitalizationTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/CatAllOfTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/CatTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/CategoryTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/ClassModelTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/DogAllOfTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/DogTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/EnumArraysTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/EnumClassTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/EnumTestTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/FileSchemaTestClassTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/FileTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/FormatTestTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/HasOnlyReadOnlyTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/ListTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/MapTestTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/MixedPropertiesAndAdditionalPropertiesClassTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/Model200ResponseTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/ModelClientTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/NameTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/NumberOnlyTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/OrderTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/OuterCompositeTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/OuterEnumTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/PetTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/ReadOnlyFirstTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/ReturnTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/SpecialModelNameTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/TagTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/TypeHolderDefaultTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/TypeHolderExampleTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/UserTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Model/XmlItemTests.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClientNetCoreProject/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientNetCoreProject/src/Org.OpenAPITools/Org.OpenAPITools.csproj
Labels: Client: C-Sharp

#5870 [C#] dependency upgrade
  CI/samples.ci/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  docs/generators/csharp.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpClientCodegen.java
  modules/openapi-generator/src/main/resources/csharp/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp/Project.mustache
  modules/openapi-generator/src/main/resources/csharp/TestProject.mustache
  modules/openapi-generator/src/main/resources/csharp/compile-mono.sh.mustache
  modules/openapi-generator/src/main/resources/csharp/compile.mustache
  modules/openapi-generator/src/main/resources/csharp/netcore_project.mustache
  modules/openapi-generator/src/main/resources/csharp/netcore_testproject.mustache
  modules/openapi-generator/src/main/resources/csharp/nuspec.mustache
  modules/openapi-generator/src/main/resources/csharp/packages.config.mustache
  modules/openapi-generator/src/main/resources/csharp/packages_test.config.mustache
  modules/openapi-generator/src/main/resources/csharp/project.json.mustache
  samples/client/petstore/csharp/OpenAPIClient/build.bat
  samples/client/petstore/csharp/OpenAPIClient/build.sh
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools.Test/packages.config
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Org.OpenAPITools.nuspec
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/packages.config
  samples/client/petstore/csharp/OpenAPIClientNet35/build.bat
  samples/client/petstore/csharp/OpenAPIClientNet35/build.sh
  samples/client/petstore/csharp/OpenAPIClientNet35/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClientNet35/src/Org.OpenAPITools.Test/packages.config
  samples/client/petstore/csharp/OpenAPIClientNet35/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientNet35/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClientNet35/src/Org.OpenAPITools/Org.OpenAPITools.nuspec
  samples/client/petstore/csharp/OpenAPIClientNet35/src/Org.OpenAPITools/packages.config
  samples/client/petstore/csharp/OpenAPIClientNet40/build.bat
  samples/client/petstore/csharp/OpenAPIClientNet40/build.sh
  samples/client/petstore/csharp/OpenAPIClientNet40/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClientNet40/src/Org.OpenAPITools.Test/packages.config
  samples/client/petstore/csharp/OpenAPIClientNet40/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientNet40/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClientNet40/src/Org.OpenAPITools/Org.OpenAPITools.nuspec
  samples/client/petstore/csharp/OpenAPIClientNet40/src/Org.OpenAPITools/packages.config
  samples/client/petstore/csharp/OpenAPIClientNetCoreProject/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientNetCoreProject/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClientNetStandard/Org.OpenAPITools.sln
  samples/client/petstore/csharp/OpenAPIClientNetStandard/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientNetStandard/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClientNetStandard/src/Org.OpenAPITools/project.json
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/build.bat
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/build.sh
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/src/Org.OpenAPITools.Test/packages.config
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/src/Org.OpenAPITools/Org.OpenAPITools.nuspec
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/src/Org.OpenAPITools/packages.config
Labels: Client: C-Sharp, Enhancement: Compatibility

#5885 [PS] better handle special variables
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellExperimentalClientCodegen.java
  samples/client/petstore/powershell-experimental/src/PSPetstore/PSPetstore.psd1
Labels: Client: PowerShell, Enhancement: General

#5864 [PS] add file post-processing to the PowerShell generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellExperimentalClientCodegen.java
Labels: Client: PowerShell, Enhancement: Feature

#5889 [PS] consolidate header selection functions
  modules/openapi-generator/src/main/resources/powershell-experimental/api_client.mustache
  samples/client/petstore/powershell-experimental/src/PSPetstore/Private/PSApiClient.ps1
Labels: Client: PowerShell, Enhancement: Code format

#5793 Update enum.mustache to fix #5792
  modules/openapi-generator/src/main/resources/dart2/enum.mustache
Labels: Client: Dart, Feature: Enum, Issue: Bug

#5378 Update modelGeneric.mustache
  modules/openapi-generator/src/main/resources/csharp/modelGeneric.mustache
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Model/FormatTest.cs
Labels: Client: C-Sharp, Feature: Enum

#5890 Fix Scala sttp generator packages
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaSttpClientCodegen.java
  modules/openapi-generator/src/main/resources/scala-sttp/apiInvoker.mustache
Labels: Client: Scala, Issue: Bug

#5743 [Dart] Fix "basic" auth method and Add Bearer token support
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartClientCodegen.java
  modules/openapi-generator/src/main/resources/dart2/README.mustache
  modules/openapi-generator/src/main/resources/dart2/api_client.mustache
  modules/openapi-generator/src/main/resources/dart2/api_doc.mustache
  modules/openapi-generator/src/main/resources/dart2/apilib.mustache
  modules/openapi-generator/src/main/resources/dart2/auth/http_bearer_auth.mustache
  samples/client/petstore/dart-dio/.openapi-generator/VERSION
  samples/client/petstore/dart/flutter_petstore/openapi/doc/InlineObject.md
  samples/client/petstore/dart/flutter_petstore/openapi/doc/InlineObject1.md
  samples/client/petstore/dart/flutter_petstore/openapi/lib/auth/http_bearer_auth.dart
  samples/client/petstore/dart/flutter_petstore/openapi/lib/model/inline_object.dart
  samples/client/petstore/dart/flutter_petstore/openapi/lib/model/inline_object1.dart
  samples/client/petstore/dart/openapi-browser-client/lib/auth/http_bearer_auth.dart
  samples/client/petstore/dart/openapi/lib/auth/http_bearer_auth.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/auth/http_bearer_auth.dart
Labels: Client: Dart, Enhancement: Feature, Issue: Bug

#5437 Add date time format annotation on pojo for model query parameters
  modules/openapi-generator/src/main/resources/JavaSpring/pojo.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_5436.yml
  samples/client/petstore/spring-cloud-async/src/main/java/org/openapitools/model/Order.java
  samples/client/petstore/spring-cloud/src/main/java/org/openapitools/model/Order.java
  samples/client/petstore/spring-stubs/src/main/java/org/openapitools/model/Order.java
  samples/server/petstore/spring-mvc-j8-async/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/spring-mvc-j8-async/src/main/java/org/openapitools/model/MixedPropertiesAndAdditionalPropertiesClass.java
  samples/server/petstore/spring-mvc-j8-async/src/main/java/org/openapitools/model/Order.java
  samples/server/petstore/spring-mvc-j8-localdatetime/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/spring-mvc-j8-localdatetime/src/main/java/org/openapitools/model/MixedPropertiesAndAdditionalPropertiesClass.java
  samples/server/petstore/spring-mvc-j8-localdatetime/src/main/java/org/openapitools/model/Order.java
  samples/server/petstore/spring-mvc/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/spring-mvc/src/main/java/org/openapitools/model/MixedPropertiesAndAdditionalPropertiesClass.java
  samples/server/petstore/spring-mvc/src/main/java/org/openapitools/model/Order.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/org/openapitools/model/MixedPropertiesAndAdditionalPropertiesClass.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/org/openapitools/model/Order.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/model/MixedPropertiesAndAdditionalPropertiesClass.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/model/Order.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/model/MixedPropertiesAndAdditionalPropertiesClass.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/model/Order.java
  samples/server/petstore/springboot-implicitHeaders/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-implicitHeaders/src/main/java/org/openapitools/model/MixedPropertiesAndAdditionalPropertiesClass.java
  samples/server/petstore/springboot-implicitHeaders/src/main/java/org/openapitools/model/Order.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/model/MixedPropertiesAndAdditionalPropertiesClass.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/model/Order.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/MixedPropertiesAndAdditionalPropertiesClass.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/Order.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/FormatTest.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/MixedPropertiesAndAdditionalPropertiesClass.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/Order.java
  samples/server/petstore/springboot/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot/src/main/java/org/openapitools/model/MixedPropertiesAndAdditionalPropertiesClass.java
  samples/server/petstore/springboot/src/main/java/org/openapitools/model/Order.java
Labels: Enhancement: General, Server: Spring

#5757 [mysql] Add basic SQL queries
  docs/generators/mysql-schema.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/MysqlSchemaCodegen.java
  modules/openapi-generator/src/main/resources/mysql-schema/README.mustache
  modules/openapi-generator/src/main/resources/mysql-schema/sql_query.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/mysql/MysqlSchemaCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/mysql/MysqlSchemaOptionsTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/MysqlSchemaOptionsProvider.java
  samples/schema/petstore/mysql/Model/$Special[modelName].sql
  samples/schema/petstore/mysql/Model/200Response.sql
  samples/schema/petstore/mysql/Model/AdditionalPropertiesAnyType.sql
  samples/schema/petstore/mysql/Model/AdditionalPropertiesArray.sql
  samples/schema/petstore/mysql/Model/AdditionalPropertiesBoolean.sql
  samples/schema/petstore/mysql/Model/AdditionalPropertiesClass.sql
  samples/schema/petstore/mysql/Model/AdditionalPropertiesInteger.sql
  samples/schema/petstore/mysql/Model/AdditionalPropertiesNumber.sql
  samples/schema/petstore/mysql/Model/AdditionalPropertiesObject.sql
  samples/schema/petstore/mysql/Model/AdditionalPropertiesString.sql
  samples/schema/petstore/mysql/Model/Animal.sql
  samples/schema/petstore/mysql/Model/ApiResponse.sql
  samples/schema/petstore/mysql/Model/ArrayOfArrayOfNumberOnly.sql
  samples/schema/petstore/mysql/Model/ArrayOfNumberOnly.sql
  samples/schema/petstore/mysql/Model/ArrayTest.sql
  samples/schema/petstore/mysql/Model/BigCat.sql
  samples/schema/petstore/mysql/Model/BigCatAllOf.sql
  samples/schema/petstore/mysql/Model/Capitalization.sql
  samples/schema/petstore/mysql/Model/Cat.sql
  samples/schema/petstore/mysql/Model/CatAllOf.sql
  samples/schema/petstore/mysql/Model/Category.sql
  samples/schema/petstore/mysql/Model/ClassModel.sql
  samples/schema/petstore/mysql/Model/Client.sql
  samples/schema/petstore/mysql/Model/Dog.sql
  samples/schema/petstore/mysql/Model/DogAllOf.sql
  samples/schema/petstore/mysql/Model/EnumArrays.sql
  samples/schema/petstore/mysql/Model/EnumClass.sql
  samples/schema/petstore/mysql/Model/EnumTest.sql
  samples/schema/petstore/mysql/Model/File.sql
  samples/schema/petstore/mysql/Model/FileSchemaTestClass.sql
  samples/schema/petstore/mysql/Model/FormatTest.sql
  samples/schema/petstore/mysql/Model/HasOnlyReadOnly.sql
  samples/schema/petstore/mysql/Model/List.sql
  samples/schema/petstore/mysql/Model/MapTest.sql
  samples/schema/petstore/mysql/Model/MixedPropertiesAndAdditionalPropertiesClass.sql
  samples/schema/petstore/mysql/Model/Name.sql
  samples/schema/petstore/mysql/Model/NumberOnly.sql
  samples/schema/petstore/mysql/Model/Order.sql
  samples/schema/petstore/mysql/Model/OuterComposite.sql
  samples/schema/petstore/mysql/Model/OuterEnum.sql
  samples/schema/petstore/mysql/Model/Pet.sql
  samples/schema/petstore/mysql/Model/ReadOnlyFirst.sql
  samples/schema/petstore/mysql/Model/Return.sql
  samples/schema/petstore/mysql/Model/Tag.sql
  samples/schema/petstore/mysql/Model/TypeHolderDefault.sql
  samples/schema/petstore/mysql/Model/TypeHolderExample.sql
  samples/schema/petstore/mysql/Model/User.sql
  samples/schema/petstore/mysql/Model/XmlItem.sql
  samples/schema/petstore/mysql/README.md
Labels: Enhancement: Feature, Schema: MySQL

#5873 [java][client][rest-assured] Update generated build files for REST Assured
  bin/java-petstore-rest-assured.sh
  docs/customization.md
  docs/generators/java.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/rest-assured/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/rest-assured/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/rest-assured/pom.mustache
  samples/client/petstore/java/rest-assured/build.gradle
  samples/client/petstore/java/rest-assured/build.sbt
  samples/client/petstore/java/rest-assured/pom.xml
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/BeanValidationException.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/AdditionalPropertiesAnyType.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/AdditionalPropertiesArray.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/AdditionalPropertiesBoolean.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/AdditionalPropertiesClass.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/AdditionalPropertiesInteger.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/AdditionalPropertiesNumber.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/AdditionalPropertiesObject.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/AdditionalPropertiesString.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/Animal.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/ArrayOfArrayOfNumberOnly.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/ArrayOfNumberOnly.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/ArrayTest.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/BigCat.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/BigCatAllOf.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/Capitalization.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/Cat.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/CatAllOf.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/Category.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/ClassModel.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/Client.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/Dog.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/DogAllOf.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/EnumArrays.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/EnumClass.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/EnumTest.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/FileSchemaTestClass.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/HasOnlyReadOnly.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/MapTest.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/MixedPropertiesAndAdditionalPropertiesClass.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/Model200Response.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/ModelApiResponse.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/ModelReturn.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/Name.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/NumberOnly.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/Order.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/OuterComposite.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/OuterEnum.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/ReadOnlyFirst.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/SpecialModelName.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/Tag.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/TypeHolderDefault.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/TypeHolderExample.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/User.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/XmlItem.java
Labels: Client: Java, Enhancement: Compatibility

#5831 [Rust Server] Support complex query parameters
  modules/openapi-generator/src/main/resources/rust-server/Cargo.mustache
  modules/openapi-generator/src/main/resources/rust-server/client-operation.mustache
  modules/openapi-generator/src/main/resources/rust-server/lib.mustache
  modules/openapi-generator/src/main/resources/rust-server/models.mustache
  modules/openapi-generator/src/main/resources/rust-server/server-operation.mustache
  modules/openapi-generator/src/test/resources/3_0/rust-server/openapi-v3.yaml
  samples/server/petstore/rust-server/output/multipart-v3/Cargo.toml
  samples/server/petstore/rust-server/output/multipart-v3/src/lib.rs
  samples/server/petstore/rust-server/output/no-example-v3/Cargo.toml
  samples/server/petstore/rust-server/output/no-example-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/Cargo.toml
  samples/server/petstore/rust-server/output/openapi-v3/README.md
  samples/server/petstore/rust-server/output/openapi-v3/api/openapi.yaml
  samples/server/petstore/rust-server/output/openapi-v3/docs/default_api.md
  samples/server/petstore/rust-server/output/openapi-v3/examples/client/main.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/models.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/ops-v3/Cargo.toml
  samples/server/petstore/rust-server/output/ops-v3/src/lib.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/Cargo.toml
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/client/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/lib.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/models.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/server/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/Cargo.toml
  samples/server/petstore/rust-server/output/rust-server-test/src/lib.rs
Labels: Client: Rust, Server: Rust

#5250 [Java][Feign] Bug fix in @Param annotation
  modules/openapi-generator/src/main/resources/Java/libraries/feign/api.mustache
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/feign10x/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/feign10x/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/feign10x/src/main/java/org/openapitools/client/api/StoreApi.java
Labels: Client: Java, Issue: Bug

#5901 [Java] Increase java compiler stack size to handle large files
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/pom.mustache
  modules/openapi-generator/src/main/resources/Java/pom.mustache
  samples/client/petstore/java/jersey1/pom.xml
  samples/client/petstore/java/okhttp-gson-parcelableModel/pom.xml
  samples/client/petstore/java/okhttp-gson/pom.xml
Labels: Client: Java, Enhancement: Performance

#5900 [swift5] fix warning in Swift 5.2
  modules/openapi-generator/src/main/resources/swift5/Models.mustache
  samples/client/petstore/swift5/alamofireLibrary/.openapi-generator/VERSION
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient.xcodeproj/xcshareddata/xcschemes/PetstoreClient.xcscheme
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/combineLibrary/.openapi-generator/VERSION
  samples/client/petstore/swift5/combineLibrary/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/combineLibrary/PetstoreClient.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  samples/client/petstore/swift5/combineLibrary/PetstoreClient.xcodeproj/xcshareddata/xcschemes/PetstoreClient.xcscheme
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/default/.openapi-generator/VERSION
  samples/client/petstore/swift5/default/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/default/PetstoreClient.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  samples/client/petstore/swift5/default/PetstoreClient.xcodeproj/xcshareddata/xcschemes/PetstoreClient.xcscheme
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/nonPublicApi/.openapi-generator/VERSION
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient.xcodeproj/xcshareddata/xcschemes/PetstoreClient.xcscheme
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/objcCompatible/.openapi-generator/VERSION
  samples/client/petstore/swift5/objcCompatible/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/objcCompatible/PetstoreClient.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  samples/client/petstore/swift5/objcCompatible/PetstoreClient.xcodeproj/xcshareddata/xcschemes/PetstoreClient.xcscheme
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/promisekitLibrary/.openapi-generator/VERSION
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient.xcodeproj/xcshareddata/xcschemes/PetstoreClient.xcscheme
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/resultLibrary/.openapi-generator/VERSION
  samples/client/petstore/swift5/resultLibrary/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/resultLibrary/PetstoreClient.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  samples/client/petstore/swift5/resultLibrary/PetstoreClient.xcodeproj/xcshareddata/xcschemes/PetstoreClient.xcscheme
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/rxswiftLibrary/.openapi-generator/VERSION
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient.xcodeproj/xcshareddata/xcschemes/PetstoreClient.xcscheme
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/urlsessionLibrary/.openapi-generator/VERSION
  samples/client/petstore/swift5/urlsessionLibrary/PetstoreClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/urlsessionLibrary/PetstoreClient.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  samples/client/petstore/swift5/urlsessionLibrary/PetstoreClient.xcodeproj/xcshareddata/xcschemes/PetstoreClient.xcscheme
  samples/client/petstore/swift5/urlsessionLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/test/swift5/default/.openapi-generator/VERSION
  samples/client/test/swift5/default/TestClient.xcodeproj/project.pbxproj
  samples/client/test/swift5/default/TestClient.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  samples/client/test/swift5/default/TestClient.xcodeproj/xcshareddata/xcschemes/TestClient.xcscheme
  samples/client/test/swift5/default/TestClient/Classes/OpenAPIs/Models.swift
  samples/client/test/swift5/default/docs/SampleSubClass.md
Labels: Client: Swift, Enhancement: Code format

#5904 Update bitwise config
  CI/bitrise.yml
Labels: Client: Swift, Enhancement: CI/Test

#5894 [Java] Discriminator lookup should not be case insensitive by default
  docs/generators/groovy.md
  docs/generators/java-inflector.md
  docs/generators/java-msf4j.md
  docs/generators/java-pkmst.md
  docs/generators/java-play-framework.md
  docs/generators/java-undertow-server.md
  docs/generators/java-vertx-web.md
  docs/generators/java-vertx.md
  docs/generators/java.md
  docs/generators/jaxrs-cxf-cdi.md
  docs/generators/jaxrs-cxf-client.md
  docs/generators/jaxrs-cxf-extended.md
  docs/generators/jaxrs-cxf.md
  docs/generators/jaxrs-jersey.md
  docs/generators/jaxrs-resteasy-eap.md
  docs/generators/jaxrs-resteasy.md
  docs/generators/jaxrs-spec.md
  docs/generators/spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModel.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientExperimentalCodegen.java
  modules/openapi-generator/src/main/resources/Java/JSON.mustache
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/JSON.java
Labels: Client: Java, Issue: Bug

#5908 [Java] Fix inclusive maximum validation
  modules/openapi-generator/src/main/resources/Java/beanValidationCore.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/beanValidationCore.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-cdi/beanValidationCore.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/beanValidationCore.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/beanValidationCore.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/eap/beanValidationCore.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/beanValidationCore.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/beanValidationCore.mustache
Labels: Client: Java, Issue: Bug

#5921 Add bearer auth support to csharp netcore client generator
  modules/openapi-generator/src/main/resources/csharp-netcore/api.mustache
Labels: Client: C-Sharp, Enhancement: Feature, Feature: OAS 3.0 spec support

#5913 [Python][aiohttp] create venv as rule
  samples/server/petstore/python-aiohttp-srclayout/Makefile
  samples/server/petstore/python-aiohttp/Makefile
Labels: Enhancement: CI/Test, Server: Python

#5923 Fix for Result Model Name collision
  modules/openapi-generator/src/main/resources/swift5/APIs.mustache
  modules/openapi-generator/src/main/resources/swift5/CodableHelper.mustache
  modules/openapi-generator/src/main/resources/swift5/api.mustache
  modules/openapi-generator/src/main/resources/swift5/libraries/urlsession/URLSessionImplementations.mustache
  samples/client/petstore/swift5/default/Package.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/APIs.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/APIs/AnotherFakeAPI.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/APIs/FakeAPI.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/APIs/FakeClassnameTags123API.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/APIs/PetAPI.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/APIs/StoreAPI.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/APIs/UserAPI.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/CodableHelper.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Configuration.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/JSONDataEncoding.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/JSONEncodingHelper.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/AdditionalPropertiesClass.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/Animal.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/AnimalFarm.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/ApiResponse.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/ArrayOfArrayOfNumberOnly.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/ArrayOfNumberOnly.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/ArrayTest.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/Capitalization.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/Cat.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/CatAllOf.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/Category.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/ClassModel.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/Client.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/Dog.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/DogAllOf.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/EnumArrays.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/EnumClass.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/EnumTest.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/File.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/FileSchemaTestClass.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/FormatTest.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/HasOnlyReadOnly.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/List.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/MapTest.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/MixedPropertiesAndAdditionalPropertiesClass.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/Model200Response.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/Name.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/NumberOnly.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/Order.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/OuterComposite.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/OuterEnum.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/Pet.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/ReadOnlyFirst.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/Return.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/SpecialModelName.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/StringBooleanMap.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/Tag.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/TypeHolderDefault.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/TypeHolderExample.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/User.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
Labels: Client: Swift, Issue: Bug

#5752 [Dart] Remove content type from header when content type is not specified
  modules/openapi-generator/src/main/resources/dart2/api.mustache
  modules/openapi-generator/src/main/resources/dart2/api_client.mustache
  samples/client/petstore/dart2/petstore/test/fake_client.dart
  samples/client/petstore/dart2/petstore/test/pet_faked_client_test.dart
  samples/client/petstore/dart2/petstore/test/store_faked_client_test.dart
  samples/client/petstore/dart2/petstore/test/store_test.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api/pet_api.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api/store_api.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api/user_api.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api_client.dart
Labels: Client: Dart, Issue: Bug

#5926 [Java] update dependency
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/pom.mustache
  samples/client/petstore/java/okhttp-gson-parcelableModel/build.gradle
  samples/client/petstore/java/okhttp-gson-parcelableModel/build.sbt
  samples/client/petstore/java/okhttp-gson-parcelableModel/pom.xml
  samples/client/petstore/java/okhttp-gson/build.gradle
  samples/client/petstore/java/okhttp-gson/build.sbt
  samples/client/petstore/java/okhttp-gson/pom.xml
Labels: Client: Java, Enhancement: Compatibility

#5867 Update axios dependency to the new minor version 0.19.0
  modules/openapi-generator/src/main/resources/typescript-axios/package.mustache
  samples/client/petstore/typescript-axios/builds/es6-target/package.json
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/package.json
  samples/client/petstore/typescript-axios/builds/with-npm-version/package.json
Labels: Client: TypeScript, Enhancement: Compatibility

#5931 fixed README/doc of bearer auth support for csharp-netcore
  modules/openapi-generator/src/main/resources/csharp-netcore/README.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/api_doc.mustache
Labels: Client: C-Sharp, Enhancement: Feature, Feature: Documentation

#5934 Remove duplicated semi-colon in c# netcore models
  modules/openapi-generator/src/main/resources/csharp-netcore/modelGeneric.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Animal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Category.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Pet.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/TypeHolderDefault.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/TypeHolderExample.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Animal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Category.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Pet.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/TypeHolderDefault.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/TypeHolderExample.cs
Labels: Client: C-Sharp, Enhancement: Code format

#5871 [Rust Server] Fix #5906 (yaml with path parameter error)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/resources/rust-server/example-client-main.mustache
  modules/openapi-generator/src/main/resources/rust-server/example-server-operation.mustache
  modules/openapi-generator/src/test/resources/3_0/rust-server/openapi-v3.yaml
  samples/server/petstore/rust-server/output/multipart-v3/examples/client/main.rs
  samples/server/petstore/rust-server/output/multipart-v3/examples/server/main.rs
  samples/server/petstore/rust-server/output/multipart-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/no-example-v3/examples/client/main.rs
  samples/server/petstore/rust-server/output/no-example-v3/examples/server/main.rs
  samples/server/petstore/rust-server/output/no-example-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/openapi-v3/api/openapi.yaml
  samples/server/petstore/rust-server/output/openapi-v3/examples/client/main.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/client/server.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/server/main.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/ops-v3/examples/client/main.rs
  samples/server/petstore/rust-server/output/ops-v3/examples/server/main.rs
  samples/server/petstore/rust-server/output/ops-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/examples/client/main.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/examples/server/server.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/server/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/examples/client/main.rs
  samples/server/petstore/rust-server/output/rust-server-test/examples/server/main.rs
  samples/server/petstore/rust-server/output/rust-server-test/examples/server/server.rs
Labels: Client: Rust, Server: Rust

#5810 [Python-experimental] Fix TypeError: unhashable type: 'list'
  modules/openapi-generator/src/main/resources/python/python-experimental/model_templates/methods_setattr_getattr_composed.mustache
  samples/client/petstore/python-experimental/petstore_api/model_utils.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/model_utils.py
Labels: Client: Python, Issue: Bug

#5828 [C][Client]Fix data lost when libcurl write-data callback function is called multiple times
  modules/openapi-generator/src/main/resources/C-libcurl/api-body.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/apiClient.c.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/apiClient.h.mustache
  samples/client/petstore/c/api/PetAPI.c
  samples/client/petstore/c/api/StoreAPI.c
  samples/client/petstore/c/api/UserAPI.c
  samples/client/petstore/c/include/apiClient.h
  samples/client/petstore/c/src/apiClient.c
Labels: Client: C, Issue: Bug

#5953 [typescript-axios][client] Allow apiKey type Promise.
  modules/openapi-generator/src/main/resources/typescript-axios/apiInner.mustache
  modules/openapi-generator/src/main/resources/typescript-axios/configuration.mustache
  samples/client/petstore/typescript-axios/builds/default/api.ts
  samples/client/petstore/typescript-axios/builds/default/configuration.ts
  samples/client/petstore/typescript-axios/builds/es6-target/api.ts
  samples/client/petstore/typescript-axios/builds/es6-target/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-complex-headers/api.ts
  samples/client/petstore/typescript-axios/builds/with-complex-headers/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-interfaces/api.ts
  samples/client/petstore/typescript-axios/builds/with-interfaces/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/pet-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/store-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/user-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version/api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version/configuration.ts
Labels: Client: TypeScript

#5956 [powershell-experimental] ValidatePattern with double-quote (") throws-exception
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellExperimentalClientCodegen.java
  modules/openapi-generator/src/test/resources/3_0/powershell/petstore.yaml
  samples/client/petstore/powershell-experimental/src/PSPetstore/Model/User.ps1
Labels: Client: PowerShell, Issue: Bug

#5868 [scala-akka-http-server] Fix a generation problem on operations with empty responses
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaAkkaHttpServerCodegen.java
  modules/openapi-generator/src/main/resources/scala-akka-http-server/api.mustache
  samples/server/petstore/scala-akka-http-server/src/main/scala/org/openapitools/server/api/PetApi.scala
  samples/server/petstore/scala-akka-http-server/src/main/scala/org/openapitools/server/api/StoreApi.scala
  samples/server/petstore/scala-akka-http-server/src/main/scala/org/openapitools/server/api/UserApi.scala
Labels: Issue: Bug, Server: Scala

#5941 return a null instead of application/json when no content types are set
  modules/openapi-generator/src/main/resources/csharp-netcore/ClientUtils.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/ClientUtils.cs
Labels: Client: C-Sharp, Issue: Bug

#5738 [typescript] Ensure `model.allParents` always includes `model.parent`.
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
Labels: Client: TypeScript

#5898 [maven] mark Mojo threadSafe=true + fix concurrency issue in CodegenConfigurator
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfigurator.java
Labels: Issue: Bug, OpenAPI Generator Maven Plugin

#5975 [C#] Add bearer support to C# client
  modules/openapi-generator/src/main/resources/csharp/README.mustache
  modules/openapi-generator/src/main/resources/csharp/api.mustache
  modules/openapi-generator/src/main/resources/csharp/api_doc.mustache
  samples/client/petstore/csharp/OpenAPIClientNet40/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/src/Org.OpenAPITools/Model/FormatTest.cs
Labels: Client: C-Sharp, Enhancement: Feature, Feature: OAS 3.0 spec support

#5976 [PS][Experimental] Add tests to reuse results from the server
  samples/client/petstore/powershell-experimental/src/PSPetstore/PSPetstore.psd1
  samples/client/petstore/powershell-experimental/tests/Petstore.Tests.ps1
Labels: Client: PowerShell, Enhancement: CI/Test

#5643 [bug][html2] Fix visibility of body/response schemas
  bin/html2-petstore.sh
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/resources/htmlDocs2/index.mustache
  modules/openapi-generator/src/main/resources/htmlDocs2/paramB.mustache
  samples/documentation/html2/.openapi-generator/VERSION
  samples/documentation/html2/index.html
Labels: Doc: HTML, Issue: Bug

#5936 [gradle] Print value of outputDir correctly in gradle plugin
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
Labels: OpenAPI Generator Gradle Plugin

#5978 [C#][2.0] add bearer auth support to C# 2.0 client
  bin/csharp-dotnet2-petstore.sh
  bin/windows/csharp-dotnet2-petstore.bat
  modules/openapi-generator/src/main/resources/csharp-dotnet2/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-dotnet2/Configuration.mustache
  modules/openapi-generator/src/main/resources/csharp-dotnet2/README.mustache
  modules/openapi-generator/src/main/resources/csharp-dotnet2/api_doc.mustache
  samples/client/petstore/csharp-dotnet2/OpenAPIClientTest/Lib/OpenAPIClient/README.md
  samples/client/petstore/csharp-dotnet2/OpenAPIClientTest/Lib/OpenAPIClient/docs/PetApi.md
  samples/client/petstore/csharp-dotnet2/OpenAPIClientTest/Lib/OpenAPIClient/docs/StoreApi.md
  samples/client/petstore/csharp-dotnet2/OpenAPIClientTest/Lib/OpenAPIClient/docs/UserApi.md
  samples/client/petstore/csharp-dotnet2/OpenAPIClientTest/Lib/OpenAPIClient/src/main/CsharpDotNet2/Org/OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-dotnet2/OpenAPIClientTest/Lib/OpenAPIClient/src/main/CsharpDotNet2/Org/OpenAPITools/Client/Configuration.cs
Labels: Client: C-Sharp, Enhancement: Feature, Feature: OAS 3.0 spec support

#5850 [BUG] [TYPESCRIPT-AXIOS] Fixing issue where dist folder is not published when publishing typescript-axios generated client with npm publish
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAxiosClientCodegen.java
  modules/openapi-generator/src/main/resources/typescript-axios/gitignore
  modules/openapi-generator/src/main/resources/typescript-axios/npmignore
  samples/client/petstore/typescript-axios/builds/default/.gitignore
  samples/client/petstore/typescript-axios/builds/default/.npmignore
  samples/client/petstore/typescript-axios/builds/es6-target/.gitignore
  samples/client/petstore/typescript-axios/builds/es6-target/.npmignore
  samples/client/petstore/typescript-axios/builds/with-complex-headers/.gitignore
  samples/client/petstore/typescript-axios/builds/with-complex-headers/.npmignore
  samples/client/petstore/typescript-axios/builds/with-interfaces/.gitignore
  samples/client/petstore/typescript-axios/builds/with-interfaces/.npmignore
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/.gitignore
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/.npmignore
  samples/client/petstore/typescript-axios/builds/with-npm-version/.gitignore
  samples/client/petstore/typescript-axios/builds/with-npm-version/.npmignore
Labels: Client: TypeScript

#5977 Fixes issue 5876
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  samples/client/petstore/python-experimental/docs/Child.md
  samples/client/petstore/python-experimental/docs/Parent.md
  samples/client/petstore/python-experimental/petstore_api/models/child.py
  samples/client/petstore/python-experimental/petstore_api/models/parent.py
Labels: Feature: Composition / Inheritance, Feature: Generator, Issue: Regression

#5984 Add tests for parents, allParents
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/allOf_composition.yaml
Labels: Enhancement: CI/Test, Feature: Generator

#5807 [mysql] Add OAuth2 framework tables
  modules/openapi-generator/src/main/resources/mysql-schema/mysql_schema.mustache
  samples/schema/petstore/mysql/mysql_schema.sql
Labels: Feature: Authentication, Schema: MySQL

#5992 Fix inline schema in allOf without object type
  modules/openapi-generator/src/main/java/org/openapitools/codegen/InlineModelResolver.java
Labels: Feature: Composition / Inheritance, Issue: Bug

#5994 [typescript-fetch] support http HEAD
  modules/openapi-generator/src/main/resources/typescript-fetch/runtime.mustache
  samples/client/petstore/typescript-fetch/builds/default/runtime.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/runtime.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/typescript-three-plus/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/runtime.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/runtime.ts
Labels: Client: TypeScript

#6003 [JAX-RS] Update cxf version
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-cdi/pom.mustache
Labels: Enhancement: Compatibility, Server: Java

#6000 typescript-fetch: Make "Index" a reserved word
  docs/generators/typescript-fetch.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptFetchClientCodegen.java
Labels: Client: TypeScript

#5995 [typescript-fetch] Fix map API return type
  modules/openapi-generator/src/main/resources/typescript-fetch/apis.mustache
Labels: Client: TypeScript

#5940 [Java][RestTempalte] Change access updateParamsForAuth to protected
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/ApiClient.mustache
Labels: Client: Java, Enhancement: Compatibility

#5949 [Rust Server] Bugfix #5948 (Generated client code "Disabled because there's no example")
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/resources/rust-server/example-client-main.mustache
  modules/openapi-generator/src/test/resources/3_0/rust-server/openapi-v3.yaml
  samples/server/petstore/rust-server/output/multipart-v3/examples/client/main.rs
  samples/server/petstore/rust-server/output/no-example-v3/examples/client/main.rs
  samples/server/petstore/rust-server/output/openapi-v3/README.md
  samples/server/petstore/rust-server/output/openapi-v3/api/openapi.yaml
  samples/server/petstore/rust-server/output/openapi-v3/docs/info_api.md
  samples/server/petstore/rust-server/output/openapi-v3/docs/repo_api.md
  samples/server/petstore/rust-server/output/openapi-v3/examples/client/main.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/ops-v3/examples/client/main.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/examples/client/main.rs
  samples/server/petstore/rust-server/output/rust-server-test/examples/client/main.rs
Labels: Issue: Bug, Server: Rust

#5945 [python-experimental] Minor doc update, code comments and exception handling
  modules/openapi-generator/src/main/resources/python/python-experimental/model_utils.mustache
  samples/client/petstore/python-experimental/petstore_api/model_utils.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/model_utils.py
Labels: Server: Python

#6020 [C++] [Qt5] Export valid and set status of properties
  modules/openapi-generator/src/main/resources/cpp-qt5-client/model-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/model-header.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/model-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/model-header.mustache
  samples/client/petstore/cpp-qt5/client/PFXApiResponse.cpp
  samples/client/petstore/cpp-qt5/client/PFXApiResponse.h
  samples/client/petstore/cpp-qt5/client/PFXCategory.cpp
  samples/client/petstore/cpp-qt5/client/PFXCategory.h
  samples/client/petstore/cpp-qt5/client/PFXOrder.cpp
  samples/client/petstore/cpp-qt5/client/PFXOrder.h
  samples/client/petstore/cpp-qt5/client/PFXPet.cpp
  samples/client/petstore/cpp-qt5/client/PFXPet.h
  samples/client/petstore/cpp-qt5/client/PFXTag.cpp
  samples/client/petstore/cpp-qt5/client/PFXTag.h
  samples/client/petstore/cpp-qt5/client/PFXUser.cpp
  samples/client/petstore/cpp-qt5/client/PFXUser.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIApiResponse.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIApiResponse.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAICategory.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAICategory.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIOrder.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIOrder.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIPet.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIPet.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAITag.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAITag.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIUser.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIUser.h
Labels: Client: C++, Enhancement: General, Server: C++

#6021 [C++] [Qt5] Export response code to worker
  modules/openapi-generator/src/main/resources/cpp-qt5-client/HttpRequest.cpp.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/HttpRequest.h.mustache
  samples/client/petstore/cpp-qt5/client/PFXHttpRequest.cpp
  samples/client/petstore/cpp-qt5/client/PFXHttpRequest.h
Labels: Client: C++, Enhancement: General

#6042 Add test for allOf without object type
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/allOf_composition.yaml
Labels: Enhancement: CI/Test, Feature: Composition / Inheritance, Feature: Generator

#5966 Add input flag for Gradle openApiGenerate task
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
Labels: OpenAPI Generator Gradle Plugin

#6054 Add Http signature authentication test to fake petstore spec
  modules/openapi-generator-maven-plugin/examples/spring.xml
  modules/openapi-generator/src/test/resources/3_0/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/openapi3/client/petstore/go/go-petstore/README.md
  samples/openapi3/client/petstore/go/go-petstore/api/openapi.yaml
  samples/openapi3/client/petstore/go/go-petstore/api_fake.go
  samples/openapi3/client/petstore/go/go-petstore/docs/FakeApi.md
  samples/openapi3/client/petstore/php/OpenAPIClient-php/README.md
  samples/openapi3/client/petstore/php/OpenAPIClient-php/docs/Api/FakeApi.md
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/test/Api/FakeApiTest.php
  samples/openapi3/client/petstore/python/README.md
  samples/openapi3/client/petstore/python/docs/FakeApi.md
  samples/openapi3/client/petstore/python/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/configuration.py
  samples/openapi3/client/petstore/ruby-faraday/README.md
  samples/openapi3/client/petstore/ruby-faraday/docs/FakeApi.md
  samples/openapi3/client/petstore/ruby-faraday/lib/petstore/api/fake_api.rb
  samples/openapi3/client/petstore/ruby-faraday/spec/api/fake_api_spec.rb
  samples/openapi3/client/petstore/ruby/README.md
  samples/openapi3/client/petstore/ruby/docs/FakeApi.md
  samples/openapi3/client/petstore/ruby/lib/petstore/api/fake_api.rb
  samples/openapi3/client/petstore/ruby/spec/api/fake_api_spec.rb
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/FakeApiService.java
  samples/server/petstore/jaxrs-jersey/src/main/java/org/openapitools/api/impl/FakeApiServiceImpl.java
Labels: Enhancement: CI/Test

#6068 Update Java (feign) client dependency
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/pom.mustache
  samples/client/petstore/java/feign/build.gradle
  samples/client/petstore/java/feign/build.sbt
  samples/client/petstore/java/feign/pom.xml
  samples/client/petstore/java/feign10x/build.gradle
  samples/client/petstore/java/feign10x/build.sbt
  samples/client/petstore/java/feign10x/pom.xml
Labels: Client: Java, Enhancement: Compatibility

#6043 Fix URLSessionImplementations file upload
  modules/openapi-generator/src/main/resources/swift5/libraries/urlsession/URLSessionImplementations.mustache
  samples/client/petstore/swift5/default/Package.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/APIs.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/APIs/AnotherFakeAPI.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/APIs/FakeAPI.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/APIs/FakeClassnameTags123API.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/APIs/PetAPI.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/APIs/StoreAPI.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/APIs/UserAPI.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/CodableHelper.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Configuration.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/JSONDataEncoding.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/JSONEncodingHelper.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/AdditionalPropertiesClass.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/Animal.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/AnimalFarm.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/ApiResponse.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/ArrayOfArrayOfNumberOnly.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/ArrayOfNumberOnly.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/ArrayTest.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/Capitalization.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/Cat.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/CatAllOf.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/Category.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/ClassModel.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/Client.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/Dog.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/DogAllOf.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/EnumArrays.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/EnumClass.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/EnumTest.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/File.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/FileSchemaTestClass.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/FormatTest.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/HasOnlyReadOnly.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/List.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/MapTest.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/MixedPropertiesAndAdditionalPropertiesClass.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/Model200Response.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/Name.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/NumberOnly.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/Order.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/OuterComposite.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/OuterEnum.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/Pet.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/ReadOnlyFirst.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/Return.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/SpecialModelName.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/StringBooleanMap.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/Tag.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/TypeHolderDefault.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/TypeHolderExample.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/User.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
Labels: Client: Swift, Issue: Bug

#6075 [typescript-fetch] Support deepObject query params
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptFetchClientCodegen.java
  modules/openapi-generator/src/main/resources/typescript-fetch/apis.mustache
Labels: Client: TypeScript

#6077 [typescript-fetch] Make FormData optional
  modules/openapi-generator/src/main/resources/typescript-fetch/runtime.mustache
  samples/client/petstore/typescript-fetch/builds/default/runtime.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/runtime.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/typescript-three-plus/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/runtime.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/runtime.ts
Labels: Client: TypeScript

#5933 [feat] Allow configuration of yaml minimize quotes
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonAbstractConnexionServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/serializer/SerializerUtils.java
Labels: Enhancement: General, Issue: Bug

#6088 [typescript-fetch] Allow multiline documentation
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptFetchClientCodegen.java
  modules/openapi-generator/src/main/resources/typescript-fetch/apis.mustache
  modules/openapi-generator/src/main/resources/typescript-fetch/modelEnum.mustache
  modules/openapi-generator/src/main/resources/typescript-fetch/modelGeneric.mustache
  modules/openapi-generator/src/main/resources/typescript-fetch/modelOneOf.mustache
  samples/client/petstore/typescript-fetch/builds/default/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/default/apis/StoreApi.ts
  samples/client/petstore/typescript-fetch/builds/default/apis/UserApi.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/apis/StoreApi.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/apis/UserApi.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/apis/StoreApi.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/apis/UserApi.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/apis/StoreApi.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/apis/UserApi.ts
  samples/client/petstore/typescript-fetch/builds/typescript-three-plus/src/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/typescript-three-plus/src/apis/StoreApi.ts
  samples/client/petstore/typescript-fetch/builds/typescript-three-plus/src/apis/UserApi.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/apis/StoreApi.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/apis/UserApi.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/apis/StoreApi.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/apis/UserApi.ts
Labels: Client: TypeScript

#5974 [typescript-axios] fixed pattern data integrity
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAxiosClientCodegen.java
Labels: Client: TypeScript

#6087 [TypeScript-Angular] Add AuthService example to README.md
  modules/openapi-generator/src/main/resources/typescript-angular/README.mustache
  samples/client/petstore/typescript-angular-v2/default/README.md
  samples/client/petstore/typescript-angular-v2/npm/README.md
  samples/client/petstore/typescript-angular-v2/with-interfaces/README.md
  samples/client/petstore/typescript-angular-v4.3/npm/README.md
  samples/client/petstore/typescript-angular-v4/npm/README.md
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/README.md
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/README.md
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/README.md
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/README.md
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/README.md
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/README.md
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/README.md
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/README.md
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/README.md
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/README.md
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/README.md
Labels: Client: TypeScript

#6061 [validation] Warn on duplicate tags
  modules/openapi-generator/src/main/java/org/openapitools/codegen/validations/oas/OpenApiEvaluator.java
Labels: Enhancement: General

#6104 [Java][jersey2-experimental] better docstring for Java jersey2-experimental client
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2-experimental/AbstractOpenApiSchema.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2-experimental/ApiResponse.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2-experimental/JSON.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2-experimental/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2-experimental/apiException.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2-experimental/oneof_model.mustache
  samples/client/petstore/java/jersey2-experimental/src/main/java/org/openapitools/client/ApiException.java
  samples/client/petstore/java/jersey2-experimental/src/main/java/org/openapitools/client/ApiResponse.java
  samples/client/petstore/java/jersey2-experimental/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/jersey2-experimental/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/jersey2-experimental/src/main/java/org/openapitools/client/api/DefaultApi.java
  samples/client/petstore/java/jersey2-experimental/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/jersey2-experimental/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/jersey2-experimental/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/jersey2-experimental/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/jersey2-experimental/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/jersey2-experimental/src/main/java/org/openapitools/client/model/AbstractOpenApiSchema.java
Labels: Client: Java, Enhancement: Code format

#6078 [php-symfony] Fix problem with clients, that put charset in content type header.
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSymfonyServerCodegen.java
  modules/openapi-generator/src/main/resources/php-symfony/Controller.mustache
  modules/openapi-generator/src/main/resources/php-symfony/api_controller.mustache
  modules/openapi-generator/src/main/resources/php-symfony/testing/ControllerTest.mustache
  modules/openapi-generator/src/main/resources/php-symfony/testing/api_test.mustache
  modules/openapi-generator/src/main/resources/php-symfony/testing/phpunit.xml.mustache
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/Controller.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/PetController.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/StoreController.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/UserController.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Tests/Api/PetApiInterfaceTest.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Tests/Api/StoreApiInterfaceTest.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Tests/Api/UserApiInterfaceTest.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Tests/Controller/ControllerTest.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/phpunit.xml.dist
Labels: Issue: Bug, Server: PHP

#6091 Better "Any Type" support
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenResponse.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/any_type.yaml
  modules/openapi-generator/src/test/resources/3_0/issue796.yaml
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/User.md
Labels: Enhancement: General, Feature: Generator, Issue: Bug

#6085 [php-symfony] Fix return type in model setters.
  modules/openapi-generator/src/main/resources/php-symfony/model_generic.mustache
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/Order.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/Pet.php
Labels: Issue: Bug, Server: PHP
