Repository OpenAPITools/openapi-generator, pull requests merged in 2020-07, with the labels that each got.

#6753 [Rust][Client] Unify sync/async client structure
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustClientCodegen.java
  modules/openapi-generator/src/main/resources/rust/reqwest/api.mustache
  modules/openapi-generator/src/main/resources/rust/reqwest/api_mod.mustache
  modules/openapi-generator/src/main/resources/rust/reqwest/client.mustache
  samples/client/petstore/rust/reqwest/fileResponseTest/.openapi-generator/FILES
  samples/client/petstore/rust/reqwest/fileResponseTest/src/apis/default_api.rs
  samples/client/petstore/rust/reqwest/fileResponseTest/src/apis/mod.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/pet_api.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/store_api.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/user_api.rs
  samples/client/petstore/rust/reqwest/petstore/.openapi-generator/FILES
  samples/client/petstore/rust/reqwest/petstore/src/apis/client.rs
  samples/client/petstore/rust/reqwest/petstore/src/apis/mod.rs
  samples/client/petstore/rust/reqwest/petstore/src/apis/pet_api.rs
  samples/client/petstore/rust/reqwest/petstore/src/apis/store_api.rs
  samples/client/petstore/rust/reqwest/petstore/src/apis/user_api.rs
  samples/client/petstore/rust/reqwest/petstore/tests/pet_tests.rs
  samples/client/petstore/rust/reqwest/rust-test/.openapi-generator/FILES
  samples/client/petstore/rust/reqwest/rust-test/src/apis/default_api.rs
  samples/client/petstore/rust/reqwest/rust-test/src/apis/mod.rs
Labels: Breaking change (without fallback), Client: Rust

#5728 [R] Enum R6Class Support, closes #3367
  modules/openapi-generator/src/main/resources/r/api.mustache
  modules/openapi-generator/src/main/resources/r/api_client.mustache
  modules/openapi-generator/src/main/resources/r/api_test.mustache
  modules/openapi-generator/src/main/resources/r/model.mustache
  modules/openapi-generator/src/main/resources/r/modelEnum.mustache
  samples/client/petstore/R/R/api_client.R
  samples/client/petstore/R/R/category.R
  samples/client/petstore/R/R/model_api_response.R
  samples/client/petstore/R/R/order.R
  samples/client/petstore/R/R/pet.R
  samples/client/petstore/R/R/tag.R
  samples/client/petstore/R/R/user.R
  samples/client/petstore/R/tests/testthat/test_order.R
  samples/client/petstore/R/tests/testthat/test_pet.R
  samples/client/petstore/R/tests/testthat/test_pet_api.R
  samples/client/petstore/R/tests/testthat/test_petstore.R
  samples/client/petstore/R/tests/testthat/test_store_api.R
  samples/client/petstore/R/tests/testthat/test_user.R
  samples/client/petstore/R/tests/testthat/test_user_api.R
  samples/client/petstore/R/testthat.R
Labels: Client: R, Enhancement: Feature, Feature: Enum

#6827 Fix - Provides a default value for optional init parameters
  modules/openapi-generator/src/main/resources/swift5/modelObject.mustache
Labels: Client: Swift, Issue: Bug

#6831 [Java][jersey2] Add a getter for the User-Agent header value
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: General

#6653 Mark python2 support in Flask as deprecated
  bin/configs/python-flask-python2.yaml
  docs/generators/python-aiohttp.md
  docs/generators/python-blueplanet.md
  docs/generators/python-flask.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonAbstractConnexionServerCodegen.java
  pom.xml
  samples/server/petstore/python-flask-python2/.dockerignore
  samples/server/petstore/python-flask-python2/.gitignore
  samples/server/petstore/python-flask-python2/.openapi-generator-ignore
  samples/server/petstore/python-flask-python2/.openapi-generator/FILES
  samples/server/petstore/python-flask-python2/.openapi-generator/VERSION
  samples/server/petstore/python-flask-python2/.travis.yml
  samples/server/petstore/python-flask-python2/Dockerfile
  samples/server/petstore/python-flask-python2/Makefile
  samples/server/petstore/python-flask-python2/README.md
  samples/server/petstore/python-flask-python2/dev-requirements.txt
  samples/server/petstore/python-flask-python2/git_push.sh
  samples/server/petstore/python-flask-python2/openapi_server/__init__.py
  samples/server/petstore/python-flask-python2/openapi_server/__main__.py
  samples/server/petstore/python-flask-python2/openapi_server/controllers/__init__.py
  samples/server/petstore/python-flask-python2/openapi_server/controllers/pet_controller.py
  samples/server/petstore/python-flask-python2/openapi_server/controllers/security_controller_.py
  samples/server/petstore/python-flask-python2/openapi_server/controllers/store_controller.py
  samples/server/petstore/python-flask-python2/openapi_server/controllers/user_controller.py
  samples/server/petstore/python-flask-python2/openapi_server/encoder.py
  samples/server/petstore/python-flask-python2/openapi_server/models/__init__.py
  samples/server/petstore/python-flask-python2/openapi_server/models/api_response.py
  samples/server/petstore/python-flask-python2/openapi_server/models/base_model_.py
  samples/server/petstore/python-flask-python2/openapi_server/models/category.py
  samples/server/petstore/python-flask-python2/openapi_server/models/order.py
  samples/server/petstore/python-flask-python2/openapi_server/models/pet.py
  samples/server/petstore/python-flask-python2/openapi_server/models/tag.py
  samples/server/petstore/python-flask-python2/openapi_server/models/user.py
  samples/server/petstore/python-flask-python2/openapi_server/openapi/openapi.yaml
  samples/server/petstore/python-flask-python2/openapi_server/test/__init__.py
  samples/server/petstore/python-flask-python2/openapi_server/test/test_pet_controller.py
  samples/server/petstore/python-flask-python2/openapi_server/test/test_store_controller.py
  samples/server/petstore/python-flask-python2/openapi_server/test/test_user_controller.py
  samples/server/petstore/python-flask-python2/openapi_server/typing_utils.py
  samples/server/petstore/python-flask-python2/openapi_server/util.py
  samples/server/petstore/python-flask-python2/pom.xml
  samples/server/petstore/python-flask-python2/requirements.txt
  samples/server/petstore/python-flask-python2/setup.py
  samples/server/petstore/python-flask-python2/test-requirements.txt
  samples/server/petstore/python-flask-python2/test_python2.sh
  samples/server/petstore/python-flask-python2/tox.ini
Labels: Breaking change (without fallback), Client: Python, Decommission

#6699 Make ApiClient in retrofit2 be able to use own OkHttpClient
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/ApiClient.mustache
  samples/client/petstore/java/retrofit2/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/retrofit2rx2/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/retrofit2rx3/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Client: Retrofit, Enhancement: General

#6760 [PHP] Better handling of invalid data (array)
  modules/openapi-generator/src/main/resources/php/ObjectSerializer.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/ObjectSerializer.php
Labels: Client: PHP, Issue: Bug

#6556 [Java][WebClient]remove the dead code from java ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/ApiClient.mustache
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: Code format

#6835 [PowerShell] add more fields to be customized
  bin/configs/powershell.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellClientCodegen.java
  modules/openapi-generator/src/main/resources/powershell/Build.ps1.mustache
  modules/openapi-generator/src/main/resources/powershell/README.mustache
  samples/client/petstore/powershell/Build.ps1
Labels: Client: PowerShell, Enhancement: General

#6836 [kotlin][client] fix retrofit dependencies
  modules/openapi-generator/src/main/resources/kotlin-client/build.gradle.mustache
  samples/client/petstore/kotlin-gson/build.gradle
  samples/client/petstore/kotlin-jackson/build.gradle
  samples/client/petstore/kotlin-json-request-string/build.gradle
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/build.gradle
  samples/client/petstore/kotlin-moshi-codegen/build.gradle
  samples/client/petstore/kotlin-nonpublic/build.gradle
  samples/client/petstore/kotlin-nullable/build.gradle
  samples/client/petstore/kotlin-okhttp3/build.gradle
  samples/client/petstore/kotlin-retrofit2/build.gradle
  samples/client/petstore/kotlin-string/build.gradle
  samples/client/petstore/kotlin-threetenbp/build.gradle
  samples/client/petstore/kotlin/build.gradle
Labels: Client: Kotlin, Issue: Bug

#6808 [BUG] [JAVA] Fix multiple files upload (#4803)
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/api.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Issue: Bug

#6861 [haskell-http-client] avoid depending on ParseTime,FormatTime
  modules/openapi-generator/src/main/resources/haskell-http-client/Core.mustache
  modules/openapi-generator/src/main/resources/haskell-http-client/README.mustache
  modules/openapi-generator/src/main/resources/haskell-http-client/haskell-http-client.cabal.mustache
  samples/client/petstore/haskell-http-client/README.md
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-Client.html
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-Core.html
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-Logging.html
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-MimeTypes.html
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-Model.html
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-ModelLens.html
  samples/client/petstore/haskell-http-client/docs/doc-index.json
  samples/client/petstore/haskell-http-client/docs/openapi-petstore.txt
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.AnotherFake.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.Fake.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.FakeClassnameTags123.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.Pet.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.Store.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.User.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.Client.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.Core.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.LoggingKatip.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.MimeTypes.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.Model.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.ModelLens.html
  samples/client/petstore/haskell-http-client/docs/src/Paths_openapi_petstore.html
  samples/client/petstore/haskell-http-client/example-app/openapi-petstore-app.cabal
  samples/client/petstore/haskell-http-client/lib/OpenAPIPetstore/Core.hs
  samples/client/petstore/haskell-http-client/openapi-petstore.cabal
Labels: Client: Haskell

#6867 Update JS dependencies
  .gitignore
  modules/openapi-generator/src/main/resources/Javascript/es6/package.mustache
  pom.xml
  samples/client/petstore/javascript-es6/package-lock.json
  samples/client/petstore/javascript-es6/package.json
  samples/client/petstore/javascript-promise-es6/package-lock.json
  samples/client/petstore/javascript-promise-es6/package.json
Labels: Client: JavaScript/Node.js, Enhancement: Compatibility, WIP

#6860 [typescript-fetch]: Revert "[typescript-fetch] Support deepObject query params (#6075)"
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptFetchClientCodegen.java
  modules/openapi-generator/src/main/resources/typescript-fetch/apis.mustache
Labels: Client: TypeScript

#6880 Add isAdditionalPropertiesTrue
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModel.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientExperimentalCodegen.java
  modules/openapi-generator/src/main/resources/go-experimental/model_simple.mustache
  samples/client/petstore/go-experimental/go-petstore/model_additional_properties_any_type.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_nullable_class.go
Labels: Client: Go, Enhancement: Feature, Feature: Generator

#5732 [Java][Client][vert.x] Support per-call authentication and JsonNullable in client request bodies, fix path parameter encoding
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/apiImpl.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/api_test.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/rxApiImpl.mustache
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/api/AnotherFakeApiImpl.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/api/FakeApiImpl.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/api/FakeClassnameTags123ApiImpl.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/api/PetApiImpl.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/api/StoreApiImpl.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/api/UserApiImpl.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/api/rxjava/AnotherFakeApi.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/api/rxjava/FakeApi.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/api/rxjava/FakeClassnameTags123Api.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/api/rxjava/PetApi.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/api/rxjava/StoreApi.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/api/rxjava/UserApi.java
Labels: Client: Java, Enhancement: General

#6886 [PS] Replace x-additional-properties with isAdditionalPropertiesTrue
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellClientCodegen.java
  modules/openapi-generator/src/main/resources/powershell/model_simple.mustache
Labels: Client: PowerShell, Enhancement: General

#6890 Remove JDK7 tests in CircleCI
  CI/circle_parallel.sh
  pom.xml
Labels: Enhancement: CI/Test

#6908 [Go][Experimental] Add the option disallowAdditionalPropertiesIfNotPresent
  circle.yml
  docs/generators/go-experimental.md
  modules/openapi-generator-maven-plugin/examples/spring.xml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientExperimentalCodegen.java
Labels: Client: Go, Enhancement: Feature

#6920 [PowerShell] support default value in models
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellClientCodegen.java
  modules/openapi-generator/src/main/resources/powershell/model_simple.mustache
  samples/client/petstore/powershell/docs/ApiResponse.md
  samples/client/petstore/powershell/docs/Category.md
  samples/client/petstore/powershell/docs/InlineObject.md
  samples/client/petstore/powershell/docs/InlineObject1.md
  samples/client/petstore/powershell/docs/Order.md
  samples/client/petstore/powershell/docs/PSPetApi.md
  samples/client/petstore/powershell/docs/PSStoreApi.md
  samples/client/petstore/powershell/docs/PSUserApi.md
  samples/client/petstore/powershell/docs/Pet.md
  samples/client/petstore/powershell/docs/Tag.md
  samples/client/petstore/powershell/docs/User.md
  samples/client/petstore/powershell/src/PSPetstore/Model/Order.ps1
Labels: Client: PowerShell, Enhancement: General

#6921 [Java][jersey2] minor fix to code samples in the doc
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/api_doc.mustache
  samples/client/petstore/java/jersey2-java8/docs/AnotherFakeApi.md
  samples/client/petstore/java/jersey2-java8/docs/FakeApi.md
  samples/client/petstore/java/jersey2-java8/docs/FakeClassnameTags123Api.md
  samples/client/petstore/java/jersey2-java8/docs/PetApi.md
  samples/client/petstore/java/jersey2-java8/docs/StoreApi.md
  samples/client/petstore/java/jersey2-java8/docs/UserApi.md
  samples/openapi3/client/petstore/java/jersey2-java8/docs/AnotherFakeApi.md
  samples/openapi3/client/petstore/java/jersey2-java8/docs/DefaultApi.md
  samples/openapi3/client/petstore/java/jersey2-java8/docs/FakeApi.md
  samples/openapi3/client/petstore/java/jersey2-java8/docs/FakeClassnameTags123Api.md
  samples/openapi3/client/petstore/java/jersey2-java8/docs/PetApi.md
  samples/openapi3/client/petstore/java/jersey2-java8/docs/StoreApi.md
  samples/openapi3/client/petstore/java/jersey2-java8/docs/UserApi.md
Labels: Client: Java, Enhancement: Feature, Feature: Documentation

#6928 [java][jersey2] Fix typo in javadoc
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java

#6930 [PS] add nullable body support
  modules/openapi-generator/src/main/resources/powershell/api.mustache
  modules/openapi-generator/src/main/resources/powershell/api_client.mustache
  samples/client/petstore/powershell/Test1.ps1
  samples/client/petstore/powershell/src/PSPetstore/Api/PSPetApi.ps1
  samples/client/petstore/powershell/src/PSPetstore/Api/PSStoreApi.ps1
  samples/client/petstore/powershell/src/PSPetstore/Api/PSUserApi.ps1
  samples/client/petstore/powershell/src/PSPetstore/Private/PSApiClient.ps1
Labels: Client: PowerShell, Enhancement: Feature, Feature: OAS 3.0 spec support

#6933 [Java][jersey2] Fix null payload
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Feature: OAS 3.0 spec support, Issue: Bug

#6936 [R] skip test for enum model
  modules/openapi-generator/src/main/resources/r/README.mustache
  modules/openapi-generator/src/main/resources/r/model_test.mustache
  samples/client/petstore/R/README.md
Labels: Client: R, Feature: Enum, Issue: Bug

#6946 [Go] fix unmarshal for models with parents
  bin/configs/go-experimental-go-petstore.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientExperimentalCodegen.java
  modules/openapi-generator/src/main/resources/go-experimental/model_simple.mustache
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_200_response.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model__special_model_name_.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_additional_properties_class.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_animal.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_api_response.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_apple.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_apple_req.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_array_of_array_of_number_only.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_array_of_number_only.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_array_test_.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_banana_req.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_capitalization.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_cat.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_cat_all_of.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_category.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_class_model.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_client.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_dog.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_dog_all_of.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_enum_arrays.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_enum_test_.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_file.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_file_schema_test_class.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_foo.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_format_test_.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_has_only_read_only.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_health_check_result.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_inline_object.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_inline_object_1.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_inline_object_2.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_inline_object_3.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_inline_object_4.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_inline_object_5.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_inline_response_default.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_list.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_map_test_.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_mixed_properties_and_additional_properties_class.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_name.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_number_only.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_order.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_outer_composite.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_pet.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_read_only_first.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_return.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_tag.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_user.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_whale.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_zebra.go
  samples/openapi3/client/petstore/go-experimental/model_test.go
Labels: Client: Go, Issue: Bug

#6960 [typescript-axios] switched to new URL API
  .gitignore
  modules/openapi-generator/src/main/resources/typescript-axios/api.mustache
  modules/openapi-generator/src/main/resources/typescript-axios/apiInner.mustache
  samples/client/petstore/typescript-axios/builds/composed-schemas/api.ts
  samples/client/petstore/typescript-axios/builds/default/api.ts
  samples/client/petstore/typescript-axios/builds/es6-target/api.ts
  samples/client/petstore/typescript-axios/builds/with-complex-headers/api.ts
  samples/client/petstore/typescript-axios/builds/with-interfaces/api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/pet-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/store-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/user-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version/api.ts
  samples/client/petstore/typescript-axios/builds/with-single-request-parameters/api.ts
  samples/client/petstore/typescript-axios/tests/default/package-lock.json
  samples/client/petstore/typescript-axios/tests/default/package.json
  samples/client/petstore/typescript-axios/tests/default/test/PetApi.ts
  samples/client/petstore/typescript-axios/tests/default/test/PetApiFactory.ts
  samples/client/petstore/typescript-axios/tests/default/test/StoreApi.ts
  samples/client/petstore/typescript-axios/tests/default/test/StoreApiFactory.ts
Labels: Breaking change (without fallback), Client: TypeScript

#6903 [Java][Native] added WithHttpInfo method for async-native
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/native/README.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/api_doc.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  samples/client/petstore/java/native-async/.openapi-generator/FILES
  samples/client/petstore/java/native-async/README.md
  samples/client/petstore/java/native-async/docs/AnotherFakeApi.md
  samples/client/petstore/java/native-async/docs/FakeApi.md
  samples/client/petstore/java/native-async/docs/FakeClassnameTags123Api.md
  samples/client/petstore/java/native-async/docs/PetApi.md
  samples/client/petstore/java/native-async/docs/StoreApi.md
  samples/client/petstore/java/native-async/docs/UserApi.md
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/ApiResponse.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/native/README.md
  samples/client/petstore/java/native/docs/AnotherFakeApi.md
  samples/client/petstore/java/native/docs/FakeApi.md
  samples/client/petstore/java/native/docs/FakeClassnameTags123Api.md
  samples/client/petstore/java/native/docs/PetApi.md
  samples/client/petstore/java/native/docs/StoreApi.md
  samples/client/petstore/java/native/docs/UserApi.md
Labels: Client: Java, Enhancement: General

#6922 fix: make accept header consistent with sync vers.
  modules/openapi-generator/src/main/resources/csharp-netcore/api.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/UserApi.cs
Labels: Client: C-Sharp, Issue: Bug

#6981 [CircleCI] rebalance tests
  CI/circle_parallel.sh
  pom.xml
Labels: Enhancement: CI/Test

#6978 [Scala] setup Ivy cache directory
  CI/circle_parallel.sh
  samples/client/petstore/scala-akka/.openapi-generator-ignore
  samples/client/petstore/scala-akka/.openapi-generator/FILES
  samples/client/petstore/scala-akka/pom.xml
  samples/client/petstore/scala-httpclient/pom.xml
  samples/client/petstore/scala-sttp/pom.xml
  samples/client/petstore/scalaz/pom.xml
  samples/server/petstore/scala-akka-http-server/pom.xml
  samples/server/petstore/scala-finch/pom.xml
  samples/server/petstore/scala-lagom-server/pom.xml
  samples/server/petstore/scala-play-server/pom.xml
  samples/server/petstore/scalatra/pom.xml
Labels: Client: Scala, Enhancement: CI/Test, Server: Scala

#6985 [Scala] replace ~ with $user.home in pom.xml
  samples/client/petstore/scala-akka/pom.xml
  samples/client/petstore/scala-httpclient/pom.xml
  samples/client/petstore/scala-sttp/pom.xml
  samples/client/petstore/scalaz/pom.xml
  samples/server/petstore/scala-akka-http-server/pom.xml
  samples/server/petstore/scala-finch/pom.xml
  samples/server/petstore/scala-lagom-server/pom.xml
  samples/server/petstore/scala-play-server/pom.xml
  samples/server/petstore/scalatra/pom.xml
Labels: Client: Scala, Enhancement: CI/Test, Server: Scala

#6973 Typescript-angular: Mark deprecated operations with deprecated JSdoc tag
  modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache
  modules/openapi-generator/src/main/resources/typescript-angular/apiInterface.mustache
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/api/pet.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/api/pet.service.ts
Labels: Client: TypeScript

#6912 [Java][RestTemplate] Use abstraction for files
  docs/generators/java.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/api_test.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/TestUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
Labels: Client: Java, Enhancement: Feature

#7000 Add ~/.sbt to circleci cache
  circle.yml
Labels: Client: Scala, Enhancement: CI/Test, Server: Scala

#7006 [Avro] Default value for no required fields to null
  modules/openapi-generator/src/main/resources/avro-schema/pojo.mustache
  samples/openapi3/schema/petstore/avro-schema/.openapi-generator/FILES
  samples/openapi3/schema/petstore/avro-schema/.openapi-generator/VERSION
  samples/openapi3/schema/petstore/avro-schema/ApiResponse.avsc
  samples/openapi3/schema/petstore/avro-schema/Category.avsc
  samples/openapi3/schema/petstore/avro-schema/InlineObject.avsc
  samples/openapi3/schema/petstore/avro-schema/InlineObject1.avsc
  samples/openapi3/schema/petstore/avro-schema/Order.avsc
  samples/openapi3/schema/petstore/avro-schema/Pet.avsc
  samples/openapi3/schema/petstore/avro-schema/Tag.avsc
  samples/openapi3/schema/petstore/avro-schema/User.avsc
Labels: Issue: Bug, Schema: Avro

#6953 [typescript-angular] Unify authorization lookup
  modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache
  modules/openapi-generator/src/main/resources/typescript-angular/configuration.mustache
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/configuration.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/configuration.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/configuration.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/configuration.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/configuration.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/configuration.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/configuration.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/configuration.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/api/pet.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/api/store.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/configuration.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/configuration.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/api/pet.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/api/store.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/configuration.ts
Labels: Client: TypeScript

#6730 [dart] fix toJson does not handle complex type
  modules/openapi-generator/src/main/resources/dart/class.mustache
  samples/client/petstore/dart/flutter_petstore/openapi/lib/model/api_response.dart
  samples/client/petstore/dart/flutter_petstore/openapi/lib/model/category.dart
  samples/client/petstore/dart/flutter_petstore/openapi/lib/model/inline_object.dart
  samples/client/petstore/dart/flutter_petstore/openapi/lib/model/inline_object1.dart
  samples/client/petstore/dart/flutter_petstore/openapi/lib/model/order.dart
  samples/client/petstore/dart/flutter_petstore/openapi/lib/model/pet.dart
  samples/client/petstore/dart/flutter_petstore/openapi/lib/model/tag.dart
  samples/client/petstore/dart/flutter_petstore/openapi/lib/model/user.dart
  samples/client/petstore/dart/openapi-browser-client/lib/model/api_response.dart
  samples/client/petstore/dart/openapi-browser-client/lib/model/category.dart
  samples/client/petstore/dart/openapi-browser-client/lib/model/order.dart
  samples/client/petstore/dart/openapi-browser-client/lib/model/pet.dart
  samples/client/petstore/dart/openapi-browser-client/lib/model/tag.dart
  samples/client/petstore/dart/openapi-browser-client/lib/model/user.dart
  samples/client/petstore/dart/openapi/lib/model/api_response.dart
  samples/client/petstore/dart/openapi/lib/model/category.dart
  samples/client/petstore/dart/openapi/lib/model/order.dart
  samples/client/petstore/dart/openapi/lib/model/pet.dart
  samples/client/petstore/dart/openapi/lib/model/tag.dart
  samples/client/petstore/dart/openapi/lib/model/user.dart
Labels: Client: Dart, Issue: Bug

#6996 [cpp-restsdk] Enabling forward declarations also for cpp-restsdk generator
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/model-header.mustache
Labels: Client: C++, Enhancement: General

#6798 [Dart] Annotate required named parameters in model
  modules/openapi-generator/src/main/resources/dart2/apilib.mustache
  modules/openapi-generator/src/main/resources/dart2/class.mustache
  modules/openapi-generator/src/main/resources/dart2/pubspec.mustache
  samples/client/petstore/dart2/petstore/test/pet_test.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/model/pet.dart
  samples/client/petstore/dart2/petstore_client_lib/pubspec.yaml
Labels: Client: Dart, Enhancement: General

#7012 [Java] Rollback Feign version to 10.11
  docs/generators/java.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/pom.mustache
  samples/client/petstore/java/feign/build.gradle
  samples/client/petstore/java/feign/build.sbt
  samples/client/petstore/java/feign/pom.xml
Labels: Client: Java, Issue: Undo changes

#6939 [go-experimental] Fix generating array aliases as models
  modules/openapi-generator/src/main/resources/go-experimental/model_simple.mustache
Labels: Client: Go, Issue: Bug

#6956 [Java][jersey2] Fix `serializeToString`
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/test/java/org/openapitools/client/ApiClientTest.java
Labels: Client: Java, Issue: Bug

#6937 Add 'x-generate-alias-as-model' extension to allow enabling generating alias as model per-schema
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaCXFExtServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
Labels: Enhancement: Feature, Feature: Generator

#6811 [java][jersey2-client] Disable coercion of scalars
  modules/openapi-generator-maven-plugin/examples/java-client.xml
  modules/openapi-generator-maven-plugin/examples/kotlin.xml
  modules/openapi-generator-maven-plugin/examples/multi-module/pom.xml
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/JSON.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/oneof_model.mustache
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/JSON.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/JSON.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Fruit.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/FruitReq.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Mammal.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/NullableShape.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Pig.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Quadrilateral.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Shape.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/ShapeOrNull.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Triangle.java
Labels: Client: Java, Enhancement: General

#7027 [TS] Fix string comparison
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java
Labels: Client: TypeScript, Issue: Bug

#6037 Add property additionalModelTypeAnnotations on the top of pojo …
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/pojo.mustache
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/model/Category.java
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/model/ModelApiResponse.java
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/model/Order.java
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/model/Tag.java
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/model/User.java
Labels: Client: Java, Enhancement: General

#7030 Fix string comparison in Python generator's abstract class
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonConnexionServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonAiohttpConnexionServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonBluePlanetServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonFlaskConnexionServerCodegen.java
Labels: Issue: Bug, Server: Python

#7028 [Java][jersey2] fix query parameters in applyToParams
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/auth/HttpSignatureAuth.mustache
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/auth/HttpSignatureAuth.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/test/java/org/openapitools/client/ApiClientTest.java
Labels: Client: Java, Issue: Bug

#7047 [Java][jersey2] Test HttpSignature verification
  samples/openapi3/client/petstore/java/jersey2-java8/src/test/java/org/openapitools/client/ApiClientTest.java
Labels: Client: Java, Enhancement: CI/Test

#6983 Add empty checks using hasAuthMethods
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/multiplatform/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin, Enhancement: General

#7002 [Protobuf] Make it possible to override field numbers using x-protobuf-index
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ProtobufSchemaCodegen.java
  modules/openapi-generator/src/main/resources/protobuf-schema/api.mustache
  modules/openapi-generator/src/main/resources/protobuf-schema/model.mustache
Labels: Enhancement: General, Schema: ProtoBuf

#7050 [Java][pkmst] Fix string comparison
  modules/openapi-generator/src/main/resources/java-pkmst/logging/httpLoggingFilter.mustache
  samples/server/petstore/java-pkmst/src/main/java/com/prokarma/pkmst/logging/HttpLoggingFilter.java
Labels: Issue: Bug, Server: Java

#7051 [Java][RestTemplate] useAbstractionForFiles - Use Resource interface instead of AbstractResource
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/api_test.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
Labels: Client: Java, Enhancement: General

#7052 Fix string comparison in fsharp generator tests
  modules/openapi-generator/src/test/java/org/openapitools/codegen/fsharp/FSharpServerCodegenTest.java
Labels: Enhancement: CI/Test, Server: F#

#7029 Fix string comparison in C++ UE4 client generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppUE4ClientCodegen.java
  samples/client/petstore/cpp-ue4/.openapi-generator/FILES
  samples/client/petstore/cpp-ue4/Private/OpenAPIPetApiOperations.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIStoreApiOperations.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIUserApiOperations.cpp
Labels: Client: C++, Issue: Bug

#7024 [Java][okhttp-gson] prevent UnsupportedOperationException by removal from ImmutableList on setDebugging(false)
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#6993 Bugfix/5.0.0 beta/6853 fixed reactor conditions in template
  modules/openapi-generator/src/main/resources/JavaSpring/api.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/apiDelegate.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/formParams.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-cloud/formParams.mustache
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/AnotherFakeApi.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/AnotherFakeApiDelegate.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/FakeApiDelegate.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/FakeClassnameTestApi.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/FakeClassnameTestApiDelegate.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/PetApiDelegate.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/StoreApiDelegate.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/UserApi.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/UserApiDelegate.java
Labels: Issue: Bug, Server: Spring

#7061 [python-experimental] simplifies json serialization
  modules/openapi-generator/src/main/resources/python/python-experimental/README.mustache
  modules/openapi-generator/src/main/resources/python/python-experimental/README_onlypackage.mustache
  modules/openapi-generator/src/main/resources/python/python-experimental/api_client.mustache
  modules/openapi-generator/src/main/resources/python/python-experimental/gitlab-ci.mustache
  modules/openapi-generator/src/main/resources/python/python-experimental/setup.mustache
  modules/openapi-generator/src/main/resources/python/python-experimental/travis.mustache
  samples/client/petstore/python-experimental/.gitlab-ci.yml
  samples/client/petstore/python-experimental/.travis.yml
  samples/client/petstore/python-experimental/README.md
  samples/client/petstore/python-experimental/petstore_api/api_client.py
  samples/client/petstore/python-experimental/setup.py
  samples/openapi3/client/extensions/x-auth-id-alias/python-experimental/.gitlab-ci.yml
  samples/openapi3/client/extensions/x-auth-id-alias/python-experimental/.travis.yml
  samples/openapi3/client/extensions/x-auth-id-alias/python-experimental/README.md
  samples/openapi3/client/extensions/x-auth-id-alias/python-experimental/setup.py
  samples/openapi3/client/extensions/x-auth-id-alias/python-experimental/x_auth_id_alias/api_client.py
  samples/openapi3/client/features/dynamic-servers/python-experimental/.gitlab-ci.yml
  samples/openapi3/client/features/dynamic-servers/python-experimental/.travis.yml
  samples/openapi3/client/features/dynamic-servers/python-experimental/README.md
  samples/openapi3/client/features/dynamic-servers/python-experimental/dynamic_servers/api_client.py
  samples/openapi3/client/features/dynamic-servers/python-experimental/setup.py
  samples/openapi3/client/petstore/python-experimental/.gitlab-ci.yml
  samples/openapi3/client/petstore/python-experimental/.travis.yml
  samples/openapi3/client/petstore/python-experimental/README.md
  samples/openapi3/client/petstore/python-experimental/petstore_api/api_client.py
  samples/openapi3/client/petstore/python-experimental/setup.py
Labels: Client: Python

#7063 Improve .travis.yml in R client
  bin/configs/r-client.yaml
  modules/openapi-generator/src/main/resources/r/.travis.yml
  samples/client/petstore/R/.travis.yml
Labels: Client: R, Enhancement: CI/Test

#7067 [PHP] Fix sending array of files with multipart/form-data in PHP template
  modules/openapi-generator/src/main/resources/php/api.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/AnotherFakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/DefaultApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeClassnameTags123Api.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/PetApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/StoreApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/UserApi.php
Labels: Client: PHP, Issue: Bug

#6931 typescript-axios: add Set as language primitive
  docs/generators/typescript-angular.md
  docs/generators/typescript-angularjs-deprecated.md
  docs/generators/typescript-angularjs.md
  docs/generators/typescript-aurelia.md
  docs/generators/typescript-axios.md
  docs/generators/typescript-fetch.md
  docs/generators/typescript-inversify.md
  docs/generators/typescript-jquery.md
  docs/generators/typescript-node.md
  docs/generators/typescript-redux-query.md
  docs/generators/typescript-rxjs.md
  docs/generators/typescript.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/.openapi-generator/FILES
  samples/client/petstore/typescript-node/default/.openapi-generator/FILES
  samples/client/petstore/typescript-node/npm/.openapi-generator/FILES
Labels: Client: TypeScript, Enhancement: General

#7071 Surpress warnings in the plantuml generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PlantumlDocumentationCodegen.java
Labels: Doc: PlantUML, Enhancement: General

#6913 [DART] Fix 2d list generated deserilization
  modules/openapi-generator/src/main/resources/dart2/class.mustache
Labels: Client: Dart, Enhancement: General

#7073 [Protobuf] Generate enum fields
  modules/openapi-generator/src/main/resources/protobuf-schema/model.mustache
Labels: Enhancement: Feature, Feature: Enum, Schema: ProtoBuf

#7078 Migrate typescript.sh to new config format
  bin/configs/typescript-consolidated-deno.yaml
  bin/configs/typescript-consolidated-inversify.yaml
  bin/configs/typescript-consolidated-jquery.yaml
  bin/configs/typescript-consolidated-node-object-parameters.yaml
  bin/configs/typescript-consolidated-node.yaml
  bin/typescript.sh
Labels: Enhancement: CI/Test

#6947 typescript-node: clean up require and import
  CONTRIBUTING.md
  docs/contributing.md
  modules/openapi-generator/src/main/resources/typescript-node/api-single.mustache
  modules/openapi-generator/src/main/resources/typescript-node/models.mustache
  modules/openapi-generator/src/main/resources/typescript-node/tsconfig.mustache
  samples/client/petstore/typescript-node/default/api/petApi.ts
  samples/client/petstore/typescript-node/default/api/storeApi.ts
  samples/client/petstore/typescript-node/default/api/userApi.ts
  samples/client/petstore/typescript-node/default/model/models.ts
  samples/client/petstore/typescript-node/npm/api/petApi.ts
  samples/client/petstore/typescript-node/npm/api/storeApi.ts
  samples/client/petstore/typescript-node/npm/api/userApi.ts
  samples/client/petstore/typescript-node/npm/model/models.ts
  samples/client/petstore/typescript-node/npm/tsconfig.json
Labels: Client: TypeScript, Enhancement: General
