Repository OpenAPITools/openapi-generator, pull requests merged in 2020-08, with the labels that each got.

#7088 [Go][Exp] better code format
  modules/openapi-generator/src/main/resources/go-experimental/api.mustache
  modules/openapi-generator/src/main/resources/go-experimental/model_anyof.mustache
  modules/openapi-generator/src/main/resources/go-experimental/signing.mustache
  samples/client/petstore/go-experimental/go-petstore/api_another_fake.go
  samples/client/petstore/go-experimental/go-petstore/api_fake.go
  samples/client/petstore/go-experimental/go-petstore/api_fake_classname_tags123.go
  samples/client/petstore/go-experimental/go-petstore/api_pet.go
  samples/client/petstore/go-experimental/go-petstore/api_store.go
  samples/client/petstore/go-experimental/go-petstore/api_user.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/api_another_fake.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/api_default.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/api_fake.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/api_fake_classname_tags123.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/api_pet.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/api_store.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/api_user.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/signing.go
Labels: Client: Go, Enhancement: Code format

#7102 [online] Fix for version conflicts with springfox/boot
  modules/openapi-generator-online/pom.xml
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/OpenAPI2SpringBoot.java
  modules/openapi-generator-online/src/test/java/org/openapitools/codegen/online/api/GenApiControllerTest.java
Labels: Issue: Bug, OpenAPI Generator Online

#6073 [BUG] Multi-Part content type in response ignores properties of composed schema (allOf/oneOf)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
Labels: Client: Java, Feature: OAS 3.0 spec support, Issue: Bug, Server: Java

#6105 [MARKDOWN] Fix issue 6089 with property and parameter names
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/MarkdownDocumentationCodegen.java
  samples/documentation/markdown/.openapi-generator/FILES
  samples/documentation/markdown/Apis/PetApi.md
  samples/documentation/markdown/Apis/StoreApi.md
  samples/documentation/markdown/Apis/UserApi.md
  samples/documentation/markdown/README.md
Labels: Doc: Markdown, Issue: Bug

#7108 Move maven,gradle tests to Shippable CI
  .travis.yml
  shippable.yml
Labels: Enhancement: CI/Test

#6924 [Dart] Treat float as double
  modules/openapi-generator/src/main/resources/dart2/class.mustache
Labels: Client: Dart, Enhancement: General

#7091 [PS] Allow CI to publish the module
  modules/openapi-generator/src/main/resources/powershell/Org.OpenAPITools.psm1.mustache
  modules/openapi-generator/src/main/resources/powershell/about_Org.OpenAPITools.help.txt.mustache
  modules/openapi-generator/src/main/resources/powershell/appveyor.mustache
  modules/openapi-generator/src/main/resources/powershell/configuration.mustache
  modules/openapi-generator/src/main/resources/powershell/http_signature_auth.mustache
  modules/openapi-generator/src/main/resources/powershell/rsa_provider.mustache
  samples/client/petstore/powershell/appveyor.yml
  samples/client/petstore/powershell/src/PSPetstore/Client/PSConfiguration.ps1
  samples/client/petstore/powershell/src/PSPetstore/PSPetstore.psm1
  samples/client/petstore/powershell/src/PSPetstore/Private/PSHttpSignatureAuth.ps1
  samples/client/petstore/powershell/src/PSPetstore/Private/PSRSAEncryptionProvider.cs
  samples/client/petstore/powershell/src/PSPetstore/en-US/about_PSPetstore.help.txt
Labels: Client: PowerShell, Enhancement: CI/Test, Enhancement: Code format

#7077 [csharp-netcore] added cancellation tokens to async calls
  modules/openapi-generator/src/main/resources/csharp-netcore/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/IAsynchronousClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/api.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/IAsynchronousClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/IAsynchronousClient.cs
Labels: Client: C-Sharp, Enhancement: General

#6310 fix for the issue, with the spec invlolving arrayschema structure with reference of another schema for java code generation
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
Labels: Client: Java, Issue: Bug, Server: Java

#7110 [Java][jersey2] Fix http signature authentication in build.sbt
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/build.sbt.mustache
  samples/client/petstore/java/jersey2-java8/build.sbt
  samples/openapi3/client/petstore/java/jersey2-java8/build.sbt
Labels: Client: Java, Issue: Bug

#7094 [aspnetcore] Typo issues in docs and generated code
  docs/generators/aspnetcore.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetCoreServerCodegen.java
  modules/openapi-generator/src/main/resources/aspnetcore/3.0/Program.mustache
  samples/server/petstore/aspnetcore-3.0/src/Org.OpenAPITools/Program.cs
  samples/server/petstore/aspnetcore-3.1/src/Org.OpenAPITools/Program.cs
Labels: Issue: Bug, Server: C-Sharp

#7114 [PowerShell] better publishing workflow
  modules/openapi-generator/src/main/resources/powershell/appveyor.mustache
  samples/client/petstore/powershell/appveyor.yml
Labels: Client: PowerShell, Enhancement: CI/Test

#6153 [core] Add type and format properties to model of inline response
  modules/openapi-generator/src/main/java/org/openapitools/codegen/InlineModelResolver.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/InlineModelResolverTest.java
  modules/openapi-generator/src/test/resources/3_0/6150_model_json_inline.yaml
  samples/client/petstore/go-experimental/go-petstore/api/openapi.yaml
  samples/client/petstore/go/go-petstore-withXml/api/openapi.yaml
  samples/client/petstore/go/go-petstore/api/openapi.yaml
  samples/client/petstore/haskell-http-client/openapi.yaml
  samples/client/petstore/java/feign/api/openapi.yaml
  samples/client/petstore/java/google-api-client/api/openapi.yaml
  samples/client/petstore/java/jersey1/api/openapi.yaml
  samples/client/petstore/java/jersey2-java8/api/openapi.yaml
  samples/client/petstore/java/native-async/api/openapi.yaml
  samples/client/petstore/java/native/api/openapi.yaml
  samples/client/petstore/java/okhttp-gson-parcelableModel/api/openapi.yaml
  samples/client/petstore/java/okhttp-gson/api/openapi.yaml
  samples/client/petstore/java/rest-assured-jackson/api/openapi.yaml
  samples/client/petstore/java/rest-assured/api/openapi.yaml
  samples/client/petstore/java/resteasy/api/openapi.yaml
  samples/client/petstore/java/resttemplate-withXml/api/openapi.yaml
  samples/client/petstore/java/resttemplate/api/openapi.yaml
  samples/client/petstore/java/retrofit2-play26/api/openapi.yaml
  samples/client/petstore/java/retrofit2/api/openapi.yaml
  samples/client/petstore/java/retrofit2rx2/api/openapi.yaml
  samples/client/petstore/java/retrofit2rx3/api/openapi.yaml
  samples/client/petstore/java/vertx/api/openapi.yaml
  samples/client/petstore/java/webclient/api/openapi.yaml
  samples/openapi3/client/petstore/go-experimental/go-petstore/api/openapi.yaml
  samples/openapi3/client/petstore/go/go-petstore/api/openapi.yaml
  samples/openapi3/client/petstore/java/jersey2-java8/api/openapi.yaml
  samples/server/petstore/java-play-framework-fake-endpoints/public/openapi.json
  samples/server/petstore/jaxrs-spec-interface/src/main/openapi/openapi.yaml
  samples/server/petstore/jaxrs-spec/src/main/openapi/openapi.yaml
  samples/server/petstore/rust-server/output/multipart-v3/api/openapi.yaml
  samples/server/petstore/rust-server/output/openapi-v3/api/openapi.yaml
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/api/openapi.yaml
  samples/server/petstore/rust-server/output/rust-server-test/api/openapi.yaml
  samples/server/petstore/springboot-reactive/src/main/resources/openapi.yaml
Labels: Issue: Bug

#7106 [bug][core] Copy all attributes (not properties) on composed schemas when flattening models
  modules/openapi-generator/src/main/java/org/openapitools/codegen/InlineModelResolver.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/InlineModelResolverTest.java
  modules/openapi-generator/src/test/resources/2_0/regression_6905.yaml
  samples/openapi3/client/petstore/java/jersey2-java8-special-characters/api/openapi.yaml
Labels: Enhancement: General, Issue: Bug

#6948 Update to reset httpRepsonse.Body
  modules/openapi-generator/src/main/resources/go/api.mustache
  samples/client/petstore/go/go-petstore-withXml/api_another_fake.go
  samples/client/petstore/go/go-petstore-withXml/api_fake.go
  samples/client/petstore/go/go-petstore-withXml/api_fake_classname_tags123.go
  samples/client/petstore/go/go-petstore-withXml/api_pet.go
  samples/client/petstore/go/go-petstore-withXml/api_store.go
  samples/client/petstore/go/go-petstore-withXml/api_user.go
  samples/client/petstore/go/go-petstore/api_another_fake.go
  samples/client/petstore/go/go-petstore/api_fake.go
  samples/client/petstore/go/go-petstore/api_fake_classname_tags123.go
  samples/client/petstore/go/go-petstore/api_pet.go
  samples/client/petstore/go/go-petstore/api_store.go
  samples/client/petstore/go/go-petstore/api_user.go
  samples/openapi3/client/petstore/go/go-petstore/api_another_fake.go
  samples/openapi3/client/petstore/go/go-petstore/api_default.go
  samples/openapi3/client/petstore/go/go-petstore/api_fake.go
  samples/openapi3/client/petstore/go/go-petstore/api_fake_classname_tags123.go
  samples/openapi3/client/petstore/go/go-petstore/api_pet.go
  samples/openapi3/client/petstore/go/go-petstore/api_store.go
  samples/openapi3/client/petstore/go/go-petstore/api_user.go
Labels: Client: Go, Issue: Bug

#7089 [BUG][JAVA] Fix error handling in okhttp-gson async api client
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#6504 adding handling for epoch dates in javascript ApiClient mustache file…
  modules/openapi-generator/src/main/resources/Javascript/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Javascript/es6/ApiClient.mustache
  samples/client/petstore/javascript-es6/src/ApiClient.js
  samples/client/petstore/javascript-promise-es6/src/ApiClient.js
Labels: Client: JavaScript/Node.js, Enhancement: General

#7121 [Kotlin][Retrofit2] fix missing import for file
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinClientCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/api.mustache
  pom.xml
  samples/client/petstore/kotlin-retrofit2-rx3/pom.xml
  samples/client/petstore/kotlin-retrofit2-rx3/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-retrofit2/pom.xml
  samples/client/petstore/kotlin-retrofit2/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
Labels: Client: Kotlin, Issue: Bug

#7115 [Java][jersey2] Add helper methods for oneOf Java classes
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/oneof_model.mustache
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Fruit.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/FruitReq.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Mammal.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/NullableShape.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Pig.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Quadrilateral.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Shape.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/ShapeOrNull.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Triangle.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/test/java/org/openapitools/client/JSONComposedSchemaTest.java
Labels: Client: Java, Enhancement: Feature, Feature: OAS 3.0 spec support

#7132 [typescript-axios] add promise to bearer and oauth tokens
  modules/openapi-generator/src/main/resources/typescript-axios/apiInner.mustache
  modules/openapi-generator/src/main/resources/typescript-axios/configuration.mustache
  samples/client/petstore/typescript-axios/builds/composed-schemas/configuration.ts
  samples/client/petstore/typescript-axios/builds/default/api.ts
  samples/client/petstore/typescript-axios/builds/default/configuration.ts
  samples/client/petstore/typescript-axios/builds/es6-target/api.ts
  samples/client/petstore/typescript-axios/builds/es6-target/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-complex-headers/api.ts
  samples/client/petstore/typescript-axios/builds/with-complex-headers/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-interfaces/api.ts
  samples/client/petstore/typescript-axios/builds/with-interfaces/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/pet-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version/api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-single-request-parameters/api.ts
  samples/client/petstore/typescript-axios/builds/with-single-request-parameters/configuration.ts
Labels: Client: TypeScript

#7131 [PS] Better error handling when publishing module
  modules/openapi-generator/src/main/resources/powershell/appveyor.mustache
  samples/client/petstore/powershell/appveyor.yml
Labels: Client: PowerShell, Enhancement: CI/Test

#7134 [Go] minor improvements
  docs/generators/go-server.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoServerCodegen.java
Labels: Client: Go, Enhancement: General, Server: Go

#7130 Add helper methods to "anyOf" Java models
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/anyof_model.mustache
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/GmFruit.java
Labels: Client: Java, Enhancement: Feature, Feature: OAS 3.0 spec support

#7123 added int32 type support for go-server
  modules/openapi-generator/src/main/resources/go-server/controller-api.mustache
  modules/openapi-generator/src/main/resources/go-server/routers.mustache
  samples/server/petstore/go-api-server/README.md
  samples/server/petstore/go-api-server/go/api_pet.go
  samples/server/petstore/go-api-server/go/api_store.go
  samples/server/petstore/go-api-server/go/routers.go
Labels: Enhancement: General, Server: Go

#7143 [PowerShell] Update appveyor image to Visual Studio 2019
  modules/openapi-generator/src/main/resources/powershell/appveyor.mustache
  samples/client/petstore/powershell/appveyor.yml
Labels: Client: PowerShell, Enhancement: CI/Test

#7062 [csharp-netcore] renamed async methods to end with async
  modules/openapi-generator/src/main/resources/csharp-netcore/api.mustache
  modules/openapi-generator/src/main/resources/csharp/api.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools.Test/Api/PetApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/typescript-angular-v10-provided-in-root/builds/default/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v10-provided-in-root/builds/with-npm/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v9-provided-in-root/builds/default/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v9-provided-in-root/builds/with-npm/.openapi-generator/FILES
  samples/client/petstore/typescript-node/default/.openapi-generator/FILES
  samples/client/petstore/typescript-node/npm/.openapi-generator/FILES
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/apis/PetApi.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/apis/StoreApi.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/apis/UserApi.kt
  samples/server/petstore/php-symfony/SymfonyBundle-php/.openapi-generator/FILES
Labels: Breaking change (without fallback), Client: C-Sharp, Enhancement: General

#7148 [c#][netcore] Remove duplicated cancellationToken in comment
  modules/openapi-generator/src/main/resources/csharp-netcore/api.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/UserApi.cs
Labels: Client: C-Sharp, Enhancement: Feature, Feature: Documentation

#7147 [C#][netcore] fix regular expression when it contains double quotes
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
Labels: Client: C-Sharp, Issue: Bug

#6884 Sttp - wrap query params
  modules/openapi-generator/src/main/resources/scala-sttp/api.mustache
  modules/openapi-generator/src/main/resources/scala-sttp/paramQueryCreation.mustache
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/api/PetApi.scala
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/api/UserApi.scala
Labels: Client: Scala, Issue: Bug

#6999 [Kotlin] Make ApiClient in jvm-retrofit2 be able to use own OkHttpClient
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin-retrofit2/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin, Client: Retrofit, Enhancement: General

#7150 [Java][jaxrs] Add getter to ApiException templates
  modules/openapi-generator/src/main/resources/JavaJaxRS/ApiException.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/ApiException.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/apiException.mustache
  modules/openapi-generator/src/main/resources/java-msf4j-server/ApiException.mustache
  samples/server/petstore/java-msf4j/src/gen/java/org/openapitools/api/ApiException.java
  samples/server/petstore/jaxrs-datelib-j8/src/gen/java/org/openapitools/api/ApiException.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/ApiException.java
  samples/server/petstore/jaxrs-resteasy/default/src/gen/java/org/openapitools/api/ApiException.java
  samples/server/petstore/jaxrs-resteasy/joda/src/gen/java/org/openapitools/api/ApiException.java
  samples/server/petstore/jaxrs/jersey1-useTags/src/gen/java/org/openapitools/api/ApiException.java
  samples/server/petstore/jaxrs/jersey1/src/gen/java/org/openapitools/api/ApiException.java
  samples/server/petstore/jaxrs/jersey2-useTags/src/gen/java/org/openapitools/api/ApiException.java
  samples/server/petstore/jaxrs/jersey2/src/gen/java/org/openapitools/api/ApiException.java
Labels: Enhancement: General, Server: Java

#7085 [ci] Verify supported JDK versions on master push
  .github/workflows/check-supported-versions.yaml
  README.md
Labels: Enhancement: CI/Test

#7169 [csharp-netcore] Adding response headers to the ApiException
  modules/openapi-generator/src/main/resources/csharp-netcore/ApiException.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/Configuration.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/ApiException.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/ApiException.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/Configuration.cs
Labels: Client: C-Sharp, Enhancement: General

#7133 [typescript-node] Fix invalid type when using node@10 and ES5
  modules/openapi-generator/src/main/resources/typescript-node/api-all.mustache
  modules/openapi-generator/src/main/resources/typescript-node/api-single.mustache
  modules/openapi-generator/src/test/resources/integrationtests/typescript/node-es5-expected/api.ts
  modules/openapi-generator/src/test/resources/integrationtests/typescript/objectsWithEnums-expected/api/defaultApi.ts
  samples/client/petstore/typescript-node/default/api/apis.ts
  samples/client/petstore/typescript-node/default/api/petApi.ts
  samples/client/petstore/typescript-node/default/api/storeApi.ts
  samples/client/petstore/typescript-node/default/api/userApi.ts
  samples/client/petstore/typescript-node/npm/api/apis.ts
  samples/client/petstore/typescript-node/npm/api/petApi.ts
  samples/client/petstore/typescript-node/npm/api/storeApi.ts
  samples/client/petstore/typescript-node/npm/api/userApi.ts
Labels: Client: TypeScript

#7172 [JS] Fix paramToString handling for non primitive types
  modules/openapi-generator/src/main/resources/Javascript/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Javascript/es6/ApiClient.mustache
  samples/client/petstore/javascript-es6/src/ApiClient.js
  samples/client/petstore/javascript-promise-es6/src/ApiClient.js
Labels: Client: JavaScript/Node.js, Issue: Bug

#7154 [python{,-experimental}] Obey floating point timeouts provided to RESTClientObject.request(...)
  modules/openapi-generator/src/main/resources/python/python-experimental/rest.mustache
  modules/openapi-generator/src/main/resources/python/rest.mustache
  samples/client/petstore/python-experimental/petstore_api/rest.py
  samples/client/petstore/python/petstore_api/rest.py
  samples/openapi3/client/extensions/x-auth-id-alias/python-experimental/x_auth_id_alias/rest.py
  samples/openapi3/client/features/dynamic-servers/python-experimental/dynamic_servers/rest.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/rest.py
  samples/openapi3/client/petstore/python/petstore_api/rest.py
Labels: Client: Python

#6943 Fixes #6942: Added ability to prepend a basePath to typescript-redux-query generators
  modules/openapi-generator/src/main/resources/typescript-redux-query/apis.mustache
  modules/openapi-generator/src/main/resources/typescript-redux-query/runtime.mustache
  samples/client/petstore/typescript-redux-query/builds/with-npm-version/src/apis/PetApi.ts
  samples/client/petstore/typescript-redux-query/builds/with-npm-version/src/apis/StoreApi.ts
  samples/client/petstore/typescript-redux-query/builds/with-npm-version/src/apis/UserApi.ts
  samples/client/petstore/typescript-redux-query/builds/with-npm-version/src/runtime.ts
Labels: Client: TypeScript

#7186 [WIP][python-exp] Force camelization of imports
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientExperimentalCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonClientExperimentalTest.java
Labels: Client: Python

#7153 [Java] Update templates not to add @Pattern on byte array property
  modules/openapi-generator/src/main/resources/Java/beanValidationCore.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/beanValidationCore.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-cdi/beanValidationCore.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-ext/beanValidationCore.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/beanValidationCore.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/beanValidationCore.mustache
  modules/openapi-generator/src/main/resources/JavaPlayFramework/beanValidationCore.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/beanValidationCore.mustache
  samples/client/petstore/java/rest-assured-jackson/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/client/petstore/java/retrofit2-play26/src/main/java/org/openapitools/client/model/FormatTest.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/jaxrs-datelib-j8/src/gen/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/jaxrs/jersey1-useTags/src/gen/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/jaxrs/jersey1/src/gen/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/jaxrs/jersey2-useTags/src/gen/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/jaxrs/jersey2/src/gen/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/spring-mvc-j8-async/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/spring-mvc-j8-localdatetime/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/spring-mvc/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-implicitHeaders/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/FormatTest.java
  samples/server/petstore/springboot/src/main/java/org/openapitools/model/FormatTest.java
Labels: Client: Java, Enhancement: General

#7203 [C#][netcore] Better sync only client support
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
  modules/openapi-generator/src/main/resources/csharp-netcore/IAsynchronousClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/api.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/IAsynchronousClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/IAsynchronousClient.cs
Labels: Client: C-Sharp, Enhancement: General

#7202 [C#][netcore] remove packages.config.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/packages.config.mustache
Labels: Client: C-Sharp, Enhancement: General

#7211 [C#][netcore] remove supportsUWP from template
  modules/openapi-generator/src/main/resources/csharp-netcore/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/Configuration.mustache
Labels: Client: C-Sharp, Enhancement: General

#7212 [C#][netcore] auto-generate appveyor.yml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
  modules/openapi-generator/src/main/resources/csharp-netcore/appveyor.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/.openapi-generator/FILES
  samples/client/petstore/csharp-netcore/OpenAPIClient/appveyor.yml
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/.openapi-generator/FILES
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/appveyor.yml
Labels: Client: C-Sharp, Enhancement: CI/Test

#7217 Fix a missing return in the C client sslConfig_create function.
  modules/openapi-generator/src/main/resources/C-libcurl/apiClient.c.mustache
  samples/client/petstore/c/src/apiClient.c
Labels: Client: C, Issue: Bug

#7223 [C++][Cpprest] update cmakelist to fix issue on Linux
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/cmake-lists.mustache
  samples/client/petstore/cpp-restsdk/client/CMakeLists.txt
Labels: Client: C++, Issue: Usage/Installation

#7224 [php] Exclude composer.lock in root gitignore
  .gitignore
  modules/openapi-generator/src/main/resources/php-laravel/gitignore
  modules/openapi-generator/src/main/resources/php-slim4-server/gitignore
  modules/openapi-generator/src/main/resources/php-symfony/gitignore
  modules/openapi-generator/src/main/resources/php/gitignore
  samples/client/petstore/php/OpenAPIClient-php/.gitignore
  samples/server/petstore/php-laravel/lib/.gitignore
  samples/server/petstore/php-slim4/.gitignore
  samples/server/petstore/php-symfony/SymfonyBundle-php/.gitignore
Labels: Client: PHP, Enhancement: CI/Test, Server: PHP

#7194 Update csharp-netcore dependencies to the latest stable version
  appveyor.yml
  modules/openapi-generator/src/main/resources/csharp-netcore/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/README.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/TestProject.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/netcore_project.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/netcore_testproject.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/nuspec.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Org.OpenAPITools.csproj
Labels: Client: C-Sharp, Enhancement: Compatibility

#7179 [Typescript-redux-query] Fix issue on api template when we have non empty header
  modules/openapi-generator/src/main/resources/typescript-redux-query/apis.mustache
  modules/openapi-generator/src/main/resources/typescript-redux-query/runtime.mustache
  samples/client/petstore/typescript-redux-query/builds/with-npm-version/src/apis/PetApi.ts
  samples/client/petstore/typescript-redux-query/builds/with-npm-version/src/apis/StoreApi.ts
  samples/client/petstore/typescript-redux-query/builds/with-npm-version/src/apis/UserApi.ts
  samples/client/petstore/typescript-redux-query/builds/with-npm-version/src/runtime.ts
Labels: Client: TypeScript

#7233 [ASP.Net Core] Better wordings for 'classModifier' option
  docs/generators/aspnetcore.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetCoreServerCodegen.java
Labels: Enhancement: Feature, Feature: Documentation, Server: C-Sharp

#7234 [csharp-netcore] Adding ConfigureAwait(false) using async methods call
  modules/openapi-generator/src/main/resources/csharp-netcore/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/api.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/ApiClient.cs
Labels: Client: C-Sharp, Enhancement: General

#7220 [codegen][Python] Add model cache to speed up code generation
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientExperimentalCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/StringUtils.java
Labels: Client: Java, Client: Python, Enhancement: Performance, WIP

#5929 feat(csharp): adding retry configuration
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
  modules/openapi-generator/src/main/resources/csharp-netcore/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/Configuration.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/IReadableConfiguration.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/RetryConfiguration.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/netcore_project.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient/.openapi-generator/FILES
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/RetryConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/.openapi-generator/FILES
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/RetryConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Org.OpenAPITools.csproj
Labels: Client: C-Sharp, Enhancement: Feature

#7231 Deprecate Flash (ActionScript) client generator
  bin/configs/other/flash.yaml
  docs/generators.md
  docs/generators/flash-deprecated.md
  docs/generators/flash.md
  docs/generators/nodejs-server-deprecated.md
  docs/generators/powershell-experimental.md
  docs/generators/swift2-deprecated.md
  docs/generators/swift3-deprecated.md
  docs/generators/swift4.md
  docs/generators/typescript-angularjs.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/FlashClientCodegen.java
  samples/client/petstore/flash/.gitignore
  samples/client/petstore/flash/.openapi-generator-ignore
  samples/client/petstore/flash/.openapi-generator/VERSION
  samples/client/petstore/flash/flash/README.txt
  samples/client/petstore/flash/flash/build.properties
  samples/client/petstore/flash/flash/build.xml
  samples/client/petstore/flash/flash/lib/ASAXB-0.1.1.swc
  samples/client/petstore/flash/flash/lib/as3corelib.swc
  samples/client/petstore/flash/flash/lib/ext/flexunit-4.1.0_RC2-28-flex_3.5.0.12683.swc
  samples/client/petstore/flash/flash/lib/ext/flexunit-aircilistener-4.1.0_RC2-28-3.5.0.12683.swc
  samples/client/petstore/flash/flash/lib/ext/flexunit-cilistener-4.1.0_RC2-28-3.5.0.12683.swc
  samples/client/petstore/flash/flash/lib/ext/flexunit-core-flex-4.0.0.2-sdk3.5.0.12683.swc
  samples/client/petstore/flash/flash/src/org/openapitools/client/api/PetApi.as
  samples/client/petstore/flash/flash/src/org/openapitools/client/api/StoreApi.as
  samples/client/petstore/flash/flash/src/org/openapitools/client/api/UserApi.as
  samples/client/petstore/flash/flash/src/org/openapitools/client/model/ApiResponse.as
  samples/client/petstore/flash/flash/src/org/openapitools/client/model/ApiResponseList.as
  samples/client/petstore/flash/flash/src/org/openapitools/client/model/Category.as
  samples/client/petstore/flash/flash/src/org/openapitools/client/model/CategoryList.as
  samples/client/petstore/flash/flash/src/org/openapitools/client/model/Order.as
  samples/client/petstore/flash/flash/src/org/openapitools/client/model/OrderList.as
  samples/client/petstore/flash/flash/src/org/openapitools/client/model/Pet.as
  samples/client/petstore/flash/flash/src/org/openapitools/client/model/PetList.as
  samples/client/petstore/flash/flash/src/org/openapitools/client/model/Tag.as
  samples/client/petstore/flash/flash/src/org/openapitools/client/model/TagList.as
  samples/client/petstore/flash/flash/src/org/openapitools/client/model/User.as
  samples/client/petstore/flash/flash/src/org/openapitools/client/model/UserList.as
  samples/client/petstore/flash/flash/src/org/openapitools/common/ApiInvoker.as
  samples/client/petstore/flash/flash/src/org/openapitools/common/ApiUrlHelper.as
  samples/client/petstore/flash/flash/src/org/openapitools/common/ApiUserCredentials.as
  samples/client/petstore/flash/flash/src/org/openapitools/common/ListWrapper.as
  samples/client/petstore/flash/flash/src/org/openapitools/common/OpenApi.as
  samples/client/petstore/flash/flash/src/org/openapitools/common/XMLWriter.as
  samples/client/petstore/flash/flash/src/org/openapitools/event/ApiClientEvent.as
  samples/client/petstore/flash/flash/src/org/openapitools/event/Response.as
  samples/client/petstore/flash/flash/src/org/openapitools/exception/ApiError.as
  samples/client/petstore/flash/flash/src/org/openapitools/exception/ApiErrorCodes.as
  samples/client/petstore/flash/git_push.sh
Labels: Client: Flash/ActionScript, Decommission

#5944 Support for KumuluzEE microprofile runtime
  docs/generators/java.md
  docs/generators/jaxrs-cxf-cdi.md
  docs/generators/jaxrs-spec.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaJAXRSSpecServerCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/kumuluzee.beans.xml.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/kumuluzee.config.yaml.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/kumuluzee.pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/kumuluzee/README.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/kumuluzee/config.yaml.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/kumuluzee/pom.mustache
Labels: Client: Java, Enhancement: Feature

#6789 Fix Union Types Import Issue
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConfig.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/SharedTypeScriptTest.java
  modules/openapi-generator/src/test/resources/split-import.json
Labels: Client: TypeScript, Issue: Bug

#7253 Minor enhancements to Java client generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
Labels: Client: Java, Enhancement: Code format, Enhancement: General

#6389 Date format dart
  modules/openapi-generator/src/main/resources/dart2/api_helper.mustache
  modules/openapi-generator/src/main/resources/dart2/apilib.mustache
  modules/openapi-generator/src/main/resources/dart2/class.mustache
  modules/openapi-generator/src/main/resources/dart2/pubspec.mustache
  samples/client/petstore/dart2/petstore_client_lib/lib/api.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api_helper.dart
  samples/client/petstore/dart2/petstore_client_lib/pubspec.yaml
Labels: Client: Dart, Issue: Bug

#7255 [C][Client][Clang Static Analyzer] Remove the useless variable when assembling URL
  modules/openapi-generator/src/main/resources/C-libcurl/apiClient.c.mustache
  samples/client/petstore/c/src/apiClient.c
Labels: Client: C

#7240 [Java][jersey2] Add jersey injection dependencies
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/build.sbt.mustache
  samples/client/petstore/java/jersey2-java8/build.gradle
  samples/client/petstore/java/jersey2-java8/build.sbt
  samples/openapi3/client/petstore/java/jersey2-java8-special-characters/build.gradle
  samples/openapi3/client/petstore/java/jersey2-java8-special-characters/build.sbt
  samples/openapi3/client/petstore/java/jersey2-java8/build.gradle
  samples/openapi3/client/petstore/java/jersey2-java8/build.sbt
Labels: Client: Java, Enhancement: Compatibility

#7276 [docs] Update README badges
  README.md
Labels: Enhancement: General

#6052 [java] Appropriate instantiation of model with dynamic properties
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/AbstractJavaCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/mapSchemas.yaml
Labels: Client: Java, Issue: Bug

#6891 [scala][play] Update apiTrait.scala.mustache
  modules/openapi-generator/src/main/resources/scala-play-server/app/apiTrait.scala.mustache
Labels: Server: Scala

#7001 fix: update base image to maven supported
  .hub.cli.dockerfile
  .hub.online.dockerfile
  Dockerfile
Labels: Docker, Enhancement: General

#6834 [BUG][MARKDOWN] Extra (back)slashes added to links from Api to Model #6095
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/MarkdownDocumentationCodegen.java
  samples/documentation/markdown/Apis/PetApi.md
  samples/documentation/markdown/Apis/StoreApi.md
  samples/documentation/markdown/Apis/UserApi.md
  samples/documentation/markdown/README.md
Labels: Doc: Markdown

#7188 [docs] Fix go-gin-server additional property docs.
  docs/generators/go-gin-server.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoGinServerCodegen.java
Labels: Enhancement: Feature, Feature: Documentation, Server: Go

#7266 [typescript-rxjs] Added conditional for `Subscriber` importing
  modules/openapi-generator/src/main/resources/typescript-rxjs/runtime.mustache
  samples/client/petstore/typescript-rxjs/builds/default/runtime.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/runtime.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/runtime.ts
Labels: Client: TypeScript

#6849 [core] Add x-is-free-form vendor extension
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/utils/ModelUtilsTest.java
  modules/openapi-generator/src/test/resources/2_0/emptyBaseModel.yaml
Labels: Enhancement: General

#7285 [C][Client][Clang Static Analyzer] Fix memory leak in apiClient_invoke
  modules/openapi-generator/src/main/resources/C-libcurl/apiClient.c.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/list.c.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/list.h.mustache
  samples/client/petstore/c/include/list.h
  samples/client/petstore/c/src/apiClient.c
  samples/client/petstore/c/src/list.c
Labels: Client: C, Issue: Bug

#7293 Add x-is-json to csharp generators
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellHttpClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/csharp/api.mustache
Labels: Client: C-Sharp, Enhancement: General

#7296 [c-sharp] Fix default values with discriminator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Cat.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Dog.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Cat.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Dog.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/ParentPet.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Model/Cat.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Model/Dog.cs
Labels: Client: C-Sharp, Feature: OAS 3.0 spec support, Issue: Bug

#7286 [kotlin][client] fix warning Extension is shadowed by a member
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-okhttp/infrastructure/ResponseExtensions.kt.mustache
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/infrastructure/ResponseExtensions.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/infrastructure/ResponseExtensions.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/infrastructure/ResponseExtensions.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/infrastructure/ResponseExtensions.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/infrastructure/ResponseExtensions.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/infrastructure/ResponseExtensions.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/infrastructure/ResponseExtensions.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/infrastructure/ResponseExtensions.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/ResponseExtensions.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/ResponseExtensions.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ResponseExtensions.kt
Labels: Client: Kotlin, Enhancement: General

#7300 [swift5] Add extension for hashable
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift5ClientCodegen.java
  modules/openapi-generator/src/main/resources/swift5/modelObject.mustache
  modules/openapi-generator/src/test/resources/2_0/swift/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient/Classes/OpenAPIs/Models/Pet.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/Models/Pet.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models/Pet.swift
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/Models/Pet.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/Models/ClassModel.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/Models/File.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/Models/Model200Response.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/Models/Name.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/Models/Pet.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/Models/Return.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/Models/Pet.swift
  samples/client/petstore/swift5/readonlyProperties/PetstoreClient/Classes/OpenAPIs/Models/Pet.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/Models/Pet.swift
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/Models/Pet.swift
  samples/client/petstore/swift5/urlsessionLibrary/PetstoreClient/Classes/OpenAPIs/Models/Pet.swift
Labels: Client: Swift, Enhancement: Code format, Enhancement: General

#7302 [C][Client][Clang Static Analyzer] Fix memory leak before function returns
  modules/openapi-generator/src/main/resources/C-libcurl/api-body.mustache
  samples/client/petstore/c/api/PetAPI.c
  samples/client/petstore/c/api/StoreAPI.c
  samples/client/petstore/c/api/UserAPI.c
Labels: Client: C, Issue: Bug

#7267 [Java][jersey2]Support enum discriminator value in child objects
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/pojo.mustache
  modules/openapi-generator/src/test/resources/3_0/java/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/docs/ChildCat.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/docs/ChildCatAllOf.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/ChildCat.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/ChildCatAllOf.cs
  samples/openapi3/client/petstore/java/jersey2-java8/api/openapi.yaml
  samples/openapi3/client/petstore/java/jersey2-java8/docs/ChildCat.md
  samples/openapi3/client/petstore/java/jersey2-java8/docs/ChildCatAllOf.md
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/ChildCat.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/ChildCatAllOf.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/test/java/org/openapitools/client/JSONComposedSchemaTest.java
Labels: Client: Java, Enhancement: Feature, Feature: OAS 3.0 spec support

#7299 [Rust][reqwest] prefix local variables with "local_var"
  modules/openapi-generator/src/main/resources/rust/reqwest/api.mustache
  samples/client/petstore/rust-reqwest/.openapi-generator/VERSION
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/pet_api.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/store_api.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/user_api.rs
  samples/client/petstore/rust/reqwest/petstore/src/apis/pet_api.rs
  samples/client/petstore/rust/reqwest/petstore/src/apis/store_api.rs
  samples/client/petstore/rust/reqwest/petstore/src/apis/user_api.rs
Labels: Client: Rust, Enhancement: General

#7274 Adds generator unaliasSchema method, uses it to refactor python-experimental
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientExperimentalCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonClientExperimentalTest.java
Labels: Client: Python

#7305 [C][Client][Clang Static Analyzer] Fix uninitialized argument value
  modules/openapi-generator/src/main/resources/C-libcurl/api-body.mustache
  samples/client/petstore/c/api/PetAPI.c
  samples/client/petstore/c/api/StoreAPI.c
  samples/client/petstore/c/api/UserAPI.c
Labels: Client: C, Issue: Bug

#7309 [C][Client][Clang Static Analyzer] Remove the useless free operation for buffContent
  modules/openapi-generator/src/main/resources/C-libcurl/apiClient.c.mustache
  samples/client/petstore/c/src/apiClient.c
Labels: Client: C, Issue: Bug

#6971 [php-slim4] Move config to a separate file
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSlim4ServerCodegen.java
  modules/openapi-generator/src/main/resources/php-slim4-server/README.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/config_example.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/gitignore
  modules/openapi-generator/src/main/resources/php-slim4-server/htaccess_deny_all
  modules/openapi-generator/src/main/resources/php-slim4-server/index.mustache
  samples/server/petstore/php-slim4/.gitignore
  samples/server/petstore/php-slim4/.openapi-generator/FILES
  samples/server/petstore/php-slim4/README.md
  samples/server/petstore/php-slim4/config/.htaccess
  samples/server/petstore/php-slim4/config/dev/example.inc.php
  samples/server/petstore/php-slim4/config/prod/example.inc.php
  samples/server/petstore/php-slim4/index.php
Labels: Enhancement: Feature, Server: PHP

#7312 fix http bear auth documentation for go clinets
  modules/openapi-generator/src/main/resources/go-experimental/README.mustache
  modules/openapi-generator/src/main/resources/go/README.mustache
  samples/client/petstore/go/go-petstore-withXml/README.md
  samples/client/petstore/go/go-petstore/README.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/README.md
  samples/openapi3/client/petstore/go/go-petstore/README.md
Labels: Client: Go, Enhancement: Feature, Feature: Documentation

#7315 [doc] Document usage of post-process file feature
  docs/file-post-processing.md
  docs/usage.md
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/OCamlClientCodegen.java
  website/sidebars.js
Labels: Feature: Documentation

#7307 Remove dot in golang type
  modules/openapi-generator/src/main/resources/go-server/model.mustache
  samples/server/petstore/go-api-server/go.sum
Labels: Issue: Bug, Server: Go

#7306 [Spring Boot] update dependencies, mark java8 option as deprecated
  docs/generators/spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-boot/pom.mustache
  samples/client/petstore/spring-stubs/pom.xml
  samples/server/petstore/springboot-beanvalidation/pom.xml
  samples/server/petstore/springboot-delegate-j8/pom.xml
  samples/server/petstore/springboot-delegate/pom.xml
  samples/server/petstore/springboot-implicitHeaders/pom.xml
  samples/server/petstore/springboot-reactive/pom.xml
  samples/server/petstore/springboot-useoptional/pom.xml
  samples/server/petstore/springboot-virtualan/pom.xml
  samples/server/petstore/springboot/pom.xml
Labels: Enhancement: Compatibility, Server: Java, Server: Spring

#7190 [Java][Client] Use java8 OffsetDateTime for clients
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/JavaTimeFormatter.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/ApiClient.mustache
  samples/client/petstore/java/jersey2-java8/.openapi-generator/FILES
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/JavaTimeFormatter.java
  samples/client/petstore/java/vertx/.openapi-generator/FILES
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/JavaTimeFormatter.java
  samples/client/petstore/java/webclient/.openapi-generator/FILES
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/JavaTimeFormatter.java
  samples/openapi3/client/petstore/java/jersey2-java8-special-characters/.openapi-generator/FILES
  samples/openapi3/client/petstore/java/jersey2-java8-special-characters/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8-special-characters/src/main/java/org/openapitools/client/JavaTimeFormatter.java
  samples/openapi3/client/petstore/java/jersey2-java8/.openapi-generator/FILES
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/JavaTimeFormatter.java
Labels: Client: Java, Issue: Bug
