Repository OpenAPITools/openapi-generator, pull requests merged in 2020-03, with the labels that each got.

#5455 [Rust Server] Suffix reserved words with _
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/ApiResponse.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/List.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/ModelReturn.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/Name.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/models.rs
Labels: Client: Rust, Server: Rust

#5488 Fix rubocop warnings in Ruby client's custom spec
  samples/openapi3/client/petstore/ruby/spec/custom/pet_spec.rb
  samples/openapi3/client/petstore/ruby/spec/petstore_helper.rb
Labels: Client: Ruby, Enhancement: CI/Test

#4940 [go-experimental] Support aliasing of API keys
  modules/openapi-generator/src/main/resources/go-experimental/api.mustache
Labels: Enhancement: Feature, Feature: Generator

#4966 [java] Support aliasing of API keys
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  samples/client/petstore/java/jersey2-java6/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: Feature

#5471 [cli][gradle] Validate now uses parseOptions w/setResolve
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Validate.java
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/ValidateTask.kt
Labels: Enhancement: General, OpenAPI Generator CLI, OpenAPI Generator Gradle Plugin

#5258 [kotlin]Fix ktor doesn't generate nullable types
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/Paths.kt.mustache
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/Paths.kt
Labels: Client: Kotlin, Issue: Bug

#5458 [Rust Server] Don't change the API version
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/resources/rust-server/Cargo.mustache
  modules/openapi-generator/src/main/resources/rust-server/lib.mustache
Labels: Client: Rust, Server: Rust

#5434 [C++] Add an option to allow having lowercase variables in models, Pistache: allow using reservedWords in models
  docs/generators/cpp-pistache-server.md
  docs/generators/cpp-qt5-client.md
  docs/generators/cpp-qt5-qhttpengine-server.md
  docs/generators/cpp-restsdk.md
  docs/generators/cpp-tizen.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCppCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppPistacheServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppRestSdkClientCodegen.java
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-struct-header.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-struct-source.mustache
  samples/server/petstore/cpp-pistache/.openapi-generator/VERSION
Labels: Enhancement: General, Server: C++

#5486 [scala] [template] scala model property style
  docs/generators/scala-akka.md
  docs/generators/scala-gatling.md
  docs/generators/scala-play-server.md
  docs/generators/scala-sttp.md
  docs/generators/scalatra.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractScalaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaAkkaClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaHttpClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaLagomServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalazClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/ScalaAkkaClientOptionsProvider.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/scala/AbstractScalaCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/scalaakka/ScalaAkkaClientOptionsTest.java
  samples/server/petstore/scala-play-server/README.md
  samples/server/petstore/scala-play-server/app/api/PetApi.scala
  samples/server/petstore/scala-play-server/app/api/PetApiController.scala
  samples/server/petstore/scala-play-server/app/api/PetApiImpl.scala
  samples/server/petstore/scala-play-server/app/api/StoreApi.scala
  samples/server/petstore/scala-play-server/app/api/StoreApiController.scala
  samples/server/petstore/scala-play-server/app/api/StoreApiImpl.scala
  samples/server/petstore/scala-play-server/app/api/UserApi.scala
  samples/server/petstore/scala-play-server/app/api/UserApiController.scala
  samples/server/petstore/scala-play-server/app/api/UserApiImpl.scala
  samples/server/petstore/scala-play-server/app/model/ApiResponse.scala
  samples/server/petstore/scala-play-server/app/model/Category.scala
  samples/server/petstore/scala-play-server/app/model/Order.scala
  samples/server/petstore/scala-play-server/app/model/Pet.scala
  samples/server/petstore/scala-play-server/app/model/Tag.scala
  samples/server/petstore/scala-play-server/app/model/User.scala
  samples/server/petstore/scala-play-server/app/org/openapitools/Module.scala
Labels: Client: Scala, Enhancement: Feature

#5495 Hide timestamp in Scala Play server samples
  README.md
  bin/scala-play-framework-petstore.sh
  samples/server/petstore/scala-play-server/README.md
  samples/server/petstore/scala-play-server/app/api/PetApi.scala
  samples/server/petstore/scala-play-server/app/api/PetApiController.scala
  samples/server/petstore/scala-play-server/app/api/PetApiImpl.scala
  samples/server/petstore/scala-play-server/app/api/StoreApi.scala
  samples/server/petstore/scala-play-server/app/api/StoreApiController.scala
  samples/server/petstore/scala-play-server/app/api/StoreApiImpl.scala
  samples/server/petstore/scala-play-server/app/api/UserApi.scala
  samples/server/petstore/scala-play-server/app/api/UserApiController.scala
  samples/server/petstore/scala-play-server/app/api/UserApiImpl.scala
  samples/server/petstore/scala-play-server/app/model/ApiResponse.scala
  samples/server/petstore/scala-play-server/app/model/Category.scala
  samples/server/petstore/scala-play-server/app/model/Order.scala
  samples/server/petstore/scala-play-server/app/model/Pet.scala
  samples/server/petstore/scala-play-server/app/model/Tag.scala
  samples/server/petstore/scala-play-server/app/model/User.scala
  samples/server/petstore/scala-play-server/app/org/openapitools/Module.scala
Labels: Enhancement: CI/Test, Server: Scala

#4981 Typescript array alias array
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptRxjsClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/fetch/TypeScriptFetchClientCodegenTest.java
Labels: Client: TypeScript, Feature: Generator, Issue: Bug

#5484 [core] Sanitize/underscore/camelize cache expiry
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/StringUtils.java
Labels: Enhancement: General

#5145 [Java][Spring][Spring-Cloud] Fix #5144 - Use conditional package declaration to avoid unnecessary dependencies
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-cloud/clientConfiguration.mustache
  samples/client/petstore/spring-cloud-async/src/main/java/org/openapitools/configuration/ClientConfiguration.java
  samples/client/petstore/spring-cloud/src/main/java/org/openapitools/configuration/ClientConfiguration.java
Labels: Enhancement: Code format, Server: Java, Server: Spring

#3984 fix(php): no need to serialize collections, Guzzle does that, fix #2292
  modules/openapi-generator/src/main/resources/php/ObjectSerializer.mustache
  modules/openapi-generator/src/main/resources/php/api.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/AnotherFakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeClassnameTags123Api.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/PetApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/StoreApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/UserApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/ObjectSerializer.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/AnotherFakeApi.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/DefaultApi.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/FakeClassnameTags123Api.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/PetApi.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/StoreApi.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/UserApi.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/ObjectSerializer.php
Labels: Client: PHP, Issue: Bug

#5517 [php] replace $collectionFormat with $style
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSlim4ServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSlimServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSymfonyServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpZendExpressivePathHandlerServerCodegen.java
  modules/openapi-generator/src/main/resources/php/ObjectSerializer.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/PetApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/ObjectSerializer.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/PetApi.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/ObjectSerializer.php
Labels: Client: PHP, Issue: Bug

#5514 [BUG][scala][template] scala generate java.math.BigDecimal instead of scala type
  docs/generators/scala-akka.md
  docs/generators/scala-gatling.md
  docs/generators/scala-httpclient-deprecated.md
  docs/generators/scala-lagom-server.md
  docs/generators/scala-play-server.md
  docs/generators/scala-sttp.md
  docs/generators/scalaz.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractScalaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/scala/AbstractScalaCodegenTest.java
Labels: Client: Scala, Enhancement: Compatibility, Server: Scala

#5519 [PHP] complete support for form style
  modules/openapi-generator/src/main/resources/php/api.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/PetApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/UserApi.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/PetApi.php
  samples/openapi3/client/petstore/php/OpenAPIClient-php/lib/Api/UserApi.php
Labels: Client: PHP, Enhancement: General

#5540 Fix Swift4 CI tests
  samples/client/petstore/swift4/default/SwaggerClientTests/SwaggerClientTests/StoreAPITests.swift
  samples/client/petstore/swift4/promisekitLibrary/SwaggerClientTests/SwaggerClientTests/StoreAPITests.swift
  samples/client/petstore/swift4/rxswiftLibrary/SwaggerClientTests/SwaggerClientTests/StoreAPITests.swift
Labels: Client: Swift, Enhancement: CI/Test

#5544 Test Dart petstore client in CircleCI
  CI/.drone.yml
  CI/circle_parallel.sh
  pom.xml
Labels: Client: Dart, Enhancement: CI/Test

#5552 [Python] Fixes kwargs typos, removes E501s
  modules/openapi-generator/src/main/resources/python/api.mustache
  samples/client/petstore/python-asyncio/petstore_api/api/another_fake_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/fake_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/fake_classname_tags_123_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/pet_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/store_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/user_api.py
  samples/client/petstore/python-tornado/petstore_api/api/another_fake_api.py
  samples/client/petstore/python-tornado/petstore_api/api/fake_api.py
  samples/client/petstore/python-tornado/petstore_api/api/fake_classname_tags_123_api.py
  samples/client/petstore/python-tornado/petstore_api/api/pet_api.py
  samples/client/petstore/python-tornado/petstore_api/api/store_api.py
  samples/client/petstore/python-tornado/petstore_api/api/user_api.py
  samples/client/petstore/python/petstore_api/api/another_fake_api.py
  samples/client/petstore/python/petstore_api/api/fake_api.py
  samples/client/petstore/python/petstore_api/api/fake_classname_tags_123_api.py
  samples/client/petstore/python/petstore_api/api/pet_api.py
  samples/client/petstore/python/petstore_api/api/store_api.py
  samples/client/petstore/python/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/default_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_classname_tags_123_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/user_api.py
Labels: Client: Python, Issue: Bug

#5457 [Rust Server] Test allOf objects including base properties
  modules/openapi-generator/src/test/resources/2_0/rust-server/rust-server-test.yaml
  samples/server/petstore/rust-server/output/rust-server-test/README.md
  samples/server/petstore/rust-server/output/rust-server-test/api/openapi.yaml
  samples/server/petstore/rust-server/output/rust-server-test/docs/AllOfObject.md
  samples/server/petstore/rust-server/output/rust-server-test/docs/BaseAllOf.md
  samples/server/petstore/rust-server/output/rust-server-test/docs/default_api.md
  samples/server/petstore/rust-server/output/rust-server-test/examples/client/main.rs
  samples/server/petstore/rust-server/output/rust-server-test/examples/server/server.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/client/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/lib.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/mimetypes.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/models.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/server/mod.rs
Labels: Client: Rust, Enhancement: CI/Test, Server: Rust

#5490 [Rust Server] Make parse error Display-able
  modules/openapi-generator/src/main/resources/rust-server/models.mustache
  modules/openapi-generator/src/test/resources/3_0/rust-server/openapi-v3.yaml
  samples/server/petstore/rust-server/output/multipart-v3/src/models.rs
  samples/server/petstore/rust-server/output/openapi-v3/README.md
  samples/server/petstore/rust-server/output/openapi-v3/api/openapi.yaml
  samples/server/petstore/rust-server/output/openapi-v3/docs/StringEnum.md
  samples/server/petstore/rust-server/output/openapi-v3/docs/default_api.md
  samples/server/petstore/rust-server/output/openapi-v3/examples/client/main.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/mimetypes.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/models.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/models.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/models.rs
Labels: Client: Rust, Server: Rust

#5568 [typescript-inversify] Support nullable properties #5543
  modules/openapi-generator/src/main/resources/typescript-inversify/modelGeneric.mustache
Labels: Client: TypeScript

#5548 [Kotlin][client] fix file upload
  modules/openapi-generator/src/main/resources/kotlin-client/api.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-okhttp/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin, Issue: Bug

#5535 [Java] Fix exception when OAuth2 token URL is a relative URL
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/auth/RetryingOAuth.mustache
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/auth/RetryingOAuth.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/auth/RetryingOAuth.java
Labels: Client: Java, Issue: Bug

#5530 [Java] fix runtime exception when there are multiple auth methods
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#5569 [markdown] Fix broken links when generating markdown
  modules/openapi-generator/src/main/resources/markdown-documentation/README.mustache
  modules/openapi-generator/src/main/resources/markdown-documentation/api.mustache
  modules/openapi-generator/src/main/resources/markdown-documentation/model.mustache
  samples/documentation/markdown/Apis/PetApi.md
  samples/documentation/markdown/Models/ApiResponse.md
  samples/documentation/markdown/Models/Category.md
  samples/documentation/markdown/Models/Order.md
  samples/documentation/markdown/Models/Pet.md
  samples/documentation/markdown/Models/Tag.md
  samples/documentation/markdown/Models/User.md
  samples/documentation/markdown/README.md
Labels: Client: HTML, Issue: Bug

#5585 typescript-angular: fix zone-js version for angular 8
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/package.json
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/package.json
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/package.json
Labels: Client: TypeScript

#5546 [Swift] fix URLSession file upload
  modules/openapi-generator/src/main/resources/swift5/libraries/urlsession/URLSessionImplementations.mustache
  samples/client/petstore/swift5/alamofireLibrary/SwaggerClientTests/Podfile.lock
  samples/client/petstore/swift5/alamofireLibrary/SwaggerClientTests/SwaggerClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/alamofireLibrary/SwaggerClientTests/SwaggerClientTests/FileUtils.swift
  samples/client/petstore/swift5/alamofireLibrary/SwaggerClientTests/SwaggerClientTests/PetAPITests.swift
  samples/client/petstore/swift5/alamofireLibrary/SwaggerClientTests/SwaggerClientTests/UIImage+Extras.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/combineLibrary/SwaggerClientTests/Podfile.lock
  samples/client/petstore/swift5/combineLibrary/SwaggerClientTests/SwaggerClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/combineLibrary/SwaggerClientTests/SwaggerClientTests/FileUtils.swift
  samples/client/petstore/swift5/combineLibrary/SwaggerClientTests/SwaggerClientTests/PetAPITests.swift
  samples/client/petstore/swift5/combineLibrary/SwaggerClientTests/SwaggerClientTests/UIImage+Extras.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/default/SwaggerClientTests/Podfile.lock
  samples/client/petstore/swift5/default/SwaggerClientTests/SwaggerClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/default/SwaggerClientTests/SwaggerClientTests/FileUtils.swift
  samples/client/petstore/swift5/default/SwaggerClientTests/SwaggerClientTests/PetAPITests.swift
  samples/client/petstore/swift5/default/SwaggerClientTests/SwaggerClientTests/UIImage+Extras.swift
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/promisekitLibrary/SwaggerClientTests/Podfile.lock
  samples/client/petstore/swift5/promisekitLibrary/SwaggerClientTests/SwaggerClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/promisekitLibrary/SwaggerClientTests/SwaggerClientTests/FileUtils.swift
  samples/client/petstore/swift5/promisekitLibrary/SwaggerClientTests/SwaggerClientTests/PetAPITests.swift
  samples/client/petstore/swift5/promisekitLibrary/SwaggerClientTests/SwaggerClientTests/UIImage+Extras.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/rxswiftLibrary/SwaggerClientTests/Podfile.lock
  samples/client/petstore/swift5/rxswiftLibrary/SwaggerClientTests/SwaggerClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/rxswiftLibrary/SwaggerClientTests/SwaggerClientTests/FileUtils.swift
  samples/client/petstore/swift5/rxswiftLibrary/SwaggerClientTests/SwaggerClientTests/PetAPITests.swift
  samples/client/petstore/swift5/rxswiftLibrary/SwaggerClientTests/SwaggerClientTests/UIImage+Extras.swift
  samples/client/petstore/swift5/urlsessionLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/urlsessionLibrary/SwaggerClientTests/Podfile.lock
  samples/client/petstore/swift5/urlsessionLibrary/SwaggerClientTests/SwaggerClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/urlsessionLibrary/SwaggerClientTests/SwaggerClientTests/FileUtils.swift
  samples/client/petstore/swift5/urlsessionLibrary/SwaggerClientTests/SwaggerClientTests/PetAPITests.swift
  samples/client/petstore/swift5/urlsessionLibrary/SwaggerClientTests/SwaggerClientTests/UIImage+Extras.swift
  samples/client/test/swift5/default/TestClient/Classes/OpenAPIs/URLSessionImplementations.swift
Labels: Client: Swift, Issue: Bug

#5567 [swift] add option for API prefix
  docs/generators/swift5.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift5ClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/Swift5OptionsProvider.java
Labels: Client: Swift, Enhancement: Feature

#5589 [haskell-http-client] exclude bad time versions
  modules/openapi-generator/src/main/resources/haskell-http-client/haskell-http-client.cabal.mustache
  modules/openapi-generator/src/main/resources/haskell-http-client/stack.mustache
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-API-Fake.html
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-Core.html
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-MimeTypes.html
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-Model.html
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-ModelLens.html
  samples/client/petstore/haskell-http-client/docs/doc-index-All.html
  samples/client/petstore/haskell-http-client/docs/doc-index-B.html
  samples/client/petstore/haskell-http-client/docs/doc-index-E.html
  samples/client/petstore/haskell-http-client/docs/doc-index-F.html
  samples/client/petstore/haskell-http-client/docs/doc-index-M.html
  samples/client/petstore/haskell-http-client/docs/doc-index-T.html
  samples/client/petstore/haskell-http-client/docs/doc-index.json
  samples/client/petstore/haskell-http-client/docs/openapi-petstore.txt
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.AnotherFake.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.Fake.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.FakeClassnameTags123.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.Pet.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.Store.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.User.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.Client.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.Core.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.LoggingKatip.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.MimeTypes.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.Model.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.ModelLens.html
  samples/client/petstore/haskell-http-client/docs/src/Paths_openapi_petstore.html
  samples/client/petstore/haskell-http-client/example-app/package.yaml
  samples/client/petstore/haskell-http-client/example-app/stack.yaml
  samples/client/petstore/haskell-http-client/example-app/stack.yaml.lock
  samples/client/petstore/haskell-http-client/openapi-petstore.cabal
  samples/client/petstore/haskell-http-client/stack.yaml
  samples/client/petstore/haskell-http-client/tests-integration/package.yaml
Labels: Client: Haskell

#5588 [go-experimental] Do not generate HTTP signature unit test for every generated SDK
  CI/circle_parallel.sh
  modules/openapi-generator/src/main/resources/go-experimental/signing.mustache
  samples/openapi3/client/petstore/go-experimental/go-petstore/http_signature_test.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/signing.go
  samples/openapi3/client/petstore/go-experimental/http_signature_test.go
Labels: Client: Go, Enhancement: CI/Test

#5477 PR to solve 2 open issues on enums: #5091 and #4293
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CLibcurlClientCodegen.java
  modules/openapi-generator/src/main/resources/C-libcurl/api-body.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/api-header.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/model-body.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/model-header.mustache
  samples/client/petstore/c/api/PetAPI.c
  samples/client/petstore/c/api/PetAPI.h
  samples/client/petstore/c/api/StoreAPI.c
  samples/client/petstore/c/api/UserAPI.c
  samples/client/petstore/c/model/order.c
  samples/client/petstore/c/model/order.h
  samples/client/petstore/c/model/pet.c
  samples/client/petstore/c/model/pet.h
Labels: Client: C, Issue: Bug

#5605 Scala-Akka: Add missing body to PATCH requests
  modules/openapi-generator/src/main/resources/scala-akka-client/apiInvoker.mustache
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/core/ApiInvoker.scala
Labels: Issue: Bug

#5603 [swift5] stop hiding network error
  modules/openapi-generator/src/main/resources/swift5/Models.mustache
  modules/openapi-generator/src/main/resources/swift5/libraries/urlsession/URLSessionImplementations.mustache
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/alamofireLibrary/SwaggerClientTests/SwaggerClientTests/FileUtils.swift
  samples/client/petstore/swift5/alamofireLibrary/SwaggerClientTests/SwaggerClientTests/PetAPITests.swift
  samples/client/petstore/swift5/alamofireLibrary/SwaggerClientTests/SwaggerClientTests/UIImage+Extras.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/combineLibrary/SwaggerClientTests/SwaggerClientTests/FileUtils.swift
  samples/client/petstore/swift5/combineLibrary/SwaggerClientTests/SwaggerClientTests/UIImage+Extras.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/default/SwaggerClientTests/SwaggerClientTests/FileUtils.swift
  samples/client/petstore/swift5/default/SwaggerClientTests/SwaggerClientTests/UIImage+Extras.swift
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/promisekitLibrary/SwaggerClientTests/SwaggerClientTests/FileUtils.swift
  samples/client/petstore/swift5/promisekitLibrary/SwaggerClientTests/SwaggerClientTests/PetAPITests.swift
  samples/client/petstore/swift5/promisekitLibrary/SwaggerClientTests/SwaggerClientTests/UIImage+Extras.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/rxswiftLibrary/SwaggerClientTests/SwaggerClientTests/FileUtils.swift
  samples/client/petstore/swift5/rxswiftLibrary/SwaggerClientTests/SwaggerClientTests/PetAPITests.swift
  samples/client/petstore/swift5/rxswiftLibrary/SwaggerClientTests/SwaggerClientTests/UIImage+Extras.swift
  samples/client/petstore/swift5/urlsessionLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/urlsessionLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/urlsessionLibrary/SwaggerClientTests/SwaggerClientTests/FileUtils.swift
  samples/client/petstore/swift5/urlsessionLibrary/SwaggerClientTests/SwaggerClientTests/UIImage+Extras.swift
  samples/client/test/swift5/default/TestClient/Classes/OpenAPIs/Models.swift
  samples/client/test/swift5/default/TestClient/Classes/OpenAPIs/URLSessionImplementations.swift
Labels: Client: Swift, Enhancement: General

#5500 Adding Response Interceptor
  modules/openapi-generator/src/main/resources/Java/libraries/native/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/api.mustache
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Enhancement: General

#5502 [Kotlin] Remove kotlin-reflect dependency when not needed
  modules/openapi-generator/src/main/resources/kotlin-client/build.gradle.mustache
  samples/client/petstore/kotlin-gson/build.gradle
  samples/client/petstore/kotlin-jackson/build.gradle
  samples/client/petstore/kotlin-moshi-codegen/build.gradle
Labels: Client: Kotlin, Enhancement: Code format

#5612 [typescript-fetch] add interfaces, withInterfaces
  modules/openapi-generator/src/main/resources/typescript-fetch/apis.mustache
  samples/client/petstore/typescript-fetch/builds/with-interfaces/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/apis/StoreApi.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/apis/UserApi.ts
Labels: Client: TypeScript

#5622 [scala] Regenerate akka sample
  samples/client/petstore/scala-akka/README.md
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/api/PetApi.scala
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/api/StoreApi.scala
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/api/UserApi.scala
Labels: Client: Scala

#5635 [PowerShell] minor improvements and bug fixes
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellExperimentalClientCodegen.java
  modules/openapi-generator/src/main/resources/powershell-experimental/api.mustache
  modules/openapi-generator/src/main/resources/powershell-experimental/api_client.mustache
  modules/openapi-generator/src/main/resources/powershell-experimental/model_test.mustache
  samples/client/petstore/powershell-experimental/src/PSPetstore/API/PSPetApi.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/API/PSStoreApi.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/API/PSUserApi.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Private/PSApiClient.ps1
  samples/client/petstore/powershell-experimental/tests/Api/PSPetApi.Tests.ps1
  samples/client/petstore/powershell-experimental/tests/Api/PSStoreApi.Tests.ps1
  samples/client/petstore/powershell-experimental/tests/Api/PSUserApi.Tests.ps1
  samples/client/petstore/powershell-experimental/tests/ApiResponse.Tests.ps1
  samples/client/petstore/powershell-experimental/tests/Category.Tests.ps1
  samples/client/petstore/powershell-experimental/tests/Configuration.Tests.ps1
  samples/client/petstore/powershell-experimental/tests/InlineObject.Tests.ps1
  samples/client/petstore/powershell-experimental/tests/Model/ApiResponse.Tests.ps1
  samples/client/petstore/powershell-experimental/tests/Model/Category.Tests.ps1
  samples/client/petstore/powershell-experimental/tests/Model/InlineObject.Tests.ps1
  samples/client/petstore/powershell-experimental/tests/Model/InlineObject1.Tests.ps1
  samples/client/petstore/powershell-experimental/tests/Model/Order.Tests.ps1
  samples/client/petstore/powershell-experimental/tests/Model/Pet.Tests.ps1
  samples/client/petstore/powershell-experimental/tests/Model/Tag.Tests.ps1
  samples/client/petstore/powershell-experimental/tests/Model/User.Tests.ps1
  samples/client/petstore/powershell-experimental/tests/New-InlineObject.Tests.ps1
  samples/client/petstore/powershell-experimental/tests/New-InlineObject1.Tests.ps1
  samples/client/petstore/powershell-experimental/tests/New-Order.Tests.ps1
  samples/client/petstore/powershell-experimental/tests/New-Tag.Tests.ps1
  samples/client/petstore/powershell-experimental/tests/PetApi.Tests.ps1
  samples/client/petstore/powershell-experimental/tests/StoreApi.Tests.ps1
  samples/client/petstore/powershell-experimental/tests/User.Tests.ps1
  samples/client/petstore/powershell-experimental/tests/UserApi.Tests.ps1
Labels: Client: PowerShell, Enhancement: Code format, Enhancement: General, Issue: Bug

#5634 [C++] [Qt5]Update isSet when the object is received from callback
  modules/openapi-generator/src/main/resources/cpp-qt5-client/helpers-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/HttpFileElement.cpp.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/HttpFileElement.h.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/enum.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/helpers-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/helpers-header.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/licenseInfo.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/model-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/model-header.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-qhttpengine-server/object.mustache
  samples/client/petstore/cpp-qt5/.openapi-generator/VERSION
  samples/client/petstore/cpp-qt5/client/CMakeLists.txt
  samples/client/petstore/cpp-qt5/client/PFXHelpers.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/handlers/OAIApiRouter.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/handlers/OAIApiRouter.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/handlers/OAIPetApiHandler.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/handlers/OAIPetApiHandler.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/handlers/OAIStoreApiHandler.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/handlers/OAIStoreApiHandler.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/handlers/OAIUserApiHandler.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/handlers/OAIUserApiHandler.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/main.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIApiResponse.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIApiResponse.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAICategory.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAICategory.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIEnum.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIHelpers.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIHelpers.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIHttpFileElement.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIHttpFileElement.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIObject.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIOrder.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIOrder.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIPet.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIPet.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAITag.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAITag.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIUser.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/models/OAIUser.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/requests/OAIPetApiRequest.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/requests/OAIPetApiRequest.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/requests/OAIStoreApiRequest.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/requests/OAIStoreApiRequest.h
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/requests/OAIUserApiRequest.cpp
  samples/server/petstore/cpp-qt5-qhttpengine-server/server/src/requests/OAIUserApiRequest.h
Labels: Enhancement: General, Server: C++

#5564 [Rust Sever] Upgrade to openssl 0.10
  modules/openapi-generator/src/main/resources/rust-server/Cargo.mustache
  modules/openapi-generator/src/main/resources/rust-server/client-imports.mustache
  modules/openapi-generator/src/main/resources/rust-server/client-mod.mustache
  modules/openapi-generator/src/main/resources/rust-server/example-client-main.mustache
  modules/openapi-generator/src/main/resources/rust-server/example-server-common.mustache
  modules/openapi-generator/src/main/resources/rust-server/example-server-main.mustache
  modules/openapi-generator/src/main/resources/rust-server/lib.mustache
  modules/openapi-generator/src/main/resources/rust-server/server-callbacks.mustache
  samples/server/petstore/rust-server/output/multipart-v3/Cargo.toml
  samples/server/petstore/rust-server/output/multipart-v3/examples/client/main.rs
  samples/server/petstore/rust-server/output/multipart-v3/examples/server/main.rs
  samples/server/petstore/rust-server/output/multipart-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/Cargo.toml
  samples/server/petstore/rust-server/output/openapi-v3/examples/client/main.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/client/server.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/server/main.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/callbacks.rs
  samples/server/petstore/rust-server/output/ops-v3/Cargo.toml
  samples/server/petstore/rust-server/output/ops-v3/examples/client/main.rs
  samples/server/petstore/rust-server/output/ops-v3/examples/server/main.rs
  samples/server/petstore/rust-server/output/ops-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/ops-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/ops-v3/src/lib.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/Cargo.toml
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/examples/client/main.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/examples/server/main.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/examples/server/server.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/client/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/lib.rs
  samples/server/petstore/rust-server/output/rust-server-test/Cargo.toml
  samples/server/petstore/rust-server/output/rust-server-test/examples/client/main.rs
  samples/server/petstore/rust-server/output/rust-server-test/examples/server/main.rs
  samples/server/petstore/rust-server/output/rust-server-test/examples/server/server.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/client/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/lib.rs
Labels: Client: Rust, Server: Rust

#5649 [C++] [Qt5] CI Tests Handle negative response from the server
  samples/client/petstore/cpp-qt5/PetStore/PetApiTests.cpp
  samples/client/petstore/cpp-qt5/PetStore/StoreApiTests.cpp
  samples/client/petstore/cpp-qt5/PetStore/UserApiTests.cpp
Labels: Client: C++, Enhancement: CI/Test

#5563 [Rust Server] Return 405 Method Not Allowed
  modules/openapi-generator/src/main/resources/rust-server/client-callbacks.mustache
  modules/openapi-generator/src/main/resources/rust-server/server-mod.mustache
  modules/openapi-generator/src/main/resources/rust-server/server-service-header.mustache
  samples/server/petstore/rust-server/output/multipart-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/callbacks.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/ops-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/server/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/server/mod.rs
Labels: Server: Rust

#5562 [Rust Server] Support multiple identical MIME types
  modules/openapi-generator/src/main/resources/rust-server/server-operation.mustache
  modules/openapi-generator/src/test/resources/3_0/rust-server/multipart-v3.yaml
  samples/server/petstore/rust-server/output/multipart-v3/README.md
  samples/server/petstore/rust-server/output/multipart-v3/api/openapi.yaml
  samples/server/petstore/rust-server/output/multipart-v3/docs/InlineObject.md
  samples/server/petstore/rust-server/output/multipart-v3/docs/default_api.md
  samples/server/petstore/rust-server/output/multipart-v3/examples/client/main.rs
  samples/server/petstore/rust-server/output/multipart-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/lib.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/mimetypes.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/models.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/server/mod.rs
Labels: Server: Rust

#5672 Fix integration tests (Travis, CircleCI)
  samples/client/petstore/clojure/test/open_api_petstore/api/user_test.clj
  samples/client/petstore/go-experimental/user_api_test.go
  samples/client/petstore/go/user_api_test.go
  samples/client/petstore/php/OpenAPIClient-php/tests/UserApiTest.php
  samples/client/petstore/scala-httpclient/bin/UserApiTest.scala
  samples/client/petstore/scala-httpclient/src/test/scala/UserApiTest.scala
  samples/client/petstore/spring-cloud/src/test/java/org/openapitools/api/UserApiTest.java
  samples/client/petstore/typescript-angular-v6-provided-in-root/tests/default/src/test/api.spec.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/tests/default/src/test/api.spec.ts
  samples/openapi3/client/petstore/go-experimental/user_api_test.go
  samples/openapi3/client/petstore/go/user_api_test.go
  samples/openapi3/client/petstore/php/OpenAPIClient-php/tests/UserApiTest.php
Labels: Enhancement: CI/Test

#5624 Solving issue #5623 and supporting bools for C client label:"Client: C"
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CLibcurlClientCodegen.java
  modules/openapi-generator/src/main/resources/C-libcurl/api-body.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/api-header.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/model-body.mustache
  samples/client/petstore/c/api/PetAPI.c
  samples/client/petstore/c/api/PetAPI.h
  samples/client/petstore/c/api/StoreAPI.c
  samples/client/petstore/c/api/StoreAPI.h
  samples/client/petstore/c/api/UserAPI.c
  samples/client/petstore/c/api/UserAPI.h
Labels: Client: C, Enhancement: General, Issue: Bug

#5638 [PowerShell] Fix map type
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellExperimentalClientCodegen.java
  modules/openapi-generator/src/main/resources/powershell-experimental/api.mustache
  modules/openapi-generator/src/main/resources/powershell-experimental/appveyor.mustache
  samples/client/petstore/powershell-experimental/appveyor.yml
  samples/client/petstore/powershell-experimental/docs/PSStoreApi.md
  samples/client/petstore/powershell-experimental/src/PSPetstore/API/PSPetApi.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/API/PSStoreApi.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/API/PSUserApi.ps1
Labels: Client: PowerShell, Issue: Bug

#5560 [Rust Server] Retire mimetypes modules
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/resources/rust-server/README.md
  modules/openapi-generator/src/main/resources/rust-server/client-imports.mustache
  modules/openapi-generator/src/main/resources/rust-server/client-operation.mustache
  modules/openapi-generator/src/main/resources/rust-server/lib.mustache
  modules/openapi-generator/src/main/resources/rust-server/mimetypes-request.mustache
  modules/openapi-generator/src/main/resources/rust-server/mimetypes-response.mustache
  modules/openapi-generator/src/main/resources/rust-server/mimetypes.mustache
  modules/openapi-generator/src/main/resources/rust-server/server-imports.mustache
  modules/openapi-generator/src/main/resources/rust-server/server-operation.mustache
  samples/server/petstore/rust-server/output/multipart-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/lib.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/mimetypes.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/no-example-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/no-example-v3/src/lib.rs
  samples/server/petstore/rust-server/output/no-example-v3/src/mimetypes.rs
  samples/server/petstore/rust-server/output/no-example-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/callbacks.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/mimetypes.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/callbacks.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/ops-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/ops-v3/src/lib.rs
  samples/server/petstore/rust-server/output/ops-v3/src/mimetypes.rs
  samples/server/petstore/rust-server/output/ops-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/client/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/lib.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/mimetypes.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/server/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/client/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/lib.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/mimetypes.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/server/mod.rs
Labels: Client: Rust, Server: Rust

#5657 [powershell-experimental] Adds configuration option to skip certificate check
  modules/openapi-generator/src/main/resources/powershell-experimental/api_client.mustache
  modules/openapi-generator/src/main/resources/powershell-experimental/configuration.mustache
Labels: Client: PowerShell, Enhancement: Feature, Issue: Bug

#5559 [Rust Server] Flag responses as must use
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/resources/rust-server/response.mustache
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/lib.rs
Labels: Client: Rust, Server: Rust

#5558 [Rust Server] Run rustfmt over rust-server output
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/resources/rust-server/server-operation.mustache
  samples/server/petstore/rust-server/output/openapi-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/server/mod.rs
Labels: Client: Rust, Server: Rust

#5626 [C][Client] Check the pointer before deleting operation to avoid core dump label:"Client C"
  modules/openapi-generator/src/main/resources/C-libcurl/list.c.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/model-body.mustache
  samples/client/petstore/c/model/api_response.c
  samples/client/petstore/c/model/category.c
  samples/client/petstore/c/model/order.c
  samples/client/petstore/c/model/pet.c
  samples/client/petstore/c/model/tag.c
  samples/client/petstore/c/model/user.c
  samples/client/petstore/c/src/list.c
Labels: Client: C, Enhancement: General

#5647 Remove scala version in parent pom
  pom.xml
Labels: Enhancement: Code format

#5260 [asciidoc] Allow the inclusion of additional documentation to the asciidoc generated
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AsciidocDocumentationCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/asciidoc/AsciidocSampleGeneratorTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/asciidoc/IncludeMarkupFilterTest.java
  samples/documentation/asciidoc/.openapi-generator/VERSION
  samples/documentation/asciidoc/index.adoc
Labels: Doc: AsciiDoc, Enhancement: General

#5659 [jaxrs-reasteasy-eap] Fix invalid Bean Validation annotations for Longs
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/eap/beanValidation.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/eap/beanValidationCore.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/eap/beanValidationHeaderParams.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/eap/beanValidationPathParams.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/eap/beanValidationQueryParams.mustache
  samples/server/petstore/jaxrs-resteasy/eap-java8/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-resteasy/eap-java8/src/gen/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/jaxrs-resteasy/eap-java8/src/gen/java/org/openapitools/api/UserApi.java
  samples/server/petstore/jaxrs-resteasy/eap-joda/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-resteasy/eap-joda/src/gen/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/jaxrs-resteasy/eap-joda/src/gen/java/org/openapitools/api/UserApi.java
  samples/server/petstore/jaxrs-resteasy/eap/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-resteasy/eap/src/gen/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/jaxrs-resteasy/eap/src/gen/java/org/openapitools/api/UserApi.java
Labels: Issue: Bug, Server: Java

#5674 [PowerShell] Test powershell petstore client in Appveyor
  appveyor.yml
  bin/utils/ensure-up-to-date
Labels: Client: PowerShell, Enhancement: CI/Test

#5688 [PowerShell][Experimental] Better docstring
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellExperimentalClientCodegen.java
  modules/openapi-generator/src/main/resources/powershell-experimental/api.mustache
  modules/openapi-generator/src/main/resources/powershell-experimental/configuration.mustache
  modules/openapi-generator/src/main/resources/powershell-experimental/model.mustache
  samples/client/petstore/powershell-experimental/docs/PSUserApi.md
  samples/client/petstore/powershell-experimental/src/PSPetstore/API/PSPetApi.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/API/PSStoreApi.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/API/PSUserApi.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Client/PSConfiguration.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Model/ApiResponse.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Model/Category.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Model/InlineObject.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Model/InlineObject1.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Model/Order.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Model/Pet.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Model/Tag.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Model/User.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Private/PSApiClient.ps1
Labels: Client: PowerShell, Enhancement: Feature, Feature: Documentation

#5555 [Rust Server] Preserve path provided in base path
  modules/openapi-generator/src/main/resources/rust-server/client-mod.mustache
  samples/server/petstore/rust-server/output/multipart-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/no-example-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/ops-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/client/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/client/mod.rs
Labels: Client: Rust

#5675 Nodejs express js packages update
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/NodeJSExpressServerCodegen.java
  modules/openapi-generator/src/main/resources/nodejs-express-server/README.mustache
  modules/openapi-generator/src/main/resources/nodejs-express-server/config.mustache
  modules/openapi-generator/src/main/resources/nodejs-express-server/controller.mustache
  modules/openapi-generator/src/main/resources/nodejs-express-server/controllers/Controller.mustache
  modules/openapi-generator/src/main/resources/nodejs-express-server/expressServer.mustache
  modules/openapi-generator/src/main/resources/nodejs-express-server/index.mustache
  modules/openapi-generator/src/main/resources/nodejs-express-server/logger.mustache
  modules/openapi-generator/src/main/resources/nodejs-express-server/package.mustache
  modules/openapi-generator/src/main/resources/nodejs-express-server/service.mustache
  samples/server/petstore/nodejs-express-server/.openapi-generator/VERSION
  samples/server/petstore/nodejs-express-server/README.md
  samples/server/petstore/nodejs-express-server/api/openapi.yaml
  samples/server/petstore/nodejs-express-server/api/swagger.yaml
  samples/server/petstore/nodejs-express-server/app.js
  samples/server/petstore/nodejs-express-server/config.js
  samples/server/petstore/nodejs-express-server/controllers/Controller.js
  samples/server/petstore/nodejs-express-server/controllers/PetController.js
  samples/server/petstore/nodejs-express-server/controllers/StoreController.js
  samples/server/petstore/nodejs-express-server/controllers/UserController.js
  samples/server/petstore/nodejs-express-server/expressServer.js
  samples/server/petstore/nodejs-express-server/index.js
  samples/server/petstore/nodejs-express-server/logger.js
  samples/server/petstore/nodejs-express-server/package.json
  samples/server/petstore/nodejs-express-server/services/PetService.js
  samples/server/petstore/nodejs-express-server/services/StoreService.js
  samples/server/petstore/nodejs-express-server/services/UserService.js
Labels: Enhancement: General, Server: Nodejs

#5450 [kotlin][client] make base path globally configurable
  modules/openapi-generator/src/main/resources/kotlin-client/api.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-retrofit2/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
Labels: Client: Kotlin, Enhancement: General

#5691 [Go][Experimental] Rename extensions from x-basetype to x-go-base-type
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientExperimentalCodegen.java
  modules/openapi-generator/src/main/resources/go-experimental/model.mustache
  modules/openapi-generator/src/main/resources/go-experimental/model_doc.mustache
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/Apple.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/AppleReq.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/Banana.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/BananaReq.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/GmFruit.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/Whale.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/docs/Zebra.md
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_apple.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_apple_req.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_banana.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_banana_req.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_fruit.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_fruit_req.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_gm_fruit.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_mammal.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_whale.go
  samples/openapi3/client/petstore/go-experimental/go-petstore/model_zebra.go
Labels: Client: Go, Enhancement: General

#5696 [Go][Experimental] Remove processing of http_signature_test.mustache
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientExperimentalCodegen.java
Labels: Client: Go, Enhancement: General

#5554 [Rust Server] Support operation overriding server path on client
  modules/openapi-generator/src/main/resources/rust-server/client-operation.mustache
  modules/openapi-generator/src/test/resources/3_0/rust-server/openapi-v3.yaml
  samples/server/petstore/rust-server/output/openapi-v3/README.md
  samples/server/petstore/rust-server/output/openapi-v3/api/openapi.yaml
  samples/server/petstore/rust-server/output/openapi-v3/docs/default_api.md
  samples/server/petstore/rust-server/output/openapi-v3/examples/client/main.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/mod.rs
Labels: Client: Rust

#5702 [PowerShell][Experimental] use basic parsing
  modules/openapi-generator/src/main/resources/powershell-experimental/api_client.mustache
  samples/client/petstore/powershell-experimental/src/PSPetstore/Private/PSApiClient.ps1
Labels: Client: PowerShell, Enhancement: General

#5621 [python/asyncio] explicitly close client session and asynchronous context manager
  modules/openapi-generator/src/main/resources/python/api_client.mustache
  modules/openapi-generator/src/main/resources/python/asyncio/rest.mustache
  samples/client/petstore/python-asyncio/petstore_api/api_client.py
  samples/client/petstore/python-asyncio/petstore_api/rest.py
  samples/client/petstore/python-asyncio/tests/test_api_client.py
  samples/client/petstore/python-asyncio/tests/test_pet_api.py
  samples/client/petstore/python-asyncio/tests/util.py
Labels: Client: Python, Enhancement: General

#5686 [gradle] Include engine option for handlebars generation
  modules/openapi-generator-gradle-plugin/README.adoc
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/OpenApiGeneratorPlugin.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/extensions/OpenApiGeneratorGenerateExtension.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
  modules/openapi-generator-gradle-plugin/src/test/kotlin/GenerateTaskDslTest.kt
Labels: OpenAPI Generator Gradle Plugin

#5509 [Java] Update version of maven-surefire-plugin
  CI/circle_parallel.sh
  CI/samples.ci/client/petstore/java/test-manual/okhttp-gson/api/PetApiTest.java
  circle.yml
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/pom.mustache
  samples/client/petstore/java/okhttp-gson-parcelableModel/pom.xml
  samples/client/petstore/java/okhttp-gson/pom.xml
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/api/PetApiTest.java
Labels: Client: Java, Enhancement: Compatibility

#5645 Generator for JavaScript/Apollo Client
  README.md
  bin/javascript-apollo-petstore.sh
  docs/generators/javascript-apollo.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptApolloClientCodegen.java
  modules/openapi-generator/src/main/resources/Javascript-Apollo/.babelrc.mustache
  modules/openapi-generator/src/main/resources/Javascript-Apollo/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Javascript-Apollo/README.mustache
  modules/openapi-generator/src/main/resources/Javascript-Apollo/api.mustache
  modules/openapi-generator/src/main/resources/Javascript-Apollo/api_doc.mustache
  modules/openapi-generator/src/main/resources/Javascript-Apollo/api_test.mustache
  modules/openapi-generator/src/main/resources/Javascript-Apollo/enumClass.mustache
  modules/openapi-generator/src/main/resources/Javascript-Apollo/git_push.sh.mustache
  modules/openapi-generator/src/main/resources/Javascript-Apollo/gitignore.mustache
  modules/openapi-generator/src/main/resources/Javascript-Apollo/index.mustache
  modules/openapi-generator/src/main/resources/Javascript-Apollo/licenseInfo.mustache
  modules/openapi-generator/src/main/resources/Javascript-Apollo/mocha.opts
  modules/openapi-generator/src/main/resources/Javascript-Apollo/model.mustache
  modules/openapi-generator/src/main/resources/Javascript-Apollo/model_doc.mustache
  modules/openapi-generator/src/main/resources/Javascript-Apollo/model_test.mustache
  modules/openapi-generator/src/main/resources/Javascript-Apollo/package.mustache
  modules/openapi-generator/src/main/resources/Javascript-Apollo/partial_model_enum_class.mustache
  modules/openapi-generator/src/main/resources/Javascript-Apollo/partial_model_generic.mustache
  modules/openapi-generator/src/main/resources/Javascript-Apollo/partial_model_inner_enum.mustache
  modules/openapi-generator/src/main/resources/Javascript-Apollo/travis.yml
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  pom.xml
  website/i18n/en.json
Labels: Client: JavaScript/Node.js, Enhancement: New generator

#5712 Add Scala client scripts to ensure-uptodate process
  bin/openapi3/scala-akka-petstore.sh
  bin/utils/ensure-up-to-date
  samples/openapi3/client/petstore/scala-akka/.openapi-generator-ignore
  samples/openapi3/client/petstore/scala-akka/.openapi-generator/VERSION
  samples/openapi3/client/petstore/scala-akka/README.md
  samples/openapi3/client/petstore/scala-akka/build.sbt
  samples/openapi3/client/petstore/scala-akka/pom.xml
  samples/openapi3/client/petstore/scala-akka/src/main/resources/reference.conf
  samples/openapi3/client/petstore/scala-akka/src/main/scala/org/openapitools/client/api/EnumsSerializers.scala
  samples/openapi3/client/petstore/scala-akka/src/main/scala/org/openapitools/client/api/PetApi.scala
  samples/openapi3/client/petstore/scala-akka/src/main/scala/org/openapitools/client/api/StoreApi.scala
  samples/openapi3/client/petstore/scala-akka/src/main/scala/org/openapitools/client/api/UserApi.scala
  samples/openapi3/client/petstore/scala-akka/src/main/scala/org/openapitools/client/core/ApiInvoker.scala
  samples/openapi3/client/petstore/scala-akka/src/main/scala/org/openapitools/client/core/ApiRequest.scala
  samples/openapi3/client/petstore/scala-akka/src/main/scala/org/openapitools/client/core/ApiSettings.scala
  samples/openapi3/client/petstore/scala-akka/src/main/scala/org/openapitools/client/core/Serializers.scala
  samples/openapi3/client/petstore/scala-akka/src/main/scala/org/openapitools/client/core/requests.scala
  samples/openapi3/client/petstore/scala-akka/src/main/scala/org/openapitools/client/model/ApiResponse.scala
  samples/openapi3/client/petstore/scala-akka/src/main/scala/org/openapitools/client/model/Category.scala
  samples/openapi3/client/petstore/scala-akka/src/main/scala/org/openapitools/client/model/InlineObject.scala
  samples/openapi3/client/petstore/scala-akka/src/main/scala/org/openapitools/client/model/InlineObject1.scala
  samples/openapi3/client/petstore/scala-akka/src/main/scala/org/openapitools/client/model/Order.scala
  samples/openapi3/client/petstore/scala-akka/src/main/scala/org/openapitools/client/model/Pet.scala
  samples/openapi3/client/petstore/scala-akka/src/main/scala/org/openapitools/client/model/Tag.scala
  samples/openapi3/client/petstore/scala-akka/src/main/scala/org/openapitools/client/model/User.scala
Labels: Client: Scala, Enhancement: CI/Test

#5714 Minor improvments to JS apollo generator
  bin/windows/javascript-apollo-petstore.bat
  docs/generators.md
  docs/generators/javascript-apollo.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptApolloClientCodegen.java
  pom.xml
  samples/client/petstore/javascript-apollo/.openapi-generator-ignore
  samples/client/petstore/javascript-apollo/.openapi-generator/VERSION
  samples/client/petstore/javascript-apollo/.travis.yml
  samples/client/petstore/javascript-apollo/README.md
  samples/client/petstore/javascript-apollo/docs/ApiResponse.md
  samples/client/petstore/javascript-apollo/docs/Category.md
  samples/client/petstore/javascript-apollo/docs/Order.md
  samples/client/petstore/javascript-apollo/docs/Pet.md
  samples/client/petstore/javascript-apollo/docs/PetApi.md
  samples/client/petstore/javascript-apollo/docs/StoreApi.md
  samples/client/petstore/javascript-apollo/docs/Tag.md
  samples/client/petstore/javascript-apollo/docs/User.md
  samples/client/petstore/javascript-apollo/docs/UserApi.md
  samples/client/petstore/javascript-apollo/git_push.sh
  samples/client/petstore/javascript-apollo/mocha.opts
  samples/client/petstore/javascript-apollo/package.json
  samples/client/petstore/javascript-apollo/src/ApiClient.js
  samples/client/petstore/javascript-apollo/src/api/PetApi.js
  samples/client/petstore/javascript-apollo/src/api/StoreApi.js
  samples/client/petstore/javascript-apollo/src/api/UserApi.js
  samples/client/petstore/javascript-apollo/src/index.js
  samples/client/petstore/javascript-apollo/src/model/ApiResponse.js
  samples/client/petstore/javascript-apollo/src/model/Category.js
  samples/client/petstore/javascript-apollo/src/model/Order.js
  samples/client/petstore/javascript-apollo/src/model/Pet.js
  samples/client/petstore/javascript-apollo/src/model/Tag.js
  samples/client/petstore/javascript-apollo/src/model/User.js
  samples/client/petstore/javascript-apollo/test/api/PetApi.spec.js
  samples/client/petstore/javascript-apollo/test/api/StoreApi.spec.js
  samples/client/petstore/javascript-apollo/test/api/UserApi.spec.js
  samples/client/petstore/javascript-apollo/test/model/ApiResponse.spec.js
  samples/client/petstore/javascript-apollo/test/model/Category.spec.js
  samples/client/petstore/javascript-apollo/test/model/Order.spec.js
  samples/client/petstore/javascript-apollo/test/model/Pet.spec.js
  samples/client/petstore/javascript-apollo/test/model/Tag.spec.js
  samples/client/petstore/javascript-apollo/test/model/User.spec.js
Labels: Client: JavaScript/Node.js, Enhancement: General

#5660 [Rust Server] Handle text/xml correctly
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/test/resources/3_0/rust-server/openapi-v3.yaml
  samples/server/petstore/rust-server/output/openapi-v3/api/openapi.yaml
  samples/server/petstore/rust-server/output/openapi-v3/docs/default_api.md
  samples/server/petstore/rust-server/output/openapi-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/mimetypes.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/mod.rs
Labels: Client: Rust, Server: Rust

#5396 [kotlin][client] Use allVars instead of vars for Kotlin client
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-client/data_class.mustache
Labels: Client: Kotlin, Issue: Bug

#5651 [C++] [Qt5] fixed cpp-client-qt5 HttpRequestWorker requests crashing on timeout...
  modules/openapi-generator/src/main/resources/cpp-qt5-client/HttpRequest.cpp.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/HttpRequest.h.mustache
  samples/client/petstore/cpp-qt5/client/PFXHttpRequest.cpp
  samples/client/petstore/cpp-qt5/client/PFXHttpRequest.h
Labels: Client: C++, Issue: Bug

#5725 Fix SSL setting in checkout script
  bin/utils/release_checkout.rb
Labels: Issue: Bug

#5642 [C] fix decode funtion
  modules/openapi-generator/src/main/resources/C-libcurl/apiClient.c.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/model-body.mustache
Labels: Client: C, Issue: Bug

#5727 Update bump.sh to go SNAPSHOT to version
  bin/utils/release/bump.sh
Labels: Enhancement: General

#5739 [PS][Experimental] Better appveyor test
  modules/openapi-generator/src/main/resources/powershell-experimental/appveyor.mustache
  samples/client/petstore/powershell-experimental/.openapi-generator/VERSION
  samples/client/petstore/powershell-experimental/appveyor.yml
Labels: Client: PowerShell, Enhancement: CI/Test

#5731 [C++] [Qt5] Remove warning for unused camel case vendor extension for Qt5 client
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppQt5AbstractCodegen.java
Labels: Client: C++, Enhancement: General

#5741 [PS][Experimental] Add multiple server support
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellExperimentalClientCodegen.java
  modules/openapi-generator/src/main/resources/powershell-experimental/configuration.mustache
  modules/openapi-generator/src/test/resources/3_0/powershell/petstore.yaml
  samples/client/petstore/powershell-experimental/README.md
  samples/client/petstore/powershell-experimental/docs/PSPetApi.md
  samples/client/petstore/powershell-experimental/docs/PSStoreApi.md
  samples/client/petstore/powershell-experimental/docs/PSUserApi.md
  samples/client/petstore/powershell-experimental/src/PSPetstore/API/PSStoreApi.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Client/PSConfiguration.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/PSPetstore.psd1
  samples/client/petstore/powershell-experimental/tests/Petstore.Tests.ps1
Labels: Client: PowerShell, Enhancement: Feature, Feature: OAS 3.0 spec support

#5557 [Rust Server] Don't use structs in models
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/resources/rust-server/client-imports.mustache
  modules/openapi-generator/src/main/resources/rust-server/example-server-common.mustache
  modules/openapi-generator/src/main/resources/rust-server/lib.mustache
  modules/openapi-generator/src/main/resources/rust-server/models.mustache
  modules/openapi-generator/src/main/resources/rust-server/server-imports.mustache
  modules/openapi-generator/src/main/resources/rust-server/server-operation.mustache
  modules/openapi-generator/src/test/resources/3_0/rust-server/openapi-v3.yaml
  modules/openapi-generator/src/test/resources/3_0/rust-server/piers.yaml
  samples/server/petstore/rust-server/output/multipart-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/lib.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/models.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/no-example-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/no-example-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/no-example-v3/src/lib.rs
  samples/server/petstore/rust-server/output/no-example-v3/src/models.rs
  samples/server/petstore/rust-server/output/no-example-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/README.md
  samples/server/petstore/rust-server/output/openapi-v3/api/openapi.yaml
  samples/server/petstore/rust-server/output/openapi-v3/docs/Err.md
  samples/server/petstore/rust-server/output/openapi-v3/docs/Error.md
  samples/server/petstore/rust-server/output/openapi-v3/docs/Ok.md
  samples/server/petstore/rust-server/output/openapi-v3/docs/Result.md
  samples/server/petstore/rust-server/output/openapi-v3/examples/client/server.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/callbacks.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/models.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/callbacks.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/ops-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/ops-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/ops-v3/src/lib.rs
  samples/server/petstore/rust-server/output/ops-v3/src/models.rs
  samples/server/petstore/rust-server/output/ops-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/AdditionalPropertiesClass.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/MapTest.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/MixedPropertiesAndAdditionalPropertiesClass.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/store_api.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/examples/server/server.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/client/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/lib.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/models.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/server/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/examples/server/server.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/client/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/lib.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/models.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/server/mod.rs
Labels: Client: Rust, Server: Rust

#5746 [PS][Experimental] Add default headers support
  modules/openapi-generator/src/main/resources/powershell-experimental/api_client.mustache
  modules/openapi-generator/src/main/resources/powershell-experimental/configuration.mustache
  samples/client/petstore/powershell-experimental/src/PSPetstore/Client/PSConfiguration.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/PSPetstore.psd1
  samples/client/petstore/powershell-experimental/src/PSPetstore/Private/PSApiClient.ps1
  samples/client/petstore/powershell-experimental/tests/Petstore.Tests.ps1
Labels: Client: PowerShell, Enhancement: General

#5719 [C][Client] Support SSL client authentication for the c client
  modules/openapi-generator/src/main/resources/C-libcurl/apiClient.c.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/apiClient.h.mustache
  samples/client/petstore/c/include/apiClient.h
  samples/client/petstore/c/src/apiClient.c
Labels: Client: C

#5435 [kotlin] Fix #5247 incorrect enum parameter type for arrays
  modules/openapi-generator/src/main/resources/kotlin-client/data_class.mustache
Labels: Client: Kotlin

#5751 [Erlang-Server] security definition context changes don't propagate to handler
  modules/openapi-generator/src/main/resources/erlang-server/handler.mustache
  samples/server/petstore/erlang-server/.openapi-generator/VERSION
  samples/server/petstore/erlang-server/src/openapi_pet_handler.erl
  samples/server/petstore/erlang-server/src/openapi_store_handler.erl
  samples/server/petstore/erlang-server/src/openapi_user_handler.erl
Labels: Issue: Bug, Server: Erlang

#5768 [PS][PowerShell] fix passthru, use switch instead of bool
  modules/openapi-generator/src/main/resources/powershell-experimental/configuration.mustache
  samples/client/petstore/powershell-experimental/src/PSPetstore/Client/PSConfiguration.ps1
  samples/client/petstore/powershell-experimental/src/PSPetstore/PSPetstore.psd1
  samples/client/petstore/powershell-experimental/tests/Petstore.Tests.ps1
Labels: Client: PowerShell, Enhancement: General, Issue: Bug

#5767 Comment out kotlin vertx server test to fix CI failure
  pom.xml
  samples/server/petstore/kotlin/vertx/pom.xml
Labels: Enhancement: CI/Test, Server: Kotlin

#5745 fix request.on_complete message when tempfile is nil
  modules/openapi-generator/src/main/resources/ruby-client/api_client.mustache
  samples/client/petstore/ruby-faraday/lib/petstore/api_client.rb
  samples/client/petstore/ruby/lib/petstore/api_client.rb
  samples/openapi3/client/petstore/ruby-faraday/lib/petstore/api_client.rb
  samples/openapi3/client/petstore/ruby/lib/petstore/api_client.rb
Labels: Client: Ruby, Issue: Bug
