Repository OpenAPITools/openapi-generator, pull requests merged in 2021-03, with the labels that each got.

#8725 [C++][Qt5] Added function to add a new Server. Removed unused variables
  modules/openapi-generator/src/main/resources/cpp-qt5-client/ServerConfiguration.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-header.mustache
  samples/client/petstore/cpp-qt5/client/PFXPetApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXPetApi.h
  samples/client/petstore/cpp-qt5/client/PFXServerConfiguration.h
  samples/client/petstore/cpp-qt5/client/PFXStoreApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXStoreApi.h
  samples/client/petstore/cpp-qt5/client/PFXUserApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXUserApi.h
Labels: Client: C++, Client: QT, Enhancement: General

#8855 Test go-gin-server sample with `go test -v`
  modules/openapi-generator/src/main/resources/go-gin-server/main.mustache
  samples/server/petstore/go-gin-api-server/main.go
  samples/server/petstore/go-gin-api-server/pom.xml
Labels: Enhancement: CI/Test, Enhancement: Code format, Server: Go

#8372 [bug][dart][dart-dio] Improve parameterToString handling
  modules/openapi-generator/src/main/resources/dart-dio/api.mustache
  modules/openapi-generator/src/main/resources/dart-dio/api_util.mustache
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api/pet_api.dart
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api_util.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api_util.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api_util.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake_tests/test/api/fake_api_test.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake_tests/test/api_util_test.dart
Labels: Client: Dart, Enhancement: General

#8837 [dart][dart-dio] Handle nullable/required header/query parameters
  modules/openapi-generator/src/main/resources/dart-dio/api.mustache
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api/pet_api.dart
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api/store_api.dart
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api/user_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/user_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/another_fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/default_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/fake_classname_tags123_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/user_api.dart
Labels: Client: Dart, Enhancement: Feature, Feature: OAS 3.0 spec support

#8854 [dart] Default value is only available when nullable is not set
  modules/openapi-generator/src/main/resources/dart2/class.mustache
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/additional_properties_class.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/animal.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/array_of_array_of_number_only.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/array_of_number_only.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/array_test.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/cat.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/category.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/dog.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/enum_arrays.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/enum_test.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/file_schema_test_class.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/foo.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/health_check_result.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/map_test.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/mixed_properties_and_additional_properties_class.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/nullable_class.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/order.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/pet.dart
Labels: Client: Dart, Enhancement: General

#8830 [C++][Qt5] added QSet as datatype for unique items
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppQt5AbstractCodegen.java
  modules/openapi-generator/src/main/resources/cpp-qt5-client/helpers-header.mustache
  samples/client/petstore/cpp-qt5/client/PFXHelpers.h
Labels: Client: C++, Client: QT, Enhancement: General

#8870 [dart][dart-dio] Fix failing master due to unstable test dependency
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake_tests/pubspec.yaml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake_tests/test/api/fake_api_test.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake_tests/test/api/pet_api_test.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake_tests/test/api/store_api_test.dart
Labels: Client: Dart, Enhancement: CI/Test

#8733 [QT5] Support optional params using QVariant
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-header.mustache
  samples/client/petstore/cpp-qt5/PetStore/PetApiTests.cpp
  samples/client/petstore/cpp-qt5/client/PFXPetApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXPetApi.h
  samples/client/petstore/cpp-qt5/client/PFXStoreApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXStoreApi.h
  samples/client/petstore/cpp-qt5/client/PFXUserApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXUserApi.h
Labels: Client: C++, Client: QT, Enhancement: Feature

#8848 [csharp-netcore] Fix handling of Dictionary query parameters and fix deepObject style parameter handling
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/resources/csharp-netcore/ClientUtils.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/api.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/ClientUtils.cs
Labels: Client: C-Sharp, Issue: Bug

#8873 [C++][Qt5]Add QSet Header to the Helper
  modules/openapi-generator/src/main/resources/cpp-qt5-client/helpers-header.mustache
  samples/client/petstore/cpp-qt5/client/PFXHelpers.h
Labels: Client: C++, Client: QT, Issue: Bug

#8872 [C#][netcore] update dependencies to newer versions
  modules/openapi-generator/src/main/resources/csharp-netcore/README.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/netcore_project.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/nuspec.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Org.OpenAPITools.csproj
Labels: Client: C-Sharp, Enhancement: Compatibility

#8879 [C++][QT]Minor change in Indentation and readability
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-body.mustache
  samples/client/petstore/cpp-qt5/client/PFXPetApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXStoreApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXUserApi.cpp
Labels: Client: C++, Client: QT, Enhancement: Code format

#8885 [csharp-netcore][httpclient] add tests, bug fixes
  README.md
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/httpclient/ApiClient.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/.openapi-generator-ignore
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/.openapi-generator/FILES
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools.Test/Api/PetApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools.Test/linux-logo.png
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/ApiClient.cs
Labels: Client: C-Sharp, Enhancement: CI/Test, Issue: Bug

#8899 [C++][Qt]Updated test and fix/workaround failed tests
  samples/client/petstore/cpp-qt5/PetStore/PetApiTests.cpp
  samples/client/petstore/cpp-qt5/PetStore/PetApiTests.h
  samples/client/petstore/cpp-qt5/PetStore/StoreApiTests.cpp
  samples/client/petstore/cpp-qt5/PetStore/UserApiTests.cpp
  samples/client/petstore/cpp-qt5/PetStore/UserApiTests.h
Labels: Client: C++, Client: QT, Enhancement: CI/Test

#8884 [Qt5] Emit signal when api has finished processing all pending work
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-header.mustache
  samples/client/petstore/cpp-qt5/client/PFXPetApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXPetApi.h
  samples/client/petstore/cpp-qt5/client/PFXStoreApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXStoreApi.h
  samples/client/petstore/cpp-qt5/client/PFXUserApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXUserApi.h
Labels: Client: C++, Client: QT, Enhancement: General

#8874 [C++][Qt]Make header checks case insensitive as described in RFC
  modules/openapi-generator/src/main/resources/cpp-qt5-client/HttpRequest.cpp.mustache
  samples/client/petstore/cpp-qt5/client/PFXHttpRequest.cpp
Labels: Client: C++, Client: QT, Issue: Bug

#8507 [Gradle Plugin] Allow to set additional property of any type. Useful for Boolean values.
  modules/openapi-generator-gradle-plugin/README.adoc
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/extensions/OpenApiGeneratorGenerateExtension.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
Labels: Enhancement: General, OpenAPI Generator Gradle Plugin

#8903 Fix String cast error on default object
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
Labels: Client: Go, Issue: Bug

#8910 Changed virtualan version from 1.0.0 to 2.1.7. Update readme.md and d…
  docs/generators/spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-boot/README.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-boot/pom.mustache
  samples/server/petstore/springboot-virtualan/README.md
  samples/server/petstore/springboot-virtualan/pom.xml
Labels: Enhancement: Compatibility, Server: Java, Server: Spring

#8889 [C#][netcore] Call static method without creating instance
  modules/openapi-generator/src/main/resources/csharp-netcore/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/httpclient/ApiClient.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/ApiClient.cs
Labels: Client: C-Sharp, Feature: OAS 3.0 spec support, Issue: Bug

#8908 Adds getAdditionalPropertiesIsAnyType to java schema classes
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModel.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenProperty.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenResponse.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/IJsonSchemaValidationProperties.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  samples/openapi3/client/petstore/python-experimental/.coverage
  samples/server/petstore/java-undertow/src/main/java/org/openapitools/handler/PathHandlerInterface.java
Labels: Client: Java

#8861 [JMeter] fix header parameter naming
  modules/openapi-generator/src/main/resources/jmeter-client/api.mustache
  samples/client/petstore/jmeter/.openapi-generator/FILES
  samples/client/petstore/jmeter/.openapi-generator/VERSION
  samples/client/petstore/jmeter/PetApi.jmx
Labels: Client: JMeter, Issue: Bug

#8913 Add tests for array of string serialization
  bin/utils/test_file_list.yaml
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools.Test/Api/PetApiTests.cs
Labels: Client: C-Sharp, Enhancement: CI/Test

#8917 Update usage.md
  docs/usage.md
Labels: Feature: Documentation

#8912 [C#][netcore] Fix deserialisation for models with additional properties
  modules/openapi-generator/src/main/resources/csharp-netcore/modelOneOf.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/Fruit.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/FruitReq.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/Mammal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/NullableShape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/Pig.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/Quadrilateral.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/Shape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/ShapeOrNull.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/Triangle.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Fruit.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/FruitReq.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Mammal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/NullableShape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Pig.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Quadrilateral.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Shape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/ShapeOrNull.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Triangle.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/Fruit.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/FruitReq.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/Mammal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/NullableShape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/Pig.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/Quadrilateral.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/Shape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/ShapeOrNull.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/Triangle.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools.Test/JSONComposedSchemaTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Fruit.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/FruitReq.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Mammal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/NullableShape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Pig.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Quadrilateral.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Shape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/ShapeOrNull.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Triangle.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Fruit.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/FruitReq.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Mammal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/NullableShape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Pig.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Quadrilateral.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Shape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/ShapeOrNull.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Triangle.cs
Labels: Client: C-Sharp, Feature: OAS 3.0 spec support, Issue: Bug

#8886 Fix not processing enums in cpp-pistache-server
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCppCodegen.java
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-header.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-source.mustache
  samples/server/petstore/cpp-pistache/.openapi-generator/VERSION
  samples/server/petstore/cpp-pistache/model/ApiResponse.cpp
  samples/server/petstore/cpp-pistache/model/Category.cpp
  samples/server/petstore/cpp-pistache/model/Order.cpp
  samples/server/petstore/cpp-pistache/model/Pet.cpp
  samples/server/petstore/cpp-pistache/model/Tag.cpp
  samples/server/petstore/cpp-pistache/model/User.cpp
Labels: Enhancement: General, Feature: Enum, Server: C++

#8928 Adds hasVars
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModel.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenProperty.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenResponse.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/IJsonSchemaValidationProperties.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_7613.yaml
  samples/openapi3/client/petstore/python-experimental/.coverage
  samples/server/petstore/java-undertow/src/main/java/org/openapitools/handler/PathHandlerInterface.java
Labels: Client: Java

#8933 Remove deprecated restsharp parameter class
  modules/openapi-generator/src/main/resources/csharp-netcore/ApiClient.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/ApiClient.cs
Labels: Client: C-Sharp, Enhancement: Code Cleanup

#8923 [JaxRS] Fix ambiguous dependency (#8922)
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-cdi/pom.mustache
  samples/server/petstore/jaxrs-cxf-cdi/pom.xml
Labels: Issue: Bug, Server: Java

#8877 Fix python example list
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonClientTest.java
  modules/openapi-generator/src/test/resources/3_0/python/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
Labels: Client: Python

#8947 [dart][dart-dio] Lower upper bound for built_value
  modules/openapi-generator/src/main/resources/dart-dio/pubspec.mustache
  samples/client/petstore/dart-dio/petstore_client_lib/pubspec.yaml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/pubspec.yaml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/pubspec.yaml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake_tests/pubspec.yaml
Labels: Client: Dart, Enhancement: CI/Test

#8433 Arrow function removed
  modules/openapi-generator/src/main/resources/typescript-angular/README.mustache
  samples/client/petstore/typescript-angular-v10-provided-in-root/builds/default/README.md
  samples/client/petstore/typescript-angular-v10-provided-in-root/builds/with-npm/README.md
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/default/README.md
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/README.md
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/README.md
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/README.md
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/README.md
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/README.md
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/README.md
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/README.md
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/README.md
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/README.md
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/README.md
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/README.md
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/README.md
  samples/client/petstore/typescript-angular-v9-provided-in-any/builds/default/README.md
  samples/client/petstore/typescript-angular-v9-provided-in-root/builds/default/README.md
  samples/client/petstore/typescript-angular-v9-provided-in-root/builds/with-npm/README.md
Labels: Client: TypeScript, Issue: Bug

#8882 [dart] Fix api client deserialization for json_serializable
  modules/openapi-generator/src/main/resources/dart2/api.mustache
  modules/openapi-generator/src/main/resources/dart2/api_client.mustache
  modules/openapi-generator/src/main/resources/dart2/api_helper.mustache
  pom.xml
  samples/client/petstore/dart2/petstore_client_lib/lib/api/pet_api.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api/store_api.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api/user_api.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api_client.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/api/user_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/api_client.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/another_fake_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/default_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/fake_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/fake_classname_tags123_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/user_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api_client.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api_helper.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/another_fake_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/default_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/fake_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/fake_classname_tags123_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/user_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api_client.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api_helper.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/pom.xml
Labels: Client: Dart, Issue: Bug

#8939 [C#][netcore] better code format
  modules/openapi-generator/src/main/resources/csharp-netcore/HttpSigningConfiguration.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
Labels: Client: C-Sharp, Enhancement: Code format

#8938 Do not generate Application.kt when interfaceOnly=true
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinSpringServerCodegen.java
Labels: Enhancement: General, Server: Kotlin

#8951 Add messages about powershell ebook after generating a PowerShell client
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellClientCodegen.java
Labels: Client: PowerShell, Enhancement: General

#8956 [csharp][aspnetcore] Fix ASPNetCore not adding version to csproj
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetCoreServerCodegen.java
  modules/openapi-generator/src/main/resources/aspnetcore/2.0/Project.csproj.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/Project.csproj.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/3.0/Project.csproj.mustache
  samples/server/petstore/aspnetcore-3.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/server/petstore/aspnetcore-3.1/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Org.OpenAPITools.csproj
Labels: Issue: Bug, Server: C-Sharp

#8935 [REQ][PowerShell] Add additional reserved words list for parameter name in PowerShell
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellClientCodegen.java
Labels: Client: PowerShell, Enhancement: General

#8963 [Java][webclient] Fix deprecation warning: BodyInserters.fromObject
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/pom.mustache
  samples/client/petstore/java/webclient/build.gradle
  samples/client/petstore/java/webclient/pom.xml
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: Code Cleanup

#8969 [java] fix deprecation warnings
  modules/openapi-generator/src/main/resources/Java/JSON.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/auth/OAuthOkHttpClient.mustache
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/auth/OAuthOkHttpClient.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/auth/OAuthOkHttpClient.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/auth/OAuthOkHttpClient.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/JSON.java
Labels: Client: Java, Enhancement: Code Cleanup

#6494 [jaxrs-cxf][jaxrs-spec] Add missing @NotNull annotation for required body parameters when using BeanValidation, fixes #4280
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/bodyParams.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/bodyParams.mustache
  samples/server/petstore/jaxrs-cxf-annotated-base-path/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-cxf-annotated-base-path/src/gen/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/jaxrs-cxf-annotated-base-path/src/gen/java/org/openapitools/api/UserApi.java
  samples/server/petstore/jaxrs-cxf-non-spring-app/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-cxf-non-spring-app/src/gen/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/jaxrs-cxf-non-spring-app/src/gen/java/org/openapitools/api/UserApi.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/org/openapitools/api/AnotherFakeApi.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/org/openapitools/api/FakeClassnameTags123Api.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/jaxrs-cxf/src/gen/java/org/openapitools/api/UserApi.java
  samples/server/petstore/jaxrs-spec-interface/src/gen/java/org/openapitools/api/AnotherFakeApi.java
  samples/server/petstore/jaxrs-spec-interface/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs-spec-interface/src/gen/java/org/openapitools/api/FakeClassnameTestApi.java
  samples/server/petstore/jaxrs-spec-interface/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-spec-interface/src/gen/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/jaxrs-spec-interface/src/gen/java/org/openapitools/api/UserApi.java
  samples/server/petstore/jaxrs-spec/src/gen/java/org/openapitools/api/AnotherFakeApi.java
  samples/server/petstore/jaxrs-spec/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs-spec/src/gen/java/org/openapitools/api/FakeClassnameTestApi.java
  samples/server/petstore/jaxrs-spec/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-spec/src/gen/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/jaxrs-spec/src/gen/java/org/openapitools/api/UserApi.java
Labels: Issue: Bug, Server: Java

#8845 [Rust Client] several small fixes to code generation errors
  docs/generators/rust.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustClientCodegen.java
  modules/openapi-generator/src/main/resources/rust/Cargo.mustache
  modules/openapi-generator/src/main/resources/rust/model.mustache
  modules/openapi-generator/src/main/resources/rust/reqwest/api.mustache
  modules/openapi-generator/src/main/resources/rust/reqwest/configuration.mustache
  samples/client/petstore/rust/hyper/petstore/Cargo.toml
  samples/client/petstore/rust/hyper/petstore/src/models/pet.rs
  samples/client/petstore/rust/reqwest/petstore-async/Cargo.toml
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/configuration.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/models/pet.rs
  samples/client/petstore/rust/reqwest/petstore/Cargo.toml
  samples/client/petstore/rust/reqwest/petstore/src/apis/configuration.rs
  samples/client/petstore/rust/reqwest/petstore/src/models/pet.rs
Labels: Client: Rust, Issue: Bug

#8968 [android][volley] various improvements
  modules/openapi-generator/src/main/resources/android/gradle-wrapper.jar
  modules/openapi-generator/src/main/resources/android/gradle-wrapper.properties.mustache
  modules/openapi-generator/src/main/resources/android/gradlew.bat.mustache
  modules/openapi-generator/src/main/resources/android/gradlew.mustache
  modules/openapi-generator/src/main/resources/android/libraries/volley/build.mustache
  samples/client/petstore/android/volley/.openapi-generator/FILES
  samples/client/petstore/android/volley/.openapi-generator/VERSION
  samples/client/petstore/android/volley/README.md
  samples/client/petstore/android/volley/build.gradle
  samples/client/petstore/android/volley/docs/ApiResponse.md
  samples/client/petstore/android/volley/docs/Category.md
  samples/client/petstore/android/volley/docs/Order.md
  samples/client/petstore/android/volley/docs/Pet.md
  samples/client/petstore/android/volley/docs/PetApi.md
  samples/client/petstore/android/volley/docs/StoreApi.md
  samples/client/petstore/android/volley/docs/Tag.md
  samples/client/petstore/android/volley/docs/User.md
  samples/client/petstore/android/volley/docs/UserApi.md
  samples/client/petstore/android/volley/git_push.sh
  samples/client/petstore/android/volley/gradle/wrapper/gradle-wrapper.jar
  samples/client/petstore/android/volley/gradle/wrapper/gradle-wrapper.properties
  samples/client/petstore/android/volley/gradlew
  samples/client/petstore/android/volley/gradlew.bat
  samples/client/petstore/android/volley/pom.xml
  samples/client/petstore/android/volley/src/main/java/org/openapitools/client/ApiException.java
  samples/client/petstore/android/volley/src/main/java/org/openapitools/client/ApiInvoker.java
  samples/client/petstore/android/volley/src/main/java/org/openapitools/client/JsonUtil.java
  samples/client/petstore/android/volley/src/main/java/org/openapitools/client/Pair.java
  samples/client/petstore/android/volley/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/android/volley/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/android/volley/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/android/volley/src/main/java/org/openapitools/client/auth/ApiKeyAuth.java
  samples/client/petstore/android/volley/src/main/java/org/openapitools/client/auth/Authentication.java
  samples/client/petstore/android/volley/src/main/java/org/openapitools/client/auth/HttpBasicAuth.java
  samples/client/petstore/android/volley/src/main/java/org/openapitools/client/model/ApiResponse.java
  samples/client/petstore/android/volley/src/main/java/org/openapitools/client/model/Category.java
  samples/client/petstore/android/volley/src/main/java/org/openapitools/client/model/Order.java
  samples/client/petstore/android/volley/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/android/volley/src/main/java/org/openapitools/client/model/Tag.java
  samples/client/petstore/android/volley/src/main/java/org/openapitools/client/model/User.java
  samples/client/petstore/android/volley/src/main/java/org/openapitools/client/request/DeleteRequest.java
  samples/client/petstore/android/volley/src/main/java/org/openapitools/client/request/GetRequest.java
  samples/client/petstore/android/volley/src/main/java/org/openapitools/client/request/PatchRequest.java
  samples/client/petstore/android/volley/src/main/java/org/openapitools/client/request/PostRequest.java
  samples/client/petstore/android/volley/src/main/java/org/openapitools/client/request/PutRequest.java
Labels: Client: Android, Enhancement: Compatibility, Enhancement: General

#8940 Better error handling for toExampleValue
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Enhancement: Feature, Feature: Generator

#8672 Fix for StackOverflow in Swift5 CodeGeneration Issue #8671
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift5ClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/swift5/Swift5ClientCodegenTest.java
  modules/openapi-generator/src/test/resources/bugs/Swift5CodeGenarationBug2.yaml
  samples/client/petstore/swift5/alamofireLibrary/docs/FakeAPI.md
  samples/client/petstore/swift5/combineLibrary/docs/FakeAPI.md
  samples/client/petstore/swift5/default/docs/FakeAPI.md
  samples/client/petstore/swift5/nonPublicApi/docs/FakeAPI.md
  samples/client/petstore/swift5/objcCompatible/docs/FakeAPI.md
  samples/client/petstore/swift5/promisekitLibrary/docs/FakeAPI.md
  samples/client/petstore/swift5/readonlyProperties/docs/FakeAPI.md
  samples/client/petstore/swift5/resultLibrary/docs/FakeAPI.md
  samples/client/petstore/swift5/rxswiftLibrary/docs/FakeAPI.md
  samples/client/petstore/swift5/urlsessionLibrary/docs/FakeAPI.md
Labels: Client: Swift, Issue: Bug

#8960 [C++][Qt]Replace usage of QVariant with a more intuitive optional wrapper
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-header.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/helpers-header.mustache
  samples/client/petstore/cpp-qt5/PetStore/PetApiTests.cpp
  samples/client/petstore/cpp-qt5/client/PFXHelpers.h
  samples/client/petstore/cpp-qt5/client/PFXPetApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXPetApi.h
  samples/client/petstore/cpp-qt5/client/PFXStoreApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXStoreApi.h
  samples/client/petstore/cpp-qt5/client/PFXUserApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXUserApi.h
Labels: Client: C++, Client: QT, Issue: Regression

#8887 Skip examples on complex body in Java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/resources/3_0/java/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/openapi3/client/petstore/java/jersey2-java8/api/openapi.yaml
  samples/openapi3/client/petstore/java/native/api/openapi.yaml
Labels: Client: Java, Enhancement: General

#8981 [C][Client] Generate API and module documents automatically
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CLibcurlClientCodegen.java
  modules/openapi-generator/src/main/resources/C-libcurl/README.md.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/api_doc.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/model_doc.mustache
  samples/client/petstore/c/.openapi-generator/FILES
  samples/client/petstore/c/README.md
  samples/client/petstore/c/docs/PetAPI.md
  samples/client/petstore/c/docs/StoreAPI.md
  samples/client/petstore/c/docs/UserAPI.md
  samples/client/petstore/c/docs/api_response.md
  samples/client/petstore/c/docs/category.md
  samples/client/petstore/c/docs/order.md
  samples/client/petstore/c/docs/pet.md
  samples/client/petstore/c/docs/tag.md
  samples/client/petstore/c/docs/user.md
Labels: Client: C, Enhancement: Feature, Feature: Documentation

#8958 [dart] Split mustache file by serialization
  modules/openapi-generator/src/main/resources/dart2/dart_constructor.mustache
  modules/openapi-generator/src/main/resources/dart2/model.mustache
  modules/openapi-generator/src/main/resources/dart2/serialization/json_serializable/json_serializable_class.mustache
  modules/openapi-generator/src/main/resources/dart2/serialization/json_serializable/json_serializable_enum.mustache
  modules/openapi-generator/src/main/resources/dart2/serialization/json_serializable/json_serializable_enum_inline.mustache
  modules/openapi-generator/src/main/resources/dart2/serialization/native/native_class.mustache
  modules/openapi-generator/src/main/resources/dart2/serialization/native/native_enum.mustache
  modules/openapi-generator/src/main/resources/dart2/serialization/native/native_enum_inline.mustache
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/additional_properties_class.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/animal.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/api_response.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/array_of_array_of_number_only.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/array_of_number_only.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/array_test.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/capitalization.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/cat.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/cat_all_of.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/category.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/class_model.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/dog.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/dog_all_of.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/enum_arrays.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/enum_class.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/enum_test.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/file_schema_test_class.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/foo.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/format_test.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/has_only_read_only.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/health_check_result.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/inline_response_default.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/map_test.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/mixed_properties_and_additional_properties_class.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/model200_response.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/model_client.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/model_file.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/model_list.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/model_return.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/name.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/nullable_class.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/number_only.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/order.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/outer_composite.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/outer_enum.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/outer_enum_default_value.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/outer_enum_integer.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/outer_enum_integer_default_value.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/outer_object_with_enum_property.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/pet.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/read_only_first.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/special_model_name.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/tag.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/model/user.dart
Labels: Client: Dart, Enhancement: General

#8689 [Kotlin] Upgrade jackson version used in the Kotlin client
  modules/openapi-generator/src/main/resources/kotlin-client/build.gradle.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/jvm-common/infrastructure/Serializer.kt.mustache
  samples/client/petstore/kotlin-jackson/build.gradle
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
Labels: Client: Kotlin, Enhancement: Compatibility

#8964 [cpp-ue4] Added UE4.26 support,
  modules/openapi-generator/src/main/resources/cpp-ue4/api-header.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/api-operations-header.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/api-operations-source.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/api-source.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/helpers-header.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/helpers-source.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/model-base-header.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/model-base-source.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/model-source.mustache
  samples/client/petstore/cpp-ue4/.openapi-generator/VERSION
  samples/client/petstore/cpp-ue4/Private/OpenAPIBaseModel.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIHelpers.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIPetApi.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIPetApiOperations.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIStoreApi.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIStoreApiOperations.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIUserApi.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIUserApiOperations.cpp
  samples/client/petstore/cpp-ue4/Public/OpenAPIBaseModel.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIHelpers.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIPetApi.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIPetApiOperations.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIStoreApi.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIStoreApiOperations.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIUserApi.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIUserApiOperations.h
Labels: Client: C++, Enhancement: Compatibility, Enhancement: General

#8985 [dart][dart-dio] Fix missing byte response cast
  modules/openapi-generator/src/main/resources/dart-dio/api.mustache
Labels: Client: Dart, Issue: Bug

#8975 [DART] Add standard generated classes as reserved
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartClientCodegen.java
Labels: Client: Dart, Enhancement: General

#8997 Update sponsorship message in the R generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
Labels: Client: R, Enhancement: General

#8962 Adds hasRequired to all Java schema classes
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModel.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenProperty.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenResponse.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/IJsonSchemaValidationProperties.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_8906.yaml
  samples/server/petstore/java-undertow/src/main/java/org/openapitools/handler/PathHandlerInterface.java
Labels: Client: Java

#9004 Update post code generation message in the Perl client generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PerlClientCodegen.java
Labels: Client: Perl, Enhancement: General

#8991 [Android][Volley] Remove unnecessary dependencies
  modules/openapi-generator/src/main/resources/android/libraries/volley/build.mustache
  modules/openapi-generator/src/main/resources/android/libraries/volley/pom.mustache
  samples/client/petstore/android/volley/build.gradle
  samples/client/petstore/android/volley/pom.xml
Labels: Client: Android, Enhancement: Compatibility

#8979 [dart] mark json_serializable as experimental
  docs/generators/dart.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartClientCodegen.java
  pom.xml
Labels: Client: Dart, Enhancement: General

#8999 [dart] Generic docs update and fixes
  docs/generators/dart-dio.md
  docs/generators/dart-jaguar.md
  docs/generators/dart.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractDartCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartJaguarClientCodegen.java
  modules/openapi-generator/src/main/resources/dart-dio/auth/auth.mustache
  samples/client/petstore/dart-dio/petstore_client_lib/lib/auth/auth.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/auth/auth.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/auth/auth.dart
Labels: Client: Dart, Enhancement: Feature, Feature: Documentation

#9016 [c#][netcore] mark httpclient support as experimental
  docs/generators/csharp-netcore.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
Labels: Client: C-Sharp, Enhancement: General

#9028 [Dart] move dart tests to node 2, remove oas v2 dart tests
  CI/circle_parallel.sh
  pom.xml
Labels: Client: Dart, Enhancement: CI/Test

#9033 Sets model.additionalProperties for composed schemas
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/2_0/additional-properties-for-testing.yaml
Labels: Client: Java

#8972 [Java] Update WebClient dependencies
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/pom.mustache
  samples/client/petstore/java/webclient/build.gradle
  samples/client/petstore/java/webclient/pom.xml
Labels: Client: Java, Enhancement: Compatibility

#9042 [C#][netcore] Set EmitDefaultValue to true for boolean property
  modules/openapi-generator/src/main/resources/csharp-netcore/modelGeneric.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/AppleReq.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/BananaReq.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/Cat.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/CatAllOf.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/Order.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/OuterComposite.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/Whale.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/AppleReq.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/BananaReq.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Cat.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/CatAllOf.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Order.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/OuterComposite.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Whale.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/AppleReq.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/BananaReq.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/Cat.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/CatAllOf.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/Order.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/OuterComposite.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/Whale.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools.Test/JSONComposedSchemaTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/AppleReq.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/BananaReq.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Cat.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/CatAllOf.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Order.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/OuterComposite.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Whale.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/AppleReq.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/BananaReq.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Cat.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/CatAllOf.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Order.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/OuterComposite.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Whale.cs
Labels: Client: C-Sharp, Issue: Bug

#9051 [PS] fix build error with `-name` in Install-Module
  appveyor.yml
Labels: Client: PowerShell, Enhancement: CI/Test

#9037 [csharp][httpclient] Fix accidental use of c# 8 language feature
  bin/configs/csharp-netcore-OpenAPIClient-httpclient.yaml
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/httpclient/ApiClient.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Org.OpenAPITools.csproj
Labels: Client: C-Sharp, Enhancement: Compatibility

#9039 [csharp][aspnetcore] Enable Consumes Tag for Specs where not every operation consumes
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetCoreServerCodegen.java
  samples/server/petstore/aspnetcore-3.0/src/Org.OpenAPITools/Controllers/PetApi.cs
  samples/server/petstore/aspnetcore-3.1/src/Org.OpenAPITools/Controllers/PetApi.cs
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Controllers/PetApi.cs
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Controllers/StoreApi.cs
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Controllers/UserApi.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/PetApi.cs
Labels: Issue: Bug, Server: C-Sharp

#9040 [csharp][aspnetcore] Fix FromForm for complex parameters
  modules/openapi-generator/src/main/resources/aspnetcore/3.0/formParam.mustache
Labels: Issue: Bug, Server: C-Sharp

#9012 [scala-akka-http-server] allows generation of managed sources only
  docs/generators/scala-akka-http-server.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaAkkaHttpServerCodegen.java
Labels: Enhancement: Feature, Server: Scala

#8994 [php-symfony] remove nested Valid constraint
  modules/openapi-generator/src/main/resources/php-symfony/api_input_validation.mustache
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/PetController.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/UserController.php
Labels: Issue: Bug, Server: PHP

#9063 Use InterruptedException, IOException instead of just Exception
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCppCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractDartCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractFSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPhpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractRubyCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractScalaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CLibcurlClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CrystalClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellHttpClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellServantCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptApolloClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/NodeJSExpressServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/OCamlClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PerlClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift4Codegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift5ClientCodegen.java
Labels: Enhancement: Code Cleanup, Feature: Generator

#9035 Fix integer enum in csharp generators
  bin/utils/test_file_list.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/resources/csharp-netcore/enumClass.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/modelEnum.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/EnumClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/OuterEnum.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/OuterEnumDefaultValue.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/OuterEnumInteger.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/OuterEnumIntegerDefaultValue.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/EnumClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/OuterEnum.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/OuterEnumDefaultValue.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/OuterEnumInteger.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/OuterEnumIntegerDefaultValue.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/EnumClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/OuterEnum.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/OuterEnumDefaultValue.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/OuterEnumInteger.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/OuterEnumIntegerDefaultValue.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools.Test/JSONComposedSchemaTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/EnumClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/OuterEnum.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/OuterEnumDefaultValue.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/OuterEnumInteger.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/OuterEnumIntegerDefaultValue.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/EnumClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/OuterEnum.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/OuterEnumDefaultValue.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/OuterEnumInteger.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/OuterEnumIntegerDefaultValue.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Model/OuterEnumInteger.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Model/OuterEnumIntegerDefaultValue.cs
Labels: Client: C-Sharp, Feature: Enum, Issue: Bug

#9084 Restore interrupted state when InterruptedException occurs
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCppCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractDartCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractFSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPhpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractRubyCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractScalaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CLibcurlClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CrystalClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellHttpClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellServantCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptApolloClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/NodeJSExpressServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/OCamlClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PerlClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift4Codegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift5ClientCodegen.java
Labels: Enhancement: General, Feature: Generator

#9090 [Dart] Better logging
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractDartCodegen.java
Labels: Client: Dart, Enhancement: Code Cleanup

#9092 [Dart] Use interrupted exception instead of just exception
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractDartCodegen.java
Labels: Client: Dart, Enhancement: Code Cleanup

#8368 [ASPNETCORE 3.x] Microsoft.AspNetCore.Authorization directive no longer requires useSwashbuckle condition
  modules/openapi-generator/src/main/resources/aspnetcore/3.0/controller.mustache
  samples/server/petstore/aspnetcore-3.0/src/Org.OpenAPITools/Controllers/PetApi.cs
  samples/server/petstore/aspnetcore-3.0/src/Org.OpenAPITools/Controllers/StoreApi.cs
  samples/server/petstore/aspnetcore-3.0/src/Org.OpenAPITools/Controllers/UserApi.cs
  samples/server/petstore/aspnetcore-3.1/src/Org.OpenAPITools/Controllers/PetApi.cs
  samples/server/petstore/aspnetcore-3.1/src/Org.OpenAPITools/Controllers/StoreApi.cs
  samples/server/petstore/aspnetcore-3.1/src/Org.OpenAPITools/Controllers/UserApi.cs
Labels: Issue: Bug, Server: C-Sharp

#8970 [Bash] Update client.mustache
  modules/openapi-generator/src/main/resources/bash/client.mustache
Labels: Client: Bash, Issue: Bug

#8756 fix #8755 [BUG] Java (jersey2) ApiClient debug cannot be enabled
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  samples/client/petstore/java/jersey2-java8-localdatetime/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/extensions/x-auth-id-alias/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8-special-characters/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#7807 Use prepare script instead of prepack in Javascript package.json
  modules/openapi-generator/src/main/resources/Javascript/es6/package.mustache
Labels: Client: JavaScript/Node.js, Issue: Usage/Installation

#7403 [Go] Allow to use custom middleware
  modules/openapi-generator/src/main/resources/go/client.mustache
  modules/openapi-generator/src/main/resources/go/configuration.mustache
Labels: Client: Go, Enhancement: Compatibility

#9091 [python]] minor code improvement
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
Labels: Client: Python, Enhancement: Code Cleanup

#9085 [csharp][netcore-httpclient] Reuse HttpClient, Allow use of external HttpClient, Fix Socket Exhaustion, Alternative With Constructor Injection
  modules/openapi-generator/src/main/resources/csharp-netcore/README.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/httpclient/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/httpclient/api.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/ApiClient.cs
Labels: Client: C-Sharp, Enhancement: General, Enhancement: Performance, Issue: Bug

#9118 [python] fix custom model template feature
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  samples/client/petstore/python/.openapi-generator/FILES
  samples/openapi3/client/extensions/x-auth-id-alias/python/.openapi-generator/FILES
  samples/openapi3/client/features/dynamic-servers/python/.openapi-generator/FILES
  samples/openapi3/client/petstore/python/.openapi-generator/FILES
Labels: Client: Python

#9103 [Ruby] postpone require models with parent
  modules/openapi-generator/src/main/resources/ruby-client/gem.mustache
  samples/client/petstore/ruby-faraday/lib/petstore.rb
  samples/client/petstore/ruby/lib/petstore.rb
  samples/openapi3/client/features/generate-alias-as-model/ruby-client/lib/petstore.rb
Labels: Client: Ruby, Issue: Bug

#9108 [Ruby] remove duplicated supportingFiles.add
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RubyClientCodegen.java
  samples/client/petstore/ruby-faraday/.openapi-generator/FILES
  samples/client/petstore/ruby/.openapi-generator/FILES
  samples/openapi3/client/extensions/x-auth-id-alias/ruby-client/.openapi-generator/FILES
  samples/openapi3/client/features/dynamic-servers/ruby/.openapi-generator/FILES
  samples/openapi3/client/features/generate-alias-as-model/ruby-client/.openapi-generator/FILES
Labels: Client: Ruby, Enhancement: Code Cleanup

#9107 [Rust] Add enum suffix support
  docs/generators/rust.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustClientCodegen.java
Labels: Client: Rust, Enhancement: Feature

#9105 Better null check for response
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Feature: Generator, Feature: OAS 3.0 spec support, Issue: Bug

#9106 Better default value handling in Go generators
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
Labels: Client: Go, Enhancement: General, Server: Go

#9131 Fixes type null not handled properly in [python] toExampleValue
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonLegacyClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonClientTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_8052_recursive_model_expected_value.txt
  samples/client/petstore/python/docs/FakeApi.md
  samples/openapi3/client/petstore/python/docs/FakeApi.md
Labels: Client: Python

#9109 [csharp][netcore-httpclient] Reuse HttpClient, Allow use of external HttpClient. Patch to previous PR.
  modules/openapi-generator/src/main/resources/csharp-netcore/README.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/httpclient/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/httpclient/api.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/README.md
Labels: Client: C-Sharp

#9136 [C#] fix integer enum without format
  bin/utils/test_file_list.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/resources/csharp-netcore/modelGeneric.mustache
  modules/openapi-generator/src/test/resources/3_0/java/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/docs/EnumTest.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/ChildCat.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/ChildCatAllOf.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/EnumArrays.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/EnumTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/MapTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/Order.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/Pet.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/Zebra.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/docs/EnumTest.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/ChildCat.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/ChildCatAllOf.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/EnumArrays.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/EnumTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/MapTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Order.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Pet.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Zebra.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/docs/EnumTest.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/ChildCat.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/ChildCatAllOf.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/EnumArrays.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/EnumTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/MapTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/Order.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/Pet.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/Zebra.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/docs/EnumTest.md
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools.Test/JSONComposedSchemaTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/ChildCat.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/ChildCatAllOf.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/EnumArrays.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/EnumTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/MapTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Order.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Pet.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Zebra.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/docs/EnumTest.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/ChildCat.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/ChildCatAllOf.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/EnumArrays.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/EnumTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/MapTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Order.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Pet.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Zebra.cs
  samples/openapi3/client/petstore/java/jersey2-java8/api/openapi.yaml
  samples/openapi3/client/petstore/java/jersey2-java8/docs/EnumTest.md
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/EnumTest.java
  samples/openapi3/client/petstore/java/native/api/openapi.yaml
  samples/openapi3/client/petstore/java/native/docs/EnumTest.md
  samples/openapi3/client/petstore/java/native/src/main/java/org/openapitools/client/model/EnumTest.java
Labels: Client: C-Sharp, Feature: Enum, Issue: Bug

#9121 [dart][dart-dio] Remove formatting of dart-dio-next sample
  CI/circle_parallel.sh
  bin/configs/dart-dio-next-petstore-client-lib-fake.yaml
  docs/file-post-processing.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractDartCodegen.java
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/another_fake_api.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/default_api.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/fake_api.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/fake_classname_tags123_api.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/store_api.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/user_api.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api_util.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/auth/api_key_auth.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/auth/basic_auth.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/additional_properties_class.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/animal.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/api_response.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/array_of_array_of_number_only.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/array_of_number_only.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/array_test.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/capitalization.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/cat.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/cat_all_of.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/category.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/class_model.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/dog.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/dog_all_of.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/enum_arrays.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/enum_test.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/file_schema_test_class.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/foo.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/format_test.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/has_only_read_only.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/health_check_result.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/inline_response_default.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/map_test.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/mixed_properties_and_additional_properties_class.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/model200_response.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/model_client.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/model_enum_class.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/model_file.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/model_list.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/model_return.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/name.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/nullable_class.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/number_only.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/order.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/outer_composite.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/outer_enum.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/outer_enum_default_value.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/outer_enum_integer.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/outer_enum_integer_default_value.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/outer_object_with_enum_property.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/pet.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/read_only_first.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/special_model_name.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/tag.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/user.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/pom.xml
Labels: Client: Dart, Enhancement: Code format

#9100 [Dart2] Add initial support to use an isolate to offload JSON serialization/deserialization
  modules/openapi-generator/src/main/resources/dart2/api.mustache
  modules/openapi-generator/src/main/resources/dart2/api_client.mustache
  modules/openapi-generator/src/main/resources/dart2/api_helper.mustache
  modules/openapi-generator/src/main/resources/dart2/apilib.mustache
  samples/client/petstore/dart2/petstore/test/pet_faked_client_test.dart
  samples/client/petstore/dart2/petstore/test/pet_test.dart
  samples/client/petstore/dart2/petstore/test/store_faked_client_test.dart
  samples/client/petstore/dart2/petstore/test/user_faked_client_test.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api/pet_api.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api/store_api.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api/user_api.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api_client.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api_helper.dart
  samples/openapi3/client/petstore/dart2/petstore/test/pet_faked_client_test.dart
  samples/openapi3/client/petstore/dart2/petstore/test/pet_test.dart
  samples/openapi3/client/petstore/dart2/petstore/test/store_faked_client_test.dart
  samples/openapi3/client/petstore/dart2/petstore/test/user_faked_client_test.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/api/user_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/api_client.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/api_helper.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/another_fake_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/default_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/fake_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/fake_classname_tags123_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/user_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api_client.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api_helper.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/another_fake_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/default_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/fake_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/fake_classname_tags123_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/user_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api_client.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api_helper.dart
Labels: Client: Dart, Enhancement: General
