Repository OpenAPITools/openapi-generator, pull requests merged in 2021-12, with the labels that each got.

#10996 Add vscode openapi workspace configuration
  openapi-generator.code-workspace
Labels: Enhancement: General

#10998 [okhttp-gson-next-gen] skip custom type adapter factory for parent objects
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson-nextgen/JSON.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson-nextgen/pojo.mustache
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/model/Animal.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/model/GrandparentAnimal.java
Labels: Client: Java, Enhancement: General, Bleeding Edge

#10971 [swift5] Add Hashable to oneOf enums
  modules/openapi-generator/src/main/resources/swift5/modelOneOf.mustache
  samples/client/petstore/swift5/oneOf/PetstoreClient/Classes/OpenAPIs/Models/Fruit.swift
Labels: Client: Swift, Enhancement: Feature, Feature: OAS 3.0 spec support

#11005 [python] fix file path
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonLegacyClientCodegen.java
Labels: Client: Python

#11030 Fixes CodegenMediaType schema baseName
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
Labels: Client: Java

#11012 [Kotlin][Multiplatform] Fix and improve HTTP client configuration
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/multiplatform/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin, Enhancement: General, Issue: Bug

#11020 Azure functions
  docs/generators.md
  docs/generators/csharp-netcore-functions.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreReducedClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CsharpNetcoreFunctionsServerCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/AbstractOpenAPISchema.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/ApiException.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/ApiResponse.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/AssemblyInfo.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/ClientUtils.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/Configuration.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/ExceptionFactory.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/GlobalConfiguration.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/HttpMethod.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/HttpSigningConfiguration.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/IApiAccessor.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/IAsynchronousClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/IReadableConfiguration.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/ISynchronousClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/JsonSubTypesTests.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/Multimap.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/OpenAPIDateConverter.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/README.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/ReadOnlyDictionary.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/RequestOptions.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/RetryConfiguration.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/Solution.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/TestProject.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/WebRequestPathBuilder.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/api.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/api_doc.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/api_test.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/appveyor.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/functions.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/git_push.sh.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/gitignore.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/libraries/httpclient/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/libraries/httpclient/FileParameter.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/libraries/httpclient/RequestOptions.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/libraries/httpclient/api.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/libraries/httpclient/model.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/model.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/modelAnyOf.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/modelEnum.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/modelGeneric.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/modelInnerEnum.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/modelOneOf.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/model_doc.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/model_test.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/netcore_project.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/netcore_testproject.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/nuspec.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/partial_header.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/pathParam.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/project.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/visibility.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/csharp-netcore-functions/CsharpNetcoreFunctionsServerCodegenTest.java
Labels: Enhancement: New generator

#11023 [Kotlin][Multiplatform] Build and test Kotlin Multiplatform samples in CI
  .github/workflows/samples-kotlin.yaml
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/multiplatform/build.gradle.kts.mustache
  samples/client/petstore/kotlin-multiplatform/build.gradle.kts
Labels: Client: Kotlin, Enhancement: CI/Test

#10989 Compare HTTP auth security schema names case-insensitive
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Enhancement: Feature, Feature: Generator

#11014 [dart][dio] Fix int64 based enums not correctly generated
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/enum.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/enum_inline.mustache
Labels: Client: Dart, Issue: Bug

#11011 [dart][dio][built_value] Fix missing serializer factory builders for …
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractDartCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioNextClientCodegen.java
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/serializers.mustache
  samples/openapi3/client/petstore/dart-dio-next/dio_http_petstore_client_lib_fake/lib/src/serializers.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/serializers.dart
Labels: Client: Dart, Issue: Bug

#11039 [php-slim4] Bump required PHP version to 7.4
  modules/openapi-generator/src/main/resources/php-slim4-server/README.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/composer.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/licenseInfo.mustache
  samples/server/petstore/php-slim4/README.md
  samples/server/petstore/php-slim4/composer.json
  samples/server/petstore/php-slim4/config/dev/example.inc.php
  samples/server/petstore/php-slim4/config/prod/example.inc.php
  samples/server/petstore/php-slim4/lib/Api/AbstractPetApi.php
  samples/server/petstore/php-slim4/lib/Api/AbstractStoreApi.php
  samples/server/petstore/php-slim4/lib/Api/AbstractUserApi.php
  samples/server/petstore/php-slim4/lib/Auth/AbstractAuthenticator.php
  samples/server/petstore/php-slim4/lib/BaseModel.php
  samples/server/petstore/php-slim4/lib/Middleware/JsonBodyParserMiddleware.php
  samples/server/petstore/php-slim4/lib/Model/ApiResponse.php
  samples/server/petstore/php-slim4/lib/Model/Category.php
  samples/server/petstore/php-slim4/lib/Model/Order.php
  samples/server/petstore/php-slim4/lib/Model/Pet.php
  samples/server/petstore/php-slim4/lib/Model/Tag.php
  samples/server/petstore/php-slim4/lib/Model/User.php
  samples/server/petstore/php-slim4/lib/SlimRouter.php
  samples/server/petstore/php-slim4/public/index.php
  samples/server/petstore/php-slim4/tests/BaseModelTest.php
Labels: Enhancement: Compatibility, Server: PHP

#10984 [CodegenResponse] various enhancements and bug fixes
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenOperation.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElixirClientCodegen.java
  modules/openapi-generator/src/main/resources/asciidoc-documentation/index.mustache
  modules/openapi-generator/src/main/resources/htmlDocs/index.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/response-tests.yaml
Labels: Enhancement: Feature, Feature: Generator, Issue: Bug

#11056 [java][okhttp-gson-nextgen] Better null handling in oneOf, anyOf model
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson-nextgen/anyof_model.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson-nextgen/oneof_model.mustache
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/model/Fruit.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/model/FruitReq.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/model/GmFruit.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/model/Mammal.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/model/NullableShape.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/model/Pig.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/model/Quadrilateral.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/model/Shape.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/model/ShapeOrNull.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/model/Triangle.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/test/java/org/openapitools/client/JSONTest.java
Labels: Client: Java, Enhancement: Feature, Feature: OAS 3.0 spec support

#11059 [java][okhttp-gson-next-gen] better error message in oneOf/anyOf
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson-nextgen/anyof_model.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson-nextgen/oneof_model.mustache
  modules/openapi-generator/src/test/resources/3_0/java/petstore-with-fake-endpoints-models-for-testing-with-http-signature-okhttp-gson.yaml
  samples/client/petstore/java/okhttp-gson-nextgen/.openapi-generator/FILES
  samples/client/petstore/java/okhttp-gson-nextgen/README.md
  samples/client/petstore/java/okhttp-gson-nextgen/api/openapi.yaml
  samples/client/petstore/java/okhttp-gson-nextgen/docs/GmFruit.md
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/model/Fruit.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/model/FruitReq.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/model/GmFruit.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/model/Mammal.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/model/NullableShape.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/model/Pig.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/model/Quadrilateral.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/model/Shape.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/model/ShapeOrNull.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/model/Triangle.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/test/java/org/openapitools/client/JSONTest.java
Labels: Client: Java, Enhancement: Feature, Feature: OAS 3.0 spec support

#11075 Fixes paramName and dataType for request body anyType parameters
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/resources/3_0/oneOfArrayMapImport.yaml
  samples/client/petstore/swift5/frozenEnums/PetstoreClient/Classes/OpenAPIs/APIs.swift
  samples/client/petstore/swift5/frozenEnums/PetstoreClient/Classes/OpenAPIs/APIs/AnotherFakeAPI.swift
  samples/client/petstore/swift5/frozenEnums/PetstoreClient/Classes/OpenAPIs/APIs/FakeAPI.swift
  samples/client/petstore/swift5/frozenEnums/PetstoreClient/Classes/OpenAPIs/APIs/FakeClassnameTags123API.swift
  samples/client/petstore/swift5/frozenEnums/PetstoreClient/Classes/OpenAPIs/APIs/PetAPI.swift
  samples/client/petstore/swift5/frozenEnums/PetstoreClient/Classes/OpenAPIs/APIs/StoreAPI.swift
  samples/client/petstore/swift5/frozenEnums/PetstoreClient/Classes/OpenAPIs/APIs/UserAPI.swift
  samples/client/petstore/swift5/frozenEnums/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/frozenEnums/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/typescript-angular-v11-oneOf/builds/default/api/default.service.ts
Labels: Issue: Bug

#10978 [Python] Add option to select/detect content-type.
  modules/openapi-generator/src/main/resources/python/api.mustache
  modules/openapi-generator/src/main/resources/python/api_client.mustache
  samples/client/petstore/python/petstore_api/api/another_fake_api.py
  samples/client/petstore/python/petstore_api/api/fake_api.py
  samples/client/petstore/python/petstore_api/api/fake_classname_tags_123_api.py
  samples/client/petstore/python/petstore_api/api/pet_api.py
  samples/client/petstore/python/petstore_api/api/store_api.py
  samples/client/petstore/python/petstore_api/api/user_api.py
  samples/client/petstore/python/petstore_api/api_client.py
  samples/client/petstore/python/test/test_fake_api.py
  samples/client/petstore/python/tests/test_api_client.py
  samples/client/petstore/python/tests/test_pet_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/another_fake_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/fake_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/fake_classname_tags_123_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/pet_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/store_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/user_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api_client.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/test/test_fake_api.py
  samples/openapi3/client/extensions/x-auth-id-alias/python/x_auth_id_alias/api/usage_api.py
  samples/openapi3/client/extensions/x-auth-id-alias/python/x_auth_id_alias/api_client.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/api/usage_api.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/api_client.py
  samples/openapi3/client/petstore/python/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/default_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_classname_tags_123_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python/petstore_api/api_client.py
Labels: Client: Python

#11064 [swift5] Fix missing case for FormDataEncoding#encode
  modules/openapi-generator/src/main/resources/swift5/libraries/alamofire/AlamofireImplementations.mustache
  modules/openapi-generator/src/main/resources/swift5/libraries/urlsession/URLSessionImplementations.mustache
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient/Classes/OpenAPIs/AlamofireImplementations.swift
  samples/client/petstore/swift5/asyncAwaitLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/deprecated/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/frozenEnums/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/oneOf/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/readonlyProperties/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/urlsessionLibrary/Sources/PetstoreClient/URLSessionImplementations.swift
  samples/client/petstore/swift5/x-swift-hashable/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
Labels: Client: Swift, Issue: Bug

#11065 [kotlin][client] update request exceptions
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-okhttp/api.mustache
  samples/client/petstore/kotlin-enum-default-value/src/main/kotlin/org/openapitools/client/apis/DefaultApi.kt
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/apis/EnumApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
Labels: Client: Kotlin, Enhancement: General

#11073 [Protobuf-Schema] Added field presence tracking
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ProtobufSchemaCodegen.java
Labels: Enhancement: General, Schema: ProtoBuf

#11109 [swift5][client] add support for async/await in iOS 13 and above
  modules/openapi-generator/src/main/resources/swift5/api.mustache
  samples/client/petstore/swift5/asyncAwaitLibrary/PetstoreClient/Classes/OpenAPIs/APIs/AnotherFakeAPI.swift
  samples/client/petstore/swift5/asyncAwaitLibrary/PetstoreClient/Classes/OpenAPIs/APIs/FakeAPI.swift
  samples/client/petstore/swift5/asyncAwaitLibrary/PetstoreClient/Classes/OpenAPIs/APIs/FakeClassnameTags123API.swift
  samples/client/petstore/swift5/asyncAwaitLibrary/PetstoreClient/Classes/OpenAPIs/APIs/PetAPI.swift
  samples/client/petstore/swift5/asyncAwaitLibrary/PetstoreClient/Classes/OpenAPIs/APIs/StoreAPI.swift
  samples/client/petstore/swift5/asyncAwaitLibrary/PetstoreClient/Classes/OpenAPIs/APIs/UserAPI.swift
Labels: Client: Swift, Enhancement: Compatibility

#10921 [QT][C++]fixed integration test for Oauth
  modules/openapi-generator/src/main/resources/cpp-qt-client/CMakeLists.txt.mustache
  modules/openapi-generator/src/main/resources/cpp-qt-client/oauth.cpp.mustache
  modules/openapi-generator/src/main/resources/cpp-qt-client/oauth.h.mustache
  samples/client/petstore/cpp-qt/CMakeLists.txt
  samples/client/petstore/cpp-qt/client/CMakeLists.txt
  samples/client/petstore/cpp-qt/client/PFXOauth.cpp
  samples/client/petstore/cpp-qt/client/PFXOauth.h
Labels: Client: C++, Enhancement: CI/Test

#11116 [java][client] update dependencies to newer versions
  modules/openapi-generator/src/main/resources/Java/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/pom.mustache
  modules/openapi-generator/src/main/resources/Java/pom.mustache
  samples/client/petstore/java/google-api-client/build.gradle
  samples/client/petstore/java/google-api-client/pom.xml
  samples/client/petstore/java/jersey1/build.gradle
  samples/client/petstore/java/jersey1/pom.xml
  samples/client/petstore/java/resteasy/build.gradle
  samples/client/petstore/java/resteasy/pom.xml
  samples/client/petstore/java/retrofit2-play26/build.gradle
  samples/client/petstore/java/retrofit2-play26/pom.xml
  samples/client/petstore/java/retrofit2/pom.xml
  samples/client/petstore/java/retrofit2rx2/pom.xml
  samples/client/petstore/java/retrofit2rx3/pom.xml
  samples/client/petstore/java/webclient-nulable-arrays/build.gradle
  samples/client/petstore/java/webclient-nulable-arrays/pom.xml
  samples/client/petstore/java/webclient/build.gradle
  samples/client/petstore/java/webclient/pom.xml
Labels: Client: Java, Enhancement: Compatibility

#11119 [Kotlin][vertx] Update samples
  samples/server/petstore/kotlin/vertx/.openapi-generator/FILES
  samples/server/petstore/kotlin/vertx/README.md
  samples/server/petstore/kotlin/vertx/src/main/kotlin/org/openapitools/server/api/model/ModelApiResponse.kt
  samples/server/petstore/kotlin/vertx/src/main/kotlin/org/openapitools/server/api/verticle/PetApi.kt
  samples/server/petstore/kotlin/vertx/src/main/kotlin/org/openapitools/server/api/verticle/PetApiVertxProxyHandler.kt
Labels: Client: Kotlin, Enhancement: CI/Test

#11127 Show an error when the schema in discriminator mapping is undefined
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Enhancement: General, Feature: Generator

#11130 Forbid using standard streams in archunit
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioNextClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/ArchUnitRulesTest.java
  modules/openapi-generator/src/test/resources/archunit_ignore_patterns.txt
Labels: Enhancement: CI/Test

#11115 [Protobuf-Schema] Namespace updates
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ProtobufSchemaCodegen.java
  modules/openapi-generator/src/main/resources/protobuf-schema/api.mustache
  modules/openapi-generator/src/main/resources/protobuf-schema/model.mustache
  modules/openapi-generator/src/test/resources/3_0/protobuf-schema/pet.proto
  samples/config/petstore/protobuf-schema/services/pet_service.proto
  samples/config/petstore/protobuf-schema/services/store_service.proto
  samples/config/petstore/protobuf-schema/services/user_service.proto
Labels: Enhancement: General, Schema: ProtoBuf

#11124 [swift5][client] improve code formatting
  modules/openapi-generator/src/main/resources/swift5/api.mustache
  samples/client/petstore/swift5/vaporLibrary/Sources/PetstoreClient/APIs/AnotherFakeAPI.swift
  samples/client/petstore/swift5/vaporLibrary/Sources/PetstoreClient/APIs/FakeAPI.swift
  samples/client/petstore/swift5/vaporLibrary/Sources/PetstoreClient/APIs/FakeClassnameTags123API.swift
  samples/client/petstore/swift5/vaporLibrary/Sources/PetstoreClient/APIs/PetAPI.swift
  samples/client/petstore/swift5/vaporLibrary/Sources/PetstoreClient/APIs/StoreAPI.swift
  samples/client/petstore/swift5/vaporLibrary/Sources/PetstoreClient/APIs/UserAPI.swift
  samples/server/petstore/kotlin/vertx/src/main/kotlin/org/openapitools/server/api/model/ApiResponse.kt
Labels: Client: Swift, Enhancement: Code format

#11048 [Scala-Akka-Http] Fix deprecated `ActorMaterializer` since akka-http 2.6
  modules/openapi-generator/src/main/resources/scala-akka-client/apiInvoker.mustache
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/core/ApiInvoker.scala
Labels: Client: Scala, Enhancement: Code Cleanup

#11129 [Kotlin][Multiplatform] Declare API classes and methods as open
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/multiplatform/api.mustache
  samples/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/apis/UserApi.kt
Labels: Client: Kotlin, Enhancement: General

#11131 [Swift5] replace special characters in Swift enum var name
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift5ClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/swift5/Swift5ClientCodegenTest.java
Labels: Client: Swift, Enhancement: Feature, Feature: Enum

#11074 [C][Client] Support a custom data type (IntOrString)
  modules/openapi-generator/src/main/resources/C-libcurl/model-body.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/model-header.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/model_doc.mustache
Labels: Enhancement: Compatibility, Client: C

#9562 [php-slim4] Switch to Packaged Body Parsing Middleware
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSlim4ServerCodegen.java
  modules/openapi-generator/src/main/resources/php-slim4-server/SlimRouter.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/index.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/json_body_parser_middleware.mustache
  samples/server/petstore/php-slim4/.openapi-generator/FILES
  samples/server/petstore/php-slim4/lib/SlimRouter.php
  samples/server/petstore/php-slim4/public/index.php
Labels: Server: PHP, Enhancement: Code Cleanup

#11069 [php-slim4] Partial generation
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSlim4ServerCodegen.java
  modules/openapi-generator/src/main/resources/php-slim4-server/README.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/composer.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/phpunit.xml.mustache
  samples/server/petstore/php-slim4/lib/Middleware/JsonBodyParserMiddleware.php
  samples/server/petstore/php-slim4/tests/Api/PetApiTest.php
  samples/server/petstore/php-slim4/tests/Api/StoreApiTest.php
  samples/server/petstore/php-slim4/tests/Api/UserApiTest.php
  samples/server/petstore/php-slim4/tests/Model/ApiResponseTest.php
  samples/server/petstore/php-slim4/tests/Model/CategoryTest.php
  samples/server/petstore/php-slim4/tests/Model/OrderTest.php
  samples/server/petstore/php-slim4/tests/Model/PetTest.php
  samples/server/petstore/php-slim4/tests/Model/TagTest.php
  samples/server/petstore/php-slim4/tests/Model/UserTest.php
Labels: Enhancement: General, Server: PHP

#11156 Test kotlin volley sample in the CI
  .github/workflows/samples-kotlin.yaml
  README.md
Labels: Client: Kotlin, Enhancement: CI/Test

#11159 [php-slim4] Add dependency injection container 2
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSlim4ServerCodegen.java
  modules/openapi-generator/src/main/resources/php-slim4-server/.htaccess
  modules/openapi-generator/src/main/resources/php-slim4-server/README.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/SlimRouter.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/abstract_authenticator.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/api.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/composer.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/config_dev_default.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/config_example.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/config_prod_default.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/gitignore
  modules/openapi-generator/src/main/resources/php-slim4-server/index.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/register_dependencies.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/register_middlewares.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/register_routes.mustache
  samples/server/petstore/php-slim4/.gitignore
  samples/server/petstore/php-slim4/.openapi-generator/FILES
  samples/server/petstore/php-slim4/README.md
  samples/server/petstore/php-slim4/composer.json
  samples/server/petstore/php-slim4/config/dev/default.inc.php
  samples/server/petstore/php-slim4/config/dev/example.inc.php
  samples/server/petstore/php-slim4/config/prod/default.inc.php
  samples/server/petstore/php-slim4/config/prod/example.inc.php
  samples/server/petstore/php-slim4/lib/Api/AbstractPetApi.php
  samples/server/petstore/php-slim4/lib/Api/AbstractStoreApi.php
  samples/server/petstore/php-slim4/lib/Api/AbstractUserApi.php
  samples/server/petstore/php-slim4/lib/App/RegisterDependencies.php
  samples/server/petstore/php-slim4/lib/App/RegisterMiddlewares.php
  samples/server/petstore/php-slim4/lib/App/RegisterRoutes.php
  samples/server/petstore/php-slim4/lib/Auth/AbstractAuthenticator.php
  samples/server/petstore/php-slim4/public/.htaccess
  samples/server/petstore/php-slim4/public/index.php
Labels: Enhancement: Feature, Server: PHP

#11169 Rust Client: Add support for collectionFormat="multi"
  modules/openapi-generator/src/main/resources/rust/reqwest/api.mustache
Labels: Client: Rust, Enhancement: General
