Repository OpenAPITools/openapi-generator, pull requests merged in 2021-06, with the labels that each got.

#9629 [kotlin][client] update dependencies
  modules/openapi-generator/src/main/resources/kotlin-client/build.gradle.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/auth/OAuthOkHttpClient.kt.mustache
  samples/client/petstore/kotlin-gson/build.gradle
  samples/client/petstore/kotlin-jackson/build.gradle
  samples/client/petstore/kotlin-json-request-string/build.gradle
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/build.gradle
  samples/client/petstore/kotlin-moshi-codegen/build.gradle
  samples/client/petstore/kotlin-nonpublic/build.gradle
  samples/client/petstore/kotlin-nullable/build.gradle
  samples/client/petstore/kotlin-okhttp3/build.gradle
  samples/client/petstore/kotlin-retrofit2-kotlinx_serialization/build.gradle
  samples/client/petstore/kotlin-retrofit2-kotlinx_serialization/src/main/kotlin/org/openapitools/client/auth/OAuthOkHttpClient.kt
  samples/client/petstore/kotlin-retrofit2-rx3/build.gradle
  samples/client/petstore/kotlin-retrofit2-rx3/src/main/kotlin/org/openapitools/client/auth/OAuthOkHttpClient.kt
  samples/client/petstore/kotlin-retrofit2/build.gradle
  samples/client/petstore/kotlin-retrofit2/src/main/kotlin/org/openapitools/client/auth/OAuthOkHttpClient.kt
  samples/client/petstore/kotlin-string/build.gradle
  samples/client/petstore/kotlin-threetenbp/build.gradle
  samples/client/petstore/kotlin-uppercase-enum/build.gradle
  samples/client/petstore/kotlin/build.gradle
Labels: Client: Kotlin, Enhancement: Compatibility

#9637 Add sponsor message to python-fastapi generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonFastAPIServerCodegen.java
Labels: Enhancement: General, Server: Python

#9559 Adding usePythonSrcRootInImports logic to AbstractPythonConnexionServerCodegen. (#9558)
  docs/generators/python-aiohttp.md
  docs/generators/python-blueplanet.md
  docs/generators/python-flask.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonConnexionServerCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/AbstractPythonConnexionServerCodegenTest.java
Labels: Server: Python

#9512 [Erlang] return empty body for 204
  modules/openapi-generator/src/main/resources/erlang-client/api.mustache
  modules/openapi-generator/src/main/resources/erlang-server/handler.mustache
Labels: Client: Erlang, Issue: Bug

#9594 [csharp][netcore] Do not validate enum parameters
  modules/openapi-generator/src/main/resources/csharp-netcore/modelGeneric.mustache
Labels: Client: C-Sharp, Enhancement: General

#9580 Fix module "go-server" - template "controller-api.mustache"
  modules/openapi-generator/src/main/resources/go-server/controller-api.mustache
Labels: Issue: Bug, Server: Go

#9649 python-fastapi improvements
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonFastAPIServerCodegen.java
  modules/openapi-generator/src/main/resources/python-fastapi/.flake8.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/api.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/api_test.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/conftest.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/endpoint_argument_definition.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/model.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/security_api.mustache
  samples/server/petstore/python-fastapi/.flake8
  samples/server/petstore/python-fastapi/.openapi-generator/FILES
  samples/server/petstore/python-fastapi/src/openapi_server/apis/pet_api.py
  samples/server/petstore/python-fastapi/src/openapi_server/apis/store_api.py
  samples/server/petstore/python-fastapi/src/openapi_server/apis/user_api.py
  samples/server/petstore/python-fastapi/src/openapi_server/models/api_response.py
  samples/server/petstore/python-fastapi/src/openapi_server/models/category.py
  samples/server/petstore/python-fastapi/src/openapi_server/models/order.py
  samples/server/petstore/python-fastapi/src/openapi_server/models/pet.py
  samples/server/petstore/python-fastapi/src/openapi_server/models/tag.py
  samples/server/petstore/python-fastapi/src/openapi_server/models/user.py
  samples/server/petstore/python-fastapi/src/openapi_server/security_api.py
  samples/server/petstore/python-fastapi/tests/conftest.py
Labels: Enhancement: General, Server: Python

#9453 fix(#9328): Gradle Plugin ValidateTask does not work under Gradle 7.0
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/ValidateTask.kt
  modules/openapi-generator-gradle-plugin/src/test/kotlin/ValidateTaskDslTest.kt
Labels: Enhancement: Compatibility, OpenAPI Generator Gradle Plugin

#9666 [swift][client] make swift 5 generator stable
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift5ClientCodegen.java
Labels: Client: Swift, Enhancement: General

#9672 [python][fastapi] various minor improvements
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonFastAPIServerCodegen.java
  modules/openapi-generator/src/main/resources/python-fastapi/README.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/api_test.mustache
  pom.xml
  samples/server/petstore/python-fastapi/README.md
  samples/server/petstore/python-fastapi/pom.xml
  samples/server/petstore/python-fastapi/test_python3.sh
  samples/server/petstore/python-fastapi/tests/test_pet_api.py
  samples/server/petstore/python-fastapi/tests/test_store_api.py
  samples/server/petstore/python-fastapi/tests/test_user_api.py
Labels: Enhancement: General, Issue: Bug, Server: Python

#9668 Add validators to models fields
  modules/openapi-generator/src/main/resources/python-fastapi/model.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/model_field_type.mustache
  samples/server/petstore/python-fastapi/src/openapi_server/models/api_response.py
  samples/server/petstore/python-fastapi/src/openapi_server/models/category.py
  samples/server/petstore/python-fastapi/src/openapi_server/models/order.py
  samples/server/petstore/python-fastapi/src/openapi_server/models/pet.py
  samples/server/petstore/python-fastapi/src/openapi_server/models/tag.py
  samples/server/petstore/python-fastapi/src/openapi_server/models/user.py
Labels: Enhancement: General, Server: Python

#9690 Fix kotlin client issue in maven plugin tests
  docs/generators.md
  modules/openapi-generator-maven-plugin/examples/kotlin.xml
Labels: Enhancement: CI/Test, OpenAPI Generator Maven Plugin

#9631 bump swagger-parser-version to v2.0.26 to close #9086
  modules/openapi-generator/src/test/java/org/openapitools/codegen/yaml/YamlGeneratorTest.java
  modules/openapi-generator/src/test/resources/2_0/issue_9086.yaml
  modules/openapi-generator/src/test/resources/2_0/issue_9086_expected.yaml
  pom.xml
Labels: Enhancement: Compatibility, Swagger-Parser

#9133 [cleanup] erefactor/AutoRefactor - Log parameters rather than log mes…
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinServerDeprecatedCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinSpringServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KtormSchemaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/LuaClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/MysqlSchemaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/NimClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/NodeJSExpressServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/OCamlClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ObjcClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/OpenAPIGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PerlClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSlim4ServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ProtobufSchemaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RubyClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RubyOnRailsServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RubySinatraServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustClientCodegen.java
Labels: Enhancement: Code Cleanup, Feature: Generator

#9659 [typescript-fetch] Support for async accessToken
  modules/openapi-generator/src/main/resources/typescript-fetch/apis.mustache
  modules/openapi-generator/src/main/resources/typescript-fetch/runtime.mustache
  samples/client/petstore/typescript-fetch/builds/default-v3.0/apis/FakeApi.ts
  samples/client/petstore/typescript-fetch/builds/default-v3.0/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/default-v3.0/runtime.ts
  samples/client/petstore/typescript-fetch/builds/default/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/default/runtime.ts
  samples/client/petstore/typescript-fetch/builds/enum/runtime.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/runtime.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/typescript-three-plus/src/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/typescript-three-plus/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/runtime.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/without-runtime-checks/src/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/without-runtime-checks/src/runtime.ts
Labels: Client: TypeScript

#9687 [PowerShell] add null check on $ContentTypes
  modules/openapi-generator/src/main/resources/powershell/api_client.mustache
  samples/client/petstore/powershell/src/PSPetstore/Private/PSApiClient.ps1
Labels: Client: PowerShell, Issue: Bug

#9688 [PowerShell] properly encode URL parameters
  modules/openapi-generator/src/main/resources/powershell/api.mustache
  samples/client/petstore/powershell/src/PSPetstore/Api/PSPetApi.ps1
  samples/client/petstore/powershell/src/PSPetstore/Api/PSStoreApi.ps1
  samples/client/petstore/powershell/src/PSPetstore/Api/PSUserApi.ps1
Labels: Client: PowerShell, Issue: Bug

#9656 [kotlin][client] silence deprecation warning
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-okhttp/api.mustache
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
Labels: Client: Kotlin, Enhancement: General

#9728 [Android] update httpclient version, fix compilation issue in the sample
  modules/openapi-generator/src/main/resources/android/build.mustache
  modules/openapi-generator/src/main/resources/android/jsonUtil.mustache
  modules/openapi-generator/src/main/resources/android/pom.mustache
  samples/client/petstore/android/httpclient/.openapi-generator/FILES
  samples/client/petstore/android/httpclient/.openapi-generator/VERSION
  samples/client/petstore/android/httpclient/README.md
  samples/client/petstore/android/httpclient/build.gradle
  samples/client/petstore/android/httpclient/docs/ApiResponse.md
  samples/client/petstore/android/httpclient/docs/Category.md
  samples/client/petstore/android/httpclient/docs/Order.md
  samples/client/petstore/android/httpclient/docs/Pet.md
  samples/client/petstore/android/httpclient/docs/PetApi.md
  samples/client/petstore/android/httpclient/docs/StoreApi.md
  samples/client/petstore/android/httpclient/docs/Tag.md
  samples/client/petstore/android/httpclient/docs/User.md
  samples/client/petstore/android/httpclient/docs/UserApi.md
  samples/client/petstore/android/httpclient/git_push.sh
  samples/client/petstore/android/httpclient/gradle/wrapper/gradle-wrapper.jar
  samples/client/petstore/android/httpclient/gradle/wrapper/gradle-wrapper.properties
  samples/client/petstore/android/httpclient/gradlew
  samples/client/petstore/android/httpclient/gradlew.bat
  samples/client/petstore/android/httpclient/pom.xml
  samples/client/petstore/android/httpclient/src/main/java/org/openapitools/client/ApiException.java
  samples/client/petstore/android/httpclient/src/main/java/org/openapitools/client/ApiInvoker.java
  samples/client/petstore/android/httpclient/src/main/java/org/openapitools/client/HttpPatch.java
  samples/client/petstore/android/httpclient/src/main/java/org/openapitools/client/JsonUtil.java
  samples/client/petstore/android/httpclient/src/main/java/org/openapitools/client/Pair.java
  samples/client/petstore/android/httpclient/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/android/httpclient/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/android/httpclient/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/android/volley/.openapi-generator/VERSION
Labels: Client: Android, Enhancement: Compatibility, Issue: Bug, Issue: Security

#9729 [Java] Update resteasy dependencies
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/JSON.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/pom.mustache
  samples/client/petstore/java/resteasy/README.md
  samples/client/petstore/java/resteasy/build.gradle
  samples/client/petstore/java/resteasy/build.sbt
  samples/client/petstore/java/resteasy/pom.xml
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/auth/HttpBasicAuth.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/model/AdditionalPropertiesClass.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/model/ArrayOfArrayOfNumberOnly.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/model/ArrayOfNumberOnly.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/model/ArrayTest.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/model/EnumArrays.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/model/FileSchemaTestClass.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/model/MapTest.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/model/MixedPropertiesAndAdditionalPropertiesClass.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/model/TypeHolderDefault.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/model/TypeHolderExample.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/model/XmlItem.java
Labels: Client: Java, Enhancement: Compatibility, Issue: Security

#9693 [cpp-ue4] API calls not return the http request for further manipulation
  modules/openapi-generator/src/main/resources/cpp-ue4/api-header.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/api-source.mustache
Labels: Client: C++, Enhancement: General

#9661 [csharp] Move nullable reference types switch to abstract
  docs/generators/aspnetcore.md
  docs/generators/csharp-netcore.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetCoreServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
  modules/openapi-generator/src/main/resources/csharp-netcore/netcore_project.mustache
  modules/openapi-generator/src/main/resources/csharp/netcore_project.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/csharp/CSharpModelTest.java
Labels: Client: C-Sharp, Enhancement: Feature, Server: C-Sharp

#9717 [dart] fix Date.toDateTime utc
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/date.mustache
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/date.dart
Labels: Client: Dart, Issue: Bug

#9724 operationId: Allow getting only the method name (#9719)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/bugs/issue_9719.yaml
Labels: Enhancement: Feature, Feature: Generator

#9680 [Java][webclient] Filter out problem+json mime type from JSON mime types
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/ApiClient.mustache
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#9754 Add ybelenko as php-slim4 template creator
  README.md
Labels: General: Suggestion

#9736 Hide buildOauthRequestInterceptor under isOAuth section (#9147)
  modules/openapi-generator/src/main/resources/Java/libraries/feign/ApiClient.mustache
Labels: Client: Java, Issue: Bug

#9733 [haskell][server]: Set "AnyType" to `Aeson.Value`
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellServantCodegen.java
  modules/openapi-generator/src/main/resources/haskell-servant/API.mustache
Labels: Issue: Bug, Server: Haskell

#9760 [Java][Feign] Skip oauth-related files when the spec has no oauth defined
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/feign/ApiClient.mustache
Labels: Client: Java, Enhancement: General

#9723 Fix `python-fastapi` free-form objects mapping and forward ref type hints
  modules/openapi-generator/src/main/resources/python-fastapi/Dockerfile.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/README.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/model.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/model_field_type.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/setup_cfg.mustache
  samples/server/petstore/python-fastapi/Dockerfile
  samples/server/petstore/python-fastapi/README.md
  samples/server/petstore/python-fastapi/setup.cfg
  samples/server/petstore/python-fastapi/src/openapi_server/models/api_response.py
  samples/server/petstore/python-fastapi/src/openapi_server/models/category.py
  samples/server/petstore/python-fastapi/src/openapi_server/models/order.py
  samples/server/petstore/python-fastapi/src/openapi_server/models/pet.py
  samples/server/petstore/python-fastapi/src/openapi_server/models/tag.py
  samples/server/petstore/python-fastapi/src/openapi_server/models/user.py
Labels: Issue: Bug, Server: Python

#9762 Update readme with travis-ci.com
  README.md
Labels: Enhancement: CI/Test

#8356 [goserver] Fix single inheritance code generation for goserver
  modules/openapi-generator/src/main/resources/go-server/model.mustache
Labels: Issue: Bug, Server: Go

#9742 [C++][Pistache] Fix compile break, error handling
  modules/openapi-generator/src/main/resources/cpp-pistache-server/api-header.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/api-source.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-header.mustache
  samples/server/petstore/cpp-pistache/api/PetApi.cpp
  samples/server/petstore/cpp-pistache/api/PetApi.h
  samples/server/petstore/cpp-pistache/api/StoreApi.cpp
  samples/server/petstore/cpp-pistache/api/StoreApi.h
  samples/server/petstore/cpp-pistache/api/UserApi.cpp
  samples/server/petstore/cpp-pistache/api/UserApi.h
  samples/server/petstore/cpp-pistache/model/ApiResponse.h
  samples/server/petstore/cpp-pistache/model/Category.h
  samples/server/petstore/cpp-pistache/model/Order.h
  samples/server/petstore/cpp-pistache/model/Pet.h
  samples/server/petstore/cpp-pistache/model/Tag.h
  samples/server/petstore/cpp-pistache/model/User.h
Labels: Issue: Bug, Server: C++

#9653 Avoid using Properties.clone() which is broken in Gradle
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/GlobalSettings.java
Labels: Issue: Bug, OpenAPI Generator Gradle Plugin

#9745 [rust-client]: fix reqwest not support client::options
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustClientCodegen.java
  modules/openapi-generator/src/main/resources/rust/reqwest/api.mustache
  samples/client/petstore/rust/reqwest/petstore-async/README.md
  samples/client/petstore/rust/reqwest/petstore-async/docs/PetApi.md
  samples/client/petstore/rust/reqwest/petstore-async/docs/StoreApi.md
  samples/client/petstore/rust/reqwest/petstore-async/docs/UserApi.md
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/pet_api.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/store_api.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/user_api.rs
  samples/client/petstore/rust/reqwest/petstore/README.md
  samples/client/petstore/rust/reqwest/petstore/docs/PetApi.md
  samples/client/petstore/rust/reqwest/petstore/docs/StoreApi.md
  samples/client/petstore/rust/reqwest/petstore/docs/UserApi.md
  samples/client/petstore/rust/reqwest/petstore/src/apis/pet_api.rs
  samples/client/petstore/rust/reqwest/petstore/src/apis/store_api.rs
  samples/client/petstore/rust/reqwest/petstore/src/apis/user_api.rs
Labels: Client: Rust, Issue: Bug

#9585 [java][native] Remove JAX-RS dependency from generated java-native client.
  modules/openapi-generator/src/main/resources/Java/libraries/native/AbstractOpenApiSchema.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/JSON.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/anyof_model.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/oneof_model.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/pom.mustache
  samples/client/petstore/java/native-async/build.gradle
  samples/client/petstore/java/native-async/pom.xml
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/model/AbstractOpenApiSchema.java
  samples/client/petstore/java/native/build.gradle
  samples/client/petstore/java/native/pom.xml
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/model/AbstractOpenApiSchema.java
  samples/openapi3/client/petstore/java/native/build.gradle
  samples/openapi3/client/petstore/java/native/pom.xml
  samples/openapi3/client/petstore/java/native/src/main/java/org/openapitools/client/JSON.java
  samples/openapi3/client/petstore/java/native/src/main/java/org/openapitools/client/model/AbstractOpenApiSchema.java
  samples/openapi3/client/petstore/java/native/src/main/java/org/openapitools/client/model/Fruit.java
  samples/openapi3/client/petstore/java/native/src/main/java/org/openapitools/client/model/FruitReq.java
  samples/openapi3/client/petstore/java/native/src/main/java/org/openapitools/client/model/GmFruit.java
  samples/openapi3/client/petstore/java/native/src/main/java/org/openapitools/client/model/Mammal.java
  samples/openapi3/client/petstore/java/native/src/main/java/org/openapitools/client/model/NullableShape.java
  samples/openapi3/client/petstore/java/native/src/main/java/org/openapitools/client/model/Pig.java
  samples/openapi3/client/petstore/java/native/src/main/java/org/openapitools/client/model/Quadrilateral.java
  samples/openapi3/client/petstore/java/native/src/main/java/org/openapitools/client/model/Shape.java
  samples/openapi3/client/petstore/java/native/src/main/java/org/openapitools/client/model/ShapeOrNull.java
  samples/openapi3/client/petstore/java/native/src/main/java/org/openapitools/client/model/Triangle.java
Labels: Client: Java, Enhancement: Compatibility

#9532 [python][client] allow passing floats for _request_timeout
  modules/openapi-generator/src/main/resources/python/api.mustache
  modules/openapi-generator/src/main/resources/python/api_client.mustache
  samples/client/petstore/python/petstore_api/api/another_fake_api.py
  samples/client/petstore/python/petstore_api/api/fake_api.py
  samples/client/petstore/python/petstore_api/api/fake_classname_tags_123_api.py
  samples/client/petstore/python/petstore_api/api/pet_api.py
  samples/client/petstore/python/petstore_api/api/store_api.py
  samples/client/petstore/python/petstore_api/api/user_api.py
  samples/client/petstore/python/petstore_api/api_client.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/another_fake_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/fake_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/fake_classname_tags_123_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/pet_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/store_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/user_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api_client.py
  samples/openapi3/client/extensions/x-auth-id-alias/python/x_auth_id_alias/api/usage_api.py
  samples/openapi3/client/extensions/x-auth-id-alias/python/x_auth_id_alias/api_client.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/api/usage_api.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/api_client.py
  samples/openapi3/client/petstore/python/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/default_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_classname_tags_123_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python/petstore_api/api_client.py
Labels: Client: Python, Enhancement: General

#9327 [Java][WebClient] add ResponseEntity return for webclient
  .gitattributes
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/api.mustache
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Enhancement: General

#9268 Add imports for inner items of arrays/maps in composed schemas
  bin/configs/typescript-angular-v11-oneOf.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/resources/3_0/oneOfArrayMapImport.yaml
  samples/client/petstore/typescript-angular-v11-oneOf/builds/default/.gitignore
  samples/client/petstore/typescript-angular-v11-oneOf/builds/default/.openapi-generator-ignore
  samples/client/petstore/typescript-angular-v11-oneOf/builds/default/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v11-oneOf/builds/default/.openapi-generator/VERSION
  samples/client/petstore/typescript-angular-v11-oneOf/builds/default/README.md
  samples/client/petstore/typescript-angular-v11-oneOf/builds/default/api.module.ts
  samples/client/petstore/typescript-angular-v11-oneOf/builds/default/api/api.ts
  samples/client/petstore/typescript-angular-v11-oneOf/builds/default/api/default.service.ts
  samples/client/petstore/typescript-angular-v11-oneOf/builds/default/configuration.ts
  samples/client/petstore/typescript-angular-v11-oneOf/builds/default/encoder.ts
  samples/client/petstore/typescript-angular-v11-oneOf/builds/default/git_push.sh
  samples/client/petstore/typescript-angular-v11-oneOf/builds/default/index.ts
  samples/client/petstore/typescript-angular-v11-oneOf/builds/default/model/apple.ts
  samples/client/petstore/typescript-angular-v11-oneOf/builds/default/model/banana.ts
  samples/client/petstore/typescript-angular-v11-oneOf/builds/default/model/fruit.ts
  samples/client/petstore/typescript-angular-v11-oneOf/builds/default/model/grape.ts
  samples/client/petstore/typescript-angular-v11-oneOf/builds/default/model/models.ts
  samples/client/petstore/typescript-angular-v11-oneOf/builds/default/variables.ts
Labels: Enhancement: Feature, Feature: Generator

#9025 [typescript][axios] Handle boolean enum correctly
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModel.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java
  modules/openapi-generator/src/main/resources/typescript-axios/modelEnum.mustache
Labels: Client: TypeScript, Enhancement: General, Feature: Generator

#9802 More updates for isBoolean
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModel.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenProperty.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenResponse.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/IJsonSchemaValidationProperties.java
  samples/client/petstore/typescript-angular-v11-oneOf/builds/default/.openapi-generator/VERSION
  samples/client/petstore/typescript-axios/builds/with-fake-endpoints-models-for-testing-with-http-signature/api.ts
Labels: Enhancement: Feature, Feature: Generator

#9784 [erlang-server] minor bug fixes
  modules/openapi-generator/src/main/resources/erlang-server/logic_handler.mustache
  modules/openapi-generator/src/main/resources/erlang-server/server.mustache
Labels: Issue: Bug, Server: Erlang

#9800 [Erlang] Return empty body for 304
  modules/openapi-generator/src/main/resources/erlang-server/handler.mustache
Labels: Enhancement: General, Server: Erlang

#9812 [Go-client] Fix inability to download files
  modules/openapi-generator/src/main/resources/go/client.mustache
  samples/client/petstore/go/go-petstore/client.go
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/client.go
  samples/openapi3/client/petstore/go/go-petstore/client.go
Labels: Client: Go, Issue: Bug

#9358 Kotlin-Server: Optional metrics and upgrade to Ktor 1.5.4
  docs/generators/kotlin-server.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinServerCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/AppMain.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/Configuration.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/Paths.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/README.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/api.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/build.gradle.mustache
  samples/server/petstore/kotlin-server/ktor/README.md
  samples/server/petstore/kotlin-server/ktor/build.gradle
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/AppMain.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/Configuration.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/Paths.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/apis/PetApi.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/apis/StoreApi.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/apis/UserApi.kt
Labels: Enhancement: Compatibility, Enhancement: General, Server: Kotlin

#9814 [go-server] fix addResponseHeaders tpl option typo
  modules/openapi-generator/src/main/resources/go-server/routers.mustache
  samples/server/petstore/go-api-server/go/routers.go
  samples/server/petstore/go-chi-server/go/routers.go
Labels: Issue: Bug, Server: Go

#9822 [R] Limit depth of example code generation in RClientCodegen
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
Labels: Client: R, Issue: Bug

#8244 [dart] fix some compilation issues and added casts for analyzer implicit-casts flag
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartClientCodegen.java
  modules/openapi-generator/src/main/resources/dart2/analysis_options.mustache
  modules/openapi-generator/src/main/resources/dart2/api_client.mustache
  modules/openapi-generator/src/main/resources/dart2/serialization/native/native_class.mustache
  samples/openapi3/client/petstore/dart2/petstore_client_lib/.openapi-generator/FILES
  samples/openapi3/client/petstore/dart2/petstore_client_lib/analysis_options.yaml
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/api_client.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/model/api_response.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/model/category.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/model/order.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/model/pet.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/model/tag.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/model/user.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/.openapi-generator/FILES
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/analysis_options.yaml
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api_client.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/additional_properties_class.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/animal.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/api_response.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/array_of_array_of_number_only.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/array_of_number_only.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/array_test.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/capitalization.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/cat.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/cat_all_of.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/category.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/class_model.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/dog.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/dog_all_of.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/enum_arrays.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/enum_test.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/file_schema_test_class.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/foo.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/format_test.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/has_only_read_only.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/health_check_result.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/inline_response_default.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/map_test.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/mixed_properties_and_additional_properties_class.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/model200_response.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/model_client.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/model_file.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/model_list.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/model_return.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/name.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/nullable_class.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/number_only.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/order.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/outer_composite.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/outer_object_with_enum_property.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/pet.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/read_only_first.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/special_model_name.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/tag.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/user.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/.openapi-generator/FILES
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/analysis_options.yaml
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api_client.dart
Labels: Client: Dart, Issue: Bug

#9851 Ensure haskell, erlang server samples are up-to-date
  .gitignore
  bin/configs/erlang-server.yaml
  bin/configs/haskell-servant.yaml
  samples/client/petstore/typescript-fetch/builds/sagas-and-records/.openapi-generator/VERSION
  samples/client/petstore/typescript-fetch/builds/sagas-and-records/src/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/sagas-and-records/src/runtime.ts
  samples/server/petstore/haskell-servant/.openapi-generator/FILES
  samples/server/petstore/haskell-servant/lib/OpenAPIPetstore/API.hs
Labels: Enhancement: CI/Test, Server: Erlang, Server: Haskell

#8929 Typescript angular discriminator mapping
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
Labels: Client: TypeScript, Issue: Bug
