Repository OpenAPITools/openapi-generator, pull requests merged in 2021-04, with the labels that each got.

#8867 fix #7325 kotlin-spring fix reactive delegate pattern combination
  modules/openapi-generator/src/main/resources/kotlin-spring/apiDelegate.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/apiInterface.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/methodBody.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/spring/KotlinSpringServerCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/kotlin/issue7325-use-delegate-reactive-tags-kotlin.yaml
Labels: Issue: Bug, Server: Kotlin

#9134 [cleanup] erefactor/EclipseJdt - Evaluate without null check
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSymfonyServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift4Codegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift5ClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptInversifyClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptNestjsClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptNodeClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptRxjsClientCodegen.java
Labels: Enhancement: Code Cleanup, Feature: Generator

#8965 [typescript-axios] handle uniqueItems in query and header parameters
  bin/configs/typescript-axios-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  modules/openapi-generator/src/main/resources/typescript-axios/apiInner.mustache
  modules/openapi-generator/src/test/resources/3_0/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/client/petstore/typescript-axios/builds/with-fake-endpoints-models-for-testing-with-http-signature/.gitignore
  samples/client/petstore/typescript-axios/builds/with-fake-endpoints-models-for-testing-with-http-signature/.npmignore
  samples/client/petstore/typescript-axios/builds/with-fake-endpoints-models-for-testing-with-http-signature/.openapi-generator-ignore
  samples/client/petstore/typescript-axios/builds/with-fake-endpoints-models-for-testing-with-http-signature/.openapi-generator/FILES
  samples/client/petstore/typescript-axios/builds/with-fake-endpoints-models-for-testing-with-http-signature/.openapi-generator/VERSION
  samples/client/petstore/typescript-axios/builds/with-fake-endpoints-models-for-testing-with-http-signature/api.ts
  samples/client/petstore/typescript-axios/builds/with-fake-endpoints-models-for-testing-with-http-signature/base.ts
  samples/client/petstore/typescript-axios/builds/with-fake-endpoints-models-for-testing-with-http-signature/common.ts
  samples/client/petstore/typescript-axios/builds/with-fake-endpoints-models-for-testing-with-http-signature/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-fake-endpoints-models-for-testing-with-http-signature/git_push.sh
  samples/client/petstore/typescript-axios/builds/with-fake-endpoints-models-for-testing-with-http-signature/index.ts
  samples/openapi3/client/petstore/go/go-petstore/README.md
  samples/openapi3/client/petstore/go/go-petstore/api/openapi.yaml
  samples/openapi3/client/petstore/go/go-petstore/api_fake.go
  samples/openapi3/client/petstore/go/go-petstore/docs/FakeApi.md
Labels: Client: TypeScript, Enhancement: General

#9154 5.2.x CirlceCi test fix, [python] sample updated
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/docs/FakeApi.md
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/.openapi-generator/VERSION
Labels: Client: Python

#9153 Fixes serialization of array items in model_to_dict [python]
  modules/openapi-generator/src/main/resources/python/model_utils.mustache
  modules/openapi-generator/src/test/resources/3_0/python/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/client/petstore/python/petstore_api/model_utils.py
  samples/openapi3/client/extensions/x-auth-id-alias/python/x_auth_id_alias/model_utils.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/model_utils.py
  samples/openapi3/client/petstore/python/.openapi-generator/FILES
  samples/openapi3/client/petstore/python/README.md
  samples/openapi3/client/petstore/python/docs/FakeApi.md
  samples/openapi3/client/petstore/python/docs/FakeGetInlineAdditionalPropertiesPayloadArrayData.md
  samples/openapi3/client/petstore/python/docs/InlineAdditionalPropertiesRefPayload.md
  samples/openapi3/client/petstore/python/docs/InlineObject6.md
  samples/openapi3/client/petstore/python/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/model/fake_get_inline_additional_properties_payload_array_data.py
  samples/openapi3/client/petstore/python/petstore_api/model/inline_additional_properties_ref_payload.py
  samples/openapi3/client/petstore/python/petstore_api/model/inline_object6.py
  samples/openapi3/client/petstore/python/petstore_api/model_utils.py
  samples/openapi3/client/petstore/python/petstore_api/models/__init__.py
  samples/openapi3/client/petstore/python/test/test_fake_api.py
  samples/openapi3/client/petstore/python/test/test_fake_get_inline_additional_properties_payload_array_data.py
  samples/openapi3/client/petstore/python/test/test_inline_additional_properties_ref_payload.py
  samples/openapi3/client/petstore/python/test/test_inline_object6.py
  samples/openapi3/client/petstore/python/tests_manual/test_fake_api.py
Labels: Client: Python

#9161 Include QVariant helpers header
  modules/openapi-generator/src/main/resources/cpp-qt5-client/helpers-header.mustache
  samples/client/petstore/cpp-qt5/client/PFXHelpers.h
Labels: Client: C++, Client: QT

#9126 [php-symfony] fix double quoting string defaults values
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSymfonyServerCodegen.java
Labels: Issue: Bug, Server: PHP

#8224 [go] Add constructor and IsValid method to enum types
  modules/openapi-generator/src/main/resources/go/model_enum.mustache
  samples/client/petstore/go/go-petstore/model_enum_class.go
  samples/client/petstore/go/go-petstore/model_outer_enum.go
  samples/openapi3/client/petstore/go/go-petstore/model_enum_class.go
  samples/openapi3/client/petstore/go/go-petstore/model_outer_enum.go
  samples/openapi3/client/petstore/go/go-petstore/model_outer_enum_default_value.go
  samples/openapi3/client/petstore/go/go-petstore/model_outer_enum_integer.go
  samples/openapi3/client/petstore/go/go-petstore/model_outer_enum_integer_default_value.go
Labels: Client: Go, Enhancement: Feature, Feature: Enum

#7839 [rust-server] Update templating docs to correct the name of x-response-id
  docs/templating.md
Labels: Enhancement: Feature, Feature: Documentation, Server: Rust

#8148 goserver - Allow to specify headers to add to the response
  modules/openapi-generator/src/main/resources/go-server/controller-api.mustache
  modules/openapi-generator/src/main/resources/go-server/helpers.mustache
  modules/openapi-generator/src/main/resources/go-server/impl.mustache
  modules/openapi-generator/src/main/resources/go-server/routers.mustache
  samples/server/petstore/go-api-server/go/api_pet.go
  samples/server/petstore/go-api-server/go/api_store.go
  samples/server/petstore/go-api-server/go/api_user.go
  samples/server/petstore/go-api-server/go/helpers.go
  samples/server/petstore/go-api-server/go/impl.go
  samples/server/petstore/go-api-server/go/routers.go
Labels: Enhancement: Feature, Server: Go

#9170 Allow to specify response headers (needed for redirecting clients)
  bin/configs/go-server-go-api-server.yaml
  docs/generators/go-server.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoServerCodegen.java
  modules/openapi-generator/src/main/resources/go-server/controller-api.mustache
  modules/openapi-generator/src/main/resources/go-server/helpers.mustache
  modules/openapi-generator/src/main/resources/go-server/impl.mustache
  modules/openapi-generator/src/main/resources/go-server/routers.mustache
  samples/server/petstore/go-api-server/go/api_pet.go
  samples/server/petstore/go-api-server/go/api_store.go
  samples/server/petstore/go-api-server/go/api_user.go
  samples/server/petstore/go-api-server/go/helpers.go
  samples/server/petstore/go-api-server/go/impl.go
  samples/server/petstore/go-api-server/go/routers.go
Labels: Enhancement: Feature, Server: Go

#9171 [Go][server] parse bool in query parameter
  modules/openapi-generator/src/main/resources/go-server/controller-api.mustache
  modules/openapi-generator/src/main/resources/go-server/routers.mustache
  samples/server/petstore/go-api-server/go/api_pet.go
  samples/server/petstore/go-api-server/go/api_store.go
  samples/server/petstore/go-api-server/go/api_user.go
  samples/server/petstore/go-api-server/go/routers.go
Labels: Issue: Bug, Server: Go

#7828 Use StandartCharsets.UTF_8 instead of Charset.forName("utf-8") in generated java api clients
  modules/openapi-generator/src/main/resources/Java/libraries/native/ApiClient.mustache
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/native/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: Code Cleanup

#7848 Add executionId to filehash
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
  modules/openapi-generator-maven-plugin/src/test/java/org/openapitools/codegen/plugin/CodeGenMojoTest.java
  modules/openapi-generator-maven-plugin/src/test/resources/default/petstore.yaml
  modules/openapi-generator-maven-plugin/src/test/resources/default/pom.xml
  modules/openapi-generator-maven-plugin/src/test/resources/default/src/main/java/com/example/Example.java
Labels: Issue: Bug, OpenAPI Generator Maven Plugin

#9178 [dart][dart-dio] Minor dependency update
  modules/openapi-generator/src/main/resources/dart/libraries/dio/pubspec.mustache
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/pubspec.yaml
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake_tests/pubspec.yaml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake_tests/pubspec.yaml
Labels: Client: Dart, Enhancement: Compatibility

#9176 [typescript-angular] Provide return value for all code paths (#9174)
  modules/openapi-generator/src/main/resources/typescript-angular/configuration.mustache
Labels: Client: TypeScript

#9207 [Go] Fix golang comment typos
  modules/openapi-generator/src/main/resources/go/client.mustache
  modules/openapi-generator/src/main/resources/go/response.mustache
  samples/client/petstore/go/go-petstore/client.go
  samples/client/petstore/go/go-petstore/response.go
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/client.go
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/response.go
  samples/openapi3/client/petstore/go/go-petstore/client.go
  samples/openapi3/client/petstore/go/go-petstore/response.go
Labels: Client: Go, Issue: Non-operational

#9006 Bug - python client deserialization when attribute named `self`
  modules/openapi-generator/src/main/resources/python/model_utils.mustache
  modules/openapi-generator/src/test/resources/3_0/python/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/client/petstore/python/petstore_api/model_utils.py
  samples/openapi3/client/extensions/x-auth-id-alias/python/x_auth_id_alias/model_utils.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/model_utils.py
  samples/openapi3/client/petstore/python/.openapi-generator/FILES
  samples/openapi3/client/petstore/python/README.md
  samples/openapi3/client/petstore/python/docs/SomeObjectWithSelfAttr.md
  samples/openapi3/client/petstore/python/petstore_api/model/some_object_with_self_attr.py
  samples/openapi3/client/petstore/python/petstore_api/model_utils.py
  samples/openapi3/client/petstore/python/petstore_api/models/__init__.py
  samples/openapi3/client/petstore/python/test/test_some_object_with_self_attr.py
Labels: Client: Python

#9215 Support UUID types in scala-akka-client
  modules/openapi-generator/src/main/resources/scala-akka-client/requests.mustache
  modules/openapi-generator/src/main/resources/scala-akka-client/serializers.mustache
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/core/Serializers.scala
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/core/requests.scala
Labels: Client: Scala, Enhancement: General

#9120 [Go] Parse int arrays and respect the 'required' property
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoServerCodegen.java
  modules/openapi-generator/src/main/resources/go-server/controller-api.mustache
  modules/openapi-generator/src/main/resources/go-server/routers.mustache
  samples/server/petstore/go-api-server/go/api_pet.go
  samples/server/petstore/go-api-server/go/api_store.go
  samples/server/petstore/go-api-server/go/api_user.go
  samples/server/petstore/go-api-server/go/routers.go
Labels: Enhancement: General, Server: Go

#9247 Add sponsor message in F# giraffe generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/FsharpGiraffeServerCodegen.java
  samples/server/petstore/fsharp-giraffe/.openapi-generator/VERSION
  samples/server/petstore/fsharp-giraffe/OpenAPI/README.md
  samples/server/petstore/fsharp-giraffe/OpenAPI/src/OpenAPI.fsproj
  samples/server/petstore/fsharp-giraffe/OpenAPI/src/api/PetApiHandler.fs
  samples/server/petstore/fsharp-giraffe/OpenAPI/src/api/PetApiHandlerParams.fs
  samples/server/petstore/fsharp-giraffe/OpenAPI/src/api/StoreApiHandler.fs
  samples/server/petstore/fsharp-giraffe/OpenAPI/src/api/StoreApiHandlerParams.fs
  samples/server/petstore/fsharp-giraffe/OpenAPI/src/api/UserApiHandler.fs
  samples/server/petstore/fsharp-giraffe/OpenAPI/src/api/UserApiHandlerParams.fs
  samples/server/petstore/fsharp-giraffe/OpenAPI/src/auth/AuthSchemes.fs
  samples/server/petstore/fsharp-giraffe/OpenAPI/src/impl/CustomHandlers.fs
  samples/server/petstore/fsharp-giraffe/OpenAPI/src/impl/PetApiService.fs
  samples/server/petstore/fsharp-giraffe/OpenAPI/src/impl/StoreApiService.fs
  samples/server/petstore/fsharp-giraffe/OpenAPI/src/impl/UserApiService.fs
Labels: Server: F#

#7074 [php-symfony] Update model_variables.mustache
  modules/openapi-generator/src/main/resources/php-symfony/model_variables.mustache
Labels: Enhancement: General, Server: PHP

#9180 [dart][dart-dio] Add built_value date support w/o timemachine
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioNextClientCodegen.java
  modules/openapi-generator/src/main/resources/dart/libraries/dio/lib.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/date.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/date_serializer.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/offset_date_serializer.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/serializers.mustache
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/.openapi-generator/FILES
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/doc/FakeApi.md
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/doc/FormatTest.md
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/doc/NullableClass.md
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/openapi.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/fake_api.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/date_serializer.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/date.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/format_test.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/nullable_class.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/serializers.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/test/fake_api_test.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/test/format_test_test.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/test/nullable_class_test.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake_tests/test/api/fake_api_test.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake_tests/test/model/date_serializer_test.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake_tests/test/model/date_test.dart
Labels: Client: Dart, Issue: Bug

#9255 [nim] camelize names
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/NimClientCodegen.java
  samples/client/petstore/nim/petstore/apis/api_pet.nim
Labels: Client: Nim, Issue: Bug

#9248 [php-symfony] Switch to OAS v3 spec to generate samples
  bin/configs/php-symfony-SymfonyBundle-php.yaml
  samples/server/petstore/php-symfony/SymfonyBundle-php/Api/PetApiInterface.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Api/StoreApiInterface.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Api/UserApiInterface.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/PetController.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/StoreController.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/UserController.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/Category.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/README.md
  samples/server/petstore/php-symfony/SymfonyBundle-php/Resources/docs/Api/PetApiInterface.md
  samples/server/petstore/php-symfony/SymfonyBundle-php/Resources/docs/Api/StoreApiInterface.md
  samples/server/petstore/php-symfony/SymfonyBundle-php/Resources/docs/Api/UserApiInterface.md
Labels: Enhancement: CI/Test, Server: PHP

#9246 [Docker] support multi-arch build
  .travis.yml
  modules/openapi-generator-cli/Dockerfile
Labels: Docker, Enhancement: Compatibility

#9059 Gradle - @Input and @Internal should not be apply on the same property
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
Labels: Enhancement: Compatibility, Enhancement: General, OpenAPI Generator Gradle Plugin

#9239 Kotlin jvm-retrofit2: Add missing ResponseBody import for binary responses
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/api.mustache
Labels: Client: Kotlin, Issue: Bug

#9143 [Kotlin] Fix (de)serialization of enum classes (kotlinx serialization)
  modules/openapi-generator/src/main/resources/kotlin-client/build.gradle.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/data_class.mustache
  samples/client/petstore/kotlin-retrofit2-kotlinx_serialization/build.gradle
  samples/client/petstore/kotlin-retrofit2-kotlinx_serialization/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-retrofit2-kotlinx_serialization/src/main/kotlin/org/openapitools/client/models/Pet.kt
Labels: Client: Kotlin, Enhancement: Feature, Feature: Enum

#9169 [Java] [Native] Add response body to exception message
  modules/openapi-generator/src/main/resources/Java/libraries/native/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/api.mustache
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/UserApi.java
  samples/openapi3/client/petstore/java/native/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/native/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/openapi3/client/petstore/java/native/src/main/java/org/openapitools/client/api/DefaultApi.java
  samples/openapi3/client/petstore/java/native/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/openapi3/client/petstore/java/native/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/openapi3/client/petstore/java/native/src/main/java/org/openapitools/client/api/PetApi.java
  samples/openapi3/client/petstore/java/native/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/openapi3/client/petstore/java/native/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Enhancement: General

#7917 [Kotlin] Fix (de)serialization of enum classes
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinSpringServerCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-spring/enumClass.mustache
Labels: Client: Kotlin, Feature: Enum, Issue: Bug

#9145 [csharp][netcore-httpclient] Refactor of constructors
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/httpclient/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/httpclient/api.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/ApiClient.cs
Labels: Client: C-Sharp, Enhancement: Code Cleanup

#8880 feat(adapter): add BigDecimal kotlin support
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinClientCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-client/jvm-common/infrastructure/BigDecimalAdapter.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/jvm-common/infrastructure/BigIntegerAdapter.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/jvm-common/infrastructure/Serializer.kt.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultGeneratorTest.java
  samples/client/petstore/kotlin-json-request-string/.openapi-generator/FILES
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/infrastructure/BigDecimalAdapter.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/infrastructure/BigIntegerAdapter.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-moshi-codegen/.openapi-generator/FILES
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/infrastructure/BigDecimalAdapter.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/infrastructure/BigIntegerAdapter.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-nonpublic/.openapi-generator/FILES
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/infrastructure/BigDecimalAdapter.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/infrastructure/BigIntegerAdapter.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-nullable/.openapi-generator/FILES
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/infrastructure/BigDecimalAdapter.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/infrastructure/BigIntegerAdapter.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-okhttp3/.openapi-generator/FILES
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/infrastructure/BigDecimalAdapter.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/infrastructure/BigIntegerAdapter.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-retrofit2-kotlinx_serialization/src/main/kotlin/org/openapitools/client/infrastructure/BigDecimalAdapter.kt
  samples/client/petstore/kotlin-retrofit2-kotlinx_serialization/src/main/kotlin/org/openapitools/client/infrastructure/BigIntegerAdapter.kt
  samples/client/petstore/kotlin-retrofit2-rx3/.openapi-generator/FILES
  samples/client/petstore/kotlin-retrofit2-rx3/src/main/kotlin/org/openapitools/client/infrastructure/BigDecimalAdapter.kt
  samples/client/petstore/kotlin-retrofit2-rx3/src/main/kotlin/org/openapitools/client/infrastructure/BigIntegerAdapter.kt
  samples/client/petstore/kotlin-retrofit2-rx3/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-retrofit2/.openapi-generator/FILES
  samples/client/petstore/kotlin-retrofit2/src/main/kotlin/org/openapitools/client/infrastructure/BigDecimalAdapter.kt
  samples/client/petstore/kotlin-retrofit2/src/main/kotlin/org/openapitools/client/infrastructure/BigIntegerAdapter.kt
  samples/client/petstore/kotlin-retrofit2/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-string/.openapi-generator/FILES
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/BigDecimalAdapter.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/BigIntegerAdapter.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-threetenbp/.openapi-generator/FILES
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/BigDecimalAdapter.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/BigIntegerAdapter.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-uppercase-enum/.openapi-generator/FILES
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/infrastructure/BigDecimalAdapter.kt
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/infrastructure/BigIntegerAdapter.kt
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin/.openapi-generator/FILES
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/BigDecimalAdapter.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/BigIntegerAdapter.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
Labels: Client: Kotlin, Enhancement: Compatibility

#9260 typescript-angular: Fix Cannot read property 'apiKey' of undefined
  modules/openapi-generator/src/main/resources/typescript-angular/configuration.mustache
  samples/client/petstore/typescript-angular-v10-provided-in-root/builds/default/configuration.ts
  samples/client/petstore/typescript-angular-v10-provided-in-root/builds/with-npm/configuration.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/default/configuration.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/configuration.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/configuration.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/configuration.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/configuration.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/configuration.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/configuration.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/configuration.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/configuration.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/configuration.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/configuration.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/configuration.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/configuration.ts
  samples/client/petstore/typescript-angular-v9-provided-in-any/builds/default/configuration.ts
  samples/client/petstore/typescript-angular-v9-provided-in-root/builds/default/configuration.ts
  samples/client/petstore/typescript-angular-v9-provided-in-root/builds/with-npm/configuration.ts
Labels: Client: TypeScript

#9285 [Enhancement] added support for custom type & format mapping
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/ruby/RubyClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/type_mapping_test.yaml
Labels: Enhancement: Feature, Feature: Generator

#9284 [Kotlin]] add support for binary response
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-okhttp/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin, Enhancement: General

#9231 [Ruby] prevent NPE in constructing oneOf example
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RubyClientCodegen.java
Labels: Client: Ruby, Issue: Bug

#9291 UE4 - Support FGuid with in/out Helpers
  modules/openapi-generator/src/main/resources/cpp-ue4/helpers-header.mustache
Labels: Client: C++, Enhancement: General

#9283 Qt5 support date format enum
  modules/openapi-generator/src/main/resources/cpp-qt5-client/helpers-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/helpers-header.mustache
  samples/client/petstore/cpp-qt5/client/PFXHelpers.cpp
  samples/client/petstore/cpp-qt5/client/PFXHelpers.h
Labels: Client: C++, Client: QT, Enhancement: Feature, Feature: Enum

#9295 [PowerShell] improve return type documentation
  modules/openapi-generator/src/main/resources/powershell/api_doc.mustache
  samples/client/petstore/powershell/docs/PSPetApi.md
  samples/client/petstore/powershell/docs/PSStoreApi.md
  samples/client/petstore/powershell/docs/PSUserApi.md
Labels: Client: PowerShell, Enhancement: Feature, Feature: Documentation

#9299 Dockerfile for the Ruby-Sinatra generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RubySinatraServerCodegen.java
  modules/openapi-generator/src/main/resources/ruby-sinatra-server/Dockerfile
  modules/openapi-generator/src/main/resources/ruby-sinatra-server/Gemfile
  modules/openapi-generator/src/main/resources/ruby-sinatra-server/README.md
Labels: Enhancement: General, Server: Ruby

#9224 Add Go echo server codegen
  bin/configs/go-echo-server-petstore-new.yaml
  docs/generators.md
  docs/generators/go-echo-server.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoEchoServerCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/go-echo-server/Dockerfile.mustache
  modules/openapi-generator/src/main/resources/go-echo-server/README.mustache
  modules/openapi-generator/src/main/resources/go-echo-server/api.mustache
  modules/openapi-generator/src/main/resources/go-echo-server/go-mod.mustache
  modules/openapi-generator/src/main/resources/go-echo-server/handler-container.mustache
  modules/openapi-generator/src/main/resources/go-echo-server/hello-world.mustache
  modules/openapi-generator/src/main/resources/go-echo-server/main.mustache
  modules/openapi-generator/src/main/resources/go-echo-server/model.mustache
  modules/openapi-generator/src/main/resources/go-echo-server/openapi.mustache
  samples/server/petstore/go-echo-server/.docs/api/openapi.yaml
  samples/server/petstore/go-echo-server/.openapi-generator-ignore
  samples/server/petstore/go-echo-server/.openapi-generator/FILES
  samples/server/petstore/go-echo-server/.openapi-generator/VERSION
  samples/server/petstore/go-echo-server/Dockerfile
  samples/server/petstore/go-echo-server/README.md
  samples/server/petstore/go-echo-server/go.mod
  samples/server/petstore/go-echo-server/handlers/api_pet.go
  samples/server/petstore/go-echo-server/handlers/api_store.go
  samples/server/petstore/go-echo-server/handlers/api_user.go
  samples/server/petstore/go-echo-server/handlers/container.go
  samples/server/petstore/go-echo-server/main.go
  samples/server/petstore/go-echo-server/models/hello-world.go
  samples/server/petstore/go-echo-server/models/model_api_response.go
  samples/server/petstore/go-echo-server/models/model_category.go
  samples/server/petstore/go-echo-server/models/model_order.go
  samples/server/petstore/go-echo-server/models/model_pet.go
  samples/server/petstore/go-echo-server/models/model_tag.go
  samples/server/petstore/go-echo-server/models/model_user.go
Labels: Enhancement: New generator, Server: Go

#9300 [PS] minor improvements to the auto-generated appveyor.yml
  modules/openapi-generator/src/main/resources/powershell/appveyor.mustache
  samples/client/petstore/powershell/appveyor.yml
Labels: Client: PowerShell, Enhancement: CI/Test

#9303 Minor improvements to go-echo server
  README.md
  docs/generators.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoEchoServerCodegen.java
  pom.xml
  samples/server/petstore/go-echo-server/pom.xml
Labels: Enhancement: CI/Test, Enhancement: General, Server: Go

#9310 [bash] Update Bash Client Dockerfile.mustache
  bin/configs/bash.yaml
  modules/openapi-generator/src/main/resources/bash/Dockerfile.mustache
  samples/client/petstore/bash/.openapi-generator/FILES
  samples/client/petstore/bash/.openapi-generator/VERSION
  samples/client/petstore/bash/Dockerfile
  samples/client/petstore/bash/README.md
  samples/client/petstore/bash/_petstore-cli
  samples/client/petstore/bash/docs/AdditionalPropertiesClass.md
  samples/client/petstore/bash/docs/AnotherFakeApi.md
  samples/client/petstore/bash/docs/BigCat.md
  samples/client/petstore/bash/docs/BigCatAllOf.md
  samples/client/petstore/bash/docs/EnumTest.md
  samples/client/petstore/bash/docs/FakeApi.md
  samples/client/petstore/bash/docs/FakeClassnameTags123Api.md
  samples/client/petstore/bash/docs/File.md
  samples/client/petstore/bash/docs/FormatTest.md
  samples/client/petstore/bash/docs/List.md
  samples/client/petstore/bash/docs/Pet.md
  samples/client/petstore/bash/docs/PetApi.md
  samples/client/petstore/bash/docs/StoreApi.md
  samples/client/petstore/bash/docs/UserApi.md
  samples/client/petstore/bash/petstore-cli
  samples/client/petstore/bash/petstore-cli.bash-completion
Labels: Client: Bash, Docker, Enhancement: General

#9316 [Kotlin][#7925] Make ApiClient in jvm-retrofit2 be able to add additional retrofit Converter.Factory
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin-retrofit2-kotlinx_serialization/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-retrofit2-rx3/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-retrofit2/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin, Enhancement: General

#9322 Update documentation
  docs/generators/csharp-netcore.md
  docs/generators/csharp.md
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
  modules/openapi-generator-gradle-plugin/README.adoc
  modules/openapi-generator-maven-plugin/README.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
Labels: Client: C-Sharp, Enhancement: Feature, Feature: Documentation, Feature: Generator

#9314 [Kotlin][#9313] Generator should support optional form parameter
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/formParams.mustache
  samples/client/petstore/kotlin-retrofit2-kotlinx_serialization/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-retrofit2-rx3/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-retrofit2/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
Labels: Client: Kotlin, Enhancement: General

#9336 [Java][Jersey2]: Fixing package name in AbstractOpenApiSchema.java
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/AbstractOpenApiSchema.mustache
Labels: Issue: Bug

#9331 [Java][Spring] Fix for #8659 Different in-parameter types generated for api and delegate for binary (application/octet-stream)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/api_test.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/homeController.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  samples/server/petstore/spring-mvc-j8-async/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/spring-mvc-j8-localdatetime/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/spring-mvc-no-nullable/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/spring-mvc-spring-pageable/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/spring-mvc/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-beanvalidation-no-nullable/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-implicitHeaders/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/configuration/HomeController.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern-without-j8/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-spring-pageable-without-j8/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-spring-pageable/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/FormatTest.java
  samples/server/petstore/springboot/src/main/java/org/openapitools/model/FormatTest.java
Labels: Issue: Bug, Server: Spring

#9210 [core] Add refreshUrl to CodegenSecurity
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenSecurity.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Feature: Authentication

#9340 [Python] Fix exclusive min and max
  modules/openapi-generator/src/main/resources/python/api.mustache
  modules/openapi-generator/src/test/resources/3_0/python/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/openapi3/client/petstore/python/petstore_api/api/fake_api.py
Labels: Client: Python, Issue: Bug

#9342 [DOCS] Updated pom.xml snippet with latest version
  docs/plugins.md
Labels: Enhancement: Feature, Feature: Documentation

#9339 Move ensure up-to-date script to drone.io
  CI/.drone.yml
  CI/circle_parallel.sh
  bin/meta-codegen.sh
  bin/utils/test-fake-petstore-for-all.sh
  samples/meta-codegen/usage/src/org/openapitools/api/PetApi.sample
  samples/meta-codegen/usage/src/org/openapitools/api/StoreApi.sample
  samples/meta-codegen/usage/src/org/openapitools/api/UserApi.sample
Labels: Enhancement: CI/Test

#9344 [java][okhttp] Default Java client to Java 8 instead of Java 7
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/build.gradle.mustache
  samples/client/petstore/java/okhttp-gson-dynamicOperations/build.gradle
  samples/client/petstore/java/okhttp-gson-parcelableModel/build.gradle
  samples/client/petstore/java/okhttp-gson/build.gradle
Labels: Client: Java, Enhancement: Code Cleanup

#9348 [Scala][Akka] Use Files.createTempFile to address security concerns
  modules/openapi-generator/src/main/resources/scala-akka-http-server/multipartDirectives.mustache
  modules/openapi-generator/src/test/resources/2_0/templates/Java/ApiClient.mustache
  modules/openapi-generator/src/test/resources/2_0/templates/Java/libraries/jersey2/ApiClient.mustache
  modules/openapi-generator/src/test/resources/2_0/templates/Java/libraries/jersey2/JSON.mustache
  modules/openapi-generator/src/test/resources/2_0/templates/Java/libraries/jersey2/api.mustache
  modules/openapi-generator/src/test/resources/2_0/templates/Java/libraries/jersey2/build.gradle.mustache
  modules/openapi-generator/src/test/resources/2_0/templates/Java/libraries/jersey2/build.sbt.mustache
  modules/openapi-generator/src/test/resources/2_0/templates/Java/libraries/jersey2/pom.mustache
  modules/openapi-generator/src/test/resources/2_0/templates/Java/model.mustache
  samples/server/petstore/scala-akka-http-server/.openapi-generator/FILES
  samples/server/petstore/scala-akka-http-server/.openapi-generator/VERSION
  samples/server/petstore/scala-akka-http-server/src/main/scala/org/openapitools/server/MultipartDirectives.scala
Labels: Issue: Security, Server: Scala

#8705 [PHP] Fix parentSchema conditional causing parent call when parent isn't present
  modules/openapi-generator/src/main/resources/php/model_generic.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/NullableClass.php
Labels: Client: PHP, Issue: Bug

#9353 [java][okhttp] Fixes #9151: Bump OkHTTP dependency to latest
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/build.gradle.mustache
  samples/client/petstore/java/okhttp-gson-dynamicOperations/build.gradle
  samples/client/petstore/java/okhttp-gson-parcelableModel/build.gradle
  samples/client/petstore/java/okhttp-gson/build.gradle
Labels: Client: Java, Enhancement: Compatibility

#9088 Ktor server upgrade
  docs/generators/kotlin-server.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinServerCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-server/README.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/data_class.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/enum_class.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/ApiKeyAuth.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/AppMain.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/Configuration.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/Paths.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/README.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/_api_body.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/_principal.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/_response.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/api.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/build.gradle.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/licenseInfo.mustache
  samples/server/petstore/kotlin-server/ktor/README.md
  samples/server/petstore/kotlin-server/ktor/build.gradle
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/AppMain.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/Configuration.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/Paths.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/apis/PetApi.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/apis/StoreApi.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/apis/UserApi.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/infrastructure/ApiKeyAuth.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/models/ApiResponse.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/models/Category.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/models/Order.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/models/Pet.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/models/Tag.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/models/User.kt
Labels: Enhancement: Compatibility, Server: Kotlin

#9361 [Java][okhttp] Bump OkHTTP dependency to latest in build.sbt
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/build.sbt.mustache
  samples/client/petstore/java/okhttp-gson-dynamicOperations/build.sbt
  samples/client/petstore/java/okhttp-gson-parcelableModel/build.sbt
  samples/client/petstore/java/okhttp-gson/build.sbt
Labels: Client: Java, Enhancement: Compatibility

#9365 Keep old Ktor server generator for backward compatibility
  bin/configs/kotlin-server-ktor-deprecated.yaml
  docs/generators.md
  docs/generators/README.md
  docs/generators/kotlin-server-deprecated.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinServerDeprecatedCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/README.mustache
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/api_doc.mustache
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/class_doc.mustache
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/data_class.mustache
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/data_class_opt_var.mustache
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/data_class_req_var.mustache
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/enum_class.mustache
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/enum_doc.mustache
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/libraries/ktor/ApiKeyAuth.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/libraries/ktor/AppMain.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/libraries/ktor/Configuration.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/libraries/ktor/Dockerfile.mustache
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/libraries/ktor/Paths.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/libraries/ktor/README.mustache
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/libraries/ktor/_api_body.mustache
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/libraries/ktor/_principal.mustache
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/libraries/ktor/_response.mustache
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/libraries/ktor/api.mustache
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/libraries/ktor/application.conf.mustache
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/libraries/ktor/build.gradle.mustache
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/libraries/ktor/gradle.properties
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/libraries/ktor/licenseInfo.mustache
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/libraries/ktor/logback.xml
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/licenseInfo.mustache
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/model.mustache
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/modelMutable.mustache
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/model_doc.mustache
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/settings.gradle.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/KotlinModelCodegenTest.java
  samples/server/petstore/kotlin-server-deprecated/ktor/.openapi-generator-ignore
  samples/server/petstore/kotlin-server-deprecated/ktor/.openapi-generator/FILES
  samples/server/petstore/kotlin-server-deprecated/ktor/.openapi-generator/VERSION
  samples/server/petstore/kotlin-server-deprecated/ktor/Dockerfile
  samples/server/petstore/kotlin-server-deprecated/ktor/README.md
  samples/server/petstore/kotlin-server-deprecated/ktor/build.gradle
  samples/server/petstore/kotlin-server-deprecated/ktor/gradle.properties
  samples/server/petstore/kotlin-server-deprecated/ktor/settings.gradle
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/kotlin/org/openapitools/server/AppMain.kt
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/kotlin/org/openapitools/server/Configuration.kt
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/kotlin/org/openapitools/server/Paths.kt
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/kotlin/org/openapitools/server/apis/PetApi.kt
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/kotlin/org/openapitools/server/apis/StoreApi.kt
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/kotlin/org/openapitools/server/apis/UserApi.kt
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/kotlin/org/openapitools/server/infrastructure/ApiKeyAuth.kt
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/kotlin/org/openapitools/server/models/ApiResponse.kt
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/kotlin/org/openapitools/server/models/Category.kt
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/kotlin/org/openapitools/server/models/Order.kt
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/kotlin/org/openapitools/server/models/Pet.kt
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/kotlin/org/openapitools/server/models/Tag.kt
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/kotlin/org/openapitools/server/models/User.kt
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/resources/application.conf
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/resources/logback.xml
Labels: Enhancement: New generator, Server: Kotlin

#9347 [Test] Migrate samples from 2.0 Spec to 3.0 spec
  bin/configs/ktorm-schema.yaml
  bin/configs/nim.yaml
  samples/client/petstore/nim/petstore/apis/api_pet.nim
  samples/client/petstore/nim/petstore/apis/api_store.nim
  samples/client/petstore/nim/petstore/apis/api_user.nim
Labels: Enhancement: CI/Test

#9367 [kotlin-server-deprecated] minor improvements
  bin/configs/kotlin-server-ktor-deprecated.yaml
  docs/generators.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinServerDeprecatedCodegen.java
  samples/server/petstore/kotlin-server-deprecated/ktor/.openapi-generator-ignore
  samples/server/petstore/kotlin-server-deprecated/ktor/.openapi-generator/FILES
  samples/server/petstore/kotlin-server-deprecated/ktor/.openapi-generator/VERSION
  samples/server/petstore/kotlin-server-deprecated/ktor/Dockerfile
  samples/server/petstore/kotlin-server-deprecated/ktor/README.md
  samples/server/petstore/kotlin-server-deprecated/ktor/build.gradle
  samples/server/petstore/kotlin-server-deprecated/ktor/gradle.properties
  samples/server/petstore/kotlin-server-deprecated/ktor/settings.gradle
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/kotlin/org/openapitools/server/AppMain.kt
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/kotlin/org/openapitools/server/Configuration.kt
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/kotlin/org/openapitools/server/Paths.kt
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/kotlin/org/openapitools/server/apis/PetApi.kt
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/kotlin/org/openapitools/server/apis/StoreApi.kt
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/kotlin/org/openapitools/server/apis/UserApi.kt
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/kotlin/org/openapitools/server/infrastructure/ApiKeyAuth.kt
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/kotlin/org/openapitools/server/models/ApiResponse.kt
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/kotlin/org/openapitools/server/models/Category.kt
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/kotlin/org/openapitools/server/models/Order.kt
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/kotlin/org/openapitools/server/models/Pet.kt
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/kotlin/org/openapitools/server/models/Tag.kt
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/kotlin/org/openapitools/server/models/User.kt
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/resources/application.conf
  samples/server/petstore/kotlin-server-deprecated/ktor/src/main/resources/logback.xml
Labels: Enhancement: General, Server: Kotlin

#8624 [scala][akka] Update dependencies for scala 2.13 in scala-akka
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaAkkaClientCodegen.java
  modules/openapi-generator/src/main/resources/scala-akka-client/apiInvoker.mustache
  modules/openapi-generator/src/main/resources/scala-akka-client/apiSettings.mustache
  modules/openapi-generator/src/main/resources/scala-akka-client/build.sbt.mustache
  modules/openapi-generator/src/main/resources/scala-akka-client/pom.mustache
  modules/openapi-generator/src/main/resources/scala-akka-client/project/build.properties.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/scalaakka/ScalaAkkaClientCodegenTest.java
  samples/client/petstore/scala-akka/.openapi-generator/FILES
  samples/client/petstore/scala-akka/build.sbt
  samples/client/petstore/scala-akka/pom.xml
  samples/client/petstore/scala-akka/project/build.properties
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/core/ApiInvoker.scala
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/core/ApiSettings.scala
  samples/client/petstore/scala-akka/src/test/scala/PetApiTest.scala
Labels: Client: Scala, Enhancement: Compatibility
