Repository OpenAPITools/openapi-generator, pull requests merged in 2021-09, with the labels that each got.

#10296 [Rust][Client] Default version to spec version if not provided as property
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustClientCodegen.java
Labels: Client: Rust, Enhancement: General

#10292 [swift][client] upgrade alamofire to version 5.4.3
  modules/openapi-generator/src/main/resources/swift5/Cartfile.mustache
  modules/openapi-generator/src/main/resources/swift5/Package.swift.mustache
  modules/openapi-generator/src/main/resources/swift5/Podspec.mustache
  modules/openapi-generator/src/main/resources/swift5/libraries/alamofire/AlamofireImplementations.mustache
  samples/client/petstore/swift5/alamofireLibrary/Cartfile
  samples/client/petstore/swift5/alamofireLibrary/Package.resolved
  samples/client/petstore/swift5/alamofireLibrary/Package.swift
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient.podspec
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient/Classes/OpenAPIs/AlamofireImplementations.swift
  samples/client/petstore/swift5/alamofireLibrary/SwaggerClientTests/SwaggerClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/alamofireLibrary/SwaggerClientTests/SwaggerClient.xcworkspace/xcshareddata/swiftpm/Package.resolved
  samples/client/petstore/swift5/alamofireLibrary/SwaggerClientTests/SwaggerClient/BearerDecodableRequestBuilder.swift
Labels: Client: Swift, Enhancement: Compatibility

#10229 [php-slim4] Reduce log noise
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSlim4ServerCodegen.java
  samples/server/petstore/php-slim4/.openapi-generator/FILES
Labels: Server: PHP, Enhancement: Code Cleanup

#10308 [typescript-axios] Properly emit module as ES6 instead of commonJS when using ES6
  modules/openapi-generator/src/main/resources/typescript-axios/tsconfig.mustache
  samples/client/petstore/typescript-axios/builds/es6-target/tsconfig.json
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/tsconfig.json
  samples/client/petstore/typescript-axios/builds/with-npm-version/tsconfig.json
  samples/client/petstore/typescript-axios/tests/default/tsconfig.json
Labels: Breaking change (without fallback), Client: TypeScript

#6735 Adding the useOptional in the ApiController
  modules/openapi-generator/src/main/resources/JavaSpring/apiController.mustache
Labels: Issue: Bug, Server: Java, Server: Spring

#10285 [Java][Spring] fix wrong values with enum variables in path parameters which generated allowableValues with double quote
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/main/resources/JavaSpring/pathParams.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_6762.yaml
Labels: Feature: Enum, Issue: Bug, Server: Java, Server: Spring

#10234 [Java][Spring] fix imports for nullable helpers
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/pojo.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/pojo.mustache
  modules/openapi-generator/src/main/resources/Java/pojo.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/pojo.mustache
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/model/EnumTest.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/model/HealthCheckResult.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/model/NullableClass.java
  samples/client/petstore/java/webclient-nulable-arrays/src/main/java/org/openapitools/client/model/ByteArrayObject.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/model/EnumTest.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/model/HealthCheckResult.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/model/NullableClass.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/AdditionalPropertiesClass.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Drawing.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/EnumTest.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/HealthCheckResult.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/NullableClass.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/User.java
Labels: Client: Java, Issue: Bug, Server: Java, Server: Spring

#10273 Fix php enum default value initialization
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPhpCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/php/AbstractPhpCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/php/issue_10244.yaml
Labels: Client: PHP, Feature: Enum, Issue: Bug

#10257 Fix java examples
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/AbstractJavaCodegenExampleValuesTest.java
  samples/client/petstore/java/apache-httpclient/docs/FakeApi.md
  samples/client/petstore/java/google-api-client/docs/FakeApi.md
  samples/client/petstore/java/jersey1/docs/FakeApi.md
  samples/client/petstore/java/jersey2-java8-localdatetime/docs/FakeApi.md
  samples/client/petstore/java/jersey2-java8/docs/FakeApi.md
  samples/client/petstore/java/native-async/docs/FakeApi.md
  samples/client/petstore/java/native/docs/FakeApi.md
  samples/client/petstore/java/okhttp-gson-dynamicOperations/docs/FakeApi.md
  samples/client/petstore/java/okhttp-gson-parcelableModel/docs/FakeApi.md
  samples/client/petstore/java/okhttp-gson/docs/FakeApi.md
  samples/client/petstore/java/resteasy/docs/FakeApi.md
  samples/client/petstore/java/resttemplate-withXml/docs/FakeApi.md
  samples/client/petstore/java/resttemplate/docs/FakeApi.md
  samples/client/petstore/java/retrofit2-play26/docs/FakeApi.md
  samples/client/petstore/java/retrofit2/docs/FakeApi.md
  samples/client/petstore/java/retrofit2rx2/docs/FakeApi.md
  samples/client/petstore/java/retrofit2rx3/docs/FakeApi.md
  samples/client/petstore/java/vertx-no-nullable/docs/FakeApi.md
  samples/client/petstore/java/vertx/docs/FakeApi.md
  samples/client/petstore/java/webclient/docs/FakeApi.md
  samples/openapi3/client/petstore/java/jersey2-java8/docs/FakeApi.md
Labels: Client: Java, Issue: Bug, Server: Java

#10099 [Java] Return content type on default spring reactive responses
  modules/openapi-generator/src/main/resources/JavaSpring/apiUtil.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/methodBody.mustache
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/AnotherFakeApiDelegate.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/ApiUtil.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/FakeApiDelegate.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/FakeClassnameTestApiDelegate.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/PetApiDelegate.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/StoreApiDelegate.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/UserApiDelegate.java
Labels: Issue: Bug, Server: Spring

#10303 [kotlin-client] OkHttp call is now non-blocking
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-okhttp/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin, Enhancement: General

#10312 Add OAS3 allowEmptyValue for query params
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/resources/3_0/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/client/petstore/csharp/OpenAPIClient/docs/FakeApi.md
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/elixir/lib/openapi_petstore/api/fake.ex
  samples/client/petstore/java/feign/api/openapi.yaml
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/webclient/api/openapi.yaml
  samples/client/petstore/java/webclient/docs/FakeApi.md
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/javascript-es6/docs/FakeApi.md
  samples/client/petstore/javascript-es6/src/api/FakeApi.js
  samples/client/petstore/javascript-promise-es6/docs/FakeApi.md
  samples/client/petstore/javascript-promise-es6/src/api/FakeApi.js
  samples/client/petstore/perl/docs/FakeApi.md
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/FakeApi.pm
  samples/client/petstore/php/OpenAPIClient-php/docs/Api/FakeApi.md
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/client/petstore/ruby-faraday/docs/FakeApi.md
  samples/client/petstore/ruby-faraday/lib/petstore/api/fake_api.rb
  samples/client/petstore/ruby/docs/FakeApi.md
  samples/client/petstore/ruby/lib/petstore/api/fake_api.rb
  samples/client/petstore/typescript-fetch/builds/default-v3.0/apis/FakeApi.ts
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/doc/FakeApi.md
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/doc/FakeApi.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/fake_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/doc/FakeApi.md
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/fake_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/doc/FakeApi.md
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/fake_api.dart
  samples/openapi3/client/petstore/python-legacy/docs/FakeApi.md
  samples/openapi3/client/petstore/python-legacy/petstore_api/api/fake_api.py
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/FakeApiService.java
  samples/server/petstore/jaxrs-jersey/src/main/java/org/openapitools/api/impl/FakeApiServiceImpl.java
  samples/server/petstore/php-laravel/lib/app/Http/Controllers/FakeController.php
  samples/server/petstore/php-lumen/lib/app/Http/Controllers/FakeApi.php
Labels: Enhancement: Feature, Feature: Generator

#10316 [typescript-axios] Use CommonJS when using ES5 as target as per Typescript docs
  modules/openapi-generator/src/main/resources/typescript-axios/tsconfig.mustache
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/tsconfig.json
  samples/client/petstore/typescript-axios/builds/with-npm-version/tsconfig.json
  samples/client/petstore/typescript-axios/tests/default/tsconfig.json
Labels: Client: TypeScript, Issue: Usage/Installation

#10317 [bugfix][dart-dio-next] Fix condition bug in dart-dio-next OauthInterceptor
  modules/openapi-generator/src/main/resources/dart/libraries/dio/auth/oauth.mustache
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/README.md
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/auth/oauth.dart
Labels: Client: Dart, Issue: Bug

#10331 Improved rendering of python function params and docstrings in IDEs
  modules/openapi-generator/src/main/resources/python/api.mustache
  samples/client/petstore/python/petstore_api/api/another_fake_api.py
  samples/client/petstore/python/petstore_api/api/fake_api.py
  samples/client/petstore/python/petstore_api/api/fake_classname_tags_123_api.py
  samples/client/petstore/python/petstore_api/api/pet_api.py
  samples/client/petstore/python/petstore_api/api/store_api.py
  samples/client/petstore/python/petstore_api/api/user_api.py
  samples/client/petstore/python/test/test_fake_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/another_fake_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/fake_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/fake_classname_tags_123_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/pet_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/store_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/user_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/test/test_fake_api.py
  samples/openapi3/client/extensions/x-auth-id-alias/python/x_auth_id_alias/api/usage_api.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/api/usage_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/default_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_classname_tags_123_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/user_api.py
Labels: Client: Python

#10345 [R] Fix shellcheck violations in git_push.sh.template
  modules/openapi-generator/src/main/resources/r/git_push.sh.mustache
  samples/client/petstore/R/git_push.sh
Labels: Client: R, Issue: Bug

#10310 [bugfix][Elm] Fix template when response schema is Map
  modules/openapi-generator/src/main/resources/elm/recordFieldValueDecoder.mustache
Labels: Client: Elm, Issue: Bug

#10328 [elm] fix for invalid code being generated for enums
  modules/openapi-generator/src/main/resources/elm/fieldDecoder.mustache
  modules/openapi-generator/src/main/resources/elm/fieldEncoder.mustache
Labels: Client: Elm, Feature: Enum, Issue: Bug

#10326 Windows adaptations and installer configuration
  docs/generators/c.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CLibcurlClientCodegen.java
  modules/openapi-generator/src/main/resources/C-libcurl/CMakeLists.txt.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/apiClient.c.mustache
  samples/client/petstore/c/src/apiClient.c
Labels: Enhancement: Compatibility, Client: C

#10322 cpp-qt-client: Fix cppcheck warnings
  modules/openapi-generator/src/main/resources/cpp-qt-client/api-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt-client/api-header.mustache
  samples/client/petstore/cpp-qt/client/PFXPetApi.cpp
  samples/client/petstore/cpp-qt/client/PFXPetApi.h
  samples/client/petstore/cpp-qt/client/PFXStoreApi.cpp
  samples/client/petstore/cpp-qt/client/PFXStoreApi.h
  samples/client/petstore/cpp-qt/client/PFXUserApi.cpp
  samples/client/petstore/cpp-qt/client/PFXUserApi.h
Labels: Client: C++, Enhancement: Code format, Enhancement: General, Enhancement: Code Cleanup

#10348 Show an error instead of NPE when schema is not defined
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Feature: Generator, Issue: Bug

#10323 Updated the HTML2 Doc Curl Examples to provide sample Request Body & Query Param examples.
  modules/openapi-generator/src/main/resources/htmlDocs2/index.mustache
  modules/openapi-generator/src/main/resources/htmlDocs2/sample_curl.mustache
Labels: Doc: HTML, Enhancement: General

#10353 Update pojo.mustache for property name conversion
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/pojo.mustache
Labels: Issue: Bug, Server: Java

#10268 Handle nullable items in Go arrays
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
  samples/openapi3/client/petstore/go/go-petstore/docs/NullableClass.md
  samples/openapi3/client/petstore/go/go-petstore/model_nullable_class.go
Labels: Client: Go, Enhancement: General

#10335 Add ArchUnit to test format of loggers and Abstract classes
  modules/openapi-generator/pom.xml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractDartCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetCoreServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppQtAbstractCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppRestbedServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppTinyClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioNextClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/FsharpGiraffeServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoEchoServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellYesodServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinSpringServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KtormSchemaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaAkkaClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaAkkaHttpServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/WsdlSchemaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/ArchUnitRulesTest.java
Labels: Enhancement: General, Feature: Generator

#10300 [cpp-restsdk] Fix ModelBase::fromJson(const web::json::value&, int64_t&) bug which incorrectly returns zero
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/modelbase-source.mustache
  samples/client/petstore/cpp-restsdk/client/ModelBase.cpp
Labels: Client: C++, Issue: Bug

#10354 Test Python clients in CircleCI
  .circleci/config.yml
  CI/circle_parallel.sh
  pom.xml
Labels: Client: Python, Enhancement: CI/Test

#9735 fix: handle deepcopy of openapi objects
  modules/openapi-generator/src/main/resources/python/model_templates/methods_shared.mustache
  modules/openapi-generator/src/main/resources/python/model_utils.mustache
  samples/client/petstore/python/petstore_api/model_utils.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/model_utils.py
  samples/openapi3/client/extensions/x-auth-id-alias/python/x_auth_id_alias/model_utils.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/model_utils.py
  samples/openapi3/client/petstore/python/petstore_api/model_utils.py
  samples/openapi3/client/petstore/python/tests_manual/test_copy.py
Labels: Client: Python, Enhancement: CI/Test, Enhancement: General, Issue: Bug

#10364 Minor code improvement based on sonarcloud reports
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppTinyClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptClientCodegen.java
Labels: Feature: Generator, Enhancement: Code Cleanup

#10376 cpp-qt-client: Fix CI
  modules/openapi-generator/src/main/resources/cpp-qt-client/api-body.mustache
  samples/client/petstore/cpp-qt/client/PFXPetApi.cpp
  samples/client/petstore/cpp-qt/client/PFXStoreApi.cpp
  samples/client/petstore/cpp-qt/client/PFXUserApi.cpp
Labels: Issue: Bug, Client: C

#10370 [swift5][client] code formatting and dependencies ordering
  modules/openapi-generator/src/main/resources/swift5/Cartfile.mustache
  modules/openapi-generator/src/main/resources/swift5/Extensions.mustache
  modules/openapi-generator/src/main/resources/swift5/Package.swift.mustache
  modules/openapi-generator/src/main/resources/swift5/Podspec.mustache
  modules/openapi-generator/src/main/resources/swift5/XcodeGen.mustache
  samples/client/petstore/swift5/alamofireLibrary/Cartfile
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient.podspec
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/combineLibrary/Cartfile
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/default/Cartfile
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/deprecated/Cartfile
  samples/client/petstore/swift5/deprecated/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/nonPublicApi/Cartfile
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/objcCompatible/Cartfile
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/oneOf/Cartfile
  samples/client/petstore/swift5/oneOf/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/promisekitLibrary/Cartfile
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient.podspec
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/readonlyProperties/Cartfile
  samples/client/petstore/swift5/readonlyProperties/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/resultLibrary/Cartfile
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/rxswiftLibrary/Cartfile
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient.podspec
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/urlsessionLibrary/Cartfile
  samples/client/petstore/swift5/urlsessionLibrary/Sources/PetstoreClient/Extensions.swift
  samples/client/petstore/swift5/x-swift-hashable/Cartfile
  samples/client/petstore/swift5/x-swift-hashable/PetstoreClient/Classes/OpenAPIs/Extensions.swift
Labels: Client: Swift, Enhancement: Code format, Enhancement: Code Cleanup

#10378 Fix installation script
  modules/openapi-generator/src/main/resources/C-libcurl/CMakeLists.txt.mustache
Labels: Issue: Usage/Installation, Client: C

#10390 [kotlin][client] fix warning in coroutines implementation
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-okhttp/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin, Enhancement: Code Cleanup

#10339 Python client docstring
  modules/openapi-generator/src/main/resources/python/api.mustache
  samples/client/petstore/python/petstore_api/api/another_fake_api.py
  samples/client/petstore/python/petstore_api/api/fake_api.py
  samples/client/petstore/python/petstore_api/api/fake_classname_tags_123_api.py
  samples/client/petstore/python/petstore_api/api/pet_api.py
  samples/client/petstore/python/petstore_api/api/store_api.py
  samples/client/petstore/python/petstore_api/api/user_api.py
  samples/client/petstore/python/test/test_fake_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/another_fake_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/fake_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/fake_classname_tags_123_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/pet_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/store_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/user_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/test/test_fake_api.py
  samples/openapi3/client/extensions/x-auth-id-alias/python/x_auth_id_alias/api/usage_api.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/api/usage_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/default_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_classname_tags_123_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python/tests_manual/test_fake_api.py
Labels: Client: Python

#10389 Updates kotlin to v1.3.30
  modules/openapi-generator-gradle-plugin/build.gradle
Labels: Issue: Security, OpenAPI Generator Gradle Plugin

#10166 [scala-sttp] Fix Compilation failure - not found type ByteArray
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaSttpClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/scala/SttpCodegenTest.java
Labels: Client: Scala, Issue: Bug

#10381 [typescript-axios] Upgrade axios from 0.21.1 to 0.21.4
  modules/openapi-generator/src/main/resources/typescript-axios/package.mustache
  samples/client/petstore/typescript-axios/builds/es6-target/package.json
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/package.json
  samples/client/petstore/typescript-axios/builds/with-npm-version/package.json
Labels: Client: TypeScript, Enhancement: Compatibility

#10407 [Kotlin] Fix default value for kotlin class
  modules/openapi-generator/src/main/resources/kotlin-client/data_class_opt_var.mustache
  modules/openapi-generator/src/main/resources/kotlin-server-deprecated/data_class_opt_var.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/data_class_opt_var.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/interfaceOptVar.mustache
  modules/openapi-generator/src/main/resources/kotlin-vertx-server/data_class_opt_var.mustache
  modules/openapi-generator/src/main/resources/ktorm-schema/data_class_bind_field_opt.mustache
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-retrofit2-kotlinx_serialization/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-retrofit2-rx3/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-retrofit2/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/schema/petstore/ktorm/src/main/kotlin/org/openapitools/database/models/Order.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/models/Order.kt
Labels: Client: Swift, Issue: Bug

#10412 [scala-sttp] Fix enum is not imported correctly
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaSttpClientCodegen.java
Labels: Client: Scala, Feature: Enum, Issue: Bug

#10413 [csharp-netcore] made Validate public.
  modules/openapi-generator/src/main/resources/csharp-netcore/modelGeneric.mustache
Labels: Client: C-Sharp, Enhancement: General

#10417 [java][jersey2] Use 'this' to assign to class field.
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  modules/openapi-generator/src/test/resources/2_0/templates/Java/libraries/jersey2/ApiClient.mustache
  samples/client/petstore/java/jersey2-java8-localdatetime/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/extensions/x-auth-id-alias/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8-special-characters/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#10418 fix(rust,server): fix reserved word model rename log message
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
Labels: Issue: Non-operational, Server: Rust

#10404 [core][general] added opportunity to configure names of metadata files
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConfig.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
Labels: Enhancement: Feature, Feature: Generator

#10424 [haskell-http-client] add ability to choose additional characters in querystring which should not be encoded (e.g. "+" or ":") (fixes #3459)
  CI/.drone.yml
  bin/configs/haskell-http-client.yaml
  docs/generators/haskell-http-client.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellHttpClientCodegen.java
  modules/openapi-generator/src/main/resources/haskell-http-client/Client.mustache
  modules/openapi-generator/src/main/resources/haskell-http-client/Core.mustache
  modules/openapi-generator/src/main/resources/haskell-http-client/README.mustache
  modules/openapi-generator/src/main/resources/haskell-http-client/stack.mustache
  samples/client/petstore/haskell-http-client/README.md
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-Client.html
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-Core.html
  samples/client/petstore/haskell-http-client/docs/OpenAPIPetstore-MimeTypes.html
  samples/client/petstore/haskell-http-client/docs/doc-index-All.html
  samples/client/petstore/haskell-http-client/docs/doc-index-C.html
  samples/client/petstore/haskell-http-client/docs/doc-index-T.html
  samples/client/petstore/haskell-http-client/docs/doc-index.json
  samples/client/petstore/haskell-http-client/docs/openapi-petstore.txt
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.AnotherFake.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.Fake.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.FakeClassnameTags123.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.Pet.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.Store.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.API.User.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.Client.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.Core.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.LoggingKatip.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.MimeTypes.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.Model.html
  samples/client/petstore/haskell-http-client/docs/src/OpenAPIPetstore.ModelLens.html
  samples/client/petstore/haskell-http-client/docs/src/Paths_openapi_petstore.html
  samples/client/petstore/haskell-http-client/lib/OpenAPIPetstore/Client.hs
  samples/client/petstore/haskell-http-client/lib/OpenAPIPetstore/Core.hs
  samples/client/petstore/haskell-http-client/stack.yaml
Labels: Client: Haskell, Enhancement: Feature, Issue: Bug

#10420 fix(rust,client): convert form isArray values to string
  modules/openapi-generator/src/main/resources/rust/reqwest/api.mustache
Labels: Client: Rust, Issue: Bug

#10428 Fix issue 8352: [Java][RestTemplate][WebClient] Incorrect handling of free form query parameters
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/ApiClient.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue8352.yaml
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/webclient-nulable-arrays/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#10386 fix: expose allowed values of the enum
  modules/openapi-generator/src/main/resources/go/model_enum.mustache
  samples/client/petstore/go/go-petstore/model_enum_class.go
  samples/client/petstore/go/go-petstore/model_outer_enum.go
  samples/openapi3/client/petstore/go/go-petstore/model_enum_class.go
  samples/openapi3/client/petstore/go/go-petstore/model_outer_enum.go
  samples/openapi3/client/petstore/go/go-petstore/model_outer_enum_default_value.go
  samples/openapi3/client/petstore/go/go-petstore/model_outer_enum_integer.go
  samples/openapi3/client/petstore/go/go-petstore/model_outer_enum_integer_default_value.go
Labels: Client: Go, Enhancement: Feature, Feature: Enum

#10431 [go]: fix anyOf compilation error
  modules/openapi-generator/src/main/resources/go/model_anyof.mustache
Labels: Client: Go, Feature: OAS 3.0 spec support, Issue: Bug

#10337 Accept header forces application/json type even if server
  modules/openapi-generator/src/main/resources/go/client.mustache
  samples/client/petstore/go/go-petstore/client.go
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/client.go
  samples/openapi3/client/petstore/go/go-petstore/client.go
Labels: Client: Go, Issue: Bug

#10426 [scala] Fix Array[Byte] type for Openapi type string format byte
  docs/generators/scala-akka-http-server.md
  docs/generators/scala-akka.md
  docs/generators/scala-gatling.md
  docs/generators/scala-httpclient-deprecated.md
  docs/generators/scala-lagom-server.md
  docs/generators/scala-play-server.md
  docs/generators/scala-sttp.md
  docs/generators/scalatra.md
  docs/generators/scalaz.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractScalaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaSttpClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/scala/AbstractScalaCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/scala/SttpBooleanPropertyTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/scala/SttpCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/scala/SttpJsonLibraryPropertyTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/scala/SttpPackagePropertyTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/scala/SttpStringPropertyTest.java
  samples/client/petstore/scala-httpclient-deprecated/src/main/scala/org/openapitools/client/ApiInvoker.scala
  samples/client/petstore/scala-httpclient-deprecated/src/main/scala/org/openapitools/client/AsyncClient.scala
  samples/client/petstore/scala-httpclient-deprecated/src/main/scala/org/openapitools/client/model/InlineObject.scala
  samples/client/petstore/scala-httpclient-deprecated/src/main/scala/org/openapitools/client/model/InlineObject1.scala
Labels: Client: Scala, Issue: Bug, Server: Scala

#10416 [gradle]: allow setting custom engines other than handlebars
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
  modules/openapi-generator-gradle-plugin/src/test/kotlin/GenerateTaskDslTest.kt
Labels: Issue: Bug, OpenAPI Generator Gradle Plugin

#10446 [wsdl] string comparison bug fix, minor format change
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/WsdlSchemaCodegen.java
Labels: Issue: Bug, Schema: WSDL

#10439 fix(rust,client): re-enable TLS support for reqwest with supportAsync
  modules/openapi-generator/src/main/resources/rust/Cargo.mustache
  samples/client/petstore/rust/reqwest/petstore-async/Cargo.toml
Labels: Client: Rust, Enhancement: General

#10432 feat(rust,client): derive Default for operation parameter structs
  modules/openapi-generator/src/main/resources/rust/model.mustache
  modules/openapi-generator/src/main/resources/rust/reqwest/api.mustache
  samples/client/petstore/rust/hyper/petstore/src/models/api_response.rs
  samples/client/petstore/rust/hyper/petstore/src/models/category.rs
  samples/client/petstore/rust/hyper/petstore/src/models/order.rs
  samples/client/petstore/rust/hyper/petstore/src/models/pet.rs
  samples/client/petstore/rust/hyper/petstore/src/models/tag.rs
  samples/client/petstore/rust/hyper/petstore/src/models/user.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/pet_api.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/store_api.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/user_api.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/models/api_response.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/models/category.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/models/order.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/models/pet.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/models/tag.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/models/user.rs
  samples/client/petstore/rust/reqwest/petstore/src/models/api_response.rs
  samples/client/petstore/rust/reqwest/petstore/src/models/category.rs
  samples/client/petstore/rust/reqwest/petstore/src/models/order.rs
  samples/client/petstore/rust/reqwest/petstore/src/models/pet.rs
  samples/client/petstore/rust/reqwest/petstore/src/models/tag.rs
  samples/client/petstore/rust/reqwest/petstore/src/models/user.rs
Labels: Client: Rust, Enhancement: General

#10327 fix: :bug: Added ability to override basePath while creating ApiClient instance
  modules/openapi-generator/src/main/resources/Javascript/es6/ApiClient.mustache
Labels: Client: JavaScript/Node.js, Enhancement: General

#10462 [bash] force content length in empty post
  modules/openapi-generator/src/main/resources/bash/client.mustache
  samples/client/petstore/bash/petstore-cli
Labels: Client: Bash, Enhancement: General

#10457 [php] enhance type mapping
  docs/generators/php-dt.md
  docs/generators/php-laravel.md
  docs/generators/php-lumen.md
  docs/generators/php-mezzio-ph.md
  docs/generators/php-slim-deprecated.md
  docs/generators/php-slim4.md
  docs/generators/php-symfony.md
  docs/generators/php.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPhpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpDataTransferClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpMezzioPathHandlerServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSymfonyServerCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/php/PhpModelTest.java
  samples/client/petstore/php/OpenAPIClient-php/docs/Model/FormatTest.md
  samples/client/petstore/php/OpenAPIClient-php/docs/Model/MixedPropertiesAndAdditionalPropertiesClass.md
  samples/client/petstore/php/OpenAPIClient-php/docs/Model/NullableClass.md
  samples/client/petstore/php/OpenAPIClient-php/docs/Model/Order.md
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/FormatTest.php
  samples/client/petstore/php/OpenAPIClient-php/lib/ObjectSerializer.php
  samples/server/petstore/php-laravel/lib/app/Models/FormatTest.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Resources/docs/Model/Order.md
Labels: Client: PHP, Enhancement: General, Server: PHP

#8815 Fix missing import for JsonTypeName
  modules/openapi-generator/src/main/resources/Java/model.mustache
Labels: Client: Java, Issue: Bug

#10460 Remove type erasure of the Error response, as it is always the same type
  modules/openapi-generator/src/main/resources/swift5/APIs.mustache
  modules/openapi-generator/src/main/resources/swift5/api.mustache
  modules/openapi-generator/src/main/resources/swift5/libraries/alamofire/AlamofireImplementations.mustache
  modules/openapi-generator/src/main/resources/swift5/libraries/urlsession/URLSessionImplementations.mustache
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient/Classes/OpenAPIs/APIs.swift
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient/Classes/OpenAPIs/AlamofireImplementations.swift
  samples/client/petstore/swift5/asyncAwaitLibrary/PetstoreClient/Classes/OpenAPIs/APIs.swift
  samples/client/petstore/swift5/asyncAwaitLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/APIs.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/APIs.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/deprecated/PetstoreClient/Classes/OpenAPIs/APIs.swift
  samples/client/petstore/swift5/deprecated/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/APIs.swift
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/APIs.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/oneOf/PetstoreClient/Classes/OpenAPIs/APIs.swift
  samples/client/petstore/swift5/oneOf/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/APIs.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/readonlyProperties/PetstoreClient/Classes/OpenAPIs/APIs.swift
  samples/client/petstore/swift5/readonlyProperties/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/APIs.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/APIs/AnotherFakeAPI.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/APIs/FakeAPI.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/APIs/FakeClassnameTags123API.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/APIs/PetAPI.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/APIs/StoreAPI.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/APIs/UserAPI.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/APIs.swift
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/urlsessionLibrary/Sources/PetstoreClient/APIs.swift
  samples/client/petstore/swift5/urlsessionLibrary/Sources/PetstoreClient/URLSessionImplementations.swift
  samples/client/petstore/swift5/x-swift-hashable/PetstoreClient/Classes/OpenAPIs/APIs.swift
  samples/client/petstore/swift5/x-swift-hashable/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
Labels: Client: Swift, Enhancement: General

#10470 Update phpunit xml to newer format
  modules/openapi-generator/src/main/resources/php/phpunit.xml.mustache
  samples/client/petstore/php/OpenAPIClient-php/phpunit.xml.dist
Labels: Client: PHP, Enhancement: CI/Test

#9910 Define content type if and only if the body is not empty
  modules/openapi-generator/src/main/resources/ruby-client/api.mustache
  modules/openapi-generator/src/main/resources/ruby-client/api_client.mustache
  samples/client/petstore/ruby-faraday/lib/petstore/api/another_fake_api.rb
  samples/client/petstore/ruby-faraday/lib/petstore/api/fake_api.rb
  samples/client/petstore/ruby-faraday/lib/petstore/api/fake_classname_tags123_api.rb
  samples/client/petstore/ruby-faraday/lib/petstore/api/pet_api.rb
  samples/client/petstore/ruby-faraday/lib/petstore/api/store_api.rb
  samples/client/petstore/ruby-faraday/lib/petstore/api/user_api.rb
  samples/client/petstore/ruby-faraday/lib/petstore/api_client.rb
  samples/client/petstore/ruby/lib/petstore/api/another_fake_api.rb
  samples/client/petstore/ruby/lib/petstore/api/fake_api.rb
  samples/client/petstore/ruby/lib/petstore/api/fake_classname_tags123_api.rb
  samples/client/petstore/ruby/lib/petstore/api/pet_api.rb
  samples/client/petstore/ruby/lib/petstore/api/store_api.rb
  samples/client/petstore/ruby/lib/petstore/api/user_api.rb
  samples/client/petstore/ruby/lib/petstore/api_client.rb
  samples/openapi3/client/extensions/x-auth-id-alias/ruby-client/lib/x_auth_id_alias/api_client.rb
  samples/openapi3/client/features/dynamic-servers/ruby/lib/dynamic_servers/api_client.rb
  samples/openapi3/client/features/generate-alias-as-model/ruby-client/lib/petstore/api/usage_api.rb
  samples/openapi3/client/features/generate-alias-as-model/ruby-client/lib/petstore/api_client.rb
Labels: Client: Ruby, Issue: Bug

#9766 Define content type only if the body is not empty
  modules/openapi-generator/src/main/resources/python/api_client.mustache
  samples/client/petstore/python/petstore_api/api_client.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api_client.py
  samples/openapi3/client/extensions/x-auth-id-alias/python/x_auth_id_alias/api_client.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/api_client.py
  samples/openapi3/client/petstore/python/petstore_api/api_client.py
Labels: Client: Python, Enhancement: General

#10473 [csharp-netcore] allow to specify content-type for files
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/httpclient/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/httpclient/FileParameter.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/FileParameter.cs
Labels: Client: C-Sharp, Enhancement: General

#10474 [PHP] fix numeric value in model enum
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPhpCodegen.java
  modules/openapi-generator/src/main/resources/php/model_enum.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/php/AbstractPhpCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/php/PhpModelTest.java
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/EnumClass.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/OuterEnum.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/OuterEnumDefaultValue.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/OuterEnumInteger.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/OuterEnumIntegerDefaultValue.php
Labels: Client: PHP, Feature: Enum, Issue: Bug

#10484 Add decimal support to ruby generators
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractRubyCodegen.java
  samples/client/petstore/ruby-faraday/docs/FormatTest.md
  samples/client/petstore/ruby-faraday/lib/petstore/models/format_test.rb
  samples/client/petstore/ruby/docs/FormatTest.md
  samples/client/petstore/ruby/lib/petstore/models/format_test.rb
Labels: Client: Ruby, Enhancement: General, Server: Ruby

#10487 Add decimal support to R client generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
Labels: Client: R, Enhancement: General

#10485 [Java] Fix Potential Flaky Tests
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/AbstractJavaCodegenTest.java
Labels: Client: Java, Enhancement: CI/Test
