Repository OpenAPITools/openapi-generator, pull requests merged in 2021-08, with the labels that each got.

#10070 Add AnyType support to Kotlin generators
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
Labels: Client: Kotlin, Enhancement: Feature, Feature: OAS 3.0 spec support, Server: Kotlin

#10058 Update kotlin-spring auto-generated test to avoid NPE
  modules/openapi-generator/src/main/resources/kotlin-spring/api_test.mustache
Labels: Enhancement: CI/Test, Server: Kotlin

#10069 [C#][netcore] fix path and query parameters encoding
  modules/openapi-generator/src/main/resources/csharp-netcore/WebRequestPathBuilder.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/WebRequestPathBuilder.cs
Labels: Client: C-Sharp, Issue: Bug

#10074 [C#][netcore] minor bug fixes
  docs/generators/aspnetcore.md
  docs/generators/csharp-dotnet2.md
  docs/generators/csharp-netcore.md
  docs/generators/csharp.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
  modules/openapi-generator/src/main/resources/csharp-netcore/modelEnum.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/modelInnerEnum.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Model/EnumArrays.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/EnumArrays.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/EnumArrays.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/EnumArrays.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/EnumArrays.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/EnumArrays.cs
Labels: Client: C-Sharp, Issue: Bug

#10067 [C][Client] Free the variable with the data type "byteArray" same as "string"
  modules/openapi-generator/src/main/resources/C-libcurl/model-body.mustache
Labels: Client: C, Issue: Bug

#10078 [Java][okhttp] Fix missing jackson-databind-nullable dependency
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/pom.mustache
  samples/client/petstore/java/okhttp-gson-dynamicOperations/build.gradle
  samples/client/petstore/java/okhttp-gson-dynamicOperations/build.sbt
  samples/client/petstore/java/okhttp-gson-dynamicOperations/pom.xml
  samples/client/petstore/java/okhttp-gson-parcelableModel/build.gradle
  samples/client/petstore/java/okhttp-gson-parcelableModel/build.sbt
  samples/client/petstore/java/okhttp-gson-parcelableModel/pom.xml
  samples/client/petstore/java/okhttp-gson/build.gradle
  samples/client/petstore/java/okhttp-gson/build.sbt
  samples/client/petstore/java/okhttp-gson/pom.xml
Labels: Client: Java, Issue: Bug

#9740 [php-symfony] Add backslash to "load" namespaces from global namespace
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSymfonyServerCodegen.java
  modules/openapi-generator/src/main/resources/php-symfony/api.mustache
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/ApiClient.java
  samples/server/petstore/php-symfony/SymfonyBundle-php/Api/PetApiInterface.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Api/StoreApiInterface.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Api/UserApiInterface.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/InlineObject.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/InlineObject1.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Resources/docs/Model/InlineObject.md
  samples/server/petstore/php-symfony/SymfonyBundle-php/Resources/docs/Model/InlineObject1.md
  samples/server/petstore/php-symfony/SymfonyBundle-php/Tests/Model/InlineObject1Test.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Tests/Model/InlineObjectTest.php
Labels: Enhancement: Code format, Server: PHP

#10061 [dart-dio] Fix parameter generation problems
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioNextClientCodegen.java
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/serialize.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/serializers.mustache
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/serializers.dart
Labels: Client: Dart, Issue: Bug

#10084 [csharp] Obsolete attribute on deprecated operations and properties
  modules/openapi-generator/src/main/resources/aspnetcore/2.0/controller.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/controller.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/3.0/controller.mustache
  modules/openapi-generator/src/main/resources/csharp-dotnet2/api.mustache
  modules/openapi-generator/src/main/resources/csharp-dotnet2/model.mustache
  modules/openapi-generator/src/main/resources/csharp-nancyfx/api.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/api.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/httpclient/api.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/modelGeneric.mustache
  modules/openapi-generator/src/main/resources/csharp/api.mustache
  modules/openapi-generator/src/main/resources/csharp/modelGeneric.mustache
  modules/openapi-generator/src/test/resources/3_0/java/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  modules/openapi-generator/src/test/resources/3_0/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/client/petstore/csharp-dotnet2/OpenAPIClientTest/Lib/OpenAPIClient/src/main/CsharpDotNet2/Org/OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Model/ObjectWithDeprecatedFields.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/ObjectWithDeprecatedFields.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/ObjectWithDeprecatedFields.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/ObjectWithDeprecatedFields.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/ObjectWithDeprecatedFields.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/ObjectWithDeprecatedFields.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Model/Pet.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Model/ObjectWithDeprecatedFields.cs
  samples/client/petstore/csharp/OpenAPIClientNet35/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp/OpenAPIClientNet40/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp/OpenAPIClientNetCoreProject/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp/OpenAPIClientNetStandard/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp/OpenAPIClientWithPropertyChanged/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/java/feign/api/openapi.yaml
  samples/client/petstore/java/webclient/api/openapi.yaml
  samples/openapi3/client/petstore/java/jersey2-java8/api/openapi.yaml
  samples/server/petstore/aspnetcore-3.0/src/Org.OpenAPITools/Controllers/PetApi.cs
  samples/server/petstore/aspnetcore-3.1/src/Org.OpenAPITools/Controllers/PetApi.cs
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Controllers/PetApi.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/PetApi.cs
  samples/server/petstore/nancyfx-async/src/Org.OpenAPITools/Modules/PetModule.cs
  samples/server/petstore/nancyfx/src/Org.OpenAPITools/Modules/PetModule.cs
Labels: Client: C-Sharp, Enhancement: General, Server: C-Sharp

#10072 make typescript-fetch code compatiable with nodejs environment
  modules/openapi-generator/src/main/resources/typescript-fetch/runtime.mustache
  samples/client/petstore/typescript-fetch/builds/default-v3.0/runtime.ts
  samples/client/petstore/typescript-fetch/builds/default/runtime.ts
  samples/client/petstore/typescript-fetch/builds/enum/runtime.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/runtime.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/sagas-and-records/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/typescript-three-plus/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/runtime.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/without-runtime-checks/src/runtime.ts
Labels: Client: TypeScript, Enhancement: Compatibility

#9675 [TS] disable lint in index file
  modules/openapi-generator/src/main/resources/typescript-fetch/apis.index.mustache
  modules/openapi-generator/src/main/resources/typescript-fetch/index.mustache
  modules/openapi-generator/src/main/resources/typescript-fetch/models.index.mustache
  samples/client/petstore/typescript-fetch/builds/default-v3.0/apis/index.ts
  samples/client/petstore/typescript-fetch/builds/default-v3.0/index.ts
  samples/client/petstore/typescript-fetch/builds/default-v3.0/models/index.ts
  samples/client/petstore/typescript-fetch/builds/default/apis/index.ts
  samples/client/petstore/typescript-fetch/builds/default/index.ts
  samples/client/petstore/typescript-fetch/builds/default/models/index.ts
  samples/client/petstore/typescript-fetch/builds/enum/apis/index.ts
  samples/client/petstore/typescript-fetch/builds/enum/index.ts
  samples/client/petstore/typescript-fetch/builds/enum/models/index.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/apis/index.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/index.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/models/index.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/apis/index.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/index.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/models/index.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/apis/index.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/index.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/models/index.ts
  samples/client/petstore/typescript-fetch/builds/typescript-three-plus/src/apis/index.ts
  samples/client/petstore/typescript-fetch/builds/typescript-three-plus/src/index.ts
  samples/client/petstore/typescript-fetch/builds/typescript-three-plus/src/models/index.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/apis/index.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/index.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/models/index.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/apis/index.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/index.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/models/index.ts
  samples/client/petstore/typescript-fetch/builds/without-runtime-checks/src/apis/index.ts
  samples/client/petstore/typescript-fetch/builds/without-runtime-checks/src/index.ts
  samples/client/petstore/typescript-fetch/builds/without-runtime-checks/src/models/index.ts
Labels: Client: TypeScript

#10096 [rust-client] Fix typo
  modules/openapi-generator/src/main/resources/rust/reqwest/api.mustache
Labels: Client: Rust, Issue: Bug

#10093 Make php's array primitive
  docs/generators/php-laravel.md
  docs/generators/php-lumen.md
  docs/generators/php-mezzio-ph.md
  docs/generators/php-slim-deprecated.md
  docs/generators/php-slim4.md
  docs/generators/php.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPhpCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/php/AbstractPhpCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_8945.yaml
  samples/client/petstore/php/OpenAPIClient-php/docs/Model/AdditionalPropertiesClass.md
  samples/client/petstore/php/OpenAPIClient-php/docs/Model/ArrayOfArrayOfNumberOnly.md
  samples/client/petstore/php/OpenAPIClient-php/docs/Model/ArrayTest.md
  samples/client/petstore/php/OpenAPIClient-php/docs/Model/MapTest.md
  samples/client/petstore/php/OpenAPIClient-php/lib/ObjectSerializer.php
Labels: Client: PHP, Issue: Bug, Server: PHP

#10100 [dart2] Include request body on DELETE call
  modules/openapi-generator/src/main/resources/dart2/api_client.mustache
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/api_client.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api_client.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api_client.dart
Labels: Client: Dart, Enhancement: General

#10105 [dart-dio-next] improve encodeCollectionQueryParameter to handle cases where collectionFormat is null
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/query_param.mustache
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/fake_api.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/pet_api.dart
Labels: Client: Dart, Issue: Bug

#9884 Add switches (authentication collections) to support files
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ProcessUtils.java
  samples/client/petstore/typescript-node/default/api/petApi.ts
  samples/client/petstore/typescript-node/default/api/storeApi.ts
  samples/client/petstore/typescript-node/default/api/userApi.ts
  samples/client/petstore/typescript-node/npm/api/petApi.ts
  samples/client/petstore/typescript-node/npm/api/storeApi.ts
  samples/client/petstore/typescript-node/npm/api/userApi.ts
  samples/server/petstore/erlang-server/src/openapi_pet_handler.erl
  samples/server/petstore/erlang-server/src/openapi_store_handler.erl
  samples/server/petstore/erlang-server/src/openapi_user_handler.erl
  samples/server/petstore/php-slim4/.openapi-generator/FILES
Labels: Enhancement: Feature, Feature: Generator

#9667 Feat adds has discriminator with non empty mapping
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModel.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenProperty.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenResponse.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/IJsonSchemaValidationProperties.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  samples/openapi3/client/petstore/python-experimental/.coverage
  samples/server/petstore/java-undertow/src/main/java/org/openapitools/handler/PathHandlerInterface.java
Labels: Enhancement: Feature

#10091 Fix issue 10020: [BUG] [typescript-angular] Add "header" to reserved words
  modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache
  samples/client/petstore/typescript-angular-v10-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v10-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v10-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v10-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v10-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v10-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v11-oneOf/builds/default/api/default.service.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v11-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-not-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v6-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-not-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v7-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/api/pet.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/api/store.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/single-request-parameter/api/user.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/api/pet.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/api/store.service.ts
  samples/client/petstore/typescript-angular-v8-provided-in-root/builds/with-prefixed-module-name/api/user.service.ts
  samples/client/petstore/typescript-angular-v9-provided-in-any/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v9-provided-in-any/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v9-provided-in-any/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v9-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v9-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v9-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v9-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v9-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v9-provided-in-root/builds/with-npm/api/user.service.ts
Labels: Client: TypeScript, Issue: Bug

#10122 [dart][dio] Update built_value to =>8.1.0
  modules/openapi-generator/src/main/resources/dart/libraries/dio/pubspec.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/class.mustache
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/additional_properties_class.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/animal.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/api_response.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/array_of_array_of_number_only.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/array_of_number_only.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/array_test.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/capitalization.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/cat.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/cat_all_of.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/category.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/class_model.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/deprecated_object.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/dog.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/dog_all_of.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/enum_arrays.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/enum_test.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/file_schema_test_class.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/foo.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/format_test.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/has_only_read_only.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/health_check_result.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/inline_response_default.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/map_test.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/mixed_properties_and_additional_properties_class.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/model200_response.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/model_client.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/model_file.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/model_list.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/model_return.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/name.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/nullable_class.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/number_only.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/object_with_deprecated_fields.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/order.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/outer_composite.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/outer_object_with_enum_property.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/pet.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/read_only_first.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/special_model_name.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/tag.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/user.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/pubspec.yaml
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake_tests/.gitignore
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake_tests/pubspec.lock
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake_tests/pubspec.yaml
Labels: Client: Dart, Enhancement: Compatibility

#10139 [csharp-netcore]Fixed the utc time issue for httpSigning auth.
  modules/openapi-generator/src/main/resources/csharp-netcore/HttpSigningConfiguration.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
Labels: Client: C-Sharp, Issue: Bug

#10116 [dart-dio-next] Don't use encodeCollectionQueryParameter on maps
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/query_param.mustache
Labels: Client: Dart, Enhancement: General

#10136 [cpp-pistache-server] Fix missing semicolon in template and missing code to set default values of model schema
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppPistacheServerCodegen.java
  modules/openapi-generator/src/main/resources/cpp-pistache-server/api-source.mustache
  samples/server/petstore/cpp-pistache/api/PetApi.cpp
  samples/server/petstore/cpp-pistache/api/StoreApi.cpp
  samples/server/petstore/cpp-pistache/api/UserApi.cpp
Labels: Issue: Bug, Server: C++

#10081 [python-flask] Fix NoneType when deserialize optional date (See #5813)
  modules/openapi-generator/src/main/resources/python-flask/util.mustache
  samples/server/petstore/python-flask/openapi_server/util.py
Labels: Issue: Bug, Server: Python

#10147 [dart][dio] Nullable parameters & defaults for header/query parameters
  modules/openapi-generator/src/main/resources/dart/libraries/dio/api.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/serialize.mustache
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/fake_api.dart
Labels: Client: Dart, Enhancement: General

#9840 Fix issue where skipIfSpecIsUnchanged was ignored when using a classpath input spec
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
  modules/openapi-generator-maven-plugin/src/test/java/org/openapitools/codegen/plugin/CodeGenMojoTest.java
  modules/openapi-generator-maven-plugin/src/test/resources/classpath/pom.xml
  modules/openapi-generator-maven-plugin/src/test/resources/petstore-on-classpath.yaml
Labels: Issue: Bug, OpenAPI Generator Maven Plugin

#10158 [java][micronaut] minor improvements
  bin/configs/java-micronaut-client.yaml
  docs/generators.md
  docs/generators/java-micronaut-client.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaMicronautClientCodegen.java
Labels: Client: Java, Enhancement: General

#10152 [CSharp-Netcore][Go] Optimize time taken to generate CSharp code
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
Labels: Enhancement: Feature, Feature: Generator

#10168 Minor update to use 5.3.0 in documentations and test files
  .github/PULL_REQUEST_TEMPLATE.md
  bin/utils/release/release_version_update.sh
  modules/openapi-generator-maven-plugin/examples/kotlin.xml
  modules/openapi-generator-maven-plugin/examples/spring.xml
Labels: Enhancement: General

#10163 [dart][dio] Parameter with default value must not be required
  modules/openapi-generator/src/main/resources/dart/libraries/dio/api.mustache
Labels: Client: Dart, Issue: Bug

#10154 Add map property in url params
  modules/openapi-generator/src/test/resources/3_0/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/client/petstore/csharp/OpenAPIClient/docs/FakeApi.md
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/elixir/lib/openapi_petstore/api/fake.ex
  samples/client/petstore/java/feign/api/openapi.yaml
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/webclient/api/openapi.yaml
  samples/client/petstore/java/webclient/docs/FakeApi.md
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/javascript-es6/docs/FakeApi.md
  samples/client/petstore/javascript-es6/src/api/FakeApi.js
  samples/client/petstore/javascript-promise-es6/docs/FakeApi.md
  samples/client/petstore/javascript-promise-es6/src/api/FakeApi.js
  samples/client/petstore/perl/docs/FakeApi.md
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/FakeApi.pm
  samples/client/petstore/php/OpenAPIClient-php/docs/Api/FakeApi.md
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/client/petstore/ruby-faraday/docs/FakeApi.md
  samples/client/petstore/ruby-faraday/lib/petstore/api/fake_api.rb
  samples/client/petstore/ruby/docs/FakeApi.md
  samples/client/petstore/ruby/lib/petstore/api/fake_api.rb
  samples/client/petstore/typescript-fetch/builds/default-v3.0/apis/FakeApi.ts
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/doc/FakeApi.md
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/doc/FakeApi.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/fake_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/doc/FakeApi.md
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/fake_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/doc/FakeApi.md
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/fake_api.dart
  samples/openapi3/client/petstore/python-legacy/docs/FakeApi.md
  samples/openapi3/client/petstore/python-legacy/petstore_api/api/fake_api.py
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/FakeApiService.java
  samples/server/petstore/jaxrs-jersey/src/main/java/org/openapitools/api/impl/FakeApiServiceImpl.java
  samples/server/petstore/php-laravel/lib/app/Http/Controllers/FakeController.php
  samples/server/petstore/php-lumen/lib/app/Http/Controllers/FakeApi.php
Labels: Client: Dart, Enhancement: General

#10171 [Java] Add missing imports for Set in java clients
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/api_test.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/api_test.mustache
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Issue: Bug

#10106 [markdown] Add primitive types to Markdown generator (#5449)
  docs/generators/markdown.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/MarkdownDocumentationCodegen.java
  modules/openapi-generator/src/main/resources/markdown-documentation/README.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/markdown/MarkdownSampleGeneratorTest.java
  modules/openapi-generator/src/test/resources/3_0/markdown/expected/Models/Object.md
  modules/openapi-generator/src/test/resources/3_0/markdown/expected/Models/Object_InlinedObject.md
  modules/openapi-generator/src/test/resources/3_0/markdown/expected/Models/ReferencedObject.md
  modules/openapi-generator/src/test/resources/3_0/markdown/expected/Models/String.md
  modules/openapi-generator/src/test/resources/3_0/markdown/expected/README.md
  modules/openapi-generator/src/test/resources/3_0/markdown/issue_6096.yaml
Labels: Enhancement: General, Doc: Markdown

#10132 Fix #8890 (part 2) in every JaxRS pom.mustache templates
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-cdi/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-ext/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-ext/server/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/server/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/libraries/jersey1/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/eap/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/helidon/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/kumuluzee/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/openliberty/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/quarkus/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/thorntail/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/pom.mustache
Labels: Enhancement: General, Server: Java

#10111 Fix python generated markdown documentation for Jekyll
  modules/openapi-generator/src/main/resources/python/api_doc.mustache
  samples/client/petstore/python/docs/AnotherFakeApi.md
  samples/client/petstore/python/docs/FakeApi.md
  samples/client/petstore/python/docs/FakeClassnameTags123Api.md
  samples/client/petstore/python/docs/PetApi.md
  samples/client/petstore/python/docs/StoreApi.md
  samples/client/petstore/python/docs/UserApi.md
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/docs/AnotherFakeApi.md
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/docs/FakeApi.md
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/docs/FakeClassnameTags123Api.md
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/docs/PetApi.md
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/docs/StoreApi.md
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/docs/UserApi.md
  samples/openapi3/client/extensions/x-auth-id-alias/python/docs/UsageApi.md
  samples/openapi3/client/features/dynamic-servers/python/docs/UsageApi.md
  samples/openapi3/client/petstore/python/docs/AnotherFakeApi.md
  samples/openapi3/client/petstore/python/docs/DefaultApi.md
  samples/openapi3/client/petstore/python/docs/FakeApi.md
  samples/openapi3/client/petstore/python/docs/FakeClassnameTags123Api.md
  samples/openapi3/client/petstore/python/docs/PetApi.md
  samples/openapi3/client/petstore/python/docs/StoreApi.md
  samples/openapi3/client/petstore/python/docs/UserApi.md
Labels: Client: Python, Enhancement: Feature, Feature: Documentation

#10079 [Gradle Plugin] Fix registering Gradle tasks when apply plugin to project
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/OpenApiGeneratorPlugin.kt
Labels: Issue: Bug, OpenAPI Generator Gradle Plugin

#10118 [dart-dio-next] Improve handling nullable objects
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioNextClientCodegen.java
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/class.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/variable_serializer_type.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/variable_type.mustache
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/additional_properties_class.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/animal.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/api_response.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/array_of_array_of_number_only.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/array_of_number_only.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/array_test.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/capitalization.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/cat.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/cat_all_of.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/category.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/class_model.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/deprecated_object.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/dog.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/dog_all_of.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/enum_arrays.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/enum_test.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/file_schema_test_class.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/foo.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/format_test.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/has_only_read_only.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/health_check_result.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/inline_response_default.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/map_test.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/mixed_properties_and_additional_properties_class.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/model200_response.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/model_client.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/model_file.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/model_list.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/model_return.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/name.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/nullable_class.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/number_only.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/object_with_deprecated_fields.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/order.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/outer_composite.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/outer_object_with_enum_property.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/pet.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/read_only_first.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/special_model_name.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/tag.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/model/user.dart
Labels: Client: Dart, Enhancement: General

#10027 [Java][Native] Add an async response interceptor in ApiClient
  modules/openapi-generator/src/main/resources/Java/libraries/native/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/api.mustache
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Enhancement: General

#10155 [python] Fixes a breakage while deserializing the read-only attributes
  modules/openapi-generator/src/main/resources/python/model_utils.mustache
  modules/openapi-generator/src/test/resources/3_0/python/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/client/petstore/python/petstore_api/model_utils.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/model_utils.py
  samples/openapi3/client/extensions/x-auth-id-alias/python/x_auth_id_alias/model_utils.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/model_utils.py
  samples/openapi3/client/petstore/python/docs/Animal.md
  samples/openapi3/client/petstore/python/docs/Cat.md
  samples/openapi3/client/petstore/python/docs/ComposedOneOfNumberWithValidations.md
  samples/openapi3/client/petstore/python/docs/Dog.md
  samples/openapi3/client/petstore/python/petstore_api/model/animal.py
  samples/openapi3/client/petstore/python/petstore_api/model/cat.py
  samples/openapi3/client/petstore/python/petstore_api/model/composed_one_of_number_with_validations.py
  samples/openapi3/client/petstore/python/petstore_api/model/dog.py
  samples/openapi3/client/petstore/python/petstore_api/model_utils.py
  samples/openapi3/client/petstore/python/tests_manual/test_issue10155.py
Labels: Client: Python

#10177 [cpp-ue4] fix for generating formParams in json requests
  modules/openapi-generator/src/main/resources/cpp-ue4/api-operations-source.mustache
Labels: Client: C++, Issue: Bug

#10192 AnyType support for ruby generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractRubyCodegen.java
Labels: Client: Ruby, Enhancement: General, Server: Ruby

#10194 Update cpp-ue4 petstore samples
  bin/configs/cpp-ue4.yaml
  samples/client/petstore/cpp-ue4/.openapi-generator/VERSION
  samples/client/petstore/cpp-ue4/Private/OpenAPIApiResponse.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIBaseModel.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPICategory.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIHelpers.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIModule.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIOrder.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIPet.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIPetApi.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIPetApiOperations.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIStoreApi.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIStoreApiOperations.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPITag.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIUser.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIUserApi.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIUserApiOperations.cpp
  samples/client/petstore/cpp-ue4/Public/OpenAPIApiResponse.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIBaseModel.h
  samples/client/petstore/cpp-ue4/Public/OpenAPICategory.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIHelpers.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIOrder.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIPet.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIPetApi.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIPetApiOperations.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIStoreApi.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIStoreApiOperations.h
  samples/client/petstore/cpp-ue4/Public/OpenAPITag.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIUser.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIUserApi.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIUserApiOperations.h
Labels: Client: C++, Enhancement: CI/Test

#10048 [php][symfony] Use correct JMS/Serializer annotation for Date-Fields
  modules/openapi-generator/src/main/resources/php-symfony/model_variables.mustache
Labels: Issue: Bug, Server: PHP

#10185 [Haskell-http-client] Correct fix of no-content endpoints
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellHttpClientCodegen.java
Labels: Client: Haskell, Issue: Bug

#10207 [chsarp-netcore]handle the exception to get correct error message.
  modules/openapi-generator/src/main/resources/csharp-netcore/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/modelOneOf.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Model/Mammal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Model/NullableShape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Model/Pig.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Model/Quadrilateral.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Model/Shape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Model/ShapeOrNull.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Model/Triangle.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/Mammal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/NullableShape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/Pig.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/Quadrilateral.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/Shape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/ShapeOrNull.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/Triangle.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Mammal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/NullableShape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Pig.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Quadrilateral.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Shape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/ShapeOrNull.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Triangle.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/Mammal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/NullableShape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/Pig.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/Quadrilateral.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/Shape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/ShapeOrNull.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/Triangle.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Mammal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/NullableShape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Pig.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Quadrilateral.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Shape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/ShapeOrNull.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Triangle.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Client/ApiClient.cs
Labels: Client: C-Sharp, Enhancement: General

#10222 [haskell-yesod] Better code format, mark generator as beta
  .gitignore
  README.md
  docs/generators.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellYesodServerCodegen.java
  samples/server/petstore/haskell-yesod/pom.xml
Labels: Enhancement: CI/Test, Enhancement: Code format, Enhancement: General, Server: Haskell

#9977 Add extension to store oneOf/anyOf/allOf objects as full properties
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Enhancement: Feature, Feature: Generator

#10021 [JAVA][FEIGN] Automatically retry request that fail due to a 401 or 403
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/feign/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/auth/ApiErrorDecoder.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/auth/OAuth.mustache
  samples/client/petstore/java/feign-no-nullable/.openapi-generator/FILES
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/auth/ApiErrorDecoder.java
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/auth/OAuth.java
  samples/client/petstore/java/feign/.openapi-generator/FILES
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/auth/ApiErrorDecoder.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/auth/OAuth.java
  samples/client/petstore/java/feign/src/test/java/org/openapitools/client/api/ApiKeyAuthTest.java
  samples/client/petstore/java/feign/src/test/java/org/openapitools/client/api/HttpBasicAuthTest.java
  samples/client/petstore/java/feign/src/test/java/org/openapitools/client/api/HttpBearerAuthTest.java
  samples/client/petstore/java/feign/src/test/java/org/openapitools/client/api/OauthClientCredentialsGrantTest.java
  samples/client/petstore/java/feign/src/test/java/org/openapitools/client/api/OauthPasswordGrantTest.java
  samples/client/petstore/java/feign/src/test/java/org/openapitools/client/api/OauthRetryAuthErrorsTest.java
  samples/client/petstore/java/feign/src/test/java/org/openapitools/client/auth/ApiErrorDecoderTest.java
Labels: Client: Java, Enhancement: General

#10173 [Java] Add a Jandex index to microprofile client packages
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/pom.mustache
  samples/client/petstore/java/microprofile-rest-client/pom.xml
Labels: Client: Java, Enhancement: General

#10225 Update javascript flowed client's package-lock.json file
  README.md
  modules/openapi-generator/src/main/resources/Javascript-Flowtyped/package.mustache
  samples/client/petstore/javascript-flowtyped/.openapi-generator/VERSION
  samples/client/petstore/javascript-flowtyped/package-lock.json
  samples/client/petstore/javascript-flowtyped/package.json
  samples/client/petstore/javascript-flowtyped/src/api.js
Labels: Client: JavaScript/Node.js, Enhancement: CI/Test, Enhancement: Code format

#9750 [ K6 Generator ] Support for extracting examples defined at parameter level of Swagger/OpenAPI specification, plus minor fixes
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/K6ClientCodegen.java
  modules/openapi-generator/src/main/resources/k6/README.mustache
  modules/openapi-generator/src/main/resources/k6/script.mustache
  modules/openapi-generator/src/test/resources/3_0/examples.yaml
  samples/client/petstore/k6/.openapi-generator/VERSION
  samples/client/petstore/k6/README.md
  samples/client/petstore/k6/script.js
Labels: Enhancement: General, Issue: Bug, Client: k6

#9189 [php-slim4] Follow PDS skeleton
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSlim4ServerCodegen.java
  modules/openapi-generator/src/main/resources/php-slim4-server/README.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/index.mustache
  samples/server/petstore/php-slim4/.openapi-generator/FILES
  samples/server/petstore/php-slim4/README.md
  samples/server/petstore/php-slim4/composer.json
  samples/server/petstore/php-slim4/lib/Model/InlineObject.php
  samples/server/petstore/php-slim4/lib/Model/InlineObject1.php
  samples/server/petstore/php-slim4/phpunit.xml.dist
  samples/server/petstore/php-slim4/public/.htaccess
  samples/server/petstore/php-slim4/public/index.php
  samples/server/petstore/php-slim4/test/Model/InlineObject1Test.php
  samples/server/petstore/php-slim4/test/Model/InlineObjectTest.php
  samples/server/petstore/php-slim4/tests/Api/PetApiTest.php
  samples/server/petstore/php-slim4/tests/Api/StoreApiTest.php
  samples/server/petstore/php-slim4/tests/Api/UserApiTest.php
  samples/server/petstore/php-slim4/tests/BaseModelTest.php
  samples/server/petstore/php-slim4/tests/Model/ApiResponseTest.php
  samples/server/petstore/php-slim4/tests/Model/CategoryTest.php
  samples/server/petstore/php-slim4/tests/Model/OrderTest.php
  samples/server/petstore/php-slim4/tests/Model/PetTest.php
  samples/server/petstore/php-slim4/tests/Model/TagTest.php
  samples/server/petstore/php-slim4/tests/Model/UserTest.php
Labels: Enhancement: Code format, Server: PHP

#9891 [abstract csharp] Ensure enum dataType is not nullable string
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/csharp/CSharpModelTest.java
Labels: Client: C-Sharp, Enhancement: Feature, Feature: Enum, Server: C-Sharp

#10231 Add oneOfProps, allOfProps, anyOfProps to Codegen model
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModel.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Enhancement: Feature, Feature: Generator

#10252 [#10251] Improve the documentation of the option serializationLibrary
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
Labels: Client: Java, Enhancement: Feature, Feature: Documentation

#10196 Skip setting readOnly properties with default values in model constructors
  bin/configs/go-petstore.yaml
  docs/generators/go-experimental.md
  docs/generators/go.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
  modules/openapi-generator/src/main/resources/go/model_simple.mustache
  modules/openapi-generator/src/test/resources/3_0/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/client/petstore/typescript-axios/builds/with-fake-endpoints-models-for-testing-with-http-signature/api.ts
  samples/openapi3/client/petstore/go/go-petstore/.openapi-generator/FILES
  samples/openapi3/client/petstore/go/go-petstore/README.md
  samples/openapi3/client/petstore/go/go-petstore/api/openapi.yaml
  samples/openapi3/client/petstore/go/go-petstore/docs/ReadOnlyWithDefault.md
  samples/openapi3/client/petstore/go/go-petstore/model_read_only_with_default.go
Labels: Client: Go, Enhancement: General

#10075 [go] Support for response status code ranges
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/resources/go/api.mustache
  modules/openapi-generator/src/test/resources/3_0/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/openapi3/client/petstore/go/go-petstore/api/openapi.yaml
  samples/openapi3/client/petstore/go/go-petstore/api_default.go
Labels: Client: Go, Enhancement: General

#10269 Remove skipReadonlyPropertiesInInit option
  bin/configs/go-petstore.yaml
  docs/generators/go.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
  modules/openapi-generator/src/main/resources/go/model_simple.mustache
Labels: Client: Go, Enhancement: General

#10284 Fix names of pre- and post- scripts for building libcurl
  modules/openapi-generator/src/main/resources/C-libcurl/CMakeLists.txt.mustache
Labels: Issue: Usage/Installation, Client: C

#10288 [typescript] fix compilation error for file upload
  modules/openapi-generator/src/main/resources/typescript/api/api.mustache
  samples/openapi3/client/petstore/typescript/builds/default/apis/PetApi.ts
  samples/openapi3/client/petstore/typescript/builds/deno/apis/PetApi.ts
  samples/openapi3/client/petstore/typescript/builds/inversify/apis/PetApi.ts
  samples/openapi3/client/petstore/typescript/builds/jquery/apis/PetApi.ts
  samples/openapi3/client/petstore/typescript/builds/object_params/apis/PetApi.ts
Labels: Client: TypeScript, Issue: Bug
