Repository OpenAPITools/openapi-generator, pull requests merged in 2021-05, with the labels that each got.

#9373 [csharp][netcore-httpclient] Refactor of constructors: removed obsolete attribute
  modules/openapi-generator/src/main/resources/csharp-netcore/README.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/api_doc.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/httpclient/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/httpclient/api.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/docs/AnotherFakeApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/docs/DefaultApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/docs/FakeApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/docs/FakeClassnameTags123Api.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/docs/PetApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/docs/StoreApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/docs/UserApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools.Test/Api/PetApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/ApiClient.cs
Labels: Client: C-Sharp, Enhancement: General

#9251 [C++] [Pistache] Model validation, general overhaul
  bin/configs/cpp-pistache-server-cpp-pistache.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppPistacheServerCodegen.java
  modules/openapi-generator/src/main/resources/cpp-pistache-server/api-header.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/api-impl-header.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/api-impl-source.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/api-source.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/helpers-header.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/helpers-source.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-header.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-source.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-struct-header.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-struct-source.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-validation-body.mustache
  samples/server/petstore/cpp-pistache/.openapi-generator/VERSION
  samples/server/petstore/cpp-pistache/api/PetApi.cpp
  samples/server/petstore/cpp-pistache/api/PetApi.h
  samples/server/petstore/cpp-pistache/api/StoreApi.cpp
  samples/server/petstore/cpp-pistache/api/StoreApi.h
  samples/server/petstore/cpp-pistache/api/UserApi.cpp
  samples/server/petstore/cpp-pistache/api/UserApi.h
  samples/server/petstore/cpp-pistache/impl/PetApiImpl.cpp
  samples/server/petstore/cpp-pistache/impl/PetApiImpl.h
  samples/server/petstore/cpp-pistache/impl/StoreApiImpl.cpp
  samples/server/petstore/cpp-pistache/impl/StoreApiImpl.h
  samples/server/petstore/cpp-pistache/impl/UserApiImpl.cpp
  samples/server/petstore/cpp-pistache/impl/UserApiImpl.h
  samples/server/petstore/cpp-pistache/model/ApiResponse.cpp
  samples/server/petstore/cpp-pistache/model/ApiResponse.h
  samples/server/petstore/cpp-pistache/model/Category.cpp
  samples/server/petstore/cpp-pistache/model/Category.h
  samples/server/petstore/cpp-pistache/model/Helpers.cpp
  samples/server/petstore/cpp-pistache/model/Helpers.h
  samples/server/petstore/cpp-pistache/model/Order.cpp
  samples/server/petstore/cpp-pistache/model/Order.h
  samples/server/petstore/cpp-pistache/model/Pet.cpp
  samples/server/petstore/cpp-pistache/model/Pet.h
  samples/server/petstore/cpp-pistache/model/Tag.cpp
  samples/server/petstore/cpp-pistache/model/Tag.h
  samples/server/petstore/cpp-pistache/model/User.cpp
  samples/server/petstore/cpp-pistache/model/User.h
Labels: Enhancement: General, Server: C++

#9406 [Erlang] migrate CI to drone.io
  CI/.drone.yml
Labels: Client: Erlang, Enhancement: CI/Test, Server: Erlang

#9405 [aspnetcore] Fix incorrect logging messages
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetCoreServerCodegen.java
Labels: Issue: Non-operational, Server: C-Sharp

#9404 [aspnetcore] Fix config enum documentation
  docs/generators/aspnetcore.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetCoreServerCodegen.java
Labels: Issue: Non-operational, Server: C-Sharp

#9382 [cpp-ue4] Improved retry system to use Unreal's FHttpRetrySystem
  CONTRIBUTING.md
  modules/openapi-generator/src/main/resources/cpp-ue4/api-header.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/api-source.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/model-base-header.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/model-base-source.mustache
  samples/client/petstore/cpp-ue4/Private/OpenAPIBaseModel.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIPetApi.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIStoreApi.cpp
  samples/client/petstore/cpp-ue4/Private/OpenAPIUserApi.cpp
  samples/client/petstore/cpp-ue4/Public/OpenAPIBaseModel.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIPetApi.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIStoreApi.h
  samples/client/petstore/cpp-ue4/Public/OpenAPIUserApi.h
Labels: Client: C++, Enhancement: General

#9415 [kotlin][client] fix warning for non optional header parameter
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-okhttp/api.mustache
Labels: Client: Kotlin, Issue: Non-operational

#9389 [csharp-netcore][httpclient] Issues managing error statuses
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/httpclient/ApiClient.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools.Test/Api/PetApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools.Test/Api/PetApiTestsV2.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/ApiClient.cs
Labels: Client: C-Sharp, Issue: Bug

#9392 upgrade dart generator dependencies
  modules/openapi-generator/src/main/resources/dart2/api_client.mustache
  modules/openapi-generator/src/main/resources/dart2/build.yaml.mustache
  modules/openapi-generator/src/main/resources/dart2/pubspec.mustache
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/api_client.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/pubspec.yaml
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api_client.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/pubspec.yaml
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/build.yaml
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api_client.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/pubspec.yaml
Labels: Client: Dart, Enhancement: Compatibility

#9417 [Javascript-Flowtyped] Handle joining uniqueItems in api template
  modules/openapi-generator/src/main/resources/Javascript-Flowtyped/api.mustache
Labels: Client: JavaScript/Node.js, Enhancement: General

#9370 [Bash] Fix matching of header parameters
  modules/openapi-generator/src/main/resources/bash/client.mustache
  samples/client/petstore/bash/petstore-cli
Labels: Client: Bash, Issue: Bug

#9416 [crystal][client] some fix and minor improvement
  modules/openapi-generator/src/main/resources/crystal/configuration.mustache
  modules/openapi-generator/src/main/resources/crystal/model.mustache
  modules/openapi-generator/src/main/resources/crystal/partial_model_generic.mustache
  modules/openapi-generator/src/main/resources/crystal/shard.mustache
  samples/client/petstore/crystal/shard.yml
  samples/client/petstore/crystal/src/petstore/configuration.cr
  samples/client/petstore/crystal/src/petstore/models/api_response.cr
  samples/client/petstore/crystal/src/petstore/models/category.cr
  samples/client/petstore/crystal/src/petstore/models/order.cr
  samples/client/petstore/crystal/src/petstore/models/pet.cr
  samples/client/petstore/crystal/src/petstore/models/tag.cr
  samples/client/petstore/crystal/src/petstore/models/user.cr
Labels: Client: Crystal, Enhancement: General, Issue: Bug

#9438 [JS][Flow] Better code format, update samples
  modules/openapi-generator/src/main/resources/Javascript-Flowtyped/api.mustache
  samples/client/petstore/javascript-flowtyped/.openapi-generator/VERSION
  samples/client/petstore/javascript-flowtyped/src/api.js
Labels: Client: JavaScript/Node.js, Enhancement: CI/Test, Enhancement: Code format

#9393 [kotlin][client] improve moshi code gen docs
  docs/generators/kotlin.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinClientCodegen.java
Labels: Client: Kotlin, Enhancement: Feature, Feature: Documentation

#9428 [BUG] [typescript] Duplicate parameter's names (rename options to _options and config to _config)
  modules/openapi-generator/src/main/resources/typescript/api/api.mustache
  modules/openapi-generator/src/main/resources/typescript/types/ObservableAPI.mustache
  modules/openapi-generator/src/main/resources/typescript/types/PromiseAPI.mustache
  samples/openapi3/client/petstore/typescript/builds/default/apis/PetApi.ts
  samples/openapi3/client/petstore/typescript/builds/default/apis/StoreApi.ts
  samples/openapi3/client/petstore/typescript/builds/default/apis/UserApi.ts
  samples/openapi3/client/petstore/typescript/builds/default/types/ObservableAPI.ts
  samples/openapi3/client/petstore/typescript/builds/default/types/PromiseAPI.ts
  samples/openapi3/client/petstore/typescript/builds/deno/apis/PetApi.ts
  samples/openapi3/client/petstore/typescript/builds/deno/apis/StoreApi.ts
  samples/openapi3/client/petstore/typescript/builds/deno/apis/UserApi.ts
  samples/openapi3/client/petstore/typescript/builds/deno/types/ObservableAPI.ts
  samples/openapi3/client/petstore/typescript/builds/deno/types/PromiseAPI.ts
  samples/openapi3/client/petstore/typescript/builds/inversify/apis/PetApi.ts
  samples/openapi3/client/petstore/typescript/builds/inversify/apis/StoreApi.ts
  samples/openapi3/client/petstore/typescript/builds/inversify/apis/UserApi.ts
  samples/openapi3/client/petstore/typescript/builds/inversify/types/ObservableAPI.ts
  samples/openapi3/client/petstore/typescript/builds/inversify/types/PromiseAPI.ts
  samples/openapi3/client/petstore/typescript/builds/jquery/apis/PetApi.ts
  samples/openapi3/client/petstore/typescript/builds/jquery/apis/StoreApi.ts
  samples/openapi3/client/petstore/typescript/builds/jquery/apis/UserApi.ts
  samples/openapi3/client/petstore/typescript/builds/jquery/types/ObservableAPI.ts
  samples/openapi3/client/petstore/typescript/builds/jquery/types/PromiseAPI.ts
  samples/openapi3/client/petstore/typescript/builds/object_params/apis/PetApi.ts
  samples/openapi3/client/petstore/typescript/builds/object_params/apis/StoreApi.ts
  samples/openapi3/client/petstore/typescript/builds/object_params/apis/UserApi.ts
  samples/openapi3/client/petstore/typescript/builds/object_params/types/ObservableAPI.ts
  samples/openapi3/client/petstore/typescript/builds/object_params/types/PromiseAPI.ts
Labels: Client: TypeScript

#9414 Update erlang-server dependencies
  CI/.drone.yml
  modules/openapi-generator/src/main/resources/erlang-server/rebar.config.mustache
  samples/server/petstore/erlang-server/.openapi-generator/FILES
  samples/server/petstore/erlang-server/.openapi-generator/VERSION
  samples/server/petstore/erlang-server/rebar.config
Labels: Enhancement: Compatibility, Issue: Usage/Installation, Server: Erlang

#9394 [kotlin][client] add sample for parcelizeModels
  bin/configs/kotlin-json-request-string.yaml
  modules/openapi-generator/src/main/resources/kotlin-client/data_class.mustache
  samples/client/petstore/kotlin-json-request-string/build.gradle
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/models/ApiResponse.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/models/Category.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/models/Pet.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/models/Tag.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/models/User.kt
Labels: Client: Kotlin, Enhancement: CI/Test

#9354 [scala-sttp] Compilation failure URI parameter not camelCase, fixes #9345
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaSttpClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/scala/SttpCodegenTest.java
Labels: Client: Scala, Issue: Bug

#9356 [scala-sttp] Bump minor versions of libraries, SBT and Scala
  docs/generators/scala-sttp.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaSttpClientCodegen.java
  modules/openapi-generator/src/main/resources/scala-sttp/build.sbt.mustache
  modules/openapi-generator/src/main/resources/scala-sttp/project/build.properties.mustache
  samples/client/petstore/scala-sttp/build.sbt
  samples/client/petstore/scala-sttp/project/build.properties
Labels: Client: Scala, Enhancement: Compatibility

#9463 [Scala] better code format
  modules/openapi-generator/src/main/resources/scala-sttp/api.mustache
  modules/openapi-generator/src/main/resources/scala-sttp/project/build.properties.mustache
  samples/client/petstore/scala-sttp/project/build.properties
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/api/PetApi.scala
Labels: Client: Scala, Enhancement: Code format

#9491 Reduce Travis CI job runtime
  pom.xml
Labels: Enhancement: CI/Test

#9469 Add support for Boolean in R client generator
  modules/openapi-generator/src/main/resources/r/model.mustache
  samples/client/petstore/R/R/category.R
  samples/client/petstore/R/R/model_api_response.R
  samples/client/petstore/R/R/order.R
  samples/client/petstore/R/R/pet.R
  samples/client/petstore/R/R/tag.R
  samples/client/petstore/R/R/user.R
Labels: Client: R, Enhancement: General

#9492 Update ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/ApiClient.mustache
Labels: Client: Java, Issue: Bug

#9488 [crystal][client] Support authorization
  modules/openapi-generator/src/main/resources/crystal/api.mustache
  modules/openapi-generator/src/main/resources/crystal/api_client.mustache
  modules/openapi-generator/src/main/resources/crystal/configuration.mustache
  samples/client/petstore/crystal/spec/api/pet_api_spec.cr
  samples/client/petstore/crystal/spec/api_client_spec.cr
  samples/client/petstore/crystal/src/petstore/api/pet_api.cr
  samples/client/petstore/crystal/src/petstore/api/store_api.cr
  samples/client/petstore/crystal/src/petstore/api/user_api.cr
  samples/client/petstore/crystal/src/petstore/api_client.cr
  samples/client/petstore/crystal/src/petstore/configuration.cr
Labels: Client: Crystal, Enhancement: General

#9483 Fixes python test_fake_api tests
  modules/openapi-generator/src/main/resources/python/model_utils.mustache
  modules/openapi-generator/src/test/resources/3_0/python/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/client/petstore/python/petstore_api/model_utils.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/model_utils.py
  samples/openapi3/client/extensions/x-auth-id-alias/python/x_auth_id_alias/model_utils.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/model_utils.py
  samples/openapi3/client/petstore/python/.openapi-generator/FILES
  samples/openapi3/client/petstore/python/README.md
  samples/openapi3/client/petstore/python/docs/FakeApi.md
  samples/openapi3/client/petstore/python/docs/FakePostInlineAdditionalPropertiesPayloadArrayData.md
  samples/openapi3/client/petstore/python/docs/InlineAdditionalPropertiesRefPayload.md
  samples/openapi3/client/petstore/python/docs/InlineObject6.md
  samples/openapi3/client/petstore/python/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/model/fake_post_inline_additional_properties_payload_array_data.py
  samples/openapi3/client/petstore/python/petstore_api/model/inline_additional_properties_ref_payload.py
  samples/openapi3/client/petstore/python/petstore_api/model/inline_object6.py
  samples/openapi3/client/petstore/python/petstore_api/model_utils.py
  samples/openapi3/client/petstore/python/petstore_api/models/__init__.py
  samples/openapi3/client/petstore/python/test/test_fake_post_inline_additional_properties_payload_array_data.py
  samples/openapi3/client/petstore/python/test/test_inline_additional_properties_ref_payload.py
  samples/openapi3/client/petstore/python/test/test_inline_object6.py
  samples/openapi3/client/petstore/python/tests_manual/test_fake_api.py
Labels: Client: Python

#9503 Fix CircleCI failures
  modules/openapi-generator/src/main/resources/dart2/api.mustache
  samples/openapi3/client/petstore/dart2/petstore/.analysis_options
  samples/openapi3/client/petstore/dart2/petstore/pubspec.yaml
  samples/openapi3/client/petstore/dart2/petstore/test/fake_client.dart
  samples/openapi3/client/petstore/dart2/petstore/test/order_model_test.dart
  samples/openapi3/client/petstore/dart2/petstore/test/pet_faked_client_test.dart
  samples/openapi3/client/petstore/dart2/petstore/test/pet_test.dart
  samples/openapi3/client/petstore/dart2/petstore/test/random_id.dart
  samples/openapi3/client/petstore/dart2/petstore/test/store_faked_client_test.dart
  samples/openapi3/client/petstore/dart2/petstore/test/store_test.dart
  samples/openapi3/client/petstore/dart2/petstore/test/user_test.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/api/user_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/another_fake_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/default_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/fake_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/fake_classname_tags123_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/user_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/another_fake_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/default_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/fake_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/fake_classname_tags123_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/user_api.dart
  samples/server/petstore/go-echo-server/pom.xml
Labels: Client: Dart, Enhancement: CI/Test

#8708 Fix bean validation for type Optional
  modules/openapi-generator/src/main/resources/JavaSpring/beanValidationQueryParams.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/optionalDataType.mustache
Labels: Issue: Bug, Server: Java, Server: Spring

#9494 [REQ] [kotlin-client] Add uriAdapter for moshiBuilder
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinClientCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-client/jvm-common/infrastructure/Serializer.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/jvm-common/infrastructure/URIAdapter.kt.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultGeneratorTest.java
  samples/client/petstore/kotlin-json-request-string/.openapi-generator/FILES
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/infrastructure/URIAdapter.kt
  samples/client/petstore/kotlin-moshi-codegen/.openapi-generator/FILES
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/infrastructure/URIAdapter.kt
  samples/client/petstore/kotlin-nonpublic/.openapi-generator/FILES
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/infrastructure/URIAdapter.kt
  samples/client/petstore/kotlin-nullable/.openapi-generator/FILES
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/infrastructure/URIAdapter.kt
  samples/client/petstore/kotlin-okhttp3/.openapi-generator/FILES
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/infrastructure/URIAdapter.kt
  samples/client/petstore/kotlin-retrofit2-kotlinx_serialization/src/main/kotlin/org/openapitools/client/infrastructure/URIAdapter.kt
  samples/client/petstore/kotlin-retrofit2-rx3/.openapi-generator/FILES
  samples/client/petstore/kotlin-retrofit2-rx3/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-retrofit2-rx3/src/main/kotlin/org/openapitools/client/infrastructure/URIAdapter.kt
  samples/client/petstore/kotlin-retrofit2/.openapi-generator/FILES
  samples/client/petstore/kotlin-retrofit2/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-retrofit2/src/main/kotlin/org/openapitools/client/infrastructure/URIAdapter.kt
  samples/client/petstore/kotlin-string/.openapi-generator/FILES
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/URIAdapter.kt
  samples/client/petstore/kotlin-threetenbp/.openapi-generator/FILES
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/URIAdapter.kt
  samples/client/petstore/kotlin-uppercase-enum/.openapi-generator/FILES
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/infrastructure/URIAdapter.kt
  samples/client/petstore/kotlin/.openapi-generator/FILES
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/URIAdapter.kt
Labels: Client: Kotlin, Issue: Bug

#9306 [Kotlin] [#8809] Allow optional header parameters with Kotlin and ret…
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/headerParams.mustache
  samples/client/petstore/kotlin-retrofit2-kotlinx_serialization/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-retrofit2-rx3/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-retrofit2/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
Labels: Client: Kotlin, Enhancement: General

#9506 [crystal][client] support configure method with block
  modules/openapi-generator/src/main/resources/crystal/configuration.mustache
  modules/openapi-generator/src/main/resources/crystal/shard_name.mustache
  samples/client/petstore/crystal/spec/configuration_spec.cr
  samples/client/petstore/crystal/spec/petstore_spec.cr
  samples/client/petstore/crystal/src/petstore.cr
  samples/client/petstore/crystal/src/petstore/configuration.cr
Labels: Client: Crystal, Enhancement: General

#9533 Fix typescript-node installation due to @types/bluebird 3.5.35
  modules/openapi-generator/src/main/resources/typescript-node/package.mustache
  samples/client/petstore/typescript-node/npm/package.json
Labels: Client: TypeScript, Issue: Usage/Installation

#9515 [dart][ci] Move Dart samples from CircleCI to Github actions
  .github/actions/run-samples/action.yaml
  .github/workflows/samples-dart.yaml
  CI/circle_parallel.sh
  pom.xml
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/pom.xml
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake_tests/test/model/date_serializer_test.dart
Labels: Client: Dart, Enhancement: CI/Test

#9427 [csharp][httpclient] Remove noncompliant post behaviour
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/httpclient/ApiClient.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/ApiClient.cs
Labels: Client: C-Sharp, Enhancement: General

#9554 [dart][dart-dio] Fix gitignore comment style
  modules/openapi-generator/src/main/resources/dart-dio/gitignore.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/gitignore.mustache
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/.gitignore
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/.gitignore
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/.gitignore
Labels: Client: Dart, Enhancement: Code format

#9555 Revert "[Java][Spring] Fix for #8659 - Different in-parameter types - fix for #9462
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/api_test.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/homeController.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  samples/server/petstore/spring-mvc-j8-async/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/spring-mvc-j8-localdatetime/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/spring-mvc-no-nullable/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/spring-mvc-spring-pageable/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/spring-mvc/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-beanvalidation-no-nullable/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-implicitHeaders/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/configuration/HomeController.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern-without-j8/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-spring-pageable-without-j8/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-spring-pageable/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/FormatTest.java
  samples/server/petstore/springboot/src/main/java/org/openapitools/model/FormatTest.java
Labels: Issue: Undo changes, Server: Java, Server: Spring

#9208 [php-slim4] Decouple Slim4 codegen from Slim3
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSlim4ServerCodegen.java
Labels: General: Support, Server: PHP

#9517 [dart] Improve content-type handling
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractDartCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioNextClientCodegen.java
  modules/openapi-generator/src/main/resources/dart-dio/api.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/api.mustache
  modules/openapi-generator/src/main/resources/dart2/api.mustache
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/README.md
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/doc/AnotherFakeApi.md
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/doc/DefaultApi.md
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/doc/FakeApi.md
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/doc/FakeClassnameTags123Api.md
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/doc/PetApi.md
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/doc/StoreApi.md
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/doc/UserApi.md
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/another_fake_api.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/default_api.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/fake_api.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/fake_classname_tags123_api.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/store_api.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/user_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/README.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/doc/PetApi.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/doc/StoreApi.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/doc/UserApi.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/user_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/README.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/doc/AnotherFakeApi.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/doc/DefaultApi.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/doc/FakeApi.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/doc/FakeClassnameTags123Api.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/doc/PetApi.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/doc/StoreApi.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/doc/UserApi.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/another_fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/default_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/fake_classname_tags123_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/user_api.dart
Labels: Client: Dart, Enhancement: General

#9549 [dart][dart-dio-next] Add stacktraces to manual DioError instances
  modules/openapi-generator/src/main/resources/dart/libraries/dio/api.mustache
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/another_fake_api.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/default_api.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/fake_api.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/fake_classname_tags123_api.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/store_api.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/user_api.dart
Labels: Client: Dart, Enhancement: General

#9550 [ci] Move openapi-generator build/docs/samples to github actions
  .github/workflows/openapi-generator-test-results.yaml
  .github/workflows/openapi-generator.yaml
  CI/.drone.yml
  CI/circle_parallel.sh
  shippable.yml
Labels: Enhancement: CI/Test

#9489 New generator | Arduino cpp
  bin/configs/tiny-cpp-client-petstore-new.yaml
  docs/generators/tiny-cpp.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TinyCppClientCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/tiny-cpp-client/README.mustache
  modules/openapi-generator/src/main/resources/tiny-cpp-client/helpers-body.mustache
  modules/openapi-generator/src/main/resources/tiny-cpp-client/helpers-header.mustache
  modules/openapi-generator/src/main/resources/tiny-cpp-client/main.mustache
  modules/openapi-generator/src/main/resources/tiny-cpp-client/model-body.mustache
  modules/openapi-generator/src/main/resources/tiny-cpp-client/model-header.mustache
  modules/openapi-generator/src/main/resources/tiny-cpp-client/platformio.ini.mustache
  modules/openapi-generator/src/main/resources/tiny-cpp-client/pre_compiling_bourne.py.mustache
  modules/openapi-generator/src/main/resources/tiny-cpp-client/root.cert.mustache
  modules/openapi-generator/src/main/resources/tiny-cpp-client/run-tests.mustache
  modules/openapi-generator/src/main/resources/tiny-cpp-client/service/AbstractService.cpp.mustache
  modules/openapi-generator/src/main/resources/tiny-cpp-client/service/AbstractService.h.mustache
  modules/openapi-generator/src/main/resources/tiny-cpp-client/service/Response.h.mustache
  modules/openapi-generator/src/main/resources/tiny-cpp-client/service/api-body.mustache
  modules/openapi-generator/src/main/resources/tiny-cpp-client/service/api-header.mustache
  modules/openapi-generator/src/main/resources/tiny-cpp-client/unit-test-model.mustache
  modules/openapi-generator/src/main/resources/tiny-cpp-client/unittest.mustache
  samples/client/petstore/tiny/cpp/.gitignore
  samples/client/petstore/tiny/cpp/.openapi-generator-ignore
  samples/client/petstore/tiny/cpp/.openapi-generator/FILES
  samples/client/petstore/tiny/cpp/.openapi-generator/VERSION
  samples/client/petstore/tiny/cpp/README.md
  samples/client/petstore/tiny/cpp/lib/Models/ApiResponse.cpp
  samples/client/petstore/tiny/cpp/lib/Models/ApiResponse.h
  samples/client/petstore/tiny/cpp/lib/Models/Category.cpp
  samples/client/petstore/tiny/cpp/lib/Models/Category.h
  samples/client/petstore/tiny/cpp/lib/Models/Helpers.cpp
  samples/client/petstore/tiny/cpp/lib/Models/Helpers.h
  samples/client/petstore/tiny/cpp/lib/Models/Order.cpp
  samples/client/petstore/tiny/cpp/lib/Models/Order.h
  samples/client/petstore/tiny/cpp/lib/Models/Pet.cpp
  samples/client/petstore/tiny/cpp/lib/Models/Pet.h
  samples/client/petstore/tiny/cpp/lib/Models/Tag.cpp
  samples/client/petstore/tiny/cpp/lib/Models/Tag.h
  samples/client/petstore/tiny/cpp/lib/Models/User.cpp
  samples/client/petstore/tiny/cpp/lib/Models/User.h
  samples/client/petstore/tiny/cpp/lib/TestFiles/ApiResponseTest.cpp
  samples/client/petstore/tiny/cpp/lib/TestFiles/CategoryTest.cpp
  samples/client/petstore/tiny/cpp/lib/TestFiles/OrderTest.cpp
  samples/client/petstore/tiny/cpp/lib/TestFiles/PetTest.cpp
  samples/client/petstore/tiny/cpp/lib/TestFiles/TagTest.cpp
  samples/client/petstore/tiny/cpp/lib/TestFiles/UserTest.cpp
  samples/client/petstore/tiny/cpp/lib/service/AbstractService.cpp
  samples/client/petstore/tiny/cpp/lib/service/AbstractService.h
  samples/client/petstore/tiny/cpp/lib/service/PetApi.cpp
  samples/client/petstore/tiny/cpp/lib/service/PetApi.h
  samples/client/petstore/tiny/cpp/lib/service/Response.h
  samples/client/petstore/tiny/cpp/lib/service/StoreApi.cpp
  samples/client/petstore/tiny/cpp/lib/service/StoreApi.h
  samples/client/petstore/tiny/cpp/lib/service/UserApi.cpp
  samples/client/petstore/tiny/cpp/lib/service/UserApi.h
  samples/client/petstore/tiny/cpp/platformio.ini
  samples/client/petstore/tiny/cpp/pre_compiling_bourne.py
  samples/client/petstore/tiny/cpp/root.cert
  samples/client/petstore/tiny/cpp/src/main.cpp
  samples/client/petstore/tiny/cpp/test/RunTests.cpp
Labels: Client: C++, Enhancement: New generator

#9542 [dart][dart-dio-next] Improve support for file uploads
  .circleci/config.yml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioNextClientCodegen.java
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/serialize.mustache
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/doc/PetApi.md
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/fake_api.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake/lib/src/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake_tests/pubspec.yaml
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake_tests/test/api/fake_api_test.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake_tests/test/api/pet_api_test.dart
  samples/openapi3/client/petstore/dart-dio-next/petstore_client_lib_fake_tests/test/matcher/form_data_matcher.dart
Labels: Client: Dart, Enhancement: General

#9424 [csharp][netcore] Handle Deserialization Asynchronously
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/httpclient/ApiClient.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/ApiClient.cs
Labels: Client: C-Sharp, Enhancement: General

#9419 [swift5] Map file and binary to Data
  docs/generators/swift5.md
  docs/generators/tiny-cpp.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift5ClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/Swift5OptionsProvider.java
Labels: Client: Swift, Enhancement: Compatibility

#9578 [kotlin][client] fix Android crash on API level 25 and bellow
  bin/configs/kotlin-json-request-string.yaml
  docs/generators/kotlin.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinClientCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-okhttp/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin, Enhancement: Compatibility

#9569 [cpp-ue4] Added public methods to process enums in string form
  modules/openapi-generator/src/main/resources/cpp-ue4/api-operations-header.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/api-operations-source.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/model-header.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/model-source.mustache
Labels: Client: C++, Enhancement: General

#9519 Adds isShort + isUnboundedInteger to IJsonSchemaValidationProperties implementers
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModel.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenProperty.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenResponse.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/IJsonSchemaValidationProperties.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_9447.yaml
  samples/server/petstore/java-undertow/src/main/java/org/openapitools/handler/PathHandlerInterface.java
Labels: Client: Java, Issue: Bug

#9587 [swift5] update docs
  docs/generators/swift5.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift5ClientCodegen.java
Labels: Client: Swift, Enhancement: Feature, Feature: Documentation

#9595 [swift5][client] fix binary response
  modules/openapi-generator/src/main/resources/swift5/libraries/alamofire/AlamofireImplementations.mustache
  modules/openapi-generator/src/main/resources/swift5/libraries/urlsession/URLSessionImplementations.mustache
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient/Classes/OpenAPIs/AlamofireImplementations.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/deprecated/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/oneOf/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/readonlyProperties/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/urlsessionLibrary/Sources/PetstoreClient/URLSessionImplementations.swift
  samples/client/petstore/swift5/x-swift-hashable/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
Labels: Client: Swift, Issue: Bug

#9537 [C]: Fix enum values
  modules/openapi-generator/src/main/resources/C-libcurl/api-body.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/model-body.mustache
Labels: Client: C, Issue: Bug

#9613 [Wsdl] minor improvements, bug fixes
  README.md
  bin/configs/wsdl-schema.yaml
  bin/configs/wsdl-spec.yaml
  docs/generators.md
  docs/generators/wsdl-schema.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/WsdlGeneratorCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/WsdlSchemaCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/wsdl-schema/jaxb-customization.mustache
  modules/openapi-generator/src/main/resources/wsdl-schema/wsdl-converter.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/wsdl/WsdlGeneratorTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/wsdl/WsdlSchemaCodegenTest.java
  samples/schema/petstore/wsdl-schema/.openapi-generator-ignore
  samples/schema/petstore/wsdl-schema/.openapi-generator/FILES
  samples/schema/petstore/wsdl-schema/.openapi-generator/VERSION
  samples/schema/petstore/wsdl-schema/jaxb-customization.xml
  samples/schema/petstore/wsdl-schema/service.wsdl
Labels: Enhancement: General, Issue: Bug, Schema: WSDL

#9605 [swift5][client] improve docs for Data
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift5ClientCodegen.java
  samples/client/petstore/swift5/alamofireLibrary/docs/FakeAPI.md
  samples/client/petstore/swift5/combineLibrary/docs/FakeAPI.md
  samples/client/petstore/swift5/default/docs/FakeAPI.md
  samples/client/petstore/swift5/nonPublicApi/docs/FakeAPI.md
  samples/client/petstore/swift5/objcCompatible/docs/FakeAPI.md
  samples/client/petstore/swift5/promisekitLibrary/docs/FakeAPI.md
  samples/client/petstore/swift5/readonlyProperties/docs/FakeAPI.md
  samples/client/petstore/swift5/resultLibrary/docs/FakeAPI.md
  samples/client/petstore/swift5/rxswiftLibrary/docs/FakeAPI.md
  samples/client/petstore/swift5/urlsessionLibrary/docs/FakeAPI.md
  samples/client/petstore/swift5/x-swift-hashable/docs/FakeAPI.md
Labels: Client: Swift, Enhancement: Feature, Feature: Documentation

#9611 New python-fastapi generator
  bin/configs/python-fastapi.yaml
  docs/generators/python-fastapi.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonFastAPIServerCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/python-fastapi/Dockerfile.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/README.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/__init__.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/api.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/api_test.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/conftest.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/docker-compose.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/endpoint_argument_definition.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/extra_models.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/gitignore.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/main.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/model.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/openapi.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/param_type.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/partial_header.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/pyproject_toml.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/requirements.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/security_api.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/setup_cfg.mustache
  samples/server/petstore/python-fastapi/.gitignore
  samples/server/petstore/python-fastapi/.openapi-generator-ignore
  samples/server/petstore/python-fastapi/.openapi-generator/FILES
  samples/server/petstore/python-fastapi/.openapi-generator/VERSION
  samples/server/petstore/python-fastapi/Dockerfile
  samples/server/petstore/python-fastapi/README.md
  samples/server/petstore/python-fastapi/docker-compose.yaml
  samples/server/petstore/python-fastapi/openapi.yaml
  samples/server/petstore/python-fastapi/pyproject.toml
  samples/server/petstore/python-fastapi/requirements.txt
  samples/server/petstore/python-fastapi/setup.cfg
  samples/server/petstore/python-fastapi/src/openapi_server/apis/__init__.py
  samples/server/petstore/python-fastapi/src/openapi_server/apis/pet_api.py
  samples/server/petstore/python-fastapi/src/openapi_server/apis/store_api.py
  samples/server/petstore/python-fastapi/src/openapi_server/apis/user_api.py
  samples/server/petstore/python-fastapi/src/openapi_server/main.py
  samples/server/petstore/python-fastapi/src/openapi_server/models/__init__.py
  samples/server/petstore/python-fastapi/src/openapi_server/models/api_response.py
  samples/server/petstore/python-fastapi/src/openapi_server/models/category.py
  samples/server/petstore/python-fastapi/src/openapi_server/models/extra_models.py
  samples/server/petstore/python-fastapi/src/openapi_server/models/order.py
  samples/server/petstore/python-fastapi/src/openapi_server/models/pet.py
  samples/server/petstore/python-fastapi/src/openapi_server/models/tag.py
  samples/server/petstore/python-fastapi/src/openapi_server/models/user.py
  samples/server/petstore/python-fastapi/src/openapi_server/security_api.py
  samples/server/petstore/python-fastapi/tests/conftest.py
  samples/server/petstore/python-fastapi/tests/test_pet_api.py
  samples/server/petstore/python-fastapi/tests/test_store_api.py
  samples/server/petstore/python-fastapi/tests/test_user_api.py
Labels: Enhancement: New generator, Server: Python

#9590 Update query parameter sample to include pipe delimiter
  modules/openapi-generator/src/test/resources/3_0/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/javascript-es6/src/api/FakeApi.js
  samples/client/petstore/javascript-promise-es6/src/api/FakeApi.js
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/client/petstore/ruby-faraday/lib/petstore/api/fake_api.rb
  samples/client/petstore/ruby/lib/petstore/api/fake_api.rb
  samples/client/petstore/typescript-fetch/builds/default-v3.0/apis/FakeApi.ts
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/fake_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/fake_api.dart
  samples/openapi3/client/petstore/python-legacy/petstore_api/api/fake_api.py
Labels: Enhancement: CI/Test

#9609 [ci] Build kotlin samples via github
  .github/workflows/samples-kotlin.yaml
Labels: Client: Kotlin, Enhancement: CI/Test

#9608 [Swift5] Add useClasses cli option
  docs/generators/swift5.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift5ClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/Swift5OptionsProvider.java
Labels: Client: Swift, Enhancement: Feature

#9622 [ python-fastapi] minor improvements
  README.md
  docs/generators.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonFastAPIServerCodegen.java
  modules/openapi-generator/src/main/resources/python-fastapi/security_api.mustache
  samples/server/petstore/python-fastapi/openapi.yaml
Labels: Enhancement: New generator, Server: Python
