Repository OpenAPITools/openapi-generator, pull requests merged in 2021-02, with the labels that each got.

#8584 Fix auto-generated R doc
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
  samples/client/petstore/R/docs/PetApi.md
  samples/client/petstore/R/docs/StoreApi.md
Labels: Client: R, Enhancement: Feature, Feature: Documentation

#8582 Added 'hash' to objcReservedWords
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift5ClientCodegen.java
Labels: Client: Swift, Enhancement: General

#8574 Fix handling of 1xx and 3xx in Rust Reqwest
  modules/openapi-generator/src/main/resources/rust/reqwest/api.mustache
  modules/openapi-generator/src/main/resources/rust/reqwest/api_mod.mustache
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/mod.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/pet_api.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/store_api.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/user_api.rs
  samples/client/petstore/rust/reqwest/petstore/src/apis/mod.rs
  samples/client/petstore/rust/reqwest/petstore/src/apis/pet_api.rs
  samples/client/petstore/rust/reqwest/petstore/src/apis/store_api.rs
  samples/client/petstore/rust/reqwest/petstore/src/apis/user_api.rs
Labels: Client: Rust, Issue: Bug

#8588 [dart][dart-dio] Add missing isRedirect parameter to response
  modules/openapi-generator/src/main/resources/dart-dio/api.mustache
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api/pet_api.dart
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api/store_api.dart
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api/user_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/user_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/another_fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/default_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/fake_classname_tags123_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/user_api.dart
Labels: Client: Dart, Enhancement: General

#8375 [feature][dart] Add support for uniqueItems/sets
  docs/generators/dart-dio.md
  docs/generators/dart-jaguar.md
  docs/generators/dart.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioClientCodegen.java
  modules/openapi-generator/src/main/resources/dart-dio/api.mustache
  modules/openapi-generator/src/main/resources/dart-dio/serializers.mustache
  modules/openapi-generator/src/main/resources/dart2/api.mustache
  modules/openapi-generator/src/main/resources/dart2/api_client.mustache
  modules/openapi-generator/src/main/resources/dart2/apilib.mustache
  modules/openapi-generator/src/main/resources/dart2/class.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/dart/DartModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/dartdio/DartDioModelTest.java
  modules/openapi-generator/src/test/resources/3_0/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Model/Pet.cs
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api/pet_api.dart
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api/store_api.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api/pet_api.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api_client.dart
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/PetApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Pet.php
  samples/client/petstore/ruby-faraday/lib/petstore/models/pet.rb
  samples/client/petstore/ruby/lib/petstore/models/pet.rb
  samples/client/petstore/typescript-fetch/builds/default-v3.0/apis/PetApi.ts
  samples/client/petstore/typescript-fetch/builds/default-v3.0/models/Pet.ts
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/doc/Pet.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/doc/PetApi.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/model/pet.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/serializers.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/test/pet_api_test.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/test/pet_test.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/api_client.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/doc/Pet.md
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/doc/PetApi.md
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api_client.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/pet.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/test/pet_api_test.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/test/pet_test.dart
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/PetApiService.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/model/Pet.java
  samples/server/petstore/jaxrs-jersey/src/main/java/org/openapitools/api/impl/PetApiServiceImpl.java
Labels: Client: Dart, Enhancement: Feature

#8589 [dart][dart-dio] Improve API & API-Client field initialization
  modules/openapi-generator/src/main/resources/dart-dio/api.mustache
  modules/openapi-generator/src/main/resources/dart-dio/apilib.mustache
  modules/openapi-generator/src/main/resources/dart-dio/local_date_serializer.mustache
  modules/openapi-generator/src/main/resources/dart-dio/serializers.mustache
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api.dart
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api/pet_api.dart
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api/store_api.dart
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api/user_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/user_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/another_fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/default_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/fake_classname_tags123_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/user_api.dart
Labels: Client: Dart, Enhancement: General

#8570 [Go][Client] Secret key content string in http signing support
  modules/openapi-generator/src/main/resources/go/signing.mustache
  samples/openapi3/client/petstore/go/go-petstore/signing.go
Labels: Client: Go, Issue: Bug

#8608 Remove import in code samples as already stated in the installation instruction
  modules/openapi-generator/src/main/resources/powershell/api_doc.mustache
  samples/client/petstore/powershell/docs/PSPetApi.md
  samples/client/petstore/powershell/docs/PSStoreApi.md
  samples/client/petstore/powershell/docs/PSUserApi.md
Labels: Client: PowerShell, Enhancement: Feature, Feature: Documentation

#8593 [C#][netcore] fix binary response
  bin/utils/test_file_list.yaml
  modules/openapi-generator/src/main/resources/csharp-netcore/ApiClient.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools.Test/Api/PetApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/ApiClient.cs
Labels: Client: C-Sharp, Issue: Bug

#8609 Mark java-vertx as deprecated
  bin/configs/java-vertx-web-server.yaml
  docs/generators.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaVertXServerCodegen.java
  pom.xml
  samples/server/petstore/java-vertx/async/.openapi-generator-ignore
  samples/server/petstore/java-vertx/async/.openapi-generator/FILES
  samples/server/petstore/java-vertx/async/.openapi-generator/VERSION
  samples/server/petstore/java-vertx/async/README.md
  samples/server/petstore/java-vertx/async/pom.xml
  samples/server/petstore/java-vertx/async/src/main/java/org/openapitools/server/api/MainApiException.java
  samples/server/petstore/java-vertx/async/src/main/java/org/openapitools/server/api/MainApiVerticle.java
  samples/server/petstore/java-vertx/async/src/main/java/org/openapitools/server/api/model/Category.java
  samples/server/petstore/java-vertx/async/src/main/java/org/openapitools/server/api/model/ModelApiResponse.java
  samples/server/petstore/java-vertx/async/src/main/java/org/openapitools/server/api/model/Order.java
  samples/server/petstore/java-vertx/async/src/main/java/org/openapitools/server/api/model/Pet.java
  samples/server/petstore/java-vertx/async/src/main/java/org/openapitools/server/api/model/Tag.java
  samples/server/petstore/java-vertx/async/src/main/java/org/openapitools/server/api/model/User.java
  samples/server/petstore/java-vertx/async/src/main/java/org/openapitools/server/api/verticle/PetApi.java
  samples/server/petstore/java-vertx/async/src/main/java/org/openapitools/server/api/verticle/PetApiException.java
  samples/server/petstore/java-vertx/async/src/main/java/org/openapitools/server/api/verticle/PetApiVerticle.java
  samples/server/petstore/java-vertx/async/src/main/java/org/openapitools/server/api/verticle/StoreApi.java
  samples/server/petstore/java-vertx/async/src/main/java/org/openapitools/server/api/verticle/StoreApiException.java
  samples/server/petstore/java-vertx/async/src/main/java/org/openapitools/server/api/verticle/StoreApiVerticle.java
  samples/server/petstore/java-vertx/async/src/main/java/org/openapitools/server/api/verticle/UserApi.java
  samples/server/petstore/java-vertx/async/src/main/java/org/openapitools/server/api/verticle/UserApiException.java
  samples/server/petstore/java-vertx/async/src/main/java/org/openapitools/server/api/verticle/UserApiVerticle.java
  samples/server/petstore/java-vertx/async/src/main/resources/openapi.json
  samples/server/petstore/java-vertx/async/src/main/resources/vertx-default-jul-logging.properties
  samples/server/petstore/java-vertx/rx/.openapi-generator-ignore
  samples/server/petstore/java-vertx/rx/.openapi-generator/FILES
  samples/server/petstore/java-vertx/rx/.openapi-generator/VERSION
  samples/server/petstore/java-vertx/rx/README.md
  samples/server/petstore/java-vertx/rx/pom.xml
  samples/server/petstore/java-vertx/rx/src/main/java/org/openapitools/server/api/MainApiException.java
  samples/server/petstore/java-vertx/rx/src/main/java/org/openapitools/server/api/MainApiVerticle.java
  samples/server/petstore/java-vertx/rx/src/main/java/org/openapitools/server/api/model/Category.java
  samples/server/petstore/java-vertx/rx/src/main/java/org/openapitools/server/api/model/ModelApiResponse.java
  samples/server/petstore/java-vertx/rx/src/main/java/org/openapitools/server/api/model/Order.java
  samples/server/petstore/java-vertx/rx/src/main/java/org/openapitools/server/api/model/Pet.java
  samples/server/petstore/java-vertx/rx/src/main/java/org/openapitools/server/api/model/Tag.java
  samples/server/petstore/java-vertx/rx/src/main/java/org/openapitools/server/api/model/User.java
  samples/server/petstore/java-vertx/rx/src/main/java/org/openapitools/server/api/verticle/PetApi.java
  samples/server/petstore/java-vertx/rx/src/main/java/org/openapitools/server/api/verticle/PetApiException.java
  samples/server/petstore/java-vertx/rx/src/main/java/org/openapitools/server/api/verticle/PetApiVerticle.java
  samples/server/petstore/java-vertx/rx/src/main/java/org/openapitools/server/api/verticle/StoreApi.java
  samples/server/petstore/java-vertx/rx/src/main/java/org/openapitools/server/api/verticle/StoreApiException.java
  samples/server/petstore/java-vertx/rx/src/main/java/org/openapitools/server/api/verticle/StoreApiVerticle.java
  samples/server/petstore/java-vertx/rx/src/main/java/org/openapitools/server/api/verticle/UserApi.java
  samples/server/petstore/java-vertx/rx/src/main/java/org/openapitools/server/api/verticle/UserApiException.java
  samples/server/petstore/java-vertx/rx/src/main/java/org/openapitools/server/api/verticle/UserApiVerticle.java
  samples/server/petstore/java-vertx/rx/src/main/resources/openapi.json
  samples/server/petstore/java-vertx/rx/src/main/resources/vertx-default-jul-logging.properties
Labels: Decommission, Server: Java

#8622 Minor fixes to typescript-nestjs client generator
  bin/configs/typescript-nestjs-v6-provided-in-root.yaml
  modules/openapi-generator/src/main/resources/typescript-nestjs/api.service.mustache
  samples/client/petstore/typescript-nestjs-v6-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-nestjs-v6-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-nestjs-v6-provided-in-root/builds/default/api/user.service.ts
Labels: Client: TypeScript, Issue: Bug

#7469 [BUG][Python] init access token for python client configuration
  modules/openapi-generator/src/main/resources/python/configuration.mustache
  samples/client/petstore/python-asyncio/petstore_api/configuration.py
  samples/client/petstore/python-tornado/petstore_api/configuration.py
  samples/client/petstore/python/petstore_api/configuration.py
  samples/openapi3/client/petstore/python/petstore_api/configuration.py
Labels: Client: Python

#8635 [BUG][JAVA] fix AbstractOpenApiSchema package
  modules/openapi-generator/src/main/resources/Java/libraries/native/AbstractOpenApiSchema.mustache
Labels: Client: Java, Issue: Bug

#8641 [BUG] [Ada] Server skeleton does not compile when an operation has no parameter
  modules/openapi-generator/src/main/resources/Ada/client-body.mustache
  modules/openapi-generator/src/main/resources/Ada/client-spec.mustache
  modules/openapi-generator/src/main/resources/Ada/config.gpr
  modules/openapi-generator/src/main/resources/Ada/licenseInfo.mustache
  modules/openapi-generator/src/main/resources/Ada/model-body.mustache
  modules/openapi-generator/src/main/resources/Ada/model-spec.mustache
  modules/openapi-generator/src/main/resources/Ada/server-skeleton-body.mustache
  modules/openapi-generator/src/main/resources/Ada/server-skeleton-spec.mustache
  modules/openapi-generator/src/main/resources/Ada/server-spec.mustache
Labels: Issue: Bug, Server: Ada

#8544 refactor: erefactor/AutoRefactor - Annotation
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/api/TemplatingGenerator.java
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/configuration/HomeController.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/FsharpFunctionsServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/FsharpGiraffeServerCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/jaxrs/JavaJAXRSCXFExtServerCodegenTest.java
Labels: Enhancement: Code Cleanup, Feature: Generator

#8633 [JS] the replace statement in parseDate is too greedy (#8632)
  modules/openapi-generator/src/main/resources/Javascript/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Javascript/es6/ApiClient.mustache
  samples/client/petstore/javascript-es6/src/ApiClient.js
  samples/client/petstore/javascript-promise-es6/src/ApiClient.js
Labels: Client: JavaScript/Node.js, Issue: Bug

#8590 Replace deprecated import for kotlin Parcelize annotation
  modules/openapi-generator/src/main/resources/kotlin-client/build.gradle.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/data_class.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/data_class.mustache
  modules/openapi-generator/src/main/resources/kotlin-vertx-server/data_class.mustache
Labels: Client: Kotlin, Enhancement: Compatibility, Server: Kotlin

#8644 Fix syntax errors and method calls in code generated by Crystal client generator
  modules/openapi-generator/src/main/resources/crystal/api.mustache
  modules/openapi-generator/src/main/resources/crystal/api_client.mustache
  modules/openapi-generator/src/main/resources/crystal/api_client_faraday_partial.mustache
  modules/openapi-generator/src/main/resources/crystal/api_client_typhoeus_partial.mustache
  modules/openapi-generator/src/main/resources/crystal/base_object.mustache
  modules/openapi-generator/src/main/resources/crystal/configuration.mustache
  modules/openapi-generator/src/main/resources/crystal/partial_model_generic.mustache
  modules/openapi-generator/src/main/resources/crystal/partial_oneof_module.mustache
  samples/client/petstore/crystal/src/petstore/api_client.cr
  samples/client/petstore/crystal/src/petstore/configuration.cr
  samples/client/petstore/crystal/src/petstore/models/api_response.cr
  samples/client/petstore/crystal/src/petstore/models/category.cr
  samples/client/petstore/crystal/src/petstore/models/order.cr
  samples/client/petstore/crystal/src/petstore/models/pet.cr
  samples/client/petstore/crystal/src/petstore/models/tag.cr
  samples/client/petstore/crystal/src/petstore/models/user.cr
Labels: Client: Crystal, Issue: Bug

#8643 Add sponsorship message in swift5 generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift5ClientCodegen.java
Labels: Client: Swift, Enhancement: General

#8614 [Java][native] Do not use context timezone.
  modules/openapi-generator/src/main/resources/Java/libraries/native/ApiClient.mustache
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/native/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: General

#8587 [Qt5][C++] Adding Parameter Styling Support for Qt5
  docs/generators/cpp-qt5-client.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppQt5ClientCodegen.java
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-body.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-header.mustache
  samples/client/petstore/cpp-qt5/client/PFXPetApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXPetApi.h
  samples/client/petstore/cpp-qt5/client/PFXStoreApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXStoreApi.h
  samples/client/petstore/cpp-qt5/client/PFXUserApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXUserApi.h
Labels: Client: QT

#8616 Fixed serialization of date-time query parameters.
  modules/openapi-generator/src/main/resources/Java/libraries/native/ApiClient.mustache
  modules/openapi-generator/src/main/resources/typescript-fetch/runtime.mustache
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/typescript-fetch/builds/default-v3.0/runtime.ts
  samples/client/petstore/typescript-fetch/builds/default/runtime.ts
  samples/client/petstore/typescript-fetch/builds/enum/runtime.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/runtime.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/typescript-three-plus/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/runtime.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/runtime.ts
  samples/client/petstore/typescript-fetch/builds/without-runtime-checks/src/runtime.ts
  samples/openapi3/client/petstore/java/native/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#8654 Minor fix for typescript-nestjs
  modules/openapi-generator/src/main/resources/typescript-nestjs/api.module.mustache
  samples/client/petstore/typescript-nestjs-v6-provided-in-root/builds/default/api.module.ts
Labels: Client: TypeScript

#8649 Add sponsorship message in C generator
  bin/configs/c.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CLibcurlClientCodegen.java
  samples/client/petstore/c/.openapi-generator/VERSION
Labels: Client: C

#8617 [Kotlin][Client] create request config method
  modules/openapi-generator/src/main/resources/kotlin-client/infrastructure/RequestConfig.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-okhttp/api.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-okhttp/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/infrastructure/RequestConfig.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/infrastructure/RequestConfig.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/infrastructure/RequestConfig.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/infrastructure/RequestConfig.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/infrastructure/RequestConfig.kt
  samples/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/infrastructure/RequestConfig.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/infrastructure/RequestConfig.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/infrastructure/RequestConfig.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/infrastructure/RequestConfig.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/RequestConfig.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/RequestConfig.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/RequestConfig.kt
Labels: Client: Kotlin, Enhancement: General

#8675 [ruby] Fix syntax error
  modules/openapi-generator/src/main/resources/ruby-client/partial_model_generic.mustache
  modules/openapi-generator/src/test/resources/3_0/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Model/ArrayTest.cs
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/ArrayTest.php
  samples/client/petstore/ruby-faraday/lib/petstore/models/array_test.rb
  samples/client/petstore/ruby/lib/petstore/models/array_test.rb
  samples/openapi3/client/petstore/python-legacy/petstore_api/models/array_test.py
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/model/ArrayTest.java
Labels: Client: Ruby, Issue: Bug

#8575 Fixed typescript bug in models.mustache with for...in on an empty array.
  modules/openapi-generator/src/main/resources/typescript-node/models.mustache
  samples/client/petstore/typescript-node/default/model/models.ts
  samples/client/petstore/typescript-node/npm/model/models.ts
Labels: Client: TypeScript, Issue: Bug

#8603 [rust client] upgrade reqwest crate to 0.11
  modules/openapi-generator/src/main/resources/rust/Cargo.mustache
  samples/client/petstore/rust/reqwest/petstore-async/Cargo.toml
Labels: Client: Rust, Enhancement: Compatibility

#8695 [typescript-fetch] handle uniqueItems correctly in model and api
  modules/openapi-generator/src/main/resources/typescript-fetch/apis.mustache
  modules/openapi-generator/src/main/resources/typescript-fetch/modelGeneric.mustache
  samples/client/petstore/typescript-fetch/builds/default-v3.0/apis/PetApi.ts
Labels: Client: TypeScript, Enhancement: General

#8393 Fix generated go client cannot upload file
  modules/openapi-generator/src/main/resources/go/client.mustache
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/client.go
  samples/openapi3/client/petstore/go/go-petstore/client.go
Labels: Client: Go, Issue: Bug

#8384 [aspnetcore] Improve model inheritance support by including JsonSubTypes to properly handle serialization
  modules/openapi-generator/src/main/resources/aspnetcore/3.0/Project.csproj.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/3.0/model.mustache
Labels: Feature: OAS 3.0 spec support, Issue: Bug, Server: C-Sharp

#8681 [REQ] [GO] Added enumClassPrefix option to go-gin-server. Used same appro…
  docs/generators/go-gin-server.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoGinServerCodegen.java
  modules/openapi-generator/src/main/resources/go-gin-server/model.mustache
Labels: Enhancement: Feature, Server: Go

#8685 [dart][dart-dio] Improve prefixing of inner enums with classname
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartClientCodegen.java
  modules/openapi-generator/src/main/resources/dart-dio/class.mustache
  modules/openapi-generator/src/main/resources/dart-dio/enum_inline.mustache
  modules/openapi-generator/src/main/resources/dart2/class.mustache
  modules/openapi-generator/src/main/resources/dart2/enum_inline.mustache
  samples/client/petstore/dart-dio/petstore_client_lib/test/api_response_test.dart
  samples/client/petstore/dart-dio/petstore_client_lib/test/category_test.dart
  samples/client/petstore/dart-dio/petstore_client_lib/test/order_test.dart
  samples/client/petstore/dart-dio/petstore_client_lib/test/pet_test.dart
  samples/client/petstore/dart-dio/petstore_client_lib/test/tag_test.dart
  samples/client/petstore/dart-dio/petstore_client_lib/test/user_test.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/model/map_test.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/map_test.dart
Labels: Client: Dart, Enhancement: Feature, Feature: Enum

#8557 [Java][native] extend native ApiClient
  modules/openapi-generator/src/main/resources/Java/libraries/native/ApiClient.mustache
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/native/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: General

#8717 Add ASP.NET Core 5.0 support
  appveyor.yml
  bin/configs/aspnetcore-5.0.yaml
  docs/generators/aspnetcore.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetCoreServerCodegen.java
  modules/openapi-generator/src/main/resources/aspnetcore/3.0/Project.csproj.mustache
  samples/server/petstore/aspnetcore-5.0/.openapi-generator-ignore
  samples/server/petstore/aspnetcore-5.0/.openapi-generator/FILES
  samples/server/petstore/aspnetcore-5.0/.openapi-generator/VERSION
  samples/server/petstore/aspnetcore-5.0/Org.OpenAPITools.sln
  samples/server/petstore/aspnetcore-5.0/README.md
  samples/server/petstore/aspnetcore-5.0/build.bat
  samples/server/petstore/aspnetcore-5.0/build.sh
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/.gitignore
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Attributes/ValidateModelStateAttribute.cs
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Authentication/ApiAuthentication.cs
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Controllers/PetApi.cs
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Controllers/StoreApi.cs
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Controllers/UserApi.cs
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Converters/CustomEnumConverter.cs
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Dockerfile
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Filters/BasePathFilter.cs
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Filters/GeneratePathParamsValidationFilter.cs
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Models/ApiResponse.cs
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Models/Category.cs
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Models/Order.cs
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Models/Pet.cs
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Models/Tag.cs
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Models/User.cs
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/OpenApi/TypeExtensions.cs
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Program.cs
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Properties/launchSettings.json
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Startup.cs
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/appsettings.json
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/wwwroot/README.md
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/wwwroot/index.html
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/wwwroot/openapi-original.json
Labels: Enhancement: Compatibility, Server: C-Sharp

#8728 [dart][dart-dio] Allow API key authentication with multiple API keys
  modules/openapi-generator/src/main/resources/dart-dio/auth/api_key_auth.mustache
  samples/client/petstore/dart-dio/petstore_client_lib/lib/auth/api_key_auth.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/auth/api_key_auth.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/auth/api_key_auth.dart
Labels: Client: Dart, Issue: Bug

#8711 [cpp-qt5-client] Fix qt5.15 check
  modules/openapi-generator/src/main/resources/cpp-qt5-client/HttpFileElement.cpp.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/HttpRequest.cpp.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/HttpRequest.h.mustache
  samples/client/petstore/cpp-qt5/client/PFXHttpFileElement.cpp
  samples/client/petstore/cpp-qt5/client/PFXHttpRequest.cpp
  samples/client/petstore/cpp-qt5/client/PFXHttpRequest.h
Labels: Client: C++, Issue: Bug

#8739 [PowreShell] replace tabs with 4-space
  modules/openapi-generator/src/main/resources/powershell/Build.ps1.mustache
  samples/client/petstore/powershell/Build.ps1
Labels: Client: PowerShell, Enhancement: Code format

#8741 Remove flash templates
  modules/openapi-generator/src/main/resources/flash/.gitignore
  modules/openapi-generator/src/main/resources/flash/ASAXB-0.1.1.swc
  modules/openapi-generator/src/main/resources/flash/AirExecutorApp-app.xml
  modules/openapi-generator/src/main/resources/flash/ApiClientEvent.as
  modules/openapi-generator/src/main/resources/flash/ApiError.as
  modules/openapi-generator/src/main/resources/flash/ApiErrorCodes.as
  modules/openapi-generator/src/main/resources/flash/ApiInvoker.as
  modules/openapi-generator/src/main/resources/flash/ApiUrlHelper.as
  modules/openapi-generator/src/main/resources/flash/ApiUserCredentials.as
  modules/openapi-generator/src/main/resources/flash/ListWrapper.as
  modules/openapi-generator/src/main/resources/flash/OpenApi.as
  modules/openapi-generator/src/main/resources/flash/README.txt
  modules/openapi-generator/src/main/resources/flash/Response.as
  modules/openapi-generator/src/main/resources/flash/XMLWriter.as
  modules/openapi-generator/src/main/resources/flash/api.mustache
  modules/openapi-generator/src/main/resources/flash/as3corelib.swc
  modules/openapi-generator/src/main/resources/flash/build.properties
  modules/openapi-generator/src/main/resources/flash/build.xml
  modules/openapi-generator/src/main/resources/flash/facetValue.as
  modules/openapi-generator/src/main/resources/flash/flexunit-4.1.0_RC2-28-flex_3.5.0.12683.swc
  modules/openapi-generator/src/main/resources/flash/flexunit-aircilistener-4.1.0_RC2-28-3.5.0.12683.swc
  modules/openapi-generator/src/main/resources/flash/flexunit-cilistener-4.1.0_RC2-28-3.5.0.12683.swc
  modules/openapi-generator/src/main/resources/flash/flexunit-core-flex-4.0.0.2-sdk3.5.0.12683.swc
  modules/openapi-generator/src/main/resources/flash/git_push.sh.mustache
  modules/openapi-generator/src/main/resources/flash/gitignore.mustache
  modules/openapi-generator/src/main/resources/flash/model.mustache
  modules/openapi-generator/src/main/resources/flash/modelList.mustache
Labels: Client: Flash/ActionScript, Enhancement: Code Cleanup

#8740 [Dart] replace tabs with 4-space in the templates
  modules/openapi-generator/src/main/resources/dart-dio/api_util.mustache
  modules/openapi-generator/src/main/resources/dart/auth/authentication.mustache
  modules/openapi-generator/src/main/resources/dart2/class.mustache
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api_util.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api_util.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api_util.dart
Labels: Client: Dart, Enhancement: Code format

#8757 [aspnetcore] replace tabs with 4-space
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/Startup.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/controller.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/3.0/Startup.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/3.0/controller.mustache
  samples/server/petstore/aspnetcore-3.0/src/Org.OpenAPITools/Startup.cs
  samples/server/petstore/aspnetcore-3.1/src/Org.OpenAPITools/Startup.cs
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Startup.cs
Labels: Enhancement: Code format, Server: C-Sharp

#8730 [Ruby] force users to specify the temp folder path to address security concerns
  modules/openapi-generator/src/main/resources/ruby-client/api_client.mustache
  modules/openapi-generator/src/main/resources/ruby-client/api_client_typhoeus_partial.mustache
  samples/client/petstore/ruby-faraday/lib/petstore/api_client.rb
  samples/client/petstore/ruby/lib/petstore/api_client.rb
  samples/openapi3/client/extensions/x-auth-id-alias/ruby-client/lib/x_auth_id_alias/api_client.rb
  samples/openapi3/client/features/dynamic-servers/ruby/lib/dynamic_servers/api_client.rb
  samples/openapi3/client/features/generate-alias-as-model/ruby-client/lib/petstore/api_client.rb
Labels: Breaking change (with fallback), Client: Ruby, Enhancement: Security

#8735 Better invalid spec error message
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
Labels: Enhancement: General, Feature: Generator

#8715 [Go] bug fix (breaking), minor code format enhancement
  modules/openapi-generator/src/main/resources/go/api.mustache
  modules/openapi-generator/src/main/resources/go/client.mustache
  modules/openapi-generator/src/main/resources/go/model_simple.mustache
  modules/openapi-generator/src/main/resources/go/utils.mustache
  samples/client/petstore/go/go-petstore/client.go
  samples/client/petstore/go/go-petstore/model_animal.go
  samples/client/petstore/go/go-petstore/model_big_cat.go
  samples/client/petstore/go/go-petstore/model_cat.go
  samples/client/petstore/go/go-petstore/model_category.go
  samples/client/petstore/go/go-petstore/model_dog.go
  samples/client/petstore/go/go-petstore/model_enum_test_.go
  samples/client/petstore/go/go-petstore/model_format_test_.go
  samples/client/petstore/go/go-petstore/model_name.go
  samples/client/petstore/go/go-petstore/model_pet.go
  samples/client/petstore/go/go-petstore/model_type_holder_default.go
  samples/client/petstore/go/go-petstore/model_type_holder_example.go
  samples/client/petstore/go/go-petstore/utils.go
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/client.go
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/utils.go
  samples/openapi3/client/petstore/go/go-petstore/client.go
  samples/openapi3/client/petstore/go/go-petstore/model_animal.go
  samples/openapi3/client/petstore/go/go-petstore/model_apple_req.go
  samples/openapi3/client/petstore/go/go-petstore/model_banana_req.go
  samples/openapi3/client/petstore/go/go-petstore/model_cat.go
  samples/openapi3/client/petstore/go/go-petstore/model_category.go
  samples/openapi3/client/petstore/go/go-petstore/model_dog.go
  samples/openapi3/client/petstore/go/go-petstore/model_enum_test_.go
  samples/openapi3/client/petstore/go/go-petstore/model_format_test_.go
  samples/openapi3/client/petstore/go/go-petstore/model_name.go
  samples/openapi3/client/petstore/go/go-petstore/model_pet.go
  samples/openapi3/client/petstore/go/go-petstore/model_whale.go
  samples/openapi3/client/petstore/go/go-petstore/model_zebra.go
  samples/openapi3/client/petstore/go/go-petstore/utils.go
Labels: Client: Go, Enhancement: Code format, Issue: Bug

#8731 Add an option to skip operation examples
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/config/WorkflowSettings.java
  modules/openapi-generator-gradle-plugin/README.adoc
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/OpenApiGeneratorPlugin.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/extensions/OpenApiGeneratorGenerateExtension.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
  modules/openapi-generator-maven-plugin/README.md
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConfig.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfigurator.java
Labels: Enhancement: Feature, Feature: Generator

#8761 [TypeScript][nestJS] Fix missing "=" and unused/undefined import
  modules/openapi-generator/src/main/resources/typescript-nestjs/api.module.mustache
  modules/openapi-generator/src/main/resources/typescript-nestjs/api.service.mustache
  samples/client/petstore/typescript-nestjs-v6-provided-in-root/builds/default/api.module.ts
  samples/client/petstore/typescript-nestjs-v6-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-nestjs-v6-provided-in-root/builds/default/api/user.service.ts
Labels: Client: TypeScript, Enhancement: Code Cleanup, Issue: Bug

#8778 Update jackson dependencies to address security issues
  modules/openapi-generator/src/main/resources/Groovy/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/pom.mustache
  modules/openapi-generator/src/main/resources/java-undertow-server/pom.mustache
  samples/client/petstore/groovy/build.gradle
  samples/client/petstore/java/google-api-client/build.gradle
  samples/client/petstore/java/google-api-client/build.sbt
  samples/client/petstore/java/jersey1/build.gradle
  samples/client/petstore/java/jersey2-java8-localdatetime/build.gradle
  samples/client/petstore/java/jersey2-java8-localdatetime/build.sbt
  samples/client/petstore/java/jersey2-java8-localdatetime/pom.xml
  samples/client/petstore/java/jersey2-java8/build.gradle
  samples/client/petstore/java/jersey2-java8/build.sbt
  samples/client/petstore/java/jersey2-java8/pom.xml
  samples/client/petstore/java/resteasy/build.gradle
  samples/client/petstore/java/resteasy/build.sbt
  samples/client/petstore/java/resteasy/pom.xml
  samples/client/petstore/java/resttemplate-withXml/build.gradle
  samples/client/petstore/java/resttemplate-withXml/pom.xml
  samples/client/petstore/java/resttemplate/build.gradle
  samples/client/petstore/java/resttemplate/pom.xml
  samples/client/petstore/java/retrofit2-play26/build.gradle
  samples/client/petstore/java/retrofit2-play26/build.sbt
  samples/client/petstore/java/retrofit2-play26/pom.xml
  samples/client/petstore/java/vertx-no-nullable/build.gradle
  samples/client/petstore/java/vertx-no-nullable/pom.xml
  samples/client/petstore/java/vertx/build.gradle
  samples/client/petstore/java/vertx/pom.xml
  samples/openapi3/client/extensions/x-auth-id-alias/java/jersey2-java8/build.gradle
  samples/openapi3/client/extensions/x-auth-id-alias/java/jersey2-java8/build.sbt
  samples/openapi3/client/extensions/x-auth-id-alias/java/jersey2-java8/pom.xml
  samples/openapi3/client/petstore/java/jersey2-java8-special-characters/build.gradle
  samples/openapi3/client/petstore/java/jersey2-java8-special-characters/build.sbt
  samples/openapi3/client/petstore/java/jersey2-java8-special-characters/pom.xml
  samples/openapi3/client/petstore/java/jersey2-java8/build.gradle
  samples/openapi3/client/petstore/java/jersey2-java8/build.sbt
  samples/openapi3/client/petstore/java/jersey2-java8/pom.xml
  samples/server/petstore/java-undertow/pom.xml
Labels: Client: Java, Enhancement: Security

#8783 [Java][client] Update jackson to 2.12.1
  modules/openapi-generator/src/main/resources/Java/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/pom.mustache
  modules/openapi-generator/src/main/resources/Java/pom.mustache
  samples/client/petstore/java/google-api-client/build.gradle
  samples/client/petstore/java/google-api-client/build.sbt
  samples/client/petstore/java/google-api-client/pom.xml
  samples/client/petstore/java/jersey1/build.gradle
  samples/client/petstore/java/jersey1/pom.xml
  samples/client/petstore/java/retrofit2-play26/pom.xml
Labels: Client: Java, Issue: Security

#8718 [PHP] Use a valid php type for maps
  docs/generators/php-laravel.md
  docs/generators/php-lumen.md
  docs/generators/php-mezzio-ph.md
  docs/generators/php-slim-deprecated.md
  docs/generators/php-slim4.md
  docs/generators/php-symfony.md
  docs/generators/php.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPhpCodegen.java
  modules/openapi-generator/src/main/resources/php-laravel/model.mustache
  modules/openapi-generator/src/main/resources/php-mezzio-ph/api.mustache
  modules/openapi-generator/src/main/resources/php/ObjectSerializer.mustache
  modules/openapi-generator/src/main/resources/php/api.mustache
  modules/openapi-generator/src/main/resources/php/api_doc.mustache
  modules/openapi-generator/src/main/resources/php/model_doc.mustache
  modules/openapi-generator/src/main/resources/php/model_generic.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/php/PhpModelTest.java
  samples/client/petstore/php/OpenAPIClient-php/docs/Api/FakeApi.md
  samples/client/petstore/php/OpenAPIClient-php/docs/Api/StoreApi.md
  samples/client/petstore/php/OpenAPIClient-php/docs/Model/AdditionalPropertiesClass.md
  samples/client/petstore/php/OpenAPIClient-php/docs/Model/MapTest.md
  samples/client/petstore/php/OpenAPIClient-php/docs/Model/MixedPropertiesAndAdditionalPropertiesClass.md
  samples/client/petstore/php/OpenAPIClient-php/docs/Model/NullableClass.md
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/StoreApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/AdditionalPropertiesClass.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/MapTest.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/MixedPropertiesAndAdditionalPropertiesClass.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/NullableClass.php
  samples/client/petstore/php/OpenAPIClient-php/lib/ObjectSerializer.php
  samples/client/petstore/php/OpenAPIClient-php/tests/OrderApiTest.php
  samples/client/petstore/typescript-axios/tests/default/package-lock.json
  samples/server/petstore/php-laravel/lib/app/Models/AdditionalPropertiesClass.php
  samples/server/petstore/php-laravel/lib/app/Models/MapTest.php
  samples/server/petstore/php-laravel/lib/app/Models/MixedPropertiesAndAdditionalPropertiesClass.php
  samples/server/petstore/php-laravel/lib/app/Models/NullableClass.php
  samples/server/petstore/php-mezzio-ph/src/App/Handler/StoreInventory.php
Labels: Client: PHP, Server: PHP

#8706 [GO] Add additional AWS v4 signature config options to go client generator
  modules/openapi-generator/src/main/resources/go/client.mustache
  modules/openapi-generator/src/main/resources/go/configuration.mustache
Labels: Client: Go, Enhancement: General

#8772 [typescript-axios] Support array query arguments
  modules/openapi-generator/src/main/resources/typescript-axios/common.mustache
  samples/client/petstore/typescript-axios/builds/composed-schemas/common.ts
  samples/client/petstore/typescript-axios/builds/default/common.ts
  samples/client/petstore/typescript-axios/builds/es6-target/common.ts
  samples/client/petstore/typescript-axios/builds/with-complex-headers/common.ts
  samples/client/petstore/typescript-axios/builds/with-interfaces/common.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/common.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version/common.ts
  samples/client/petstore/typescript-axios/builds/with-single-request-parameters/common.ts
Labels: Client: TypeScript

#8774 [Kotlin] replace tab with spaces, minor code format change
  modules/openapi-generator/src/main/resources/kotlin-server/data_class.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/libraries/spring-boot/buildGradleKts.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/libraries/spring-boot/pom.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/libraries/spring-boot/settingsGradle.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/service.mustache
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/models/ApiResponse.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/models/Category.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/models/Order.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/models/Pet.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/models/Tag.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/models/User.kt
  samples/server/petstore/kotlin-springboot-delegate/build.gradle.kts
  samples/server/petstore/kotlin-springboot-delegate/pom.xml
  samples/server/petstore/kotlin-springboot-delegate/settings.gradle
  samples/server/petstore/kotlin-springboot-reactive/build.gradle.kts
  samples/server/petstore/kotlin-springboot-reactive/pom.xml
  samples/server/petstore/kotlin-springboot-reactive/settings.gradle
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/PetApiService.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/StoreApiService.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/UserApiService.kt
  samples/server/petstore/kotlin-springboot/build.gradle.kts
  samples/server/petstore/kotlin-springboot/pom.xml
  samples/server/petstore/kotlin-springboot/settings.gradle
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/PetApiService.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/StoreApiService.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/UserApiService.kt
Labels: Client: Kotlin, Enhancement: Code format, Server: Kotlin

#8791 [Scala][Finch] use Files.createTempFile to avoid potential security issues
  modules/openapi-generator/src/main/resources/scala-finch/api.mustache
  samples/server/petstore/scala-finch/src/main/scala/org/openapitools/apis/PetApi.scala
  samples/server/petstore/scala-finch/src/main/scala/org/openapitools/apis/StoreApi.scala
  samples/server/petstore/scala-finch/src/main/scala/org/openapitools/apis/UserApi.scala
Labels: Issue: Security, Server: Scala

#8793 [TS] Revert changes in nestjs readme
  modules/openapi-generator/src/main/resources/typescript-nestjs/README.mustache
  samples/client/petstore/typescript-nestjs-v6-provided-in-root/builds/default/README.md
Labels: Client: TypeScript, Issue: Undo changes

#8787 [Java] use Files.createTempFile instead
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/play26/ApiClient.mustache
  samples/client/petstore/java/jersey2-java8-localdatetime/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/retrofit2-play26/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/extensions/x-auth-id-alias/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8-special-characters/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Security

#8794 Use Files.createTempFile in asciidoc generator tests if possible
  modules/openapi-generator/src/test/java/org/openapitools/codegen/asciidoc/IncludeMarkupFilterTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/asciidoc/LinkMarkupFilterTest.java
Labels: Doc: AsciiDoc, Enhancement: CI/Test, Issue: Security

#8737 [python][template] move _path_to_item of simple init to avoid name error
  modules/openapi-generator/src/main/resources/python/model_templates/method_init_simple.mustache
  samples/client/petstore/python/petstore_api/model/animal_farm.py
  samples/client/petstore/python/petstore_api/model/enum_class.py
  samples/client/petstore/python/petstore_api/model/number_with_validations.py
  samples/client/petstore/python/petstore_api/model/string_enum.py
  samples/openapi3/client/petstore/python/petstore_api/model/animal_farm.py
  samples/openapi3/client/petstore/python/petstore_api/model/array_of_enums.py
  samples/openapi3/client/petstore/python/petstore_api/model/enum_class.py
  samples/openapi3/client/petstore/python/petstore_api/model/integer_enum.py
  samples/openapi3/client/petstore/python/petstore_api/model/integer_enum_one_value.py
  samples/openapi3/client/petstore/python/petstore_api/model/integer_enum_with_default_value.py
  samples/openapi3/client/petstore/python/petstore_api/model/number_with_validations.py
  samples/openapi3/client/petstore/python/petstore_api/model/string_enum.py
  samples/openapi3/client/petstore/python/petstore_api/model/string_enum_with_default_value.py
Labels: Client: Python

#8762 Fix bugs to ensure unique parameter names
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/go/GoClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/conflictingParameter.yaml
Labels: Feature: Generator, Issue: Bug

#8720 [Java][Vert.x] Make ApiHandler reusable
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/apiHandler.mustache
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/supportFiles/HttpServerVerticle.mustache
  samples/server/petstore/java-vertx-web/src/main/java/org/openapitools/vertxweb/server/HttpServerVerticle.java
  samples/server/petstore/java-vertx-web/src/main/java/org/openapitools/vertxweb/server/api/PetApiHandler.java
  samples/server/petstore/java-vertx-web/src/main/java/org/openapitools/vertxweb/server/api/StoreApiHandler.java
  samples/server/petstore/java-vertx-web/src/main/java/org/openapitools/vertxweb/server/api/UserApiHandler.java
Labels: Enhancement: General, Server: Java

#8738 Add monitoring to detect tabs in the templates
  .travis.yml
  bin/utils/detect_tab_in_templates.sh
Labels: Enhancement: CI/Test

#8693 Rust: Add support for lists (and sets) of enum values
  modules/openapi-generator/src/main/resources/rust/model.mustache
Labels: Client: Rust, Enhancement: Feature, Feature: Enum

#8807 Revert "[Ruby] force users to specify the temp folder path to address security concerns (#8730)"
  modules/openapi-generator/src/main/resources/ruby-client/api_client.mustache
  modules/openapi-generator/src/main/resources/ruby-client/api_client_typhoeus_partial.mustache
  samples/client/petstore/ruby-faraday/lib/petstore/api_client.rb
  samples/client/petstore/ruby/lib/petstore/api_client.rb
  samples/openapi3/client/extensions/x-auth-id-alias/ruby-client/lib/x_auth_id_alias/api_client.rb
  samples/openapi3/client/features/dynamic-servers/ruby/lib/dynamic_servers/api_client.rb
  samples/openapi3/client/features/generate-alias-as-model/ruby-client/lib/petstore/api_client.rb
Labels: Client: Ruby, Issue: Undo changes

#8788 [online] use Files.createTempFile to address security concerns
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/service/Generator.java
Labels: Issue: Security, OpenAPI Generator Online

#8795 [maven plugin] fix security issues
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
Labels: Issue: Security, OpenAPI Generator Maven Plugin

#8766 Qt client handle deprecated
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-header.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/model-header.mustache
  samples/client/petstore/cpp-qt5/client/PFXPetApi.h
  samples/client/petstore/cpp-qt5/client/PFXStoreApi.h
  samples/client/petstore/cpp-qt5/client/PFXUserApi.h
Labels: Client: C++, Client: QT, Enhancement: General

#8812 [dart][dart-dio] Remove manual json encode/decode calls in API classes
  modules/openapi-generator/src/main/resources/dart-dio/api.mustache
  modules/openapi-generator/src/main/resources/dart-dio/pubspec.mustache
  modules/openapi-generator/src/main/resources/dart2/pubspec.mustache
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api/pet_api.dart
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api/store_api.dart
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api/user_api.dart
  samples/client/petstore/dart-dio/petstore_client_lib/pubspec.yaml
  samples/client/petstore/dart2/petstore_client_lib/pubspec.yaml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/user_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/pubspec.yaml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/another_fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/default_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/fake_classname_tags123_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/user_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/pom.xml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/pubspec.yaml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake_tests/README.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake_tests/analysis_options.yaml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake_tests/pubspec.yaml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake_tests/test/api/pet_api_test.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/pubspec.yaml
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/pubspec.yaml
Labels: Client: Dart, Enhancement: CI/Test, Enhancement: General

#8819 Fix base type naming in Go
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  samples/openapi3/client/petstore/go/go-petstore/docs/DefaultApi.md
Labels: Client: Go, Enhancement: Feature, Feature: Documentation

#8764 [GO] use latest available oauth2 version
  modules/openapi-generator/src/main/resources/go/go.mod.mustache
  samples/client/petstore/go/go-petstore/go.mod
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/go.mod
  samples/openapi3/client/petstore/go/go-petstore/go.mod
Labels: Client: Go, Enhancement: Compatibility

#8817 [Refactor] create Python abstract class
  docs/generators/python-aiohttp.md
  docs/generators/python-blueplanet.md
  docs/generators/python-flask.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonConnexionServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonLegacyClientCodegen.java
  samples/server/petstore/python-aiohttp-srclayout/src/openapi_server/openapi/openapi.yaml
  samples/server/petstore/python-aiohttp/openapi_server/openapi/openapi.yaml
  samples/server/petstore/python-flask/openapi_server/openapi/openapi.yaml
Labels: Client: Python, Enhancement: Code Cleanup, Enhancement: Code format, Server: Python

#8811 typescript-nestjs: removed unused basePath from api.service template
  modules/openapi-generator/src/main/resources/typescript-nestjs/api.module.mustache
  modules/openapi-generator/src/main/resources/typescript-nestjs/api.service.mustache
  samples/client/petstore/typescript-nestjs-v6-provided-in-root/builds/default/api.module.ts
  samples/client/petstore/typescript-nestjs-v6-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-nestjs-v6-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-nestjs-v6-provided-in-root/builds/default/api/user.service.ts
Labels: Client: TypeScript, Issue: Bug

#8825 [dart][dart-dio] API class/template refactoring
  modules/openapi-generator/src/main/resources/dart-dio/api.mustache
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api/pet_api.dart
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api/store_api.dart
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api/user_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/user_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/another_fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/default_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/fake_classname_tags123_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/user_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake_tests/test/api/pet_api_test.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake_tests/test/api/store_api_test.dart
Labels: Client: Dart, Enhancement: Code Cleanup

#8834 [dart] Remove old leftover format parameter from path
  modules/openapi-generator/src/main/resources/dart2/api.mustache
  samples/client/petstore/dart2/petstore_client_lib/lib/api/pet_api.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api/store_api.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/api/user_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/api/user_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/another_fake_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/default_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/fake_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/fake_classname_tags123_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/user_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/another_fake_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/default_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/fake_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/fake_classname_tags123_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart2/petstore_json_serializable_client_lib_fake/lib/api/user_api.dart
Labels: Client: Dart, Enhancement: Code Cleanup

#8826 C# Aspnetcore Generator. Fix Parameters missing (Name = ) Property
  modules/openapi-generator/src/main/resources/aspnetcore/2.0/formParam.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/2.0/pathParam.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/2.0/queryParam.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/formParam.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/pathParam.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/queryParam.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/3.0/formParam.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/3.0/pathParam.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/3.0/queryParam.mustache
  samples/server/petstore/aspnetcore-3.0/src/Org.OpenAPITools/Controllers/PetApi.cs
  samples/server/petstore/aspnetcore-3.0/src/Org.OpenAPITools/Controllers/StoreApi.cs
  samples/server/petstore/aspnetcore-3.0/src/Org.OpenAPITools/Controllers/UserApi.cs
  samples/server/petstore/aspnetcore-3.1/src/Org.OpenAPITools/Controllers/PetApi.cs
  samples/server/petstore/aspnetcore-3.1/src/Org.OpenAPITools/Controllers/StoreApi.cs
  samples/server/petstore/aspnetcore-3.1/src/Org.OpenAPITools/Controllers/UserApi.cs
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Controllers/PetApi.cs
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Controllers/StoreApi.cs
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Controllers/UserApi.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/PetApi.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/StoreApi.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/UserApi.cs
Labels: Issue: Bug, Server: C-Sharp

#8800 FIX: [Java Feign Generator]- Error in api.mustache template
  modules/openapi-generator/src/main/resources/Java/libraries/feign/api.mustache
Labels: Client: Java, Issue: Bug

#8790 [Fix GO Server] Add mime/multipart missing import in go server
  modules/openapi-generator/src/main/resources/go-server/routers.mustache
  samples/server/petstore/go-api-server/go/routers.go
Labels: Issue: Bug, Server: Go

#8724 [cpp-qt5-client ] Improve CMake
  modules/openapi-generator/src/main/resources/cpp-qt5-client/CMakeLists.txt.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/Project.mustache
  samples/client/petstore/cpp-qt5/CMakeLists.txt
  samples/client/petstore/cpp-qt5/client/CMakeLists.txt
  samples/client/petstore/cpp-qt5/client/PFXclient.pri
Labels: Client: C++, Client: QT, Enhancement: Compatibility

#8729 [Java][Client] JSON-B serialization support
  docs/generators/java.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/model.mustache
  modules/openapi-generator/src/main/resources/Java/modelEnum.mustache
  modules/openapi-generator/src/main/resources/Java/modelInnerEnum.mustache
  modules/openapi-generator/src/main/resources/Java/pojo.mustache
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/BigCat.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/BigCatAllOf.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/EnumArrays.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/EnumClass.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/EnumTest.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/MapTest.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/Order.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/OuterEnum.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/model/Pet.java
Labels: Client: Java, Enhancement: Feature

#8666 [cleanup] erefactor/EclipseJdt - Remove redundant semicolons
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/api/TemplateProcessor.java
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/config/WorkflowSettings.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/JsonCache.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
Labels: Enhancement: Code Cleanup

#8820 Make nullable fix on all vars in Go
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
  modules/openapi-generator/src/test/resources/3_0/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/openapi3/client/petstore/go/go-petstore/api/openapi.yaml
  samples/openapi3/client/petstore/go/go-petstore/docs/NullableClass.md
  samples/openapi3/client/petstore/go/go-petstore/model_nullable_class.go
Labels: Client: Go, Feature: OAS 3.0 spec support, Issue: Bug

#8852 Better test for go-server
  samples/server/petstore/go-api-server/pom.xml
Labels: Enhancement: CI/Test, Server: Go

#8853 [Erlang][Client] better code, update sample
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ErlangClientCodegen.java
  samples/client/petstore/erlang-client/.openapi-generator/VERSION
Labels: Client: Erlang, Enhancement: Code Cleanup, Enhancement: Code format

#8858 Update C# readme
  README.md
  modules/openapi-generator/src/main/resources/csharp-netcore/README.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/README.md
Labels: Client: C-Sharp, Enhancement: Feature, Feature: Documentation
