Repository OpenAPITools/openapi-generator, pull requests merged in 2021-01, with the labels that each got.

#8272 [csharp-netcore] Fixed ApiClient code generation not respecting modelPackage settings
  modules/openapi-generator/src/main/resources/csharp-netcore/ApiClient.mustache
Labels: Client: C-Sharp, Issue: Bug

#8277 [swift 5] update dependencies
  modules/openapi-generator/src/main/resources/swift5/Cartfile.mustache
  modules/openapi-generator/src/main/resources/swift5/Podspec.mustache
  samples/client/petstore/swift5/promisekitLibrary/Cartfile
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient.podspec
  samples/client/petstore/swift5/promisekitLibrary/SwaggerClientTests/Podfile.lock
  samples/client/petstore/swift5/rxswiftLibrary/Cartfile
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient.podspec
  samples/client/petstore/swift5/rxswiftLibrary/SwaggerClientTests/Podfile.lock
Labels: Client: Swift, Enhancement: Compatibility

#8279 [Swift 5] fix XcodeGen deploy target to match cocoapods
  modules/openapi-generator/src/main/resources/swift5/XcodeGen.mustache
  samples/client/petstore/swift5/alamofireLibrary/project.yml
  samples/client/petstore/swift5/combineLibrary/project.yml
  samples/client/petstore/swift5/default/project.yml
  samples/client/petstore/swift5/deprecated/project.yml
  samples/client/petstore/swift5/nonPublicApi/project.yml
  samples/client/petstore/swift5/objcCompatible/project.yml
  samples/client/petstore/swift5/promisekitLibrary/project.yml
  samples/client/petstore/swift5/readonlyProperties/project.yml
  samples/client/petstore/swift5/resultLibrary/project.yml
  samples/client/petstore/swift5/rxswiftLibrary/project.yml
  samples/client/petstore/swift5/urlsessionLibrary/project.yml
Labels: Client: Swift, Issue: Bug

#8302 [Swift 5] create sample for URLSsession and Alamofire bearer authentication
  samples/client/petstore/swift5/alamofireLibrary/SwaggerClientTests/Podfile.lock
  samples/client/petstore/swift5/alamofireLibrary/SwaggerClientTests/SwaggerClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/alamofireLibrary/SwaggerClientTests/SwaggerClient/AppDelegate.swift
  samples/client/petstore/swift5/alamofireLibrary/SwaggerClientTests/SwaggerClient/BearerDecodableRequestBuilder.swift
  samples/client/petstore/swift5/urlsessionLibrary/SwaggerClientTests/SwaggerClient.xcodeproj/project.pbxproj
  samples/client/petstore/swift5/urlsessionLibrary/SwaggerClientTests/SwaggerClient/AppDelegate.swift
  samples/client/petstore/swift5/urlsessionLibrary/SwaggerClientTests/SwaggerClient/BearerDecodableRequestBuilder.swift
Labels: Client: Swift, Enhancement: General

#8299 [Kotlin-Spring] Fix optional requestBody with delegate
  modules/openapi-generator/src/main/resources/kotlin-spring/apiDelegate.mustache
Labels: Issue: Bug, Server: Kotlin

#8243 [C][Client] Disable escaping the parameter name in URL path string
  modules/openapi-generator/src/main/resources/C-libcurl/api-body.mustache
Labels: Client: C, Issue: Bug

#8213 Fix csharp-netcore enum var name underscore and space handling
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/csharpnetcore/CSharpNetCoreClientCodegenTest.java
Labels: Client: C-Sharp, Issue: Bug

#7982 [Java/Jersey2] Use Map interface for configureApiKeys
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/extensions/x-auth-id-alias/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8-special-characters/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: Compatibility

#7976 7141: filter out problem+json mime type from JSON mime types fast tra…
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/ApiClient.mustache
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#8305 Update maven wrapper
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
Labels: Enhancement: Compatibility, Feature: Generator

#8314 Login dockerhub before docker pull
  .travis.yml
Labels: Enhancement: CI/Test

#8303 [Swift 5] deprecate retry hook since its no longer needed
  modules/openapi-generator/src/main/resources/swift5/APIHelper.mustache
  modules/openapi-generator/src/main/resources/swift5/APIs.mustache
  modules/openapi-generator/src/main/resources/swift5/CodableHelper.mustache
  modules/openapi-generator/src/main/resources/swift5/Configuration.mustache
  modules/openapi-generator/src/main/resources/swift5/Extensions.mustache
  modules/openapi-generator/src/main/resources/swift5/JSONDataEncoding.mustache
  modules/openapi-generator/src/main/resources/swift5/JSONEncodingHelper.mustache
  modules/openapi-generator/src/main/resources/swift5/Models.mustache
  modules/openapi-generator/src/main/resources/swift5/libraries/urlsession/URLSessionImplementations.mustache
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/deprecated/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift5/deprecated/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/readonlyProperties/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift5/readonlyProperties/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/urlsessionLibrary/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift5/urlsessionLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
Labels: Client: Swift, Enhancement: General

#6384 [dart-dio] Serializes request bodies using a specific serializer so a…
  modules/openapi-generator/src/main/resources/dart-dio/api.mustache
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api/pet_api.dart
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api/store_api.dart
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api/user_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/user_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/another_fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/fake_classname_tags123_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/user_api.dart
Labels: Client: Dart, Enhancement: General

#8306 [dart][dart-dio] Fix collection and date default values not compiling
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/dart/DartModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/dartdio/DartDioModelTest.java
Labels: Client: Dart, Issue: Bug

#8327 Ignore docker login error for PR
  .travis.yml
Labels: Enhancement: CI/Test

#8205 [C][Client] Add C++ reserved keywords to C-libcurl client generator, then the C client can be compiled by C++ compiler
  docs/generators/c.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CLibcurlClientCodegen.java
Labels: Client: C, Enhancement: General

#8223 Fix bugs with duplicated data type
  modules/openapi-generator/src/main/resources/elm/operation.mustache
  modules/openapi-generator/src/main/resources/elm/recordFieldValueDecoder.mustache
Labels: Client: Elm, Issue: Bug

#8328 [WIP] csharp-netcore HttpClient
  modules/openapi-generator/src/main/resources/csharp-netcore/ApiException.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/ApiResponse.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/TestProject.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/api.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/netcore_project.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/netcore_testproject.mustache
Labels: Client: C-Sharp, Enhancement: Feature

#8323 [powershell] Fix fields null check in powershell model template
  modules/openapi-generator/src/main/resources/powershell/model_simple.mustache
  samples/client/petstore/powershell/src/PSPetstore/Model/Pet.ps1
Labels: Client: PowerShell, Issue: Bug

#8335 [dart-dio] Fix failing integration tests
  modules/openapi-generator/src/main/resources/dart-dio/api.mustache
  pom.xml
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api/pet_api.dart
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api/store_api.dart
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api/user_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/user_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/another_fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/fake_classname_tags123_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/store_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/user_api.dart
Labels: Client: Dart, Enhancement: CI/Test

#8326 Fixes issue 8052: Stackoverflow in toExampleValue() for python client
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonClientTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_8052_recursive_model.yaml
  modules/openapi-generator/src/test/resources/3_0/issue_8052_recursive_model_expected_value.txt
Labels: Client: Python

#8324 typescript-angular: add providedIn for Angular 9+
  bin/configs/typescript-angular-v9-provided-in-any.yaml
  docs/generators/typescript-angular.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
  modules/openapi-generator/src/main/resources/typescript-angular/api.module.mustache
  modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/TypeScriptAngularClientOptionsProvider.java
  samples/client/petstore/typescript-angular-v9-provided-in-any/builds/default/.gitignore
  samples/client/petstore/typescript-angular-v9-provided-in-any/builds/default/.openapi-generator-ignore
  samples/client/petstore/typescript-angular-v9-provided-in-any/builds/default/.openapi-generator/FILES
  samples/client/petstore/typescript-angular-v9-provided-in-any/builds/default/.openapi-generator/VERSION
  samples/client/petstore/typescript-angular-v9-provided-in-any/builds/default/README.md
  samples/client/petstore/typescript-angular-v9-provided-in-any/builds/default/api.module.ts
  samples/client/petstore/typescript-angular-v9-provided-in-any/builds/default/api/api.ts
  samples/client/petstore/typescript-angular-v9-provided-in-any/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v9-provided-in-any/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v9-provided-in-any/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v9-provided-in-any/builds/default/configuration.ts
  samples/client/petstore/typescript-angular-v9-provided-in-any/builds/default/encoder.ts
  samples/client/petstore/typescript-angular-v9-provided-in-any/builds/default/git_push.sh
  samples/client/petstore/typescript-angular-v9-provided-in-any/builds/default/index.ts
  samples/client/petstore/typescript-angular-v9-provided-in-any/builds/default/model/apiResponse.ts
  samples/client/petstore/typescript-angular-v9-provided-in-any/builds/default/model/category.ts
  samples/client/petstore/typescript-angular-v9-provided-in-any/builds/default/model/models.ts
  samples/client/petstore/typescript-angular-v9-provided-in-any/builds/default/model/order.ts
  samples/client/petstore/typescript-angular-v9-provided-in-any/builds/default/model/pet.ts
  samples/client/petstore/typescript-angular-v9-provided-in-any/builds/default/model/tag.ts
  samples/client/petstore/typescript-angular-v9-provided-in-any/builds/default/model/user.ts
  samples/client/petstore/typescript-angular-v9-provided-in-any/builds/default/variables.ts
Labels: Client: TypeScript

#8350 [ktorm] rename titleCase, minor code format
  README.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KtormSchemaCodegen.java
Labels: Enhancement: Code format, Enhancement: General, Schema: Ktorm

#8361 [haskell-http-client] regard mime type as json if "json" appears anywhere in the mimetype
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellHttpClientCodegen.java
Labels: Client: Haskell

#8337 [Kotlin-Spring] Fix required model property deserialization
  modules/openapi-generator/src/main/resources/kotlin-spring/dataClassOptVar.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/dataClassReqVar.mustache
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/model/Pet.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/Pet.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/Pet.kt
Labels: Issue: Bug, Server: Kotlin

#8230 Tweak regexp in underscore method
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/StringUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/utils/StringUtilsTest.java
Labels: Feature: Generator, Issue: Bug

#8338 [cwiki] Added Enum documentation and fix newline problem for description
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ConfluenceWikiCodegen.java
  modules/openapi-generator/src/main/resources/confluenceWikiDocs/index.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/confluencewiki/ConfluenceWikiTest.java
Labels: Documentation: Cwiki

#8321 [powershell] Fix error message templates for some field names
  modules/openapi-generator/src/main/resources/powershell/model_simple.mustache
  samples/client/petstore/powershell/src/PSPetstore/Model/Pet.ps1
Labels: Client: PowerShell, Issue: Bug

#8252 Implement optional powershell verb parsing
  docs/generators/powershell.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellClientCodegen.java
Labels: Client: PowerShell, Enhancement: Feature

#8355 [dart][dart-dio] Add missing imports for container parameters
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioClientCodegen.java
Labels: Client: Dart, Issue: Bug

#8357 [dart][dart-dio] Generate the correct serializers
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioClientCodegen.java
  modules/openapi-generator/src/main/resources/dart-dio/serializers.mustache
  samples/client/petstore/dart-dio/petstore_client_lib/lib/serializers.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/serializers.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/serializers.dart
Labels: Client: Dart, Enhancement: Code format, Issue: Bug

#8367 [bug][dart][dart-dio] Fix serialization of map body params
  modules/openapi-generator/src/main/resources/dart-dio/api.mustache
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/fake_api.dart
Labels: Client: Dart, Issue: Bug

#8376 typescript-fetch: fix isCollectionFormatMulti for arrays of files
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptFetchClientCodegen.java
Labels: Client: TypeScript

#8387 Fixes object serialization when there is an inline array property which contains a refed enum
  modules/openapi-generator/src/main/resources/python/model_utils.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonLegacyClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/python/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/client/petstore/python/petstore_api/model_utils.py
  samples/openapi3/client/extensions/x-auth-id-alias/python/x_auth_id_alias/model_utils.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/model_utils.py
  samples/openapi3/client/petstore/python/README.md
  samples/openapi3/client/petstore/python/docs/EnumTest.md
  samples/openapi3/client/petstore/python/docs/FakeApi.md
  samples/openapi3/client/petstore/python/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/model/enum_test.py
  samples/openapi3/client/petstore/python/petstore_api/model_utils.py
  samples/openapi3/client/petstore/python/tests_manual/test_enum_test.py
  samples/openapi3/client/petstore/python/tests_manual/test_fake_api.py
Labels: Client: Python

#8349 docs: improve pull request checklist
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Enhancement: General

#8390 [C][Client] Fix the memory leak when a JSON of model fails to parse
  modules/openapi-generator/src/main/resources/C-libcurl/model-body.mustache
  samples/client/petstore/c/.openapi-generator/VERSION
  samples/client/petstore/c/model/pet.c
Labels: Client: C, Issue: Bug

#8181 Make frequently used IO resources autoclosable
  modules/openapi-generator/src/main/java/org/openapitools/codegen/TemplateManager.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractRubyCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/MustacheEngineAdapter.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/TemplateManagerTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/dart/DartClientCodegenTest.java
Labels: Feature: Generator, Issue: Bug

#8388 To fix model selection
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfiguratorUtils.java
Labels: Feature: Generator, Issue: Bug

#8411 Update doc to use colon as the separator in model selection
  docs/customization.md
Labels: Enhancement: Feature, Feature: Documentation

#8396 Renamed basic authentication function in sttp client
  modules/openapi-generator/src/main/resources/scala-sttp/api.mustache
Labels: Client: Scala, Issue: Bug

#8416 [typescript-angular] Fix configuration import in apiInterface.mustache when the configurationPrefix option is used
  modules/openapi-generator/src/main/resources/typescript-angular/apiInterface.mustache
Labels: Client: TypeScript

#8405 [PYTHON] fix #8404: use_Endoint to allow apis to have Endpoint
  modules/openapi-generator/src/main/resources/python/api.mustache
  samples/client/petstore/python/petstore_api/api/another_fake_api.py
  samples/client/petstore/python/petstore_api/api/fake_api.py
  samples/client/petstore/python/petstore_api/api/fake_classname_tags_123_api.py
  samples/client/petstore/python/petstore_api/api/pet_api.py
  samples/client/petstore/python/petstore_api/api/store_api.py
  samples/client/petstore/python/petstore_api/api/user_api.py
  samples/openapi3/client/extensions/x-auth-id-alias/python/x_auth_id_alias/api/usage_api.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/api/usage_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/default_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_classname_tags_123_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/user_api.py
Labels: Client: Python

#8427 Revert "[GO][Client] return GenericOpenAPIError instead of error in Execute() (#8137)"
  modules/openapi-generator/src/main/resources/go/api.mustache
  modules/openapi-generator/src/main/resources/go/api_doc.mustache
  samples/client/petstore/go/auth_test.go
  samples/client/petstore/go/fake_api_test.go
  samples/client/petstore/go/go-petstore/api_another_fake.go
  samples/client/petstore/go/go-petstore/api_fake.go
  samples/client/petstore/go/go-petstore/api_fake_classname_tags123.go
  samples/client/petstore/go/go-petstore/api_pet.go
  samples/client/petstore/go/go-petstore/api_store.go
  samples/client/petstore/go/go-petstore/api_user.go
  samples/client/petstore/go/go-petstore/docs/AnotherFakeApi.md
  samples/client/petstore/go/go-petstore/docs/FakeApi.md
  samples/client/petstore/go/go-petstore/docs/FakeClassnameTags123Api.md
  samples/client/petstore/go/go-petstore/docs/PetApi.md
  samples/client/petstore/go/go-petstore/docs/StoreApi.md
  samples/client/petstore/go/go-petstore/docs/UserApi.md
  samples/client/petstore/go/mock/mock_api_pet.go
  samples/client/petstore/go/pet_api_test.go
  samples/client/petstore/go/store_api_test.go
  samples/client/petstore/go/user_api_test.go
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/api_usage.go
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/docs/UsageApi.md
  samples/openapi3/client/petstore/go/auth_test.go
  samples/openapi3/client/petstore/go/fake_api_test.go
  samples/openapi3/client/petstore/go/go-petstore/api_another_fake.go
  samples/openapi3/client/petstore/go/go-petstore/api_default.go
  samples/openapi3/client/petstore/go/go-petstore/api_fake.go
  samples/openapi3/client/petstore/go/go-petstore/api_fake_classname_tags123.go
  samples/openapi3/client/petstore/go/go-petstore/api_pet.go
  samples/openapi3/client/petstore/go/go-petstore/api_store.go
  samples/openapi3/client/petstore/go/go-petstore/api_user.go
  samples/openapi3/client/petstore/go/go-petstore/docs/AnotherFakeApi.md
  samples/openapi3/client/petstore/go/go-petstore/docs/DefaultApi.md
  samples/openapi3/client/petstore/go/go-petstore/docs/FakeApi.md
  samples/openapi3/client/petstore/go/go-petstore/docs/FakeClassnameTags123Api.md
  samples/openapi3/client/petstore/go/go-petstore/docs/PetApi.md
  samples/openapi3/client/petstore/go/go-petstore/docs/StoreApi.md
  samples/openapi3/client/petstore/go/go-petstore/docs/UserApi.md
  samples/openapi3/client/petstore/go/http_signature_test.go
  samples/openapi3/client/petstore/go/pet_api_test.go
  samples/openapi3/client/petstore/go/store_api_test.go
  samples/openapi3/client/petstore/go/user_api_test.go
Labels: Client: Go, Issue: Bug

#8439 [Go] Fix response body
  modules/openapi-generator/src/main/resources/go/api.mustache
  samples/client/petstore/go/go-petstore/api_another_fake.go
  samples/client/petstore/go/go-petstore/api_fake.go
  samples/client/petstore/go/go-petstore/api_fake_classname_tags123.go
  samples/client/petstore/go/go-petstore/api_pet.go
  samples/client/petstore/go/go-petstore/api_store.go
  samples/client/petstore/go/go-petstore/api_user.go
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/api_usage.go
  samples/openapi3/client/petstore/go/go-petstore/api_another_fake.go
  samples/openapi3/client/petstore/go/go-petstore/api_default.go
  samples/openapi3/client/petstore/go/go-petstore/api_fake.go
  samples/openapi3/client/petstore/go/go-petstore/api_fake_classname_tags123.go
  samples/openapi3/client/petstore/go/go-petstore/api_pet.go
  samples/openapi3/client/petstore/go/go-petstore/api_store.go
  samples/openapi3/client/petstore/go/go-petstore/api_user.go
Labels: Client: Go, Issue: Bug

#8445 [typescript-axios] bump axios version to 0.21.1 to fix vulnerability
  modules/openapi-generator/src/main/resources/typescript-axios/package.mustache
  samples/client/petstore/typescript-axios/builds/es6-target/package.json
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/package.json
  samples/client/petstore/typescript-axios/builds/with-npm-version/package.json
Labels: Client: TypeScript

#8436 Migrate off deprecated Gradle configurations
  modules/openapi-generator/src/main/resources/Java/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/rest-assured/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/build.gradle.mustache
  modules/openapi-generator/src/test/resources/2_0/templates/Java/libraries/jersey2/build.gradle.mustache
  samples/client/petstore/java/feign-no-nullable/build.gradle
  samples/client/petstore/java/feign/build.gradle
  samples/client/petstore/java/google-api-client/build.gradle
  samples/client/petstore/java/jersey1/build.gradle
  samples/client/petstore/java/jersey2-java8/build.gradle
  samples/client/petstore/java/native-async/build.gradle
  samples/client/petstore/java/native/build.gradle
  samples/client/petstore/java/okhttp-gson-dynamicOperations/build.gradle
  samples/client/petstore/java/okhttp-gson-parcelableModel/build.gradle
  samples/client/petstore/java/okhttp-gson/build.gradle
  samples/client/petstore/java/rest-assured-jackson/build.gradle
  samples/client/petstore/java/rest-assured/build.gradle
  samples/client/petstore/java/resteasy/build.gradle
  samples/client/petstore/java/resttemplate-withXml/build.gradle
  samples/client/petstore/java/resttemplate/build.gradle
  samples/client/petstore/java/retrofit2-play26/build.gradle
  samples/client/petstore/java/retrofit2/build.gradle
  samples/client/petstore/java/retrofit2rx2/build.gradle
  samples/client/petstore/java/retrofit2rx3/build.gradle
  samples/client/petstore/java/vertx-no-nullable/build.gradle
  samples/client/petstore/java/vertx/build.gradle
  samples/client/petstore/java/webclient/build.gradle
  samples/openapi3/client/extensions/x-auth-id-alias/java/jersey2-java8/build.gradle
  samples/openapi3/client/petstore/java/jersey2-java8-special-characters/build.gradle
  samples/openapi3/client/petstore/java/jersey2-java8/build.gradle
  samples/openapi3/client/petstore/java/native/build.gradle
Labels: Client: Java, Enhancement: Compatibility

#8437 [python] Fixes file upload + download, adds tests
  modules/openapi-generator/src/main/resources/python/api_client.mustache
  modules/openapi-generator/src/test/resources/3_0/python/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/client/petstore/python/petstore_api/api_client.py
  samples/openapi3/client/extensions/x-auth-id-alias/python/x_auth_id_alias/api_client.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/api_client.py
  samples/openapi3/client/petstore/python/README.md
  samples/openapi3/client/petstore/python/docs/FakeApi.md
  samples/openapi3/client/petstore/python/docs/PetApi.md
  samples/openapi3/client/petstore/python/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python/petstore_api/api_client.py
  samples/openapi3/client/petstore/python/testfiles/1px_pic1.png
  samples/openapi3/client/petstore/python/testfiles/1px_pic2.png
  samples/openapi3/client/petstore/python/tests_manual/test_fake_api.py
Labels: Client: Python

#8462 Adds isNull to codegenX java core classes that represent schemas
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModel.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenProperty.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenResponse.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/IJsonSchemaValidationProperties.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_7651.yaml
Labels: Client: Java, Enhancement: Feature

#8466 [Nim] test the petstore client in drone.io
  CI/.drone.yml
Labels: Client: Nim, Enhancement: CI/Test

#8402 Nim client template bugfix for the case when path contains multiple parameters
  modules/openapi-generator/src/main/resources/nim-client/api.mustache
Labels: Client: Nim, Issue: Bug

#8318 [JAVA][Feign] Replace Apache oltu with scribejava
  modules/openapi-generator-gradle-plugin/gradlew.bat
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/auth/OAuthFlow.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/README.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/auth/DefaultApi20Impl.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/auth/OAuth.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/auth/OauthClientCredentialsGrant.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/auth/OauthPasswordGrant.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/pom.mustache
  samples/client/petstore/java/feign-no-nullable/.openapi-generator/FILES
  samples/client/petstore/java/feign-no-nullable/README.md
  samples/client/petstore/java/feign-no-nullable/build.gradle
  samples/client/petstore/java/feign-no-nullable/build.sbt
  samples/client/petstore/java/feign-no-nullable/pom.xml
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/auth/DefaultApi20Impl.java
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/auth/OAuth.java
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/auth/OAuthFlow.java
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/auth/OauthClientCredentialsGrant.java
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/auth/OauthPasswordGrant.java
  samples/client/petstore/java/feign/.openapi-generator/FILES
  samples/client/petstore/java/feign/README.md
  samples/client/petstore/java/feign/build.gradle
  samples/client/petstore/java/feign/build.sbt
  samples/client/petstore/java/feign/pom.xml
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/auth/DefaultApi20Impl.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/auth/OAuth.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/auth/OAuthFlow.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/auth/OauthClientCredentialsGrant.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/auth/OauthPasswordGrant.java
  samples/client/petstore/java/jersey1/src/main/java/org/openapitools/client/auth/OAuthFlow.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/auth/OAuthFlow.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/auth/OAuthFlow.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/auth/OAuthFlow.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/auth/OAuthFlow.java
  samples/client/petstore/java/retrofit2/src/main/java/org/openapitools/client/auth/OAuthFlow.java
  samples/client/petstore/java/retrofit2rx2/src/main/java/org/openapitools/client/auth/OAuthFlow.java
  samples/client/petstore/java/retrofit2rx3/src/main/java/org/openapitools/client/auth/OAuthFlow.java
  samples/server/petstore/java-undertow/dependency-reduced-pom.xml
Labels: Client: Java, Enhancement: Compatibility

#8346 Javadoc + operations interface + provider for state(ful/less) handlers
  bin/configs/java-undertow-server-java-undertow.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaUndertowServerCodegen.java
  modules/openapi-generator/src/main/resources/java-undertow-server/README.mustache
  modules/openapi-generator/src/main/resources/java-undertow-server/bodyParams.mustache
  modules/openapi-generator/src/main/resources/java-undertow-server/enumOuterClass.mustache
  modules/openapi-generator/src/main/resources/java-undertow-server/generatedAnnotation.mustache
  modules/openapi-generator/src/main/resources/java-undertow-server/handler.mustache
  modules/openapi-generator/src/main/resources/java-undertow-server/inflector.mustache
  modules/openapi-generator/src/main/resources/java-undertow-server/interface.mustache
  modules/openapi-generator/src/main/resources/java-undertow-server/isContainerDoc.mustache
  modules/openapi-generator/src/main/resources/java-undertow-server/licenseInfo.mustache
  modules/openapi-generator/src/main/resources/java-undertow-server/model.mustache
  modules/openapi-generator/src/main/resources/java-undertow-server/pathParams.mustache
  modules/openapi-generator/src/main/resources/java-undertow-server/pojo.mustache
  modules/openapi-generator/src/main/resources/java-undertow-server/pom.mustache
  modules/openapi-generator/src/main/resources/java-undertow-server/queryParams.mustache
  samples/server/petstore/java-undertow/.openapi-generator/FILES
  samples/server/petstore/java-undertow/.openapi-generator/VERSION
  samples/server/petstore/java-undertow/README.md
  samples/server/petstore/java-undertow/src/main/java/org/openapitools/handler/PathHandlerInterface.java
  samples/server/petstore/java-undertow/src/main/java/org/openapitools/handler/PathHandlerProvider.java
  samples/server/petstore/java-undertow/src/main/java/org/openapitools/model/Category.java
  samples/server/petstore/java-undertow/src/main/java/org/openapitools/model/ModelApiResponse.java
  samples/server/petstore/java-undertow/src/main/java/org/openapitools/model/Order.java
  samples/server/petstore/java-undertow/src/main/java/org/openapitools/model/Pet.java
  samples/server/petstore/java-undertow/src/main/java/org/openapitools/model/Tag.java
  samples/server/petstore/java-undertow/src/main/java/org/openapitools/model/User.java
  samples/server/petstore/java-undertow/src/main/resources/config/openapi.json
Labels: Enhancement: General, Server: Java

#8470 Fix README typo for Crystal
  modules/openapi-generator/src/main/resources/crystal/README.mustache
  samples/client/petstore/crystal/README.md
Labels: Client: Crystal, Enhancement: Feature, Feature: Documentation

#8467 [csharp-netcore] add .Net 5.0 support
  appveyor.yml
  bin/configs/csharp-netcore-OpenAPIClient-net50.yaml
  docs/generators/csharp-netcore.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/.gitignore
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/.openapi-generator-ignore
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/.openapi-generator/FILES
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/.openapi-generator/VERSION
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/Org.OpenAPITools.sln
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/appveyor.yml
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/docs/ApiResponse.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/docs/Category.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/docs/Order.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/docs/Pet.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/docs/PetApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/docs/StoreApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/docs/Tag.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/docs/User.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/docs/UserApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/git_push.sh
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools.Test/Api/PetApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools.Test/Api/StoreApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools.Test/Api/UserApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools.Test/Model/ApiResponseTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools.Test/Model/CategoryTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools.Test/Model/OrderTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools.Test/Model/PetTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools.Test/Model/TagTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools.Test/Model/UserTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/ApiException.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/ApiResponse.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/ExceptionFactory.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/GlobalConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/HttpMethod.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/IApiAccessor.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/IAsynchronousClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/ISynchronousClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/Multimap.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/OpenAPIDateConverter.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/RequestOptions.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/RetryConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/AbstractOpenAPISchema.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/ApiResponse.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/Category.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/Order.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/Pet.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/Tag.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/User.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
Labels: Client: C-Sharp, Enhancement: Compatibility

#8477 [Rust Server] Reinstate tests
  modules/openapi-generator/src/main/resources/rust-server/Cargo.mustache
  modules/openapi-generator/src/main/resources/rust-server/server-operation.mustache
  pom.xml
  samples/server/petstore/rust-server/output/multipart-v3/Cargo.toml
  samples/server/petstore/rust-server/output/multipart-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/no-example-v3/Cargo.toml
  samples/server/petstore/rust-server/output/openapi-v3/Cargo.toml
  samples/server/petstore/rust-server/output/ops-v3/Cargo.toml
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/Cargo.toml
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/server/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/Cargo.toml
Labels: Enhancement: CI/Test, Server: Rust, dependencies

#8490 [ plugin docs ] Update gradle plugin version to 5.0.0
  docs/plugins.md
Labels: Enhancement: Feature, Feature: Documentation

#8496 [PowerShell] minor fix to API doc
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellClientCodegen.java
  modules/openapi-generator/src/main/resources/powershell/api_doc.mustache
  samples/client/petstore/powershell/docs/PSPetApi.md
  samples/client/petstore/powershell/docs/PSStoreApi.md
  samples/client/petstore/powershell/docs/PSUserApi.md
Labels: Client: PowerShell, Enhancement: Feature, Feature: Documentation

#8474 Adds hasValidation to all java core Schema classes
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModel.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenProperty.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenResponse.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/IJsonSchemaValidationProperties.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_7651.yaml
Labels: Client: Java, Enhancement: Code Cleanup, Enhancement: Feature

#8369 [dart][dart-dio] Improve form param handling, respect required flag
  modules/openapi-generator/src/main/resources/dart-dio/api.mustache
  samples/client/petstore/dart-dio/petstore_client_lib/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/api/pet_api.dart
Labels: Client: Dart, Enhancement: General

#8469 [Gradle Plugin] Update gradlew, gradlew.bat
  modules/openapi-generator-gradle-plugin/gradlew
  modules/openapi-generator-gradle-plugin/gradlew.bat
Labels: Enhancement: Compatibility, OpenAPI Generator Gradle Plugin

#8494 Update parser to newer version 2.0.24
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  pom.xml
Labels: Enhancement: Compatibility, Swagger-Parser

#8476 [swift5] Fix target SDKs for Combine option
  modules/openapi-generator/src/main/resources/swift5/api.mustache
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient/Classes/OpenAPIs/AlamofireImplementations.swift
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/APIs/AnotherFakeAPI.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/APIs/FakeAPI.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/APIs/FakeClassnameTags123API.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/APIs/PetAPI.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/APIs/StoreAPI.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/APIs/UserAPI.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/default/SwaggerClientTests/Podfile.lock
  samples/client/petstore/swift5/deprecated/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/deprecated/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/readonlyProperties/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/readonlyProperties/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/urlsessionLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/urlsessionLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
Labels: Client: Swift, Issue: Bug

#6690 [Core, Rust Server] anyOf / oneOf support for Rust Server
  docs/generators/rust-server.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/InlineModelResolver.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/resources/rust-server/models.mustache
  modules/openapi-generator/src/main/resources/rust-server/response.mustache
  modules/openapi-generator/src/test/resources/3_0/rust-server/openapi-v3.yaml
  samples/client/petstore/java/feign/feign10x/api/openapi.yaml
  samples/server/petstore/rust-server/output/multipart-v3/docs/MultipartRequest.md
  samples/server/petstore/rust-server/output/multipart-v3/src/models.rs
  samples/server/petstore/rust-server/output/no-example-v3/src/models.rs
  samples/server/petstore/rust-server/output/openapi-v3/.openapi-generator/FILES
  samples/server/petstore/rust-server/output/openapi-v3/README.md
  samples/server/petstore/rust-server/output/openapi-v3/api/openapi.yaml
  samples/server/petstore/rust-server/output/openapi-v3/docs/AnyOfObject.md
  samples/server/petstore/rust-server/output/openapi-v3/docs/AnyOfObjectAnyOf.md
  samples/server/petstore/rust-server/output/openapi-v3/docs/AnyOfProperty.md
  samples/server/petstore/rust-server/output/openapi-v3/docs/Model12345AnyOfObject.md
  samples/server/petstore/rust-server/output/openapi-v3/docs/Model12345AnyOfObjectAnyOf.md
  samples/server/petstore/rust-server/output/openapi-v3/docs/default_api.md
  samples/server/petstore/rust-server/output/openapi-v3/examples/client/main.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/models.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/ops-v3/src/models.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/models.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/models.rs
Labels: Client: Rust, Feature: OAS 3.0 spec support, Server: Rust

#8373 [Kotlin-Spring] Fix properties default value
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-spring/dataClassOptVar.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/dataClassReqVar.mustache
  samples/openapi3/client/petstore/go/go-petstore/docs/EnumTest.md
  samples/openapi3/client/petstore/go/go-petstore/model_enum_test_.go
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/model/Order.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/Order.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/Order.kt
Labels: Issue: Bug, Server: Kotlin

#8525 Fix the Gradle test in AppVeyor
  modules/openapi-generator-gradle-plugin/samples/local-spec/gradle.properties
Labels: Enhancement: CI/Test, OpenAPI Generator Gradle Plugin

#7940 Remove servers urls with trailing slash
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultGeneratorTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_7533.yaml
  samples/openapi3/client/petstore/java/jersey2-java8-special-characters/src/main/java/org/openapitools/client/ApiClient.java
Labels: Feature: Generator, Issue: Bug

#8234 [Qt5][C++] Removed deprecated functions to support Qt6
  modules/openapi-generator/src/main/resources/cpp-qt5-client/HttpFileElement.cpp.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/HttpRequest.cpp.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/HttpRequest.h.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-body.mustache
  samples/client/petstore/cpp-qt5/client/PFXHttpFileElement.cpp
  samples/client/petstore/cpp-qt5/client/PFXHttpRequest.cpp
  samples/client/petstore/cpp-qt5/client/PFXHttpRequest.h
  samples/client/petstore/cpp-qt5/client/PFXPetApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXStoreApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXUserApi.cpp
Labels: Client: C++, Enhancement: Code Cleanup

#8159 Add .t in spec generation of Elixir structs
  docs/generators/elixir.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElixirClientCodegen.java
  modules/openapi-generator/src/main/resources/elixir/api.mustache
  modules/openapi-generator/src/main/resources/elixir/model.mustache
  samples/client/petstore/elixir/lib/openapi_petstore/api/another_fake.ex
  samples/client/petstore/elixir/lib/openapi_petstore/api/fake.ex
  samples/client/petstore/elixir/lib/openapi_petstore/api/fake_classname_tags123.ex
  samples/client/petstore/elixir/lib/openapi_petstore/api/pet.ex
  samples/client/petstore/elixir/lib/openapi_petstore/api/store.ex
  samples/client/petstore/elixir/lib/openapi_petstore/api/user.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/additional_properties_class.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/array_test.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/enum_test.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/file_schema_test_class.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/format_test.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/mixed_properties_and_additional_properties_class.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/pet.ex
Labels: Client: Elixir, Issue: Bug

#8464 erefactor - AutoRefactor - Collections.addAll() rather than loop
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAngularClientCodegen.java
Labels: Client: TypeScript, Enhancement: Code Cleanup

#8526 Remove the Windows batch file
  bin/windows/typescript.bat
Labels: Enhancement: Code Cleanup

#8459 [Jmeter] Support securityDefinitions
  modules/openapi-generator/src/main/resources/jmeter-client/api.mustache
  samples/client/petstore/jmeter/PetApi.jmx
  samples/client/petstore/jmeter/StoreApi.jmx
Labels: Client: JMeter, Enhancement: Feature

#8461 [JMeter] Support json data in csv
  modules/openapi-generator/src/main/resources/jmeter-client/api.mustache
  samples/client/petstore/jmeter/PetApi.jmx
  samples/client/petstore/jmeter/StoreApi.jmx
  samples/client/petstore/jmeter/UserApi.jmx
Labels: Client: JMeter, Enhancement: General

#8251 [Qt][C++] Updated cpp-qt5-client doc
  docs/generators/cpp-qt5-client.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppQt5ClientCodegen.java
Labels: Client: C++, Enhancement: Feature, Feature: Documentation

#8512 [dart] Fix switch on enums not possible
  modules/openapi-generator/src/main/resources/dart2/enum.mustache
  modules/openapi-generator/src/main/resources/dart2/enum_inline.mustache
  samples/client/petstore/dart2/petstore_client_lib/lib/model/order.dart
  samples/client/petstore/dart2/petstore_client_lib/lib/model/pet.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/model/order.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/model/pet.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/enum_arrays.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/enum_class.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/enum_test.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/map_test.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/order.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/outer_enum.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/outer_enum_default_value.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/outer_enum_integer.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/outer_enum_integer_default_value.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/pet.dart
Labels: Client: Dart, Issue: Bug

#7567 Implement useAbstractionForFiles for webclient library
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/api_test.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
Labels: Client: Java, Enhancement: Feature

#8534 [swift 5] fix objc integration
  modules/openapi-generator/src/main/resources/swift5/api.mustache
  modules/openapi-generator/src/main/resources/swift5/modelObject.mustache
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/APIs/PetAPI.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/Models/Category.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/Models/Pet.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/Models/Tag.swift
Labels: Client: Swift, Issue: Bug

#8531 --http-user-agent arg support in javascript generator
  modules/openapi-generator/src/main/resources/Javascript-Apollo/api.mustache
  modules/openapi-generator/src/main/resources/Javascript/es6/ApiClient.mustache
  samples/client/petstore/javascript-es6/src/ApiClient.js
  samples/client/petstore/javascript-promise-es6/src/ApiClient.js
Labels: Client: JavaScript/Node.js, Enhancement: Feature

#5682 [Elixir] Adds workaround for httpc for post/put/patch requests
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElixirClientCodegen.java
  modules/openapi-generator/src/main/resources/elixir/api.mustache
  modules/openapi-generator/src/main/resources/elixir/request_builder.ex.mustache
  samples/client/petstore/elixir/lib/openapi_petstore/api/fake.ex
  samples/client/petstore/elixir/lib/openapi_petstore/api/pet.ex
  samples/client/petstore/elixir/lib/openapi_petstore/request_builder.ex
Labels: Client: Elixir, Enhancement: General

#8283 [typescript-axios] reduce file size
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptAxiosClientCodegen.java
  modules/openapi-generator/src/main/resources/typescript-axios/api.mustache
  modules/openapi-generator/src/main/resources/typescript-axios/apiInner.mustache
  modules/openapi-generator/src/main/resources/typescript-axios/common.mustache
  samples/client/petstore/typescript-axios/builds/composed-schemas/.openapi-generator/FILES
  samples/client/petstore/typescript-axios/builds/composed-schemas/api.ts
  samples/client/petstore/typescript-axios/builds/composed-schemas/common.ts
  samples/client/petstore/typescript-axios/builds/default/.openapi-generator/FILES
  samples/client/petstore/typescript-axios/builds/default/api.ts
  samples/client/petstore/typescript-axios/builds/default/common.ts
  samples/client/petstore/typescript-axios/builds/es6-target/.openapi-generator/FILES
  samples/client/petstore/typescript-axios/builds/es6-target/api.ts
  samples/client/petstore/typescript-axios/builds/es6-target/common.ts
  samples/client/petstore/typescript-axios/builds/with-complex-headers/.openapi-generator/FILES
  samples/client/petstore/typescript-axios/builds/with-complex-headers/api.ts
  samples/client/petstore/typescript-axios/builds/with-complex-headers/common.ts
  samples/client/petstore/typescript-axios/builds/with-interfaces/.openapi-generator/FILES
  samples/client/petstore/typescript-axios/builds/with-interfaces/api.ts
  samples/client/petstore/typescript-axios/builds/with-interfaces/common.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/.openapi-generator/FILES
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/pet-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/store-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/user-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/common.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version/.openapi-generator/FILES
  samples/client/petstore/typescript-axios/builds/with-npm-version/api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version/common.ts
  samples/client/petstore/typescript-axios/builds/with-single-request-parameters/.openapi-generator/FILES
  samples/client/petstore/typescript-axios/builds/with-single-request-parameters/api.ts
  samples/client/petstore/typescript-axios/builds/with-single-request-parameters/common.ts
Labels: Client: TypeScript, Enhancement: Code Cleanup, Enhancement: Performance

#8539 [Swift] move swift config files under ./bin/config
  CI/bitrise.yml
  bin/configs/swift5-alamofireLibrary.yaml
  bin/configs/swift5-combineLibrary.yaml
  bin/configs/swift5-default.yaml
  bin/configs/swift5-deprecated.yaml
  bin/configs/swift5-nonPublicApi.yaml
  bin/configs/swift5-objcCompatible.yaml
  bin/configs/swift5-promisekitLibrary.yaml
  bin/configs/swift5-readonlyProperties.yaml
  bin/configs/swift5-resultLibrary.yaml
  bin/configs/swift5-rxswiftLibrary.yaml
  bin/configs/swift5-urlsessionLibrary.yaml
Labels: Client: Swift, Enhancement: CI/Test

#8538 Migrate `elixir` samples to use OAS v3
  bin/configs/elixir.yaml
  modules/openapi-generator/src/main/resources/JavaJaxRS/api.mustache
  modules/openapi-generator/src/test/resources/3_0/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/client/petstore/csharp/OpenAPIClient/docs/PetApi.md
  samples/client/petstore/elixir/.openapi-generator/FILES
  samples/client/petstore/elixir/lib/openapi_petstore/api/another_fake.ex
  samples/client/petstore/elixir/lib/openapi_petstore/api/default.ex
  samples/client/petstore/elixir/lib/openapi_petstore/api/fake.ex
  samples/client/petstore/elixir/lib/openapi_petstore/api/fake_classname_tags123.ex
  samples/client/petstore/elixir/lib/openapi_petstore/api/pet.ex
  samples/client/petstore/elixir/lib/openapi_petstore/api/store.ex
  samples/client/petstore/elixir/lib/openapi_petstore/api/user.ex
  samples/client/petstore/elixir/lib/openapi_petstore/connection.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/_special_model_name_.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/additional_properties_class.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/enum_test.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/foo.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/format_test.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/health_check_result.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/inline_response_default.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/nullable_class.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/outer_enum_default_value.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/outer_enum_integer.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/outer_enum_integer_default_value.ex
  samples/openapi3/client/petstore/python-legacy/docs/PetApi.md
  samples/server/petstore/jaxrs-datelib-j8/src/gen/java/org/openapitools/api/AnotherFakeApi.java
  samples/server/petstore/jaxrs-datelib-j8/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs-datelib-j8/src/gen/java/org/openapitools/api/FakeClassnameTestApi.java
  samples/server/petstore/jaxrs-datelib-j8/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-datelib-j8/src/gen/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/jaxrs-datelib-j8/src/gen/java/org/openapitools/api/UserApi.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/AnotherFakeApi.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/FakeClassnameTestApi.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/FooApi.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/api/UserApi.java
  samples/server/petstore/jaxrs/jersey2-useTags/src/gen/java/org/openapitools/api/AnotherFakeApi.java
  samples/server/petstore/jaxrs/jersey2-useTags/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs/jersey2-useTags/src/gen/java/org/openapitools/api/FakeClassnameTags123Api.java
  samples/server/petstore/jaxrs/jersey2-useTags/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs/jersey2-useTags/src/gen/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/jaxrs/jersey2-useTags/src/gen/java/org/openapitools/api/UserApi.java
  samples/server/petstore/jaxrs/jersey2/src/gen/java/org/openapitools/api/AnotherFakeApi.java
  samples/server/petstore/jaxrs/jersey2/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs/jersey2/src/gen/java/org/openapitools/api/FakeClassnameTestApi.java
  samples/server/petstore/jaxrs/jersey2/src/gen/java/org/openapitools/api/PetApi.java
  samples/server/petstore/jaxrs/jersey2/src/gen/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/jaxrs/jersey2/src/gen/java/org/openapitools/api/UserApi.java
Labels: Client: Elixir, Enhancement: CI/Test

#8528 Bumped Vert.x template to Vert.x 4 GA
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/apiHandler.mustache
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/supportFiles/HttpServerVerticle.mustache
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/supportFiles/pom.mustache
  samples/server/petstore/java-vertx-web/.openapi-generator/FILES
  samples/server/petstore/java-vertx-web/.openapi-generator/VERSION
  samples/server/petstore/java-vertx-web/pom.xml
  samples/server/petstore/java-vertx-web/src/main/java/org/openapitools/vertxweb/server/HttpServerVerticle.java
  samples/server/petstore/java-vertx-web/src/main/java/org/openapitools/vertxweb/server/api/PetApiHandler.java
  samples/server/petstore/java-vertx-web/src/main/java/org/openapitools/vertxweb/server/api/StoreApiHandler.java
  samples/server/petstore/java-vertx-web/src/main/java/org/openapitools/vertxweb/server/api/UserApiHandler.java
Labels: Enhancement: Compatibility, Server: Java

#8345 Spring codegen - fix equals and hashCode methods for byte array and binary
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/main/resources/JavaSpring/pojo.mustache
  samples/server/petstore/spring-mvc-j8-async/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/spring-mvc-j8-localdatetime/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/spring-mvc-no-nullable/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/spring-mvc-spring-pageable/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/spring-mvc/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-beanvalidation-no-nullable/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-implicitHeaders/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern-without-j8/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-spring-pageable-without-j8/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-spring-pageable/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/model/FormatTest.java
  samples/server/petstore/springboot/src/main/java/org/openapitools/model/FormatTest.java
Labels: Issue: Bug, Server: Java, Server: Spring

#5321 [BUG][Java]Fixed defaultValue escaping in Vert.x server template
  modules/openapi-generator/src/main/resources/JavaVertXServer/apiVerticle.mustache
  samples/server/petstore/java-vertx/async/.openapi-generator/VERSION
  samples/server/petstore/java-vertx/async/pom.xml
  samples/server/petstore/java-vertx/async/src/main/java/org/openapitools/server/api/MainApiVerticle.java
  samples/server/petstore/java-vertx/async/src/main/java/org/openapitools/server/api/verticle/PetApiVerticle.java
  samples/server/petstore/java-vertx/async/src/main/java/org/openapitools/server/api/verticle/StoreApiVerticle.java
  samples/server/petstore/java-vertx/async/src/main/java/org/openapitools/server/api/verticle/UserApiVerticle.java
  samples/server/petstore/java-vertx/async/src/main/resources/openapi.json
  samples/server/petstore/java-vertx/rx/.openapi-generator/VERSION
  samples/server/petstore/java-vertx/rx/pom.xml
  samples/server/petstore/java-vertx/rx/src/main/java/org/openapitools/server/api/MainApiVerticle.java
  samples/server/petstore/java-vertx/rx/src/main/java/org/openapitools/server/api/verticle/PetApiVerticle.java
  samples/server/petstore/java-vertx/rx/src/main/java/org/openapitools/server/api/verticle/StoreApiVerticle.java
  samples/server/petstore/java-vertx/rx/src/main/java/org/openapitools/server/api/verticle/UserApiVerticle.java
  samples/server/petstore/java-vertx/rx/src/main/resources/openapi.json
Labels: Issue: Bug, Server: Java

#8501 [Java][Client][Vertx] Use Vertx reference instead of static class in ApiImpl template
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/ApiClient.mustache
  samples/client/petstore/java/vertx-no-nullable/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#8556 make shebangs portable
  bin/utils/export_docs_generators.sh
  bin/utils/export_generator.sh
Labels: Enhancement: General

#8509 Add getters for private default Headers and authentications
  modules/openapi-generator/src/main/resources/dart2/api_client.mustache
  samples/client/petstore/dart2/petstore_client_lib/lib/api_client.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/api_client.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api_client.dart
Labels: Client: Dart, Enhancement: General

#8581 [dart] Fix typo added in 57126a19
  modules/openapi-generator/src/main/resources/dart2/api_client.mustache
  samples/client/petstore/dart2/petstore_client_lib/lib/api_client.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/api_client.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api_client.dart
Labels: Client: Dart, Issue: Bug

#8550 [Qt5][C++] Fixed QByteArray::toUtf8 with FILE as request body. Included <stdexcept>.
  modules/openapi-generator/src/main/resources/cpp-qt5-client/ServerConfiguration.mustache
  modules/openapi-generator/src/main/resources/cpp-qt5-client/api-body.mustache
  modules/openapi-generator/src/main/resources/cpp-restbed-server/model-source.mustache
  samples/client/petstore/cpp-qt5/client/PFXPetApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXServerConfiguration.h
  samples/client/petstore/cpp-qt5/client/PFXStoreApi.cpp
  samples/client/petstore/cpp-qt5/client/PFXUserApi.cpp
Labels: Client: C++, Issue: Bug

#8519 [Rust Server] Cargo Metadata Configuration
  bin/configs/rust-server-petstore-with-fake-endpoints-models-for-testing.yaml
  modules/openapi-generator/src/main/resources/rust-server/Cargo.mustache
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/Cargo.toml
Labels: Client: Rust, Server: Rust

#8516 [Rust Server] Serializable responses
  modules/openapi-generator/src/main/resources/rust-server/lib.mustache
  modules/openapi-generator/src/main/resources/rust-server/response.mustache
  samples/server/petstore/rust-server/output/multipart-v3/src/lib.rs
  samples/server/petstore/rust-server/output/no-example-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/ops-v3/src/lib.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/lib.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/lib.rs
Labels: Client: Rust, Enhancement: Feature, Server: Rust
