Repository OpenAPITools/openapi-generator, pull requests merged in 2022-02, with the labels that each got.

#11481 Typescript-fetch: date is only converted to javascript date with runtime checks enabled
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptFetchClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/fetch/TypeScriptFetchModelTest.java
  samples/client/petstore/typescript-fetch/builds/without-runtime-checks/src/models/index.ts
Labels: Client: TypeScript

#9958 [typescript-rxjs] add rxjs 7 support
  modules/openapi-generator/src/main/resources/typescript-rxjs/apis.mustache
  modules/openapi-generator/src/main/resources/typescript-rxjs/modelAllOf.mustache
  modules/openapi-generator/src/main/resources/typescript-rxjs/modelGeneric.mustache
  modules/openapi-generator/src/main/resources/typescript-rxjs/modelOneOf.mustache
  modules/openapi-generator/src/main/resources/typescript-rxjs/package.mustache
  modules/openapi-generator/src/main/resources/typescript-rxjs/paramNamePartial.mustache
  modules/openapi-generator/src/main/resources/typescript-rxjs/runtime.mustache
  modules/openapi-generator/src/main/resources/typescript-rxjs/servers.mustache
  samples/client/petstore/typescript-rxjs/builds/default/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/default/apis/StoreApi.ts
  samples/client/petstore/typescript-rxjs/builds/default/apis/UserApi.ts
  samples/client/petstore/typescript-rxjs/builds/default/models/Pet.ts
  samples/client/petstore/typescript-rxjs/builds/default/runtime.ts
  samples/client/petstore/typescript-rxjs/builds/default/servers.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/apis/StoreApi.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/apis/UserApi.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/models/Pet.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/package.json
  samples/client/petstore/typescript-rxjs/builds/es6-target/runtime.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/servers.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/apis/StoreApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/apis/UserApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/models/Pet.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/package.json
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/runtime.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/servers.ts
  samples/client/petstore/typescript-rxjs/builds/with-progress-subscriber/apis/PetApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-progress-subscriber/apis/StoreApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-progress-subscriber/apis/UserApi.ts
  samples/client/petstore/typescript-rxjs/builds/with-progress-subscriber/models/Pet.ts
  samples/client/petstore/typescript-rxjs/builds/with-progress-subscriber/runtime.ts
  samples/client/petstore/typescript-rxjs/builds/with-progress-subscriber/servers.ts
Labels: Breaking change (without fallback), Client: TypeScript

#11420 Adds inline composition examples to python-experimental
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonExperimentalClientCodegen.java
  modules/openapi-generator/src/main/resources/python-experimental/api_client.handlebars
  modules/openapi-generator/src/test/resources/3_0/python-experimental/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/openapi3/client/petstore/python-experimental/.openapi-generator/FILES
  samples/openapi3/client/petstore/python-experimental/README.md
  samples/openapi3/client/petstore/python-experimental/docs/CompositionInProperty.md
  samples/openapi3/client/petstore/python-experimental/docs/FakeApi.md
  samples/openapi3/client/petstore/python-experimental/docs/ObjectWithInlineCompositionProperty.md
  samples/openapi3/client/petstore/python-experimental/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/api/fake_api_endpoints/inline_composition.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/api_client.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/model/composition_in_property.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/model/object_with_inline_composition_property.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/models/__init__.py
  samples/openapi3/client/petstore/python-experimental/test/test_composition_in_property.py
  samples/openapi3/client/petstore/python-experimental/test/test_fake_api.py
  samples/openapi3/client/petstore/python-experimental/test/test_object_with_inline_composition_property.py
  samples/openapi3/client/petstore/python-experimental/tests_manual/test_fake_api.py
  samples/openapi3/client/petstore/python-experimental/tests_manual/test_object_with_inline_composition_property.py
Labels: Client: Python, Enhancement: Feature

#11513 [Java] [Feign] Fix duplicated Authorization headers when renewing a token on a retry
  modules/openapi-generator/src/main/resources/Java/libraries/feign/auth/OAuth.mustache
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/auth/OAuth.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/auth/OAuth.java
Labels: Client: Java, Issue: Bug

#11510 Fix ClassCastException if expected type is Object
  modules/openapi-generator/src/main/resources/Java/libraries/feign/ApiResponseDecoder.mustache
Labels: Client: Java, Issue: Bug

#11527 [java][feign] fix javadoc warnings
  modules/openapi-generator/src/main/resources/Java/libraries/feign/ApiClient.mustache
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: Feature, Feature: Documentation

#11474 [Python] add missing } in __init__model.mustache
  modules/openapi-generator/src/main/resources/python/__init__model.mustache
Labels: Client: Python, Issue: Non-operational

#11500 Add cycle detection (#7532)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonExperimentalClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonClientTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_7532.yaml
  modules/openapi-generator/src/test/resources/3_0/issue_7532_tree_example_value_expected.txt
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/.openapi-generator/VERSION
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/.openapi-generator/VERSION
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/.openapi-generator/VERSION
  samples/openapi3/client/petstore/python-experimental/docs/FakeApi.md
  samples/openapi3/client/petstore/python-experimental/docs/PetApi.md
  samples/openapi3/client/petstore/python-experimental/docs/UserApi.md
Labels: Client: Python, Enhancement: Feature

#11483 [C++][Pistache] fix float literals in C++ Pistache codegen
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppPistacheServerCodegen.java
Labels: Issue: Bug, Server: C++

#11438 [csharp-nancyfx] Delete NancyFX
  README.md
  docs/faq-generators.md
  docs/generators.md
  docs/generators/README.md
  docs/generators/csharp-nancyfx-deprecated.md
  docs/migration-from-swagger-codegen.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNancyFXServerCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/csharp-nancyfx/Project.mustache
  modules/openapi-generator/src/main/resources/csharp-nancyfx/Solution.mustache
  modules/openapi-generator/src/main/resources/csharp-nancyfx/api.mustache
  modules/openapi-generator/src/main/resources/csharp-nancyfx/gitignore
  modules/openapi-generator/src/main/resources/csharp-nancyfx/innerApiEnum.mustache
  modules/openapi-generator/src/main/resources/csharp-nancyfx/innerApiEnumName.mustache
  modules/openapi-generator/src/main/resources/csharp-nancyfx/innerModelEnum.mustache
  modules/openapi-generator/src/main/resources/csharp-nancyfx/innerParameterType.mustache
  modules/openapi-generator/src/main/resources/csharp-nancyfx/innerParameterValueOfArgs.mustache
  modules/openapi-generator/src/main/resources/csharp-nancyfx/localDateConverter.mustache
  modules/openapi-generator/src/main/resources/csharp-nancyfx/model.mustache
  modules/openapi-generator/src/main/resources/csharp-nancyfx/modelEnum.mustache
  modules/openapi-generator/src/main/resources/csharp-nancyfx/modelGeneric.mustache
  modules/openapi-generator/src/main/resources/csharp-nancyfx/modelMutable.mustache
  modules/openapi-generator/src/main/resources/csharp-nancyfx/nullableDataType.mustache
  modules/openapi-generator/src/main/resources/csharp-nancyfx/nuspec.mustache
  modules/openapi-generator/src/main/resources/csharp-nancyfx/packages.config.mustache
  modules/openapi-generator/src/main/resources/csharp-nancyfx/parameters.mustache
  modules/openapi-generator/src/main/resources/csharp-nancyfx/paramsList.mustache
  website/i18n/en.json
Labels: Server: C-Sharp, Decommission

#11453 tidy [csharp-netcore]: Remove unused UrlEncode method from csharp-netcore template.
  modules/openapi-generator/src/main/resources/csharp-netcore/ClientUtils.mustache
  samples/client/others/csharp-netcore-complex-files/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Client/ClientUtils.cs
Labels: Breaking change (without fallback), Client: C-Sharp, Enhancement: Code Cleanup

#11543 [java][okhttp-gson] Update build.gradle, build.sbt
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/build.sbt.mustache
  samples/client/others/java/okhttp-gson-streaming/build.gradle
  samples/client/others/java/okhttp-gson-streaming/build.sbt
  samples/client/petstore/java/okhttp-gson-dynamicOperations/build.gradle
  samples/client/petstore/java/okhttp-gson-dynamicOperations/build.sbt
  samples/client/petstore/java/okhttp-gson-parcelableModel/build.gradle
  samples/client/petstore/java/okhttp-gson-parcelableModel/build.sbt
  samples/client/petstore/java/okhttp-gson/build.gradle
  samples/client/petstore/java/okhttp-gson/build.sbt
Labels: Client: Java, Enhancement: General

#11544 [C#] test .net6 projects in Github actions
  .github/workflows/samples-dotnet.yaml
  appveyor.yml
Labels: Client: C-Sharp, Enhancement: CI/Test

#11260 Upgrade Scala sttp client generator to sttp3
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaSttpClientCodegen.java
  modules/openapi-generator/src/main/resources/scala-sttp/api.mustache
  modules/openapi-generator/src/main/resources/scala-sttp/build.sbt.mustache
  modules/openapi-generator/src/main/resources/scala-sttp/jsonSupport.mustache
  modules/openapi-generator/src/main/resources/scala-sttp/project/build.properties.mustache
  samples/client/petstore/scala-sttp/build.sbt
  samples/client/petstore/scala-sttp/project/build.properties
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/api/PetApi.scala
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/api/StoreApi.scala
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/api/UserApi.scala
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/core/JsonSupport.scala
Labels: Breaking change (without fallback), Client: Scala, Enhancement: Compatibility

#11549 mockito 4.3.1
  pom.xml
Labels: Enhancement: Compatibility

#11541 [Swift5][client] try to fix JsonEncondable
  modules/openapi-generator/src/main/resources/swift5/Extensions.mustache
  modules/openapi-generator/src/main/resources/swift5/Models.mustache
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/asyncAwaitLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/asyncAwaitLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/deprecated/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/deprecated/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/frozenEnums/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/frozenEnums/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/oneOf/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/oneOf/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/readonlyProperties/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/readonlyProperties/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/urlsessionLibrary/Sources/PetstoreClient/Extensions.swift
  samples/client/petstore/swift5/urlsessionLibrary/Sources/PetstoreClient/Models.swift
  samples/client/petstore/swift5/x-swift-hashable/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/x-swift-hashable/PetstoreClient/Classes/OpenAPIs/Models.swift
Labels: Client: Swift, Issue: Bug

#11559 Replace tabs with spaces in JavaScript templates
  modules/openapi-generator/src/main/resources/Javascript/ApiClient.mustache
Labels: Client: JavaScript/Node.js, Enhancement: Code format

#11560 Remove JDK 6, 7 supports in kotlin templates
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-volley/build.mustache
Labels: Client: Kotlin, Decommission, Enhancement: Code Cleanup

#11475 Fix for multible tags in @Operation annotation
  modules/openapi-generator/src/main/resources/JavaSpring/api.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/resources/bugs/issue_11464.yaml
Labels: Issue: Bug, Server: Java, Server: Spring

#11486 [PHP] Fix checking value of `Configuration::getAccessToken()`
  modules/openapi-generator/src/main/resources/php/api.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/PetApi.php
Labels: Client: PHP, Feature: Authentication, Issue: Bug

#11569 Update Micronaut to 3.3.1
  docs/generators/java-micronaut-client.md
  docs/generators/java-micronaut-server.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaMicronautAbstractCodegen.java
  samples/client/petstore/java-micronaut-client/gradle.properties
  samples/client/petstore/java-micronaut-client/pom.xml
  samples/server/petstore/java-micronaut-server/gradle.properties
  samples/server/petstore/java-micronaut-server/pom.xml
Labels: Client: Java, Enhancement: Compatibility, Server: Java

#11550 [java][vertx] moved HttpStatusException (vertx internal) to HttpException (public)
  modules/openapi-generator/src/main/resources/JavaVertXServer/pom.mustache
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/apiImpl.mustache
  samples/server/petstore/java-vertx-web/src/main/java/org/openapitools/vertxweb/server/api/PetApiImpl.java
  samples/server/petstore/java-vertx-web/src/main/java/org/openapitools/vertxweb/server/api/StoreApiImpl.java
  samples/server/petstore/java-vertx-web/src/main/java/org/openapitools/vertxweb/server/api/UserApiImpl.java
Labels: Breaking change (without fallback), Enhancement: Compatibility, Server: Java

#11536 [Bug][Java] defaultValues for date and date-time params
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/resources/JavaSpring/cookieParams.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/headerParams.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/AbstractJavaCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/spring/date-time-parameter-types-for-testing.yml
  samples/client/petstore/java/okhttp-gson/docs/FakeApi.md
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/spring-cloud-date-time/.openapi-generator/FILES
  samples/client/petstore/spring-cloud-date-time/src/main/java/org/openapitools/api/DefaultApi.java
  samples/client/petstore/spring-cloud-date-time/src/main/java/org/openapitools/model/Pet.java
  samples/openapi3/client/petstore/java/jersey2-java8/docs/FakeApi.md
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/openapi3/client/petstore/spring-cloud-date-time/.openapi-generator/FILES
  samples/openapi3/client/petstore/spring-cloud-date-time/src/main/java/org/openapitools/api/DefaultApi.java
  samples/openapi3/client/petstore/spring-cloud-date-time/src/main/java/org/openapitools/model/Pet.java
  samples/openapi3/client/petstore/spring-cloud-oas3-fakeapi/src/main/java/org/openapitools/api/FakeApi.java
  samples/openapi3/server/petstore/springboot-beanvalidation-no-nullable/src/main/java/org/openapitools/api/FakeApi.java
  samples/openapi3/server/petstore/springboot-beanvalidation-no-nullable/src/main/java/org/openapitools/api/FakeApiController.java
  samples/openapi3/server/petstore/springboot-delegate/src/main/java/org/openapitools/api/FakeApi.java
  samples/openapi3/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/FakeApi.java
  samples/openapi3/server/petstore/springboot-useoptional/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/spring-mvc-default-value/src/main/java/org/openapitools/api/TestHeadersApi.java
  samples/server/petstore/spring-mvc-j8-async/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/spring-mvc-j8-localdatetime/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/spring-mvc-no-nullable/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/spring-mvc-spring-pageable/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/spring-mvc/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-beanvalidation-no-nullable/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-beanvalidation-no-nullable/src/main/java/org/openapitools/api/FakeApiController.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern-without-j8/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern-without-j8/src/main/java/org/openapitools/api/FakeApiController.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-spring-pageable-without-j8/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-spring-pageable-without-j8/src/main/java/org/openapitools/api/FakeApiController.java
  samples/server/petstore/springboot-spring-pageable/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/api/FakeApi.java
  samples/server/petstore/springboot/src/main/java/org/openapitools/api/FakeApi.java
Labels: Issue: Bug, Server: Java, Server: Spring

#11580 [spring] various bug fixes and enhancements
  .github/workflows/samples-spring.yaml
  bin/configs/spring-stubs-skip-default-interface.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/main/resources/JavaSpring/api.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/formParams.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue7506.yaml
  samples/openapi3/client/petstore/spring-stubs-skip-default-interface/.openapi-generator-ignore
  samples/openapi3/client/petstore/spring-stubs-skip-default-interface/.openapi-generator/FILES
  samples/openapi3/client/petstore/spring-stubs-skip-default-interface/.openapi-generator/VERSION
  samples/openapi3/client/petstore/spring-stubs-skip-default-interface/README.md
  samples/openapi3/client/petstore/spring-stubs-skip-default-interface/pom.xml
  samples/openapi3/client/petstore/spring-stubs-skip-default-interface/src/main/java/org/openapitools/api/ApiUtil.java
  samples/openapi3/client/petstore/spring-stubs-skip-default-interface/src/main/java/org/openapitools/api/PetApi.java
  samples/openapi3/client/petstore/spring-stubs-skip-default-interface/src/main/java/org/openapitools/api/StoreApi.java
  samples/openapi3/client/petstore/spring-stubs-skip-default-interface/src/main/java/org/openapitools/api/UserApi.java
  samples/openapi3/client/petstore/spring-stubs-skip-default-interface/src/main/java/org/openapitools/model/Category.java
  samples/openapi3/client/petstore/spring-stubs-skip-default-interface/src/main/java/org/openapitools/model/ModelApiResponse.java
  samples/openapi3/client/petstore/spring-stubs-skip-default-interface/src/main/java/org/openapitools/model/Order.java
  samples/openapi3/client/petstore/spring-stubs-skip-default-interface/src/main/java/org/openapitools/model/Pet.java
  samples/openapi3/client/petstore/spring-stubs-skip-default-interface/src/main/java/org/openapitools/model/Tag.java
  samples/openapi3/client/petstore/spring-stubs-skip-default-interface/src/main/java/org/openapitools/model/User.java
Labels: Enhancement: General, Issue: Bug, Server: Java, Server: Spring

#11495 [Java] fix deserialization of readonly properties
  bin/configs/spring-nullable-set.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/resources/3_0/spring/10167-nullable-set.yml
  pom.xml
  samples/server/petstore/spring-boot-nullable-set/.openapi-generator-ignore
  samples/server/petstore/spring-boot-nullable-set/.openapi-generator/FILES
  samples/server/petstore/spring-boot-nullable-set/.openapi-generator/VERSION
  samples/server/petstore/spring-boot-nullable-set/README.md
  samples/server/petstore/spring-boot-nullable-set/pom.xml
  samples/server/petstore/spring-boot-nullable-set/src/main/java/org/openapitools/api/ApiUtil.java
  samples/server/petstore/spring-boot-nullable-set/src/main/java/org/openapitools/api/NullableApi.java
  samples/server/petstore/spring-boot-nullable-set/src/main/java/org/openapitools/model/ObjectWithUniqueItems.java
Labels: Issue: Bug, Server: Java, Server: Spring

#11466 [GO] Fix for Pass by value/Pass by Reference changes which is breaking the go client
  modules/openapi-generator/src/main/resources/go/model_simple.mustache
Labels: Client: Go, Issue: Bug

#11599 Test Java (native) client in JDK 11
  .github/workflows/samples-java-client-jdk11.yaml
  pom.xml
Labels: Client: Java, Enhancement: CI/Test

#7494 [Java][jaxrs-spec] add fromString() method to generated enums as required by JAX RS spec
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/enumClass.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/enumOuterClass.mustache
Labels: Issue: Bug, Server: Java

#11583 fixes #11579: Java RestTemplate Mustache template doesn't use reserved words for local variables
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/api.mustache
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Issue: Bug

#11452 [csharp-netcore] Nrt (nullableReferenceTypes) refactor
  docs/generators/csharp-netcore.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/ApiException.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/ApiKeyToken.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/ApiResponse`1.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/BasicToken.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/BearerToken.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/ClientUtils.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/HostConfiguration.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/HttpSigningConfiguration.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/HttpSigningToken.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/IApi.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/OAuthToken.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/README.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/RateLimitProvider`1.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/TokenBase.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/TokenContainer`1.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/TokenProvider`1.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/api.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/netcore_project.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/netcore_testproject.mustache
Labels: Breaking change (with fallback), Client: C-Sharp, Enhancement: Code Cleanup

#11051 [Python] fix api file name & api var name
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonConnexionServerCodegen.java
  samples/client/petstore/python-asyncio/.openapi-generator/FILES
  samples/client/petstore/python-asyncio/petstore_api/__init__.py
  samples/client/petstore/python-asyncio/petstore_api/api/__init__.py
  samples/client/petstore/python-asyncio/petstore_api/api/fake_classname_tags123_api.py
  samples/client/petstore/python-asyncio/test/test_fake_classname_tags123_api.py
  samples/client/petstore/python-legacy/.openapi-generator/FILES
  samples/client/petstore/python-legacy/petstore_api/__init__.py
  samples/client/petstore/python-legacy/petstore_api/api/__init__.py
  samples/client/petstore/python-legacy/petstore_api/api/fake_classname_tags123_api.py
  samples/client/petstore/python-legacy/test/test_fake_classname_tags123_api.py
  samples/client/petstore/python-tornado/.openapi-generator/FILES
  samples/client/petstore/python-tornado/petstore_api/__init__.py
  samples/client/petstore/python-tornado/petstore_api/api/__init__.py
  samples/client/petstore/python-tornado/petstore_api/api/fake_classname_tags123_api.py
  samples/client/petstore/python-tornado/test/test_fake_classname_tags123_api.py
  samples/client/petstore/python/.openapi-generator/FILES
  samples/client/petstore/python/docs/FakeClassnameTags123Api.md
  samples/client/petstore/python/petstore_api/api/fake_classname_tags123_api.py
  samples/client/petstore/python/petstore_api/apis/__init__.py
  samples/client/petstore/python/test/test_fake_classname_tags123_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/.openapi-generator/FILES
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/docs/FakeClassnameTags123Api.md
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/fake_classname_tags123_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/apis/__init__.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/test/test_fake_classname_tags123_api.py
  samples/openapi3/client/petstore/python-legacy/.openapi-generator/FILES
  samples/openapi3/client/petstore/python-legacy/petstore_api/__init__.py
  samples/openapi3/client/petstore/python-legacy/petstore_api/api/__init__.py
  samples/openapi3/client/petstore/python-legacy/petstore_api/api/fake_classname_tags123_api.py
  samples/openapi3/client/petstore/python-legacy/test/test_fake_classname_tags123_api.py
  samples/openapi3/client/petstore/python/.openapi-generator/FILES
  samples/openapi3/client/petstore/python/docs/FakeClassnameTags123Api.md
  samples/openapi3/client/petstore/python/petstore_api/api/fake_classname_tags123_api.py
  samples/openapi3/client/petstore/python/petstore_api/apis/__init__.py
  samples/openapi3/client/petstore/python/test/test_fake_classname_tags123_api.py
Labels: Breaking change (without fallback), Client: Python, Issue: Bug

#11582 [PHP] Allows passing filename to deserialize
  modules/openapi-generator/src/main/resources/php/ObjectSerializer.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/ObjectSerializer.php
  samples/client/petstore/php/OpenAPIClient-php/tests/ObjectSerializerTest.php
Labels: Client: PHP, Enhancement: Feature

#11608 [Java/Spring] Decomission threetenbp support.
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/main/resources/JavaSpring/customInstantDeserializer.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/jacksonConfiguration.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-boot/pom.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-cloud/pom.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/openapiDocumentationConfig.mustache
  samples/openapi3/server/petstore/springboot-beanvalidation-no-nullable/src/main/java/org/openapitools/configuration/JacksonConfiguration.java
  samples/server/petstore/springboot-beanvalidation-no-nullable/src/main/java/org/openapitools/configuration/JacksonConfiguration.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern-without-j8/src/main/java/org/openapitools/configuration/JacksonConfiguration.java
  samples/server/petstore/springboot-spring-pageable-without-j8/src/main/java/org/openapitools/configuration/JacksonConfiguration.java
Labels: Server: Java, Server: Spring, Decommission

#11361 fix #6134 for okhttp-gson by considering the input type "List<File>" in ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache
  samples/client/others/java/okhttp-gson-streaming/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#11609 [java][Micronaut] avoid Double Brace Initialization (DBI)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaMicronautAbstractCodegen.java
Labels: Client: Java, Server: Java, Enhancement: Code Cleanup

#11606 [Java][RestTemplate] Use class level RestTemplate for uri encoding
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/ApiClient.mustache
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: General

#11612 [General] Better code format
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModel.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenProperty.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenResponse.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/AbstractJavaCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaModelTest.java
Labels: Enhancement: Code format

#11617 Support email validation in kotlin-spring
  modules/openapi-generator/src/main/resources/kotlin-spring/api.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/apiInterface.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/beanValidationModel.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/beanValidationPath.mustache
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/api/PetApi.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/api/StoreApi.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/api/UserApi.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/model/Category.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/api/PetApiController.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/api/StoreApiController.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/api/UserApiController.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/PetApiController.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/StoreApiController.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/UserApiController.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/PetApiController.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/StoreApiController.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/UserApiController.kt
Labels: Enhancement: General, Server: Kotlin

#11619 [kotlin] add missing import, better code format for kotlin generators
  .github/workflows/samples-kotlin-client.yaml
  .github/workflows/samples-kotlin-server.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinSpringServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinVertxServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KtormSchemaCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-spring/beanValidationModel.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/beanValidationPath.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/model.mustache
  pom.xml
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/model/Category.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/model/ModelApiResponse.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/model/Order.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/model/Pet.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/model/Tag.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/model/User.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/model/Category.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/model/ModelApiResponse.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/model/Order.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/model/Pet.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/model/Tag.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/model/User.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/Category.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/ModelApiResponse.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/Order.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/Pet.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/Tag.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/User.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/Category.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/ModelApiResponse.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/Order.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/Pet.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/Tag.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/model/User.kt
Labels: Client: Kotlin, Enhancement: CI/Test, Enhancement: Code format, Issue: Bug, Server: Kotlin

#10820 [java] No @NotNull annotation for readOnly (required) attributes
  modules/openapi-generator/src/main/resources/Java/beanValidation.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/beanValidation.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/beanValidation.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/spring/issue_5026-b.yaml
  modules/openapi-generator/src/test/resources/3_0/spring/issue_5026.yaml
Labels: Issue: Bug, Server: Java, Server: Spring

#11632 Migrate JAX-RS server tests to Github action
  .github/workflows/samples-jaxrs.yaml
  pom.xml
Labels: Enhancement: CI/Test, Server: Java

#11634 [Java] move some client tests to Github actions
  .github/workflows/samples-java-client-jdk11.yaml
  pom.xml
Labels: Client: Java, Enhancement: CI/Test

#11631 Update kotlin vertx server dependencies
  modules/openapi-generator/src/main/resources/kotlin-vertx-server/pom.mustache
  samples/server/petstore/kotlin-vertx-modelMutable/pom.xml
  samples/server/petstore/kotlin/vertx/pom.xml
Labels: Enhancement: Compatibility, Server: Kotlin

#11548 [Protobuf-Schema] Add enum prefix
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ProtobufSchemaCodegen.java
  samples/config/petstore/protobuf-schema/models/order.proto
  samples/config/petstore/protobuf-schema/models/pet.proto
Labels: Enhancement: Feature, Feature: Enum, Schema: ProtoBuf

#11523 typescript-fetch: Support deprecated parameters, operations
  modules/openapi-generator/src/main/resources/typescript-fetch/apis.mustache
  modules/openapi-generator/src/main/resources/typescript-fetch/modelGenericInterfaces.mustache
Labels: Client: TypeScript, Enhancement: General

#11645 Remove go-deprecated generator
  docs/generators.md
  docs/generators/flash-deprecated.md
  docs/generators/go-deprecated.md
  docs/generators/kotlin-server-deprecated.md
  docs/generators/php-silex-deprecated.md
  docs/generators/typescript-angularjs-deprecated.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoDeprecatedClientCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/test/java/org/openapitools/codegen/go/GoClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/go/GoClientOptionsTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/go/GoModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/GoClientOptionsProvider.java
Labels: Client: Go, Decommission

#11643 [java] enhance unit tests for JavaJerseyServerCodegen
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/jaxrs/JavaJerseyServerCodegenTest.java
Labels: Enhancement: CI/Test, Server: Java

#11641 Remove dummy variable declaration for context.Context from generated go code
  modules/openapi-generator/src/main/resources/go/api.mustache
  samples/client/petstore/go/go-petstore/api_another_fake.go
  samples/client/petstore/go/go-petstore/api_fake.go
  samples/client/petstore/go/go-petstore/api_fake_classname_tags123.go
  samples/client/petstore/go/go-petstore/api_pet.go
  samples/client/petstore/go/go-petstore/api_store.go
  samples/client/petstore/go/go-petstore/api_user.go
  samples/client/petstore/go/go.mod
  samples/client/petstore/go/go.sum
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/api_usage.go
  samples/openapi3/client/petstore/go/go-petstore/api_another_fake.go
  samples/openapi3/client/petstore/go/go-petstore/api_default.go
  samples/openapi3/client/petstore/go/go-petstore/api_fake.go
  samples/openapi3/client/petstore/go/go-petstore/api_fake_classname_tags123.go
  samples/openapi3/client/petstore/go/go-petstore/api_pet.go
  samples/openapi3/client/petstore/go/go-petstore/api_store.go
  samples/openapi3/client/petstore/go/go-petstore/api_user.go
Labels: Client: Go, Enhancement: Code Cleanup

#11640 [Java][Native] Fix an issue leading to an altered String parameter when consuming formatted strings like XML
  modules/openapi-generator/src/main/resources/Java/libraries/native/api.mustache
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/FakeApi.java
Labels: Client: Java, Issue: Bug

#11525 [Python] python regex validation generation
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonLegacyClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonClientTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonLegacyClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_11521.yaml
Labels: Client: Python

#10619 [Csharp][aspnet] Aspnet 6.0 Support
  docs/generators/aspnetcore.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetCoreServerCodegen.java
Labels: Enhancement: Compatibility, Server: C-Sharp

#11662 Better code format in c#, aspnet generators
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetCoreServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
Labels: Client: C-Sharp, Enhancement: Code format, Server: C-Sharp

#11663 Add tests for Aspnet 6, minor bug fixes
  .github/workflows/samples-dotnet.yaml
  bin/configs/aspnetcore-6.0.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetCoreServerCodegen.java
  samples/server/petstore/aspnetcore-6.0/.openapi-generator-ignore
  samples/server/petstore/aspnetcore-6.0/.openapi-generator/FILES
  samples/server/petstore/aspnetcore-6.0/.openapi-generator/VERSION
  samples/server/petstore/aspnetcore-6.0/Org.OpenAPITools.sln
  samples/server/petstore/aspnetcore-6.0/README.md
  samples/server/petstore/aspnetcore-6.0/build.bat
  samples/server/petstore/aspnetcore-6.0/build.sh
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/.gitignore
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/Attributes/ValidateModelStateAttribute.cs
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/Authentication/ApiAuthentication.cs
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/Controllers/PetApi.cs
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/Controllers/StoreApi.cs
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/Controllers/UserApi.cs
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/Converters/CustomEnumConverter.cs
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/Dockerfile
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/Filters/BasePathFilter.cs
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/Filters/GeneratePathParamsValidationFilter.cs
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/Formatters/InputFormatterStream.cs
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/Models/ApiResponse.cs
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/Models/Category.cs
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/Models/Order.cs
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/Models/Pet.cs
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/Models/Tag.cs
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/Models/User.cs
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/OpenApi/TypeExtensions.cs
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/Program.cs
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/Properties/launchSettings.json
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/Startup.cs
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/appsettings.json
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/wwwroot/README.md
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/wwwroot/index.html
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/wwwroot/openapi-original.json
Labels: Enhancement: Compatibility, Server: C-Sharp

#11658 [java] openapi-generator-maven-plugin: add jaxrs-jersey2 test
  modules/openapi-generator-maven-plugin/README.md
  modules/openapi-generator-maven-plugin/pom.xml
  modules/openapi-generator-maven-plugin/src/it/jaxrs-jersey2/invoker.properties
  modules/openapi-generator-maven-plugin/src/it/jaxrs-jersey2/pom.xml
  modules/openapi-generator-maven-plugin/src/it/jaxrs-jersey2/templates/README.mustache
  modules/openapi-generator-maven-plugin/src/it/jaxrs-jersey2/verify.groovy
Labels: Enhancement: CI/Test, Server: Java

#11659 [java] logback 1.2.10
  modules/openapi-generator-cli/pom.xml
  modules/openapi-generator/src/main/resources/Java/libraries/feign/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/pom.mustache
  modules/openapi-generator/src/main/resources/JavaInflector/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-ext/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-ext/server/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/server/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/pom.mustache
  modules/openapi-generator/src/main/resources/java-pkmst/pom.mustache
  samples/client/petstore/java/feign-no-nullable/pom.xml
  samples/client/petstore/java/feign/pom.xml
  samples/client/petstore/java/microprofile-rest-client/pom.xml
  samples/client/petstore/jaxrs-cxf-client-jackson/pom.xml
  samples/client/petstore/jaxrs-cxf-client/pom.xml
  samples/openapi3/client/petstore/jaxrs-cxf-client-jackson-nullable/pom.xml
  samples/server/petstore/java-inflector/pom.xml
  samples/server/petstore/java-pkmst/pom.xml
  samples/server/petstore/jaxrs-cxf-annotated-base-path/pom.xml
  samples/server/petstore/jaxrs-cxf-non-spring-app/pom.xml
  samples/server/petstore/jaxrs-cxf/pom.xml
  samples/server/petstore/jaxrs-datelib-j8/pom.xml
  samples/server/petstore/jaxrs-jersey/pom.xml
  samples/server/petstore/jaxrs/jersey2-useTags/pom.xml
  samples/server/petstore/jaxrs/jersey2/pom.xml
Labels: Client: Java, Enhancement: Compatibility, Server: Java

#11669 jackson 2.13.1
  pom.xml
Labels: Enhancement: Compatibility

#11668 [java] jaxrs swagger-core 1.6.5
  modules/openapi-generator/src/main/resources/JavaJaxRS/pom.mustache
  samples/server/petstore/jaxrs-datelib-j8/pom.xml
  samples/server/petstore/jaxrs-jersey/pom.xml
  samples/server/petstore/jaxrs/jersey2-useTags/pom.xml
  samples/server/petstore/jaxrs/jersey2/pom.xml
Labels: Enhancement: Compatibility, Server: Java

#11653 [#11323] Fixed wrong clearing of CodegenModel#hasEnum field
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/spring/issue_11323.yml
Labels: Feature: Generator, Feature: Enum, Issue: Bug

#11677 rollback curl_list_free keyword
  modules/openapi-generator/src/main/resources/C-libcurl/apiClient.c.mustache
  modules/openapi-generator/src/main/resources/cpp-tizen-client/api-body.mustache
  modules/openapi-generator/src/main/resources/cpp-tizen-client/requestinfo.mustache
  samples/client/petstore/c/src/apiClient.c
  samples/client/petstore/cpp-tizen/src/PetManager.cpp
  samples/client/petstore/cpp-tizen/src/RequestInfo.h
  samples/client/petstore/cpp-tizen/src/StoreManager.cpp
  samples/client/petstore/cpp-tizen/src/UserManager.cpp
Labels: Issue: Regression, Client: C

#11682 [Java][native] Properly encode exploded query params in url
  modules/openapi-generator/src/main/resources/Java/libraries/native/api.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue4808.yaml
Labels: Client: Java, Issue: Bug

#11684 Add Model Docs to scala-akka generator as defined in its README
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaAkkaClientCodegen.java
  modules/openapi-generator/src/main/resources/scala-akka-client/class_doc.mustache
  modules/openapi-generator/src/main/resources/scala-akka-client/enum_doc.mustache
  modules/openapi-generator/src/main/resources/scala-akka-client/model_doc.mustache
  samples/client/petstore/scala-akka/.openapi-generator/FILES
  samples/client/petstore/scala-akka/README.md
  samples/client/petstore/scala-akka/docs/ApiResponse.md
  samples/client/petstore/scala-akka/docs/Category.md
  samples/client/petstore/scala-akka/docs/Order.md
  samples/client/petstore/scala-akka/docs/Pet.md
  samples/client/petstore/scala-akka/docs/Tag.md
  samples/client/petstore/scala-akka/docs/User.md
Labels: Client: Scala, Enhancement: Feature, Feature: Documentation

#11688 [java][native] fix build warning in javadoc
  modules/openapi-generator/src/main/resources/Java/libraries/native/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/JSON.mustache
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/JSON.java
Labels: Client: Java, Enhancement: Feature, Feature: Documentation

#11672 validate pom.xml files
  modules/openapi-generator/pom.xml
  modules/openapi-generator/src/test/java/org/openapitools/codegen/TestUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/jaxrs/JavaJerseyServerCodegenTest.java
  pom.xml
Labels: Enhancement: CI/Test

#11698 [swift5][client] remove apiResponseQueue in the clients that don't have any impact
  modules/openapi-generator/src/main/resources/swift5/api.mustache
  samples/client/petstore/swift5/asyncAwaitLibrary/PetstoreClient/Classes/OpenAPIs/APIs/AnotherFakeAPI.swift
  samples/client/petstore/swift5/asyncAwaitLibrary/PetstoreClient/Classes/OpenAPIs/APIs/FakeAPI.swift
  samples/client/petstore/swift5/asyncAwaitLibrary/PetstoreClient/Classes/OpenAPIs/APIs/FakeClassnameTags123API.swift
  samples/client/petstore/swift5/asyncAwaitLibrary/PetstoreClient/Classes/OpenAPIs/APIs/PetAPI.swift
  samples/client/petstore/swift5/asyncAwaitLibrary/PetstoreClient/Classes/OpenAPIs/APIs/StoreAPI.swift
  samples/client/petstore/swift5/asyncAwaitLibrary/PetstoreClient/Classes/OpenAPIs/APIs/UserAPI.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/APIs/AnotherFakeAPI.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/APIs/FakeAPI.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/APIs/FakeClassnameTags123API.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/APIs/PetAPI.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/APIs/StoreAPI.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/APIs/UserAPI.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/APIs/AnotherFakeAPI.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/APIs/FakeAPI.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/APIs/FakeClassnameTags123API.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/APIs/PetAPI.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/APIs/StoreAPI.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/APIs/UserAPI.swift
Labels: Client: Swift, Enhancement: Code Cleanup

#11702 [Play Framework] Fix sonarqube warnings / code smells from the generated code.
  modules/openapi-generator/src/main/resources/JavaPlayFramework/securityApiUtils.mustache
  samples/server/petstore/java-play-framework-api-package-override/app/openapitools/SecurityAPIUtils.java
  samples/server/petstore/java-play-framework-async/app/openapitools/SecurityAPIUtils.java
  samples/server/petstore/java-play-framework-controller-only/app/openapitools/SecurityAPIUtils.java
  samples/server/petstore/java-play-framework-fake-endpoints-with-security/app/openapitools/SecurityAPIUtils.java
  samples/server/petstore/java-play-framework-fake-endpoints/app/openapitools/SecurityAPIUtils.java
  samples/server/petstore/java-play-framework-no-bean-validation/app/openapitools/SecurityAPIUtils.java
  samples/server/petstore/java-play-framework-no-exception-handling/app/openapitools/SecurityAPIUtils.java
  samples/server/petstore/java-play-framework-no-interface/app/openapitools/SecurityAPIUtils.java
  samples/server/petstore/java-play-framework-no-nullable/app/openapitools/SecurityAPIUtils.java
  samples/server/petstore/java-play-framework-no-swagger-ui/app/openapitools/SecurityAPIUtils.java
  samples/server/petstore/java-play-framework-no-wrap-calls/app/openapitools/SecurityAPIUtils.java
  samples/server/petstore/java-play-framework/app/openapitools/SecurityAPIUtils.java
Labels: Server: Java, Enhancement: Code Cleanup

#10782 [Python] remove default content-type in the request
  modules/openapi-generator/src/main/resources/python-legacy/api.mustache
  modules/openapi-generator/src/main/resources/python-legacy/api_client.mustache
  modules/openapi-generator/src/main/resources/python/api_client.mustache
  samples/client/petstore/python-asyncio/petstore_api/api/another_fake_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/fake_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/fake_classname_tags123_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/pet_api.py
  samples/client/petstore/python-asyncio/petstore_api/api_client.py
  samples/client/petstore/python-legacy/petstore_api/api/another_fake_api.py
  samples/client/petstore/python-legacy/petstore_api/api/fake_api.py
  samples/client/petstore/python-legacy/petstore_api/api/fake_classname_tags123_api.py
  samples/client/petstore/python-legacy/petstore_api/api/pet_api.py
  samples/client/petstore/python-legacy/petstore_api/api_client.py
  samples/client/petstore/python-legacy/tests/test_api_client.py
  samples/client/petstore/python-tornado/petstore_api/api/another_fake_api.py
  samples/client/petstore/python-tornado/petstore_api/api/fake_api.py
  samples/client/petstore/python-tornado/petstore_api/api/fake_classname_tags123_api.py
  samples/client/petstore/python-tornado/petstore_api/api/pet_api.py
  samples/client/petstore/python-tornado/petstore_api/api_client.py
  samples/client/petstore/python/petstore_api/api_client.py
  samples/client/petstore/python/tests/test_api_client.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api_client.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/tests/test_api_client.py
  samples/openapi3/client/extensions/x-auth-id-alias/python/x_auth_id_alias/api_client.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/api_client.py
  samples/openapi3/client/petstore/python-legacy/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python-legacy/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-legacy/petstore_api/api/fake_classname_tags123_api.py
  samples/openapi3/client/petstore/python-legacy/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python-legacy/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python-legacy/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python-legacy/petstore_api/api_client.py
  samples/openapi3/client/petstore/python/petstore_api/api_client.py
Labels: Client: Python, Issue: Bug

#11706 Add test for RFC3999DateFormat clone method
  samples/client/petstore/java/jersey2-java8/src/test/java/org/openapitools/client/ApiClientTest.java
Labels: Client: Java, Enhancement: CI/Test

#11699 [java native] Support arrays in QueryParameters deepObject style
  modules/openapi-generator/src/main/resources/Java/libraries/native/api.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientDeepObjectTest.java
  modules/openapi-generator/src/test/resources/3_0/deepobject.yaml
Labels: Client: Java, Enhancement: General

#11714 [csharp][netcore] Update Polly to newer version 7.2.3
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/README.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/netcore_project.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/nuspec.mustache
  samples/client/others/csharp-netcore-complex-files/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Org.OpenAPITools.csproj
Labels: Client: C-Sharp, Enhancement: Compatibility

#11713 Fix Perl client header params
  modules/openapi-generator/src/main/resources/perl/ApiClient.mustache
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/ApiClient.pm
Labels: Client: Perl, Issue: Bug

#11695 [kotlin-spring] fix #9902 use coroutine Flow for arrays in delegate when reactive=true
  modules/openapi-generator/src/main/resources/kotlin-spring/apiDelegate.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/spring/KotlinSpringServerCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/kotlin/issue7325-use-delegate-reactive-tags-kotlin.yaml
Labels: Issue: Bug, Server: Kotlin

#11627 9904 Fix double quoting default values in Kotlin Spring
  modules/openapi-generator/src/main/resources/kotlin-spring/queryParams.mustache
Labels: Issue: Bug, Server: Kotlin

#11709 Support validation for arrays for JavaJaxRS and a test to validate th…
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/beanValidatedType.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/pojo.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/jaxrs/JavaJAXRSSpecServerCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/deepobject-array-with-pattern.yaml
Labels: Enhancement: General, Server: Java

#11692 Expose proxy settings for Ruby Faraday
  modules/openapi-generator/src/main/resources/ruby-client/api_client_faraday_partial.mustache
  modules/openapi-generator/src/main/resources/ruby-client/configuration_tls_faraday_partial.mustache
Labels: Client: Ruby, Enhancement: Feature

#11490 [C++] Simplify forward declaration detection
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCppCodegen.java
  samples/client/petstore/cpp-qt/client/PFXPet.h
  samples/client/petstore/cpp-restsdk/client/include/CppRestPetstoreClient/model/Pet.h
Labels: Client: C++, Enhancement: General

#11594 Bug Fix: Cast from QByteArray to std::runtime_error
  modules/openapi-generator/src/main/resources/cpp-qt-client/ServerConfiguration.mustache
Labels: Client: C++, Issue: Bug

#11735 Fix oneOf discriminator lookup in java okhttp-gson client
  bin/configs/java-okhttp-gson.yaml
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/oneof_model.mustache
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/Mammal.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/NullableShape.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/Pig.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/Quadrilateral.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/Shape.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/ShapeOrNull.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/Triangle.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/JSONTest.java
Labels: Client: Java, Issue: Bug

#11736 [Java] Add useOneOfDiscriminatorLookup option
  docs/generators/java.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
Labels: Client: Java, Enhancement: Feature, Feature: Documentation

#11737 Update maven-javadoc-plugin to newer version
  modules/openapi-generator/src/main/resources/Java/libraries/apache-httpclient/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/rest-assured/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/pom.mustache
  modules/openapi-generator/src/main/resources/Java/pom.mustache
  modules/openapi-generator/src/main/resources/scala-akka-client/pom.mustache
  pom.xml
  samples/client/others/java/okhttp-gson-streaming/pom.xml
  samples/client/petstore/java/apache-httpclient/pom.xml
  samples/client/petstore/java/feign-no-nullable/pom.xml
  samples/client/petstore/java/feign/pom.xml
  samples/client/petstore/java/google-api-client/pom.xml
  samples/client/petstore/java/jersey1/pom.xml
  samples/client/petstore/java/jersey2-java8-localdatetime/pom.xml
  samples/client/petstore/java/jersey2-java8/pom.xml
  samples/client/petstore/java/native-async/pom.xml
  samples/client/petstore/java/native/pom.xml
  samples/client/petstore/java/okhttp-gson-dynamicOperations/pom.xml
  samples/client/petstore/java/okhttp-gson-parcelableModel/pom.xml
  samples/client/petstore/java/okhttp-gson/pom.xml
  samples/client/petstore/java/rest-assured-jackson/pom.xml
  samples/client/petstore/java/rest-assured/pom.xml
  samples/client/petstore/java/resteasy/pom.xml
  samples/client/petstore/java/resttemplate-withXml/pom.xml
  samples/client/petstore/java/resttemplate/pom.xml
  samples/client/petstore/java/retrofit2-play26/pom.xml
  samples/client/petstore/java/retrofit2/pom.xml
  samples/client/petstore/java/retrofit2rx2/pom.xml
  samples/client/petstore/java/retrofit2rx3/pom.xml
  samples/client/petstore/java/vertx-no-nullable/pom.xml
  samples/client/petstore/java/vertx/pom.xml
  samples/openapi3/client/extensions/x-auth-id-alias/java/jersey2-java8/pom.xml
  samples/openapi3/client/petstore/java/jersey2-java8-special-characters/pom.xml
  samples/openapi3/client/petstore/java/jersey2-java8/pom.xml
Labels: Client: Java, Enhancement: Compatibility

#11738 [Java] Java class assert
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/assertions/AbstractAnnotationAssert.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/assertions/JavaFileAssert.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/assertions/MethodAnnotationAssert.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/assertions/MethodAssert.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/assertions/ParameterAnnotationAssert.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/assertions/ParameterAssert.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/assertions/PropertyAnnotationAssert.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/assertions/PropertyAssert.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/assertions/TypeAnnotationAssert.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
Labels: Enhancement: CI/Test
