Repository OpenAPITools/openapi-generator, pull requests merged in 2022-11, with the labels that each got.

#13656 [JAVA] [NATIVE] Fix exploded query parameters with array property
  modules/openapi-generator/src/main/resources/Java/libraries/native/api.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/exploded-query-param-array.yaml
Labels: Client: Java, Issue: Bug

#13872 Upgrade CommonMark dependency to v0.20.0
  modules/openapi-generator/pom.xml
Labels: Enhancement: Compatibility

#13868 [PHP] Accept 0 as value for query parameters
  modules/openapi-generator/src/main/resources/php/ObjectSerializer.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/ObjectSerializer.php
  samples/client/petstore/php/OpenAPIClient-php/tests/ObjectSerializerTest.php
Labels: Client: PHP, Issue: Bug

#13881 Update project dependencies - root, openapi-generator
  modules/openapi-generator/pom.xml
  pom.xml
Labels: Enhancement: Compatibility, Feature: Generator

#13894 [RUBY] handle Faraday::ConnectionFailed api error
  modules/openapi-generator/src/main/resources/ruby-client/api_client_faraday_partial.mustache
  samples/client/petstore/ruby-faraday/lib/petstore/api_client.rb
Labels: Client: Ruby, Issue: Bug

#13874 [Elixir] Fixes issue with maps/dictionary not present in payload
  modules/openapi-generator/src/main/resources/elixir/deserializer.ex.mustache
  samples/client/petstore/elixir/lib/openapi_petstore/deserializer.ex
Labels: Client: Elixir, Issue: Bug

#13899 Update maven plugin, online generator dependencies
  modules/openapi-generator-maven-plugin/pom.xml
  modules/openapi-generator-online/pom.xml
Labels: Enhancement: Compatibility, OpenAPI Generator Maven Plugin, OpenAPI Generator Online

#13884 [C][Client] Check cJSON_IsNull when the data type is datetime
  modules/openapi-generator/src/main/resources/C-libcurl/model-body.mustache
  samples/client/petstore/c/model/order.c
Labels: Issue: Bug, Client: C

#13913 Add array tests to java okhttp-gson client
  bin/utils/test_file_list.yaml
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/ClientTest.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/JSONTest.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/StringUtilTest.java
Labels: Client: Java, Enhancement: CI/Test

#13926 [python] fixes multipart/form-data bug
  modules/openapi-generator/src/main/resources/python/api_client.handlebars
  samples/openapi3/client/3_0_3_unit_test/python/unit_test_api/api_client.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/api_client.py
  samples/openapi3/client/petstore/python/petstore_api/api_client.py
  samples/openapi3/client/petstore/python/tests_manual/test_fake_api.py
  samples/openapi3/client/petstore/python/tests_manual/test_paths/test_pet_pet_id/test_post.py
  samples/openapi3/client/petstore/python/tests_manual/test_request_body.py
Labels: Client: Python

#13930 Better error check if discriminator value is null in r client
  modules/openapi-generator/src/main/resources/r/modelAnyOf.mustache
  modules/openapi-generator/src/main/resources/r/modelOneOf.mustache
  samples/client/petstore/R-httr2-wrapper/R/any_of_pig.R
  samples/client/petstore/R-httr2-wrapper/R/any_of_primitive_type_test.R
  samples/client/petstore/R-httr2-wrapper/R/mammal.R
  samples/client/petstore/R-httr2-wrapper/R/one_of_primitive_type_test.R
  samples/client/petstore/R-httr2-wrapper/R/pig.R
  samples/client/petstore/R-httr2-wrapper/tests/testthat/test_petstore.R
  samples/client/petstore/R-httr2/R/any_of_pig.R
  samples/client/petstore/R-httr2/R/any_of_primitive_type_test.R
  samples/client/petstore/R-httr2/R/mammal.R
  samples/client/petstore/R-httr2/R/one_of_primitive_type_test.R
  samples/client/petstore/R-httr2/R/pig.R
  samples/client/petstore/R-httr2/tests/testthat/test_petstore.R
  samples/client/petstore/R/R/any_of_pig.R
  samples/client/petstore/R/R/any_of_primitive_type_test.R
  samples/client/petstore/R/R/mammal.R
  samples/client/petstore/R/R/one_of_primitive_type_test.R
  samples/client/petstore/R/R/pig.R
  samples/client/petstore/R/tests/testthat/test_petstore.R
Labels: Client: R, Enhancement: General

#13922 [Python] pass api_client configuration to model deserialize
  modules/openapi-generator/src/main/resources/python-legacy/api_client.mustache
  samples/client/petstore/python-asyncio/petstore_api/api_client.py
  samples/client/petstore/python-legacy/petstore_api/api_client.py
  samples/client/petstore/python-tornado/petstore_api/api_client.py
  samples/openapi3/client/petstore/python-legacy/petstore_api/api_client.py
Labels: Client: Python

#13727 #13726 Introduce new remoteInputSpec parameter
  modules/openapi-generator-gradle-plugin/README.adoc
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/OpenApiGeneratorPlugin.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/extensions/OpenApiGeneratorGenerateExtension.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
  modules/openapi-generator-gradle-plugin/src/test/kotlin/GenerateTaskDslTest.kt
Labels: Enhancement: Feature, OpenAPI Generator Gradle Plugin

#13940 [Go][client] better code format, regenerate go client tests
  modules/openapi-generator/src/main/resources/go/api_test.mustache
  modules/openapi-generator/src/main/resources/go/client.mustache
  modules/openapi-generator/src/main/resources/go/model_oneof.mustache
  modules/openapi-generator/src/main/resources/go/model_simple.mustache
  modules/openapi-generator/src/main/resources/go/utils.mustache
  samples/client/petstore/go/go-petstore/client.go
  samples/client/petstore/go/go-petstore/model_animal.go
  samples/client/petstore/go/go-petstore/model_category.go
  samples/client/petstore/go/go-petstore/model_enum_test_.go
  samples/client/petstore/go/go-petstore/model_format_test_.go
  samples/client/petstore/go/go-petstore/model_name.go
  samples/client/petstore/go/go-petstore/model_pet.go
  samples/client/petstore/go/go-petstore/model_type_holder_default.go
  samples/client/petstore/go/go-petstore/model_type_holder_example.go
  samples/client/petstore/go/go-petstore/utils.go
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/client.go
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/utils.go
  samples/openapi3/client/petstore/go/go-petstore/client.go
  samples/openapi3/client/petstore/go/go-petstore/model_animal.go
  samples/openapi3/client/petstore/go/go-petstore/model_apple_req.go
  samples/openapi3/client/petstore/go/go-petstore/model_banana_req.go
  samples/openapi3/client/petstore/go/go-petstore/model_category.go
  samples/openapi3/client/petstore/go/go-petstore/model_duplicated_prop_parent.go
  samples/openapi3/client/petstore/go/go-petstore/model_enum_test_.go
  samples/openapi3/client/petstore/go/go-petstore/model_format_test_.go
  samples/openapi3/client/petstore/go/go-petstore/model_name.go
  samples/openapi3/client/petstore/go/go-petstore/model_pet.go
  samples/openapi3/client/petstore/go/go-petstore/model_whale.go
  samples/openapi3/client/petstore/go/go-petstore/model_zebra.go
  samples/openapi3/client/petstore/go/go-petstore/test/api_another_fake_test.go
  samples/openapi3/client/petstore/go/go-petstore/test/api_default_test.go
  samples/openapi3/client/petstore/go/go-petstore/test/api_fake_classname_tags123_test.go
  samples/openapi3/client/petstore/go/go-petstore/test/api_fake_test.go
  samples/openapi3/client/petstore/go/go-petstore/test/api_pet_test.go
  samples/openapi3/client/petstore/go/go-petstore/test/api_store_test.go
  samples/openapi3/client/petstore/go/go-petstore/test/api_user_test.go
  samples/openapi3/client/petstore/go/go-petstore/utils.go
  samples/openapi3/client/petstore/go/go.mod
  samples/openapi3/client/petstore/go/go.sum
Labels: Client: Go, Enhancement: CI/Test, Enhancement: Code format

#13945 [BUG][RUBY] Fix ruby faraday HTTP 0 issue without libcurl
  modules/openapi-generator/src/main/resources/ruby-client/api_client_faraday_partial.mustache
  samples/client/petstore/ruby-faraday/lib/petstore/api_client.rb
Labels: Client: Ruby, Issue: Bug

#13892 Add option to skip reusing inline schemas
  docs/customization.md
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/InlineModelResolver.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/InlineModelResolverTest.java
  modules/openapi-generator/src/test/resources/3_0/inline_model_resolver.yaml
Labels: Enhancement: Feature, Feature: Generator

#13880 Add isEnumRef, isEnumOrRef to CodegenProperty
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenProperty.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/resources/powershell/model_simple.mustache
  modules/openapi-generator/src/main/resources/r/modelGeneric.mustache
  modules/openapi-generator/src/main/resources/r/model_doc.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue-5676-enums.yaml
  samples/client/petstore/powershell/src/PSPetstore/Model/EnumTest.ps1
  samples/client/petstore/ruby-autoload/lib/petstore/models/outer_object_with_enum_property.rb
  samples/client/petstore/ruby-faraday/lib/petstore/models/outer_object_with_enum_property.rb
  samples/client/petstore/ruby/lib/petstore/models/outer_object_with_enum_property.rb
  samples/server/petstore/cpp-restbed/generated/3_0/model/OuterObjectWithEnumProperty.cpp
  samples/server/petstore/cpp-restbed/generated/3_0/model/OuterObjectWithEnumProperty.h
  samples/server/petstore/java-helidon-server/mp/src/main/java/org/openapitools/server/model/OuterObjectWithEnumProperty.java
  samples/server/petstore/java-helidon-server/se/src/main/java/org/openapitools/server/model/OuterObjectWithEnumProperty.java
  samples/server/petstore/java-undertow/src/main/java/org/openapitools/handler/PathHandlerInterface.java
  samples/server/petstore/jaxrs-jersey/src/gen/java/org/openapitools/model/OuterObjectWithEnumProperty.java
Labels: Enhancement: Feature, Feature: Generator, Feature: Enum

#13985 [python] fixes enum naming bug
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonClientTest.java
  modules/openapi-generator/src/test/resources/3_0/13942_schema_enum_names.yaml
Labels: Client: Python

#13766 [jaxrs-cxf-cdi] use jackson for enum serialization
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-cdi/enumClass.mustache
  samples/server/petstore/jaxrs-cxf-cdi/src/gen/java/org/openapitools/model/Order.java
  samples/server/petstore/jaxrs-cxf-cdi/src/gen/java/org/openapitools/model/Pet.java
Labels: Enhancement: Feature, Feature: Enum, Server: Java

#13996 [python] fixes bug where v2 specs generate clients when they should not
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonClientTest.java
Labels: Client: Python

#13990 Add tests for rust reqwest middleware client
  .github/workflows/samples-rust.yaml
  pom.xml
  samples/client/petstore/rust/reqwest/petstore-async-middleware/pom.xml
Labels: Client: Rust, Enhancement: CI/Test, Server: Rust

#14002 Update Ruby minimum version to 2.7
  modules/openapi-generator/src/main/resources/ruby-client/gemspec.mustache
  modules/openapi-generator/src/main/resources/ruby-client/gitlab-ci.mustache
  modules/openapi-generator/src/main/resources/ruby-client/travis.mustache
  pom.xml
  samples/client/petstore/ruby-autoload/.gitlab-ci.yml
  samples/client/petstore/ruby-autoload/.travis.yml
  samples/client/petstore/ruby-autoload/petstore.gemspec
  samples/client/petstore/ruby-faraday/.gitlab-ci.yml
  samples/client/petstore/ruby-faraday/.travis.yml
  samples/client/petstore/ruby-faraday/petstore.gemspec
  samples/client/petstore/ruby/.gitlab-ci.yml
  samples/client/petstore/ruby/.travis.yml
  samples/client/petstore/ruby/petstore.gemspec
  samples/openapi3/client/extensions/x-auth-id-alias/ruby-client/.gitlab-ci.yml
  samples/openapi3/client/extensions/x-auth-id-alias/ruby-client/.travis.yml
  samples/openapi3/client/extensions/x-auth-id-alias/ruby-client/x_auth_id_alias.gemspec
  samples/openapi3/client/features/dynamic-servers/ruby/.gitlab-ci.yml
  samples/openapi3/client/features/dynamic-servers/ruby/.travis.yml
  samples/openapi3/client/features/dynamic-servers/ruby/dynamic_servers.gemspec
  samples/openapi3/client/features/generate-alias-as-model/ruby-client/.gitlab-ci.yml
  samples/openapi3/client/features/generate-alias-as-model/ruby-client/.travis.yml
  samples/openapi3/client/features/generate-alias-as-model/ruby-client/petstore.gemspec
Labels: Client: Ruby, Enhancement: Compatibility

#14015 Fix invalid Python import for qualified package name
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonClientTest.java
Labels: Client: Python

#14014 Don't cast list to tuple in python-prior binding
  modules/openapi-generator/src/main/resources/python-prior/api_client.mustache
  samples/client/petstore/python-prior/petstore_api/api_client.py
  samples/client/petstore/python-prior_disallowAdditionalPropertiesIfNotPresent/petstore_api/api_client.py
  samples/openapi3/client/extensions/x-auth-id-alias/python-prior/x_auth_id_alias/api_client.py
  samples/openapi3/client/petstore/python-prior/petstore_api/api_client.py
  samples/openapi3/client/petstore/python-prior/tests_manual/test_fake_api.py
Labels: Client: Python

#14048 [JAVA][RETROFIT2] Include java.util.Set in fullJavaUtil imports
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/api.mustache
  samples/client/petstore/java/retrofit2/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/retrofit2/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/retrofit2/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/retrofit2/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/retrofit2/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/retrofit2/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/retrofit2rx2/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/retrofit2rx2/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/retrofit2rx2/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/retrofit2rx2/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/retrofit2rx2/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/retrofit2rx2/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/retrofit2rx3/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/retrofit2rx3/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/retrofit2rx3/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/retrofit2rx3/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/retrofit2rx3/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/retrofit2rx3/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Enhancement: General

#13993 [Java][Native] handle empty response body
  modules/openapi-generator/src/main/resources/Java/libraries/native/api.mustache
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Issue: Bug

#14003 [csharp-netcore] Removed net5, added net7
  .github/workflows/samples-dotnet.yaml
  bin/configs/csharp-netcore-OpenAPIClient-generichost-netcore5.0-nrt.yaml
  bin/configs/csharp-netcore-OpenAPIClient-generichost-netcore5.0.yaml
  bin/configs/csharp-netcore-OpenAPIClient-net50.yaml
  docs/generators/csharp-netcore.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/docs/FakeApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/docs/PetApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
Labels: Client: C-Sharp, Enhancement: Compatibility, Decommission

#14067 [python] Issue 13997 fix pass in model instances to new
  modules/openapi-generator/src/main/resources/python/schemas.handlebars
  samples/openapi3/client/3_0_3_unit_test/python/unit_test_api/schemas.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/schemas.py
  samples/openapi3/client/petstore/python/petstore_api/schemas.py
  samples/openapi3/client/petstore/python/tests_manual/test_pet.py
Labels: Client: Python

#14043 Migrate python-prior/tests_manual/ to pathlib
  samples/openapi3/client/petstore/python-prior/tests_manual/test_api_validation.py
  samples/openapi3/client/petstore/python-prior/tests_manual/test_deserialization.py
  samples/openapi3/client/petstore/python-prior/tests_manual/test_fake_api.py
  samples/openapi3/client/petstore/python-prior/tests_manual/test_http_signature.py
Labels: Client: Python

#13786 [csharp-netcore] Fixed circular references in composed properties
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
Labels: Client: C-Sharp, Issue: Bug

#14056 [cpp-qt-client] Fix warnings
  modules/openapi-generator/src/main/resources/cpp-qt-client/oauth.cpp.mustache
  samples/client/petstore/cpp-qt/client/PFXOauth.cpp
Labels: Client: C++, Enhancement: General

#14066 [Go] Trim Client Error Message White Space
  modules/openapi-generator/src/main/resources/go/client.mustache
  samples/client/petstore/go/go-petstore/client.go
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/client.go
  samples/openapi3/client/petstore/go/go-petstore/client.go
Labels: Client: Go, Enhancement: Code format

#13659 Cleanup outputDir before openApiGenerate
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/OpenApiGeneratorPlugin.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/extensions/OpenApiGeneratorGenerateExtension.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
  modules/openapi-generator-gradle-plugin/src/test/kotlin/GenerateTaskDslTest.kt
Labels: Enhancement: Feature, OpenAPI Generator Gradle Plugin

#14097 Minor improvements to Gradle plugin
  modules/openapi-generator-gradle-plugin/README.adoc
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
  modules/openapi-generator-gradle-plugin/src/test/kotlin/GenerateTaskDslTest.kt
Labels: Enhancement: General, OpenAPI Generator Gradle Plugin

#14098 Update test, suppress warnings in Java apache-httpclient
  modules/openapi-generator/src/main/resources/Java/libraries/apache-httpclient/ApiClient.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/apachehttpclient/ApacheHttpClientCodegenTest.java
  samples/client/petstore/java/apache-httpclient/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: CI/Test, Enhancement: Code format

#14081 [Go] Fix generated client tests when there is no response body
  modules/openapi-generator/src/main/resources/go/api_test.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/go/GoClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/go/petstore-with-no-response-body.yaml
Labels: Client: Go, Enhancement: CI/Test

#14102 [python] fixes addProps sometimes breaks
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonClientTest.java
Labels: Client: Python

#14093 Upgrade typescript-axios from 0.26.1 to 0.27.2
  modules/openapi-generator/src/main/resources/typescript-axios/package.mustache
  samples/client/petstore/typescript-axios/builds/es6-target/package.json
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/package.json
  samples/client/petstore/typescript-axios/builds/with-npm-version/package.json
Labels: Client: TypeScript, Enhancement: Compatibility

#14110 [Java][native][apache-httpclient] update dependencies to newer versions
  modules/openapi-generator/src/main/resources/Java/libraries/apache-httpclient/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/apache-httpclient/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/pom.mustache
  samples/client/petstore/java/apache-httpclient/build.gradle
  samples/client/petstore/java/apache-httpclient/pom.xml
  samples/client/petstore/java/native-async/build.gradle
  samples/client/petstore/java/native-async/pom.xml
  samples/client/petstore/java/native/build.gradle
  samples/client/petstore/java/native/pom.xml
Labels: Client: Java, Enhancement: Compatibility

#13941 put back missing import for NotNull annotation in #13365 fix #13885
  modules/openapi-generator/src/main/resources/JavaSpring/model.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
Labels: Issue: Bug, Server: Java, Server: Spring

#14117 [PHP] better PHP symfony test
  .github/workflows/samples-php8.yaml
  bin/configs/php-symfony-SymfonyBundle-php.yaml
  modules/openapi-generator/src/test/resources/3_0/php-symfony/petstore.yaml
  samples/server/petstore/php-symfony/SymfonyBundle-php/.openapi-generator/FILES
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/EnumStringModel.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/README.md
  samples/server/petstore/php-symfony/SymfonyBundle-php/Tests/Model/EnumStringModelTest.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/docs/Model/EnumStringModel.md
Labels: Enhancement: CI/Test, Server: PHP

#14065 [Micronaut] Improving micronaut-model and micronaut-client generation
  docs/generators/java-micronaut-client.md
  docs/generators/java-micronaut-server.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaMicronautAbstractCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaMicronautClientCodegen.java
  modules/openapi-generator/src/main/resources/java-micronaut/client/api.mustache
  modules/openapi-generator/src/main/resources/java-micronaut/common/configuration/gradle/build.gradle.mustache
  modules/openapi-generator/src/main/resources/java-micronaut/common/configuration/pom.xml.mustache
  modules/openapi-generator/src/main/resources/java-micronaut/common/model/jackson_annotations.mustache
  modules/openapi-generator/src/main/resources/java-micronaut/common/model/pojo.mustache
  modules/openapi-generator/src/main/resources/java-micronaut/common/model/typeInfoAnnotation.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/micronaut/JavaMicronautClientCodegenSerializationLibraryTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/micronaut/MicronautClientCodegenTest.java
Labels: Client: Java, Enhancement: Feature, Server: Java

#14054 Initialize typeAliases in setOpenAPI
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/AbstractJavaCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/AbstractKotlinCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/php/AbstractPhpCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/typescriptnode/TypeScriptNodeClientCodegenTest.java
Labels: Enhancement: Feature, Feature: Generator

#14127 Fix build warning in Java Apache client
  modules/openapi-generator/src/main/resources/Java/libraries/apache-httpclient/ApiClient.mustache
  samples/client/petstore/java/apache-httpclient/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: Feature, Feature: Documentation

#14135 Update customization doc with better example on using the inline schema name mapping option
  docs/customization.md
Labels: Enhancement: Feature, Feature: Documentation

#14136 [java] Update jackson databind to newer versions
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/pom.mustache
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/supportFiles/pom.mustache
  modules/openapi-generator/src/main/resources/java-undertow-server/pom.mustache
  samples/client/petstore/java/resttemplate-swagger1/build.gradle
  samples/client/petstore/java/resttemplate-swagger1/pom.xml
  samples/client/petstore/java/resttemplate-withXml/build.gradle
  samples/client/petstore/java/resttemplate-withXml/pom.xml
  samples/client/petstore/java/resttemplate/build.gradle
  samples/client/petstore/java/resttemplate/pom.xml
  samples/server/petstore/java-undertow/pom.xml
  samples/server/petstore/java-vertx-web/pom.xml
Labels: Client: Java, Issue: Security

#14132 Better tests for Java native client
  .github/workflows/samples-java-client-echo-api-jdk11.yaml
  bin/configs/java-native-echo-api.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/native/api.mustache
  modules/openapi-generator/src/test/resources/3_0/echo_api.yaml
  samples/client/echo_api/java/native/.github/workflows/maven.yml
  samples/client/echo_api/java/native/.gitignore
  samples/client/echo_api/java/native/.openapi-generator-ignore
  samples/client/echo_api/java/native/.openapi-generator/FILES
  samples/client/echo_api/java/native/.openapi-generator/VERSION
  samples/client/echo_api/java/native/.travis.yml
  samples/client/echo_api/java/native/README.md
  samples/client/echo_api/java/native/api/openapi.yaml
  samples/client/echo_api/java/native/build.gradle
  samples/client/echo_api/java/native/build.sbt
  samples/client/echo_api/java/native/docs/Category.md
  samples/client/echo_api/java/native/docs/Pet.md
  samples/client/echo_api/java/native/docs/QueryApi.md
  samples/client/echo_api/java/native/docs/Tag.md
  samples/client/echo_api/java/native/docs/TestQueryStyleFormExplodeTrueArrayStringQueryObjectParameter.md
  samples/client/echo_api/java/native/git_push.sh
  samples/client/echo_api/java/native/gradle.properties
  samples/client/echo_api/java/native/gradle/wrapper/gradle-wrapper.jar
  samples/client/echo_api/java/native/gradle/wrapper/gradle-wrapper.properties
  samples/client/echo_api/java/native/gradlew
  samples/client/echo_api/java/native/gradlew.bat
  samples/client/echo_api/java/native/pom.xml
  samples/client/echo_api/java/native/settings.gradle
  samples/client/echo_api/java/native/src/main/AndroidManifest.xml
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/ApiException.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/ApiResponse.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/Configuration.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/JSON.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/Pair.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/RFC3339DateFormat.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/ServerVariable.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/QueryApi.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/model/AbstractOpenApiSchema.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/model/Category.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/model/Tag.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/model/TestQueryStyleFormExplodeTrueArrayStringQueryObjectParameter.java
  samples/client/echo_api/java/native/src/test/java/org/openapitools/client/CustomTest.java
  samples/client/echo_api/java/native/src/test/java/org/openapitools/client/EchoServerResponseParser.java
  samples/client/echo_api/java/native/src/test/java/org/openapitools/client/api/QueryApiTest.java
  samples/client/echo_api/java/native/src/test/java/org/openapitools/client/model/CategoryTest.java
  samples/client/echo_api/java/native/src/test/java/org/openapitools/client/model/PetTest.java
  samples/client/echo_api/java/native/src/test/java/org/openapitools/client/model/TagTest.java
  samples/client/echo_api/java/native/src/test/java/org/openapitools/client/model/TestQueryStyleFormExplodeTrueArrayStringQueryObjectParameterTest.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/DefaultApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Enhancement: CI/Test, Enhancement: Code format, Enhancement: General

#14019 [C][Client] Always send integer or boolean query parameters to the API server
  bin/configs/c.yaml
  modules/openapi-generator/src/main/resources/C-libcurl/api-body.mustache
  modules/openapi-generator/src/test/resources/2_0/c/petstore.yaml
  samples/client/petstore/c/README.md
  samples/client/petstore/c/api/UserAPI.c
  samples/client/petstore/c/api/UserAPI.h
  samples/client/petstore/c/docs/UserAPI.md
Labels: Issue: Bug, Client: C

#14139 [typescript-nest] fixes query parameter append bug
  modules/openapi-generator/src/main/resources/typescript-nestjs/api.service.mustache
  samples/client/petstore/typescript-nestjs-v6-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-nestjs-v6-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-nestjs-v8-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-nestjs-v8-provided-in-root/builds/default/api/user.service.ts
Labels: Client: TypeScript

#13662 [BUG] [client] [java] [native] [csharp-netcore] Multi use of schema params within deepobjects
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/native/api.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/api.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/csharpnetcore/CSharpNetCoreClientDeepObjectTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientDeepObjectTest.java
  modules/openapi-generator/src/test/resources/3_0/deepobject.yaml
Labels: Client: C-Sharp, Client: Java, Issue: Bug

#14142 Add tests to cover base name (deep object) bug
  modules/openapi-generator/src/test/java/org/openapitools/codegen/csharpnetcore/CSharpNetCoreClientDeepObjectTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientDeepObjectTest.java
  modules/openapi-generator/src/test/resources/3_0/deepobject.yaml
Labels: Enhancement: CI/Test

#13860 Use Gradle 7.6 to build Gradle plugin
  .travis.yml
  appveyor.yml
  modules/openapi-generator-gradle-plugin/README.adoc
  modules/openapi-generator-gradle-plugin/build.gradle
  modules/openapi-generator-gradle-plugin/gradle/wrapper/gradle-wrapper.jar
  modules/openapi-generator-gradle-plugin/gradle/wrapper/gradle-wrapper.properties
  modules/openapi-generator-gradle-plugin/gradlew
  modules/openapi-generator-gradle-plugin/gradlew.bat
  modules/openapi-generator-gradle-plugin/pom.xml
  modules/openapi-generator-gradle-plugin/settings.gradle
  modules/openapi-generator-gradle-plugin/src/test/kotlin/GenerateTaskFromCacheTest.kt
  modules/openapi-generator-gradle-plugin/src/test/kotlin/GenerateTaskUpToDateTest.kt
  shippable.yml
Labels: Enhancement: Compatibility, OpenAPI Generator Gradle Plugin

#14145 Cleanup Shippable CI config and file
  .travis.yml
  pom.xml
  shippable.yml
Labels: Enhancement: CI/Test

#14153 [python] Fixes Configuration w/ access_token at initialization
  modules/openapi-generator/src/main/resources/python/configuration.handlebars
  modules/openapi-generator/src/main/resources/python/doc_auth_partial.handlebars
  samples/openapi3/client/3_0_3_unit_test/python/unit_test_api/configuration.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/configuration.py
  samples/openapi3/client/petstore/python/docs/apis/tags/PetApi.md
  samples/openapi3/client/petstore/python/petstore_api/configuration.py
Labels: Client: Python
