Repository OpenAPITools/openapi-generator, pull requests merged in 2022-10, with the labels that each got.

#13572 [R] add for more tests for URL validation
  samples/client/petstore/R-httr2-wrapper/tests/testthat/test_petstore.R
Labels: Client: R, Enhancement: CI/Test

#13703 [Kotlin]Reducing code smells
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinServerDeprecatedCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinSpringServerCodegen.java
Labels: Client: Kotlin, Server: Kotlin, Enhancement: Code Cleanup

#13803 Revert "Fix #6899 - python-flask now uses the pre-existing getter/setter validators"
  modules/openapi-generator/src/main/resources/python-flask/model.mustache
  samples/server/petstore/python-flask/openapi_server/models/api_response.py
  samples/server/petstore/python-flask/openapi_server/models/category.py
  samples/server/petstore/python-flask/openapi_server/models/order.py
  samples/server/petstore/python-flask/openapi_server/models/pet.py
  samples/server/petstore/python-flask/openapi_server/models/tag.py
  samples/server/petstore/python-flask/openapi_server/models/user.py
Labels: Issue: Bug

#13819 [python] fixes required prop in composed schema, prop not in properties, addProps unset
  modules/openapi-generator/src/main/resources/python/model_templates/schema_composed_or_anytype.handlebars
Labels: Client: Python

#13823 Remove beta in faraday library support (ruby client)
  docs/generators/ruby.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RubyClientCodegen.java
Labels: Client: Ruby, Enhancement: General

#13769 [PHP] Allow selecting Content-Type
  modules/openapi-generator/src/main/resources/php/HeaderSelector.mustache
  modules/openapi-generator/src/main/resources/php/api.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/AnotherFakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/DefaultApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeClassnameTags123Api.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/PetApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/StoreApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/UserApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/HeaderSelector.php
  samples/client/petstore/php/OpenAPIClient-php/tests/HeaderSelectorTest.php
Labels: Client: PHP, Enhancement: General

#13820 Rust: Remove unused serde_yaml
  modules/openapi-generator/src/main/resources/rust/Cargo.mustache
  samples/client/petstore/rust/hyper/petstore/Cargo.toml
Labels: Client: Rust, Enhancement: Code Cleanup

#13824 Rust: Sync Cargo.toml project metadata attributes
  modules/openapi-generator/src/main/resources/rust-server/Cargo.mustache
  modules/openapi-generator/src/main/resources/rust/Cargo.mustache
  samples/client/petstore/rust/hyper/petstore/Cargo.toml
  samples/client/petstore/rust/reqwest/petstore-async/Cargo.toml
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/Cargo.toml
  samples/client/petstore/rust/reqwest/petstore/Cargo.toml
  samples/server/petstore/rust-server/output/multipart-v3/Cargo.toml
  samples/server/petstore/rust-server/output/no-example-v3/Cargo.toml
  samples/server/petstore/rust-server/output/openapi-v3/Cargo.toml
  samples/server/petstore/rust-server/output/ops-v3/Cargo.toml
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/Cargo.toml
  samples/server/petstore/rust-server/output/ping-bearer-auth/Cargo.toml
  samples/server/petstore/rust-server/output/rust-server-test/Cargo.toml
Labels: Client: Rust, Enhancement: General

#13349 [SPRING] Add converters for enums
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/main/resources/JavaSpring/converter.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/enum.yaml
  samples/openapi3/server/petstore/springboot-beanvalidation-no-nullable/.openapi-generator/FILES
  samples/openapi3/server/petstore/springboot-beanvalidation-no-nullable/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/openapi3/server/petstore/springboot-delegate/.openapi-generator/FILES
  samples/openapi3/server/petstore/springboot-delegate/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/openapi3/server/petstore/springboot-implicitHeaders/.openapi-generator/FILES
  samples/openapi3/server/petstore/springboot-implicitHeaders/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/openapi3/server/petstore/springboot-reactive/.openapi-generator/FILES
  samples/openapi3/server/petstore/springboot-reactive/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/openapi3/server/petstore/springboot-useoptional/.openapi-generator/FILES
  samples/openapi3/server/petstore/springboot-useoptional/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/server/petstore/springboot-beanvalidation-no-nullable/.openapi-generator/FILES
  samples/server/petstore/springboot-beanvalidation-no-nullable/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/server/petstore/springboot-beanvalidation/.openapi-generator/FILES
  samples/server/petstore/springboot-beanvalidation/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/server/petstore/springboot-delegate-j8/.openapi-generator/FILES
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/server/petstore/springboot-delegate/.openapi-generator/FILES
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/server/petstore/springboot-implicitHeaders/.openapi-generator/FILES
  samples/server/petstore/springboot-implicitHeaders/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/server/petstore/springboot-reactive/.openapi-generator/FILES
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern-without-j8/.openapi-generator/FILES
  samples/server/petstore/springboot-spring-pageable-delegatePattern-without-j8/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern/.openapi-generator/FILES
  samples/server/petstore/springboot-spring-pageable-delegatePattern/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/server/petstore/springboot-spring-pageable-without-j8/.openapi-generator/FILES
  samples/server/petstore/springboot-spring-pageable-without-j8/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/server/petstore/springboot-spring-pageable/.openapi-generator/FILES
  samples/server/petstore/springboot-spring-pageable/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/server/petstore/springboot-useoptional/.openapi-generator/FILES
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/server/petstore/springboot-virtualan/.openapi-generator/FILES
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/server/petstore/springboot/.openapi-generator/FILES
  samples/server/petstore/springboot/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
Labels: Enhancement: Feature, Feature: Enum, Server: Spring

#13864 [Java][okhttp-gson] Minor improvements
  modules/openapi-generator/src/main/resources/Java/ServerConfiguration.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/build.gradle.mustache
  samples/client/others/java/okhttp-gson-streaming/build.gradle
  samples/client/others/java/okhttp-gson-streaming/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/others/java/okhttp-gson-streaming/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/apache-httpclient/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/google-api-client/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/jersey1/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/jersey2-java8-localdatetime/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/jersey3/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/build.gradle
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/okhttp-gson-group-parameter/build.gradle
  samples/client/petstore/java/okhttp-gson-group-parameter/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-group-parameter/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/build.gradle
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/okhttp-gson/build.gradle
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/rest-assured-jackson/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/retrofit2-play26/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/retrofit2/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/retrofit2rx2/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/retrofit2rx3/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/vertx-no-nullable/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/webclient-nulable-arrays/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/openapi3/client/extensions/x-auth-id-alias/java/jersey2-java8/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/openapi3/client/petstore/java/jersey2-java8-special-characters/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ServerConfiguration.java
Labels: Client: Java, Enhancement: Code format, Enhancement: General, Enhancement: Code Cleanup

#13844 [PHP] handle properly multiple accept headers
  modules/openapi-generator/src/main/resources/php/HeaderSelector.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/HeaderSelector.php
  samples/client/petstore/php/OpenAPIClient-php/tests/HeaderSelectorTest.php
Labels: Client: PHP, Enhancement: General

#13828 Java jersey OAuth2 add support for public client
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/auth/OAuth.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey3/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey3/auth/OAuth.mustache
  samples/client/petstore/java/jersey2-java8-localdatetime/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java8-localdatetime/src/main/java/org/openapitools/client/auth/OAuth.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/auth/OAuth.java
  samples/client/petstore/java/jersey3/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey3/src/main/java/org/openapitools/client/auth/OAuth.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/auth/OAuth.java
Labels: Client: Java, Enhancement: General
