Repository OpenAPITools/openapi-generator, pull requests merged in 2022-01, with the labels that each got.

#11208 [scala-gatling] use the official Gradle plugin
  modules/openapi-generator/src/main/resources/scala-gatling/build.gradle
Labels: Client: Scala, Enhancement: Code Cleanup

#11210 [java][okhttp-gson-nextgen] Fix OAuth enum name
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson-nextgen/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson-nextgen/auth/RetryingOAuth.mustache
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/auth/RetryingOAuth.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/test/java/org/openapitools/client/auth/RetryingOAuthTest.java
Labels: Client: Java, Feature: Enum, Issue: Bug

#11160 Bug fix - Allow query parameters than contain spaces for Java client
  modules/openapi-generator/src/main/resources/Java/Pair.mustache
Labels: Client: Java, Issue: Bug

#11199 [Java-OKHTTP-GSON] Do not set content-type if content type is null
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson-nextgen/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/api.mustache
Labels: Client: Java, Issue: Bug

#11144 Add isSkipOperationExample check before generating op.requestBodyExamples
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Feature: Generator, Issue: Bug

#10919 Add support for asynchronous API for JavaJaxRsSpec
  docs/generators/jaxrs-cxf-cdi.md
  docs/generators/jaxrs-spec.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaJAXRSSpecServerCodegen.java
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/api.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/apiInterface.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/apiMethod.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/returnAsyncTypeInterface.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/jaxrs/JavaJAXRSSpecServerCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_4832.yaml
Labels: Enhancement: Feature, Server: Java

#11214 Various minor bug fixes based on sonar report
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppTizenClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaMicronautClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/K6ClientCodegen.java
Labels: Enhancement: Code Cleanup

#11212 [scala-gatling] add ScalaGatlingCodegenTest
  modules/openapi-generator/src/test/java/org/openapitools/codegen/scala/ScalaGatlingCodegenTest.java
Labels: Client: Scala, Enhancement: CI/Test

#11216 [kotlin][spring] fix import mapping for JsonValue
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinSpringServerCodegen.java
Labels: Issue: Bug, Server: Kotlin

#11215 [TS][fetch] Minor bug fixes
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptFetchClientCodegen.java
Labels: Client: TypeScript, Issue: Bug

#11213 [php][bug] Fix DateTime microseconds bug in ObjectSerializer
  modules/openapi-generator/src/main/resources/php/ObjectSerializer.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/ObjectSerializer.php
  samples/client/petstore/php/OpenAPIClient-php/tests/ObjectSerializerTest.php
Labels: Client: PHP, Issue: Bug

#11170 Fix examples for request body with array to not raise java.lang.NullPointerException
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CrystalClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RubyClientCodegen.java
Labels: Issue: Bug

#11201 Avro schema generation fix for properties with type ref to an enum
  modules/openapi-generator/src/main/resources/avro-schema/typeProperty.mustache
Labels: Issue: Bug, Schema: Avro

#11171 feat(python-asyncio): add support for proxy config using system env vars
  modules/openapi-generator/src/main/resources/python-legacy/asyncio/rest.mustache
  modules/openapi-generator/src/main/resources/python/asyncio/rest.mustache
  samples/client/petstore/python-asyncio/petstore_api/rest.py
Labels: Client: Python, Enhancement: General

#11177 Bugfix of #11176 and related #10706 CPP-QT-QHTTPENGINE Server
  modules/openapi-generator/src/main/resources/cpp-qt-qhttpengine-server/apirouter.h.mustache
Labels: Issue: Bug, Server: C++

#11084 Not creating "Accept:null" header for Java-Jersey2 generator
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  samples/client/petstore/java/jersey2-java8-localdatetime/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/extensions/x-auth-id-alias/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8-special-characters/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#11105 [Go] Parse integer array query parameters. Fix typos
  modules/openapi-generator/src/main/resources/go-server/api.mustache
  modules/openapi-generator/src/main/resources/go-server/controller-api.mustache
  modules/openapi-generator/src/main/resources/go-server/helpers.mustache
  modules/openapi-generator/src/main/resources/go-server/impl.mustache
  samples/server/petstore/go-api-server/go/api.go
  samples/server/petstore/go-api-server/go/api_pet.go
  samples/server/petstore/go-api-server/go/api_store.go
  samples/server/petstore/go-api-server/go/api_user.go
  samples/server/petstore/go-api-server/go/helpers.go
  samples/server/petstore/go-api-server/go/impl.go
  samples/server/petstore/go-chi-server/go/api.go
  samples/server/petstore/go-chi-server/go/api_pet.go
  samples/server/petstore/go-chi-server/go/api_store.go
  samples/server/petstore/go-chi-server/go/api_user.go
  samples/server/petstore/go-chi-server/go/helpers.go
  samples/server/petstore/go-chi-server/go/impl.go
  samples/server/petstore/go-server-required/go/api.go
  samples/server/petstore/go-server-required/go/api_pet.go
  samples/server/petstore/go-server-required/go/api_store.go
  samples/server/petstore/go-server-required/go/api_user.go
  samples/server/petstore/go-server-required/go/helpers.go
  samples/server/petstore/go-server-required/go/impl.go
Labels: Issue: Bug, Server: Go

#11237 Adds spacether sponsorship link and python-experimental item
  README.md
Labels: Doc: Markdown

#11226 [Python] add '_spec_property_naming' param
  modules/openapi-generator/src/main/resources/python/api.mustache
  modules/openapi-generator/src/main/resources/python/api_client.mustache
  samples/client/petstore/python/petstore_api/api/another_fake_api.py
  samples/client/petstore/python/petstore_api/api/fake_api.py
  samples/client/petstore/python/petstore_api/api/fake_classname_tags_123_api.py
  samples/client/petstore/python/petstore_api/api/pet_api.py
  samples/client/petstore/python/petstore_api/api/store_api.py
  samples/client/petstore/python/petstore_api/api/user_api.py
  samples/client/petstore/python/petstore_api/api_client.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/another_fake_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/fake_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/fake_classname_tags_123_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/pet_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/store_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/user_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api_client.py
  samples/openapi3/client/extensions/x-auth-id-alias/python/x_auth_id_alias/api/usage_api.py
  samples/openapi3/client/extensions/x-auth-id-alias/python/x_auth_id_alias/api_client.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/api/usage_api.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/api_client.py
  samples/openapi3/client/petstore/python/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/default_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_classname_tags_123_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python/petstore_api/api_client.py
Labels: Client: Python

#11240 [PHP] Allow guzzlehttp/psr7 ^1.7 or ^2.0
  modules/openapi-generator/src/main/resources/php/composer.mustache
  samples/client/petstore/php/OpenAPIClient-php/composer.json
Labels: Client: PHP, Enhancement: Compatibility

#11247 Adds fix for broken python test
  samples/client/petstore/python/test/test_fake_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/test/test_fake_api.py
Labels: Client: Python, Issue: Bug

#11182 [python] Fix 10773 - Use base_name for file uploads in form data
  modules/openapi-generator/src/main/resources/python/api_client.mustache
  samples/client/petstore/python/petstore_api/api_client.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api_client.py
  samples/openapi3/client/extensions/x-auth-id-alias/python/x_auth_id_alias/api_client.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/api_client.py
  samples/openapi3/client/petstore/python/petstore_api/api_client.py
Labels: Client: Python, Issue: Bug

#11093 Making PyPi markdown friendly requires additional property
  modules/openapi-generator/src/main/resources/python-legacy/setup.mustache
  samples/client/petstore/python-asyncio/setup.py
  samples/client/petstore/python-legacy/setup.py
  samples/client/petstore/python-tornado/setup.py
  samples/openapi3/client/petstore/python-legacy/setup.py
Labels: Client: Python

#11257 ISSUE-11242: Fix Java native path param encoding
  modules/openapi-generator/src/main/resources/Java/libraries/native/ApiClient.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue11242.yaml
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#11259 [BUG][csharp-netcore] Fix Multi Files for the same FormField (#11132)
  modules/openapi-generator/src/main/resources/csharp-netcore/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/RequestOptions.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/httpclient/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/httpclient/RequestOptions.mustache
  samples/client/others/csharp-netcore-complex-files/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/others/csharp-netcore-complex-files/src/Org.OpenAPITools/Client/RequestOptions.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/RequestOptions.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/RequestOptions.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Client/RequestOptions.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/RequestOptions.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/RequestOptions.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/RequestOptions.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Client/RequestOptions.cs
Labels: Client: C-Sharp, Issue: Bug

#11272 [csharp-netcore] Fix: Add only first Authorization header
  modules/openapi-generator/src/main/resources/csharp-netcore/api.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Api/PetApi.cs
Labels: Client: C-Sharp, Issue: Bug

#11273 Fixes openapi-generator.tech content, python-exp documentation helpTxt updated
  docs/generators/python-experimental.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonExperimentalClientCodegen.java
Labels: Issue: Bug

#11180 [python] modify python import classVarName to classFileName
  modules/openapi-generator/src/main/resources/python-experimental/README_common.handlebars
  modules/openapi-generator/src/main/resources/python-experimental/__init__apis.handlebars
  modules/openapi-generator/src/main/resources/python-experimental/api_doc_example.handlebars
  modules/openapi-generator/src/main/resources/python-legacy/__init__api.mustache
  modules/openapi-generator/src/main/resources/python-legacy/__init__package.mustache
  modules/openapi-generator/src/main/resources/python-legacy/api_test.mustache
  modules/openapi-generator/src/main/resources/python/README_common.mustache
  modules/openapi-generator/src/main/resources/python/__init__apis.mustache
  modules/openapi-generator/src/main/resources/python/api_doc_example.mustache
  modules/openapi-generator/src/main/resources/python/api_test.mustache
Labels: Client: Python

#11286 Fix missing ApiKeyAuth import in 'jvm-retrofit2' Kotlin client template
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin-retrofit2-kotlinx_serialization/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-retrofit2-rx3/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-retrofit2/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin, Issue: Bug

#11190 keyword conflict with zebos list_creat(), list_free()
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CLibcurlClientCodegen.java
  modules/openapi-generator/src/main/resources/C-libcurl/api-body.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/apiClient.c.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/api_pet_test.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/api_store_test.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/list.c.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/list.h.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/model-body.mustache
  modules/openapi-generator/src/main/resources/cpp-tizen-client/api-body.mustache
  modules/openapi-generator/src/main/resources/cpp-tizen-client/requestinfo.mustache
  samples/client/petstore/c/api/PetAPI.c
  samples/client/petstore/c/api/StoreAPI.c
  samples/client/petstore/c/api/UserAPI.c
  samples/client/petstore/c/include/list.h
  samples/client/petstore/c/model/pet.c
  samples/client/petstore/c/src/apiClient.c
  samples/client/petstore/c/src/list.c
  samples/client/petstore/c/unit-test/test_pet.c
  samples/client/petstore/c/unit-tests/manual-PetAPI.c
  samples/client/petstore/c/unit-tests/manual-StoreAPI.c
  samples/client/petstore/cpp-tizen/src/PetManager.cpp
  samples/client/petstore/cpp-tizen/src/RequestInfo.h
  samples/client/petstore/cpp-tizen/src/StoreManager.cpp
  samples/client/petstore/cpp-tizen/src/UserManager.cpp
Labels: Issue: Bug, Client: C

#11228 [BUG][kotlin] Make Kotlin client generate comma separated list for array path params
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-okhttp/api.mustache
Labels: Client: Kotlin, Issue: Bug

#11293 [kotlin][client] add tests for comma separated list in array path params
  .github/workflows/samples-kotlin.yaml
  .gitignore
  bin/configs/kotlin-array-simple-string.yaml
  modules/openapi-generator/src/test/resources/3_0/issue_7199_array_simple_string.yaml
  samples/client/petstore/kotlin-array-simple-string/.openapi-generator-ignore
  samples/client/petstore/kotlin-array-simple-string/.openapi-generator/FILES
  samples/client/petstore/kotlin-array-simple-string/.openapi-generator/VERSION
  samples/client/petstore/kotlin-array-simple-string/README.md
  samples/client/petstore/kotlin-array-simple-string/build.gradle
  samples/client/petstore/kotlin-array-simple-string/docs/DefaultApi.md
  samples/client/petstore/kotlin-array-simple-string/gradle/wrapper/gradle-wrapper.jar
  samples/client/petstore/kotlin-array-simple-string/gradle/wrapper/gradle-wrapper.properties
  samples/client/petstore/kotlin-array-simple-string/gradlew
  samples/client/petstore/kotlin-array-simple-string/gradlew.bat
  samples/client/petstore/kotlin-array-simple-string/settings.gradle
  samples/client/petstore/kotlin-array-simple-string/src/main/kotlin/org/openapitools/client/apis/DefaultApi.kt
  samples/client/petstore/kotlin-array-simple-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiAbstractions.kt
  samples/client/petstore/kotlin-array-simple-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-array-simple-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiResponse.kt
  samples/client/petstore/kotlin-array-simple-string/src/main/kotlin/org/openapitools/client/infrastructure/BigDecimalAdapter.kt
  samples/client/petstore/kotlin-array-simple-string/src/main/kotlin/org/openapitools/client/infrastructure/BigIntegerAdapter.kt
  samples/client/petstore/kotlin-array-simple-string/src/main/kotlin/org/openapitools/client/infrastructure/ByteArrayAdapter.kt
  samples/client/petstore/kotlin-array-simple-string/src/main/kotlin/org/openapitools/client/infrastructure/Errors.kt
  samples/client/petstore/kotlin-array-simple-string/src/main/kotlin/org/openapitools/client/infrastructure/LocalDateAdapter.kt
  samples/client/petstore/kotlin-array-simple-string/src/main/kotlin/org/openapitools/client/infrastructure/LocalDateTimeAdapter.kt
  samples/client/petstore/kotlin-array-simple-string/src/main/kotlin/org/openapitools/client/infrastructure/OffsetDateTimeAdapter.kt
  samples/client/petstore/kotlin-array-simple-string/src/main/kotlin/org/openapitools/client/infrastructure/RequestConfig.kt
  samples/client/petstore/kotlin-array-simple-string/src/main/kotlin/org/openapitools/client/infrastructure/RequestMethod.kt
  samples/client/petstore/kotlin-array-simple-string/src/main/kotlin/org/openapitools/client/infrastructure/ResponseExtensions.kt
  samples/client/petstore/kotlin-array-simple-string/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-array-simple-string/src/main/kotlin/org/openapitools/client/infrastructure/URIAdapter.kt
  samples/client/petstore/kotlin-array-simple-string/src/main/kotlin/org/openapitools/client/infrastructure/UUIDAdapter.kt
Labels: Client: Kotlin, Enhancement: CI/Test

#11162 Apache Camel Server Generator
  bin/configs/java-camel-petstore-new.yaml
  docs/generators.md
  docs/generators/java-camel.md
  modules/openapi-generator-maven-plugin/examples/camel.xml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaCamelServerCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/java-camel-server/README.mustache
  modules/openapi-generator/src/main/resources/java-camel-server/api.mustache
  modules/openapi-generator/src/main/resources/java-camel-server/application.mustache
  modules/openapi-generator/src/main/resources/java-camel-server/errorProcessor.mustache
  modules/openapi-generator/src/main/resources/java-camel-server/exampleString.mustache
  modules/openapi-generator/src/main/resources/java-camel-server/exampleStringArray.mustache
  modules/openapi-generator/src/main/resources/java-camel-server/pom.mustache
  modules/openapi-generator/src/main/resources/java-camel-server/restConfiguration.mustache
  modules/openapi-generator/src/main/resources/java-camel-server/routesImpl.mustache
  modules/openapi-generator/src/main/resources/java-camel-server/test.mustache
  modules/openapi-generator/src/main/resources/java-camel-server/validation.mustache
  samples/server/petstore/java-camel/.openapi-generator-ignore
  samples/server/petstore/java-camel/.openapi-generator/FILES
  samples/server/petstore/java-camel/.openapi-generator/VERSION
  samples/server/petstore/java-camel/README.md
  samples/server/petstore/java-camel/pom.xml
  samples/server/petstore/java-camel/src/main/java/org/openapitools/OpenAPI2SpringBoot.java
  samples/server/petstore/java-camel/src/main/java/org/openapitools/RFC3339DateFormat.java
  samples/server/petstore/java-camel/src/main/java/org/openapitools/RestConfiguration.java
  samples/server/petstore/java-camel/src/main/java/org/openapitools/ValidationErrorProcessor.java
  samples/server/petstore/java-camel/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/java-camel/src/main/java/org/openapitools/api/PetApiRoutesImpl.java
  samples/server/petstore/java-camel/src/main/java/org/openapitools/api/PetApiValidator.java
  samples/server/petstore/java-camel/src/main/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/java-camel/src/main/java/org/openapitools/api/StoreApiRoutesImpl.java
  samples/server/petstore/java-camel/src/main/java/org/openapitools/api/StoreApiValidator.java
  samples/server/petstore/java-camel/src/main/java/org/openapitools/api/UserApi.java
  samples/server/petstore/java-camel/src/main/java/org/openapitools/api/UserApiRoutesImpl.java
  samples/server/petstore/java-camel/src/main/java/org/openapitools/api/UserApiValidator.java
  samples/server/petstore/java-camel/src/main/java/org/openapitools/model/Category.java
  samples/server/petstore/java-camel/src/main/java/org/openapitools/model/ModelApiResponse.java
  samples/server/petstore/java-camel/src/main/java/org/openapitools/model/Order.java
  samples/server/petstore/java-camel/src/main/java/org/openapitools/model/Pet.java
  samples/server/petstore/java-camel/src/main/java/org/openapitools/model/Tag.java
  samples/server/petstore/java-camel/src/main/java/org/openapitools/model/User.java
  samples/server/petstore/java-camel/src/main/resources/application.properties
  samples/server/petstore/java-camel/src/test/java/org/openapitools/api/PetApiTest.java
  samples/server/petstore/java-camel/src/test/java/org/openapitools/api/StoreApiTest.java
  samples/server/petstore/java-camel/src/test/java/org/openapitools/api/UserApiTest.java
Labels: Enhancement: New generator, Server: Java

#11296 [Apache Camel] minor improvements
  README.md
  docs/generators/java-camel.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaCamelServerCodegen.java
  pom.xml
Labels: Enhancement: CI/Test, Enhancement: General, Server: Java

#11140 Allow the user to pass in any headers per request. #11139
  modules/openapi-generator/src/main/resources/python-legacy/api.mustache
  samples/client/petstore/python-asyncio/petstore_api/api/another_fake_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/fake_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/fake_classname_tags_123_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/pet_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/store_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/user_api.py
  samples/client/petstore/python-legacy/petstore_api/api/another_fake_api.py
  samples/client/petstore/python-legacy/petstore_api/api/fake_api.py
  samples/client/petstore/python-legacy/petstore_api/api/fake_classname_tags_123_api.py
  samples/client/petstore/python-legacy/petstore_api/api/pet_api.py
  samples/client/petstore/python-legacy/petstore_api/api/store_api.py
  samples/client/petstore/python-legacy/petstore_api/api/user_api.py
  samples/client/petstore/python-tornado/petstore_api/api/another_fake_api.py
  samples/client/petstore/python-tornado/petstore_api/api/fake_api.py
  samples/client/petstore/python-tornado/petstore_api/api/fake_classname_tags_123_api.py
  samples/client/petstore/python-tornado/petstore_api/api/pet_api.py
  samples/client/petstore/python-tornado/petstore_api/api/store_api.py
  samples/client/petstore/python-tornado/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python-legacy/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python-legacy/petstore_api/api/default_api.py
  samples/openapi3/client/petstore/python-legacy/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-legacy/petstore_api/api/fake_classname_tags_123_api.py
  samples/openapi3/client/petstore/python-legacy/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python-legacy/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python-legacy/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python-legacy/test/test_fake_api.py
Labels: Client: Python

#11316 Revert "Has generators set default template engine (#11245)"
  bin/configs/python-experimental.yaml
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/config/WorkflowSettings.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConfig.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfigurator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonExperimentalClientCodegen.java
Labels: Issue: Bug

#11221 recursively search for types during import type collection in deeply …
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenResponse.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/IJsonSchemaValidationProperties.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/TypeScriptClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/additional-properties-deeply-nested.yaml
  samples/openapi3/client/petstore/python-experimental/petstore_api/model/mixed_properties_and_additional_properties_class.py
Labels: Feature: Generator, Issue: Bug

#11310 [kotlin] Added fix for wrongly encoded backticks for reserved words when generating kotlin client
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-okhttp/api.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/KotlinReservedWordsTest.java
  modules/openapi-generator/src/test/resources/3_0/kotlin/reserved_words.yaml
  modules/openapi-generator/src/test/resources/bugs/issue_11304_kotlin_backticks_reserved_words.yaml
Labels: Client: Kotlin, Issue: Bug

#11325 [csharp-netcore] Fix: Add only first Authorization header
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/httpclient/api.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/PetApi.cs
Labels: Client: C-Sharp, Issue: Bug

#11303 [Java][Native] Fix the Content-Type and Accept headers that were forced to application/json
  modules/openapi-generator/src/main/resources/Java/libraries/native/api.mustache
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Issue: Bug

#11277 [Java] fix java apache-httpclient set basePath
  modules/openapi-generator/src/main/resources/Java/libraries/apache-httpclient/ApiClient.mustache
  samples/client/petstore/java/apache-httpclient/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#11315 [Java-okhttp-gson] Do not set content-type if content type is null #2
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson-nextgen/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/api.mustache
  samples/client/others/java/okhttp-gson-streaming/src/main/java/org/openapitools/client/api/PingApi.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/api/DefaultApi.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Issue: Bug

#11284 Fix an issue where moustache template adds an extra null to the gener…
  modules/openapi-generator/src/main/resources/kotlin-client/model_room_init_var.mustache
Labels: Client: Kotlin, Issue: Bug

#11326 Turns python-legacy CI back on in circle, fixes python-legacy test
  CI/circle_parallel.sh
  pom.xml
  samples/openapi3/client/petstore/python-legacy/test/test_fake_api.py
  samples/openapi3/client/petstore/python-legacy/test_python2.sh
Labels: Client: Python, Enhancement: CI/Test

#11330 [C#][netcore] fix bugs in model naming when method names start with a number
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
Labels: Client: C-Sharp, Issue: Bug

#11336 Clean up default type mapping
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Enhancement: Code Cleanup

#11335 Better checking for security definitions
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Enhancement: General

#11178 Handling golang client generation for oneOf with no discriminator and useOneOfDiscriminatorLookup is true
  modules/openapi-generator/src/main/resources/go/model_oneof.mustache
Labels: Client: Go, Issue: Bug

#11355 Improve example value handling in C# generators
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  samples/client/others/csharp-netcore-complex-files/docs/MultipartApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/docs/FakeApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/docs/PetApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/docs/StoreApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/docs/UserApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/docs/FakeApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/docs/PetApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/docs/StoreApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/docs/UserApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/docs/FakeApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/docs/PetApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/docs/StoreApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/docs/UserApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/docs/FakeApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/docs/PetApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/docs/StoreApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/docs/UserApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient/docs/FakeApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient/docs/PetApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient/docs/StoreApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient/docs/UserApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/docs/FakeApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/docs/PetApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/docs/StoreApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/docs/UserApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCoreAndNet47/docs/PetApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCoreAndNet47/docs/StoreApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCoreAndNet47/docs/UserApi.md
  samples/client/petstore/csharp/OpenAPIClient/docs/FakeApi.md
  samples/client/petstore/csharp/OpenAPIClient/docs/PetApi.md
  samples/client/petstore/csharp/OpenAPIClient/docs/StoreApi.md
  samples/client/petstore/csharp/OpenAPIClient/docs/UserApi.md
Labels: Client: C-Sharp, Enhancement: Feature, Feature: Documentation

#11369 [csharp][netcore] Mark RetryConfiguration class as static
  modules/openapi-generator/src/main/resources/csharp-netcore/RetryConfiguration.mustache
  samples/client/others/csharp-netcore-complex-files/src/Org.OpenAPITools/Client/RetryConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/RetryConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/RetryConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Client/RetryConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/RetryConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/RetryConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/RetryConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Client/RetryConfiguration.cs
Labels: Client: C-Sharp, Enhancement: General

#11363 [JAVA] Fix clone method in RFC3339DateFormat template class
  modules/openapi-generator/src/main/resources/Java/RFC3339DateFormat.mustache
Labels: Client: Java, Issue: Bug

#11370 [csharp][netcore] remove duplicated condition
  modules/openapi-generator/src/main/resources/csharp-netcore/HttpSigningConfiguration.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
Labels: Client: C-Sharp, Enhancement: Code Cleanup

#11359 [csharp-netcore] Update GlobalConfiguration.mustache visibility definiton
  modules/openapi-generator/src/main/resources/csharp-netcore/GlobalConfiguration.mustache
Labels: Client: C-Sharp, Issue: Bug

#11376 [csharp][netcore] update API tests to work with nonPublicApi option
  modules/openapi-generator/src/main/resources/csharp-netcore/api_test.mustache
Labels: Client: C-Sharp, Enhancement: CI/Test

#11378 [JS][flow] update node-fetch to newer version
  modules/openapi-generator/src/main/resources/Javascript-Flowtyped/package.mustache
  samples/client/petstore/javascript-flowtyped/.openapi-generator/VERSION
  samples/client/petstore/javascript-flowtyped/lib/api.js
  samples/client/petstore/javascript-flowtyped/package-lock.json
  samples/client/petstore/javascript-flowtyped/package.json
Labels: Client: JavaScript/Node.js, Enhancement: Compatibility

#11382 [java] javaparser 3.24.0
  modules/openapi-generator/pom.xml
  modules/openapi-generator/src/test/java/org/openapitools/codegen/TestUtils.java
Labels: Enhancement: Compatibility, Feature: Generator

#11379 [java] JavaClientCodegenTest validateJavaSourceFiles
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
Labels: Client: Java, Enhancement: CI/Test

#11386 [docs] use correct separator
  docs/configuration.md
  modules/openapi-generator-gradle-plugin/README.adoc
  modules/openapi-generator-maven-plugin/README.md
Labels: Enhancement: Feature, Feature: Documentation

#11387 mockito 4.2.0
  pom.xml
Labels: Enhancement: Compatibility, Feature: Generator

#10920 [Python] Some regex patterns can generate invalid code. #6675
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonLegacyClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonLegacyClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_1517.yaml
Labels: Client: Python, Issue: Bug

#11381 migrate to official Apache Maven Wrapper
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
Labels: Enhancement: Compatibility

#11390 Turns on python-experimental CI tests
  .circleci/config.yml
  CI/circle_parallel.sh
  modules/openapi-generator/src/main/resources/python-experimental/tox.handlebars
  pom.xml
  samples/openapi3/client/petstore/python-experimental/pom.xml
  samples/openapi3/client/petstore/python-experimental/tox.ini
Labels: Client: Python, Enhancement: CI/Test

#11395 [java][okttp-gson-nextgen] update docstring in ApiClient, RetryingOAuth
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson-nextgen/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson-nextgen/auth/RetryingOAuth.mustache
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-nextgen/src/main/java/org/openapitools/client/auth/RetryingOAuth.java
Labels: Client: Java, Enhancement: Feature, Feature: Documentation

#11234 [Python] fix model to dict
  modules/openapi-generator/src/main/resources/python/model_utils.mustache
  modules/openapi-generator/src/test/resources/3_0/python/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/client/petstore/python/petstore_api/model_utils.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/model_utils.py
  samples/openapi3/client/extensions/x-auth-id-alias/python/x_auth_id_alias/model_utils.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/model_utils.py
  samples/openapi3/client/petstore/python/.openapi-generator/FILES
  samples/openapi3/client/petstore/python/README.md
  samples/openapi3/client/petstore/python/docs/FooObject.md
  samples/openapi3/client/petstore/python/petstore_api/model/foo_object.py
  samples/openapi3/client/petstore/python/petstore_api/model_utils.py
  samples/openapi3/client/petstore/python/petstore_api/models/__init__.py
  samples/openapi3/client/petstore/python/test/test_foo_object.py
  samples/openapi3/client/petstore/python/tests_manual/test_api_validation.py
Labels: Client: Python

#11398 tidy: [csharp-netcore] Remove redundant useWebRequest tag from templates
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/libraries/httpclient/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/httpclient/ApiClient.mustache
Labels: Client: C-Sharp, Enhancement: Code Cleanup

#11411 [java][undertwo] update junit dependencies
  modules/openapi-generator/src/main/resources/java-undertow-server/pom.mustache
  samples/server/petstore/java-undertow/pom.xml
Labels: Enhancement: Compatibility, Server: Java

#11414 [jaxrs][cxf][resteasy] update junit dependencies to 4.13.1
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-ext/server/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/server/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/eap/gradle.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/gradle.mustache
  samples/server/petstore/jaxrs-cxf-annotated-base-path/pom.xml
  samples/server/petstore/jaxrs-cxf-non-spring-app/pom.xml
  samples/server/petstore/jaxrs-cxf-test-data/.openapi-generator/FILES
  samples/server/petstore/jaxrs-cxf/pom.xml
  samples/server/petstore/jaxrs-resteasy/default-value/build.gradle
  samples/server/petstore/jaxrs-resteasy/default/build.gradle
  samples/server/petstore/jaxrs-resteasy/eap-java8/build.gradle
  samples/server/petstore/jaxrs-resteasy/eap-joda/build.gradle
  samples/server/petstore/jaxrs-resteasy/eap/build.gradle
  samples/server/petstore/jaxrs-resteasy/java8/build.gradle
  samples/server/petstore/jaxrs-resteasy/joda/build.gradle
Labels: Enhancement: Compatibility, Server: Java

#11294 Makes the maven plugin to generate Model-tests and API-tests in generated-test-sources
  docs/generators/groovy.md
  docs/generators/java-camel.md
  docs/generators/java-inflector.md
  docs/generators/java-micronaut-client.md
  docs/generators/java-msf4j.md
  docs/generators/java-pkmst.md
  docs/generators/java-play-framework.md
  docs/generators/java-undertow-server.md
  docs/generators/java-vertx-web.md
  docs/generators/java-vertx.md
  docs/generators/java.md
  docs/generators/jaxrs-cxf-cdi.md
  docs/generators/jaxrs-cxf-client.md
  docs/generators/jaxrs-cxf-extended.md
  docs/generators/jaxrs-cxf.md
  docs/generators/jaxrs-jersey.md
  docs/generators/jaxrs-resteasy-eap.md
  docs/generators/jaxrs-resteasy.md
  docs/generators/jaxrs-spec.md
  docs/generators/spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/AbstractJavaCodegenTest.java
Labels: Client: Java, Enhancement: General

#11166 [kotlin] back ticks escaping of keywords and more
  modules/openapi-generator/src/main/resources/kotlin-spring/dataClass.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/dataClassOptVar.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/dataClassReqVar.mustache
Labels: Issue: Bug, Server: Kotlin

#11424 [jaxrs][spec] fix isArray, isMap tags
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/pojo.mustache
  samples/server/petstore/jaxrs-spec-interface/src/gen/java/org/openapitools/model/AdditionalPropertiesClass.java
  samples/server/petstore/jaxrs-spec-interface/src/gen/java/org/openapitools/model/ArrayOfArrayOfNumberOnly.java
  samples/server/petstore/jaxrs-spec-interface/src/gen/java/org/openapitools/model/ArrayOfNumberOnly.java
  samples/server/petstore/jaxrs-spec-interface/src/gen/java/org/openapitools/model/ArrayTest.java
  samples/server/petstore/jaxrs-spec-interface/src/gen/java/org/openapitools/model/EnumArrays.java
  samples/server/petstore/jaxrs-spec-interface/src/gen/java/org/openapitools/model/FileSchemaTestClass.java
  samples/server/petstore/jaxrs-spec-interface/src/gen/java/org/openapitools/model/MapTest.java
  samples/server/petstore/jaxrs-spec-interface/src/gen/java/org/openapitools/model/MixedPropertiesAndAdditionalPropertiesClass.java
  samples/server/petstore/jaxrs-spec-interface/src/gen/java/org/openapitools/model/Pet.java
  samples/server/petstore/jaxrs-spec-interface/src/gen/java/org/openapitools/model/TypeHolderDefault.java
  samples/server/petstore/jaxrs-spec-interface/src/gen/java/org/openapitools/model/TypeHolderExample.java
  samples/server/petstore/jaxrs-spec-interface/src/gen/java/org/openapitools/model/XmlItem.java
  samples/server/petstore/jaxrs-spec/src/gen/java/org/openapitools/model/AdditionalPropertiesClass.java
  samples/server/petstore/jaxrs-spec/src/gen/java/org/openapitools/model/ArrayOfArrayOfNumberOnly.java
  samples/server/petstore/jaxrs-spec/src/gen/java/org/openapitools/model/ArrayOfNumberOnly.java
  samples/server/petstore/jaxrs-spec/src/gen/java/org/openapitools/model/ArrayTest.java
  samples/server/petstore/jaxrs-spec/src/gen/java/org/openapitools/model/EnumArrays.java
  samples/server/petstore/jaxrs-spec/src/gen/java/org/openapitools/model/FileSchemaTestClass.java
  samples/server/petstore/jaxrs-spec/src/gen/java/org/openapitools/model/MapTest.java
  samples/server/petstore/jaxrs-spec/src/gen/java/org/openapitools/model/MixedPropertiesAndAdditionalPropertiesClass.java
  samples/server/petstore/jaxrs-spec/src/gen/java/org/openapitools/model/Pet.java
  samples/server/petstore/jaxrs-spec/src/gen/java/org/openapitools/model/TypeHolderDefault.java
  samples/server/petstore/jaxrs-spec/src/gen/java/org/openapitools/model/TypeHolderExample.java
  samples/server/petstore/jaxrs-spec/src/gen/java/org/openapitools/model/XmlItem.java
Labels: Issue: Bug, Server: Java

#11425 [TS][nestjs] fix isListContainer with isArray
  modules/openapi-generator/src/main/resources/typescript-nestjs/api.service.mustache
  samples/client/petstore/typescript-nestjs-v6-provided-in-root/builds/default/api/pet.service.ts
Labels: Client: TypeScript, Issue: Bug

#10627 [csharp-netcore] Adding generic host library
  docs/generators/csharp-netcore.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
  modules/openapi-generator/src/main/resources/csharp-netcore/api_doc.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/ApiException.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/ApiKeyToken.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/ApiResponseEventArgs.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/ApiResponse`1.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/ApiTestsBase.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/BasicToken.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/BearerToken.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/ClientUtils.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/DependencyInjectionTests.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/HostConfiguration.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/HttpSigningConfiguration.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/HttpSigningToken.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/IApi.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/OAuthToken.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/README.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/RateLimitProvider`1.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/TokenBase.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/TokenContainer`1.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/TokenProvider`1.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/api.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/api_test.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/git_push.ps1.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/git_push.sh.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/modelAnyOf.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/modelOneOf.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/model_doc.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/netcore_project.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/netcore_testproject.mustache
  samples/client/others/csharp-netcore-complex-files/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Org.OpenAPITools.csproj
Labels: Client: C-Sharp, Enhancement: Feature

#10830 [kotlin-server][jax-rs] Added support for JAX-RS library into Kotlin Server generator
  bin/configs/kotlin-server-jaxrs-spec.yaml
  docs/generators/kotlin-server.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinServerCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/additionalModelTypeAnnotations.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/api.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/apiInterface.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/apiMethod.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/beanValidation.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/beanValidationCore.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/beanValidationHeaderParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/beanValidationPathParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/beanValidationQueryParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/bodyParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/build.gradle.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/cookieParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/data_class.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/data_class_opt_var.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/data_class_req_var.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/enum_class.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/enum_doc.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/formParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/generatedAnnotation.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/gradle.properties
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/headerParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/model.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/model_doc.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/oneof_model.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/pathParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/queryParams.mustache
  samples/server/petstore/kotlin-server/jaxrs-spec/.openapi-generator-ignore
  samples/server/petstore/kotlin-server/jaxrs-spec/.openapi-generator/FILES
  samples/server/petstore/kotlin-server/jaxrs-spec/.openapi-generator/VERSION
  samples/server/petstore/kotlin-server/jaxrs-spec/README.md
  samples/server/petstore/kotlin-server/jaxrs-spec/build.gradle
  samples/server/petstore/kotlin-server/jaxrs-spec/gradle.properties
  samples/server/petstore/kotlin-server/jaxrs-spec/settings.gradle
  samples/server/petstore/kotlin-server/jaxrs-spec/src/main/kotlin/org/openapitools/server/apis/PetApi.kt
  samples/server/petstore/kotlin-server/jaxrs-spec/src/main/kotlin/org/openapitools/server/apis/StoreApi.kt
  samples/server/petstore/kotlin-server/jaxrs-spec/src/main/kotlin/org/openapitools/server/apis/UserApi.kt
  samples/server/petstore/kotlin-server/jaxrs-spec/src/main/kotlin/org/openapitools/server/models/ApiResponse.kt
  samples/server/petstore/kotlin-server/jaxrs-spec/src/main/kotlin/org/openapitools/server/models/Category.kt
  samples/server/petstore/kotlin-server/jaxrs-spec/src/main/kotlin/org/openapitools/server/models/ModelApiResponse.kt
  samples/server/petstore/kotlin-server/jaxrs-spec/src/main/kotlin/org/openapitools/server/models/Order.kt
  samples/server/petstore/kotlin-server/jaxrs-spec/src/main/kotlin/org/openapitools/server/models/Pet.kt
  samples/server/petstore/kotlin-server/jaxrs-spec/src/main/kotlin/org/openapitools/server/models/Tag.kt
  samples/server/petstore/kotlin-server/jaxrs-spec/src/main/kotlin/org/openapitools/server/models/User.kt
Labels: Enhancement: Feature, Server: Kotlin

#10723 [crystal][client] Make optional properties nillable in models
  modules/openapi-generator/src/main/resources/crystal/partial_model_generic.mustache
  modules/openapi-generator/src/main/resources/crystal/spec_helper.mustache
  samples/client/petstore/crystal/pet_compilation_error_spec.cr
  samples/client/petstore/crystal/spec/api/pet_api_spec.cr
  samples/client/petstore/crystal/spec/models/pet_spec.cr
  samples/client/petstore/crystal/spec/models/tag_spec.cr
  samples/client/petstore/crystal/spec/spec_helper.cr
  samples/client/petstore/crystal/src/petstore/models/api_response.cr
  samples/client/petstore/crystal/src/petstore/models/category.cr
  samples/client/petstore/crystal/src/petstore/models/order.cr
  samples/client/petstore/crystal/src/petstore/models/pet.cr
  samples/client/petstore/crystal/src/petstore/models/tag.cr
  samples/client/petstore/crystal/src/petstore/models/user.cr
Labels: Enhancement: General, Client: Crystal

#11439 [Crystal] use encode_path instead of encode (deprecated)
  README.md
  modules/openapi-generator/src/main/resources/crystal/api.mustache
  samples/client/petstore/crystal/src/petstore/api/pet_api.cr
  samples/client/petstore/crystal/src/petstore/api/store_api.cr
  samples/client/petstore/crystal/src/petstore/api/user_api.cr
Labels: Client: Crystal, Enhancement: Code Cleanup

#11441 [java][spring] use Github action instead
  .github/workflows/samples-spring.yaml
  pom.xml
Labels: Enhancement: CI/Test, Server: Spring

#11450 [c#][netcore] mark EOL frameworks as deprecated
  README.md
  bin/configs/csharp-netcore-OpenAPIClientCore.yaml
  bin/configs/csharp-netcore-OpenAPIClientCoreAndNet47.yaml
  docs/generators/aspnetcore.md
  docs/generators/csharp-netcore-functions.md
  docs/generators/csharp-netcore.md
  docs/generators/csharp.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
  samples/client/others/csharp-netcore-complex-files/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Org.OpenAPITools.csproj
Labels: Client: C-Sharp, Decommission

#11454 Mark csharp-nancyfx generator as deprecated
  .github/.test/samples.json
  .github/auto-labeler.yml
  bin/configs/other/csharp-nancyfx-nancyfx-async.yaml
  bin/configs/other/csharp-nancyfx-nancyfx.yaml
  docs/generators.md
  docs/generators/csharp-nancyfx-deprecated.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNancyFXServerCodegen.java
  samples/server/petstore/nancyfx-async/.gitignore
  samples/server/petstore/nancyfx-async/.openapi-generator-ignore
  samples/server/petstore/nancyfx-async/.openapi-generator/FILES
  samples/server/petstore/nancyfx-async/.openapi-generator/VERSION
  samples/server/petstore/nancyfx-async/Org.OpenAPITools.sln
  samples/server/petstore/nancyfx-async/src/IO.Swagger/IO.Swagger.csproj
  samples/server/petstore/nancyfx-async/src/IO.Swagger/IO.Swagger.nuspec
  samples/server/petstore/nancyfx-async/src/IO.Swagger/Models/ApiResponse.cs
  samples/server/petstore/nancyfx-async/src/IO.Swagger/Models/Category.cs
  samples/server/petstore/nancyfx-async/src/IO.Swagger/Models/Order.cs
  samples/server/petstore/nancyfx-async/src/IO.Swagger/Models/Pet.cs
  samples/server/petstore/nancyfx-async/src/IO.Swagger/Models/Tag.cs
  samples/server/petstore/nancyfx-async/src/IO.Swagger/Models/User.cs
  samples/server/petstore/nancyfx-async/src/IO.Swagger/Modules/PetModule.cs
  samples/server/petstore/nancyfx-async/src/IO.Swagger/Modules/StoreModule.cs
  samples/server/petstore/nancyfx-async/src/IO.Swagger/Modules/UserModule.cs
  samples/server/petstore/nancyfx-async/src/IO.Swagger/Utils/LocalDateConverter.cs
  samples/server/petstore/nancyfx-async/src/IO.Swagger/Utils/Parameters.cs
  samples/server/petstore/nancyfx-async/src/IO.Swagger/packages.config
  samples/server/petstore/nancyfx-async/src/Org.OpenAPITools/Models/ApiResponse.cs
  samples/server/petstore/nancyfx-async/src/Org.OpenAPITools/Models/Category.cs
  samples/server/petstore/nancyfx-async/src/Org.OpenAPITools/Models/Order.cs
  samples/server/petstore/nancyfx-async/src/Org.OpenAPITools/Models/Pet.cs
  samples/server/petstore/nancyfx-async/src/Org.OpenAPITools/Models/Tag.cs
  samples/server/petstore/nancyfx-async/src/Org.OpenAPITools/Models/User.cs
  samples/server/petstore/nancyfx-async/src/Org.OpenAPITools/Modules/PetModule.cs
  samples/server/petstore/nancyfx-async/src/Org.OpenAPITools/Modules/StoreModule.cs
  samples/server/petstore/nancyfx-async/src/Org.OpenAPITools/Modules/UserModule.cs
  samples/server/petstore/nancyfx-async/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/server/petstore/nancyfx-async/src/Org.OpenAPITools/Org.OpenAPITools.nuspec
  samples/server/petstore/nancyfx-async/src/Org.OpenAPITools/Utils/LocalDateConverter.cs
  samples/server/petstore/nancyfx-async/src/Org.OpenAPITools/Utils/Parameters.cs
  samples/server/petstore/nancyfx-async/src/Org.OpenAPITools/packages.config
  samples/server/petstore/nancyfx/.gitignore
  samples/server/petstore/nancyfx/.openapi-generator-ignore
  samples/server/petstore/nancyfx/.openapi-generator/FILES
  samples/server/petstore/nancyfx/.openapi-generator/VERSION
  samples/server/petstore/nancyfx/Org.OpenAPITools.sln
  samples/server/petstore/nancyfx/src/Org.OpenAPITools/Models/ApiResponse.cs
  samples/server/petstore/nancyfx/src/Org.OpenAPITools/Models/Category.cs
  samples/server/petstore/nancyfx/src/Org.OpenAPITools/Models/Order.cs
  samples/server/petstore/nancyfx/src/Org.OpenAPITools/Models/Pet.cs
  samples/server/petstore/nancyfx/src/Org.OpenAPITools/Models/Tag.cs
  samples/server/petstore/nancyfx/src/Org.OpenAPITools/Models/User.cs
  samples/server/petstore/nancyfx/src/Org.OpenAPITools/Modules/PetModule.cs
  samples/server/petstore/nancyfx/src/Org.OpenAPITools/Modules/StoreModule.cs
  samples/server/petstore/nancyfx/src/Org.OpenAPITools/Modules/UserModule.cs
  samples/server/petstore/nancyfx/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/server/petstore/nancyfx/src/Org.OpenAPITools/Org.OpenAPITools.nuspec
  samples/server/petstore/nancyfx/src/Org.OpenAPITools/Utils/LocalDateConverter.cs
  samples/server/petstore/nancyfx/src/Org.OpenAPITools/Utils/Parameters.cs
  samples/server/petstore/nancyfx/src/Org.OpenAPITools/packages.config
Labels: Server: C-Sharp, Decommission

#11455 Remove swift4 generator
  docs/generators.md
  docs/generators/swift4-deprecated.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift4Codegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/swift4/APIHelper.mustache
  modules/openapi-generator/src/main/resources/swift4/APIs.mustache
  modules/openapi-generator/src/main/resources/swift4/AlamofireImplementations.mustache
  modules/openapi-generator/src/main/resources/swift4/Cartfile.mustache
  modules/openapi-generator/src/main/resources/swift4/CodableHelper.mustache
  modules/openapi-generator/src/main/resources/swift4/Configuration.mustache
  modules/openapi-generator/src/main/resources/swift4/Extensions.mustache
  modules/openapi-generator/src/main/resources/swift4/JSONEncodableEncoding.mustache
  modules/openapi-generator/src/main/resources/swift4/JSONEncodingHelper.mustache
  modules/openapi-generator/src/main/resources/swift4/Models.mustache
  modules/openapi-generator/src/main/resources/swift4/Package.swift.mustache
  modules/openapi-generator/src/main/resources/swift4/Podspec.mustache
  modules/openapi-generator/src/main/resources/swift4/README.mustache
  modules/openapi-generator/src/main/resources/swift4/Result.mustache
  modules/openapi-generator/src/main/resources/swift4/XcodeGen.mustache
  modules/openapi-generator/src/main/resources/swift4/_param.mustache
  modules/openapi-generator/src/main/resources/swift4/api.mustache
  modules/openapi-generator/src/main/resources/swift4/api_doc.mustache
  modules/openapi-generator/src/main/resources/swift4/git_push.sh.mustache
  modules/openapi-generator/src/main/resources/swift4/gitignore.mustache
  modules/openapi-generator/src/main/resources/swift4/model.mustache
  modules/openapi-generator/src/main/resources/swift4/modelArray.mustache
  modules/openapi-generator/src/main/resources/swift4/modelEnum.mustache
  modules/openapi-generator/src/main/resources/swift4/modelInlineEnumDeclaration.mustache
  modules/openapi-generator/src/main/resources/swift4/modelObject.mustache
  modules/openapi-generator/src/main/resources/swift4/model_doc.mustache
Labels: Client: Swift, Decommission

#11456 Remove deprecated options in Java client generator
  docs/generators/java.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/play26/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/pom.mustache
  samples/client/petstore/java/retrofit2-play26/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/retrofit2-play26/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/retrofit2-play26/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/retrofit2-play26/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/retrofit2-play26/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/retrofit2-play26/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Decommission
