Repository OpenAPITools/openapi-generator, pull requests merged in 2022-08, with the labels that each got.

#13054 [python-experimental] Fixes issue 12986
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonExperimentalClientCodegen.java
  samples/openapi3/client/petstore/python-experimental/petstore_api/apis/tag_to_api.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/apis/tags/__init__.py
Labels: Client: Python

#13065 [R][httr] fix query param, fix spec
  modules/openapi-generator/src/main/resources/r/api.mustache
  modules/openapi-generator/src/main/resources/r/api_client.mustache
  modules/openapi-generator/src/test/resources/3_0/r/petstore.yaml
  samples/client/petstore/R-httr2/R/fake_api.R
  samples/client/petstore/R-httr2/R/pet_api.R
  samples/client/petstore/R-httr2/R/store_api.R
  samples/client/petstore/R-httr2/R/user_api.R
  samples/client/petstore/R-httr2/README.md
  samples/client/petstore/R-httr2/docs/PetApi.md
  samples/client/petstore/R/R/api_client.R
  samples/client/petstore/R/R/fake_api.R
  samples/client/petstore/R/R/pet_api.R
  samples/client/petstore/R/R/store_api.R
  samples/client/petstore/R/R/user_api.R
  samples/client/petstore/R/README.md
  samples/client/petstore/R/docs/PetApi.md
Labels: Client: R, Enhancement: CI/Test, Issue: Bug, Issue: Regression

#13066 [R][httr2] fix HTTP header
  modules/openapi-generator/src/main/resources/r/libraries/httr2/api_client.mustache
  modules/openapi-generator/src/test/resources/3_0/r/petstore.yaml
  samples/client/petstore/R-httr2/R/api_client.R
  samples/client/petstore/R-httr2/R/pet_api.R
  samples/client/petstore/R-httr2/README.md
  samples/client/petstore/R-httr2/docs/PetApi.md
  samples/client/petstore/R-httr2/tests/testthat/test_petstore.R
  samples/client/petstore/R/R/pet_api.R
  samples/client/petstore/R/README.md
  samples/client/petstore/R/docs/PetApi.md
  samples/client/petstore/R/tests/testthat/test_petstore.R
Labels: Client: R, Issue: Bug

#13062 Issue 13043: [python-experimental] Fixed stackoverflow error in toExampleValueRecursive
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonExperimentalClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonExperimentalClientTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_13043_recursive_model.yaml
  modules/openapi-generator/src/test/resources/3_0/issue_13043_recursive_model_expected_value.txt
Labels: Client: Python

#13070 Issue 13043: converted an exception to a warning
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonExperimentalClientCodegen.java
Labels: Client: Python

#13057 [R][httr2] Fix form parameter support
  modules/openapi-generator/src/main/resources/r/api.mustache
  modules/openapi-generator/src/main/resources/r/api_client.mustache
  modules/openapi-generator/src/main/resources/r/libraries/httr2/api_client.mustache
  samples/client/petstore/R-httr2/R/api_client.R
  samples/client/petstore/R-httr2/R/fake_api.R
  samples/client/petstore/R-httr2/R/pet_api.R
  samples/client/petstore/R-httr2/R/store_api.R
  samples/client/petstore/R-httr2/R/user_api.R
  samples/client/petstore/R-httr2/tests/testthat/test_petstore.R
  samples/client/petstore/R/R/api_client.R
  samples/client/petstore/R/R/fake_api.R
  samples/client/petstore/R/R/pet_api.R
  samples/client/petstore/R/R/store_api.R
  samples/client/petstore/R/R/user_api.R
  samples/client/petstore/R/tests/testthat/test_petstore.R
Labels: Client: R, Issue: Bug

#13015 [rust] fix incorrect Cargo.toml generated when supportAsync & withAWSV4Signature are both enabled.
  modules/openapi-generator/src/main/resources/rust/Cargo.mustache
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/Cargo.toml
Labels: Client: Rust, Issue: Bug

#13058 [Java] apache-httpclient serialize support custom contentType
  modules/openapi-generator/src/main/resources/Java/libraries/apache-httpclient/ApiClient.mustache
  samples/client/petstore/java/apache-httpclient/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: General

#13104 3.0.3 spec updated with json schema tags
  modules/openapi-generator/src/test/resources/3_0/unit_test_spec/3_0_3_unit_test_spec.yaml
  modules/openapi-generator/src/test/resources/3_0/unit_test_spec/spec_writer.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/.openapi-generator/FILES
  samples/openapi3/client/3_0_3_unit_test/python-experimental/README.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/AdditionalPropertiesApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/AllOfApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/AnyOfApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/DefaultApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/EnumApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/FormatApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/ItemsApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/MaxItemsApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/MaxLengthApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/MaxPropertiesApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/MaximumApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/MinItemsApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/MinLengthApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/MinPropertiesApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/MinimumApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/ModelNotApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/MultipleOfApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/OneOfApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/PatternApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/PropertiesApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/RefApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/RequiredApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/TypeApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/UniqueItemsApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tag_to_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/__init__.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/additional_properties_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/all_of_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/any_of_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/default_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/enum_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/format_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/items_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/max_items_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/max_length_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/max_properties_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/maximum_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/min_items_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/min_length_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/min_properties_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/minimum_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/model_not_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/multiple_of_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/one_of_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/pattern_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/properties_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/ref_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/required_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/type_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/unique_items_api.py
Labels: Client: Python, Enhancement: CI/Test, Feature: OAS 3.0 spec support

#13107 [python-experimental] removes print
  modules/openapi-generator/src/main/resources/python-experimental/schemas.handlebars
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/schemas.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/schemas.py
Labels: Client: Python, Issue: Bug

#13075 [R][httr2] fix assignment, clean up tests
  modules/openapi-generator/src/main/resources/r/libraries/httr2/api_client.mustache
  samples/client/petstore/R-httr2/R/api_client.R
  samples/client/petstore/R-httr2/tests/testthat/test_petstore.R
Labels: Client: R, Enhancement: CI/Test, Issue: Bug, Enhancement: Code Cleanup

#13112 [R] fix auto-generated doc, add checks for bearer/access token
  modules/openapi-generator/src/main/resources/r/README.mustache
  modules/openapi-generator/src/main/resources/r/api.mustache
  modules/openapi-generator/src/main/resources/r/api_doc.mustache
  samples/client/petstore/R-httr2/R/pet_api.R
  samples/client/petstore/R-httr2/README.md
  samples/client/petstore/R-httr2/docs/FakeApi.md
  samples/client/petstore/R-httr2/docs/PetApi.md
  samples/client/petstore/R-httr2/docs/StoreApi.md
  samples/client/petstore/R-httr2/docs/UserApi.md
  samples/client/petstore/R/R/pet_api.R
  samples/client/petstore/R/README.md
  samples/client/petstore/R/docs/FakeApi.md
  samples/client/petstore/R/docs/PetApi.md
  samples/client/petstore/R/docs/StoreApi.md
  samples/client/petstore/R/docs/UserApi.md
Labels: Client: R, Enhancement: Feature, Feature: Documentation, Issue: Bug

#13114 Fix Perl cannot string bind undef
  modules/openapi-generator/src/main/resources/perl/ApiClient.mustache
  modules/openapi-generator/src/main/resources/perl/BaseObject.mustache
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/ApiClient.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/AdditionalPropertiesClass.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/AllOfWithSingleRef.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/Animal.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/ApiResponse.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/ArrayOfArrayOfNumberOnly.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/ArrayOfNumberOnly.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/ArrayTest.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/Capitalization.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/Cat.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/CatAllOf.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/Category.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/ClassModel.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/Client.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/DeprecatedObject.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/Dog.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/DogAllOf.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/EnumArrays.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/EnumClass.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/EnumTest.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/File.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/FileSchemaTestClass.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/Foo.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/FooGetDefaultResponse.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/FormatTest.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/HasOnlyReadOnly.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/HealthCheckResult.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/List.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/MapTest.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/MixedPropertiesAndAdditionalPropertiesClass.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/Model200Response.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/ModelReturn.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/Name.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/NullableClass.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/NumberOnly.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/ObjectWithDeprecatedFields.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/Order.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/OuterComposite.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/OuterEnum.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/OuterEnumDefaultValue.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/OuterEnumInteger.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/OuterEnumIntegerDefaultValue.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/OuterObjectWithEnumProperty.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/Pet.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/ReadOnlyFirst.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/SingleRefType.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/SpecialModelName.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/Tag.pm
  samples/client/petstore/perl/lib/WWW/OpenAPIClient/Object/User.pm
  samples/client/petstore/perl/tests/02_store_api.t
  samples/client/petstore/perl/tests/05_long_module_name.t
  samples/client/petstore/perl/tests/06_inheritance.t
Labels: Client: Perl, Issue: Bug

#13119 Better validation for R client parameters
  modules/openapi-generator/src/main/resources/r/api.mustache
  samples/client/petstore/R-httr2/R/fake_api.R
  samples/client/petstore/R-httr2/R/pet_api.R
  samples/client/petstore/R-httr2/R/store_api.R
  samples/client/petstore/R-httr2/R/user_api.R
  samples/client/petstore/R/R/fake_api.R
  samples/client/petstore/R/R/pet_api.R
  samples/client/petstore/R/R/store_api.R
  samples/client/petstore/R/R/user_api.R
Labels: Client: R, Enhancement: General

#12967 [csharp-netcore] Form data serialize non-primitive objects
  modules/openapi-generator/src/main/resources/csharp-netcore/ClientUtils.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/api.mustache
  samples/client/others/csharp-netcore-complex-files/src/Org.OpenAPITools/Api/MultipartApi.cs
  samples/client/others/csharp-netcore-complex-files/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Client/ClientUtils.cs
Labels: Client: C-Sharp, Enhancement: General

#13123 [R][httr2] better support for OAuth authoriziation flows
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
  modules/openapi-generator/src/main/resources/r/README.mustache
  modules/openapi-generator/src/main/resources/r/api.mustache
  modules/openapi-generator/src/main/resources/r/api_client.mustache
  modules/openapi-generator/src/main/resources/r/libraries/httr2/api_client.mustache
  modules/openapi-generator/src/test/resources/3_0/r/petstore.yaml
  samples/client/petstore/R-httr2/R/api_client.R
  samples/client/petstore/R-httr2/R/fake_api.R
  samples/client/petstore/R-httr2/R/pet_api.R
  samples/client/petstore/R-httr2/R/store_api.R
  samples/client/petstore/R-httr2/R/user_api.R
  samples/client/petstore/R-httr2/docs/PetApi.md
  samples/client/petstore/R-httr2/tests/testthat/test_petstore.R
  samples/client/petstore/R/R/api_client.R
  samples/client/petstore/R/R/fake_api.R
  samples/client/petstore/R/R/pet_api.R
  samples/client/petstore/R/R/store_api.R
  samples/client/petstore/R/R/user_api.R
  samples/client/petstore/R/docs/PetApi.md
  samples/client/petstore/R/tests/testthat/test_petstore.R
Labels: Client: R, Enhancement: General

#13125 [R] Improve regular expression handling
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
  modules/openapi-generator/src/test/resources/3_0/r/petstore.yaml
  samples/client/petstore/R-httr2/R/fake_api.R
  samples/client/petstore/R-httr2/R/user_api.R
  samples/client/petstore/R-httr2/README.md
  samples/client/petstore/R-httr2/docs/FakeApi.md
  samples/client/petstore/R/R/fake_api.R
  samples/client/petstore/R/R/user_api.R
  samples/client/petstore/R/README.md
  samples/client/petstore/R/docs/FakeApi.md
Labels: Client: R, Enhancement: General

#13126 [R] Skip client id, secret validation to allow multiple auth schemas
  modules/openapi-generator/src/main/resources/r/api.mustache
  modules/openapi-generator/src/main/resources/r/libraries/httr2/api_client.mustache
  samples/client/petstore/R-httr2/R/api_client.R
  samples/client/petstore/R-httr2/R/pet_api.R
  samples/client/petstore/R/R/pet_api.R
Labels: Client: R, Enhancement: General

#13109 Issue 13043: Improved handling of recursive schemas
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonExperimentalClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonExperimentalClientTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_13043_geometry_collection_expected_value.txt
  modules/openapi-generator/src/test/resources/3_0/issue_13043_recursive_model.yaml
Labels: Client: Python

#12713 fix: [JAVA/SPRING] [#12692] fixed optional config property legacyDisc…
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/resources/bugs/issue_12692.yml
Labels: Issue: Bug, Server: Java, Server: Spring

#13136 [Java] enum space value must not be generated as underscore
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/AbstractJavaCodegenTest.java
Labels: Client: Java, Feature: Enum, Issue: Bug

#13135 Better logic to handle duplicated properties in parent, child models
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/resources/3_0/go/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Model/ChildCat.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/ChildCat.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/ChildCat.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/ChildCat.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/ChildCat.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/ChildCat.cs
  samples/openapi3/client/petstore/go/go-petstore/.openapi-generator/FILES
  samples/openapi3/client/petstore/go/go-petstore/README.md
  samples/openapi3/client/petstore/go/go-petstore/api/openapi.yaml
  samples/openapi3/client/petstore/go/go-petstore/docs/DuplicatedPropChild.md
  samples/openapi3/client/petstore/go/go-petstore/docs/DuplicatedPropChildAllOf.md
  samples/openapi3/client/petstore/go/go-petstore/docs/DuplicatedPropParent.md
  samples/openapi3/client/petstore/go/go-petstore/model_duplicated_prop_child.go
  samples/openapi3/client/petstore/go/go-petstore/model_duplicated_prop_child_all_of.go
  samples/openapi3/client/petstore/go/go-petstore/model_duplicated_prop_parent.go
  samples/openapi3/client/petstore/go/go.mod
  samples/openapi3/client/petstore/go/go.sum
Labels: Feature: Generator, Issue: Bug

#13143 [Go] Fix missing import for array/map of file
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/test/resources/3_0/go/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/openapi3/client/petstore/go/go-petstore/.openapi-generator/FILES
  samples/openapi3/client/petstore/go/go-petstore/README.md
  samples/openapi3/client/petstore/go/go-petstore/api/openapi.yaml
  samples/openapi3/client/petstore/go/go-petstore/docs/MapOfFileTest.md
  samples/openapi3/client/petstore/go/go-petstore/model_map_of_file_test_.go
  samples/openapi3/client/petstore/go/go.mod
  samples/openapi3/client/petstore/go/go.sum
Labels: Client: Go, Issue: Bug

#13011 Cleaned up cargo clippy warnings
  modules/openapi-generator/src/main/resources/rust-server/client-mod.mustache
  modules/openapi-generator/src/main/resources/rust-server/client-operation.mustache
  modules/openapi-generator/src/main/resources/rust-server/lib.mustache
Labels: Client: Rust, Enhancement: Code format, Enhancement: Code Cleanup

#13105 Fix missing import in `api.mustache` for Typescript generator
  modules/openapi-generator/src/main/resources/typescript/api/api.mustache
  samples/client/others/typescript/builds/with-unique-items/apis/DefaultApi.ts
  samples/openapi3/client/petstore/typescript/builds/browser/apis/PetApi.ts
  samples/openapi3/client/petstore/typescript/builds/browser/apis/StoreApi.ts
  samples/openapi3/client/petstore/typescript/builds/browser/apis/UserApi.ts
  samples/openapi3/client/petstore/typescript/builds/composed-schemas/apis/DefaultApi.ts
  samples/openapi3/client/petstore/typescript/builds/default/apis/PetApi.ts
  samples/openapi3/client/petstore/typescript/builds/default/apis/StoreApi.ts
  samples/openapi3/client/petstore/typescript/builds/default/apis/UserApi.ts
  samples/openapi3/client/petstore/typescript/builds/deno/apis/PetApi.ts
  samples/openapi3/client/petstore/typescript/builds/deno/apis/StoreApi.ts
  samples/openapi3/client/petstore/typescript/builds/deno/apis/UserApi.ts
  samples/openapi3/client/petstore/typescript/builds/inversify/apis/PetApi.ts
  samples/openapi3/client/petstore/typescript/builds/inversify/apis/StoreApi.ts
  samples/openapi3/client/petstore/typescript/builds/inversify/apis/UserApi.ts
  samples/openapi3/client/petstore/typescript/builds/jquery/apis/PetApi.ts
  samples/openapi3/client/petstore/typescript/builds/jquery/apis/StoreApi.ts
  samples/openapi3/client/petstore/typescript/builds/jquery/apis/UserApi.ts
  samples/openapi3/client/petstore/typescript/builds/object_params/apis/PetApi.ts
  samples/openapi3/client/petstore/typescript/builds/object_params/apis/StoreApi.ts
  samples/openapi3/client/petstore/typescript/builds/object_params/apis/UserApi.ts
Labels: Client: TypeScript, Issue: Bug

#13127 Replace use of deprecated Faraday::UploadIO
  modules/openapi-generator/src/main/resources/ruby-client/api_client_faraday_partial.mustache
  samples/client/petstore/ruby-faraday/lib/petstore/api_client.rb
Labels: Client: Ruby, Enhancement: Code Cleanup

#10778 Fix template for nullable models in rust new() fns
  modules/openapi-generator/src/main/resources/rust/model.mustache
Labels: Client: Rust, Issue: Bug

#13163 Adds $ref data to schema classes
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModel.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenProperty.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenResponse.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/IJsonSchemaValidationProperties.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  samples/server/petstore/java-undertow/src/main/java/org/openapitools/handler/PathHandlerInterface.java
Labels: Feature: OAS 3.0 spec support, Feature: OAS 3.1.0 spec support

#13165 Add tests to Rust (hyper, reqwest) clients
  modules/openapi-generator/src/test/resources/3_0/rust/petstore.yaml
  samples/client/petstore/rust/hyper/petstore/.openapi-generator/FILES
  samples/client/petstore/rust/hyper/petstore/README.md
  samples/client/petstore/rust/hyper/petstore/docs/ActionContainer.md
  samples/client/petstore/rust/hyper/petstore/docs/Baz.md
  samples/client/petstore/rust/hyper/petstore/src/models/action_container.rs
  samples/client/petstore/rust/hyper/petstore/src/models/baz.rs
  samples/client/petstore/rust/hyper/petstore/src/models/mod.rs
  samples/client/petstore/rust/reqwest/petstore/.openapi-generator/FILES
  samples/client/petstore/rust/reqwest/petstore/README.md
  samples/client/petstore/rust/reqwest/petstore/docs/ActionContainer.md
  samples/client/petstore/rust/reqwest/petstore/docs/Baz.md
  samples/client/petstore/rust/reqwest/petstore/src/models/action_container.rs
  samples/client/petstore/rust/reqwest/petstore/src/models/baz.rs
  samples/client/petstore/rust/reqwest/petstore/src/models/mod.rs
Labels: Client: Rust, Enhancement: CI/Test

#13157 Add validations to R models
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
  modules/openapi-generator/src/main/resources/r/api.mustache
  modules/openapi-generator/src/main/resources/r/modelGeneric.mustache
  samples/client/petstore/R-httr2/R/allof_tag_api_response.R
  samples/client/petstore/R-httr2/R/animal.R
  samples/client/petstore/R-httr2/R/basque_pig.R
  samples/client/petstore/R-httr2/R/cat.R
  samples/client/petstore/R-httr2/R/cat_all_of.R
  samples/client/petstore/R-httr2/R/category.R
  samples/client/petstore/R-httr2/R/danish_pig.R
  samples/client/petstore/R-httr2/R/dog.R
  samples/client/petstore/R-httr2/R/dog_all_of.R
  samples/client/petstore/R-httr2/R/model_api_response.R
  samples/client/petstore/R-httr2/R/nested_one_of.R
  samples/client/petstore/R-httr2/R/order.R
  samples/client/petstore/R-httr2/R/pet.R
  samples/client/petstore/R-httr2/R/special.R
  samples/client/petstore/R-httr2/R/tag.R
  samples/client/petstore/R-httr2/R/update_pet_request.R
  samples/client/petstore/R-httr2/R/user.R
  samples/client/petstore/R/R/allof_tag_api_response.R
  samples/client/petstore/R/R/animal.R
  samples/client/petstore/R/R/basque_pig.R
  samples/client/petstore/R/R/cat.R
  samples/client/petstore/R/R/cat_all_of.R
  samples/client/petstore/R/R/category.R
  samples/client/petstore/R/R/danish_pig.R
  samples/client/petstore/R/R/dog.R
  samples/client/petstore/R/R/dog_all_of.R
  samples/client/petstore/R/R/model_api_response.R
  samples/client/petstore/R/R/nested_one_of.R
  samples/client/petstore/R/R/order.R
  samples/client/petstore/R/R/pet.R
  samples/client/petstore/R/R/special.R
  samples/client/petstore/R/R/tag.R
  samples/client/petstore/R/R/update_pet_request.R
  samples/client/petstore/R/R/user.R
Labels: Client: R, Enhancement: General

#13176 [R] Fix doc issues reported by roxygen
  modules/openapi-generator/src/main/resources/r/libraries/httr2/api_client.mustache
  modules/openapi-generator/src/main/resources/r/modelEnum.mustache
  samples/client/petstore/R-httr2/R/api_client.R
Labels: Client: R, Enhancement: Feature, Feature: Documentation

#13179 [R] allow oauth scopes customization, remove unused import
  modules/openapi-generator/src/main/resources/r/libraries/httr2/api_client.mustache
  samples/client/petstore/R-httr2/R/api_client.R
  samples/client/petstore/R-httr2/tests/testthat/test_petstore.R
Labels: Client: R, Enhancement: General

#13181 [R] minor fix to model validations, add tests
  modules/openapi-generator/src/main/resources/r/modelGeneric.mustache
  samples/client/petstore/R-httr2/R/allof_tag_api_response.R
  samples/client/petstore/R-httr2/R/animal.R
  samples/client/petstore/R-httr2/R/basque_pig.R
  samples/client/petstore/R-httr2/R/cat.R
  samples/client/petstore/R-httr2/R/cat_all_of.R
  samples/client/petstore/R-httr2/R/category.R
  samples/client/petstore/R-httr2/R/danish_pig.R
  samples/client/petstore/R-httr2/R/dog.R
  samples/client/petstore/R-httr2/R/dog_all_of.R
  samples/client/petstore/R-httr2/R/model_api_response.R
  samples/client/petstore/R-httr2/R/nested_one_of.R
  samples/client/petstore/R-httr2/R/order.R
  samples/client/petstore/R-httr2/R/pet.R
  samples/client/petstore/R-httr2/R/special.R
  samples/client/petstore/R-httr2/R/tag.R
  samples/client/petstore/R-httr2/R/update_pet_request.R
  samples/client/petstore/R-httr2/R/user.R
  samples/client/petstore/R-httr2/tests/testthat/test_petstore.R
  samples/client/petstore/R/R/allof_tag_api_response.R
  samples/client/petstore/R/R/animal.R
  samples/client/petstore/R/R/basque_pig.R
  samples/client/petstore/R/R/cat.R
  samples/client/petstore/R/R/cat_all_of.R
  samples/client/petstore/R/R/category.R
  samples/client/petstore/R/R/danish_pig.R
  samples/client/petstore/R/R/dog.R
  samples/client/petstore/R/R/dog_all_of.R
  samples/client/petstore/R/R/model_api_response.R
  samples/client/petstore/R/R/nested_one_of.R
  samples/client/petstore/R/R/order.R
  samples/client/petstore/R/R/pet.R
  samples/client/petstore/R/R/special.R
  samples/client/petstore/R/R/tag.R
  samples/client/petstore/R/R/update_pet_request.R
  samples/client/petstore/R/R/user.R
Labels: Client: R, Issue: Bug

#11949 Fixed scala-sttp generator
  docs/generators/scala-sttp.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenOperation.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaSttpClientCodegen.java
  modules/openapi-generator/src/main/resources/scala-sttp/api.mustache
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/api/PetApi.scala
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/api/StoreApi.scala
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/api/UserApi.scala
Labels: Client: Scala, Issue: Bug

#12861 Update allOf to not always be nullable
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Model/AllOfWithSingleRef.cs
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/model/AllOfWithSingleRef.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/model/AllOfWithSingleRef.java
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/AllOfWithSingleRef.php
  samples/client/petstore/ruby-faraday/lib/petstore/models/all_of_with_single_ref.rb
  samples/client/petstore/ruby/lib/petstore/models/all_of_with_single_ref.rb
  samples/client/petstore/typescript-fetch/builds/default-v3.0/models/AllOfWithSingleRef.ts
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/model/all_of_with_single_ref.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/model/all_of_with_single_ref.dart
  samples/openapi3/client/petstore/python-legacy/petstore_api/models/all_of_with_single_ref.py
  samples/server/petstore/php-laravel/lib/app/Models/AllOfWithSingleRef.php
Labels: Feature: Generator, Feature: OAS 3.0 spec support, Issue: Bug

#13164 Fixed regular expression in python client codegen that was removing any trailing chars instead of only expected ones
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonClientTest.java
  modules/openapi-generator/src/test/resources/3_0/issues_13069.yaml
  samples/client/petstore/python/docs/FakeApi.md
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/docs/FakeApi.md
  samples/openapi3/client/petstore/python/docs/FakeApi.md
Labels: Client: Python

#6911 Fix #6899 - python-flask now uses the pre-existing getter/setter validators
  modules/openapi-generator/src/main/resources/python-flask/model.mustache
  samples/server/petstore/python-flask/openapi_server/models/api_response.py
  samples/server/petstore/python-flask/openapi_server/models/category.py
  samples/server/petstore/python-flask/openapi_server/models/order.py
  samples/server/petstore/python-flask/openapi_server/models/pet.py
  samples/server/petstore/python-flask/openapi_server/models/tag.py
  samples/server/petstore/python-flask/openapi_server/models/user.py
Labels: Issue: Bug, Server: Python

#13205 [R] Fix warnings reported by r cmd check
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
  modules/openapi-generator/src/main/resources/r/.travis.yml.mustache
  modules/openapi-generator/src/main/resources/r/api.mustache
  modules/openapi-generator/src/main/resources/r/modelGeneric.mustache
  samples/client/petstore/R-httr2-wrapper/.travis.yml
  samples/client/petstore/R-httr2-wrapper/R/animal.R
  samples/client/petstore/R-httr2-wrapper/R/basque_pig.R
  samples/client/petstore/R-httr2-wrapper/R/cat.R
  samples/client/petstore/R-httr2-wrapper/R/category.R
  samples/client/petstore/R-httr2-wrapper/R/danish_pig.R
  samples/client/petstore/R-httr2-wrapper/R/dog.R
  samples/client/petstore/R-httr2-wrapper/R/pet.R
  samples/client/petstore/R-httr2/.travis.yml
  samples/client/petstore/R-httr2/R/animal.R
  samples/client/petstore/R-httr2/R/basque_pig.R
  samples/client/petstore/R-httr2/R/cat.R
  samples/client/petstore/R-httr2/R/category.R
  samples/client/petstore/R-httr2/R/danish_pig.R
  samples/client/petstore/R-httr2/R/dog.R
  samples/client/petstore/R-httr2/R/pet.R
  samples/client/petstore/R/R/animal.R
  samples/client/petstore/R/R/basque_pig.R
  samples/client/petstore/R/R/cat.R
  samples/client/petstore/R/R/category.R
  samples/client/petstore/R/R/danish_pig.R
  samples/client/petstore/R/R/dog.R
  samples/client/petstore/R/R/pet.R
Labels: Client: R, Enhancement: General

#13210 [python-experimental] improves docs, add migration guide
  modules/openapi-generator/src/main/resources/python-experimental/README.handlebars
  modules/openapi-generator/src/main/resources/python-experimental/model_templates/schema.handlebars
  samples/openapi3/client/3_0_3_unit_test/python-experimental/README.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/model/properties_with_escaped_characters.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/model/property_named_ref_that_is_not_a_reference.py
  samples/openapi3/client/petstore/python-experimental/README.md
  samples/openapi3/client/petstore/python-experimental/petstore_api/model/format_test.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/model/model200_response.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/model/model_return.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/model/name.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/model/object_with_difficultly_named_props.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/paths/fake_1/post.py
Labels: Client: Python, Feature: Documentation

#13216 [R] Fix R doc type
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
  modules/openapi-generator/src/main/resources/r/modelGeneric.mustache
  samples/client/petstore/R-httr2-wrapper/R/pet.R
  samples/client/petstore/R-httr2/R/pet.R
  samples/client/petstore/R/R/pet.R
Labels: Client: R, Enhancement: Feature, Feature: Documentation

#13223 [R] Add fromJSONString method to oneOf/anyOf in R client
  modules/openapi-generator/src/main/resources/r/api_doc.mustache
  modules/openapi-generator/src/main/resources/r/modelAnyOf.mustache
  modules/openapi-generator/src/main/resources/r/modelOneOf.mustache
  samples/client/petstore/R-httr2-wrapper/R/any_of_pig.R
  samples/client/petstore/R-httr2-wrapper/R/pig.R
  samples/client/petstore/R-httr2-wrapper/docs/FakeApi.md
  samples/client/petstore/R-httr2-wrapper/docs/PetApi.md
  samples/client/petstore/R-httr2-wrapper/docs/StoreApi.md
  samples/client/petstore/R-httr2-wrapper/docs/UserApi.md
  samples/client/petstore/R-httr2-wrapper/man/AllofTagApiResponse.Rd
  samples/client/petstore/R-httr2-wrapper/man/Animal.Rd
  samples/client/petstore/R-httr2-wrapper/man/AnyOfPig.Rd
  samples/client/petstore/R-httr2-wrapper/man/ApiClient.Rd
  samples/client/petstore/R-httr2-wrapper/man/ApiException.Rd
  samples/client/petstore/R-httr2-wrapper/man/ApiResponse.Rd
  samples/client/petstore/R-httr2-wrapper/man/BasquePig.Rd
  samples/client/petstore/R-httr2-wrapper/man/Cat.Rd
  samples/client/petstore/R-httr2-wrapper/man/CatAllOf.Rd
  samples/client/petstore/R-httr2-wrapper/man/Category.Rd
  samples/client/petstore/R-httr2-wrapper/man/DanishPig.Rd
  samples/client/petstore/R-httr2-wrapper/man/Dog.Rd
  samples/client/petstore/R-httr2-wrapper/man/DogAllOf.Rd
  samples/client/petstore/R-httr2-wrapper/man/FakeApi.Rd
  samples/client/petstore/R-httr2-wrapper/man/ModelApiResponse.Rd
  samples/client/petstore/R-httr2-wrapper/man/NestedOneOf.Rd
  samples/client/petstore/R-httr2-wrapper/man/Order.Rd
  samples/client/petstore/R-httr2-wrapper/man/Pet.Rd
  samples/client/petstore/R-httr2-wrapper/man/PetApi.Rd
  samples/client/petstore/R-httr2-wrapper/man/Pig.Rd
  samples/client/petstore/R-httr2-wrapper/man/Special.Rd
  samples/client/petstore/R-httr2-wrapper/man/StoreApi.Rd
  samples/client/petstore/R-httr2-wrapper/man/Tag.Rd
  samples/client/petstore/R-httr2-wrapper/man/UpdatePetRequest.Rd
  samples/client/petstore/R-httr2-wrapper/man/User.Rd
  samples/client/petstore/R-httr2-wrapper/man/UserApi.Rd
  samples/client/petstore/R-httr2/R/any_of_pig.R
  samples/client/petstore/R-httr2/R/pig.R
  samples/client/petstore/R-httr2/docs/FakeApi.md
  samples/client/petstore/R-httr2/docs/PetApi.md
  samples/client/petstore/R-httr2/docs/StoreApi.md
  samples/client/petstore/R-httr2/docs/UserApi.md
  samples/client/petstore/R/R/any_of_pig.R
  samples/client/petstore/R/R/pig.R
  samples/client/petstore/R/docs/FakeApi.md
  samples/client/petstore/R/docs/PetApi.md
  samples/client/petstore/R/docs/StoreApi.md
  samples/client/petstore/R/docs/UserApi.md
Labels: Client: R, Enhancement: General

#13226 [R] Minor improvements to the documentation
  modules/openapi-generator/src/main/resources/r/README.mustache
  modules/openapi-generator/src/main/resources/r/api_doc.mustache
  samples/client/petstore/R-httr2-wrapper/README.md
  samples/client/petstore/R-httr2-wrapper/docs/FakeApi.md
  samples/client/petstore/R-httr2-wrapper/docs/PetApi.md
  samples/client/petstore/R-httr2-wrapper/docs/StoreApi.md
  samples/client/petstore/R-httr2-wrapper/docs/UserApi.md
  samples/client/petstore/R-httr2/README.md
  samples/client/petstore/R-httr2/docs/FakeApi.md
  samples/client/petstore/R-httr2/docs/PetApi.md
  samples/client/petstore/R-httr2/docs/StoreApi.md
  samples/client/petstore/R-httr2/docs/UserApi.md
  samples/client/petstore/R/README.md
  samples/client/petstore/R/docs/FakeApi.md
  samples/client/petstore/R/docs/PetApi.md
  samples/client/petstore/R/docs/StoreApi.md
  samples/client/petstore/R/docs/UserApi.md
Labels: Client: R, Enhancement: Feature, Feature: Documentation

#13137 Standardizes import gathering code
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/IJsonSchemaValidationProperties.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonExperimentalClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/jaxrs/JavaJAXRSSpecServerCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/setParameter.yaml
  modules/openapi-generator/src/test/resources/3_0/unit_test_spec/3_0_3_unit_test_spec.yaml
  modules/openapi-generator/src/test/resources/3_0/unit_test_spec/spec_writer.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/.openapi-generator/FILES
  samples/openapi3/client/3_0_3_unit_test/python-experimental/README.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/apis/tags/ContentTypeJsonApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/apis/tags/OperationRequestBodyApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/apis/tags/PathPostApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/apis/tags/RefApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/apis/tags/ResponseContentContentTypeSchemaApi.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/docs/models/RefInNot.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/test/test_models/test_ref_in_not.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/test/test_paths/test_request_body_post_ref_in_not_request_body/__init__.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/test/test_paths/test_request_body_post_ref_in_not_request_body/test_post.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/test/test_paths/test_response_body_post_ref_in_not_response_body_for_content_types/__init__.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/test/test_paths/test_response_body_post_ref_in_not_response_body_for_content_types/test_post.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/path_to_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/paths/request_body_post_ref_in_not_request_body.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/paths/response_body_post_ref_in_not_response_body_for_content_types.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/content_type_json_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/operation_request_body_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/path_post_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/ref_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/apis/tags/response_content_content_type_schema_api.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/model/ref_in_not.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/models/__init__.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/paths/__init__.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/paths/request_body_post_ref_in_not_request_body/__init__.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/paths/request_body_post_ref_in_not_request_body/post.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/paths/response_body_post_ref_in_not_response_body_for_content_types/__init__.py
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/paths/response_body_post_ref_in_not_response_body_for_content_types/post.py
Labels: Client: Python

#13235 Fix string comparison in Scala sttp client
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaSttpClientCodegen.java
Labels: Client: Scala, Issue: Bug

#13236 Better handling of NPE in k6 client generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/K6ClientCodegen.java
Labels: Enhancement: Code format, Enhancement: General, Client: k6

#13237 Minor code improvement in model utils
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
Labels: Enhancement: Code format, Feature: Generator, Enhancement: Code Cleanup

#13238 Update undertow to newer version
  modules/openapi-generator/src/main/resources/java-undertow-server/pom.mustache
  samples/server/petstore/java-undertow/dependency-reduced-pom.xml
  samples/server/petstore/java-undertow/pom.xml
Labels: Enhancement: Compatibility, Server: Java, Enhancement: Security

#13168 feat: [JAVA] [resttemplate] [#13146] added support for abstract file
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/api.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue13146_file_abstraction_response.yaml
Labels: Client: Java, Enhancement: Feature

#13191 Fix javascript-apollo generator/template
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptApolloClientCodegen.java
  modules/openapi-generator/src/main/resources/Javascript-Apollo/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Javascript-Apollo/api.mustache
  modules/openapi-generator/src/main/resources/Javascript-Apollo/api_test.mustache
  modules/openapi-generator/src/main/resources/Javascript-Apollo/package.mustache
Labels: Client: JavaScript/Node.js, Issue: Bug

#13250 [scala][sttp]fix enum generation for inline-enum of array
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaSttpClientCodegen.java
  modules/openapi-generator/src/main/resources/scala-sttp/model.mustache
Labels: Client: Scala, Feature: Enum, Issue: Bug

#13242 [csharp-netcore] Use type names as the keys of the enum reference map
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
Labels: Client: C-Sharp, Feature: Enum, Issue: Bug, Server: C-Sharp

#13261 Better enum tests for scala-sttp
  .github/workflows/samples-scala.yaml
  bin/configs/scala-sttp.yaml
  modules/openapi-generator/src/test/resources/3_0/scala/petstore.yaml
  samples/client/petstore/scala-sttp/.openapi-generator/FILES
  samples/client/petstore/scala-sttp/README.md
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/model/EnumTest.scala
Labels: Client: Scala, Issue: Bug

#13130 fix deepcopy for allOf schemas
  modules/openapi-generator/src/main/resources/python/model_templates/methods_shared.mustache
  samples/client/petstore/python/petstore_api/model_utils.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/model_utils.py
  samples/openapi3/client/extensions/x-auth-id-alias/python/x_auth_id_alias/model_utils.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/model_utils.py
  samples/openapi3/client/petstore/python/petstore_api/model_utils.py
  samples/openapi3/client/petstore/python/tests_manual/test_copy.py
Labels: Client: Python

#13268 Javascript Generator: two small sanitization changes 🦠
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptClientCodegen.java
  samples/client/petstore/javascript-es6/package.json
  samples/client/petstore/javascript-es6/src/index.js
  samples/client/petstore/javascript-promise-es6/package.json
  samples/client/petstore/javascript-promise-es6/src/index.js
Labels: Client: JavaScript/Node.js, Issue: Bug

#13264 Better null check in default codegen
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Enhancement: General, Feature: Generator

#13249 [cpp-pistache-server] Fix enum generation for mode useStructModel=true
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-struct-header.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-struct-source.mustache
Labels: Feature: Enum, Issue: Bug, Server: C++

#13154 [Kotlin][Client] Explode query params for kotlin generator
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/api.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/explodedQueryParam.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/paramJavadoc.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/queryParam.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/queryParams.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/KotlinClientCodegenModelTest.java
Labels: Client: Kotlin, Enhancement: General

#13140 Allow override CodegenConfigurator in GenerateTask
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
Labels: Enhancement: General, OpenAPI Generator Gradle Plugin

#13280 Add more tests for Gradle plugin in Github workflows
  .github/workflows/openapi-generator.yaml
  modules/openapi-generator-gradle-plugin/samples/local-spec/README.md
  modules/openapi-generator-gradle-plugin/samples/local-spec/build.gradle
  modules/openapi-generator-gradle-plugin/samples/local-spec/gradle/wrapper/gradle-wrapper.properties
  modules/openapi-generator-gradle-plugin/samples/local-spec/gradlew
  modules/openapi-generator-gradle-plugin/samples/local-spec/gradlew.bat
Labels: Enhancement: CI/Test, Enhancement: Compatibility, OpenAPI Generator Gradle Plugin

#13286 [protobuf] fix set, add tests
  bin/configs/protobuf-schema.yaml
  docs/generators/protobuf-schema.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ProtobufSchemaCodegen.java
  modules/openapi-generator/src/test/resources/3_0/protobuf/petstore.yaml
  samples/config/petstore/protobuf-schema/.openapi-generator/FILES
  samples/config/petstore/protobuf-schema/models/other_test.proto
Labels: Issue: Bug, Schema: ProtoBuf

#13296 Fix protobuf variable name
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ProtobufSchemaCodegen.java
  samples/config/petstore/protobuf-schema/models/other_test.proto
Labels: Issue: Bug, Schema: ProtoBuf

#13297 Minor enhancements to the JS apollo generator
  bin/configs/unmaintained/javascript-apollo.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptClientCodegen.java
Labels: Client: JavaScript/Node.js, Enhancement: Code format

#13276 [csharp-netcore] To support Secret API key input as string
  modules/openapi-generator/src/main/resources/csharp-netcore/HttpSigningConfiguration.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
Labels: Client: C-Sharp, Enhancement: Security

#13228 [swift5] Add UUID support in FormDataEncoding
  modules/openapi-generator/src/main/resources/swift5/libraries/alamofire/AlamofireImplementations.mustache
  modules/openapi-generator/src/main/resources/swift5/libraries/urlsession/URLSessionImplementations.mustache
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient/Classes/OpenAPIs/AlamofireImplementations.swift
  samples/client/petstore/swift5/asyncAwaitLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/deprecated/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/frozenEnums/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/oneOf/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/readonlyProperties/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/urlsessionLibrary/Sources/PetstoreClient/URLSessionImplementations.swift
  samples/client/petstore/swift5/x-swift-hashable/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
Labels: Client: Swift, Enhancement: General
