Repository OpenAPITools/openapi-generator, pull requests merged in 2022-09, with the labels that each got.

#13330 Fix http basic auth in R client
  modules/openapi-generator/src/main/resources/r/api.mustache
  samples/client/petstore/R-httr2-wrapper/R/pet_api.R
  samples/client/petstore/R-httr2/R/pet_api.R
  samples/client/petstore/R/R/pet_api.R
  samples/client/petstore/R/tests/testthat/test_petstore.R
Labels: Client: R, Issue: Bug

#13151 [maven] Use one of two default paths of output directory according to the lifecycle phase
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
Labels: Enhancement: General, Issue: Bug, OpenAPI Generator Maven Plugin

#13243 Fix generation of default array values for kotlin client
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/test/resources/3_0/issue_10865_default_values.yaml
  samples/client/petstore/kotlin-default-values-jvm-okhttp3/docs/DefaultApi.md
  samples/client/petstore/kotlin-default-values-jvm-okhttp3/src/main/kotlin/org/openapitools/client/apis/DefaultApi.kt
  samples/client/petstore/kotlin-default-values-jvm-okhttp4/docs/DefaultApi.md
  samples/client/petstore/kotlin-default-values-jvm-okhttp4/src/main/kotlin/org/openapitools/client/apis/DefaultApi.kt
  samples/client/petstore/kotlin-default-values-jvm-retrofit2/docs/DefaultApi.md
  samples/client/petstore/kotlin-default-values-jvm-retrofit2/src/main/kotlin/org/openapitools/client/apis/DefaultApi.kt
  samples/client/petstore/kotlin-default-values-jvm-volley/docs/DefaultApi.md
  samples/client/petstore/kotlin-default-values-jvm-volley/src/main/kotlin/org/openapitools/client/apis/DefaultApi.kt
  samples/client/petstore/kotlin-default-values-multiplatform/docs/DefaultApi.md
  samples/client/petstore/kotlin-default-values-multiplatform/src/main/kotlin/org/openapitools/client/apis/DefaultApi.kt
Labels: Client: Kotlin, Issue: Bug, Server: Kotlin

#13345 [R] Remove obsolete importMapping code, add tests
  .gitignore
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
  modules/openapi-generator/src/test/resources/3_0/r/petstore.yaml
  samples/client/petstore/R-httr2-wrapper/.openapi-generator/FILES
  samples/client/petstore/R-httr2-wrapper/NAMESPACE
  samples/client/petstore/R-httr2-wrapper/R/date.R
  samples/client/petstore/R-httr2-wrapper/README.md
  samples/client/petstore/R-httr2-wrapper/docs/Date.md
  samples/client/petstore/R-httr2-wrapper/tests/testthat/test_date.R
  samples/client/petstore/R-httr2/.openapi-generator/FILES
  samples/client/petstore/R-httr2/NAMESPACE
  samples/client/petstore/R-httr2/R/date.R
  samples/client/petstore/R-httr2/README.md
  samples/client/petstore/R-httr2/docs/Date.md
  samples/client/petstore/R-httr2/tests/testthat/test_date.R
  samples/client/petstore/R/.openapi-generator/FILES
  samples/client/petstore/R/NAMESPACE
  samples/client/petstore/R/R/date.R
  samples/client/petstore/R/README.md
  samples/client/petstore/R/docs/Date.md
  samples/client/petstore/R/tests/testthat/test_date.R
Labels: Client: R, Enhancement: CI/Test, Enhancement: Code Cleanup

#13346 [R] update allVars to handle empty string, include R doc type extension
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
Labels: Client: R, Enhancement: General

#13348 Fix query parameters (array) in R client
  modules/openapi-generator/src/main/resources/r/api.mustache
  modules/openapi-generator/src/main/resources/r/libraries/httr2/api_client.mustache
  samples/client/petstore/R-httr2-wrapper/R/api_client.R
  samples/client/petstore/R-httr2-wrapper/R/pet_api.R
  samples/client/petstore/R-httr2-wrapper/test_petstore.R
  samples/client/petstore/R-httr2/R/api_client.R
  samples/client/petstore/R-httr2/R/pet_api.R
  samples/client/petstore/R/R/pet_api.R
Labels: Client: R, Issue: Bug

#13353 Escape % in description in R model @field
  modules/openapi-generator/src/main/resources/r/modelGeneric.mustache
  modules/openapi-generator/src/test/resources/3_0/r/petstore.yaml
  samples/client/petstore/R-httr2-wrapper/R/date.R
  samples/client/petstore/R-httr2-wrapper/docs/Date.md
  samples/client/petstore/R-httr2/R/date.R
  samples/client/petstore/R-httr2/docs/Date.md
  samples/client/petstore/R/R/date.R
  samples/client/petstore/R/docs/Date.md
Labels: Client: R, Issue: Non-operational

#13356 [python-experimental] adds new json content type
  modules/openapi-generator/src/main/resources/python-experimental/api_client.handlebars
  modules/openapi-generator/src/test/resources/3_0/python-experimental/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/api_client.py
  samples/openapi3/client/petstore/python-experimental/.openapi-generator/FILES
  samples/openapi3/client/petstore/python-experimental/README.md
  samples/openapi3/client/petstore/python-experimental/docs/apis/tags/FakeApi.md
  samples/openapi3/client/petstore/python-experimental/docs/models/JSONPatchRequest.md
  samples/openapi3/client/petstore/python-experimental/docs/models/JSONPatchRequestAddReplaceTest.md
  samples/openapi3/client/petstore/python-experimental/docs/models/JSONPatchRequestMoveCopy.md
  samples/openapi3/client/petstore/python-experimental/docs/models/JSONPatchRequestRemove.md
  samples/openapi3/client/petstore/python-experimental/petstore_api/api_client.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/apis/path_to_api.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/apis/paths/fake_json_patch.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/apis/tags/fake_api.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/model/json_patch_request.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/model/json_patch_request.pyi
  samples/openapi3/client/petstore/python-experimental/petstore_api/model/json_patch_request_add_replace_test.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/model/json_patch_request_add_replace_test.pyi
  samples/openapi3/client/petstore/python-experimental/petstore_api/model/json_patch_request_move_copy.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/model/json_patch_request_move_copy.pyi
  samples/openapi3/client/petstore/python-experimental/petstore_api/model/json_patch_request_remove.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/model/json_patch_request_remove.pyi
  samples/openapi3/client/petstore/python-experimental/petstore_api/models/__init__.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/paths/__init__.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/paths/fake_json_patch/__init__.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/paths/fake_json_patch/patch.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/paths/fake_json_patch/patch.pyi
  samples/openapi3/client/petstore/python-experimental/test/test_models/test_json_patch_request.py
  samples/openapi3/client/petstore/python-experimental/test/test_models/test_json_patch_request_add_replace_test.py
  samples/openapi3/client/petstore/python-experimental/test/test_models/test_json_patch_request_move_copy.py
  samples/openapi3/client/petstore/python-experimental/test/test_models/test_json_patch_request_remove.py
  samples/openapi3/client/petstore/python-experimental/test/test_paths/test_fake_json_patch/__init__.py
  samples/openapi3/client/petstore/python-experimental/test/test_paths/test_fake_json_patch/test_patch.py
  samples/openapi3/client/petstore/python-experimental/tests_manual/test_fake_api.py
Labels: Client: Python

#13357 [python-experimental] adds and uses regex patterns for json + filename detection
  modules/openapi-generator/src/main/resources/python-experimental/README.handlebars
  modules/openapi-generator/src/main/resources/python-experimental/api_client.handlebars
  samples/openapi3/client/3_0_3_unit_test/python-experimental/README.md
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/api_client.py
  samples/openapi3/client/petstore/python-experimental/README.md
  samples/openapi3/client/petstore/python-experimental/petstore_api/api_client.py
Labels: Client: Python

#13358 [python-experimental] adds test verifying inheriting from multiple AnyType classes
  modules/openapi-generator/src/test/resources/3_0/python-experimental/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/openapi3/client/petstore/python-experimental/.openapi-generator/FILES
  samples/openapi3/client/petstore/python-experimental/README.md
  samples/openapi3/client/petstore/python-experimental/docs/models/AdditionalPropertiesValidator.md
  samples/openapi3/client/petstore/python-experimental/petstore_api/model/additional_properties_validator.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/model/additional_properties_validator.pyi
  samples/openapi3/client/petstore/python-experimental/petstore_api/models/__init__.py
  samples/openapi3/client/petstore/python-experimental/test/test_models/test_additional_properties_validator.py
  samples/openapi3/client/petstore/python-experimental/tests_manual/test_additional_properties_validator.py
Labels: Client: Python

#12505 [kotlin-spring] Escape quotes in example of array type property
  modules/openapi-generator/src/main/resources/kotlin-spring/dataClassOptVar.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/dataClassReqVar.mustache
Labels: Issue: Bug, Server: Kotlin, Server: Spring

#13364 [R] support explode (true/false) in query array parameters
  modules/openapi-generator/src/main/resources/r/api.mustache
  modules/openapi-generator/src/main/resources/r/libraries/httr2/api_client.mustache
  modules/openapi-generator/src/test/resources/3_0/r/petstore.yaml
  samples/client/petstore/R-httr2-wrapper/R/api_client.R
  samples/client/petstore/R-httr2-wrapper/R/pet_api.R
  samples/client/petstore/R-httr2-wrapper/R/user_api.R
  samples/client/petstore/R-httr2-wrapper/docs/PetApi.md
  samples/client/petstore/R-httr2-wrapper/test_petstore.R
  samples/client/petstore/R-httr2-wrapper/tests/testthat/test_petstore.R
  samples/client/petstore/R-httr2/R/api_client.R
  samples/client/petstore/R-httr2/R/pet_api.R
  samples/client/petstore/R-httr2/R/user_api.R
  samples/client/petstore/R-httr2/docs/PetApi.md
  samples/client/petstore/R/R/pet_api.R
  samples/client/petstore/R/R/user_api.R
  samples/client/petstore/R/docs/PetApi.md
Labels: Client: R, Enhancement: General

#13352 [C][Client] Treat "null" as a valid value for a field of a JSON map
  modules/openapi-generator/src/main/resources/C-libcurl/model-body.mustache
Labels: Issue: Bug, Client: C

#13415 Add validation for query enum parameters in R client
  modules/openapi-generator/src/main/resources/r/api.mustache
  samples/client/petstore/R-httr2-wrapper/R/pet_api.R
  samples/client/petstore/R-httr2-wrapper/tests/testthat/test_petstore.R
  samples/client/petstore/R-httr2/R/pet_api.R
  samples/client/petstore/R/R/pet_api.R
Labels: Client: R, Enhancement: Feature, Feature: Enum

#13414 [Spring] Bean validation for headers
  modules/openapi-generator/src/main/resources/JavaSpring/headerParams.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/resources/bugs/issue_7125.json
  samples/client/petstore/spring-cloud-date-time/src/main/java/org/openapitools/api/DefaultApi.java
  samples/openapi3/client/petstore/spring-cloud-date-time/src/main/java/org/openapitools/api/DefaultApi.java
  samples/openapi3/client/petstore/spring-cloud-oas3-fakeapi/src/main/java/org/openapitools/api/FakeApi.java
  samples/openapi3/server/petstore/springboot-beanvalidation-no-nullable/src/main/java/org/openapitools/api/FakeApi.java
  samples/openapi3/server/petstore/springboot-delegate/src/main/java/org/openapitools/api/FakeApi.java
  samples/openapi3/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/FakeApi.java
  samples/openapi3/server/petstore/springboot-useoptional/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/spring-boot-defaultInterface-unhandledException/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-beanvalidation-no-nullable/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern-without-j8/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-spring-pageable-without-j8/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-spring-pageable/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/api/FakeApi.java
  samples/server/petstore/springboot/src/main/java/org/openapitools/api/FakeApi.java
Labels: Enhancement: General, Server: Spring

#13421 Fix php generators treating double as a native type
  docs/generators/php-dt.md
  docs/generators/php-laravel.md
  docs/generators/php-lumen.md
  docs/generators/php-mezzio-ph.md
  docs/generators/php-slim-deprecated.md
  docs/generators/php-slim4.md
  docs/generators/php-symfony.md
  docs/generators/php.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPhpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpDataTransferClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpLaravelServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpMezzioPathHandlerServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSilexServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSymfonyServerCodegen.java
  samples/client/petstore/php/OpenAPIClient-php/docs/Api/FakeApi.md
  samples/client/petstore/php/OpenAPIClient-php/docs/Model/EnumTest.md
  samples/client/petstore/php/OpenAPIClient-php/docs/Model/FormatTest.md
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/EnumTest.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/FormatTest.php
  samples/client/petstore/php/OpenAPIClient-php/lib/ObjectSerializer.php
  samples/server/petstore/php-laravel/lib/app/Models/EnumTest.php
  samples/server/petstore/php-laravel/lib/app/Models/FormatTest.php
Labels: Client: PHP, Issue: Bug

#13436 [python-experimental] adds more base class mixins, preparation for v3.1.0 type arrays
  modules/openapi-generator/src/main/resources/python-experimental/schemas.handlebars
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/schemas.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/schemas.py
Labels: Client: Python

#13430 Support set in R client parameters
  modules/openapi-generator/src/main/resources/r/api.mustache
  modules/openapi-generator/src/test/resources/3_0/r/petstore.yaml
  samples/client/petstore/R-httr2-wrapper/R/fake_api.R
  samples/client/petstore/R-httr2-wrapper/README.md
  samples/client/petstore/R-httr2-wrapper/docs/FakeApi.md
  samples/client/petstore/R-httr2-wrapper/tests/testthat/test_petstore.R
  samples/client/petstore/R-httr2/R/fake_api.R
  samples/client/petstore/R-httr2/README.md
  samples/client/petstore/R-httr2/docs/FakeApi.md
  samples/client/petstore/R/R/fake_api.R
  samples/client/petstore/R/README.md
  samples/client/petstore/R/docs/FakeApi.md
Labels: Client: R, Enhancement: Feature

#13443 Add set support to model properties in R client
  modules/openapi-generator/src/main/resources/r/modelGeneric.mustache
  modules/openapi-generator/src/test/resources/3_0/r/petstore.yaml
  samples/client/petstore/R-httr2-wrapper/R/special.R
  samples/client/petstore/R-httr2-wrapper/docs/Special.md
  samples/client/petstore/R-httr2-wrapper/tests/testthat/test_petstore.R
  samples/client/petstore/R-httr2/R/special.R
  samples/client/petstore/R-httr2/docs/Special.md
  samples/client/petstore/R/R/special.R
  samples/client/petstore/R/docs/Special.md
Labels: Client: R, Enhancement: General

#13447 [R] better doc
  modules/openapi-generator/src/main/resources/r/api_doc.mustache
  modules/openapi-generator/src/main/resources/r/model_doc.mustache
  samples/client/petstore/R-httr2-wrapper/docs/Animal.md
  samples/client/petstore/R-httr2-wrapper/docs/Cat.md
  samples/client/petstore/R-httr2-wrapper/docs/Category.md
  samples/client/petstore/R-httr2-wrapper/docs/Dog.md
  samples/client/petstore/R-httr2-wrapper/docs/FakeApi.md
  samples/client/petstore/R-httr2-wrapper/docs/Mammal.md
  samples/client/petstore/R-httr2-wrapper/docs/Order.md
  samples/client/petstore/R-httr2-wrapper/docs/Pet.md
  samples/client/petstore/R-httr2-wrapper/docs/PetApi.md
  samples/client/petstore/R-httr2-wrapper/docs/StoreApi.md
  samples/client/petstore/R-httr2-wrapper/docs/UserApi.md
  samples/client/petstore/R-httr2-wrapper/docs/Zebra.md
  samples/client/petstore/R-httr2/docs/Animal.md
  samples/client/petstore/R-httr2/docs/Cat.md
  samples/client/petstore/R-httr2/docs/Category.md
  samples/client/petstore/R-httr2/docs/Dog.md
  samples/client/petstore/R-httr2/docs/FakeApi.md
  samples/client/petstore/R-httr2/docs/Mammal.md
  samples/client/petstore/R-httr2/docs/Order.md
  samples/client/petstore/R-httr2/docs/Pet.md
  samples/client/petstore/R-httr2/docs/PetApi.md
  samples/client/petstore/R-httr2/docs/StoreApi.md
  samples/client/petstore/R-httr2/docs/UserApi.md
  samples/client/petstore/R-httr2/docs/Zebra.md
  samples/client/petstore/R/docs/Animal.md
  samples/client/petstore/R/docs/Cat.md
  samples/client/petstore/R/docs/Category.md
  samples/client/petstore/R/docs/Dog.md
  samples/client/petstore/R/docs/FakeApi.md
  samples/client/petstore/R/docs/Mammal.md
  samples/client/petstore/R/docs/Order.md
  samples/client/petstore/R/docs/Pet.md
  samples/client/petstore/R/docs/PetApi.md
  samples/client/petstore/R/docs/StoreApi.md
  samples/client/petstore/R/docs/UserApi.md
  samples/client/petstore/R/docs/Zebra.md
Labels: Client: R, Enhancement: Feature, Feature: Documentation

#13435 [kotlin][client] fix file upload with okhttp
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-okhttp/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin-allOff-discriminator/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-array-simple-string-jvm-okhttp3/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-array-simple-string-jvm-okhttp4/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-bigdecimal-default-okhttp4/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-default-values-jvm-okhttp3/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-default-values-jvm-okhttp4/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-enum-default-value/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-json-request-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-modelMutable/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin, Issue: Bug

#13397 [fix][python-flask][python-aiohttp]: incorrect boolean literal in unit tests
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonConnexionServerCodegen.java
Labels: Issue: Bug, Server: Python

#13450 [R] Add array support to path parameters
  modules/openapi-generator/src/main/resources/r/api.mustache
  modules/openapi-generator/src/test/resources/3_0/r/petstore.yaml
  samples/client/petstore/R-httr2-wrapper/R/fake_api.R
  samples/client/petstore/R-httr2-wrapper/R/pet_api.R
  samples/client/petstore/R-httr2-wrapper/R/store_api.R
  samples/client/petstore/R-httr2-wrapper/R/user_api.R
  samples/client/petstore/R-httr2-wrapper/README.md
  samples/client/petstore/R-httr2-wrapper/docs/FakeApi.md
  samples/client/petstore/R-httr2-wrapper/tests/testthat/test_petstore.R
  samples/client/petstore/R-httr2/R/fake_api.R
  samples/client/petstore/R-httr2/R/pet_api.R
  samples/client/petstore/R-httr2/R/store_api.R
  samples/client/petstore/R-httr2/R/user_api.R
  samples/client/petstore/R-httr2/README.md
  samples/client/petstore/R-httr2/docs/FakeApi.md
  samples/client/petstore/R/R/fake_api.R
  samples/client/petstore/R/R/pet_api.R
  samples/client/petstore/R/R/store_api.R
  samples/client/petstore/R/R/user_api.R
  samples/client/petstore/R/README.md
  samples/client/petstore/R/docs/FakeApi.md
Labels: Client: R, Enhancement: General

#13014 [PHP-Symfony] Encurage Symfony 5 bundle directory structure best practices
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPhpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSymfonyServerCodegen.java
  modules/openapi-generator/src/main/resources/php-symfony/Extension.mustache
  modules/openapi-generator/src/main/resources/php-symfony/README.mustache
  modules/openapi-generator/src/main/resources/php-symfony/api_doc.mustache
  modules/openapi-generator/src/main/resources/php-symfony/autoload.mustache
  modules/openapi-generator/src/main/resources/php-symfony/composer.mustache
  modules/openapi-generator/src/main/resources/php-symfony/gitignore
  modules/openapi-generator/src/main/resources/php-symfony/testing/AppKernel.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/php/PhpSymfonyServerCodegenTest.java
  samples/server/petstore/php-symfony/SymfonyBundle-php/.gitignore
  samples/server/petstore/php-symfony/SymfonyBundle-php/.openapi-generator/FILES
  samples/server/petstore/php-symfony/SymfonyBundle-php/DependencyInjection/OpenAPIServerExtension.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/README.md
  samples/server/petstore/php-symfony/SymfonyBundle-php/Resources/config/routing.yaml
  samples/server/petstore/php-symfony/SymfonyBundle-php/Resources/config/services.yaml
  samples/server/petstore/php-symfony/SymfonyBundle-php/Tests/AppKernel.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Tests/test_config.yaml
  samples/server/petstore/php-symfony/SymfonyBundle-php/Tests/test_config.yml
  samples/server/petstore/php-symfony/SymfonyBundle-php/autoload.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/composer.json
  samples/server/petstore/php-symfony/SymfonyBundle-php/docs/Api/PetApiInterface.md
  samples/server/petstore/php-symfony/SymfonyBundle-php/docs/Api/StoreApiInterface.md
  samples/server/petstore/php-symfony/SymfonyBundle-php/docs/Api/UserApiInterface.md
  samples/server/petstore/php-symfony/SymfonyBundle-php/docs/Model/ApiResponse.md
  samples/server/petstore/php-symfony/SymfonyBundle-php/docs/Model/Category.md
  samples/server/petstore/php-symfony/SymfonyBundle-php/docs/Model/Order.md
  samples/server/petstore/php-symfony/SymfonyBundle-php/docs/Model/Pet.md
  samples/server/petstore/php-symfony/SymfonyBundle-php/docs/Model/Tag.md
  samples/server/petstore/php-symfony/SymfonyBundle-php/docs/Model/User.md
  samples/server/petstore/php-symfony/SymfonyBundle-php/phpunit.xml.dist
Labels: Enhancement: General, Server: PHP

#13457 [typescript-angular] Support body for DELETE requests
  modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache
  modules/openapi-generator/src/test/resources/integrationtests/typescript/additional-properties-expected/api/user.service.ts
  modules/openapi-generator/src/test/resources/integrationtests/typescript/array-and-object-expected/api/project.service.ts
  modules/openapi-generator/src/test/resources/integrationtests/typescript/custom-path-params-expected/api/matrixParams.service.ts
  modules/openapi-generator/src/test/resources/integrationtests/typescript/petstore-expected/api/pet.service.ts
  modules/openapi-generator/src/test/resources/integrationtests/typescript/petstore-expected/api/store.service.ts
  modules/openapi-generator/src/test/resources/integrationtests/typescript/petstore-expected/api/user.service.ts
  samples/client/petstore/typescript-angular-v12-oneOf/builds/default/api/default.service.ts
  samples/client/petstore/typescript-angular-v12-provided-in-any/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v12-provided-in-any/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v12-provided-in-any/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v12-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v12-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v12-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v12-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v12-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v12-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v13-oneOf/builds/default/api/default.service.ts
  samples/client/petstore/typescript-angular-v13-provided-in-any/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v13-provided-in-any/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v13-provided-in-any/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v13-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v13-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v13-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v13-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v13-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v13-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v14-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v14-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v14-provided-in-root/builds/default/api/user.service.ts
Labels: Client: TypeScript, Issue: Bug

#13471 [python-experimental] Fix error message
  modules/openapi-generator/src/main/resources/python-experimental/api_client.handlebars
  samples/openapi3/client/3_0_3_unit_test/python-experimental/unit_test_api/api_client.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/api_client.py
Labels: Client: Python

#13452 [Dart] Remove toString() call in enum TypeTransformers
  modules/openapi-generator/src/main/resources/dart2/serialization/native/native_enum.mustache
  modules/openapi-generator/src/main/resources/dart2/serialization/native/native_enum_inline.mustache
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/model/order.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/model/pet.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/enum_arrays.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/enum_class.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/enum_test.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/map_test.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/order.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/outer_enum.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/outer_enum_default_value.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/outer_enum_integer.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/outer_enum_integer_default_value.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/pet.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/single_ref_type.dart
Labels: Client: Dart, Feature: Enum, Issue: Bug

#13316 [Kotlin] Support for international letters like øæå.
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
Labels: Client: Kotlin, Issue: Bug, Server: Kotlin

#13012 PHP: fix ranged status codes
  modules/openapi-generator/src/main/resources/php/api.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/AnotherFakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/DefaultApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeClassnameTags123Api.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/PetApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/StoreApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/UserApi.php
Labels: Client: PHP, Issue: Bug

#13483 [R] Fix optional body parameter
  modules/openapi-generator/src/main/resources/r/api.mustache
  modules/openapi-generator/src/test/resources/3_0/r/petstore.yaml
  samples/client/petstore/R-httr2-wrapper/R/fake_api.R
  samples/client/petstore/R-httr2-wrapper/R/pet_api.R
  samples/client/petstore/R-httr2-wrapper/R/store_api.R
  samples/client/petstore/R-httr2-wrapper/R/user_api.R
  samples/client/petstore/R-httr2-wrapper/README.md
  samples/client/petstore/R-httr2-wrapper/docs/FakeApi.md
  samples/client/petstore/R-httr2-wrapper/tests/testthat/test_petstore.R
  samples/client/petstore/R-httr2/R/fake_api.R
  samples/client/petstore/R-httr2/R/pet_api.R
  samples/client/petstore/R-httr2/R/store_api.R
  samples/client/petstore/R-httr2/R/user_api.R
  samples/client/petstore/R-httr2/README.md
  samples/client/petstore/R-httr2/docs/FakeApi.md
  samples/client/petstore/R/R/fake_api.R
  samples/client/petstore/R/R/pet_api.R
  samples/client/petstore/R/R/store_api.R
  samples/client/petstore/R/R/user_api.R
  samples/client/petstore/R/README.md
  samples/client/petstore/R/docs/FakeApi.md
Labels: Client: R, Issue: Bug

#13473 [rust-server] Resolve clippy warnings
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/resources/rust-server/client-callbacks.mustache
  modules/openapi-generator/src/main/resources/rust-server/client-operation.mustache
  modules/openapi-generator/src/main/resources/rust-server/context.mustache
  modules/openapi-generator/src/main/resources/rust-server/example-server-common.mustache
  modules/openapi-generator/src/main/resources/rust-server/lib.mustache
  modules/openapi-generator/src/main/resources/rust-server/models.mustache
  modules/openapi-generator/src/main/resources/rust-server/server-mod.mustache
  modules/openapi-generator/src/main/resources/rust-server/server-operation.mustache
  modules/openapi-generator/src/main/resources/rust-server/server-paths.mustache
  modules/openapi-generator/src/main/resources/rust-server/server-service-header.mustache
  samples/server/petstore/rust-server/.cargo/config
  samples/server/petstore/rust-server/output/multipart-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/lib.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/models.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/no-example-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/no-example-v3/src/lib.rs
  samples/server/petstore/rust-server/output/no-example-v3/src/models.rs
  samples/server/petstore/rust-server/output/no-example-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/client/server.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/callbacks.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/context.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/models.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/callbacks.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/ops-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/ops-v3/src/lib.rs
  samples/server/petstore/rust-server/output/ops-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/examples/server/server.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/client/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/context.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/lib.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/models.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/server/mod.rs
  samples/server/petstore/rust-server/output/ping-bearer-auth/examples/server/server.rs
  samples/server/petstore/rust-server/output/ping-bearer-auth/src/client/mod.rs
  samples/server/petstore/rust-server/output/ping-bearer-auth/src/context.rs
  samples/server/petstore/rust-server/output/ping-bearer-auth/src/lib.rs
  samples/server/petstore/rust-server/output/ping-bearer-auth/src/server/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/examples/server/server.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/lib.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/models.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/server/mod.rs
  samples/server/petstore/rust-server/pom.xml
Labels: Enhancement: Code format, Server: Rust, Enhancement: Code Cleanup

#13486 [R] Better enum status validation
  modules/openapi-generator/src/main/resources/r/modelGeneric.mustache
  samples/client/petstore/R-httr2-wrapper/R/order.R
  samples/client/petstore/R-httr2-wrapper/R/pet.R
  samples/client/petstore/R-httr2-wrapper/R/zebra.R
  samples/client/petstore/R-httr2-wrapper/tests/testthat/test_petstore.R
  samples/client/petstore/R-httr2/R/order.R
  samples/client/petstore/R-httr2/R/pet.R
  samples/client/petstore/R-httr2/R/zebra.R
  samples/client/petstore/R/R/order.R
  samples/client/petstore/R/R/pet.R
  samples/client/petstore/R/R/zebra.R
Labels: Client: R, Enhancement: Feature, Feature: Enum

#13515 Fix travis docker push during version release
  .travis.yml
Labels: Docker, Enhancement: CI/Test

#13499 [PHP] BUGFIX: model_generic: fix missing setOpenAPInullablesSetToNull method
  modules/openapi-generator/src/main/resources/php/model_generic.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/AdditionalPropertiesClass.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/AllOfWithSingleRef.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Animal.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/ApiResponse.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/ArrayOfArrayOfNumberOnly.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/ArrayOfNumberOnly.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/ArrayTest.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Capitalization.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Cat.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/CatAllOf.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Category.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/ClassModel.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Client.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/DeprecatedObject.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Dog.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/DogAllOf.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/EnumArrays.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/EnumTest.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/File.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/FileSchemaTestClass.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Foo.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/FooGetDefaultResponse.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/FormatTest.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/HasOnlyReadOnly.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/HealthCheckResult.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/MapTest.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/MixedPropertiesAndAdditionalPropertiesClass.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Model200Response.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/ModelList.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/ModelReturn.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Name.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/NullableClass.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/NumberOnly.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/ObjectWithDeprecatedFields.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Order.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/OuterComposite.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/OuterObjectWithEnumProperty.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Pet.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/ReadOnlyFirst.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/SpecialModelName.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Tag.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/User.php
  samples/client/petstore/php/OpenAPIClient-php/tests/NullableTest.php
Labels: Client: PHP, Issue: Bug

#13478 Elixir: Improve generated API options docs
  modules/openapi-generator/src/main/resources/elixir/api.mustache
  samples/client/petstore/elixir/lib/openapi_petstore/api/fake.ex
  samples/client/petstore/elixir/lib/openapi_petstore/api/pet.ex
Labels: Client: Elixir, Enhancement: Feature, Feature: Documentation

#13526 [typscript-rxjs] fix build failure
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/pom.xml
Labels: Client: TypeScript, Enhancement: CI/Test

#13482 [csharp] Fixed isMap property
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/resources/aspnetcore/2.0/mapReturn.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/2.1/mapReturn.mustache
  modules/openapi-generator/src/main/resources/aspnetcore/3.0/mapReturn.mustache
  samples/server/petstore/aspnetcore-3.0/src/Org.OpenAPITools/Controllers/StoreApi.cs
  samples/server/petstore/aspnetcore-3.1/src/Org.OpenAPITools/Controllers/StoreApi.cs
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Controllers/StoreApi.cs
  samples/server/petstore/aspnetcore-6.0-pocoModels/src/Org.OpenAPITools/Controllers/StoreApi.cs
  samples/server/petstore/aspnetcore-6.0-project4Models/src/Org.OpenAPITools/Controllers/StoreApi.cs
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/Controllers/StoreApi.cs
  samples/server/petstore/aspnetcore/src/Org.OpenAPITools/Controllers/StoreApi.cs
Labels: Client: C-Sharp, Issue: Bug, Server: C-Sharp

#13529 [R] add discriminator and mappings support
  modules/openapi-generator/src/main/resources/r/api_client.mustache
  modules/openapi-generator/src/main/resources/r/libraries/httr2/api_client.mustache
  modules/openapi-generator/src/main/resources/r/modelGeneric.mustache
  samples/client/petstore/R-httr2-wrapper/R/animal.R
  samples/client/petstore/R-httr2-wrapper/R/api_client.R
  samples/client/petstore/R-httr2-wrapper/test_petstore.R
  samples/client/petstore/R-httr2-wrapper/tests/testthat/test_petstore.R
  samples/client/petstore/R-httr2/R/animal.R
  samples/client/petstore/R-httr2/R/api_client.R
  samples/client/petstore/R/R/animal.R
  samples/client/petstore/R/R/api_client.R
  samples/client/petstore/R/tests/testthat/test_petstore.R
Labels: Client: R, Enhancement: Feature, Feature: OAS 3.0 spec support

#13547 Restore JS tests
  samples/client/petstore/javascript-es6/test/ApiClientTest.js
  samples/client/petstore/javascript-es6/test/api/PetApi.spec.js
  samples/client/petstore/javascript-es6/test/run_tests.html
  samples/client/petstore/javascript-promise-es6/test/ApiClientTest.js
Labels: Client: JavaScript/Node.js, Enhancement: CI/Test
