Repository OpenAPITools/openapi-generator, pull requests merged in 2022-12, with the labels that each got.

#14138 [Go] Add authentication methods only if referenced in input spec
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
  modules/openapi-generator/src/main/resources/go/README.mustache
  modules/openapi-generator/src/main/resources/go/client.mustache
  modules/openapi-generator/src/main/resources/go/configuration.mustache
  modules/openapi-generator/src/main/resources/go/go.mod.mustache
  modules/openapi-generator/src/main/resources/go/go.sum.mustache
  modules/openapi-generator/src/main/resources/go/model_simple.mustache
  samples/client/petstore/go/auth_test.go
  samples/client/petstore/go/go-petstore/client.go
  samples/client/petstore/go/go-petstore/configuration.go
  samples/client/petstore/go/go.mod
  samples/client/petstore/go/go.sum
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/README.md
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/client.go
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/configuration.go
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/go.mod
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/go.sum
Labels: Client: Go, Enhancement: General

#14154 Modify Java ApiException to have a more informative message.
  modules/openapi-generator/src/main/resources/Java/apiException.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/apiException.mustache
  samples/client/others/java/okhttp-gson-streaming/src/main/java/org/openapitools/client/ApiException.java
  samples/client/petstore/java/apache-httpclient/src/main/java/org/openapitools/client/ApiException.java
  samples/client/petstore/java/jersey1/src/main/java/org/openapitools/client/ApiException.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/ApiException.java
  samples/client/petstore/java/okhttp-gson-group-parameter/src/main/java/org/openapitools/client/ApiException.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ApiException.java
  samples/client/petstore/java/okhttp-gson-swagger1/src/main/java/org/openapitools/client/ApiException.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ApiException.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/ApiException.java
Labels: Client: Java, Enhancement: General

#14188 Update python-fastapi dependeny to newer version
  modules/openapi-generator/src/main/resources/python-fastapi/requirements.mustache
Labels: Client: Python, Issue: Security

#14076 [Java][WebClient] global blocking operations config
  docs/generators/java.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/client/petstore/java/apache-httpclient/api/openapi.yaml
  samples/client/petstore/java/feign/api/openapi.yaml
  samples/client/petstore/java/native-async/api/openapi.yaml
  samples/client/petstore/java/native/api/openapi.yaml
  samples/client/petstore/java/webclient/api/openapi.yaml
  samples/server/petstore/java-helidon-server/mp/src/main/resources/META-INF/openapi.yml
  samples/server/petstore/java-helidon-server/se/src/main/resources/META-INF/openapi.yml
Labels: Client: Java, Enhancement: Feature

#13956 [Java][Tests] Fix flaky test in SharedTypeScriptTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/SharedTypeScriptTest.java
Labels: Client: TypeScript, Enhancement: CI/Test

#14227 [Java apache-http client] fix optional body, add tests
  modules/openapi-generator/src/main/resources/Java/libraries/apache-httpclient/ApiClient.mustache
  samples/client/echo_api/java/apache-httpclient/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/echo_api/java/apache-httpclient/src/test/java/org/openapitools/client/CustomTest.java
  samples/client/petstore/java/apache-httpclient/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: CI/Test, Issue: Bug

#14265 Add back mavenLocal in Gradle plugin build
  modules/openapi-generator-gradle-plugin/build.gradle
Labels: Issue: Regression, OpenAPI Generator Gradle Plugin

#14275 [Java][resttemplate] Update spring web to latest 5.x
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/pom.mustache
  samples/client/petstore/java/resttemplate-swagger1/build.gradle
  samples/client/petstore/java/resttemplate-swagger1/pom.xml
  samples/client/petstore/java/resttemplate-withXml/build.gradle
  samples/client/petstore/java/resttemplate-withXml/pom.xml
  samples/client/petstore/java/resttemplate/build.gradle
  samples/client/petstore/java/resttemplate/pom.xml
Labels: Client: Java, Enhancement: Compatibility

#14264 [ruby] Fix api_error.mustache to initialize message-only errors properly
  modules/openapi-generator/src/main/resources/ruby-client/api_error.mustache
  samples/client/petstore/ruby-autoload/lib/petstore/api_error.rb
  samples/client/petstore/ruby-faraday/lib/petstore/api_error.rb
  samples/client/petstore/ruby/lib/petstore/api_error.rb
  samples/openapi3/client/extensions/x-auth-id-alias/ruby-client/lib/x_auth_id_alias/api_error.rb
  samples/openapi3/client/features/dynamic-servers/ruby/lib/dynamic_servers/api_error.rb
  samples/openapi3/client/features/generate-alias-as-model/ruby-client/lib/petstore/api_error.rb
Labels: Client: Ruby, Issue: Bug

#14274 [csharp-netcore][generichost] Fixes a bug in serialization
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/EnumValueDataType.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/JsonConverter.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/modelEnum.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/modelInnerEnum.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/ApiResponse.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/Banana.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/BananaReq.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/Category.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/EnumTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/Model200Response.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/Name.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/NullableClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/NumberOnly.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/ObjectWithDeprecatedFields.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/Order.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/OuterComposite.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/Pet.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/Return.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/SpecialModelName.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/Tag.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/User.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/ApiResponse.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/Banana.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/BananaReq.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/Category.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/EnumTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/Model200Response.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/Name.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/NullableClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/NumberOnly.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/ObjectWithDeprecatedFields.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/Order.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/OuterComposite.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/Pet.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/Return.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/SpecialModelName.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/Tag.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/User.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/ApiResponse.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/Banana.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/BananaReq.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/Category.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/EnumTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/Model200Response.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/Name.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/NullableClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/NumberOnly.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/ObjectWithDeprecatedFields.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/Order.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/OuterComposite.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/Pet.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/Return.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/SpecialModelName.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/Tag.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/User.cs
Labels: Client: C-Sharp, Issue: Bug

#14277 [csharp-netcore] update Newtonsoft.Json to 13.0.2
  modules/openapi-generator/src/main/resources/csharp-netcore/README.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/netcore_project.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/nuspec.mustache
  samples/client/others/csharp-netcore-complex-files/README.md
  samples/client/others/csharp-netcore-complex-files/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-net48/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net48/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClientCoreAndNet47/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Org.OpenAPITools.csproj
Labels: Client: C-Sharp, Enhancement: Compatibility

#14179 [Java][Client] Generate servers for okhttp-gson
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache
  samples/client/others/java/okhttp-gson-streaming/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-group-parameter/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-swagger1/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: General

#14299 [python] Fixes Response TypeError
  modules/openapi-generator/src/main/resources/python/api_client.handlebars
  modules/openapi-generator/src/test/resources/3_0/python/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/openapi3/client/3_0_3_unit_test/python/unit_test_api/api_client.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/api_client.py
  samples/openapi3/client/petstore/python/docs/apis/tags/FakeApi.md
  samples/openapi3/client/petstore/python/petstore_api/api_client.py
  samples/openapi3/client/petstore/python/petstore_api/paths/fake_delete_coffee_id/delete.py
  samples/openapi3/client/petstore/python/petstore_api/paths/fake_delete_coffee_id/delete.pyi
Labels: Client: Python

#14008 Update Java/Feign api.mustache to accept its own convinience Map Class
  docs/generators/fsharp-functions.md
  docs/generators/fsharp-giraffe-server.md
  docs/generators/java-inflector.md
  docs/generators/jaxrs-cxf-client.md
  docs/generators/swift5.md
  modules/openapi-generator/src/main/resources/Java/libraries/feign/api.mustache
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Enhancement: General

#14251 Enable access token refresh
  modules/openapi-generator/src/main/resources/ruby-client/README.mustache
  modules/openapi-generator/src/main/resources/ruby-client/configuration.mustache
  samples/client/petstore/ruby-autoload/lib/petstore/configuration.rb
  samples/client/petstore/ruby-faraday/lib/petstore/configuration.rb
  samples/client/petstore/ruby/lib/petstore/configuration.rb
  samples/openapi3/client/extensions/x-auth-id-alias/ruby-client/lib/x_auth_id_alias/configuration.rb
  samples/openapi3/client/features/dynamic-servers/ruby/lib/dynamic_servers/configuration.rb
  samples/openapi3/client/features/generate-alias-as-model/ruby-client/lib/petstore/configuration.rb
Labels: Client: Ruby, Enhancement: General

#13850 Nullable subschemas
  bin/configs/typescript-fetch-allOf-nullable.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/InlineModelResolver.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/go/GoClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/fetch/TypeScriptFetchModelTest.java
  modules/openapi-generator/src/test/resources/3_0/allOf-nullable.yaml
  samples/client/petstore/typescript-fetch/builds/allOf-nullable/.openapi-generator-ignore
  samples/client/petstore/typescript-fetch/builds/allOf-nullable/.openapi-generator/FILES
  samples/client/petstore/typescript-fetch/builds/allOf-nullable/.openapi-generator/VERSION
  samples/client/petstore/typescript-fetch/builds/allOf-nullable/apis/DefaultApi.ts
  samples/client/petstore/typescript-fetch/builds/allOf-nullable/apis/index.ts
  samples/client/petstore/typescript-fetch/builds/allOf-nullable/index.ts
  samples/client/petstore/typescript-fetch/builds/allOf-nullable/models/Club.ts
  samples/client/petstore/typescript-fetch/builds/allOf-nullable/models/Owner.ts
  samples/client/petstore/typescript-fetch/builds/allOf-nullable/models/index.ts
  samples/client/petstore/typescript-fetch/builds/allOf-nullable/runtime.ts
  samples/openapi3/client/petstore/go/go-petstore/api/openapi.yaml
Labels: Issue: Bug

#14307 [BUG][Swift] fix decimal encoding referencing not existing extension method "encodeToJSON"
  modules/openapi-generator/src/main/resources/swift5/Extensions.mustache
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/asyncAwaitLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/deprecated/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/frozenEnums/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/oneOf/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/readonlyProperties/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/urlsessionLibrary/Sources/PetstoreClient/Extensions.swift
  samples/client/petstore/swift5/x-swift-hashable/PetstoreClient/Classes/OpenAPIs/Extensions.swift
Labels: Client: Swift, Issue: Bug

#14329 Fix gem bundler version in Travis build
  .travis.yml
Labels: Enhancement: CI/Test

#14289 Java Feign - DefaultApi20Impl is only needed if OAuth is enabled
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  samples/client/echo_api/java/feign-gson/.openapi-generator/FILES
Labels: Client: Java, Enhancement: General

#14331 Add a test for debugSupportingFiles
  .github/workflows/check-supported-versions.yaml
Labels: Enhancement: CI/Test

#14323 [PHP] \GuzzleHttp\json_encode is deprecated, use \GuzzleHttp\Utils::jsonEncode instead
  modules/openapi-generator/src/main/resources/php/api.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/AnotherFakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/DefaultApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeClassnameTags123Api.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/PetApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/StoreApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/UserApi.php
Labels: Client: PHP, Enhancement: Code Cleanup

#14196 [rust] Fix model constructor for required enum array
  modules/openapi-generator/src/main/resources/rust/model.mustache
  modules/openapi-generator/src/test/resources/3_0/rust/petstore.yaml
  samples/client/petstore/rust/hyper/petstore/.openapi-generator/FILES
  samples/client/petstore/rust/hyper/petstore/README.md
  samples/client/petstore/rust/hyper/petstore/docs/EnumArrayTesting.md
  samples/client/petstore/rust/hyper/petstore/src/models/enum_array_testing.rs
  samples/client/petstore/rust/hyper/petstore/src/models/mod.rs
  samples/client/petstore/rust/reqwest/petstore-async-middleware/.openapi-generator/FILES
  samples/client/petstore/rust/reqwest/petstore-async-middleware/README.md
  samples/client/petstore/rust/reqwest/petstore-async-middleware/docs/EnumArrayTesting.md
  samples/client/petstore/rust/reqwest/petstore-async-middleware/src/models/enum_array_testing.rs
  samples/client/petstore/rust/reqwest/petstore-async-middleware/src/models/mod.rs
  samples/client/petstore/rust/reqwest/petstore-async/.openapi-generator/FILES
  samples/client/petstore/rust/reqwest/petstore-async/README.md
  samples/client/petstore/rust/reqwest/petstore-async/docs/EnumArrayTesting.md
  samples/client/petstore/rust/reqwest/petstore-async/src/models/enum_array_testing.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/models/mod.rs
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/.openapi-generator/FILES
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/README.md
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/docs/EnumArrayTesting.md
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/src/models/enum_array_testing.rs
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/src/models/mod.rs
  samples/client/petstore/rust/reqwest/petstore/.openapi-generator/FILES
  samples/client/petstore/rust/reqwest/petstore/README.md
  samples/client/petstore/rust/reqwest/petstore/docs/EnumArrayTesting.md
  samples/client/petstore/rust/reqwest/petstore/src/models/enum_array_testing.rs
  samples/client/petstore/rust/reqwest/petstore/src/models/mod.rs
Labels: Client: Rust, Issue: Bug

#14111 [Java] fix LocalTime import for dateLibrary java8
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
Labels: Client: Java, Issue: Bug

#14105 Fix enum generation for php-symfony generator
  modules/openapi-generator/src/main/resources/php-symfony/model.mustache
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/ApiResponse.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/Category.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/EnumStringModel.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/Order.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/Pet.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/Tag.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/User.php
Labels: Enhancement: Feature, Feature: Enum, Server: PHP

#14198 [rust] Fix declaration for arrays with object and array references
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustClientCodegen.java
  modules/openapi-generator/src/test/resources/3_0/rust/petstore.yaml
  samples/client/petstore/rust/hyper/petstore/.openapi-generator/FILES
  samples/client/petstore/rust/hyper/petstore/README.md
  samples/client/petstore/rust/hyper/petstore/docs/ArrayItemRefTest.md
  samples/client/petstore/rust/hyper/petstore/src/models/array_item_ref_test.rs
  samples/client/petstore/rust/hyper/petstore/src/models/mod.rs
  samples/client/petstore/rust/reqwest/petstore-async-middleware/.openapi-generator/FILES
  samples/client/petstore/rust/reqwest/petstore-async-middleware/README.md
  samples/client/petstore/rust/reqwest/petstore-async-middleware/docs/ArrayItemRefTest.md
  samples/client/petstore/rust/reqwest/petstore-async-middleware/src/models/array_item_ref_test.rs
  samples/client/petstore/rust/reqwest/petstore-async-middleware/src/models/mod.rs
  samples/client/petstore/rust/reqwest/petstore-async/.openapi-generator/FILES
  samples/client/petstore/rust/reqwest/petstore-async/README.md
  samples/client/petstore/rust/reqwest/petstore-async/docs/ArrayItemRefTest.md
  samples/client/petstore/rust/reqwest/petstore-async/src/models/array_item_ref_test.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/models/mod.rs
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/.openapi-generator/FILES
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/README.md
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/docs/ArrayItemRefTest.md
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/src/models/array_item_ref_test.rs
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/src/models/mod.rs
  samples/client/petstore/rust/reqwest/petstore/.openapi-generator/FILES
  samples/client/petstore/rust/reqwest/petstore/README.md
  samples/client/petstore/rust/reqwest/petstore/docs/ArrayItemRefTest.md
  samples/client/petstore/rust/reqwest/petstore/src/models/array_item_ref_test.rs
  samples/client/petstore/rust/reqwest/petstore/src/models/mod.rs
Labels: Client: Rust, Issue: Bug

#14328 Update opeanpi-generator dependencies
  modules/openapi-generator/pom.xml
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonLegacyClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonNextgenClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonPriorClientTest.java
  modules/openapi-generator/src/test/resources/3_0/v1beta3.yaml
  pom.xml
Labels: Enhancement: Compatibility, Feature: Generator

#14172 Add OpenAPI Normalizer
  docs/customization.md
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/ConfigHelp.java
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/config/GeneratorSettings.java
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/OpenApiGeneratorPlugin.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/extensions/OpenApiGeneratorGenerateExtension.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConfig.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfigurator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfiguratorUtils.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/allOf_extension_parent.yaml
Labels: Enhancement: Feature, Feature: Generator
