Repository OpenAPITools/openapi-generator, pull requests merged in 2022-03, with the labels that each got.

#11751 Fix typo in Java Feign client
  modules/openapi-generator/src/main/resources/Java/libraries/feign/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/auth/OAuth.mustache
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/auth/OAuth.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/auth/OAuth.java
Labels: Client: Java, Issue: Non-operational

#11752 Fix typo in C++ QT client
  modules/openapi-generator/src/main/resources/cpp-qt-client/api-body.mustache
  samples/client/petstore/cpp-qt/client/PFXPetApi.cpp
  samples/client/petstore/cpp-qt/client/PFXStoreApi.cpp
  samples/client/petstore/cpp-qt/client/PFXUserApi.cpp
Labels: Client: C++, Issue: Non-operational

#11747 [Java] Fix reactor-netty dependency
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/pom.mustache
  samples/client/petstore/java/webclient-nulable-arrays/build.gradle
  samples/client/petstore/java/webclient-nulable-arrays/pom.xml
  samples/client/petstore/java/webclient/build.gradle
  samples/client/petstore/java/webclient/pom.xml
Labels: Client: Java, Enhancement: Compatibility

#11749 [Ada] New options to choose the Ada support library in client and server
  docs/generators/ada-server.md
  docs/generators/ada.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractAdaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AdaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AdaServerCodegen.java
  modules/openapi-generator/src/main/resources/Ada/README.mustache
  modules/openapi-generator/src/main/resources/Ada/client-body.mustache
  modules/openapi-generator/src/main/resources/Ada/client-spec.mustache
  modules/openapi-generator/src/main/resources/Ada/client.mustache
  modules/openapi-generator/src/main/resources/Ada/config.gpr
  modules/openapi-generator/src/main/resources/Ada/model-body.mustache
  modules/openapi-generator/src/main/resources/Ada/model-spec.mustache
  modules/openapi-generator/src/main/resources/Ada/server-body.mustache
  modules/openapi-generator/src/main/resources/Ada/server-skeleton-body.mustache
  modules/openapi-generator/src/main/resources/Ada/server-skeleton-spec.mustache
  modules/openapi-generator/src/main/resources/Ada/server-spec.mustache
  modules/openapi-generator/src/main/resources/Ada/server.mustache
  samples/client/petstore/ada/.openapi-generator/VERSION
  samples/client/petstore/ada/config.gpr
  samples/client/petstore/ada/src/client/samples-petstore-clients.adb
  samples/client/petstore/ada/src/client/samples-petstore-clients.ads
  samples/client/petstore/ada/src/model/samples-petstore-models.adb
  samples/client/petstore/ada/src/model/samples-petstore-models.ads
Labels: Client: Ada, Enhancement: Feature, Server: Ada

#10596 [scala-sttp] fix enumeration operator constant name collision
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractScalaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/scala/SttpCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/scala/issue_10187_operatorName.yaml
Labels: Client: Scala, Feature: Enum, Issue: Bug

#11750 [ruby] Allow boolean for discriminator value in oneOf handling
  modules/openapi-generator/src/main/resources/ruby-client/partial_oneof_module.mustache
Labels: Client: Ruby, Enhancement: General

#11745 [kotlin-spring] Add beanQualifiers switch to populate RestController / Controller annotations with FQCN
  docs/generators/kotlin-spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinSpringServerCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-spring/api.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/apiController.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/spring/KotlinSpringServerCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/kotlin/bean-qualifiers.yaml
Labels: Enhancement: Feature, Server: Kotlin

#11620 [#4650] Fix StackOverflowError for recursive composite schemas
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultGeneratorTest.java
  modules/openapi-generator/src/test/resources/bugs/recursion-bug-4650.yaml
Labels: Issue: Bug

#11765 [typescript-angular] update package.json (v11) to address security alerts
  samples/client/petstore/typescript-angular-v11-provided-in-root/package-lock.json
  samples/client/petstore/typescript-angular-v11-provided-in-root/package.json
Labels: Client: TypeScript, Enhancement: CI/Test, Enhancement: Security

#11756 [DefaultCodegen] GetReferenceHeader for both calls of headerToCodegenParameter
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/content-data.yaml
Labels: Client: Java, Issue: Bug

#11773 [Java] remove samples & replace them with file asserts
  .github/workflows/samples-jaxrs.yaml
  bin/configs/jaxrs-cxf-cdi-default-values.yaml
  bin/configs/jaxrs-resteasy-default-values.yaml
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/assertions/AbstractAnnotationAssert.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/assertions/JavaFileAssert.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/assertions/MethodAssert.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/jaxrs/JavaJAXRSCXFCDIServerCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/jaxrs/JavaJAXRSCXFExtServerCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/jaxrs/JavaJAXRSSpecServerCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/jaxrs/JavaJaxrsResteasyServerCodegenModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/jaxrs/JavaJerseyServerCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  samples/server/petstore/jaxrs-cxf-cdi-default-value/.openapi-generator-ignore
  samples/server/petstore/jaxrs-cxf-cdi-default-value/.openapi-generator/FILES
  samples/server/petstore/jaxrs-cxf-cdi-default-value/.openapi-generator/VERSION
  samples/server/petstore/jaxrs-cxf-cdi-default-value/pom.xml
  samples/server/petstore/jaxrs-cxf-cdi-default-value/src/gen/java/org/openapitools/api/TestHeadersApi.java
  samples/server/petstore/jaxrs-cxf-cdi-default-value/src/gen/java/org/openapitools/api/TestHeadersApiService.java
  samples/server/petstore/jaxrs-cxf-cdi-default-value/src/gen/java/org/openapitools/api/TestQueryParamsApi.java
  samples/server/petstore/jaxrs-cxf-cdi-default-value/src/gen/java/org/openapitools/api/TestQueryParamsApiService.java
  samples/server/petstore/jaxrs-cxf-cdi-default-value/src/gen/java/org/openapitools/model/TestResponse.java
  samples/server/petstore/jaxrs-cxf-cdi-default-value/src/main/java/org/openapitools/api/RestApplication.java
  samples/server/petstore/jaxrs-cxf-cdi-default-value/src/main/java/org/openapitools/api/impl/TestHeadersApiServiceImpl.java
  samples/server/petstore/jaxrs-cxf-cdi-default-value/src/main/java/org/openapitools/api/impl/TestQueryParamsApiServiceImpl.java
  samples/server/petstore/jaxrs-cxf-cdi-default-value/src/main/webapp/WEB-INF/beans.xml
  samples/server/petstore/jaxrs-resteasy/default-value/.openapi-generator-ignore
  samples/server/petstore/jaxrs-resteasy/default-value/.openapi-generator/FILES
  samples/server/petstore/jaxrs-resteasy/default-value/.openapi-generator/VERSION
  samples/server/petstore/jaxrs-resteasy/default-value/README.md
  samples/server/petstore/jaxrs-resteasy/default-value/build.gradle
  samples/server/petstore/jaxrs-resteasy/default-value/pom.xml
  samples/server/petstore/jaxrs-resteasy/default-value/settings.gradle
  samples/server/petstore/jaxrs-resteasy/default-value/src/gen/java/org/openapitools/api/ApiException.java
  samples/server/petstore/jaxrs-resteasy/default-value/src/gen/java/org/openapitools/api/ApiOriginFilter.java
  samples/server/petstore/jaxrs-resteasy/default-value/src/gen/java/org/openapitools/api/ApiResponseMessage.java
  samples/server/petstore/jaxrs-resteasy/default-value/src/gen/java/org/openapitools/api/JacksonConfig.java
  samples/server/petstore/jaxrs-resteasy/default-value/src/gen/java/org/openapitools/api/NotFoundException.java
  samples/server/petstore/jaxrs-resteasy/default-value/src/gen/java/org/openapitools/api/RFC3339DateFormat.java
  samples/server/petstore/jaxrs-resteasy/default-value/src/gen/java/org/openapitools/api/RestApplication.java
  samples/server/petstore/jaxrs-resteasy/default-value/src/gen/java/org/openapitools/api/StringUtil.java
  samples/server/petstore/jaxrs-resteasy/default-value/src/gen/java/org/openapitools/api/TestHeadersApi.java
  samples/server/petstore/jaxrs-resteasy/default-value/src/gen/java/org/openapitools/api/TestHeadersApiService.java
  samples/server/petstore/jaxrs-resteasy/default-value/src/gen/java/org/openapitools/api/TestQueryParamsApi.java
  samples/server/petstore/jaxrs-resteasy/default-value/src/gen/java/org/openapitools/api/TestQueryParamsApiService.java
  samples/server/petstore/jaxrs-resteasy/default-value/src/gen/java/org/openapitools/model/TestResponse.java
  samples/server/petstore/jaxrs-resteasy/default-value/src/main/java/org/openapitools/api/impl/TestHeadersApiServiceImpl.java
  samples/server/petstore/jaxrs-resteasy/default-value/src/main/java/org/openapitools/api/impl/TestQueryParamsApiServiceImpl.java
  samples/server/petstore/jaxrs-resteasy/default-value/src/main/webapp/WEB-INF/jboss-web.xml
  samples/server/petstore/jaxrs-resteasy/default-value/src/main/webapp/WEB-INF/web.xml
Labels: Enhancement: CI/Test, Server: Java

#11781 Fix for issue #11779
  modules/openapi-generator/src/main/resources/JavaSpring/api.mustache
Labels: Enhancement: General, Server: Java, Server: Spring

#11786 Confluence Wiki - Escape special characters
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ConfluenceWikiCodegen.java
Labels: Enhancement: General, Doc: Cwiki

#11798 Fix jaxrs-spec to run with JDK 17
  modules/openapi-generator/src/main/resources/JavaJaxRS/pom.mustache
  samples/server/petstore/jaxrs-datelib-j8/pom.xml
  samples/server/petstore/jaxrs-jersey/pom.xml
  samples/server/petstore/jaxrs/jersey2-useTags/pom.xml
  samples/server/petstore/jaxrs/jersey2/pom.xml
Labels: Enhancement: Compatibility, Server: Java

#11784 [Java] support x-implements
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/pojo.mustache
  modules/openapi-generator/src/main/resources/JavaInflector/pojo.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-cdi/pojo.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-ext/pojo.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/pojo.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/pojo.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/eap/pojo.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/pojo.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/pojo.mustache
  modules/openapi-generator/src/main/resources/JavaPlayFramework/pojo.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/pojo.mustache
  modules/openapi-generator/src/main/resources/JavaVertXServer/pojo.mustache
  modules/openapi-generator/src/main/resources/JavaVertXWebServer/pojo.mustache
  modules/openapi-generator/src/main/resources/java-msf4j-server/pojo.mustache
  modules/openapi-generator/src/main/resources/java-pkmst/pojo.mustache
  modules/openapi-generator/src/main/resources/java-undertow-server/pojo.mustache
Labels: Client: Java, Enhancement: Feature, Server: Java

#11710 [csharp-netcore] Fixed csharp netcore conditional serialization
  modules/openapi-generator/src/main/resources/csharp-netcore/modelGeneric.mustache
Labels: Client: C-Sharp, Issue: Bug

#11790 C-libcurl cmake support specify path
  modules/openapi-generator/src/main/resources/C-libcurl/CMakeLists.txt.mustache
Labels: Enhancement: General, Client: C

#11345 V4 Azure functions + some tweaks
  docs/generators.md
  docs/generators/csharp-netcore-functions.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CsharpNetcoreFunctionsServerCodegen.java
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/OpenApi/TypeExtensions.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/Project.csproj.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/Project.csproj.mustache.bak
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/Project.nuspec.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/README.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/Solution.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/appsettings.Development.json
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/appsettings.json
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/bodyParam.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/build.bat.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/build.sh.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/controller.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/enumClass.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/formParam.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/function.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/function.mustache.bak
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/gitignore
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/headerParam.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/host.json.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/listReturn.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/local.settings.json.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/mapReturn.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/model.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/objectReturn.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/paramName.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/partial_header.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/queryParam.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/tags.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/typeConverter.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/csharp-netcore-functions/CsharpNetcoreFunctionsServerCodegenTest.java
Labels: Enhancement: General, Server: C-Sharp

#11797 Document all used vendor extensions in specific generator
  docs/generators/groovy.md
  docs/generators/java-camel.md
  docs/generators/java-inflector.md
  docs/generators/java-micronaut-client.md
  docs/generators/java-micronaut-server.md
  docs/generators/java-msf4j.md
  docs/generators/java-pkmst.md
  docs/generators/java-play-framework.md
  docs/generators/java-undertow-server.md
  docs/generators/java-vertx-web.md
  docs/generators/java-vertx.md
  docs/generators/java.md
  docs/generators/jaxrs-cxf-cdi.md
  docs/generators/jaxrs-cxf-client.md
  docs/generators/jaxrs-cxf-extended.md
  docs/generators/jaxrs-cxf.md
  docs/generators/jaxrs-jersey.md
  docs/generators/jaxrs-resteasy-eap.md
  docs/generators/jaxrs-resteasy.md
  docs/generators/jaxrs-spec.md
  docs/generators/spring.md
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/ConfigHelp.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConfig.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/VendorExtension.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
Labels: Enhancement: Feature, Feature: Documentation

#11815 [java][okhttp-gson] Fix warnings due to incorrect docstring
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache
  samples/client/others/java/okhttp-gson-streaming/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: Feature, Feature: Documentation

#11830 [kotlin][client] create comment to warn about android api version
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-okhttp/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin-array-simple-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-enum-default-value/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-gson/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-modelMutable/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-moshi-codegen/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-nonpublic/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-nullable/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-okhttp3/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-string/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-threetenbp/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin, Enhancement: General

#11825 [Ruby] Add x-group-parameters support to Ruby client
  modules/openapi-generator/src/main/resources/ruby-client/api.mustache
  modules/openapi-generator/src/main/resources/ruby-client/api_doc.mustache
  samples/client/petstore/ruby-faraday/docs/FakeApi.md
  samples/client/petstore/ruby-faraday/lib/petstore/api/fake_api.rb
  samples/client/petstore/ruby/docs/FakeApi.md
  samples/client/petstore/ruby/lib/petstore/api/fake_api.rb
Labels: Client: Ruby, Enhancement: General

#11055 [Python] Add Support for Content-Disposition Header without filename
  modules/openapi-generator/src/main/resources/python/model_utils.mustache
  samples/client/petstore/python/petstore_api/model_utils.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/model_utils.py
  samples/openapi3/client/extensions/x-auth-id-alias/python/x_auth_id_alias/model_utils.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/model_utils.py
  samples/openapi3/client/petstore/python/petstore_api/model_utils.py
  samples/openapi3/client/petstore/python/tests_manual/test_fake_api.py
Labels: Client: Python, Enhancement: General

#11563 Optional outputAsLibrary, onlyInterfaces parameters
  docs/generators/go-server.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoServerCodegen.java
Labels: Enhancement: Feature, Server: Go

#11826 [Go] Fix template for oneOfs with primitive types
  modules/openapi-generator/src/main/resources/go/model_oneof.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/go/GoClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/oneOf_primitive.yaml
Labels: Client: Go, Issue: Bug

#11834 [Python] Fix to remove wrong intendation in generated README.md
  modules/openapi-generator/src/main/resources/python/README_common.mustache
  samples/openapi3/client/extensions/x-auth-id-alias/python/README.md
  samples/openapi3/client/features/dynamic-servers/python/README.md
Labels: Client: Python, Enhancement: Feature, Feature: Documentation

#11804 [Go] Fix nullable models embedded in allOf
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenProperty.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/go/GoClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/allOf_nullable.yaml
  samples/server/petstore/java-undertow/src/main/java/org/openapitools/handler/PathHandlerInterface.java
Labels: Client: Go, Issue: Bug

#11850 [csharp-netcore] Fix incorrect FileParameter deserialization
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/libraries/httpclient/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/httpclient/ApiClient.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/ApiClient.cs
Labels: Client: C-Sharp, Issue: Bug

#11849 [Go] add more tests to cover more cases
  .gitignore
  bin/configs/go-petstore.yaml
  modules/openapi-generator/src/test/resources/3_0/go/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/client/petstore/go/go.mod
  samples/client/petstore/go/go.sum
  samples/openapi3/client/petstore/go/go-petstore/.openapi-generator/FILES
  samples/openapi3/client/petstore/go/go-petstore/README.md
  samples/openapi3/client/petstore/go/go-petstore/api/openapi.yaml
  samples/openapi3/client/petstore/go/go-petstore/docs/NullableAllOf.md
  samples/openapi3/client/petstore/go/go-petstore/docs/NullableAllOfChild.md
  samples/openapi3/client/petstore/go/go-petstore/docs/OneOfPrimitiveType.md
  samples/openapi3/client/petstore/go/go-petstore/docs/OneOfPrimitiveTypeChild.md
  samples/openapi3/client/petstore/go/go-petstore/model_nullable_all_of.go
  samples/openapi3/client/petstore/go/go-petstore/model_nullable_all_of_child.go
  samples/openapi3/client/petstore/go/go-petstore/model_one_of_primitive_type.go
  samples/openapi3/client/petstore/go/go-petstore/model_one_of_primitive_type_child.go
  samples/openapi3/client/petstore/go/go.mod
  samples/openapi3/client/petstore/go/go.sum
Labels: Client: Go, Enhancement: CI/Test

#11863 [Go] fix oneOf naming
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
  modules/openapi-generator/src/main/resources/go/model_oneof.mustache
  modules/openapi-generator/src/test/resources/3_0/go/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/openapi3/client/petstore/go/go-petstore/api/openapi.yaml
  samples/openapi3/client/petstore/go/go-petstore/model_one_of_primitive_type.go
Labels: Client: Go, Issue: Bug

#11877 Update java (okhttp-gson) client dependencies to newer versions
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/pom.mustache
  samples/client/others/java/okhttp-gson-streaming/build.gradle
  samples/client/others/java/okhttp-gson-streaming/build.sbt
  samples/client/others/java/okhttp-gson-streaming/pom.xml
  samples/client/petstore/java/okhttp-gson-dynamicOperations/build.gradle
  samples/client/petstore/java/okhttp-gson-dynamicOperations/build.sbt
  samples/client/petstore/java/okhttp-gson-dynamicOperations/pom.xml
  samples/client/petstore/java/okhttp-gson-parcelableModel/build.gradle
  samples/client/petstore/java/okhttp-gson-parcelableModel/build.sbt
  samples/client/petstore/java/okhttp-gson-parcelableModel/pom.xml
  samples/client/petstore/java/okhttp-gson/build.gradle
  samples/client/petstore/java/okhttp-gson/build.sbt
  samples/client/petstore/java/okhttp-gson/pom.xml
Labels: Client: Java, Enhancement: Compatibility

#11878 Update java (jersey2) client dependencies to newer versions
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/pom.mustache
  samples/client/petstore/java/jersey2-java8-localdatetime/build.gradle
  samples/client/petstore/java/jersey2-java8-localdatetime/build.sbt
  samples/client/petstore/java/jersey2-java8-localdatetime/pom.xml
  samples/client/petstore/java/jersey2-java8/build.gradle
  samples/client/petstore/java/jersey2-java8/build.sbt
  samples/client/petstore/java/jersey2-java8/pom.xml
  samples/openapi3/client/extensions/x-auth-id-alias/java/jersey2-java8/build.gradle
  samples/openapi3/client/extensions/x-auth-id-alias/java/jersey2-java8/build.sbt
  samples/openapi3/client/extensions/x-auth-id-alias/java/jersey2-java8/pom.xml
  samples/openapi3/client/petstore/java/jersey2-java8-special-characters/build.gradle
  samples/openapi3/client/petstore/java/jersey2-java8-special-characters/build.sbt
  samples/openapi3/client/petstore/java/jersey2-java8-special-characters/pom.xml
  samples/openapi3/client/petstore/java/jersey2-java8/build.gradle
  samples/openapi3/client/petstore/java/jersey2-java8/build.sbt
  samples/openapi3/client/petstore/java/jersey2-java8/pom.xml
Labels: Client: Java, Enhancement: Compatibility

#11743 [PHP] Fix deprecations in PHP 8.1
  modules/openapi-generator/src/main/resources/php/README.mustache
  modules/openapi-generator/src/main/resources/php/model_generic.mustache
  samples/client/petstore/php/OpenAPIClient-php/README.md
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/AdditionalPropertiesClass.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Animal.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/ApiResponse.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/ArrayOfArrayOfNumberOnly.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/ArrayOfNumberOnly.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/ArrayTest.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Capitalization.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Cat.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/CatAllOf.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Category.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/ClassModel.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Client.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/DeprecatedObject.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Dog.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/DogAllOf.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/EnumArrays.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/EnumTest.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/File.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/FileSchemaTestClass.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Foo.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/FormatTest.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/HasOnlyReadOnly.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/HealthCheckResult.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/InlineResponseDefault.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/MapTest.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/MixedPropertiesAndAdditionalPropertiesClass.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Model200Response.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/ModelList.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/ModelReturn.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Name.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/NullableClass.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/NumberOnly.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/ObjectWithDeprecatedFields.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Order.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/OuterComposite.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/OuterObjectWithEnumProperty.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Pet.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/ReadOnlyFirst.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/SpecialModelName.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/Tag.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/User.php
Labels: Client: PHP, Enhancement: Compatibility

#11875 [php-slim4] Tiny config comments
  modules/openapi-generator/src/main/resources/php-slim4-server/config_dev_default.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/config_prod_default.mustache
  samples/server/petstore/php-slim4/config/dev/default.inc.php
  samples/server/petstore/php-slim4/config/prod/default.inc.php
Labels: Feature: Documentation, Server: PHP

#11874 [php-slim4] Add minimal GitHub Action config
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSlim4ServerCodegen.java
  modules/openapi-generator/src/main/resources/php-slim4-server/github_action.yml.mustache
  samples/server/petstore/php-slim4/.github/workflows/main.yml
  samples/server/petstore/php-slim4/.openapi-generator/FILES
Labels: Enhancement: CI/Test, Server: PHP

#11871 [Micronaut] Add support for OffsetDateTime for Micronaut generators
  docs/generators/java-micronaut-client.md
  docs/generators/java-micronaut-server.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaMicronautAbstractCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaMicronautServerCodegen.java
  modules/openapi-generator/src/main/resources/java-micronaut/client/params/type.mustache
  modules/openapi-generator/src/main/resources/java-micronaut/common/model/jackson_annotations.mustache
  modules/openapi-generator/src/main/resources/java-micronaut/server/params/type.mustache
  samples/client/petstore/java-micronaut-client/docs/apis/FakeApi.md
  samples/client/petstore/java-micronaut-client/docs/models/FormatTest.md
  samples/client/petstore/java-micronaut-client/docs/models/MixedPropertiesAndAdditionalPropertiesClass.md
  samples/client/petstore/java-micronaut-client/docs/models/Order.md
  samples/client/petstore/java-micronaut-client/src/main/java/org/openapitools/api/FakeApi.java
  samples/client/petstore/java-micronaut-client/src/main/java/org/openapitools/api/UserApi.java
  samples/client/petstore/java-micronaut-client/src/main/java/org/openapitools/model/FormatTest.java
  samples/client/petstore/java-micronaut-client/src/main/java/org/openapitools/model/MixedPropertiesAndAdditionalPropertiesClass.java
  samples/client/petstore/java-micronaut-client/src/main/java/org/openapitools/model/Order.java
  samples/server/petstore/java-micronaut-server/docs/models/Order.md
  samples/server/petstore/java-micronaut-server/src/main/java/org/openapitools/controller/UserController.java
  samples/server/petstore/java-micronaut-server/src/main/java/org/openapitools/model/Order.java
Labels: Client: Java, Enhancement: Feature, Server: Java

#11856 [scala-client]fix missing type in StringToArrayModelMapping
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractScalaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/scala/AbstractScalaCodegenTest.java
Labels: Client: Scala, Issue: Bug

#11873 [Rust][Server] Upgrade to tokio v1
  modules/openapi-generator/src/main/resources/rust-server/Cargo.mustache
  modules/openapi-generator/src/main/resources/rust-server/client-callbacks.mustache
  modules/openapi-generator/src/main/resources/rust-server/client-operation.mustache
  modules/openapi-generator/src/main/resources/rust-server/example-server-common.mustache
  modules/openapi-generator/src/main/resources/rust-server/example-server-operation.mustache
  modules/openapi-generator/src/main/resources/rust-server/server-callbacks.mustache
  modules/openapi-generator/src/main/resources/rust-server/server-mod.mustache
  modules/openapi-generator/src/main/resources/rust-server/server-operation.mustache
  samples/server/petstore/rust-server/output/multipart-v3/Cargo.toml
  samples/server/petstore/rust-server/output/multipart-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/multipart-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/no-example-v3/Cargo.toml
  samples/server/petstore/rust-server/output/no-example-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/no-example-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/no-example-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/Cargo.toml
  samples/server/petstore/rust-server/output/openapi-v3/examples/client/server.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/callbacks.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/callbacks.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/ops-v3/Cargo.toml
  samples/server/petstore/rust-server/output/ops-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/ops-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/ops-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/Cargo.toml
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/examples/server/server.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/client/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/server/mod.rs
  samples/server/petstore/rust-server/output/ping-bearer-auth/Cargo.toml
  samples/server/petstore/rust-server/output/ping-bearer-auth/examples/server/server.rs
  samples/server/petstore/rust-server/output/ping-bearer-auth/src/client/mod.rs
  samples/server/petstore/rust-server/output/ping-bearer-auth/src/server/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/Cargo.toml
  samples/server/petstore/rust-server/output/rust-server-test/examples/server/server.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/client/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/server/mod.rs
Labels: Enhancement: Compatibility, Server: Rust

#11870 MustacheTemplateUpdate csharp
  modules/openapi-generator/src/main/resources/csharp/api.mustache
Labels: Client: C-Sharp, Enhancement: Feature, Feature: Documentation

#11891 [Java] update list of vendor extensions
  docs/generators/groovy.md
  docs/generators/java-camel.md
  docs/generators/java-inflector.md
  docs/generators/java-micronaut-client.md
  docs/generators/java-micronaut-server.md
  docs/generators/java-msf4j.md
  docs/generators/java-pkmst.md
  docs/generators/java-play-framework.md
  docs/generators/java-undertow-server.md
  docs/generators/java-vertx-web.md
  docs/generators/java-vertx.md
  docs/generators/java.md
  docs/generators/jaxrs-cxf-cdi.md
  docs/generators/jaxrs-cxf-client.md
  docs/generators/jaxrs-cxf-extended.md
  docs/generators/jaxrs-cxf.md
  docs/generators/jaxrs-jersey.md
  docs/generators/jaxrs-resteasy-eap.md
  docs/generators/jaxrs-resteasy.md
  docs/generators/jaxrs-spec.md
  docs/generators/spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/VendorExtension.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
Labels: Client: Java, Enhancement: Feature, Feature: Documentation

#11890 [java][native] add connection timeout
  modules/openapi-generator/src/main/resources/Java/libraries/native/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/pom.mustache
  samples/client/petstore/java/native-async/build.gradle
  samples/client/petstore/java/native-async/pom.xml
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/native/build.gradle
  samples/client/petstore/java/native/pom.xml
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: General

#11896 [java][okhttp-gson] Fix warning, update build.gradle, build.sbt
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/build.sbt.mustache
  samples/client/others/java/okhttp-gson-streaming/build.gradle
  samples/client/others/java/okhttp-gson-streaming/build.sbt
  samples/client/others/java/okhttp-gson-streaming/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/build.gradle
  samples/client/petstore/java/okhttp-gson-dynamicOperations/build.sbt
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/build.gradle
  samples/client/petstore/java/okhttp-gson-parcelableModel/build.sbt
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson/build.gradle
  samples/client/petstore/java/okhttp-gson/build.sbt
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: Compatibility, Enhancement: General

#11894 [kotlin][spring] Rename extension to conform to kebab-case
  modules/openapi-generator/src/main/resources/kotlin-spring/api.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/apiInterface.mustache
Labels: Breaking change (without fallback), Enhancement: General, Server: Kotlin

#11903 [swift5][client] fix non public visibility modifier for NullEncodable
  modules/openapi-generator/src/main/resources/swift5/Models.mustache
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/Models.swift
Labels: Client: Swift, Issue: Bug

#11427 fix: [csharp-netcore]: oneOf fixes for Primitive types
  modules/openapi-generator/src/main/resources/csharp-netcore/modelOneOf.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Model/Mammal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Model/NullableShape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Model/Quadrilateral.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Model/Shape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Model/ShapeOrNull.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/Mammal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/NullableShape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/Quadrilateral.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/Shape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/ShapeOrNull.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Mammal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/NullableShape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Quadrilateral.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Shape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/ShapeOrNull.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/Mammal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/NullableShape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/Quadrilateral.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/Shape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/ShapeOrNull.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Mammal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/NullableShape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Quadrilateral.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Shape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/ShapeOrNull.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Mammal.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/NullableShape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Quadrilateral.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Shape.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/ShapeOrNull.cs
Labels: Client: C-Sharp, Feature: OAS 3.0 spec support, Issue: Bug

#11906 Fix test failure due to different error message based on JDK version
  samples/openapi3/client/petstore/java/jersey2-java8/src/test/java/org/openapitools/client/JSONComposedSchemaTest.java
Labels: Client: Java, Enhancement: CI/Test

#11792 Fix undefined object in Python model __copy__ template
  modules/openapi-generator/src/main/resources/python/model_templates/methods_shared.mustache
  samples/client/petstore/python/petstore_api/model_utils.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/model_utils.py
  samples/openapi3/client/extensions/x-auth-id-alias/python/x_auth_id_alias/model_utils.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/model_utils.py
  samples/openapi3/client/petstore/python/petstore_api/model_utils.py
Labels: Client: Python

#11907 [csharp][netcore] better tests for oneOf with primitive types
  bin/configs/csharp-netcore-OpenAPIClient-generichost-netcore5.0-nrt.yaml
  bin/configs/csharp-netcore-OpenAPIClient-generichost-netcore5.0.yaml
  bin/configs/csharp-netcore-OpenAPIClient-generichost-netstandard2.0.yaml
  bin/configs/csharp-netcore-OpenAPIClient-httpclient.yaml
  bin/configs/csharp-netcore-OpenAPIClient-net47.yaml
  bin/configs/csharp-netcore-OpenAPIClient-net50.yaml
  bin/configs/csharp-netcore-OpenAPIClient.yaml
  bin/configs/csharp-netcore-OpenAPIClientCore.yaml
  bin/configs/csharp-netcore-OpenAPIClient_ConditionalSerialization.yaml
  modules/openapi-generator/src/test/resources/3_0/csharp/petstore-with-fake-endpoints-models-for-testing-with-http-signature-generichost.yaml
  modules/openapi-generator/src/test/resources/3_0/csharp/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/.openapi-generator/FILES
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/docs/PolymorphicProperty.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools.Test/Model/PolymorphicPropertyTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Model/PolymorphicProperty.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/.openapi-generator/FILES
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/docs/PolymorphicProperty.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools.Test/Model/PolymorphicPropertyTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/PolymorphicProperty.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/.openapi-generator/FILES
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/docs/PolymorphicProperty.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools.Test/Model/PolymorphicPropertyTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/PolymorphicProperty.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/.openapi-generator/FILES
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/docs/PolymorphicProperty.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools.Test/Model/PolymorphicPropertyTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/PolymorphicProperty.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/.openapi-generator/FILES
  samples/client/petstore/csharp-netcore/OpenAPIClient/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient/docs/PolymorphicProperty.md
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools.Test/Model/PolymorphicPropertyTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/PolymorphicProperty.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/.openapi-generator/FILES
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/docs/PolymorphicProperty.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools.Test/Model/PolymorphicPropertyTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/PolymorphicProperty.cs
Labels: Client: C-Sharp, Enhancement: CI/Test

#11914 [Ada] Fix typo in final Info message
  modules/openapi-generator/src/main/resources/Ada/server.mustache
Labels: Issue: Non-operational, Server: Ada

#11915 Update maven plug-in dependencies to newer versions
  modules/openapi-generator-maven-plugin/pom.xml
Labels: Enhancement: Compatibility, OpenAPI Generator Maven Plugin, Enhancement: Security

#11918 [java][msf4j] use JDK8 in msf4j code
  modules/openapi-generator/src/main/resources/java-msf4j-server/pom.mustache
  samples/server/petstore/java-msf4j/pom.xml
Labels: Enhancement: Compatibility, Server: Java

#11279 [Python] - Migrate enable per request authentification in new python codegen
  modules/openapi-generator/src/main/resources/python/api.mustache
  modules/openapi-generator/src/main/resources/python/api_client.mustache
  samples/client/petstore/python/petstore_api/api/another_fake_api.py
  samples/client/petstore/python/petstore_api/api/fake_api.py
  samples/client/petstore/python/petstore_api/api/fake_classname_tags123_api.py
  samples/client/petstore/python/petstore_api/api/fake_classname_tags_123_api.py
  samples/client/petstore/python/petstore_api/api/pet_api.py
  samples/client/petstore/python/petstore_api/api/store_api.py
  samples/client/petstore/python/petstore_api/api/user_api.py
  samples/client/petstore/python/petstore_api/api_client.py
  samples/client/petstore/python/test/test_fake_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/another_fake_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/fake_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/fake_classname_tags123_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/fake_classname_tags_123_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/pet_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/store_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api/user_api.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/api_client.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/test/test_fake_api.py
  samples/openapi3/client/extensions/x-auth-id-alias/python/x_auth_id_alias/api/usage_api.py
  samples/openapi3/client/extensions/x-auth-id-alias/python/x_auth_id_alias/api_client.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/api/usage_api.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/api_client.py
  samples/openapi3/client/petstore/python/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/default_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_classname_tags123_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_classname_tags_123_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python/petstore_api/api_client.py
Labels: Client: Python

#11917 [Android] only support JDK8+
  modules/openapi-generator/src/main/resources/android/build.mustache
  modules/openapi-generator/src/main/resources/android/libraries/volley/build.mustache
  modules/openapi-generator/src/main/resources/android/libraries/volley/pom.mustache
  modules/openapi-generator/src/main/resources/android/pom.mustache
  samples/client/petstore/android/httpclient/.openapi-generator/VERSION
  samples/client/petstore/android/httpclient/build.gradle
  samples/client/petstore/android/httpclient/git_push.sh
  samples/client/petstore/android/httpclient/pom.xml
  samples/client/petstore/android/httpclient/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/android/volley/.openapi-generator/VERSION
  samples/client/petstore/android/volley/build.gradle
  samples/client/petstore/android/volley/git_push.sh
  samples/client/petstore/android/volley/pom.xml
  samples/client/petstore/android/volley/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Android, Enhancement: Compatibility

#11916 Fix the exception in python flask generator's option handling
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonConnexionServerCodegen.java
Labels: Issue: Bug, Server: Python

#11925 [C#/.NET] remove duplicate CLI option
  docs/generators/csharp-netcore-functions.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CsharpNetcoreFunctionsServerCodegen.java
Labels: Issue: Bug, Server: C-Sharp

#11920 List/Map emptiness checking and stream variation
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenOperation.java
Labels: Enhancement: General, Feature: Generator

#11923 Potencial NullPointerException fixes
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/K6ClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
Labels: Client: Python, Issue: Bug, Client: k6

#11909 [Java][Spring] Fix Array response
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/resources/bugs/issue_11897.yaml
Labels: Issue: Bug, Server: Java, Server: Spring

#11931 Only allow v3 input specs into python-experimental
  docs/generators/python-experimental.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonExperimentalClientCodegen.java
Labels: Client: Python

#11225 [php] use http_build_query for deepObject support
  modules/openapi-generator/src/main/resources/php/ObjectSerializer.mustache
  modules/openapi-generator/src/main/resources/php/api.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/AnotherFakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/DefaultApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeClassnameTags123Api.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/PetApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/StoreApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/UserApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/ObjectSerializer.php
  samples/client/petstore/php/OpenAPIClient-php/tests/ObjectSerializerTest.php
  samples/client/petstore/php/OpenAPIClient-php/tests/ParametersTest.php
Labels: Client: PHP, Issue: Bug

#11905 [Python] abbreviate dictionary membership testing idiom
  modules/openapi-generator/src/main/resources/python-legacy/api.mustache
  samples/client/petstore/python-asyncio/petstore_api/api/another_fake_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/fake_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/fake_classname_tags123_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/pet_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/store_api.py
  samples/client/petstore/python-asyncio/petstore_api/api/user_api.py
  samples/client/petstore/python-legacy/petstore_api/api/another_fake_api.py
  samples/client/petstore/python-legacy/petstore_api/api/fake_api.py
  samples/client/petstore/python-legacy/petstore_api/api/fake_classname_tags123_api.py
  samples/client/petstore/python-legacy/petstore_api/api/pet_api.py
  samples/client/petstore/python-legacy/petstore_api/api/store_api.py
  samples/client/petstore/python-legacy/petstore_api/api/user_api.py
  samples/client/petstore/python-tornado/petstore_api/api/another_fake_api.py
  samples/client/petstore/python-tornado/petstore_api/api/fake_api.py
  samples/client/petstore/python-tornado/petstore_api/api/fake_classname_tags123_api.py
  samples/client/petstore/python-tornado/petstore_api/api/pet_api.py
  samples/client/petstore/python-tornado/petstore_api/api/store_api.py
  samples/client/petstore/python-tornado/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python-legacy/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python-legacy/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-legacy/petstore_api/api/fake_classname_tags123_api.py
  samples/openapi3/client/petstore/python-legacy/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python-legacy/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python-legacy/petstore_api/api/user_api.py
Labels: Client: Python, Enhancement: Code Cleanup

#11941 [php-slim4] Add lazy CORS implementation
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSlim4ServerCodegen.java
  modules/openapi-generator/src/main/resources/php-slim4-server/composer.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/config_dev_default.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/config_prod_default.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/index.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/register_dependencies.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/register_routes.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/response_emitter.mustache
  samples/server/petstore/php-slim4/.openapi-generator/FILES
  samples/server/petstore/php-slim4/composer.json
  samples/server/petstore/php-slim4/config/dev/default.inc.php
  samples/server/petstore/php-slim4/config/prod/default.inc.php
  samples/server/petstore/php-slim4/lib/App/RegisterDependencies.php
  samples/server/petstore/php-slim4/lib/App/RegisterRoutes.php
  samples/server/petstore/php-slim4/lib/App/ResponseEmitter.php
  samples/server/petstore/php-slim4/public/index.php
Labels: Enhancement: Feature, Server: PHP

#11254 [Ruby] Added Support for Binary Media Data Return
  modules/openapi-generator/src/main/resources/ruby-client/api_client.mustache
  modules/openapi-generator/src/main/resources/ruby-client/api_client_faraday_partial.mustache
  samples/client/petstore/ruby-faraday/lib/petstore/api_client.rb
  samples/client/petstore/ruby/lib/petstore/api_client.rb
  samples/openapi3/client/extensions/x-auth-id-alias/ruby-client/lib/x_auth_id_alias/api_client.rb
  samples/openapi3/client/features/dynamic-servers/ruby/lib/dynamic_servers/api_client.rb
  samples/openapi3/client/features/generate-alias-as-model/ruby-client/lib/petstore/api_client.rb
Labels: Client: Ruby, Enhancement: General

#11955 fix markdown table format
  modules/openapi-generator/src/main/resources/Java/api_doc.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/api_doc.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/api_doc.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/api_doc.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/rest-assured/api_doc.mustache
  modules/openapi-generator/src/main/resources/Java/pojo_doc.mustache
  modules/openapi-generator/src/main/resources/java-micronaut/client/doc/api_doc.mustache
  modules/openapi-generator/src/main/resources/markdown-documentation/README.mustache
  modules/openapi-generator/src/main/resources/markdown-documentation/api.mustache
  modules/openapi-generator/src/main/resources/markdown-documentation/model.mustache
Labels: Client: Java, Enhancement: Feature, Feature: Documentation

#11948 Add documentation for scoop installation
  docs/installation.md
Labels: Enhancement: Feature, Feature: Documentation

#11960 Spring Boot Dependency Upgrade
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-boot/pom.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-cloud/pom.mustache
  samples/client/petstore/spring-cloud-async/pom.xml
  samples/client/petstore/spring-cloud-date-time/pom.xml
  samples/client/petstore/spring-cloud-spring-pageable/pom.xml
  samples/client/petstore/spring-cloud/pom.xml
  samples/client/petstore/spring-stubs/pom.xml
  samples/openapi3/client/petstore/spring-cloud-async/pom.xml
  samples/openapi3/client/petstore/spring-cloud-date-time/pom.xml
  samples/openapi3/client/petstore/spring-cloud-oas3-fakeapi/pom.xml
  samples/openapi3/client/petstore/spring-cloud-spring-pageable/pom.xml
  samples/openapi3/client/petstore/spring-cloud/pom.xml
  samples/openapi3/client/petstore/spring-stubs-skip-default-interface/pom.xml
  samples/openapi3/client/petstore/spring-stubs/pom.xml
  samples/openapi3/server/petstore/spring-boot-oneof/pom.xml
  samples/openapi3/server/petstore/spring-boot-springdoc/pom.xml
  samples/openapi3/server/petstore/springboot-beanvalidation-no-nullable/pom.xml
  samples/openapi3/server/petstore/springboot-delegate/pom.xml
  samples/openapi3/server/petstore/springboot-implicitHeaders/pom.xml
  samples/openapi3/server/petstore/springboot-reactive/pom.xml
  samples/openapi3/server/petstore/springboot-source/pom.xml
  samples/openapi3/server/petstore/springboot-useoptional/pom.xml
  samples/openapi3/server/petstore/springboot/pom.xml
  samples/server/petstore/spring-boot-defaultInterface-unhandledException/pom.xml
  samples/server/petstore/spring-boot-nullable-set/pom.xml
  samples/server/petstore/springboot-beanvalidation-no-nullable/pom.xml
  samples/server/petstore/springboot-beanvalidation/pom.xml
  samples/server/petstore/springboot-delegate-j8/pom.xml
  samples/server/petstore/springboot-delegate/pom.xml
  samples/server/petstore/springboot-implicitHeaders/pom.xml
  samples/server/petstore/springboot-reactive/pom.xml
  samples/server/petstore/springboot-spring-pageable-delegatePattern-without-j8/pom.xml
  samples/server/petstore/springboot-spring-pageable-delegatePattern/pom.xml
  samples/server/petstore/springboot-spring-pageable-without-j8/pom.xml
  samples/server/petstore/springboot-spring-pageable/pom.xml
  samples/server/petstore/springboot-useoptional/pom.xml
  samples/server/petstore/springboot-virtualan/pom.xml
  samples/server/petstore/springboot/pom.xml
Labels: Enhancement: Compatibility, Server: Java, Server: Spring

#11961 [Java][Spring] default value for list parameter
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/resources/JavaSpring/cookieParams.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/headerParams.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/paramDoc.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/queryParams.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/resources/bugs/issue_11957.yaml
  samples/server/petstore/springboot-beanvalidation-no-nullable/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-implicitHeaders/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern-without-j8/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-spring-pageable-without-j8/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-spring-pageable/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/api/FakeApi.java
  samples/server/petstore/springboot/src/main/java/org/openapitools/api/FakeApi.java
Labels: Client: Java, Issue: Bug

#11866 [C][Client] Free list or map memory when json parsing fails
  modules/openapi-generator/src/main/resources/C-libcurl/model-body.mustache
  samples/client/petstore/c/model/pet.c
Labels: Issue: Bug, Client: C

#11973 [GoClient] Fixed StringIndexOutOfBoundsException when multiple properties has the same required $ref oneOf objects
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/go/GoClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/petstore-multiple-required-properties-has-same-oneOf-object.yaml
Labels: Client: Go, Issue: Bug

#11981 Update parser to 2.0.31
  pom.xml
Labels: Enhancement: Compatibility, Swagger-Parser

#8481 [php] Fix JSON object deserialization
  modules/openapi-generator/src/main/resources/php/api.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/AnotherFakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/DefaultApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeClassnameTags123Api.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/PetApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/StoreApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/UserApi.php
Labels: Client: PHP, Issue: Bug

#11929 [CircleCI] update image
  .circleci/config.yml
  CI/circle_parallel.sh
  pom.xml
  samples/client/petstore/scala-httpclient/build.sbt
Labels: Enhancement: CI/Test

#11990 [php] Fix form serialization typo from #11225
  modules/openapi-generator/src/main/resources/php/api.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/AnotherFakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/DefaultApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeClassnameTags123Api.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/PetApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/StoreApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/UserApi.php
Labels: Client: PHP, Issue: Bug

#11996 Test PHP client in Travis CI
  .travis.yml
  CI/circle_parallel.sh
  pom.xml
Labels: Client: PHP, Enhancement: CI/Test

#11992 [php] Switch expected and actual params in tests
  samples/client/petstore/php/OpenAPIClient-php/tests/DateTimeSerializerTest.php
  samples/client/petstore/php/OpenAPIClient-php/tests/PetApiTest.php
Labels: Client: PHP, Enhancement: Code Cleanup

#10809 [PYTHON] Setting default value for Required variables
  bin/configs/python.yaml
  docs/generators/python.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/main/resources/python/model_templates/method_from_openapi_data_composed.mustache
  modules/openapi-generator/src/main/resources/python/model_templates/method_init_composed.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/PythonClientOptionsProvider.java
  modules/openapi-generator/src/test/resources/2_0/python-client-experimental/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/client/petstore/python/.openapi-generator/FILES
  samples/client/petstore/python/README.md
  samples/client/petstore/python/docs/Polygon.md
  samples/client/petstore/python/docs/PolygonAllOf.md
  samples/client/petstore/python/docs/Shape.md
  samples/client/petstore/python/docs/Square.md
  samples/client/petstore/python/docs/SquareAllOf.md
  samples/client/petstore/python/docs/Triangle.md
  samples/client/petstore/python/docs/TriangleAllOf.md
  samples/client/petstore/python/petstore_api/model/polygon.py
  samples/client/petstore/python/petstore_api/model/polygon_all_of.py
  samples/client/petstore/python/petstore_api/model/shape.py
  samples/client/petstore/python/petstore_api/model/square.py
  samples/client/petstore/python/petstore_api/model/square_all_of.py
  samples/client/petstore/python/petstore_api/model/triangle.py
  samples/client/petstore/python/petstore_api/model/triangle_all_of.py
  samples/client/petstore/python/petstore_api/models/__init__.py
  samples/client/petstore/python/test/test_polygon.py
  samples/client/petstore/python/test/test_polygon_all_of.py
  samples/client/petstore/python/test/test_shape.py
  samples/client/petstore/python/test/test_square.py
  samples/client/petstore/python/test/test_square_all_of.py
  samples/client/petstore/python/test/test_triangle.py
  samples/client/petstore/python/test/test_triangle_all_of.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/.openapi-generator/FILES
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/README.md
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/docs/Polygon.md
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/docs/PolygonAllOf.md
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/docs/Shape.md
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/docs/Square.md
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/docs/SquareAllOf.md
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/docs/Triangle.md
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/docs/TriangleAllOf.md
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/model/polygon.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/model/polygon_all_of.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/model/shape.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/model/square.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/model/square_all_of.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/model/triangle.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/model/triangle_all_of.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/models/__init__.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/test/test_polygon.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/test/test_polygon_all_of.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/test/test_shape.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/test/test_square.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/test/test_square_all_of.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/test/test_triangle.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/test/test_triangle_all_of.py
Labels: Client: Python, Issue: Bug

#11989 [Python] Update APIException Output
  modules/openapi-generator/src/main/resources/python/exceptions.mustache
  samples/client/petstore/python/petstore_api/exceptions.py
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/petstore_api/exceptions.py
  samples/openapi3/client/extensions/x-auth-id-alias/python/x_auth_id_alias/exceptions.py
  samples/openapi3/client/features/dynamic-servers/python/dynamic_servers/exceptions.py
  samples/openapi3/client/petstore/python/petstore_api/exceptions.py
Labels: Client: Python

#12010 Fixes issue where object in query parameter generates a NPE
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonExperimentalClientCodegen.java
  modules/openapi-generator/src/test/resources/3_0/python-experimental/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/openapi3/client/petstore/python-experimental/.openapi-generator/FILES
  samples/openapi3/client/petstore/python-experimental/README.md
  samples/openapi3/client/petstore/python-experimental/docs/FakeApi.md
  samples/openapi3/client/petstore/python-experimental/docs/MapBean.md
  samples/openapi3/client/petstore/python-experimental/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/api/fake_api_endpoints/object_in_query.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/api/fake_api_endpoints/ref_object_in_query.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/model/map_bean.py
  samples/openapi3/client/petstore/python-experimental/petstore_api/models/__init__.py
  samples/openapi3/client/petstore/python-experimental/test/test_map_bean.py
Labels: Issue: Bug
