Repository OpenAPITools/openapi-generator, pull requests merged in 2023-08, with the labels that each got.

#16209 Add model name mapping feature to C# codegen
  bin/configs/csharp-restsharp-net6.0-name-mappings.yaml
  docs/customization.md
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/ConfigHelp.java
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/config/GeneratorSettings.java
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/extensions/OpenApiGeneratorGenerateExtension.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConfig.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfigurator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfiguratorUtils.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/test/resources/3_0/name-parameter-mappings.yaml
  samples/client/petstore/csharp-restsharp-name-parameter-mappings/.openapi-generator/FILES
  samples/client/petstore/csharp-restsharp-name-parameter-mappings/README.md
  samples/client/petstore/csharp-restsharp-name-parameter-mappings/api/openapi.yaml
  samples/client/petstore/csharp-restsharp-name-parameter-mappings/docs/Env.md
  samples/client/petstore/csharp-restsharp-name-parameter-mappings/docs/FakeApi.md
  samples/client/petstore/csharp-restsharp-name-parameter-mappings/src/Org.OpenAPITools.Test/Model/EnvTests.cs
  samples/client/petstore/csharp-restsharp-name-parameter-mappings/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-restsharp-name-parameter-mappings/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-restsharp-name-parameter-mappings/src/Org.OpenAPITools/Model/Env.cs
  samples/client/petstore/csharp-restsharp-name-parameter-mappings/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/kotlin-name-parameter-mappings/.openapi-generator/FILES
  samples/client/petstore/kotlin-name-parameter-mappings/README.md
  samples/client/petstore/kotlin-name-parameter-mappings/docs/Environment.md
  samples/client/petstore/kotlin-name-parameter-mappings/docs/FakeApi.md
  samples/client/petstore/kotlin-name-parameter-mappings/src/main/kotlin/org/openapitools/client/apis/FakeApi.kt
  samples/client/petstore/kotlin-name-parameter-mappings/src/main/kotlin/org/openapitools/client/models/Environment.kt
Labels: Client: C-Sharp, Enhancement: Feature, Feature: Generator, Server: C-Sharp

#16236 Fix circleci node 4 failure
  .circleci/config.yml
  CI/circle_parallel.sh
Labels: Enhancement: CI/Test

#16234 Add name mappings support to JS client
  bin/configs/javascript-es6.yaml
  docs/customization.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptClientCodegen.java
  samples/client/petstore/javascript-es6/.openapi-generator/FILES
  samples/client/petstore/javascript-es6/README.md
  samples/client/petstore/javascript-es6/docs/FakeApi.md
  samples/client/petstore/javascript-es6/docs/HealthCheckStatus.md
  samples/client/petstore/javascript-es6/src/api/FakeApi.js
  samples/client/petstore/javascript-es6/src/index.js
  samples/client/petstore/javascript-es6/src/model/HealthCheckStatus.js
  samples/client/petstore/javascript-es6/test/model/HealthCheckStatus.spec.js
Labels: Client: JavaScript/Node.js, Enhancement: Feature

#16233 Add model name mappings support to the Elixir client generator
  bin/configs/elixir.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElixirClientCodegen.java
  samples/client/petstore/elixir/.openapi-generator/FILES
  samples/client/petstore/elixir/lib/openapi_petstore/model/deprecated_model.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/object_with_deprecated_fields.ex
Labels: Client: Elixir, Enhancement: Feature

#16232 [haskell-servant][haskell-yesod] Use table-based conversion for field name conversion
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellServantCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellYesodServerCodegen.java
  modules/openapi-generator/src/main/resources/haskell-servant/Types.mustache
  modules/openapi-generator/src/main/resources/haskell-yesod/src/API/Types.mustache
  samples/server/petstore/haskell-servant/lib/OpenAPIPetstore/Types.hs
  samples/server/petstore/haskell-yesod/src/OpenAPIPetstore/Types.hs
Labels: Enhancement: General, Server: Haskell

#16238 support 32bit in postdata
  modules/openapi-generator/src/main/resources/C-libcurl/apiClient.c.mustache
  samples/client/petstore/c/src/apiClient.c
Labels: Enhancement: General, Client: C

#16241 Fix implements in oneof, anyof templates in java okhttp client generator
  bin/configs/java-okhttp-gson-streaming.yaml
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/anyof_model.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/oneof_model.mustache
  modules/openapi-generator/src/test/resources/3_0/streaming.yaml
  samples/client/others/java/okhttp-gson-streaming/.openapi-generator/FILES
  samples/client/others/java/okhttp-gson-streaming/README.md
  samples/client/others/java/okhttp-gson-streaming/api/openapi.yaml
  samples/client/others/java/okhttp-gson-streaming/docs/SimpleOneOf.md
  samples/client/others/java/okhttp-gson-streaming/docs/SomeObj.md
  samples/client/others/java/okhttp-gson-streaming/src/main/java/org/openapitools/client/JSON.java
  samples/client/others/java/okhttp-gson-streaming/src/main/java/org/openapitools/client/model/SimpleOneOf.java
  samples/client/others/java/okhttp-gson-streaming/src/main/java/org/openapitools/client/model/SomeObj.java
  samples/client/others/java/okhttp-gson-streaming/src/test/java/org/openapitools/client/model/SimpleOneOfTest.java
Labels: Client: Java, Issue: Bug

#16253 Add mapping features to crystal client generator
  bin/configs/crystal.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CrystalClientCodegen.java
  modules/openapi-generator/src/test/resources/3_0/crystal/petstore.yaml
  samples/client/petstore/crystal/.openapi-generator/FILES
  samples/client/petstore/crystal/spec/api/fake_api_spec.cr
  samples/client/petstore/crystal/spec/models/another_property_name_mapping_spec.cr
  samples/client/petstore/crystal/src/petstore/api/fake_api.cr
  samples/client/petstore/crystal/src/petstore/models/another_property_name_mapping.cr
Labels: Enhancement: Feature, Client: Crystal

#16252 Add mapping features to R client generator
  bin/configs/r-httr2-client.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
  modules/openapi-generator/src/test/resources/3_0/r/petstore.yaml
  samples/client/petstore/R-httr2-wrapper/.openapi-generator/FILES
  samples/client/petstore/R-httr2-wrapper/NAMESPACE
  samples/client/petstore/R-httr2-wrapper/R/dummy_model.R
  samples/client/petstore/R-httr2-wrapper/README.md
  samples/client/petstore/R-httr2-wrapper/docs/DummyModel.md
  samples/client/petstore/R-httr2-wrapper/tests/testthat/test_dummy_model.R
  samples/client/petstore/R-httr2/.openapi-generator/FILES
  samples/client/petstore/R-httr2/NAMESPACE
  samples/client/petstore/R-httr2/R/date.R
  samples/client/petstore/R-httr2/R/fake_api.R
  samples/client/petstore/R-httr2/R/just_model.R
  samples/client/petstore/R-httr2/README.md
  samples/client/petstore/R-httr2/docs/Date.md
  samples/client/petstore/R-httr2/docs/FakeApi.md
  samples/client/petstore/R-httr2/docs/JustModel.md
  samples/client/petstore/R-httr2/tests/testthat/test_just_model.R
  samples/client/petstore/R/.openapi-generator/FILES
  samples/client/petstore/R/NAMESPACE
  samples/client/petstore/R/R/dummy_model.R
  samples/client/petstore/R/README.md
  samples/client/petstore/R/docs/DummyModel.md
  samples/client/petstore/R/tests/testthat/test_dummy_model.R
Labels: Client: R, Enhancement: Feature

#16263 Add a test for BigDecimal parameter in java client
  modules/openapi-generator/src/test/resources/3_0/java/petstore-with-fake-endpoints-models-for-testing-okhttp-gson.yaml
  samples/client/petstore/java/okhttp-gson/README.md
  samples/client/petstore/java/okhttp-gson/api/openapi.yaml
  samples/client/petstore/java/okhttp-gson/docs/AnotherFakeApi.md
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/api/AnotherFakeApiTest.java
Labels: Client: Java, Enhancement: CI/Test

#16133 Fix enum headers values while using Kotlin jvm-okhttp
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-okhttp/api.mustache
Labels: Client: Kotlin, Feature: Enum, Issue: Bug

#14413 [kotlin-server][jaxrs-spec] treat parameters with a default value as non-null
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/cookieParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/headerParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/pathParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/queryParams.mustache
Labels: Issue: Bug, Server: Kotlin

#16265 [kotlin-sever][jaxrs-spec] Fix default value, add nullable support
  .github/workflows/samples-kotlin-server.yaml
  bin/configs/kotlin-server-jaxrs-spec-parameter-tests.yaml
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/cookieParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/headerParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/pathParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/queryParams.mustache
  modules/openapi-generator/src/test/resources/3_0/parameter-test-spec.yaml
  samples/server/others/kotlin-server/jaxrs-spec/.openapi-generator-ignore
  samples/server/others/kotlin-server/jaxrs-spec/.openapi-generator/FILES
  samples/server/others/kotlin-server/jaxrs-spec/.openapi-generator/VERSION
  samples/server/others/kotlin-server/jaxrs-spec/README.md
  samples/server/others/kotlin-server/jaxrs-spec/build.gradle
  samples/server/others/kotlin-server/jaxrs-spec/gradle.properties
  samples/server/others/kotlin-server/jaxrs-spec/settings.gradle
  samples/server/others/kotlin-server/jaxrs-spec/src/main/kotlin/org/openapitools/server/apis/DefaultApi.kt
Labels: Enhancement: CI/Test, Enhancement: General, Issue: Bug, Server: Kotlin

#16267 [bug][kotlin] sanitize model names according to convention
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/AbstractKotlinCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/KotlinClientCodegenModelTest.java
Labels: Breaking change (with fallback), Client: Kotlin, Enhancement: General, Server: Kotlin

#16272 Mark jvm-okhttp3 option as deprecated in kotlin client
  docs/generators/kotlin.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinClientCodegen.java
Labels: Client: Kotlin, Decommission

#16273 Update kotlin client dependencies to newer versions
  modules/openapi-generator/src/main/resources/kotlin-client/build.gradle.mustache
  samples/client/petstore/kotlin-allOff-discriminator/build.gradle
  samples/client/petstore/kotlin-array-simple-string-jvm-okhttp3/build.gradle
  samples/client/petstore/kotlin-array-simple-string-jvm-okhttp4/build.gradle
  samples/client/petstore/kotlin-bigdecimal-default-okhttp4/build.gradle
  samples/client/petstore/kotlin-default-values-jvm-okhttp3/build.gradle
  samples/client/petstore/kotlin-default-values-jvm-okhttp4/build.gradle
  samples/client/petstore/kotlin-default-values-jvm-retrofit2/build.gradle
  samples/client/petstore/kotlin-enum-default-value/build.gradle
  samples/client/petstore/kotlin-gson/build.gradle
  samples/client/petstore/kotlin-jackson/build.gradle
  samples/client/petstore/kotlin-json-request-string/build.gradle
  samples/client/petstore/kotlin-jvm-ktor-gson/build.gradle
  samples/client/petstore/kotlin-jvm-ktor-jackson/build.gradle
  samples/client/petstore/kotlin-jvm-ktor-kotlinx_serialization/build.gradle
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/build.gradle
  samples/client/petstore/kotlin-jvm-spring-2-webclient/build.gradle
  samples/client/petstore/kotlin-jvm-spring-3-webclient/build.gradle
  samples/client/petstore/kotlin-jvm-vertx-gson/build.gradle
  samples/client/petstore/kotlin-jvm-vertx-jackson-coroutines/build.gradle
  samples/client/petstore/kotlin-jvm-vertx-jackson/build.gradle
  samples/client/petstore/kotlin-jvm-vertx-moshi/build.gradle
  samples/client/petstore/kotlin-modelMutable/build.gradle
  samples/client/petstore/kotlin-moshi-codegen/build.gradle
  samples/client/petstore/kotlin-name-parameter-mappings/build.gradle
  samples/client/petstore/kotlin-nonpublic/build.gradle
  samples/client/petstore/kotlin-nullable/build.gradle
  samples/client/petstore/kotlin-okhttp3/build.gradle
  samples/client/petstore/kotlin-retrofit2-kotlinx_serialization/build.gradle
  samples/client/petstore/kotlin-retrofit2-rx3/build.gradle
  samples/client/petstore/kotlin-retrofit2/build.gradle
  samples/client/petstore/kotlin-string/build.gradle
  samples/client/petstore/kotlin-threetenbp/build.gradle
  samples/client/petstore/kotlin-uppercase-enum/build.gradle
  samples/client/petstore/kotlin/build.gradle
Labels: Client: Kotlin, Enhancement: Compatibility

#16279 [Python] refactor pydantic model methods into abstract python codegen
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonFastAPIServerCodegen.java
  samples/server/petstore/python-fastapi/src/openapi_server/apis/user_api.py
  samples/server/petstore/python-fastapi/src/openapi_server/models/category.py
Labels: Client: Python, Enhancement: Code Cleanup

#16282 [Dart/CSharp/Python] replace File.separator with slash
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractDartCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
Labels: Client: C-Sharp, Client: Dart, Client: Python, Enhancement: Feature, Feature: Documentation

#16276 Add additional reserved words for java and csharp
  docs/generators/csharp.md
  docs/generators/java.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
Labels: Client: C-Sharp, Client: Java, Enhancement: General, Server: C-Sharp, Server: Java

#16247 Ensure enum classes toString() returns kotlin.String
  modules/openapi-generator/src/main/resources/kotlin-client/enum_class.mustache
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/models/PetEnum.kt
Labels: Client: Kotlin, Feature: Enum, Issue: Bug

#16290 Add tests, workflow for haskell samples
  .github/workflows/samples-haskell.yaml
  bin/configs/haskell-servant.yaml
  bin/configs/haskell-yesod.yaml
  modules/openapi-generator/src/test/resources/3_0/haskell/petstore.yaml
  samples/server/petstore/haskell-servant/lib/OpenAPIPetstore/API.hs
  samples/server/petstore/haskell-servant/lib/OpenAPIPetstore/Types.hs
  samples/server/petstore/haskell-yesod/src/OpenAPIPetstore/Types.hs
Labels: Client: Haskell, Enhancement: CI/Test, Server: Haskell

#16213 Fix Java GSON client not accepting optional null arrays
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/pojo.mustache
  samples/client/echo_api/java/okhttp-gson/src/main/java/org/openapitools/client/model/DefaultValue.java
  samples/client/echo_api/java/okhttp-gson/src/main/java/org/openapitools/client/model/Query.java
  samples/client/echo_api/java/okhttp-gson/src/main/java/org/openapitools/client/model/TestQueryStyleFormExplodeTrueArrayStringQueryObjectParameter.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/model/ArrayOfArrayOfNumberOnly.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/model/ArrayOfNumberOnly.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/model/ArrayTest.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/model/EnumArrays.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/model/XmlItem.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/model/ArrayOfArrayOfNumberOnly.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/model/ArrayOfNumberOnly.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/model/ArrayTest.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/model/EnumArrays.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/model/XmlItem.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/ArrayDefault.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/ArrayOfArrayOfNumberOnly.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/ArrayOfNumberOnly.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/ArrayTest.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/EnumArrays.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/NullableClass.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/ObjectWithDeprecatedFields.java
Labels: Client: Java, Issue: Bug

#16291 [python] Fix data type
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/test/resources/3_0/python/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/openapi3/client/petstore/python-aiohttp/README.md
  samples/openapi3/client/petstore/python-aiohttp/docs/FakeApi.md
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/README.md
  samples/openapi3/client/petstore/python/docs/FakeApi.md
  samples/openapi3/client/petstore/python/petstore_api/api/fake_api.py
Labels: Client: Python, Issue: Bug, Server: Python

#16293 [Kotlin client][jvm-spring-webclient] Improve type reference declaration in ApiClient for request in order to fix invalid response of type List<T>.
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-spring-webclient/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin-jvm-spring-2-webclient/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-jvm-spring-3-webclient/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin, Enhancement: General

#16298 Add tests for array of number in Java okhttp-gson client
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/JSONTest.java
Labels: Client: Java, Enhancement: CI/Test

#16299 [swift] to support application/octet-stream for file upload
  modules/openapi-generator/src/main/resources/swift5/libraries/urlsession/URLSessionImplementations.mustache
  samples/client/petstore/swift5/anycodableLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/asyncAwaitLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/deprecated/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/frozenEnums/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/oneOf/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/readonlyProperties/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/urlsessionLibrary/Sources/PetstoreClient/URLSessionImplementations.swift
  samples/client/petstore/swift5/validation/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/x-swift-hashable/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
Labels: Client: Swift, Enhancement: General

#7908 Feature suppoert dart sample code in html2 generator
  modules/openapi-generator/src/main/resources/htmlDocs2/index.mustache
  modules/openapi-generator/src/main/resources/htmlDocs2/sample_dart.mustache
  samples/documentation/html2/index.html
Labels: Client: Dart, Enhancement: General

#9449 [typescript-rxjs] Update servers.mustache
  modules/openapi-generator/src/main/resources/typescript-rxjs/servers.mustache
Labels: Client: TypeScript, Enhancement: General

#16302 Minor enhancements to tyescript-rxjs client generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptRxjsClientCodegen.java
  modules/openapi-generator/src/main/resources/typescript-rxjs/servers.mustache
  samples/client/others/typescript-rxjs/allOf-composition/servers.ts
  samples/client/petstore/typescript-rxjs/builds/default/servers.ts
  samples/client/petstore/typescript-rxjs/builds/es6-target/servers.ts
  samples/client/petstore/typescript-rxjs/builds/with-npm-version/servers.ts
  samples/client/petstore/typescript-rxjs/builds/with-progress-subscriber/servers.ts
Labels: Client: TypeScript, Enhancement: Code format, Enhancement: General

#16303 [go] fix issue that tempfile is not deleted
  modules/openapi-generator/src/main/resources/go/client.mustache
  samples/client/petstore/go/go-petstore/client.go
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/client.go
  samples/openapi3/client/petstore/go/go-petstore/client.go
Labels: Client: Go, Issue: Bug

#16305 Zapier request fields fix
  modules/openapi-generator/src/main/resources/zapier/model.mustache
  modules/openapi-generator/src/main/resources/zapier/utils.mustache
  samples/client/petstore/zapier/models/Pet.js
  samples/client/petstore/zapier/utils/utils.js
Labels: Issue: Bug, Client: Zapier

#14239 Fix Retrofit template with Jackson for Kotlin
  .github/workflows/samples-kotlin-client.yaml
  bin/configs/kotlin-jvm-jackson.yaml
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin-jvm-jackson/.openapi-generator-ignore
  samples/client/petstore/kotlin-jvm-jackson/.openapi-generator/FILES
  samples/client/petstore/kotlin-jvm-jackson/.openapi-generator/VERSION
  samples/client/petstore/kotlin-jvm-jackson/README.md
  samples/client/petstore/kotlin-jvm-jackson/build.gradle
  samples/client/petstore/kotlin-jvm-jackson/docs/ApiResponse.md
  samples/client/petstore/kotlin-jvm-jackson/docs/Category.md
  samples/client/petstore/kotlin-jvm-jackson/docs/Order.md
  samples/client/petstore/kotlin-jvm-jackson/docs/Pet.md
  samples/client/petstore/kotlin-jvm-jackson/docs/PetApi.md
  samples/client/petstore/kotlin-jvm-jackson/docs/StoreApi.md
  samples/client/petstore/kotlin-jvm-jackson/docs/Tag.md
  samples/client/petstore/kotlin-jvm-jackson/docs/User.md
  samples/client/petstore/kotlin-jvm-jackson/docs/UserApi.md
  samples/client/petstore/kotlin-jvm-jackson/gradle/wrapper/gradle-wrapper.jar
  samples/client/petstore/kotlin-jvm-jackson/gradle/wrapper/gradle-wrapper.properties
  samples/client/petstore/kotlin-jvm-jackson/gradlew
  samples/client/petstore/kotlin-jvm-jackson/gradlew.bat
  samples/client/petstore/kotlin-jvm-jackson/settings.gradle
  samples/client/petstore/kotlin-jvm-jackson/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-jvm-jackson/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-jvm-jackson/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-jvm-jackson/src/main/kotlin/org/openapitools/client/auth/ApiKeyAuth.kt
  samples/client/petstore/kotlin-jvm-jackson/src/main/kotlin/org/openapitools/client/auth/OAuth.kt
  samples/client/petstore/kotlin-jvm-jackson/src/main/kotlin/org/openapitools/client/auth/OAuthFlow.kt
  samples/client/petstore/kotlin-jvm-jackson/src/main/kotlin/org/openapitools/client/auth/OAuthOkHttpClient.kt
  samples/client/petstore/kotlin-jvm-jackson/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-jvm-jackson/src/main/kotlin/org/openapitools/client/infrastructure/CollectionFormats.kt
  samples/client/petstore/kotlin-jvm-jackson/src/main/kotlin/org/openapitools/client/infrastructure/ResponseExt.kt
  samples/client/petstore/kotlin-jvm-jackson/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-jvm-jackson/src/main/kotlin/org/openapitools/client/models/Category.kt
  samples/client/petstore/kotlin-jvm-jackson/src/main/kotlin/org/openapitools/client/models/ModelApiResponse.kt
  samples/client/petstore/kotlin-jvm-jackson/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-jvm-jackson/src/main/kotlin/org/openapitools/client/models/Pet.kt
  samples/client/petstore/kotlin-jvm-jackson/src/main/kotlin/org/openapitools/client/models/Tag.kt
  samples/client/petstore/kotlin-jvm-jackson/src/main/kotlin/org/openapitools/client/models/User.kt
Labels: Client: Kotlin, Issue: Bug

#16318 [csharp][generichost] Fixed class definition
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/modelGeneric.mustache
Labels: Client: C-Sharp, Issue: Bug

#16319 Remove python flask python2 samples
  .github/.test/samples.json
  bin/configs/unmaintained/openapi3/python-flask-python2.yaml
  samples/openapi3/server/petstore/python-flask-python2/.dockerignore
  samples/openapi3/server/petstore/python-flask-python2/.gitignore
  samples/openapi3/server/petstore/python-flask-python2/.openapi-generator-ignore
  samples/openapi3/server/petstore/python-flask-python2/.openapi-generator/FILES
  samples/openapi3/server/petstore/python-flask-python2/.openapi-generator/VERSION
  samples/openapi3/server/petstore/python-flask-python2/.travis.yml
  samples/openapi3/server/petstore/python-flask-python2/Dockerfile
  samples/openapi3/server/petstore/python-flask-python2/README.md
  samples/openapi3/server/petstore/python-flask-python2/git_push.sh
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/__init__.py
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/__main__.py
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/controllers/__init__.py
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/controllers/pet_controller.py
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/controllers/security_controller.py
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/controllers/store_controller.py
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/controllers/user_controller.py
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/encoder.py
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/models/__init__.py
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/models/api_response.py
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/models/base_model.py
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/models/category.py
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/models/order.py
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/models/pet.py
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/models/pet_form.py
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/models/status_enum.py
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/models/tag.py
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/models/upload_form.py
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/models/user.py
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/openapi/openapi.yaml
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/test/__init__.py
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/test/test_pet_controller.py
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/test/test_store_controller.py
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/test/test_user_controller.py
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/typing_utils.py
  samples/openapi3/server/petstore/python-flask-python2/openapi_server/util.py
  samples/openapi3/server/petstore/python-flask-python2/requirements.txt
  samples/openapi3/server/petstore/python-flask-python2/setup.py
  samples/openapi3/server/petstore/python-flask-python2/test-requirements.txt
  samples/openapi3/server/petstore/python-flask-python2/tox.ini
Labels: Server: Python, Enhancement: Code Cleanup

#16326 [JAVA] [WebClient] Handle list of String special case in WebClient generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/VendorExtension.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/api_test.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/bugs/issue_7118.yaml
Labels: Client: Java, Issue: Bug

#16246 [Java] Array default value requires import of java.util.Arrays
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/jaxrs/JavaJAXRSSpecServerCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/ping-array-default.yaml
Labels: Client: Java, Issue: Bug

#16343 [kotlin-client][multiplatform] HttpClient can now be passed as an argument to ApiClient
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/multiplatform/api.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/multiplatform/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin-array-simple-string-multiplatform/src/commonMain/kotlin/org/openapitools/client/apis/DefaultApi.kt
  samples/client/petstore/kotlin-array-simple-string-multiplatform/src/commonMain/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-bigdecimal-default-multiplatform/src/commonMain/kotlin/org/openapitools/client/apis/DefaultApi.kt
  samples/client/petstore/kotlin-bigdecimal-default-multiplatform/src/commonMain/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-default-values-multiplatform/gradlew
  samples/client/petstore/kotlin-default-values-multiplatform/src/commonMain/kotlin/org/openapitools/client/apis/DefaultApi.kt
  samples/client/petstore/kotlin-default-values-multiplatform/src/commonMain/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin, Enhancement: Feature

#10479 Update go-gin-server templates to return a configurable library
  modules/openapi-generator/src/main/resources/go-gin-server/controller-api.mustache
  modules/openapi-generator/src/main/resources/go-gin-server/main.mustache
  modules/openapi-generator/src/main/resources/go-gin-server/routers.mustache
  samples/server/petstore/go-gin-api-server/go/api_pet.go
  samples/server/petstore/go-gin-api-server/go/api_store.go
  samples/server/petstore/go-gin-api-server/go/api_user.go
  samples/server/petstore/go-gin-api-server/go/routers.go
  samples/server/petstore/go-gin-api-server/main.go
Labels: Breaking change (without fallback), Enhancement: General, Server: Go

#16361 [csharp][generichost] Only one JsonConstructor
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/modelGeneric.mustache
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/Fruit.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/FruitReq.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/GmFruit.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/Mammal.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/NullableShape.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/OneOfString.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/Pig.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/PolymorphicProperty.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/Quadrilateral.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/Shape.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/ShapeOrNull.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/Triangle.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/Fruit.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/FruitReq.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/GmFruit.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/Mammal.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/NullableShape.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/OneOfString.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/Pig.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/PolymorphicProperty.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/Quadrilateral.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/Shape.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/ShapeOrNull.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/Triangle.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Model/Fruit.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Model/Fruit.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/Fruit.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/FruitReq.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/GmFruit.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/Mammal.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/NullableShape.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/OneOfString.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/Pig.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/PolymorphicProperty.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/Quadrilateral.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/Shape.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/ShapeOrNull.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/Triangle.cs
Labels: Client: C-Sharp, Enhancement: General

#16355 [BUG] [java][jersey2/3] clientBuilder gets overwritten after call to customizeClientBuilder
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey3/ApiClient.mustache
  modules/openapi-generator/src/test/resources/2_0/templates/Java/libraries/jersey2/ApiClient.mustache
  samples/client/petstore/java/jersey2-java8-localdatetime/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey3/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/extensions/x-auth-id-alias/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8-special-characters/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8-swagger1/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8-swagger2/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#16365 [BUG] [csharp-netcore] Resolve Memory leak in ApiClient
  modules/openapi-generator/src/main/resources/csharp/ApiClient.mustache
  samples/client/echo_api/csharp-restsharp/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/others/csharp-complex-files/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-restsharp-name-parameter-mappings/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient-net47/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient-net48/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientCore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Client/ApiClient.cs
Labels: Client: C-Sharp, Issue: Bug

#16371 Add mapping features to C client generator
  bin/configs/c.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CLibcurlClientCodegen.java
  modules/openapi-generator/src/test/resources/2_0/c/petstore.yaml
  samples/client/petstore/c/.openapi-generator/FILES
  samples/client/petstore/c/README.md
  samples/client/petstore/c/docs/MappedModel.md
  samples/client/petstore/c/model/mapped_model.c
  samples/client/petstore/c/model/mapped_model.h
  samples/client/petstore/c/unit-test/test_mapped_model.c
Labels: Enhancement: Feature, Client: C

#16373 Add mapping features to Abstract C++ Codegen
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCppCodegen.java
Labels: Client: C++, Enhancement: Feature, Server: C++

#16331 allow check for path parameters in matrix style
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaIsMatrixParameterTest.java
  modules/openapi-generator/src/test/resources/3_1/matrix-path-params-spec.json
Labels: Enhancement: Feature, Feature: Generator

#16375 [python-flask] adopt python3.5+ syntax
  .gitignore
  modules/openapi-generator/src/main/resources/python-flask/__init__model.mustache
  modules/openapi-generator/src/main/resources/python-flask/base_model.mustache
  modules/openapi-generator/src/main/resources/python-flask/controller.mustache
  modules/openapi-generator/src/main/resources/python-flask/controller_test.mustache
  modules/openapi-generator/src/main/resources/python-flask/encoder.mustache
  modules/openapi-generator/src/main/resources/python-flask/model.mustache
  modules/openapi-generator/src/main/resources/python-flask/setup.mustache
  modules/openapi-generator/src/main/resources/python-flask/typing_utils.mustache
  modules/openapi-generator/src/main/resources/python-flask/util.mustache
  samples/server/petstore/python-flask/openapi_server/controllers/pet_controller.py
  samples/server/petstore/python-flask/openapi_server/controllers/store_controller.py
  samples/server/petstore/python-flask/openapi_server/controllers/user_controller.py
  samples/server/petstore/python-flask/openapi_server/encoder.py
  samples/server/petstore/python-flask/openapi_server/models/__init__.py
  samples/server/petstore/python-flask/openapi_server/models/api_response.py
  samples/server/petstore/python-flask/openapi_server/models/base_model.py
  samples/server/petstore/python-flask/openapi_server/models/category.py
  samples/server/petstore/python-flask/openapi_server/models/order.py
  samples/server/petstore/python-flask/openapi_server/models/pet.py
  samples/server/petstore/python-flask/openapi_server/models/tag.py
  samples/server/petstore/python-flask/openapi_server/models/user.py
  samples/server/petstore/python-flask/openapi_server/test/test_pet_controller.py
  samples/server/petstore/python-flask/openapi_server/test/test_store_controller.py
  samples/server/petstore/python-flask/openapi_server/test/test_user_controller.py
  samples/server/petstore/python-flask/openapi_server/typing_utils.py
  samples/server/petstore/python-flask/openapi_server/util.py
  samples/server/petstore/python-flask/setup.py
Labels: Enhancement: Compatibility, Server: Python

#16296 [Kotlin-Spring] fix arrays response api after generation
  modules/openapi-generator/src/main/resources/kotlin-spring/api.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/apiInterface.mustache
  samples/server/petstore/kotlin-spring-default/src/main/kotlin/org/openapitools/api/PetApiController.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/api/PetApi.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/api/PetApiController.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/PetApiController.kt
  samples/server/petstore/kotlin-springboot-source-swagger2/src/main/kotlin/org/openapitools/api/PetApiController.kt
Labels: Issue: Bug, Server: Kotlin, Server: Spring

#16369 Lambda refactors
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCppCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaPlayFrameworkServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptFetchClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/mustache/CaseFormatLambda.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/mustache/EscapeChar.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/mustache/FirstLambda.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/mustache/IndentedLambda.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/mustache/JoinWithCommaLambda.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/mustache/OptionalParameterLambda.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/mustache/RequiredParameterLambda.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/mustache/SnakecaseLambda.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/mustache/TitlecaseLambda.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/mustache/TrimTrailingWhiteSpaceLambda.java
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/ApiTestsBase.mustache
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/JsonConverter.mustache
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/api.mustache
  modules/openapi-generator/src/main/resources/csharp/model_test.mustache
  modules/openapi-generator/src/main/resources/csharp/validatable.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/templating/mustache/IndentedLambdaTest.java
Labels: Enhancement: Feature, Enhancement: Code Cleanup

#16370 Add mapping features to Julia generators
  bin/configs/julia-client-petstore-new.yaml
  bin/configs/julia-server-petstore-new.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJuliaCodegen.java
  modules/openapi-generator/src/test/resources/3_0/julia/petstore.yaml
  samples/client/petstore/julia/.openapi-generator/FILES
  samples/client/petstore/julia/README.md
  samples/client/petstore/julia/docs/MappedModel.md
  samples/client/petstore/julia/src/OpenAPIGenPetStoreClient.jl
  samples/client/petstore/julia/src/modelincludes.jl
  samples/client/petstore/julia/src/models/model_MappedModel.jl
  samples/server/petstore/julia/.openapi-generator/FILES
  samples/server/petstore/julia/README.md
  samples/server/petstore/julia/docs/AnotherModel.md
  samples/server/petstore/julia/src/OpenAPIGenPetStoreServer.jl
  samples/server/petstore/julia/src/modelincludes.jl
  samples/server/petstore/julia/src/models/model_AnotherModel.jl
Labels: Client: Julia, Enhancement: Feature, Server: Julia

#16382 Adding model type hints for Python Flask
  modules/openapi-generator/src/main/resources/python-flask/model.mustache
  samples/server/petstore/python-flask/openapi_server/models/api_response.py
  samples/server/petstore/python-flask/openapi_server/models/category.py
  samples/server/petstore/python-flask/openapi_server/models/order.py
  samples/server/petstore/python-flask/openapi_server/models/pet.py
  samples/server/petstore/python-flask/openapi_server/models/tag.py
  samples/server/petstore/python-flask/openapi_server/models/user.py
Labels: Enhancement: General, Server: Python

#16395 Fix scalatra on Windows
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalatraServerCodegen.java
Labels: Issue: Bug, Server: Scala

#16421 Fix 16417: [Ada] Server generation fails for some response types
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractAdaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AdaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AdaServerCodegen.java
  modules/openapi-generator/src/main/resources/Ada/README.mustache
  modules/openapi-generator/src/main/resources/Ada/gnat-project.mustache
  modules/openapi-generator/src/main/resources/Ada/server-aws.mustache
  modules/openapi-generator/src/main/resources/Ada/server-ews.mustache
  modules/openapi-generator/src/main/resources/Ada/server-skeleton-body.mustache
  modules/openapi-generator/src/main/resources/Ada/server.mustache
  samples/client/petstore/ada/petstore.gpr
Labels: Client: Ada, Issue: Bug, Server: Ada

#15127 issue15126: restore "default" value support for golang generator
  modules/openapi-generator/src/main/resources/go/api.mustache
  samples/client/petstore/go/go-petstore/api_fake.go
  samples/openapi3/client/petstore/go/go-petstore/api_fake.go
Labels: Client: Go, Issue: Bug

#16423 [Ruby] align indentation
  modules/openapi-generator/src/main/resources/ruby-client/configuration.mustache
Labels: Client: Ruby, Enhancement: Code format

#16396 [ruby] Not symbolize header param keys to allow the usage of underscore ("_") character
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RubyClientCodegen.java
  modules/openapi-generator/src/main/resources/ruby-client/api.mustache
  samples/client/petstore/ruby-autoload/lib/petstore/api/fake_api.rb
  samples/client/petstore/ruby-autoload/lib/petstore/api/pet_api.rb
  samples/client/petstore/ruby-faraday/lib/petstore/api/fake_api.rb
  samples/client/petstore/ruby-faraday/lib/petstore/api/pet_api.rb
  samples/client/petstore/ruby/lib/petstore/api/fake_api.rb
  samples/client/petstore/ruby/lib/petstore/api/pet_api.rb
Labels: Client: Ruby, Issue: Bug

#16433 Better handling of null pointer in CodegenSecurity
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenSecurity.java
Labels: Enhancement: General, Feature: Generator

#16432 Fix uuid example cast exception in python generators
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonCodegen.java
  modules/openapi-generator/src/test/resources/3_0/python/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/openapi3/client/petstore/python-aiohttp/README.md
  samples/openapi3/client/petstore/python-aiohttp/docs/FakeApi.md
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/README.md
  samples/openapi3/client/petstore/python/docs/FakeApi.md
  samples/openapi3/client/petstore/python/petstore_api/api/fake_api.py
Labels: Client: Python, Issue: Bug

#16425 add test to invoke each generator and catch simple crashes
  modules/openapi-generator/src/test/java/org/openapitools/codegen/AllGeneratorsTest.java
Labels: Enhancement: CI/Test

#16434 [java] Fix cast exception in array default value (number)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/resources/3_0/java/petstore-with-fake-endpoints-models-for-testing-okhttp-gson.yaml
  samples/client/petstore/java/okhttp-gson/README.md
  samples/client/petstore/java/okhttp-gson/api/openapi.yaml
  samples/client/petstore/java/okhttp-gson/docs/AnotherFakeApi.md
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
Labels: Client: Java, Issue: Bug, Server: Java

#16439 Fix cast exception in uuid default value (haskell-http-client)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellHttpClientCodegen.java
Labels: Client: Haskell, Issue: Bug

#16437 [ObjC] Fix cast exception in default value of UUID
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ObjcClientCodegen.java
Labels: Client: Objc, Issue: Bug

#16148 fix(sec): upgrade golang.org/x/net to 0.7.0
  samples/client/petstore/go/go.mod
  samples/client/petstore/go/go.sum
Labels: Client: Go, Enhancement: CI/Test

#16438 [Julia] Fix cast exception in uuid default value
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJuliaCodegen.java
  modules/openapi-generator/src/test/resources/3_0/julia/petstore.yaml
  samples/client/petstore/julia/.openapi-generator/FILES
  samples/client/petstore/julia/README.md
  samples/client/petstore/julia/docs/FakeApi.md
  samples/client/petstore/julia/docs/MappedModel.md
  samples/client/petstore/julia/src/OpenAPIGenPetStoreClient.jl
  samples/client/petstore/julia/src/apis/api_FakeApi.jl
  samples/client/petstore/julia/src/models/model_MappedModel.jl
  samples/server/petstore/julia/.openapi-generator/FILES
  samples/server/petstore/julia/README.md
  samples/server/petstore/julia/docs/AnotherModel.md
  samples/server/petstore/julia/docs/FakeApi.md
  samples/server/petstore/julia/src/OpenAPIGenPetStoreServer.jl
  samples/server/petstore/julia/src/apis/api_FakeApi.jl
  samples/server/petstore/julia/src/models/model_AnotherModel.jl
Labels: Client: Julia, Issue: Bug, Server: Julia

#16376 Fix null request body issue
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Feature: Generator, Issue: Bug

#16216 Properly handle mappings and import mappings after processOpts
  bin/configs/java-native-echo-api.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/ClientOptInput.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfigurator.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  samples/client/echo_api/java/native/docs/DataQuery.md
  samples/client/echo_api/java/native/docs/QueryApi.md
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/QueryApi.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/model/DataQuery.java
Labels: Enhancement: Feature, Feature: Generator

#16392 Fix model name being a type in TS abstract codegen
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/typescriptangular/TypeScriptAngularClientCodegenTest.java
  modules/openapi-generator/src/test/resources/2_0/issue_8289.json
Labels: Client: TypeScript, Issue: Bug, Server: TypeScript

#16450 Fix cast exception when handling example/default of UUID/Long type
  modules/openapi-generator/src/main/java/org/openapitools/codegen/examples/ExampleGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractApexCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractFSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ApexClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CLibcurlClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ProtobufSchemaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SwiftCombineClientCodegen.java
Labels: Client: Apex, Feature: Generator, Issue: Bug, Server: Rust, Server: F#, Schema: ProtoBuf

#16449 [C] Fix cast exception with UUID default value
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CLibcurlClientCodegen.java
  modules/openapi-generator/src/test/resources/2_0/c/petstore.yaml
  samples/client/petstore/c/docs/MappedModel.md
  samples/client/petstore/c/model/mapped_model.c
  samples/client/petstore/c/model/mapped_model.h
Labels: Issue: Bug, Client: C

#16451 fix: python client generator didn't respect range response specification
  modules/openapi-generator/src/main/resources/python/api_client.mustache
  samples/client/echo_api/python/openapi_client/api_client.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api_client.py
  samples/openapi3/client/petstore/python/petstore_api/api_client.py
Labels: Client: Python, Issue: Bug

#16460 [powershell] update doc to use backslash
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/mustache/BackSlashLambda.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/mustache/ForwardSlashLambda.java
  modules/openapi-generator/src/main/resources/powershell/README.mustache
  modules/openapi-generator/src/main/resources/powershell/api_doc.mustache
  samples/client/petstore/powershell/README.md
  samples/client/petstore/powershell/docs/PSAnotherFakeApi.md
  samples/client/petstore/powershell/docs/PSDefaultApi.md
  samples/client/petstore/powershell/docs/PSFakeApi.md
  samples/client/petstore/powershell/docs/PSFakeClassnameTags123Api.md
  samples/client/petstore/powershell/docs/PSPetApi.md
  samples/client/petstore/powershell/docs/PSStoreApi.md
  samples/client/petstore/powershell/docs/PSUserApi.md
Labels: Client: PowerShell, Enhancement: Feature, Feature: Documentation

#16462 Fix slash in php generator's doc & config
  modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/mustache/BackSlashLambda.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/mustache/ForwardSlashLambda.java
  modules/openapi-generator/src/main/resources/php-slim4-server/README.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/phpunit.xml.mustache
  modules/openapi-generator/src/main/resources/php-symfony/testing/phpunit.xml.mustache
  modules/openapi-generator/src/main/resources/php/phpunit.xml.mustache
Labels: Client: PHP, Issue: Non-operational

#16463 Fix slash in python aiohttp files
  modules/openapi-generator/src/main/resources/python-aiohttp/conftest.mustache
  modules/openapi-generator/src/main/resources/python-aiohttp/setup.mustache
  modules/openapi-generator/src/main/resources/python-aiohttp/tox.mustache
  samples/server/petstore/python-aiohttp-srclayout/setup.py
Labels: Issue: Bug, Server: Python
