Repository OpenAPITools/openapi-generator, pull requests merged in 2023-09, with the labels that each got.

#16464 Fix indent lambda using \n as line break
  modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/mustache/IndentedLambda.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/templating/mustache/IndentedLambdaTest.java
Labels: Feature: Generator, Issue: Bug

#16473 [rust] fix nullable array
  modules/openapi-generator/src/main/resources/rust/model.mustache
  modules/openapi-generator/src/test/resources/3_0/rust/petstore.yaml
  samples/client/petstore/rust/hyper/petstore/.openapi-generator/FILES
  samples/client/petstore/rust/hyper/petstore/README.md
  samples/client/petstore/rust/hyper/petstore/docs/NullableArray.md
  samples/client/petstore/rust/hyper/petstore/src/models/mod.rs
  samples/client/petstore/rust/hyper/petstore/src/models/nullable_array.rs
  samples/client/petstore/rust/reqwest/petstore-async-middleware/.openapi-generator/FILES
  samples/client/petstore/rust/reqwest/petstore-async-middleware/README.md
  samples/client/petstore/rust/reqwest/petstore-async-middleware/docs/NullableArray.md
  samples/client/petstore/rust/reqwest/petstore-async-middleware/src/models/mod.rs
  samples/client/petstore/rust/reqwest/petstore-async-middleware/src/models/nullable_array.rs
  samples/client/petstore/rust/reqwest/petstore-async/.openapi-generator/FILES
  samples/client/petstore/rust/reqwest/petstore-async/README.md
  samples/client/petstore/rust/reqwest/petstore-async/docs/NullableArray.md
  samples/client/petstore/rust/reqwest/petstore-async/src/models/mod.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/models/nullable_array.rs
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/.openapi-generator/FILES
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/README.md
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/docs/NullableArray.md
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/src/models/mod.rs
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/src/models/nullable_array.rs
  samples/client/petstore/rust/reqwest/petstore/.openapi-generator/FILES
  samples/client/petstore/rust/reqwest/petstore/README.md
  samples/client/petstore/rust/reqwest/petstore/docs/NullableArray.md
  samples/client/petstore/rust/reqwest/petstore/src/models/mod.rs
  samples/client/petstore/rust/reqwest/petstore/src/models/nullable_array.rs
Labels: Client: Rust, Issue: Bug

#16481 [Swift] various improvements
  modules/openapi-generator/src/main/resources/swift5/Models.mustache
  modules/openapi-generator/src/main/resources/swift5/Validation.mustache
  modules/openapi-generator/src/main/resources/swift5/libraries/urlsession/URLSessionImplementations.mustache
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient/Classes/OpenAPIs/Validation.swift
  samples/client/petstore/swift5/anycodableLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/anycodableLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/anycodableLibrary/PetstoreClient/Classes/OpenAPIs/Validation.swift
  samples/client/petstore/swift5/asyncAwaitLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/asyncAwaitLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/asyncAwaitLibrary/PetstoreClient/Classes/OpenAPIs/Validation.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/Validation.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/Validation.swift
  samples/client/petstore/swift5/deprecated/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/deprecated/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/deprecated/PetstoreClient/Classes/OpenAPIs/Validation.swift
  samples/client/petstore/swift5/frozenEnums/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/frozenEnums/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/frozenEnums/PetstoreClient/Classes/OpenAPIs/Validation.swift
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/Validation.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/Validation.swift
  samples/client/petstore/swift5/oneOf/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/oneOf/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/oneOf/PetstoreClient/Classes/OpenAPIs/Validation.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/Validation.swift
  samples/client/petstore/swift5/readonlyProperties/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/readonlyProperties/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/readonlyProperties/PetstoreClient/Classes/OpenAPIs/Validation.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/Validation.swift
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/Validation.swift
  samples/client/petstore/swift5/urlsessionLibrary/Sources/PetstoreClient/Models.swift
  samples/client/petstore/swift5/urlsessionLibrary/Sources/PetstoreClient/URLSessionImplementations.swift
  samples/client/petstore/swift5/urlsessionLibrary/Sources/PetstoreClient/Validation.swift
  samples/client/petstore/swift5/validation/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/validation/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/validation/PetstoreClient/Classes/OpenAPIs/Validation.swift
  samples/client/petstore/swift5/vaporLibrary/Sources/PetstoreClient/Validation.swift
  samples/client/petstore/swift5/x-swift-hashable/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/x-swift-hashable/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/x-swift-hashable/PetstoreClient/Classes/OpenAPIs/Validation.swift
Labels: Client: Swift, Enhancement: Code format, Enhancement: Code Cleanup

#16487 [java][native] Add tests for oneOf form parameters
  modules/openapi-generator/src/test/resources/3_0/echo_api.yaml
  samples/client/echo_api/csharp-restsharp/README.md
  samples/client/echo_api/csharp-restsharp/api/openapi.yaml
  samples/client/echo_api/csharp-restsharp/docs/FormApi.md
  samples/client/echo_api/csharp-restsharp/src/Org.OpenAPITools/Api/FormApi.cs
  samples/client/echo_api/java/apache-httpclient/README.md
  samples/client/echo_api/java/apache-httpclient/api/openapi.yaml
  samples/client/echo_api/java/apache-httpclient/docs/FormApi.md
  samples/client/echo_api/java/apache-httpclient/src/main/java/org/openapitools/client/api/FormApi.java
  samples/client/echo_api/java/feign-gson/api/openapi.yaml
  samples/client/echo_api/java/feign-gson/src/main/java/org/openapitools/client/api/FormApi.java
  samples/client/echo_api/java/native/README.md
  samples/client/echo_api/java/native/api/openapi.yaml
  samples/client/echo_api/java/native/docs/FormApi.md
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/FormApi.java
  samples/client/echo_api/java/native/src/test/java/org/openapitools/client/CustomTest.java
  samples/client/echo_api/java/okhttp-gson/README.md
  samples/client/echo_api/java/okhttp-gson/api/openapi.yaml
  samples/client/echo_api/java/okhttp-gson/docs/FormApi.md
  samples/client/echo_api/java/okhttp-gson/src/main/java/org/openapitools/client/api/FormApi.java
  samples/client/echo_api/python/README.md
  samples/client/echo_api/python/docs/FormApi.md
  samples/client/echo_api/python/openapi_client/api/form_api.py
Labels: Client: Java, Enhancement: CI/Test

#16483 [csharp][generichost] Remove unnecessary json options
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/ApiResponse`1.mustache
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/AsModel.mustache
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Client/ApiResponse`1.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Client/ApiResponse`1.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Client/ApiResponse`1.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Client/ApiResponse`1.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Client/ApiResponse`1.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Client/ApiResponse`1.cs
Labels: Client: C-Sharp, Enhancement: Code Cleanup

#16482 [csharp][generichost] Minor formatting changes
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/HostConfiguration.mustache
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/model.mustache
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Client/HostConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/EnumClass.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/OuterEnum.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/OuterEnumDefaultValue.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/OuterEnumInteger.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/OuterEnumIntegerDefaultValue.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/OuterEnumTest.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/ZeroBasedEnum.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Client/HostConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/EnumClass.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/OuterEnum.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/OuterEnumDefaultValue.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/OuterEnumInteger.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/OuterEnumIntegerDefaultValue.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/OuterEnumTest.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/ZeroBasedEnum.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Client/HostConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Client/HostConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Client/HostConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Client/HostConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/EnumClass.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/OuterEnum.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/OuterEnumDefaultValue.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/OuterEnumInteger.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/OuterEnumIntegerDefaultValue.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/OuterEnumTest.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/ZeroBasedEnum.cs
Labels: Client: C-Sharp, Enhancement: Code format

#16488 Add tests for http basic authentication in python client
  modules/openapi-generator/src/test/resources/3_0/echo_api.yaml
  samples/client/echo_api/csharp-restsharp/.openapi-generator/FILES
  samples/client/echo_api/csharp-restsharp/README.md
  samples/client/echo_api/csharp-restsharp/api/openapi.yaml
  samples/client/echo_api/csharp-restsharp/docs/AuthApi.md
  samples/client/echo_api/csharp-restsharp/src/Org.OpenAPITools.Test/Api/AuthApiTests.cs
  samples/client/echo_api/csharp-restsharp/src/Org.OpenAPITools/Api/AuthApi.cs
  samples/client/echo_api/java/apache-httpclient/.openapi-generator/FILES
  samples/client/echo_api/java/apache-httpclient/README.md
  samples/client/echo_api/java/apache-httpclient/api/openapi.yaml
  samples/client/echo_api/java/apache-httpclient/docs/AuthApi.md
  samples/client/echo_api/java/apache-httpclient/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/echo_api/java/apache-httpclient/src/main/java/org/openapitools/client/api/AuthApi.java
  samples/client/echo_api/java/apache-httpclient/src/test/java/org/openapitools/client/api/AuthApiTest.java
  samples/client/echo_api/java/feign-gson/.openapi-generator/FILES
  samples/client/echo_api/java/feign-gson/api/openapi.yaml
  samples/client/echo_api/java/feign-gson/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/echo_api/java/feign-gson/src/main/java/org/openapitools/client/api/AuthApi.java
  samples/client/echo_api/java/feign-gson/src/test/java/org/openapitools/client/api/AuthApiTest.java
  samples/client/echo_api/java/native/.openapi-generator/FILES
  samples/client/echo_api/java/native/README.md
  samples/client/echo_api/java/native/api/openapi.yaml
  samples/client/echo_api/java/native/docs/AuthApi.md
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/AuthApi.java
  samples/client/echo_api/java/native/src/test/java/org/openapitools/client/api/AuthApiTest.java
  samples/client/echo_api/java/okhttp-gson/.openapi-generator/FILES
  samples/client/echo_api/java/okhttp-gson/README.md
  samples/client/echo_api/java/okhttp-gson/api/openapi.yaml
  samples/client/echo_api/java/okhttp-gson/docs/AuthApi.md
  samples/client/echo_api/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/echo_api/java/okhttp-gson/src/main/java/org/openapitools/client/api/AuthApi.java
  samples/client/echo_api/java/okhttp-gson/src/test/java/org/openapitools/client/api/AuthApiTest.java
  samples/client/echo_api/python/.openapi-generator/FILES
  samples/client/echo_api/python/README.md
  samples/client/echo_api/python/docs/AuthApi.md
  samples/client/echo_api/python/openapi_client/__init__.py
  samples/client/echo_api/python/openapi_client/api/__init__.py
  samples/client/echo_api/python/openapi_client/api/auth_api.py
  samples/client/echo_api/python/openapi_client/configuration.py
  samples/client/echo_api/python/test/test_auth_api.py
  samples/client/echo_api/python/test/test_manual.py
Labels: Client: Python, Enhancement: CI/Test, Enhancement: Security

#16484 Ensured enum entry name is unique
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
Labels: Enhancement: Feature, Feature: Generator, Feature: Enum

#16503 [java] Better null check in array default value
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
Labels: Client: Java, Issue: Bug, Server: Java

#16500 [java] Microprofile - fix optional array property's default value
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/pojo.mustache
  samples/client/petstore/java/microprofile-rest-client-3.0-jackson-with-xml/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/java/microprofile-rest-client-3.0-jackson/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/java/microprofile-rest-client-3.0/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/model/Pet.java
Labels: Client: Java, Issue: Bug

#16509 [Powershell] add name mapping features
  bin/configs/powershell.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PowerShellClientCodegen.java
  modules/openapi-generator/src/test/resources/3_0/powershell/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/client/petstore/powershell/.openapi-generator/FILES
  samples/client/petstore/powershell/README.md
  samples/client/petstore/powershell/docs/ModelMapping.md
  samples/client/petstore/powershell/docs/ObjectWithDeprecatedFields.md
  samples/client/petstore/powershell/src/PSPetstore/Model/NewModel.ps1
  samples/client/petstore/powershell/src/PSPetstore/Model/ObjectWithDeprecatedFields.ps1
  samples/client/petstore/powershell/tests/Model/NewModel.Tests.ps1
Labels: Client: PowerShell, Enhancement: Feature

#16511 Add name mapping features to Lua client generator
  bin/configs/lua.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/LuaClientCodegen.java
  samples/client/petstore/lua/petstore/model/user.lua
Labels: Client: Lua, Enhancement: Feature

#16474 [Ruby] Fix incorrect escaping of Ruby forward slashes
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractRubyCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/ruby/RubyClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_1517.yaml
Labels: Client: Ruby, Issue: Bug

#16516 python: use isinstance instead of type()
  modules/openapi-generator/src/main/resources/python/api_client.mustache
  samples/client/echo_api/python/openapi_client/api_client.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api_client.py
  samples/openapi3/client/petstore/python/petstore_api/api_client.py
Labels: Client: Python, Enhancement: General

#16461 Elixir: fix broken connection token authorization middleware
  modules/openapi-generator/src/main/resources/elixir/connection.ex.mustache
  samples/client/petstore/elixir/lib/openapi_petstore/connection.ex
Labels: Client: Elixir, Issue: Bug

#16507 Bug fix AWS4Auth to support query parameters and updated to use AWS SDK V2 from V1
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/auth/AWS4Auth.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/pom.mustache
  samples/client/petstore/java/okhttp-gson-awsv4signature/pom.xml
  samples/client/petstore/java/okhttp-gson-awsv4signature/src/main/java/org/openapitools/client/auth/AWS4Auth.java
Labels: Client: Java, Issue: Bug

#16518 python: ignore long lines for model descriptions
  modules/openapi-generator/src/main/resources/python/model_generic.mustache
  samples/client/echo_api/python/openapi_client/models/default_value.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/class_model.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/file.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/health_check_result.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/model200_response.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/model_return.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/name.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/object_to_test_additional_properties.py
  samples/openapi3/client/petstore/python/petstore_api/models/class_model.py
  samples/openapi3/client/petstore/python/petstore_api/models/file.py
  samples/openapi3/client/petstore/python/petstore_api/models/health_check_result.py
  samples/openapi3/client/petstore/python/petstore_api/models/model200_response.py
  samples/openapi3/client/petstore/python/petstore_api/models/model_return.py
  samples/openapi3/client/petstore/python/petstore_api/models/name.py
  samples/openapi3/client/petstore/python/petstore_api/models/object_to_test_additional_properties.py
Labels: Client: Python, Enhancement: Code format

#16508 [Go] minor refactoring in the client generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
Labels: Client: Go, Enhancement: Code Cleanup

#16418 Fix selection of unnecessary form parameter models
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/utils/ModelUtilsTest.java
  modules/openapi-generator/src/test/resources/2_0/nestedFormParameter.yaml
Labels: Feature: Generator, Issue: Bug

#16513 [PHP] convert data to string before giving it to preg_match
  modules/openapi-generator/src/main/resources/php/model_generic.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/FormatTest.php
  samples/client/petstore/php/psr-18/lib/Model/FormatTest.php
Labels: Client: PHP, Issue: Bug

#16512 Mark oneOf/anyOf form parameters as optional
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/swift5/Swift5ClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_15511.yaml
Labels: Enhancement: Feature, Feature: Generator, Issue: Bug

#16523 Update Java(resttemplate) dependencies to newer versions
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/pom.mustache
  samples/client/petstore/java/resttemplate-jakarta/build.gradle
  samples/client/petstore/java/resttemplate-jakarta/pom.xml
  samples/client/petstore/java/resttemplate-swagger1/build.gradle
  samples/client/petstore/java/resttemplate-swagger1/pom.xml
  samples/client/petstore/java/resttemplate-swagger2/build.gradle
  samples/client/petstore/java/resttemplate-swagger2/pom.xml
  samples/client/petstore/java/resttemplate-withXml/build.gradle
  samples/client/petstore/java/resttemplate-withXml/pom.xml
  samples/client/petstore/java/resttemplate/build.gradle
  samples/client/petstore/java/resttemplate/pom.xml
Labels: Client: Java, Enhancement: Compatibility

#16521 [python] import Annotated if needed
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonCodegen.java
  modules/openapi-generator/src/main/resources/python/api.mustache
  samples/client/echo_api/python/openapi_client/api/auth_api.py
  samples/client/echo_api/python/openapi_client/api/body_api.py
  samples/client/echo_api/python/openapi_client/api/form_api.py
  samples/client/echo_api/python/openapi_client/api/header_api.py
  samples/client/echo_api/python/openapi_client/api/path_api.py
  samples/client/echo_api/python/openapi_client/api/query_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/default_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/fake_classname_tags123_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/default_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_classname_tags123_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/user_api.py
Labels: Client: Python, Enhancement: Code Cleanup

#16517 [java-client][resteasy] fix multipart requests
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/ApiClient.mustache
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#16528 Add omitGradleWrapper option to kotlin-server code generator
  docs/generators/kotlin-server.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinServerCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/jaxrs-spec/build.gradle.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/build.gradle.mustache
  samples/server/petstore/kotlin-server/ktor/build.gradle
Labels: Enhancement: Feature, Server: Kotlin

#16544 Update dependency "jackson-threetenbp" from "2.12.5" to "2.14.3"
  pom.xml
Labels: Enhancement: Compatibility, Feature: Generator

#16545 [java][feign] Update feign client dependencies to newer version
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/pom.mustache
  samples/client/echo_api/java/feign-gson/build.gradle
  samples/client/echo_api/java/feign-gson/build.sbt
  samples/client/echo_api/java/feign-gson/pom.xml
  samples/client/petstore/java/feign-no-nullable/build.gradle
  samples/client/petstore/java/feign-no-nullable/build.sbt
  samples/client/petstore/java/feign-no-nullable/pom.xml
  samples/client/petstore/java/feign/build.gradle
  samples/client/petstore/java/feign/build.sbt
  samples/client/petstore/java/feign/pom.xml
Labels: Client: Java, Enhancement: Compatibility

#16556 [php-nextgen] Use PHP 8.1 backed enums
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpNextgenClientCodegen.java
  modules/openapi-generator/src/main/resources/php-nextgen/ObjectSerializer.mustache
  modules/openapi-generator/src/main/resources/php-nextgen/model_enum.mustache
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Model/EnumClass.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Model/OuterEnum.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Model/OuterEnumDefaultValue.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Model/OuterEnumInteger.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Model/OuterEnumIntegerDefaultValue.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Model/SingleRefType.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/ObjectSerializer.php
Labels: Client: PHP, Enhancement: Feature, Feature: Enum

#16558 [php-nextgen] Fix parent class check in ObjectSerializer
  modules/openapi-generator/src/main/resources/php-nextgen/ObjectSerializer.mustache
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/ObjectSerializer.php
Labels: Client: PHP, Issue: Bug

#16564 [openapi-normalizer] Better null check for schema types
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
Labels: Issue: Bug, OpenAPI Normalizer

#16553 Fix spring scope property
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-cloud/oauth2ClientProperties.mustache
  samples/client/petstore/spring-cloud-feign-without-url/src/main/resources/oauth2-client.properties
  samples/client/petstore/spring-cloud/src/main/resources/oauth2-client.properties
  samples/openapi3/client/petstore/spring-cloud-3-with-optional/src/main/resources/oauth2-client.properties
  samples/openapi3/client/petstore/spring-cloud-3/src/main/resources/oauth2-client.properties
  samples/openapi3/client/petstore/spring-cloud-async/src/main/resources/oauth2-client.properties
  samples/openapi3/client/petstore/spring-cloud-spring-pageable/src/main/resources/oauth2-client.properties
Labels: Issue: Bug, Server: Java, Server: Spring

#16491 [maven-generator] Do not cleanup output if spec file is unchanged and skipIfSpecIsUnchanged=true (Fixes #16490)
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
Labels: Issue: Bug, OpenAPI Generator Maven Plugin

#16566 Fix jaxrs sample tests
  samples/server/petstore/jaxrs-cxf/src/main/java/org/openapitools/api/impl/AnotherFakeApiServiceImpl.java
Labels: Enhancement: CI/Test, Server: Java

#16565 [python] Update github workflow, use debug instead of warning
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonCodegen.java
  modules/openapi-generator/src/main/resources/python/github-workflow.mustache
  modules/openapi-generator/src/main/resources/python/gitlab-ci.mustache
  modules/openapi-generator/src/main/resources/python/requirements.mustache
  modules/openapi-generator/src/main/resources/python/test-requirements.mustache
  samples/client/echo_api/python/.github/workflows/python.yml
  samples/client/echo_api/python/.gitlab-ci.yml
  samples/openapi3/client/petstore/python-aiohttp/.github/workflows/python.yml
  samples/openapi3/client/petstore/python-aiohttp/.gitlab-ci.yml
  samples/openapi3/client/petstore/python-aiohttp/requirements.txt
  samples/openapi3/client/petstore/python-aiohttp/test-requirements.txt
  samples/openapi3/client/petstore/python/.github/workflows/python.yml
  samples/openapi3/client/petstore/python/.gitlab-ci.yml
  samples/openapi3/client/petstore/python/requirements.txt
  samples/openapi3/client/petstore/python/test-requirements.txt
Labels: Client: Python, Enhancement: CI/Test, Enhancement: General

#16525 [Go] return errors that happen while unmarshalling objects
  modules/openapi-generator/src/main/resources/go/model_simple.mustache
  samples/client/petstore/go/go-petstore/model_additional_properties_any_type.go
  samples/client/petstore/go/go-petstore/model_additional_properties_array.go
  samples/client/petstore/go/go-petstore/model_additional_properties_boolean.go
  samples/client/petstore/go/go-petstore/model_additional_properties_integer.go
  samples/client/petstore/go/go-petstore/model_additional_properties_number.go
  samples/client/petstore/go/go-petstore/model_additional_properties_object.go
  samples/client/petstore/go/go-petstore/model_additional_properties_string.go
  samples/openapi3/client/petstore/go/go-petstore/model_200_response.go
  samples/openapi3/client/petstore/go/go-petstore/model__foo_get_default_response.go
  samples/openapi3/client/petstore/go/go-petstore/model__special_model_name_.go
  samples/openapi3/client/petstore/go/go-petstore/model_additional_properties_class.go
  samples/openapi3/client/petstore/go/go-petstore/model_all_of_primitive_types.go
  samples/openapi3/client/petstore/go/go-petstore/model_animal.go
  samples/openapi3/client/petstore/go/go-petstore/model_api_response.go
  samples/openapi3/client/petstore/go/go-petstore/model_apple.go
  samples/openapi3/client/petstore/go/go-petstore/model_apple_req.go
  samples/openapi3/client/petstore/go/go-petstore/model_array_of_array_of_number_only.go
  samples/openapi3/client/petstore/go/go-petstore/model_array_of_number_only.go
  samples/openapi3/client/petstore/go/go-petstore/model_array_test_.go
  samples/openapi3/client/petstore/go/go-petstore/model_banana.go
  samples/openapi3/client/petstore/go/go-petstore/model_banana_req.go
  samples/openapi3/client/petstore/go/go-petstore/model_capitalization.go
  samples/openapi3/client/petstore/go/go-petstore/model_category.go
  samples/openapi3/client/petstore/go/go-petstore/model_class_model.go
  samples/openapi3/client/petstore/go/go-petstore/model_client.go
  samples/openapi3/client/petstore/go/go-petstore/model_duplicated_prop_parent.go
  samples/openapi3/client/petstore/go/go-petstore/model_enum_arrays.go
  samples/openapi3/client/petstore/go/go-petstore/model_enum_test_.go
  samples/openapi3/client/petstore/go/go-petstore/model_file.go
  samples/openapi3/client/petstore/go/go-petstore/model_file_schema_test_class.go
  samples/openapi3/client/petstore/go/go-petstore/model_foo.go
  samples/openapi3/client/petstore/go/go-petstore/model_format_test_.go
  samples/openapi3/client/petstore/go/go-petstore/model_has_only_read_only.go
  samples/openapi3/client/petstore/go/go-petstore/model_health_check_result.go
  samples/openapi3/client/petstore/go/go-petstore/model_list.go
  samples/openapi3/client/petstore/go/go-petstore/model_map_of_file_test_.go
  samples/openapi3/client/petstore/go/go-petstore/model_map_test_.go
  samples/openapi3/client/petstore/go/go-petstore/model_mixed_properties_and_additional_properties_class.go
  samples/openapi3/client/petstore/go/go-petstore/model_name.go
  samples/openapi3/client/petstore/go/go-petstore/model_nullable_all_of.go
  samples/openapi3/client/petstore/go/go-petstore/model_nullable_all_of_child.go
  samples/openapi3/client/petstore/go/go-petstore/model_nullable_class.go
  samples/openapi3/client/petstore/go/go-petstore/model_number_only.go
  samples/openapi3/client/petstore/go/go-petstore/model_one_of_primitive_type_child.go
  samples/openapi3/client/petstore/go/go-petstore/model_order.go
  samples/openapi3/client/petstore/go/go-petstore/model_outer_composite.go
  samples/openapi3/client/petstore/go/go-petstore/model_pet.go
  samples/openapi3/client/petstore/go/go-petstore/model_property_name_mapping.go
  samples/openapi3/client/petstore/go/go-petstore/model_read_only_first.go
  samples/openapi3/client/petstore/go/go-petstore/model_read_only_with_default.go
  samples/openapi3/client/petstore/go/go-petstore/model_return.go
  samples/openapi3/client/petstore/go/go-petstore/model_tag.go
  samples/openapi3/client/petstore/go/go-petstore/model_user.go
  samples/openapi3/client/petstore/go/go-petstore/model_whale.go
  samples/openapi3/client/petstore/go/go-petstore/model_zebra.go
  samples/openapi3/client/petstore/go/store_api_test.go
Labels: Client: Go, Issue: Bug

#16570 Better Go tests
  bin/configs/go-echo-api.yaml
  samples/client/echo_api/go/.gitignore
  samples/client/echo_api/go/.openapi-generator-ignore
  samples/client/echo_api/go/.openapi-generator/FILES
  samples/client/echo_api/go/.openapi-generator/VERSION
  samples/client/echo_api/go/.travis.yml
  samples/client/echo_api/go/README.md
  samples/client/echo_api/go/api/openapi.yaml
  samples/client/echo_api/go/api_auth.go
  samples/client/echo_api/go/api_body.go
  samples/client/echo_api/go/api_form.go
  samples/client/echo_api/go/api_header.go
  samples/client/echo_api/go/api_path.go
  samples/client/echo_api/go/api_query.go
  samples/client/echo_api/go/client.go
  samples/client/echo_api/go/configuration.go
  samples/client/echo_api/go/docs/AuthAPI.md
  samples/client/echo_api/go/docs/Bird.md
  samples/client/echo_api/go/docs/BodyAPI.md
  samples/client/echo_api/go/docs/Category.md
  samples/client/echo_api/go/docs/DataQuery.md
  samples/client/echo_api/go/docs/DefaultValue.md
  samples/client/echo_api/go/docs/FormAPI.md
  samples/client/echo_api/go/docs/HeaderAPI.md
  samples/client/echo_api/go/docs/NumberPropertiesOnly.md
  samples/client/echo_api/go/docs/PathAPI.md
  samples/client/echo_api/go/docs/Pet.md
  samples/client/echo_api/go/docs/Query.md
  samples/client/echo_api/go/docs/QueryAPI.md
  samples/client/echo_api/go/docs/StringEnumRef.md
  samples/client/echo_api/go/docs/Tag.md
  samples/client/echo_api/go/docs/TestQueryStyleDeepObjectExplodeTrueObjectAllOfQueryObjectParameter.md
  samples/client/echo_api/go/docs/TestQueryStyleFormExplodeTrueArrayStringQueryObjectParameter.md
  samples/client/echo_api/go/git_push.sh
  samples/client/echo_api/go/go.mod
  samples/client/echo_api/go/go.sum
  samples/client/echo_api/go/model_bird.go
  samples/client/echo_api/go/model_category.go
  samples/client/echo_api/go/model_data_query.go
  samples/client/echo_api/go/model_default_value.go
  samples/client/echo_api/go/model_number_properties_only.go
  samples/client/echo_api/go/model_pet.go
  samples/client/echo_api/go/model_query.go
  samples/client/echo_api/go/model_string_enum_ref.go
  samples/client/echo_api/go/model_tag.go
  samples/client/echo_api/go/model_test_query_style_deep_object_explode_true_object_all_of_query_object_parameter.go
  samples/client/echo_api/go/model_test_query_style_form_explode_true_array_string_query_object_parameter.go
  samples/client/echo_api/go/response.go
  samples/client/echo_api/go/test/api_auth_test.go
  samples/client/echo_api/go/test/api_body_test.go
  samples/client/echo_api/go/test/api_form_test.go
  samples/client/echo_api/go/test/api_header_test.go
  samples/client/echo_api/go/test/api_path_test.go
  samples/client/echo_api/go/test/api_query_test.go
  samples/client/echo_api/go/utils.go
Labels: Client: Go, Enhancement: CI/Test

#16580 Fix ValidateTask failure if recommend is not assigned
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/extensions/OpenApiGeneratorValidateExtension.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/ValidateTask.kt
  modules/openapi-generator-gradle-plugin/src/test/kotlin/ValidateTaskDslTest.kt
  modules/openapi-generator-gradle-plugin/src/test/resources/specs/petstore-v3.0-recommend.yaml
Labels: Issue: Bug, OpenAPI Generator Gradle Plugin

#16504 [swift] remove unavailable property to fix Xcode 15 compiler error
  modules/openapi-generator/src/main/resources/swift5/libraries/urlsession/URLSessionImplementations.mustache
  samples/client/petstore/swift5/anycodableLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/asyncAwaitLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/combineLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/default/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/deprecated/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/frozenEnums/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/nonPublicApi/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/objcCompatible/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/oneOf/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/promisekitLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/readonlyProperties/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/resultLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/rxswiftLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/urlsessionLibrary/Sources/PetstoreClient/URLSessionImplementations.swift
  samples/client/petstore/swift5/validation/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/x-swift-hashable/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
Labels: Client: Swift, Issue: Bug

#16588 Better null check to avoid NPE
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/InlineModelResolver.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
Labels: Enhancement: Feature, Feature: Generator

#16592 [java] remove option, update doc
  docs/generators/groovy.md
  docs/generators/java-camel.md
  docs/generators/java-helidon-client.md
  docs/generators/java-helidon-server.md
  docs/generators/java-inflector.md
  docs/generators/java-micronaut-client.md
  docs/generators/java-micronaut-server.md
  docs/generators/java-msf4j.md
  docs/generators/java-pkmst.md
  docs/generators/java-play-framework.md
  docs/generators/java-undertow-server.md
  docs/generators/java-vertx-web.md
  docs/generators/java-vertx.md
  docs/generators/java.md
  docs/generators/jaxrs-cxf-cdi.md
  docs/generators/jaxrs-cxf-client.md
  docs/generators/jaxrs-cxf-extended.md
  docs/generators/jaxrs-cxf.md
  docs/generators/jaxrs-jersey.md
  docs/generators/jaxrs-resteasy-eap.md
  docs/generators/jaxrs-resteasy.md
  docs/generators/jaxrs-spec.md
  docs/generators/spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
Labels: Client: Java

#16593 Update go gin to newer version
  modules/openapi-generator/src/main/resources/go-gin-server/go.mod.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/goginserver/GoGinServerCodegenTest.java
  samples/server/petstore/go-gin-api-server/go.mod
Labels: Enhancement: Compatibility, Server: Go, Enhancement: Security

#16606 Update java undertow to newer version
  .github/workflows/samples-java-server-jdk8.yaml
  bin/configs/java-undertow-server.yaml
  modules/openapi-generator/src/main/resources/java-undertow-server/pom.mustache
  pom.xml
  samples/server/petstore/java-undertow/dependency-reduced-pom.xml
  samples/server/petstore/java-undertow/pom.xml
  samples/server/petstore/java-undertow/src/main/java/org/openapitools/handler/PathHandlerInterface.java
  samples/server/petstore/java-undertow/src/main/resources/config/openapi.json
Labels: Enhancement: Compatibility, Server: Java

#16579 fix(go-server): Allow optional request bodies
  modules/openapi-generator/src/main/resources/go-server/controller-api.mustache
Labels: Issue: Bug, Server: Go

#16610 [PowerShell] add -SkipPublisherCheck
  appveyor.yml
Labels: Client: PowerShell, Enhancement: CI/Test

#16616 Fix mapping options in gradle plugin
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/OpenApiGeneratorPlugin.kt
Labels: Issue: Bug, OpenAPI Generator Gradle Plugin

#16601 python: remove non-async code path from the aiohttp generator
  modules/openapi-generator/src/main/resources/python/api.mustache
  modules/openapi-generator/src/main/resources/python/api_client.mustache
  samples/client/echo_api/python/openapi_client/api_client.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/default_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/fake_classname_tags123_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api_client.py
  samples/openapi3/client/petstore/python-aiohttp/tests/test_api_client.py
  samples/openapi3/client/petstore/python-aiohttp/tests/util.py
  samples/openapi3/client/petstore/python/petstore_api/api_client.py
Labels: Client: Python, Issue: Bug, Enhancement: Code Cleanup

#15945 [dotnetcore] Implement QueryParameter deepObject style is missing for…
  modules/openapi-generator/src/main/resources/csharp/api.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/csharpnetcore/CSharpClientDeepObjectTest.java
  samples/client/echo_api/csharp-restsharp/src/Org.OpenAPITools.Test/Api/BodyApiTests.cs
  samples/client/echo_api/csharp-restsharp/src/Org.OpenAPITools.Test/CustomTest.cs
  samples/client/echo_api/csharp-restsharp/src/Org.OpenAPITools.Test/EchoServerResponseParser.cs
  samples/client/echo_api/csharp-restsharp/src/Org.OpenAPITools/Api/QueryApi.cs
Labels: Client: C-Sharp, Enhancement: General

#16626 Run tests for C# Echo API client in CI
  .github/workflows/samples-dotnet6-client-echo-api.yaml
  samples/client/echo_api/csharp-restsharp/src/Org.OpenAPITools.Test/CustomTest.cs
Labels: Client: C-Sharp, Enhancement: CI/Test, Enhancement: Code format

#16628 [python] Fix required parameter check
  modules/openapi-generator/src/main/resources/python/api.mustache
  samples/client/echo_api/python/openapi_client/api/body_api.py
  samples/client/echo_api/python/openapi_client/api/form_api.py
  samples/client/echo_api/python/openapi_client/api/header_api.py
  samples/client/echo_api/python/openapi_client/api/path_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/user_api.py
Labels: Client: Python, Issue: Bug

#16627 Remove `serializationLibrary` option from Kotlin server generators
  docs/generators/kotlin-server.md
  docs/generators/kotlin-spring.md
  docs/generators/kotlin-vertx.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/jvm_volley/KotlinJvmVolleyModelCodegenTest.java
Labels: Enhancement: General, Server: Kotlin

#16404 Change default value of 'pathParamsAsVariables' config option
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PostmanCollectionCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/postman/PostmanCollectionCodegenTest.java
  samples/schema/postman-collection/postman.json
Labels: Breaking change (with fallback), Enhancement: General, Schema: Postman Collection

#16420 Fix incorrect @InputFile on inputSpecRootDirectory argument
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
  modules/openapi-generator-gradle-plugin/src/test/kotlin/GenerateTaskDslTest.kt
  modules/openapi-generator-gradle-plugin/src/test/resources/specs/petstore-v3.1.yaml
Labels: Issue: Bug, OpenAPI Generator Gradle Plugin

#16590 feat: [JAVA] [webclient] [#16589] Support file abstraction for WebClient responses
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/api_test.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/api_test.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
Labels: Client: Java, Enhancement: Feature

#16638 fix(#9682): API class has multiple imports of 'okhttp3.ResponseBody'
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinClientCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/api.mustache
Labels: Client: Kotlin, Issue: Bug

#16645 [kotlin-client] add spotless plugin
  modules/openapi-generator/src/main/resources/kotlin-client/build.gradle.mustache
  samples/client/others/kotlin-jvm-okhttp-parameter-tests/build.gradle
  samples/client/petstore/kotlin-allOff-discriminator/build.gradle
  samples/client/petstore/kotlin-array-simple-string-jvm-okhttp3/build.gradle
  samples/client/petstore/kotlin-array-simple-string-jvm-okhttp4/build.gradle
  samples/client/petstore/kotlin-bigdecimal-default-okhttp4/build.gradle
  samples/client/petstore/kotlin-default-values-jvm-okhttp3/build.gradle
  samples/client/petstore/kotlin-default-values-jvm-okhttp4/build.gradle
  samples/client/petstore/kotlin-default-values-jvm-retrofit2/build.gradle
  samples/client/petstore/kotlin-enum-default-value/build.gradle
  samples/client/petstore/kotlin-gson/build.gradle
  samples/client/petstore/kotlin-jackson/build.gradle
  samples/client/petstore/kotlin-json-request-string/build.gradle
  samples/client/petstore/kotlin-jvm-jackson/build.gradle
  samples/client/petstore/kotlin-jvm-ktor-gson/build.gradle
  samples/client/petstore/kotlin-jvm-ktor-jackson/build.gradle
  samples/client/petstore/kotlin-jvm-ktor-kotlinx_serialization/build.gradle
  samples/client/petstore/kotlin-jvm-okhttp4-coroutines/build.gradle
  samples/client/petstore/kotlin-jvm-spring-2-webclient/build.gradle
  samples/client/petstore/kotlin-jvm-spring-3-webclient/build.gradle
  samples/client/petstore/kotlin-jvm-vertx-gson/build.gradle
  samples/client/petstore/kotlin-jvm-vertx-jackson-coroutines/build.gradle
  samples/client/petstore/kotlin-jvm-vertx-jackson/build.gradle
  samples/client/petstore/kotlin-jvm-vertx-moshi/build.gradle
  samples/client/petstore/kotlin-modelMutable/build.gradle
  samples/client/petstore/kotlin-moshi-codegen/build.gradle
  samples/client/petstore/kotlin-name-parameter-mappings/build.gradle
  samples/client/petstore/kotlin-nonpublic/build.gradle
  samples/client/petstore/kotlin-nullable/build.gradle
  samples/client/petstore/kotlin-okhttp3/build.gradle
  samples/client/petstore/kotlin-retrofit2-kotlinx_serialization/build.gradle
  samples/client/petstore/kotlin-retrofit2-rx3/build.gradle
  samples/client/petstore/kotlin-retrofit2/build.gradle
  samples/client/petstore/kotlin-string/build.gradle
  samples/client/petstore/kotlin-threetenbp/build.gradle
  samples/client/petstore/kotlin-uppercase-enum/build.gradle
  samples/client/petstore/kotlin/build.gradle
Labels: Client: Kotlin, Enhancement: General

#16622 [csharp] fix authorization header casing issue
  modules/openapi-generator/src/main/resources/csharp/auth/OAuthAuthenticator.mustache
  samples/client/petstore/csharp/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/Auth/OAuthAuthenticator.cs
  samples/client/petstore/csharp/OpenAPIClient-net47/src/Org.OpenAPITools/Client/Auth/OAuthAuthenticator.cs
  samples/client/petstore/csharp/OpenAPIClient-net48/src/Org.OpenAPITools/Client/Auth/OAuthAuthenticator.cs
  samples/client/petstore/csharp/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/Auth/OAuthAuthenticator.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Client/Auth/OAuthAuthenticator.cs
  samples/client/petstore/csharp/OpenAPIClientCore/src/Org.OpenAPITools/Client/Auth/OAuthAuthenticator.cs
  samples/client/petstore/csharp/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Client/Auth/OAuthAuthenticator.cs
Labels: Client: C-Sharp, Issue: Bug

#16649 python: runs GitHub Actions with Python 3.11
  .github/workflows/samples-python-nextgen-client-echo-api.yaml
  .github/workflows/samples-python-petstore.yaml
  samples/openapi3/client/petstore/python-aiohttp/tests/test_pet_api.py
Labels: Client: Python, Enhancement: CI/Test

#16653 [BUG][aspnetcore] Fix ASP.NET Core server DateTimeOffset type mapping
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetServerCodegen.java
Labels: Issue: Bug, Server: C-Sharp

#16664 [java] remove supportJava6 option from code
  docs/generators/jaxrs-jersey.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaCXFExtServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaJerseyServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaPKMSTServerCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/jaxrs/JavaJAXRSCXFExtServerCodegenTest.java
Labels: Client: Java, Server: Java, Enhancement: Code Cleanup

#16654 [php-nextgen] Fix default value for array of items
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpNextgenClientCodegen.java
  samples/client/petstore/php-nextgen/OpenAPIClient-php/docs/Api/FakeApi.md
  samples/client/petstore/php-nextgen/OpenAPIClient-php/docs/Api/PetApi.md
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Api/FakeApi.php
Labels: Client: PHP, Feature: Generator, Feature: Enum, Issue: Bug

#16661 [csharp] Fix Issue #16660 System.NotImplementedException in ApiClient.cs with OAuth2
  modules/openapi-generator/src/main/resources/csharp/ApiClient.mustache
  samples/client/petstore/csharp/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient-net47/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient-net48/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientCore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Client/ApiClient.cs
Labels: Client: C-Sharp, Issue: Bug

#16666 [kotlin][client] Fix enum names
  modules/openapi-generator/src/main/resources/kotlin-client/data_class.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/enum_class.mustache
  modules/openapi-generator/src/test/resources/3_0/kotlin/issue10591-enum-defaultValue.yaml
  samples/client/petstore/kotlin-enum-default-value/.openapi-generator/FILES
  samples/client/petstore/kotlin-enum-default-value/README.md
  samples/client/petstore/kotlin-enum-default-value/docs/PropertyOfDay.md
  samples/client/petstore/kotlin-enum-default-value/src/main/kotlin/org/openapitools/client/infrastructure/SerializerHelper.kt
  samples/client/petstore/kotlin-enum-default-value/src/main/kotlin/org/openapitools/client/models/PropertyOfDay.kt
Labels: Client: Kotlin, Feature: Enum, Issue: Bug

#15284 [JAVA] Prioritize mapped discriminators over generated (relates to issue #12777)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenDiscriminator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/ruby/RubyClientCodegenTest.java
  samples/openapi3/client/petstore/python-nextgen/.coverage
  samples/openapi3/client/petstore/python-nextgen/dev-requirements.txt.log
  samples/openapi3/client/petstore/python-nextgen/petstore_api.egg-info/PKG-INFO
  samples/openapi3/client/petstore/python-nextgen/petstore_api.egg-info/SOURCES.txt
  samples/openapi3/client/petstore/python-nextgen/petstore_api.egg-info/dependency_links.txt
  samples/openapi3/client/petstore/python-nextgen/petstore_api.egg-info/requires.txt
  samples/openapi3/client/petstore/python-nextgen/petstore_api.egg-info/top_level.txt
  samples/openapi3/client/petstore/python-prior/petstore_api/model/mammal.py
  samples/openapi3/server/petstore/spring-boot-oneof/src/main/java/org/openapitools/model/Fruit.java
Labels: Enhancement: Feature, Feature: Generator

#16680 fix: Fixes headers annotation for kotlin retrofit2 api template (16678)
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/api.mustache
Labels: Client: Kotlin, Issue: Bug

#16675 python: Remove usage of six
  modules/openapi-generator/src/main/resources/python-blueplanet/app/{{packageName}}/controllers/controller.mustache
  modules/openapi-generator/src/main/resources/python-blueplanet/app/{{packageName}}/encoder.mustache
  modules/openapi-generator/src/main/resources/python-blueplanet/app/{{packageName}}/models/base_model.mustache
  modules/openapi-generator/src/main/resources/python-blueplanet/app/{{packageName}}/test/controller_test.mustache
  modules/openapi-generator/src/main/resources/python-blueplanet/app/{{packageName}}/util.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/requirements.mustache
  samples/openapi3/client/petstore/python-pydantic-v1/petstore_api/api/fake_classname_tags_123_api.py
  samples/openapi3/client/petstore/python-pydantic-v1/tests/test_api_exception.py
  samples/openapi3/client/petstore/python-pydantic-v1/tests/test_api_validation.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_classname_tags_123_api.py
  samples/openapi3/client/petstore/python/tests/test_api_exception.py
  samples/openapi3/client/petstore/python/tests/test_api_validation.py
  samples/openapi3/server/petstore/python-flask/openapi_server/controllers/pet_controller.py
  samples/openapi3/server/petstore/python-flask/openapi_server/controllers/store_controller.py
  samples/openapi3/server/petstore/python-flask/openapi_server/controllers/user_controller.py
  samples/openapi3/server/petstore/python-flask/openapi_server/encoder.py
  samples/openapi3/server/petstore/python-flask/openapi_server/models/base_model.py
  samples/openapi3/server/petstore/python-flask/openapi_server/test/test_pet_controller.py
  samples/openapi3/server/petstore/python-flask/openapi_server/test/test_store_controller.py
  samples/openapi3/server/petstore/python-flask/openapi_server/test/test_user_controller.py
  samples/openapi3/server/petstore/python-flask/openapi_server/util.py
  samples/server/petstore/python-blueplanet/app/openapi_server/controllers/pet_controller.py
  samples/server/petstore/python-blueplanet/app/openapi_server/controllers/store_controller.py
  samples/server/petstore/python-blueplanet/app/openapi_server/controllers/user_controller.py
  samples/server/petstore/python-blueplanet/app/openapi_server/encoder.py
  samples/server/petstore/python-blueplanet/app/openapi_server/models/base_model.py
  samples/server/petstore/python-blueplanet/app/openapi_server/test/test_pet_controller.py
  samples/server/petstore/python-blueplanet/app/openapi_server/test/test_store_controller.py
  samples/server/petstore/python-blueplanet/app/openapi_server/test/test_user_controller.py
  samples/server/petstore/python-blueplanet/app/openapi_server/util.py
  samples/server/petstore/python-fastapi/requirements.txt
Labels: Server: Python, Enhancement: Code Cleanup
