Repository OpenAPITools/openapi-generator, pull requests merged in 2023-05, with the labels that each got.

#15365 [python-nextgen] add support for StrictBytes
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonNextgenClientCodegen.java
  modules/openapi-generator/src/main/resources/python-nextgen/api.mustache
  modules/openapi-generator/src/test/resources/3_0/echo_api.yaml
  samples/client/echo_api/java/apache-httpclient/README.md
  samples/client/echo_api/java/apache-httpclient/api/openapi.yaml
  samples/client/echo_api/java/apache-httpclient/docs/BodyApi.md
  samples/client/echo_api/java/apache-httpclient/src/main/java/org/openapitools/client/api/BodyApi.java
  samples/client/echo_api/java/feign-gson/api/openapi.yaml
  samples/client/echo_api/java/feign-gson/src/main/java/org/openapitools/client/api/BodyApi.java
  samples/client/echo_api/java/native/README.md
  samples/client/echo_api/java/native/api/openapi.yaml
  samples/client/echo_api/java/native/docs/BodyApi.md
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/BodyApi.java
  samples/client/echo_api/java/okhttp-gson/README.md
  samples/client/echo_api/java/okhttp-gson/api/openapi.yaml
  samples/client/echo_api/java/okhttp-gson/docs/BodyApi.md
  samples/client/echo_api/java/okhttp-gson/src/main/java/org/openapitools/client/api/BodyApi.java
  samples/client/echo_api/python-nextgen/README.md
  samples/client/echo_api/python-nextgen/docs/BodyApi.md
  samples/client/echo_api/python-nextgen/openapi_client/api/body_api.py
  samples/client/echo_api/python-nextgen/openapi_client/api/form_api.py
  samples/client/echo_api/python-nextgen/openapi_client/api/header_api.py
  samples/client/echo_api/python-nextgen/openapi_client/api/path_api.py
  samples/client/echo_api/python-nextgen/openapi_client/api/query_api.py
  samples/client/echo_api/python-nextgen/test/test_manual.py
  samples/client/echo_api/python-nextgen/testfiles/test.gif
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/default_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/fake_classname_tags123_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/format_test.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/default_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/fake_classname_tags123_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/format_test.py
Labels: Client: Python, Issue: Bug

#15368 Drop default value when unnecessary.
  modules/openapi-generator/src/main/resources/dart2/serialization/native/native_class.mustache
  modules/openapi-generator/src/main/resources/dart2/serialization/native/native_enum.mustache
  modules/openapi-generator/src/main/resources/dart2/serialization/native/native_enum_inline.mustache
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/model/api_response.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/model/category.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/model/order.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/model/pet.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/model/tag.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/model/user.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/additional_properties_class.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/all_of_with_single_ref.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/animal.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/api_response.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/array_of_array_of_number_only.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/array_of_number_only.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/array_test.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/capitalization.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/cat.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/cat_all_of.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/category.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/class_model.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/deprecated_object.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/dog.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/dog_all_of.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/enum_arrays.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/enum_class.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/enum_test.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/file_schema_test_class.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/foo.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/foo_get_default_response.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/format_test.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/has_only_read_only.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/health_check_result.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/map_test.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/mixed_properties_and_additional_properties_class.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/model200_response.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/model_client.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/model_file.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/model_list.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/model_return.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/name.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/nullable_class.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/number_only.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/object_with_deprecated_fields.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/order.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/outer_composite.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/outer_enum.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/outer_enum_default_value.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/outer_enum_integer.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/outer_enum_integer_default_value.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/outer_object_with_enum_property.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/pet.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/read_only_first.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/single_ref_type.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/special_model_name.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/tag.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/user.dart
Labels: Client: Dart, Enhancement: General

#15374 [dart][dart-dio] Fix property deprecation and add parameter deprecation
  modules/openapi-generator/src/main/resources/dart/libraries/dio/api.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/class_members.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/json_serializable/class.mustache
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/model/deprecated_object.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/model/object_with_deprecated_fields.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/model/deprecated_object.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/model/object_with_deprecated_fields.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake_tests/test/api/pet_api_test.dart
Labels: Client: Dart, Enhancement: General

#15364 [Java] [Microprofile] Remove unused CXF dependency
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/pom_3.0.mustache
  samples/client/petstore/java/microprofile-rest-client-3.0/pom.xml
  samples/client/petstore/java/microprofile-rest-client-3.0/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/microprofile-rest-client-3.0/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/microprofile-rest-client-3.0/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/microprofile-rest-client/pom.xml
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Enhancement: Compatibility

#15313 Fix request parameter encode call
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/api-source.mustache
  samples/client/petstore/cpp-restsdk/client/src/api/PetApi.cpp
  samples/client/petstore/cpp-restsdk/client/src/api/StoreApi.cpp
  samples/client/petstore/cpp-restsdk/client/src/api/UserApi.cpp
Labels: Client: C++, Issue: Bug

#15367 [python-nextgen] Add ApiResponse object
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonNextgenClientCodegen.java
  modules/openapi-generator/src/main/resources/python-nextgen/__init__package.mustache
  modules/openapi-generator/src/main/resources/python-nextgen/api.mustache
  modules/openapi-generator/src/main/resources/python-nextgen/api_client.mustache
  modules/openapi-generator/src/main/resources/python-nextgen/api_response.mustache
  samples/client/echo_api/python-nextgen/.openapi-generator/FILES
  samples/client/echo_api/python-nextgen/openapi_client/__init__.py
  samples/client/echo_api/python-nextgen/openapi_client/api/body_api.py
  samples/client/echo_api/python-nextgen/openapi_client/api/form_api.py
  samples/client/echo_api/python-nextgen/openapi_client/api/header_api.py
  samples/client/echo_api/python-nextgen/openapi_client/api/path_api.py
  samples/client/echo_api/python-nextgen/openapi_client/api/query_api.py
  samples/client/echo_api/python-nextgen/openapi_client/api_client.py
  samples/client/echo_api/python-nextgen/openapi_client/api_response.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/.openapi-generator/FILES
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/__init__.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/default_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/fake_classname_tags123_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api_client.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api_response.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/tests/test_pet_api.py
  samples/openapi3/client/petstore/python-nextgen/.openapi-generator/FILES
  samples/openapi3/client/petstore/python-nextgen/petstore_api/__init__.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/default_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/fake_classname_tags123_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api_client.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api_response.py
  samples/openapi3/client/petstore/python-nextgen/tests/test_pet_api.py
Labels: Client: Python, Enhancement: General

#15392 Revert "[Java] [Microprofile] Remove unused CXF dependency"
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/pom_3.0.mustache
  samples/client/petstore/java/microprofile-rest-client-3.0/pom.xml
  samples/client/petstore/java/microprofile-rest-client-3.0/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/microprofile-rest-client-3.0/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/microprofile-rest-client-3.0/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/microprofile-rest-client/pom.xml
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Issue: Undo changes

#15339 [GO] Add go.mod in go-gin-server generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoGinServerCodegen.java
  modules/openapi-generator/src/main/resources/go-gin-server/go.mod.mustache
  modules/openapi-generator/src/main/resources/go-gin-server/main.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/goginserver/GoGinServerCodegenTest.java
  samples/server/petstore/go-gin-api-server/.openapi-generator/FILES
  samples/server/petstore/go-gin-api-server/go.mod
  samples/server/petstore/go-gin-api-server/main.go
Labels: Enhancement: General, Server: Go

#15317 Fix circleci test failures
  .github/workflows/samples-python-server.yaml
  CI/circle_parallel.sh
  pom.xml
  samples/openapi3/client/petstore/typescript/tests/browser/test/isomorphic-fetch.test.ts
  samples/openapi3/client/petstore/typescript/tests/jquery/test/http/jquery.test.ts
  samples/server/petstore/python-aiohttp/pom.xml
Labels: Enhancement: CI/Test

#15390 Update surefire setting rerun tests (twice)
  pom.xml
Labels: Enhancement: CI/Test

#15089 Support language N4JS
  README.md
  bin/configs/n4js-petstore.yaml
  docs/generators.md
  docs/generators/n4js.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/N4jsClientCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/n4js/ApiHelper.mustache
  modules/openapi-generator/src/main/resources/n4js/README.mustache
  modules/openapi-generator/src/main/resources/n4js/api.mustache
  modules/openapi-generator/src/main/resources/n4js/licenseInfo.mustache
  modules/openapi-generator/src/main/resources/n4js/model.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/n4js/N4jsClientCodegenOptionsTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/n4js/N4jsClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/N4jsClientCodegenOptionsProvider.java
  samples/client/petstore/n4js/.openapi-generator-ignore
  samples/client/petstore/n4js/.openapi-generator/FILES
  samples/client/petstore/n4js/.openapi-generator/VERSION
  samples/client/petstore/n4js/README.md
  samples/client/petstore/n4js/api/ApiHelper.n4js
  samples/client/petstore/n4js/api/PetApi.n4js
  samples/client/petstore/n4js/api/StoreApi.n4js
  samples/client/petstore/n4js/api/UserApi.n4js
  samples/client/petstore/n4js/model/ApiResponse.n4jsd
  samples/client/petstore/n4js/model/Category.n4jsd
  samples/client/petstore/n4js/model/Order.n4jsd
  samples/client/petstore/n4js/model/Pet.n4jsd
  samples/client/petstore/n4js/model/Tag.n4jsd
  samples/client/petstore/n4js/model/User.n4jsd
Labels: Enhancement: New generator, Client: N4JS

#15397 Support language N4JS (2nd)
  README.md
  bin/configs/n4js-petstore.yaml
  docs/generators.md
  docs/generators/n4js.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/N4jsClientCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/n4js/ApiHelper.mustache
  modules/openapi-generator/src/main/resources/n4js/README.mustache
  modules/openapi-generator/src/main/resources/n4js/api.mustache
  modules/openapi-generator/src/main/resources/n4js/licenseInfo.mustache
  modules/openapi-generator/src/main/resources/n4js/model.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/n4js/N4jsClientCodegenOptionsTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/N4jsClientCodegenOptionsProvider.java
  samples/client/petstore/n4js/.openapi-generator-ignore
  samples/client/petstore/n4js/.openapi-generator/FILES
  samples/client/petstore/n4js/.openapi-generator/VERSION
  samples/client/petstore/n4js/README.md
  samples/client/petstore/n4js/api/ApiHelper.n4js
  samples/client/petstore/n4js/api/PetApi.n4js
  samples/client/petstore/n4js/api/StoreApi.n4js
  samples/client/petstore/n4js/api/UserApi.n4js
  samples/client/petstore/n4js/model/ApiResponse.n4jsd
  samples/client/petstore/n4js/model/Category.n4jsd
  samples/client/petstore/n4js/model/Order.n4jsd
  samples/client/petstore/n4js/model/Pet.n4jsd
  samples/client/petstore/n4js/model/Tag.n4jsd
  samples/client/petstore/n4js/model/User.n4jsd
Labels: Enhancement: New generator, Client: N4JS

#15394 [xojo] Add copyright, remove unused import
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/XojoClientCodegen.java
Labels: Enhancement: General, Client: Xojo

#15415 Update elm workflow to cover more tests
  .github/workflows/samples-elm.yaml
  samples/openapi3/client/elm/pom.xml
Labels: Client: Elm, Enhancement: CI/Test

#15380 Add @deprecated to methods in python-nextgen
  modules/openapi-generator/src/main/resources/python-nextgen/api.mustache
  modules/openapi-generator/src/main/resources/python-nextgen/common_README.mustache
  samples/client/echo_api/python-nextgen/README.md
  samples/client/echo_api/python-nextgen/openapi_client/api/body_api.py
  samples/client/echo_api/python-nextgen/openapi_client/api/form_api.py
  samples/client/echo_api/python-nextgen/openapi_client/api/header_api.py
  samples/client/echo_api/python-nextgen/openapi_client/api/path_api.py
  samples/client/echo_api/python-nextgen/openapi_client/api/query_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/README.md
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/default_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/fake_classname_tags123_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python-nextgen/README.md
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/default_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/fake_classname_tags123_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/user_api.py
Labels: Client: Python, Enhancement: General

#15437 [python-nextgen] fix typing for bytes with validations
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonNextgenClientCodegen.java
  modules/openapi-generator/src/test/resources/3_0/python/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/openapi3/client/petstore/python-nextgen-aiohttp/docs/FakeApi.md
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-nextgen/docs/FakeApi.md
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/fake_api.py
Labels: Client: Python, Issue: Bug

#15433 [dart-dio] fix endpoints returning null
  modules/openapi-generator/src/main/resources/dart/libraries/dio/api.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/api/deserialize.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/json_serializable/api/deserialize.mustache
  samples/openapi3/client/petstore/dart-dio/oneof/lib/src/api/default_api.dart
  samples/openapi3/client/petstore/dart-dio/oneof_polymorphism_and_inheritance/lib/src/api/bar_api.dart
  samples/openapi3/client/petstore/dart-dio/oneof_polymorphism_and_inheritance/lib/src/api/foo_api.dart
  samples/openapi3/client/petstore/dart-dio/oneof_primitive/lib/src/api/default_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/api/another_fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/api/default_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/api/fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/api/fake_classname_tags123_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/api/store_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/api/user_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/api/another_fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/api/default_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/api/fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/api/fake_classname_tags123_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/api/store_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/api/user_api.dart
Labels: Client: Dart, Issue: Bug

#15441 [csharp-netcore] fix back slash in regex
  bin/utils/test_file_list.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net48/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools.Test/Api/PetApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/FormatTest.cs
Labels: Client: C-Sharp, Issue: Bug

#15421 [BUG][JAVA][restTemplate] ApiClient is not compatible with spring-web 6 Observation API
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/ApiClient.mustache
  samples/client/petstore/java/resttemplate-jakarta/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate-swagger1/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#15355 [powershell] cleanup documentation
  modules/openapi-generator/src/main/resources/powershell/README.mustache
  modules/openapi-generator/src/main/resources/powershell/api_doc.mustache
  samples/client/petstore/powershell/README.md
  samples/client/petstore/powershell/docs/PSAnotherFakeApi.md
  samples/client/petstore/powershell/docs/PSDefaultApi.md
  samples/client/petstore/powershell/docs/PSFakeApi.md
  samples/client/petstore/powershell/docs/PSFakeClassnameTags123Api.md
  samples/client/petstore/powershell/docs/PSPetApi.md
  samples/client/petstore/powershell/docs/PSStoreApi.md
  samples/client/petstore/powershell/docs/PSUserApi.md
Labels: Client: PowerShell, Enhancement: Feature, Feature: Documentation

#15306 [php] cleanup documentation
  modules/openapi-generator/src/main/resources/php-symfony/README.mustache
  modules/openapi-generator/src/main/resources/php/README.mustache
  samples/client/petstore/php/OpenAPIClient-php/README.md
  samples/server/petstore/php-symfony/SymfonyBundle-php/README.md
Labels: Client: PHP, Enhancement: Feature, Feature: Documentation

#15304 [Scala] cleanup documentation
  modules/openapi-generator/src/main/resources/scala-akka-client/README.mustache
  modules/openapi-generator/src/main/resources/scala-httpclient/README.mustache
  modules/openapi-generator/src/main/resources/scala-sttp/README.mustache
  samples/client/petstore/scala-akka/README.md
  samples/client/petstore/scala-sttp/README.md
Labels: Client: Scala, Enhancement: Feature, Feature: Documentation

#15459 Update scala versions to 2.13.10 and 2.12.17
  modules/openapi-generator/src/main/resources/scala-sttp/build.sbt.mustache
  samples/client/petstore/scala-sttp/build.sbt
Labels: Client: Scala, Enhancement: Compatibility

#15295 [Julia] Cleanup README docs
  modules/openapi-generator/src/main/resources/julia-client/README.mustache
  samples/client/petstore/julia/README.md
Labels: Client: Julia, Enhancement: Feature, Feature: Documentation

#15399 [JAVA] fix "text/plain" with charset specification
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/native/api.mustache
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/BodyApi.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/FormApi.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/HeaderApi.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/PathApi.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/QueryApi.java
Labels: Client: Java, Issue: Bug

#15435 Encode a `Set` in `toJson()` properly
  modules/openapi-generator/src/main/resources/dart2/api.mustache
  modules/openapi-generator/src/main/resources/dart2/serialization/native/native_class.mustache
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/model/pet.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/pet_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/array_of_number_only.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/array_test.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/object_with_deprecated_fields.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/pet.dart
Labels: Client: Dart, Issue: Bug

#15500 [csharp-netcore][generichost] Fixed the order to match the constructor
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/JsonConverter.mustache
Labels: Client: C-Sharp, Issue: Bug

#15505 Fix Go client tests
  samples/client/petstore/go/auth_test.go
  samples/client/petstore/go/fake_api_test.go
  samples/client/petstore/go/pet_api_test.go
  samples/client/petstore/go/store_api_test.go
  samples/client/petstore/go/user_api_test.go
Labels: Client: Go, Enhancement: CI/Test

#15508 [xojo] rename private method to avoid confusion
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/XojoClientCodegen.java
Labels: Enhancement: Code Cleanup, Client: Xojo

#15501 [openapi-normalizer] enable some rules by default
  docs/customization.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/OpenAPINormalizerTest.java
  samples/client/petstore/typescript-axios/builds/composed-schemas/api.ts
Labels: Breaking change (with fallback), Enhancement: General, OpenAPI Normalizer

#15518 Minor enhancements to the aspnetcore server generator
  .github/workflows/samples-dotnet.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetCoreServerCodegen.java
  modules/openapi-generator/src/main/resources/aspnetcore/3.0/model.mustache
  samples/server/petstore/aspnetcore-6.0-project4Models/.openapi-generator/FILES
  samples/server/petstore/aspnetcore-6.0-useNewtonsoft/src/Org.OpenAPITools/Controllers/PetApi.cs
  samples/server/petstore/aspnetcore-6.0-useNewtonsoft/src/Org.OpenAPITools/Controllers/StoreApi.cs
  samples/server/petstore/aspnetcore-6.0-useNewtonsoft/src/Org.OpenAPITools/Controllers/UserApi.cs
  samples/server/petstore/aspnetcore-6.0-useNewtonsoft/src/Org.OpenAPITools/Models/Animal.cs
Labels: Enhancement: CI/Test, Enhancement: Code format, Enhancement: General, Server: C-Sharp

#15522 [javascript] fix use of isBasicBasic and isBasicBearer conditions
  modules/openapi-generator/src/main/resources/Javascript-Apollo/README.mustache
  modules/openapi-generator/src/main/resources/Javascript-Flowtyped/api.mustache
  modules/openapi-generator/src/main/resources/Javascript/README.mustache
  samples/client/petstore/javascript-apollo/README.md
  samples/client/petstore/javascript-es6/README.md
  samples/client/petstore/javascript-promise-es6/README.md
Labels: Client: JavaScript/Node.js, Enhancement: Feature, Feature: Documentation

#15468 [C++][Pistache] Generate empty JSON object instead of a null value
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-source.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-struct-source.mustache
  samples/server/petstore/cpp-pistache/model/ApiResponse.cpp
  samples/server/petstore/cpp-pistache/model/Category.cpp
  samples/server/petstore/cpp-pistache/model/Order.cpp
  samples/server/petstore/cpp-pistache/model/Pet.cpp
  samples/server/petstore/cpp-pistache/model/Tag.cpp
  samples/server/petstore/cpp-pistache/model/User.cpp
Labels: Enhancement: General, Server: C++

#15469 [C++][Pistache] Add missing 'override' on virtual methods
  modules/openapi-generator/src/main/resources/cpp-pistache-server/api-header.mustache
  samples/server/petstore/cpp-pistache/api/PetApi.h
  samples/server/petstore/cpp-pistache/api/StoreApi.h
  samples/server/petstore/cpp-pistache/api/UserApi.h
Labels: Enhancement: General, Server: C++

#15453 Update modelbase-header.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/modelbase-header.mustache
Labels: Client: C++, Enhancement: General

#15530 [Spring] fix use of isBasic condition
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-cloud/clientConfiguration.mustache
Labels: Server: Spring

#15543 Fix warning when building because of the missing documentation
  modules/openapi-generator/src/main/resources/aspnetcore/3.0/Formatters/InputFormatterStream.mustache
  samples/server/petstore/aspnetcore-3.0/src/Org.OpenAPITools/Formatters/InputFormatterStream.cs
  samples/server/petstore/aspnetcore-3.1/src/Org.OpenAPITools/Formatters/InputFormatterStream.cs
  samples/server/petstore/aspnetcore-5.0/src/Org.OpenAPITools/Formatters/InputFormatterStream.cs
  samples/server/petstore/aspnetcore-6.0-pocoModels/src/Org.OpenAPITools/Formatters/InputFormatterStream.cs
  samples/server/petstore/aspnetcore-6.0-project4Models/src/Org.OpenAPITools/Formatters/InputFormatterStream.cs
  samples/server/petstore/aspnetcore-6.0-useNewtonsoft/src/Org.OpenAPITools/Formatters/InputFormatterStream.cs
  samples/server/petstore/aspnetcore-6.0-useSwashBuckle/src/Org.OpenAPITools/Formatters/InputFormatterStream.cs
  samples/server/petstore/aspnetcore-6.0/src/Org.OpenAPITools/Formatters/InputFormatterStream.cs
Labels: Enhancement: Code format, Server: C-Sharp

#15294 Postman Collection Generator
  bin/configs/postman-collection.yaml
  docs/generators.md
  docs/generators/postman-collection.md
  docs/generators/postman.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PostmanCollectionCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/postman-collection/item.mustache
  modules/openapi-generator/src/main/resources/postman-collection/postman.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/postman/PostmanCollectionCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/postman-collection/Basic.yaml
  modules/openapi-generator/src/test/resources/3_0/postman-collection/BasicJson.json
  modules/openapi-generator/src/test/resources/3_0/postman-collection/BasicVariablesInExample.yaml
  modules/openapi-generator/src/test/resources/3_0/postman-collection/JsonWithCommasInJsonExample.json
  modules/openapi-generator/src/test/resources/3_0/postman-collection/SampleProject.yaml
  samples/documentation/postman-collection/.openapi-generator-ignore
  samples/documentation/postman-collection/.openapi-generator/FILES
  samples/documentation/postman-collection/.openapi-generator/VERSION
  samples/documentation/postman-collection/postman.json
  samples/schema/postman-collection/.openapi-generator-ignore
  samples/schema/postman-collection/.openapi-generator/FILES
  samples/schema/postman-collection/.openapi-generator/VERSION
  samples/schema/postman-collection/postman.json
Labels: Enhancement: New generator, Schema: Postman Collection

#15173 [csharp-netcore] Updated package versions
  modules/openapi-generator/src/main/resources/csharp-netcore/netcore_project.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/netcore_testproject.mustache
  samples/client/others/csharp-netcore-complex-files/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-net48/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-net48/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Org.OpenAPITools.csproj
Labels: Client: C-Sharp, Enhancement: Compatibility

#15548 [Gradle] add `inputSpecRootDirectory` for generate task
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/OpenApiGeneratorPlugin.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/extensions/OpenApiGeneratorGenerateExtension.kt
Labels: OpenAPI Generator Gradle Plugin

#15551 [csharp-netcore][generichost] Added OrDefault method
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/api.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/UserApi.cs
Labels: Client: C-Sharp, Enhancement: General

#15557 fix incorrect generic type in go-server codegen template
  modules/openapi-generator/src/main/resources/go-server/controller-api.mustache
Labels: Issue: Bug, Server: Go

#15562 Add workflow to test builds and Gradle plugin on Windows
  .github/workflows/windows.yaml
Labels: Enhancement: CI/Test, Enhancement: Compatibility

#15566 Improve build time
  .github/workflows/java-helidon-functional-tests.yaml
  .github/workflows/samples-java-helidon.yaml
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/helidon/JavaHelidonMpClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/helidon/JavaHelidonMpServerCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/helidon/JavaHelidonSeClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/helidon/JavaHelidonSeServerCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/helidon/functional/FunctionalBase.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/helidon/functional/FunctionalHelidonClientBase.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/helidon/functional/FunctionalHelidonMPClientTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/helidon/functional/FunctionalHelidonMPServerTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/helidon/functional/FunctionalHelidonSEClientTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/helidon/functional/FunctionalHelidonSeServerTest.java
Labels: Client: Java, Enhancement: CI/Test, Server: Java

#15529 [lua] fix use of isBasic condition
  modules/openapi-generator/src/main/resources/lua/README.mustache
  modules/openapi-generator/src/main/resources/lua/api.mustache
Labels: Client: Lua, Issue: Non-operational

#15526 [xojo] fix use of isBasic condition
  modules/openapi-generator/src/main/resources/xojo-client/README.mustache
  modules/openapi-generator/src/main/resources/xojo-client/api.mustache
  modules/openapi-generator/src/main/resources/xojo-client/api_mock.mustache
Labels: Issue: Non-operational, Client: Xojo

#15533 [eiffel] fix use of isBasic condition
  modules/openapi-generator/src/main/resources/Eiffel/README.mustache
  modules/openapi-generator/src/main/resources/Eiffel/api_client.mustache
Labels: Client: Eiffel, Issue: Non-operational

#15528 [android] fix use of isBasic condition
  modules/openapi-generator/src/main/resources/android/README.mustache
  modules/openapi-generator/src/main/resources/android/libraries/volley/apiInvoker.mustache
Labels: Client: Android, Issue: Non-operational

#15525 [powershell] fix use of isBasic condition
  modules/openapi-generator/src/main/resources/powershell/README.mustache
  modules/openapi-generator/src/main/resources/powershell/api_doc.mustache
  samples/client/petstore/powershell/README.md
  samples/client/petstore/powershell/docs/PSFakeApi.md
  samples/client/petstore/powershell/docs/PSPetApi.md
Labels: Client: PowerShell, Issue: Non-operational

#15520 [PHP] fix use of isBasic condition
  modules/openapi-generator/src/main/resources/php-slim-server/README.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/README.mustache
  modules/openapi-generator/src/main/resources/php-symfony/README.mustache
  modules/openapi-generator/src/main/resources/php-symfony/api_controller.mustache
  modules/openapi-generator/src/main/resources/php/README.mustache
  samples/client/petstore/php/OpenAPIClient-php/README.md
Labels: Client: PHP, Issue: Non-operational

#15524 [perl] fix use of isBasic condition
  modules/openapi-generator/src/main/resources/perl/README.mustache
  modules/openapi-generator/src/main/resources/perl/api_doc.mustache
  samples/client/petstore/perl/README.md
  samples/client/petstore/perl/docs/FakeApi.md
Labels: Client: Perl, Issue: Non-operational

#15521 [bash] fix use of isBasic condition
  modules/openapi-generator/src/main/resources/bash/Dockerfile.mustache
  modules/openapi-generator/src/main/resources/bash/README.mustache
  modules/openapi-generator/src/main/resources/bash/client.mustache
  samples/client/petstore/bash/README.md
Labels: Client: Bash, Issue: Non-operational

#15535 [cpp C++] fix use of isBasic condition
  modules/openapi-generator/src/main/resources/cpp-qt-client/README.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/api-source.mustache
Labels: Client: C++, Issue: Non-operational

#15584 [Kotlin] Fixed additional property omitGradleWrapper for kotlin generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/KotlinClientCodegenModelTest.java
Labels: Client: Kotlin, Issue: Bug

#15585 Improve Appveyor tests
  appveyor.yml
Labels: Enhancement: CI/Test

#15553 Update to JDK11
  .circleci/config.yml
  .github/workflows/check-supported-versions.yaml
  .github/workflows/openapi-generator.yaml
  .github/workflows/windows.yaml
  .travis.yml
  appveyor.yml
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/config/GeneratorSettings.java
  modules/openapi-generator-gradle-plugin/build.gradle
  modules/openapi-generator-gradle-plugin/pom.xml
  modules/openapi-generator-gradle-plugin/src/test/kotlin/GenerateTaskFromCacheTest.kt
  modules/openapi-generator-gradle-plugin/src/test/kotlin/GenerateTaskUpToDateTest.kt
  modules/openapi-generator-gradle-plugin/src/test/kotlin/ValidateTaskDslTest.kt
  modules/openapi-generator/pom.xml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/HandlebarsEngineAdapter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/JsonCacheImpl.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultGeneratorTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/protobuf/ProtobufSchemaCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/swift5/Swift5ClientCodegenTest.java
  modules/openapi-generator/src/test/resources/templating/templates/jmeter/testdata-localhost.hbs
  pom.xml
Labels: Breaking change (without fallback), Feature: Generator

#15590 Update pom.xml with new plugin, setting
  .github/workflows/check-supported-versions.yaml
  pom.xml
Labels: Enhancement: CI/Test, Enhancement: General

#14296 [Ktor] Update generator to latest Ktor version #14061
  docs/generators/kotlin-server.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinServerCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/ApiKeyAuth.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/AppMain.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/Configuration.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/Paths.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/README.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/api.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/build.gradle.mustache
  samples/server/petstore/kotlin-server-modelMutable/README.md
  samples/server/petstore/kotlin-server-modelMutable/build.gradle
  samples/server/petstore/kotlin-server-modelMutable/src/main/kotlin/org/openapitools/server/AppMain.kt
  samples/server/petstore/kotlin-server-modelMutable/src/main/kotlin/org/openapitools/server/Configuration.kt
  samples/server/petstore/kotlin-server-modelMutable/src/main/kotlin/org/openapitools/server/Paths.kt
  samples/server/petstore/kotlin-server-modelMutable/src/main/kotlin/org/openapitools/server/apis/PetApi.kt
  samples/server/petstore/kotlin-server-modelMutable/src/main/kotlin/org/openapitools/server/apis/StoreApi.kt
  samples/server/petstore/kotlin-server-modelMutable/src/main/kotlin/org/openapitools/server/apis/UserApi.kt
  samples/server/petstore/kotlin-server-modelMutable/src/main/kotlin/org/openapitools/server/infrastructure/ApiKeyAuth.kt
  samples/server/petstore/kotlin-server/jaxrs-spec/gradle/wrapper/gradle-wrapper.jar
  samples/server/petstore/kotlin-server/jaxrs-spec/gradle/wrapper/gradle-wrapper.properties
  samples/server/petstore/kotlin-server/jaxrs-spec/gradlew
  samples/server/petstore/kotlin-server/jaxrs-spec/gradlew.bat
  samples/server/petstore/kotlin-server/ktor/README.md
  samples/server/petstore/kotlin-server/ktor/build.gradle
  samples/server/petstore/kotlin-server/ktor/gradle/wrapper/gradle-wrapper.jar
  samples/server/petstore/kotlin-server/ktor/gradle/wrapper/gradle-wrapper.properties
  samples/server/petstore/kotlin-server/ktor/gradlew
  samples/server/petstore/kotlin-server/ktor/gradlew.bat
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/AppMain.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/Configuration.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/Paths.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/apis/PetApi.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/apis/StoreApi.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/apis/UserApi.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/infrastructure/ApiKeyAuth.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/models/ApiResponse.kt
Labels: Breaking change (without fallback), Enhancement: Compatibility, Server: Kotlin

#15592 Set maven to 3.9 in Github workflow
  .github/workflows/linux.yaml
  .github/workflows/windows.yaml
Labels: Enhancement: CI/Test

#15594 [csharp-netcore][generichost] Used default cancellation token
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/HttpSigningConfiguration.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/HttpSigningToken.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/OperationSignature.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/RateLimitProvider`1.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/TokenProvider`1.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/api.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Client/HttpSigningToken.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Client/TokenProvider`1.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Client/HttpSigningToken.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Client/TokenProvider`1.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Client/TokenProvider`1.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Client/TokenProvider`1.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Client/TokenProvider`1.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Client/HttpSigningToken.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Client/TokenProvider`1.cs
Labels: Client: C-Sharp, Enhancement: General

#15575 Update Enforcer (maven plugin) rule
  .mvn/gradle-enterprise.xml
  pom.xml
Labels: Enhancement: Compatibility, Enhancement: General, OpenAPI Generator Maven Plugin

#15605 [csharp-netcore] Removed .netcore 3.1
  bin/configs/csharp-netcore-OpenAPIClientCore.yaml
  docs/generators/csharp-netcore.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreReducedClientCodegen.java
  samples/client/others/csharp-netcore-complex-files/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/docs/FakeApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/docs/PetApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Org.OpenAPITools.nuspec
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Properties/AssemblyInfo.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
Labels: Client: C-Sharp, Decommission

#15568 [kotlin] New 'jvm-spring-webclient' library
  .github/workflows/samples-kotlin-client.yaml
  bin/configs/kotlin-jvm-spring-webclient.yaml
  docs/generators/kotlin.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinClientCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-client/build.gradle.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-spring-webclient/api.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-spring-webclient/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin-jvm-spring-webclient/.openapi-generator-ignore
  samples/client/petstore/kotlin-jvm-spring-webclient/.openapi-generator/FILES
  samples/client/petstore/kotlin-jvm-spring-webclient/.openapi-generator/VERSION
  samples/client/petstore/kotlin-jvm-spring-webclient/README.md
  samples/client/petstore/kotlin-jvm-spring-webclient/build.gradle
  samples/client/petstore/kotlin-jvm-spring-webclient/docs/ApiResponse.md
  samples/client/petstore/kotlin-jvm-spring-webclient/docs/Category.md
  samples/client/petstore/kotlin-jvm-spring-webclient/docs/Order.md
  samples/client/petstore/kotlin-jvm-spring-webclient/docs/Pet.md
  samples/client/petstore/kotlin-jvm-spring-webclient/docs/PetApi.md
  samples/client/petstore/kotlin-jvm-spring-webclient/docs/StoreApi.md
  samples/client/petstore/kotlin-jvm-spring-webclient/docs/Tag.md
  samples/client/petstore/kotlin-jvm-spring-webclient/docs/User.md
  samples/client/petstore/kotlin-jvm-spring-webclient/docs/UserApi.md
  samples/client/petstore/kotlin-jvm-spring-webclient/gradle/wrapper/gradle-wrapper.jar
  samples/client/petstore/kotlin-jvm-spring-webclient/gradle/wrapper/gradle-wrapper.properties
  samples/client/petstore/kotlin-jvm-spring-webclient/gradlew
  samples/client/petstore/kotlin-jvm-spring-webclient/gradlew.bat
  samples/client/petstore/kotlin-jvm-spring-webclient/settings.gradle
  samples/client/petstore/kotlin-jvm-spring-webclient/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-jvm-spring-webclient/src/main/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-jvm-spring-webclient/src/main/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-jvm-spring-webclient/src/main/kotlin/org/openapitools/client/infrastructure/ApiAbstractions.kt
  samples/client/petstore/kotlin-jvm-spring-webclient/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-jvm-spring-webclient/src/main/kotlin/org/openapitools/client/infrastructure/PartConfig.kt
  samples/client/petstore/kotlin-jvm-spring-webclient/src/main/kotlin/org/openapitools/client/infrastructure/RequestConfig.kt
  samples/client/petstore/kotlin-jvm-spring-webclient/src/main/kotlin/org/openapitools/client/infrastructure/RequestMethod.kt
  samples/client/petstore/kotlin-jvm-spring-webclient/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-jvm-spring-webclient/src/main/kotlin/org/openapitools/client/models/Category.kt
  samples/client/petstore/kotlin-jvm-spring-webclient/src/main/kotlin/org/openapitools/client/models/ModelApiResponse.kt
  samples/client/petstore/kotlin-jvm-spring-webclient/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-jvm-spring-webclient/src/main/kotlin/org/openapitools/client/models/Pet.kt
  samples/client/petstore/kotlin-jvm-spring-webclient/src/main/kotlin/org/openapitools/client/models/Tag.kt
  samples/client/petstore/kotlin-jvm-spring-webclient/src/main/kotlin/org/openapitools/client/models/User.kt
  samples/meta-codegen-kotlin/lib/README.md
  samples/meta-codegen-kotlin/lib/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
Labels: Client: Kotlin, Enhancement: New generator

#15608 [Kotlin] minor enhancements, remove KotlinServerDeprecatedGenerator
  README.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinServerDeprecatedCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinSpringServerCodegen.java
Labels: Client: Kotlin, Enhancement: Code format, Enhancement: General, Server: Kotlin

#15625 [python] Add test for nullable property with pattern
  modules/openapi-generator/src/test/resources/3_0/python/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/openapi3/client/petstore/python-aiohttp/.openapi-generator/FILES
  samples/openapi3/client/petstore/python-aiohttp/README.md
  samples/openapi3/client/petstore/python-aiohttp/docs/NullableProperty.md
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/__init__.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/__init__.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/nullable_property.py
  samples/openapi3/client/petstore/python-aiohttp/test/test_nullable_property.py
  samples/openapi3/client/petstore/python/.openapi-generator/FILES
  samples/openapi3/client/petstore/python/README.md
  samples/openapi3/client/petstore/python/docs/NullableProperty.md
  samples/openapi3/client/petstore/python/petstore_api/__init__.py
  samples/openapi3/client/petstore/python/petstore_api/models/__init__.py
  samples/openapi3/client/petstore/python/petstore_api/models/nullable_property.py
  samples/openapi3/client/petstore/python/test/test_nullable_property.py
  samples/openapi3/client/petstore/python/tests/test_model.py
Labels: Client: Python, Enhancement: CI/Test

#15626 [rust-client]: fix for collectionFormat=multi
  modules/openapi-generator/src/main/resources/rust/reqwest/api.mustache
  samples/client/petstore/rust/reqwest/petstore-async-middleware/src/apis/pet_api.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/apis/pet_api.rs
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/src/apis/pet_api.rs
  samples/client/petstore/rust/reqwest/petstore/src/apis/pet_api.rs
Labels: Client: Rust, Issue: Bug

#15589 [go-server] fix string comparison
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoServerCodegen.java
Labels: Issue: Bug, Server: Go

#15599 Adds operation null check avoid null exception
  modules/openapi-generator/src/main/resources/csharp-netcore/Configuration.mustache
  samples/client/others/csharp-netcore-complex-files/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net48/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-unityWebRequest/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Client/Configuration.cs
Labels: Feature: Generator, Issue: Bug

#15595 [csharp-netcore] Removed deprecated package
  modules/openapi-generator/src/main/resources/csharp-netcore/netcore_project.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/netcore_testproject.mustache
  samples/client/others/csharp-netcore-complex-files/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-net48/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-net48/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Org.OpenAPITools.csproj
Labels: Client: C-Sharp, Enhancement: Compatibility

#15531 [typescript] fix use of isBasic condition
  modules/openapi-generator/src/main/resources/typescript-inversify/api.service.mustache
  modules/openapi-generator/src/main/resources/typescript-jquery/api.mustache
  modules/openapi-generator/src/main/resources/typescript-nestjs/api.service.mustache
  modules/openapi-generator/src/main/resources/typescript-rxjs/apis.mustache
Labels: Client: TypeScript, Enhancement: Feature, Feature: Documentation

#14470 [python-fastapi] Added a base class for the actual implementation
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonFastAPIServerCodegen.java
  modules/openapi-generator/src/main/resources/python-fastapi/api.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/base_api.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/impl_argument.mustache
  modules/openapi-generator/src/main/resources/python-fastapi/impl_argument_definition.mustache
  samples/server/petstore/python-fastapi/.openapi-generator/FILES
  samples/server/petstore/python-fastapi/src/openapi_server/apis/pet_api.py
  samples/server/petstore/python-fastapi/src/openapi_server/apis/pet_api_base.py
  samples/server/petstore/python-fastapi/src/openapi_server/apis/store_api.py
  samples/server/petstore/python-fastapi/src/openapi_server/apis/store_api_base.py
  samples/server/petstore/python-fastapi/src/openapi_server/apis/user_api.py
  samples/server/petstore/python-fastapi/src/openapi_server/apis/user_api_base.py
Labels: Breaking change (without fallback), Enhancement: General, Server: Python

#15596 [go-server] Update Dockerfile go version to 1.19
  modules/openapi-generator/src/main/resources/go-server/Dockerfile.mustache
  samples/server/petstore/go-api-server/Dockerfile
  samples/server/petstore/go-chi-server/Dockerfile
  samples/server/petstore/go-server-required/Dockerfile
Labels: Docker, Enhancement: Compatibility, Server: Go

#15607 [gradle enterprise] various enhancements
  .github/workflows/gradle-plugin-tests.yaml
  .github/workflows/linux.yaml
  .github/workflows/openapi-generator.yaml
  .github/workflows/windows.yaml
  pom.xml
Labels: Enhancement: General, OpenAPI Generator Maven Plugin

#15655 Fix run-in-docker.sh for OpenAPI Generator 7+ by using JDK 11+
  run-in-docker.sh
Labels: Docker, Issue: Bug

#15657 Add tests for Dockerfile, run-in-docker.sh
  .github/workflows/docker.yaml
Labels: Docker, Enhancement: CI/Test

#15644 Update swagger parser to 2.1.14
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/yaml/YamlGeneratorTest.java
  modules/openapi-generator/src/test/resources/2_0/issue_9086_expected.yaml
  pom.xml
Labels: Enhancement: Compatibility, Swagger-Parser

#15660 Update dart workflow java version to 11
  .github/actions/run-samples/action.yaml
  .github/workflows/samples-dart.yaml
  samples/openapi3/client/petstore/dart-dio/oneof/pom.xml
Labels: Client: Dart, Enhancement: CI/Test

#15663 Fix bugs (string comparison) in csharp generators
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
Labels: Client: C-Sharp, Issue: Bug

#15597 Update go-gin dockerfile to newer version: 1.19
  .gitignore
  modules/openapi-generator/src/main/resources/go-gin-server/Dockerfile.mustache
  modules/openapi-generator/src/main/resources/go-gin-server/go.mod.mustache
  samples/server/petstore/go-gin-api-server/Dockerfile
  samples/server/petstore/go-gin-api-server/go.mod
  samples/server/petstore/go-gin-api-server/go.sum
Labels: Docker, Enhancement: Compatibility, Server: Go

#15650 Update python-fastapi server dependencies
  modules/openapi-generator/src/main/resources/python-fastapi/requirements.mustache
  samples/server/petstore/python-fastapi/requirements.txt
Labels: Enhancement: Compatibility, Server: Python

#15113 spring: fix spring pageable used without any config
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/resources/bugs/issue_13052.yaml
Labels: Breaking change (without fallback), Server: Spring

#15675 [python] Fix date isinstance check in query parameter
  modules/openapi-generator/src/main/resources/python/api.mustache
  samples/client/echo_api/python/openapi_client/api/query_api.py
Labels: Client: Python, Issue: Bug

#15677 [csharp-netcore][generichost] Created partial method to format arguments
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/api.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/UserApi.cs
Labels: Client: C-Sharp, Enhancement: General

#15678 [abstract-csharp] Patch all property collections
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
Labels: Client: C-Sharp, Enhancement: General, Server: C-Sharp

#15689 [Spring] Defaulting for Spring HTTP Interface library
  bin/configs/spring-http-interface-reactive.yaml
  bin/configs/spring-http-interface.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
Labels: Server: Spring

#12687 [JAVA] Generate client files with multiple enum `oneOf` types
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue12545.json
Labels: Client: Java, Issue: Bug

#15694 Update maven wrapper to 3.9.0
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.jar
  .mvn/wrapper/maven-wrapper.properties
  mvnw
  mvnw.cmd
Labels: Enhancement: Compatibility
