Repository OpenAPITools/openapi-generator, pull requests merged in 2023-12, with the labels that each got.

#17281 [POSTMAN] Enabling required query parameters
  modules/openapi-generator/src/main/resources/postman-collection/item.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/postman/PostmanCollectionCodegenTest.java
  samples/schema/postman-collection/postman.json
Labels: Enhancement: General, Schema: Postman Collection

#17292 [POSTMAN] Include header description
  modules/openapi-generator/src/main/resources/postman-collection/item.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/postman/PostmanCollectionCodegenTest.java
  samples/schema/postman-collection/postman.json
Labels: Enhancement: General, Schema: Postman Collection

#17289 Add enum name mapping support to Go generators
  bin/configs/go-petstore.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  samples/openapi3/client/petstore/go/go-petstore/docs/OuterEnum.md
  samples/openapi3/client/petstore/go/go-petstore/docs/OuterEnumDefaultValue.md
  samples/openapi3/client/petstore/go/go-petstore/model_outer_enum.go
  samples/openapi3/client/petstore/go/go-petstore/model_outer_enum_default_value.go
Labels: Client: Go, Enhancement: Feature, Server: Go

#17290 Add enum name mapping feature to the Rust generators
  bin/configs/rust-reqwest-petstore.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractRustCodegen.java
  samples/client/petstore/rust/reqwest/petstore/src/models/order.rs
Labels: Client: Rust, Enhancement: Feature, Server: Rust

#17298 [Dart] Add enum mapping option
  bin/configs/dart-petstore-client-lib.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractDartCodegen.java
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/model/order.dart
Labels: Client: Dart, Enhancement: Feature

#17304 [POSTMAN] Skip escaping path parameter description
  modules/openapi-generator/src/main/resources/postman-collection/item.mustache
Labels: Enhancement: General, Schema: Postman Collection

#17305 Fix parameter names in Configuration
  modules/openapi-generator/src/main/resources/php/Configuration.mustache
Labels: Client: PHP, Enhancement: General

#17309 Fix non-four indents in PHP templates
  modules/openapi-generator/src/main/resources/php-nextgen/api.mustache
  modules/openapi-generator/src/main/resources/php-symfony/serialization/SerializerInterface.mustache
  modules/openapi-generator/src/main/resources/php-symfony/testing/model_test.mustache
  modules/openapi-generator/src/main/resources/php/api.mustache
Labels: Client: PHP, Enhancement: Code format

#17328 [csharp][generichost] Use keyParamName instead of name
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/ApiTestsBase.mustache
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/DependencyInjectionTests.mustache
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/README.client.mustache
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt-useSourceGeneration/src/UseSourceGeneration/README.md
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/README.md
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/README.md
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/README.md
Labels: Client: C-Sharp, Issue: Bug

#17324 Fix PHP constructor docblock
  modules/openapi-generator/src/main/resources/php/api.mustache
Labels: Client: PHP, Enhancement: Feature, Feature: Documentation

#17299 Add enum name mapping to Ada codegen
  bin/configs/ada.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractAdaCodegen.java
  modules/openapi-generator/src/test/resources/3_0/ada/petstore.yaml
  samples/client/petstore/ada/src/model/samples-petstore-models.adb
  samples/client/petstore/ada/src/model/samples-petstore-models.ads
Labels: Client: Ada, Enhancement: Feature, Server: Ada

#17342 Use $Response.Content for deserializing response
  modules/openapi-generator/src/main/resources/powershell/api_client.mustache
  samples/client/echo_api/powershell/src/PSOpenAPITools/Private/ApiClient.ps1
  samples/client/petstore/powershell/src/PSPetstore/Private/PSApiClient.ps1
Labels: Client: PowerShell, Issue: Bug

#17202 Add Java Optional for POJOs in JavaSpring templates
  modules/openapi-generator/src/main/resources/JavaSpring/beanValidation.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/beanValidationCore.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/nullableDataType.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/nullableDataTypeBeanValidation.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/pojo.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/assertions/MethodAssert.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_14765.yaml
  samples/openapi3/client/petstore/spring-cloud-3-with-optional/src/main/java/org/openapitools/model/Category.java
  samples/openapi3/client/petstore/spring-cloud-3-with-optional/src/main/java/org/openapitools/model/ModelApiResponse.java
  samples/openapi3/client/petstore/spring-cloud-3-with-optional/src/main/java/org/openapitools/model/Order.java
  samples/openapi3/client/petstore/spring-cloud-3-with-optional/src/main/java/org/openapitools/model/Pet.java
  samples/openapi3/client/petstore/spring-cloud-3-with-optional/src/main/java/org/openapitools/model/Tag.java
  samples/openapi3/client/petstore/spring-cloud-3-with-optional/src/main/java/org/openapitools/model/User.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/AdditionalPropertiesAnyType.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/AdditionalPropertiesArray.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/AdditionalPropertiesBoolean.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/AdditionalPropertiesClass.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/AdditionalPropertiesInteger.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/AdditionalPropertiesNumber.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/AdditionalPropertiesObject.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/AdditionalPropertiesString.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/Animal.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/BigCat.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/Capitalization.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/Cat.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/Category.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/ChildWithNullable.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/ClassModel.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/Client.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/Dog.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/EnumArrays.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/EnumTest.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/File.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/FileSchemaTestClass.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/HasOnlyReadOnly.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/MixedPropertiesAndAdditionalPropertiesClass.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/Model200Response.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/ModelApiResponse.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/ModelList.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/ModelReturn.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/Name.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/NumberOnly.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/Order.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/OuterComposite.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/ParentWithNullable.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/Pet.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/ReadOnlyFirst.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/ResponseObjectWithDifferentFieldNames.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/SpecialModelName.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/Tag.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/User.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/XmlItem.java
Labels: Enhancement: Feature, Server: Spring

#17333 Ruby Client for Faraday: fix file downloading
  modules/openapi-generator/src/main/resources/ruby-client/api_client_faraday_partial.mustache
  samples/client/petstore/ruby-faraday/lib/petstore/api_client.rb
Labels: Client: Ruby, Issue: Bug

#17083 [JavaSpring] Enable scopes for all security scheme types
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenSecurity.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/resources/JavaSpring/api.mustache
Labels: Server: Java, Server: Spring, Enhancement: Security

#17359 Check boolean value returned by createNewFile
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
Labels: Enhancement: General

#17360 Update logback core to newer version 1.4.14
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-ext/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/server/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/libraries/jersey3/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/pom.mustache
  samples/client/petstore/java/microprofile-rest-client/pom.xml
  samples/client/petstore/jaxrs-cxf-client-jackson/pom.xml
  samples/client/petstore/jaxrs-cxf-client/pom.xml
  samples/server/petstore/jaxrs-cxf-annotated-base-path/pom.xml
  samples/server/petstore/jaxrs-cxf-non-spring-app/pom.xml
  samples/server/petstore/jaxrs-cxf/pom.xml
  samples/server/petstore/jaxrs-datelib-j8/pom.xml
  samples/server/petstore/jaxrs-jersey/pom.xml
  samples/server/petstore/jaxrs/jersey2-useTags/pom.xml
  samples/server/petstore/jaxrs/jersey2/pom.xml
  samples/server/petstore/jaxrs/jersey3/pom.xml
Labels: Client: Java, Enhancement: Compatibility, Server: Java

#17358 [kotlin-client][multiplatform] use shortcut to access jsMain as well
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/multiplatform/build.gradle.kts.mustache
  samples/client/petstore/kotlin-array-simple-string-multiplatform/build.gradle.kts
  samples/client/petstore/kotlin-bigdecimal-default-multiplatform/build.gradle.kts
  samples/client/petstore/kotlin-default-values-multiplatform/build.gradle.kts
  samples/client/petstore/kotlin-multiplatform-kotlinx-datetime/build.gradle.kts
  samples/client/petstore/kotlin-multiplatform/build.gradle.kts
Labels: Client: Kotlin, Enhancement: General

#17174 OpenAPI 3.1.0 Add webhooks support
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConfig.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/model/WebhooksMap.java
  modules/openapi-generator/src/main/resources/go-gin-server/routers.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/goginserver/GoGinServerCodegenTest.java
  modules/openapi-generator/src/test/resources/3_1/webhooks.yaml
  samples/server/petstore/go-gin-api-server/go/routers.go
Labels: Enhancement: Feature, Feature: OAS 3.1.0 spec support

#17344 [csharp][generichost] Handle obsolete params and methods
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/api.mustache
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt-useSourceGeneration/src/UseSourceGeneration/Api/PetApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/PetApi.cs
Labels: Client: C-Sharp, Enhancement: General

#17364 Add a test for SecretStr in the python client
  samples/openapi3/client/petstore/python/tests/test_model.py
Labels: Client: Python, Enhancement: CI/Test

#17179 [C][Client] Use int* as int or bool type function parameter
  modules/openapi-generator/src/main/resources/C-libcurl/api-body.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/api-header.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/api_doc.mustache
  samples/client/petstore/c/api/PetAPI.c
  samples/client/petstore/c/api/PetAPI.h
  samples/client/petstore/c/api/StoreAPI.c
  samples/client/petstore/c/api/StoreAPI.h
  samples/client/petstore/c/api/UserAPI.c
  samples/client/petstore/c/api/UserAPI.h
  samples/client/petstore/c/docs/UserAPI.md
Labels: Breaking change (with fallback), Issue: Bug, Client: C

#17378 Fix NPE in codegen security
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenSecurity.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_17376.json
Labels: Feature: Generator, Issue: Bug, Enhancement: Security

#17381 Fix for handling error in resttemplate
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/ApiClient.mustache
  samples/client/echo_api/java/resttemplate/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/others/java/resttemplate-useAbstractionForFiles/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate-jakarta/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate-swagger1/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate-swagger2/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#17126 Fix issue with URI type in the enum
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModel.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/enumClass.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/enumOuterClass.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/modelEnum.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/modelEnum.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/modelInnerEnum.mustache
  modules/openapi-generator/src/main/resources/Java/modelEnum.mustache
  modules/openapi-generator/src/main/resources/Java/modelInnerEnum.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/enum-and-inner-enum-uri.yaml
Labels: Client: Java, Issue: Bug

#17386 [scala-akka-client] Scala Akka client does not support arbitrary query string parameters
  modules/openapi-generator/src/main/resources/scala-akka-client/apiRequest.mustache
  modules/openapi-generator/src/main/resources/scala-akka-client/paramCreation.mustache
  samples/client/petstore/scala-akka/src/main/scala/org/openapitools/client/core/ApiRequest.scala
  samples/client/petstore/scala-akka/src/test/scala/PetApiTest.scala
Labels: Client: Scala, Enhancement: General

#17389 [go-server] Add tests for #17316
  modules/openapi-generator/src/test/resources/3_0/go-server/petstore.yaml
  samples/server/petstore/go-api-server/api/openapi.yaml
  samples/server/petstore/go-api-server/go/api.go
  samples/server/petstore/go-api-server/go/api_pet.go
  samples/server/petstore/go-api-server/go/api_pet_service.go
  samples/server/petstore/go-chi-server/api/openapi.yaml
  samples/server/petstore/go-chi-server/go/api.go
  samples/server/petstore/go-chi-server/go/api_pet.go
  samples/server/petstore/go-chi-server/go/api_pet_service.go
Labels: Enhancement: CI/Test, Server: Go

#17395 fix: java apache httpclient should support UTF-8 by default
  modules/openapi-generator/src/main/resources/Java/libraries/apache-httpclient/ApiClient.mustache
  samples/client/echo_api/java/apache-httpclient/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/apache-httpclient/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#17406 Dereference parameters in OpenAPI 3.1 spec
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/test/resources/3_1/java/petstore.yaml
  samples/client/petstore/java/okhttp-gson-3.1/README.md
  samples/client/petstore/java/okhttp-gson-3.1/api/openapi.yaml
  samples/client/petstore/java/okhttp-gson-3.1/docs/FakeApi.md
  samples/client/petstore/java/okhttp-gson-3.1/src/main/java/org/openapitools/client/api/FakeApi.java
Labels: Issue: Bug, OpenAPI Normalizer

#17405 [java][resttemplate] replace deprecated response code function
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/ApiClient.mustache
  samples/client/echo_api/java/resttemplate/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/others/java/resttemplate-useAbstractionForFiles/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate-jakarta/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate-swagger1/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate-swagger2/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: Code Cleanup

#17402 [Ruby] Remove auto-generated ruby tests
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RubyClientCodegen.java
  modules/openapi-generator/src/main/resources/ruby-client/api_client_spec.mustache
  modules/openapi-generator/src/main/resources/ruby-client/configuration_spec.mustache
  samples/client/petstore/ruby-autoload/.openapi-generator/FILES
  samples/client/petstore/ruby-faraday/.openapi-generator/FILES
  samples/client/petstore/ruby-httpx/.openapi-generator/FILES
  samples/client/petstore/ruby/.openapi-generator/FILES
  samples/openapi3/client/extensions/x-auth-id-alias/ruby-client/.openapi-generator/FILES
  samples/openapi3/client/features/dynamic-servers/ruby/.openapi-generator/FILES
  samples/openapi3/client/features/generate-alias-as-model/ruby-client/.openapi-generator/FILES
Labels: Client: Ruby, Enhancement: CI/Test

#17408 [Ruby] Add model name mapping support to ruby client generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RubyClientCodegen.java
Labels: Client: Ruby, Enhancement: Feature

#17426 To fix infinite loop for allOf with single element in normalizer
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/allOf_extension_parent.yaml
Labels: Issue: Bug, OpenAPI Normalizer

#17427 Fix missing array description in 3.1 spec
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/test/resources/3_1/java/petstore.yaml
  samples/client/petstore/java/okhttp-gson-3.1/api/openapi.yaml
  samples/client/petstore/java/okhttp-gson-3.1/docs/AnyTypeTest.md
  samples/client/petstore/java/okhttp-gson-3.1/src/main/java/org/openapitools/client/model/AnyTypeTest.java
Labels: Issue: Bug, Feature: OAS 3.1.0 spec support

#17285 Generalized mime type support
  modules/openapi-generator/src/main/resources/typescript/model/ObjectSerializer.mustache
  samples/client/others/typescript/builds/with-unique-items/models/ObjectSerializer.ts
  samples/openapi3/client/petstore/typescript/builds/browser/models/ObjectSerializer.ts
  samples/openapi3/client/petstore/typescript/builds/composed-schemas/models/ObjectSerializer.ts
  samples/openapi3/client/petstore/typescript/builds/default/models/ObjectSerializer.ts
  samples/openapi3/client/petstore/typescript/builds/deno/models/ObjectSerializer.ts
  samples/openapi3/client/petstore/typescript/builds/inversify/models/ObjectSerializer.ts
  samples/openapi3/client/petstore/typescript/builds/jquery/models/ObjectSerializer.ts
  samples/openapi3/client/petstore/typescript/builds/object_params/models/ObjectSerializer.ts
  samples/openapi3/client/petstore/typescript/tests/default/test/models/ObjectSerializer.test.ts
Labels: Client: TypeScript, Enhancement: General

#17438 [python] Fix exception in request body with enum ref
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonCodegen.java
  modules/openapi-generator/src/main/resources/python/api.mustache
  modules/openapi-generator/src/test/resources/3_0/python/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent-true/openapi_client/api/auth_api.py
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent-true/openapi_client/api/body_api.py
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent-true/openapi_client/api/form_api.py
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent-true/openapi_client/api/header_api.py
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent-true/openapi_client/api/path_api.py
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent-true/openapi_client/api/query_api.py
  samples/client/echo_api/python/openapi_client/api/auth_api.py
  samples/client/echo_api/python/openapi_client/api/body_api.py
  samples/client/echo_api/python/openapi_client/api/form_api.py
  samples/client/echo_api/python/openapi_client/api/header_api.py
  samples/client/echo_api/python/openapi_client/api/path_api.py
  samples/client/echo_api/python/openapi_client/api/query_api.py
  samples/openapi3/client/petstore/python-aiohttp/README.md
  samples/openapi3/client/petstore/python-aiohttp/docs/FakeApi.md
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/default_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/fake_classname_tags123_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python-pydantic-v1-aiohttp/README.md
  samples/openapi3/client/petstore/python-pydantic-v1-aiohttp/docs/FakeApi.md
  samples/openapi3/client/petstore/python-pydantic-v1-aiohttp/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-pydantic-v1/README.md
  samples/openapi3/client/petstore/python-pydantic-v1/docs/FakeApi.md
  samples/openapi3/client/petstore/python-pydantic-v1/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/README.md
  samples/openapi3/client/petstore/python/docs/FakeApi.md
  samples/openapi3/client/petstore/python/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/default_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_classname_tags123_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/user_api.py
Labels: Client: Python, Feature: Enum, Issue: Bug

#17449 Update dependencies to newer versions
  modules/openapi-generator-cli/pom.xml
  modules/openapi-generator/pom.xml
  modules/openapi-generator/src/test/java/org/openapitools/codegen/postman/PostmanCollectionCodegenTest.java
  pom.xml
Labels: Enhancement: Compatibility, Feature: Generator

#17420 [Zapier] Updated some dependencies
  modules/openapi-generator/src/main/resources/zapier/package.mustache
  samples/client/petstore/zapier/package.json
Labels: Enhancement: Compatibility, Client: Zapier

#17411 [GO Gin Server] Webhooks support: add missing webhook handlers
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/main/resources/go-gin-server/controller-api.mustache
  modules/openapi-generator/src/main/resources/go-gin-server/routers.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/goginserver/GoGinServerCodegenTest.java
  samples/server/petstore/go-gin-api-server/go/api_pet.go
  samples/server/petstore/go-gin-api-server/go/api_store.go
  samples/server/petstore/go-gin-api-server/go/api_user.go
Labels: Enhancement: Feature, Server: Go

#17321 [go-server] Add ability to handle nullable query param
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoServerCodegen.java
  modules/openapi-generator/src/main/resources/go-server/api.mustache
  modules/openapi-generator/src/main/resources/go-server/controller-api.mustache
  modules/openapi-generator/src/main/resources/go-server/service.mustache
  modules/openapi-generator/src/test/resources/3_0/go-server/petstore.yaml
  samples/openapi3/server/petstore/go/go-petstore/go/api_pet.go
  samples/openapi3/server/petstore/go/go-petstore/go/api_user.go
  samples/server/petstore/go-api-server/.openapi-generator/FILES
  samples/server/petstore/go-api-server/api/openapi.yaml
  samples/server/petstore/go-api-server/go/api.go
  samples/server/petstore/go-api-server/go/api_pet.go
  samples/server/petstore/go-api-server/go/api_pet_service.go
  samples/server/petstore/go-api-server/go/api_user.go
  samples/server/petstore/go-api-server/go/model_colour.go
  samples/server/petstore/go-chi-server/.openapi-generator/FILES
  samples/server/petstore/go-chi-server/api/openapi.yaml
  samples/server/petstore/go-chi-server/go/api.go
  samples/server/petstore/go-chi-server/go/api_pet.go
  samples/server/petstore/go-chi-server/go/api_pet_service.go
  samples/server/petstore/go-chi-server/go/api_user.go
  samples/server/petstore/go-chi-server/go/model_colour.go
Labels: Enhancement: General, Server: Go

#17441 webclient explode query parameters support
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/api.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  samples/client/petstore/java/webclient-jakarta/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/webclient-jakarta/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/webclient-jakarta/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/webclient-swagger2/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/webclient-swagger2/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/webclient-swagger2/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Issue: Bug

#17453 [POSTMAN] Remove tests replaced with Python sample testing
  modules/openapi-generator/src/test/java/org/openapitools/codegen/postman/PostmanCollectionCodegenTest.java
Labels: Enhancement: CI/Test, Schema: Postman Collection

#17399 Update gradle enterprise setup
  .mvn/extensions.xml
  .mvn/gradle-enterprise.xml
Labels: Enhancement: General, OpenAPI Generator Gradle Plugin

#17466 Fix Kotlin templates to be compatible with Kotlin K2 compiler
  modules/openapi-generator/src/main/resources/kotlin-spring/apiController.mustache
  modules/openapi-generator/src/main/resources/kotlin-vertx-server/apiProxy.mustache
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/api/PetApiController.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/api/StoreApiController.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/api/UserApiController.kt
  samples/server/petstore/kotlin-vertx-modelMutable/src/main/kotlin/org/openapitools/server/api/verticle/PetApiVertxProxyHandler.kt
  samples/server/petstore/kotlin-vertx-modelMutable/src/main/kotlin/org/openapitools/server/api/verticle/StoreApiVertxProxyHandler.kt
  samples/server/petstore/kotlin-vertx-modelMutable/src/main/kotlin/org/openapitools/server/api/verticle/UserApiVertxProxyHandler.kt
  samples/server/petstore/kotlin/vertx/src/main/kotlin/org/openapitools/server/api/verticle/PetApiVertxProxyHandler.kt
  samples/server/petstore/kotlin/vertx/src/main/kotlin/org/openapitools/server/api/verticle/StoreApiVertxProxyHandler.kt
  samples/server/petstore/kotlin/vertx/src/main/kotlin/org/openapitools/server/api/verticle/UserApiVertxProxyHandler.kt
Labels: Client: Kotlin, Enhancement: Compatibility

#17432 [go]: Accept APIKey as string, byte array or stream using io.Reader interface
  modules/openapi-generator/src/main/resources/go/signing.mustache
  samples/openapi3/client/petstore/go/go-petstore/signing.go
Labels: Client: Go, Enhancement: General

#17404 [kotlin-client][jackson] Add support for unknown default enum value
  bin/configs/kotlin-jackson.yaml
  modules/openapi-generator/src/main/resources/kotlin-client/data_class.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/jvm-common/infrastructure/Serializer.kt.mustache
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/models/Category.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/models/ModelApiResponse.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/models/Pet.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/models/Tag.kt
  samples/client/petstore/kotlin-jackson/src/main/kotlin/org/openapitools/client/models/User.kt
  samples/client/petstore/kotlin-jvm-jackson/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-jvm-jackson/src/main/kotlin/org/openapitools/client/models/Category.kt
  samples/client/petstore/kotlin-jvm-jackson/src/main/kotlin/org/openapitools/client/models/ModelApiResponse.kt
  samples/client/petstore/kotlin-jvm-jackson/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-jvm-jackson/src/main/kotlin/org/openapitools/client/models/Pet.kt
  samples/client/petstore/kotlin-jvm-jackson/src/main/kotlin/org/openapitools/client/models/Tag.kt
  samples/client/petstore/kotlin-jvm-jackson/src/main/kotlin/org/openapitools/client/models/User.kt
  samples/client/petstore/kotlin-jvm-ktor-jackson/src/main/kotlin/org/openapitools/client/models/Category.kt
  samples/client/petstore/kotlin-jvm-ktor-jackson/src/main/kotlin/org/openapitools/client/models/ModelApiResponse.kt
  samples/client/petstore/kotlin-jvm-ktor-jackson/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-jvm-ktor-jackson/src/main/kotlin/org/openapitools/client/models/Pet.kt
  samples/client/petstore/kotlin-jvm-ktor-jackson/src/main/kotlin/org/openapitools/client/models/Tag.kt
  samples/client/petstore/kotlin-jvm-ktor-jackson/src/main/kotlin/org/openapitools/client/models/User.kt
  samples/client/petstore/kotlin-jvm-spring-2-webclient/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-jvm-spring-2-webclient/src/main/kotlin/org/openapitools/client/models/Category.kt
  samples/client/petstore/kotlin-jvm-spring-2-webclient/src/main/kotlin/org/openapitools/client/models/ModelApiResponse.kt
  samples/client/petstore/kotlin-jvm-spring-2-webclient/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-jvm-spring-2-webclient/src/main/kotlin/org/openapitools/client/models/Pet.kt
  samples/client/petstore/kotlin-jvm-spring-2-webclient/src/main/kotlin/org/openapitools/client/models/Tag.kt
  samples/client/petstore/kotlin-jvm-spring-2-webclient/src/main/kotlin/org/openapitools/client/models/User.kt
  samples/client/petstore/kotlin-jvm-spring-3-restclient/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-jvm-spring-3-restclient/src/main/kotlin/org/openapitools/client/models/Category.kt
  samples/client/petstore/kotlin-jvm-spring-3-restclient/src/main/kotlin/org/openapitools/client/models/ModelApiResponse.kt
  samples/client/petstore/kotlin-jvm-spring-3-restclient/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-jvm-spring-3-restclient/src/main/kotlin/org/openapitools/client/models/Pet.kt
  samples/client/petstore/kotlin-jvm-spring-3-restclient/src/main/kotlin/org/openapitools/client/models/Tag.kt
  samples/client/petstore/kotlin-jvm-spring-3-restclient/src/main/kotlin/org/openapitools/client/models/User.kt
  samples/client/petstore/kotlin-jvm-spring-3-webclient/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-jvm-spring-3-webclient/src/main/kotlin/org/openapitools/client/models/Category.kt
  samples/client/petstore/kotlin-jvm-spring-3-webclient/src/main/kotlin/org/openapitools/client/models/ModelApiResponse.kt
  samples/client/petstore/kotlin-jvm-spring-3-webclient/src/main/kotlin/org/openapitools/client/models/Order.kt
  samples/client/petstore/kotlin-jvm-spring-3-webclient/src/main/kotlin/org/openapitools/client/models/Pet.kt
  samples/client/petstore/kotlin-jvm-spring-3-webclient/src/main/kotlin/org/openapitools/client/models/Tag.kt
  samples/client/petstore/kotlin-jvm-spring-3-webclient/src/main/kotlin/org/openapitools/client/models/User.kt
Labels: Client: Kotlin, Enhancement: Feature, Feature: Enum

#17146 Fix decoding OpenAPIDateWithoutTime
  modules/openapi-generator/src/main/resources/swift5/OpenAPIDateWithoutTime.mustache
  samples/client/petstore/swift5/alamofireLibrary/PetstoreClient/Classes/OpenAPIs/OpenAPIDateWithoutTime.swift
  samples/client/petstore/swift5/alamofireLibrary/SwaggerClientTests/SwaggerClientTests/DateFormatTests.swift
Labels: Client: Swift, Issue: Bug
