Repository OpenAPITools/openapi-generator, pull requests merged in 2023-04, with the labels that each got.

#15086 [python-nextgen] use __fields_set__ to determine if the field is needed in to_dict
  modules/openapi-generator/src/main/resources/python-nextgen/model_generic.mustache
  samples/client/echo_api/python-nextgen/openapi_client/models/default_value.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/enum_test.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/health_check_result.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/nullable_class.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/outer_object_with_enum_property.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/tests/test_model.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/enum_test.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/health_check_result.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/nullable_class.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/outer_object_with_enum_property.py
  samples/openapi3/client/petstore/python-nextgen/tests/test_model.py
Labels: Client: Python, Issue: Bug

#15068 [cpp-ue4] Series of fixes for cpp-ue4
  modules/openapi-generator/src/main/resources/cpp-ue4/Build.cs.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/api-operations-source.mustache
  modules/openapi-generator/src/main/resources/cpp-ue4/helpers-header.mustache
Labels: Client: C++, Issue: Bug

#15107 [csharp-netcore] Made escaped regex not be literal strings
  modules/openapi-generator/src/main/resources/csharp-netcore/ClientUtils.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/ClientUtils.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/validatable.mustache
  samples/client/others/csharp-netcore-complex-files/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Model/Apple.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Model/MixedPropertiesAndAdditionalPropertiesClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/Apple.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/MixedPropertiesAndAdditionalPropertiesClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/Apple.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/MixedPropertiesAndAdditionalPropertiesClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/Apple.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/MixedPropertiesAndAdditionalPropertiesClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/Apple.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/MixedPropertiesAndAdditionalPropertiesClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Apple.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/MixedPropertiesAndAdditionalPropertiesClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net48/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net48/src/Org.OpenAPITools/Model/Apple.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net48/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net48/src/Org.OpenAPITools/Model/MixedPropertiesAndAdditionalPropertiesClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/Apple.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/MixedPropertiesAndAdditionalPropertiesClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-unityWebRequest/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Apple.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/MixedPropertiesAndAdditionalPropertiesClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Apple.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/MixedPropertiesAndAdditionalPropertiesClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Model/Category.cs
Labels: Client: C-Sharp, Issue: Bug

#15105 [php-nextgen] Exclude composer.lock from codebase
  modules/openapi-generator/src/main/resources/php-nextgen/gitignore
  samples/client/petstore/php-nextgen/OpenAPIClient-php/.gitignore
Labels: Client: PHP, Enhancement: CI/Test

#15124 [python-nextgen] Add support for union of StrictFloat and StrictInt
  bin/configs/python-nextgen-aiohttp.yaml
  bin/configs/python-nextgen.yaml
  docs/generators/python-nextgen.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonNextgenClientCodegen.java
  modules/openapi-generator/src/test/resources/3_0/echo_api.yaml
  samples/client/echo_api/java/apache-httpclient/.openapi-generator/FILES
  samples/client/echo_api/java/apache-httpclient/README.md
  samples/client/echo_api/java/apache-httpclient/api/openapi.yaml
  samples/client/echo_api/java/apache-httpclient/docs/NumberPropertiesOnly.md
  samples/client/echo_api/java/apache-httpclient/src/main/java/org/openapitools/client/model/NumberPropertiesOnly.java
  samples/client/echo_api/java/apache-httpclient/src/test/java/org/openapitools/client/model/NumberPropertiesOnlyTest.java
  samples/client/echo_api/java/feign-gson/.openapi-generator/FILES
  samples/client/echo_api/java/feign-gson/api/openapi.yaml
  samples/client/echo_api/java/feign-gson/src/main/java/org/openapitools/client/model/NumberPropertiesOnly.java
  samples/client/echo_api/java/feign-gson/src/test/java/org/openapitools/client/model/NumberPropertiesOnlyTest.java
  samples/client/echo_api/java/native/.openapi-generator/FILES
  samples/client/echo_api/java/native/README.md
  samples/client/echo_api/java/native/api/openapi.yaml
  samples/client/echo_api/java/native/docs/NumberPropertiesOnly.md
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/model/NumberPropertiesOnly.java
  samples/client/echo_api/java/native/src/test/java/org/openapitools/client/model/NumberPropertiesOnlyTest.java
  samples/client/echo_api/java/okhttp-gson/.openapi-generator/FILES
  samples/client/echo_api/java/okhttp-gson/README.md
  samples/client/echo_api/java/okhttp-gson/api/openapi.yaml
  samples/client/echo_api/java/okhttp-gson/docs/NumberPropertiesOnly.md
  samples/client/echo_api/java/okhttp-gson/src/main/java/org/openapitools/client/JSON.java
  samples/client/echo_api/java/okhttp-gson/src/main/java/org/openapitools/client/model/NumberPropertiesOnly.java
  samples/client/echo_api/java/okhttp-gson/src/test/java/org/openapitools/client/model/NumberPropertiesOnlyTest.java
  samples/client/echo_api/python-nextgen/.openapi-generator/FILES
  samples/client/echo_api/python-nextgen/README.md
  samples/client/echo_api/python-nextgen/docs/NumberPropertiesOnly.md
  samples/client/echo_api/python-nextgen/openapi_client/__init__.py
  samples/client/echo_api/python-nextgen/openapi_client/models/__init__.py
  samples/client/echo_api/python-nextgen/openapi_client/models/number_properties_only.py
  samples/client/echo_api/python-nextgen/test/test_manual.py
  samples/client/echo_api/python-nextgen/test/test_number_properties_only.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/fake_api.py
Labels: Breaking change (with fallback), Client: Python, Enhancement: Feature

#15125 [java][native] add @override to POJO
  modules/openapi-generator/src/main/resources/Java/libraries/native/pojo.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/model/DataQuery.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/model/Cat.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/model/Dog.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/model/ParentPet.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/model/Cat.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/model/Dog.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/model/ParentPet.java
Labels: Client: Java, Enhancement: General

#15130 [python-nextgen] Add bytearray, none_type as primitive type
  docs/generators/python-nextgen.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonNextgenClientCodegen.java
  samples/client/echo_api/python-nextgen/docs/BodyApi.md
  samples/openapi3/client/petstore/python-nextgen-aiohttp/docs/FakeApi.md
  samples/openapi3/client/petstore/python-nextgen-aiohttp/docs/FormatTest.md
  samples/openapi3/client/petstore/python-nextgen-aiohttp/docs/PetApi.md
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/format_test.py
  samples/openapi3/client/petstore/python-nextgen/docs/FakeApi.md
  samples/openapi3/client/petstore/python-nextgen/docs/FormatTest.md
  samples/openapi3/client/petstore/python-nextgen/docs/PetApi.md
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/format_test.py
Labels: Client: Python, Enhancement: Feature, Feature: Documentation

#15142 [openapi-normalizer] Fix NPE in simplifyOneOfAnyOf
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/test/resources/3_0/simplifyAnyOfStringAndEnumString_test.yaml
  modules/openapi-generator/src/test/resources/3_0/simplifyOneOfAnyOf_test.yaml
Labels: Issue: Bug, OpenAPI Normalizer

#15149 [openapi-normalizer] improve SIMPLIFY_ANYOF_STRING_AND_ENUM_STRING
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/OpenAPINormalizerTest.java
Labels: Enhancement: General, OpenAPI Normalizer

#15170 fix(python-nextgen): Use spec format for authors in pyproject
  modules/openapi-generator/src/main/resources/python-nextgen/pyproject.mustache
  samples/client/echo_api/python-nextgen/pyproject.toml
  samples/openapi3/client/petstore/python-nextgen-aiohttp/pyproject.toml
  samples/openapi3/client/petstore/python-nextgen/pyproject.toml
Labels: Client: Python, Issue: Non-operational

#15167 fix(python-nextgen): dependency incompatibility
  modules/openapi-generator/src/main/resources/python-nextgen/pyproject.mustache
  samples/client/echo_api/python-nextgen/pyproject.toml
  samples/openapi3/client/petstore/python-nextgen-aiohttp/pyproject.toml
  samples/openapi3/client/petstore/python-nextgen/pyproject.toml
Labels: Client: Python, Enhancement: Compatibility

#15157 Added useSwashBuckle condition to discriminator model attributes
  modules/openapi-generator/src/main/resources/aspnetcore/3.0/model.mustache
Labels: Issue: Bug, Server: C-Sharp

#15079 [go-server] Add ability to handle parameters of `number` type
  modules/openapi-generator/src/main/resources/go-server/controller-api.mustache
  modules/openapi-generator/src/main/resources/go-server/routers.mustache
  samples/server/petstore/go-api-server/go/api_pet.go
  samples/server/petstore/go-api-server/go/api_store.go
  samples/server/petstore/go-api-server/go/api_user.go
  samples/server/petstore/go-api-server/go/routers.go
  samples/server/petstore/go-chi-server/go/api_pet.go
  samples/server/petstore/go-chi-server/go/api_store.go
  samples/server/petstore/go-chi-server/go/api_user.go
  samples/server/petstore/go-chi-server/go/routers.go
  samples/server/petstore/go-server-required/go/api_pet.go
  samples/server/petstore/go-server-required/go/api_store.go
  samples/server/petstore/go-server-required/go/api_user.go
  samples/server/petstore/go-server-required/go/routers.go
Labels: Enhancement: General, Server: Go

#15083 [go] Fix: reservedWordsMappings not checked for reserved word
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
Labels: Client: Go, Issue: Bug, Server: Go

#15084 [go-server] Change Routes type from `[]Route` to `map[string]Route`
  modules/openapi-generator/src/main/resources/go-server/controller-api.mustache
  modules/openapi-generator/src/main/resources/go-server/impl.mustache
  modules/openapi-generator/src/main/resources/go-server/routers.mustache
  modules/openapi-generator/src/main/resources/go-server/service.mustache
  samples/server/petstore/go-api-server/go/api_pet.go
  samples/server/petstore/go-api-server/go/api_pet_service.go
  samples/server/petstore/go-api-server/go/api_store.go
  samples/server/petstore/go-api-server/go/api_store_service.go
  samples/server/petstore/go-api-server/go/api_user.go
  samples/server/petstore/go-api-server/go/api_user_service.go
  samples/server/petstore/go-api-server/go/impl.go
  samples/server/petstore/go-api-server/go/routers.go
  samples/server/petstore/go-chi-server/go/api_pet.go
  samples/server/petstore/go-chi-server/go/api_pet_service.go
  samples/server/petstore/go-chi-server/go/api_store.go
  samples/server/petstore/go-chi-server/go/api_store_service.go
  samples/server/petstore/go-chi-server/go/api_user.go
  samples/server/petstore/go-chi-server/go/api_user_service.go
  samples/server/petstore/go-chi-server/go/impl.go
  samples/server/petstore/go-chi-server/go/routers.go
  samples/server/petstore/go-server-required/go/api_pet.go
  samples/server/petstore/go-server-required/go/api_pet_service.go
  samples/server/petstore/go-server-required/go/api_store.go
  samples/server/petstore/go-server-required/go/api_store_service.go
  samples/server/petstore/go-server-required/go/api_user.go
  samples/server/petstore/go-server-required/go/api_user_service.go
  samples/server/petstore/go-server-required/go/impl.go
  samples/server/petstore/go-server-required/go/routers.go
Labels: Enhancement: General, Server: Go

#15189 [python-nextgen] Limit allowed pydantic version range
  modules/openapi-generator/src/main/resources/python-nextgen/pyproject.mustache
  modules/openapi-generator/src/main/resources/python-nextgen/requirements.mustache
  modules/openapi-generator/src/main/resources/python-nextgen/setup.mustache
  samples/client/echo_api/python-nextgen/pyproject.toml
  samples/client/echo_api/python-nextgen/requirements.txt
  samples/client/echo_api/python-nextgen/setup.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/pyproject.toml
  samples/openapi3/client/petstore/python-nextgen-aiohttp/requirements.txt
  samples/openapi3/client/petstore/python-nextgen-aiohttp/setup.py
  samples/openapi3/client/petstore/python-nextgen/pyproject.toml
  samples/openapi3/client/petstore/python-nextgen/requirements.txt
  samples/openapi3/client/petstore/python-nextgen/setup.py
Labels: Client: Python, Enhancement: Compatibility

#15197 [java] Update vertx to newer version 3.5.2
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/vertx/pom.mustache
  samples/client/petstore/java/vertx-no-nullable/build.gradle
  samples/client/petstore/java/vertx-no-nullable/pom.xml
  samples/client/petstore/java/vertx/build.gradle
  samples/client/petstore/java/vertx/pom.xml
Labels: Client: Java, Enhancement: Compatibility

#15087 [go-server] Update dependencies and use generics
  modules/openapi-generator/src/main/resources/go-server/go.mod.mustache
  modules/openapi-generator/src/main/resources/go-server/helpers.mustache
  modules/openapi-generator/src/main/resources/go-server/model.mustache
  samples/server/petstore/go-api-server/go.mod
  samples/server/petstore/go-api-server/go/helpers.go
  samples/server/petstore/go-api-server/go/model_api_response.go
  samples/server/petstore/go-api-server/go/model_category.go
  samples/server/petstore/go-api-server/go/model_order.go
  samples/server/petstore/go-api-server/go/model_pet.go
  samples/server/petstore/go-api-server/go/model_tag.go
  samples/server/petstore/go-api-server/go/model_user.go
  samples/server/petstore/go-chi-server/go.mod
  samples/server/petstore/go-chi-server/go/helpers.go
  samples/server/petstore/go-chi-server/go/model_api_response.go
  samples/server/petstore/go-chi-server/go/model_category.go
  samples/server/petstore/go-chi-server/go/model_order.go
  samples/server/petstore/go-chi-server/go/model_pet.go
  samples/server/petstore/go-chi-server/go/model_tag.go
  samples/server/petstore/go-chi-server/go/model_user.go
  samples/server/petstore/go-server-required/go.mod
  samples/server/petstore/go-server-required/go/helpers.go
  samples/server/petstore/go-server-required/go/model_an_object.go
  samples/server/petstore/go-server-required/go/model_api_response.go
  samples/server/petstore/go-server-required/go/model_category.go
  samples/server/petstore/go-server-required/go/model_order.go
  samples/server/petstore/go-server-required/go/model_order_info.go
  samples/server/petstore/go-server-required/go/model_pet.go
  samples/server/petstore/go-server-required/go/model_special_info.go
  samples/server/petstore/go-server-required/go/model_tag.go
  samples/server/petstore/go-server-required/go/model_user.go
Labels: Enhancement: Compatibility, Server: Go

#15200 Improve Go Github workflow
  .github/workflows/samples-go.yaml
Labels: Enhancement: CI/Test, Server: Go

#15042 allow to specify the useOneOfInterfaces option for java
  docs/generators/groovy.md
  docs/generators/java-camel.md
  docs/generators/java-helidon-client.md
  docs/generators/java-helidon-server.md
  docs/generators/java-inflector.md
  docs/generators/java-micronaut-client.md
  docs/generators/java-micronaut-server.md
  docs/generators/java-msf4j.md
  docs/generators/java-pkmst.md
  docs/generators/java-play-framework.md
  docs/generators/java-undertow-server.md
  docs/generators/java-vertx-web.md
  docs/generators/java-vertx.md
  docs/generators/java.md
  docs/generators/jaxrs-cxf-cdi.md
  docs/generators/jaxrs-cxf-client.md
  docs/generators/jaxrs-cxf-extended.md
  docs/generators/jaxrs-cxf.md
  docs/generators/jaxrs-jersey.md
  docs/generators/jaxrs-resteasy-eap.md
  docs/generators/jaxrs-resteasy.md
  docs/generators/jaxrs-spec.md
  docs/generators/spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
Labels: Client: Java, Server: Java, java

#14965 Jersey2/3 - Probe content type for multipart upload parts
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey3/ApiClient.mustache
  samples/client/petstore/java/jersey2-java8-localdatetime/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey3/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/extensions/x-auth-id-alias/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8-special-characters/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8-swagger1/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: General

#15222 [java] Update undertow to newer version
  modules/openapi-generator/src/main/resources/java-undertow-server/pom.mustache
  samples/server/petstore/java-undertow/dependency-reduced-pom.xml
  samples/server/petstore/java-undertow/pom.xml
Labels: Enhancement: Compatibility, Server: Java

#15223 [ModelUtils] Remove deprecated warning
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
Labels: Enhancement: General

#15224 Better null check in processUseAllOfRefAsParent (openapi normalizer)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
Labels: Enhancement: General, OpenAPI Normalizer

#15225 Minor bug fixes in openapi normalizer
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/OpenAPINormalizerTest.java
  modules/openapi-generator/src/test/resources/3_0/simplifyOneOfAnyOf_test.yaml
Labels: Issue: Bug, OpenAPI Normalizer

#15232 [pub] Add repository and publish_to as configurable option in pubspec.yaml
  docs/generators/dart-dio.md
  docs/generators/dart.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractDartCodegen.java
  modules/openapi-generator/src/main/resources/dart/libraries/dio/pubspec.mustache
  modules/openapi-generator/src/main/resources/dart2/pubspec.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/dart/DartClientOptionsTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/dart/dio/DartDioClientOptionsTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/DartClientOptionsProvider.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/DartDioClientOptionsProvider.java
Labels: Client: Dart, Enhancement: Feature

#15229 [java][jersey] Fix UUID path parameters (#15114)
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey3/api.mustache
Labels: Client: Java, Issue: Bug

#15233 [python-nextgen] Better null check for regular expression validator
  modules/openapi-generator/src/main/resources/python-nextgen/model_generic.mustache
  samples/client/echo_api/python-nextgen/openapi_client/models/default_value.py
  samples/client/echo_api/python-nextgen/openapi_client/models/pet.py
  samples/client/echo_api/python-nextgen/openapi_client/models/query.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/enum_arrays.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/enum_test.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/format_test.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/map_test.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/order.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/pet.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/special_name.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/enum_arrays.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/enum_test.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/format_test.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/map_test.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/order.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/pet.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/special_name.py
  samples/openapi3/client/petstore/python-nextgen/tests/test_model.py
Labels: Client: Python, Issue: Bug

#15230 [java] Fix anyof generics (#15210)
  modules/openapi-generator/src/main/resources/Java/libraries/native/anyof_model.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/oneof_model.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/pojo.mustache
  modules/openapi-generator/src/main/resources/Java/pojo.mustache
Labels: Client: Java, Issue: Bug

#15211 Add workflow for gradle enterprise
  .github/workflows/gradle-enterprise.yaml
  .mvn/extensions.xml
  .mvn/gradle-enterprise.xml
Labels: Enhancement: General

#15234 Fix issue 12341
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModel.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenOperation.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenProperty.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenResponse.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/IJsonSchemaValidationProperties.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/main/resources/JavaSpring/api.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/apiController.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/returnTypes.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/assertions/MethodAssert.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/resources/2_0/issue12341.yaml
  samples/server/petstore/java-undertow/src/main/java/org/openapitools/handler/PathHandlerInterface.java
  samples/server/petstore/springboot-delegate-no-response-entity/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/springboot-delegate-no-response-entity/src/main/java/org/openapitools/api/PetApiDelegate.java
  samples/server/petstore/springboot-delegate-no-response-entity/src/main/java/org/openapitools/api/StoreApi.java
  samples/server/petstore/springboot-delegate-no-response-entity/src/main/java/org/openapitools/api/StoreApiDelegate.java
  samples/server/petstore/springboot-delegate-no-response-entity/src/main/java/org/openapitools/api/UserApi.java
  samples/server/petstore/springboot-delegate-no-response-entity/src/main/java/org/openapitools/api/UserApiDelegate.java
Labels: Server: Spring

#15256 Update mvn in workflow to use Gradle Enterprise
  .github/workflows/check-supported-versions.yaml
  .github/workflows/gradle-enterprise.yaml
  .github/workflows/gradle-plugin-tests.yaml
  .github/workflows/java-helidon-functional-tests.yaml
  .github/workflows/maven-plugin-tests.yaml
  .github/workflows/openapi-generator.yaml
Labels: Enhancement: CI/Test

#15260 [cpp-ue4] Fix multi collection format has duplicated prefix
  modules/openapi-generator/src/main/resources/cpp-ue4/api-operations-source.mustache
Labels: Client: C++, Issue: Bug

#15162 [Ruby] Client: fix base_url when no server_operation_index is defined
  modules/openapi-generator/src/main/resources/ruby-client/configuration.mustache
  samples/client/petstore/ruby-autoload/lib/petstore/configuration.rb
  samples/client/petstore/ruby-faraday/lib/petstore/configuration.rb
  samples/client/petstore/ruby/lib/petstore/configuration.rb
  samples/openapi3/client/extensions/x-auth-id-alias/ruby-client/lib/x_auth_id_alias/configuration.rb
  samples/openapi3/client/features/dynamic-servers/ruby/lib/dynamic_servers/configuration.rb
  samples/openapi3/client/features/generate-alias-as-model/ruby-client/lib/petstore/configuration.rb
Labels: Client: Ruby, Issue: Bug

#15278 [python-nextgen] Fix enum query parameter
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/resources/python-nextgen/api.mustache
  modules/openapi-generator/src/test/resources/3_0/echo_api.yaml
  modules/openapi-generator/src/test/resources/3_0/python/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/client/echo_api/java/apache-httpclient/README.md
  samples/client/echo_api/java/apache-httpclient/api/openapi.yaml
  samples/client/echo_api/java/apache-httpclient/docs/QueryApi.md
  samples/client/echo_api/java/apache-httpclient/src/main/java/org/openapitools/client/api/QueryApi.java
  samples/client/echo_api/java/feign-gson/api/openapi.yaml
  samples/client/echo_api/java/feign-gson/src/main/java/org/openapitools/client/api/QueryApi.java
  samples/client/echo_api/java/native/README.md
  samples/client/echo_api/java/native/api/openapi.yaml
  samples/client/echo_api/java/native/docs/QueryApi.md
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/QueryApi.java
  samples/client/echo_api/java/okhttp-gson/README.md
  samples/client/echo_api/java/okhttp-gson/api/openapi.yaml
  samples/client/echo_api/java/okhttp-gson/docs/QueryApi.md
  samples/client/echo_api/java/okhttp-gson/src/main/java/org/openapitools/client/api/QueryApi.java
  samples/client/echo_api/python-nextgen/README.md
  samples/client/echo_api/python-nextgen/docs/QueryApi.md
  samples/client/echo_api/python-nextgen/openapi_client/api/query_api.py
  samples/client/echo_api/python-nextgen/test/test_manual.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/README.md
  samples/openapi3/client/petstore/python-nextgen-aiohttp/docs/FakeApi.md
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python-nextgen/README.md
  samples/openapi3/client/petstore/python-nextgen/docs/FakeApi.md
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python-nextgen/tests/test_model.py
Labels: Client: Python, Feature: Enum, Issue: Bug

#15276 [openapi-normalizer] Fix nullable boolean check in oneOf schema
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/test/resources/3_0/simplifyOneOfAnyOf_test.yaml
Labels: Issue: Bug, OpenAPI Normalizer

#15048 [Kotlin-Spring] add Kotlin based Spring Cloud OpenFeign generator
  .github/workflows/samples-kotlin-client.yaml
  bin/configs/kotlin-spring-cloud.yaml
  docs/generators/kotlin-spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinSpringServerCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-spring/libraries/spring-cloud/README.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/libraries/spring-cloud/apiClient.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/libraries/spring-cloud/apiKeyRequestInterceptor.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/libraries/spring-cloud/buildGradle-sb3-Kts.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/libraries/spring-cloud/buildGradleKts.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/libraries/spring-cloud/clientConfiguration.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/libraries/spring-cloud/pom-sb3.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/libraries/spring-cloud/pom.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/libraries/spring-cloud/settingsGradle.mustache
  samples/client/petstore/kotlin-spring-cloud/.openapi-generator-ignore
  samples/client/petstore/kotlin-spring-cloud/.openapi-generator/FILES
  samples/client/petstore/kotlin-spring-cloud/.openapi-generator/VERSION
  samples/client/petstore/kotlin-spring-cloud/README.md
  samples/client/petstore/kotlin-spring-cloud/build.gradle.kts
  samples/client/petstore/kotlin-spring-cloud/pom.xml
  samples/client/petstore/kotlin-spring-cloud/settings.gradle
  samples/client/petstore/kotlin-spring-cloud/src/main/kotlin/org/openapitools/api/PetApi.kt
  samples/client/petstore/kotlin-spring-cloud/src/main/kotlin/org/openapitools/api/PetApiClient.kt
  samples/client/petstore/kotlin-spring-cloud/src/main/kotlin/org/openapitools/api/StoreApi.kt
  samples/client/petstore/kotlin-spring-cloud/src/main/kotlin/org/openapitools/api/StoreApiClient.kt
  samples/client/petstore/kotlin-spring-cloud/src/main/kotlin/org/openapitools/api/UserApi.kt
  samples/client/petstore/kotlin-spring-cloud/src/main/kotlin/org/openapitools/api/UserApiClient.kt
  samples/client/petstore/kotlin-spring-cloud/src/main/kotlin/org/openapitools/configuration/ApiKeyRequestInterceptor.kt
  samples/client/petstore/kotlin-spring-cloud/src/main/kotlin/org/openapitools/configuration/ClientConfiguration.kt
  samples/client/petstore/kotlin-spring-cloud/src/main/kotlin/org/openapitools/model/Category.kt
  samples/client/petstore/kotlin-spring-cloud/src/main/kotlin/org/openapitools/model/ModelApiResponse.kt
  samples/client/petstore/kotlin-spring-cloud/src/main/kotlin/org/openapitools/model/Order.kt
  samples/client/petstore/kotlin-spring-cloud/src/main/kotlin/org/openapitools/model/Pet.kt
  samples/client/petstore/kotlin-spring-cloud/src/main/kotlin/org/openapitools/model/Tag.kt
  samples/client/petstore/kotlin-spring-cloud/src/main/kotlin/org/openapitools/model/User.kt
Labels: Enhancement: New generator, Server: Kotlin

#15287 [JAVA] OkHttp-GSON deprecated field only deprecates getter method
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/pojo.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/deprecated-properties.yaml
  samples/client/petstore/java/okhttp-gson-awsv4signature/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/java/okhttp-gson-group-parameter/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/java/okhttp-gson-swagger1/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/ObjectWithDeprecatedFields.java
Labels: Client: Java, Enhancement: General

#15279 [C++][Pistache] Generate API generalization interface
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppPistacheServerCodegen.java
  modules/openapi-generator/src/main/resources/cpp-pistache-server/api-base-header.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/api-header.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/api-source.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/main-api-server.mustache
  samples/server/petstore/cpp-pistache/.openapi-generator/FILES
  samples/server/petstore/cpp-pistache/api/ApiBase.h
  samples/server/petstore/cpp-pistache/api/PetApi.cpp
  samples/server/petstore/cpp-pistache/api/PetApi.h
  samples/server/petstore/cpp-pistache/api/StoreApi.cpp
  samples/server/petstore/cpp-pistache/api/StoreApi.h
  samples/server/petstore/cpp-pistache/api/UserApi.cpp
  samples/server/petstore/cpp-pistache/api/UserApi.h
  samples/server/petstore/cpp-pistache/main-api-server.cpp
Labels: Enhancement: General, Server: C++

#15315 [Spring] fix Paginated without params (fix #15265)
  modules/openapi-generator/src/main/resources/JavaSpring/api.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/apiController.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/apiDelegate.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/spring/petstore-with-fake-endpoints-models-for-testing-with-spring-pageable.yaml
  modules/openapi-generator/src/test/resources/bugs/issue_15265.yaml
  samples/server/petstore/springboot-spring-pageable-delegatePattern-without-j8/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern-without-j8/src/main/java/org/openapitools/api/PetApiDelegate.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern-without-j8/src/main/resources/openapi.yaml
  samples/server/petstore/springboot-spring-pageable-delegatePattern/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern/src/main/java/org/openapitools/api/PetApiDelegate.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern/src/main/resources/openapi.yaml
  samples/server/petstore/springboot-spring-pageable-without-j8/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/springboot-spring-pageable-without-j8/src/main/resources/openapi.yaml
  samples/server/petstore/springboot-spring-pageable/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/springboot-spring-pageable/src/main/resources/openapi.yaml
Labels: Server: Spring

#15332 Update git-commit-id maven plugin to newer version
  modules/openapi-generator/pom.xml
Labels: Enhancement: Compatibility, OpenAPI Generator Maven Plugin

#15337 [python-nextgen] fix to_json, to_dict in handling primitive types
  modules/openapi-generator/src/main/resources/python-nextgen/model_anyof.mustache
  modules/openapi-generator/src/main/resources/python-nextgen/model_oneof.mustache
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/any_of_color.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/any_of_pig.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/color.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/pig.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/any_of_color.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/any_of_pig.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/color.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/pig.py
  samples/openapi3/client/petstore/python-nextgen/tests/test_model.py
Labels: Client: Python, Issue: Bug

#15336 [python-nextgen] fix empty dict in body parameter
  modules/openapi-generator/src/main/resources/python-nextgen/api.mustache
  modules/openapi-generator/src/test/resources/3_0/echo_api.yaml
  samples/client/echo_api/java/apache-httpclient/README.md
  samples/client/echo_api/java/apache-httpclient/api/openapi.yaml
  samples/client/echo_api/java/apache-httpclient/docs/BodyApi.md
  samples/client/echo_api/java/apache-httpclient/src/main/java/org/openapitools/client/api/BodyApi.java
  samples/client/echo_api/java/feign-gson/api/openapi.yaml
  samples/client/echo_api/java/feign-gson/src/main/java/org/openapitools/client/api/BodyApi.java
  samples/client/echo_api/java/native/README.md
  samples/client/echo_api/java/native/api/openapi.yaml
  samples/client/echo_api/java/native/docs/BodyApi.md
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/BodyApi.java
  samples/client/echo_api/java/okhttp-gson/README.md
  samples/client/echo_api/java/okhttp-gson/api/openapi.yaml
  samples/client/echo_api/java/okhttp-gson/docs/BodyApi.md
  samples/client/echo_api/java/okhttp-gson/src/main/java/org/openapitools/client/api/BodyApi.java
  samples/client/echo_api/python-nextgen/README.md
  samples/client/echo_api/python-nextgen/docs/BodyApi.md
  samples/client/echo_api/python-nextgen/openapi_client/api/body_api.py
  samples/client/echo_api/python-nextgen/test/test_manual.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/fake_classname_tags123_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/fake_classname_tags123_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/user_api.py
Labels: Client: Python, Enhancement: CI/Test

#15360 Mark python-nextgen client generator as stable
  docs/generators.md
  docs/generators/python-nextgen.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonNextgenClientCodegen.java
Labels: Client: Python, Enhancement: General
