Repository OpenAPITools/openapi-generator, pull requests merged in 2023-07, with the labels that each got.

#15918 [csharp][generichost] Fix model accessor
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/modelGeneric.mustache
  samples/client/petstore/csharp/OpenAPIClient-generichost-manual-tests/OpenAPIClient-generichost-manual-tests/UnitTest1.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/Fruit.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/FruitReq.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/Mammal.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/NullableShape.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/OneOfString.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/Pig.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/PolymorphicProperty.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/Quadrilateral.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/Shape.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/ShapeOrNull.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/Triangle.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/FruitReq.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Model/Fruit.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/FruitReq.cs
Labels: Client: C-Sharp, Issue: Bug

#15920 [csharp][generichost] Exposed internals to test project
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/Assembly.mustache
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/ClientUtils.mustache
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Client/ClientUtils.cs
Labels: Client: C-Sharp, Enhancement: CI/Test

#15968 [csharp] Rename csharp config files
  bin/configs/csharp-functions-latest.yaml
  bin/configs/csharp-generichost-latest-allOf.yaml
  bin/configs/csharp-generichost-latest-anyOf.yaml
  bin/configs/csharp-generichost-latest-nrt.yaml
  bin/configs/csharp-generichost-latest-oneOf.yaml
  bin/configs/csharp-generichost-latest.yaml
  bin/configs/csharp-generichost-netstandard2.0.yaml
  bin/configs/csharp-httpclient-netstandard2.0.yaml
  bin/configs/csharp-restsharp-net4.7-multipleFrameworks.yaml
  bin/configs/csharp-restsharp-net4.7.yaml
  bin/configs/csharp-restsharp-net4.8.yaml
  bin/configs/csharp-restsharp-net7.0-compareNetObjects.yaml
  bin/configs/csharp-restsharp-net7.0.yaml
  bin/configs/csharp-restsharp-netstandard2.0-complexfiles.yaml
  bin/configs/csharp-restsharp-netstandard2.0-conditionalSerialization.yaml
  bin/configs/csharp-restsharp-netstandard2.0.yaml
  bin/configs/csharp-unityWebRequest-netstandard2.0.yaml
Labels: Client: C-Sharp, Enhancement: CI/Test

#15960 [PHP-Symfony] Fix Symfony warning on OpenAPIServerBundle
  modules/openapi-generator/src/main/resources/php-symfony/Bundle.mustache
  samples/server/petstore/php-symfony/SymfonyBundle-php/OpenAPIServerBundle.php
Labels: Client: PHP, Enhancement: General

#15754 Fix dry-run output and add tests
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DryRunTemplateManager.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DryRunTemplateManagerTest.java
Labels: Feature: Generator, Issue: Bug

#15975 Support vendor extensions on more objects as per the OAS spec
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenDiscriminator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenEncoding.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenMediaType.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenServer.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenServerVariable.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Enhancement: Feature, Feature: Generator

#15581 [GO] Fix value formatting in url with slices
  modules/openapi-generator/src/main/resources/go/api.mustache
  samples/client/petstore/go/go-petstore/api_fake.go
  samples/openapi3/client/petstore/go/fake_api_test.go
  samples/openapi3/client/petstore/go/go-petstore/api_fake.go
Labels: Client: Go, Issue: Bug

#15935 [csharp] [Req#15932] Added support for windows authentication by exposing UseDefaultCredentials property
  modules/openapi-generator/src/main/resources/csharp/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp/Configuration.mustache
  modules/openapi-generator/src/main/resources/csharp/IReadableConfiguration.mustache
  samples/client/others/csharp-complex-files/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/others/csharp-complex-files/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/others/csharp-complex-files/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-net47/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient-net47/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/OpenAPIClient-net47/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-net48/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient-net48/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/OpenAPIClient-net48/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-unityWebRequest/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/OpenAPIClient-unityWebRequest/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClientCore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientCore/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/OpenAPIClientCore/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
Labels: Client: C-Sharp, Enhancement: General

#15601 [go] fix StringIndexOutOfBoundsException while processing recursive model
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
Labels: Client: Go, Issue: Bug

#15984 Bugfix #15982 : Use 'orElse' instead of 'get' toi avoir problem with optional header
  modules/openapi-generator/src/main/resources/JavaPlayFramework/newApiController.mustache
  samples/server/petstore/java-play-framework-api-package-override/app/com/puppies/store/apis/PetApiController.java
  samples/server/petstore/java-play-framework-async/app/controllers/PetApiController.java
  samples/server/petstore/java-play-framework-controller-only/app/controllers/PetApiController.java
  samples/server/petstore/java-play-framework-fake-endpoints/app/controllers/FakeApiController.java
  samples/server/petstore/java-play-framework-fake-endpoints/app/controllers/PetApiController.java
  samples/server/petstore/java-play-framework-no-bean-validation/app/controllers/PetApiController.java
  samples/server/petstore/java-play-framework-no-exception-handling/app/controllers/PetApiController.java
  samples/server/petstore/java-play-framework-no-interface/app/controllers/PetApiController.java
  samples/server/petstore/java-play-framework-no-nullable/app/controllers/PetApiController.java
  samples/server/petstore/java-play-framework-no-swagger-ui/app/controllers/PetApiController.java
  samples/server/petstore/java-play-framework-no-wrap-calls/app/controllers/PetApiController.java
  samples/server/petstore/java-play-framework/app/controllers/PetApiController.java
Labels: Issue: Bug, Server: Java

#15983 fixed date converter for javascript-flowtyped
  modules/openapi-generator/src/main/resources/Javascript-Flowtyped/api.mustache
Labels: Client: JavaScript/Node.js, Issue: Bug

#16015 [csharp] Collect operation parameters to a list instead of set
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/UserApi.cs
Labels: Client: C-Sharp, Enhancement: General

#16003 [default codegen] Remove getPropertyDefaultValue
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Feature: Generator, Enhancement: Code Cleanup

#16008 Add logic to avoid stackoverflow
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_12929.yaml
Labels: Feature: Generator, Issue: Bug

#15979 [csharp-netcore] Enable setting of RemoteCertificateValidationCallback through IReadableConfiguration
  modules/openapi-generator/src/main/resources/csharp/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp/Configuration.mustache
  modules/openapi-generator/src/main/resources/csharp/IReadableConfiguration.mustache
  samples/client/others/csharp-complex-files/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/others/csharp-complex-files/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/others/csharp-complex-files/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-net47/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient-net47/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/OpenAPIClient-net47/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-net48/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient-net48/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/OpenAPIClient-net48/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-unityWebRequest/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/OpenAPIClient-unityWebRequest/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClientCore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientCore/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/OpenAPIClientCore/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
Labels: Client: C-Sharp, Enhancement: General

#16017 [default codegen] remove openapi parameter from method
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/K6ClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
Labels: Feature: Generator, Enhancement: Code Cleanup

#16005 Fix Spring CI sample folder
  .github/workflows/samples-spring-jdk17.yaml
  .github/workflows/samples-spring.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpClientCodegen.java
  samples/openapi3/client/petstore/spring-cloud-3-with-optional/.openapi-generator-ignore
  samples/server/petstore/springboot/.openapi-generator-ignore
Labels: Enhancement: CI/Test, Server: Java, Server: Spring

#15990 [BUG] Change default value for header parameter
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PostmanCollectionCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/postman/PostmanCollectionCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/postman-collection/SampleProject.yaml
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/schema/postman-collection/postman.json
Labels: Enhancement: General, Schema: Postman Collection

#16000 [BUG][Python] Fix syntax error in from_dict call
  modules/openapi-generator/src/main/resources/python/model_generic.mustache
Labels: Client: Python, Issue: Bug

#16037 [csharp] Removed a warning when deserializing json
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/JsonConverter.mustache
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/PolymorphicProperty.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/PolymorphicProperty.cs
Labels: Client: C-Sharp, Enhancement: General

#16038 [csharp][generichost] Version bump
  modules/openapi-generator/src/main/resources/csharp/netcore_project.mustache
  modules/openapi-generator/src/main/resources/csharp/netcore_testproject.mustache
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-net47/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-net48/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-net5.0/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
Labels: Client: C-Sharp, Enhancement: Compatibility

#15997 Zapier generator
  bin/configs/zapier-petstore-new.yaml
  docs/generators.md
  docs/generators/zapier.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ZapierClientCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/zapier/README.mustache
  modules/openapi-generator/src/main/resources/zapier/actions.mustache
  modules/openapi-generator/src/main/resources/zapier/api.mustache
  modules/openapi-generator/src/main/resources/zapier/authentication.mustache
  modules/openapi-generator/src/main/resources/zapier/index.mustache
  modules/openapi-generator/src/main/resources/zapier/model.mustache
  modules/openapi-generator/src/main/resources/zapier/package.mustache
  modules/openapi-generator/src/main/resources/zapier/sample.mustache
  modules/openapi-generator/src/main/resources/zapier/utils.mustache
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/zapier/.openapi-generator-ignore
  samples/client/petstore/zapier/.openapi-generator/FILES
  samples/client/petstore/zapier/.openapi-generator/VERSION
  samples/client/petstore/zapier/README.md
  samples/client/petstore/zapier/apis/PetApi.js
  samples/client/petstore/zapier/apis/StoreApi.js
  samples/client/petstore/zapier/apis/UserApi.js
  samples/client/petstore/zapier/authentication.js
  samples/client/petstore/zapier/index.js
  samples/client/petstore/zapier/models/ApiResponse.js
  samples/client/petstore/zapier/models/Category.js
  samples/client/petstore/zapier/models/Order.js
  samples/client/petstore/zapier/models/Pet.js
  samples/client/petstore/zapier/models/Tag.js
  samples/client/petstore/zapier/models/User.js
  samples/client/petstore/zapier/operations/actions.js
  samples/client/petstore/zapier/package.json
  samples/client/petstore/zapier/samples/PetApi.js
  samples/client/petstore/zapier/samples/StoreApi.js
  samples/client/petstore/zapier/samples/UserApi.js
  samples/client/petstore/zapier/utils/utils.js
Labels: Enhancement: New generator, Client: Zapier

#16035 Better inline schema naming for double byte characters
  modules/openapi-generator/src/main/java/org/openapitools/codegen/InlineModelResolver.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpDataTransferClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpMezzioPathHandlerServerCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/InlineModelResolverTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/confluencewiki/ConfluenceWikiTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/cpptiny/CppTinyBaseTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/cpptiny/CppTinyServiceServiceTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaInheritanceTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaModelEnumTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/AbstractKotlinCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/scala/ScalaGatlingCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/swift5/Swift5ModelEnumTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/swift5/Swift5ModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/TypeScriptClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/TypeScriptClientModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/fetch/TypeScriptFetchModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/typescriptangular/TypeScriptAngularClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/typescriptangular/TypeScriptAngularModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/typescriptnestjs/TypeScriptNestjsModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/typescriptnode/TypeScriptNodeClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/validations/oas/OpenApiSchemaValidationsTest.java
  modules/openapi-generator/src/test/resources/3_0/inline_model_resolver.yaml
Labels: Enhancement: General, Inline Schema Handling

#15944 [BUGFIX][kotlin-spring] Fix generatedAnnotation to use the javaxPackage variable instead of jakarta to fix spring boot 2 codegen
  modules/openapi-generator/src/main/resources/kotlin-spring/generatedAnnotation.mustache
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/SpringDocConfiguration.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/api/PetApiController.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/api/PetApiDelegate.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/api/StoreApiController.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/api/StoreApiDelegate.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/api/UserApiController.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/api/UserApiDelegate.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/SpringDocConfiguration.kt
  samples/server/petstore/kotlin-springboot-springfox/src/main/kotlin/org/openapitools/SpringFoxConfiguration.kt
Labels: Issue: Bug, Server: Kotlin, Server: Spring

#15981 [Dart] Update CI
  .github/workflows/samples-dart.yaml
  samples/openapi3/client/petstore/dart-dio/oneof/pom.xml
  samples/openapi3/client/petstore/dart-dio/oneof_polymorphism_and_inheritance/pom.xml
  samples/openapi3/client/petstore/dart-dio/oneof_primitive/pom.xml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/pom.xml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/pom.xml
Labels: Client: Dart, Enhancement: CI/Test

#16045 [kotlin][spring] Remove EOL from template
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinSpringServerCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-spring/generatedAnnotation.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/KotlinClientCodegenModelTest.java
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/SpringDocConfiguration.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/api/PetApiController.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/api/PetApiDelegate.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/api/StoreApiController.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/api/StoreApiDelegate.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/api/UserApiController.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/api/UserApiDelegate.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/SpringDocConfiguration.kt
  samples/server/petstore/kotlin-springboot-springfox/src/main/kotlin/org/openapitools/SpringFoxConfiguration.kt
Labels: Enhancement: Code format, Server: Kotlin

#16033 [inline model resolver] Add support for inline enum refactoring
  docs/customization.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/InlineModelResolver.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/InlineModelResolverTest.java
  modules/openapi-generator/src/test/resources/3_0/inline_model_resolver.yaml
Labels: Enhancement: Feature, Inline Schema Handling

#16044 Minor improvements to Zapier client generator
  README.md
  bin/configs/zapier-petstore.yaml
  docs/generators.md
  docs/generators/zapier.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ZapierClientCodegen.java
Labels: Enhancement: General, Client: Zapier

#16057 [csharp][generichost] Added event for errors
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpClientCodegen.java
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/ExceptionEventArgs.mustache
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/OnErrorDefaultImplementation.mustache
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/api.mustache
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/.openapi-generator/FILES
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Client/ExceptionEventArgs.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/.openapi-generator/FILES
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Client/ExceptionEventArgs.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-allOf/.openapi-generator/FILES
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Client/ExceptionEventArgs.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-anyOf/.openapi-generator/FILES
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Client/ExceptionEventArgs.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-oneOf/.openapi-generator/FILES
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Client/ExceptionEventArgs.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/.openapi-generator/FILES
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Client/ExceptionEventArgs.cs
Labels: Client: C-Sharp, Enhancement: General

#16043 [default codegen] Fix isMap
  modules/openapi-generator/src/main/java/org/openapitools/codegen/IJsonSchemaValidationProperties.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/javascript/JavascriptClientCodegenTest.java
  samples/client/echo_api/java/apache-httpclient/docs/QueryApi.md
  samples/client/echo_api/java/native/docs/QueryApi.md
  samples/client/echo_api/java/okhttp-gson/docs/QueryApi.md
  samples/client/echo_api/python/docs/QueryApi.md
  samples/client/echo_api/python/openapi_client/api/query_api.py
  samples/openapi3/client/petstore/go/go-petstore/docs/FakeAPI.md
Labels: Feature: Generator, Issue: Bug

#16048 Rename inlineSchemaNameDefaults to inlineSchemaOptions
  docs/customization.md
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/ConfigHelp.java
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/config/GeneratorSettings.java
  modules/openapi-generator-gradle-plugin/README.adoc
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/OpenApiGeneratorPlugin.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/extensions/OpenApiGeneratorGenerateExtension.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
  modules/openapi-generator-maven-plugin/README.md
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConfig.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/InlineModelResolver.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfigurator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfiguratorUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/InlineModelResolverTest.java
Labels: Breaking change (with fallback), Enhancement: General, Inline Schema Handling

#16012 PHP - Permit to customize more composer.json parts
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPhpCodegen.java
  modules/openapi-generator/src/main/resources/php/composer.mustache
Labels: Client: PHP, Enhancement: Feature

#16078 Update php options for better customization of composer.json
  docs/generators/php-dt.md
  docs/generators/php-laravel.md
  docs/generators/php-lumen.md
  docs/generators/php-mezzio-ph.md
  docs/generators/php-slim-deprecated.md
  docs/generators/php-slim4.md
  docs/generators/php-symfony.md
  docs/generators/php.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPhpCodegen.java
  modules/openapi-generator/src/main/resources/php-dt-modern/composer.json.mustache
  modules/openapi-generator/src/main/resources/php-dt/composer.json.mustache
  modules/openapi-generator/src/main/resources/php-laravel/composer.mustache
  modules/openapi-generator/src/main/resources/php-lumen/composer.mustache
  modules/openapi-generator/src/main/resources/php-mezzio-ph-modern/composer.json.mustache
  modules/openapi-generator/src/main/resources/php-mezzio-ph/composer.json.mustache
  modules/openapi-generator/src/main/resources/php-slim4-server/composer.mustache
  modules/openapi-generator/src/main/resources/php-symfony/composer.mustache
  modules/openapi-generator/src/main/resources/php/composer.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/lumen/PhpLumenServerOptionsTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/PhpClientOptionsProvider.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/PhpLumenServerOptionsProvider.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/PhpSlim4ServerOptionsProvider.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/PhpSlimServerOptionsProvider.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/php/PhpClientOptionsTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/slim4/PhpSlim4ServerOptionsTest.java
  samples/client/petstore/php-dt-modern/composer.json
  samples/client/petstore/php-dt/composer.json
  samples/client/petstore/php/OpenAPIClient-php/composer.json
  samples/server/petstore/php-laravel/lib/composer.json
  samples/server/petstore/php-lumen/lib/composer.json
  samples/server/petstore/php-mezzio-ph-modern/composer.json
  samples/server/petstore/php-mezzio-ph/composer.json
  samples/server/petstore/php-slim4/composer.json
  samples/server/petstore/php-symfony/SymfonyBundle-php/composer.json
Labels: Client: PHP, Enhancement: Feature, Server: PHP

#16039 [csharp][generichost] Removed warnings in HTTP signing config
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/HttpSigningConfiguration.mustache
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
Labels: Client: C-Sharp, Enhancement: General

#16011 Add new OAuth2RequestInterceptor to remove deprecated open feign classes
  docs/generators/java-camel.md
  docs/generators/spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-cloud/clientConfiguration.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-cloud/clientPropertiesConfiguration.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-cloud/oauth2ClientProperties.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-cloud/pom-sb3.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-cloud/pom.mustache
  samples/client/petstore/spring-cloud-date-time/pom.xml
  samples/client/petstore/spring-cloud-feign-without-url/.openapi-generator/FILES
  samples/client/petstore/spring-cloud-feign-without-url/pom.xml
  samples/client/petstore/spring-cloud-feign-without-url/src/main/java/org/openapitools/configuration/ClientConfiguration.java
  samples/client/petstore/spring-cloud-feign-without-url/src/main/java/org/openapitools/configuration/ClientPropertiesConfiguration.java
  samples/client/petstore/spring-cloud-feign-without-url/src/main/resources/oauth2-client.properties
  samples/client/petstore/spring-cloud-tags/pom.xml
  samples/client/petstore/spring-cloud/.openapi-generator/FILES
  samples/client/petstore/spring-cloud/pom.xml
  samples/client/petstore/spring-cloud/src/main/java/org/openapitools/configuration/ClientConfiguration.java
  samples/client/petstore/spring-cloud/src/main/java/org/openapitools/configuration/ClientPropertiesConfiguration.java
  samples/client/petstore/spring-cloud/src/main/resources/oauth2-client.properties
  samples/openapi3/client/petstore/spring-cloud-3-with-optional/.openapi-generator/FILES
  samples/openapi3/client/petstore/spring-cloud-3-with-optional/pom.xml
  samples/openapi3/client/petstore/spring-cloud-3-with-optional/src/main/java/org/openapitools/configuration/ClientConfiguration.java
  samples/openapi3/client/petstore/spring-cloud-3-with-optional/src/main/java/org/openapitools/configuration/ClientPropertiesConfiguration.java
  samples/openapi3/client/petstore/spring-cloud-3-with-optional/src/main/resources/oauth2-client.properties
  samples/openapi3/client/petstore/spring-cloud-3/.openapi-generator/FILES
  samples/openapi3/client/petstore/spring-cloud-3/pom.xml
  samples/openapi3/client/petstore/spring-cloud-3/src/main/java/org/openapitools/configuration/ClientConfiguration.java
  samples/openapi3/client/petstore/spring-cloud-3/src/main/java/org/openapitools/configuration/ClientPropertiesConfiguration.java
  samples/openapi3/client/petstore/spring-cloud-3/src/main/resources/oauth2-client.properties
  samples/openapi3/client/petstore/spring-cloud-async/.openapi-generator/FILES
  samples/openapi3/client/petstore/spring-cloud-async/pom.xml
  samples/openapi3/client/petstore/spring-cloud-async/src/main/java/org/openapitools/configuration/ClientConfiguration.java
  samples/openapi3/client/petstore/spring-cloud-async/src/main/java/org/openapitools/configuration/ClientPropertiesConfiguration.java
  samples/openapi3/client/petstore/spring-cloud-async/src/main/resources/oauth2-client.properties
  samples/openapi3/client/petstore/spring-cloud-date-time/pom.xml
  samples/openapi3/client/petstore/spring-cloud-oas3-fakeapi/pom.xml
  samples/openapi3/client/petstore/spring-cloud-spring-pageable/.openapi-generator/FILES
  samples/openapi3/client/petstore/spring-cloud-spring-pageable/pom.xml
  samples/openapi3/client/petstore/spring-cloud-spring-pageable/src/main/java/org/openapitools/configuration/ClientConfiguration.java
  samples/openapi3/client/petstore/spring-cloud-spring-pageable/src/main/java/org/openapitools/configuration/ClientPropertiesConfiguration.java
  samples/openapi3/client/petstore/spring-cloud-spring-pageable/src/main/resources/oauth2-client.properties
  samples/openapi3/client/petstore/spring-cloud/pom.xml
Labels: Breaking change (without fallback), Server: Spring

#16080 [C++][Pistache] Serialize integer enums if possible
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-source.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-struct-source.mustache
Labels: Enhancement: Feature, Feature: Enum, Server: C++

#16050 Fixed problem with non-ref-enums which were handled like ref-enums
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
Labels: Feature: Enum, Issue: Bug

#16089 [Julia] add Julia tests to GitHub workflow
  .github/workflows/samples-julia.yaml
  bin/configs/julia-client-petstore-new.yaml
  bin/configs/julia-server-petstore-new.yaml
  samples/client/petstore/julia/src/PetStoreClient.jl
  samples/server/petstore/julia/src/PetStoreServer.jl
Labels: Client: Julia, Enhancement: CI/Test, Server: Julia

#16084 [C#] minor refactoring
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  samples/client/petstore/csharp/OpenAPIClient-ConditionalSerialization/docs/FakeApi.md
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/docs/apis/FakeApi.md
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/docs/apis/FakeApi.md
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/docs/apis/FakeApi.md
  samples/client/petstore/csharp/OpenAPIClient-httpclient/docs/FakeApi.md
  samples/client/petstore/csharp/OpenAPIClient-net47/docs/FakeApi.md
  samples/client/petstore/csharp/OpenAPIClient-net48/docs/FakeApi.md
  samples/client/petstore/csharp/OpenAPIClient-net5.0/docs/FakeApi.md
  samples/client/petstore/csharp/OpenAPIClient-unityWebRequest/docs/FakeApi.md
  samples/client/petstore/csharp/OpenAPIClient/docs/FakeApi.md
  samples/client/petstore/csharp/OpenAPIClientCore/docs/FakeApi.md
Labels: Client: C-Sharp, Enhancement: Code Cleanup

#16085 Add isJson, isXml to consumes, produces
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaCamelServerCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/javascript/JavascriptClientCodegenTest.java
  samples/server/petstore/java-undertow/src/main/java/org/openapitools/handler/PathHandlerInterface.java
Labels: Enhancement: Feature, Feature: Generator

#16096 Fix allOf with a single $ref
  modules/openapi-generator/src/main/java/org/openapitools/codegen/InlineModelResolver.java
  modules/openapi-generator/src/test/resources/3_0/java/petstore-with-fake-endpoints-models-for-testing-okhttp-gson.yaml
  samples/client/petstore/java/okhttp-gson/.openapi-generator/FILES
  samples/client/petstore/java/okhttp-gson/README.md
  samples/client/petstore/java/okhttp-gson/api/openapi.yaml
  samples/client/petstore/java/okhttp-gson/docs/NewPet.md
  samples/client/petstore/java/okhttp-gson/docs/NewPetCategoryInlineAllof.md
  samples/client/petstore/java/okhttp-gson/docs/NewPetCategoryInlineAllofAllOfCategoryTag.md
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/NewPet.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/NewPetCategoryInlineAllof.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/NewPetCategoryInlineAllofAllOfCategoryTag.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/model/NewPetCategoryInlineAllofAllOfCategoryTagTest.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/model/NewPetCategoryInlineAllofTest.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/model/NewPetTest.java
Labels: Issue: Bug, Inline Schema Handling

#16102 [csharp] Faster logic to patch parameters
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  samples/client/others/csharp-complex-files/docs/MultipartApi.md
  samples/client/others/csharp-complex-files/src/Org.OpenAPITools/Api/MultipartApi.cs
Labels: Client: C-Sharp, Enhancement: Performance

#16101 [Ada] Fix and improvement of client and server code generator (#16100)
  docs/generators/ada.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractAdaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AdaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AdaServerCodegen.java
  modules/openapi-generator/src/main/resources/Ada/client-body.mustache
  modules/openapi-generator/src/main/resources/Ada/client-spec.mustache
  modules/openapi-generator/src/main/resources/Ada/client.mustache
  modules/openapi-generator/src/main/resources/Ada/gnat-project.mustache
  modules/openapi-generator/src/main/resources/Ada/model-body.mustache
  modules/openapi-generator/src/main/resources/Ada/model-spec.mustache
  modules/openapi-generator/src/main/resources/Ada/server-body.mustache
  modules/openapi-generator/src/main/resources/Ada/server-skeleton-body.mustache
  modules/openapi-generator/src/main/resources/Ada/server-skeleton-spec.mustache
  modules/openapi-generator/src/main/resources/Ada/server-spec.mustache
  samples/client/petstore/ada/.openapi-generator/VERSION
  samples/client/petstore/ada/src/client/samples-petstore-clients.adb
  samples/client/petstore/ada/src/client/samples-petstore-clients.ads
  samples/client/petstore/ada/src/model/samples-petstore-models.adb
  samples/client/petstore/ada/src/model/samples-petstore-models.ads
  samples/client/petstore/ada/src/petstore.adb
  samples/client/petstore/ada/src/samples-petstore-client.adb
Labels: Client: Ada, Enhancement: General, Issue: Bug, Server: Ada

#16103 Add nameMapping option to Java client, server generators
  bin/configs/java-okhttp-gson.yaml
  docs/customization.md
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/ConfigHelp.java
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/config/GeneratorSettings.java
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/extensions/OpenApiGeneratorGenerateExtension.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConfig.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfigurator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfiguratorUtils.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/resources/3_0/java/petstore-with-fake-endpoints-models-for-testing-okhttp-gson.yaml
  modules/openapi-generator/src/test/resources/3_0/property_name_collision.yaml
  samples/client/petstore/java/okhttp-gson/.openapi-generator/FILES
  samples/client/petstore/java/okhttp-gson/README.md
  samples/client/petstore/java/okhttp-gson/api/openapi.yaml
  samples/client/petstore/java/okhttp-gson/docs/PropertyNameCollision.md
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/PropertyNameCollision.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/JSONTest.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/model/PropertyNameCollisionTest.java
Labels: Client: Java, Enhancement: Feature, Feature: Generator, Server: Java

#16106 [csharp] Added equatable option
  docs/generators/csharp.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/mustache/FirstLambda.java
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/ImplementsIEquatable.mustache
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/ImplementsValidatable.mustache
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/modelGeneric.mustache
  modules/openapi-generator/src/main/resources/csharp/modelAnyOf.mustache
  modules/openapi-generator/src/main/resources/csharp/modelGeneric.mustache
  modules/openapi-generator/src/main/resources/csharp/modelOneOf.mustache
  samples/client/petstore/csharp/OpenAPIClient-unityWebRequest/src/Org.OpenAPITools/Model/Fruit.cs
  samples/client/petstore/csharp/OpenAPIClient-unityWebRequest/src/Org.OpenAPITools/Model/FruitReq.cs
  samples/client/petstore/csharp/OpenAPIClient-unityWebRequest/src/Org.OpenAPITools/Model/Mammal.cs
  samples/client/petstore/csharp/OpenAPIClient-unityWebRequest/src/Org.OpenAPITools/Model/NullableShape.cs
  samples/client/petstore/csharp/OpenAPIClient-unityWebRequest/src/Org.OpenAPITools/Model/OneOfString.cs
  samples/client/petstore/csharp/OpenAPIClient-unityWebRequest/src/Org.OpenAPITools/Model/Pig.cs
  samples/client/petstore/csharp/OpenAPIClient-unityWebRequest/src/Org.OpenAPITools/Model/PolymorphicProperty.cs
  samples/client/petstore/csharp/OpenAPIClient-unityWebRequest/src/Org.OpenAPITools/Model/Quadrilateral.cs
  samples/client/petstore/csharp/OpenAPIClient-unityWebRequest/src/Org.OpenAPITools/Model/Shape.cs
  samples/client/petstore/csharp/OpenAPIClient-unityWebRequest/src/Org.OpenAPITools/Model/ShapeOrNull.cs
  samples/client/petstore/csharp/OpenAPIClient-unityWebRequest/src/Org.OpenAPITools/Model/Triangle.cs
Labels: Client: C-Sharp, Enhancement: Feature

#16072 Fix properties being required and nullable:true
  modules/openapi-generator/src/main/resources/kotlin-spring/dataClassReqVar.mustache
Labels: Client: Kotlin, Issue: Bug

#16118 Minor code enhancement in Abstract Julia Codegen
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJuliaCodegen.java
Labels: Client: Julia, Enhancement: Code Cleanup, Server: Julia

#16108 Remove php slim generator (deprecated)
  docs/generators.md
  docs/generators/php-slim-deprecated.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSlimServerCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/php-slim-server/.htaccess
  modules/openapi-generator/src/main/resources/php-slim-server/README.mustache
  modules/openapi-generator/src/main/resources/php-slim-server/SlimRouter.mustache
  modules/openapi-generator/src/main/resources/php-slim-server/abstract_authenticator.mustache
  modules/openapi-generator/src/main/resources/php-slim-server/api.mustache
  modules/openapi-generator/src/main/resources/php-slim-server/api_test.mustache
  modules/openapi-generator/src/main/resources/php-slim-server/composer.mustache
  modules/openapi-generator/src/main/resources/php-slim-server/gitignore
  modules/openapi-generator/src/main/resources/php-slim-server/index.mustache
  modules/openapi-generator/src/main/resources/php-slim-server/model.mustache
  modules/openapi-generator/src/main/resources/php-slim-server/model_test.mustache
  modules/openapi-generator/src/main/resources/php-slim-server/phpcs.xml.mustache
  modules/openapi-generator/src/main/resources/php-slim-server/phpunit.xml.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/slim/PhpSlimServerCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/slim/PhpSlimServerOptionsTest.java
Labels: Server: PHP, Decommission

#16121 Zapier generator api template improvement
  modules/openapi-generator/src/main/resources/zapier/api.mustache
  samples/client/petstore/zapier/apis/PetApi.js
  samples/client/petstore/zapier/apis/StoreApi.js
  samples/client/petstore/zapier/apis/UserApi.js
Labels: Enhancement: General, Client: Zapier

#16126 Code clean up for go server, jaxrs-cxf generators
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaCXFServerCodegen.java
Labels: Server: Go, Server: Java, Enhancement: Code Cleanup

#16127 Add support for isFreeFormObject flag
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModel.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenProperty.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenResponse.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/IJsonSchemaValidationProperties.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/any_type.yaml
Labels: Enhancement: Feature, Feature: Generator

#16128 [C#][restsharp] Removed warnings in HTTP signing config
  modules/openapi-generator/src/main/resources/csharp/HttpSigningConfiguration.mustache
  samples/client/petstore/csharp/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-net47/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-net48/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-unityWebRequest/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClientCore/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
Labels: Client: C-Sharp, Enhancement: Code format, Enhancement: General

#16129 [C#][restsharp] Fixed bug in http signing config
  modules/openapi-generator/src/main/resources/csharp/HttpSigningConfiguration.mustache
  samples/client/petstore/csharp/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-net47/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-net48/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-unityWebRequest/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClientCore/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
Labels: Issue: Bug, Client: C#

#16120 Add name mapping support to python generators
  bin/configs/python.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonCodegen.java
  modules/openapi-generator/src/test/resources/3_0/python/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/openapi3/client/petstore/python-aiohttp/.openapi-generator/FILES
  samples/openapi3/client/petstore/python-aiohttp/README.md
  samples/openapi3/client/petstore/python-aiohttp/docs/PropertyNameCollision.md
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/__init__.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/__init__.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/property_name_collision.py
  samples/openapi3/client/petstore/python-aiohttp/test/test_property_name_collision.py
  samples/openapi3/client/petstore/python/.openapi-generator/FILES
  samples/openapi3/client/petstore/python/README.md
  samples/openapi3/client/petstore/python/docs/PropertyNameCollision.md
  samples/openapi3/client/petstore/python/petstore_api/__init__.py
  samples/openapi3/client/petstore/python/petstore_api/models/__init__.py
  samples/openapi3/client/petstore/python/petstore_api/models/property_name_collision.py
  samples/openapi3/client/petstore/python/test/test_property_name_collision.py
Labels: Client: Python, Enhancement: Feature

#16137 Add tests for oneOf models in ruby client
  bin/configs/ruby.yaml
  modules/openapi-generator/src/test/resources/3_0/ruby/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/client/petstore/ruby/.openapi-generator/FILES
  samples/client/petstore/ruby/README.md
  samples/client/petstore/ruby/docs/Mammal.md
  samples/client/petstore/ruby/docs/MammalWithoutDiscriminator.md
  samples/client/petstore/ruby/docs/Whale.md
  samples/client/petstore/ruby/docs/Zebra.md
  samples/client/petstore/ruby/lib/petstore.rb
  samples/client/petstore/ruby/lib/petstore/models/mammal.rb
  samples/client/petstore/ruby/lib/petstore/models/mammal_without_discriminator.rb
  samples/client/petstore/ruby/lib/petstore/models/whale.rb
  samples/client/petstore/ruby/lib/petstore/models/zebra.rb
  samples/client/petstore/ruby/spec/custom/model_spec.rb
  samples/client/petstore/ruby/spec/models/mammal_spec.rb
  samples/client/petstore/ruby/spec/models/mammal_without_discriminator_spec.rb
  samples/client/petstore/ruby/spec/models/whale_spec.rb
  samples/client/petstore/ruby/spec/models/zebra_spec.rb
Labels: Client: Ruby, Enhancement: CI/Test

#16149 [Julia] correct handling of POST data encodings
  modules/openapi-generator/src/main/resources/julia-client/api.mustache
  modules/openapi-generator/src/main/resources/julia-server/api.mustache
  samples/client/petstore/julia/src/apis/api_PetApi.jl
  samples/server/petstore/julia/src/apis/api_PetApi.jl
Labels: Client: Julia, Enhancement: General

#16122 [csharp] Update RestSharp to 110.2.0
  modules/openapi-generator/src/main/resources/csharp/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp/auth/OAuthAuthenticator.mustache
  modules/openapi-generator/src/main/resources/csharp/netcore_project.mustache
  modules/openapi-generator/src/main/resources/csharp/nuspec.mustache
  samples/client/echo_api/csharp-restsharp/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/echo_api/csharp-restsharp/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/others/csharp-complex-files/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/others/csharp-complex-files/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/Auth/OAuthAuthenticator.cs
  samples/client/petstore/csharp/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-net47/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient-net47/src/Org.OpenAPITools/Client/Auth/OAuthAuthenticator.cs
  samples/client/petstore/csharp/OpenAPIClient-net47/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-net48/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient-net48/src/Org.OpenAPITools/Client/Auth/OAuthAuthenticator.cs
  samples/client/petstore/csharp/OpenAPIClient-net48/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/Auth/OAuthAuthenticator.cs
  samples/client/petstore/csharp/OpenAPIClient-net5.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Client/Auth/OAuthAuthenticator.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClientCore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientCore/src/Org.OpenAPITools/Client/Auth/OAuthAuthenticator.cs
  samples/client/petstore/csharp/OpenAPIClientCore/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Client/Auth/OAuthAuthenticator.cs
  samples/client/petstore/csharp/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Org.OpenAPITools.csproj
Labels: Client: C-Sharp, Enhancement: Compatibility

#16142 [haskell] fix exampe code in generated README.md
  modules/openapi-generator/src/main/resources/haskell-servant/README.mustache
  samples/server/petstore/haskell-servant/README.md
Labels: Enhancement: Feature, Feature: Documentation, Server: Haskell

#16154 Add oneOf lookup option (doc) in python client generator
  docs/generators/python.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
Labels: Client: Python, Enhancement: Feature, Feature: Documentation

#16157 [csharp][generichost] Removed incorrect cast
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/EnumValueDataType.mustache
  modules/openapi-generator/src/main/resources/csharp/modelEnum.mustache
  modules/openapi-generator/src/main/resources/csharp/modelInnerEnum.mustache
Labels: Client: C-Sharp, Enhancement: General

#16109 Support nameMapping in abstract typescript codegen
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractTypeScriptClientCodegen.java
Labels: Client: TypeScript, Enhancement: Feature, Server: TypeScript

#16152 [Julia] update samples test and a minor fix
  .github/workflows/samples-julia.yaml
  bin/configs/julia-client-petstore-new.yaml
  bin/configs/julia-server-petstore-new.yaml
  modules/openapi-generator/src/main/resources/julia-server/api.mustache
  samples/client/petstore/julia/.openapi-generator/FILES
  samples/client/petstore/julia/README.md
  samples/client/petstore/julia/src/OpenAPIGenPetStoreClient.jl
  samples/server/petstore/julia/.openapi-generator/FILES
  samples/server/petstore/julia/README.md
  samples/server/petstore/julia/src/OpenAPIGenPetStoreServer.jl
Labels: Issue: Bug, Server: Julia

#16169 Fix parsing of Accept header like '*/*;q=0.8'
  modules/openapi-generator/src/main/resources/php-symfony/Controller.mustache
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/Controller.php
Labels: Issue: Bug, Server: PHP

#16160 Add parameter name mappings option
  bin/configs/java-okhttp-gson.yaml
  docs/customization.md
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/ConfigHelp.java
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/config/GeneratorSettings.java
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/extensions/OpenApiGeneratorGenerateExtension.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConfig.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfigurator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfiguratorUtils.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonCodegen.java
  modules/openapi-generator/src/test/resources/3_0/java/petstore-with-fake-endpoints-models-for-testing-okhttp-gson.yaml
  samples/client/petstore/java/okhttp-gson/README.md
  samples/client/petstore/java/okhttp-gson/api/openapi.yaml
  samples/client/petstore/java/okhttp-gson/docs/FakeApi.md
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/FakeApi.java
Labels: Client: Java, Enhancement: Feature, Feature: Generator, Server: Java

#16094 [Java][Native] Fix multipart builder files array (#16055)
  modules/openapi-generator/src/main/resources/Java/libraries/native/api.mustache
  modules/openapi-generator/src/test/resources/3_0/echo_api.yaml
  samples/client/echo_api/java/apache-httpclient/README.md
  samples/client/echo_api/java/apache-httpclient/api/openapi.yaml
  samples/client/echo_api/java/apache-httpclient/docs/BodyApi.md
  samples/client/echo_api/java/apache-httpclient/src/main/java/org/openapitools/client/api/BodyApi.java
  samples/client/echo_api/java/feign-gson/api/openapi.yaml
  samples/client/echo_api/java/feign-gson/src/main/java/org/openapitools/client/api/BodyApi.java
  samples/client/echo_api/java/native/README.md
  samples/client/echo_api/java/native/api/openapi.yaml
  samples/client/echo_api/java/native/docs/BodyApi.md
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/BodyApi.java
  samples/client/echo_api/java/native/src/test/java/org/openapitools/client/CustomTest.java
  samples/client/echo_api/java/okhttp-gson/README.md
  samples/client/echo_api/java/okhttp-gson/api/openapi.yaml
  samples/client/echo_api/java/okhttp-gson/docs/BodyApi.md
  samples/client/echo_api/java/okhttp-gson/src/main/java/org/openapitools/client/api/BodyApi.java
  samples/client/echo_api/python/README.md
  samples/client/echo_api/python/docs/BodyApi.md
  samples/client/echo_api/python/openapi_client/api/body_api.py
Labels: Client: Java, Issue: Bug

#16144 [Ruby] Fix Operation Servers
  modules/openapi-generator/src/main/resources/ruby-client/configuration.mustache
  samples/client/petstore/ruby-autoload/lib/petstore/configuration.rb
  samples/client/petstore/ruby-faraday/lib/petstore/configuration.rb
  samples/client/petstore/ruby-faraday/spec/custom/configuration_spec.rb
  samples/client/petstore/ruby/lib/petstore/configuration.rb
  samples/client/petstore/ruby/spec/custom/configuration_spec.rb
  samples/openapi3/client/extensions/x-auth-id-alias/ruby-client/lib/x_auth_id_alias/configuration.rb
  samples/openapi3/client/features/dynamic-servers/ruby/lib/dynamic_servers/configuration.rb
  samples/openapi3/client/features/generate-alias-as-model/ruby-client/lib/petstore/configuration.rb
Labels: Client: Ruby

#16156 [typescript-angular] Add samples with composed schemas
  bin/configs/typescript-angular-composed-schemas-tagged-unions.yaml
  bin/configs/typescript-angular-composed-schemas.yaml
  modules/openapi-generator/src/test/resources/3_0/typescript-angular/composed-schemas.yaml
  pom.xml
  samples/client/others/typescript-angular/.gitignore
  samples/client/others/typescript-angular/builds/composed-schemas-tagged-unions/.gitignore
  samples/client/others/typescript-angular/builds/composed-schemas-tagged-unions/.openapi-generator-ignore
  samples/client/others/typescript-angular/builds/composed-schemas-tagged-unions/.openapi-generator/FILES
  samples/client/others/typescript-angular/builds/composed-schemas-tagged-unions/.openapi-generator/VERSION
  samples/client/others/typescript-angular/builds/composed-schemas-tagged-unions/README.md
  samples/client/others/typescript-angular/builds/composed-schemas-tagged-unions/api.module.ts
  samples/client/others/typescript-angular/builds/composed-schemas-tagged-unions/api/api.ts
  samples/client/others/typescript-angular/builds/composed-schemas-tagged-unions/api/pet.service.ts
  samples/client/others/typescript-angular/builds/composed-schemas-tagged-unions/configuration.ts
  samples/client/others/typescript-angular/builds/composed-schemas-tagged-unions/encoder.ts
  samples/client/others/typescript-angular/builds/composed-schemas-tagged-unions/git_push.sh
  samples/client/others/typescript-angular/builds/composed-schemas-tagged-unions/index.ts
  samples/client/others/typescript-angular/builds/composed-schemas-tagged-unions/model/catComposed.ts
  samples/client/others/typescript-angular/builds/composed-schemas-tagged-unions/model/catInherited.ts
  samples/client/others/typescript-angular/builds/composed-schemas-tagged-unions/model/catMapped.ts
  samples/client/others/typescript-angular/builds/composed-schemas-tagged-unions/model/dogBreed.ts
  samples/client/others/typescript-angular/builds/composed-schemas-tagged-unions/model/dogComposed.ts
  samples/client/others/typescript-angular/builds/composed-schemas-tagged-unions/model/dogInherited.ts
  samples/client/others/typescript-angular/builds/composed-schemas-tagged-unions/model/dogMapped.ts
  samples/client/others/typescript-angular/builds/composed-schemas-tagged-unions/model/models.ts
  samples/client/others/typescript-angular/builds/composed-schemas-tagged-unions/model/petWithMappedDiscriminator.ts
  samples/client/others/typescript-angular/builds/composed-schemas-tagged-unions/model/petWithSimpleDiscriminator.ts
  samples/client/others/typescript-angular/builds/composed-schemas-tagged-unions/model/petWithoutDiscriminator.ts
  samples/client/others/typescript-angular/builds/composed-schemas-tagged-unions/param.ts
  samples/client/others/typescript-angular/builds/composed-schemas-tagged-unions/variables.ts
  samples/client/others/typescript-angular/builds/composed-schemas/.gitignore
  samples/client/others/typescript-angular/builds/composed-schemas/.openapi-generator-ignore
  samples/client/others/typescript-angular/builds/composed-schemas/.openapi-generator/FILES
  samples/client/others/typescript-angular/builds/composed-schemas/.openapi-generator/VERSION
  samples/client/others/typescript-angular/builds/composed-schemas/README.md
  samples/client/others/typescript-angular/builds/composed-schemas/api.module.ts
  samples/client/others/typescript-angular/builds/composed-schemas/api/api.ts
  samples/client/others/typescript-angular/builds/composed-schemas/api/pet.service.ts
  samples/client/others/typescript-angular/builds/composed-schemas/configuration.ts
  samples/client/others/typescript-angular/builds/composed-schemas/encoder.ts
  samples/client/others/typescript-angular/builds/composed-schemas/git_push.sh
  samples/client/others/typescript-angular/builds/composed-schemas/index.ts
  samples/client/others/typescript-angular/builds/composed-schemas/model/catComposed.ts
  samples/client/others/typescript-angular/builds/composed-schemas/model/catInherited.ts
  samples/client/others/typescript-angular/builds/composed-schemas/model/catMapped.ts
  samples/client/others/typescript-angular/builds/composed-schemas/model/dogBreed.ts
  samples/client/others/typescript-angular/builds/composed-schemas/model/dogComposed.ts
  samples/client/others/typescript-angular/builds/composed-schemas/model/dogInherited.ts
  samples/client/others/typescript-angular/builds/composed-schemas/model/dogMapped.ts
  samples/client/others/typescript-angular/builds/composed-schemas/model/models.ts
  samples/client/others/typescript-angular/builds/composed-schemas/model/petWithMappedDiscriminator.ts
  samples/client/others/typescript-angular/builds/composed-schemas/model/petWithSimpleDiscriminator.ts
  samples/client/others/typescript-angular/builds/composed-schemas/model/petWithoutDiscriminator.ts
  samples/client/others/typescript-angular/builds/composed-schemas/param.ts
  samples/client/others/typescript-angular/builds/composed-schemas/variables.ts
  samples/client/others/typescript-angular/package-lock.json
  samples/client/others/typescript-angular/package.json
  samples/client/others/typescript-angular/pom.xml
  samples/client/others/typescript-angular/tsconfig.json
Labels: Client: TypeScript, Enhancement: CI/Test

#16179 [ruby] Add tests to operation servers in ruby client
  .circleci/config.yml
  modules/openapi-generator/src/main/resources/ruby-client/partial_anyof_module.mustache
  modules/openapi-generator/src/test/resources/3_0/ruby/petstore-with-fake-endpoints-models-for-testing.yaml
  pom.xml
  samples/client/petstore/ruby/lib/petstore/configuration.rb
  samples/client/petstore/ruby/lib/petstore/models/mammal_anyof.rb
  samples/client/petstore/ruby/spec/custom/configuration_spec.rb
  samples/client/petstore/ruby/spec/custom/pet_spec.rb
Labels: Client: Ruby, Enhancement: CI/Test

#16143 rust: fix rust generation of optional additionalProperties in openapi 3.1.0
  .github/workflows/samples-rust.yaml
  bin/configs/rust-reqwest-regression-16119.yaml
  modules/openapi-generator/src/main/resources/rust/model.mustache
  modules/openapi-generator/src/test/resources/3_1/regression-16119.yaml
  samples/client/others/rust/Cargo.lock
  samples/client/others/rust/Cargo.toml
  samples/client/others/rust/reqwest-regression-16119/.gitignore
  samples/client/others/rust/reqwest-regression-16119/.openapi-generator-ignore
  samples/client/others/rust/reqwest-regression-16119/.openapi-generator/FILES
  samples/client/others/rust/reqwest-regression-16119/.openapi-generator/VERSION
  samples/client/others/rust/reqwest-regression-16119/.travis.yml
  samples/client/others/rust/reqwest-regression-16119/Cargo.toml
  samples/client/others/rust/reqwest-regression-16119/README.md
  samples/client/others/rust/reqwest-regression-16119/docs/DefaultApi.md
  samples/client/others/rust/reqwest-regression-16119/docs/Parent.md
  samples/client/others/rust/reqwest-regression-16119/git_push.sh
  samples/client/others/rust/reqwest-regression-16119/src/apis/configuration.rs
  samples/client/others/rust/reqwest-regression-16119/src/apis/default_api.rs
  samples/client/others/rust/reqwest-regression-16119/src/apis/mod.rs
  samples/client/others/rust/reqwest-regression-16119/src/lib.rs
  samples/client/others/rust/reqwest-regression-16119/src/models/mod.rs
  samples/client/others/rust/reqwest-regression-16119/src/models/parent.rs
Labels: Client: Rust, Issue: Bug, Feature: OAS 3.1.0 spec support

#16181 [Ada] remove static from logger
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractAdaCodegen.java
  pom.xml
Labels: Client: Ada, Enhancement: CI/Test, Issue: Bug, Server: Ada

#16185 Purge obsolete Go codegen code re `github.com/antihax/optional`
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
Labels: Client: Go, Enhancement: Code Cleanup

#16189 Update README, customization.md
  README.md
  docs/customization.md
Labels: Enhancement: Feature, Feature: Documentation

#16188 [Ada] Add null check to catch potential NPE
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractAdaCodegen.java
Labels: Client: Ada, Enhancement: General, Server: Ada

#16141 fix(golang): make sure xml.Encoder is closed
  modules/openapi-generator/src/main/resources/go/client.mustache
  samples/client/petstore/go/go-petstore/client.go
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/client.go
  samples/openapi3/client/petstore/go/go-petstore/client.go
Labels: Client: Go, Issue: Bug

#16191 [Ruby] add property, parameter name mapping
  bin/configs/ruby.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractRubyCodegen.java
  modules/openapi-generator/src/test/resources/3_0/ruby/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/client/petstore/ruby/.openapi-generator/FILES
  samples/client/petstore/ruby/README.md
  samples/client/petstore/ruby/docs/FakeApi.md
  samples/client/petstore/ruby/docs/PropertyNameMapping.md
  samples/client/petstore/ruby/lib/petstore.rb
  samples/client/petstore/ruby/lib/petstore/api/fake_api.rb
  samples/client/petstore/ruby/lib/petstore/models/property_name_mapping.rb
  samples/client/petstore/ruby/spec/models/property_name_mapping_spec.rb
Labels: Client: Ruby, Enhancement: Feature

#16197 [haskell][haskell-yesod] Fix special char replacements
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellServantCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellYesodServerCodegen.java
  modules/openapi-generator/src/main/resources/haskell-servant/Types.mustache
  modules/openapi-generator/src/main/resources/haskell-yesod/src/API/Types.mustache
  samples/server/petstore/haskell-servant/lib/OpenAPIPetstore/Types.hs
  samples/server/petstore/haskell-yesod/src/OpenAPIPetstore/Types.hs
Labels: Issue: Bug, Server: Haskell

#16190 Add mapping option to Ada client/server codegen
  bin/configs/ada.yaml
  bin/configs/unmaintained/ada.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractAdaCodegen.java
  modules/openapi-generator/src/test/resources/3_0/ada/petstore.yaml
  samples/client/petstore/ada/src/client/samples-petstore-clients.adb
  samples/client/petstore/ada/src/client/samples-petstore-clients.ads
  samples/client/petstore/ada/src/model/samples-petstore-models.adb
  samples/client/petstore/ada/src/model/samples-petstore-models.ads
Labels: Client: Ada, Enhancement: CI/Test, Enhancement: Feature, Server: Ada

#16193 [Kotlin] Add name, parameter mapping support
  .github/workflows/samples-kotlin-client.yaml
  bin/configs/kotlin-name-mappings.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/test/resources/3_0/name-parameter-mappings.yaml
  samples/client/petstore/kotlin-name-parameter-mappings/.openapi-generator-ignore
  samples/client/petstore/kotlin-name-parameter-mappings/.openapi-generator/FILES
  samples/client/petstore/kotlin-name-parameter-mappings/.openapi-generator/VERSION
  samples/client/petstore/kotlin-name-parameter-mappings/README.md
  samples/client/petstore/kotlin-name-parameter-mappings/build.gradle
  samples/client/petstore/kotlin-name-parameter-mappings/docs/FakeApi.md
  samples/client/petstore/kotlin-name-parameter-mappings/docs/PropertyNameMapping.md
  samples/client/petstore/kotlin-name-parameter-mappings/gradle/wrapper/gradle-wrapper.jar
  samples/client/petstore/kotlin-name-parameter-mappings/gradle/wrapper/gradle-wrapper.properties
  samples/client/petstore/kotlin-name-parameter-mappings/gradlew
  samples/client/petstore/kotlin-name-parameter-mappings/gradlew.bat
  samples/client/petstore/kotlin-name-parameter-mappings/settings.gradle
  samples/client/petstore/kotlin-name-parameter-mappings/src/main/kotlin/org/openapitools/client/apis/FakeApi.kt
  samples/client/petstore/kotlin-name-parameter-mappings/src/main/kotlin/org/openapitools/client/infrastructure/ApiAbstractions.kt
  samples/client/petstore/kotlin-name-parameter-mappings/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-name-parameter-mappings/src/main/kotlin/org/openapitools/client/infrastructure/ApiResponse.kt
  samples/client/petstore/kotlin-name-parameter-mappings/src/main/kotlin/org/openapitools/client/infrastructure/BigDecimalAdapter.kt
  samples/client/petstore/kotlin-name-parameter-mappings/src/main/kotlin/org/openapitools/client/infrastructure/BigIntegerAdapter.kt
  samples/client/petstore/kotlin-name-parameter-mappings/src/main/kotlin/org/openapitools/client/infrastructure/ByteArrayAdapter.kt
  samples/client/petstore/kotlin-name-parameter-mappings/src/main/kotlin/org/openapitools/client/infrastructure/Errors.kt
  samples/client/petstore/kotlin-name-parameter-mappings/src/main/kotlin/org/openapitools/client/infrastructure/LocalDateAdapter.kt
  samples/client/petstore/kotlin-name-parameter-mappings/src/main/kotlin/org/openapitools/client/infrastructure/LocalDateTimeAdapter.kt
  samples/client/petstore/kotlin-name-parameter-mappings/src/main/kotlin/org/openapitools/client/infrastructure/OffsetDateTimeAdapter.kt
  samples/client/petstore/kotlin-name-parameter-mappings/src/main/kotlin/org/openapitools/client/infrastructure/PartConfig.kt
  samples/client/petstore/kotlin-name-parameter-mappings/src/main/kotlin/org/openapitools/client/infrastructure/RequestConfig.kt
  samples/client/petstore/kotlin-name-parameter-mappings/src/main/kotlin/org/openapitools/client/infrastructure/RequestMethod.kt
  samples/client/petstore/kotlin-name-parameter-mappings/src/main/kotlin/org/openapitools/client/infrastructure/ResponseExtensions.kt
  samples/client/petstore/kotlin-name-parameter-mappings/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/petstore/kotlin-name-parameter-mappings/src/main/kotlin/org/openapitools/client/infrastructure/URIAdapter.kt
  samples/client/petstore/kotlin-name-parameter-mappings/src/main/kotlin/org/openapitools/client/infrastructure/UUIDAdapter.kt
  samples/client/petstore/kotlin-name-parameter-mappings/src/main/kotlin/org/openapitools/client/models/PropertyNameMapping.kt
Labels: Client: Kotlin, Enhancement: Feature, Server: Kotlin

#16194 [Scala] Add name, parameter mapping support
  bin/configs/scala-sttp.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractScalaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaAkkaClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaLagomServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaSttp4ClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaSttpClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalazClientCodegen.java
  modules/openapi-generator/src/test/resources/3_0/scala/petstore.yaml
  samples/client/petstore/scala-sttp/.openapi-generator/FILES
  samples/client/petstore/scala-sttp/README.md
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/api/FakeApi.scala
  samples/client/petstore/scala-sttp/src/main/scala/org/openapitools/client/model/PropertyNameMapping.scala
Labels: Client: Scala, Enhancement: Feature, Server: Scala

#16171 Add name, parameter name mapping to abstract go codegen
  bin/configs/go-petstore.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/test/resources/3_0/go/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/openapi3/client/petstore/go/go-petstore/.openapi-generator/FILES
  samples/openapi3/client/petstore/go/go-petstore/README.md
  samples/openapi3/client/petstore/go/go-petstore/api/openapi.yaml
  samples/openapi3/client/petstore/go/go-petstore/api_fake.go
  samples/openapi3/client/petstore/go/go-petstore/docs/FakeAPI.md
  samples/openapi3/client/petstore/go/go-petstore/docs/PropertyNameMapping.md
  samples/openapi3/client/petstore/go/go-petstore/model_property_name_mapping.go
  samples/openapi3/client/petstore/go/go.mod
  samples/openapi3/client/petstore/go/go.sum
Labels: Client: Go, Enhancement: Feature, Server: Go

#16204 [python-nextgen] Add type to actual instance
  modules/openapi-generator/src/main/resources/python/model_anyof.mustache
  modules/openapi-generator/src/main/resources/python/model_oneof.mustache
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/any_of_color.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/any_of_pig.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/color.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/int_or_string.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/one_of_enum_string.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/pig.py
  samples/openapi3/client/petstore/python/petstore_api/models/any_of_color.py
  samples/openapi3/client/petstore/python/petstore_api/models/any_of_pig.py
  samples/openapi3/client/petstore/python/petstore_api/models/color.py
  samples/openapi3/client/petstore/python/petstore_api/models/int_or_string.py
  samples/openapi3/client/petstore/python/petstore_api/models/one_of_enum_string.py
  samples/openapi3/client/petstore/python/petstore_api/models/pig.py
Labels: Client: Python

#16208 [python-nextgen] fix #16151 Disallow additional properties if not present - missing Any and Dict import
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  samples/client/echo_api/python/openapi_client/models/data_query.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/cat.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/dog.py
  samples/openapi3/client/petstore/python/petstore_api/models/additional_properties_class.py
  samples/openapi3/client/petstore/python/petstore_api/models/all_of_with_single_ref.py
  samples/openapi3/client/petstore/python/petstore_api/models/animal.py
  samples/openapi3/client/petstore/python/petstore_api/models/any_of_color.py
  samples/openapi3/client/petstore/python/petstore_api/models/any_of_pig.py
  samples/openapi3/client/petstore/python/petstore_api/models/api_response.py
  samples/openapi3/client/petstore/python/petstore_api/models/array_of_array_of_model.py
  samples/openapi3/client/petstore/python/petstore_api/models/array_of_array_of_number_only.py
  samples/openapi3/client/petstore/python/petstore_api/models/array_of_number_only.py
  samples/openapi3/client/petstore/python/petstore_api/models/array_test.py
  samples/openapi3/client/petstore/python/petstore_api/models/basque_pig.py
  samples/openapi3/client/petstore/python/petstore_api/models/capitalization.py
  samples/openapi3/client/petstore/python/petstore_api/models/cat.py
  samples/openapi3/client/petstore/python/petstore_api/models/category.py
  samples/openapi3/client/petstore/python/petstore_api/models/circular_reference_model.py
  samples/openapi3/client/petstore/python/petstore_api/models/class_model.py
  samples/openapi3/client/petstore/python/petstore_api/models/client.py
  samples/openapi3/client/petstore/python/petstore_api/models/danish_pig.py
  samples/openapi3/client/petstore/python/petstore_api/models/deprecated_object.py
  samples/openapi3/client/petstore/python/petstore_api/models/dog.py
  samples/openapi3/client/petstore/python/petstore_api/models/dummy_model.py
  samples/openapi3/client/petstore/python/petstore_api/models/enum_arrays.py
  samples/openapi3/client/petstore/python/petstore_api/models/enum_test.py
  samples/openapi3/client/petstore/python/petstore_api/models/file.py
  samples/openapi3/client/petstore/python/petstore_api/models/file_schema_test_class.py
  samples/openapi3/client/petstore/python/petstore_api/models/first_ref.py
  samples/openapi3/client/petstore/python/petstore_api/models/foo.py
  samples/openapi3/client/petstore/python/petstore_api/models/foo_get_default_response.py
  samples/openapi3/client/petstore/python/petstore_api/models/format_test.py
  samples/openapi3/client/petstore/python/petstore_api/models/has_only_read_only.py
  samples/openapi3/client/petstore/python/petstore_api/models/health_check_result.py
  samples/openapi3/client/petstore/python/petstore_api/models/list.py
  samples/openapi3/client/petstore/python/petstore_api/models/map_of_array_of_model.py
  samples/openapi3/client/petstore/python/petstore_api/models/map_test.py
  samples/openapi3/client/petstore/python/petstore_api/models/mixed_properties_and_additional_properties_class.py
  samples/openapi3/client/petstore/python/petstore_api/models/model200_response.py
  samples/openapi3/client/petstore/python/petstore_api/models/model_return.py
  samples/openapi3/client/petstore/python/petstore_api/models/name.py
  samples/openapi3/client/petstore/python/petstore_api/models/nullable_property.py
  samples/openapi3/client/petstore/python/petstore_api/models/number_only.py
  samples/openapi3/client/petstore/python/petstore_api/models/object_with_deprecated_fields.py
  samples/openapi3/client/petstore/python/petstore_api/models/order.py
  samples/openapi3/client/petstore/python/petstore_api/models/outer_composite.py
  samples/openapi3/client/petstore/python/petstore_api/models/outer_object_with_enum_property.py
  samples/openapi3/client/petstore/python/petstore_api/models/parent.py
  samples/openapi3/client/petstore/python/petstore_api/models/parent_with_optional_dict.py
  samples/openapi3/client/petstore/python/petstore_api/models/pet.py
  samples/openapi3/client/petstore/python/petstore_api/models/property_name_collision.py
  samples/openapi3/client/petstore/python/petstore_api/models/read_only_first.py
  samples/openapi3/client/petstore/python/petstore_api/models/second_ref.py
  samples/openapi3/client/petstore/python/petstore_api/models/self_reference_model.py
  samples/openapi3/client/petstore/python/petstore_api/models/special_model_name.py
  samples/openapi3/client/petstore/python/petstore_api/models/special_name.py
  samples/openapi3/client/petstore/python/petstore_api/models/tag.py
  samples/openapi3/client/petstore/python/petstore_api/models/user.py
  samples/openapi3/client/petstore/python/petstore_api/models/with_nested_one_of.py
Labels: Client: Python, Issue: Bug

#16218 [python] Add tests for simple object with additional properties
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/test/resources/3_0/python/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/openapi3/client/petstore/python-aiohttp/.openapi-generator/FILES
  samples/openapi3/client/petstore/python-aiohttp/README.md
  samples/openapi3/client/petstore/python-aiohttp/docs/ObjectToTestAdditionalProperties.md
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/__init__.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/__init__.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/object_to_test_additional_properties.py
  samples/openapi3/client/petstore/python-aiohttp/test/test_object_to_test_additional_properties.py
  samples/openapi3/client/petstore/python/.openapi-generator/FILES
  samples/openapi3/client/petstore/python/README.md
  samples/openapi3/client/petstore/python/docs/ObjectToTestAdditionalProperties.md
  samples/openapi3/client/petstore/python/petstore_api/__init__.py
  samples/openapi3/client/petstore/python/petstore_api/models/__init__.py
  samples/openapi3/client/petstore/python/petstore_api/models/any_of_color.py
  samples/openapi3/client/petstore/python/petstore_api/models/any_of_pig.py
  samples/openapi3/client/petstore/python/petstore_api/models/object_to_test_additional_properties.py
  samples/openapi3/client/petstore/python/test/test_object_to_test_additional_properties.py
  samples/openapi3/client/petstore/python/tests/test_model.py
Labels: Client: Python, Enhancement: CI/Test

#16220 Add tests for circular refs issue in python client
  samples/openapi3/client/petstore/python/tests/test_model.py
Labels: Client: Python, Enhancement: CI/Test

#16206 [php] Add property, parameter name mapping
  bin/configs/php-OpenAPIClient.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPhpCodegen.java
  modules/openapi-generator/src/test/resources/3_0/php/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/client/petstore/php/OpenAPIClient-php/.openapi-generator/FILES
  samples/client/petstore/php/OpenAPIClient-php/README.md
  samples/client/petstore/php/OpenAPIClient-php/docs/Api/FakeApi.md
  samples/client/petstore/php/OpenAPIClient-php/docs/Model/PropertyNameMapping.md
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Model/PropertyNameMapping.php
  samples/client/petstore/php/OpenAPIClient-php/test/Model/PropertyNameMappingTest.php
Labels: Client: PHP, Enhancement: Feature, Server: PHP

#16207 [Swift] property, parameter name mapping support
  bin/configs/swift5-nonPublicApi.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift5ClientCodegen.java
Labels: Client: Swift, Enhancement: Feature

#16217 [python-nextgen] Fix allOf missing imports
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/main/resources/python/model_generic.mustache
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/animal.py
  samples/openapi3/client/petstore/python/petstore_api/models/animal.py
Labels: Client: Python, Issue: Bug

#16221 Add tests for #16217
  modules/openapi-generator/src/test/resources/3_0/python/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/openapi3/client/petstore/python-aiohttp/.openapi-generator/FILES
  samples/openapi3/client/petstore/python-aiohttp/README.md
  samples/openapi3/client/petstore/python-aiohttp/docs/Creature.md
  samples/openapi3/client/petstore/python-aiohttp/docs/CreatureInfo.md
  samples/openapi3/client/petstore/python-aiohttp/docs/Tiger.md
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/__init__.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/__init__.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/creature.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/creature_info.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/tiger.py
  samples/openapi3/client/petstore/python-aiohttp/test/test_creature.py
  samples/openapi3/client/petstore/python-aiohttp/test/test_creature_info.py
  samples/openapi3/client/petstore/python-aiohttp/test/test_tiger.py
  samples/openapi3/client/petstore/python/.openapi-generator/FILES
  samples/openapi3/client/petstore/python/README.md
  samples/openapi3/client/petstore/python/docs/Creature.md
  samples/openapi3/client/petstore/python/docs/CreatureInfo.md
  samples/openapi3/client/petstore/python/docs/Tiger.md
  samples/openapi3/client/petstore/python/petstore_api/__init__.py
  samples/openapi3/client/petstore/python/petstore_api/models/__init__.py
  samples/openapi3/client/petstore/python/petstore_api/models/creature.py
  samples/openapi3/client/petstore/python/petstore_api/models/creature_info.py
  samples/openapi3/client/petstore/python/petstore_api/models/tiger.py
  samples/openapi3/client/petstore/python/test/test_creature.py
  samples/openapi3/client/petstore/python/test/test_creature_info.py
  samples/openapi3/client/petstore/python/test/test_tiger.py
  samples/openapi3/client/petstore/python/tests/test_model.py
Labels: Client: Python, Enhancement: CI/Test
