Repository OpenAPITools/openapi-generator, pull requests merged in 2023-01, with the labels that each got.

#14334 Bugfixes for python-nextgen
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonNextgenClientCodegen.java
  modules/openapi-generator/src/main/resources/python-nextgen/api_client.mustache
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api_client.py
Labels: Client: Python, Issue: Bug

#14291 [dart-dio] Fix non legacy discriminator behavior
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioClientCodegen.java
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/class.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/class_discriminator.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/class_members.mustache
  samples/openapi3/client/petstore/dart-dio/oneof_polymorphism_and_inheritance/lib/src/model/bar.dart
  samples/openapi3/client/petstore/dart-dio/oneof_polymorphism_and_inheritance/lib/src/model/bar_create.dart
  samples/openapi3/client/petstore/dart-dio/oneof_polymorphism_and_inheritance/lib/src/model/bar_ref.dart
  samples/openapi3/client/petstore/dart-dio/oneof_polymorphism_and_inheritance/lib/src/model/bar_ref_or_value.dart
  samples/openapi3/client/petstore/dart-dio/oneof_polymorphism_and_inheritance/lib/src/model/entity.dart
  samples/openapi3/client/petstore/dart-dio/oneof_polymorphism_and_inheritance/lib/src/model/entity_ref.dart
  samples/openapi3/client/petstore/dart-dio/oneof_polymorphism_and_inheritance/lib/src/model/foo.dart
  samples/openapi3/client/petstore/dart-dio/oneof_polymorphism_and_inheritance/lib/src/model/foo_ref.dart
  samples/openapi3/client/petstore/dart-dio/oneof_polymorphism_and_inheritance/lib/src/model/foo_ref_or_value.dart
  samples/openapi3/client/petstore/dart-dio/oneof_polymorphism_and_inheritance/lib/src/model/pasta.dart
  samples/openapi3/client/petstore/dart-dio/oneof_polymorphism_and_inheritance/lib/src/model/pizza.dart
  samples/openapi3/client/petstore/dart-dio/oneof_polymorphism_and_inheritance/lib/src/model/pizza_speziale.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/model/animal.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/model/cat.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/model/dog.dart
Labels: Client: Dart, Feature: OAS 3.0 spec support, Issue: Bug

#14335 12551 [Go] Skipping marshalling of readonly fields
  modules/openapi-generator/src/main/resources/go/model_simple.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/go/GoClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/property-readonly.yaml
  samples/client/petstore/go/go-petstore/model_has_only_read_only.go
  samples/client/petstore/go/go-petstore/model_name.go
  samples/client/petstore/go/go-petstore/model_read_only_first.go
  samples/openapi3/client/petstore/go/go-petstore/model_has_only_read_only.go
  samples/openapi3/client/petstore/go/go-petstore/model_name.go
  samples/openapi3/client/petstore/go/go-petstore/model_read_only_first.go
  samples/openapi3/client/petstore/go/go-petstore/model_read_only_with_default.go
Labels: Client: Go, Enhancement: General

#14370 [Java] fix bigDecimalAsString config option
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/assertions/JavaFileAssert.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/resources/bugs/issue_14252.yaml
Labels: Client: Java, Issue: Bug, Server: Java

#14339 Fix problem when uploading file using form-data in jersey3 client
  modules/openapi-generator/src/main/resources/Java/libraries/jersey3/ApiClient.mustache
Labels: Client: Java, Issue: Bug

#14381 Add Java (native jakarta) samples for testing
  .github/workflows/samples-java-client-jdk11.yaml
  bin/configs/java-native-jakarta.yaml
  samples/client/petstore/java/native-jakarta/.github/workflows/maven.yml
  samples/client/petstore/java/native-jakarta/.gitignore
  samples/client/petstore/java/native-jakarta/.openapi-generator-ignore
  samples/client/petstore/java/native-jakarta/.openapi-generator/FILES
  samples/client/petstore/java/native-jakarta/.openapi-generator/VERSION
  samples/client/petstore/java/native-jakarta/.travis.yml
  samples/client/petstore/java/native-jakarta/README.md
  samples/client/petstore/java/native-jakarta/api/openapi.yaml
  samples/client/petstore/java/native-jakarta/build.gradle
  samples/client/petstore/java/native-jakarta/build.sbt
  samples/client/petstore/java/native-jakarta/docs/Category.md
  samples/client/petstore/java/native-jakarta/docs/ModelApiResponse.md
  samples/client/petstore/java/native-jakarta/docs/Order.md
  samples/client/petstore/java/native-jakarta/docs/Pet.md
  samples/client/petstore/java/native-jakarta/docs/PetApi.md
  samples/client/petstore/java/native-jakarta/docs/StoreApi.md
  samples/client/petstore/java/native-jakarta/docs/Tag.md
  samples/client/petstore/java/native-jakarta/docs/User.md
  samples/client/petstore/java/native-jakarta/docs/UserApi.md
  samples/client/petstore/java/native-jakarta/git_push.sh
  samples/client/petstore/java/native-jakarta/gradle.properties
  samples/client/petstore/java/native-jakarta/gradle/wrapper/gradle-wrapper.jar
  samples/client/petstore/java/native-jakarta/gradle/wrapper/gradle-wrapper.properties
  samples/client/petstore/java/native-jakarta/gradlew
  samples/client/petstore/java/native-jakarta/gradlew.bat
  samples/client/petstore/java/native-jakarta/pom.xml
  samples/client/petstore/java/native-jakarta/settings.gradle
  samples/client/petstore/java/native-jakarta/src/main/AndroidManifest.xml
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/ApiException.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/ApiResponse.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/Configuration.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/Pair.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/RFC3339DateFormat.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/ServerVariable.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/model/AbstractOpenApiSchema.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/model/Category.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/model/ModelApiResponse.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/model/Order.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/model/Tag.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/model/User.java
  samples/client/petstore/java/native-jakarta/src/test/java/org/openapitools/client/api/PetApiTest.java
  samples/client/petstore/java/native-jakarta/src/test/java/org/openapitools/client/api/StoreApiTest.java
  samples/client/petstore/java/native-jakarta/src/test/java/org/openapitools/client/api/UserApiTest.java
  samples/client/petstore/java/native-jakarta/src/test/java/org/openapitools/client/model/CategoryTest.java
  samples/client/petstore/java/native-jakarta/src/test/java/org/openapitools/client/model/ModelApiResponseTest.java
  samples/client/petstore/java/native-jakarta/src/test/java/org/openapitools/client/model/OrderTest.java
  samples/client/petstore/java/native-jakarta/src/test/java/org/openapitools/client/model/PetTest.java
  samples/client/petstore/java/native-jakarta/src/test/java/org/openapitools/client/model/TagTest.java
  samples/client/petstore/java/native-jakarta/src/test/java/org/openapitools/client/model/UserTest.java
Labels: Client: Java, Enhancement: CI/Test

#14400 Update CLI module dependencies
  modules/openapi-generator-cli/pom.xml
Labels: Enhancement: Compatibility, OpenAPI Generator CLI

#14321 [csharp] Add .ToString() if is Uuid/Guid is validated with regex fixes: #12442
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/modelGeneric.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/validatable.mustache
  modules/openapi-generator/src/main/resources/csharp/modelGeneric.mustache
Labels: Client: C-Sharp, Issue: Bug

#14425 Fix circleci build failure (node1) and Travis build failure
  .travis.yml
  pom.xml
Labels: Enhancement: CI/Test

#14408 Fix missing import in allOf query parameters
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/resources/3_0/echo_api.yaml
  samples/client/echo_api/java/apache-httpclient/.openapi-generator/FILES
  samples/client/echo_api/java/apache-httpclient/README.md
  samples/client/echo_api/java/apache-httpclient/api/openapi.yaml
  samples/client/echo_api/java/apache-httpclient/docs/Bird.md
  samples/client/echo_api/java/apache-httpclient/docs/BirdAndCategory.md
  samples/client/echo_api/java/apache-httpclient/docs/QueryApi.md
  samples/client/echo_api/java/apache-httpclient/src/main/java/org/openapitools/client/api/QueryApi.java
  samples/client/echo_api/java/apache-httpclient/src/main/java/org/openapitools/client/model/Bird.java
  samples/client/echo_api/java/apache-httpclient/src/main/java/org/openapitools/client/model/BirdAndCategory.java
  samples/client/echo_api/java/apache-httpclient/src/test/java/org/openapitools/client/model/BirdAndCategoryTest.java
  samples/client/echo_api/java/apache-httpclient/src/test/java/org/openapitools/client/model/BirdTest.java
  samples/client/echo_api/java/feign-gson/.openapi-generator/FILES
  samples/client/echo_api/java/feign-gson/api/openapi.yaml
  samples/client/echo_api/java/feign-gson/src/main/java/org/openapitools/client/api/QueryApi.java
  samples/client/echo_api/java/feign-gson/src/main/java/org/openapitools/client/model/Bird.java
  samples/client/echo_api/java/feign-gson/src/main/java/org/openapitools/client/model/BirdAndCategory.java
  samples/client/echo_api/java/feign-gson/src/test/java/org/openapitools/client/model/BirdAndCategoryTest.java
  samples/client/echo_api/java/feign-gson/src/test/java/org/openapitools/client/model/BirdTest.java
  samples/client/echo_api/java/native/.openapi-generator/FILES
  samples/client/echo_api/java/native/README.md
  samples/client/echo_api/java/native/api/openapi.yaml
  samples/client/echo_api/java/native/docs/Bird.md
  samples/client/echo_api/java/native/docs/BirdAndCategory.md
  samples/client/echo_api/java/native/docs/QueryApi.md
  samples/client/echo_api/java/native/docs/TestQueryStyleDeepObjectExplodeTrueObjectAllOfQueryObjectParameter.md
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/QueryApi.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/model/Bird.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/model/BirdAndCategory.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/model/TestQueryStyleDeepObjectExplodeTrueObjectAllOfQueryObjectParameter.java
  samples/client/echo_api/java/native/src/test/java/org/openapitools/client/CustomTest.java
  samples/client/echo_api/java/native/src/test/java/org/openapitools/client/model/BirdAndCategoryTest.java
  samples/client/echo_api/java/native/src/test/java/org/openapitools/client/model/BirdTest.java
  samples/client/echo_api/java/native/src/test/java/org/openapitools/client/model/TestQueryStyleDeepObjectExplodeTrueObjectAllOfQueryObjectParameterTest.java
Labels: Client: Java, Issue: Bug

#10283 Documentation of Configuration/ConfigurationParameter for consolidated TypeScript generator
  modules/openapi-generator/src/main/resources/typescript/README.mustache
  modules/openapi-generator/src/main/resources/typescript/configuration.mustache
  modules/openapi-generator/src/main/resources/typescript/http/servers.mustache
  samples/client/others/typescript/builds/with-unique-items/README.md
  samples/client/others/typescript/builds/with-unique-items/configuration.ts
  samples/client/others/typescript/builds/with-unique-items/servers.ts
  samples/openapi3/client/petstore/typescript/builds/browser/README.md
  samples/openapi3/client/petstore/typescript/builds/browser/configuration.ts
  samples/openapi3/client/petstore/typescript/builds/browser/servers.ts
  samples/openapi3/client/petstore/typescript/builds/composed-schemas/README.md
  samples/openapi3/client/petstore/typescript/builds/composed-schemas/configuration.ts
  samples/openapi3/client/petstore/typescript/builds/composed-schemas/servers.ts
  samples/openapi3/client/petstore/typescript/builds/default/README.md
  samples/openapi3/client/petstore/typescript/builds/default/configuration.ts
  samples/openapi3/client/petstore/typescript/builds/default/servers.ts
  samples/openapi3/client/petstore/typescript/builds/deno/configuration.ts
  samples/openapi3/client/petstore/typescript/builds/deno/servers.ts
  samples/openapi3/client/petstore/typescript/builds/inversify/README.md
  samples/openapi3/client/petstore/typescript/builds/inversify/configuration.ts
  samples/openapi3/client/petstore/typescript/builds/inversify/servers.ts
  samples/openapi3/client/petstore/typescript/builds/jquery/README.md
  samples/openapi3/client/petstore/typescript/builds/jquery/configuration.ts
  samples/openapi3/client/petstore/typescript/builds/jquery/servers.ts
  samples/openapi3/client/petstore/typescript/builds/object_params/README.md
  samples/openapi3/client/petstore/typescript/builds/object_params/configuration.ts
  samples/openapi3/client/petstore/typescript/builds/object_params/servers.ts
Labels: Client: TypeScript

#14428 Fix `mvn deploy` in Travis CI
  .travis.yml
Labels: Enhancement: CI/Test

#14373 [Java][Spring] Fix #14362 when useSpringBoot3=true, then useJakartaEe
  docs/generators/java-camel.md
  docs/generators/spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
Labels: Enhancement: Feature, Feature: Documentation, Server: Java, Server: Spring

#14441 [swift5][client] - enable swift unit tests
  samples/client/petstore/swift5/alamofireLibrary/SwaggerClientTests/run_xcodebuild.sh
  samples/client/petstore/swift5/asyncAwaitLibrary/SwaggerClientTests/SwaggerClientTests/APIHelperTests.swift
  samples/client/petstore/swift5/asyncAwaitLibrary/SwaggerClientTests/run_xcodebuild.sh
  samples/client/petstore/swift5/combineLibrary/SwaggerClientTests/SwaggerClientTests/APIHelperTests.swift
  samples/client/petstore/swift5/combineLibrary/SwaggerClientTests/run_xcodebuild.sh
  samples/client/petstore/swift5/default/SwaggerClientTests/run_xcodebuild.sh
  samples/client/petstore/swift5/promisekitLibrary/SwaggerClientTests/run_xcodebuild.sh
  samples/client/petstore/swift5/rxswiftLibrary/SwaggerClientTests/SwaggerClientTests/APIHelperTests.swift
  samples/client/petstore/swift5/rxswiftLibrary/SwaggerClientTests/run_xcodebuild.sh
  samples/client/petstore/swift5/urlsessionLibrary/SwaggerClientTests/run_xcodebuild.sh
Labels: Client: Swift, Enhancement: CI/Test

#14412 [csharp-netcore] Added isNew property to CodegenProperty
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenProperty.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/ModelBaseSignature.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/modelGeneric.mustache
  samples/server/petstore/java-undertow/src/main/java/org/openapitools/handler/PathHandlerInterface.java
Labels: Enhancement: General, Server: C-Sharp, Client: C#

#14414 [java][microprofile] implement `useRuntimeException`
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/api_exception.mustache
Labels: Client: Java, Enhancement: Feature

#14452 [java] Update useRuntimeException description
  docs/generators/java.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
Labels: Client: Java, Enhancement: Feature, Feature: Documentation

#14326 #14325 [csharp] - Add CancellationToken to generated aspnetcore controller methods.
  modules/openapi-generator/src/main/resources/aspnetcore/3.0/controller.mustache
Labels: Enhancement: General, Server: C-Sharp

#14454 [Java][Spring] fix ParameterObject import for Spring Boot 3
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
Labels: Issue: Bug, Server: Spring

#14450 [Java][Spring] fix RequestPart/RequestParam handling on multipart req…
  modules/openapi-generator/src/main/resources/JavaSpring/formParams.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/form-multipart-binary-array.yaml
  samples/client/others/csharp-netcore-complex-files/docs/MultipartApi.md
  samples/client/others/csharp-netcore-complex-files/docs/MultipartMixedRequest.md
  samples/client/others/csharp-netcore-complex-files/src/Org.OpenAPITools/Api/MultipartApi.cs
  samples/client/others/csharp-netcore-complex-files/src/Org.OpenAPITools/Model/MultipartMixedRequest.cs
  samples/openapi3/client/petstore/spring-cloud-oas3-fakeapi/src/main/java/org/openapitools/api/FakeApi.java
  samples/openapi3/server/petstore/springboot-beanvalidation-no-nullable/src/main/java/org/openapitools/api/FakeApi.java
  samples/openapi3/server/petstore/springboot-delegate/src/main/java/org/openapitools/api/FakeApi.java
  samples/openapi3/server/petstore/springboot-implicitHeaders/src/main/java/org/openapitools/api/FakeApi.java
  samples/openapi3/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/FakeApi.java
  samples/openapi3/server/petstore/springboot-useoptional/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/spring-boot-defaultInterface-unhandledException/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-beanvalidation-no-nullable/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-implicitHeaders/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern-without-j8/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-spring-pageable-without-j8/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-spring-pageable/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/virtualan/api/FakeApi.java
  samples/server/petstore/springboot/src/main/java/org/openapitools/api/FakeApi.java
Labels: Issue: Bug, Server: Java, Server: Spring

#14467 [Go] Adds a sha256 configuration option to hs2019
  modules/openapi-generator/src/main/resources/go/signing.mustache
  samples/openapi3/client/petstore/go/go-petstore/signing.go
Labels: Client: Go, Enhancement: General

#14463 Add 2 rules to OpenAPI Normalizer
  docs/customization.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/removeAnyOfOneOfAndKeepPropertiesOnly_test.yaml
  modules/openapi-generator/src/test/resources/3_0/simplifyAnyOfStringAndEnumString_test.yaml
Labels: Enhancement: General, OpenAPI Normalizer

#14459 [Go] Client Models using AllOf, OneOf, or AnyOf Correctly Include time and os imports (Attempt 2)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/test/resources/3_0/go/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/openapi3/client/petstore/go/go-petstore/.openapi-generator/FILES
  samples/openapi3/client/petstore/go/go-petstore/README.md
  samples/openapi3/client/petstore/go/go-petstore/api/openapi.yaml
  samples/openapi3/client/petstore/go/go-petstore/docs/AllOfPrimitiveTypes.md
  samples/openapi3/client/petstore/go/go-petstore/docs/AllOfPrimitiveTypesAllOf.md
  samples/openapi3/client/petstore/go/go-petstore/model_all_of_primitive_types.go
  samples/openapi3/client/petstore/go/go-petstore/model_all_of_primitive_types_all_of.go
Labels: Client: Go, Feature: OAS 3.0 spec support, Issue: Bug

#14465 Add a rule to keep only the first tag
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/enableKeepOnlyFirstTagInOperation_test.yaml
Labels: Enhancement: General, OpenAPI Normalizer

#14496 [java] Fix template logic related to supportUrlQuery
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/native/oneof_model.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/pojo.mustache
  modules/openapi-generator/src/main/resources/Java/pojo.mustache
Labels: Client: Java, Issue: Bug

#14511 [elixir] Fixes issue with setting Header parameters
  modules/openapi-generator/src/main/resources/elixir/request_builder.ex.mustache
  samples/client/petstore/elixir/lib/openapi_petstore/request_builder.ex
Labels: Client: Elixir, Issue: Bug

#14497 [elixir] Properly map AnyType
  docs/generators/elixir.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElixirClientCodegen.java
  samples/client/petstore/elixir/lib/openapi_petstore/model/all_of_with_single_ref.ex
Labels: Client: Elixir, Enhancement: Feature

#14474 [Java] fix JsonTypeName import
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/resources/bugs/issue_12524.json
Labels: Client: Java, Server: Java, Server: Spring

#14316 #8792 [Java] [jaxrs-cxf] "useAbstractionForFiles" config option for jaxrs-cxf
  docs/generators/jaxrs-cxf-client.md
  docs/generators/jaxrs-cxf-extended.md
  docs/generators/jaxrs-cxf.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaCXFClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaCXFServerCodegen.java
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/api.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/api_test.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/bodyParams.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/bodyParamsImpl.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/returnTypes.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaCXFClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue8792.yaml
Labels: Enhancement: Feature, Server: Java

#14539 [python-nextgen] fix issue on API example doc autogeneration
  modules/openapi-generator/src/main/resources/python-nextgen/api_doc_example.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonNextgenClientCodegenTest.java
  samples/openapi3/client/petstore/python-nextgen-aiohttp/docs/AnotherFakeApi.md
  samples/openapi3/client/petstore/python-nextgen-aiohttp/docs/DefaultApi.md
  samples/openapi3/client/petstore/python-nextgen-aiohttp/docs/FakeApi.md
  samples/openapi3/client/petstore/python-nextgen-aiohttp/docs/StoreApi.md
  samples/openapi3/client/petstore/python-nextgen-aiohttp/docs/UserApi.md
  samples/openapi3/client/petstore/python-nextgen/docs/AnotherFakeApi.md
  samples/openapi3/client/petstore/python-nextgen/docs/DefaultApi.md
  samples/openapi3/client/petstore/python-nextgen/docs/FakeApi.md
  samples/openapi3/client/petstore/python-nextgen/docs/StoreApi.md
  samples/openapi3/client/petstore/python-nextgen/docs/UserApi.md
Labels: Issue: Bug, python

#14546 [scala-sttp]Update import for enum in API class
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaSttpClientCodegen.java
Labels: Client: Scala, Feature: Enum, Issue: Bug

#14336 Support examples in Response Content
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenMediaType.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/content-data.yaml
Labels: Enhancement: Feature, Feature: Generator

#14550 [Go] Updates bool parameter parsing to handle optional params
  modules/openapi-generator/src/main/resources/go-server/controller-api.mustache
  modules/openapi-generator/src/main/resources/go-server/routers.mustache
  samples/server/petstore/go-api-server/go/routers.go
  samples/server/petstore/go-chi-server/go/routers.go
  samples/server/petstore/go-server-required/go/routers.go
Labels: Client: Go, Issue: Bug

#14560 Minor improvements to julia client, server generators
  README.md
  docs/generators.md
  docs/generators/julia-client.md
  docs/generators/julia-server.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJuliaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JuliaClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JuliaServerCodegen.java
Labels: Client: Julia, Enhancement: Code format, Enhancement: General, Server: Julia

#14477 Feat/jetbrains http client
  README.md
  bin/configs/jetbrains-http-client-petstore-new.yaml
  docs/generators.md
  docs/generators/jetbrains-http-client.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/GeneratorLanguage.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JetbrainsHttpClientClientCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/jetbrains-http-client/README.mustache
  modules/openapi-generator/src/main/resources/jetbrains-http-client/api.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/jetbrains/http/client/JetbrainsHttpClientClientCodegenModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/jetbrains/http/client/JetbrainsHttpClientClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/JetbrainsHttpClientClientCodegenOptionsProvider.java
  samples/client/petstore/jetbrains/http/client/.openapi-generator-ignore
  samples/client/petstore/jetbrains/http/client/.openapi-generator/FILES
  samples/client/petstore/jetbrains/http/client/.openapi-generator/VERSION
  samples/client/petstore/jetbrains/http/client/Apis/PetApi.http
  samples/client/petstore/jetbrains/http/client/Apis/StoreApi.http
  samples/client/petstore/jetbrains/http/client/Apis/UserApi.http
  samples/client/petstore/jetbrains/http/client/README.md
Labels: Enhancement: New generator, Client: JetBrains HTTP client

#14210 [cpp-qt-client] CMake build system improvements
  bin/configs/cpp-qt-client.yaml
  docs/generators/cpp-qt-client.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppQtClientCodegen.java
  modules/openapi-generator/src/main/resources/cpp-qt-client/CMakeConfig.mustache
  modules/openapi-generator/src/main/resources/cpp-qt-client/CMakeLists.txt.mustache
  samples/client/petstore/cpp-qt/.openapi-generator/FILES
  samples/client/petstore/cpp-qt/CMakeLists.txt
  samples/client/petstore/cpp-qt/client/CMakeLists.txt
  samples/client/petstore/cpp-qt/client/Config.cmake.in
Labels: Client: C++, Enhancement: General
