Repository OpenAPITools/openapi-generator, pull requests merged in 2023-10, with the labels that each got.

#16689 [Python] add `float` to reserved word list
  bin/configs/python-echo-api-disallowAdditionalPropertiesIfNotPresent-true.yaml
  bin/configs/python-echo-api.yaml
  docs/generators/python-aiohttp.md
  docs/generators/python-blueplanet.md
  docs/generators/python-fastapi.md
  docs/generators/python-flask.md
  docs/generators/python.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/test/resources/3_0/python/echo_api.yaml
  modules/openapi-generator/src/test/resources/3_0/python/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent-true/docs/NumberPropertiesOnly.md
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent-true/openapi_client/models/number_properties_only.py
  samples/client/echo_api/python/docs/NumberPropertiesOnly.md
  samples/client/echo_api/python/openapi_client/models/number_properties_only.py
  samples/openapi3/client/petstore/python-aiohttp/docs/FakeApi.md
  samples/openapi3/client/petstore/python-aiohttp/docs/FormatTest.md
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/format_test.py
  samples/openapi3/client/petstore/python-pydantic-v1-aiohttp/docs/FormatTest.md
  samples/openapi3/client/petstore/python-pydantic-v1-aiohttp/petstore_api/models/format_test.py
  samples/openapi3/client/petstore/python-pydantic-v1/docs/FormatTest.md
  samples/openapi3/client/petstore/python-pydantic-v1/petstore_api/models/format_test.py
  samples/openapi3/client/petstore/python/docs/FakeApi.md
  samples/openapi3/client/petstore/python/docs/FormatTest.md
  samples/openapi3/client/petstore/python/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/models/format_test.py
Labels: Client: Python, Enhancement: General

#16691 python: remove aenum in favor of stdlib's enum
  modules/openapi-generator/src/main/resources/python/README_onlypackage.mustache
  modules/openapi-generator/src/main/resources/python/model_enum.mustache
  modules/openapi-generator/src/main/resources/python/pyproject.mustache
  modules/openapi-generator/src/main/resources/python/requirements.mustache
  modules/openapi-generator/src/main/resources/python/setup.mustache
  samples/client/echo_api/python/openapi_client/models/string_enum_ref.py
  samples/client/echo_api/python/pyproject.toml
  samples/client/echo_api/python/requirements.txt
  samples/client/echo_api/python/setup.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/enum_class.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/enum_string1.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/enum_string2.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/outer_enum.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/outer_enum_default_value.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/outer_enum_integer.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/outer_enum_integer_default_value.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/single_ref_type.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/special_character_enum.py
  samples/openapi3/client/petstore/python-aiohttp/pyproject.toml
  samples/openapi3/client/petstore/python-aiohttp/requirements.txt
  samples/openapi3/client/petstore/python-aiohttp/setup.py
  samples/openapi3/client/petstore/python/petstore_api/models/enum_class.py
  samples/openapi3/client/petstore/python/petstore_api/models/enum_string1.py
  samples/openapi3/client/petstore/python/petstore_api/models/enum_string2.py
  samples/openapi3/client/petstore/python/petstore_api/models/outer_enum.py
  samples/openapi3/client/petstore/python/petstore_api/models/outer_enum_default_value.py
  samples/openapi3/client/petstore/python/petstore_api/models/outer_enum_integer.py
  samples/openapi3/client/petstore/python/petstore_api/models/outer_enum_integer_default_value.py
  samples/openapi3/client/petstore/python/petstore_api/models/single_ref_type.py
  samples/openapi3/client/petstore/python/petstore_api/models/special_character_enum.py
  samples/openapi3/client/petstore/python/pyproject.toml
  samples/openapi3/client/petstore/python/requirements.txt
  samples/openapi3/client/petstore/python/setup.py
Labels: Client: Python, Enhancement: Compatibility

#16605 [php-symfony] Support for default scalar value of properties in model
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSymfonyServerCodegen.java
  modules/openapi-generator/src/main/resources/php-symfony/model_generic.mustache
  modules/openapi-generator/src/main/resources/php-symfony/model_variables.mustache
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/ApiResponse.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/Category.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/Order.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/Pet.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/Tag.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/User.php
Labels: Enhancement: General, Server: PHP

#16641 [Go] Adding response middleware
  modules/openapi-generator/src/main/resources/go/api.mustache
  modules/openapi-generator/src/main/resources/go/client.mustache
  modules/openapi-generator/src/main/resources/go/configuration.mustache
Labels: Client: Go, Enhancement: General

#16702 Update Ruby rspec model test
  modules/openapi-generator/src/main/resources/ruby-client/model_test.mustache
Labels: Client: Ruby, Enhancement: CI/Test

#16684 fix: Add prefix and suffix to discriminator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
Labels: Feature: Generator, Issue: Bug

#16720 Update tests for maven plugins
  modules/openapi-generator-maven-plugin/examples/java-client.xml
  modules/openapi-generator-maven-plugin/examples/spring.xml
Labels: Enhancement: CI/Test, OpenAPI Generator Maven Plugin

#16721 [Java][okhttp-gson] fix AWS auth issue
  .github/workflows/samples-java-client-jdk11.yaml
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/auth/AWS4Auth.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/pom.mustache
  samples/client/echo_api/java/okhttp-gson/pom.xml
  samples/client/others/java/okhttp-gson-streaming/pom.xml
  samples/client/petstore/java/okhttp-gson-3.1/pom.xml
  samples/client/petstore/java/okhttp-gson-awsv4signature/build.gradle
  samples/client/petstore/java/okhttp-gson-awsv4signature/build.sbt
  samples/client/petstore/java/okhttp-gson-awsv4signature/pom.xml
  samples/client/petstore/java/okhttp-gson-awsv4signature/src/main/java/org/openapitools/client/auth/AWS4Auth.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/pom.xml
  samples/client/petstore/java/okhttp-gson-group-parameter/pom.xml
  samples/client/petstore/java/okhttp-gson-nullable-required/pom.xml
  samples/client/petstore/java/okhttp-gson-parcelableModel/pom.xml
  samples/client/petstore/java/okhttp-gson-swagger1/pom.xml
  samples/client/petstore/java/okhttp-gson-swagger2/pom.xml
  samples/client/petstore/java/okhttp-gson/pom.xml
Labels: Client: Java, Issue: Bug

#16663 [Spring] resolves #16054, resolves #15088 add vendor extension x-spring-provide-args
  .github/workflows/samples-spring.yaml
  bin/configs/springboot-petstore-server-spring-provide-args.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/VendorExtension.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/main/resources/JavaSpring/api.mustache
  modules/openapi-generator/src/test/resources/3_0/spring/petstore-with-spring-provide-args.yaml
  samples/server/petstore/springboot-spring-provide-args/.openapi-generator-ignore
  samples/server/petstore/springboot-spring-provide-args/.openapi-generator/FILES
  samples/server/petstore/springboot-spring-provide-args/.openapi-generator/VERSION
  samples/server/petstore/springboot-spring-provide-args/README.md
  samples/server/petstore/springboot-spring-provide-args/pom.xml
  samples/server/petstore/springboot-spring-provide-args/src/main/java/org/openapitools/OpenApiGeneratorApplication.java
  samples/server/petstore/springboot-spring-provide-args/src/main/java/org/openapitools/RFC3339DateFormat.java
  samples/server/petstore/springboot-spring-provide-args/src/main/java/org/openapitools/api/ApiUtil.java
  samples/server/petstore/springboot-spring-provide-args/src/main/java/org/openapitools/api/UserApi.java
  samples/server/petstore/springboot-spring-provide-args/src/main/java/org/openapitools/api/UserApiController.java
  samples/server/petstore/springboot-spring-provide-args/src/main/java/org/openapitools/configuration/HomeController.java
  samples/server/petstore/springboot-spring-provide-args/src/main/java/org/openapitools/configuration/SpringDocConfiguration.java
  samples/server/petstore/springboot-spring-provide-args/src/main/java/org/openapitools/model/Category.java
  samples/server/petstore/springboot-spring-provide-args/src/main/java/org/openapitools/model/ModelApiResponse.java
  samples/server/petstore/springboot-spring-provide-args/src/main/java/org/openapitools/model/Order.java
  samples/server/petstore/springboot-spring-provide-args/src/main/java/org/openapitools/model/Pet.java
  samples/server/petstore/springboot-spring-provide-args/src/main/java/org/openapitools/model/Tag.java
  samples/server/petstore/springboot-spring-provide-args/src/main/java/org/openapitools/model/User.java
  samples/server/petstore/springboot-spring-provide-args/src/main/resources/application.properties
  samples/server/petstore/springboot-spring-provide-args/src/main/resources/openapi.yaml
  samples/server/petstore/springboot-spring-provide-args/src/test/java/org/openapitools/OpenApiGeneratorApplicationTests.java
Labels: Issue: Bug, Server: Java, Server: Spring

#16712 fix invalid function is_subclass call for php-nextgen
  modules/openapi-generator/src/main/resources/php-nextgen/ObjectSerializer.mustache
  samples/client/echo_api/php-nextgen/src/ObjectSerializer.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/ObjectSerializer.php
Labels: Client: PHP, Issue: Bug

#16728 Bug fixes based on report
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/Swift5ClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SwiftCombineClientCodegen.java
Labels: Feature: Generator, Issue: Bug

#16730 [C] map set to list, add tests
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CLibcurlClientCodegen.java
  modules/openapi-generator/src/test/resources/2_0/c/petstore.yaml
  samples/client/petstore/c/.openapi-generator/FILES
  samples/client/petstore/c/README.md
  samples/client/petstore/c/docs/model_with_set_propertes.md
  samples/client/petstore/c/model/model_with_set_propertes.c
  samples/client/petstore/c/model/model_with_set_propertes.h
  samples/client/petstore/c/unit-test/test_model_with_set_propertes.c
Labels: Issue: Bug, Client: C

#16741 [php-next-gen] fix handling with enums in object serializer
  modules/openapi-generator/src/main/resources/php-nextgen/ObjectSerializer.mustache
  samples/client/echo_api/php-nextgen/src/ObjectSerializer.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/ObjectSerializer.php
Labels: Client: PHP, Feature: Enum, Issue: Bug

#16752 [php-nextgen] minor fix to return type
  .gitignore
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpNextgenClientCodegen.java
  modules/openapi-generator/src/main/resources/php-nextgen/api.mustache
  samples/client/petstore/php-nextgen/OpenAPIClient-php/phplint.dist.yml
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Api/PetApi.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Api/StoreApi.php
Labels: Client: PHP, Issue: Bug

#16758 [php-nextgen] Fix type, update tests
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpNextgenClientCodegen.java
  modules/openapi-generator/src/main/resources/php-nextgen/ObjectSerializer.mustache
  modules/openapi-generator/src/main/resources/php-nextgen/model_generic.mustache
  samples/client/echo_api/php-nextgen/src/ObjectSerializer.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/ObjectSerializer.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/test/AuthTest.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/test/NullableTest.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/test/PetApiTest.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/test/ServerVariablesInOperationTest.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/test/StoreApiTest.php
Labels: Client: PHP, Enhancement: CI/Test, Issue: Bug

#16764 [php-nextgen] fix object serializer, update tests
  modules/openapi-generator/src/main/resources/php-nextgen/ApiException.mustache
  modules/openapi-generator/src/main/resources/php-nextgen/ObjectSerializer.mustache
  samples/client/echo_api/php-nextgen/src/ApiException.php
  samples/client/echo_api/php-nextgen/src/ObjectSerializer.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/ApiException.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/ObjectSerializer.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/test/DateTimeSerializerTest.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/test/HeadersTest.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/test/ParametersTest.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/test/PetApiTest.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/test/PetTest.php
Labels: Client: PHP, Enhancement: CI/Test, Issue: Bug

#16768 Fix log statement
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/config/WorkflowSettings.java
Labels: Issue: Bug

#16751 fixed a flaky test DefaultCodegenTest#testVarsAndRequiredVarsPresent
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  samples/server/petstore/java-undertow/src/main/java/org/openapitools/handler/PathHandlerInterface.java
Labels: Enhancement: CI/Test, Feature: Generator

#16772 [csharp] fix ecdsa signing issue.
  modules/openapi-generator/src/main/resources/csharp/HttpSigningConfiguration.mustache
  samples/client/petstore/csharp/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-net47/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-net48/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient-unityWebRequest/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/OpenAPIClientCore/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
Labels: Client: C-Sharp, Issue: Bug

#16780 [Zapier] Fixed zapier objects arrays mapping
  modules/openapi-generator/src/main/resources/zapier/model.mustache
  modules/openapi-generator/src/main/resources/zapier/utils.mustache
  samples/client/petstore/zapier/models/Pet.js
  samples/client/petstore/zapier/utils/utils.js
Labels: Issue: Bug, Client: Zapier

#16776 [python] Do not pydantic-validate function args twice
  modules/openapi-generator/src/main/resources/python/api.mustache
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent-true/openapi_client/api/auth_api.py
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent-true/openapi_client/api/body_api.py
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent-true/openapi_client/api/form_api.py
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent-true/openapi_client/api/header_api.py
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent-true/openapi_client/api/path_api.py
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent-true/openapi_client/api/query_api.py
  samples/client/echo_api/python/openapi_client/api/auth_api.py
  samples/client/echo_api/python/openapi_client/api/body_api.py
  samples/client/echo_api/python/openapi_client/api/form_api.py
  samples/client/echo_api/python/openapi_client/api/header_api.py
  samples/client/echo_api/python/openapi_client/api/path_api.py
  samples/client/echo_api/python/openapi_client/api/query_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/default_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/fake_classname_tags123_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/default_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_classname_tags123_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/user_api.py
Labels: Client: Python, Issue: Bug

#16784 fix: Merge conflict from #16779 and #16777
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/unnamed_dict_with_additional_model_list_properties.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/unnamed_dict_with_additional_string_list_properties.py
  samples/openapi3/client/petstore/python/petstore_api/models/unnamed_dict_with_additional_model_list_properties.py
  samples/openapi3/client/petstore/python/petstore_api/models/unnamed_dict_with_additional_string_list_properties.py
Labels: Client: Python

#16785 Add mapping options to zapier client generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ZapierClientCodegen.java
Labels: Enhancement: Feature, Client: Zapier

#16657 [csharp] Version bump
  modules/openapi-generator/src/main/resources/csharp/ClientUtils.mustache
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/ClientUtils.mustache
  modules/openapi-generator/src/main/resources/csharp/netcore_project.mustache
  modules/openapi-generator/src/main/resources/csharp/netcore_testproject.mustache
  samples/client/echo_api/csharp-restsharp/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/others/csharp-complex-files/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/others/csharp-complex-files/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-restsharp-name-parameter-mappings/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt-useSourceGeneration/src/UseSourceGeneration.Test/UseSourceGeneration.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt-useSourceGeneration/src/UseSourceGeneration/Client/ClientUtils.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt-useSourceGeneration/src/UseSourceGeneration/UseSourceGeneration.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/OpenAPIClient-httpclient/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-net47/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-net47/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/OpenAPIClient-net47/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-net48/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-net48/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/OpenAPIClient-net48/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-net5.0/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/OpenAPIClient-net5.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClientCore/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/OpenAPIClientCore/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Org.OpenAPITools.csproj
Labels: Client: C-Sharp, Enhancement: Compatibility

#16804 [csharp] Add rule to skip xUnit1031
  samples/client/echo_api/csharp-restsharp/src/Org.OpenAPITools.Test/.editorconfig
Labels: Client: C-Sharp, Enhancement: CI/Test

#16787 Fix missing newline for file array in go-server/controller-api.mustache
  modules/openapi-generator/src/main/resources/go-server/controller-api.mustache
Labels: Issue: Bug, Server: Go

#16805 [go-server] Add tests, minor format change
  modules/openapi-generator/src/main/resources/go-server/controller-api.mustache
  modules/openapi-generator/src/test/resources/3_0/go-server/petstore.yaml
  samples/openapi3/server/petstore/go/go-petstore/go/api_pet.go
  samples/server/petstore/go-api-server/api/openapi.yaml
  samples/server/petstore/go-api-server/go/api.go
  samples/server/petstore/go-api-server/go/api_pet.go
  samples/server/petstore/go-api-server/go/api_pet_service.go
  samples/server/petstore/go-chi-server/api/openapi.yaml
  samples/server/petstore/go-chi-server/go/api.go
  samples/server/petstore/go-chi-server/go/api_pet.go
  samples/server/petstore/go-chi-server/go/api_pet_service.go
Labels: Enhancement: CI/Test, Server: Go

#16822 [Go-Server] Don't import io/ioutil package that has been deprecated as of Go 1.16
  modules/openapi-generator/src/main/resources/go-server/routers.mustache
  samples/openapi3/server/petstore/go/go-petstore/go/routers.go
  samples/server/petstore/go-api-server/go/routers.go
  samples/server/petstore/go-chi-server/go/routers.go
Labels: Client: Go, Enhancement: Code Cleanup

#16827 [Postman Collection] Fix path parameter syntax
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PostmanCollectionCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/postman/PostmanCollectionCodegenTest.java
  samples/schema/postman-collection/postman.json
Labels: Issue: Bug, Schema: Postman Collection

#16820 [python] chore: Simplify async/non-async api method templates
  modules/openapi-generator/src/main/resources/python/api.mustache
Labels: Client: Python, Enhancement: Code Cleanup

#16834 [JAVA] fix: oneOf generates incorrect model for primitive types
  .github/workflows/samples-java-client-jdk11.yaml
  bin/configs/java-okhttp-gson-oneOf.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/native/anyof_model.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/oneof_model.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/anyof_model.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/oneof_model.mustache
  modules/openapi-generator/src/test/resources/3_0/oneOf_twoPrimitives.yaml
  samples/client/others/java/okhttp-gson-oneOf/.github/workflows/maven.yml
  samples/client/others/java/okhttp-gson-oneOf/.gitignore
  samples/client/others/java/okhttp-gson-oneOf/.openapi-generator-ignore
  samples/client/others/java/okhttp-gson-oneOf/.openapi-generator/FILES
  samples/client/others/java/okhttp-gson-oneOf/.openapi-generator/VERSION
  samples/client/others/java/okhttp-gson-oneOf/.travis.yml
  samples/client/others/java/okhttp-gson-oneOf/README.md
  samples/client/others/java/okhttp-gson-oneOf/api/openapi.yaml
  samples/client/others/java/okhttp-gson-oneOf/build.gradle
  samples/client/others/java/okhttp-gson-oneOf/build.sbt
  samples/client/others/java/okhttp-gson-oneOf/docs/DefaultApi.md
  samples/client/others/java/okhttp-gson-oneOf/docs/MyExamplePostRequest.md
  samples/client/others/java/okhttp-gson-oneOf/git_push.sh
  samples/client/others/java/okhttp-gson-oneOf/gradle.properties
  samples/client/others/java/okhttp-gson-oneOf/gradle/wrapper/gradle-wrapper.jar
  samples/client/others/java/okhttp-gson-oneOf/gradle/wrapper/gradle-wrapper.properties
  samples/client/others/java/okhttp-gson-oneOf/gradlew
  samples/client/others/java/okhttp-gson-oneOf/gradlew.bat
  samples/client/others/java/okhttp-gson-oneOf/pom.xml
  samples/client/others/java/okhttp-gson-oneOf/settings.gradle
  samples/client/others/java/okhttp-gson-oneOf/src/main/AndroidManifest.xml
  samples/client/others/java/okhttp-gson-oneOf/src/main/java/org/openapitools/client/ApiCallback.java
  samples/client/others/java/okhttp-gson-oneOf/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/others/java/okhttp-gson-oneOf/src/main/java/org/openapitools/client/ApiException.java
  samples/client/others/java/okhttp-gson-oneOf/src/main/java/org/openapitools/client/ApiResponse.java
  samples/client/others/java/okhttp-gson-oneOf/src/main/java/org/openapitools/client/Configuration.java
  samples/client/others/java/okhttp-gson-oneOf/src/main/java/org/openapitools/client/GzipRequestInterceptor.java
  samples/client/others/java/okhttp-gson-oneOf/src/main/java/org/openapitools/client/JSON.java
  samples/client/others/java/okhttp-gson-oneOf/src/main/java/org/openapitools/client/Pair.java
  samples/client/others/java/okhttp-gson-oneOf/src/main/java/org/openapitools/client/ProgressRequestBody.java
  samples/client/others/java/okhttp-gson-oneOf/src/main/java/org/openapitools/client/ProgressResponseBody.java
  samples/client/others/java/okhttp-gson-oneOf/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/others/java/okhttp-gson-oneOf/src/main/java/org/openapitools/client/ServerVariable.java
  samples/client/others/java/okhttp-gson-oneOf/src/main/java/org/openapitools/client/StringUtil.java
  samples/client/others/java/okhttp-gson-oneOf/src/main/java/org/openapitools/client/api/DefaultApi.java
  samples/client/others/java/okhttp-gson-oneOf/src/main/java/org/openapitools/client/auth/ApiKeyAuth.java
  samples/client/others/java/okhttp-gson-oneOf/src/main/java/org/openapitools/client/auth/Authentication.java
  samples/client/others/java/okhttp-gson-oneOf/src/main/java/org/openapitools/client/auth/HttpBasicAuth.java
  samples/client/others/java/okhttp-gson-oneOf/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/others/java/okhttp-gson-oneOf/src/main/java/org/openapitools/client/model/AbstractOpenApiSchema.java
  samples/client/others/java/okhttp-gson-oneOf/src/main/java/org/openapitools/client/model/MyExamplePostRequest.java
  samples/client/others/java/okhttp-gson-oneOf/src/test/java/org/openapitools/client/api/DefaultApiTest.java
  samples/client/others/java/okhttp-gson-oneOf/src/test/java/org/openapitools/client/model/MyExamplePostRequestTest.java
Labels: Client: Java, Feature: OAS 3.0 spec support, Issue: Bug

#16835 [PHP-Symfony] fix #15950: Add float to deserialize
  modules/openapi-generator/src/main/resources/php-symfony/serialization/JmsSerializer.mustache
  samples/server/petstore/php-symfony/SymfonyBundle-php/Service/JmsSerializer.php
Labels: Issue: Bug, Server: PHP

#16761 Autoset constants (Required fields having single valid enum value)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonCodegen.java
  modules/openapi-generator/src/main/resources/python/api.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonClientCodegenTest.java
Labels: Client: Python, Enhancement: Feature

#16816 [BUG][GO] Add support for all +json and +xml suffixed media types
  modules/openapi-generator/src/main/resources/go/client.mustache
  samples/client/echo_api/go/client.go
  samples/client/petstore/go/go-petstore/client.go
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/client.go
  samples/openapi3/client/petstore/go/api_client_test.go
  samples/openapi3/client/petstore/go/go-petstore/client.go
Labels: Client: Go, Issue: Bug

#16781 [Go-server] - Support for Enums in the Path and Query
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoServerCodegen.java
  modules/openapi-generator/src/main/resources/go-server/controller-api.mustache
  modules/openapi-generator/src/main/resources/go-server/model.mustache
  modules/openapi-generator/src/test/resources/3_0/go-server/petstore.yaml
  samples/openapi3/server/petstore/go/go-petstore/go/api_pet.go
  samples/server/petstore/go-api-server/.openapi-generator/FILES
  samples/server/petstore/go-api-server/api/openapi.yaml
  samples/server/petstore/go-api-server/go/api.go
  samples/server/petstore/go-api-server/go/api_pet.go
  samples/server/petstore/go-api-server/go/api_pet_service.go
  samples/server/petstore/go-api-server/go/model_gender.go
  samples/server/petstore/go-api-server/go/model_species.go
  samples/server/petstore/go-chi-server/.openapi-generator/FILES
  samples/server/petstore/go-chi-server/api/openapi.yaml
  samples/server/petstore/go-chi-server/go/api.go
  samples/server/petstore/go-chi-server/go/api_pet.go
  samples/server/petstore/go-chi-server/go/api_pet_service.go
  samples/server/petstore/go-chi-server/go/model_gender.go
  samples/server/petstore/go-chi-server/go/model_species.go
Labels: Enhancement: Feature, Feature: Enum, Server: Go

#16839 chore: remove unused commons logging imports from java webclient
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/ApiClient.mustache
  samples/client/others/java/webclient-useAbstractionForFiles/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/webclient-jakarta/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/webclient-nullable-arrays/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/webclient-swagger2/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: Code Cleanup

#16845 [zapier] Zapier generator minor fix
  modules/openapi-generator/src/main/resources/zapier/package.mustache
  modules/openapi-generator/src/main/resources/zapier/utils.mustache
  samples/client/petstore/zapier/package.json
  samples/client/petstore/zapier/utils/utils.js
Labels: Issue: Bug, Client: Zapier

#16671 fix(nestjs) fix import in api module template (16670)
  modules/openapi-generator/src/main/resources/typescript-nestjs/api.module.mustache
  samples/client/petstore/typescript-nestjs-v8-provided-in-root/builds/default/api.module.ts
Labels: Client: TypeScript, Issue: Bug

#16869 Update ktor client version for custom plugin support
  modules/openapi-generator/src/main/resources/kotlin-client/build.gradle.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/multiplatform/build.gradle.kts.mustache
  samples/client/petstore/kotlin-array-simple-string-multiplatform/build.gradle.kts
  samples/client/petstore/kotlin-bigdecimal-default-multiplatform/build.gradle.kts
  samples/client/petstore/kotlin-default-values-multiplatform/build.gradle.kts
  samples/client/petstore/kotlin-jvm-ktor-gson/build.gradle
  samples/client/petstore/kotlin-jvm-ktor-jackson/build.gradle
  samples/client/petstore/kotlin-jvm-ktor-kotlinx_serialization/build.gradle
  samples/client/petstore/kotlin-multiplatform/build.gradle.kts
Labels: Client: Kotlin, Enhancement: Compatibility

#16872 [Ruby] Add support for populating a gem metadata
  docs/generators/ruby.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RubyClientCodegen.java
  modules/openapi-generator/src/main/resources/ruby-client/gemspec.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/RubyClientOptionsProvider.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/ruby/RubyClientOptionsTest.java
  samples/client/echo_api/ruby-httpx/openapi_client.gemspec
  samples/client/petstore/ruby-autoload/petstore.gemspec
  samples/client/petstore/ruby-faraday/petstore.gemspec
  samples/client/petstore/ruby-httpx/petstore.gemspec
  samples/client/petstore/ruby/petstore.gemspec
  samples/openapi3/client/extensions/x-auth-id-alias/ruby-client/x_auth_id_alias.gemspec
  samples/openapi3/client/features/dynamic-servers/ruby/dynamic_servers.gemspec
  samples/openapi3/client/features/generate-alias-as-model/ruby-client/petstore.gemspec
Labels: Client: Ruby, Enhancement: Feature

#16874 [PHP-SYMFONY] Debug Date and DateTime Assert
  modules/openapi-generator/src/main/resources/php-symfony/model_variables.mustache
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/Order.php
Labels: Issue: Bug, Server: PHP

#16861 [kotlin][client] Fix compilation error when all auth method is mapped to null
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin-jvm-jackson/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-retrofit2-kotlinx_serialization/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-retrofit2-rx3/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-retrofit2/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin, Issue: Bug

#16782 [typescript-axios] Add Support for Operation Servers
  modules/openapi-generator/src/main/resources/typescript-axios/api.mustache
  modules/openapi-generator/src/main/resources/typescript-axios/apiInner.mustache
  modules/openapi-generator/src/main/resources/typescript-axios/baseApi.mustache
  modules/openapi-generator/src/main/resources/typescript-axios/configuration.mustache
  samples/client/others/typescript-axios/with-separate-models-and-api-inheritance/base.ts
  samples/client/others/typescript-axios/with-separate-models-and-api-inheritance/configuration.ts
  samples/client/petstore/typescript-axios/builds/composed-schemas/api.ts
  samples/client/petstore/typescript-axios/builds/composed-schemas/base.ts
  samples/client/petstore/typescript-axios/builds/composed-schemas/configuration.ts
  samples/client/petstore/typescript-axios/builds/default/api.ts
  samples/client/petstore/typescript-axios/builds/default/base.ts
  samples/client/petstore/typescript-axios/builds/default/configuration.ts
  samples/client/petstore/typescript-axios/builds/es6-target/api.ts
  samples/client/petstore/typescript-axios/builds/es6-target/base.ts
  samples/client/petstore/typescript-axios/builds/es6-target/configuration.ts
  samples/client/petstore/typescript-axios/builds/test-petstore/api.ts
  samples/client/petstore/typescript-axios/builds/test-petstore/base.ts
  samples/client/petstore/typescript-axios/builds/test-petstore/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-complex-headers/api.ts
  samples/client/petstore/typescript-axios/builds/with-complex-headers/base.ts
  samples/client/petstore/typescript-axios/builds/with-complex-headers/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-fake-endpoints-models-for-testing-with-http-signature/api.ts
  samples/client/petstore/typescript-axios/builds/with-fake-endpoints-models-for-testing-with-http-signature/base.ts
  samples/client/petstore/typescript-axios/builds/with-fake-endpoints-models-for-testing-with-http-signature/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-interfaces/api.ts
  samples/client/petstore/typescript-axios/builds/with-interfaces/base.ts
  samples/client/petstore/typescript-axios/builds/with-interfaces/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-node-imports/api.ts
  samples/client/petstore/typescript-axios/builds/with-node-imports/base.ts
  samples/client/petstore/typescript-axios/builds/with-node-imports/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/pet-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/store-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/api/another/level/user-api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/base.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version/api.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version/base.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-single-request-parameters/api.ts
  samples/client/petstore/typescript-axios/builds/with-single-request-parameters/base.ts
  samples/client/petstore/typescript-axios/builds/with-single-request-parameters/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-string-enums/api.ts
  samples/client/petstore/typescript-axios/builds/with-string-enums/base.ts
  samples/client/petstore/typescript-axios/builds/with-string-enums/configuration.ts
Labels: Client: TypeScript, Enhancement: Feature

#16906 fix(rust-server): remove redundant clone
  modules/openapi-generator/src/main/resources/rust-server/example-server-operation.mustache
  samples/server/petstore/rust-server/output/multipart-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/no-example-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/client/server.rs
  samples/server/petstore/rust-server/output/openapi-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/ops-v3/examples/server/server.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/examples/server/server.rs
  samples/server/petstore/rust-server/output/ping-bearer-auth/examples/server/server.rs
  samples/server/petstore/rust-server/output/rust-server-test/examples/server/server.rs
Labels: Issue: Bug, Server: Rust

#16927 chore(deps,rust): requires reqwest 0.11 in blocking generated code
  modules/openapi-generator/src/main/resources/rust/Cargo.mustache
  modules/openapi-generator/src/main/resources/rust/reqwest/api.mustache
  modules/openapi-generator/src/main/resources/rust/reqwest/configuration.mustache
  samples/client/others/rust/reqwest-regression-16119/Cargo.toml
  samples/client/others/rust/reqwest-regression-16119/src/apis/configuration.rs
  samples/client/petstore/rust/reqwest/name-mapping/Cargo.toml
  samples/client/petstore/rust/reqwest/name-mapping/src/apis/configuration.rs
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/Cargo.toml
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/src/apis/configuration.rs
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/src/apis/pet_api.rs
  samples/client/petstore/rust/reqwest/petstore/Cargo.toml
  samples/client/petstore/rust/reqwest/petstore/src/apis/configuration.rs
  samples/client/petstore/rust/reqwest/petstore/src/apis/pet_api.rs
Labels: Client: Rust, Enhancement: Compatibility

#16886 [csharp] RemoteCertificateValidationCallback was not called on async methods; resolves #14608
  modules/openapi-generator/src/main/resources/csharp/ApiClient.mustache
  samples/client/echo_api/csharp-restsharp/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/others/csharp-complex-files/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp-restsharp-name-parameter-mappings/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient-net47/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient-net48/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientCore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Client/ApiClient.cs
Labels: Client: C-Sharp, Issue: Bug

#16926 [php-symfony] Fix type hint for array in comments.
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpSymfonyServerCodegen.java
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/Pet.php
Labels: Issue: Bug, Server: PHP

#16876 [ruby] Make File Downloads Threadsafe
  modules/openapi-generator/src/main/resources/ruby-client/api_client.mustache
  modules/openapi-generator/src/main/resources/ruby-client/api_client_faraday_partial.mustache
  modules/openapi-generator/src/main/resources/ruby-client/api_client_httpx_partial.mustache
  modules/openapi-generator/src/main/resources/ruby-client/api_client_typhoeus_partial.mustache
  samples/client/echo_api/ruby-httpx/lib/openapi_client/api_client.rb
  samples/client/petstore/ruby-autoload/lib/petstore/api_client.rb
  samples/client/petstore/ruby-faraday/lib/petstore/api_client.rb
  samples/client/petstore/ruby-httpx/lib/petstore/api_client.rb
  samples/client/petstore/ruby/lib/petstore/api_client.rb
  samples/openapi3/client/extensions/x-auth-id-alias/ruby-client/lib/x_auth_id_alias/api_client.rb
  samples/openapi3/client/features/dynamic-servers/ruby/lib/dynamic_servers/api_client.rb
  samples/openapi3/client/features/generate-alias-as-model/ruby-client/lib/petstore/api_client.rb
Labels: Client: Ruby, Enhancement: General

#16910 [Go-Server] Bug fix - Failing to Parse Boolean returns 500 Internal Server error
  modules/openapi-generator/src/main/resources/go-server/controller-api.mustache
  modules/openapi-generator/src/test/resources/3_0/go-server/petstore.yaml
  samples/openapi3/server/petstore/go/go-petstore/go/api_user.go
  samples/server/petstore/go-api-server/api/openapi.yaml
  samples/server/petstore/go-api-server/go/api.go
  samples/server/petstore/go-api-server/go/api_pet.go
  samples/server/petstore/go-api-server/go/api_pet_service.go
  samples/server/petstore/go-api-server/go/api_user.go
  samples/server/petstore/go-chi-server/api/openapi.yaml
  samples/server/petstore/go-chi-server/go/api.go
  samples/server/petstore/go-chi-server/go/api_pet.go
  samples/server/petstore/go-chi-server/go/api_pet_service.go
  samples/server/petstore/go-chi-server/go/api_user.go
Labels: Issue: Bug, Server: Go

#16930 Fixed indent lambda to not strip line breaks
  modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/mustache/IndentedLambda.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/templating/mustache/IndentedLambdaTest.java
  samples/client/petstore/typescript-fetch/builds/default-v3.0/models/Capitalization.ts
  samples/client/petstore/typescript-fetch/builds/snakecase-discriminator/models/Capitalization.ts
  samples/server/petstore/cpp-restbed/generated/3_0/api/AnotherFakeApi.cpp
  samples/server/petstore/cpp-restbed/generated/3_0/api/DefaultApi.cpp
  samples/server/petstore/cpp-restbed/generated/3_0/api/FakeApi.cpp
  samples/server/petstore/cpp-restbed/generated/3_0/api/FakeClassnameTags123Api.cpp
  samples/server/petstore/cpp-restbed/generated/3_0/api/PetApi.cpp
  samples/server/petstore/cpp-restbed/generated/3_0/api/StoreApi.cpp
  samples/server/petstore/cpp-restbed/generated/3_0/api/UserApi.cpp
  samples/server/petstore/kotlin-server-modelMutable/src/main/kotlin/org/openapitools/server/apis/PetApi.kt
  samples/server/petstore/kotlin-server-modelMutable/src/main/kotlin/org/openapitools/server/apis/StoreApi.kt
  samples/server/petstore/kotlin-server-modelMutable/src/main/kotlin/org/openapitools/server/apis/UserApi.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/apis/PetApi.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/apis/StoreApi.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/apis/UserApi.kt
Labels: Feature: Generator, Issue: Bug

#16879 [PHP] check if json_decode was able to decode response
  modules/openapi-generator/src/main/resources/php/api.mustache
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/AnotherFakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/DefaultApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/FakeClassnameTags123Api.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/PetApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/StoreApi.php
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/UserApi.php
  samples/client/petstore/php/OpenAPIClient-php/tests/AuthTest.php
  samples/client/petstore/php/OpenAPIClient-php/tests/HeadersTest.php
  samples/client/petstore/php/OpenAPIClient-php/tests/ResponseTypesTest.php
Labels: Client: PHP, Issue: Bug

#16943 Better isAlias detection
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/allof_primitive.yaml
Labels: Feature: Generator, Issue: Bug
