Repository OpenAPITools/openapi-generator, pull requests merged in 2023-11, with the labels that each got.

#16956 [Go] Add multiple file upload support
  .github/workflows/samples-go-client-echo-api.yaml
  modules/openapi-generator/src/main/resources/go/api.mustache
  samples/client/echo_api/go/api_body.go
  samples/client/petstore/go/go-petstore/api_fake.go
  samples/client/petstore/go/go-petstore/api_pet.go
  samples/openapi3/client/petstore/go/go-petstore/api_fake.go
  samples/openapi3/client/petstore/go/go-petstore/api_pet.go
Labels: Client: Go, Enhancement: CI/Test

#16959 [Core] Better code format
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
Labels: Enhancement: Code format, Feature: Generator

#16947 fix parameters_to_url_query returns booleans with upper letter
  modules/openapi-generator/src/main/resources/python-pydantic-v1/api_client.mustache
  modules/openapi-generator/src/main/resources/python/api_client.mustache
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent-true/openapi_client/api_client.py
  samples/client/echo_api/python-pydantic-v1/openapi_client/api_client.py
  samples/client/echo_api/python-pydantic-v1/test/test_manual.py
  samples/client/echo_api/python/openapi_client/api_client.py
  samples/client/echo_api/python/test/test_manual.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api_client.py
  samples/openapi3/client/petstore/python-pydantic-v1-aiohttp/petstore_api/api_client.py
  samples/openapi3/client/petstore/python-pydantic-v1/petstore_api/api_client.py
  samples/openapi3/client/petstore/python-pydantic-v1/tests/test_api_client.py
  samples/openapi3/client/petstore/python/petstore_api/api_client.py
  samples/openapi3/client/petstore/python/tests/test_api_client.py
Labels: Client: Python, Issue: Bug

#16957 [go] Use unescaped baseName
  modules/openapi-generator/src/main/resources/go/api.mustache
  modules/openapi-generator/src/main/resources/go/model_simple.mustache
Labels: Client: Go, Enhancement: General

#16882 [python] Fix postponed model imports
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonPydanticV1Codegen.java
Labels: Client: Python, Issue: Bug

#16954 [Bug][Go][Client] Downloaded File Does Not Exist When Returned to Caller
  modules/openapi-generator/src/main/resources/go/client.mustache
  samples/client/echo_api/go/client.go
  samples/client/echo_api/go/test/api_body_test.go
  samples/client/echo_api/go/test/api_header_test.go
  samples/client/echo_api/go/test/api_path_test.go
  samples/client/petstore/go/go-petstore/client.go
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/client.go
  samples/openapi3/client/petstore/go/go-petstore/client.go
Labels: Client: Go, Issue: Bug

#16828 Type import for oneOf models in ts-fetch template
  modules/openapi-generator/src/main/resources/typescript-fetch/modelOneOf.mustache
Labels: Client: TypeScript, Enhancement: General

#15493 fix(typescript-nodejs): update package json dependencies
  modules/openapi-generator/src/main/resources/typescript-nestjs/package.mustache
  samples/client/petstore/typescript-nestjs-v6-provided-in-root/builds/default/package.json
  samples/client/petstore/typescript-nestjs-v8-provided-in-root/builds/default/package.json
Labels: Client: TypeScript, Enhancement: Compatibility

#16962 [Go] add generateMarshalJSON key for additional-properties settings
  docs/generators/go.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
  modules/openapi-generator/src/main/resources/go/model_simple.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/go/GoClientOptionsTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/GoClientOptionsProvider.java
Labels: Client: Go, Enhancement: Feature

#16961 maven plugin: log global settings
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/config/GeneratorSettings.java
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/GlobalSettings.java
Labels: Enhancement: General, OpenAPI Generator Maven Plugin

#16973 Fix pydantic v1 default template folder
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonPydanticV1ClientCodegen.java
Labels: Client: Python, Issue: Bug

#16945 [Server][Spring] fix support interface and implementation classes for API controllers
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  samples/openapi3/server/petstore/spring-boot-oneof/.openapi-generator/FILES
  samples/openapi3/server/petstore/spring-boot-springdoc/.openapi-generator/FILES
  samples/openapi3/server/petstore/springboot-3/.openapi-generator/FILES
  samples/openapi3/server/petstore/springboot-delegate/.openapi-generator/FILES
  samples/openapi3/server/petstore/springboot-implicitHeaders/.openapi-generator/FILES
  samples/openapi3/server/petstore/springboot-source/.openapi-generator/FILES
  samples/openapi3/server/petstore/springboot/.openapi-generator/FILES
  samples/server/petstore/springboot-beanvalidation-no-nullable/.openapi-generator/FILES
  samples/server/petstore/springboot-beanvalidation/.openapi-generator/FILES
  samples/server/petstore/springboot-delegate-j8/.openapi-generator/FILES
  samples/server/petstore/springboot-delegate-no-response-entity/.openapi-generator/FILES
  samples/server/petstore/springboot-delegate/.openapi-generator/FILES
  samples/server/petstore/springboot-implicitHeaders-annotationLibrary/.openapi-generator/FILES
  samples/server/petstore/springboot-implicitHeaders/.openapi-generator/FILES
  samples/server/petstore/springboot-reactive-noResponseEntity/.openapi-generator/FILES
  samples/server/petstore/springboot-reactive/.openapi-generator/FILES
  samples/server/petstore/springboot-spring-pageable-delegatePattern-without-j8/.openapi-generator/FILES
  samples/server/petstore/springboot-spring-pageable-delegatePattern/.openapi-generator/FILES
  samples/server/petstore/springboot-spring-pageable-without-j8/.openapi-generator/FILES
  samples/server/petstore/springboot-spring-pageable/.openapi-generator/FILES
  samples/server/petstore/springboot-spring-provide-args/.openapi-generator/FILES
  samples/server/petstore/springboot-useoptional/.openapi-generator/FILES
  samples/server/petstore/springboot-virtualan/.openapi-generator/FILES
  samples/server/petstore/springboot/.openapi-generator/FILES
Labels: Issue: Bug, Server: Java, Server: Spring

#16972 Add optional parameter for request body
  modules/openapi-generator/src/main/resources/JavaSpring/beanValidationBodyParams.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/bodyParams.mustache
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/api/FakeApi.java
Labels: Issue: Bug, Server: Java, Server: Spring

#16983 [POSTMAN] [BUG] Correct order of the Postman requests
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PostmanCollectionCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/postman/PostmanCollectionCodegenTest.java
  samples/schema/postman-collection/postman.json
Labels: Issue: Bug, Schema: Postman Collection

#16970 corrected gneration of java jersey code with oneof and anyof
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/anyof_model.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/oneof_model.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey3/anyof_model.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey3/oneof_model.mustache
Labels: Client: Java, Issue: Bug

#16863 [Go] validate required fields when unmarshalling JSON
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
  modules/openapi-generator/src/main/resources/go/model_simple.mustache
  samples/client/echo_api/go/model_pet.go
  samples/client/petstore/go/go-petstore/model_animal.go
  samples/client/petstore/go/go-petstore/model_big_cat.go
  samples/client/petstore/go/go-petstore/model_cat.go
  samples/client/petstore/go/go-petstore/model_category.go
  samples/client/petstore/go/go-petstore/model_dog.go
  samples/client/petstore/go/go-petstore/model_enum_test_.go
  samples/client/petstore/go/go-petstore/model_format_test_.go
  samples/client/petstore/go/go-petstore/model_name.go
  samples/client/petstore/go/go-petstore/model_pet.go
  samples/client/petstore/go/go-petstore/model_type_holder_default.go
  samples/client/petstore/go/go-petstore/model_type_holder_example.go
  samples/openapi3/client/petstore/go/go-petstore/model_animal.go
  samples/openapi3/client/petstore/go/go-petstore/model_apple_req.go
  samples/openapi3/client/petstore/go/go-petstore/model_banana_req.go
  samples/openapi3/client/petstore/go/go-petstore/model_cat.go
  samples/openapi3/client/petstore/go/go-petstore/model_category.go
  samples/openapi3/client/petstore/go/go-petstore/model_dog.go
  samples/openapi3/client/petstore/go/go-petstore/model_duplicated_prop_parent.go
  samples/openapi3/client/petstore/go/go-petstore/model_enum_test_.go
  samples/openapi3/client/petstore/go/go-petstore/model_format_test_.go
  samples/openapi3/client/petstore/go/go-petstore/model_name.go
  samples/openapi3/client/petstore/go/go-petstore/model_pet.go
  samples/openapi3/client/petstore/go/go-petstore/model_whale.go
  samples/openapi3/client/petstore/go/go-petstore/model_zebra.go
  samples/openapi3/client/petstore/go/model_test.go
Labels: Client: Go, Issue: Bug

#16986 Better handling of API response in 3.1 spec
  .github/PULL_REQUEST_TEMPLATE.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractApexCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppPistacheServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppRestSdkClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptFetchClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/test/resources/3_1/java/petstore.yaml
  samples/client/petstore/java/okhttp-gson-3.1/.openapi-generator/FILES
  samples/client/petstore/java/okhttp-gson-3.1/README.md
  samples/client/petstore/java/okhttp-gson-3.1/api/openapi.yaml
  samples/client/petstore/java/okhttp-gson-3.1/docs/FakeApi.md
  samples/client/petstore/java/okhttp-gson-3.1/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/okhttp-gson-3.1/src/test/java/org/openapitools/client/api/FakeApiTest.java
Labels: Enhancement: Feature, Feature: Generator, Feature: OAS 3.1.0 spec support

#16988 openapi normalizer: minor refactoring in responses
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
Labels: Enhancement: Code Cleanup, OpenAPI Normalizer

#16991 Better handling of allOf in request body
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/resources/3_0/echo_api.yaml
  samples/client/echo_api/csharp-restsharp/README.md
  samples/client/echo_api/csharp-restsharp/api/openapi.yaml
  samples/client/echo_api/csharp-restsharp/docs/BodyApi.md
  samples/client/echo_api/csharp-restsharp/src/Org.OpenAPITools/Api/BodyApi.cs
  samples/client/echo_api/go/README.md
  samples/client/echo_api/go/api/openapi.yaml
  samples/client/echo_api/go/api_body.go
  samples/client/echo_api/go/docs/BodyAPI.md
  samples/client/echo_api/java/apache-httpclient/README.md
  samples/client/echo_api/java/apache-httpclient/api/openapi.yaml
  samples/client/echo_api/java/apache-httpclient/docs/BodyApi.md
  samples/client/echo_api/java/apache-httpclient/src/main/java/org/openapitools/client/api/BodyApi.java
  samples/client/echo_api/java/feign-gson/api/openapi.yaml
  samples/client/echo_api/java/feign-gson/src/main/java/org/openapitools/client/api/BodyApi.java
  samples/client/echo_api/java/native/README.md
  samples/client/echo_api/java/native/api/openapi.yaml
  samples/client/echo_api/java/native/docs/BodyApi.md
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/BodyApi.java
  samples/client/echo_api/java/native/src/test/java/org/openapitools/client/CustomTest.java
  samples/client/echo_api/java/okhttp-gson/README.md
  samples/client/echo_api/java/okhttp-gson/api/openapi.yaml
  samples/client/echo_api/java/okhttp-gson/docs/BodyApi.md
  samples/client/echo_api/java/okhttp-gson/src/main/java/org/openapitools/client/api/BodyApi.java
  samples/client/echo_api/php-nextgen/README.md
  samples/client/echo_api/php-nextgen/docs/Api/BodyApi.md
  samples/client/echo_api/php-nextgen/src/Api/BodyApi.php
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent-true/README.md
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent-true/docs/BodyApi.md
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent-true/openapi_client/api/body_api.py
  samples/client/echo_api/python-pydantic-v1/README.md
  samples/client/echo_api/python-pydantic-v1/docs/BodyApi.md
  samples/client/echo_api/python-pydantic-v1/openapi_client/api/body_api.py
  samples/client/echo_api/python/README.md
  samples/client/echo_api/python/docs/BodyApi.md
  samples/client/echo_api/python/openapi_client/api/body_api.py
  samples/client/echo_api/ruby-httpx/README.md
  samples/client/echo_api/ruby-httpx/docs/BodyApi.md
  samples/client/echo_api/ruby-httpx/lib/openapi_client/api/body_api.rb
  samples/client/echo_api/typescript-axios/build/api.ts
Labels: Feature: Generator, Issue: Bug

#16993 Add tests for go generateMarshalJSON option
  bin/configs/go-petstore-generateMarshalJSON-false.yaml
  modules/openapi-generator/src/test/resources/3_0/petstore-addpet-only.yaml
  pom.xml
  samples/openapi3/client/petstore/go-petstore-generateMarshalJSON-false/.gitignore
  samples/openapi3/client/petstore/go-petstore-generateMarshalJSON-false/.openapi-generator-ignore
  samples/openapi3/client/petstore/go-petstore-generateMarshalJSON-false/.openapi-generator/FILES
  samples/openapi3/client/petstore/go-petstore-generateMarshalJSON-false/.openapi-generator/VERSION
  samples/openapi3/client/petstore/go-petstore-generateMarshalJSON-false/.travis.yml
  samples/openapi3/client/petstore/go-petstore-generateMarshalJSON-false/README.md
  samples/openapi3/client/petstore/go-petstore-generateMarshalJSON-false/api/openapi.yaml
  samples/openapi3/client/petstore/go-petstore-generateMarshalJSON-false/api_pet.go
  samples/openapi3/client/petstore/go-petstore-generateMarshalJSON-false/client.go
  samples/openapi3/client/petstore/go-petstore-generateMarshalJSON-false/configuration.go
  samples/openapi3/client/petstore/go-petstore-generateMarshalJSON-false/docs/Category.md
  samples/openapi3/client/petstore/go-petstore-generateMarshalJSON-false/docs/Pet.md
  samples/openapi3/client/petstore/go-petstore-generateMarshalJSON-false/docs/PetAPI.md
  samples/openapi3/client/petstore/go-petstore-generateMarshalJSON-false/docs/Tag.md
  samples/openapi3/client/petstore/go-petstore-generateMarshalJSON-false/git_push.sh
  samples/openapi3/client/petstore/go-petstore-generateMarshalJSON-false/go.mod
  samples/openapi3/client/petstore/go-petstore-generateMarshalJSON-false/go.sum
  samples/openapi3/client/petstore/go-petstore-generateMarshalJSON-false/model_category.go
  samples/openapi3/client/petstore/go-petstore-generateMarshalJSON-false/model_pet.go
  samples/openapi3/client/petstore/go-petstore-generateMarshalJSON-false/model_tag.go
  samples/openapi3/client/petstore/go-petstore-generateMarshalJSON-false/pom.xml
  samples/openapi3/client/petstore/go-petstore-generateMarshalJSON-false/response.go
  samples/openapi3/client/petstore/go-petstore-generateMarshalJSON-false/test/api_pet_test.go
  samples/openapi3/client/petstore/go-petstore-generateMarshalJSON-false/utils.go
Labels: Client: Go, Enhancement: CI/Test

#16981 [csharp] Introducing the `enumPropertyNaming` option to the C# Generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/csharpnetcore/CSharpModelEnumTest.java
Labels: Client: C-Sharp, Enhancement: Feature

#16996 Update C# dependencies to newer versions, update reserved word list
  docs/generators/aspnetcore.md
  docs/generators/csharp-functions.md
  docs/generators/csharp.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/resources/csharp/netcore_project.mustache
  modules/openapi-generator/src/main/resources/csharp/netcore_testproject.mustache
  modules/openapi-generator/src/main/resources/csharp/nuspec.mustache
  samples/client/echo_api/csharp-restsharp/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/echo_api/csharp-restsharp/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/others/csharp-complex-files/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-restsharp-name-parameter-mappings/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-restsharp-name-parameter-mappings/src/Org.OpenAPITools/Model/Env.cs
  samples/client/petstore/csharp-restsharp-name-parameter-mappings/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt-useSourceGeneration/src/UseSourceGeneration.Test/UseSourceGeneration.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-httpclient/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-net47/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-net47/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-net48/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-net48/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-net5.0/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-net5.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClientCore/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClientCoreAndNet47/src/Org.OpenAPITools/Org.OpenAPITools.csproj
Labels: Client: C-Sharp, Enhancement: Compatibility

#16994 Added some Test Cases
  modules/openapi-generator-core/src/test/java/org/openapitools/codegen/config/WorkflowSettingsTest.java
  modules/openapi-generator-online/src/test/java/org/openapitools/codegen/online/api/GenApiControllerTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/android/AndroidClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/AbstractJavaCodegenExampleValuesTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/javascript/JavascriptClientCodegenTest.java
  samples/client/echo_api/java/okhttp-gson/src/test/java/org/openapitools/client/model/BirdAndCategoryTest.java
Labels: Client: Android, Client: Java, Client: JavaScript/Node.js, Enhancement: CI/Test

#16992 fix oneOf merging, upgrade dependencies
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  pom.xml
Labels: Enhancement: Compatibility, Feature: Generator, Issue: Bug

#16929 fix(java): generate correct enum constructor when string format is uri
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/AbstractJavaCodegenTest.java
Labels: Client: Java, Issue: Bug

#16847 [PHP-SYMFONY] Support BackedEnum for enum ref (16846)
  modules/openapi-generator/src/main/resources/php-symfony/api.mustache
  modules/openapi-generator/src/main/resources/php-symfony/api_controller.mustache
  modules/openapi-generator/src/main/resources/php-symfony/api_input_validation.mustache
  modules/openapi-generator/src/main/resources/php-symfony/model.mustache
  modules/openapi-generator/src/main/resources/php-symfony/model_enum.mustache
  modules/openapi-generator/src/main/resources/php-symfony/model_generic.mustache
  modules/openapi-generator/src/main/resources/php-symfony/model_variables.mustache
  modules/openapi-generator/src/main/resources/php-symfony/serialization/JmsSerializer.mustache
  modules/openapi-generator/src/main/resources/php-symfony/testing/model_test.mustache
  samples/server/petstore/php-symfony/SymfonyBundle-php/Api/PetApiInterface.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Api/StoreApiInterface.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Api/UserApiInterface.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/ApiResponse.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/Category.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/EnumStringModel.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/Order.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/Pet.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/Tag.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/User.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Service/JmsSerializer.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Tests/Model/EnumStringModelTest.php
Labels: Enhancement: Feature, Feature: Enum, Server: PHP

#16997 [ts][axios] fix bugs in base.ts
  modules/openapi-generator/src/main/resources/typescript-axios/baseApi.mustache
  samples/client/echo_api/typescript-axios/build/base.ts
  samples/client/others/typescript-axios/with-separate-models-and-api-inheritance/base.ts
  samples/client/petstore/typescript-axios/builds/composed-schemas/base.ts
  samples/client/petstore/typescript-axios/builds/default/base.ts
  samples/client/petstore/typescript-axios/builds/es6-target/base.ts
  samples/client/petstore/typescript-axios/builds/test-petstore/base.ts
  samples/client/petstore/typescript-axios/builds/with-complex-headers/base.ts
  samples/client/petstore/typescript-axios/builds/with-fake-endpoints-models-for-testing-with-http-signature/base.ts
  samples/client/petstore/typescript-axios/builds/with-interfaces/base.ts
  samples/client/petstore/typescript-axios/builds/with-node-imports/base.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/base.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version/base.ts
  samples/client/petstore/typescript-axios/builds/with-single-request-parameters/base.ts
  samples/client/petstore/typescript-axios/builds/with-string-enums/base.ts
Labels: Client: TypeScript, Issue: Bug

#17003 Better null check in getSchemaFromResponse
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
Labels: Enhancement: General, Feature: Generator

#17001 [Go][Server] FormParams - Generic Array Type Handling
  modules/openapi-generator/src/main/resources/go-server/controller-api.mustache
  modules/openapi-generator/src/test/resources/3_0/go-server/petstore.yaml
  samples/server/petstore/go-api-server/api/openapi.yaml
  samples/server/petstore/go-api-server/go/api.go
  samples/server/petstore/go-api-server/go/api_pet.go
  samples/server/petstore/go-api-server/go/api_pet_service.go
  samples/server/petstore/go-chi-server/api/openapi.yaml
  samples/server/petstore/go-chi-server/go/api.go
  samples/server/petstore/go-chi-server/go/api_pet.go
  samples/server/petstore/go-chi-server/go/api_pet_service.go
Labels: Issue: Bug, Server: Go

#16865 [Java][okhttp-gson] validateJsonElement does not validate enum values
  bin/utils/test_file_list.yaml
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/modelEnum.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/modelInnerEnum.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/pojo.mustache
  samples/client/echo_api/java/okhttp-gson/src/main/java/org/openapitools/client/model/DefaultValue.java
  samples/client/echo_api/java/okhttp-gson/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/echo_api/java/okhttp-gson/src/main/java/org/openapitools/client/model/Query.java
  samples/client/echo_api/java/okhttp-gson/src/main/java/org/openapitools/client/model/StringEnumRef.java
  samples/client/others/java/okhttp-gson-streaming/src/main/java/org/openapitools/client/model/SomeObj.java
  samples/client/petstore/java/okhttp-gson-3.1/src/main/java/org/openapitools/client/model/Order.java
  samples/client/petstore/java/okhttp-gson-3.1/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/java/okhttp-gson-awsv4signature/src/main/java/org/openapitools/client/model/Order.java
  samples/client/petstore/java/okhttp-gson-awsv4signature/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/model/BigCat.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/model/EnumArrays.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/model/EnumClass.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/model/EnumTest.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/model/MapTest.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/model/Order.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/model/OuterEnum.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/java/okhttp-gson-group-parameter/src/main/java/org/openapitools/client/model/Order.java
  samples/client/petstore/java/okhttp-gson-group-parameter/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/java/okhttp-gson-nullable-required/src/main/java/org/openapitools/client/model/Order.java
  samples/client/petstore/java/okhttp-gson-nullable-required/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/java/okhttp-gson-nullable-required/src/main/java/org/openapitools/client/model/PetWithRequiredNullableCases1.java
  samples/client/petstore/java/okhttp-gson-nullable-required/src/main/java/org/openapitools/client/model/PetWithRequiredNullableCases2.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/model/BigCat.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/model/EnumArrays.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/model/EnumClass.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/model/EnumTest.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/model/MapTest.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/model/Order.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/model/OuterEnum.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/java/okhttp-gson-swagger1/src/main/java/org/openapitools/client/model/Order.java
  samples/client/petstore/java/okhttp-gson-swagger1/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/java/okhttp-gson-swagger2/src/main/java/org/openapitools/client/model/Order.java
  samples/client/petstore/java/okhttp-gson-swagger2/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/EnumArrays.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/EnumClass.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/EnumStringDiscriminator.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/EnumTest.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/MapTest.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/NewPet.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/Order.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/OuterEnum.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/OuterEnumDefaultValue.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/OuterEnumInteger.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/OuterEnumIntegerDefaultValue.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/PetWithRequiredTags.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/Zebra.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/JSONTest.java
Labels: Client: Java, Feature: Enum, Issue: Bug

#16859 add kotlin-spring beanValidation for RequestBody parameters fix #16738
  modules/openapi-generator/src/main/resources/kotlin-spring/beanValidationBodyParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/beanValidationCore.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/beanValidationPathParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/beanValidationQueryParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/bodyParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/headerParams.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/spring/KotlinSpringServerCodegenTest.java
Labels: Issue: Bug, Server: Kotlin, Server: Spring

#16843 [Kotlin] fix(#14044): ktor JSON serialization handling
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-ktor/infrastructure/ApiClient.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/multiplatform/infrastructure/ApiClient.kt.mustache
  samples/client/petstore/kotlin-array-simple-string-multiplatform/src/commonMain/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-bigdecimal-default-multiplatform/src/commonMain/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-default-values-multiplatform/src/commonMain/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-jvm-ktor-gson/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-jvm-ktor-jackson/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-jvm-ktor-kotlinx_serialization/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin, Issue: Bug

#17023 [GO] Add support for model name mapping for go
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/go/GoModelTest.java
Labels: Client: Go, Enhancement: Feature

#17028 Use postman notation
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PostmanCollectionCodegen.java
  modules/openapi-generator/src/main/resources/postman-collection/item.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/postman/PostmanCollectionCodegenTest.java
  samples/schema/postman-collection/postman.json
Labels: Enhancement: General, Schema: Postman Collection

#17035 Update gradle samples to use gradle wrapper 7.6.3
  modules/openapi-generator-gradle-plugin/samples/local-spec/gradle/wrapper/gradle-wrapper.properties
  modules/openapi-generator-gradle-plugin/samples/local-spec/gradlew
  modules/openapi-generator-gradle-plugin/samples/local-spec/gradlew.bat
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/OpenApiGeneratorPlugin.kt
Labels: Enhancement: CI/Test, OpenAPI Generator Gradle Plugin

#17042 [POSTMAN] Remove unused method doubleCurlyBraces
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PostmanCollectionCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/postman/PostmanCollectionCodegenTest.java
Labels: Enhancement: Code Cleanup, Schema: Postman Collection

#17022 fix(powershell): use apikey name in header instead of securityDefinition spec id
  modules/openapi-generator/src/main/resources/powershell/api.mustache
Labels: Client: PowerShell, Issue: Bug

#17025 Fix powershell client Build.ps1 and *.psm1 error when there is a missing Model folder
  modules/openapi-generator/src/main/resources/powershell/Build.ps1.mustache
  modules/openapi-generator/src/main/resources/powershell/Org.OpenAPITools.psm1.mustache
  samples/client/petstore/powershell/Build.ps1
  samples/client/petstore/powershell/src/PSPetstore/PSPetstore.psm1
Labels: Client: PowerShell, Issue: Bug

#17016 Fix CircleCI build
  .circleci/config.yml
  CI/circle_parallel.sh
  pom.xml
Labels: Enhancement: CI/Test

#17018 Add enum name mapping to Java generators
  bin/configs/java-okhttp-gson.yaml
  docs/customization.md
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/ConfigHelp.java
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/config/GeneratorSettings.java
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/extensions/OpenApiGeneratorGenerateExtension.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConfig.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfigurator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfiguratorUtils.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/resources/3_0/java/petstore-with-fake-endpoints-models-for-testing-okhttp-gson.yaml
  samples/client/petstore/java/okhttp-gson/api/openapi.yaml
  samples/client/petstore/java/okhttp-gson/docs/OuterEnum.md
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/OuterEnum.java
Labels: Client: Java, Enhancement: Feature, Feature: Generator, Issue: Bug

#17032 [Go][Server] Verify Path Params are provided
  modules/openapi-generator/src/main/resources/go-server/controller-api.mustache
  samples/openapi3/server/petstore/go/go-petstore/go/api_store.go
  samples/openapi3/server/petstore/go/go-petstore/go/api_user.go
  samples/server/petstore/go-api-server/go/api_store.go
  samples/server/petstore/go-api-server/go/api_user.go
  samples/server/petstore/go-chi-server/go/api_store.go
  samples/server/petstore/go-chi-server/go/api_user.go
Labels: Issue: Bug, Server: Go

#17053 Update lombok dependency to newer version v1.18.30
  pom.xml
Labels: Enhancement: Compatibility, Feature: Generator

#17055 Fix NPE in request body
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/test/resources/3_0/java/petstore-with-fake-endpoints-models-for-testing-okhttp-gson.yaml
  samples/client/petstore/java/okhttp-gson/README.md
  samples/client/petstore/java/okhttp-gson/api/openapi.yaml
  samples/client/petstore/java/okhttp-gson/docs/AnotherFakeApi.md
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
Labels: Feature: Generator, Issue: Bug

#17056 Retain deprecated in allOf schema handling
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue-5676-enums.yaml
Labels: Feature: Generator, Issue: Bug

#17039 [csharp] Disabled GetHashCode generation
  bin/configs/csharp-generichost-latest-allOf.yaml
  bin/configs/csharp-generichost-latest-anyOf.yaml
  bin/configs/csharp-generichost-latest-nrt-useSourceGeneration.yaml
  bin/configs/csharp-generichost-latest-nrt.yaml
  bin/configs/csharp-generichost-latest-oneOf.yaml
  bin/configs/csharp-generichost-latest.yaml
  bin/configs/csharp-generichost-netstandard2.0.yaml
  bin/configs/csharp-httpclient-netstandard2.0.yaml
  bin/configs/csharp-restsharp-echo-api.yaml
  bin/configs/csharp-restsharp-net4.7-multipleFrameworks.yaml
  bin/configs/csharp-restsharp-net4.7.yaml
  bin/configs/csharp-restsharp-net4.8.yaml
  bin/configs/csharp-restsharp-net6.0-name-mappings.yaml
  bin/configs/csharp-restsharp-net7.0-compareNetObjects.yaml
  bin/configs/csharp-restsharp-net7.0.yaml
  bin/configs/csharp-restsharp-netstandard2.0-complexfiles.yaml
  bin/configs/csharp-restsharp-netstandard2.0-conditionalSerialization.yaml
  bin/configs/csharp-restsharp-netstandard2.0.yaml
  bin/configs/csharp-unityWebRequest-netstandard2.0.yaml
  docs/generators/csharp.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpClientCodegen.java
Labels: Breaking change (with fallback), Client: C-Sharp, Enhancement: General

#17020 [python] added handling for boolean content type
  modules/openapi-generator/src/main/resources/python/rest.mustache
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent-true/openapi_client/rest.py
  samples/client/echo_api/python/openapi_client/rest.py
  samples/openapi3/client/petstore/python/petstore_api/rest.py
Labels: Client: Python, Enhancement: General

#17007 Update base image of Dockerfile
  .github/workflows/docker.yaml
  .hub.cli.dockerfile
  .hub.online.dockerfile
  Dockerfile
  docker-entrypoint.sh
  run-in-docker.sh
Labels: Docker, Enhancement: General

#16918 Add socks5 proxy support for OpenAPI generated python client
  modules/openapi-generator/src/main/resources/python-pydantic-v1/rest.mustache
  modules/openapi-generator/src/main/resources/python/rest.mustache
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent-true/openapi_client/rest.py
  samples/client/echo_api/python-pydantic-v1/openapi_client/rest.py
  samples/client/echo_api/python/openapi_client/rest.py
  samples/openapi3/client/petstore/python-pydantic-v1/petstore_api/rest.py
  samples/openapi3/client/petstore/python/petstore_api/rest.py
Labels: Client: Python, Enhancement: Feature

#17075 [csharp] Added .net8
  .github/workflows/samples-dotnet.yaml
  docs/generators/csharp.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpClientCodegen.java
  modules/openapi-generator/src/main/resources/csharp/netcore_project.mustache
  modules/openapi-generator/src/main/resources/csharp/netcore_testproject.mustache
  samples/client/echo_api/csharp-restsharp/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp-restsharp-name-parameter-mappings/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-manual-tests/ManualTests.Latest.UseSourceGeneration/ManualTests.Latest.UseSourceGeneration.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-manual-tests/OpenAPIClient-generichost-manual-tests/OpenAPIClient-generichost-manual-tests.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt-useSourceGeneration/src/UseSourceGeneration.Test/UseSourceGeneration.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt-useSourceGeneration/src/UseSourceGeneration/README.md
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt-useSourceGeneration/src/UseSourceGeneration/UseSourceGeneration.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/README.md
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/README.md
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/README.md
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/README.md
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/README.md
  samples/client/petstore/csharp/OpenAPIClient-net47/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-net48/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/OpenAPIClient-net5.0/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
Labels: Client: C-Sharp, Enhancement: Compatibility

#17076 Use JDK17 images in Dockerfile
  modules/openapi-generator-cli/Dockerfile
  modules/openapi-generator-online/Dockerfile
Labels: Docker, Enhancement: Compatibility

#17106 [java] Update webclient dependencies to newer version, add tests
  .github/workflows/samples-jdk17.yaml
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/pom.mustache
  samples/client/others/java/webclient-useAbstractionForFiles/build.gradle
  samples/client/others/java/webclient-useAbstractionForFiles/pom.xml
  samples/client/petstore/java/webclient-jakarta/build.gradle
  samples/client/petstore/java/webclient-jakarta/pom.xml
  samples/client/petstore/java/webclient-nullable-arrays/build.gradle
  samples/client/petstore/java/webclient-nullable-arrays/pom.xml
  samples/client/petstore/java/webclient-swagger2/build.gradle
  samples/client/petstore/java/webclient-swagger2/pom.xml
  samples/client/petstore/java/webclient/build.gradle
  samples/client/petstore/java/webclient/pom.xml
Labels: Client: Java, Enhancement: Compatibility

#17107 [java] update rest-assured dependencies to newer versions
  modules/openapi-generator/src/main/resources/Java/libraries/rest-assured/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/rest-assured/pom.mustache
  samples/client/petstore/java/rest-assured-jackson/build.gradle
  samples/client/petstore/java/rest-assured-jackson/pom.xml
  samples/client/petstore/java/rest-assured/build.gradle
  samples/client/petstore/java/rest-assured/pom.xml
Labels: Client: Java, Enhancement: Compatibility

#17120 [PHP-NG] check if json_decode was able to decode response
  modules/openapi-generator/src/main/resources/php-nextgen/api.mustache
  samples/client/echo_api/php-nextgen/src/Api/AuthApi.php
  samples/client/echo_api/php-nextgen/src/Api/BodyApi.php
  samples/client/echo_api/php-nextgen/src/Api/FormApi.php
  samples/client/echo_api/php-nextgen/src/Api/HeaderApi.php
  samples/client/echo_api/php-nextgen/src/Api/PathApi.php
  samples/client/echo_api/php-nextgen/src/Api/QueryApi.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Api/AnotherFakeApi.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Api/DefaultApi.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Api/FakeApi.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Api/FakeClassnameTags123Api.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Api/PetApi.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Api/StoreApi.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Api/UserApi.php
Labels: Client: PHP, Issue: Bug

#17115 [ZAPIER] added required fields to zapier models generation
  modules/openapi-generator/src/main/resources/zapier/model.mustache
  samples/client/petstore/zapier/models/Pet.js
Labels: Issue: Bug, Client: Zapier

#17060 Python-server workflow fixes + pytest
  .github/workflows/samples-python-server.yaml
  modules/openapi-generator/src/main/resources/python-aiohttp/controller_test.mustache
  modules/openapi-generator/src/main/resources/python-aiohttp/requirements.mustache
  modules/openapi-generator/src/main/resources/python-aiohttp/tox.mustache
  samples/server/petstore/python-aiohttp-srclayout/requirements.txt
  samples/server/petstore/python-aiohttp-srclayout/test_python3.sh
  samples/server/petstore/python-aiohttp-srclayout/tests/test_pet_controller.py
  samples/server/petstore/python-aiohttp-srclayout/tests/test_store_controller.py
  samples/server/petstore/python-aiohttp-srclayout/tests/test_user_controller.py
  samples/server/petstore/python-aiohttp-srclayout/tox.ini
Labels: Enhancement: CI/Test, Issue: Bug, Server: Python

#17116 [PHP-NG] don't nullify mixed types
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpNextgenClientCodegen.java
Labels: Client: PHP, Issue: Bug

#17119 [PHP-NG] convert data to string before giving it to preg_match
  modules/openapi-generator/src/main/resources/php-nextgen/model_generic.mustache
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Model/FormatTest.php
Labels: Client: PHP, Issue: Bug

#17095 Map type date to correct rust type NaiveDate
  .devcontainer/devcontainer.json
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustServerCodegen.java
  modules/openapi-generator/src/main/resources/rust-server/client-operation.mustache
  modules/openapi-generator/src/main/resources/rust-server/models.mustache
  modules/openapi-generator/src/main/resources/rust-server/server-operation.mustache
  samples/server/petstore/rust-server/output/multipart-v3/src/models.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/client/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/models.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/FormatTest.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/fake_api.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/examples/server/server.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/client/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/lib.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/models.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/server/mod.rs
  samples/server/petstore/rust-server/output/ping-bearer-auth/src/client/mod.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/models.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/server/mod.rs
Labels: Client: Rust, Issue: Bug

#17124 Fix rust client test
  samples/client/petstore/rust/reqwest/petstore/tests/type_testing.rs
Labels: Client: Rust, Enhancement: CI/Test

#17118 [PHP-NG] allow 'object' type in serializer
  modules/openapi-generator/src/main/resources/php-nextgen/ObjectSerializer.mustache
  samples/client/echo_api/php-nextgen/src/ObjectSerializer.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/ObjectSerializer.php
Labels: Client: PHP, Issue: Bug

#17082 [python] fix: Annotate free-form object as dict in Python
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonCodegen.java
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/inner_dict_with_property.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/nullable_class.py
  samples/openapi3/client/petstore/python/petstore_api/models/inner_dict_with_property.py
  samples/openapi3/client/petstore/python/petstore_api/models/nullable_class.py
  samples/openapi3/client/petstore/python/tests/test_model.py
Labels: Client: Python, Issue: Bug

#17058 [kotlin-client][multiplatform] add iosSimulatorArm64 target
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/multiplatform/build.gradle.kts.mustache
  samples/client/petstore/kotlin-array-simple-string-multiplatform/build.gradle.kts
  samples/client/petstore/kotlin-bigdecimal-default-multiplatform/build.gradle.kts
  samples/client/petstore/kotlin-default-values-multiplatform/build.gradle.kts
  samples/client/petstore/kotlin-multiplatform/build.gradle.kts
Labels: Client: Kotlin, Enhancement: Compatibility

#17099 [BUG] [dart-dio] Support for Analyzer configuration options changes in Dart 3
  modules/openapi-generator/src/main/resources/dart/libraries/dio/analysis_options.mustache
  samples/openapi3/client/petstore/dart-dio/oneof/analysis_options.yaml
  samples/openapi3/client/petstore/dart-dio/oneof_polymorphism_and_inheritance/analysis_options.yaml
  samples/openapi3/client/petstore/dart-dio/oneof_primitive/analysis_options.yaml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/analysis_options.yaml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/analysis_options.yaml
Labels: Client: Dart, Enhancement: Compatibility

#17086 [Java][apache-httpclient][feign][okhttp-gson] Enable access token refresh
  modules/openapi-generator/src/main/resources/Java/auth/HttpBearerAuth.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/apache-httpclient/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/auth/HttpBearerAuth.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/auth/HttpBearerAuth.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/auth/HttpBearerAuth.mustache
  samples/client/echo_api/java/apache-httpclient/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/echo_api/java/apache-httpclient/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/echo_api/java/apache-httpclient/src/test/java/org/openapitools/client/api/AuthApiTest.java
  samples/client/echo_api/java/feign-gson/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/echo_api/java/feign-gson/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/echo_api/java/feign-gson/src/test/java/org/openapitools/client/api/AuthApiTest.java
  samples/client/echo_api/java/native/src/test/java/org/openapitools/client/api/AuthApiTest.java
  samples/client/echo_api/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/echo_api/java/okhttp-gson/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/echo_api/java/okhttp-gson/src/test/java/org/openapitools/client/api/AuthApiTest.java
  samples/client/echo_api/java/resttemplate/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/echo_api/java/resttemplate/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/others/java/okhttp-gson-oneOf/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/others/java/okhttp-gson-oneOf/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/others/java/okhttp-gson-streaming/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/others/java/okhttp-gson-streaming/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/others/java/resttemplate-useAbstractionForFiles/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/apache-httpclient/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/apache-httpclient/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/okhttp-gson-3.1/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-3.1/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/okhttp-gson-awsv4signature/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-awsv4signature/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/okhttp-gson-group-parameter/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-group-parameter/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/okhttp-gson-nullable-required/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-nullable-required/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/okhttp-gson-swagger1/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-swagger1/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/okhttp-gson-swagger2/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-swagger2/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/resttemplate-jakarta/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/resttemplate-swagger1/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/resttemplate-swagger2/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
Labels: Client: Java, Enhancement: General

#17125 [jmeter] Fix exception when operationId has $
  bin/configs/jmeter.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JMeterClientCodegen.java
  modules/openapi-generator/src/test/resources/3_0/jmeter/petstore.yaml
  samples/client/petstore/jmeter/.openapi-generator/FILES
  samples/client/petstore/jmeter/.openapi-generator/VERSION
  samples/client/petstore/jmeter/FakeApi.csv
  samples/client/petstore/jmeter/FakeApi.jmx
  samples/client/petstore/jmeter/PetApi.csv
  samples/client/petstore/jmeter/PetApi.jmx
  samples/client/petstore/jmeter/StoreApi.csv
  samples/client/petstore/jmeter/StoreApi.jmx
  samples/client/petstore/jmeter/UserApi.csv
  samples/client/petstore/jmeter/UserApi.jmx
Labels: Client: JMeter, Issue: Bug

#16604 fix[csharp]: The Deserialize should use the ClientUtils to handle the headers
  modules/openapi-generator/src/main/resources/csharp/libraries/httpclient/ApiClient.mustache
  samples/client/petstore/csharp/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/ApiClient.cs
Labels: Client: C-Sharp, Issue: Bug

#17132 [php-nextgen] Fix comparison using equals
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpNextgenClientCodegen.java
Labels: Client: PHP, Issue: Bug

#17117 [Kotlin] fix: ApiClient match tags of closing brackets with opening ones (#12976)
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-okhttp/infrastructure/ApiClient.kt.mustache
Labels: Client: Kotlin, Issue: Bug

#17027 Fix JavaSpring clientConfiguration's @ConditionalOnProperty import
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-cloud/clientConfiguration.mustache
Labels: Issue: Bug, Server: Java, Server: Spring

#17135 [spring-cloud] add http basic test
  .github/workflows/samples-spring.yaml
  bin/configs/spring-cloud-http-basic-only.yaml
  modules/openapi-generator/src/test/resources/3_0/http-basic-test.yaml
  samples/client/petstore/spring-cloud-feign-without-url/src/main/java/org/openapitools/configuration/ClientConfiguration.java
  samples/client/petstore/spring-cloud/src/main/java/org/openapitools/configuration/ClientConfiguration.java
  samples/openapi3/client/petstore/spring-cloud-3-with-optional/src/main/java/org/openapitools/configuration/ClientConfiguration.java
  samples/openapi3/client/petstore/spring-cloud-3/src/main/java/org/openapitools/configuration/ClientConfiguration.java
  samples/openapi3/client/petstore/spring-cloud-async/src/main/java/org/openapitools/configuration/ClientConfiguration.java
  samples/openapi3/client/petstore/spring-cloud-http-basic/.openapi-generator-ignore
  samples/openapi3/client/petstore/spring-cloud-http-basic/.openapi-generator/FILES
  samples/openapi3/client/petstore/spring-cloud-http-basic/.openapi-generator/VERSION
  samples/openapi3/client/petstore/spring-cloud-http-basic/README.md
  samples/openapi3/client/petstore/spring-cloud-http-basic/pom.xml
  samples/openapi3/client/petstore/spring-cloud-http-basic/src/main/java/org/openapitools/api/PetApi.java
  samples/openapi3/client/petstore/spring-cloud-http-basic/src/main/java/org/openapitools/model/Category.java
  samples/openapi3/client/petstore/spring-cloud-http-basic/src/main/java/org/openapitools/model/Pet.java
  samples/openapi3/client/petstore/spring-cloud-http-basic/src/main/java/org/openapitools/model/Tag.java
  samples/openapi3/client/petstore/spring-cloud-spring-pageable/src/main/java/org/openapitools/configuration/ClientConfiguration.java
Labels: Enhancement: CI/Test, Server: Java, Server: Spring

#17133 python docs templates minor fixes for jekyll
  modules/openapi-generator/src/main/resources/python/api_doc.mustache
  modules/openapi-generator/src/main/resources/python/api_doc_example.mustache
  modules/openapi-generator/src/main/resources/python/model_doc.mustache
Labels: Client: Python, Enhancement: Feature, Feature: Documentation

#17138 Fix handling of composed schema in inline model resolver
  modules/openapi-generator/src/main/java/org/openapitools/codegen/InlineModelResolver.java
  modules/openapi-generator/src/test/resources/3_0/java/petstore-with-fake-endpoints-models-for-testing-okhttp-gson.yaml
  samples/client/petstore/java/okhttp-gson/.openapi-generator/FILES
  samples/client/petstore/java/okhttp-gson/README.md
  samples/client/petstore/java/okhttp-gson/api/openapi.yaml
  samples/client/petstore/java/okhttp-gson/docs/AllOfModelArrayAnyOf.md
  samples/client/petstore/java/okhttp-gson/docs/AllOfModelArrayAnyOfAllOfLinkListColumn1.md
  samples/client/petstore/java/okhttp-gson/docs/AllOfModelArrayAnyOfAllOfLinkListColumn1Value.md
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/AllOfModelArrayAnyOf.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/AllOfModelArrayAnyOfAllOfLinkListColumn1.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/AllOfModelArrayAnyOfAllOfLinkListColumn1Value.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/model/AllOfModelArrayAnyOfAllOfLinkListColumn1Test.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/model/AllOfModelArrayAnyOfAllOfLinkListColumn1ValueTest.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/model/AllOfModelArrayAnyOfTest.java
Labels: Feature: OAS 3.0 spec support, Issue: Bug, Inline Schema Handling

#17014 Adds basic retries to rest API requests for Python asyncio
  modules/openapi-generator/src/main/resources/python/asyncio/rest.mustache
  modules/openapi-generator/src/main/resources/python/pyproject.mustache
  modules/openapi-generator/src/main/resources/python/requirements.mustache
  modules/openapi-generator/src/main/resources/python/setup.mustache
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/rest.py
  samples/openapi3/client/petstore/python-aiohttp/pyproject.toml
  samples/openapi3/client/petstore/python-aiohttp/requirements.txt
  samples/openapi3/client/petstore/python-aiohttp/setup.py
Labels: Client: Python, Enhancement: Feature

#17111 [python-fastapi]Add an alias keyword parameter for Query parameter
  modules/openapi-generator/src/main/resources/python-fastapi/endpoint_argument_definition.mustache
  modules/openapi-generator/src/test/resources/3_0/python-fastapi/petstore.yaml
  samples/server/petstore/python-fastapi/openapi.yaml
  samples/server/petstore/python-fastapi/src/openapi_server/apis/fake_api.py
  samples/server/petstore/python-fastapi/src/openapi_server/apis/pet_api.py
  samples/server/petstore/python-fastapi/src/openapi_server/apis/user_api.py
Labels: Issue: Bug, Server: Python

#17072 feat: Support useSingleRequestParameter feature for java microprofile…
  .github/workflows/samples-java-client-jdk11.yaml
  bin/configs/java-microprofile-rest-client-with-useSingleRequestParameter.yaml
  docs/generators/java.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenOperation.java
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/formParamsNameSuffix.mustache
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/.openapi-generator-ignore
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/.openapi-generator/FILES
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/.openapi-generator/VERSION
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/README.md
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/docs/Category.md
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/docs/ModelApiResponse.md
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/docs/Order.md
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/docs/Pet.md
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/docs/PetApi.md
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/docs/StoreApi.md
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/docs/Tag.md
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/docs/User.md
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/docs/UserApi.md
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/pom.xml
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/src/main/java/org/openapitools/client/api/ApiException.java
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/src/main/java/org/openapitools/client/api/ApiExceptionMapper.java
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/src/main/java/org/openapitools/client/model/Category.java
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/src/main/java/org/openapitools/client/model/ModelApiResponse.java
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/src/main/java/org/openapitools/client/model/Order.java
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/src/main/java/org/openapitools/client/model/Tag.java
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/src/main/java/org/openapitools/client/model/User.java
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/src/test/java/org/openapitools/client/api/PetApiTest.java
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/src/test/java/org/openapitools/client/api/StoreApiTest.java
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/src/test/java/org/openapitools/client/api/UserApiTest.java
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/src/test/java/org/openapitools/client/model/CategoryTest.java
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/src/test/java/org/openapitools/client/model/ModelApiResponseTest.java
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/src/test/java/org/openapitools/client/model/OrderTest.java
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/src/test/java/org/openapitools/client/model/PetTest.java
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/src/test/java/org/openapitools/client/model/TagTest.java
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/src/test/java/org/openapitools/client/model/UserTest.java
Labels: Client: Java, Enhancement: Feature

#17139 Update Dockerfile (cli, online) to use eclipse-temurin:17.0.3_7-jre-focal
  .github/workflows/docker.yaml
  modules/openapi-generator-cli/Dockerfile
  modules/openapi-generator-cli/pom.xml
  modules/openapi-generator-online/Dockerfile
Labels: Docker, Enhancement: Compatibility

#17161 Add openapi-normalizer rule to set tags to operationId
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/OpenAPINormalizerTest.java
Labels: Enhancement: Feature, OpenAPI Normalizer

#17164 Add openapiGeneratorIgnoreList option to pre-populate .openapi-generator-ignore
  docs/customization.md
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/ConfigHelp.java
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/config/GeneratorSettings.java
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/extensions/OpenApiGeneratorGenerateExtension.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConfig.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfigurator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfiguratorUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
Labels: Enhancement: Feature, Feature: Generator

#17177 Fix build errors in JDK 21
  modules/openapi-generator/src/test/java/org/openapitools/codegen/utils/URLPathUtilsTest.java
Labels: Enhancement: Compatibility, Feature: Generator

#17129 [csharp][generichost] Allow multiple auth methods of same type
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/api.mustache
  modules/openapi-generator/src/test/resources/3_0/csharp/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/client/petstore/csharp/OpenAPIClient-ConditionalSerialization/api/openapi.yaml
  samples/client/petstore/csharp/OpenAPIClient-ConditionalSerialization/docs/PetApi.md
  samples/client/petstore/csharp/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt-useSourceGeneration/api/openapi.yaml
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt-useSourceGeneration/docs/apis/PetApi.md
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt-useSourceGeneration/src/UseSourceGeneration/Api/FakeApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt-useSourceGeneration/src/UseSourceGeneration/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt-useSourceGeneration/src/UseSourceGeneration/Api/PetApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt-useSourceGeneration/src/UseSourceGeneration/Api/StoreApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/api/openapi.yaml
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/docs/apis/PetApi.md
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/api/openapi.yaml
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/docs/apis/PetApi.md
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/api/openapi.yaml
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/docs/apis/PetApi.md
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp/OpenAPIClient-httpclient/api/openapi.yaml
  samples/client/petstore/csharp/OpenAPIClient-httpclient/docs/PetApi.md
  samples/client/petstore/csharp/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp/OpenAPIClient-net47/api/openapi.yaml
  samples/client/petstore/csharp/OpenAPIClient-net47/docs/PetApi.md
  samples/client/petstore/csharp/OpenAPIClient-net47/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp/OpenAPIClient-net48/api/openapi.yaml
  samples/client/petstore/csharp/OpenAPIClient-net48/docs/PetApi.md
  samples/client/petstore/csharp/OpenAPIClient-net48/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp/OpenAPIClient-net5.0/api/openapi.yaml
  samples/client/petstore/csharp/OpenAPIClient-net5.0/docs/PetApi.md
  samples/client/petstore/csharp/OpenAPIClient-net5.0/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp/OpenAPIClient-unityWebRequest/api/openapi.yaml
  samples/client/petstore/csharp/OpenAPIClient-unityWebRequest/docs/PetApi.md
  samples/client/petstore/csharp/OpenAPIClient-unityWebRequest/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp/OpenAPIClient/api/openapi.yaml
  samples/client/petstore/csharp/OpenAPIClient/docs/PetApi.md
  samples/client/petstore/csharp/OpenAPIClient/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp/OpenAPIClientCore/api/openapi.yaml
  samples/client/petstore/csharp/OpenAPIClientCore/docs/PetApi.md
  samples/client/petstore/csharp/OpenAPIClientCore/src/Org.OpenAPITools/Api/PetApi.cs
Labels: Client: C-Sharp, Issue: Bug, Enhancement: Security

#17180 [kotlin-client][multiplatform] update dependency versions
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/multiplatform/build.gradle.kts.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/multiplatform/infrastructure/Base64ByteArray.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/multiplatform/infrastructure/Bytes.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/multiplatform/infrastructure/OctetByteArray.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/multiplatform/serial_wrapper_request_list.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/multiplatform/serial_wrapper_request_map.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/multiplatform/serial_wrapper_response_list.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/multiplatform/serial_wrapper_response_map.mustache
  samples/client/petstore/kotlin-array-simple-string-multiplatform/build.gradle.kts
  samples/client/petstore/kotlin-array-simple-string-multiplatform/src/commonMain/kotlin/org/openapitools/client/infrastructure/Base64ByteArray.kt
  samples/client/petstore/kotlin-array-simple-string-multiplatform/src/commonMain/kotlin/org/openapitools/client/infrastructure/Bytes.kt
  samples/client/petstore/kotlin-array-simple-string-multiplatform/src/commonMain/kotlin/org/openapitools/client/infrastructure/OctetByteArray.kt
  samples/client/petstore/kotlin-bigdecimal-default-multiplatform/build.gradle.kts
  samples/client/petstore/kotlin-bigdecimal-default-multiplatform/src/commonMain/kotlin/org/openapitools/client/infrastructure/Base64ByteArray.kt
  samples/client/petstore/kotlin-bigdecimal-default-multiplatform/src/commonMain/kotlin/org/openapitools/client/infrastructure/Bytes.kt
  samples/client/petstore/kotlin-bigdecimal-default-multiplatform/src/commonMain/kotlin/org/openapitools/client/infrastructure/OctetByteArray.kt
  samples/client/petstore/kotlin-default-values-multiplatform/build.gradle.kts
  samples/client/petstore/kotlin-default-values-multiplatform/src/commonMain/kotlin/org/openapitools/client/infrastructure/Base64ByteArray.kt
  samples/client/petstore/kotlin-default-values-multiplatform/src/commonMain/kotlin/org/openapitools/client/infrastructure/Bytes.kt
  samples/client/petstore/kotlin-default-values-multiplatform/src/commonMain/kotlin/org/openapitools/client/infrastructure/OctetByteArray.kt
  samples/client/petstore/kotlin-multiplatform-kotlinx-datetime/build.gradle.kts
  samples/client/petstore/kotlin-multiplatform-kotlinx-datetime/src/commonMain/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-multiplatform-kotlinx-datetime/src/commonMain/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-multiplatform-kotlinx-datetime/src/commonMain/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-multiplatform-kotlinx-datetime/src/commonMain/kotlin/org/openapitools/client/infrastructure/Base64ByteArray.kt
  samples/client/petstore/kotlin-multiplatform-kotlinx-datetime/src/commonMain/kotlin/org/openapitools/client/infrastructure/Bytes.kt
  samples/client/petstore/kotlin-multiplatform-kotlinx-datetime/src/commonMain/kotlin/org/openapitools/client/infrastructure/OctetByteArray.kt
  samples/client/petstore/kotlin-multiplatform/build.gradle.kts
  samples/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/apis/StoreApi.kt
  samples/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/apis/UserApi.kt
  samples/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/infrastructure/Base64ByteArray.kt
  samples/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/infrastructure/Bytes.kt
  samples/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/infrastructure/OctetByteArray.kt
Labels: Client: Kotlin, Enhancement: Compatibility

#17193 Add enum name mapping feature to kotlin generators
  bin/configs/kotlin-enum-default-value.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  samples/client/petstore/kotlin-enum-default-value/src/main/kotlin/org/openapitools/client/models/PropertyOfDay.kt
Labels: Client: Kotlin, Enhancement: Feature, Feature: Enum, Server: Kotlin

#17194 Add enum name mapping feature to C# generators
  bin/configs/csharp-restsharp-net7.0.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpClientCodegen.java
  samples/client/petstore/csharp/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/Order.cs
  samples/client/petstore/csharp/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/OuterEnum.cs
  samples/client/petstore/csharp/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/OuterEnumDefaultValue.cs
Labels: Client: C-Sharp, Enhancement: Feature, Feature: Enum, Server: C-Sharp

#17195 Add enum name mapping support to PHP generators
  bin/configs/php-nextgen.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPhpCodegen.java
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Model/Order.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Model/OuterEnum.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Model/OuterEnumDefaultValue.php
Labels: Client: PHP, Enhancement: Feature, Feature: Enum, Server: PHP

#17201 include {min|max}Items validation in rust-server models
  modules/openapi-generator/src/main/resources/rust-server/models.mustache
Labels: Enhancement: General, Server: Rust

#17215 Add tests for max,min items in array (rust-server)
  modules/openapi-generator/src/main/resources/rust-server/models.mustache
  modules/openapi-generator/src/test/resources/3_0/rust-server/openapi-v3.yaml
  samples/server/petstore/rust-server/output/openapi-v3/api/openapi.yaml
  samples/server/petstore/rust-server/output/openapi-v3/docs/NullableTest.md
  samples/server/petstore/rust-server/output/openapi-v3/src/models.rs
Labels: Enhancement: CI/Test, Server: Rust

#17217 Remove unused CI files
  CI/.drone.yml
  CI/.travis.yml.ios
  CI/.travis.yml.jdk6
Labels: Enhancement: CI/Test

#17221 [JAVA] Jersey3 deprecated field only deprecates getter method
  modules/openapi-generator/src/main/resources/Java/libraries/jersey3/pojo.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  samples/client/petstore/java/jersey3/src/main/java/org/openapitools/client/model/ObjectWithDeprecatedFields.java
Labels: Client: Java, Issue: Bug

#17236 [BUG] OpenAPI normalizer ignoring common parameters
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/OpenAPINormalizerTest.java
  modules/openapi-generator/src/test/resources/3_1/common-parameters.yaml
Labels: Issue: Bug, OpenAPI Normalizer

#17259 [java] Update logback to newer versions
  modules/openapi-generator/src/main/resources/Java/libraries/feign/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/pom_3.0.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf-ext/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/cxf/server/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/libraries/jersey3/pom.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/pom.mustache
  modules/openapi-generator/src/main/resources/java-pkmst/pom.mustache
  modules/openapi-generator/src/main/resources/java-undertow-server/pom.mustache
  samples/client/echo_api/java/feign-gson/pom.xml
  samples/client/petstore/java/feign-no-nullable/pom.xml
  samples/client/petstore/java/feign/pom.xml
  samples/client/petstore/java/microprofile-rest-client-3.0-jackson-with-xml/pom.xml
  samples/client/petstore/java/microprofile-rest-client-3.0-jackson/pom.xml
  samples/client/petstore/java/microprofile-rest-client-3.0/pom.xml
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/pom.xml
  samples/client/petstore/java/microprofile-rest-client/pom.xml
  samples/server/petstore/java-undertow/pom.xml
  samples/server/petstore/jaxrs-cxf-annotated-base-path/pom.xml
  samples/server/petstore/jaxrs-cxf-non-spring-app/pom.xml
  samples/server/petstore/jaxrs-cxf/pom.xml
  samples/server/petstore/jaxrs-datelib-j8/pom.xml
  samples/server/petstore/jaxrs-jersey/pom.xml
  samples/server/petstore/jaxrs/jersey2-useTags/pom.xml
  samples/server/petstore/jaxrs/jersey2/pom.xml
  samples/server/petstore/jaxrs/jersey3/pom.xml
Labels: Client: Java, Enhancement: Compatibility, Server: Java

#17197 [BUGFIX][Rust] Array with unique enum items no longer causes mismatched types error
  modules/openapi-generator/src/main/resources/rust/model.mustache
  modules/openapi-generator/src/test/resources/3_0/rust/petstore.yaml
  samples/client/petstore/rust/hyper/petstore/.openapi-generator/FILES
  samples/client/petstore/rust/hyper/petstore/README.md
  samples/client/petstore/rust/hyper/petstore/docs/UniqueItemArrayTesting.md
  samples/client/petstore/rust/hyper/petstore/src/models/mod.rs
  samples/client/petstore/rust/hyper/petstore/src/models/unique_item_array_testing.rs
  samples/client/petstore/rust/reqwest/petstore-async-middleware/.openapi-generator/FILES
  samples/client/petstore/rust/reqwest/petstore-async-middleware/README.md
  samples/client/petstore/rust/reqwest/petstore-async-middleware/docs/UniqueItemArrayTesting.md
  samples/client/petstore/rust/reqwest/petstore-async-middleware/src/models/mod.rs
  samples/client/petstore/rust/reqwest/petstore-async-middleware/src/models/unique_item_array_testing.rs
  samples/client/petstore/rust/reqwest/petstore-async/.openapi-generator/FILES
  samples/client/petstore/rust/reqwest/petstore-async/README.md
  samples/client/petstore/rust/reqwest/petstore-async/docs/UniqueItemArrayTesting.md
  samples/client/petstore/rust/reqwest/petstore-async/src/models/mod.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/models/unique_item_array_testing.rs
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/.openapi-generator/FILES
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/README.md
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/docs/UniqueItemArrayTesting.md
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/src/models/mod.rs
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/src/models/unique_item_array_testing.rs
  samples/client/petstore/rust/reqwest/petstore/.openapi-generator/FILES
  samples/client/petstore/rust/reqwest/petstore/README.md
  samples/client/petstore/rust/reqwest/petstore/docs/UniqueItemArrayTesting.md
  samples/client/petstore/rust/reqwest/petstore/src/models/mod.rs
  samples/client/petstore/rust/reqwest/petstore/src/models/unique_item_array_testing.rs
Labels: Client: Rust, Issue: Bug
