Repository OpenAPITools/openapi-generator, pull requests merged in 2023-06, with the labels that each got.

#15705 Add go API key example in README.md
  modules/openapi-generator/src/main/resources/go/README.mustache
Labels: Client: Go, Enhancement: Feature, Feature: Documentation

#15697 Fix property name comparison in C#
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
Labels: Client: C-Sharp, Issue: Bug

#15734 Add support for dry-run flag to Maven and Gradle plugins
  modules/openapi-generator-gradle-plugin/README.adoc
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/OpenApiGeneratorPlugin.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/extensions/OpenApiGeneratorGenerateExtension.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
  modules/openapi-generator-gradle-plugin/src/test/kotlin/GenerateTaskDslTest.kt
  modules/openapi-generator-maven-plugin/README.md
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
Labels: Enhancement: Feature, OpenAPI Generator Maven Plugin, OpenAPI Generator Gradle Plugin

#15720 [Go] Update go-echo-server generator to respect the --git-host argument
  bin/configs/go-echo-server-petstore-new.yaml
  modules/openapi-generator/src/main/resources/go-echo-server/api.mustache
  modules/openapi-generator/src/main/resources/go-echo-server/go-mod.mustache
  modules/openapi-generator/src/main/resources/go-echo-server/main.mustache
  samples/server/petstore/go-echo-server/go.mod
  samples/server/petstore/go-echo-server/handlers/api_pet.go
  samples/server/petstore/go-echo-server/handlers/api_store.go
  samples/server/petstore/go-echo-server/handlers/api_user.go
  samples/server/petstore/go-echo-server/main.go
Labels: Enhancement: General, Server: Go

#15716 [R] fix security features listed in documentation
  docs/generators/r.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
Labels: Client: R, Enhancement: Feature, Feature: Documentation

#15738 Do not skip jacoco report in Linux workflow
  .github/workflows/linux.yaml
Labels: Enhancement: CI/Test

#15715 [JavaScript][javascript-flowtyped] fix security features listed in documentation
  docs/generators/javascript-flowtyped.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptFlowtypedClientCodegen.java
Labels: Client: JavaScript/Node.js, Enhancement: Feature, Feature: Documentation

#15718 [Rust] fix security features listed in documentation
  docs/generators/rust.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustClientCodegen.java
Labels: Client: Rust, Enhancement: Feature, Feature: Documentation

#15740 [csharp-netcore][generichost] Improved spacing
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/mustache/TrimLineBreaksLambda.java
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/JsonConverter.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/api_test.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools.Test/Api/AnotherFakeApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools.Test/Api/DefaultApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools.Test/Api/FakeApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools.Test/Api/FakeClassnameTags123ApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools.Test/Api/PetApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools.Test/Api/StoreApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools.Test/Api/UserApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/ChildCatAllOf.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/EnumArrays.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/EnumTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/NullableClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/Order.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/Pet.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/Zebra.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools.Test/Api/AnotherFakeApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools.Test/Api/DefaultApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools.Test/Api/FakeApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools.Test/Api/FakeClassnameTags123ApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools.Test/Api/PetApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools.Test/Api/StoreApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools.Test/Api/UserApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/ChildCatAllOf.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/EnumArrays.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/EnumTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/NullableClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/Order.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/Pet.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/Zebra.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools.Test/Api/DefaultApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools.Test/Api/DefaultApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools.Test/Api/DefaultApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools.Test/Api/AnotherFakeApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools.Test/Api/DefaultApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools.Test/Api/FakeApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools.Test/Api/FakeClassnameTags123ApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools.Test/Api/PetApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools.Test/Api/StoreApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools.Test/Api/UserApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/ChildCatAllOf.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/EnumArrays.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/EnumTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/NullableClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/Order.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/Pet.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/Zebra.cs
Labels: Client: C-Sharp, Enhancement: Code format

#15686 [fastapi] Fixed default for string query param
  modules/openapi-generator/src/main/resources/python-fastapi/endpoint_argument_definition.mustache
Labels: Issue: Bug, Server: Python

#15744 Add a test case for python-fastapi query parameter default value
  bin/configs/python-fastapi.yaml
  modules/openapi-generator/src/test/resources/3_0/python-fastapi/petstore.yaml
  samples/server/petstore/python-fastapi/.openapi-generator/FILES
  samples/server/petstore/python-fastapi/openapi.yaml
  samples/server/petstore/python-fastapi/src/openapi_server/apis/fake_api.py
  samples/server/petstore/python-fastapi/src/openapi_server/apis/fake_api_base.py
  samples/server/petstore/python-fastapi/src/openapi_server/main.py
  samples/server/petstore/python-fastapi/tests/test_fake_api.py
Labels: Enhancement: CI/Test, Server: Python

#15741 [csharp-netcore][generichost] Improved spacing
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/api.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/UserApi.cs
Labels: Client: C-Sharp, Enhancement: Code format

#15742 [csharp-netcore][generichose] Use correct name for enum while serializing
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/JsonConverter.mustache
Labels: Client: C-Sharp, Feature: Enum, Issue: Bug

#15743 [csharp-netcore][generichost] Fixed more warnings and spacing issues
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/mustache/TrimTrailingWhiteSpaceLambda.java
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/ApiTestsBase.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/IServiceCollectionExtensions.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/netcore_project.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools.Test/Api/ApiTestsBase.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Extensions/IServiceCollectionExtensions.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools.Test/Api/ApiTestsBase.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Extensions/IServiceCollectionExtensions.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools.Test/Api/ApiTestsBase.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Extensions/IServiceCollectionExtensions.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools.Test/Api/ApiTestsBase.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Extensions/IServiceCollectionExtensions.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools.Test/Api/ApiTestsBase.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Extensions/IServiceCollectionExtensions.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools.Test/Api/ApiTestsBase.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Org.OpenAPITools.csproj
Labels: Client: C-Sharp, Enhancement: Code format

#15749 [csharp][generichost] Used partial methods for logging
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/AfterOperationDefaultImplementation.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/ApiResponse`1.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/OnErrorDefaultImplementation.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/api.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Client/ApiResponse`1.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Client/ApiResponse`1.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Client/ApiResponse`1.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Client/ApiResponse`1.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Client/ApiResponse`1.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Client/ApiResponse`1.cs
Labels: Breaking change (without fallback), Client: C-Sharp, Enhancement: General

#15687 [C#] [csharp] [chsarp-netcore] fix security features listed in documentation
  docs/generators/csharp-netcore.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpNetCoreReducedClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CsharpNetcoreFunctionsServerCodegen.java
Labels: Client: C-Sharp, Enhancement: Feature, Feature: Documentation

#15698 [openapi-normalizer] Support normalizing null types using OAS 3.1 syntax
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/OpenAPINormalizerTest.java
  modules/openapi-generator/src/test/resources/3_0/convertEnumNullToNullable_test.yaml
  modules/openapi-generator/src/test/resources/3_0/simplifyOneOfAnyOf_test.yaml
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/api/openapi.yaml
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Model/Drawing.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/api/openapi.yaml
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/docs/models/Drawing.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/Drawing.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/api/openapi.yaml
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/docs/models/Drawing.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/Drawing.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/api/openapi.yaml
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/docs/models/Drawing.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/Drawing.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/api/openapi.yaml
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/Drawing.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/api/openapi.yaml
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/Drawing.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net48/api/openapi.yaml
  samples/client/petstore/csharp-netcore/OpenAPIClient-net48/src/Org.OpenAPITools/Model/Drawing.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/api/openapi.yaml
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/Drawing.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-unityWebRequest/api/openapi.yaml
  samples/client/petstore/csharp-netcore/OpenAPIClient-unityWebRequest/src/Org.OpenAPITools/Model/Drawing.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/api/openapi.yaml
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/Drawing.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/api/openapi.yaml
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/Drawing.cs
  samples/client/petstore/java/jersey3/api/openapi.yaml
  samples/client/petstore/java/jersey3/src/main/java/org/openapitools/client/model/Drawing.java
  samples/client/petstore/java/okhttp-gson/api/openapi.yaml
  samples/client/petstore/typescript-axios/builds/test-petstore/api.ts
  samples/openapi3/client/petstore/java/jersey2-java8/api/openapi.yaml
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/Drawing.java
Labels: Enhancement: General, Feature: OAS 3.1.0 spec support, OpenAPI Normalizer

#15767 [csharp][generichost] Removed unneeded feature
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/DefaultApis.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/HostConfiguration.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/IHostBuilderExtensions.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/IServiceCollectionExtensions.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/api.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools.Test/Model/DrawingTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Client/HostConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Extensions/IHostBuilderExtensions.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Extensions/IServiceCollectionExtensions.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools.Test/Model/DrawingTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Client/HostConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Extensions/IHostBuilderExtensions.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Extensions/IServiceCollectionExtensions.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Client/HostConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Extensions/IHostBuilderExtensions.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Extensions/IServiceCollectionExtensions.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Client/HostConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Extensions/IHostBuilderExtensions.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Extensions/IServiceCollectionExtensions.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Client/HostConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Extensions/IHostBuilderExtensions.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Extensions/IServiceCollectionExtensions.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools.Test/Model/DrawingTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/AnotherFakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/DefaultApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/FakeClassnameTags123Api.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/StoreApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/UserApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Client/HostConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Extensions/IHostBuilderExtensions.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Extensions/IServiceCollectionExtensions.cs
Labels: Client: C-Sharp, Enhancement: Code Cleanup

#15759 [Kotlin-Spring] fix use of isBasic from #15048
  modules/openapi-generator/src/main/resources/kotlin-spring/libraries/spring-cloud/clientConfiguration.mustache
Labels: Enhancement: Feature, Feature: Documentation, Server: Kotlin

#15756 [Java] fix security features listed in documentation
  docs/generators/java-helidon-client.md
  docs/generators/java-helidon-server.md
  docs/generators/java-inflector.md
  docs/generators/java-msf4j.md
  docs/generators/java-pkmst.md
  docs/generators/java-play-framework.md
  docs/generators/java-undertow-server.md
  docs/generators/java-vertx-web.md
  docs/generators/java-vertx.md
  docs/generators/java.md
  docs/generators/jaxrs-cxf-cdi.md
  docs/generators/jaxrs-cxf-client.md
  docs/generators/jaxrs-cxf-extended.md
  docs/generators/jaxrs-cxf.md
  docs/generators/jaxrs-jersey.md
  docs/generators/jaxrs-resteasy-eap.md
  docs/generators/jaxrs-resteasy.md
  docs/generators/jaxrs-spec.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaJAXRSSpecServerCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
Labels: Client: Java, Enhancement: Feature, Feature: Documentation

#15775 [TS] Rename function to avoid confusion of function in parent class
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptClientCodegen.java
Labels: Client: TypeScript, Enhancement: Code Cleanup

#15776 Update maven-rewrite to newer version
  pom.xml
Labels: Enhancement: Compatibility, Feature: Generator

#15777 Minor refactoring on default codegen
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Feature: Generator, Enhancement: Code Cleanup

#15064 [Java][Jaxrs][Resteasy] add @Valid to getter methods, updated
  modules/openapi-generator/src/main/resources/JavaJaxRS/resteasy/pojo.mustache
  samples/server/petstore/jaxrs-resteasy/default/src/gen/java/org/openapitools/model/Category.java
  samples/server/petstore/jaxrs-resteasy/default/src/gen/java/org/openapitools/model/ModelApiResponse.java
  samples/server/petstore/jaxrs-resteasy/default/src/gen/java/org/openapitools/model/Order.java
  samples/server/petstore/jaxrs-resteasy/default/src/gen/java/org/openapitools/model/Pet.java
  samples/server/petstore/jaxrs-resteasy/default/src/gen/java/org/openapitools/model/Tag.java
  samples/server/petstore/jaxrs-resteasy/default/src/gen/java/org/openapitools/model/User.java
  samples/server/petstore/jaxrs-resteasy/java8/src/gen/java/org/openapitools/model/Category.java
  samples/server/petstore/jaxrs-resteasy/java8/src/gen/java/org/openapitools/model/ModelApiResponse.java
  samples/server/petstore/jaxrs-resteasy/java8/src/gen/java/org/openapitools/model/Order.java
  samples/server/petstore/jaxrs-resteasy/java8/src/gen/java/org/openapitools/model/Pet.java
  samples/server/petstore/jaxrs-resteasy/java8/src/gen/java/org/openapitools/model/Tag.java
  samples/server/petstore/jaxrs-resteasy/java8/src/gen/java/org/openapitools/model/User.java
  samples/server/petstore/jaxrs-resteasy/joda/src/gen/java/org/openapitools/model/Category.java
  samples/server/petstore/jaxrs-resteasy/joda/src/gen/java/org/openapitools/model/ModelApiResponse.java
  samples/server/petstore/jaxrs-resteasy/joda/src/gen/java/org/openapitools/model/Order.java
  samples/server/petstore/jaxrs-resteasy/joda/src/gen/java/org/openapitools/model/Pet.java
  samples/server/petstore/jaxrs-resteasy/joda/src/gen/java/org/openapitools/model/Tag.java
  samples/server/petstore/jaxrs-resteasy/joda/src/gen/java/org/openapitools/model/User.java
Labels: Enhancement: General, Server: Java

#15693 Allow configuration cache compatibility
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
  modules/openapi-generator-gradle-plugin/src/test/kotlin/GenerateTaskConfigurationCacheTest.kt
Labels: Enhancement: General, OpenAPI Generator Gradle Plugin

#15789 Update bitrise.io config
  bin/configs/swift5-any-codable.yaml
  bitrise.yml
  samples/client/petstore/swift5/anycodableLibrary/.gitignore
  samples/client/petstore/swift5/anycodableLibrary/.openapi-generator-ignore
  samples/client/petstore/swift5/anycodableLibrary/.openapi-generator/FILES
  samples/client/petstore/swift5/anycodableLibrary/.openapi-generator/VERSION
  samples/client/petstore/swift5/anycodableLibrary/.swiftformat
  samples/client/petstore/swift5/anycodableLibrary/Cartfile
  samples/client/petstore/swift5/anycodableLibrary/OpenAPIClient.podspec
  samples/client/petstore/swift5/anycodableLibrary/Package.swift
  samples/client/petstore/swift5/anycodableLibrary/PetstoreClient.podspec
  samples/client/petstore/swift5/anycodableLibrary/PetstoreClient/Classes/OpenAPIs/APIHelper.swift
  samples/client/petstore/swift5/anycodableLibrary/PetstoreClient/Classes/OpenAPIs/APIs.swift
  samples/client/petstore/swift5/anycodableLibrary/PetstoreClient/Classes/OpenAPIs/APIs/PetsAPI.swift
  samples/client/petstore/swift5/anycodableLibrary/PetstoreClient/Classes/OpenAPIs/CodableHelper.swift
  samples/client/petstore/swift5/anycodableLibrary/PetstoreClient/Classes/OpenAPIs/Configuration.swift
  samples/client/petstore/swift5/anycodableLibrary/PetstoreClient/Classes/OpenAPIs/Extensions.swift
  samples/client/petstore/swift5/anycodableLibrary/PetstoreClient/Classes/OpenAPIs/JSONDataEncoding.swift
  samples/client/petstore/swift5/anycodableLibrary/PetstoreClient/Classes/OpenAPIs/JSONEncodingHelper.swift
  samples/client/petstore/swift5/anycodableLibrary/PetstoreClient/Classes/OpenAPIs/Models.swift
  samples/client/petstore/swift5/anycodableLibrary/PetstoreClient/Classes/OpenAPIs/Models/PrefixPetSuffix.swift
  samples/client/petstore/swift5/anycodableLibrary/PetstoreClient/Classes/OpenAPIs/OpenISO8601DateFormatter.swift
  samples/client/petstore/swift5/anycodableLibrary/PetstoreClient/Classes/OpenAPIs/SynchronizedDictionary.swift
  samples/client/petstore/swift5/anycodableLibrary/PetstoreClient/Classes/OpenAPIs/URLSessionImplementations.swift
  samples/client/petstore/swift5/anycodableLibrary/PetstoreClient/Classes/OpenAPIs/Validation.swift
  samples/client/petstore/swift5/anycodableLibrary/README.md
  samples/client/petstore/swift5/anycodableLibrary/docs/PetsAPI.md
  samples/client/petstore/swift5/anycodableLibrary/docs/PrefixPetSuffix.md
  samples/client/petstore/swift5/anycodableLibrary/git_push.sh
  samples/client/petstore/swift5/anycodableLibrary/pom.xml
  samples/client/petstore/swift5/anycodableLibrary/project.yml
  samples/client/petstore/swift5/anycodableLibrary/run_spmbuild.sh
  samples/client/petstore/swift5/swift5_test_all.sh
Labels: Client: Swift, Enhancement: CI/Test

#15695 [Python] default values escaping more appropriate
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonClientCodegenTest.java
Labels: Client: Python, Issue: Bug

#15722 [Python] Added BadRequestException as a subclass in python exceptions
  modules/openapi-generator/src/main/resources/python/exceptions.mustache
  modules/openapi-generator/src/main/resources/python/rest.mustache
  samples/client/echo_api/python/openapi_client/exceptions.py
  samples/client/echo_api/python/openapi_client/rest.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/exceptions.py
  samples/openapi3/client/petstore/python/petstore_api/exceptions.py
  samples/openapi3/client/petstore/python/petstore_api/rest.py
Labels: Enhancement: General, python

#15802 [Python] fix access_token set to None when constructing Configuration object
  modules/openapi-generator/src/main/resources/python/configuration.mustache
  samples/client/petstore/python/.openapi-generator/VERSION
  samples/client/petstore/python_disallowAdditionalPropertiesIfNotPresent/.openapi-generator/VERSION
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/configuration.py
  samples/openapi3/client/petstore/python/petstore_api/configuration.py
  samples/openapi3/client/petstore/python/tests/test_configuration.py
Labels: Client: Python, Issue: Bug

#15765 [Go] Serialize readonly fields
  modules/openapi-generator/src/main/resources/go/model_simple.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/go/GoClientCodegenTest.java
  samples/client/petstore/go/go-petstore/model_has_only_read_only.go
  samples/client/petstore/go/go-petstore/model_name.go
  samples/client/petstore/go/go-petstore/model_read_only_first.go
  samples/openapi3/client/petstore/go/go-petstore/model_has_only_read_only.go
  samples/openapi3/client/petstore/go/go-petstore/model_name.go
  samples/openapi3/client/petstore/go/go-petstore/model_read_only_first.go
  samples/openapi3/client/petstore/go/go-petstore/model_read_only_with_default.go
  samples/openapi3/client/petstore/go/model_test.go
Labels: Client: Go, Issue: Bug

#15804 [python] Add py.typed
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/main/resources/python/py.typed.mustache
  modules/openapi-generator/src/main/resources/python/pyproject.mustache
  modules/openapi-generator/src/main/resources/python/setup.mustache
  samples/client/echo_api/python/.openapi-generator/FILES
  samples/client/echo_api/python/openapi_client/py.typed
  samples/client/echo_api/python/pyproject.toml
  samples/client/echo_api/python/setup.py
  samples/openapi3/client/petstore/python-aiohttp/.openapi-generator/FILES
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/py.typed
  samples/openapi3/client/petstore/python-aiohttp/pyproject.toml
  samples/openapi3/client/petstore/python-aiohttp/setup.py
  samples/openapi3/client/petstore/python/.openapi-generator/FILES
  samples/openapi3/client/petstore/python/petstore_api/py.typed
  samples/openapi3/client/petstore/python/pyproject.toml
  samples/openapi3/client/petstore/python/setup.py
Labels: Client: Python, Enhancement: General

#15810 [python] install urllib3 < 2.1.0 only
  modules/openapi-generator/src/main/resources/python/requirements.mustache
  modules/openapi-generator/src/main/resources/python/setup.mustache
  samples/client/echo_api/python/requirements.txt
  samples/client/echo_api/python/setup.py
  samples/openapi3/client/petstore/python-aiohttp/requirements.txt
  samples/openapi3/client/petstore/python-aiohttp/setup.py
  samples/openapi3/client/petstore/python/requirements.txt
  samples/openapi3/client/petstore/python/setup.py
Labels: Client: Python, Enhancement: Compatibility

#15620 [dart-dio] Use sourceFolder property instead of src
  modules/openapi-generator/src/main/resources/dart/libraries/dio/analysis_options.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/json_serializable/api/imports.mustache
Labels: Client: Dart, Issue: Bug

#15826 FIX: Typo on swagger2 dependency
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/build.gradle.mustache
  samples/client/petstore/java/webclient-swagger2/build.gradle
Labels: Client: Java, Issue: Bug

#15832 [spring] Fix invalid swagger2 annotation library version in pom.xml
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-boot/pom.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-cloud/pom-sb3.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/libraries/spring-cloud/pom.mustache
Labels: Issue: Bug, Server: Java, Server: Spring

#15827 [BUG] [Java-Spring] Required-Fields-Constructor has wrong super call when using multiple inheritance layers
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/resources/bugs/issue_constructor-required-values-with-multiple-inheritance.yaml
Labels: Issue: Bug, Server: Java, Server: Spring

#15837 Add java-webclient gradle test
  .github/workflows/gradle-test.yaml
  samples/client/petstore/java/webclient-swagger2/.openapi-generator-ignore
Labels: Client: Java, Enhancement: CI/Test

#15818 [csharp-netcore] Configure the API key in string format for HttpSigningConfiguration
  modules/openapi-generator/src/main/resources/csharp-netcore/HttpSigningConfiguration.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net48/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-unityWebRequest/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
Labels: Client: C-Sharp, Enhancement: General

#15814 [abstract-csharp] Make data types overridable
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpFunctionsServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpReducedClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/csharpnetcore/CSharpClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/csharpnetcore/CSharpModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/csharpnetcore/CSharpOperationTest.java
Labels: Client: C-Sharp, Enhancement: General

#15836 [BUG][JAVA] Handling default values leads to wrong defaults or not compilable code fixed
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/bugs/java-codegen-empty-array-as-default-value/baseType.yaml
  modules/openapi-generator/src/test/resources/bugs/java-codegen-empty-array-as-default-value/defaultValuesType.yaml
  modules/openapi-generator/src/test/resources/bugs/java-codegen-empty-array-as-default-value/issue_wrong-default.yaml
  modules/openapi-generator/src/test/resources/bugs/java-codegen-empty-array-as-default-value/objectType.yaml
Labels: Client: Java, Issue: Bug

#15842 Scala sttp stability change
  docs/generators/scala-sttp.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaSttpClientCodegen.java
Labels: Client: Scala

#15844 [python] Fix map of array in property
  modules/openapi-generator/src/main/resources/python/model_generic.mustache
  modules/openapi-generator/src/test/resources/3_0/python/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/openapi3/client/petstore/python-aiohttp/.openapi-generator/FILES
  samples/openapi3/client/petstore/python-aiohttp/README.md
  samples/openapi3/client/petstore/python-aiohttp/docs/MapOfArrayOfModel.md
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/__init__.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/__init__.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/models/map_of_array_of_model.py
  samples/openapi3/client/petstore/python-aiohttp/test/test_map_of_array_of_model.py
  samples/openapi3/client/petstore/python/.openapi-generator/FILES
  samples/openapi3/client/petstore/python/README.md
  samples/openapi3/client/petstore/python/docs/MapOfArrayOfModel.md
  samples/openapi3/client/petstore/python/petstore_api/__init__.py
  samples/openapi3/client/petstore/python/petstore_api/models/__init__.py
  samples/openapi3/client/petstore/python/petstore_api/models/map_of_array_of_model.py
  samples/openapi3/client/petstore/python/test/test_map_of_array_of_model.py
  samples/openapi3/client/petstore/python/tests/test_model.py
Labels: Client: Python, Issue: Bug

#15830 Add containerType to codegen parameter
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/dict_query_parameter.yaml
Labels: Enhancement: General, Feature: Generator

#14666 [dart-dio] Correctly serialize path parameters
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioClientCodegen.java
  modules/openapi-generator/src/main/resources/dart/libraries/dio/api.mustache
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/api/store_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/api/user_api.dart
Labels: Client: Dart, Issue: Bug

#15841 [abstract-csharp] Process all operation parameter collections
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenOperation.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpFunctionsServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpReducedClientCodegen.java
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/api.mustache
  samples/client/others/csharp-netcore-complex-files/src/Org.OpenAPITools/Api/MultipartApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/PetApi.cs
Labels: Client: C-Sharp, Enhancement: General, Feature: Generator, Server: C-Sharp

#15817 [Java] [Kotlin] ignore unsupported schemes instead of throwing exception
  modules/openapi-generator/src/main/resources/Java/libraries/feign/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/ApiClient.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/infrastructure/ApiClient.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/ktor/_principal.mustache
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/retrofit2/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/retrofit2rx2/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/retrofit2rx3/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/kotlin-retrofit2-kotlinx_serialization/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-retrofit2-rx3/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-retrofit2/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/server/petstore/kotlin-server-modelMutable/src/main/kotlin/org/openapitools/server/apis/PetApi.kt
  samples/server/petstore/kotlin-server-modelMutable/src/main/kotlin/org/openapitools/server/apis/StoreApi.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/apis/PetApi.kt
  samples/server/petstore/kotlin-server/ktor/src/main/kotlin/org/openapitools/server/apis/StoreApi.kt
Labels: Client: Java, Client: Kotlin, Enhancement: General

#15857 Fetch request inline (single) example (bis)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenMediaType.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/content-data.yaml
Labels: Enhancement: Feature, Feature: Generator

#15859 fix: NullPointerException in DefaultCodegen.mergeProperties when processing models
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue15859.json
Labels: Feature: Generator, Issue: Bug

#15288 Rust validation handling
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractRustCodegen.java
  modules/openapi-generator/src/main/resources/rust-server/Cargo.mustache
  modules/openapi-generator/src/main/resources/rust-server/models.mustache
  modules/openapi-generator/src/test/resources/3_0/rust/petstore.yaml
  samples/client/petstore/rust/hyper/petstore/docs/User.md
  samples/client/petstore/rust/hyper/petstore/src/models/user.rs
  samples/client/petstore/rust/reqwest/petstore-async-middleware/docs/User.md
  samples/client/petstore/rust/reqwest/petstore-async-middleware/src/models/user.rs
  samples/client/petstore/rust/reqwest/petstore-async/docs/User.md
  samples/client/petstore/rust/reqwest/petstore-async/src/models/user.rs
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/docs/User.md
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/src/models/user.rs
  samples/client/petstore/rust/reqwest/petstore/docs/User.md
  samples/client/petstore/rust/reqwest/petstore/src/models/user.rs
  samples/server/petstore/rust-server/output/multipart-v3/Cargo.toml
  samples/server/petstore/rust-server/output/multipart-v3/src/models.rs
  samples/server/petstore/rust-server/output/no-example-v3/Cargo.toml
  samples/server/petstore/rust-server/output/no-example-v3/src/models.rs
  samples/server/petstore/rust-server/output/openapi-v3/Cargo.toml
  samples/server/petstore/rust-server/output/openapi-v3/src/models.rs
  samples/server/petstore/rust-server/output/ops-v3/Cargo.toml
  samples/server/petstore/rust-server/output/ops-v3/src/models.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/Cargo.toml
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/CatAllOf.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/docs/DogAllOf.md
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/models.rs
  samples/server/petstore/rust-server/output/ping-bearer-auth/Cargo.toml
  samples/server/petstore/rust-server/output/ping-bearer-auth/src/models.rs
  samples/server/petstore/rust-server/output/rust-server-test/Cargo.toml
  samples/server/petstore/rust-server/output/rust-server-test/src/models.rs
Labels: Enhancement: General, Server: Rust

#15866 [Java][Haskell][Python] fix errors with empty strings, missing basePath
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonConnexionServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellHttpClientCodegen.java
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/libraries/quarkus/pom.mustache
  samples/server/petstore/jaxrs-spec-microprofile-openapi-annotations/pom.xml
Labels: Client: Haskell, Client: Java, Client: Python, Issue: Bug, Server: Java, Server: Python

#15862 [java] fix default value - empty list `[]`
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/resources/3_0/java/petstore-with-fake-endpoints-models-for-testing-okhttp-gson.yaml
  samples/client/petstore/java/okhttp-gson/.openapi-generator/FILES
  samples/client/petstore/java/okhttp-gson/README.md
  samples/client/petstore/java/okhttp-gson/api/openapi.yaml
  samples/client/petstore/java/okhttp-gson/docs/ArrayDefault.md
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/ArrayDefault.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/JSONTest.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/model/ArrayDefaultTest.java
Labels: Client: Java, Issue: Bug, Server: Java

#15882 Allow better default value in parameters using codegen property
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Enhancement: Feature, Feature: Generator

#15823 [swift] New 'swift-combine' client generator for swift
  bin/configs/swift-combine-petstore-new.yaml
  bitrise.yml
  docs/generators.md
  docs/generators/swift-combine.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SwiftCombineClientCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/swift-combine/AnyDecodable.mustache
  modules/openapi-generator/src/main/resources/swift-combine/OpenAPITransport.mustache
  modules/openapi-generator/src/main/resources/swift-combine/OpenAPITransportPackage.mustache
  modules/openapi-generator/src/main/resources/swift-combine/OpenISO8601DateFormatter.mustache
  modules/openapi-generator/src/main/resources/swift-combine/Package.mustache
  modules/openapi-generator/src/main/resources/swift-combine/api.mustache
  modules/openapi-generator/src/main/resources/swift-combine/model.mustache
  modules/openapi-generator/src/main/resources/swift-combine/modelArray.mustache
  modules/openapi-generator/src/main/resources/swift-combine/modelEnum.mustache
  modules/openapi-generator/src/main/resources/swift-combine/modelInlineEnumDeclaration.mustache
  modules/openapi-generator/src/main/resources/swift-combine/modelObject.mustache
  modules/openapi-generator/src/main/resources/swift-combine/modelObjectCustom.mustache
  modules/openapi-generator/src/main/resources/swift-combine/modelOneOf.mustache
  modules/openapi-generator/src/main/resources/swift-combine/toData.mustache
  modules/openapi-generator/src/main/resources/swift-combine/toMultipartFormDataAppend.mustache
  modules/openapi-generator/src/main/resources/swift-combine/toString.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/SwiftCombineClientCodegenOptionsProvider.java
  samples/client/petstore/swift-combine/.gitignore
  samples/client/petstore/swift-combine/client/.openapi-generator-ignore
  samples/client/petstore/swift-combine/client/.openapi-generator/FILES
  samples/client/petstore/swift-combine/client/.openapi-generator/VERSION
  samples/client/petstore/swift-combine/client/OpenAPITransport/Package.swift
  samples/client/petstore/swift-combine/client/OpenAPITransport/Sources/OpenAPITransport.swift
  samples/client/petstore/swift-combine/client/PetstoreOpenAPI/Package.swift
  samples/client/petstore/swift-combine/client/PetstoreOpenAPI/Sources/APIs/PetAPI.swift
  samples/client/petstore/swift-combine/client/PetstoreOpenAPI/Sources/APIs/StoreAPI.swift
  samples/client/petstore/swift-combine/client/PetstoreOpenAPI/Sources/APIs/UserAPI.swift
  samples/client/petstore/swift-combine/client/PetstoreOpenAPI/Sources/Models/ApiResponse.swift
  samples/client/petstore/swift-combine/client/PetstoreOpenAPI/Sources/Models/Category.swift
  samples/client/petstore/swift-combine/client/PetstoreOpenAPI/Sources/Models/Order.swift
  samples/client/petstore/swift-combine/client/PetstoreOpenAPI/Sources/Models/Pet.swift
  samples/client/petstore/swift-combine/client/PetstoreOpenAPI/Sources/Models/Tag.swift
  samples/client/petstore/swift-combine/client/PetstoreOpenAPI/Sources/Models/User.swift
  samples/client/petstore/swift-combine/client/PetstoreOpenAPI/Sources/Private/OpenISO8601DateFormatter.swift
  samples/client/petstore/swift-combine/swift-combine_test_all.sh
  samples/client/petstore/swift-combine/tests/Package.swift
  samples/client/petstore/swift-combine/tests/Sources/TestClientTests/PetAPITests.swift
Labels: Client: Swift, Enhancement: New generator

#15892 Minor improvement to swift-combine client generator
  README.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SwiftCombineClientCodegen.java
Labels: Client: Swift, Enhancement: General

#15902 [csharp][generichost] Fixed wrong packages with .net6
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/mustache/FirstLambda.java
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/README.client.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/netcore_project.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/README.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Org.OpenAPITools.csproj
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/README.md
Labels: Client: C-Sharp, Issue: Bug

#14825 Fix issue #907 by ensuring the parameters is properly "exploded"
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/api.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/java/explode-query-parameter.yaml
  samples/client/petstore/java/resttemplate-jakarta/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/resttemplate-jakarta/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/resttemplate-swagger1/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/resttemplate-swagger1/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Issue: Bug

#15870 [csharp] Begin removing unecessary vendor extension
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AspNetServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpFunctionsServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpReducedClientCodegen.java
  modules/openapi-generator/src/main/resources/csharp/NullConditionalParameter.mustache
  modules/openapi-generator/src/main/resources/csharp/NullConditionalProperty.mustache
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/JsonConverter.mustache
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/ModelSignature.mustache
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/OperationSignature.mustache
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/PropertyDataType.mustache
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/api.mustache
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/modelGeneric.mustache
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/docs/apis/FakeApi.md
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/docs/apis/PetApi.md
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/docs/models/NullableClass.md
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/docs/models/NullableGuidClass.md
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/NullableClass.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/docs/apis/FakeApi.md
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/docs/models/NullableClass.md
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/docs/models/NullableGuidClass.md
  samples/client/petstore/csharp/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/NullableClass.cs
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/docs/apis/FakeApi.md
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/docs/models/NullableClass.md
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/docs/models/NullableGuidClass.md
  samples/client/petstore/csharp/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/NullableClass.cs
Labels: Client: C-Sharp, Server: C-Sharp, Enhancement: Code Cleanup

#15922 [C][Client] Add GitHub Action to test c client sample build
  .github/workflows/samples-c-libcurl-client.yaml
Labels: Enhancement: CI/Test, Client: C

#15899 Remove unused import in Java resttemplate auth templates
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/auth/HttpBasicAuth.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/auth/HttpBearerAuth.mustache
  samples/client/petstore/java/resttemplate-jakarta/src/main/java/org/openapitools/client/auth/HttpBasicAuth.java
  samples/client/petstore/java/resttemplate-jakarta/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/resttemplate-swagger1/src/main/java/org/openapitools/client/auth/HttpBasicAuth.java
  samples/client/petstore/java/resttemplate-swagger1/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/resttemplate-swagger2/src/main/java/org/openapitools/client/auth/HttpBasicAuth.java
  samples/client/petstore/java/resttemplate-swagger2/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/auth/HttpBasicAuth.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/auth/HttpBasicAuth.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
Labels: Client: Java, Enhancement: Code Cleanup

#15861 author command: replace \ by /, fix #9528
  .github/workflows/windows.yaml
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/AuthorTemplate.java
Labels: Issue: Bug

#15834 Sttp4 generator
  bin/configs/scala-sttp4-petstore-new.yaml
  docs/generators.md
  docs/generators/scala-sttp4.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaSttp4ClientCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/scala-sttp4/README.mustache
  modules/openapi-generator/src/main/resources/scala-sttp4/additionalTypeSerializers.mustache
  modules/openapi-generator/src/main/resources/scala-sttp4/api.mustache
  modules/openapi-generator/src/main/resources/scala-sttp4/build.sbt.mustache
  modules/openapi-generator/src/main/resources/scala-sttp4/dateSerializers.mustache
  modules/openapi-generator/src/main/resources/scala-sttp4/javadoc.mustache
  modules/openapi-generator/src/main/resources/scala-sttp4/jsonSupport.mustache
  modules/openapi-generator/src/main/resources/scala-sttp4/licenseInfo.mustache
  modules/openapi-generator/src/main/resources/scala-sttp4/methodParameters.mustache
  modules/openapi-generator/src/main/resources/scala-sttp4/model.mustache
  modules/openapi-generator/src/main/resources/scala-sttp4/operationReturnType.mustache
  modules/openapi-generator/src/main/resources/scala-sttp4/paramCreation.mustache
  modules/openapi-generator/src/main/resources/scala-sttp4/paramFormCreation.mustache
  modules/openapi-generator/src/main/resources/scala-sttp4/paramMultipartCreation.mustache
  modules/openapi-generator/src/main/resources/scala-sttp4/project/build.properties.mustache
  modules/openapi-generator/src/main/resources/scala-sttp4/responseState.mustache
  samples/client/petstore/scala/sttp4/.openapi-generator-ignore
  samples/client/petstore/scala/sttp4/.openapi-generator/FILES
  samples/client/petstore/scala/sttp4/.openapi-generator/VERSION
  samples/client/petstore/scala/sttp4/README.md
  samples/client/petstore/scala/sttp4/build.sbt
  samples/client/petstore/scala/sttp4/project/build.properties
  samples/client/petstore/scala/sttp4/src/main/scala/org/openapitools/client/api/PetApi.scala
  samples/client/petstore/scala/sttp4/src/main/scala/org/openapitools/client/api/StoreApi.scala
  samples/client/petstore/scala/sttp4/src/main/scala/org/openapitools/client/api/UserApi.scala
  samples/client/petstore/scala/sttp4/src/main/scala/org/openapitools/client/core/AdditionalTypeSerializers.scala
  samples/client/petstore/scala/sttp4/src/main/scala/org/openapitools/client/core/DateSerializers.scala
  samples/client/petstore/scala/sttp4/src/main/scala/org/openapitools/client/core/JsonSupport.scala
  samples/client/petstore/scala/sttp4/src/main/scala/org/openapitools/client/model/ApiResponse.scala
  samples/client/petstore/scala/sttp4/src/main/scala/org/openapitools/client/model/Category.scala
  samples/client/petstore/scala/sttp4/src/main/scala/org/openapitools/client/model/Order.scala
  samples/client/petstore/scala/sttp4/src/main/scala/org/openapitools/client/model/Pet.scala
  samples/client/petstore/scala/sttp4/src/main/scala/org/openapitools/client/model/Tag.scala
  samples/client/petstore/scala/sttp4/src/main/scala/org/openapitools/client/model/User.scala
Labels: Client: Scala, Enhancement: New generator

#15931 Various improvements to scala-sttp4 generator
  README.md
  bin/configs/scala-sttp4.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaSttp4ClientCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/scala-sttp4/api.mustache
  modules/openapi-generator/src/main/resources/scala-sttp4/methodParameters.mustache
  modules/openapi-generator/src/main/resources/scala-sttp4/model.mustache
  pom.xml
  samples/client/petstore/scala-sttp4/.openapi-generator-ignore
  samples/client/petstore/scala-sttp4/.openapi-generator/FILES
  samples/client/petstore/scala-sttp4/.openapi-generator/VERSION
  samples/client/petstore/scala-sttp4/README.md
  samples/client/petstore/scala-sttp4/build.sbt
  samples/client/petstore/scala-sttp4/pom.xml
  samples/client/petstore/scala-sttp4/project/build.properties
  samples/client/petstore/scala-sttp4/src/main/scala/org/openapitools/client/api/PetApi.scala
  samples/client/petstore/scala-sttp4/src/main/scala/org/openapitools/client/api/StoreApi.scala
  samples/client/petstore/scala-sttp4/src/main/scala/org/openapitools/client/api/UserApi.scala
  samples/client/petstore/scala-sttp4/src/main/scala/org/openapitools/client/core/AdditionalTypeSerializers.scala
  samples/client/petstore/scala-sttp4/src/main/scala/org/openapitools/client/core/DateSerializers.scala
  samples/client/petstore/scala-sttp4/src/main/scala/org/openapitools/client/core/JsonSupport.scala
  samples/client/petstore/scala-sttp4/src/main/scala/org/openapitools/client/model/ApiResponse.scala
  samples/client/petstore/scala-sttp4/src/main/scala/org/openapitools/client/model/Category.scala
  samples/client/petstore/scala-sttp4/src/main/scala/org/openapitools/client/model/Order.scala
  samples/client/petstore/scala-sttp4/src/main/scala/org/openapitools/client/model/Pet.scala
  samples/client/petstore/scala-sttp4/src/main/scala/org/openapitools/client/model/Tag.scala
  samples/client/petstore/scala-sttp4/src/main/scala/org/openapitools/client/model/User.scala
  samples/client/petstore/scala/sttp4/src/main/scala/org/openapitools/client/model/Order.scala
  samples/client/petstore/scala/sttp4/src/main/scala/org/openapitools/client/model/Pet.scala
  samples/client/petstore/scala/sttp4/src/main/scala/org/openapitools/client/model/User.scala
Labels: Client: Scala, Enhancement: Code format, Enhancement: General

#15937 Use substring instead of substr in JavaScript and TypeScript generators
  modules/openapi-generator/src/main/resources/typescript-angular/api.service.mustache
  modules/openapi-generator/src/main/resources/typescript-axios/apiInner.mustache
  modules/openapi-generator/src/main/resources/typescript-fetch/apis.mustache
  modules/openapi-generator/src/main/resources/typescript-fetch/modelGeneric.mustache
  modules/openapi-generator/src/main/resources/typescript-redux-query/apis.mustache
  modules/openapi-generator/src/main/resources/typescript-redux-query/modelGeneric.mustache
  modules/openapi-generator/src/test/resources/integrationtests/typescript/additional-properties-expected/api/user.service.ts
  modules/openapi-generator/src/test/resources/integrationtests/typescript/array-and-object-expected/api/project.service.ts
  modules/openapi-generator/src/test/resources/integrationtests/typescript/custom-path-params-expected/api/matrixParams.service.ts
  modules/openapi-generator/src/test/resources/integrationtests/typescript/petstore-expected/api/pet.service.ts
  modules/openapi-generator/src/test/resources/integrationtests/typescript/petstore-expected/api/store.service.ts
  modules/openapi-generator/src/test/resources/integrationtests/typescript/petstore-expected/api/user.service.ts
  samples/client/petstore/typescript-angular-v12-oneOf/builds/default/api/default.service.ts
  samples/client/petstore/typescript-angular-v12-provided-in-any/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v12-provided-in-any/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v12-provided-in-any/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v12-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v12-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v12-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v12-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v12-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v12-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v13-oneOf/builds/default/api/default.service.ts
  samples/client/petstore/typescript-angular-v13-provided-in-any/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v13-provided-in-any/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v13-provided-in-any/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v13-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v13-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v13-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v13-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v13-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v13-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v14-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v14-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v14-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-angular-v14-provided-in-root/builds/with-npm/api/pet.service.ts
  samples/client/petstore/typescript-angular-v14-provided-in-root/builds/with-npm/api/store.service.ts
  samples/client/petstore/typescript-angular-v14-provided-in-root/builds/with-npm/api/user.service.ts
  samples/client/petstore/typescript-angular-v15-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-angular-v15-provided-in-root/builds/default/api/store.service.ts
  samples/client/petstore/typescript-angular-v15-provided-in-root/builds/default/api/user.service.ts
  samples/client/petstore/typescript-fetch/builds/default-v3.0/models/FormatTest.ts
  samples/client/petstore/typescript-fetch/builds/default-v3.0/models/InlineObject3.ts
  samples/client/petstore/typescript-fetch/builds/default-v3.0/models/NullableClass.ts
  samples/client/petstore/typescript-fetch/builds/snakecase-discriminator/models/FormatTest.ts
  samples/client/petstore/typescript-fetch/builds/snakecase-discriminator/models/NullableClass.ts
Labels: Client: JavaScript/Node.js, Client: TypeScript, Enhancement: Code Cleanup

#15947 Update openapi-generator-online Dockerfile to use openjdk11 image
  .github/workflows/docker.yaml
  modules/openapi-generator-online/Dockerfile
Labels: Docker, Enhancement: Compatibility, OpenAPI Generator Online

#15898 [Kotlin][Spring]ctbarnev_bugfix-13488-remove-request-mapping-from-for-Kotlin-spring-c…
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinSpringServerCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-spring/apiInterface.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/spring/KotlinSpringServerCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/kotlin/feat13488_use_kotlinSpring_with_springCloud.yaml
  samples/client/petstore/kotlin-spring-cloud/src/main/kotlin/org/openapitools/api/PetApi.kt
  samples/client/petstore/kotlin-spring-cloud/src/main/kotlin/org/openapitools/api/StoreApi.kt
  samples/client/petstore/kotlin-spring-cloud/src/main/kotlin/org/openapitools/api/UserApi.kt
Labels: Issue: Bug, Server: Kotlin, Server: Spring

#15948 Fix epoch deserialization and parsing numbers
  modules/openapi-generator/src/main/resources/dart2/api_helper.mustache
  modules/openapi-generator/src/main/resources/dart2/apilib.mustache
  modules/openapi-generator/src/main/resources/dart2/serialization/native/native_class.mustache
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/api_helper.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib/lib/model/order.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api_helper.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/fake_big_decimal_map200_response.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/format_test.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/mixed_properties_and_additional_properties_class.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/nullable_class.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/number_only.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/object_with_deprecated_fields.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/order.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/outer_composite.dart
Labels: Client: Dart, Issue: Bug

#15953 Fix NPE in R construct example code
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RClientCodegen.java
Labels: Client: R, Issue: Bug

#15881 Add containerTypeMapped
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenProperty.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenResponse.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonClientCodegenTest.java
  samples/server/petstore/java-inflector/.openapi-generator/FILES
  samples/server/petstore/java-inflector/.openapi-generator/VERSION
  samples/server/petstore/java-inflector/inflector.yaml
  samples/server/petstore/java-inflector/src/gen/java/org/openapitools/model/Animal.java
  samples/server/petstore/java-inflector/src/gen/java/org/openapitools/model/BigCat.java
  samples/server/petstore/java-inflector/src/gen/java/org/openapitools/model/Cat.java
  samples/server/petstore/java-inflector/src/gen/java/org/openapitools/model/Dog.java
  samples/server/petstore/java-inflector/src/gen/java/org/openapitools/model/MapTest.java
  samples/server/petstore/java-inflector/src/gen/java/org/openapitools/model/MixedPropertiesAndAdditionalPropertiesClass.java
  samples/server/petstore/java-inflector/src/gen/java/org/openapitools/model/ModelList.java
  samples/server/petstore/java-inflector/src/main/openapi/openapi.yaml
  samples/server/petstore/java-undertow/src/main/java/org/openapitools/handler/PathHandlerInterface.java
Labels: Enhancement: Feature, Feature: Generator

#15957 Fix NPE in StringUtils.camelize
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/StringUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/markdown/MarkdownSampleGeneratorTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_15923.yaml
Labels: Feature: Generator, Issue: Bug

#15956 Remove addSchemaImportsFromV3SpecLocations
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Feature: Generator, Enhancement: Code Cleanup

#15958 [java] Add supportUrlQuery as an option
  docs/generators/java.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
Labels: Client: Java, Enhancement: Feature

#15710 [Rust] Sanitize enum names correctly
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractRustCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/rust/AbstractRustCodegenTest.java
Labels: Client: Rust, Feature: Enum, Issue: Bug

#15964 Use openjdk official docker image in openapi-generator-online
  modules/openapi-generator-online/Dockerfile
Labels: Docker, OpenAPI Generator Online
