Repository OpenAPITools/openapi-generator, pull requests merged in 2023-02, with the labels that each got.

#14574 Fix empty body in java apache client
  modules/openapi-generator/src/main/resources/Java/libraries/apache-httpclient/ApiClient.mustache
  samples/client/echo_api/java/apache-httpclient/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/apache-httpclient/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#14593 fix(sec): upgrade websockets to 10.0
  modules/openapi-generator/src/main/resources/python-fastapi/requirements.mustache
  samples/server/petstore/python-fastapi/requirements.txt
Labels: Enhancement: Compatibility, Server: Python

#14423 [Ruby] Allow general purpose faraday connection configuration
  modules/openapi-generator/src/main/resources/ruby-client/README.mustache
  modules/openapi-generator/src/main/resources/ruby-client/api_client_faraday_partial.mustache
  modules/openapi-generator/src/main/resources/ruby-client/configuration.mustache
  modules/openapi-generator/src/main/resources/ruby-client/configuration_spec.mustache
  samples/client/petstore/ruby-faraday/lib/petstore/api_client.rb
  samples/client/petstore/ruby-faraday/lib/petstore/configuration.rb
  samples/client/petstore/ruby-faraday/spec/configuration_spec.rb
Labels: Client: Ruby

#14433 fix #2737 creates (empty) directories if contained files are ignored
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultGeneratorTest.java
Labels: Feature: Generator, Issue: Bug

#14606 Cleanup go-deprecated files, go-experimental doc
  README.md
  docs/generators/go-experimental.md
  modules/openapi-generator/src/main/resources/go-deprecated/.travis.yml
  modules/openapi-generator/src/main/resources/go-deprecated/README.mustache
  modules/openapi-generator/src/main/resources/go-deprecated/api.mustache
  modules/openapi-generator/src/main/resources/go-deprecated/api_doc.mustache
  modules/openapi-generator/src/main/resources/go-deprecated/client.mustache
  modules/openapi-generator/src/main/resources/go-deprecated/configuration.mustache
  modules/openapi-generator/src/main/resources/go-deprecated/git_push.sh.mustache
  modules/openapi-generator/src/main/resources/go-deprecated/gitignore.mustache
  modules/openapi-generator/src/main/resources/go-deprecated/go.mod.mustache
  modules/openapi-generator/src/main/resources/go-deprecated/go.sum
  modules/openapi-generator/src/main/resources/go-deprecated/model.mustache
  modules/openapi-generator/src/main/resources/go-deprecated/model_doc.mustache
  modules/openapi-generator/src/main/resources/go-deprecated/openapi.mustache
  modules/openapi-generator/src/main/resources/go-deprecated/partial_header.mustache
  modules/openapi-generator/src/main/resources/go-deprecated/response.mustache
Labels: Client: Go, Enhancement: Code Cleanup

#14597 Set proxy in ruby faraday client if configured
  modules/openapi-generator/src/main/resources/ruby-client/api_client_faraday_partial.mustache
  modules/openapi-generator/src/main/resources/ruby-client/api_client_spec.mustache
  samples/client/petstore/ruby-autoload/spec/api_client_spec.rb
  samples/client/petstore/ruby-faraday/lib/petstore/api_client.rb
  samples/client/petstore/ruby-faraday/spec/api_client_spec.rb
  samples/client/petstore/ruby/spec/api_client_spec.rb
  samples/openapi3/client/extensions/x-auth-id-alias/ruby-client/spec/api_client_spec.rb
  samples/openapi3/client/features/dynamic-servers/ruby/spec/api_client_spec.rb
  samples/openapi3/client/features/generate-alias-as-model/ruby-client/spec/api_client_spec.rb
Labels: Client: Ruby, Enhancement: General

#14607 Update CI to install v1.18
  CI/circle_parallel.sh
Labels: Client: Go, Enhancement: CI/Test

#14614 [java] better code format
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
Labels: Client: Java, Enhancement: Code format

#14612 Fix the examples and import path in golang client documents
  modules/openapi-generator/src/main/resources/go/api_doc.mustache
  samples/client/petstore/go/go-petstore/docs/AnotherFakeApi.md
  samples/client/petstore/go/go-petstore/docs/FakeApi.md
  samples/client/petstore/go/go-petstore/docs/FakeClassnameTags123Api.md
  samples/client/petstore/go/go-petstore/docs/PetApi.md
  samples/client/petstore/go/go-petstore/docs/StoreApi.md
  samples/client/petstore/go/go-petstore/docs/UserApi.md
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/docs/UsageApi.md
  samples/openapi3/client/petstore/go/go-petstore/docs/AnotherFakeApi.md
  samples/openapi3/client/petstore/go/go-petstore/docs/DefaultApi.md
  samples/openapi3/client/petstore/go/go-petstore/docs/FakeApi.md
  samples/openapi3/client/petstore/go/go-petstore/docs/FakeClassnameTags123Api.md
  samples/openapi3/client/petstore/go/go-petstore/docs/PetApi.md
  samples/openapi3/client/petstore/go/go-petstore/docs/StoreApi.md
  samples/openapi3/client/petstore/go/go-petstore/docs/UserApi.md
Labels: Client: Go, Issue: Bug

#14554 [JAVA] java.net.http.HttpClient (java native) form data generator
  modules/openapi-generator/src/main/resources/Java/libraries/native/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/pom.mustache
  samples/client/echo_api/java/native/build.gradle
  samples/client/echo_api/java/native/pom.xml
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/BodyApi.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/FormApi.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/HeaderApi.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/PathApi.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/QueryApi.java
  samples/client/echo_api/java/native/src/test/java/org/openapitools/client/CustomTest.java
  samples/client/echo_api/java/native/src/test/java/org/openapitools/client/EchoServerResponseParser.java
  samples/client/petstore/java/native-async/build.gradle
  samples/client/petstore/java/native-async/pom.xml
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/DefaultApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/native-jakarta/build.gradle
  samples/client/petstore/java/native-jakarta/pom.xml
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/native/build.gradle
  samples/client/petstore/java/native/pom.xml
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/DefaultApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Issue: Bug

#14308 [python-nextgen] fix bug fix and enhancement
  README.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonNextgenClientCodegen.java
  modules/openapi-generator/src/main/resources/python-nextgen/configuration.mustache
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/configuration.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/configuration.py
Labels: Client: Python, Enhancement: General, Issue: Bug

#14637 [Go] properly set header parameters on api clients
  modules/openapi-generator/src/main/resources/go/api.mustache
  modules/openapi-generator/src/main/resources/go/client.mustache
  samples/client/petstore/go/go-petstore/api_fake.go
  samples/client/petstore/go/go-petstore/api_pet.go
  samples/client/petstore/go/go-petstore/api_user.go
  samples/client/petstore/go/go-petstore/client.go
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/client.go
  samples/openapi3/client/petstore/go/go-petstore/api_fake.go
  samples/openapi3/client/petstore/go/go-petstore/api_pet.go
  samples/openapi3/client/petstore/go/go-petstore/api_user.go
  samples/openapi3/client/petstore/go/go-petstore/client.go
Labels: Client: Go, Issue: Bug

#14638 [java] Fix enum ref issue in array default value
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/resources/3_0/echo_api.yaml
  openapitools.json
  samples/client/echo_api/java/apache-httpclient/.openapi-generator/FILES
  samples/client/echo_api/java/apache-httpclient/README.md
  samples/client/echo_api/java/apache-httpclient/api/openapi.yaml
  samples/client/echo_api/java/apache-httpclient/docs/DefaultValue.md
  samples/client/echo_api/java/apache-httpclient/docs/StringEnumRef.md
  samples/client/echo_api/java/apache-httpclient/src/main/java/org/openapitools/client/model/DefaultValue.java
  samples/client/echo_api/java/apache-httpclient/src/main/java/org/openapitools/client/model/StringEnumRef.java
  samples/client/echo_api/java/apache-httpclient/src/test/java/org/openapitools/client/CustomTest.java
  samples/client/echo_api/java/apache-httpclient/src/test/java/org/openapitools/client/model/StringEnumRefTest.java
  samples/client/echo_api/java/feign-gson/.openapi-generator/FILES
  samples/client/echo_api/java/feign-gson/api/openapi.yaml
  samples/client/echo_api/java/feign-gson/src/main/java/org/openapitools/client/model/DefaultValue.java
  samples/client/echo_api/java/feign-gson/src/main/java/org/openapitools/client/model/StringEnumRef.java
  samples/client/echo_api/java/feign-gson/src/test/java/org/openapitools/client/model/StringEnumRefTest.java
  samples/client/echo_api/java/native/.openapi-generator/FILES
  samples/client/echo_api/java/native/README.md
  samples/client/echo_api/java/native/api/openapi.yaml
  samples/client/echo_api/java/native/docs/DefaultValue.md
  samples/client/echo_api/java/native/docs/EnumStringRef.md
  samples/client/echo_api/java/native/docs/StringEnumRef.md
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/model/DefaultValue.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/model/EnumStringRef.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/model/StringEnumRef.java
  samples/client/echo_api/java/native/src/test/java/org/openapitools/client/CustomTest.java
  samples/client/echo_api/java/native/src/test/java/org/openapitools/client/model/EnumStringRefTest.java
  samples/client/echo_api/java/native/src/test/java/org/openapitools/client/model/StringEnumRefTest.java
  samples/client/echo_api/java/okhttp-gson/.openapi-generator/FILES
  samples/client/echo_api/java/okhttp-gson/README.md
  samples/client/echo_api/java/okhttp-gson/api/openapi.yaml
  samples/client/echo_api/java/okhttp-gson/docs/DefaultValue.md
  samples/client/echo_api/java/okhttp-gson/docs/StringEnumRef.md
  samples/client/echo_api/java/okhttp-gson/src/main/java/org/openapitools/client/model/DefaultValue.java
  samples/client/echo_api/java/okhttp-gson/src/main/java/org/openapitools/client/model/StringEnumRef.java
  samples/client/echo_api/java/okhttp-gson/src/test/java/org/openapitools/client/model/StringEnumRefTest.java
Labels: Client: Java, Feature: Enum, Issue: Bug

#14639 [Go] GoModelTest: remove deprecated code
  modules/openapi-generator/src/test/java/org/openapitools/codegen/go/GoModelTest.java
Labels: Client: Go, Enhancement: CI/Test

#13862 [csharp-netcore] HttpClient/Set TimeoutException to inner exception in case of timeout
  modules/openapi-generator/src/main/resources/csharp-netcore-functions/libraries/httpclient/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/httpclient/ApiClient.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Client/ApiClient.cs
Labels: Client: C-Sharp, Enhancement: General

#14411 [csharp-netcore] add tests for uuid string with pattern
  modules/openapi-generator/src/test/resources/3_0/csharp/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/docs/FakeApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/docs/MixedPropertiesAndAdditionalPropertiesClass.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-ConditionalSerialization/src/Org.OpenAPITools/Model/MixedPropertiesAndAdditionalPropertiesClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/docs/apis/FakeApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/docs/models/MixedPropertiesAndAdditionalPropertiesClass.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools.Test/Api/FakeApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/MixedPropertiesAndAdditionalPropertiesClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/docs/apis/FakeApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/docs/models/MixedPropertiesAndAdditionalPropertiesClass.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools.Test/Api/FakeApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/MixedPropertiesAndAdditionalPropertiesClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/docs/apis/FakeApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/docs/models/MixedPropertiesAndAdditionalPropertiesClass.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools.Test/Api/FakeApiTests.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/MixedPropertiesAndAdditionalPropertiesClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/docs/FakeApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/docs/MixedPropertiesAndAdditionalPropertiesClass.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-httpclient/src/Org.OpenAPITools/Model/MixedPropertiesAndAdditionalPropertiesClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/docs/FakeApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/docs/MixedPropertiesAndAdditionalPropertiesClass.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net47/src/Org.OpenAPITools/Model/MixedPropertiesAndAdditionalPropertiesClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net48/docs/FakeApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net48/docs/MixedPropertiesAndAdditionalPropertiesClass.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net48/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net48/src/Org.OpenAPITools/Model/MixedPropertiesAndAdditionalPropertiesClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/docs/FakeApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/docs/MixedPropertiesAndAdditionalPropertiesClass.md
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-net5.0/src/Org.OpenAPITools/Model/MixedPropertiesAndAdditionalPropertiesClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/docs/FakeApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClient/docs/MixedPropertiesAndAdditionalPropertiesClass.md
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient/src/Org.OpenAPITools/Model/MixedPropertiesAndAdditionalPropertiesClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/docs/FakeApi.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/docs/MixedPropertiesAndAdditionalPropertiesClass.md
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Api/FakeApi.cs
  samples/client/petstore/csharp-netcore/OpenAPIClientCore/src/Org.OpenAPITools/Model/MixedPropertiesAndAdditionalPropertiesClass.cs
Labels: Client: C-Sharp, Enhancement: CI/Test

#14641 [Java][native] add spotless gradle/mvn plugin
  modules/openapi-generator/src/main/resources/Java/libraries/native/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/pom.mustache
  samples/client/echo_api/java/native/build.gradle
  samples/client/echo_api/java/native/pom.xml
  samples/client/petstore/java/native-async/build.gradle
  samples/client/petstore/java/native-async/pom.xml
  samples/client/petstore/java/native-jakarta/build.gradle
  samples/client/petstore/java/native-jakarta/pom.xml
  samples/client/petstore/java/native/build.gradle
  samples/client/petstore/java/native/pom.xml
Labels: Client: Java, Enhancement: General

#14600 [Java] Fix APIClient basePath Configuration
  modules/openapi-generator/src/main/resources/Java/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache
  samples/client/echo_api/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/others/java/okhttp-gson-streaming/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey1/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-awsv4signature/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-group-parameter/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-swagger1/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#14646 [Java][native]Fixed StringJoiner add method parameter error
  modules/openapi-generator/src/main/resources/Java/libraries/native/oneof_model.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/pojo.mustache
  modules/openapi-generator/src/main/resources/Java/pojo.mustache
Labels: Client: Java, Issue: Bug

#14670 [JAVA] java.net.http.HttpClient (java native) conditionally depend on apache
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/native/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/pom.mustache
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/BodyApi.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/FormApi.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/HeaderApi.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/PathApi.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/QueryApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/DefaultApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/DefaultApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Enhancement: Code Cleanup

#14674 Apache Camel: implicit headers
  bin/configs/java-camel-petstore-new.yaml
  modules/openapi-generator/src/main/resources/java-camel-server/api.mustache
  modules/openapi-generator/src/main/resources/java-camel-server/pom.mustache
  modules/openapi-generator/src/main/resources/java-camel-server/restConfiguration.mustache
  modules/openapi-generator/src/main/resources/java-camel-server/routesImpl.mustache
  samples/server/petstore/java-camel/pom.xml
  samples/server/petstore/java-camel/src/main/java/org/openapitools/RestConfiguration.java
  samples/server/petstore/java-camel/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/java-camel/src/main/java/org/openapitools/api/PetApiRoutesImpl.java
Labels: Enhancement: Feature, Server: Java

#14618 [python-nextgen] optionally support float strict type
  bin/configs/python-nextgen-aiohttp.yaml
  docs/generators/python-nextgen.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonNextgenClientCodegen.java
  modules/openapi-generator/src/test/resources/3_0/python/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/openapi3/client/petstore/python-nextgen-aiohttp/docs/FormatTest.md
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/array_of_array_of_number_only.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/array_of_number_only.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/enum_test.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/format_test.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/nullable_class.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/number_only.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/object_with_deprecated_fields.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/outer_composite.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/tests/test_model.py
  samples/openapi3/client/petstore/python-nextgen/docs/FormatTest.md
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/format_test.py
Labels: Client: Python, Enhancement: Feature

#14634 Add 'endsWith' handlebars helper function
  modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/handlebars/StringHelpers.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/templating/handlebars/StringHelpersTest.java
Labels: Enhancement: Feature, Feature: Generator

#14700 [python-fastapi] update starlette to newer version
  modules/openapi-generator/src/main/resources/python-fastapi/requirements.mustache
  samples/server/petstore/python-fastapi/requirements.txt
Labels: Enhancement: Compatibility, Server: Python

#14679 [csharp-netcore] Improved date de/serialization
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/DateTimeFormats.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/DateTimeJsonConverter.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/DateTimeNullableJsonConverter.mustache
  modules/openapi-generator/src/main/resources/csharp-netcore/libraries/generichost/JsonConverter.mustache
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Client/DateTimeJsonConverter.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Client/DateTimeNullableJsonConverter.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/DateOnlyClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/MixedPropertiesAndAdditionalPropertiesClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/NullableClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0-nrt/src/Org.OpenAPITools/Model/Order.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Client/DateTimeJsonConverter.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Client/DateTimeNullableJsonConverter.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/DateOnlyClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/MixedPropertiesAndAdditionalPropertiesClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/NullableClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-net6.0/src/Org.OpenAPITools/Model/Order.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Client/DateTimeJsonConverter.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-allOf/src/Org.OpenAPITools/Client/DateTimeNullableJsonConverter.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Client/DateTimeJsonConverter.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-anyOf/src/Org.OpenAPITools/Client/DateTimeNullableJsonConverter.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Client/DateTimeJsonConverter.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netcore-latest-oneOf/src/Org.OpenAPITools/Client/DateTimeNullableJsonConverter.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Client/DateTimeJsonConverter.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Client/DateTimeNullableJsonConverter.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/DateOnlyClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/MixedPropertiesAndAdditionalPropertiesClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/NullableClass.cs
  samples/client/petstore/csharp-netcore/OpenAPIClient-generichost-netstandard2.0/src/Org.OpenAPITools/Model/Order.cs
Labels: Client: C-Sharp, Enhancement: General

#14675 [dart][dart-dio] Bump Dio to 5.0.0
  .github/workflows/samples-dart.yaml
  docs/generators/dart-dio.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractDartCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioClientCodegen.java
  modules/openapi-generator/src/main/resources/dart/libraries/dio/README.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/api.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/api_client.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/pubspec.mustache
  samples/openapi3/client/petstore/dart-dio/oneof/README.md
  samples/openapi3/client/petstore/dart-dio/oneof/lib/src/api.dart
  samples/openapi3/client/petstore/dart-dio/oneof/lib/src/api/default_api.dart
  samples/openapi3/client/petstore/dart-dio/oneof/pubspec.yaml
  samples/openapi3/client/petstore/dart-dio/oneof_polymorphism_and_inheritance/README.md
  samples/openapi3/client/petstore/dart-dio/oneof_polymorphism_and_inheritance/lib/src/api.dart
  samples/openapi3/client/petstore/dart-dio/oneof_polymorphism_and_inheritance/lib/src/api/bar_api.dart
  samples/openapi3/client/petstore/dart-dio/oneof_polymorphism_and_inheritance/lib/src/api/foo_api.dart
  samples/openapi3/client/petstore/dart-dio/oneof_polymorphism_and_inheritance/pubspec.yaml
  samples/openapi3/client/petstore/dart-dio/oneof_primitive/README.md
  samples/openapi3/client/petstore/dart-dio/oneof_primitive/lib/src/api.dart
  samples/openapi3/client/petstore/dart-dio/oneof_primitive/lib/src/api/default_api.dart
  samples/openapi3/client/petstore/dart-dio/oneof_primitive/pubspec.yaml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/README.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/api/another_fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/api/default_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/api/fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/api/fake_classname_tags123_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/api/store_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/api/user_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/pubspec.yaml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/test/default_api_test.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/README.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/api/another_fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/api/default_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/api/fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/api/fake_classname_tags123_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/api/pet_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/api/store_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/api/user_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/pubspec.yaml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake_tests/pubspec.yaml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake_tests/test/api/authentication_test.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake_tests/test/api/fake_api_test.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake_tests/test/api/pet_api_test.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake_tests/test/api/store_api_test.dart
Labels: Client: Dart, Enhancement: Compatibility

#14676 [dart][dart-dio] Add deprecations on models and fields
  modules/openapi-generator/src/main/resources/dart/libraries/dio/analysis_options.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/class_header.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/class_members.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/enum.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/enum_inline.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/json_serializable/class.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/json_serializable/enum.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/json_serializable/enum_inline.mustache
  samples/openapi3/client/petstore/dart-dio/oneof/analysis_options.yaml
  samples/openapi3/client/petstore/dart-dio/oneof_polymorphism_and_inheritance/analysis_options.yaml
  samples/openapi3/client/petstore/dart-dio/oneof_primitive/analysis_options.yaml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/analysis_options.yaml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/model/deprecated_object.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/analysis_options.yaml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/model/deprecated_object.dart
Labels: Client: Dart, Enhancement: General

#14716 Install lifecycle as part of R tests
  samples/client/petstore/R/build_and_test.bash
Labels: Client: R, Enhancement: CI/Test

#14572 [R] Fix escaping in templates
  modules/openapi-generator/src/main/resources/r/modelAnyOf.mustache
  modules/openapi-generator/src/main/resources/r/modelGeneric.mustache
  modules/openapi-generator/src/main/resources/r/modelOneOf.mustache
  samples/client/petstore/R-httr2-wrapper/R/any_of_pig.R
  samples/client/petstore/R-httr2-wrapper/R/any_of_primitive_type_test.R
  samples/client/petstore/R-httr2-wrapper/R/mammal.R
  samples/client/petstore/R-httr2-wrapper/R/nested_one_of.R
  samples/client/petstore/R-httr2-wrapper/R/one_of_primitive_type_test.R
  samples/client/petstore/R-httr2-wrapper/R/pet.R
  samples/client/petstore/R-httr2-wrapper/R/pig.R
  samples/client/petstore/R-httr2-wrapper/R/update_pet_request.R
  samples/client/petstore/R-httr2/R/any_of_pig.R
  samples/client/petstore/R-httr2/R/any_of_primitive_type_test.R
  samples/client/petstore/R-httr2/R/mammal.R
  samples/client/petstore/R-httr2/R/nested_one_of.R
  samples/client/petstore/R-httr2/R/one_of_primitive_type_test.R
  samples/client/petstore/R-httr2/R/pet.R
  samples/client/petstore/R-httr2/R/pig.R
  samples/client/petstore/R-httr2/R/update_pet_request.R
  samples/client/petstore/R/R/any_of_pig.R
  samples/client/petstore/R/R/any_of_primitive_type_test.R
  samples/client/petstore/R/R/mammal.R
  samples/client/petstore/R/R/nested_one_of.R
  samples/client/petstore/R/R/one_of_primitive_type_test.R
  samples/client/petstore/R/R/pet.R
  samples/client/petstore/R/R/pig.R
  samples/client/petstore/R/R/update_pet_request.R
Labels: Client: R, Issue: Bug

#14535 Support CommaSeparatedTuples including commas
  modules/openapi-generator-cli/src/test/java/org/openapitools/codegen/cmd/utils/OptionUtilsTest.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/OptionUtils.java
Labels: Enhancement: Feature, Feature: Generator

#14720 [JAVASCRIPT] Fix inconsistent validateJSON and validateJsonObject calls, breaking object validation.
  modules/openapi-generator/src/main/resources/Javascript/partial_model_generic.mustache
  samples/client/petstore/javascript-apollo/src/model/FileSchemaTestClass.js
  samples/client/petstore/javascript-apollo/src/model/Pet.js
  samples/client/petstore/javascript-es6/src/model/FileSchemaTestClass.js
  samples/client/petstore/javascript-es6/src/model/Pet.js
  samples/client/petstore/javascript-promise-es6/src/model/FileSchemaTestClass.js
  samples/client/petstore/javascript-promise-es6/src/model/Pet.js
  samples/server/petstore/jaxrs-spec-jakarta/src/gen/java/org/openapitools/model/AdditionalPropertiesClass.java
  samples/server/petstore/jaxrs-spec-jakarta/src/gen/java/org/openapitools/model/ArrayOfArrayOfNumberOnly.java
  samples/server/petstore/jaxrs-spec-jakarta/src/gen/java/org/openapitools/model/ArrayOfNumberOnly.java
  samples/server/petstore/jaxrs-spec-jakarta/src/gen/java/org/openapitools/model/ArrayTest.java
  samples/server/petstore/jaxrs-spec-jakarta/src/gen/java/org/openapitools/model/EnumArrays.java
  samples/server/petstore/jaxrs-spec-jakarta/src/gen/java/org/openapitools/model/FileSchemaTestClass.java
  samples/server/petstore/jaxrs-spec-jakarta/src/gen/java/org/openapitools/model/MapTest.java
  samples/server/petstore/jaxrs-spec-jakarta/src/gen/java/org/openapitools/model/MixedPropertiesAndAdditionalPropertiesClass.java
  samples/server/petstore/jaxrs-spec-jakarta/src/gen/java/org/openapitools/model/Pet.java
  samples/server/petstore/jaxrs-spec-jakarta/src/gen/java/org/openapitools/model/XmlItem.java
Labels: Client: JavaScript/Node.js, Issue: Bug

#14387 Generate merge spec
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
  modules/openapi-generator-maven-plugin/examples/spring.xml
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/MergedSpecBuilder.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/config/MergedSpecBuilderTest.java
  modules/openapi-generator/src/test/resources/bugs/mergerTest/spec1.json
  modules/openapi-generator/src/test/resources/bugs/mergerTest/spec1.yaml
  modules/openapi-generator/src/test/resources/bugs/mergerTest/spec2.json
  modules/openapi-generator/src/test/resources/bugs/mergerTest/spec2.yaml
Labels: Enhancement: Feature, Feature: Generator, OpenAPI Generator Maven Plugin, OpenAPI Generator CLI, OpenAPI Generator Gradle Plugin

#14687 fix: Inline model schema's name is wrong
  modules/openapi-generator/src/main/java/org/openapitools/codegen/InlineModelResolver.java
Labels: Issue: Bug, Inline Schema Handling

#13934 [BUG][Go] Remove "null" body value when body is empty #13927
  modules/openapi-generator/src/main/resources/go-server/routers.mustache
  samples/server/petstore/go-api-server/go/routers.go
  samples/server/petstore/go-chi-server/go/routers.go
  samples/server/petstore/go-server-required/go/routers.go
Labels: Issue: Bug, Server: Go

#14740 go server - use tabs instead of spaces
  modules/openapi-generator/src/main/resources/go-server/routers.mustache
  samples/server/petstore/go-api-server/go/routers.go
  samples/server/petstore/go-chi-server/go/routers.go
  samples/server/petstore/go-server-required/go/routers.go
Labels: Enhancement: Code format, Server: Go

#14743 [python-nextgen] Better oneOf, anyOf support
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonNextgenClientCodegen.java
  modules/openapi-generator/src/main/resources/python-nextgen/model_anyof.mustache
  modules/openapi-generator/src/main/resources/python-nextgen/model_oneof.mustache
  modules/openapi-generator/src/main/resources/python-nextgen/rest.mustache
  modules/openapi-generator/src/test/resources/3_0/python/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/client/echo_api/python-nextgen/openapi_client/rest.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/.openapi-generator/FILES
  samples/openapi3/client/petstore/python-nextgen-aiohttp/README.md
  samples/openapi3/client/petstore/python-nextgen-aiohttp/docs/AnyOfColor.md
  samples/openapi3/client/petstore/python-nextgen-aiohttp/docs/Color.md
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/__init__.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/__init__.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/any_of_color.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/any_of_pig.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/array_test.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/color.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/pig.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/test/test_any_of_color.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/test/test_color.py
  samples/openapi3/client/petstore/python-nextgen/.openapi-generator/FILES
  samples/openapi3/client/petstore/python-nextgen/README.md
  samples/openapi3/client/petstore/python-nextgen/docs/AnyOfColor.md
  samples/openapi3/client/petstore/python-nextgen/docs/Color.md
  samples/openapi3/client/petstore/python-nextgen/petstore_api/__init__.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/__init__.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/any_of_color.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/any_of_pig.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/array_test.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/color.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/pig.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/rest.py
  samples/openapi3/client/petstore/python-nextgen/test/test_any_of_color.py
  samples/openapi3/client/petstore/python-nextgen/test/test_color.py
  samples/openapi3/client/petstore/python-nextgen/tests/test_model.py
Labels: Client: Python, Enhancement: Feature, Feature: OAS 3.0 spec support

#14755 [openapi-generator-online] Revert spring boot back to 2.5.14
  modules/openapi-generator-online/pom.xml
Labels: Issue: Regression, OpenAPI Generator Online

#13907 [rust-server] Fix clippy warnings
  modules/openapi-generator/src/main/resources/rust-server/client-operation.mustache
  modules/openapi-generator/src/main/resources/rust-server/lib.mustache
  modules/openapi-generator/src/main/resources/rust-server/models.mustache
  modules/openapi-generator/src/main/resources/rust-server/server-operation.mustache
  samples/server/petstore/rust-server/output/multipart-v3/src/lib.rs
  samples/server/petstore/rust-server/output/no-example-v3/src/lib.rs
  samples/server/petstore/rust-server/output/no-example-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/models.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/callbacks.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/server/mod.rs
  samples/server/petstore/rust-server/output/ops-v3/src/lib.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/client/mod.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/lib.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/models.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/server/mod.rs
  samples/server/petstore/rust-server/output/ping-bearer-auth/src/lib.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/lib.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/server/mod.rs
Labels: Enhancement: Code format, Enhancement: General, Server: Rust

#14764 Add rule to simplify boolean enum
  docs/customization.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/simplifyBooleanEnum_test.yaml
Labels: Enhancement: Feature, OpenAPI Normalizer

#14777 Add rule to simplify oneOf/anyOf
  docs/customization.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/simplifyOneOfAnyOf_test.yaml
Labels: Enhancement: Feature, OpenAPI Normalizer

#14772 [Ruby] fix `return_binary_data` with `attr_accessor`
  modules/openapi-generator/src/main/resources/ruby-client/configuration.mustache
  samples/client/petstore/ruby-autoload/lib/petstore/configuration.rb
  samples/client/petstore/ruby-faraday/lib/petstore/configuration.rb
  samples/client/petstore/ruby/lib/petstore/configuration.rb
  samples/openapi3/client/extensions/x-auth-id-alias/ruby-client/lib/x_auth_id_alias/configuration.rb
  samples/openapi3/client/features/dynamic-servers/ruby/lib/dynamic_servers/configuration.rb
  samples/openapi3/client/features/generate-alias-as-model/ruby-client/lib/petstore/configuration.rb
Labels: Client: Ruby, Issue: Bug

#14781 Add from_dict in model anyOf in python-nextgen
  modules/openapi-generator/src/main/resources/python-nextgen/model_anyof.mustache
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/any_of_color.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/any_of_pig.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/any_of_color.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/any_of_pig.py
  samples/openapi3/client/petstore/python-nextgen/tests/test_model.py
Labels: Client: Python, Issue: Bug

#14788 Setup Github works for Erlang projects
  .github/workflows/samples-erlang.yaml
  samples/client/petstore/erlang-client/pom.xml
Labels: Client: Erlang, Enhancement: CI/Test, Server: Erlang

#14800 Better handling of x-nullable in codegen property
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/resources/3_0/echo_api.yaml
  samples/client/echo_api/java/apache-httpclient/api/openapi.yaml
  samples/client/echo_api/java/apache-httpclient/docs/DefaultValue.md
  samples/client/echo_api/java/apache-httpclient/src/main/java/org/openapitools/client/model/DefaultValue.java
  samples/client/echo_api/java/apache-httpclient/src/test/java/org/openapitools/client/CustomTest.java
  samples/client/echo_api/java/feign-gson/api/openapi.yaml
  samples/client/echo_api/java/feign-gson/src/main/java/org/openapitools/client/model/DefaultValue.java
  samples/client/echo_api/java/native/api/openapi.yaml
  samples/client/echo_api/java/native/docs/DefaultValue.md
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/model/DefaultValue.java
  samples/client/echo_api/java/native/src/test/java/org/openapitools/client/CustomTest.java
  samples/client/echo_api/java/okhttp-gson/api/openapi.yaml
  samples/client/echo_api/java/okhttp-gson/docs/DefaultValue.md
  samples/client/echo_api/java/okhttp-gson/src/main/java/org/openapitools/client/model/DefaultValue.java
  samples/client/echo_api/python-nextgen/docs/DefaultValue.md
  samples/client/echo_api/python-nextgen/openapi_client/models/default_value.py
Labels: Enhancement: Compatibility, Feature: Generator

#14794 [openapi-normalizer] add a new rule to set tags for all operations
  docs/customization.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
Labels: Enhancement: Feature, OpenAPI Normalizer

#14813 [Java] [WebClient] [RestTemplate] Stop using org.springframework.util.Base64Utils in Java generators
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/auth/HttpBasicAuth.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/auth/HttpBearerAuth.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/auth/HttpBasicAuth.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/auth/HttpBearerAuth.mustache
  samples/client/petstore/java/resttemplate-jakarta/src/main/java/org/openapitools/client/auth/HttpBasicAuth.java
  samples/client/petstore/java/resttemplate-jakarta/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/resttemplate-swagger1/src/main/java/org/openapitools/client/auth/HttpBasicAuth.java
  samples/client/petstore/java/resttemplate-swagger1/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/auth/HttpBasicAuth.java
  samples/client/petstore/java/resttemplate-withXml/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/auth/HttpBasicAuth.java
  samples/client/petstore/java/resttemplate/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/webclient-jakarta/src/main/java/org/openapitools/client/auth/HttpBasicAuth.java
  samples/client/petstore/java/webclient-jakarta/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/webclient-nullable-arrays/src/main/java/org/openapitools/client/auth/HttpBasicAuth.java
  samples/client/petstore/java/webclient-nullable-arrays/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/auth/HttpBasicAuth.java
  samples/client/petstore/java/webclient/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
Labels: Client: Java, Enhancement: Code Cleanup

#14752 Get API configuration from application environment for erlang-client
  modules/openapi-generator/src/main/resources/erlang-client/api.mustache
  samples/client/petstore/erlang-client/.openapi-generator/VERSION
  samples/client/petstore/erlang-client/src/petstore_pet_api.erl
  samples/client/petstore/erlang-client/src/petstore_store_api.erl
  samples/client/petstore/erlang-client/src/petstore_user_api.erl
Labels: Client: Erlang, Enhancement: General

#14727 [python-nextgen] support dict query params
  modules/openapi-generator/src/main/resources/python-nextgen/api_client.mustache
  samples/client/echo_api/python-nextgen/openapi_client/api_client.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api_client.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api_client.py
  samples/openapi3/client/petstore/python-nextgen/tests/test_api_client.py
Labels: Client: Python, Issue: Bug

#14816 [python-nextgen] Fix unique items
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonNextgenClientCodegen.java
  modules/openapi-generator/src/test/resources/3_0/python/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/client/echo_api/python-nextgen/openapi_client/models/default_value.py
  samples/client/echo_api/python-nextgen/openapi_client/models/pet.py
  samples/client/echo_api/python-nextgen/openapi_client/models/query.py
  samples/client/echo_api/python-nextgen/openapi_client/models/test_query_style_form_explode_true_array_string_query_object_parameter.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/any_of_color.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/array_of_array_of_number_only.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/array_of_number_only.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/array_test.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/enum_arrays.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/file_schema_test_class.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/nullable_class.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/object_with_deprecated_fields.py
  samples/openapi3/client/petstore/python-nextgen-aiohttp/petstore_api/models/pet.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/any_of_color.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/array_of_array_of_number_only.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/array_of_number_only.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/array_test.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/enum_arrays.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/file_schema_test_class.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/nullable_class.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/object_with_deprecated_fields.py
  samples/openapi3/client/petstore/python-nextgen/petstore_api/models/pet.py
Labels: Client: Python, Issue: Bug

#14819 [RUST] Upgrade reqwest-middleware
  modules/openapi-generator/src/main/resources/rust/Cargo.mustache
  samples/client/petstore/rust/reqwest/petstore-async-middleware/Cargo.toml
Labels: Client: Rust, Enhancement: Compatibility

#14797 [Bug][C++-cpprest] Encode request parameters to enable whitespace characters
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/api-source.mustache
  samples/client/petstore/cpp-restsdk/client/src/api/PetApi.cpp
  samples/client/petstore/cpp-restsdk/client/src/api/StoreApi.cpp
  samples/client/petstore/cpp-restsdk/client/src/api/UserApi.cpp
Labels: Enhancement: General, Server: C++

#14808 [C++][Pistache] Add some missing {{declspec}} on classes and functions
  modules/openapi-generator/src/main/resources/cpp-pistache-server/api-impl-header.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-header.mustache
  modules/openapi-generator/src/main/resources/cpp-pistache-server/model-struct-header.mustache
  samples/server/petstore/cpp-pistache/impl/PetApiImpl.h
  samples/server/petstore/cpp-pistache/impl/StoreApiImpl.h
  samples/server/petstore/cpp-pistache/impl/UserApiImpl.h
  samples/server/petstore/cpp-pistache/model/ApiResponse.h
  samples/server/petstore/cpp-pistache/model/Category.h
  samples/server/petstore/cpp-pistache/model/Order.h
  samples/server/petstore/cpp-pistache/model/Pet.h
  samples/server/petstore/cpp-pistache/model/Tag.h
  samples/server/petstore/cpp-pistache/model/User.h
Labels: Issue: Bug, Server: C++
