Repository OpenAPITools/openapi-generator, pull requests merged in 2024-04, with the labels that each got.

#18258 Add rule to set primitive types to nullable
  docs/customization.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/OpenAPINormalizerTest.java
  modules/openapi-generator/src/test/resources/3_0/setPrimitiveTypesToNullable_test.yaml
Labels: Enhancement: General, OpenAPI Normalizer

#18266 Update spring-context and spring-web to newer version
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/pom.mustache
  samples/client/echo_api/java/resttemplate/build.gradle
  samples/client/echo_api/java/resttemplate/pom.xml
  samples/client/others/java/resttemplate-useAbstractionForFiles/build.gradle
  samples/client/others/java/resttemplate-useAbstractionForFiles/pom.xml
  samples/client/petstore/java/resttemplate-jakarta/build.gradle
  samples/client/petstore/java/resttemplate-jakarta/pom.xml
  samples/client/petstore/java/resttemplate-swagger1/build.gradle
  samples/client/petstore/java/resttemplate-swagger1/pom.xml
  samples/client/petstore/java/resttemplate-swagger2/build.gradle
  samples/client/petstore/java/resttemplate-swagger2/pom.xml
  samples/client/petstore/java/resttemplate-withXml/build.gradle
  samples/client/petstore/java/resttemplate-withXml/pom.xml
  samples/client/petstore/java/resttemplate/build.gradle
  samples/client/petstore/java/resttemplate/pom.xml
Labels: Client: Java, Enhancement: Compatibility

#18268 Add logic to simplify any type represented with oneof/anyof
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/OpenAPINormalizerTest.java
  modules/openapi-generator/src/test/resources/3_0/simplifyOneOfAnyOf_test.yaml
Labels: Enhancement: General, OpenAPI Normalizer

#18281 [Java] Sync jersey2 jersey3 template
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/pojo.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey3/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey3/oneof_model.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey3/pojo.mustache
  samples/client/others/java/jersey2-oneOf-Mixed/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/others/java/jersey2-oneOf-duplicates/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java8-localdatetime/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey3/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey3/src/main/java/org/openapitools/client/model/Fruit.java
  samples/client/petstore/java/jersey3/src/main/java/org/openapitools/client/model/FruitReq.java
  samples/client/petstore/java/jersey3/src/main/java/org/openapitools/client/model/Mammal.java
  samples/client/petstore/java/jersey3/src/main/java/org/openapitools/client/model/NullableShape.java
  samples/client/petstore/java/jersey3/src/main/java/org/openapitools/client/model/Pig.java
  samples/client/petstore/java/jersey3/src/main/java/org/openapitools/client/model/Quadrilateral.java
  samples/client/petstore/java/jersey3/src/main/java/org/openapitools/client/model/Shape.java
  samples/client/petstore/java/jersey3/src/main/java/org/openapitools/client/model/ShapeOrNull.java
  samples/client/petstore/java/jersey3/src/main/java/org/openapitools/client/model/Triangle.java
  samples/openapi3/client/extensions/x-auth-id-alias/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8-special-characters/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8-swagger1/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8-swagger1/src/main/java/org/openapitools/client/model/Pet.java
  samples/openapi3/client/petstore/java/jersey2-java8-swagger2/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8-swagger2/src/main/java/org/openapitools/client/model/Pet.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/ObjectWithDeprecatedFields.java
Labels: Client: Java, Enhancement: General

#18297 [normalizer] fix schemas incorrectly skipped
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/test/resources/3_1/java/petstore.yaml
  samples/client/petstore/java/okhttp-gson-3.1/.openapi-generator/FILES
  samples/client/petstore/java/okhttp-gson-3.1/README.md
  samples/client/petstore/java/okhttp-gson-3.1/api/openapi.yaml
  samples/client/petstore/java/okhttp-gson-3.1/docs/ArrayOfSameRef.md
  samples/client/petstore/java/okhttp-gson-3.1/docs/CircularReference1.md
  samples/client/petstore/java/okhttp-gson-3.1/docs/CircularReference2.md
  samples/client/petstore/java/okhttp-gson-3.1/docs/CircularReference3.md
  samples/client/petstore/java/okhttp-gson-3.1/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/okhttp-gson-3.1/src/main/java/org/openapitools/client/model/ArrayOfSameRef.java
  samples/client/petstore/java/okhttp-gson-3.1/src/main/java/org/openapitools/client/model/CircularReference1.java
  samples/client/petstore/java/okhttp-gson-3.1/src/main/java/org/openapitools/client/model/CircularReference2.java
  samples/client/petstore/java/okhttp-gson-3.1/src/main/java/org/openapitools/client/model/CircularReference3.java
  samples/client/petstore/java/okhttp-gson-3.1/src/test/java/org/openapitools/client/model/ArrayOfSameRefTest.java
  samples/client/petstore/java/okhttp-gson-3.1/src/test/java/org/openapitools/client/model/CircularReference1Test.java
  samples/client/petstore/java/okhttp-gson-3.1/src/test/java/org/openapitools/client/model/CircularReference2Test.java
  samples/client/petstore/java/okhttp-gson-3.1/src/test/java/org/openapitools/client/model/CircularReference3Test.java
  w
Labels: Enhancement: Feature, Feature: OAS 3.1.0 spec support

#18299 Skip warning, better code format for jetbrain http client generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JetbrainsHttpClientClientCodegen.java
Labels: Enhancement: Code format, Enhancement: General, Client: JetBrains HTTP client

#18310 Add tests for query parameter (array of enum) in 3.1 spec
  modules/openapi-generator/src/test/resources/3_1/java/petstore.yaml
  openapitools.json
  samples/client/petstore/java/okhttp-gson-3.1/.openapi-generator/FILES
  samples/client/petstore/java/okhttp-gson-3.1/README.md
  samples/client/petstore/java/okhttp-gson-3.1/api/openapi.yaml
  samples/client/petstore/java/okhttp-gson-3.1/docs/CodesEnum.md
  samples/client/petstore/java/okhttp-gson-3.1/docs/FakeApi.md
  samples/client/petstore/java/okhttp-gson-3.1/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/okhttp-gson-3.1/src/main/java/org/openapitools/client/model/CodesEnum.java
  samples/client/petstore/java/okhttp-gson-3.1/src/test/java/org/openapitools/client/model/CodesEnumTest.java
Labels: Enhancement: CI/Test, Feature: OAS 3.1.0 spec support

#18220 Fix map parameter not a container
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/resources/3_0/cpp-ue4/petstore.yaml
Labels: Feature: Generator, Issue: Bug

#18315 Fix #17740 (multipart/form-data request) and proxy behaviour
  modules/openapi-generator/src/main/resources/powershell/api_client.mustache
  samples/client/echo_api/powershell/src/PSOpenAPITools/Private/ApiClient.ps1
  samples/client/petstore/powershell/src/PSPetstore/Private/PSApiClient.ps1
Labels: Client: PowerShell, Issue: Bug

#18318 [BUG] [kotlin-spring] Fixed escaped backticks in parameters using reserved words
  modules/openapi-generator/src/main/resources/kotlin-spring/apiDelegate.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/apiInterface.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/cookieParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/formParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/headerParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/pathParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/queryParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/serviceImpl.mustache
Labels: Issue: Bug, Server: Kotlin

#18305 Kotlin: Do not escape/sanitize quoted enum values
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractKotlinCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/AbstractKotlinCodegenTest.java
Labels: Client: Kotlin, Enhancement: General, Server: Kotlin

#18278 [spring] Delegate Incorrectly generated when useOptional True
  modules/openapi-generator/src/main/resources/JavaSpring/api.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/apiDelegate.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/resources/bugs/issue_17768.yaml
Labels: Issue: Bug, Server: Java, Server: Spring

#18338 "==" enum value generates "_" in Java which is invalid since Java 9
  docs/generators/groovy.md
  docs/generators/java-camel.md
  docs/generators/java-helidon-client.md
  docs/generators/java-helidon-server.md
  docs/generators/java-inflector.md
  docs/generators/java-micronaut-client.md
  docs/generators/java-micronaut-server.md
  docs/generators/java-msf4j.md
  docs/generators/java-pkmst.md
  docs/generators/java-play-framework.md
  docs/generators/java-undertow-server.md
  docs/generators/java-vertx-web.md
  docs/generators/java-vertx.md
  docs/generators/java-wiremock.md
  docs/generators/java.md
  docs/generators/jaxrs-cxf-cdi.md
  docs/generators/jaxrs-cxf-client.md
  docs/generators/jaxrs-cxf-extended.md
  docs/generators/jaxrs-cxf.md
  docs/generators/jaxrs-jersey.md
  docs/generators/jaxrs-resteasy-eap.md
  docs/generators/jaxrs-resteasy.md
  docs/generators/jaxrs-spec.md
  docs/generators/spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/AbstractJavaCodegenTest.java
Labels: Client: Java, Feature: Enum, Issue: Bug, Server: Java

#18205 [kotliln-spring] Update dataClass.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/dataClass.mustache
Labels: Enhancement: General, Server: Kotlin

#18346 [java][native] use type reference instead to fix compilation issue in JDK11
  modules/openapi-generator/src/main/resources/Java/libraries/native/api.mustache
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/AuthApi.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/BodyApi.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/FormApi.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/HeaderApi.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/PathApi.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/QueryApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/DefaultApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/DefaultApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/FakeClassnameTags123Api.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Issue: Regression

#18348 Fix method naming for openapi normalzier, openapi ignore list option
  bin/configs/java-okhttp-gson-swagger1.yaml
  bin/configs/kotlin-model-prefix-type-mapping-echo-api.yaml
  bin/configs/kotlin-model-prefix-type-mapping.yaml
  docs/customization.md
  modules/openapi-generator-cli/src/main/java/org/openapitools/codegen/cmd/Generate.java
  modules/openapi-generator-core/src/main/java/org/openapitools/codegen/config/GeneratorSettings.java
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConfig.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultGenerator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfigurator.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/CodegenConfiguratorUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/sampleConfig.json
  samples/client/petstore/java/okhttp-gson-swagger1/.openapi-generator/FILES
  samples/client/petstore/java/okhttp-gson-swagger1/README.md
  samples/client/petstore/java/okhttp-gson-swagger1/api/openapi.yaml
  samples/client/petstore/java/okhttp-gson-swagger1/docs/CommonApi.md
  samples/client/petstore/java/okhttp-gson-swagger1/docs/PetApi.md
  samples/client/petstore/java/okhttp-gson-swagger1/docs/StoreApi.md
  samples/client/petstore/java/okhttp-gson-swagger1/docs/UserApi.md
  samples/client/petstore/java/okhttp-gson-swagger1/src/main/java/org/openapitools/client/api/CommonApi.java
  samples/client/petstore/java/okhttp-gson-swagger1/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/okhttp-gson-swagger1/src/main/java/org/openapitools/client/api/StoreApi.java
  samples/client/petstore/java/okhttp-gson-swagger1/src/main/java/org/openapitools/client/api/UserApi.java
  samples/client/petstore/java/okhttp-gson-swagger1/src/test/java/org/openapitools/client/api/CommonApiTest.java
  samples/client/petstore/java/okhttp-gson-swagger1/src/test/java/org/openapitools/client/api/PetApiTest.java
  samples/client/petstore/java/okhttp-gson-swagger1/src/test/java/org/openapitools/client/api/StoreApiTest.java
  samples/client/petstore/java/okhttp-gson-swagger1/src/test/java/org/openapitools/client/api/UserApiTest.java
  samples/client/petstore/java/okhttp-gson-swagger1/src/test/java/org/openapitools/client/model/CategoryTest.java
  samples/client/petstore/java/okhttp-gson-swagger1/src/test/java/org/openapitools/client/model/ModelApiResponseTest.java
  samples/client/petstore/java/okhttp-gson-swagger1/src/test/java/org/openapitools/client/model/OrderTest.java
  samples/client/petstore/java/okhttp-gson-swagger1/src/test/java/org/openapitools/client/model/PetTest.java
  samples/client/petstore/java/okhttp-gson-swagger1/src/test/java/org/openapitools/client/model/TagTest.java
  samples/client/petstore/java/okhttp-gson-swagger1/src/test/java/org/openapitools/client/model/UserTest.java
Labels: Feature: Generator, Issue: Bug

#18349 [javascript] fix docs example quoting, fixes #6324
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptApolloClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavascriptClientCodegen.java
Labels: Client: JavaScript/Node.js, Feature: Documentation, Issue: Bug

#18328 Python: Correctly serialize enum with its value (#18327)
  modules/openapi-generator/src/main/resources/python/api_client.mustache
  modules/openapi-generator/src/test/resources/3_0/python/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/openapi_client/api_client.py
  samples/client/echo_api/python/openapi_client/api_client.py
  samples/openapi3/client/petstore/python-aiohttp/docs/FakeApi.md
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api_client.py
  samples/openapi3/client/petstore/python-pydantic-v1-aiohttp/docs/FakeApi.md
  samples/openapi3/client/petstore/python-pydantic-v1-aiohttp/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-pydantic-v1/docs/FakeApi.md
  samples/openapi3/client/petstore/python-pydantic-v1/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/docs/EnumSerialization.md
  samples/openapi3/client/petstore/python/docs/FakeApi.md
  samples/openapi3/client/petstore/python/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api_client.py
  samples/openapi3/client/petstore/python/petstore_api/models/enum_serialization.py
  samples/openapi3/client/petstore/python/test/test_enum_serialization.py
  samples/openapi3/client/petstore/python/tests/test_api_client.py
  samples/openapi3/client/petstore/python/tests/test_fake_api.py
Labels: Client: Python, Issue: Bug

#18334 Update versions for typescript-node and remove vulnerable test package
  modules/openapi-generator/src/main/resources/typescript-node/package.mustache
  samples/client/petstore/typescript-node/npm/package.json
Labels: Client: TypeScript, Enhancement: Compatibility

#18352 Fix object and complex composed schema check
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/utils/ModelUtilsTest.java
  modules/openapi-generator/src/test/resources/3_1/schema.yaml
Labels: Issue: Bug, Feature: OAS 3.1.0 spec support

#18375 cask fix for response encoding
  modules/openapi-generator/src/main/resources/scala-cask/apiRoutes.mustache
  samples/server/petstore/scala-cask/src/main/scala/sample/cask/api/PetRoutes.scala
  samples/server/petstore/scala-cask/src/main/scala/sample/cask/api/StoreRoutes.scala
  samples/server/petstore/scala-cask/src/main/scala/sample/cask/api/UserRoutes.scala
Labels: Issue: Bug, Server: Scala

#18357 [php-symfony] Allow Symfony 7 / Remove EOL PHP / Bearer Fix
  modules/openapi-generator/src/main/resources/php-symfony/Controller.mustache
  modules/openapi-generator/src/main/resources/php-symfony/api_controller.mustache
  modules/openapi-generator/src/main/resources/php-symfony/composer.mustache
  modules/openapi-generator/src/main/resources/php-symfony/serialization/JmsSerializer.mustache
  modules/openapi-generator/src/main/resources/php-symfony/testing/ControllerTest.mustache
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/Controller.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/PetController.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/StoreController.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/UserController.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Service/JmsSerializer.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Tests/Controller/ControllerTest.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/composer.json
Labels: Enhancement: General, Issue: Bug, Server: PHP, Enhancement: Code Cleanup

#18376 Update dnspython to a newer version
  modules/openapi-generator/src/main/resources/python-fastapi/requirements.mustache
  samples/server/petstore/python-fastapi/requirements.txt
Labels: Enhancement: Compatibility, Server: Python

#18390 Go generate all of with multiple ref and discriminator
  modules/openapi-generator/src/main/resources/go/model_simple.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/go/GoClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/go/allof_multiple_ref_and_discriminator.yaml
Labels: Client: Go, Issue: Bug

#18312 [csharp] Fixed property naming convention for composed types
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractCSharpCodegen.java
  samples/client/petstore/csharp/generichost/net8/FormModels/src/Org.OpenAPITools/Model/OneOfString.cs
  samples/client/petstore/csharp/generichost/net8/FormModels/src/Org.OpenAPITools/Model/PolymorphicProperty.cs
  samples/client/petstore/csharp/generichost/net8/NullReferenceTypes/src/Org.OpenAPITools/Model/OneOfString.cs
  samples/client/petstore/csharp/generichost/net8/NullReferenceTypes/src/Org.OpenAPITools/Model/PolymorphicProperty.cs
  samples/client/petstore/csharp/generichost/net8/Petstore/src/Org.OpenAPITools/Model/OneOfString.cs
  samples/client/petstore/csharp/generichost/net8/Petstore/src/Org.OpenAPITools/Model/PolymorphicProperty.cs
  samples/client/petstore/csharp/generichost/net8/SourceGeneration/src/Org.OpenAPITools/Model/OneOfString.cs
  samples/client/petstore/csharp/generichost/net8/SourceGeneration/src/Org.OpenAPITools/Model/PolymorphicProperty.cs
  samples/client/petstore/csharp/generichost/standard2.0/Petstore/src/Org.OpenAPITools/Model/OneOfString.cs
  samples/client/petstore/csharp/generichost/standard2.0/Petstore/src/Org.OpenAPITools/Model/PolymorphicProperty.cs
Labels: Client: C-Sharp, Issue: Bug

#18410 Fix string comparison in haskell servant generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/HaskellServantCodegen.java
Labels: Issue: Bug, Server: Haskell

#18362 [RUST-AXUM] fix generator not handling application/x-www-form-urlencoded request content, update for initial fix #18061
  bin/configs/manual/rust-axum-petstore-with-fake-endpoints-models-for-testing.yaml
  bin/configs/manual/rust-axum-petstore.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Issue: Bug, Server: Rust

#18413 Taught Scala-cask to publish JS model files
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaCaskServerCodegen.java
  modules/openapi-generator/src/main/resources/scala-cask/build.sbt.mustache
  modules/openapi-generator/src/main/resources/scala-cask/build.sc.mustache
  modules/openapi-generator/src/main/resources/scala-cask/buildAndPublish.yml.mustache
  modules/openapi-generator/src/main/resources/scala-cask/project/plugins.sbt
  samples/server/petstore/scala-cask/.github/workflows/buildAndPublish.yml
  samples/server/petstore/scala-cask/.openapi-generator/FILES
  samples/server/petstore/scala-cask/build.sbt
  samples/server/petstore/scala-cask/build.sc
  samples/server/petstore/scala-cask/jvm/src/main/resources/openapi.json
  samples/server/petstore/scala-cask/jvm/src/main/scala/sample/cask/AppRoutes.scala
  samples/server/petstore/scala-cask/jvm/src/main/scala/sample/cask/BaseApp.scala
  samples/server/petstore/scala-cask/jvm/src/main/scala/sample/cask/ExampleApp.scala
  samples/server/petstore/scala-cask/jvm/src/main/scala/sample/cask/api/OpenApiRoutes.scala
  samples/server/petstore/scala-cask/jvm/src/main/scala/sample/cask/api/PetRoutes.scala
  samples/server/petstore/scala-cask/jvm/src/main/scala/sample/cask/api/PetService.scala
  samples/server/petstore/scala-cask/jvm/src/main/scala/sample/cask/api/StoreRoutes.scala
  samples/server/petstore/scala-cask/jvm/src/main/scala/sample/cask/api/StoreService.scala
  samples/server/petstore/scala-cask/jvm/src/main/scala/sample/cask/api/UserRoutes.scala
  samples/server/petstore/scala-cask/jvm/src/main/scala/sample/cask/api/UserService.scala
  samples/server/petstore/scala-cask/jvm/src/main/scala/sample/cask/api/package.scala
  samples/server/petstore/scala-cask/jvm/src/main/scala/sample/cask/package.scala
  samples/server/petstore/scala-cask/jvm/src/test/scala/sample/cask/model/ApiResponseTest.scala
  samples/server/petstore/scala-cask/jvm/src/test/scala/sample/cask/model/CategoryTest.scala
  samples/server/petstore/scala-cask/jvm/src/test/scala/sample/cask/model/OrderTest.scala
  samples/server/petstore/scala-cask/jvm/src/test/scala/sample/cask/model/PetTest.scala
  samples/server/petstore/scala-cask/jvm/src/test/scala/sample/cask/model/TagTest.scala
  samples/server/petstore/scala-cask/jvm/src/test/scala/sample/cask/model/UserTest.scala
  samples/server/petstore/scala-cask/project/plugins.sbt
  samples/server/petstore/scala-cask/shared/src/main/scala/sample/cask/model/ApiResponse.scala
  samples/server/petstore/scala-cask/shared/src/main/scala/sample/cask/model/ApiResponseData.scala
  samples/server/petstore/scala-cask/shared/src/main/scala/sample/cask/model/Category.scala
  samples/server/petstore/scala-cask/shared/src/main/scala/sample/cask/model/CategoryData.scala
  samples/server/petstore/scala-cask/shared/src/main/scala/sample/cask/model/Order.scala
  samples/server/petstore/scala-cask/shared/src/main/scala/sample/cask/model/OrderData.scala
  samples/server/petstore/scala-cask/shared/src/main/scala/sample/cask/model/Pet.scala
  samples/server/petstore/scala-cask/shared/src/main/scala/sample/cask/model/PetData.scala
  samples/server/petstore/scala-cask/shared/src/main/scala/sample/cask/model/Tag.scala
  samples/server/petstore/scala-cask/shared/src/main/scala/sample/cask/model/TagData.scala
  samples/server/petstore/scala-cask/shared/src/main/scala/sample/cask/model/User.scala
  samples/server/petstore/scala-cask/shared/src/main/scala/sample/cask/model/UserData.scala
  samples/server/petstore/scala-cask/shared/src/main/scala/sample/cask/model/package.scala
Labels: Enhancement: General, Server: Scala

#18406 feat: simple/experimental generator for flight-php server framework
  .github/workflows/samples-php8.yaml
  bin/configs/php-flight.yaml
  docs/generators.md
  docs/generators/php-flight.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpFlightServerCodegen.java
  modules/openapi-generator/src/main/resources/META-INF/services/org.openapitools.codegen.CodegenConfig
  modules/openapi-generator/src/main/resources/php-flight/README.mustache
  modules/openapi-generator/src/main/resources/php-flight/api.mustache
  modules/openapi-generator/src/main/resources/php-flight/composer.mustache
  modules/openapi-generator/src/main/resources/php-flight/gitignore
  modules/openapi-generator/src/main/resources/php-flight/licenseInfo.mustache
  modules/openapi-generator/src/main/resources/php-flight/model.mustache
  modules/openapi-generator/src/main/resources/php-flight/model_enum.mustache
  modules/openapi-generator/src/main/resources/php-flight/model_generic.mustache
  modules/openapi-generator/src/main/resources/php-flight/model_variables.mustache
  modules/openapi-generator/src/main/resources/php-flight/partial_header.mustache
  modules/openapi-generator/src/main/resources/php-flight/phpunit.mustache
  modules/openapi-generator/src/main/resources/php-flight/register_routes.mustache
  modules/openapi-generator/src/main/resources/php-flight/register_routes_test.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/php/flight/PhpFlightServerCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/petstore-php-flight.yaml
  samples/server/petstore/php-flight/.gitignore
  samples/server/petstore/php-flight/.openapi-generator-ignore
  samples/server/petstore/php-flight/.openapi-generator/FILES
  samples/server/petstore/php-flight/.openapi-generator/VERSION
  samples/server/petstore/php-flight/Api/AbstractPetApi.php
  samples/server/petstore/php-flight/Api/AbstractStoreApi.php
  samples/server/petstore/php-flight/Api/AbstractUserApi.php
  samples/server/petstore/php-flight/Model/ApiResponse.php
  samples/server/petstore/php-flight/Model/Category.php
  samples/server/petstore/php-flight/Model/FindPetsByStatusStatusParameterInner.php
  samples/server/petstore/php-flight/Model/Order.php
  samples/server/petstore/php-flight/Model/OrderStatus.php
  samples/server/petstore/php-flight/Model/Pet.php
  samples/server/petstore/php-flight/Model/PetStatus.php
  samples/server/petstore/php-flight/Model/Tag.php
  samples/server/petstore/php-flight/Model/User.php
  samples/server/petstore/php-flight/README.md
  samples/server/petstore/php-flight/RegisterRoutes.php
  samples/server/petstore/php-flight/Test/RegisterRoutesTest.php
  samples/server/petstore/php-flight/composer.json
  samples/server/petstore/php-flight/phpunit.xml.dist
Labels: Enhancement: New generator, Server: PHP

#18469 [Rust] Add support for base64-encoded byte arrays
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustClientCodegen.java
  modules/openapi-generator/src/main/resources/rust/Cargo.mustache
  modules/openapi-generator/src/main/resources/rust/model.mustache
  modules/openapi-generator/src/test/resources/3_0/rust/petstore.yaml
  samples/client/petstore/rust/hyper/petstore/Cargo.toml
  samples/client/petstore/rust/hyper/petstore/docs/TypeTesting.md
  samples/client/petstore/rust/hyper/petstore/src/models/type_testing.rs
  samples/client/petstore/rust/reqwest/petstore-async-middleware/Cargo.toml
  samples/client/petstore/rust/reqwest/petstore-async-middleware/docs/TypeTesting.md
  samples/client/petstore/rust/reqwest/petstore-async-middleware/src/models/type_testing.rs
  samples/client/petstore/rust/reqwest/petstore-async/Cargo.toml
  samples/client/petstore/rust/reqwest/petstore-async/docs/TypeTesting.md
  samples/client/petstore/rust/reqwest/petstore-async/src/models/type_testing.rs
  samples/client/petstore/rust/reqwest/petstore-avoid-box/Cargo.toml
  samples/client/petstore/rust/reqwest/petstore-avoid-box/docs/TypeTesting.md
  samples/client/petstore/rust/reqwest/petstore-avoid-box/src/models/type_testing.rs
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/Cargo.toml
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/docs/TypeTesting.md
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/src/models/type_testing.rs
  samples/client/petstore/rust/reqwest/petstore/Cargo.toml
  samples/client/petstore/rust/reqwest/petstore/docs/TypeTesting.md
  samples/client/petstore/rust/reqwest/petstore/src/models/type_testing.rs
Labels: Client: Rust, Enhancement: Compatibility

#18448 Add an option to skip unmarshall json in Go client generator
  docs/generators/go.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/GoClientCodegen.java
  modules/openapi-generator/src/main/resources/go/model_simple.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/go/GoClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/go/GoClientOptionsTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/GoClientOptionsProvider.java
  modules/openapi-generator/src/test/resources/3_0/go/allof_skip_unmarshal_json.yaml
  modules/openapi-generator/src/test/resources/3_0/go/allof_with_unmarshal_json.yaml
Labels: Client: Go, Enhancement: Feature

#18496 [C#] made the HttpSigning method public to get the signed header.
  modules/openapi-generator/src/main/resources/csharp/HttpSigningConfiguration.mustache
  samples/client/petstore/csharp/httpclient/standard2.0/Petstore/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/restsharp/net4.7/Petstore/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/restsharp/net4.8/Petstore/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/restsharp/net7/EnumMappings/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/restsharp/net7/Petstore/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/restsharp/standard2.0/ConditionalSerialization/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/restsharp/standard2.0/Petstore/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/unityWebRequest/standard2.0/Petstore/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
Labels: Client: C-Sharp, Enhancement: General

#18504 Fix null type check when simplifying any type
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/OpenAPINormalizerTest.java
  modules/openapi-generator/src/test/resources/3_0/simplifyOneOfAnyOf_test.yaml
Labels: Issue: Bug, OpenAPI Normalizer

#18519 [GO] fix post process file type
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
Labels: Client: Go, Issue: Bug, Server: Go

#18001 [dart] [dart-dio] Support Dart3
  bin/utils/dart-keywords/README.md
  bin/utils/dart-keywords/dart-version.txt
  bin/utils/dart-keywords/pubspec.lock
  bin/utils/dart-keywords/pubspec.yaml
  bin/utils/dart-keywords/save-dart-keywords.dart
  bin/utils/dart-keywords/save_dart_keywords.sh
  docs/generators/dart-dio.md
  docs/generators/dart.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractDartCodegen.java
  modules/openapi-generator/src/main/resources/dart/dart-keywords.txt
  modules/openapi-generator/src/main/resources/dart/libraries/dio/pubspec.mustache
  modules/openapi-generator/src/main/resources/dart2/pubspec.mustache
  samples/openapi3/client/petstore/dart-dio/oneof/pubspec.yaml
  samples/openapi3/client/petstore/dart-dio/oneof_polymorphism_and_inheritance/pubspec.yaml
  samples/openapi3/client/petstore/dart-dio/oneof_primitive/pubspec.yaml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/pubspec.yaml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/pubspec.yaml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake_tests/pubspec.yaml
  samples/openapi3/client/petstore/dart2/petstore_client_lib/pubspec.yaml
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/pubspec.yaml
Labels: Client: Dart, Enhancement: Compatibility

#18528 [php-flight] fix: parsing class/enum models
  modules/openapi-generator/src/main/resources/php-flight/register_routes.mustache
  modules/openapi-generator/src/main/resources/php-flight/register_routes_test.mustache
  samples/server/petstore/php-flight/RegisterRoutes.php
  samples/server/petstore/php-flight/Test/RegisterRoutesTest.php
Labels: Issue: Bug, Server: PHP

#18479 fix: ExampleGenerator for composed child schemas and array schemas
  modules/openapi-generator/src/main/java/org/openapitools/codegen/examples/ExampleGenerator.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/ExampleGeneratorTest.java
  modules/openapi-generator/src/test/resources/3_0/example_generator_test.yaml
  samples/client/petstore/csharp/generichost/net8/FormModels/api/openapi.yaml
  samples/client/petstore/csharp/generichost/net8/NullReferenceTypes/api/openapi.yaml
  samples/client/petstore/csharp/generichost/net8/Petstore/api/openapi.yaml
  samples/client/petstore/csharp/generichost/net8/SourceGeneration/api/openapi.yaml
  samples/client/petstore/csharp/generichost/standard2.0/Petstore/api/openapi.yaml
  samples/client/petstore/csharp/httpclient/standard2.0/Petstore/api/openapi.yaml
  samples/client/petstore/csharp/restsharp/net4.7/Petstore/api/openapi.yaml
  samples/client/petstore/csharp/restsharp/net4.8/Petstore/api/openapi.yaml
  samples/client/petstore/csharp/restsharp/net7/EnumMappings/api/openapi.yaml
  samples/client/petstore/csharp/restsharp/net7/Petstore/api/openapi.yaml
  samples/client/petstore/csharp/restsharp/standard2.0/ConditionalSerialization/api/openapi.yaml
  samples/client/petstore/csharp/restsharp/standard2.0/Petstore/api/openapi.yaml
  samples/client/petstore/csharp/unityWebRequest/standard2.0/Petstore/api/openapi.yaml
Labels: Issue: Bug

#18476 Add useSingleRequestParameter to typescript-nestjs generator
  docs/generators/typescript-nestjs.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptNestjsClientCodegen.java
  modules/openapi-generator/src/main/resources/typescript-nestjs/api.service.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/TypeScriptNestjsClientOptionsProvider.java
  samples/client/petstore/typescript-nestjs-v6-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-nestjs-v8-provided-in-root/builds/default/api/pet.service.ts
Labels: Client: TypeScript, Enhancement: Feature
