Repository OpenAPITools/openapi-generator, pull requests merged in 2024-11, with the labels that each got.

#20017 [Rust-Axum] Support Authentication (Cookie, API Key In Header)
  bin/configs/manual/rust-axum-apikey-auths.yaml
  docs/generators/rust-axum.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustAxumServerCodegen.java
  modules/openapi-generator/src/main/resources/rust-axum/apis-mod.mustache
  modules/openapi-generator/src/main/resources/rust-axum/apis.mustache
  modules/openapi-generator/src/main/resources/rust-axum/server-operation.mustache
  modules/openapi-generator/src/main/resources/rust-axum/server-route.mustache
  samples/server/petstore/rust-axum/output/apikey-auths/.gitignore
  samples/server/petstore/rust-axum/output/apikey-auths/.openapi-generator-ignore
  samples/server/petstore/rust-axum/output/apikey-auths/.openapi-generator/FILES
  samples/server/petstore/rust-axum/output/apikey-auths/.openapi-generator/VERSION
  samples/server/petstore/rust-axum/output/apikey-auths/Cargo.toml
  samples/server/petstore/rust-axum/output/apikey-auths/README.md
  samples/server/petstore/rust-axum/output/apikey-auths/src/apis/mod.rs
  samples/server/petstore/rust-axum/output/apikey-auths/src/apis/payments.rs
  samples/server/petstore/rust-axum/output/apikey-auths/src/header.rs
  samples/server/petstore/rust-axum/output/apikey-auths/src/lib.rs
  samples/server/petstore/rust-axum/output/apikey-auths/src/models.rs
  samples/server/petstore/rust-axum/output/apikey-auths/src/server/mod.rs
  samples/server/petstore/rust-axum/output/apikey-auths/src/types.rs
  samples/server/petstore/rust-axum/output/openapi-v3/src/server/mod.rs
  samples/server/petstore/rust-axum/output/petstore-with-fake-endpoints-models-for-testing/src/apis/mod.rs
  samples/server/petstore/rust-axum/output/petstore-with-fake-endpoints-models-for-testing/src/apis/pet.rs
  samples/server/petstore/rust-axum/output/petstore-with-fake-endpoints-models-for-testing/src/apis/store.rs
  samples/server/petstore/rust-axum/output/petstore-with-fake-endpoints-models-for-testing/src/server/mod.rs
  samples/server/petstore/rust-axum/output/petstore/src/apis/mod.rs
  samples/server/petstore/rust-axum/output/petstore/src/apis/pet.rs
  samples/server/petstore/rust-axum/output/petstore/src/apis/store.rs
  samples/server/petstore/rust-axum/output/petstore/src/apis/user.rs
  samples/server/petstore/rust-axum/output/petstore/src/server/mod.rs
Labels: Enhancement: Feature, Server: Rust, Enhancement: Security

#20035 [BUG][python-fastapi] Copy escapeReservedWord implementation from python generator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonFastAPIServerCodegen.java
Labels: Issue: Bug, Server: Python

#20053 Bump libraries for Kotlin client.
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinClientCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-ktor/auth/HttpBasicAuth.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/multiplatform/auth/HttpBasicAuth.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/multiplatform/build.gradle.kts.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/multiplatform/commonTest/Coroutine.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/multiplatform/iosTest/Coroutine.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/multiplatform/jsTest/Coroutine.kt.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/multiplatform/jvmTest/Coroutine.kt.mustache
  samples/client/petstore/kotlin-array-simple-string-multiplatform/.openapi-generator/FILES
  samples/client/petstore/kotlin-array-simple-string-multiplatform/build.gradle.kts
  samples/client/petstore/kotlin-array-simple-string-multiplatform/src/commonMain/kotlin/org/openapitools/client/auth/HttpBasicAuth.kt
  samples/client/petstore/kotlin-array-simple-string-multiplatform/src/commonTest/kotlin/util/Coroutine.kt
  samples/client/petstore/kotlin-array-simple-string-multiplatform/src/iosTest/kotlin/util/Coroutine.kt
  samples/client/petstore/kotlin-array-simple-string-multiplatform/src/jsTest/kotlin/util/Coroutine.kt
  samples/client/petstore/kotlin-array-simple-string-multiplatform/src/jvmTest/kotlin/util/Coroutine.kt
  samples/client/petstore/kotlin-bigdecimal-default-multiplatform/.openapi-generator/FILES
  samples/client/petstore/kotlin-bigdecimal-default-multiplatform/build.gradle.kts
  samples/client/petstore/kotlin-bigdecimal-default-multiplatform/src/commonMain/kotlin/org/openapitools/client/auth/HttpBasicAuth.kt
  samples/client/petstore/kotlin-bigdecimal-default-multiplatform/src/commonTest/kotlin/util/Coroutine.kt
  samples/client/petstore/kotlin-bigdecimal-default-multiplatform/src/iosTest/kotlin/util/Coroutine.kt
  samples/client/petstore/kotlin-bigdecimal-default-multiplatform/src/jsTest/kotlin/util/Coroutine.kt
  samples/client/petstore/kotlin-bigdecimal-default-multiplatform/src/jvmTest/kotlin/util/Coroutine.kt
  samples/client/petstore/kotlin-default-values-multiplatform/.openapi-generator/FILES
  samples/client/petstore/kotlin-default-values-multiplatform/build.gradle.kts
  samples/client/petstore/kotlin-default-values-multiplatform/src/commonMain/kotlin/org/openapitools/client/auth/HttpBasicAuth.kt
  samples/client/petstore/kotlin-default-values-multiplatform/src/commonTest/kotlin/util/Coroutine.kt
  samples/client/petstore/kotlin-default-values-multiplatform/src/iosTest/kotlin/util/Coroutine.kt
  samples/client/petstore/kotlin-default-values-multiplatform/src/jsTest/kotlin/util/Coroutine.kt
  samples/client/petstore/kotlin-default-values-multiplatform/src/jvmTest/kotlin/util/Coroutine.kt
  samples/client/petstore/kotlin-jvm-ktor-gson/src/main/kotlin/org/openapitools/client/auth/HttpBasicAuth.kt
  samples/client/petstore/kotlin-jvm-ktor-jackson/src/main/kotlin/org/openapitools/client/auth/HttpBasicAuth.kt
  samples/client/petstore/kotlin-jvm-ktor-kotlinx_serialization/src/main/kotlin/org/openapitools/client/auth/HttpBasicAuth.kt
  samples/client/petstore/kotlin-multiplatform-kotlinx-datetime/.openapi-generator/FILES
  samples/client/petstore/kotlin-multiplatform-kotlinx-datetime/build.gradle.kts
  samples/client/petstore/kotlin-multiplatform-kotlinx-datetime/src/commonMain/kotlin/org/openapitools/client/auth/HttpBasicAuth.kt
  samples/client/petstore/kotlin-multiplatform-kotlinx-datetime/src/commonTest/kotlin/util/Coroutine.kt
  samples/client/petstore/kotlin-multiplatform-kotlinx-datetime/src/iosTest/kotlin/util/Coroutine.kt
  samples/client/petstore/kotlin-multiplatform-kotlinx-datetime/src/jsTest/kotlin/util/Coroutine.kt
  samples/client/petstore/kotlin-multiplatform-kotlinx-datetime/src/jvmTest/kotlin/util/Coroutine.kt
  samples/client/petstore/kotlin-multiplatform/.openapi-generator/FILES
  samples/client/petstore/kotlin-multiplatform/build.gradle.kts
  samples/client/petstore/kotlin-multiplatform/gradle/wrapper/gradle-wrapper.properties
  samples/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/auth/HttpBasicAuth.kt
  samples/client/petstore/kotlin-multiplatform/src/commonTest/kotlin/util/Coroutine.kt
  samples/client/petstore/kotlin-multiplatform/src/iosTest/kotlin/util/Coroutine.kt
  samples/client/petstore/kotlin-multiplatform/src/jsTest/kotlin/util/Coroutine.kt
  samples/client/petstore/kotlin-multiplatform/src/jvmTest/kotlin/util/Coroutine.kt
  samples/openapi3/client/petstore/kotlin-multiplatform/.openapi-generator/FILES
  samples/openapi3/client/petstore/kotlin-multiplatform/src/commonTest/kotlin/util/Coroutine.kt
  samples/openapi3/client/petstore/kotlin-multiplatform/src/iosTest/kotlin/util/Coroutine.kt
  samples/openapi3/client/petstore/kotlin-multiplatform/src/jsTest/kotlin/util/Coroutine.kt
  samples/openapi3/client/petstore/kotlin-multiplatform/src/jvmTest/kotlin/util/Coroutine.kt
Labels: Client: Kotlin, Enhancement: Compatibility

#19901 [scala][client]: scala-http4s: minor improvement (enum companion method, remove implicit, error handling)
  modules/openapi-generator/src/main/resources/scala-http4s/api.mustache
  modules/openapi-generator/src/main/resources/scala-http4s/baseClient.mustache
  modules/openapi-generator/src/main/resources/scala-http4s/errorResponsePart.mustache
  modules/openapi-generator/src/main/resources/scala-http4s/failedRequest.mustache
  modules/openapi-generator/src/main/resources/scala-http4s/jsonSupports.mustache
  modules/openapi-generator/src/main/resources/scala-http4s/methodParameters.mustache
  modules/openapi-generator/src/main/resources/scala-http4s/model.mustache
  modules/openapi-generator/src/main/resources/scala-http4s/modelsPackage.mustache
  modules/openapi-generator/src/main/resources/scala-http4s/responseState.mustache
  samples/client/petstore/scala-http4s/src/main/scala/org/openapitools/client/apis/BaseClient.scala
  samples/client/petstore/scala-http4s/src/main/scala/org/openapitools/client/apis/JsonSupports.scala
  samples/client/petstore/scala-http4s/src/main/scala/org/openapitools/client/apis/PetApi.scala
  samples/client/petstore/scala-http4s/src/main/scala/org/openapitools/client/apis/StoreApi.scala
  samples/client/petstore/scala-http4s/src/main/scala/org/openapitools/client/apis/UserApi.scala
  samples/client/petstore/scala-http4s/src/main/scala/org/openapitools/client/models/FindPetsByStatusStatusParameterInner.scala
  samples/client/petstore/scala-http4s/src/main/scala/org/openapitools/client/models/OrderStatus.scala
  samples/client/petstore/scala-http4s/src/main/scala/org/openapitools/client/models/PetStatus.scala
  samples/client/petstore/scala-http4s/src/main/scala/org/openapitools/client/models/_FailedRequest.scala
  samples/client/petstore/scala-http4s/src/main/scala/org/openapitools/client/models/package.scala
Labels: Client: Scala, Enhancement: Feature, Feature: Enum

#20062 [typescript] fix Inversify type checks on CI
  bin/configs/typescript-consolidated-inversify.yaml
  samples/openapi3/client/petstore/typescript/builds/inversify/apis/PetApi.ts
  samples/openapi3/client/petstore/typescript/builds/inversify/apis/StoreApi.ts
  samples/openapi3/client/petstore/typescript/builds/inversify/apis/UserApi.ts
  samples/openapi3/client/petstore/typescript/builds/inversify/http/http.ts
  samples/openapi3/client/petstore/typescript/builds/inversify/package.json
  samples/openapi3/client/petstore/typescript/builds/inversify/tsconfig.json
Labels: Client: TypeScript

#20061 [kotlin-server] Bump Kotlin/Gradle versions and improve CI triggers/config
  .github/workflows/samples-kotlin-server-jdk17.yaml
  .github/workflows/samples-kotlin-server-jdk21.yaml
  .github/workflows/samples-kotlin-server.yaml
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/javalin5/build.gradle.kts.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/javalin6/build.gradle.kts.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/libraries/spring-boot/buildGradle-sb3-Kts.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/libraries/spring-boot/buildGradleKts.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/libraries/spring-cloud/buildGradle-sb3-Kts.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/libraries/spring-cloud/buildGradleKts.mustache
  samples/server/petstore/kotlin-server/javalin-6/build.gradle.kts
  samples/server/petstore/kotlin-server/javalin/build.gradle.kts
  samples/server/petstore/kotlin-spring-cloud/build.gradle.kts
  samples/server/petstore/kotlin-spring-default/build.gradle.kts
  samples/server/petstore/kotlin-springboot-3/build.gradle.kts
  samples/server/petstore/kotlin-springboot-bigdecimal-default/build.gradle.kts
  samples/server/petstore/kotlin-springboot-delegate-nodefaults/build.gradle.kts
  samples/server/petstore/kotlin-springboot-delegate/build.gradle.kts
  samples/server/petstore/kotlin-springboot-integer-enum/build.gradle.kts
  samples/server/petstore/kotlin-springboot-modelMutable/build.gradle.kts
  samples/server/petstore/kotlin-springboot-multipart-request-model/build.gradle.kts
  samples/server/petstore/kotlin-springboot-reactive/build.gradle.kts
  samples/server/petstore/kotlin-springboot-request-cookie/build.gradle.kts
  samples/server/petstore/kotlin-springboot-source-swagger1/build.gradle.kts
  samples/server/petstore/kotlin-springboot-source-swagger2/build.gradle.kts
  samples/server/petstore/kotlin-springboot-springfox/build.gradle.kts
  samples/server/petstore/kotlin-springboot/build.gradle.kts
Labels: Enhancement: CI/Test, Enhancement: Compatibility, Server: Kotlin

#20042 [Java] Respect User Supplied Header Params
  bin/utils/test_file_list.yaml
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/api.mustache
  modules/openapi-generator/src/test/resources/3_0/java/petstore-with-fake-endpoints-models-for-testing-okhttp-gson.yaml
  samples/client/echo_api/java/okhttp-gson-user-defined-templates/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/echo_api/java/okhttp-gson/src/main/java/org/openapitools/client/api/HeaderApi.java
  samples/client/petstore/java/okhttp-gson-3.1/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/okhttp-gson-3.1/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/okhttp-gson-awsv4signature/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/okhttp-gson-group-parameter/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/okhttp-gson-nullable-required/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/okhttp-gson-swagger1/src/main/java/org/openapitools/client/api/CommonApi.java
  samples/client/petstore/java/okhttp-gson-swagger2/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/okhttp-gson/api/openapi.yaml
  samples/client/petstore/java/okhttp-gson/docs/PetApi.md
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/AnotherFakeApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/api/PetApiTest.java
Labels: Client: Java, Enhancement: General

#19875 [csharp] Address MaxTimeout obsolete build warning
  bin/utils/test_file_list.yaml
  modules/openapi-generator/src/main/resources/csharp/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp/Configuration.mustache
  modules/openapi-generator/src/main/resources/csharp/IReadableConfiguration.mustache
  modules/openapi-generator/src/main/resources/csharp/libraries/httpclient/ApiClient.mustache
  samples/client/echo_api/csharp-restsharp/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/echo_api/csharp-restsharp/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/echo_api/csharp-restsharp/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/others/csharp-complex-files/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/others/csharp-complex-files/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/others/csharp-complex-files/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/httpclient/standard2.0/Petstore/src/Org.OpenAPITools.Test/Api/PetApiTests.cs
  samples/client/petstore/csharp/httpclient/standard2.0/Petstore/src/Org.OpenAPITools.Test/Api/PetApiTestsV2.cs
  samples/client/petstore/csharp/httpclient/standard2.0/Petstore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/httpclient/standard2.0/Petstore/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/httpclient/standard2.0/Petstore/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/restsharp/net4.7/MultipleFrameworks/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/net4.7/MultipleFrameworks/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/restsharp/net4.7/MultipleFrameworks/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/restsharp/net4.7/Petstore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/net4.7/Petstore/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/restsharp/net4.7/Petstore/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/restsharp/net4.8/Petstore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/net4.8/Petstore/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/restsharp/net4.8/Petstore/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/restsharp/net6/ParameterMappings/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/net6/ParameterMappings/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/restsharp/net6/ParameterMappings/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/restsharp/net7/EnumMappings/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/net7/EnumMappings/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/restsharp/net7/EnumMappings/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/restsharp/net7/Petstore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/net7/Petstore/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/restsharp/net7/Petstore/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/restsharp/net7/UseDateTimeForDate/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/net7/UseDateTimeForDate/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/restsharp/net7/UseDateTimeForDate/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/restsharp/standard2.0/ConditionalSerialization/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/standard2.0/ConditionalSerialization/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/restsharp/standard2.0/ConditionalSerialization/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/restsharp/standard2.0/Petstore/src/Org.OpenAPITools.Test/Api/PetApiTests.cs
  samples/client/petstore/csharp/restsharp/standard2.0/Petstore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/standard2.0/Petstore/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/restsharp/standard2.0/Petstore/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/unityWebRequest/standard2.0/Petstore/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/unityWebRequest/standard2.0/Petstore/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
Labels: Breaking change (with fallback), Client: C-Sharp, Enhancement: Code Cleanup

#20069 [csharp] Add option to fallback to int for Timeout
  docs/generators/csharp.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpClientCodegen.java
  modules/openapi-generator/src/main/resources/csharp/ApiClient.v790.mustache
  modules/openapi-generator/src/main/resources/csharp/Configuration.v790.mustache
  modules/openapi-generator/src/main/resources/csharp/IReadableConfiguration.v790.mustache
Labels: Client: C-Sharp, Enhancement: Feature

#20070 Add tests for duplicated operationId
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/duplicated_operationid.yaml
Labels: Enhancement: CI/Test

#20054 kotlin-server: Fix required + nullable combination for properties
  .github/workflows/samples-kotlin-server-jdk17.yaml
  .github/workflows/samples-kotlin-server-jdk21.yaml
  bin/configs/kotlin-server-required-nullable.yaml
  modules/openapi-generator/src/main/resources/kotlin-server/data_class_req_var.mustache
  modules/openapi-generator/src/test/resources/3_0/required-and-nullable-properties.yaml
  samples/server/petstore/kotlin-server-required-and-nullable-properties/.openapi-generator-ignore
  samples/server/petstore/kotlin-server-required-and-nullable-properties/.openapi-generator/FILES
  samples/server/petstore/kotlin-server-required-and-nullable-properties/.openapi-generator/VERSION
  samples/server/petstore/kotlin-server-required-and-nullable-properties/README.md
  samples/server/petstore/kotlin-server-required-and-nullable-properties/build.gradle.kts
  samples/server/petstore/kotlin-server-required-and-nullable-properties/gradle.properties
  samples/server/petstore/kotlin-server-required-and-nullable-properties/settings.gradle
  samples/server/petstore/kotlin-server-required-and-nullable-properties/src/main/kotlin/org/openapitools/server/Main.kt
  samples/server/petstore/kotlin-server-required-and-nullable-properties/src/main/kotlin/org/openapitools/server/apis/DefaultApi.kt
  samples/server/petstore/kotlin-server-required-and-nullable-properties/src/main/kotlin/org/openapitools/server/apis/DefaultApiService.kt
  samples/server/petstore/kotlin-server-required-and-nullable-properties/src/main/kotlin/org/openapitools/server/apis/DefaultApiServiceImpl.kt
  samples/server/petstore/kotlin-server-required-and-nullable-properties/src/main/kotlin/org/openapitools/server/models/Pet.kt
Labels: Issue: Bug, Server: Kotlin

#20076 Suppress the cast warning in java okhttp-gson client
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/ApiClient.mustache
  samples/client/echo_api/java/okhttp-gson-user-defined-templates/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/echo_api/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/others/java/okhttp-gson-oneOf-array/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/others/java/okhttp-gson-oneOf/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/others/java/okhttp-gson-streaming/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-3.1/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-awsv4signature/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-group-parameter/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-nullable-required/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-swagger1/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-swagger2/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java

#20011 Add equals and hashCode methods to Microprofile
  bin/configs/java-microprofile-rest-client-3.0-jackson.yaml
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/model.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/pojo.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/pojoOverrides.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/pom_3.0.mustache
  samples/client/petstore/java/microprofile-rest-client-3.0-jackson-with-xml/pom.xml
  samples/client/petstore/java/microprofile-rest-client-3.0-jackson-with-xml/src/main/java/org/openapitools/client/model/Category.java
  samples/client/petstore/java/microprofile-rest-client-3.0-jackson-with-xml/src/main/java/org/openapitools/client/model/ModelApiResponse.java
  samples/client/petstore/java/microprofile-rest-client-3.0-jackson-with-xml/src/main/java/org/openapitools/client/model/Order.java
  samples/client/petstore/java/microprofile-rest-client-3.0-jackson-with-xml/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/java/microprofile-rest-client-3.0-jackson-with-xml/src/main/java/org/openapitools/client/model/Tag.java
  samples/client/petstore/java/microprofile-rest-client-3.0-jackson-with-xml/src/main/java/org/openapitools/client/model/User.java
  samples/client/petstore/java/microprofile-rest-client-3.0-jackson/pom.xml
  samples/client/petstore/java/microprofile-rest-client-3.0-jackson/src/main/java/org/openapitools/client/model/Category.java
  samples/client/petstore/java/microprofile-rest-client-3.0-jackson/src/main/java/org/openapitools/client/model/ModelApiResponse.java
  samples/client/petstore/java/microprofile-rest-client-3.0-jackson/src/main/java/org/openapitools/client/model/Order.java
  samples/client/petstore/java/microprofile-rest-client-3.0-jackson/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/java/microprofile-rest-client-3.0-jackson/src/main/java/org/openapitools/client/model/Tag.java
  samples/client/petstore/java/microprofile-rest-client-3.0-jackson/src/main/java/org/openapitools/client/model/User.java
  samples/client/petstore/java/microprofile-rest-client-3.0/pom.xml
  samples/client/petstore/java/microprofile-rest-client-3.0/src/main/java/org/openapitools/client/model/Category.java
  samples/client/petstore/java/microprofile-rest-client-3.0/src/main/java/org/openapitools/client/model/ModelApiResponse.java
  samples/client/petstore/java/microprofile-rest-client-3.0/src/main/java/org/openapitools/client/model/Order.java
  samples/client/petstore/java/microprofile-rest-client-3.0/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/java/microprofile-rest-client-3.0/src/main/java/org/openapitools/client/model/Tag.java
  samples/client/petstore/java/microprofile-rest-client-3.0/src/main/java/org/openapitools/client/model/User.java
  samples/client/petstore/java/microprofile-rest-client-outer-enum/pom.xml
  samples/client/petstore/java/microprofile-rest-client-outer-enum/src/main/java/org/openapitools/client/model/Cat.java
  samples/client/petstore/java/microprofile-rest-client-outer-enum/src/main/java/org/openapitools/client/model/Dog.java
  samples/client/petstore/java/microprofile-rest-client-outer-enum/src/main/java/org/openapitools/client/model/Status.java
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/pom.xml
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/src/main/java/org/openapitools/client/model/Category.java
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/src/main/java/org/openapitools/client/model/ModelApiResponse.java
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/src/main/java/org/openapitools/client/model/Order.java
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/src/main/java/org/openapitools/client/model/Tag.java
  samples/client/petstore/java/microprofile-rest-client-with-useSingleRequestParameter/src/main/java/org/openapitools/client/model/User.java
  samples/client/petstore/java/microprofile-rest-client/pom.xml
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/model/Category.java
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/model/ModelApiResponse.java
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/model/Order.java
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/model/Pet.java
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/model/Tag.java
  samples/client/petstore/java/microprofile-rest-client/src/main/java/org/openapitools/client/model/User.java
  samples/server/petstore/java-microprofile/pom.xml
  samples/server/petstore/java-microprofile/src/main/java/org/openapitools/server/model/Category.java
  samples/server/petstore/java-microprofile/src/main/java/org/openapitools/server/model/ModelApiResponse.java
  samples/server/petstore/java-microprofile/src/main/java/org/openapitools/server/model/Order.java
  samples/server/petstore/java-microprofile/src/main/java/org/openapitools/server/model/Pet.java
  samples/server/petstore/java-microprofile/src/main/java/org/openapitools/server/model/Tag.java
  samples/server/petstore/java-microprofile/src/main/java/org/openapitools/server/model/User.java
Labels: Client: Java, Enhancement: General

#19872 Fix duplicated operationId with new rule in normalizer
  .github/workflows/samples-java-client-jdk11.yaml
  bin/configs/java-okhttp-gson-3.1-duplicated-operationid.yaml
  bin/configs/java-okhttp-gson-3.1.yaml
  docs/customization.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/StringUtils.java
  modules/openapi-generator/src/test/resources/3_1/java/duplicated_operationid.yaml
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/.github/workflows/maven.yml
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/.gitignore
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/.openapi-generator-ignore
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/.openapi-generator/FILES
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/.openapi-generator/VERSION
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/.travis.yml
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/README.md
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/api/openapi.yaml
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/build.gradle
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/build.sbt
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/docs/FakeApi.md
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/docs/PetApi.md
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/git_push.sh
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/gradle.properties
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/gradle/wrapper/gradle-wrapper.jar
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/gradle/wrapper/gradle-wrapper.properties
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/gradlew
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/gradlew.bat
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/pom.xml
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/settings.gradle
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/src/main/AndroidManifest.xml
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/src/main/java/org/openapitools/client/ApiCallback.java
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/src/main/java/org/openapitools/client/ApiException.java
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/src/main/java/org/openapitools/client/ApiResponse.java
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/src/main/java/org/openapitools/client/Configuration.java
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/src/main/java/org/openapitools/client/GzipRequestInterceptor.java
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/src/main/java/org/openapitools/client/Pair.java
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/src/main/java/org/openapitools/client/ProgressRequestBody.java
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/src/main/java/org/openapitools/client/ProgressResponseBody.java
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/src/main/java/org/openapitools/client/ServerConfiguration.java
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/src/main/java/org/openapitools/client/ServerVariable.java
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/src/main/java/org/openapitools/client/StringUtil.java
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/src/main/java/org/openapitools/client/auth/ApiKeyAuth.java
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/src/main/java/org/openapitools/client/auth/Authentication.java
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/src/main/java/org/openapitools/client/auth/HttpBasicAuth.java
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/src/main/java/org/openapitools/client/auth/HttpBearerAuth.java
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/src/main/java/org/openapitools/client/auth/OAuth.java
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/src/main/java/org/openapitools/client/auth/OAuthFlow.java
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/src/main/java/org/openapitools/client/auth/OAuthOkHttpClient.java
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/src/main/java/org/openapitools/client/auth/RetryingOAuth.java
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/src/main/java/org/openapitools/client/model/AbstractOpenApiSchema.java
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/src/test/java/org/openapitools/client/api/FakeApiTest.java
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/src/test/java/org/openapitools/client/api/PetApiTest.java
Labels: Enhancement: Feature, OpenAPI Normalizer

#20083 Fix allOf with properties for the REF_AS_PARENT_IN_ALLOF rule
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/OpenAPINormalizerTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/allOf_extension_parent.yaml
Labels: Issue: Regression, OpenAPI Normalizer

#20097 [Rust-Axum][Breaking Changes] Extracting Claims in Cookie/Header
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustAxumServerCodegen.java
  modules/openapi-generator/src/main/resources/rust-axum/Cargo.mustache
  modules/openapi-generator/src/main/resources/rust-axum/apis-mod.mustache
  modules/openapi-generator/src/main/resources/rust-axum/apis.mustache
  modules/openapi-generator/src/main/resources/rust-axum/server-operation.mustache
  modules/openapi-generator/src/main/resources/rust-axum/server-route.mustache
  samples/server/petstore/rust-axum/output/apikey-auths/Cargo.toml
  samples/server/petstore/rust-axum/output/apikey-auths/src/apis/mod.rs
  samples/server/petstore/rust-axum/output/apikey-auths/src/apis/payments.rs
  samples/server/petstore/rust-axum/output/apikey-auths/src/server/mod.rs
  samples/server/petstore/rust-axum/output/multipart-v3/Cargo.toml
  samples/server/petstore/rust-axum/output/openapi-v3/Cargo.toml
  samples/server/petstore/rust-axum/output/ops-v3/Cargo.toml
  samples/server/petstore/rust-axum/output/petstore-with-fake-endpoints-models-for-testing/Cargo.toml
  samples/server/petstore/rust-axum/output/petstore-with-fake-endpoints-models-for-testing/src/apis/mod.rs
  samples/server/petstore/rust-axum/output/petstore-with-fake-endpoints-models-for-testing/src/apis/pet.rs
  samples/server/petstore/rust-axum/output/petstore-with-fake-endpoints-models-for-testing/src/apis/store.rs
  samples/server/petstore/rust-axum/output/petstore-with-fake-endpoints-models-for-testing/src/server/mod.rs
  samples/server/petstore/rust-axum/output/petstore/Cargo.toml
  samples/server/petstore/rust-axum/output/petstore/src/apis/mod.rs
  samples/server/petstore/rust-axum/output/petstore/src/apis/pet.rs
  samples/server/petstore/rust-axum/output/petstore/src/apis/store.rs
  samples/server/petstore/rust-axum/output/petstore/src/apis/user.rs
  samples/server/petstore/rust-axum/output/petstore/src/server/mod.rs
  samples/server/petstore/rust-axum/output/ping-bearer-auth/Cargo.toml
  samples/server/petstore/rust-axum/output/rust-axum-header-uuid/Cargo.toml
  samples/server/petstore/rust-axum/output/rust-axum-test/Cargo.toml
  samples/server/petstore/rust-axum/output/rust-axum-validation-test/Cargo.toml
Labels: Breaking change (with fallback), Server: Rust

#20118 Update minimum supported version of python in docs to 3.8+
  docs/generators/python.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/README.md
  samples/client/echo_api/python/README.md
  samples/openapi3/client/petstore/python-aiohttp/README.md
  samples/openapi3/client/petstore/python/README.md
Labels: Client: Python, Enhancement: Compatibility

#20120 erlang-server: add jesse to app.up release
  modules/openapi-generator/src/main/resources/erlang-server/app.src.mustache
  modules/openapi-generator/src/main/resources/erlang-server/rebar.config.mustache
  samples/server/echo_api/erlang-server/rebar.config
  samples/server/echo_api/erlang-server/src/openapi.app.src
  samples/server/petstore/erlang-server/rebar.config
  samples/server/petstore/erlang-server/src/openapi.app.src
Labels: Enhancement: General, Server: Erlang

#20124 [#20125] Remove unnecessary model package import to avoid ambiguous class references
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/JSON.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey3/JSON.mustache
  samples/client/others/java/jersey2-oneOf-Mixed/src/main/java/org/openapitools/client/JSON.java
  samples/client/others/java/jersey2-oneOf-duplicates/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/jersey2-java8-localdatetime/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/jersey3-oneOf/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/jersey3/src/main/java/org/openapitools/client/JSON.java
  samples/openapi3/client/petstore/java/jersey2-java8-special-characters/src/main/java/org/openapitools/client/JSON.java
  samples/openapi3/client/petstore/java/jersey2-java8-swagger1/src/main/java/org/openapitools/client/JSON.java
  samples/openapi3/client/petstore/java/jersey2-java8-swagger2/src/main/java/org/openapitools/client/JSON.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/JSON.java
Labels: Client: Java, Enhancement: Code Cleanup

#20112 fixes(java/restclient) Force usage of custom converter
  modules/openapi-generator/src/main/resources/Java/libraries/restclient/ApiClient.mustache
  samples/client/echo_api/java/restclient/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/others/java/restclient-useAbstractionForFiles/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/restclient-nullable-arrays/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/restclient-swagger2/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/restclient-useSingleRequestParameter/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/restclient/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#20147 [Elm] Add missing operation summary
  modules/openapi-generator/src/main/resources/elm/operation.mustache
  samples/client/petstore/elm/src/Api/Request/Pet.elm
  samples/client/petstore/elm/src/Api/Request/Store.elm
  samples/client/petstore/elm/src/Api/Request/User.elm
  samples/openapi3/client/elm/src/Api/Request/Default.elm
  samples/openapi3/client/elm/src/Api/Request/Primitive.elm
Labels: Client: Elm, Enhancement: General

#20165 Resolve inline schemas in webhooks
  modules/openapi-generator/src/main/java/org/openapitools/codegen/InlineModelResolver.java
  modules/openapi-generator/src/test/resources/3_1/java/petstore.yaml
  samples/client/petstore/java/okhttp-gson-3.1/.openapi-generator/FILES
  samples/client/petstore/java/okhttp-gson-3.1/README.md
  samples/client/petstore/java/okhttp-gson-3.1/api/openapi.yaml
  samples/client/petstore/java/okhttp-gson-3.1/docs/DefaultApi.md
  samples/client/petstore/java/okhttp-gson-3.1/docs/FakeWebhooksSourcesDeletedPostRequest.md
  samples/client/petstore/java/okhttp-gson-3.1/docs/FakeWebhooksSourcesDeletedPostRequestEvent.md
  samples/client/petstore/java/okhttp-gson-3.1/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/okhttp-gson-3.1/src/main/java/org/openapitools/client/api/DefaultApi.java
  samples/client/petstore/java/okhttp-gson-3.1/src/main/java/org/openapitools/client/model/FakeWebhooksSourcesDeletedPostRequest.java
  samples/client/petstore/java/okhttp-gson-3.1/src/main/java/org/openapitools/client/model/FakeWebhooksSourcesDeletedPostRequestEvent.java
  samples/client/petstore/java/okhttp-gson-3.1/src/test/java/org/openapitools/client/api/DefaultApiTest.java
  samples/client/petstore/java/okhttp-gson-3.1/src/test/java/org/openapitools/client/model/FakeWebhooksSourcesDeletedPostRequestEventTest.java
  samples/client/petstore/java/okhttp-gson-3.1/src/test/java/org/openapitools/client/model/FakeWebhooksSourcesDeletedPostRequestTest.java
Labels: Enhancement: General, Inline Schema Handling

#20162 PHP8.4 comptible, php-symfony resources
  .github/workflows/samples-php8.yaml
  modules/openapi-generator/src/main/resources/php-symfony/Controller.mustache
  modules/openapi-generator/src/main/resources/php-symfony/model_generic.mustache
  samples/server/petstore/php-symfony/SymfonyBundle-php/Controller/Controller.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/ApiResponse.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/Category.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/Order.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/Pet.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/Tag.php
  samples/server/petstore/php-symfony/SymfonyBundle-php/Model/User.php
Labels: Enhancement: Compatibility, Server: PHP

#20131 [R] improve binary/text response handling
  modules/openapi-generator/src/main/resources/r/ApiResponse.mustache
  modules/openapi-generator/src/main/resources/r/api.mustache
  modules/openapi-generator/src/main/resources/r/api_client.mustache
  modules/openapi-generator/src/main/resources/r/api_exception.mustache
  modules/openapi-generator/src/main/resources/r/libraries/httr2/api_client.mustache
  samples/client/echo_api/r/R/api_client.R
  samples/client/echo_api/r/R/api_response.R
  samples/client/echo_api/r/R/auth_api.R
  samples/client/echo_api/r/R/body_api.R
  samples/client/echo_api/r/R/form_api.R
  samples/client/echo_api/r/R/header_api.R
  samples/client/echo_api/r/R/path_api.R
  samples/client/echo_api/r/R/query_api.R
  samples/client/petstore/R-httr2-wrapper/R/api_client.R
  samples/client/petstore/R-httr2-wrapper/R/api_exception.R
  samples/client/petstore/R-httr2-wrapper/R/api_response.R
  samples/client/petstore/R-httr2-wrapper/R/fake_api.R
  samples/client/petstore/R-httr2-wrapper/R/pet_api.R
  samples/client/petstore/R-httr2-wrapper/R/store_api.R
  samples/client/petstore/R-httr2-wrapper/R/user_api.R
  samples/client/petstore/R-httr2/R/api_client.R
  samples/client/petstore/R-httr2/R/api_exception.R
  samples/client/petstore/R-httr2/R/api_response.R
  samples/client/petstore/R-httr2/R/fake_api.R
  samples/client/petstore/R-httr2/R/pet_api.R
  samples/client/petstore/R-httr2/R/store_api.R
  samples/client/petstore/R-httr2/R/user_api.R
  samples/client/petstore/R/R/api_client.R
  samples/client/petstore/R/R/api_exception.R
  samples/client/petstore/R/R/api_response.R
  samples/client/petstore/R/R/fake_api.R
  samples/client/petstore/R/R/pet_api.R
  samples/client/petstore/R/R/store_api.R
  samples/client/petstore/R/R/user_api.R
Labels: Client: R, Enhancement: General

#19401 [Java] Fix compilation error for a Map<String, Set<InnerEnum>> due to incompatible types
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_19393_map_of_inner_enum.yaml
Labels: Client: Java, Issue: Bug

#20133 [Rust-Axum] Dynamically set the types of integer literals
  modules/openapi-generator/src/main/resources/rust-axum/models.mustache
  samples/server/petstore/rust-axum/output/apikey-auths/.openapi-generator/VERSION
  samples/server/petstore/rust-axum/output/apikey-auths/README.md
  samples/server/petstore/rust-axum/output/multipart-v3/.openapi-generator/VERSION
  samples/server/petstore/rust-axum/output/multipart-v3/README.md
  samples/server/petstore/rust-axum/output/openapi-v3/.openapi-generator/VERSION
  samples/server/petstore/rust-axum/output/openapi-v3/README.md
  samples/server/petstore/rust-axum/output/ops-v3/.openapi-generator/VERSION
  samples/server/petstore/rust-axum/output/ops-v3/README.md
  samples/server/petstore/rust-axum/output/petstore-with-fake-endpoints-models-for-testing/.openapi-generator/VERSION
  samples/server/petstore/rust-axum/output/petstore-with-fake-endpoints-models-for-testing/README.md
  samples/server/petstore/rust-axum/output/petstore-with-fake-endpoints-models-for-testing/src/models.rs
  samples/server/petstore/rust-axum/output/petstore/.openapi-generator/VERSION
  samples/server/petstore/rust-axum/output/petstore/README.md
  samples/server/petstore/rust-axum/output/petstore/src/models.rs
  samples/server/petstore/rust-axum/output/ping-bearer-auth/.openapi-generator/VERSION
  samples/server/petstore/rust-axum/output/ping-bearer-auth/README.md
  samples/server/petstore/rust-axum/output/rust-axum-header-uuid/.openapi-generator/VERSION
  samples/server/petstore/rust-axum/output/rust-axum-header-uuid/README.md
  samples/server/petstore/rust-axum/output/rust-axum-test/.openapi-generator/VERSION
  samples/server/petstore/rust-axum/output/rust-axum-test/README.md
  samples/server/petstore/rust-axum/output/rust-axum-validation-test/.openapi-generator/VERSION
  samples/server/petstore/rust-axum/output/rust-axum-validation-test/README.md
Labels: Enhancement: General, Server: Rust

#20171 [Elm] Fix not sanitizing param name
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElmClientCodegen.java
  modules/openapi-generator/src/main/resources/elm/formParamEncoder.mustache
  modules/openapi-generator/src/main/resources/elm/operation.mustache
  modules/openapi-generator/src/test/resources/3_0/elm.yaml
  samples/openapi3/client/elm/src/Api/Request/Default.elm
Labels: Client: Elm, Issue: Bug

#20148 [python] Encode list query params
  modules/openapi-generator/src/main/resources/python/api_client.mustache
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/openapi_client/api_client.py
  samples/client/echo_api/python/openapi_client/api_client.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api_client.py
  samples/openapi3/client/petstore/python/petstore_api/api_client.py
  samples/openapi3/client/petstore/python/tests/test_api_client.py
  samples/openapi3/client/petstore/python/tests/test_api_validation.py
Labels: Client: Python, Issue: Bug

#19962 [BUG][GO] use value receiver for JSON marshal
  modules/openapi-generator/src/main/resources/go/model_anyof.mustache
  modules/openapi-generator/src/test/resources/3_0/go/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/client/others/go/oneof-anyof-required/model_object2.go
  samples/openapi3/client/petstore/go/go-petstore/.openapi-generator/FILES
  samples/openapi3/client/petstore/go/go-petstore/README.md
  samples/openapi3/client/petstore/go/go-petstore/api/openapi.yaml
  samples/openapi3/client/petstore/go/go-petstore/docs/FakeAPI.md
  samples/openapi3/client/petstore/go/go-petstore/docs/FilterAny.md
  samples/openapi3/client/petstore/go/go-petstore/docs/FilterTypeRange.md
  samples/openapi3/client/petstore/go/go-petstore/docs/FilterTypeRegex.md
  samples/openapi3/client/petstore/go/go-petstore/docs/FruitJuice.md
  samples/openapi3/client/petstore/go/go-petstore/model_any_of_primitive_type.go
  samples/openapi3/client/petstore/go/go-petstore/model_filter_any.go
  samples/openapi3/client/petstore/go/go-petstore/model_filter_type_range.go
  samples/openapi3/client/petstore/go/go-petstore/model_filter_type_regex.go
  samples/openapi3/client/petstore/go/go-petstore/model_fruit_juice.go
  samples/openapi3/client/petstore/go/go-petstore/model_gm_fruit.go
  samples/openapi3/client/petstore/go/go.mod
  samples/openapi3/client/petstore/go/go.sum
  samples/openapi3/client/petstore/go/model_test.go
Labels: Client: Go, Issue: Bug

#14434 Fix a few issues with the C generator (part 1 version 2)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CLibcurlClientCodegen.java
  modules/openapi-generator/src/main/resources/C-libcurl/CMakeLists.txt.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/any_type-header.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/api-body.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/api-header.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/model-body.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/model-header.mustache
  samples/client/petstore/c-useJsonUnformatted/.openapi-generator/FILES
  samples/client/petstore/c-useJsonUnformatted/CMakeLists.txt
  samples/client/petstore/c-useJsonUnformatted/model/any_type.h
  samples/client/petstore/c/.openapi-generator/FILES
  samples/client/petstore/c/model/any_type.h
Labels: Issue: Bug, Client: C

#20200 Tests for recent C fixes
  modules/openapi-generator/src/test/resources/2_0/c/petstore.yaml
  samples/client/petstore/c-useJsonUnformatted/.openapi-generator/FILES
  samples/client/petstore/c-useJsonUnformatted/CMakeLists.txt
  samples/client/petstore/c-useJsonUnformatted/README.md
  samples/client/petstore/c-useJsonUnformatted/api/PetAPI.c
  samples/client/petstore/c-useJsonUnformatted/api/PetAPI.h
  samples/client/petstore/c-useJsonUnformatted/docs/PetAPI.md
  samples/client/petstore/c-useJsonUnformatted/docs/preference.md
  samples/client/petstore/c-useJsonUnformatted/docs/user.md
  samples/client/petstore/c-useJsonUnformatted/model/preference.c
  samples/client/petstore/c-useJsonUnformatted/model/preference.h
  samples/client/petstore/c-useJsonUnformatted/model/user.c
  samples/client/petstore/c-useJsonUnformatted/model/user.h
  samples/client/petstore/c-useJsonUnformatted/unit-test/test_preference.c
  samples/client/petstore/c/.openapi-generator/FILES
  samples/client/petstore/c/README.md
  samples/client/petstore/c/api/PetAPI.c
  samples/client/petstore/c/api/PetAPI.h
  samples/client/petstore/c/docs/PetAPI.md
  samples/client/petstore/c/docs/preference.md
  samples/client/petstore/c/docs/user.md
  samples/client/petstore/c/model/preference.c
  samples/client/petstore/c/model/preference.h
  samples/client/petstore/c/model/user.c
  samples/client/petstore/c/model/user.h
  samples/client/petstore/c/unit-test/test_preference.c
Labels: Enhancement: CI/Test, Client: C#

#20196 Update r petstore client test script
  samples/client/echo_api/r/build_and_test.bash
  samples/client/petstore/R-httr2-wrapper/build_and_test.bash
  samples/client/petstore/R-httr2/build_and_test.bash
  samples/client/petstore/R/build_and_test.bash
Labels: Client: R, Enhancement: CI/Test

#20172 [Java] Add option to fallback to legacy enum naming
  bin/configs/java-okhttp-gson-3.1.yaml
  bin/configs/java-okhttp-gson-streaming.yaml
  docs/generators/groovy.md
  docs/generators/java-camel.md
  docs/generators/java-helidon-client.md
  docs/generators/java-helidon-server.md
  docs/generators/java-inflector.md
  docs/generators/java-micronaut-client.md
  docs/generators/java-micronaut-server.md
  docs/generators/java-microprofile.md
  docs/generators/java-msf4j.md
  docs/generators/java-pkmst.md
  docs/generators/java-play-framework.md
  docs/generators/java-undertow-server.md
  docs/generators/java-vertx-web.md
  docs/generators/java-vertx.md
  docs/generators/java-wiremock.md
  docs/generators/java.md
  docs/generators/jaxrs-cxf-cdi.md
  docs/generators/jaxrs-cxf-client.md
  docs/generators/jaxrs-cxf-extended.md
  docs/generators/jaxrs-cxf.md
  docs/generators/jaxrs-jersey.md
  docs/generators/jaxrs-resteasy-eap.md
  docs/generators/jaxrs-resteasy.md
  docs/generators/jaxrs-spec.md
  docs/generators/spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  samples/client/others/java/okhttp-gson-streaming/docs/SomeObj.md
  samples/client/others/java/okhttp-gson-streaming/src/main/java/org/openapitools/client/model/SomeObj.java
Labels: Client: Java, Enhancement: Feature, Feature: Enum, Server: Java

#20207 [python-flask] Change requestBody argument name to 'body' in controllers
  modules/openapi-generator/src/main/resources/python-flask/controller.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonFlaskConnexionServerCodegenTest.java
  modules/openapi-generator/src/test/resources/bugs/issue_1666.yaml
  samples/server/petstore/python-flask/openapi_server/controllers/pet_controller.py
  samples/server/petstore/python-flask/openapi_server/controllers/store_controller.py
  samples/server/petstore/python-flask/openapi_server/controllers/user_controller.py
Labels: Issue: Bug, Server: Python

#20211 Update kotlin option description to clarify the support
  docs/generators/kotlin.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinClientCodegen.java
Labels: Client: Kotlin, Enhancement: Feature, Feature: Documentation

#20138 Updated README.mustache template for the Erlang server generator
  modules/openapi-generator/src/main/resources/erlang-server/README.mustache
  samples/server/echo_api/erlang-server/README.md
  samples/server/petstore/erlang-server/README.md
Labels: Enhancement: Feature, Feature: Documentation, Server: Erlang
