Repository OpenAPITools/openapi-generator, pull requests merged in 2024-06, with the labels that each got.

#18804 [Python] List enum members in docs
  modules/openapi-generator/src/main/resources/python-fastapi/model_doc.mustache
  modules/openapi-generator/src/main/resources/python-pydantic-v1/model_doc.mustache
  modules/openapi-generator/src/main/resources/python/model_doc.mustache
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/docs/StringEnumRef.md
  samples/client/echo_api/python-pydantic-v1/docs/StringEnumRef.md
  samples/client/echo_api/python/docs/StringEnumRef.md
  samples/openapi3/client/petstore/python-aiohttp/docs/EnumClass.md
  samples/openapi3/client/petstore/python-aiohttp/docs/EnumString1.md
  samples/openapi3/client/petstore/python-aiohttp/docs/EnumString2.md
  samples/openapi3/client/petstore/python-aiohttp/docs/OuterEnum.md
  samples/openapi3/client/petstore/python-aiohttp/docs/OuterEnumDefaultValue.md
  samples/openapi3/client/petstore/python-aiohttp/docs/OuterEnumInteger.md
  samples/openapi3/client/petstore/python-aiohttp/docs/OuterEnumIntegerDefaultValue.md
  samples/openapi3/client/petstore/python-aiohttp/docs/SingleRefType.md
  samples/openapi3/client/petstore/python-aiohttp/docs/SpecialCharacterEnum.md
  samples/openapi3/client/petstore/python-pydantic-v1-aiohttp/docs/EnumClass.md
  samples/openapi3/client/petstore/python-pydantic-v1-aiohttp/docs/EnumString1.md
  samples/openapi3/client/petstore/python-pydantic-v1-aiohttp/docs/EnumString2.md
  samples/openapi3/client/petstore/python-pydantic-v1-aiohttp/docs/OuterEnum.md
  samples/openapi3/client/petstore/python-pydantic-v1-aiohttp/docs/OuterEnumDefaultValue.md
  samples/openapi3/client/petstore/python-pydantic-v1-aiohttp/docs/OuterEnumInteger.md
  samples/openapi3/client/petstore/python-pydantic-v1-aiohttp/docs/OuterEnumIntegerDefaultValue.md
  samples/openapi3/client/petstore/python-pydantic-v1-aiohttp/docs/SingleRefType.md
  samples/openapi3/client/petstore/python-pydantic-v1-aiohttp/docs/SpecialCharacterEnum.md
  samples/openapi3/client/petstore/python-pydantic-v1/docs/EnumClass.md
  samples/openapi3/client/petstore/python-pydantic-v1/docs/EnumString1.md
  samples/openapi3/client/petstore/python-pydantic-v1/docs/EnumString2.md
  samples/openapi3/client/petstore/python-pydantic-v1/docs/OuterEnum.md
  samples/openapi3/client/petstore/python-pydantic-v1/docs/OuterEnumDefaultValue.md
  samples/openapi3/client/petstore/python-pydantic-v1/docs/OuterEnumInteger.md
  samples/openapi3/client/petstore/python-pydantic-v1/docs/OuterEnumIntegerDefaultValue.md
  samples/openapi3/client/petstore/python-pydantic-v1/docs/SingleRefType.md
  samples/openapi3/client/petstore/python-pydantic-v1/docs/SpecialCharacterEnum.md
  samples/openapi3/client/petstore/python/docs/EnumClass.md
  samples/openapi3/client/petstore/python/docs/EnumString1.md
  samples/openapi3/client/petstore/python/docs/EnumString2.md
  samples/openapi3/client/petstore/python/docs/OuterEnum.md
  samples/openapi3/client/petstore/python/docs/OuterEnumDefaultValue.md
  samples/openapi3/client/petstore/python/docs/OuterEnumInteger.md
  samples/openapi3/client/petstore/python/docs/OuterEnumIntegerDefaultValue.md
  samples/openapi3/client/petstore/python/docs/SingleRefType.md
  samples/openapi3/client/petstore/python/docs/SpecialCharacterEnum.md
Labels: Client: Python, Enhancement: Feature, Feature: Documentation

#18793 [BUG][C++][cpp-pistache-server] fix compilation issue
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModel.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenParameter.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenProperty.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenResponse.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/IJsonSchemaValidationProperties.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppPistacheServerCodegen.java
  modules/openapi-generator/src/main/resources/cpp-pistache-server/api-header.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/cpppistache/ObjectAnyTypeSetTest.java
  modules/openapi-generator/src/test/resources/3_0/issue_6726.yaml
  samples/server/petstore/java-undertow/src/main/java/org/openapitools/handler/PathHandlerInterface.java
Labels: Issue: Bug, Server: C++

#18817 Add tests for Cpprestsdk client in CircleCI
  CI/circle_parallel.sh
Labels: Client: C++, Enhancement: CI/Test

#18474 [cpp-restsdk] add support for oneOf via std::variant
  docs/generators/cpp-restsdk.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppRestSdkClientCodegen.java
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/api-source.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/cmake-lists.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/model-header.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/model-source.mustache
  modules/openapi-generator/src/test/resources/3_0/cpp-restsdk/petstore.yaml
  samples/client/petstore/cpp-restsdk/client/.openapi-generator/FILES
  samples/client/petstore/cpp-restsdk/client/CMakeLists.txt
  samples/client/petstore/cpp-restsdk/client/include/CppRestPetstoreClient/api/UserOrPetApi.h
  samples/client/petstore/cpp-restsdk/client/include/CppRestPetstoreClient/model/ApiResponse.h
  samples/client/petstore/cpp-restsdk/client/include/CppRestPetstoreClient/model/Category.h
  samples/client/petstore/cpp-restsdk/client/include/CppRestPetstoreClient/model/CreateUserOrPet_request.h
  samples/client/petstore/cpp-restsdk/client/include/CppRestPetstoreClient/model/Order.h
  samples/client/petstore/cpp-restsdk/client/include/CppRestPetstoreClient/model/Pet.h
  samples/client/petstore/cpp-restsdk/client/include/CppRestPetstoreClient/model/Tag.h
  samples/client/petstore/cpp-restsdk/client/include/CppRestPetstoreClient/model/User.h
  samples/client/petstore/cpp-restsdk/client/pom.xml
  samples/client/petstore/cpp-restsdk/client/src/api/PetApi.cpp
  samples/client/petstore/cpp-restsdk/client/src/api/StoreApi.cpp
  samples/client/petstore/cpp-restsdk/client/src/api/UserApi.cpp
  samples/client/petstore/cpp-restsdk/client/src/api/UserOrPetApi.cpp
  samples/client/petstore/cpp-restsdk/client/src/model/CreateUserOrPet_request.cpp
Labels: Client: C++, Enhancement: Feature, Feature: OAS 3.0 spec support

#18815 Bugfix/activate helidon versionutil tests
  modules/openapi-generator/src/test/java/org/openapitools/codegen/languages/HelidonCommonCodegenTest.java
Labels: Enhancement: CI/Test

#18811 [JAVA: okhttp-gson, rest-assured, retrofit2] Don't generate Jackson import when serialization library is GSON
  modules/openapi-generator-online/src/main/java/org/openapitools/codegen/online/RFC3339DateFormat.java
  modules/openapi-generator/src/main/resources/Java/JSON.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/JSON.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/rest-assured/pom.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/JSON.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/pom.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  samples/client/echo_api/java/feign-gson/build.gradle
  samples/client/echo_api/java/feign-gson/build.sbt
  samples/client/echo_api/java/feign-gson/pom.xml
  samples/client/echo_api/java/okhttp-gson-user-defined-templates/src/main/java/org/openapitools/client/JSON.java
  samples/client/echo_api/java/okhttp-gson/src/main/java/org/openapitools/client/JSON.java
  samples/client/others/java/okhttp-gson-oneOf/src/main/java/org/openapitools/client/JSON.java
  samples/client/others/java/okhttp-gson-streaming/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/feign/build.gradle
  samples/client/petstore/java/feign/pom.xml
  samples/client/petstore/java/okhttp-gson-3.1/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/okhttp-gson-awsv4signature/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/okhttp-gson-dynamicOperations/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/okhttp-gson-group-parameter/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/okhttp-gson-nullable-required/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/okhttp-gson-parcelableModel/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/okhttp-gson-swagger1/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/okhttp-gson-swagger2/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/okhttp-gson/pom.xml
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/rest-assured-jackson/pom.xml
  samples/client/petstore/java/rest-assured/pom.xml
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/retrofit2-play26/build.gradle
  samples/client/petstore/java/retrofit2-play26/pom.xml
  samples/client/petstore/java/retrofit2/build.gradle
  samples/client/petstore/java/retrofit2/pom.xml
  samples/client/petstore/java/retrofit2/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/retrofit2rx2/build.gradle
  samples/client/petstore/java/retrofit2rx2/pom.xml
  samples/client/petstore/java/retrofit2rx2/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/retrofit2rx3/build.gradle
  samples/client/petstore/java/retrofit2rx3/pom.xml
  samples/client/petstore/java/retrofit2rx3/src/main/java/org/openapitools/client/JSON.java
Labels: Client: Java, Issue: Bug

#18857 Remove deprecated MockDefaultGenerator
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DryRunStatus.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DryRunTemplateManager.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/MockDefaultGenerator.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/TestUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/jaxrs/JavaJaxrsBaseTest.java
Labels: Enhancement: Code Cleanup, code line count reduction

#18849 [maven-plugin] Generate hash from actual resolved spec rather than inputSpec file
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
  modules/openapi-generator-maven-plugin/src/test/java/org/openapitools/codegen/plugin/CodeGenMojoTest.java
  modules/openapi-generator-maven-plugin/src/test/resources/issue-16489/petstore.yaml
  modules/openapi-generator-maven-plugin/src/test/resources/issue-16489/pom.xml
  modules/openapi-generator-maven-plugin/src/test/resources/issue-16489/schemas/Pet.yaml
Labels: Issue: Bug, OpenAPI Generator Maven Plugin

#18800 [python] fix deserialize on basic str fails
  modules/openapi-generator/src/main/resources/python/api_client.mustache
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/openapi_client/api_client.py
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/tests/test_manual.py
  samples/client/echo_api/python/openapi_client/api_client.py
  samples/client/echo_api/python/tests/test_manual.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api_client.py
  samples/openapi3/client/petstore/python/petstore_api/api_client.py
  samples/openapi3/client/petstore/python/tests/test_api.py
  samples/openapi3/client/petstore/python/tests/test_deserialization.py
  samples/openapi3/client/petstore/python/tests/test_fake_api.py
Labels: Client: Python, Issue: Bug

#18821 [cpp-restsdk] add support for oneOf via std::variant
  CI/circle_parallel.sh
  docs/generators/cpp-restsdk.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppRestSdkClientCodegen.java
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/api-source.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/cmake-lists.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/model-header.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/model-source.mustache
  modules/openapi-generator/src/test/resources/3_0/cpp-restsdk/petstore.yaml
  samples/client/petstore/cpp-restsdk/client/.openapi-generator/FILES
  samples/client/petstore/cpp-restsdk/client/CMakeLists.txt
  samples/client/petstore/cpp-restsdk/client/include/CppRestPetstoreClient/api/UserOrPetApi.h
  samples/client/petstore/cpp-restsdk/client/include/CppRestPetstoreClient/model/ApiResponse.h
  samples/client/petstore/cpp-restsdk/client/include/CppRestPetstoreClient/model/Category.h
  samples/client/petstore/cpp-restsdk/client/include/CppRestPetstoreClient/model/CreateUserOrPet_request.h
  samples/client/petstore/cpp-restsdk/client/include/CppRestPetstoreClient/model/Order.h
  samples/client/petstore/cpp-restsdk/client/include/CppRestPetstoreClient/model/Pet.h
  samples/client/petstore/cpp-restsdk/client/include/CppRestPetstoreClient/model/SchemaWithSet.h
  samples/client/petstore/cpp-restsdk/client/include/CppRestPetstoreClient/model/SchemaWithSet_vaccinationBook.h
  samples/client/petstore/cpp-restsdk/client/include/CppRestPetstoreClient/model/Tag.h
  samples/client/petstore/cpp-restsdk/client/include/CppRestPetstoreClient/model/User.h
  samples/client/petstore/cpp-restsdk/client/include/CppRestPetstoreClient/model/Vaccine.h
  samples/client/petstore/cpp-restsdk/client/pom.xml
  samples/client/petstore/cpp-restsdk/client/src/api/PetApi.cpp
  samples/client/petstore/cpp-restsdk/client/src/api/StoreApi.cpp
  samples/client/petstore/cpp-restsdk/client/src/api/UserApi.cpp
  samples/client/petstore/cpp-restsdk/client/src/api/UserOrPetApi.cpp
  samples/client/petstore/cpp-restsdk/client/src/model/CreateUserOrPet_request.cpp
Labels: Client: C++, Enhancement: Feature, Feature: OAS 3.0 spec support

#18788 [Elixir] Fix generation issues and compilation warnings in Elixir generator
  docs/generators/elixir.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElixirClientCodegen.java
  samples/client/petstore/elixir/lib/openapi_petstore/api/fake.ex
  samples/client/petstore/elixir/lib/openapi_petstore/api/pet.ex
Labels: Client: Elixir, Issue: Bug

#18901 [csharp] Refactor anyOf model template
  modules/openapi-generator/src/main/resources/csharp/modelAnyOf.mustache
  samples/client/petstore/csharp/httpclient/standard2.0/Petstore/src/Org.OpenAPITools/Model/GmFruit.cs
  samples/client/petstore/csharp/httpclient/standard2.0/Petstore/src/Org.OpenAPITools/Model/MixedAnyOfContent.cs
  samples/client/petstore/csharp/restsharp/net4.7/Petstore/src/Org.OpenAPITools/Model/GmFruit.cs
  samples/client/petstore/csharp/restsharp/net4.7/Petstore/src/Org.OpenAPITools/Model/MixedAnyOfContent.cs
  samples/client/petstore/csharp/restsharp/net4.8/Petstore/src/Org.OpenAPITools/Model/GmFruit.cs
  samples/client/petstore/csharp/restsharp/net4.8/Petstore/src/Org.OpenAPITools/Model/MixedAnyOfContent.cs
  samples/client/petstore/csharp/restsharp/net7/EnumMappings/src/Org.OpenAPITools/Model/GmFruit.cs
  samples/client/petstore/csharp/restsharp/net7/EnumMappings/src/Org.OpenAPITools/Model/MixedAnyOfContent.cs
  samples/client/petstore/csharp/restsharp/net7/Petstore/src/Org.OpenAPITools/Model/GmFruit.cs
  samples/client/petstore/csharp/restsharp/net7/Petstore/src/Org.OpenAPITools/Model/MixedAnyOfContent.cs
  samples/client/petstore/csharp/restsharp/standard2.0/ConditionalSerialization/src/Org.OpenAPITools/Model/GmFruit.cs
  samples/client/petstore/csharp/restsharp/standard2.0/ConditionalSerialization/src/Org.OpenAPITools/Model/MixedAnyOfContent.cs
  samples/client/petstore/csharp/restsharp/standard2.0/Petstore/src/Org.OpenAPITools/Model/GmFruit.cs
  samples/client/petstore/csharp/restsharp/standard2.0/Petstore/src/Org.OpenAPITools/Model/MixedAnyOfContent.cs
  samples/client/petstore/csharp/unityWebRequest/standard2.0/Petstore/src/Org.OpenAPITools/Model/GmFruit.cs
  samples/client/petstore/csharp/unityWebRequest/standard2.0/Petstore/src/Org.OpenAPITools/Model/MixedAnyOfContent.cs
Labels: Client: C-Sharp, Enhancement: Code Cleanup

#18891 Fix list in kotlin client templates
  modules/openapi-generator/src/main/resources/kotlin-client/anyof_class.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/data_class.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/oneof_class.mustache
  samples/client/petstore/kotlin-model-prefix-type-mappings/src/main/kotlin/org/openapitools/client/models/ApiAnyOfUserOrPetOrArrayString.kt
  samples/client/petstore/kotlin-model-prefix-type-mappings/src/main/kotlin/org/openapitools/client/models/ApiUserOrPetOrArrayString.kt
Labels: Client: Kotlin, Issue: Bug

#18907 Marketplace software zapier request middleware
  modules/openapi-generator/src/main/resources/zapier/api.mustache
  modules/openapi-generator/src/main/resources/zapier/utils.mustache
  samples/client/petstore/zapier/apis/PetApi.js
  samples/client/petstore/zapier/apis/StoreApi.js
  samples/client/petstore/zapier/apis/UserApi.js
  samples/client/petstore/zapier/utils/utils.js
Labels: Enhancement: General, Client: Zapier

#18910 [Java][jaxrs-spec] enumUnknownDefaultCase true now returns correctly in fromValue
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/enumClass.mustache
  modules/openapi-generator/src/main/resources/JavaJaxRS/spec/enumOuterClass.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/jaxrs/JavaJAXRSSpecServerCodegenTest.java
  modules/openapi-generator/src/test/resources/bugs/issue_13444.yaml
Labels: Enhancement: Feature, Feature: Enum, Server: Java

#18912 [Golang] Introduce 'lambda.type-to-name' in models_anyof.mustache
  modules/openapi-generator/src/main/resources/go/model_anyof.mustache
  modules/openapi-generator/src/test/resources/3_0/go/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/openapi3/client/petstore/go/go-petstore/.openapi-generator/FILES
  samples/openapi3/client/petstore/go/go-petstore/README.md
  samples/openapi3/client/petstore/go/go-petstore/api/openapi.yaml
  samples/openapi3/client/petstore/go/go-petstore/docs/AnyOfPrimitiveType.md
  samples/openapi3/client/petstore/go/go-petstore/model_any_of_primitive_type.go
Labels: Client: Go, Issue: Bug

#18914 [Java][Spring] enumUnknownDefaultCase true now returns correctly in fromValue
  modules/openapi-generator/src/main/resources/JavaSpring/enumClass.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/enumOuterClass.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/resources/bugs/issue_13241.yaml
Labels: Enhancement: Feature, Feature: Enum, Server: Spring

#14909 [Enhancement] [Gradle Plugin] Allow templates from classpath
  modules/openapi-generator-gradle-plugin/README.adoc
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/OpenApiGeneratorPlugin.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/extensions/OpenApiGeneratorGenerateExtension.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
Labels: Enhancement: Feature, OpenAPI Generator Gradle Plugin

#18915 [csharp] Improved apiclient.mustache
  modules/openapi-generator/src/main/resources/csharp/ApiClient.mustache
  samples/client/echo_api/csharp-restsharp/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/others/csharp-complex-files/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/net4.7/MultipleFrameworks/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/net4.7/Petstore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/net4.8/Petstore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/net6/ParameterMappings/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/net7/EnumMappings/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/net7/Petstore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/net7/UseDateTimeForDate/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/standard2.0/ConditionalSerialization/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/standard2.0/Petstore/src/Org.OpenAPITools/Client/ApiClient.cs
Labels: Client: C-Sharp, Enhancement: General

#18906 [Rust-Axum] Use x-response-id if specified
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustAxumServerCodegen.java
  samples/server/petstore/rust-axum/output/multipart-v3/.openapi-generator/VERSION
  samples/server/petstore/rust-axum/output/multipart-v3/README.md
  samples/server/petstore/rust-axum/output/openapi-v3/.openapi-generator/VERSION
  samples/server/petstore/rust-axum/output/openapi-v3/README.md
  samples/server/petstore/rust-axum/output/ops-v3/.openapi-generator/VERSION
  samples/server/petstore/rust-axum/output/ops-v3/README.md
  samples/server/petstore/rust-axum/output/petstore-with-fake-endpoints-models-for-testing/.openapi-generator/VERSION
  samples/server/petstore/rust-axum/output/petstore-with-fake-endpoints-models-for-testing/README.md
  samples/server/petstore/rust-axum/output/petstore/.openapi-generator/VERSION
  samples/server/petstore/rust-axum/output/petstore/README.md
  samples/server/petstore/rust-axum/output/ping-bearer-auth/.openapi-generator/VERSION
  samples/server/petstore/rust-axum/output/ping-bearer-auth/README.md
  samples/server/petstore/rust-axum/output/rust-axum-header-uuid/.openapi-generator/VERSION
  samples/server/petstore/rust-axum/output/rust-axum-header-uuid/README.md
  samples/server/petstore/rust-axum/output/rust-axum-test/.openapi-generator/VERSION
  samples/server/petstore/rust-axum/output/rust-axum-test/README.md
  samples/server/petstore/rust-axum/output/rust-axum-validation-test/.openapi-generator/VERSION
  samples/server/petstore/rust-axum/output/rust-axum-validation-test/README.md
Labels: Enhancement: General, Server: Rust

#18938 update rust axum samples, add cargo fmt
  samples/server/petstore/rust-axum/output/openapi-v3/src/server/mod.rs
  samples/server/petstore/rust-axum/output/petstore-with-fake-endpoints-models-for-testing/src/server/mod.rs
  samples/server/petstore/rust-axum/output/petstore/src/server/mod.rs
  samples/server/petstore/rust-axum/pom.xml
Labels: Enhancement: CI/Test, Server: Rust

#18888 [python] Add an option to add ensure_ascii=False to json.dumps
  .github/workflows/samples-python-client-echo-api.yaml
  bin/configs/python-echo-api-disallowAdditionalPropertiesIfNotPresent-true.yaml
  docs/generators/python.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/main/resources/python/rest.mustache
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/openapi_client/rest.py
Labels: Client: Python, Enhancement: Feature

#18921 [test-stack] Implement inner class assertion and fix typo "doesNotContains"
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultGeneratorTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/TestUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/config/MergedSpecBuilderTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaValidationArrayPrimitivesTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/assertions/AbstractAnnotationsAssert.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/assertions/AbstractMethodAssert.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/assertions/ConstructorAssert.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/assertions/InnerClassAssert.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/assertions/JavaFileAssert.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/assertions/MethodAnnotationsAssert.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/assertions/MethodAssert.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/assertions/ParameterAnnotationsAssert.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/assertions/ParameterAssert.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/assertions/PropertyAnnotationsAssert.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/assertions/PropertyAssert.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/assertions/TypeAnnotationsAssert.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/jaxrs/JavaJAXRSCXFCDIServerCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/jaxrs/JavaJAXRSSpecServerCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/jaxrs/JavaJaxrsResteasyServerCodegenModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/jaxrs/JavaJerseyServerCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/micronaut/JavaMicronautClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/micronaut/JavaMicronautServerCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/languages/JavaPKMSTServerCodegenTest.java
Labels: Enhancement: CI/Test, Feature: Generator

#18896 Kotlin-Spring request mapping mode
  bin/configs/kotlin-spring-boot-3.yaml
  bin/configs/kotlin-spring-boot-delegate.yaml
  bin/configs/kotlin-spring-boot.yaml
  docs/generators/kotlin-spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinSpringServerCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-spring/api.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/apiController.mustache
  modules/openapi-generator/src/main/resources/kotlin-spring/apiInterface.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/spring/KotlinSpringServerCodegenTest.java
  samples/server/petstore/kotlin-springboot-3/src/main/kotlin/org/openapitools/api/PetApiController.kt
  samples/server/petstore/kotlin-springboot-3/src/main/kotlin/org/openapitools/api/StoreApiController.kt
  samples/server/petstore/kotlin-springboot-3/src/main/kotlin/org/openapitools/api/UserApiController.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/api/PetApi.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/api/PetApiController.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/api/StoreApi.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/api/StoreApiController.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/api/UserApi.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/api/UserApiController.kt
  samples/server/petstore/kotlin-springboot-request-cookie/src/main/kotlin/org/openapitools/api/FakeApi.kt
  samples/server/petstore/kotlin-springboot-request-cookie/src/main/kotlin/org/openapitools/api/FakeClassnameTestApi.kt
  samples/server/petstore/kotlin-springboot-request-cookie/src/main/kotlin/org/openapitools/api/FooApi.kt
  samples/server/petstore/kotlin-springboot-request-cookie/src/main/kotlin/org/openapitools/api/PetApi.kt
  samples/server/petstore/kotlin-springboot-request-cookie/src/main/kotlin/org/openapitools/api/StoreApi.kt
  samples/server/petstore/kotlin-springboot-request-cookie/src/main/kotlin/org/openapitools/api/UserApi.kt
  samples/server/petstore/kotlin-springboot-request/src/main/kotlin/org/openapitools/api/PetApi.kt
  samples/server/petstore/kotlin-springboot-request/src/main/kotlin/org/openapitools/api/StoreApi.kt
  samples/server/petstore/kotlin-springboot-request/src/main/kotlin/org/openapitools/api/UserApi.kt
Labels: Enhancement: Feature, Server: Kotlin

#18762 [Java][native] Fix: useEnumCaseInsensitive option fixed in Java Native Model Enum
  modules/openapi-generator/src/main/resources/Java/libraries/native/modelEnum.mustache
Labels: Client: Java, Feature: Enum, Issue: Bug

#18969 [swift] Rename url & path variables to avoid collision
  modules/openapi-generator/src/main/resources/swift-combine/api.mustache
  samples/client/petstore/swift-combine/client/PetstoreOpenAPI/Sources/APIs/PetAPI.swift
  samples/client/petstore/swift-combine/client/PetstoreOpenAPI/Sources/APIs/StoreAPI.swift
  samples/client/petstore/swift-combine/client/PetstoreOpenAPI/Sources/APIs/UserAPI.swift
Labels: Client: Swift, Issue: Bug

#18934 [Ruby] Add Flag to Allow Ignoring Operation Servers
  modules/openapi-generator/src/main/resources/ruby-client/configuration.mustache
  samples/client/echo_api/ruby-faraday/lib/openapi_client/configuration.rb
  samples/client/echo_api/ruby-httpx/lib/openapi_client/configuration.rb
  samples/client/echo_api/ruby-typhoeus/lib/openapi_client/configuration.rb
  samples/client/petstore/ruby-autoload/lib/petstore/configuration.rb
  samples/client/petstore/ruby-faraday/lib/petstore/configuration.rb
  samples/client/petstore/ruby-faraday/spec/custom/configuration_spec.rb
  samples/client/petstore/ruby-httpx/lib/petstore/configuration.rb
  samples/client/petstore/ruby/lib/petstore/configuration.rb
  samples/client/petstore/ruby/spec/custom/configuration_spec.rb
  samples/openapi3/client/extensions/x-auth-id-alias/ruby-client/lib/x_auth_id_alias/configuration.rb
  samples/openapi3/client/features/dynamic-servers/ruby/lib/dynamic_servers/configuration.rb
  samples/openapi3/client/features/generate-alias-as-model/ruby-client/lib/petstore/configuration.rb
Labels: Client: Ruby, Enhancement: Feature

#18874 [csharp] Don't apply OpenAPIDateConverter json converter attribute for DateOnly properties
  modules/openapi-generator/src/main/resources/csharp/modelGeneric.mustache
  samples/client/petstore/csharp/restsharp/net7/EnumMappings/src/Org.OpenAPITools/Model/DateOnlyClass.cs
  samples/client/petstore/csharp/restsharp/net7/EnumMappings/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp/restsharp/net7/EnumMappings/src/Org.OpenAPITools/Model/NullableClass.cs
  samples/client/petstore/csharp/restsharp/net7/EnumMappings/src/Org.OpenAPITools/Model/RequiredClass.cs
  samples/client/petstore/csharp/restsharp/net7/Petstore/src/Org.OpenAPITools/Model/DateOnlyClass.cs
  samples/client/petstore/csharp/restsharp/net7/Petstore/src/Org.OpenAPITools/Model/FormatTest.cs
  samples/client/petstore/csharp/restsharp/net7/Petstore/src/Org.OpenAPITools/Model/NullableClass.cs
  samples/client/petstore/csharp/restsharp/net7/Petstore/src/Org.OpenAPITools/Model/RequiredClass.cs
Labels: Client: C-Sharp, Issue: Bug

#18965 [Kotlin] update ApiClient to register all adapters for GsonBuilder
  modules/openapi-generator/src/main/resources/kotlin-client/data_class.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-retrofit2/infrastructure/ApiClient.kt.mustache
  samples/client/echo_api/kotlin-model-prefix-type-mappings/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-default-values-jvm-retrofit2/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-jvm-jackson/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-model-prefix-type-mappings/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-model-prefix-type-mappings/src/main/kotlin/org/openapitools/client/models/ApiPet.kt
  samples/client/petstore/kotlin-model-prefix-type-mappings/src/test/kotlin/org/openapitools/client/models/UserOrPetTest.kt
  samples/client/petstore/kotlin-retrofit2-jackson/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-retrofit2-kotlinx_serialization/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-retrofit2-rx3/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-retrofit2/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin, Issue: Bug

#18872 avoid setting debug property if not needed
  modules/openapi-generator/src/main/resources/python/configuration.mustache
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/openapi_client/configuration.py
  samples/client/echo_api/python/openapi_client/configuration.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/configuration.py
  samples/openapi3/client/petstore/python/petstore_api/configuration.py
  samples/openapi3/client/petstore/python/tests/test_configuration.py
Labels: Client: Python, Issue: Bug

#18983 fix(rust-server): remove duplicate allow(unused_imports) directive
  modules/openapi-generator/src/main/resources/rust-server/lib.mustache
  samples/server/petstore/rust-server/output/multipart-v3/src/lib.rs
  samples/server/petstore/rust-server/output/no-example-v3/src/lib.rs
  samples/server/petstore/rust-server/output/openapi-v3/src/lib.rs
  samples/server/petstore/rust-server/output/ops-v3/src/lib.rs
  samples/server/petstore/rust-server/output/petstore-with-fake-endpoints-models-for-testing/src/lib.rs
  samples/server/petstore/rust-server/output/ping-bearer-auth/src/lib.rs
  samples/server/petstore/rust-server/output/rust-server-test/src/lib.rs
Labels: Server: Rust, Enhancement: Code Cleanup

#18985 Allow to pass a str to the Python aiohttp client
  modules/openapi-generator/src/main/resources/python/asyncio/rest.mustache
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/rest.py
Labels: Client: Python, Enhancement: General

#19001 [Golang] Move utility functions from client.mustache to utils.mustache
  modules/openapi-generator/src/main/resources/go/client.mustache
  modules/openapi-generator/src/main/resources/go/utils.mustache
  samples/client/echo_api/go-external-refs/client.go
  samples/client/echo_api/go-external-refs/utils.go
  samples/client/echo_api/go/client.go
  samples/client/echo_api/go/utils.go
  samples/client/others/go/allof_multiple_ref_and_discriminator/client.go
  samples/client/others/go/allof_multiple_ref_and_discriminator/utils.go
  samples/client/others/go/oneof-anyof-required/client.go
  samples/client/others/go/oneof-anyof-required/utils.go
  samples/client/petstore/go/go-petstore/client.go
  samples/client/petstore/go/go-petstore/utils.go
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/client.go
  samples/openapi3/client/extensions/x-auth-id-alias/go-experimental/utils.go
  samples/openapi3/client/petstore/go-petstore-generateMarshalJSON-false/client.go
  samples/openapi3/client/petstore/go-petstore-generateMarshalJSON-false/utils.go
  samples/openapi3/client/petstore/go/go-petstore/client.go
  samples/openapi3/client/petstore/go/go-petstore/utils.go
  samples/server/petstore/go-gin-api-server/go.sum
Labels: Client: Go, Enhancement: Code Cleanup

#19013 [Go] Fix an issue causing int array reference translated to an invalid type []Integer
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractGoCodegen.java
  modules/openapi-generator/src/test/resources/3_0/go/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  samples/openapi3/client/petstore/go/go-petstore/.openapi-generator/FILES
  samples/openapi3/client/petstore/go/go-petstore/README.md
  samples/openapi3/client/petstore/go/go-petstore/api/openapi.yaml
  samples/openapi3/client/petstore/go/go-petstore/api_default.go
  samples/openapi3/client/petstore/go/go-petstore/docs/DefaultAPI.md
  samples/openapi3/client/petstore/go/go-petstore/docs/IDsWrapper.md
  samples/openapi3/client/petstore/go/go-petstore/docs/SomeOpsRequiringRefIntRequest.md
  samples/openapi3/client/petstore/go/go-petstore/model_ids_wrapper.go
  samples/openapi3/client/petstore/go/go-petstore/model_some_ops_requiring_ref_int_request.go
Labels: Client: Go, Issue: Bug

#19014 Fix NPE in ModelUtils getType
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/test/resources/3_1/java/petstore.yaml
  samples/client/petstore/java/okhttp-gson-3.1/README.md
  samples/client/petstore/java/okhttp-gson-3.1/api/openapi.yaml
  samples/client/petstore/java/okhttp-gson-3.1/docs/FakeApi.md
  samples/client/petstore/java/okhttp-gson-3.1/src/main/java/org/openapitools/client/api/FakeApi.java
Labels: Issue: Bug, Feature: OAS 3.1.0 spec support

#18509 [Spring] replace MultipartFile by Resource
  .github/workflows/samples-spring-jdk17.yaml
  bin/configs/spring-boot-file-delegate-optional.yaml
  modules/openapi-generator/src/main/resources/JavaSpring/apiDelegate.mustache
  modules/openapi-generator/src/test/resources/3_0/issue18345.yaml
  samples/server/petstore/springboot-file-delegate-optional/.openapi-generator-ignore
  samples/server/petstore/springboot-file-delegate-optional/.openapi-generator/FILES
  samples/server/petstore/springboot-file-delegate-optional/.openapi-generator/VERSION
  samples/server/petstore/springboot-file-delegate-optional/README.md
  samples/server/petstore/springboot-file-delegate-optional/pom.xml
  samples/server/petstore/springboot-file-delegate-optional/src/main/java/org/openapitools/OpenApiGeneratorApplication.java
  samples/server/petstore/springboot-file-delegate-optional/src/main/java/org/openapitools/RFC3339DateFormat.java
  samples/server/petstore/springboot-file-delegate-optional/src/main/java/org/openapitools/api/ApiUtil.java
  samples/server/petstore/springboot-file-delegate-optional/src/main/java/org/openapitools/api/DummyApi.java
  samples/server/petstore/springboot-file-delegate-optional/src/main/java/org/openapitools/api/DummyApiController.java
  samples/server/petstore/springboot-file-delegate-optional/src/main/java/org/openapitools/api/DummyApiDelegate.java
  samples/server/petstore/springboot-file-delegate-optional/src/main/java/org/openapitools/configuration/HomeController.java
  samples/server/petstore/springboot-file-delegate-optional/src/main/java/org/openapitools/configuration/SpringDocConfiguration.java
  samples/server/petstore/springboot-file-delegate-optional/src/main/resources/application.properties
  samples/server/petstore/springboot-file-delegate-optional/src/main/resources/openapi.yaml
  samples/server/petstore/springboot-file-delegate-optional/src/test/java/org/openapitools/OpenApiGeneratorApplicationTests.java
Labels: Issue: Bug, Server: Java, Server: Spring

#18981 [Python] Add Flag to Allow Ignoring Operation Servers
  modules/openapi-generator/src/main/resources/python/api_client.mustache
  modules/openapi-generator/src/main/resources/python/configuration.mustache
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/openapi_client/api_client.py
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/openapi_client/configuration.py
  samples/client/echo_api/python/openapi_client/api_client.py
  samples/client/echo_api/python/openapi_client/configuration.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api_client.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/configuration.py
  samples/openapi3/client/petstore/python-aiohttp/tests/test_api_client.py
  samples/openapi3/client/petstore/python/petstore_api/api_client.py
  samples/openapi3/client/petstore/python/petstore_api/configuration.py
  samples/openapi3/client/petstore/python/tests/test_api_client.py
  samples/openapi3/client/petstore/python/tests/test_configuration.py
Labels: Client: Python, Enhancement: Feature

#19021 Add tests for anyof with discriminator
  modules/openapi-generator/src/test/resources/3_0/java/petstore-with-fake-endpoints-models-for-testing-okhttp-gson.yaml
  modules/openapi-generator/src/test/resources/3_0/java/petstore-with-fake-endpoints-models-for-testing-with-http-signature.yaml
  modules/openapi-generator/src/test/resources/bugs/issue_18975.yaml
  samples/client/petstore/java/jersey3/.openapi-generator/FILES
  samples/client/petstore/java/jersey3/README.md
  samples/client/petstore/java/jersey3/api/openapi.yaml
  samples/client/petstore/java/jersey3/docs/MammalAnyof.md
  samples/client/petstore/java/jersey3/src/main/java/org/openapitools/client/model/MammalAnyof.java
  samples/client/petstore/java/jersey3/src/test/java/org/openapitools/client/model/MammalAnyofTest.java
  samples/client/petstore/java/okhttp-gson/.openapi-generator/FILES
  samples/client/petstore/java/okhttp-gson/README.md
  samples/client/petstore/java/okhttp-gson/api/openapi.yaml
  samples/client/petstore/java/okhttp-gson/docs/MammalAnyof.md
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/MammalAnyof.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/model/MammalAnyofTest.java
  samples/client/petstore/typescript-axios/builds/test-petstore/api.ts
  samples/openapi3/client/petstore/java/jersey2-java8/.openapi-generator/FILES
  samples/openapi3/client/petstore/java/jersey2-java8/README.md
  samples/openapi3/client/petstore/java/jersey2-java8/api/openapi.yaml
  samples/openapi3/client/petstore/java/jersey2-java8/docs/MammalAnyof.md
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/model/MammalAnyof.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/test/java/org/openapitools/client/model/MammalAnyofTest.java
Labels: Client: Java, Enhancement: CI/Test

#19025 [Python] Allow Overriding Accept Header
  modules/openapi-generator/src/main/resources/python/api.mustache
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/openapi_client/api/auth_api.py
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/openapi_client/api/body_api.py
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/openapi_client/api/form_api.py
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/openapi_client/api/header_api.py
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/openapi_client/api/path_api.py
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/openapi_client/api/query_api.py
  samples/client/echo_api/python/openapi_client/api/auth_api.py
  samples/client/echo_api/python/openapi_client/api/body_api.py
  samples/client/echo_api/python/openapi_client/api/form_api.py
  samples/client/echo_api/python/openapi_client/api/header_api.py
  samples/client/echo_api/python/openapi_client/api/path_api.py
  samples/client/echo_api/python/openapi_client/api/query_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/default_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/fake_classname_tags123_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/import_test_datetime_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python-aiohttp/tests/test_pet_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/another_fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/default_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/fake_classname_tags123_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/import_test_datetime_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/pet_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/store_api.py
  samples/openapi3/client/petstore/python/petstore_api/api/user_api.py
  samples/openapi3/client/petstore/python/tests/test_pet_api.py
Labels: Client: Python, Enhancement: General
