Repository OpenAPITools/openapi-generator, pull requests merged in 2025-04, with the labels that each got.

#17738 #11737 Add package to bean name in converter.mustache for EnumConverterConfiguration.java
  modules/openapi-generator/src/main/resources/JavaSpring/converter.mustache
  samples/openapi3/server/petstore/spring-boot-oneof/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/openapi3/server/petstore/springboot-delegate/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/openapi3/server/petstore/springboot-implicitHeaders/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/server/petstore/springboot-beanvalidation-no-nullable/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/server/petstore/springboot-beanvalidation/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/server/petstore/springboot-delegate-j8/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/server/petstore/springboot-delegate/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/server/petstore/springboot-implicitHeaders/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/server/petstore/springboot-reactive-noResponseEntity/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/server/petstore/springboot-reactive/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern-without-j8/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/server/petstore/springboot-spring-pageable-without-j8/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/server/petstore/springboot-spring-pageable/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/server/petstore/springboot-virtualan/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/server/petstore/springboot/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
Labels: Client: Java, Issue: Bug

#20210 Fixes the non-working query parameter when it's an Enum
  bin/configs/typescript-echo-api.yaml
  modules/openapi-generator/src/main/resources/typescript/api/api.mustache
  samples/client/echo_api/typescript/build/.gitattributes
  samples/client/echo_api/typescript/build/.gitignore
  samples/client/echo_api/typescript/build/.openapi-generator-ignore
  samples/client/echo_api/typescript/build/.openapi-generator/FILES
  samples/client/echo_api/typescript/build/.openapi-generator/VERSION
  samples/client/echo_api/typescript/build/AuthApi.md
  samples/client/echo_api/typescript/build/BodyApi.md
  samples/client/echo_api/typescript/build/FormApi.md
  samples/client/echo_api/typescript/build/HeaderApi.md
  samples/client/echo_api/typescript/build/PathApi.md
  samples/client/echo_api/typescript/build/QueryApi.md
  samples/client/echo_api/typescript/build/README.md
  samples/client/echo_api/typescript/build/apis/AuthApi.ts
  samples/client/echo_api/typescript/build/apis/BodyApi.ts
  samples/client/echo_api/typescript/build/apis/FormApi.ts
  samples/client/echo_api/typescript/build/apis/HeaderApi.ts
  samples/client/echo_api/typescript/build/apis/PathApi.ts
  samples/client/echo_api/typescript/build/apis/QueryApi.ts
  samples/client/echo_api/typescript/build/apis/baseapi.ts
  samples/client/echo_api/typescript/build/apis/exception.ts
  samples/client/echo_api/typescript/build/auth/auth.ts
  samples/client/echo_api/typescript/build/configuration.ts
  samples/client/echo_api/typescript/build/git_push.sh
  samples/client/echo_api/typescript/build/http/http.ts
  samples/client/echo_api/typescript/build/http/isomorphic-fetch.ts
  samples/client/echo_api/typescript/build/index.ts
  samples/client/echo_api/typescript/build/middleware.ts
  samples/client/echo_api/typescript/build/models/Bird.ts
  samples/client/echo_api/typescript/build/models/Category.ts
  samples/client/echo_api/typescript/build/models/DataQuery.ts
  samples/client/echo_api/typescript/build/models/DefaultValue.ts
  samples/client/echo_api/typescript/build/models/NumberPropertiesOnly.ts
  samples/client/echo_api/typescript/build/models/ObjectSerializer.ts
  samples/client/echo_api/typescript/build/models/Pet.ts
  samples/client/echo_api/typescript/build/models/Query.ts
  samples/client/echo_api/typescript/build/models/StringEnumRef.ts
  samples/client/echo_api/typescript/build/models/Tag.ts
  samples/client/echo_api/typescript/build/models/TestFormObjectMultipartRequestMarker.ts
  samples/client/echo_api/typescript/build/models/TestQueryStyleDeepObjectExplodeTrueObjectAllOfQueryObjectParameter.ts
  samples/client/echo_api/typescript/build/models/TestQueryStyleFormExplodeTrueArrayStringQueryObjectParameter.ts
  samples/client/echo_api/typescript/build/models/all.ts
  samples/client/echo_api/typescript/build/package.json
  samples/client/echo_api/typescript/build/rxjsStub.ts
  samples/client/echo_api/typescript/build/servers.ts
  samples/client/echo_api/typescript/build/tsconfig.json
  samples/client/echo_api/typescript/build/types/ObjectParamAPI.ts
  samples/client/echo_api/typescript/build/types/ObservableAPI.ts
  samples/client/echo_api/typescript/build/types/PromiseAPI.ts
  samples/client/echo_api/typescript/build/util.ts
Labels: Client: TypeScript, Feature: Enum, Issue: Bug

#21009 [julia] fix regex escape on server codegen
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJuliaCodegen.java
Labels: Issue: Bug, Server: Julia

#21011 [crystal-lang] Various fixes for Crystal client
  modules/openapi-generator/src/main/resources/crystal/api.mustache
  modules/openapi-generator/src/main/resources/crystal/api_test.mustache
  modules/openapi-generator/src/main/resources/crystal/configuration.mustache
  modules/openapi-generator/src/main/resources/crystal/configuration_spec.mustache
  modules/openapi-generator/src/main/resources/crystal/model_test.mustache
  modules/openapi-generator/src/main/resources/crystal/partial_model_generic.mustache
  modules/openapi-generator/src/main/resources/crystal/partial_oneof_module.mustache
  modules/openapi-generator/src/main/resources/crystal/shard.mustache
  modules/openapi-generator/src/main/resources/crystal/spec_helper.mustache
  samples/client/petstore/crystal/pom.xml
  samples/client/petstore/crystal/shard.lock
  samples/client/petstore/crystal/shard.yml
  samples/client/petstore/crystal/spec/api/fake_api_spec.cr
  samples/client/petstore/crystal/spec/api/pet_api_spec.cr
  samples/client/petstore/crystal/spec/api/store_api_spec.cr
  samples/client/petstore/crystal/spec/api/user_api_spec.cr
  samples/client/petstore/crystal/spec/api_client_spec.cr
  samples/client/petstore/crystal/spec/configuration_spec.cr
  samples/client/petstore/crystal/spec/models/another_property_name_mapping_spec.cr
  samples/client/petstore/crystal/spec/models/api_response_spec.cr
  samples/client/petstore/crystal/spec/models/category_spec.cr
  samples/client/petstore/crystal/spec/models/format_test_spec.cr
  samples/client/petstore/crystal/spec/models/order_spec.cr
  samples/client/petstore/crystal/spec/models/pet_spec.cr
  samples/client/petstore/crystal/spec/models/tag_spec.cr
  samples/client/petstore/crystal/spec/models/user_spec.cr
  samples/client/petstore/crystal/spec/petstore_spec.cr
  samples/client/petstore/crystal/spec/spec_helper.cr
  samples/client/petstore/crystal/src/petstore/models/format_test.cr
Labels: Issue: Bug, Client: Crystal

#20973 Improving Misk Kotlin Server Generator
  README.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinMiskServerCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-misk/apiAction.mustache
  modules/openapi-generator/src/main/resources/kotlin-misk/api_test.mustache
  modules/openapi-generator/src/main/resources/kotlin-misk/build.gradle.kts.mustache
  modules/openapi-generator/src/main/resources/kotlin-misk/miskModule.mustache
  samples/server/petstore/kotlin-misk/.openapi-generator/FILES
  samples/server/petstore/kotlin-misk/build.gradle.kts
  samples/server/petstore/kotlin-misk/docs/PetApi.md
  samples/server/petstore/kotlin-misk/src/main/kotlin/org/openapitools/server/api/api/PetApiAction.kt
  samples/server/petstore/kotlin-misk/src/main/kotlin/org/openapitools/server/api/api/PetStoreModule.kt
  samples/server/petstore/kotlin-misk/src/main/kotlin/org/openapitools/server/api/api/StoreApiAction.kt
  samples/server/petstore/kotlin-misk/src/main/kotlin/org/openapitools/server/api/api/UserApiAction.kt
  samples/server/petstore/kotlin-misk/src/test/kotlin/org/openapitools/server/api/api/PetApiTest.kt
  samples/server/petstore/kotlin-misk/src/test/kotlin/org/openapitools/server/api/api/StoreApiTest.kt
  samples/server/petstore/kotlin-misk/src/test/kotlin/org/openapitools/server/api/api/UserApiTest.kt
Labels: Enhancement: General, Server: Kotlin

#21001 feat: [Rust][client] Add option to use rustls for reqwest instead of openssl
  modules/openapi-generator/src/main/resources/rust/Cargo.mustache
  samples/client/others/rust/reqwest-regression-16119/Cargo.toml
  samples/client/others/rust/reqwest/api-with-ref-param/Cargo.toml
  samples/client/others/rust/reqwest/composed-oneof/Cargo.toml
  samples/client/others/rust/reqwest/emptyObject/Cargo.toml
  samples/client/others/rust/reqwest/oneOf-array-map/Cargo.toml
  samples/client/others/rust/reqwest/oneOf-reuseRef/Cargo.toml
  samples/client/others/rust/reqwest/oneOf/Cargo.toml
  samples/client/petstore/rust/reqwest-trait/petstore/Cargo.toml
  samples/client/petstore/rust/reqwest/name-mapping/Cargo.toml
  samples/client/petstore/rust/reqwest/petstore-async-middleware/Cargo.toml
  samples/client/petstore/rust/reqwest/petstore-async-tokensource/Cargo.toml
  samples/client/petstore/rust/reqwest/petstore-async/Cargo.toml
  samples/client/petstore/rust/reqwest/petstore-avoid-box/Cargo.toml
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/Cargo.toml
  samples/client/petstore/rust/reqwest/petstore-model-name-prefix/Cargo.toml
  samples/client/petstore/rust/reqwest/petstore/Cargo.toml
Labels: Client: Rust, Enhancement: General

#21036 [feat][csharp][unity] Add unity 2019 support and update samples
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpClientCodegen.java
  modules/openapi-generator/src/main/resources/csharp/libraries/unityWebRequest/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp/libraries/unityWebRequest/ConnectionException.mustache
  modules/openapi-generator/src/main/resources/csharp/libraries/unityWebRequest/README.mustache
  modules/openapi-generator/src/main/resources/csharp/libraries/unityWebRequest/UnityWebRequestAwaiterExtension.mustache
  samples/client/petstore/csharp/unityWebRequest/net9/Petstore/.openapi-generator/FILES
  samples/client/petstore/csharp/unityWebRequest/net9/Petstore/README.md
  samples/client/petstore/csharp/unityWebRequest/net9/Petstore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/unityWebRequest/net9/Petstore/src/Org.OpenAPITools/Client/ConnectionException.cs
  samples/client/petstore/csharp/unityWebRequest/net9/Petstore/src/Org.OpenAPITools/Client/UnityWebRequestAwaiterExtension.cs
  samples/client/petstore/csharp/unityWebRequest/standard2.0/Petstore/.openapi-generator/FILES
  samples/client/petstore/csharp/unityWebRequest/standard2.0/Petstore/README.md
  samples/client/petstore/csharp/unityWebRequest/standard2.0/Petstore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/unityWebRequest/standard2.0/Petstore/src/Org.OpenAPITools/Client/ConnectionException.cs
  samples/client/petstore/csharp/unityWebRequest/standard2.0/Petstore/src/Org.OpenAPITools/Client/UnityWebRequestAwaiterExtension.cs
Labels: Client: C-Sharp, Enhancement: Compatibility

#21021 Fix single quote escaping for python code generator (and its test)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractPythonCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonClientCodegenTest.java
Labels: Client: Python, Issue: Bug

#21061 Add tests for scala sttp client (jsonLibrary: circe)
  .github/workflows/samples-scala-jdk8.yaml
  .github/workflows/samples-scala.yaml
  CI/circle_parallel.sh
  bin/configs/scala-sttp-circe.yaml
  samples/client/petstore/scala-sttp-circe/.openapi-generator-ignore
  samples/client/petstore/scala-sttp-circe/.openapi-generator/FILES
  samples/client/petstore/scala-sttp-circe/.openapi-generator/VERSION
  samples/client/petstore/scala-sttp-circe/README.md
  samples/client/petstore/scala-sttp-circe/build.sbt
  samples/client/petstore/scala-sttp-circe/pom.xml
  samples/client/petstore/scala-sttp-circe/project/build.properties
  samples/client/petstore/scala-sttp-circe/src/main/scala/org/openapitools/client/api/FakeApi.scala
  samples/client/petstore/scala-sttp-circe/src/main/scala/org/openapitools/client/api/PetApi.scala
  samples/client/petstore/scala-sttp-circe/src/main/scala/org/openapitools/client/api/StoreApi.scala
  samples/client/petstore/scala-sttp-circe/src/main/scala/org/openapitools/client/api/UserApi.scala
  samples/client/petstore/scala-sttp-circe/src/main/scala/org/openapitools/client/core/AdditionalTypeSerializers.scala
  samples/client/petstore/scala-sttp-circe/src/main/scala/org/openapitools/client/core/DateSerializers.scala
  samples/client/petstore/scala-sttp-circe/src/main/scala/org/openapitools/client/core/JsonSupport.scala
  samples/client/petstore/scala-sttp-circe/src/main/scala/org/openapitools/client/model/ApiResponse.scala
  samples/client/petstore/scala-sttp-circe/src/main/scala/org/openapitools/client/model/Category.scala
  samples/client/petstore/scala-sttp-circe/src/main/scala/org/openapitools/client/model/EnumTest.scala
  samples/client/petstore/scala-sttp-circe/src/main/scala/org/openapitools/client/model/Order.scala
  samples/client/petstore/scala-sttp-circe/src/main/scala/org/openapitools/client/model/Pet.scala
  samples/client/petstore/scala-sttp-circe/src/main/scala/org/openapitools/client/model/PropertyNameMapping.scala
  samples/client/petstore/scala-sttp-circe/src/main/scala/org/openapitools/client/model/Tag.scala
  samples/client/petstore/scala-sttp-circe/src/main/scala/org/openapitools/client/model/User.scala
Labels: Client: Scala, Enhancement: CI/Test

#21073 [POSTMAN] Include response examples
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PostmanCollectionCodegen.java
  modules/openapi-generator/src/main/resources/postman-collection/item.mustache
  modules/openapi-generator/src/main/resources/postman-collection/request.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/postman/PostmanCollectionCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/postman-collection/SampleProject.yaml
  samples/schema/postman-collection/postman.json
  samples/schema/postman-collection/python/test/test_endpoints.py
Labels: Enhancement: General, Schema: Postman Collection

#21085 [JAVA][FEIGN] Removing hardcoded HTTP Client which is causing performance issues
  modules/openapi-generator/src/main/resources/Java/libraries/feign/ApiClient.mustache
  samples/client/petstore/java/feign-hc5/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: Performance

#20687 Jersey2: Do not reinitialize ClientConfig with default values when building HTTP Client
  modules/openapi-generator/src/main/resources/Java/libraries/jersey2/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/jersey3/ApiClient.mustache
  samples/client/others/java/jersey2-oneOf-Mixed/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/others/java/jersey2-oneOf-duplicates/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java8-localdatetime/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey3-oneOf/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/jersey3/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/extensions/x-auth-id-alias/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8-special-characters/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8-swagger1/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8-swagger2/src/main/java/org/openapitools/client/ApiClient.java
  samples/openapi3/client/petstore/java/jersey2-java8/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#21119 fix(php-nextgen): always return if not void
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PhpNextgenClientCodegen.java
  modules/openapi-generator/src/main/resources/php-nextgen/api.mustache
  modules/openapi-generator/src/test/resources/3_0/php-nextgen/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/client/petstore/php-nextgen/OpenAPIClient-php/.openapi-generator/FILES
  samples/client/petstore/php-nextgen/OpenAPIClient-php/README.md
  samples/client/petstore/php-nextgen/OpenAPIClient-php/docs/Api/DefaultApi.md
  samples/client/petstore/php-nextgen/OpenAPIClient-php/docs/Api/FakeApi.md
  samples/client/petstore/php-nextgen/OpenAPIClient-php/docs/Model/Error.md
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Api/DefaultApi.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Api/FakeApi.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Model/Error.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/tests/Model/ErrorTest.php
Labels: Client: PHP, Issue: Bug

#21016 [Java][Spring] remove 'size', 'page' and 'sort' query params if using 'x-spring-paginated' (#8315)
  docs/generators/java-camel.md
  docs/generators/spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/VendorExtension.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/test/resources/2_0/petstore-with-fake-endpoints-models-for-testing-with-spring-pageable.yaml
  modules/openapi-generator/src/test/resources/2_0/petstore-with-spring-pageable.yaml
  modules/openapi-generator/src/test/resources/3_0/spring/petstore-with-fake-endpoints-models-for-testing-with-spring-pageable.yaml
  modules/openapi-generator/src/test/resources/3_0/spring/petstore-with-spring-pageable.yaml
  samples/client/petstore/spring-cloud-spring-pageable/src/main/java/org/openapitools/api/PetApi.java
  samples/openapi3/client/petstore/spring-cloud-spring-pageable/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern-without-j8/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern-without-j8/src/main/java/org/openapitools/api/PetApiDelegate.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern-without-j8/src/main/resources/openapi.yaml
  samples/server/petstore/springboot-spring-pageable-delegatePattern/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern/src/main/java/org/openapitools/api/PetApiDelegate.java
  samples/server/petstore/springboot-spring-pageable-delegatePattern/src/main/resources/openapi.yaml
  samples/server/petstore/springboot-spring-pageable-without-j8/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/springboot-spring-pageable-without-j8/src/main/resources/openapi.yaml
  samples/server/petstore/springboot-spring-pageable/src/main/java/org/openapitools/api/PetApi.java
  samples/server/petstore/springboot-spring-pageable/src/main/resources/openapi.yaml
Labels: Enhancement: General, Server: Java, Server: Spring

#20970 fix(fastapi): use correct impl & package vars on custom user values
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonFastAPIServerCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/python/PythonFastapiCodegenTest.java
Labels: Issue: Bug, Server: Python

#21122 Check if enum_values exists in the serverUrl [csharp]
  modules/openapi-generator/src/main/resources/csharp/Configuration.mustache
  samples/client/echo_api/csharp/restsharp/net8/EchoApi/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/others/csharp-complex-files/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/httpclient/net9/Petstore/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/httpclient/standard2.0/Petstore/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/restsharp/net4.7/MultipleFrameworks/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/restsharp/net4.7/Petstore/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/restsharp/net4.8/Petstore/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/restsharp/net8/EnumMappings/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/restsharp/net8/ParameterMappings/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/restsharp/net8/Petstore/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/restsharp/net8/UseDateTimeForDate/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/restsharp/net9/EnumMappings/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/restsharp/standard2.0/ConditionalSerialization/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/restsharp/standard2.0/Petstore/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/unityWebRequest/net9/Petstore/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/unityWebRequest/standard2.0/Petstore/src/Org.OpenAPITools/Client/Configuration.cs
Labels: Client: C-Sharp, Issue: Bug

#21003 [BUG][kotlin-spring] Fix defaultValue for RequestHeader is not generated (#20504)
  modules/openapi-generator/src/main/resources/kotlin-spring/headerParams.mustache
  samples/server/petstore/kotlin-spring-default/gradlew
Labels: Issue: Bug, Server: Kotlin, Server: Spring

#21139 [fix][elixir] wrong typespec generation for all-of with single ref
  docs/generators/elixir.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElixirClientCodegen.java
  modules/openapi-generator/src/test/resources/3_0/elixir/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/client/petstore/elixir/lib/openapi_petstore/api/fake.ex
  samples/client/petstore/elixir/lib/openapi_petstore/api/store.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/array_of_array_of_number_only.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/array_of_number_only.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/fake_big_decimal_map_200_response.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/format_test.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/mixed_properties_and_additional_properties_class.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/nullable_class.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/number_only.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/object_with_deprecated_fields.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/order.ex
  samples/client/petstore/elixir/lib/openapi_petstore/model/outer_composite.ex
Labels: Client: Elixir, Enhancement: General, Issue: Bug

#21145 [python-fastapi] update h11, httpx to newer versions
  modules/openapi-generator/src/main/resources/python-fastapi/requirements.mustache
  samples/server/petstore/python-fastapi/requirements.txt
Labels: Client: Python, Enhancement: Compatibility

#21110 [feat][elixir] support bearer authentication
  docs/generators/elixir.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ElixirClientCodegen.java
  modules/openapi-generator/src/main/resources/elixir/connection.ex.mustache
  samples/client/petstore/elixir/lib/openapi_petstore/connection.ex
Labels: Client: Elixir, Enhancement: Security

#21056 [kotlin] [multiplatform] [jvm-ktor] Fix formdata file upload
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinClientCodegen.java
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-ktor/api.mustache
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/multiplatform/api.mustache
  samples/client/petstore/kotlin-default-values-multiplatform/src/commonMain/kotlin/org/openapitools/client/apis/DefaultApi.kt
  samples/client/petstore/kotlin-jvm-ktor-gson/docs/PetApi.md
  samples/client/petstore/kotlin-jvm-ktor-gson/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-jvm-ktor-jackson/docs/PetApi.md
  samples/client/petstore/kotlin-jvm-ktor-jackson/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-jvm-ktor-kotlinx_serialization/docs/PetApi.md
  samples/client/petstore/kotlin-jvm-ktor-kotlinx_serialization/src/main/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-multiplatform-kotlinx-datetime/docs/PetApi.md
  samples/client/petstore/kotlin-multiplatform-kotlinx-datetime/src/commonMain/kotlin/org/openapitools/client/apis/PetApi.kt
  samples/client/petstore/kotlin-multiplatform/docs/PetApi.md
  samples/client/petstore/kotlin-multiplatform/src/commonMain/kotlin/org/openapitools/client/apis/PetApi.kt
Labels: Client: Kotlin, Issue: Bug

#20797 [dart-dio] Fix the version of the sample dependencies
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake_tests/pubspec.yaml
Labels: Client: Dart, Enhancement: CI/Test

#21107 fix: Support PathParams not of primitive types for Go in generated tests
  modules/openapi-generator/src/main/resources/go/api_test.mustache
Labels: Client: Go, Enhancement: CI/Test

#21148 [kotlin-client][jvm-spring-webclient] Fix metrics URI templating for WebClient
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-spring-webclient/infrastructure/ApiClient.kt.mustache
  samples/client/echo_api/kotlin-jvm-spring-3-webclient/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-jvm-spring-2-webclient/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-jvm-spring-3-webclient/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin, Issue: Bug

#21149 [kotlin-client][jvm-spring-restclient] Fix metrics URI templating for RestClient
  modules/openapi-generator/src/main/resources/kotlin-client/libraries/jvm-spring-restclient/infrastructure/ApiClient.kt.mustache
  samples/client/echo_api/kotlin-jvm-spring-3-restclient/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/petstore/kotlin-jvm-spring-3-restclient/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
Labels: Client: Kotlin, Issue: Bug

#21043 Fixes so that a oneOf schema with a single sub-schema is simplified
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/OpenAPINormalizerTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/utils/ModelUtilsTest.java
  modules/openapi-generator/src/test/resources/3_0/oneOf_array.yaml
  samples/client/others/java/okhttp-gson-oneOf-array/api/openapi.yaml
  samples/client/others/java/okhttp-gson-oneOf-array/docs/MyExampleGet200Response.md
  samples/client/others/java/okhttp-gson-oneOf-array/src/main/java/org/openapitools/client/model/MyExampleGet200Response.java
  samples/client/petstore/ruby-httpx/.openapi-generator/FILES
  samples/client/petstore/ruby-httpx/README.md
  samples/client/petstore/ruby-httpx/docs/MamalWithEnum.md
  samples/client/petstore/ruby-httpx/lib/petstore.rb
  samples/client/petstore/ruby-httpx/lib/petstore/models/mamal_with_enum.rb
  samples/client/petstore/ruby-httpx/spec/models/mamal_with_enum_spec.rb
  samples/client/petstore/ruby/.openapi-generator/FILES
  samples/client/petstore/ruby/README.md
  samples/client/petstore/ruby/docs/MamalWithEnum.md
  samples/client/petstore/ruby/lib/petstore.rb
  samples/client/petstore/ruby/lib/petstore/models/mamal_with_enum.rb
  samples/client/petstore/ruby/spec/models/mamal_with_enum_spec.rb
Labels: Feature: OAS 3.0 spec support, Issue: Bug, OpenAPI Normalizer

#20824 Add original enumPropertyNamingType config for java enum generation
  docs/generators/groovy.md
  docs/generators/java-camel.md
  docs/generators/java-helidon-client.md
  docs/generators/java-helidon-server.md
  docs/generators/java-inflector.md
  docs/generators/java-micronaut-client.md
  docs/generators/java-micronaut-server.md
  docs/generators/java-microprofile.md
  docs/generators/java-msf4j.md
  docs/generators/java-pkmst.md
  docs/generators/java-play-framework.md
  docs/generators/java-undertow-server.md
  docs/generators/java-vertx-web.md
  docs/generators/java-vertx.md
  docs/generators/java-wiremock.md
  docs/generators/java.md
  docs/generators/jaxrs-cxf-cdi.md
  docs/generators/jaxrs-cxf-client.md
  docs/generators/jaxrs-cxf-extended.md
  docs/generators/jaxrs-cxf.md
  docs/generators/jaxrs-jersey.md
  docs/generators/jaxrs-resteasy-eap.md
  docs/generators/jaxrs-resteasy.md
  docs/generators/jaxrs-spec.md
  docs/generators/spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/AbstractJavaCodegenTest.java
Labels: Client: Java, Enhancement: Feature, Feature: Enum, Server: Java

#21133 fix(typescript-fetch): Use null as a value when the date value is nullable
  modules/openapi-generator/src/main/resources/typescript-fetch/modelGeneric.mustache
  samples/client/petstore/typescript-fetch/builds/default-v3.0/models/NullableClass.ts
  samples/client/petstore/typescript-fetch/builds/snakecase-discriminator/models/NullableClass.ts
Labels: Client: TypeScript

#21163 fix(php-nextgen): do not call static methods dynamically
  modules/openapi-generator/src/main/resources/php-nextgen/model_generic.mustache
  samples/client/echo_api/php-nextgen-streaming/src/Model/DefaultValue.php
  samples/client/echo_api/php-nextgen-streaming/src/Model/Pet.php
  samples/client/echo_api/php-nextgen-streaming/src/Model/Query.php
  samples/client/echo_api/php-nextgen/src/Model/DefaultValue.php
  samples/client/echo_api/php-nextgen/src/Model/Pet.php
  samples/client/echo_api/php-nextgen/src/Model/Query.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Model/EnumArrays.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Model/EnumTest.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Model/MapTest.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Model/Order.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Model/ParentWithNullable.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Model/Pet.php
Labels: Client: PHP, Enhancement: Code Cleanup

#20836 [cpprestsdk] Support passing enum request parameters
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/model-header.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/model-source.mustache
  modules/openapi-generator/src/test/resources/3_0/cpp-restsdk/petstore.yaml
  samples/client/petstore/cpp-restsdk/client/.openapi-generator/FILES
  samples/client/petstore/cpp-restsdk/client/include/CppRestPetstoreClient/api/PetApi.h
  samples/client/petstore/cpp-restsdk/client/include/CppRestPetstoreClient/model/Color.h
  samples/client/petstore/cpp-restsdk/client/src/api/PetApi.cpp
  samples/client/petstore/cpp-restsdk/client/src/model/Color.cpp
Labels: Client: C++, Feature: Enum, Issue: Bug

#21177 Minor fixes to javadoc
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenModel.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/templating/TemplateManagerOptions.java
Labels: Enhancement: Feature, Feature: Generator, Feature: Documentation

#21166 update akka-http and pekko-http server generator and example
  docs/generators/scala-akka-http-server.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaAkkaHttpServerCodegen.java
  modules/openapi-generator/src/main/resources/scala-akka-http-server/build.sbt.mustache
  modules/openapi-generator/src/main/resources/scala-akka-http-server/controller.mustache
  modules/openapi-generator/src/main/resources/scala-akka-http-server/stringDirectives.mustache
  samples/server/petstore/scala-akka-http-server/build.sbt
  samples/server/petstore/scala-akka-http-server/src/main/scala/org/openapitools/server/Controller.scala
  samples/server/petstore/scala-akka-http-server/src/main/scala/org/openapitools/server/StringDirectives.scala
  samples/server/petstore/scala-pekko-http-server/build.sbt
  samples/server/petstore/scala-pekko-http-server/src/main/scala/org/openapitools/server/Controller.scala
  samples/server/petstore/scala-pekko-http-server/src/main/scala/org/openapitools/server/StringDirectives.scala
Labels: Client: Scala, Enhancement: General, Server: Scala
