Repository OpenAPITools/openapi-generator, pull requests merged in 2025-03, with the labels that each got.

#20752 [nim] Fix nim code generation in case of an endpoint for which schema defines both query parameters and multipart/form-data
  modules/openapi-generator/src/main/resources/nim-client/api.mustache
  samples/client/petstore/nim/petstore/apis/api_pet.nim
  samples/client/petstore/nim/petstore/apis/api_user.nim
Labels: Issue: Bug, Client: Nim

#20766 [OCaml] Add key to each model field
  bin/configs/ocaml.yaml
  modules/openapi-generator/src/main/resources/ocaml/model.mustache
  samples/client/petstore/ocaml/.openapi-generator/VERSION
  samples/client/petstore/ocaml/README.md
  samples/client/petstore/ocaml/src/models/api_response.ml
  samples/client/petstore/ocaml/src/models/category.ml
  samples/client/petstore/ocaml/src/models/order.ml
  samples/client/petstore/ocaml/src/models/pet.ml
  samples/client/petstore/ocaml/src/models/tag.ml
  samples/client/petstore/ocaml/src/models/user.ml
Labels: Enhancement: General, Client: OCaml

#20789 [OCaml] Fix default optional list
  modules/openapi-generator/src/main/resources/ocaml/model.mustache
  samples/client/petstore/ocaml/src/models/api_response.ml
  samples/client/petstore/ocaml/src/models/category.ml
  samples/client/petstore/ocaml/src/models/order.ml
  samples/client/petstore/ocaml/src/models/pet.ml
  samples/client/petstore/ocaml/src/models/tag.ml
  samples/client/petstore/ocaml/src/models/user.ml
Labels: Issue: Bug, Client: OCaml

#20792 [JavaScript] Avoid undefined headers with skipDefaultUserAgent enabled
  modules/openapi-generator/src/main/resources/Javascript/libraries/javascript/ApiClient.mustache
  samples/client/petstore/javascript-es6/src/ApiClient.js
Labels: Client: JavaScript/Node.js, Issue: Bug

#20802 Add github workflow for OCaml samples
  .github/workflows/samples-ocaml.yaml
  samples/client/petstore/ocaml/.openapi-generator-ignore
Labels: Enhancement: CI/Test, Client: OCaml

#20778 Fix #20649 Handling of x-implements for enumeration in java and spring generators
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/enumClass.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/enumOuterClass.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/modelEnum.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/modelEnum.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/modelInnerEnum.mustache
  modules/openapi-generator/src/main/resources/Java/modelEnum.mustache
  modules/openapi-generator/src/main/resources/Java/modelInnerEnum.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/enumClass.mustache
  modules/openapi-generator/src/main/resources/JavaSpring/enumOuterClass.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/enum-implements.yaml
Labels: Client: Java, Enhancement: General, Server: Java, Server: Spring

#20819 Migrate to nim own petstore test spec
  bin/configs/nim.yaml
  modules/openapi-generator/src/test/resources/3_0/nim/petstore.yaml
Labels: Enhancement: CI/Test, Client: Nim

#20820 [PHP-NEXTGEN] make allowable values enum getter static
  modules/openapi-generator/src/main/resources/php-nextgen/model_generic.mustache
  samples/client/echo_api/php-nextgen-streaming/src/Model/DefaultValue.php
  samples/client/echo_api/php-nextgen-streaming/src/Model/Pet.php
  samples/client/echo_api/php-nextgen-streaming/src/Model/Query.php
  samples/client/echo_api/php-nextgen/src/Model/DefaultValue.php
  samples/client/echo_api/php-nextgen/src/Model/Pet.php
  samples/client/echo_api/php-nextgen/src/Model/Query.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Model/EnumArrays.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Model/EnumTest.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Model/MapTest.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Model/Order.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Model/ParentWithNullable.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Model/Pet.php
Labels: Client: PHP, Enhancement: General

#20705 [csharp] Add useVirtualForHooks option
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpClientCodegen.java
  modules/openapi-generator/src/main/resources/csharp/ApiClient.mustache
  modules/openapi-generator/src/main/resources/csharp/libraries/httpclient/ApiClient.mustache
Labels: Client: C-Sharp, Enhancement: Feature

#20823 [go-server] Moved helper code from router and updated logger for chi
  modules/openapi-generator/src/main/resources/go-server/helpers.mustache
  modules/openapi-generator/src/main/resources/go-server/logger.mustache
  modules/openapi-generator/src/main/resources/go-server/routers.mustache
  samples/openapi3/server/petstore/go/go-petstore/go/helpers.go
  samples/openapi3/server/petstore/go/go-petstore/go/logger.go
  samples/openapi3/server/petstore/go/go-petstore/go/routers.go
  samples/server/others/go-server/no-body-path-params/go/helpers.go
  samples/server/others/go-server/no-body-path-params/go/logger.go
  samples/server/others/go-server/no-body-path-params/go/routers.go
  samples/server/petstore/go-api-server/go.sum
  samples/server/petstore/go-api-server/go/helpers.go
  samples/server/petstore/go-api-server/go/logger.go
  samples/server/petstore/go-api-server/go/routers.go
  samples/server/petstore/go-api-server/samples_tests/routers_test.go
  samples/server/petstore/go-chi-server/go/helpers.go
  samples/server/petstore/go-chi-server/go/logger.go
  samples/server/petstore/go-chi-server/go/routers.go
Labels: Server: Go, Enhancement: Code Cleanup

#20755 fix(typescript-nestjs): handle query params serialization properly
  modules/openapi-generator/src/main/resources/typescript-nestjs/api.service.mustache
  samples/client/petstore/typescript-nestjs-v6-provided-in-root/builds/default/api/pet.service.ts
  samples/client/petstore/typescript-nestjs-v8-provided-in-root/builds/default/api/pet.service.ts
Labels: Client: TypeScript, Issue: Bug

#20837 Add tests, option for useVirtualHooks (csharp)
  .github/workflows/samples-dotnet8-client.yaml
  bin/configs/csharp-restsharp-useVirtualForHooks.yaml
  docs/generators/csharp.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/CodegenConstants.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpClientCodegen.java
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/.gitignore
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/.openapi-generator-ignore
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/.openapi-generator/FILES
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/.openapi-generator/VERSION
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/Org.OpenAPITools.sln
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/README.md
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/api/openapi.yaml
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/appveyor.yml
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/docs/Category.md
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/docs/Pet.md
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/docs/PetApi.md
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/docs/Tag.md
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/git_push.sh
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools.Test/Api/PetApiTests.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools.Test/Model/CategoryTests.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools.Test/Model/PetTests.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools.Test/Model/TagTests.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools.Test/Org.OpenAPITools.Test.csproj
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools/Api/PetApi.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools/Client/ApiException.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools/Client/ApiResponse.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools/Client/Auth/OAuthAuthenticator.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools/Client/Auth/OAuthFlow.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools/Client/Auth/TokenResponse.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools/Client/Configuration.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools/Client/ExceptionFactory.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools/Client/GlobalConfiguration.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools/Client/HttpMethod.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools/Client/IApiAccessor.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools/Client/IAsynchronousClient.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools/Client/IReadableConfiguration.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools/Client/ISynchronousClient.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools/Client/Multimap.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools/Client/OpenAPIDateConverter.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools/Client/RequestOptions.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools/Client/RetryConfiguration.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools/Model/AbstractOpenAPISchema.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools/Model/Category.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools/Model/Pet.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools/Model/Tag.cs
  samples/client/petstore/csharp/restsharp/net8/useVirtualForHooks/src/Org.OpenAPITools/Org.OpenAPITools.csproj
Labels: Client: C-Sharp, Enhancement: CI/Test

#20849 [JAVA/FEIGN] Bump feign version to 13.5 from 10.12
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.sbt.mustache
  samples/client/echo_api/java/feign-gson/build.gradle
  samples/client/echo_api/java/feign-gson/build.sbt
  samples/client/petstore/java/feign-no-nullable/build.gradle
  samples/client/petstore/java/feign-no-nullable/build.sbt
  samples/client/petstore/java/feign/build.gradle
  samples/client/petstore/java/feign/build.sbt
Labels: Client: Java, Enhancement: Compatibility

#20821 Use interfaces for Polly retry policies in C#
  modules/openapi-generator/src/main/resources/csharp/RetryConfiguration.mustache
  samples/client/echo_api/csharp/restsharp/net8/EchoApi/src/Org.OpenAPITools/Client/RetryConfiguration.cs
  samples/client/others/csharp-complex-files/src/Org.OpenAPITools/Client/RetryConfiguration.cs
  samples/client/petstore/csharp/httpclient/net9/Petstore/src/Org.OpenAPITools/Client/RetryConfiguration.cs
  samples/client/petstore/csharp/httpclient/standard2.0/Petstore/src/Org.OpenAPITools/Client/RetryConfiguration.cs
  samples/client/petstore/csharp/restsharp/net4.7/MultipleFrameworks/src/Org.OpenAPITools/Client/RetryConfiguration.cs
  samples/client/petstore/csharp/restsharp/net4.7/Petstore/src/Org.OpenAPITools/Client/RetryConfiguration.cs
  samples/client/petstore/csharp/restsharp/net4.8/Petstore/src/Org.OpenAPITools/Client/RetryConfiguration.cs
  samples/client/petstore/csharp/restsharp/net8/EnumMappings/src/Org.OpenAPITools/Client/RetryConfiguration.cs
  samples/client/petstore/csharp/restsharp/net8/ParameterMappings/src/Org.OpenAPITools/Client/RetryConfiguration.cs
  samples/client/petstore/csharp/restsharp/net8/Petstore/src/Org.OpenAPITools/Client/RetryConfiguration.cs
  samples/client/petstore/csharp/restsharp/net8/UseDateTimeForDate/src/Org.OpenAPITools/Client/RetryConfiguration.cs
  samples/client/petstore/csharp/restsharp/net9/EnumMappings/src/Org.OpenAPITools/Client/RetryConfiguration.cs
  samples/client/petstore/csharp/restsharp/standard2.0/ConditionalSerialization/src/Org.OpenAPITools/Client/RetryConfiguration.cs
  samples/client/petstore/csharp/restsharp/standard2.0/Petstore/src/Org.OpenAPITools/Client/RetryConfiguration.cs
Labels: Client: C-Sharp, Enhancement: Compatibility

#20876 [go-server] move errMsg helpers to helpers file
  modules/openapi-generator/src/main/resources/go-server/helpers.mustache
  modules/openapi-generator/src/main/resources/go-server/routers.mustache
  samples/openapi3/server/petstore/go/go-petstore/go/helpers.go
  samples/openapi3/server/petstore/go/go-petstore/go/routers.go
  samples/server/others/go-server/no-body-path-params/go/helpers.go
  samples/server/others/go-server/no-body-path-params/go/routers.go
  samples/server/petstore/go-api-server/go/helpers.go
  samples/server/petstore/go-api-server/go/routers.go
  samples/server/petstore/go-chi-server/go/helpers.go
  samples/server/petstore/go-chi-server/go/routers.go
Labels: Server: Go, Enhancement: Code Cleanup

#20744 fix(openapi-generator): fixes GlobalSettings
  modules/openapi-generator/src/main/java/org/openapitools/codegen/config/GlobalSettings.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/config/GlobalSettingsTest.java
Labels: Feature: Generator, Issue: Bug

#20845 fix: #20826 Update urllib3 requirement for Python generator
  modules/openapi-generator/src/main/resources/python/README_onlypackage.mustache
  modules/openapi-generator/src/main/resources/python/pyproject.mustache
  modules/openapi-generator/src/main/resources/python/requirements.mustache
  modules/openapi-generator/src/main/resources/python/setup.mustache
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/pyproject.toml
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/requirements.txt
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/setup.py
  samples/client/echo_api/python/pyproject.toml
  samples/client/echo_api/python/requirements.txt
  samples/client/echo_api/python/setup.py
  samples/openapi3/client/petstore/python-aiohttp/pyproject.toml
  samples/openapi3/client/petstore/python-aiohttp/requirements.txt
  samples/openapi3/client/petstore/python-aiohttp/setup.py
  samples/openapi3/client/petstore/python/pyproject.toml
  samples/openapi3/client/petstore/python/requirements.txt
  samples/openapi3/client/petstore/python/setup.py
  samples/openapi3/client/petstore/python/tests/test_api_exception.py
Labels: Client: Python, Enhancement: Compatibility

#20905 Fix src/main/resources/JavaSpring/pojo.mustache to generate Deprecated unrelated to description
  modules/openapi-generator/src/main/resources/JavaSpring/pojo.mustache
Labels: Enhancement: Feature, Feature: Documentation, Server: Java, Server: Spring

#20897 [PHP] Bring PSR-18 composer.json inline with main
  modules/openapi-generator/src/main/resources/php/libraries/psr-18/composer.mustache
  samples/client/petstore/php/psr-18/composer.json
Labels: Client: PHP, Enhancement: General

#20924 update scala-akka-http-server generator
  modules/openapi-generator/src/main/resources/scala-akka-http-server/multipartDirectives.mustache
  samples/server/petstore/scala-akka-http-server/src/main/scala/org/openapitools/server/MultipartDirectives.scala
  samples/server/petstore/scala-pekko-http-server/src/main/scala/org/openapitools/server/MultipartDirectives.scala
Labels: Enhancement: Compatibility, Server: Scala

#20949 fix deprecated old sbt build file syntax
  modules/openapi-generator/src/main/resources/Java/libraries/feign/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/google-api-client/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/rest-assured/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resteasy/build.sbt.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/retrofit2/build.sbt.mustache
  modules/openapi-generator/src/main/resources/scala-akka-client/build.sbt.mustache
  modules/openapi-generator/src/main/resources/scala-pekko-client/build.sbt.mustache
  modules/openapi-generator/src/test/resources/2_0/templates/Java/libraries/jersey2/build.sbt.mustache
  samples/client/echo_api/java/feign-gson/build.sbt
  samples/client/echo_api/java/okhttp-gson-user-defined-templates/build.sbt
  samples/client/echo_api/java/okhttp-gson/build.sbt
  samples/client/echo_api/java/resteasy/build.sbt
  samples/client/others/java/okhttp-gson-oneOf-array/build.sbt
  samples/client/others/java/okhttp-gson-oneOf/build.sbt
  samples/client/others/java/okhttp-gson-streaming/build.sbt
  samples/client/petstore/java/feign-no-nullable/build.sbt
  samples/client/petstore/java/feign/build.sbt
  samples/client/petstore/java/google-api-client/build.sbt
  samples/client/petstore/java/okhttp-gson-3.1-duplicated-operationid/build.sbt
  samples/client/petstore/java/okhttp-gson-3.1/build.sbt
  samples/client/petstore/java/okhttp-gson-awsv4signature/build.sbt
  samples/client/petstore/java/okhttp-gson-dynamicOperations/build.sbt
  samples/client/petstore/java/okhttp-gson-group-parameter/build.sbt
  samples/client/petstore/java/okhttp-gson-nullable-required/build.sbt
  samples/client/petstore/java/okhttp-gson-parcelableModel/build.sbt
  samples/client/petstore/java/okhttp-gson-swagger1/build.sbt
  samples/client/petstore/java/okhttp-gson-swagger2/build.sbt
  samples/client/petstore/java/okhttp-gson/build.sbt
  samples/client/petstore/java/rest-assured-jackson/build.sbt
  samples/client/petstore/java/rest-assured/build.sbt
  samples/client/petstore/java/resteasy/build.sbt
  samples/client/petstore/java/retrofit2-play26/build.sbt
  samples/client/petstore/java/retrofit2/build.sbt
  samples/client/petstore/java/retrofit2rx2/build.sbt
  samples/client/petstore/java/retrofit2rx3/build.sbt
  samples/client/petstore/scala-akka/build.sbt
  samples/client/petstore/scala-pekko/build.sbt
Labels: Enhancement: Compatibility

#20909 Drop python 3.8 support python 3.13 in python generator
  .github/workflows/samples-python-client-echo-api.yaml
  .github/workflows/samples-python-petstore.yaml
  docs/generators/python.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/PythonClientCodegen.java
  modules/openapi-generator/src/main/resources/python/github-workflow.mustache
  modules/openapi-generator/src/main/resources/python/gitlab-ci.mustache
  modules/openapi-generator/src/main/resources/python/pyproject.mustache
  modules/openapi-generator/src/main/resources/python/setup.mustache
  modules/openapi-generator/src/main/resources/python/travis.mustache
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/.github/workflows/python.yml
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/.gitlab-ci.yml
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/.travis.yml
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/README.md
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/pyproject.toml
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/setup.py
  samples/client/echo_api/python/.github/workflows/python.yml
  samples/client/echo_api/python/.gitlab-ci.yml
  samples/client/echo_api/python/.travis.yml
  samples/client/echo_api/python/README.md
  samples/client/echo_api/python/pyproject.toml
  samples/client/echo_api/python/setup.py
  samples/openapi3/client/petstore/python-aiohttp/.github/workflows/python.yml
  samples/openapi3/client/petstore/python-aiohttp/.gitlab-ci.yml
  samples/openapi3/client/petstore/python-aiohttp/.travis.yml
  samples/openapi3/client/petstore/python-aiohttp/README.md
  samples/openapi3/client/petstore/python-aiohttp/pyproject.toml
  samples/openapi3/client/petstore/python-aiohttp/setup.py
  samples/openapi3/client/petstore/python/.github/workflows/python.yml
  samples/openapi3/client/petstore/python/.gitlab-ci.yml
  samples/openapi3/client/petstore/python/.travis.yml
  samples/openapi3/client/petstore/python/README.md
  samples/openapi3/client/petstore/python/pyproject.toml
  samples/openapi3/client/petstore/python/setup.py
Labels: Client: Python, Enhancement: Compatibility

#20864 [kotlin-spring] Generate @Valid annotation on all RequestParts/Params for Multipart requests when useBeanValidation=true
  modules/openapi-generator/src/main/resources/kotlin-spring/formParams.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/spring/KotlinSpringServerCodegenTest.java
  samples/server/petstore/kotlin-spring-cloud/src/main/kotlin/org/openapitools/api/PetApi.kt
  samples/server/petstore/kotlin-spring-default/src/main/kotlin/org/openapitools/api/PetApiController.kt
  samples/server/petstore/kotlin-springboot-3/src/main/kotlin/org/openapitools/api/PetApiController.kt
  samples/server/petstore/kotlin-springboot-delegate-nodefaults/src/main/kotlin/org/openapitools/api/PetApi.kt
  samples/server/petstore/kotlin-springboot-delegate/src/main/kotlin/org/openapitools/api/PetApi.kt
  samples/server/petstore/kotlin-springboot-modelMutable/src/main/kotlin/org/openapitools/api/PetApiController.kt
  samples/server/petstore/kotlin-springboot-multipart-request-model/src/main/kotlin/org/openapitools/api/MultipartMixedApiController.kt
  samples/server/petstore/kotlin-springboot-reactive-without-flow/src/main/kotlin/org/openapitools/api/PetApiController.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/PetApiController.kt
  samples/server/petstore/kotlin-springboot-request-cookie/src/main/kotlin/org/openapitools/api/PetApi.kt
  samples/server/petstore/kotlin-springboot-source-swagger1/src/main/kotlin/org/openapitools/api/PetApiController.kt
  samples/server/petstore/kotlin-springboot-source-swagger2/src/main/kotlin/org/openapitools/api/PetApiController.kt
  samples/server/petstore/kotlin-springboot-springfox/src/main/kotlin/org/openapitools/api/PetApiController.kt
  samples/server/petstore/kotlin-springboot/src/main/kotlin/org/openapitools/api/PetApiController.kt
Labels: Enhancement: General, Server: Kotlin, Server: Spring

#20860 Add support for normalizing bearerAuth
  docs/customization.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/OpenAPINormalizerTest.java
Labels: Enhancement: Feature, OpenAPI Normalizer

#20923 [typescript-fetch] to fix incorrect parsing with additional properties
  modules/openapi-generator/src/main/resources/typescript-fetch/apis.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/fetch/TypeScriptFetchClientCodegenTest.java
  modules/openapi-generator/src/test/resources/bugs/issue_20195.json
  samples/client/petstore/typescript-fetch/tests/default/package-lock.json
Labels: Client: TypeScript, Issue: Bug

#14475 fix: escape operationIds before outputting them
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptFetchClientCodegen.java
Labels: Client: TypeScript, Issue: Bug

#20962 [protobuf-schema] Add support for aggregating generated protobuf models into a single file
  bin/configs/protobuf-schema-config.yaml
  docs/generators/protobuf-schema.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ProtobufSchemaCodegen.java
  modules/openapi-generator/src/main/resources/protobuf-schema/model.mustache
  samples/config/petstore/protobuf-schema-config-complex/models/cat.proto
  samples/config/petstore/protobuf-schema-config-complex/models/category.proto
  samples/config/petstore/protobuf-schema-config-complex/models/dog.proto
  samples/config/petstore/protobuf-schema-config-complex/models/pet.proto
  samples/config/petstore/protobuf-schema-config-complex/models/string_array.proto
  samples/config/petstore/protobuf-schema-config-complex/models/string_map.proto
  samples/config/petstore/protobuf-schema-config-complex/models/tag.proto
  samples/config/petstore/protobuf-schema-config-complex/models/tag_name.proto
  samples/config/petstore/protobuf-schema-config/.openapi-generator/FILES
  samples/config/petstore/protobuf-schema-config/models/api_response.proto
  samples/config/petstore/protobuf-schema-config/models/cat.proto
  samples/config/petstore/protobuf-schema-config/models/category.proto
  samples/config/petstore/protobuf-schema-config/models/data.proto
  samples/config/petstore/protobuf-schema-config/models/dog.proto
  samples/config/petstore/protobuf-schema-config/models/order.proto
  samples/config/petstore/protobuf-schema-config/models/other_test.proto
  samples/config/petstore/protobuf-schema-config/models/pet.proto
  samples/config/petstore/protobuf-schema-config/models/pets_get_request.proto
  samples/config/petstore/protobuf-schema-config/models/pets_post_request.proto
  samples/config/petstore/protobuf-schema-config/models/tag.proto
  samples/config/petstore/protobuf-schema-config/models/user.proto
  samples/config/petstore/protobuf-schema-config/services/default_service.proto
  samples/config/petstore/protobuf-schema-config/services/pet_service.proto
  samples/config/petstore/protobuf-schema-config/services/store_service.proto
  samples/config/petstore/protobuf-schema-config/services/user_service.proto
  samples/config/petstore/protobuf-schema/models/api_response.proto
  samples/config/petstore/protobuf-schema/models/cat.proto
  samples/config/petstore/protobuf-schema/models/category.proto
  samples/config/petstore/protobuf-schema/models/dog.proto
  samples/config/petstore/protobuf-schema/models/order.proto
  samples/config/petstore/protobuf-schema/models/other_test.proto
  samples/config/petstore/protobuf-schema/models/pet.proto
  samples/config/petstore/protobuf-schema/models/pets_get_request.proto
  samples/config/petstore/protobuf-schema/models/pets_post_request.proto
  samples/config/petstore/protobuf-schema/models/tag.proto
  samples/config/petstore/protobuf-schema/models/user.proto
Labels: Enhancement: Feature, Schema: ProtoBuf

#20983 fix: support backwards compatible changes in discriminators
  modules/openapi-generator/src/main/resources/typescript-fetch/modelGeneric.mustache
  modules/openapi-generator/src/main/resources/typescript-fetch/modelOneOf.mustache
  samples/client/others/typescript-fetch/self-import-issue/models/AbstractUserDto.ts
  samples/client/petstore/typescript-fetch/builds/default-v3.0/models/Animal.ts
  samples/client/petstore/typescript-fetch/builds/default-v3.0/models/ParentWithNullable.ts
  samples/client/petstore/typescript-fetch/builds/snakecase-discriminator/models/Animal.ts
Labels: Client: TypeScript, Enhancement: Compatibility

#20981 Javalin fixes and validation
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/javalin5/beanValidation.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/javalin5/beanValidationModel.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/javalin5/data_class_opt_var.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/javalin5/data_class_req_var.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/javalin5/paramDefault.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/javalin5/pathParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/javalin5/queryParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/javalin6/beanValidation.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/javalin6/beanValidationModel.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/javalin6/data_class_opt_var.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/javalin6/data_class_req_var.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/javalin6/headerParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/javalin6/paramDefault.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/javalin6/pathParams.mustache
  modules/openapi-generator/src/main/resources/kotlin-server/libraries/javalin6/queryParams.mustache
  samples/server/petstore/kotlin-server-required-and-nullable-properties/src/main/kotlin/org/openapitools/server/models/Pet.kt
  samples/server/petstore/kotlin-server/javalin-6/src/main/kotlin/org/openapitools/server/models/Category.kt
  samples/server/petstore/kotlin-server/javalin-6/src/main/kotlin/org/openapitools/server/models/ModelApiResponse.kt
  samples/server/petstore/kotlin-server/javalin-6/src/main/kotlin/org/openapitools/server/models/Order.kt
  samples/server/petstore/kotlin-server/javalin-6/src/main/kotlin/org/openapitools/server/models/Pet.kt
  samples/server/petstore/kotlin-server/javalin-6/src/main/kotlin/org/openapitools/server/models/Tag.kt
  samples/server/petstore/kotlin-server/javalin-6/src/main/kotlin/org/openapitools/server/models/User.kt
  samples/server/petstore/kotlin-server/javalin/src/main/kotlin/org/openapitools/server/models/Category.kt
  samples/server/petstore/kotlin-server/javalin/src/main/kotlin/org/openapitools/server/models/ModelApiResponse.kt
  samples/server/petstore/kotlin-server/javalin/src/main/kotlin/org/openapitools/server/models/Order.kt
  samples/server/petstore/kotlin-server/javalin/src/main/kotlin/org/openapitools/server/models/Pet.kt
  samples/server/petstore/kotlin-server/javalin/src/main/kotlin/org/openapitools/server/models/Tag.kt
  samples/server/petstore/kotlin-server/javalin/src/main/kotlin/org/openapitools/server/models/User.kt
Labels: Enhancement: General, Issue: Bug, Server: Kotlin

#20993 [JAVA][BUG] formParams.mustache should contain @FormParam, not @QueryParam (#20991)
  modules/openapi-generator/src/main/resources/JavaJaxRS/libraries/jersey3/formParams.mustache
  samples/server/petstore/jaxrs/jersey3/src/gen/java/org/openapitools/api/FakeApi.java
  samples/server/petstore/jaxrs/jersey3/src/gen/java/org/openapitools/api/PetApi.java
Labels: Client: Java, Issue: Bug
