Repository OpenAPITools/openapi-generator, pull requests merged in 2025-01, with the labels that each got.

#20383 [C][Client] Remove broken intToStr() macro, update samples
  modules/openapi-generator/src/main/resources/C-libcurl/api-body.mustache
  samples/client/others/c/bearerAuth/api/DefaultAPI.c
  samples/client/petstore/c-useJsonUnformatted/api/PetAPI.c
  samples/client/petstore/c-useJsonUnformatted/api/StoreAPI.c
  samples/client/petstore/c-useJsonUnformatted/api/UserAPI.c
  samples/client/petstore/c/api/PetAPI.c
  samples/client/petstore/c/api/StoreAPI.c
  samples/client/petstore/c/api/UserAPI.c
Labels: Issue: Bug, Client: C

#20378 Fix a few issues with the C generator (part 8)
  README.md
  modules/openapi-generator/src/main/resources/C-libcurl/model-body.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/model-header.mustache
  samples/client/petstore/c-useJsonUnformatted/model/api_response.c
  samples/client/petstore/c-useJsonUnformatted/model/api_response.h
  samples/client/petstore/c-useJsonUnformatted/model/category.c
  samples/client/petstore/c-useJsonUnformatted/model/category.h
  samples/client/petstore/c-useJsonUnformatted/model/mapped_model.c
  samples/client/petstore/c-useJsonUnformatted/model/mapped_model.h
  samples/client/petstore/c-useJsonUnformatted/model/model_with_set_propertes.c
  samples/client/petstore/c-useJsonUnformatted/model/model_with_set_propertes.h
  samples/client/petstore/c-useJsonUnformatted/model/order.c
  samples/client/petstore/c-useJsonUnformatted/model/order.h
  samples/client/petstore/c-useJsonUnformatted/model/pet.c
  samples/client/petstore/c-useJsonUnformatted/model/pet.h
  samples/client/petstore/c-useJsonUnformatted/model/tag.c
  samples/client/petstore/c-useJsonUnformatted/model/tag.h
  samples/client/petstore/c-useJsonUnformatted/model/user.c
  samples/client/petstore/c-useJsonUnformatted/model/user.h
  samples/client/petstore/c/model/api_response.c
  samples/client/petstore/c/model/api_response.h
  samples/client/petstore/c/model/category.c
  samples/client/petstore/c/model/category.h
  samples/client/petstore/c/model/mapped_model.c
  samples/client/petstore/c/model/mapped_model.h
  samples/client/petstore/c/model/model_with_set_propertes.c
  samples/client/petstore/c/model/model_with_set_propertes.h
  samples/client/petstore/c/model/order.c
  samples/client/petstore/c/model/order.h
  samples/client/petstore/c/model/pet.c
  samples/client/petstore/c/model/pet.h
  samples/client/petstore/c/model/tag.c
  samples/client/petstore/c/model/tag.h
  samples/client/petstore/c/model/user.c
  samples/client/petstore/c/model/user.h
Labels: Issue: Bug, Client: C

#20391 #20390 : On enum name sanitize, convert colon to underscore
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CrystalClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaModelTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/fetch/TypeScriptFetchClientCodegenTest.java
Labels: Breaking change (with fallback), Client: Java, Client: TypeScript

#20402 C overhead fixes
  modules/openapi-generator/src/main/resources/C-libcurl/api-body.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/apiClient.c.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/list.c.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/model-body.mustache
  samples/client/others/c/bearerAuth/api/DefaultAPI.c
  samples/client/others/c/bearerAuth/src/apiClient.c
  samples/client/others/c/bearerAuth/src/list.c
  samples/client/petstore/c-useJsonUnformatted/api/PetAPI.c
  samples/client/petstore/c-useJsonUnformatted/api/StoreAPI.c
  samples/client/petstore/c-useJsonUnformatted/api/UserAPI.c
  samples/client/petstore/c-useJsonUnformatted/model/model_with_set_propertes.c
  samples/client/petstore/c-useJsonUnformatted/model/pet.c
  samples/client/petstore/c-useJsonUnformatted/model/user.c
  samples/client/petstore/c-useJsonUnformatted/src/apiClient.c
  samples/client/petstore/c-useJsonUnformatted/src/list.c
  samples/client/petstore/c/api/PetAPI.c
  samples/client/petstore/c/api/StoreAPI.c
  samples/client/petstore/c/api/UserAPI.c
  samples/client/petstore/c/model/model_with_set_propertes.c
  samples/client/petstore/c/model/pet.c
  samples/client/petstore/c/model/user.c
  samples/client/petstore/c/src/apiClient.c
  samples/client/petstore/c/src/list.c
Labels: Issue: Bug, Client: C

#20418 [php-nextgen] Use conditional access for enumref query params
  modules/openapi-generator/src/main/resources/php-nextgen/api.mustache
  samples/client/echo_api/php-nextgen-streaming/src/Api/QueryApi.php
  samples/client/echo_api/php-nextgen/src/Api/QueryApi.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Api/FakeApi.php
Labels: Client: PHP, Enhancement: General

#20421 [C#] avoid duplicated header in csharp client (restsharp)
  .github/workflows/samples-dotnet-standard.yaml
  modules/openapi-generator/src/main/resources/csharp/ApiClient.mustache
  samples/client/echo_api/csharp/restsharp/net8/EchoApi/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/others/csharp-complex-files/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/net4.7/MultipleFrameworks/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/net4.7/Petstore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/net4.8/Petstore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/net8/EnumMappings/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/net8/ParameterMappings/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/net8/Petstore/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/net8/UseDateTimeForDate/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/standard2.0/ConditionalSerialization/src/Org.OpenAPITools/Client/ApiClient.cs
  samples/client/petstore/csharp/restsharp/standard2.0/Petstore/src/Org.OpenAPITools/Client/ApiClient.cs
Labels: Client: C-Sharp, Issue: Bug

#20445 clean up kotlin spring samples
  .github/workflows/samples-kotlin-server.yaml
  bin/configs/kotlin-spring-boot-reactive-with-flow.yaml
  bin/configs/kotlin-spring-boot-reactive.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinServerCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/spring/KotlinSpringServerCodegenTest.java
  samples/server/petstore/kotlin-springboot-reactive-with-flow/.openapi-generator-ignore
  samples/server/petstore/kotlin-springboot-reactive-with-flow/.openapi-generator/FILES
  samples/server/petstore/kotlin-springboot-reactive-with-flow/.openapi-generator/VERSION
  samples/server/petstore/kotlin-springboot-reactive-with-flow/README.md
  samples/server/petstore/kotlin-springboot-reactive-with-flow/build.gradle.kts
  samples/server/petstore/kotlin-springboot-reactive-with-flow/gradle/wrapper/gradle-wrapper.jar
  samples/server/petstore/kotlin-springboot-reactive-with-flow/gradle/wrapper/gradle-wrapper.properties
  samples/server/petstore/kotlin-springboot-reactive-with-flow/gradlew
  samples/server/petstore/kotlin-springboot-reactive-with-flow/gradlew.bat
  samples/server/petstore/kotlin-springboot-reactive-with-flow/pom.xml
  samples/server/petstore/kotlin-springboot-reactive-with-flow/settings.gradle
  samples/server/petstore/kotlin-springboot-reactive-with-flow/src/main/kotlin/org/openapitools/Application.kt
  samples/server/petstore/kotlin-springboot-reactive-with-flow/src/main/kotlin/org/openapitools/HomeController.kt
  samples/server/petstore/kotlin-springboot-reactive-with-flow/src/main/kotlin/org/openapitools/api/ApiUtil.kt
  samples/server/petstore/kotlin-springboot-reactive-with-flow/src/main/kotlin/org/openapitools/api/PetApiController.kt
  samples/server/petstore/kotlin-springboot-reactive-with-flow/src/main/kotlin/org/openapitools/api/PetApiService.kt
  samples/server/petstore/kotlin-springboot-reactive-with-flow/src/main/kotlin/org/openapitools/api/PetApiServiceImpl.kt
  samples/server/petstore/kotlin-springboot-reactive-with-flow/src/main/kotlin/org/openapitools/api/StoreApiController.kt
  samples/server/petstore/kotlin-springboot-reactive-with-flow/src/main/kotlin/org/openapitools/api/StoreApiService.kt
  samples/server/petstore/kotlin-springboot-reactive-with-flow/src/main/kotlin/org/openapitools/api/StoreApiServiceImpl.kt
  samples/server/petstore/kotlin-springboot-reactive-with-flow/src/main/kotlin/org/openapitools/api/UserApiController.kt
  samples/server/petstore/kotlin-springboot-reactive-with-flow/src/main/kotlin/org/openapitools/api/UserApiService.kt
  samples/server/petstore/kotlin-springboot-reactive-with-flow/src/main/kotlin/org/openapitools/api/UserApiServiceImpl.kt
  samples/server/petstore/kotlin-springboot-reactive-with-flow/src/main/kotlin/org/openapitools/model/Category.kt
  samples/server/petstore/kotlin-springboot-reactive-with-flow/src/main/kotlin/org/openapitools/model/ModelApiResponse.kt
  samples/server/petstore/kotlin-springboot-reactive-with-flow/src/main/kotlin/org/openapitools/model/Order.kt
  samples/server/petstore/kotlin-springboot-reactive-with-flow/src/main/kotlin/org/openapitools/model/Pet.kt
  samples/server/petstore/kotlin-springboot-reactive-with-flow/src/main/kotlin/org/openapitools/model/Tag.kt
  samples/server/petstore/kotlin-springboot-reactive-with-flow/src/main/kotlin/org/openapitools/model/User.kt
  samples/server/petstore/kotlin-springboot-reactive-with-flow/src/main/resources/application.yaml
  samples/server/petstore/kotlin-springboot-reactive-with-flow/src/main/resources/openapi.yaml
  samples/server/petstore/kotlin-springboot-reactive-with-flow/src/test/kotlin/org/openapitools/api/PetApiTest.kt
  samples/server/petstore/kotlin-springboot-reactive-with-flow/src/test/kotlin/org/openapitools/api/StoreApiTest.kt
  samples/server/petstore/kotlin-springboot-reactive-with-flow/src/test/kotlin/org/openapitools/api/UserApiTest.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/PetApiController.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/PetApiService.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/PetApiServiceImpl.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/StoreApiController.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/StoreApiService.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/StoreApiServiceImpl.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/UserApiController.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/UserApiService.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/api/UserApiServiceImpl.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/Category.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/kotlin/org/openapitools/model/Pet.kt
  samples/server/petstore/kotlin-springboot-reactive/src/main/resources/openapi.yaml
Labels: Enhancement: CI/Test, Server: Kotlin

#20355 Fix Julia template for binary string
  modules/openapi-generator/src/main/resources/julia-client/api.mustache
  modules/openapi-generator/src/main/resources/julia-client/api_doc.mustache
  modules/openapi-generator/src/main/resources/julia-server/api_doc.mustache
  modules/openapi-generator/src/main/resources/julia-server/server.mustache
  samples/client/petstore/julia/docs/FakeApi.md
  samples/client/petstore/julia/docs/PetApi.md
  samples/client/petstore/julia/docs/StoreApi.md
  samples/client/petstore/julia/docs/UserApi.md
  samples/client/petstore/julia/src/apis/api_PetApi.jl
  samples/server/petstore/julia/docs/FakeApi.md
  samples/server/petstore/julia/docs/PetApi.md
  samples/server/petstore/julia/docs/StoreApi.md
  samples/server/petstore/julia/docs/UserApi.md
Labels: Client: Julia, Issue: Bug, Server: Julia

#20452 Set removeEnumValuePrefix to false by default
  bin/configs/java-okhttp-gson.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/DefaultCodegenTest.java
  samples/client/petstore/java/okhttp-gson-3.1/docs/CodesEnum.md
  samples/client/petstore/java/okhttp-gson-3.1/src/main/java/org/openapitools/client/model/CodesEnum.java
  samples/client/petstore/rust/hyper/petstore/src/models/unique_item_array_testing.rs
  samples/client/petstore/rust/hyper0x/petstore/src/models/unique_item_array_testing.rs
  samples/client/petstore/rust/reqwest-trait/petstore/src/models/unique_item_array_testing.rs
  samples/client/petstore/rust/reqwest/petstore-async-middleware/src/models/unique_item_array_testing.rs
  samples/client/petstore/rust/reqwest/petstore-async-tokensource/src/models/unique_item_array_testing.rs
  samples/client/petstore/rust/reqwest/petstore-async/src/models/unique_item_array_testing.rs
  samples/client/petstore/rust/reqwest/petstore-avoid-box/src/models/unique_item_array_testing.rs
  samples/client/petstore/rust/reqwest/petstore-awsv4signature/src/models/unique_item_array_testing.rs
  samples/client/petstore/rust/reqwest/petstore-model-name-prefix/src/models/foo_unique_item_array_testing.rs
  samples/client/petstore/rust/reqwest/petstore/src/models/unique_item_array_testing.rs
  samples/client/petstore/typescript-axios/builds/with-complex-headers/api.ts
Labels: Breaking change (with fallback), Feature: Generator

#20458 [Python] adjust multi-constraint dependency syntax to comply with PEP 508
  modules/openapi-generator/src/main/resources/python/pyproject.mustache
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/pyproject.toml
  samples/client/echo_api/python/pyproject.toml
  samples/openapi3/client/petstore/python-aiohttp/pyproject.toml
  samples/openapi3/client/petstore/python/pyproject.toml
Labels: Client: Python, Enhancement: Code format

#20432 [C][Client] Make custom CMAKE_C_FLAGS work
  modules/openapi-generator/src/main/resources/C-libcurl/CMakeLists.txt.mustache
  samples/client/others/c/bearerAuth/CMakeLists.txt
  samples/client/petstore/c-useJsonUnformatted/CMakeLists.txt
  samples/client/petstore/c/.openapi-generator-ignore
  samples/client/petstore/c/.openapi-generator/FILES
  samples/client/petstore/c/CMakeLists.txt
Labels: Issue: Bug, Client: C

#20461 [normalizer] Better handling of schema with just description (any type)
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/utils/ModelUtilsTest.java
  modules/openapi-generator/src/test/resources/3_0/null_schema_test.yaml
  samples/client/petstore/typescript-axios/builds/composed-schemas/api.ts
  samples/openapi3/client/petstore/typescript/builds/composed-schemas/models/PetsPatchRequest.ts
Labels: Issue: Bug, OpenAPI Normalizer

#20467 ISSUE: #17373 [BUG] [Go-server] invalid composite literal type string
  modules/openapi-generator/src/main/resources/go-server/controller-api.mustache
  samples/openapi3/server/petstore/go/go-petstore/go/api_pet.go
  samples/openapi3/server/petstore/go/go-petstore/go/api_store.go
  samples/openapi3/server/petstore/go/go-petstore/go/api_user.go
  samples/server/others/go-server/no-body-path-params/go/api_body.go
  samples/server/others/go-server/no-body-path-params/go/api_both.go
  samples/server/petstore/go-api-server/go/api_pet.go
  samples/server/petstore/go-api-server/go/api_store.go
  samples/server/petstore/go-api-server/go/api_user.go
  samples/server/petstore/go-chi-server/go/api_pet.go
  samples/server/petstore/go-chi-server/go/api_store.go
  samples/server/petstore/go-chi-server/go/api_user.go
Labels: Issue: Bug, Server: Go

#20474 [go-server] Add tests for primitive types in request/response
  modules/openapi-generator/src/test/resources/3_0/go-server/petstore.yaml
  samples/server/petstore/go-api-server/.openapi-generator/FILES
  samples/server/petstore/go-api-server/api/openapi.yaml
  samples/server/petstore/go-api-server/go/api.go
  samples/server/petstore/go-api-server/go/api_fake.go
  samples/server/petstore/go-api-server/go/api_fake_service.go
  samples/server/petstore/go-api-server/main.go
  samples/server/petstore/go-chi-server/.openapi-generator/FILES
  samples/server/petstore/go-chi-server/api/openapi.yaml
  samples/server/petstore/go-chi-server/go/api.go
  samples/server/petstore/go-chi-server/go/api_fake.go
  samples/server/petstore/go-chi-server/go/api_fake_service.go
  samples/server/petstore/go-chi-server/main.go
Labels: Server: Go

#20466 [JAVA] Address [rawtypes] and [this-escape] warnings in generated API clients
  modules/openapi-generator/src/main/resources/Java/libraries/apache-httpclient/ApiClient.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/native/ApiClient.mustache
  samples/client/echo_api/java/apache-httpclient/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/apache-httpclient/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: Code format

#19614 [csharp][java] Fix enum discriminator default value
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpClientCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/pojo.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/csharpnetcore/CSharpClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/enum_discriminator_inheritance.yaml
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/EnumStringDiscriminator.java
Labels: Client: C-Sharp, Client: Java, Feature: Generator, Feature: Enum, Issue: Bug

#20541 [csharp][generichost] Removed a using statement
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/RateLimitProvider`1.mustache
  samples/client/petstore/csharp/generichost/latest/Tags/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net4.7/AllOf/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net4.7/AnyOf/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net4.7/AnyOfNoCompare/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net4.7/FormModels/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net4.7/OneOf/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net4.7/Petstore/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net4.7/UseDateTimeForDate/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net4.8/AllOf/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net4.8/AnyOf/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net4.8/AnyOfNoCompare/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net4.8/FormModels/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net4.8/OneOf/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net4.8/Petstore/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net4.8/UseDateTimeForDate/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net8/AllOf/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net8/AnyOf/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net8/AnyOfNoCompare/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net8/FormModels/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net8/NullReferenceTypes/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net8/OneOf/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net8/Petstore/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net8/SourceGeneration/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net8/UseDateTimeForDate/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net9/AllOf/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net9/AnyOf/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net9/AnyOfNoCompare/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net9/FormModels/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net9/NullReferenceTypes/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net9/OneOf/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net9/Petstore/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net9/SourceGeneration/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/net9/UseDateTimeForDate/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
  samples/client/petstore/csharp/generichost/standard2.0/Petstore/src/Org.OpenAPITools/Client/RateLimitProvider`1.cs
Labels: Client: C-Sharp, Enhancement: Code Cleanup
