Repository OpenAPITools/openapi-generator, pull requests merged in 2025-06, with the labels that each got.

#21330 fix: #21329 Java Native, Provide Null Check before toString on param variables
  modules/openapi-generator/src/main/resources/Java/libraries/native/api.mustache
  samples/client/echo_api/java/native/src/main/java/org/openapitools/client/api/FormApi.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/native-jakarta/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/api/PetApi.java
Labels: Client: Java, Issue: Bug

#21364 fix(ruby-client): fix incorrect Date parsing in OneOf
  modules/openapi-generator/src/main/resources/ruby-client/partial_anyof_module.mustache
  modules/openapi-generator/src/main/resources/ruby-client/partial_oneof_module.mustache
  samples/client/petstore/ruby-httpx/lib/petstore/models/mammal_anyof.rb
  samples/client/petstore/ruby-httpx/lib/petstore/models/mammal_without_discriminator.rb
  samples/client/petstore/ruby/lib/petstore/models/mammal_anyof.rb
  samples/client/petstore/ruby/lib/petstore/models/mammal_without_discriminator.rb
Labels: Client: Ruby, Issue: Bug

#21349 [cpp-restsdk] store Object as a shared pointer
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CppRestSdkClientCodegen.java
  modules/openapi-generator/src/test/resources/3_0/cpp-restsdk/petstore.yaml
  samples/client/petstore/cpp-restsdk/client/include/CppRestPetstoreClient/model/CreateUserOrPet_request.h
  samples/client/petstore/cpp-restsdk/client/include/CppRestPetstoreClient/model/Pet.h
  samples/client/petstore/cpp-restsdk/client/src/model/Pet.cpp
Labels: Client: C++, Issue: Bug

#21417 Update spring web version in resttemplate
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/build.gradle.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/resttemplate/pom.mustache
  samples/client/echo_api/java/resttemplate/build.gradle
  samples/client/others/java/resttemplate-list-schema-validation/build.gradle
  samples/client/others/java/resttemplate-useAbstractionForFiles/build.gradle
  samples/client/petstore/java/resttemplate-jakarta/pom.xml
  samples/client/petstore/java/resttemplate-swagger1/build.gradle
  samples/client/petstore/java/resttemplate-swagger2/build.gradle
  samples/client/petstore/java/resttemplate-withXml/build.gradle
  samples/client/petstore/java/resttemplate/build.gradle
Labels: Client: Java, Enhancement: Compatibility

#21320 [Scala] Add enums to scala-http4s-server
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaHttp4sServerCodegen.java
  modules/openapi-generator/src/main/resources/scala-http4s-server/types.mustache
Labels: Enhancement: Feature, Feature: Enum, Server: Scala

#21223 [cpp-rest-sdk] fix enum values being used instead of names
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/model-header.mustache
  modules/openapi-generator/src/main/resources/cpp-rest-sdk-client/model-source.mustache
  samples/client/petstore/cpp-restsdk/client/include/CppRestPetstoreClient/model/Color.h
  samples/client/petstore/cpp-restsdk/client/include/CppRestPetstoreClient/model/Order.h
  samples/client/petstore/cpp-restsdk/client/include/CppRestPetstoreClient/model/Pet.h
  samples/client/petstore/cpp-restsdk/client/src/model/Color.cpp
  samples/client/petstore/cpp-restsdk/client/src/model/Order.cpp
  samples/client/petstore/cpp-restsdk/client/src/model/Pet.cpp
Labels: Client: C++, Enhancement: Feature, Feature: Enum

#21436 [Typescript]: add deprecated tags
  bin/configs/typescript-echo-api.yaml
  modules/openapi-generator/src/main/resources/typescript/api/api.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/TestUtils.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/TypeScriptClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/typescript/deprecated-operation.yaml
  modules/openapi-generator/src/test/resources/3_0/typescript/deprecated-parameter.yaml
  modules/openapi-generator/src/test/resources/3_0/typescript/echo_api.yaml
  samples/client/echo_api/typescript/build/QueryApi.md
  samples/client/echo_api/typescript/build/apis/QueryApi.ts
  samples/client/echo_api/typescript/build/types/ObjectParamAPI.ts
  samples/client/echo_api/typescript/build/types/ObservableAPI.ts
  samples/client/echo_api/typescript/build/types/PromiseAPI.ts
  samples/openapi3/client/petstore/typescript/builds/browser/apis/PetApi.ts
  samples/openapi3/client/petstore/typescript/builds/default/apis/PetApi.ts
  samples/openapi3/client/petstore/typescript/builds/deno/apis/PetApi.ts
  samples/openapi3/client/petstore/typescript/builds/deno_object_params/apis/PetApi.ts
  samples/openapi3/client/petstore/typescript/builds/explode-query/apis/PetApi.ts
  samples/openapi3/client/petstore/typescript/builds/inversify/apis/PetApi.ts
  samples/openapi3/client/petstore/typescript/builds/jquery/apis/PetApi.ts
  samples/openapi3/client/petstore/typescript/builds/object_params/apis/PetApi.ts
Labels: Client: TypeScript

#21481 [BUG][kotlin-spring] Fix Boolean type mismatch for kotlin-spring generator (#21478)
  modules/openapi-generator/src/main/resources/kotlin-spring/headerParams.mustache
Labels: Issue: Bug, Server: Kotlin, Server: Spring

#21367 [Java][Native] Fix POJOs with additionalProperties incorrectly extending HashMap
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/model/Drawing.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/model/NullableClass.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/model/TestInlineFreeformAdditionalPropertiesRequest.java
  samples/client/petstore/java/native-async/src/main/java/org/openapitools/client/model/Zebra.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/model/Drawing.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/model/NullableClass.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/model/TestInlineFreeformAdditionalPropertiesRequest.java
  samples/client/petstore/java/native/src/main/java/org/openapitools/client/model/Zebra.java
Labels: Client: Java, Issue: Bug
