Repository OpenAPITools/openapi-generator, pull requests merged in 2025-02, with the labels that each got.

#20571 [typescript-axios] Conditionally set user-agent
  bin/configs/typescript-axios-echo-api.yaml
  modules/openapi-generator/src/main/resources/typescript-axios/configuration.mustache
  samples/client/echo_api/typescript-axios/build/configuration.ts
  samples/client/others/typescript-axios/with-separate-models-and-api-inheritance/configuration.ts
  samples/client/petstore/typescript-axios/builds/composed-schemas/configuration.ts
  samples/client/petstore/typescript-axios/builds/default/configuration.ts
  samples/client/petstore/typescript-axios/builds/es6-target/configuration.ts
  samples/client/petstore/typescript-axios/builds/test-petstore/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-complex-headers/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-fake-endpoints-models-for-testing-with-http-signature/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-interfaces-and-with-single-request-param/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-interfaces/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-node-imports/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version-and-separate-models-and-api/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-npm-version/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-single-request-parameters/configuration.ts
  samples/client/petstore/typescript-axios/builds/with-string-enums/configuration.ts
Labels: Client: TypeScript

#20587 fix #16412 elixir outer enum bug
  modules/openapi-generator/src/main/resources/elixir/deserializer.ex.mustache
  samples/client/petstore/elixir/lib/openapi_petstore/deserializer.ex
  samples/client/petstore/elixir/test/outer_enum_test.exs
Labels: Client: Elixir

#20592 fix outer enum number bug elixir generator
  modules/openapi-generator/src/main/resources/elixir/deserializer.ex.mustache
  samples/client/petstore/elixir/lib/openapi_petstore/deserializer.ex
  samples/client/petstore/elixir/test/outer_enum_test.exs
Labels: Client: Elixir, Feature: Enum, Issue: Bug

#20602 [DefaultCodegen] simplified comparison for required flag
  modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java
Labels: Feature: Generator, Enhancement: Code Cleanup

#20595 [csharp] unity error message and code cleanup
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/CSharpClientCodegen.java
Labels: Client: C-Sharp, Enhancement: General

#20594 [php][php-nextgen] enumUnknownDefaultCase true now return the correct value for unknown values
  modules/openapi-generator/src/main/resources/php-nextgen/model_generic.mustache
  modules/openapi-generator/src/main/resources/php/model_generic.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/php/PhpClientCodegenTest.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/php/PhpNextgenClientCodegenTest.java
  modules/openapi-generator/src/test/resources/bugs/issue_20593.yaml
Labels: Client: PHP, Enhancement: Feature, Feature: Enum

#20621 Solution.mustache file modified (csharp generator)
  modules/openapi-generator/src/main/resources/csharp/Solution.mustache
Labels: Client: C-Sharp, Enhancement: General

#20516 fix: CodeGen correctly produces yyyy-mm-dd format for date with examples
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/AbstractJavaCodegenTest.java
Labels: Client: Java, Enhancement: General, Server: Java

#20619 feat: [rust] Dynamically add `uuid` crate only if used
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustClientCodegen.java
  modules/openapi-generator/src/main/resources/rust/Cargo.mustache
  samples/client/others/rust/hyper/api-with-ref-param/Cargo.toml
  samples/client/others/rust/hyper/composed-oneof/Cargo.toml
  samples/client/others/rust/hyper/emptyObject/Cargo.toml
  samples/client/others/rust/hyper/oneOf-array-map/Cargo.toml
  samples/client/others/rust/hyper/oneOf-reuseRef/Cargo.toml
  samples/client/others/rust/hyper/oneOf/Cargo.toml
  samples/client/others/rust/reqwest-regression-16119/Cargo.toml
  samples/client/others/rust/reqwest/api-with-ref-param/Cargo.toml
  samples/client/others/rust/reqwest/composed-oneof/Cargo.toml
  samples/client/others/rust/reqwest/emptyObject/Cargo.toml
  samples/client/others/rust/reqwest/oneOf-array-map/Cargo.toml
  samples/client/others/rust/reqwest/oneOf-reuseRef/Cargo.toml
  samples/client/others/rust/reqwest/oneOf/Cargo.toml
  samples/client/petstore/rust/reqwest/name-mapping/Cargo.toml
Labels: Client: Rust, Enhancement: General

#20406 Using Optional.ofNullable() at the fluent setters to prevent NPE
  modules/openapi-generator/src/main/resources/JavaSpring/pojo.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  samples/openapi3/client/petstore/spring-cloud-3-with-optional/src/main/java/org/openapitools/model/Category.java
  samples/openapi3/client/petstore/spring-cloud-3-with-optional/src/main/java/org/openapitools/model/ModelApiResponse.java
  samples/openapi3/client/petstore/spring-cloud-3-with-optional/src/main/java/org/openapitools/model/Order.java
  samples/openapi3/client/petstore/spring-cloud-3-with-optional/src/main/java/org/openapitools/model/Pet.java
  samples/openapi3/client/petstore/spring-cloud-3-with-optional/src/main/java/org/openapitools/model/Tag.java
  samples/openapi3/client/petstore/spring-cloud-3-with-optional/src/main/java/org/openapitools/model/User.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/AdditionalPropertiesAnyType.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/AdditionalPropertiesArray.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/AdditionalPropertiesBoolean.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/AdditionalPropertiesClass.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/AdditionalPropertiesInteger.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/AdditionalPropertiesNumber.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/AdditionalPropertiesObject.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/AdditionalPropertiesString.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/Animal.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/BigCat.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/Capitalization.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/Cat.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/Category.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/ChildWithNullable.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/ClassModel.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/Client.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/Dog.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/EnumArrays.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/EnumTest.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/File.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/FileSchemaTestClass.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/FormatTest.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/HasOnlyReadOnly.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/MixedPropertiesAndAdditionalPropertiesClass.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/Model200Response.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/ModelApiResponse.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/ModelList.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/ModelReturn.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/Name.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/NumberOnly.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/Order.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/OuterComposite.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/ParentWithNullable.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/Pet.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/ReadOnlyFirst.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/ResponseObjectWithDifferentFieldNames.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/SpecialModelName.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/Tag.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/User.java
  samples/server/petstore/springboot-useoptional/src/main/java/org/openapitools/model/XmlItem.java
Labels: Server: Java, Server: Spring

#20460 Fix: Resolve Dart 3.5+ and json_serializable 6.9.0+ compatibility issues in generated dart-dio clients
  modules/openapi-generator/src/main/resources/dart/libraries/dio/pubspec.mustache
  samples/openapi3/client/petstore/dart-dio/oneof/pubspec.yaml
  samples/openapi3/client/petstore/dart-dio/oneof_polymorphism_and_inheritance/pubspec.yaml
  samples/openapi3/client/petstore/dart-dio/oneof_primitive/pubspec.yaml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/pubspec.yaml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/pubspec.yaml
Labels: Client: Dart, Enhancement: Compatibility, Issue: Bug

#20548 [Rust] Bump axum and axum-extra
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustAxumServerCodegen.java
  modules/openapi-generator/src/main/resources/rust-axum/Cargo.mustache
  modules/openapi-generator/src/main/resources/rust-axum/apis-mod.mustache
  modules/openapi-generator/src/main/resources/rust-axum/apis.mustache
  modules/openapi-generator/src/main/resources/rust-axum/server-imports.mustache
  samples/server/petstore/rust-axum/output/apikey-auths/Cargo.toml
  samples/server/petstore/rust-axum/output/apikey-auths/src/apis/mod.rs
  samples/server/petstore/rust-axum/output/apikey-auths/src/apis/payments.rs
  samples/server/petstore/rust-axum/output/apikey-auths/src/server/mod.rs
  samples/server/petstore/rust-axum/output/multipart-v3/Cargo.toml
  samples/server/petstore/rust-axum/output/multipart-v3/src/apis/default.rs
  samples/server/petstore/rust-axum/output/multipart-v3/src/apis/mod.rs
  samples/server/petstore/rust-axum/output/multipart-v3/src/server/mod.rs
  samples/server/petstore/rust-axum/output/openapi-v3/Cargo.toml
  samples/server/petstore/rust-axum/output/openapi-v3/src/apis/default.rs
  samples/server/petstore/rust-axum/output/openapi-v3/src/apis/info_repo.rs
  samples/server/petstore/rust-axum/output/openapi-v3/src/apis/mod.rs
  samples/server/petstore/rust-axum/output/openapi-v3/src/apis/repo.rs
  samples/server/petstore/rust-axum/output/openapi-v3/src/server/mod.rs
  samples/server/petstore/rust-axum/output/ops-v3/Cargo.toml
  samples/server/petstore/rust-axum/output/ops-v3/src/apis/default.rs
  samples/server/petstore/rust-axum/output/ops-v3/src/apis/mod.rs
  samples/server/petstore/rust-axum/output/ops-v3/src/server/mod.rs
  samples/server/petstore/rust-axum/output/petstore-with-fake-endpoints-models-for-testing/Cargo.toml
  samples/server/petstore/rust-axum/output/petstore-with-fake-endpoints-models-for-testing/src/apis/another_fake.rs
  samples/server/petstore/rust-axum/output/petstore-with-fake-endpoints-models-for-testing/src/apis/fake.rs
  samples/server/petstore/rust-axum/output/petstore-with-fake-endpoints-models-for-testing/src/apis/fake_classname_tags123.rs
  samples/server/petstore/rust-axum/output/petstore-with-fake-endpoints-models-for-testing/src/apis/mod.rs
  samples/server/petstore/rust-axum/output/petstore-with-fake-endpoints-models-for-testing/src/apis/pet.rs
  samples/server/petstore/rust-axum/output/petstore-with-fake-endpoints-models-for-testing/src/apis/store.rs
  samples/server/petstore/rust-axum/output/petstore-with-fake-endpoints-models-for-testing/src/apis/user.rs
  samples/server/petstore/rust-axum/output/petstore-with-fake-endpoints-models-for-testing/src/server/mod.rs
  samples/server/petstore/rust-axum/output/petstore/Cargo.toml
  samples/server/petstore/rust-axum/output/petstore/src/apis/mod.rs
  samples/server/petstore/rust-axum/output/petstore/src/apis/pet.rs
  samples/server/petstore/rust-axum/output/petstore/src/apis/store.rs
  samples/server/petstore/rust-axum/output/petstore/src/apis/user.rs
  samples/server/petstore/rust-axum/output/petstore/src/server/mod.rs
  samples/server/petstore/rust-axum/output/ping-bearer-auth/Cargo.toml
  samples/server/petstore/rust-axum/output/ping-bearer-auth/src/apis/default.rs
  samples/server/petstore/rust-axum/output/ping-bearer-auth/src/apis/mod.rs
  samples/server/petstore/rust-axum/output/ping-bearer-auth/src/server/mod.rs
  samples/server/petstore/rust-axum/output/rust-axum-header-uuid/Cargo.toml
  samples/server/petstore/rust-axum/output/rust-axum-header-uuid/src/apis/default.rs
  samples/server/petstore/rust-axum/output/rust-axum-header-uuid/src/apis/mod.rs
  samples/server/petstore/rust-axum/output/rust-axum-header-uuid/src/server/mod.rs
  samples/server/petstore/rust-axum/output/rust-axum-oneof/Cargo.toml
  samples/server/petstore/rust-axum/output/rust-axum-oneof/src/apis/default.rs
  samples/server/petstore/rust-axum/output/rust-axum-oneof/src/apis/mod.rs
  samples/server/petstore/rust-axum/output/rust-axum-oneof/src/server/mod.rs
  samples/server/petstore/rust-axum/output/rust-axum-test/Cargo.toml
  samples/server/petstore/rust-axum/output/rust-axum-test/src/apis/default.rs
  samples/server/petstore/rust-axum/output/rust-axum-test/src/apis/mod.rs
  samples/server/petstore/rust-axum/output/rust-axum-test/src/server/mod.rs
  samples/server/petstore/rust-axum/output/rust-axum-validation-test/Cargo.toml
  samples/server/petstore/rust-axum/output/rust-axum-validation-test/src/apis/default.rs
  samples/server/petstore/rust-axum/output/rust-axum-validation-test/src/apis/mod.rs
  samples/server/petstore/rust-axum/output/rust-axum-validation-test/src/server/mod.rs
Labels: Enhancement: General, Issue: Bug, Server: Rust

#19713 [java][feign] Fix model combining properties and additional properties
  bin/utils/test_file_list.yaml
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/feign/pojo.mustache
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/model/AdditionalPropertiesAnyType.java
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/model/AdditionalPropertiesArray.java
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/model/AdditionalPropertiesBoolean.java
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/model/AdditionalPropertiesInteger.java
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/model/AdditionalPropertiesNumber.java
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/model/AdditionalPropertiesObject.java
  samples/client/petstore/java/feign-no-nullable/src/main/java/org/openapitools/client/model/AdditionalPropertiesString.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/model/NullableClass.java
  samples/client/petstore/java/feign/src/main/java/org/openapitools/client/model/TestInlineFreeformAdditionalPropertiesRequest.java
  samples/client/petstore/java/feign/src/test/java/org/openapitools/client/JacksonTest.java
Labels: Client: Java, Issue: Bug

#20651 [csharp] Handle query param encoding issues in .net9
  modules/openapi-generator/src/main/resources/csharp/HttpSigningConfiguration.mustache
  samples/client/petstore/csharp/httpclient/net9/Petstore/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/httpclient/standard2.0/Petstore/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/restsharp/net4.7/Petstore/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/restsharp/net4.8/Petstore/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/restsharp/net8/EnumMappings/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/restsharp/net8/Petstore/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/restsharp/net9/EnumMappings/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/restsharp/standard2.0/ConditionalSerialization/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/restsharp/standard2.0/Petstore/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/unityWebRequest/net9/Petstore/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
  samples/client/petstore/csharp/unityWebRequest/standard2.0/Petstore/src/Org.OpenAPITools/Client/HttpSigningConfiguration.cs
Labels: Client: C-Sharp, Issue: Bug

#20653 [Rust-Axum] Fix rustfmt error due to ordering
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustAxumServerCodegen.java
Labels: Enhancement: General, Server: Rust

#20615 Ruby fix typhoeus api client multiple call with file return type
  modules/openapi-generator/src/main/resources/ruby-client/api_client_typhoeus_partial.mustache
  samples/client/echo_api/ruby-typhoeus/lib/openapi_client/api_client.rb
  samples/client/petstore/ruby-autoload/lib/petstore/api_client.rb
  samples/client/petstore/ruby/lib/petstore/api_client.rb
  samples/openapi3/client/extensions/x-auth-id-alias/ruby-client/lib/x_auth_id_alias/api_client.rb
  samples/openapi3/client/features/dynamic-servers/ruby/lib/dynamic_servers/api_client.rb
  samples/openapi3/client/features/generate-alias-as-model/ruby-client/lib/petstore/api_client.rb
Labels: Client: Ruby, Issue: Bug

#20590 [java][client] fix: Add static modifier to inner class in Java when useSingleRequestParameter=true
  docs/generators/java-microprofile.md
  docs/generators/java.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/restclient/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/api.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
Labels: Client: Java, Enhancement: General

#20614 [python] Encode list query parameters for python pydantic v1 client
  modules/openapi-generator/src/main/resources/python-pydantic-v1/api_client.mustache
  samples/client/echo_api/python-pydantic-v1/openapi_client/api_client.py
  samples/openapi3/client/petstore/python-pydantic-v1-aiohttp/petstore_api/api_client.py
Labels: Client: Python, Issue: Bug

#20473 [protobuf-schema] Replace zero value enum suffix from UNKNOWN to UNSPECIFIED
  docs/generators/protobuf-schema.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ProtobufSchemaCodegen.java
Labels: Enhancement: General, Schema: ProtoBuf

#20584 [Rust-Axum] Implement support for Basic and Bearer auth in Claims
  docs/generators/rust-axum.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustAxumServerCodegen.java
  modules/openapi-generator/src/main/resources/rust-axum/apis-mod.mustache
  modules/openapi-generator/src/main/resources/rust-axum/server-operation.mustache
  modules/openapi-generator/src/main/resources/rust-axum/server-route.mustache
  samples/server/petstore/rust-axum/output/apikey-auths/src/apis/mod.rs
  samples/server/petstore/rust-axum/output/apikey-auths/src/apis/payments.rs
  samples/server/petstore/rust-axum/output/apikey-auths/src/server/mod.rs
  samples/server/petstore/rust-axum/output/multipart-v3/src/server/mod.rs
  samples/server/petstore/rust-axum/output/openapi-v3/src/server/mod.rs
  samples/server/petstore/rust-axum/output/ops-v3/src/server/mod.rs
  samples/server/petstore/rust-axum/output/petstore-with-fake-endpoints-models-for-testing/src/apis/fake.rs
  samples/server/petstore/rust-axum/output/petstore-with-fake-endpoints-models-for-testing/src/apis/mod.rs
  samples/server/petstore/rust-axum/output/petstore-with-fake-endpoints-models-for-testing/src/server/mod.rs
  samples/server/petstore/rust-axum/output/petstore/src/apis/mod.rs
  samples/server/petstore/rust-axum/output/petstore/src/server/mod.rs
  samples/server/petstore/rust-axum/output/ping-bearer-auth/src/apis/default.rs
  samples/server/petstore/rust-axum/output/ping-bearer-auth/src/apis/mod.rs
  samples/server/petstore/rust-axum/output/ping-bearer-auth/src/server/mod.rs
  samples/server/petstore/rust-axum/output/rust-axum-header-uuid/src/server/mod.rs
  samples/server/petstore/rust-axum/output/rust-axum-oneof/src/server/mod.rs
  samples/server/petstore/rust-axum/output/rust-axum-test/src/server/mod.rs
  samples/server/petstore/rust-axum/output/rust-axum-validation-test/src/server/mod.rs
Labels: Enhancement: Feature, Server: Rust, Enhancement: Security

#20534 fix: display of markdown in notes section
  modules/openapi-generator/src/main/resources/python-pydantic-v1/api_doc.mustache
  modules/openapi-generator/src/main/resources/python/api_doc.mustache
  samples/openapi3/client/petstore/python-aiohttp/docs/DefaultApi.md
  samples/openapi3/client/petstore/python-aiohttp/docs/FakeApi.md
  samples/openapi3/client/petstore/python-pydantic-v1-aiohttp/docs/DefaultApi.md
  samples/openapi3/client/petstore/python-pydantic-v1-aiohttp/docs/FakeApi.md
  samples/openapi3/client/petstore/python-pydantic-v1-aiohttp/docs/ImportTestDatetimeApi.md
  samples/openapi3/client/petstore/python-pydantic-v1/docs/DefaultApi.md
  samples/openapi3/client/petstore/python-pydantic-v1/docs/FakeApi.md
  samples/openapi3/client/petstore/python-pydantic-v1/docs/ImportTestDatetimeApi.md
  samples/openapi3/client/petstore/python/docs/DefaultApi.md
  samples/openapi3/client/petstore/python/docs/FakeApi.md
Labels: Client: Python, Enhancement: Feature, Feature: Documentation

#19396 [Kotlin] Add Option to Skip Merging Spec Files
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/OpenApiGeneratorPlugin.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/extensions/OpenApiGeneratorGenerateExtension.kt
  modules/openapi-generator-gradle-plugin/src/main/kotlin/org/openapitools/generator/gradle/plugin/tasks/GenerateTask.kt
Labels: Enhancement: Feature, OpenAPI Generator Gradle Plugin

#20699 [typescript] Prevent generating invalid enum code due to empty variable names
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/TypeScriptClientCodegenTest.java
  modules/openapi-generator/src/test/resources/bugs/typescript_enum_var_name_all_sanitized.yaml
Labels: Client: TypeScript

#20697 [Python] Add `ca_cert_data` parameter
  modules/openapi-generator/src/main/resources/python/asyncio/rest.mustache
  modules/openapi-generator/src/main/resources/python/configuration.mustache
  modules/openapi-generator/src/main/resources/python/rest.mustache
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/openapi_client/configuration.py
  samples/client/echo_api/python-disallowAdditionalPropertiesIfNotPresent/openapi_client/rest.py
  samples/client/echo_api/python/openapi_client/configuration.py
  samples/client/echo_api/python/openapi_client/rest.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/configuration.py
  samples/openapi3/client/petstore/python-aiohttp/petstore_api/rest.py
  samples/openapi3/client/petstore/python/petstore_api/configuration.py
  samples/openapi3/client/petstore/python/petstore_api/rest.py
Labels: Client: Python, Enhancement: General

#20695 [csharp][generichost] fix syslib1045, use GeneratedRegex for .net7+
  modules/openapi-generator/src/main/resources/csharp/libraries/generichost/ClientUtils.mustache
  samples/client/petstore/csharp/generichost/latest/Tags/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net4.7/AllOf/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net4.7/AnyOf/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net4.7/AnyOfNoCompare/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net4.7/FormModels/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net4.7/OneOf/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net4.7/Petstore/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net4.7/UseDateTimeForDate/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net4.8/AllOf/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net4.8/AnyOf/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net4.8/AnyOfNoCompare/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net4.8/FormModels/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net4.8/OneOf/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net4.8/Petstore/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net4.8/UseDateTimeForDate/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net8/AllOf/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net8/AnyOf/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net8/AnyOfNoCompare/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net8/FormModels/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net8/NullReferenceTypes/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net8/OneOf/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net8/Petstore/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net8/SourceGeneration/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net8/UseDateTimeForDate/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net9/AllOf/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net9/AnyOf/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net9/AnyOfNoCompare/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net9/FormModels/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net9/NullReferenceTypes/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net9/OneOf/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net9/Petstore/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net9/SourceGeneration/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/net9/UseDateTimeForDate/src/Org.OpenAPITools/Client/ClientUtils.cs
  samples/client/petstore/csharp/generichost/standard2.0/Petstore/src/Org.OpenAPITools/Client/ClientUtils.cs
Labels: Client: C-Sharp, Enhancement: Compatibility, Issue: Bug

#20713 Add openapi-normalizer rule to set tags to vendor extension
  docs/customization.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/OpenAPINormalizer.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/OpenAPINormalizerTest.java
  modules/openapi-generator/src/test/resources/3_0/enableSetTagsToVendorExtension_test.yaml
Labels: Enhancement: Feature, OpenAPI Normalizer

#20717 [erlang] erlang-server generator fixes
  modules/openapi-generator/src/main/resources/erlang-server/api.mustache
  modules/openapi-generator/src/main/resources/erlang-server/handler.mustache
  modules/openapi-generator/src/main/resources/erlang-server/server.mustache
  samples/server/echo_api/erlang-server/src/openapi_api.erl
  samples/server/echo_api/erlang-server/src/openapi_auth_handler.erl
  samples/server/echo_api/erlang-server/src/openapi_body_handler.erl
  samples/server/echo_api/erlang-server/src/openapi_form_handler.erl
  samples/server/echo_api/erlang-server/src/openapi_header_handler.erl
  samples/server/echo_api/erlang-server/src/openapi_path_handler.erl
  samples/server/echo_api/erlang-server/src/openapi_query_handler.erl
  samples/server/echo_api/erlang-server/src/openapi_server.erl
  samples/server/petstore/erlang-server/src/openapi_api.erl
  samples/server/petstore/erlang-server/src/openapi_pet_handler.erl
  samples/server/petstore/erlang-server/src/openapi_server.erl
  samples/server/petstore/erlang-server/src/openapi_store_handler.erl
  samples/server/petstore/erlang-server/src/openapi_user_handler.erl
Labels: Issue: Bug, Server: Erlang

#20735 [Erlang] Fix crash on escaped type in erlang-server handler
  modules/openapi-generator/src/main/resources/erlang-server/handler.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/erlang/ErlangServerCodegenTest.java
Labels: Issue: Bug, Server: Erlang

#20689 [Rust] Fix enum variant name generation
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/RustAxumServerCodegen.java
  modules/openapi-generator/src/test/resources/3_0/rust-axum/rust-axum-oneof.yaml
  samples/server/petstore/rust-axum/output/rust-axum-oneof/src/models.rs
Labels: Issue: Bug, Server: Rust

#20733 [Java][RestClient] Enable access token refresh
  README.md
  modules/openapi-generator/src/main/resources/Java/libraries/restclient/ApiClient.mustache
  samples/client/echo_api/java/restclient/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/others/java/restclient-useAbstractionForFiles/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/restclient-nullable-arrays/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/restclient-swagger2/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/restclient-useSingleRequestParameter/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/restclient/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Enhancement: General

#20679 SingleRequestParameter setter parameter construction
  docs/generators/java-microprofile.md
  docs/generators/java.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/restclient/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/webclient/api.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/JavaClientCodegenTest.java
  samples/client/petstore/java/webclient-useSingleRequestParameter/src/main/java/org/openapitools/client/api/FakeApi.java
  samples/client/petstore/java/webclient-useSingleRequestParameter/src/main/java/org/openapitools/client/api/PetApi.java
  samples/client/petstore/java/webclient-useSingleRequestParameter/src/main/java/org/openapitools/client/api/UserApi.java
Labels: Client: Java, Enhancement: General

#20746 [java][spring] Add option `optionalAcceptNullable` to accept null values
  bin/configs/spring-cloud-3-with-optional.yaml
  docs/generators/java-camel.md
  docs/generators/spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/main/resources/JavaSpring/pojo.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
Labels: Enhancement: Feature, Server: Java, Server: Spring
