Repository OpenAPITools/openapi-generator, pull requests merged in 2025-08, with the labels that each got.

#21523 Removed try/catch to enable framework error handling to pick up error
  modules/openapi-generator/src/main/resources/php-laravel/api_controller.mustache
Labels: Issue: Bug, Server: PHP

#15559 Added symlink to generator CLI in Docker image
  modules/openapi-generator-cli/Dockerfile
Labels: Docker, Enhancement: General

#21678 [php][php-nextgen] add new github workflow to perform syntax check on php files
  .github/workflows/samples-php-syntax-check.yaml
  samples/client/petstore/php-nextgen/OpenAPIClient-php/.openapi-generator-ignore
  samples/server/petstore/php-laravel-issue-21334/Http/Controllers/DefaultController.php
  samples/server/petstore/php-laravel/Http/Controllers/AnotherFakeController.php
  samples/server/petstore/php-laravel/Http/Controllers/DefaultController.php
  samples/server/petstore/php-laravel/Http/Controllers/FakeClassnameTags123Controller.php
  samples/server/petstore/php-laravel/Http/Controllers/FakeController.php
  samples/server/petstore/php-laravel/Http/Controllers/PetController.php
  samples/server/petstore/php-laravel/Http/Controllers/StoreController.php
  samples/server/petstore/php-laravel/Http/Controllers/UserController.php
Labels: Client: PHP, Enhancement: CI/Test

#21713 Default nested array to null in java generators
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractJavaCodegen.java
  modules/openapi-generator/src/test/resources/3_0/java/petstore-with-fake-endpoints-models-for-testing-okhttp-gson.yaml
  samples/client/petstore/java/okhttp-gson/.openapi-generator/FILES
  samples/client/petstore/java/okhttp-gson/README.md
  samples/client/petstore/java/okhttp-gson/api/openapi.yaml
  samples/client/petstore/java/okhttp-gson/docs/NestedArrayWithDefaultValues.md
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/JSON.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/NestedArrayWithDefaultValues.java
  samples/client/petstore/java/okhttp-gson/src/test/java/org/openapitools/client/model/NestedArrayWithDefaultValuesTest.java
Labels: Client: Java, Issue: Bug

#21591 #21582 [BUG][dart-dio] Bug generating inline enums with common names
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/AbstractDartCodegen.java
  modules/openapi-generator/src/test/resources/3_0/dart/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/.openapi-generator/FILES
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/README.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/doc/FakeApi.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/doc/ObjectThatReferencesObjectsWithDuplicateInlineEnums.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/doc/ObjectWithDuplicateInlineEnum.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/doc/ObjectWithInlineEnum.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/openapi.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/api/fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/deserialize.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/model/object_that_references_objects_with_duplicate_inline_enums.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/model/object_with_duplicate_inline_enum.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/model/object_with_inline_enum.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/test/object_that_references_objects_with_duplicate_inline_enums_test.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/test/object_with_duplicate_inline_enum_test.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/test/object_with_inline_enum_test.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/.openapi-generator/FILES
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/README.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/doc/FakeApi.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/doc/ObjectThatReferencesObjectsWithDuplicateInlineEnums.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/doc/ObjectWithDuplicateInlineEnum.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/doc/ObjectWithInlineEnum.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/openapi.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/api/fake_api.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/model/object_that_references_objects_with_duplicate_inline_enums.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/model/object_with_duplicate_inline_enum.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/model/object_with_inline_enum.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/serializers.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/test/object_that_references_objects_with_duplicate_inline_enums_test.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/test/object_with_duplicate_inline_enum_test.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/test/object_with_inline_enum_test.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/.openapi-generator/FILES
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/README.md
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/doc/FakeApi.md
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/doc/ObjectThatReferencesObjectsWithDuplicateInlineEnums.md
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/doc/ObjectWithDuplicateInlineEnum.md
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/doc/ObjectWithInlineEnum.md
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api/fake_api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api_client.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/object_that_references_objects_with_duplicate_inline_enums.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/object_with_duplicate_inline_enum.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/object_with_inline_enum.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/test/object_that_references_objects_with_duplicate_inline_enums_test.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/test/object_with_duplicate_inline_enum_test.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/test/object_with_inline_enum_test.dart
Labels: Client: Dart, Issue: Bug

#21748 [Typescript] Updated `form-data` to the latest version
  modules/openapi-generator/src/main/resources/typescript/package.mustache
  samples/client/echo_api/typescript/build/package.json
  samples/client/others/typescript/encode-decode/build/package.json
  samples/openapi3/client/petstore/typescript/builds/default/package.json
  samples/openapi3/client/petstore/typescript/builds/explode-query/package.json
  samples/openapi3/client/petstore/typescript/builds/inversify/package.json
  samples/openapi3/client/petstore/typescript/builds/object_params/package.json
Labels: Client: TypeScript

#21762 Update gradle jar to newer version (java micronut)
  .github/workflows/linux.yaml
  modules/openapi-generator/src/main/resources/java-micronaut/common/configuration/gradlew/gradle-wrapper.jar
  samples/client/petstore/java-micronaut-client/gradle/wrapper/gradle-wrapper.jar
  samples/server/petstore/java-micronaut-server/gradle/wrapper/gradle-wrapper.jar
Labels: Client: Java, Enhancement: Compatibility, Server: Java

#21747 fix(java): validation of UUIDs in oneOf and anyOf schemas
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/anyof_model.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/okhttp-gson/oneof_model.mustache
Labels: Client: Java, Issue: Bug

#21763 Add tests for uuid in oneOf/anyOf (java okhttp-gson)
  modules/openapi-generator/src/test/resources/3_0/java/petstore-with-fake-endpoints-models-for-testing-okhttp-gson.yaml
  samples/client/petstore/java/okhttp-gson/api/openapi.yaml
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/Scalar.java
  samples/client/petstore/java/okhttp-gson/src/main/java/org/openapitools/client/model/ScalarAnyOf.java
Labels: Client: Java, Enhancement: CI/Test

#21155 Exclude the discriminator field from getting a nullable_var_annotations
  modules/openapi-generator/src/main/resources/Java/pojo.mustache
  samples/client/petstore/java/apache-httpclient/src/main/java/org/openapitools/client/model/Animal.java
  samples/client/petstore/java/apache-httpclient/src/main/java/org/openapitools/client/model/ParentWithNullable.java
  samples/client/petstore/java/google-api-client/src/main/java/org/openapitools/client/model/Animal.java
  samples/client/petstore/java/rest-assured-jackson/src/main/java/org/openapitools/client/model/Animal.java
  samples/client/petstore/java/rest-assured/src/main/java/org/openapitools/client/model/Animal.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/model/Animal.java
  samples/client/petstore/java/resteasy/src/main/java/org/openapitools/client/model/ParentWithNullable.java
  samples/client/petstore/java/retrofit2-play26/src/main/java/org/openapitools/client/model/Animal.java
  samples/client/petstore/java/retrofit2/src/main/java/org/openapitools/client/model/Animal.java
  samples/client/petstore/java/retrofit2rx2/src/main/java/org/openapitools/client/model/Animal.java
  samples/client/petstore/java/retrofit2rx3/src/main/java/org/openapitools/client/model/Animal.java
  samples/client/petstore/java/vertx-no-nullable/src/main/java/org/openapitools/client/model/Animal.java
  samples/client/petstore/java/vertx-supportVertxFuture/src/main/java/org/openapitools/client/model/Animal.java
  samples/client/petstore/java/vertx-supportVertxFuture/src/main/java/org/openapitools/client/model/ParentWithNullable.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/model/Animal.java
  samples/client/petstore/java/vertx/src/main/java/org/openapitools/client/model/ParentWithNullable.java
Labels: Client: Java, Issue: Bug

#21765 [kotlin-client] Support for integer enums with kotlinx with custom serializer
  .github/workflows/samples-kotlin-client.yaml
  bin/configs/kotlin-integer-enum.yaml
  modules/openapi-generator/src/main/resources/kotlin-client/enum_class.mustache
  modules/openapi-generator/src/test/resources/3_0/pr_21746.yaml
  samples/client/others/kotlin-integer-enum/.openapi-generator-ignore
  samples/client/others/kotlin-integer-enum/.openapi-generator/FILES
  samples/client/others/kotlin-integer-enum/.openapi-generator/VERSION
  samples/client/others/kotlin-integer-enum/README.md
  samples/client/others/kotlin-integer-enum/build.gradle
  samples/client/others/kotlin-integer-enum/docs/Code.md
  samples/client/others/kotlin-integer-enum/docs/DefaultApi.md
  samples/client/others/kotlin-integer-enum/docs/DoGet200Response.md
  samples/client/others/kotlin-integer-enum/docs/StringCode.md
  samples/client/others/kotlin-integer-enum/gradle/wrapper/gradle-wrapper.jar
  samples/client/others/kotlin-integer-enum/gradle/wrapper/gradle-wrapper.properties
  samples/client/others/kotlin-integer-enum/gradlew
  samples/client/others/kotlin-integer-enum/gradlew.bat
  samples/client/others/kotlin-integer-enum/settings.gradle
  samples/client/others/kotlin-integer-enum/src/main/kotlin/org/openapitools/client/apis/DefaultApi.kt
  samples/client/others/kotlin-integer-enum/src/main/kotlin/org/openapitools/client/infrastructure/ApiAbstractions.kt
  samples/client/others/kotlin-integer-enum/src/main/kotlin/org/openapitools/client/infrastructure/ApiClient.kt
  samples/client/others/kotlin-integer-enum/src/main/kotlin/org/openapitools/client/infrastructure/ApiResponse.kt
  samples/client/others/kotlin-integer-enum/src/main/kotlin/org/openapitools/client/infrastructure/BigDecimalAdapter.kt
  samples/client/others/kotlin-integer-enum/src/main/kotlin/org/openapitools/client/infrastructure/BigIntegerAdapter.kt
  samples/client/others/kotlin-integer-enum/src/main/kotlin/org/openapitools/client/infrastructure/ByteArrayAdapter.kt
  samples/client/others/kotlin-integer-enum/src/main/kotlin/org/openapitools/client/infrastructure/Errors.kt
  samples/client/others/kotlin-integer-enum/src/main/kotlin/org/openapitools/client/infrastructure/LocalDateAdapter.kt
  samples/client/others/kotlin-integer-enum/src/main/kotlin/org/openapitools/client/infrastructure/LocalDateTimeAdapter.kt
  samples/client/others/kotlin-integer-enum/src/main/kotlin/org/openapitools/client/infrastructure/OffsetDateTimeAdapter.kt
  samples/client/others/kotlin-integer-enum/src/main/kotlin/org/openapitools/client/infrastructure/PartConfig.kt
  samples/client/others/kotlin-integer-enum/src/main/kotlin/org/openapitools/client/infrastructure/RequestConfig.kt
  samples/client/others/kotlin-integer-enum/src/main/kotlin/org/openapitools/client/infrastructure/RequestMethod.kt
  samples/client/others/kotlin-integer-enum/src/main/kotlin/org/openapitools/client/infrastructure/ResponseExtensions.kt
  samples/client/others/kotlin-integer-enum/src/main/kotlin/org/openapitools/client/infrastructure/Serializer.kt
  samples/client/others/kotlin-integer-enum/src/main/kotlin/org/openapitools/client/infrastructure/URIAdapter.kt
  samples/client/others/kotlin-integer-enum/src/main/kotlin/org/openapitools/client/infrastructure/UUIDAdapter.kt
  samples/client/others/kotlin-integer-enum/src/main/kotlin/org/openapitools/client/models/Code.kt
  samples/client/others/kotlin-integer-enum/src/main/kotlin/org/openapitools/client/models/DoGet200Response.kt
  samples/client/others/kotlin-integer-enum/src/main/kotlin/org/openapitools/client/models/StringCode.kt
  samples/client/others/kotlin-integer-enum/src/test/kotlin/org/openapitools/client/apis/DefaultApiTest.kt
  samples/client/others/kotlin-integer-enum/src/test/kotlin/org/openapitools/client/models/CodeTest.kt
  samples/client/others/kotlin-integer-enum/src/test/kotlin/org/openapitools/client/models/DoGet200ResponseTest.kt
  samples/client/others/kotlin-integer-enum/src/test/kotlin/org/openapitools/client/models/StringCodeTest.kt
  samples/client/petstore/kotlin-uppercase-enum/src/main/kotlin/org/openapitools/client/models/PetEnum.kt
Labels: Client: Kotlin, Feature: Enum, Issue: Bug

#21752 [Java][HttpClient] Fix memory leak with virtual threads (#21729)
  modules/openapi-generator/src/main/resources/Java/libraries/apache-httpclient/ApiClient.mustache
  samples/client/echo_api/java/apache-httpclient/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/apache-httpclient/src/main/java/org/openapitools/client/ApiClient.java
Labels: Client: Java, Issue: Bug

#21800 [REQ] [Java] [Spring] Fix #20370 by adding an OAuth access token supplier
  modules/openapi-generator/src/main/resources/Java/libraries/restclient/ApiClient.mustache
  samples/client/petstore/java/restclient-swagger2/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/restclient-useSingleRequestParameter-static/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/restclient-useSingleRequestParameter/src/main/java/org/openapitools/client/ApiClient.java
  samples/client/petstore/java/restclient/src/main/java/org/openapitools/client/ApiClient.java
Labels: Issue: Bug, Server: Java, Server: Spring

#21816 Add skipCopyWith option for dart-dio
  docs/generators/dart-dio.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/DartDioClientCodegen.java
  modules/openapi-generator/src/main/resources/dart/libraries/dio/pubspec.mustache
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/json_serializable/class.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/options/DartDioClientOptionsProvider.java
Labels: Client: Dart, Enhancement: Feature

#21821 typescript-fetch: Fix model date crash
  modules/openapi-generator/src/main/resources/typescript-fetch/modelGeneric.mustache
  samples/client/petstore/typescript-fetch/builds/default-v3.0/models/FormatTest.ts
  samples/client/petstore/typescript-fetch/builds/default-v3.0/models/MixedPropertiesAndAdditionalPropertiesClass.ts
  samples/client/petstore/typescript-fetch/builds/default-v3.0/models/NullableClass.ts
  samples/client/petstore/typescript-fetch/builds/default-v3.0/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/default/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/es6-target/src/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/multiple-parameters/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/prefix-parameter-interfaces/src/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/sagas-and-records/src/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/snakecase-discriminator/models/FormatTest.ts
  samples/client/petstore/typescript-fetch/builds/snakecase-discriminator/models/MixedPropertiesAndAdditionalPropertiesClass.ts
  samples/client/petstore/typescript-fetch/builds/snakecase-discriminator/models/NullableClass.ts
  samples/client/petstore/typescript-fetch/builds/snakecase-discriminator/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/validation-attributes/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/with-interfaces/models/Order.ts
  samples/client/petstore/typescript-fetch/builds/with-npm-version/src/models/Order.ts
Labels: Client: TypeScript
