Repository OpenAPITools/openapi-generator, pull requests merged in 2025-07, with the labels that each got.

#21507 Add tests for scala http4s server:
  bin/configs/scala-http4s-server.yaml
  modules/openapi-generator/src/test/resources/3_0/scala-http4s-server/petstore.yaml
  samples/server/petstore/scala-http4s-server/.openapi-generator/FILES
  samples/server/petstore/scala-http4s-server/src/main/scala/org/openapitools/api.scala
  samples/server/petstore/scala-http4s-server/src/main/scala/org/openapitools/apis/FakeApi.scala
Labels: Enhancement: CI/Test, Server: Scala

#21458 php-nextgen - Fix flatten() to support arrays of files
  modules/openapi-generator/src/main/resources/php-nextgen/FormDataProcessor.mustache
  samples/client/echo_api/php-nextgen-streaming/src/FormDataProcessor.php
  samples/client/echo_api/php-nextgen/src/FormDataProcessor.php
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/FormDataProcessor.php
Labels: Client: PHP, Issue: Bug

#21387 [JavaSpring] Allow configuring generic ResponseEntity for Spring generator.
  docs/generators/java-camel.md
  docs/generators/spring.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/main/resources/JavaSpring/returnTypes.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
Labels: Enhancement: Feature, Server: Java, Server: Spring

#21515 Add samples for when using the useSealed setting for Spring
  .github/workflows/samples-spring-jdk17.yaml
  bin/configs/spring-boot-oneof-sealed.yaml
  modules/openapi-generator/src/main/resources/JavaSpring/permits.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/spring/SpringCodegenTest.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/.openapi-generator-ignore
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/.openapi-generator/FILES
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/.openapi-generator/VERSION
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/README.md
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/pom.xml
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/OpenApiGeneratorApplication.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/RFC3339DateFormat.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/api/ApiUtil.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/api/BarApi.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/api/BarApiController.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/api/FooApi.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/api/FooApiController.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/configuration/EnumConverterConfiguration.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/configuration/HomeController.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/configuration/SpringDocConfiguration.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/model/Addressable.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/model/Apple.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/model/Banana.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/model/Bar.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/model/BarCreate.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/model/BarRef.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/model/BarRefOrValue.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/model/Entity.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/model/EntityRef.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/model/Extensible.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/model/Foo.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/model/FooRef.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/model/FooRefOrValue.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/model/Fruit.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/model/FruitType.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/model/Pasta.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/model/Pizza.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/java/org/openapitools/model/PizzaSpeziale.java
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/resources/application.properties
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/main/resources/openapi.yaml
  samples/openapi3/server/petstore/spring-boot-oneof-sealed/src/test/java/org/openapitools/OpenApiGeneratorApplicationTests.java
Labels: Enhancement: CI/Test, Server: Spring

#21518 [scala][http4s] fix escaping of reserved words for correct model dese…
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/ScalaHttp4sServerCodegen.java
  modules/openapi-generator/src/main/resources/scala-http4s-server/delegateArgs.mustache
  modules/openapi-generator/src/main/resources/scala-http4s-server/delegateCallGeneric.mustache
  modules/openapi-generator/src/main/resources/scala-http4s-server/delegateCallJson.mustache
  modules/openapi-generator/src/main/resources/scala-http4s-server/types.mustache
  samples/server/petstore/scala-http4s-server/src/main/scala/org/openapitools/apis/FakeApi.scala
  samples/server/petstore/scala-http4s-server/src/main/scala/org/openapitools/models/types.scala
Labels: Client: Scala, Issue: Bug

#20762 [java][Microprofile] add config options to disable usage of ApiExceptionMapper
  docs/generators/java-microprofile.md
  docs/generators/java.md
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/JavaClientCodegen.java
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/api.mustache
  modules/openapi-generator/src/main/resources/Java/libraries/microprofile/api_exception_mapper.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/java/microprofile/JavaMicroprofileServerCodegenTest.java
Labels: Client: Java, Enhancement: Feature

#21355 [dart-dio] Fix compile error in enum properties with "default" values (#20495)
  modules/openapi-generator/src/main/resources/dart/libraries/dio/serialization/built_value/class_members.mustache
  modules/openapi-generator/src/test/resources/3_0/dart/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/.openapi-generator/FILES
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/README.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/doc/TestEnum.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/doc/TestItem.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/openapi.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/deserialize.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/model/test_enum.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/lib/src/model/test_item.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/test/test_enum_test.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake-json_serializable/test/test_item_test.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/.openapi-generator/FILES
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/README.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/doc/TestEnum.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/doc/TestItem.md
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/openapi.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/model/test_enum.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/model/test_item.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/lib/src/serializers.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/test/test_enum_test.dart
  samples/openapi3/client/petstore/dart-dio/petstore_client_lib_fake/test/test_item_test.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/.openapi-generator/FILES
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/README.md
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/doc/TestEnum.md
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/doc/TestItem.md
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api_client.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/api_helper.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/test_enum.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/lib/model/test_item.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/test/test_enum_test.dart
  samples/openapi3/client/petstore/dart2/petstore_client_lib_fake/test/test_item_test.dart
Labels: Client: Dart, Feature: Enum, Issue: Bug

#21579 [Bug][kotlin-spring] add a Spring type converter for enum values #21564
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/KotlinSpringServerCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/SpringCodegen.java
  modules/openapi-generator/src/main/java/org/openapitools/codegen/utils/ModelUtils.java
  modules/openapi-generator/src/main/resources/kotlin-spring/converter.mustache
  modules/openapi-generator/src/test/java/org/openapitools/codegen/kotlin/spring/KotlinSpringServerCodegenTest.java
  samples/server/petstore/kotlin-springboot-integer-enum/.openapi-generator/FILES
  samples/server/petstore/kotlin-springboot-integer-enum/src/main/kotlin/org/openapitools/configuration/EnumConverterConfiguration.kt
  samples/server/petstore/kotlin-springboot-multipart-request-model/.openapi-generator/FILES
  samples/server/petstore/kotlin-springboot-multipart-request-model/src/main/kotlin/org/openapitools/configuration/EnumConverterConfiguration.kt
Labels: Enhancement: General, Server: Kotlin, Server: Spring

#21634 Bugfix for remote specs with params
  modules/openapi-generator-gradle-plugin/src/test/kotlin/GenerateTaskDslTest.kt
  modules/openapi-generator-maven-plugin/src/main/java/org/openapitools/codegen/plugin/CodeGenMojo.java
  modules/openapi-generator-maven-plugin/src/test/java/org/openapitools/codegen/plugin/CodeGenMojoTest.java
  modules/openapi-generator-maven-plugin/src/test/resources/default/pom.xml
Labels: Issue: Bug

#21643 Test PHP clients in Github workflow
  .github/workflows/samples-php-client.yaml
  modules/openapi-generator/src/test/resources/3_0/php-nextgen/petstore-with-fake-endpoints-models-for-testing.yaml
  modules/openapi-generator/src/test/resources/3_0/php/petstore-with-fake-endpoints-models-for-testing.yaml
  samples/client/petstore/php-nextgen/OpenAPIClient-php/docs/Api/PetApi.md
  samples/client/petstore/php-nextgen/OpenAPIClient-php/src/Api/PetApi.php
  samples/client/petstore/php/OpenAPIClient-php/docs/Api/PetApi.md
  samples/client/petstore/php/OpenAPIClient-php/lib/Api/PetApi.php
  samples/client/petstore/php/OpenAPIClient-php/tests/AsyncTest.php
  samples/client/petstore/php/OpenAPIClient-php/tests/DebugTest.php
  samples/client/petstore/php/OpenAPIClient-php/tests/PetApiTest.php
  samples/client/petstore/php/OpenAPIClient-php/tests/ServerVariablesInOperationTest.php
  samples/client/petstore/php/psr-18/lib/Api/PetApi.php
Labels: Client: PHP, Enhancement: CI/Test

#21631 fix: Use correct constructor for ApiException in PSR-18 PHP library
  modules/openapi-generator/src/main/resources/php/libraries/psr-18/api.mustache
  samples/client/petstore/php/psr-18/lib/Api/AnotherFakeApi.php
  samples/client/petstore/php/psr-18/lib/Api/DefaultApi.php
  samples/client/petstore/php/psr-18/lib/Api/FakeApi.php
  samples/client/petstore/php/psr-18/lib/Api/FakeClassnameTags123Api.php
  samples/client/petstore/php/psr-18/lib/Api/PetApi.php
  samples/client/petstore/php/psr-18/lib/Api/StoreApi.php
  samples/client/petstore/php/psr-18/lib/Api/UserApi.php
Labels: Client: PHP, Issue: Bug

#21656 [Bug][typescript-fetch] Typescript fetch one of addtl props imports
  modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptFetchClientCodegen.java
  modules/openapi-generator/src/test/java/org/openapitools/codegen/typescript/fetch/TypeScriptFetchClientCodegenTest.java
  modules/openapi-generator/src/test/resources/3_0/typescript-fetch/issue_21587.yaml
Labels: Client: TypeScript

#21654 add curl handler pre-invoke-callback to c-libcurl
  modules/openapi-generator/src/main/resources/C-libcurl/apiClient.c.mustache
  modules/openapi-generator/src/main/resources/C-libcurl/apiClient.h.mustache
  samples/client/others/c/bearerAuth/include/apiClient.h
  samples/client/others/c/bearerAuth/src/apiClient.c
  samples/client/petstore/c-useJsonUnformatted/include/apiClient.h
  samples/client/petstore/c-useJsonUnformatted/src/apiClient.c
  samples/client/petstore/c/include/apiClient.h
  samples/client/petstore/c/src/apiClient.c
  samples/client/petstore/c/unit-tests/manual-PetAPI.c
Labels: Enhancement: General, Client: C
